Repository elastic/elasticsearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/stack-monitoring, @elastic/fleet, @elastic/kibana-security, @elastic/apm-server, @elastic/es-delivery, @elastic/es-core-infra

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# Identify which groups will be pinged by changes to different parts of the codebase.
# For more info, see https://help.github.com/articles/about-codeowners/

# Stack Monitoring index templates
x-pack/plugin/core/template-resources/src/main/resources/monitoring-alerts-7.json @elastic/stack-monitoring
x-pack/plugin/core/template-resources/src/main/resources/monitoring-beats-mb.json @elastic/stack-monitoring
x-pack/plugin/core/template-resources/src/main/resources/monitoring-beats.json @elastic/stack-monitoring
x-pack/plugin/core/template-resources/src/main/resources/monitoring-ent-search-mb.json @elastic/stack-monitoring
x-pack/plugin/core/template-resources/src/main/resources/monitoring-es-mb.json @elastic/stack-monitoring
x-pack/plugin/core/template-resources/src/main/resources/monitoring-es.json @elastic/stack-monitoring
x-pack/plugin/core/template-resources/src/main/resources/monitoring-kibana-mb.json @elastic/stack-monitoring
x-pack/plugin/core/template-resources/src/main/resources/monitoring-kibana.json @elastic/stack-monitoring
x-pack/plugin/core/template-resources/src/main/resources/monitoring-logstash-mb.json @elastic/stack-monitoring
x-pack/plugin/core/template-resources/src/main/resources/monitoring-logstash.json @elastic/stack-monitoring
x-pack/plugin/core/template-resources/src/main/resources/monitoring-mb-ilm-policy.json @elastic/stack-monitoring
x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringTemplateRegistry.java @elastic/stack-monitoring

# Fleet
x-pack/plugin/fleet/src/main/java/org/elasticsearch/xpack/fleet @elastic/fleet
x-pack/plugin/core/src/main/resources/fleet-* @elastic/fleet

# Kibana Security
x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java @elastic/kibana-security

# APM Data index templates, etc.
x-pack/plugin/apm-data/src/main/resources @elastic/apm-server
x-pack/plugin/apm-data/src/yamlRestTest/resources @elastic/apm-server

# Delivery
gradle @elastic/es-delivery
build-conventions @elastic/es-delivery
build-tools @elastic/es-delivery
build-tools-internal @elastic/es-delivery
*.gradle @elastic/es-delivery
.buildkite @elastic/es-delivery
.ci @elastic/es-delivery
.idea @elastic/es-delivery
distribution/src @elastic/es-delivery
distribution/packages/src @elastic/es-delivery
distribution/docker/src @elastic/es-delivery

# Core/Infra
distribution/tools @elastic/es-core-infra
libs/core @elastic/es-core-infra
libs/logging @elastic/es-core-infra
libs/native @elastic/es-core-infra
libs/plugin-analysis-api @elastic/es-core-infra
libs/plugin-api @elastic/es-core-infra
libs/plugin-classloader @elastic/es-core-infra
libs/plugin-scanner @elastic/es-core-infra
libs/x-content @elastic/es-core-infra
modules/lang-expression @elastic/es-core-infra
modules/lang-mustache @elastic/es-core-infra
modules/lang-painless @elastic/es-core-infra
modules/rest-root @elastic/es-core-infra
modules/systemd @elastic/es-core-infra
server/src/main/java/org/elasticsearch/bootstrap @elastic/es-core-infra
server/src/main/java/org/elasticsearch/node @elastic/es-core-infra
server/src/main/java/org/elasticsearch/plugins @elastic/es-core-infra
server/src/main/java/org/elasticsearch/threadpool @elastic/es-core-infra

Avoid unintentionally clearing the `DataStream.rolloverOnWrite` flag (#107122)
  docs/changelog/107122.yaml
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProviderTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/UpdateTimeSeriesRangeServiceTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/action/GetDataStreamsResponseTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleServiceTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsService.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/metadata/DataStreamTestHelper.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/action/DataStreamLifecycleUsageTransportActionIT.java
Owners: none

return empty instance when getting a reporter
  modules/ingest-common/src/internalClusterTest/java/org/elasticsearch/plugins/internal/DocumentSizeObserverWithPipelinesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/plugins/internal/DocumentSizeObserverIT.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/elasticsearch/action/update/UpdateHelper.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/plugins/internal/DocumentParsingProvider.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
Owners: @elastic/es-core-infra

Remove unused buildShardSearchRequest from SearchPhaseContext (#107180)
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseContext.java
  server/src/test/java/org/elasticsearch/action/search/MockSearchPhaseContext.java
Owners: none

random file
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/string/LocateNoStartEvaluator.java
Owners: none

Increase KDF iteration count in `KeyStoreWrapper` (#107107)
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/cli/keystore/KeyStoreWrapperTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/cli/keystore/UpgradeKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/resources/format-v5-with-password-elasticsearch.keystore
  docs/changelog/107107.yaml
  server/src/main/java/org/elasticsearch/common/settings/KeyStoreWrapper.java
Owners: @elastic/es-core-infra

Check that engine can be null
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
Owners: none

Update FROM option preference
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/from.csv-spec
Owners: none

Make tests deterministic
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEnrichTestCase.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEsqlTestCase.java
Owners: none

Remove redundant sort
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEsqlTestCase.java
Owners: none

Clarify loop-until-rejection
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTests.java
Owners: none

Avoid unintentionally clearing the `DataStream.rolloverOnWrite` flag (#107122)
  docs/changelog/107122.yaml
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProviderTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/UpdateTimeSeriesRangeServiceTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/action/GetDataStreamsResponseTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleServiceTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsService.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/action/datastreams/autosharding/DataStreamAutoShardingServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/WildcardExpressionResolverTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/metadata/DataStreamTestHelper.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/action/DataStreamLifecycleUsageTransportActionIT.java
Owners: none

Pass BehaviorTag down to Analyzer
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedian2DoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedian2IntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedian2LongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedian2UnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/string/LocateNoStartEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/AnalyzerContext.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedian2.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/version/BehaviorFlag.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/version/EsqlVersion.java
Owners: none

Retrofit tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cat.shards/10_basic.yml
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestShardsActionTests.java
Owners: none

ESQL: Support ST_DISJOINT (#107007)
  docs/changelog/107007.yaml
  docs/reference/esql/functions/description/st_disjoint.asciidoc
  docs/reference/esql/functions/description/st_intersects.asciidoc
  docs/reference/esql/functions/description/st_within.asciidoc
  docs/reference/esql/functions/examples/st_disjoint.asciidoc
  docs/reference/esql/functions/layout/st_disjoint.asciidoc
  docs/reference/esql/functions/parameters/st_disjoint.asciidoc
  docs/reference/esql/functions/signature/st_disjoint.svg
  docs/reference/esql/functions/spatial-functions.asciidoc
  docs/reference/esql/functions/st_contains.asciidoc
  docs/reference/esql/functions/st_disjoint.asciidoc
  docs/reference/esql/functions/st_intersects.asciidoc
  docs/reference/esql/functions/types/st_disjoint.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/cartesian_multipolygons.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/spatial.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/spatial_shapes.csv-spec
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialDisjointCartesianPointDocValuesAndConstantEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialDisjointCartesianPointDocValuesAndSourceEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialDisjointCartesianSourceAndConstantEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialDisjointCartesianSourceAndSourceEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialDisjointGeoPointDocValuesAndConstantEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialDisjointGeoPointDocValuesAndSourceEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialDisjointGeoSourceAndConstantEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialDisjointGeoSourceAndSourceEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialDisjoint.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialIntersects.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialRelatesFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialWithin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlFeatures.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/querydsl/query/SpatialRelatesQuery.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialDisjointTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
Owners: none

Fix native initialization for ESTestCase
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/MrjarPlugin.java
Owners: @elastic/es-delivery

Further reduce usage of `SAME` threadpool name (#107096)
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceLifecycleTests.java
Owners: none

Update FROM option preference (#107199)
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/from.csv-spec
Owners: none

Experimental work to support direct queries to semantic_text without using a nested query
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/KnnFieldType.java
  server/src/main/java/org/elasticsearch/search/vectors/KnnVectorQueryBuilder.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapper.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/20_semantic_text_field_mapper.yml
Owners: none

Update flush excluding waiting metric name
  server/src/main/java/org/elasticsearch/rest/action/cat/RestIndicesAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestNodesAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestShardsAction.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestIndicesActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestShardsActionTests.java
Owners: none

Re-enable unittest with additional tracing (#107202)
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Owners: none

ES|QL: Make some REST tests deterministic (#107200)
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEnrichTestCase.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEsqlTestCase.java
Owners: none

Make MV_MEDIAN actually return only doubles
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/math.csv-spec
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedian2IntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedian2LongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedian2UnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedian2.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
Owners: none

Support for non-keyword dimensions
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/LogsDataStreamIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/OtelMetircsDataStreamIT.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  x-pack/plugin/core/template-resources/src/main/resources/metrics-otel@mappings.json
Owners: none

Remove unneeded termQuery implementation
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapper.java
Owners: none

Fix compilation error
  x-pack/plugin/inference/src/main/java/module-info.java
Owners: none

Restore previous version
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/20_semantic_text_field_mapper.yml
Owners: none

Handle missing version
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
Owners: none

Fix checkstyle
  server/src/main/java/org/elasticsearch/rest/action/cat/RestIndicesAction.java
Owners: none

Remove unrelated generated code
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/string/LocateNoStartEvaluator.java
Owners: none

Remove the merge method that received both the reason and merge context
  server/src/main/java/org/elasticsearch/index/mapper/Mapping.java
  server/src/main/java/org/elasticsearch/index/mapper/NestedObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/PassThroughObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RootObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/NestedObjectMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperMergeTests.java
Owners: none
