Repository elastic/elasticsearch, pull requests merged in 2018-11, with the labels that each got.

#35113 update ILM integ test cluster poll interval to 1s
  x-pack/plugin/ilm/qa/multi-node/build.gradle
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/indexlifecycle/TimeSeriesLifecycleActionsIT.java
Labels: :Core/ILM, >test

#35145 Fixes randomDateTimeZone method
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
Labels: :Core/Core, >test, v6.6.0, v7.0.0

#34693 Rest Tests - Support for matching objects in lists
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/ContainsAssertion.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/ExecutableSection.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/section/AssertionTests.java
Labels: :Core/Build, v6.6.0

#35134 SQL: handle wildcard expansion on incorrect fields
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/cli/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/RestSqlTestCase.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Analyzer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/UnresolvedStar.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
Labels: :Search/SQL, >bug, v6.5.1, v6.6.0, v7.0.0

#29215 Replace parameter unicodeSetFilter with unicode_set_filter
  docs/plugins/analysis-icu.asciidoc
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/analysis/IcuFoldingTokenFilterFactory.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/analysis/IcuNormalizerCharFilterFactory.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/analysis/IcuNormalizerTokenFilterFactory.java
  plugins/analysis-icu/src/test/resources/rest-api-spec/test/analysis_icu/10_basic.yml
Labels: :Search/Analysis, >deprecation

#34136 [Docs] Updating URL for Openstack Swift plugin
  docs/plugins/repository.asciidoc
Labels: :Docs, >docs

#34951 Watcher: fix metric stats names
  x-pack/docs/en/rest-api/watcher/stats.asciidoc
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/watcher/stats/10_basic.yml
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestWatcherStatsAction.java
Labels: :Core/Watcher, >breaking, >bug, v6.6.0, v7.0.0

#34654 ML: Add support for rollup Indexes in Datafeeds
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/extractor/ExtractorUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupSearchAction.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/DataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AbstractAggregationDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/RollupDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/RollupDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorFactory.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/LocalStateMachineLearning.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/DataExtractorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorTests.java
Labels: :ml, >enhancement, v6.6.0, v7.0.0

#34050 Implement VersionCollection in Java
  build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/gradle/VersionCollection.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/Version.java
  buildSrc/src/main/java/org/elasticsearch/gradle/VersionCollection.java
  buildSrc/src/test/groovy/org/elasticsearch/gradle/VersionCollectionTests.groovy
  buildSrc/src/test/java/org/elasticsearch/gradle/VersionCollectionTests.java
  buildSrc/src/test/java/org/elasticsearch/gradle/VersionTests.java
  distribution/bwc/bugfix/build.gradle
  distribution/bwc/build.gradle
  distribution/bwc/maintenance/build.gradle
  distribution/bwc/minor/build.gradle
  distribution/bwc/staged/build.gradle
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/rolling-upgrade/build.gradle
  qa/verify-version-constants/build.gradle
  settings.gradle
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: :Core/Build, >non-issue, v6.6.0, v7.0.0

#35091 ingest: add common options to each processor's documentation
  docs/reference/ingest/ingest-node-common-processor.asciidoc
  docs/reference/ingest/ingest-node.asciidoc
Labels: :Core/Ingest, >docs, v6.5.0, v7.0.0

#34818 Testclusters: Refactor and fix for newly added tests
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClustersPlugin.java
  buildSrc/src/test/java/org/elasticsearch/gradle/BuildExamplePluginsIT.java
  buildSrc/src/test/java/org/elasticsearch/gradle/test/GradleIntegrationTestCase.java
  buildSrc/src/test/java/org/elasticsearch/gradle/testclusters/TestClustersPluginIT.java
  buildSrc/src/testKit/testclusters/build.gradle
  buildSrc/src/testKit/testclusters_multiproject/alpha/build.gradle
  buildSrc/src/testKit/testclusters_multiproject/bravo/build.gradle
  buildSrc/src/testKit/testclusters_multiproject/build.gradle
  buildSrc/src/testKit/testclusters_multiproject/charlie/build.gradle
  buildSrc/src/testKit/testclusters_multiproject/settings.gradle
Labels: :Core/Build, >non-issue, v6.6.0, v7.0.0

#35148 Fix a bug in function_score queries where we use the wrong boost_mode.
  server/src/main/java/org/elasticsearch/common/lucene/search/function/FunctionScoreQuery.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/FunctionScoreQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/functionscore/FunctionScoreQueryBuilderTests.java
Labels: :Search/Ranking, >bug, v6.5.0, v7.0.0

#35109 Add a note around using separate indices for percolator queries and documents.
  docs/reference/query-dsl/percolate-query.asciidoc
Labels: :Search/Percolator, >docs, v6.4.0, v6.5.0, v7.0.0

#34867 Enhance deprecation message when index name contains ':'
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
Labels: :Core/Core, >non-issue, v6.2.5, v6.3.3, v6.4.4, v6.5.1, v6.6.0

#35061 ILM: use node _id attribute when allocating to one node
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/SetSingleNodeAllocateStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/SetSingleNodeAllocateStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkStepTests.java
Labels: :Core/ILM, blocker

#35126 Upadte TESTING.ascidoc BWC section
  TESTING.asciidoc
Labels: :Core/Build, >non-issue, v6.6.0, v7.0.0

#35085 [CCR] Change response classes to not use Streamable
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportCcrStatsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportGetAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowStatsResponseTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/GetAutoFollowPatternResponseTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/PutFollowActionResponseTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/CcrStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/GetAutoFollowPatternAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/PutFollowAction.java
Labels: :Distributed/CCR, >non-issue, v6.6.0, v7.0.0

#35124 SQL: Fix null handling for IN => painless script
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/comparison/In.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
Labels: :Search/SQL, >bug, v6.5.1, v6.6.0, v7.0.0

#35191 CCR: Add NodeClosedException to retryable list
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java
Labels: :Distributed/CCR, >non-issue

#34460 Introduce durability of circuit breaking exception
  docs/reference/release-notes/7.0.0-alpha1.asciidoc
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RankEvalResponseTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpRequestSizeLimitIT.java
  server/src/main/java/org/elasticsearch/common/breaker/ChildMemoryCircuitBreaker.java
  server/src/main/java/org/elasticsearch/common/breaker/CircuitBreaker.java
  server/src/main/java/org/elasticsearch/common/breaker/CircuitBreakingException.java
  server/src/main/java/org/elasticsearch/common/breaker/MemoryCircuitBreaker.java
  server/src/main/java/org/elasticsearch/common/breaker/NoopCircuitBreaker.java
  server/src/main/java/org/elasticsearch/indices/breaker/BreakerSettings.java
  server/src/main/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerService.java
  server/src/main/java/org/elasticsearch/script/ScriptService.java
  server/src/test/java/org/elasticsearch/ElasticsearchExceptionTests.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/ReplicationResponseTests.java
  server/src/test/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerServiceTests.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
Labels: :Core/Circuit Breakers, >enhancement, v7.0.0

#35157 Moving xpack.plugin.core ml response to use new base class
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PutCalendarActionResponseTests.java
Labels: :ml, >test, v6.6.0, v7.0.0

#35158 Do not alloc full buffer for small change requests
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
Labels: :Distributed/Engine, >enhancement, v6.5.1, v6.6.0, v7.0.0

#35165 Run code snippets in ReindexDocumentationIT
  modules/reindex/src/test/java/org/elasticsearch/client/documentation/ReindexDocumentationIT.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/CancelTests.java
Labels: :Distributed/CRUD, >docs, >enhancement

#34267 Add document _count API support to Rest High Level Client.
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/core/CountRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/core/CountResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/core/CountRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/core/CountResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SearchDocumentationIT.java
  docs/java-rest/high-level/search/count.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, >enhancement, v6.6.0, v7.0.0

#34572 Security: add create api key transport action
  server/src/main/java/org/elasticsearch/common/RandomBasedUUIDGenerator.java
  server/src/main/java/org/elasticsearch/common/UUIDs.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java
  server/src/test/java/org/elasticsearch/common/io/stream/StreamTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/CreateApiKeyAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/CreateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/CreateApiKeyRequestBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/CreateApiKeyResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/GetRolesResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/RoleDescriptor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/client/SecurityClient.java
  x-pack/plugin/core/src/main/resources/security-index-template.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/CreateApiKeyRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/CreateApiKeyResponseTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/TransportCreateApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStore.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RoleDescriptorTests.java
Labels: :Security/Authentication, >non-issue

#35186 Remove use of AbstractComponent in security
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/filter/SecurityActionFilter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/interceptor/BulkShardRequestInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/interceptor/FieldAndDocumentLevelSecurityRequestInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/interceptor/ResizeRequestInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/AuditTrailService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/index/IndexAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/mapper/NativeRoleMappingStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/FileRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativePrivilegeStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
Labels: :Security/Security, >non-issue, v7.0.0

#34803 Move ObjectPath, XContentSource and XContentUtils to core
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/ObjectPath.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentUtils.java
  libs/x-content/src/test/java/org/elasticsearch/common/xcontent/ObjectPathTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/support/xcontent/XContentSource.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/condition/AbstractCompareCondition.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/condition/ArrayCompareCondition.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/condition/CompareCondition.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/slack/message/DynamicAttachments.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherFeatureSetTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/TimeThrottleIntegrationTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/throttler/ActionThrottleTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/execution/ExecutionServiceTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/history/HistoryTemplateHttpMappingsTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/input/http/HttpInputTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/support/FilterXContentTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/support/VariablesTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/integration/ExecutionVarsIntegrationTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/integration/WatchMetadataTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/transport/action/delete/DeleteWatchTests.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/multi-node/src/test/java/org/elasticsearch/multi_node/RollupIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RollupIDUpgradeIT.java
Labels: :Core/Java High Level REST Client, :Core/Watcher, >refactoring, v6.6.0, v7.0.0

#35143 [ILM] Fix race condition in test
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
Labels: :Core/ILM, >test

#35187 Remove AbstractComponent usage in x-pack core
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationReloader.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/crypto/CryptoService.java
Labels: :Core/Core, >non-issue, v7.0.0

#35181 Use single netty event loop group for transports
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTransport.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/Transports.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
Labels: :Distributed/Network, >non-issue, v6.6.0, v7.0.0

#35184 [Scripting] Make Max Script Length Setting Dynamic
  docs/reference/modules/scripting/using.asciidoc
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Compiler.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/WhenThingsGoWrongTests.java
  server/src/main/java/org/elasticsearch/script/ScriptMetaData.java
  server/src/main/java/org/elasticsearch/script/ScriptService.java
  server/src/test/java/org/elasticsearch/script/ScriptServiceTests.java
Labels: :Core/Scripting, >enhancement, v6.6.0, v7.0.0

#35223 Add equals/hashCode to SeqNoStats
  server/src/main/java/org/elasticsearch/index/seqno/SeqNoStats.java
  server/src/test/java/org/elasticsearch/index/seqno/SequenceNumbersTests.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Distributed/Distributed, >non-issue, v6.5.1, v6.6.0, v7.0.0

#35228 CCR/TEST: Limit indexing docs in FollowerFailOverIT
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/FollowerFailOverIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
Labels: :Distributed/CCR, >test

#35226 Use single netty event loop group for transports
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/Transports.java
Labels: :Distributed/Network, >non-issue, backport, v6.6.0

#35169 Engine.newChangesSnapshot may cause unneeded refreshes if called concurrently
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
Labels: :Distributed/CCR, v6.5.1, v6.6.0, v7.0.0

#35221 Small corrections to HLRC doc for _termvectors
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CRUDDocumentationIT.java
  docs/java-rest/high-level/document/term-vectors.asciidoc
Labels: :Docs, v6.6.0, v7.0.0

#35247 [CCR] Change max_read_request_size default
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowAction.java
Labels: :Distributed/CCR, >non-issue

#35201 [Tests] Fix rare edge case in SimpleQueryStringBuilderTests
  server/src/test/java/org/elasticsearch/index/query/SimpleQueryStringBuilderTests.java
Labels: :Search/Search, >test, v6.6.0, v7.0.0

#35246 Discovery EC2: Utilize Amazon SDK to resolve EC2 metadata server
  plugins/discovery-ec2/build.gradle
  plugins/discovery-ec2/qa/amazon-ec2/build.gradle
  plugins/discovery-ec2/qa/amazon-ec2/src/test/java/org/elasticsearch/discovery/ec2/AmazonEC2Fixture.java
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2ServiceImpl.java
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/Ec2DiscoveryPlugin.java
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/Ec2NameResolver.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/Ec2NetworkTests.java
Labels: :Distributed/Discovery-Plugins, >test

#34023 [Monitoring] Add cluster metadata to cluster_stats docs (#33860)
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsCollector.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDoc.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/integration/MonitoringIT.java
Labels: :Core/Monitoring

#35175 HLRC: Add ML API PUT filter
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/PutFilterRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/PutFilterResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/config/MlFilter.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/PutFilterRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/PutFilterResponseTests.java
  docs/java-rest/high-level/ml/put-filter.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, >enhancement, v6.6.0, v7.0.0

#35220 Remove Joda usage from ILM
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/IndexLifecycleExplainResponse.java
  docs/reference/ilm/apis/explain.asciidoc
  docs/reference/ilm/update-lifecycle-policy.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/IndexLifecycleExplainResponse.java
  x-pack/plugin/ilm/qa/rest/src/test/resources/rest-api-spec/test/ilm/40_explain_lifecycle.yml
Labels: :Core/ILM, blocker, v6.6.0, v7.0.0

#35168 Skip Rollover step if next index already exists
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/RolloverStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/UpdateRolloverLifecycleDateStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/UpdateRolloverLifecycleDateStepTests.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/indexlifecycle/TimeSeriesLifecycleActionsIT.java
Labels: :Core/ILM, >bug, blocker

#34947 NETWORK: Remove Dead Code from Netty4CorsConfig
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/cors/Netty4CorsConfig.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/cors/Netty4CorsConfigBuilder.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/cors/Netty4CorsHandler.java
Labels: :Distributed/Network, >non-issue, >refactoring, v6.6.0, v7.0.0

#35048 ingest: raise visibility of ingest plugin documentation
  docs/reference/ingest/ingest-node.asciidoc
  x-pack/docs/en/security/authorization/set-security-user.asciidoc
Labels: :Core/Ingest, >docs, v6.6.0, v7.0.0

#35239 SQL: [tests] Fix select csv spec and enable it
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/CsvSpecTestCase.java
  x-pack/plugin/sql/qa/src/main/resources/select.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/logical/BinaryLogicProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/comparison/In.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
Labels: :Search/SQL, >test, v6.5.1, v6.6.0, v7.0.0

#35251 Update snapshots.asciidoc
  docs/reference/modules/snapshots.asciidoc
Labels: :Distributed/Snapshot/Restore, >docs, v6.6.0, v7.0.0

#35161 Add dedicated step for checking shrink allocation status
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/AllocateAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/AllocationRoutedStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/CheckShrinkReadyStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/AllocationRoutedStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/CheckShrinkReadyStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkActionTests.java
Labels: :Core/ILM

#35074 MINOR: Remove Dead Code in Routing
  server/src/main/java/org/elasticsearch/cluster/routing/IndexShardRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdSettings.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/AwarenessAllocationDecider.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/Decision.java
Labels: :Distributed/Allocation, >non-issue, v6.6.0, v7.0.0

#35214 Build: Pull "skip assemble on qa" to common build
  build.gradle
  x-pack/plugin/ccr/qa/build.gradle
  x-pack/plugin/graph/qa/build.gradle
  x-pack/plugin/ilm/build.gradle
  x-pack/plugin/ilm/qa/build.gradle
  x-pack/plugin/ml/qa/build.gradle
  x-pack/plugin/sql/qa/build.gradle
  x-pack/qa/build.gradle
Labels: :Core/Build, v6.6.0, v7.0.0

#35198 [Zen2] Fix some rarely-failing tests
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/test/java/org/elasticsearch/cluster/coordination/FollowersCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ReconfiguratorTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/DeterministicTaskQueue.java
  test/framework/src/test/java/org/elasticsearch/cluster/coordination/DeterministicTaskQueueTests.java
Labels: :Distributed/ZenDiscovery, >test, v7.0.0

#35106 ingest: dot_expander_processor prevent null add/append to source document
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DotExpanderProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DotExpanderProcessorTests.java
Labels: :Core/Ingest, >bug, v6.6.0, v7.0.0

#35278 chore(docs): Minor formatting / wording fixes
  docs/reference/query-dsl/geo-polygon-query.asciidoc
Labels: :Search/Geo, >docs, v6.5.1, v6.6.0, v7.0.0

#35245 [CCR] Add extra validation to unfollow api
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportUnfollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportUnfollowActionTests.java
Labels: :Distributed/CCR, >non-issue

#35179 [CCR] Improve error when operations are missing
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardChangesAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesTests.java
Labels: :Distributed/CCR, >non-issue

#34354 Prevent throttled indices to be searched through wildcards by default
  client/rest-high-level/src/test/java/org/elasticsearch/client/RankEvalIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/ExplainLifecycleRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/RemoveIndexLifecyclePolicyRequestTests.java
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/MultiSearchTemplateRequest.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RankEvalRequestIT.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RankEvalRequestTests.java
  rest-api-spec/src/main/resources/rest-api-spec/api/count.json
  rest-api-spec/src/main/resources/rest-api-spec/api/search.json
  rest-api-spec/src/main/resources/rest-api-spec/api/search_template.json
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/IndicesAliasesRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/delete/DeleteIndexRequest.java
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequest.java
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/MultiSearchRequestTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/elasticsearch/action/support/IndicesOptionsTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/WildcardExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ExplainLifecycleRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/action/RemoveIndexLifecyclePolicyRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/action/RetryRequestTests.java
Labels: :Search/Search, >enhancement, v6.6.0, v7.0.0

#35207 Fix failing ICU tests
  plugins/analysis-icu/build.gradle
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/analysis/IcuNormalizerTokenFilterFactory.java
  plugins/analysis-icu/src/test/resources/rest-api-spec/test/analysis_icu/10_basic.yml
Labels: :Search/Analysis, >test-failure, v7.0.0

#35267 DOCS MINOR fix migration.asciidoc list format
  docs/reference/migration/migrate_6_5.asciidoc
Labels: >docs, v6.5.1, v6.6.0

#35253 SQL: Introduce Coalesce function
  x-pack/plugin/sql/qa/security/src/test/java/org/elasticsearch/xpack/sql/qa/security/RestSqlIT.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/cli/ShowTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/CsvSpecTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/JdbcAssert.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/SqlSpecTestCase.java
  x-pack/plugin/sql/qa/src/main/resources/command.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/docs.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/null.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/null.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/nulls.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/Expressions.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/FunctionRegistry.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/FunctionType.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/Processors.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/whitelist/InternalSqlScriptUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/gen/pipeline/MultiPipe.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/gen/pipeline/Pipe.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/gen/pipeline/UnaryPipe.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/Coalesce.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/CoalescePipe.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/CoalesceProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/ConditionalFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/logical/NotProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/nulls/IsNotNull.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/nulls/IsNotNullProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/ExpressionBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/QueryTranslator.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/DataTypeConversion.java
  x-pack/plugin/sql/src/main/resources/org/elasticsearch/xpack/sql/plugin/sql_whitelist.txt
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerTests.java
Labels: :Search/SQL, >enhancement, v6.6.0, v7.0.0

#35255 Add missing up-to-date configuration
  buildSrc/build.gradle
Labels: :Core/Build, >non-issue, v6.6.0, v7.0.0

#35260 Check for java 11 in buildSrc
  buildSrc/build.gradle
Labels: :Core/Build, >non-issue, v6.6.0, v7.0.0

#35275 [DOCS] Removed tags for 5.6.13
  docs/reference/release-notes/5.6.13.asciidoc
Labels: :Docs, >docs

#35273 [DOCS] Removed coming tags
  docs/reference/release-notes/6.4.asciidoc
Labels: :Docs, >docs

#35277 SQL: Fix null handling for AND and OR in SELECT
  x-pack/plugin/sql/qa/src/main/resources/select.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/logical/BinaryLogicProcessor.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/logical/BinaryLogicProcessorTests.java
Labels: :Search/SQL, >bug, v6.5.1, v6.6.0, v7.0.0

#35222 Add doc section about range query for range type
  docs/reference/query-dsl/range-query.asciidoc
Labels: :Search/Mapping, >docs

#35268 [ilm] change remove-policy-from-index http method from DELETE to POST
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleRequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleRequestConvertersTests.java
  docs/reference/ilm/apis/remove-policy.asciidoc
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/RestRemoveIndexLifecyclePolicyAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/ilm.remove_policy.json
Labels: :Core/ILM

#35146 Logger: Merge ESLoggerFactory into Loggers
  client/rest-high-level/src/main/resources/forbidden/rest-high-level-signatures.txt
  qa/evil-tests/src/test/java/org/elasticsearch/common/logging/EvilLoggerTests.java
  server/src/main/java/org/elasticsearch/common/logging/ESLoggerFactory.java
  server/src/main/java/org/elasticsearch/common/logging/Loggers.java
  server/src/main/java/org/elasticsearch/common/logging/PrefixLogger.java
  server/src/test/java/org/elasticsearch/common/logging/PrefixLoggerTests.java
Labels: :Core/Logging, >breaking-java, >refactoring, v6.6.0, v7.0.0

#35261 SQL: new SQL CLI logo
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/cli/EmbeddedCli.java
  x-pack/plugin/sql/sql-cli/src/main/java/org/elasticsearch/xpack/sql/cli/command/PrintLogoCommand.java
  x-pack/plugin/sql/sql-cli/src/main/resources/logo.txt
  x-pack/plugin/sql/sql-cli/src/test/java/org/elasticsearch/xpack/sql/cli/command/BuiltinCommandTests.java
Labels: :Search/SQL, >enhancement, v6.6.0, v7.0.0

#35308 Updated version to 6.4.3
  docs/Versions.asciidoc
Labels: >docs

#35309 Updated version to 5.6.13
  docs/Versions.asciidoc
Labels: >docs

#35288 SQL: Upgrade jline to version 3.8.2
  x-pack/plugin/sql/qa/build.gradle
  x-pack/plugin/sql/sql-cli/build.gradle
  x-pack/plugin/sql/sql-cli/licenses/jline-3.6.0.jar.sha1
  x-pack/plugin/sql/sql-cli/licenses/jline-3.8.2.jar.sha1
Labels: :Search/SQL, >enhancement, v6.6.0, v7.0.0

#35142 [Docs] Add painless context details for bucket_script
  docs/build.gradle
  docs/painless/painless-contexts.asciidoc
  docs/painless/painless-contexts/index.asciidoc
  docs/painless/painless-contexts/painless-bucket-agg-context.asciidoc
  docs/painless/painless-contexts/painless-bucket-script-agg-context.asciidoc
Labels: :Core/Scripting, >docs, v6.5.1, v6.6.0, v7.0.0

#35217 [Zen2] Introduce auto_shrink_voting_configuration setting
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Reconfigurator.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ReconfiguratorTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#35286 Register Azure max_retries setting
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureRepositoryPlugin.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureStorageSettings.java
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureStorageServiceTests.java
Labels: :Distributed/Snapshot/Restore, >bug, v6.5.1, v6.6.0, v7.0.0

#35257 Fix UpdateRequest.fromXContent
  server/src/main/java/org/elasticsearch/action/update/UpdateRequest.java
  server/src/main/java/org/elasticsearch/action/update/UpdateRequestBuilder.java
  server/src/test/java/org/elasticsearch/action/update/UpdateRequestTests.java
Labels: :Distributed/CRUD, v6.6.0

#35312 [DOCS] Adds 6.5.0 release highlights to Elasticsearch Reference
  docs/reference/release-notes/highlights-6.5.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: :Docs, >docs, v6.5.0, v6.6.0

#35144 Open node connections asynchronously
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/Netty4Plugin.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4TcpChannel.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4ScheduledPingTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4SizeHeaderFrameDecoderTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4TransportIT.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/NettyTransportMultiPortTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/SimpleNetty4TransportTests.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/Ec2DiscoveryTests.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTcpChannel.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTransport.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTransportPlugin.java
  plugins/transport-nio/src/test/java/org/elasticsearch/transport/nio/NioTransportIT.java
  plugins/transport-nio/src/test/java/org/elasticsearch/transport/nio/SimpleNioTransportTests.java
  server/src/main/java/org/elasticsearch/common/network/CloseableChannel.java
  server/src/main/java/org/elasticsearch/transport/TcpChannel.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/TcpTransportHandshaker.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationActionTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/UnicastZenPingTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportHandshakerTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/framework/src/main/java/org/elasticsearch/transport/MockTcpTransport.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransportPlugin.java
  test/framework/src/test/java/org/elasticsearch/transport/MockTcpTransportTests.java
  test/framework/src/test/java/org/elasticsearch/transport/nio/SimpleMockNioTransportTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/transport/netty4/SecurityNetty4Transport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4ServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioTransport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/AbstractSimpleSecurityTransportTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4ServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SimpleSecurityNetty4ServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SimpleSecurityNioTransportTests.java
Labels: :Distributed/Network, >non-issue, v6.6.0, v7.0.0

#35279 Make sure stored JSON fields are properly decoded.
  server/src/main/java/org/elasticsearch/index/mapper/JsonFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/RootJsonFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/fields/SearchFieldsIT.java
Labels: :Search/Mapping, >bug

#35249 [CCR] Change resume follow api to be a master node action
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/ResumeFollowAction.java
Labels: :Distributed/CCR, >non-issue

#33215 Watcher: Ignore system locale/timezone in croneval CLI tool
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/trigger/schedule/tool/CronEvalTool.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/trigger/schedule/tool/CronEvalToolTests.java
Labels: :Core/Watcher, >bug, v7.0.0

#35300 SQL: Improve CircuitBreaker logic for SqlParser
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlParser.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/SqlParserTests.java
Labels: :Search/SQL, >enhancement, v6.5.1, v6.6.0, v7.0.0

#35314 Fix DeleteRequest validation for nullable or empty id/type
  server/src/main/java/org/elasticsearch/action/delete/DeleteRequest.java
  server/src/main/java/org/elasticsearch/action/explain/ExplainRequest.java
  server/src/main/java/org/elasticsearch/action/get/GetRequest.java
  server/src/main/java/org/elasticsearch/action/update/UpdateRequest.java
  server/src/test/java/org/elasticsearch/action/delete/DeleteRequestTests.java
  server/src/test/java/org/elasticsearch/action/explain/ExplainRequestTests.java
  server/src/test/java/org/elasticsearch/action/get/GetRequestTests.java
  server/src/test/java/org/elasticsearch/action/update/UpdateRequestTests.java
Labels: :Distributed/CRUD, >bug, v5.6.14, v6.4.4, v6.5.1, v6.6.0, v7.0.0

#35323 [Painless] Remove extraneous compile method
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessScriptEngine.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/BaseClassTests.java
Labels: :Core/Scripting, >refactoring, v6.6.0, v7.0.0

#35280 `Convert Processor` enhancement (description, snippet)
  docs/reference/ingest/ingest-node.asciidoc
Labels: :Core/Ingest, >docs, v6.5.1, v6.6.0, v7.0.0

#35334 Make version field names more meaningful
  buildSrc/src/main/groovy/org/elasticsearch/gradle/doc/DocsTestPlugin.groovy
  docs/plugins/discovery-azure-classic.asciidoc
  docs/reference/cat/plugins.asciidoc
  docs/reference/setup/install/check-running.asciidoc
  server/src/main/java/org/elasticsearch/action/main/MainResponse.java
  server/src/test/java/org/elasticsearch/action/main/MainResponseTests.java
Labels: :Core/Build, >non-issue, v7.0.0

#35335 Apply `ignore_throttled` also to concrete indices
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
Labels: :Search/Search, >enhancement, v6.6.0, v7.0.0

#35310 [ML] Add Missing data checking class
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DelayedDataDetectorIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DelayedDataDetector.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DelayedDataDetectorTests.java
Labels: :ml, >non-issue, v6.6.0, v7.0.0

#35328 [ILM] rolling upgrade tests
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/70_ilm.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/70_ilm.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/70_ilm.yml
Labels: :Core/ILM, >non-issue, >test

#35197 [CCR] Enforce auto follow pattern name restrictions
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/PutAutoFollowPatternRequestTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/PutAutoFollowPatternAction.java
Labels: :Distributed/CCR, >non-issue

#34140 Put a fake allocation id on allocate stale primary command
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/RecoverySource.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/IndexMetaDataUpdater.java
  server/src/test/java/org/elasticsearch/cluster/routing/AllocationIdIT.java
  server/src/test/java/org/elasticsearch/cluster/routing/PrimaryAllocationIT.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AllocationCommandsTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/BalanceConfigurationTests.java
  server/src/test/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandIT.java
Labels: :Distributed/Recovery, >enhancement, v7.0.0

#35160 Ignore date ranges containing 'now' when pre-processing a percolator query
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorQuerySearchTests.java
  server/src/main/java/org/elasticsearch/index/query/QueryRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/RangeQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/RangeQueryBuilderTests.java
Labels: :Search/Percolator, >bug

#35346 Remove ALL shard check in CheckShrinkReadyStep
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/CheckShrinkReadyStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/CheckShrinkReadyStepTests.java
Labels: :Core/ILM, v6.6.0, v7.0.0

#35271 watcher: Fix integration tests to ensure correct start/stop of Watcher
  x-pack/docs/src/test/java/org/elasticsearch/smoketest/XDocsClientYamlTestSuiteIT.java
  x-pack/plugin/src/test/java/org/elasticsearch/xpack/test/rest/XPackRestIT.java
  x-pack/qa/smoke-test-watcher-with-security/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherWithSecurityClientYamlTestSuiteIT.java
  x-pack/qa/smoke-test-watcher-with-security/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherWithSecurityIT.java
  x-pack/qa/smoke-test-watcher/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherTestSuiteIT.java
  x-pack/qa/smoke-test-watcher/src/test/java/org/elasticsearch/smoketest/WatcherRestIT.java
Labels: :Core/Watcher, >bug, v6.6.0, v7.0.0

#35343 Open node connections asynchronously
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/Netty4Plugin.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4MessageChannelHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4SizeHeaderFrameDecoder.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4TcpChannel.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4TcpServerChannel.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4ScheduledPingTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4SizeHeaderFrameDecoderTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4TransportIT.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/NettyTransportMultiPortTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/SimpleNetty4TransportTests.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/Ec2DiscoveryTests.java
  server/src/main/java/org/elasticsearch/common/network/CloseableChannel.java
  server/src/main/java/org/elasticsearch/transport/TcpChannel.java
  server/src/main/java/org/elasticsearch/transport/TcpServerChannel.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/TcpTransportHandshaker.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationActionTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/UnicastZenPingTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportHandshakerTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/framework/src/main/java/org/elasticsearch/transport/MockTcpTransport.java
  test/framework/src/test/java/org/elasticsearch/transport/MockTcpTransportTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/transport/netty4/SecurityNetty4Transport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/ServerTransportFilter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4ServerTransport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/AbstractSimpleSecurityTransportTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4ServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SimpleSecurityNetty4ServerTransportTests.java
Labels: :Distributed/Network, >non-issue, backport, v6.6.0

#34833 Scripting: Add back lookup vars in score script
  server/src/main/java/org/elasticsearch/script/ScoreScript.java
Labels: :Core/Scripting, >bug, v6.5.0, v6.6.0, v7.0.0

#35319 Add tests for the supported query types.
  server/src/main/java/org/elasticsearch/index/mapper/JsonFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/JsonFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeyedJsonFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RootJsonFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/query/MatchPhrasePrefixQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/MatchQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/MultiMatchQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/search/MatchPhraseQueryIT.java
  server/src/test/java/org/elasticsearch/search/query/ExistsIT.java
  server/src/test/java/org/elasticsearch/search/query/MatchQueryIT.java
  server/src/test/java/org/elasticsearch/search/query/MultiMatchQueryIT.java
  server/src/test/java/org/elasticsearch/search/query/QueryStringIT.java
  server/src/test/java/org/elasticsearch/search/query/SearchQueryIT.java
  server/src/test/java/org/elasticsearch/search/query/SimpleQueryStringIT.java
  server/src/test/resources/org/elasticsearch/search/query/all-query-index.json
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
Labels: :Search/Mapping, >test

#35329 [TEST] Cleanup FileUserPasswdStoreTests
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/file/FileUserPasswdStoreTests.java
Labels: :Security/Authentication, >test, v7.0.0

#35330 Rename RealmConfig.globalSettings() to settings()
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/RealmConfig.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealm.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/file/FileUserPasswdStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/pki/PkiRealm.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/saml/SamlMetadataCommand.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/saml/SamlRealm.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/DelegatedAuthorizationSupport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactoryLoadBalancingTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlRealmTests.java
Labels: :Security/Authentication, >refactoring, v7.0.0

#35195 [CCR] Adjust list of dynamic index settings that should be replicated
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowActionTests.java
Labels: :Distributed/CCR, >non-issue, blocker

#35202 HLRC: reindex API with wait_for_completion false
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/tasks/TaskSubmissionResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/CrudIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ReindexIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SnapshotRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/TasksRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/tasks/TaskSubmissionResponseTests.java
Labels: :Core/Java High Level REST Client

#35331 Allow unmapped fields in composite aggregations
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeValuesSourceBuilder.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
Labels: :Search/Aggregations, >enhancement, v6.6.0, v7.0.0

#35120 [CCR] Auto follow Coordinator fetch cluster state in system context
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrLicenseChecker.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
Labels: :Distributed/CCR, >non-issue

#35337 [ML] Prevent notifications being created on deletion of a non existent job
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/jobs_crud.yml
Labels: :ml, >bug, v6.5.1, v6.6.0, v7.0.0

#34190 Fixes fast vector highlighter docs per issue #24318.
  docs/reference/search/request/highlighting.asciidoc
Labels: :Search/Highlighting, >docs

#34340 Section header preceded by blank line
  docs/reference/aggregations/pipeline/movfn-aggregation.asciidoc
Labels: :Search/Aggregations, >docs

#35205 Logfile auditing settings remove after deprecation
  docs/reference/migration/migrate_7_0/settings.asciidoc
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
Labels: :Security/Audit, >breaking, v7.0.0

#35366 Use Gradle wrapper in client benchmark README
  client/benchmark/README.md
Labels: :Core/Build, >non-issue, v7.0.0

#35367 Remove unused class MemoryCircuitBreaker
  server/src/main/java/org/elasticsearch/common/breaker/CircuitBreaker.java
  server/src/main/java/org/elasticsearch/common/breaker/MemoryCircuitBreaker.java
  server/src/main/java/org/elasticsearch/index/fielddata/RamAccountingTermsEnum.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/AbstractIndexFieldData.java
  server/src/test/java/org/elasticsearch/common/breaker/MemoryCircuitBreakerTests.java
  server/src/test/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerServiceTests.java
Labels: :Core/Circuit Breakers, >non-issue, v6.5.1, v7.0.0

#35302 Adapt field limit deprecation warning
  docs/reference/migration/migrate_6_6.asciidoc
  docs/reference/query-dsl/multi-match-query.asciidoc
  docs/reference/query-dsl/query-string-query.asciidoc
  docs/reference/query-dsl/simple-query-string-query.asciidoc
  server/src/main/java/org/elasticsearch/index/search/QueryParserHelper.java
  server/src/test/java/org/elasticsearch/index/search/QueryParserHelperTests.java
Labels: :Search/Search, >enhancement, v6.5.1, v6.6.0

#35269 [Rollup] improve handling of failures on first search
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexer.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexerTests.java
Labels: :Search/Rollup, >bug, v6.6.0, v7.0.0

#35162 [Docs] Add painless context details for bucket_selector
  docs/build.gradle
  docs/painless/painless-contexts.asciidoc
  docs/painless/painless-contexts/index.asciidoc
  docs/painless/painless-contexts/painless-bucket-selector-agg-context.asciidoc
Labels: :Core/Scripting, >docs, v6.5.1, v6.6.0, v7.0.0

#35284 Make limit on number of expanded fields configurable
  docs/reference/query-dsl/multi-match-query.asciidoc
  docs/reference/query-dsl/query-string-query.asciidoc
  docs/reference/query-dsl/simple-query-string-query.asciidoc
  server/src/main/java/org/elasticsearch/index/search/QueryParserHelper.java
  server/src/test/java/org/elasticsearch/search/query/QueryStringIT.java
  server/src/test/java/org/elasticsearch/search/query/SimpleQueryStringIT.java
Labels: :Search/Search, >enhancement, v7.0.0

#34961 Introduce transport API for cluster bootstrapping
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/BootstrapClusterAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/BootstrapClusterRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/BootstrapClusterResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/BootstrapConfiguration.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/GetDiscoveredNodesAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/GetDiscoveredNodesRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/GetDiscoveredNodesResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/TransportBootstrapClusterAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/TransportGetDiscoveredNodesAction.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/BootstrapClusterRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/BootstrapClusterResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/BootstrapConfigurationTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/GetDiscoveredNodesRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/GetDiscoveredNodesResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/TransportBootstrapClusterActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/TransportGetDiscoveredNodesActionTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NoOpClusterApplier.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecuritySingleNodeTestCase.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#35290 Zen2: Add diff-based publishing
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/elasticsearch/cluster/coordination/PublishRequest.java
  server/src/main/java/org/elasticsearch/discovery/zen/PublishClusterStateStats.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/MessagesTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PublicationTransportHandlerTests.java
  test/framework/src/main/java/org/elasticsearch/test/discovery/TestZenDiscovery.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#35188 HLRest: refactor put_user to utilize `User` object
  client/rest-high-level/src/main/java/org/elasticsearch/client/SecurityRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/PutUserRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/User.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SecurityIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SecurityRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SecurityDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/AuthenticateResponseTests.java
Labels: :Core/Java High Level REST Client, >breaking-java, >non-issue, v6.6.0, v7.0.0

#35352 Add more detailed OS name on Linux
  docs/reference/cluster/stats.asciidoc
  qa/evil-tests/src/test/java/org/elasticsearch/monitor/os/EvilOsProbeTests.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsNodes.java
  server/src/main/java/org/elasticsearch/monitor/os/DummyOsInfo.java
  server/src/main/java/org/elasticsearch/monitor/os/OsInfo.java
  server/src/main/java/org/elasticsearch/monitor/os/OsProbe.java
  server/src/main/java/org/elasticsearch/monitor/os/OsService.java
  server/src/main/resources/org/elasticsearch/bootstrap/security.policy
  server/src/test/java/org/elasticsearch/monitor/os/OsProbeTests.java
  server/src/test/java/org/elasticsearch/nodesinfo/NodeInfoStreamingTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
Labels: :Core/Stats, >enhancement, v6.6.0, v7.0.0

#35357 Move compression config to ConnectionProfile
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4ScheduledPingTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/SimpleNetty4TransportTests.java
  plugins/transport-nio/src/test/java/org/elasticsearch/transport/nio/SimpleNioTransportTests.java
  server/src/main/java/org/elasticsearch/transport/ConnectionProfile.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterConnection.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/main/java/org/elasticsearch/transport/TaskTransportChannel.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/TcpTransportChannel.java
  server/src/main/java/org/elasticsearch/transport/TransportChannel.java
  server/src/main/java/org/elasticsearch/transport/TransportResponseOptions.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationActionTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/PublishClusterStateActionTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/ZenDiscoveryUnitTests.java
  server/src/test/java/org/elasticsearch/transport/ConnectionManagerTests.java
  server/src/test/java/org/elasticsearch/transport/ConnectionProfileTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/framework/src/main/java/org/elasticsearch/transport/MockTcpTransport.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
  test/framework/src/test/java/org/elasticsearch/transport/MockTcpTransportTests.java
  test/framework/src/test/java/org/elasticsearch/transport/nio/SimpleMockNioTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/AbstractSimpleSecurityTransportTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ServerTransportFilterIntegrationTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SimpleSecurityNetty4ServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SimpleSecurityNioTransportTests.java
Labels: :Distributed/Network, >enhancement, v6.6.0, v7.0.0

#35386 [Backport] Add back lookup vars in score script (#34833)
  server/src/main/java/org/elasticsearch/script/ScoreScript.java
Labels: :Core/Scripting, WIP, backport pending, v6.5.1

#35130 Painless Context Doc: Add field context example
  docs/painless/painless-contexts/painless-field-context.asciidoc
  modules/lang-painless/src/test/java/org/elasticsearch/painless/ContextExampleTests.java
Labels: :Core/Scripting, >docs, v6.6.0, v7.0.0

#35111 [DOCS] Cleans up monitoring configuration steps
  docs/reference/monitoring/configuring-metricbeat.asciidoc
  docs/reference/monitoring/configuring-monitoring.asciidoc
  docs/reference/monitoring/index.asciidoc
Labels: :Core/Monitoring, >docs, v6.5.0, v6.6.0, v7.0.0

#35236 SQL: Handle null literal for AND and OR in `WHERE`
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/logical/BinaryLogic.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryFolderTests.java
Labels: :Search/SQL, >bug, v6.5.1, v6.6.0, v7.0.0

#35281 Add documentation for JSON fields.
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/json.asciidoc
Labels: :Search/Mapping, >docs

#35396 Fix TcpTransport compression test
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
Labels: :Distributed/Network, >test, v6.6.0, v7.0.0

#34721 #31608 Add S3 Setting to Force Path Type Access
  docs/plugins/repository-s3.asciidoc
  docs/reference/migration/migrate_7_0/plugins.asciidoc
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Service.java
Labels: :Distributed/Snapshot/Restore, >enhancement, v7.0.0

#35358 DOCS: Add SecurityExtension breaking change
  docs/reference/migration/migrate_7_0/plugins.asciidoc
Labels: :Security/Authentication, >docs, v7.0.0

#35362 Refactor realm tests to use single settings
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlInvalidateSessionActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlLogoutActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/file/FileRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapSessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapUserSearchSessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/LdapTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/pki/PkiRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/DnRoleMapperTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/RoleMappingFileBootstrapCheckTests.java
Labels: :Security/Authentication, >refactoring, >test, v7.0.0

#34479 Add trace log of the request for the query and fetch phases
  server/src/main/java/org/elasticsearch/search/SearchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
Labels: :Search/Search, >non-issue, v6.6.0, v7.0.0

#35301 DOCS Auditing search queries
  x-pack/docs/en/security/auditing/auditing-search-queries.asciidoc
  x-pack/docs/en/security/auditing/index.asciidoc
Labels: :Security/Audit, >docs, v6.5.1, v6.6.0, v7.0.0

#35375 DISCOVERY: Fix RollingUpgradeTests
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterConfiguration.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterFormationTasks.groovy
  qa/rolling-upgrade/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: :Distributed/ZenDiscovery, >non-issue, v6.5.0, v7.0.0

#35274 DOCS Add audit ignore policy settings to auditing reference
  docs/reference/settings/audit-settings.asciidoc
Labels: :Security/Audit, >docs, v6.5.1, v6.6.0, v7.0.0

#35364 [CCR] Validate remote cluster license as part of put auto follow pattern api call
  x-pack/plugin/ccr/qa/multi-cluster-downgraded-to-basic-license/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster-downgraded-to-basic-license/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/qa/multi-cluster-with-non-compliant-license/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster-with-non-compliant-license/src/test/java/org/elasticsearch/xpack/ccr/CcrMultiClusterLicenseIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutAutoFollowPatternAction.java
Labels: :Distributed/CCR, >bug, v6.5.1, v6.6.0, v7.0.0

#35104 Enforce limitations on ILM policy names
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicy.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicyTests.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/indexlifecycle/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportPutLifecycleAction.java
Labels: :Core/ILM, >non-issue, blocker

#35390 Move compression config to ConnectionProfile
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4ScheduledPingTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/SimpleNetty4TransportTests.java
  server/src/main/java/org/elasticsearch/transport/ConnectionProfile.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterConnection.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/main/java/org/elasticsearch/transport/TaskTransportChannel.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/TcpTransportChannel.java
  server/src/main/java/org/elasticsearch/transport/TransportChannel.java
  server/src/main/java/org/elasticsearch/transport/TransportResponseOptions.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationActionTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/PublishClusterStateActionTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/ZenDiscoveryUnitTests.java
  server/src/test/java/org/elasticsearch/transport/ConnectionManagerTests.java
  server/src/test/java/org/elasticsearch/transport/ConnectionProfileTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/framework/src/main/java/org/elasticsearch/transport/MockTcpTransport.java
  test/framework/src/test/java/org/elasticsearch/transport/MockTcpTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/AbstractSimpleSecurityTransportTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ServerTransportFilterIntegrationTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SimpleSecurityNetty4ServerTransportTests.java
Labels: :Distributed/Network, >enhancement, backport, v6.6.0

#35402 Improve MockTcpTransport memory usage
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  test/framework/src/main/java/org/elasticsearch/transport/MockTcpTransport.java
Labels: :Distributed/Network, >test, v6.6.0, v7.0.0

#35418 Improve MockTcpTransport memory usage (#35402)
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  test/framework/src/main/java/org/elasticsearch/transport/MockTcpTransport.java
Labels: :Distributed/Network, >test, backport, v6.6.0

#35425 Improve MockTcpTransport memory usage (#35402) (#35418)
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  test/framework/src/main/java/org/elasticsearch/transport/MockTcpTransport.java
Labels: :Distributed/Network, >test, backport, v6.5.1

#35399 Add a test around JSON fields and source filtering.
  server/src/test/java/org/elasticsearch/search/source/SourceFetchingIT.java
Labels: :Search/Mapping, >docs

#35353 Add a java level freeze/unfreeze API
  x-pack/plugin/core/src/main/java/org/elasticsearch/index/engine/FrozenEngine.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClient.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/TransportFreezeIndexAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/index/engine/FrozenIndexTests.java
Labels: :Distributed/Distributed, >enhancement, v6.6.0, v7.0.0

#35128 HLRest: model role and privileges
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/ApplicationResourcePrivileges.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/GlobalOperationPrivilege.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/GlobalPrivileges.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/IndicesPrivileges.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/ManageApplicationPrivilege.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/Role.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/user/privileges/ApplicationResourcePrivilegesTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/user/privileges/GlobalPrivilegesTests.java
Labels: :Core/Java High Level REST Client, >non-issue, v6.6.0, v7.0.0

#35410 Upgrade to Joda 2.10.1
  buildSrc/version.properties
  plugins/repository-gcs/build.gradle
  plugins/repository-s3/build.gradle
  server/build.gradle
  server/licenses/joda-time-2.10.1.jar.sha1
  server/licenses/joda-time-2.10.jar.sha1
  server/src/test/java/org/elasticsearch/common/rounding/DateTimeUnitTests.java
  x-pack/plugin/sql/sql-action/build.gradle
  x-pack/plugin/sql/sql-action/licenses/joda-time-2.10.1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/joda-time-2.10.jar.sha1
  x-pack/plugin/sql/sql-proto/build.gradle
  x-pack/plugin/sql/sql-proto/licenses/joda-time-2.10.1.jar.sha1
  x-pack/plugin/sql/sql-proto/licenses/joda-time-2.10.jar.sha1
Labels: :Core/Core, >bug, v6.5.1, v6.6.0, v7.0.0

#35408 SQL: Fix query translation for scripted queries
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/Neg.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/comparison/In.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/QueryTranslator.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
Labels: :Search/SQL, >bug, v6.5.1, v6.6.0, v7.0.0

#35400 More detail for storage class
  docs/plugins/repository-s3.asciidoc
Labels: :Distributed/Snapshot/Restore, >docs, v6.6.0, v7.0.0

#35415 Switch to default to no build qualifier
  buildSrc/build.gradle
Labels: :Core/Build, >non-issue, v7.0.0

#34924 Fix/line length cleanup action support backport
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  server/src/main/java/org/elasticsearch/action/support/DelegatingActionListener.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/BroadcastOperationRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/TransportBroadcastAction.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeAction.java
  server/src/main/java/org/elasticsearch/action/support/master/AcknowledgedRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/master/MasterNodeOperationRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/master/MasterNodeReadOperationRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/master/info/ClusterInfoRequest.java
  server/src/main/java/org/elasticsearch/action/support/master/info/ClusterInfoRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/master/info/TransportClusterInfoAction.java
  server/src/main/java/org/elasticsearch/action/support/nodes/NodesOperationRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportBroadcastReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/single/instance/InstanceShardOperationRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/single/instance/TransportInstanceSingleOperationAction.java
  server/src/main/java/org/elasticsearch/action/support/single/shard/SingleShardOperationRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/single/shard/TransportSingleShardAction.java
  server/src/test/java/org/elasticsearch/action/support/WaitActiveShardCountIT.java
  server/src/test/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeActionTests.java
  server/src/test/java/org/elasticsearch/action/support/master/TransportMasterNodeActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/BroadcastReplicationTests.java
  server/src/test/java/org/elasticsearch/action/support/single/instance/TransportInstanceSingleOperationActionTests.java
Labels: :Core/Core, >non-issue, >refactoring, v6.6.0

#35442 [DOCS] Adds release highlight for file structure API
  docs/reference/release-notes/highlights-6.5.0.asciidoc
Labels: :ml, >docs, v6.5.0, v6.6.0

#35428 Upgrade to lucene-8.0.0-snapshot-6d9c714052
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.0.0-snapshot-6d9c714052.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.0.0-snapshot-6d9c714052.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.0.0-snapshot-6d9c714052.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.0.0-snapshot-6d9c714052.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.0.0-snapshot-6d9c714052.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.0.0-snapshot-6d9c714052.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.0.0-snapshot-6d9c714052.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-analyzers-common-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-analyzers-common-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-backward-codecs-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-backward-codecs-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-core-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-core-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-grouping-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-grouping-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-highlighter-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-highlighter-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-join-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-join-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-memory-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-memory-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-misc-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-misc-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-queries-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-queries-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-queryparser-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-queryparser-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-sandbox-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-sandbox-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-spatial-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-spatial-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-spatial-extras-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-spatial-extras-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-spatial3d-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-spatial3d-8.0.0-snapshot-6d9c714052.jar.sha1
  server/licenses/lucene-suggest-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  server/licenses/lucene-suggest-8.0.0-snapshot-6d9c714052.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.0.0-snapshot-31d7dfe6b1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.0.0-snapshot-6d9c714052.jar.sha1
Labels: :Search/Search, >non-issue, v7.0.0

#35429 Upgrade 6.x to lucene-7.6.0-snapshot-36ca27c36e
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-7.6.0-snapshot-36ca27c36e.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-7.6.0-snapshot-f9598f335b.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.6.0-snapshot-36ca27c36e.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.6.0-snapshot-f9598f335b.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.6.0-snapshot-36ca27c36e.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.6.0-snapshot-f9598f335b.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.6.0-snapshot-36ca27c36e.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.6.0-snapshot-f9598f335b.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.6.0-snapshot-36ca27c36e.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.6.0-snapshot-f9598f335b.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.6.0-snapshot-36ca27c36e.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.6.0-snapshot-f9598f335b.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.6.0-snapshot-36ca27c36e.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.6.0-snapshot-f9598f335b.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.6.0-snapshot-36ca27c36e.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-analyzers-common-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-analyzers-common-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-backward-codecs-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-backward-codecs-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-core-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-core-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-grouping-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-grouping-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-highlighter-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-highlighter-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-join-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-join-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-memory-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-memory-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-misc-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-misc-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-queries-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-queries-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-queryparser-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-queryparser-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-sandbox-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-sandbox-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-spatial-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-spatial-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-spatial-extras-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-spatial-extras-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-spatial3d-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-spatial3d-7.6.0-snapshot-f9598f335b.jar.sha1
  server/licenses/lucene-suggest-7.6.0-snapshot-36ca27c36e.jar.sha1
  server/licenses/lucene-suggest-7.6.0-snapshot-f9598f335b.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-7.6.0-snapshot-36ca27c36e.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-7.6.0-snapshot-f9598f335b.jar.sha1
Labels: :Search/Search, >non-issue, v6.6.0

#35166 HLRC support for getTask
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/TasksClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/TasksRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/tasks/GetTaskRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/tasks/GetTaskResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/CustomRestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/TasksIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/core/tasks/GetTaskResponseTests.java
Labels: :Core/Java High Level REST Client, v7.0.0

#35443 Zen2: Add basic Zen1 transport-level BWC
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/FollowersChecker.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/LeaderChecker.java
  server/src/main/java/org/elasticsearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/elasticsearch/discovery/PeerFinder.java
  server/src/main/java/org/elasticsearch/discovery/zen/MasterFaultDetection.java
  server/src/main/java/org/elasticsearch/discovery/zen/MembershipAction.java
  server/src/main/java/org/elasticsearch/discovery/zen/NodesFaultDetection.java
  server/src/main/java/org/elasticsearch/discovery/zen/PublishClusterStateAction.java
  server/src/main/java/org/elasticsearch/discovery/zen/UnicastZenPing.java
  server/src/main/java/org/elasticsearch/discovery/zen/ZenPing.java
  server/src/main/java/org/elasticsearch/transport/TransportResponseHandler.java
  server/src/test/java/org/elasticsearch/cluster/coordination/Zen1IT.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#35406 [ILM] fix retry so it picks up latest policy and executes async action
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/indexlifecycle/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/ExecuteStepsUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/MoveToNextStepUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportRetryAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
Labels: :Core/ILM, >bug, blocker
