Repository elastic/elasticsearch, pull requests merged in 2018-07, with the labels that each got.

#31621 [DOCS] Secure settings specified per node
  docs/reference/setup/secure-settings.asciidoc
Labels: :Core/Settings, >docs, v6.3.1, v6.4.0, v7.0.0

#30119 Enable setting client.path.prefix='/'
  client/rest/src/main/java/org/elasticsearch/client/RestClient.java
  client/rest/src/main/java/org/elasticsearch/client/RestClientBuilder.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientBuilderTests.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientTests.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/qa/core-rest-tests-with-security/src/test/java/org/elasticsearch/xpack/security/CoreWithSecurityClientYamlTestSuiteIT.java
Labels: :Core/Build, >test

#31535 [ML] Validate ML filter_id
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/MlFilter.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PutFilterActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/MlFilterTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/filter_crud.yml
  x-pack/qa/smoke-test-ml-with-security/build.gradle
Labels: :ml, >non-issue, review, v6.4.0, v7.0.0

#31648 [DOCS] Check for Windows and *nix file paths
  x-pack/docs/src/test/java/org/elasticsearch/smoketest/XDocsClientYamlTestSuiteIT.java
Labels: :Docs, v6.4.0, v7.0.0

#31722 Extend allowed characters for grok field names (#21745) (#31653)
  libs/grok/src/main/java/org/elasticsearch/grok/Grok.java
  libs/grok/src/test/java/org/elasticsearch/grok/GrokTests.java
Labels: :Core/Ingest, v6.4.0

#31687 Clean up some double semicolons
  modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/EvalQueryQuality.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpPipeliningHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/cors/Netty4CorsHandler.java
  plugins/ingest-user-agent/src/main/java/org/elasticsearch/ingest/useragent/UserAgentParser.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdSettings.java
  server/src/main/java/org/elasticsearch/common/geo/builders/CircleBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregator.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/settings/ClusterUpdateSettingsRequestTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/QueueResizingEsThreadPoolExecutorTests.java
  server/src/test/java/org/elasticsearch/gateway/PrimaryShardAllocatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/MinDocCountIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/basic/SearchWhileCreatingIndexIT.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/InnerHitsIT.java
  server/src/test/java/org/elasticsearch/search/profile/SearchProfileShardResultsTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractStreamableXContentTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/XContentTestUtilsTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetJobsStatsAction.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioTransport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/ESNativeMigrateToolTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/util/LikeConversionTests.java
Labels: >non-issue, v7.0.0

#31710 Match the examples in the description
  docs/reference/aggregations/metrics/percentile-aggregation.asciidoc
Labels: :Docs, v7.0.0

#31711 Remove _all example
  docs/reference/search/request/highlighting.asciidoc
Labels: :Docs, >docs

#31721 Watcher: Fix chain input toXcontent serialization
  x-pack/plugin/src/test/resources/rest-api-spec/test/watcher/get_watch/30_with_chain_input.yml
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/input/chain/ChainInput.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/input/chain/ChainInputTests.java
Labels: :Core/Watcher, >bug, review, v6.4.0, v7.0.0

#31190 Painless: Add Context Docs
  docs/painless/index.asciidoc
  docs/painless/painless-contexts.asciidoc
  docs/painless/painless-contexts/index.asciidoc
  docs/painless/painless-contexts/painless-bucket-agg-context.asciidoc
  docs/painless/painless-contexts/painless-field-context.asciidoc
  docs/painless/painless-contexts/painless-filter-context.asciidoc
  docs/painless/painless-contexts/painless-ingest-processor-context.asciidoc
  docs/painless/painless-contexts/painless-metric-agg-combine-context.asciidoc
  docs/painless/painless-contexts/painless-metric-agg-init-context.asciidoc
  docs/painless/painless-contexts/painless-metric-agg-map-context.asciidoc
  docs/painless/painless-contexts/painless-metric-agg-reduce-context.asciidoc
  docs/painless/painless-contexts/painless-min-should-match-context.asciidoc
  docs/painless/painless-contexts/painless-reindex-context.asciidoc
  docs/painless/painless-contexts/painless-score-context.asciidoc
  docs/painless/painless-contexts/painless-similarity-context.asciidoc
  docs/painless/painless-contexts/painless-sort-context.asciidoc
  docs/painless/painless-contexts/painless-update-by-query-context.asciidoc
  docs/painless/painless-contexts/painless-update-context.asciidoc
  docs/painless/painless-contexts/painless-watcher-condition-context.asciidoc
  docs/painless/painless-contexts/painless-watcher-transform-context.asciidoc
  docs/painless/painless-contexts/painless-weight-context.asciidoc
  docs/painless/painless-operators-array.asciidoc
  docs/painless/painless-scripts.asciidoc
Labels: :Core/Scripting, >docs, v6.4.0, v7.0.0

#31729 Add write*Blob option to replace existing blob
  modules/repository-url/src/main/java/org/elasticsearch/common/blobstore/url/URLBlobContainer.java
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/java/org/elasticsearch/repositories/azure/AzureStorageFixture.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobContainer.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobStore.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureStorageService.java
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureStorageServiceMock.java
  plugins/repository-gcs/qa/google-cloud-storage/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageFixture.java
  plugins/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainer.java
  plugins/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStore.java
  plugins/repository-hdfs/src/main/java/org/elasticsearch/repositories/hdfs/HdfsBlobContainer.java
  plugins/repository-hdfs/src/test/java/org/elasticsearch/repositories/hdfs/HdfsBlobStoreContainerTests.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobContainer.java
  server/src/main/java/org/elasticsearch/common/blobstore/BlobContainer.java
  server/src/main/java/org/elasticsearch/common/blobstore/fs/FsBlobContainer.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/ChecksumBlobStoreFormat.java
  server/src/test/java/org/elasticsearch/snapshots/BlobStoreFormatIT.java
  server/src/test/java/org/elasticsearch/snapshots/mockstore/BlobContainerWrapper.java
  server/src/test/java/org/elasticsearch/snapshots/mockstore/MockRepository.java
  test/framework/src/main/java/org/elasticsearch/repositories/ESBlobStoreContainerTestCase.java
  test/framework/src/main/java/org/elasticsearch/repositories/ESBlobStoreTestCase.java
Labels: :Distributed/Snapshot/Restore, >enhancement, v6.4.0, v7.0.0

#31659 Split CircuitBreaker-related tests
  server/src/test/java/org/elasticsearch/common/breaker/MemoryCircuitBreakerTests.java
  server/src/test/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerServiceTests.java
Labels: :Core/Circuit Breakers, >enhancement, v7.0.0

#31613 Account for XContent overhead in in-flight breaker
  docs/reference/migration/migrate_7_0/indices.asciidoc
  docs/reference/modules/indices/circuit_breaker.asciidoc
  server/src/main/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerService.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
Labels: :Core/Circuit Breakers, >enhancement, v7.0.0

#31723 resolveHasher defaults to NOOP
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/support/Hasher.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/file/FileRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/HasherTests.java
Labels: :Security/Authentication, >bug, review, v6.4.0, v7.0.0

#31712 Serialize application privileges in PutRoleRequest
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/RoleDescriptor.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequestTests.java
Labels: :Security/Authorization, >bug, review

#31735 JDBC: Fix stackoverflow on getObject and timestamp conversion
  x-pack/plugin/sql/jdbc/src/main/java/org/elasticsearch/xpack/sql/jdbc/jdbc/JdbcResultSet.java
  x-pack/plugin/sql/jdbc/src/main/java/org/elasticsearch/xpack/sql/jdbc/jdbc/TypeConverter.java
  x-pack/plugin/sql/jdbc/src/test/java/org/elasticsearch/xpack/sql/jdbc/jdbc/TypeConverterTests.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/JdbcIntegrationTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/ResultSetTestCase.java
Labels: :Search/SQL, >bug, v6.4.0, v7.0.0

#31751 Follow engine should not fill gaps upon promotion and recovery
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngine.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowEngineIndexShardTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/CCR, review

#31675 Implemented XContent serialisation for GetIndexResponse
  build.gradle
  client/rest-high-level/src/test/java/org/elasticsearch/client/GetAliasesResponseTests.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/TransportGetIndexAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetIndicesAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/mapping/get/GetMappingsResponseTests.java
Labels: :Core/Transport API, >enhancement, review, v6.4.0, v7.0.0

#31754 Watcher: Reenable start/stop yaml tests
  x-pack/plugin/src/test/resources/rest-api-spec/test/watcher/stats/10_basic.yml
Labels: :Core/Watcher, >test, review, v6.4.0, v7.0.0

#30414 Add support for AWS session tokens
  docs/plugins/discovery-ec2.asciidoc
  docs/plugins/repository-s3.asciidoc
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2ServiceImpl.java
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/Ec2ClientSettings.java
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/Ec2DiscoveryPlugin.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/AwsEc2ServiceImplTests.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/Ec2DiscoveryPluginTests.java
  plugins/repository-s3/qa/amazon-s3/build.gradle
  plugins/repository-s3/qa/amazon-s3/src/test/java/org/elasticsearch/repositories/s3/AmazonS3Fixture.java
  plugins/repository-s3/qa/amazon-s3/src/test/resources/rest-api-spec/test/repository_s3/10_repository_permanent_credentials.yml
  plugins/repository-s3/qa/amazon-s3/src/test/resources/rest-api-spec/test/repository_s3/20_repository_temporary_credentials.yml
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3ClientSettings.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3RepositoryPlugin.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Service.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3ClientSettingsTests.java
  server/src/main/java/org/elasticsearch/common/settings/SettingsException.java
Labels: :Distributed/Discovery-Plugins, :Distributed/Snapshot/Restore, :Security/Authentication, >enhancement, v6.4.0, v7.0.0

#31577 Add analyze API to high-level rest client
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/java-rest/high-level/indices/analyze.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/indices/analyze/AnalyzeRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/analyze/AnalyzeResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/analyze/DetailAnalyzeResponse.java
  server/src/test/java/org/elasticsearch/action/admin/indices/analyze/AnalyzeResponseTests.java
Labels: :Core/Java High Level REST Client, >feature, v6.4.0, v7.0.0

#31747 Fix coerce validation_method in GeoBoundingBoxQueryBuilder
  server/src/main/java/org/elasticsearch/index/query/GeoBoundingBoxQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/GeoBoundingBoxQueryBuilderTests.java
Labels: :Search/Geo, >bug, v6.4.0, v7.0.0

#31733 ingest: Introduction of a bytes processor
  docs/reference/ingest/ingest-node.asciidoc
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/AbstractStringProcessor.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/BytesProcessor.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/IngestCommonPlugin.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/AbstractStringProcessorTestCase.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/BytesProcessorFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/BytesProcessorTests.java
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/10_basic.yml
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/180_bytes_processor.yml
Labels: :Core/Ingest, >enhancement, v7.0.0

#31749 [test] don't run bats tests for suse boxes
  buildSrc/src/main/groovy/org/elasticsearch/gradle/vagrant/VagrantTestPlugin.groovy
Labels: :Core/Packaging, >test

#31769 Re-enable BWC checks
  build.gradle
Labels: >non-issue, v7.0.0

#31762 Watcher: Consolidate setting update registration
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/NotificationService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/email/EmailService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/hipchat/HipChatService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/jira/JiraService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/pagerduty/PagerDutyService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/slack/SlackService.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/NotificationServiceTests.java
Labels: :Core/Watcher, >enhancement, v6.4.0, v7.0.0

#31758 Fix not waiting for Netty ThreadDeathWatcher in IT
  x-pack/qa/smoke-test-plugins-ssl/src/test/java/org/elasticsearch/smoketest/SmokeTestMonitoringWithSecurityIT.java
Labels: :Core/Network

#31699 Painless: Complete Removal of Painless Type
  modules/lang-painless/src/main/antlr/PainlessLexer.g4
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/DefBootstrap.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/DefMath.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Definition.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessExplainError.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessPlugin.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ScriptClassInfo.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/antlr/EnhancedPainlessLexer.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/antlr/PainlessLexer.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/antlr/PainlessParser.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/antlr/Walker.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EExplicit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EFunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EInstanceof.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ELambda.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EListInit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EMapInit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewArray.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewObj.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ERegex.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EStatic.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PBrace.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PCallInvoke.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PField.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubDefCall.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SCatch.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SDeclaration.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SEach.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SFunction.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SSubEachIterable.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/DefBootstrapTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/PainlessDocGenerator.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/node/NodeToStringTests.java
Labels: :Core/Scripting, >refactoring, v6.4.0, v7.0.0

#31701 [DOCS] Starting Elasticsearch
  docs/reference/setup.asciidoc
  docs/reference/setup/install/deb-init.asciidoc
  docs/reference/setup/install/deb.asciidoc
  docs/reference/setup/install/init-systemd.asciidoc
  docs/reference/setup/install/msi-windows-start.asciidoc
  docs/reference/setup/install/rpm-init.asciidoc
  docs/reference/setup/install/rpm.asciidoc
  docs/reference/setup/install/windows.asciidoc
  docs/reference/setup/install/zip-targz-daemon.asciidoc
  docs/reference/setup/install/zip-targz-start.asciidoc
  docs/reference/setup/install/zip-targz.asciidoc
  docs/reference/setup/install/zip-windows-start.asciidoc
  docs/reference/setup/install/zip-windows.asciidoc
  docs/reference/setup/starting.asciidoc
Labels: >docs, v6.3.1, v6.4.0, v7.0.0

#31765 [DOCS] Add missing get mappings docs to HLRC
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, >docs, v6.3.1, v6.4.0, v7.0.0

#31688 Fixture for Minio testing
  plugins/repository-s3/build.gradle
  plugins/repository-s3/qa/amazon-s3/build.gradle
  plugins/repository-s3/qa/amazon-s3/src/test/java/org/elasticsearch/repositories/s3/AmazonS3RepositoryClientYamlTestSuiteIT.java
  plugins/repository-s3/qa/build.gradle
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/AmazonS3Fixture.java
  plugins/repository-s3/src/test/resources/rest-api-spec/test/repository_s3/20_repository_permanent_credentials.yml
  plugins/repository-s3/src/test/resources/rest-api-spec/test/repository_s3/30_repository_temporary_credentials.yml
Labels: :Distributed/Snapshot/Restore, >enhancement, v6.4.0, v7.0.0

#31647 [ML] Return statistics about forecasts as part of the jobsstats and usage API
  x-pack/docs/en/rest-api/ml/jobcounts.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MachineLearningFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetJobsStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/stats/CountAccumulator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/stats/ForecastStats.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/stats/StatsAccumulator.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetJobStatsActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/stats/CountAccumulatorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/stats/ForecastStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/stats/StatsAccumulatorTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearningFeatureSet.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetJobsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/StatsAccumulator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MachineLearningFeatureSetTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportGetJobsStatsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/StatsAccumulatorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/ml/JobStatsMonitoringDocTests.java
Labels: :ml, >enhancement, team-discuss, v6.4.0, v7.0.0

#31727 Detach Transport from TransportService
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4ScheduledPingTests.java
  server/src/main/java/org/elasticsearch/discovery/zen/FaultDetection.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/Transport.java
  server/src/main/java/org/elasticsearch/transport/TransportConnectionListener.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/CancellableTasksTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TransportTasksActionTests.java
  server/src/test/java/org/elasticsearch/action/main/MainActionTests.java
  server/src/test/java/org/elasticsearch/action/search/MultiSearchActionTookTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportMultiSearchActionTests.java
  server/src/test/java/org/elasticsearch/action/support/master/TransportMasterNodeActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/BroadcastReplicationTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportWriteActionTests.java
  server/src/test/java/org/elasticsearch/client/transport/FailAndRetryMockTransport.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
  server/src/test/java/org/elasticsearch/transport/ActionNamesIT.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/transport/CapturingTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/action/TransportXPackInfoActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/transport/SecurityServerTransportServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/role/TransportDeleteRoleActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/role/TransportGetRolesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/role/TransportPutRoleActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/rolemapping/TransportGetRoleMappingsActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/rolemapping/TransportPutRoleMappingActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlInvalidateSessionActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlLogoutActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportAuthenticateActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportChangePasswordActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportDeleteUserActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportGetUsersActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportPutUserActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportSetEnabledActionTests.java
Labels: :Core/Network, >refactoring, v6.4.0, v7.0.0

#31782 S3 fixture should report 404 on unknown bucket
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/AmazonS3Fixture.java
  plugins/repository-s3/src/test/resources/rest-api-spec/test/repository_s3/20_repository_permanent_credentials.yml
  plugins/repository-s3/src/test/resources/rest-api-spec/test/repository_s3/30_repository_temporary_credentials.yml
Labels: :Distributed/Snapshot/Restore, >test, v6.4.0, v7.0.0

#31582 [Docs] Correct default rescore `window_size`
  docs/reference/search/request/rescore.asciidoc
Labels: :Search/Ranking, >docs, v6.4.0, v7.0.0

#31768 [ML] Rate limit established model memory updates
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectCommunicator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutoDetectResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutoDetectResultProcessorTests.java
Labels: :ml, >bug, review, v6.3.2, v6.4.0, v7.0.0

#31789 Fix not waiting for Netty ThreadDeathWatcher in IT (#31758)
  x-pack/qa/smoke-test-plugins-ssl/src/test/java/org/elasticsearch/smoketest/SmokeTestMonitoringWithSecurityIT.java
Labels: :Core/Network, v6.4.0

#31753 Watcher: Ensure correct method is used to read secure settings
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/hipchat/HipChatService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/jira/JiraService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/pagerduty/PagerDutyService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/slack/SlackService.java
Labels: :Core/Watcher, >non-issue, review, v6.4.0, v7.0.0

#31771 [DOCS] Fixes 6.3.0 release notes
  docs/reference/release-notes/6.3.asciidoc
Labels: >docs, v6.3.1, v6.4.0

#31137 Watcher: Fix check for currently executed watches
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/transport/actions/ack/TransportAckWatchAction.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/transport/actions/ack/TransportAckWatchActionTests.java
Labels: :Core/Watcher, >bug, review

#31752 Support wider range of application names
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilege.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/privilege/PutPrivilegesRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/user/HasPrivilegesRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilegeTests.java
Labels: :Security/Authorization, >enhancement, review

#31790 Fix Eclipse license header generation on Windows
  build.gradle
Labels: :Core/Build, >non-issue, v6.4.0, v7.0.0

#31804 [ML] Fix calendar and filter updates from non-master nodes
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/UpdateJobProcessNotifier.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectCommunicator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/UpdateParams.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/UpdateProcessMessage.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectCommunicatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
Labels: :ml, >bug, review, v6.3.2, v6.4.0, v7.0.0

#31817 [ML][TEST] Use java 11 valid time format in DataDescriptionTests
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/DataDescriptionTests.java
Labels: :ml, >non-issue, >test, review, v6.4.0, v6.5.0, v7.0.0

#31394 Remove support for deprecated StoredScript contexts
  docs/reference/migration/migrate_7_0/api.asciidoc
  modules/lang-mustache/src/test/java/org/elasticsearch/script/mustache/SearchTemplateIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/GetStoredScriptResponse.java
  server/src/main/java/org/elasticsearch/script/StoredScriptSource.java
  server/src/test/java/org/elasticsearch/script/ScriptMetaDataTests.java
  server/src/test/java/org/elasticsearch/script/StoredScriptSourceTests.java
  server/src/test/java/org/elasticsearch/script/StoredScriptTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/integration/BasicWatcherTests.java
Labels: :Core/Scripting, v7.0.0

#31642 Test: Do not remove xpack templates when cleaning
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: :Core/Build, v6.4.0, v7.0.0

#31829 6.3.1 release notes
  docs/reference/release-notes/6.3.asciidoc
Labels: >docs, v6.3.1

#31811 Propagate mapping.single_type setting on shrinked index
  core/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  core/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
Labels: :Core/Index APIs, >bug, v5.6.11

#31788 Detach Transport from TransportService (#31727)
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4ScheduledPingTests.java
  server/src/main/java/org/elasticsearch/discovery/zen/FaultDetection.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/Transport.java
  server/src/main/java/org/elasticsearch/transport/TransportConnectionListener.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/CancellableTasksTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TransportTasksActionTests.java
  server/src/test/java/org/elasticsearch/action/main/MainActionTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportMultiSearchActionTests.java
  server/src/test/java/org/elasticsearch/action/support/master/TransportMasterNodeActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/BroadcastReplicationTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportWriteActionTests.java
  server/src/test/java/org/elasticsearch/client/transport/FailAndRetryMockTransport.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
  server/src/test/java/org/elasticsearch/transport/ActionNamesIT.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/transport/CapturingTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/action/TransportXPackInfoActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/transport/SecurityServerTransportServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/role/TransportDeleteRoleActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/role/TransportGetRolesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/role/TransportPutRoleActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/rolemapping/TransportGetRoleMappingsActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/rolemapping/TransportPutRoleMappingActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlInvalidateSessionActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlLogoutActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportAuthenticateActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportChangePasswordActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportDeleteUserActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportGetUsersActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportPutUserActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportSetEnabledActionTests.java
Labels: >non-issue

#31792 SQL: Fix incorrect message for aliases
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/index/IndexResolver.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/index/IndexResolverTests.java
  x-pack/plugin/sql/src/test/resources/mapping-numeric.json
Labels: :Search/SQL, >bug, v6.3.2, v6.4.0, v7.0.0

#31777 SQL: Allow long literals
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/ExpressionBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/DataTypeConversion.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/ExpressionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/type/DataTypeConversionTests.java
Labels: :Search/SQL, >bug, v6.3.2, v6.4.0, v7.0.0

#31703 REST high-level client: add get index API
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/java-rest/high-level/indices/get_index.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get.json
Labels: :Core/Java High Level REST Client, >enhancement

#31766 Fix handling of points_only with term strategy in geo_shape
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoShapeFieldMapperTests.java
Labels: :Search/Geo, :Search/Mapping, >bug, v6.4.0, v7.0.0

#31740 Get snapshot rest client cleanups
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SnapshotClientDocumentationIT.java
  docs/java-rest/high-level/snapshot/get_snapshots.asciidoc
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardFailure.java
Labels: :Core/Java High Level REST Client, >non-issue, review, v6.4.0, v7.0.0

#29538 Do not return all indices if a specific alias is requested via get aliases api.
  server/src/main/java/org/elasticsearch/action/AliasesRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/IndicesAliasesRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/GetAliasesRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/TransportGetAliasesAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaData.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetAliasesAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/alias/get/TransportGetAliasesActionTests.java
  server/src/test/java/org/elasticsearch/aliases/IndexAliasesIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolver.java
Labels: :Core/Index APIs, review, v6.4.0, v7.0.0

#31814 Fix profiling of ordered terms aggs
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationPath.java
  server/src/main/java/org/elasticsearch/search/profile/aggregation/ProfilingAggregator.java
  server/src/test/java/org/elasticsearch/search/profile/aggregation/AggregationProfilerIT.java
Labels: :Search/Aggregations, >bug, v6.4.0, v7.0.0

#31815 [Docs] Fix wrong link in Korean analyzer docs
  docs/plugins/analysis-nori.asciidoc
Labels: :Docs, :Search/Analysis

#31795 Remove obsolete parameters from analyze rest spec
  docs/java-rest/high-level/indices/analyze.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.analyze.json
Labels: :Core/REST API, >docs, v6.4.0, v7.0.0

#31605 [Docs] Clarify accepted `sort` usage with `rescore`
  docs/reference/search/request/rescore.asciidoc
Labels: :Search/Ranking, >docs, review, v6.0.0, v6.1.0, v6.2.0, v6.3.0, v6.4.0, v7.0.0

#31831 Smaller aesthetic fixes to InternalTestCluster
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Core/Build, >non-issue, v6.4.0, v7.0.0

#31820 SQL: Fix incorrect HAVING equality
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/Equals.java
  x-pack/qa/sql/no-security/src/test/java/org/elasticsearch/xpack/qa/sql/nosecurity/CliExplainIT.java
  x-pack/qa/sql/src/main/resources/agg.sql-spec
Labels: :Search/SQL, >bug, v6.3.2, v6.4.0, v7.0.0

#31822 Check timeZone argument in AbstractSqlQueryRequest
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/AbstractSqlQueryRequest.java
  x-pack/plugin/sql/sql-action/src/test/java/org/elasticsearch/xpack/sql/action/SqlQueryRequestTests.java
Labels: :Search/SQL, >bug, review, v6.4.0, v7.0.0

#31826 [Docs] Add clarification to analysis example
  docs/reference/analysis.asciidoc
Labels: :Search/Analysis, >docs, review, v6.4.0, v7.0.0

#31862 QA: build improvements related to SQL projects
  x-pack/build.gradle
  x-pack/qa/sql/build.gradle
Labels: :Core/Build, >non-issue, v6.4.0, v7.0.0

#31858 Inconsistency between description and example
  docs/reference/indices/aliases.asciidoc
Labels: :Docs, v6.3.2, v6.4.0, v7.0.0

#31838 Build: Fix detection of Eclipse Compiler Server
  build.gradle
Labels: :Core/Build, review, v6.3.2, v6.4.0, v7.0.0

#31818 SQL: Remove restriction for single column grouping
  docs/reference/sql/language/syntax/select.asciidoc
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/Expressions.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/Verifier.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/VerifierErrorMessagesTests.java
  x-pack/qa/sql/no-security/src/test/java/org/elasticsearch/xpack/qa/sql/nosecurity/JdbcDocCsvSpectIT.java
  x-pack/qa/sql/src/main/resources/agg.sql-spec
  x-pack/qa/sql/src/main/resources/docs.csv-spec
Labels: :Search/SQL, >enhancement, v6.4.0, v7.0.0

#31866 Build: Switch integ-test-zip to OSS-only
  distribution/archives/build.gradle
Labels: :Core/Build, v6.3.2, v6.4.0, v7.0.0

#31836 [ML] Fix master node deadlock during ML daily maintenance
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredForecastsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemover.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemoverTests.java
Labels: :ml, >bug, >non-issue, review, v6.4.0, v7.0.0

#31870 HLREST: Add x-pack-info API
  client/rest-high-level/build.gradle
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/PingAndInfoIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MiscellaneousDocumentationIT.java
  docs/java-rest/high-level/miscellaneous/x-pack-info.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/ObjectParser.java
  x-pack/build.gradle
  x-pack/plugin/core/build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/License.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackInfoResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClient.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/TransportXPackInfoAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackInfoAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackInfoRequestBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rest/action/RestXPackInfoAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/action/TransportXPackInfoActionTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/MlRemoteLicenseChecker.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/MlRemoteLicenseCheckerTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/tool/SetupPasswordToolTests.java
  x-pack/protocol/LICENSE.txt
  x-pack/protocol/build.gradle
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/license/LicenseStatus.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/license/package-info.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/security/package-info.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/watcher/package-info.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/XPackInfoRequest.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/XPackInfoResponse.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/package-info.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/license/LicenseStatusTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/XPackInfoResponseTests.java
Labels: :Core/Java High Level REST Client, >breaking-java, v6.4.0, v7.0.0

#31839 Upgrade to Lucene-7.5.0-snapshot-b9e064b935
  buildSrc/version.properties
  docs/Versions.asciidoc
  modules/lang-expression/licenses/lucene-expressions-7.4.0.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-7.5.0-snapshot-b9e064b935.jar.sha1
  plugins/analysis-icu/build.gradle
  plugins/analysis-icu/licenses/icu4j-61.1.jar.sha1
  plugins/analysis-icu/licenses/icu4j-62.1.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.4.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.5.0-snapshot-b9e064b935.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.4.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.5.0-snapshot-b9e064b935.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.4.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.5.0-snapshot-b9e064b935.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.4.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.5.0-snapshot-b9e064b935.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.4.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.5.0-snapshot-b9e064b935.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.4.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.5.0-snapshot-b9e064b935.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.4.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-analyzers-common-7.4.0.jar.sha1
  server/licenses/lucene-analyzers-common-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-backward-codecs-7.4.0.jar.sha1
  server/licenses/lucene-backward-codecs-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-core-7.4.0.jar.sha1
  server/licenses/lucene-core-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-grouping-7.4.0.jar.sha1
  server/licenses/lucene-grouping-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-highlighter-7.4.0.jar.sha1
  server/licenses/lucene-highlighter-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-join-7.4.0.jar.sha1
  server/licenses/lucene-join-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-memory-7.4.0.jar.sha1
  server/licenses/lucene-memory-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-misc-7.4.0.jar.sha1
  server/licenses/lucene-misc-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-queries-7.4.0.jar.sha1
  server/licenses/lucene-queries-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-queryparser-7.4.0.jar.sha1
  server/licenses/lucene-queryparser-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-sandbox-7.4.0.jar.sha1
  server/licenses/lucene-sandbox-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-spatial-7.4.0.jar.sha1
  server/licenses/lucene-spatial-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-spatial-extras-7.4.0.jar.sha1
  server/licenses/lucene-spatial-extras-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-spatial3d-7.4.0.jar.sha1
  server/licenses/lucene-spatial3d-7.5.0-snapshot-b9e064b935.jar.sha1
  server/licenses/lucene-suggest-7.4.0.jar.sha1
  server/licenses/lucene-suggest-7.5.0-snapshot-b9e064b935.jar.sha1
  server/src/main/java/org/elasticsearch/Version.java
  x-pack/plugin/sql/sql-action/licenses/lucene-core-7.4.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-7.5.0-snapshot-b9e064b935.jar.sha1
Labels: :Search/Search, >non-issue

#31859 Watcher: Increase HttpClient parallel sent requests
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpClient.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpClientTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpReadTimeoutTests.java
Labels: :Core/Watcher, review, v6.3.2

#31684 Watcher: Add ssl.trust email account setting
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/email/EmailService.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/email/EmailServiceTests.java
Labels: :Core/Watcher, review, v6.3.2, v6.4.0, v7.0.0

#31809 Add template config for Beat state to X-Pack Monitoring
  x-pack/plugin/core/src/main/resources/monitoring-beats.json
Labels: :Core/Monitoring, review, v6.4.0, v7.0.0

#31855 [Docs][Rollup] Fix typo in the API Quick Reference
  x-pack/docs/en/rollup/api-quickref.asciidoc
Labels: :Search/Rollup, >docs, v6.4.0, v7.0.0

#31690 Ingest: Enable Templated Fieldnames in Rename
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/IngestCommonPlugin.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/RenameProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DotExpanderProcessorTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/RenameProcessorFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/RenameProcessorTests.java
Labels: :Core/Ingest, review, v6.4.0, v7.0.0

#31892 Ingest: Add ignore_missing option to RemoveProc (#31693)
  docs/reference/ingest/ingest-node.asciidoc
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/RemoveProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/RemoveProcessorTests.java
Labels: :Core/Ingest, >enhancement

#31007 Remove the ability to index or query context suggestions without context
  docs/reference/migration/migrate_7_0/search.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/suggest/30_context.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/suggest/40_typed_keys.yml
  server/src/main/java/org/elasticsearch/search/suggest/completion/context/ContextMappings.java
  server/src/test/java/org/elasticsearch/search/suggest/ContextCompletionSuggestSearchIT.java
Labels: :Search/Suggesters, >breaking, review, v7.0.0

#31896 Ingest: Enable Templated Fieldnames in Rename (#31690)
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/IngestCommonPlugin.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/RenameProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DotExpanderProcessorTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/RenameProcessorFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/RenameProcessorTests.java
Labels: :Core/Ingest

#30975 Handle missing values in painless
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  docs/painless/painless-getting-started.asciidoc
  modules/lang-painless/build.gradle
  modules/lang-painless/src/test/resources/rest-api-spec/test/painless/20_scriptfield.yml
  server/build.gradle
  server/src/main/java/org/elasticsearch/index/fielddata/ScriptDocValues.java
  server/src/main/java/org/elasticsearch/script/ScriptModule.java
  server/src/test/java/org/elasticsearch/index/fielddata/ScriptDocValuesDatesTests.java
  server/src/test/java/org/elasticsearch/index/fielddata/ScriptDocValuesLongsTests.java
  server/src/test/java/org/elasticsearch/index/fielddata/ScriptDocValuesMissingV6BehaviourTests.java
  server/src/test/java/org/elasticsearch/search/functionscore/FunctionScoreIT.java
Labels: :Core/Scripting, >enhancement, v6.4.0, v7.0.0

#31833 Improve release notes script
  dev-tools/es_release_notes.pl
Labels: :Core/Build, >non-issue

#31674 add support for is_write_index in put-alias body parsing
  build.gradle
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_alias/10_basic.yml
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestIndexPutAliasAction.java
Labels: :Core/Index APIs, >bug, review, v6.4.0, v7.0.0

#31878 Add opaque_id to audit logging
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
Labels: :Security/Audit, >enhancement, v6.4.0, v7.0.0

#31849 Fix building AD URL from domain name
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactory.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
Labels: :Security/Authentication, >bug, review, v6.3.2, v6.4.0, v7.0.0

#31889 Change trappy float comparison
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java
Labels: :Distributed/Allocation, >non-issue, review, v6.4.0, v7.0.0

#31888 Fix wrong NaN check in MovingFunctions#stdDev()
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/movfn/MovingFunctions.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/movfn/MovFnWhitelistedFunctionTests.java
Labels: :Search/Aggregations, >enhancement, review, v6.4.0, v7.0.0

#31893 Backport: Add template config for Beat state to X-Pack Monitoring (#31809)
  x-pack/plugin/core/src/main/resources/monitoring-beats.json
Labels: :Beats

#31581 Rewrite shard follow node task logic
  server/src/main/java/org/elasticsearch/action/support/replication/TransportWriteAction.java
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
  x-pack/plugin/ccr/qa/multi-cluster-with-security/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexSecurityIT.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/CreateAndFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/FollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardChangesAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/BulkShardOperationsRequest.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/BulkShardOperationsResponse.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/TransportBulkShardOperationsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestCreateAndFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestFollowIndexAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/ShardChangesIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ChunksCoordinatorTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/CreateAndFollowIndexRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/FollowIndexActionTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/FollowIndexRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesActionTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesResponseTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskStatusTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/bulk/BulkShardOperationsTests.java
Labels: :Distributed/CCR, review

#31596 Slack message empty text
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/slack/message/SlackMessage.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/slack/message/SlackMessageTests.java
Labels: :Core/Watcher, >enhancement, v6.4.0, v7.0.0

#31314 [test] port archive distribution packaging tests
  buildSrc/src/main/groovy/org/elasticsearch/gradle/vagrant/VagrantTestPlugin.groovy
  qa/vagrant/build.gradle
  qa/vagrant/src/main/java/org/elasticsearch/packaging/test/ArchiveTestCase.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/Archives.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/Cleanup.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/FileUtils.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/Installation.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/Platforms.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/ServerUtils.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/Shell.java
  qa/vagrant/src/test/resources/packaging/tests/20_tar_package.bats
Labels: :Core/Packaging, >test, v6.4.0, v7.0.0

#31907 Docs: add security delete role to api call table
  x-pack/docs/en/rest-api/security/roles.asciidoc
Labels: :Security/Authorization, >docs, v6.3.2, v6.4.0, v7.0.0

#31905 HLRest: Move xPackInfo() to xPack().info()
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/XPackClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/PingAndInfoIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MiscellaneousDocumentationIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/License.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/action/TransportXPackInfoActionTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/MlRemoteLicenseChecker.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/MlRemoteLicenseCheckerTests.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/XPackInfoResponse.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/license/LicenseStatus.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/license/package-info.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/security/package-info.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/watcher/package-info.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/XPackInfoResponseTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/license/LicenseStatusTests.java
Labels: :Core/Java High Level REST Client, >non-issue, v6.4.0, v7.0.0

#30520 [X-Pack] Beats centralized management: security role + licensing
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/beats/BeatsFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: :Beats, :Security/Authorization, review

#31932 backport port archive distribution packaging tests to 6.x
  buildSrc/src/main/groovy/org/elasticsearch/gradle/vagrant/VagrantTestPlugin.groovy
  qa/vagrant/build.gradle
  qa/vagrant/src/main/java/org/elasticsearch/packaging/test/ArchiveTestCase.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/Archives.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/Cleanup.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/FileUtils.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/Installation.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/Platforms.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/ServerUtils.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/util/Shell.java
  qa/vagrant/src/test/resources/packaging/tests/20_tar_package.bats
Labels: :Core/Packaging, >test

#31484 Added lenient flag for synonym token filter
  docs/reference/analysis/tokenfilters/synonym-graph-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/synonym-tokenfilter.asciidoc
  server/src/main/java/org/elasticsearch/index/analysis/ESSolrSynonymParser.java
  server/src/main/java/org/elasticsearch/index/analysis/ESWordnetSynonymParser.java
  server/src/main/java/org/elasticsearch/index/analysis/SynonymGraphTokenFilterFactory.java
  server/src/main/java/org/elasticsearch/index/analysis/SynonymTokenFilterFactory.java
  server/src/test/java/org/elasticsearch/index/analysis/ESSolrSynonymParserTests.java
  server/src/test/java/org/elasticsearch/index/analysis/ESWordnetSynonymParserTests.java
Labels: :Search/Analysis, >enhancement

#31904 HLREST: Bundle the x-pack protocol project
  client/rest-high-level/build.gradle
  qa/ccs-unavailable-clusters/build.gradle
Labels: :Core/Build, >enhancement, blocker, v6.4.0, v7.0.0

#31923 Remove unused reference to filePermissionsCache
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/Role.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStore.java
Labels: :Security/Security, >non-issue, review, v7.0.0

#31949 [CCR] Move api parameters from url to request body.
  x-pack/plugin/ccr/qa/multi-cluster-with-security/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexSecurityIT.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/CreateAndFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/FollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestFollowIndexAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/ShardChangesIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/FollowIndexRequestTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.ccr.create_and_follow_index.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.ccr.follow_index.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.ccr.unfollow_index.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ccr/follow_and_unfollow.yml
Labels: :Distributed/CCR, review

#31899 [ML] Mute test failing due to Java 11 date time format parsing bug
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/DataDescription.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/time/DateTimeFormatterTimestampConverter.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/DataDescriptionTests.java
Labels: :ml, >test, v6.4.0, v7.0.0

#31937 Switch high level rest tests to new style requests
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/PingAndInfoIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RankEvalIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CRUDDocumentationIT.java
Labels: :Core/Java High Level REST Client, >non-issue, review, v6.4.0, v7.0.0

#31938 Switch low level rest tests to new style Requests
  client/rest/src/test/java/org/elasticsearch/client/RestClientBuilderIntegTests.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientSingleHostIntegTests.java
  client/rest/src/test/java/org/elasticsearch/client/documentation/RestClientDocumentation.java
Labels: :Core/Java Low Level REST Client, >non-issue, review, v6.4.0, v7.0.0

#31939 Switch test framework to new style requests
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
Labels: :Core/Build, >non-issue, review, v6.4.0, v7.0.0

#31968 Test: fix null failure in watcher test
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/slack/message/SlackMessageTests.java
Labels: :Core/Watcher, >bug, v6.4.0, v7.0.0

#31841 ingest: date_index_name processor template resolution
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateIndexNameProcessor.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/IngestCommonPlugin.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateIndexNameFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateIndexNameProcessorTests.java
Labels: :Core/Ingest, >enhancement, review, v6.4.0, v7.0.0

#31515 Add Snapshots Status API to High Level Rest Client
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/SnapshotClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SnapshotIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SnapshotClientDocumentationIT.java
  docs/java-rest/high-level/snapshot/snapshots_status.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotIndexShardStatus.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotIndexStatus.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotShardsStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStatus.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotsStatusResponse.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotIndexShardStatusTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotIndexStatusTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotShardsStatsTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStatsTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStatusTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotsStatusResponseTests.java
Labels: :Core/Java High Level REST Client, >enhancement

#31934 [DOCS] Removes alternative docker pull example
  docs/reference/setup/install/docker.asciidoc
Labels: :Core/Packaging, >docs, v6.3.2, v6.4.0, v7.0.0

#31941 Switch reindex tests to new style requests
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ManyDocumentsIT.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/remote/ReindexFromOldRemoteIT.java
Labels: :Distributed/CRUD, >non-issue, review, v6.4.0, v7.0.0

#31944 Switch url repository rest tests to new style requests
  modules/repository-url/src/test/java/org/elasticsearch/repositories/url/RepositoryURLClientYamlTestSuiteIT.java
Labels: :Distributed/Snapshot/Restore, >non-issue, review, v6.4.0, v7.0.0

#31972 Docs: fix typo in datehistogram
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
Labels: :Search/Aggregations, >docs

#31947 Revert translog changes introduced for CCR
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
Labels: :Distributed/CCR, >feature

#31872 SQL: HAVING clause should accept only aggregates
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Verifier.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
Labels: :Search/SQL, >bug, v6.3.2, v6.4.0, v7.0.0

#31884 SQL: Support for escape sequences
  x-pack/plugin/sql/src/main/antlr/SqlBase.g4
  x-pack/plugin/sql/src/main/antlr/SqlBase.tokens
  x-pack/plugin/sql/src/main/antlr/SqlBaseLexer.tokens
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/ExpressionBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/LogicalPlanBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseBaseListener.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseBaseVisitor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseLexer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseListener.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseParser.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseVisitor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlParser.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/EscapedFunctionsTests.java
Labels: :Search/SQL, >feature, v6.4.0, v7.0.0

#31951 Fix assertIngestDocument wrongfully passing (#31913)
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/GrokProcessorTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/JsonProcessorTests.java
  test/framework/src/main/java/org/elasticsearch/ingest/IngestDocumentMatcher.java
  test/framework/src/test/java/org/elasticsearch/ingest/IngestDocumentMatcherTests.java
Labels: :Core/Ingest, >test

#31919 [Test] Reactive 3rd party tests on CI
  plugins/repository-s3/build.gradle
Labels: :Distributed/Snapshot/Restore, >test, review, v6.4.0, v7.0.0

#31922 Tests: Remove use of joda time in some tests
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateProcessorTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestIndicesAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/RolloverIT.java
  server/src/test/java/org/elasticsearch/cluster/metadata/HumanReadableIndexSettingsTests.java
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
  server/src/test/java/org/elasticsearch/explain/ExplainActionIT.java
  server/src/test/java/org/elasticsearch/indices/IndicesRequestCacheIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/MinDocCountIT.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
  server/src/test/java/org/elasticsearch/search/fields/SearchFieldsIT.java
  server/src/test/java/org/elasticsearch/search/functionscore/DecayFunctionScoreIT.java
  server/src/test/java/org/elasticsearch/search/query/SearchQueryIT.java
  server/src/test/java/org/elasticsearch/validate/SimpleValidateQueryIT.java
Labels: :Core/Core, review, v7.0.0

#31961 Move build integration tests out of :buildSrc project
  buildSrc/build.gradle
Labels: :Core/Build, v6.4.0, v7.0.0

#31960 Work around reported problem in eclipse
  build.gradle
Labels: :Core/Build, v6.4.0, v7.0.0

#31971 Adds concept of a safe action
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/AllocateAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/DeleteAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ForceMergeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/LifecycleAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicy.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ReadOnlyAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ReplicasAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/RolloverAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/AbstractActionTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/AllocateActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/DeleteActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ForceMergeActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicyTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/MockAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/MockActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ReadOnlyActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ReplicasActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/RolloverActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkActionTests.java
  x-pack/plugin/index-lifecycle/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunner.java
  x-pack/plugin/index-lifecycle/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
Labels: :Core/ILM, review

#31957 [ML] Ensure immutability of MlMetadata
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/AnalysisConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Detector.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/RuleScope.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedUpdateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdateTests.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DetectionRulesIT.java
Labels: :ml, >bug, >non-issue, review, v6.4.0, v7.0.0

#31874 SQL: Add support for single parameter text manipulating functions
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/FunctionRegistry.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/Processors.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/math/ATan2.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/math/Power.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Ascii.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BitLength.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Char.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/CharLength.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/LCase.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/LTrim.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Length.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/RTrim.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Space.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/UCase.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/UnaryStringFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/UnaryStringIntFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/whitelist/InternalSqlScriptUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/QueryTranslator.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/util/StringUtils.java
  x-pack/plugin/sql/src/main/resources/org/elasticsearch/xpack/sql/plugin/sql_whitelist.txt
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionProcessorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/cli/ShowTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/CsvSpecTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/SqlSpecTestCase.java
  x-pack/qa/sql/src/main/resources/command.csv-spec
  x-pack/qa/sql/src/main/resources/docs.csv-spec
  x-pack/qa/sql/src/main/resources/functions.csv-spec
  x-pack/qa/sql/src/main/resources/string-functions.sql-spec
Labels: :Search/SQL, >enhancement, v6.4.0, v7.0.0

#31973 [ML] Get ForecastRequestStats doc in tests
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeAutodetectIntegTestCase.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RestoreModelSnapshotIT.java
Labels: :ml, >test, review, v6.3.2, v6.4.0, v7.0.0

#31995 Tests: Fix SearchFieldsIT.testDocValueFields
  server/src/test/java/org/elasticsearch/search/fields/SearchFieldsIT.java
Labels: >test-failure, review, v7.0.0

#31994 [6.x][ML] Ensure immutability of MlMetadata
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/AnalysisConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Detector.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/RuleScope.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedUpdateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdateTests.java
Labels: :ml, >non-issue, v6.4.0

#32002 Adds a check to only fail policy update if unsafe action is changed
  x-pack/plugin/index-lifecycle/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunner.java
  x-pack/plugin/index-lifecycle/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
Labels: :Core/ILM, review

#32005 Fix unreachable error condition in AmazonS3Fixture
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/AmazonS3Fixture.java
Labels: :Distributed/Discovery-Plugins, :Distributed/Snapshot/Restore, >non-issue, review, v7.0.0

#31974 Force execution of fetch tasks
  server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java
Labels: :Search/Search, >enhancement, v6.4.0, v7.0.0

#31980 Add Get Snapshots High Level REST API
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/SnapshotClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SnapshotIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SnapshotClientDocumentationIT.java
  docs/java-rest/high-level/snapshot/get_snapshots.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsResponse.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotInfo.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardFailure.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsResponseTests.java
Labels: :Core/Java High Level REST Client, >enhancement, v6.4.0

#30867 XContentTests : insert random fields at random positions
  test/framework/src/main/java/org/elasticsearch/test/AbstractXContentTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/AbstractXContentTestCaseTests.java
Labels: :Search/Search, >enhancement, >test, review, v6.4.0, v7.0.0

#31942 Add nio transport to security plugin
  libs/nio/src/main/java/org/elasticsearch/nio/BytesChannelContext.java
  libs/nio/src/main/java/org/elasticsearch/nio/ChannelContext.java
  libs/nio/src/main/java/org/elasticsearch/nio/SocketChannelContext.java
  libs/nio/src/test/java/org/elasticsearch/nio/SocketChannelContextTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/SecurityField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/SecuritySettings.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContext.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioTransport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecuritySettingsSource.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/index/IndexAuditTrailTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SimpleSecurityNioTransportTests.java
Labels: :Security/Network, >non-issue, review, v7.0.0

#31328 [ML] Re-enable memory limit integration tests
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/AutodetectMemoryLimitIT.java
Labels: :ml, >test, v6.4.0, v7.0.0

#30953 Access SSL contexts using names instead of Settings
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/transport/netty4/SecurityNetty4Transport.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLService.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/transport/netty4/SecurityNetty4TransportTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationReloaderTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLServiceTests.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporters.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterSslIT.java
  x-pack/plugin/monitoring/src/test/resources/org/elasticsearch/xpack/monitoring/exporter/http/testnode.crt
  x-pack/plugin/monitoring/src/test/resources/org/elasticsearch/xpack/monitoring/exporter/http/testnode.jks
  x-pack/plugin/monitoring/src/test/resources/org/elasticsearch/xpack/monitoring/exporter/http/testnode.pem
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/PkiRealmBootstrapCheck.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/ESNativeRealmMigrateTool.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/tool/CommandLineHttpClient.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/saml/SamlRealm.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioTransport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/PkiRealmBootstrapCheckTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapTestUtils.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4ServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SimpleSecurityNioTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ssl/SslIntegrationTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLReloadIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLTrustRestrictionsTests.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpClient.java
  x-pack/qa/openldap-tests/src/test/java/org/elasticsearch/test/OpenLdapTests.java
  x-pack/qa/openldap-tests/src/test/java/org/elasticsearch/xpack/security/authc/ldap/OpenLdapUserSearchSessionFactoryTests.java
Labels: :Security/Network, >bug, >refactoring, review, v6.4.0, v7.0.0

#32011 [ML] Switch ML native QA tests to use a 3 node cluster
  x-pack/qa/ml-native-multi-node-tests/build.gradle
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/AutodetectMemoryLimitIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/BasicRenormalizationIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/CategorizationIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DeleteExpiredDataIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DetectionRulesIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ForecastIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/InterimResultsDeletedAfterReopeningJobIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlJobIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeAutodetectIntegTestCase.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ModelPlotsIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/OverallBucketsIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/PersistJobIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ReopenJobWithGapIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RestoreModelSnapshotIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RevertModelSnapshotIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ScheduledEventsIT.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/UpdateInterimResultsIT.java
  x-pack/qa/ml-native-tests/build.gradle
Labels: :ml, >test, v6.4.0

#31925 [ML] Move open job failure explanation out of root cause
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/BasicDistributedJobsIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/TooManyJobsIT.java
Labels: :ml, >bug, review, v6.4.0, v7.0.0

#31767 Circuit-break based on real memory usage
  benchmarks/src/main/java/org/elasticsearch/benchmark/indices/breaker/MemoryStatsBenchmark.java
  docs/reference/migration/migrate_7_0/indices.asciidoc
  docs/reference/modules/indices/circuit_breaker.asciidoc
  server/src/main/java/org/elasticsearch/common/breaker/ChildMemoryCircuitBreaker.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerService.java
  server/src/test/java/org/elasticsearch/common/settings/MemorySizeSettingsTests.java
  server/src/test/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerServiceTests.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Core/Circuit Breakers, >breaking, >enhancement, review, v7.0.0

#32025 Correct spelling of AnalysisPlugin#requriesAnalysisSettings
  docs/reference/migration/migrate_7_0/plugins.asciidoc
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonAnalysisPlugin.java
  server/src/main/java/org/elasticsearch/indices/analysis/AnalysisModule.java
  server/src/main/java/org/elasticsearch/plugins/AnalysisPlugin.java
Labels: :Search/Analysis, >breaking-java, v6.4.0, v7.0.0

#31402 [Rollup] Use composite's missing_bucket
  x-pack/docs/en/rollup/understanding-groups.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/DateHistoGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/HistoGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/TermsGroupConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/RollupRestTestStateCleaner.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupResponseTranslator.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportPutRollupJobAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/IndexerUtils.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupIndexer.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupResponseTranslationTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/PutJobStateMachineTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/IndexerUtilsTests.java
  x-pack/plugin/src/test/java/org/elasticsearch/xpack/test/rest/XPackRestIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Search/Rollup, >enhancement, review, v6.4.0, v7.0.0

#32037 Remove deprecated AnalysisPlugin#requriesAnalysisSettings method
  server/src/main/java/org/elasticsearch/plugins/AnalysisPlugin.java
Labels: :Search/Analysis, >breaking-java, v7.0.0

#31808 Add second level of field collapsing
  docs/reference/search/request/collapse.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/search/115_multiple_field_collapsing.yml
  server/src/main/java/org/elasticsearch/action/search/ExpandSearchPhase.java
  server/src/main/java/org/elasticsearch/index/query/InnerHitBuilder.java
Labels: :Search/Search, v6.4.0, v7.0.0

#32044 Mute ML native qa test on Windows
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/AutodetectMemoryLimitIT.java
Labels: :ml, >test-failure

#32040 [ML] Updating detectors should not affect existing job
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/AnalysisConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdate.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdateTests.java
Labels: :ml, >bug, >non-issue, review, v6.3.2

#31926 Watcher: cleanup ensureWatchExists use
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/execution/WatchExecutionContext.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/execution/ManualExecutionContext.java
Labels: :Core/Watcher, >enhancement, v6.4.0, v7.0.0

#31620 Add secure setting for watcher email password
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/email/Account.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/email/EmailService.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/email/AccountTests.java
Labels: :Core/Watcher, >enhancement, backport pending, v6.4.0, v7.0.0

#31970 Added lenient flag for synonym token filter (6.x)
  docs/reference/analysis/tokenfilters/synonym-graph-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/synonym-tokenfilter.asciidoc
  server/src/main/java/org/elasticsearch/index/analysis/ESSolrSynonymParser.java
  server/src/main/java/org/elasticsearch/index/analysis/ESWordnetSynonymParser.java
  server/src/main/java/org/elasticsearch/index/analysis/SynonymGraphTokenFilterFactory.java
  server/src/main/java/org/elasticsearch/index/analysis/SynonymTokenFilterFactory.java
  server/src/test/java/org/elasticsearch/index/analysis/ESSolrSynonymParserTests.java
  server/src/test/java/org/elasticsearch/index/analysis/ESWordnetSynonymParserTests.java
Labels: :Search/Analysis

#31975 HLRC: Add xpack usage api
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/XPackClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MiscellaneousDocumentationIT.java
  docs/java-rest/high-level/miscellaneous/x-pack-usage.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/TransportXPackUsageAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageRequestBuilder.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsCollectorTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherXpackUsageStatsTests.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/XPackUsageRequest.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/XPackUsageResponse.java
Labels: :Core/Java High Level REST Client, >enhancement, v6.4.0, v7.0.0

#31606 lazy snapshot repository initialization
  modules/repository-url/src/main/java/org/elasticsearch/repositories/url/URLRepository.java
  modules/repository-url/src/test/java/org/elasticsearch/repositories/url/URLRepositoryTests.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureRepository.java
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureRepositorySettingsTests.java
  plugins/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageRepository.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  plugins/repository-hdfs/src/main/java/org/elasticsearch/repositories/hdfs/HdfsRepository.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3RepositoryPlugin.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/RepositoryCredentialsTests.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobStoreRepositoryTests.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3RepositoryTests.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/repositories/VerifyNodeRepositoryAction.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/fs/FsRepository.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryRestoreTests.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryTests.java
  server/src/test/java/org/elasticsearch/repositories/fs/FsBlobStoreRepositoryIT.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  server/src/test/java/org/elasticsearch/snapshots/mockstore/MockRepository.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESBlobStoreRepositoryIntegTestCase.java
Labels: :Distributed/Snapshot/Restore, >enhancement, review, v6.4.0, v7.0.0

#31746 Make watcher settings reloadable
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/NotificationService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/email/EmailService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/hipchat/HipChatService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/jira/JiraService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/pagerduty/PagerDutyService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/slack/SlackService.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherPluginTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/NotificationServiceTests.java
Labels: :Core/Watcher, >feature, v6.4.0, v7.0.0

#31779 Clean Up Snapshot Create Rest API
  client/rest-high-level/src/main/java/org/elasticsearch/client/SnapshotClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SnapshotIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SnapshotClientDocumentationIT.java
  docs/java-rest/high-level/snapshot/create_snapshot.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/create/CreateSnapshotRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/create/CreateSnapshotResponse.java
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotInfo.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/create/CreateSnapshotRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/create/CreateSnapshotResponseTests.java
  server/src/test/java/org/elasticsearch/action/support/IndicesOptionsTests.java
Labels: :Core/Java High Level REST Client, >enhancement, v6.4.0, v7.0.0

#32048 [Rollup] Histo group config should support scaled_floats
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/RollupField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/HistoGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/MetricConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/HistoGroupConfigSerializingTests.java
Labels: :Search/Rollup, >bug, review, v6.3.2, v6.4.0, v7.0.0

#32018 Add nio http transport to security plugin
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4TcpChannel.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/HttpReadWriteHandler.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpChannel.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpServerChannel.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/SecurityRestFilter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SSLEngineUtils.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityHttpExceptionHandler.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityHttpSettings.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/ServerTransportFilter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/NioIPFilter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContext.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLDriver.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioTransport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecuritySettingsSource.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityHttpSettingsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/NioIPFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransportTests.java
Labels: :Security/Network, >non-issue, review, v7.0.0

#32058 Fix compile issues introduced by merge
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransport.java
Labels: :Security/Network, >test, v7.0.0
