Repository elastic/elasticsearch, pull requests merged in 2018-08, with the labels that each got.

#32511 NETWORKING: Fix Netty Leaks by upgrading to 4.1.28
  modules/transport-netty4/build.gradle
  modules/transport-netty4/licenses/netty-buffer-4.1.16.Final.jar.sha1
  modules/transport-netty4/licenses/netty-buffer-4.1.28.Final.jar.sha1
  modules/transport-netty4/licenses/netty-codec-4.1.16.Final.jar.sha1
  modules/transport-netty4/licenses/netty-codec-4.1.28.Final.jar.sha1
  modules/transport-netty4/licenses/netty-codec-http-4.1.16.Final.jar.sha1
  modules/transport-netty4/licenses/netty-codec-http-4.1.28.Final.jar.sha1
  modules/transport-netty4/licenses/netty-common-4.1.16.Final.jar.sha1
  modules/transport-netty4/licenses/netty-common-4.1.28.Final.jar.sha1
  modules/transport-netty4/licenses/netty-handler-4.1.16.Final.jar.sha1
  modules/transport-netty4/licenses/netty-handler-4.1.28.Final.jar.sha1
  modules/transport-netty4/licenses/netty-resolver-4.1.16.Final.jar.sha1
  modules/transport-netty4/licenses/netty-resolver-4.1.28.Final.jar.sha1
  modules/transport-netty4/licenses/netty-transport-4.1.16.Final.jar.sha1
  modules/transport-netty4/licenses/netty-transport-4.1.28.Final.jar.sha1
  modules/transport-netty4/src/main/plugin-metadata/plugin-security.policy
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4BadRequestTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpRequestSizeLimitIT.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerPipeliningTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4PipeliningIT.java
  plugins/transport-nio/build.gradle
  plugins/transport-nio/licenses/netty-buffer-4.1.16.Final.jar.sha1
  plugins/transport-nio/licenses/netty-buffer-4.1.28.Final.jar.sha1
  plugins/transport-nio/licenses/netty-codec-4.1.16.Final.jar.sha1
  plugins/transport-nio/licenses/netty-codec-4.1.28.Final.jar.sha1
  plugins/transport-nio/licenses/netty-codec-http-4.1.16.Final.jar.sha1
  plugins/transport-nio/licenses/netty-codec-http-4.1.28.Final.jar.sha1
  plugins/transport-nio/licenses/netty-common-4.1.16.Final.jar.sha1
  plugins/transport-nio/licenses/netty-common-4.1.28.Final.jar.sha1
  plugins/transport-nio/licenses/netty-handler-4.1.16.Final.jar.sha1
  plugins/transport-nio/licenses/netty-handler-4.1.28.Final.jar.sha1
  plugins/transport-nio/licenses/netty-resolver-4.1.16.Final.jar.sha1
  plugins/transport-nio/licenses/netty-resolver-4.1.28.Final.jar.sha1
  plugins/transport-nio/licenses/netty-transport-4.1.16.Final.jar.sha1
  plugins/transport-nio/licenses/netty-transport-4.1.28.Final.jar.sha1
  plugins/transport-nio/src/main/plugin-metadata/plugin-security.policy
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpServerTransportTests.java
  x-pack/plugin/core/src/main/plugin-metadata/plugin-security.policy
  x-pack/plugin/ml/src/main/plugin-metadata/plugin-security.policy
Labels: :Core/Network, >upgrade, v6.5.0, v7.0.0

#32339 Switch x-pack rolling restart tests to new style Requests
  x-pack/qa/rolling-upgrade-basic/src/test/java/org/elasticsearch/upgrades/BasicLicenseUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractUpgradeTestCase.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/IndexAuditUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/TokenBackwardsCompatibilityIT.java
Labels: :Core/Java Low Level REST Client, >non-issue, review, v6.5.0, v7.0.0

#32514 Use hostname instead of IP with SPNEGO test
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/qa/kerberos-tests/build.gradle
  x-pack/qa/kerberos-tests/src/test/java/org/elasticsearch/xpack/security/authc/kerberos/KerberosAuthenticationIT.java
Labels: :Core/Build, :Security/Authentication, >test, v6.4.0, v6.5.0, v7.0.0

#32108 re-enable ILM integration tests and fix policyRegistry update bug
  x-pack/plugin/index-lifecycle/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleService.java
  x-pack/plugin/index-lifecycle/src/main/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistry.java
  x-pack/plugin/index-lifecycle/src/test/java/org/elasticsearch/xpack/indexlifecycle/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/index-lifecycle/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleInitialisationIT.java
  x-pack/plugin/index-lifecycle/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleMetadataTests.java
  x-pack/plugin/index-lifecycle/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleServiceTests.java
  x-pack/plugin/index-lifecycle/src/test/java/org/elasticsearch/xpack/indexlifecycle/LockableLifecycleType.java
  x-pack/plugin/index-lifecycle/src/test/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistryTests.java
Labels: :Core/ILM, >bug, >test, review

#32507 [Rollup] Remove builders from TermsGroupConfig
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/GroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/TermsGroupConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/ConfigTestHelpers.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/TermsGroupConfigSerializingTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupIndexer.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtilTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/config/ConfigTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/IndexerUtilsTests.java
Labels: :Search/Rollup, >refactoring, review, v7.0.0

#32456 Watcher: Reenable HttpSecretsIntegrationTests#testWebhookAction test
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/integration/HttpSecretsIntegrationTests.java
Labels: :Core/Watcher, >test

#31713 [DOCS] Reloadable Secure Settings
  docs/plugins/discovery-ec2.asciidoc
  docs/plugins/repository-azure.asciidoc
  docs/plugins/repository-gcs.asciidoc
  docs/plugins/repository-s3.asciidoc
  docs/reference/setup/secure-settings.asciidoc
Labels: :Core/Settings, >docs, review, v6.4.0, v7.0.0

#32356 SQL: Added support for string manipulating functions with more than one parameter
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/FunctionRegistry.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/Processors.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringNumericFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringNumericProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringNumericProcessorDefinition.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringStringFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringStringProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringStringProcessorDefinition.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Concat.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/ConcatFunctionProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/ConcatFunctionProcessorDefinition.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Insert.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/InsertFunctionProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/InsertFunctionProcessorDefinition.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Left.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Locate.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/LocateFunctionProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/LocateFunctionProcessorDefinition.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Position.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Repeat.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Replace.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/ReplaceFunctionProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/ReplaceFunctionProcessorDefinition.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Right.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Substring.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/SubstringFunctionProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/SubstringFunctionProcessorDefinition.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/whitelist/InternalSqlScriptUtils.java
  x-pack/plugin/sql/src/main/resources/org/elasticsearch/xpack/sql/plugin/sql_whitelist.txt
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/FunctionTestUtils.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringNumericProcessorDefinitionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringNumericProcessorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringStringProcessorDefinitionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/BinaryStringStringProcessorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/ConcatFunctionProcessorDefinitionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/ConcatProcessorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/InsertFunctionProcessorDefinitionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/InsertProcessorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/LocateFunctionProcessorDefinitionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/LocateProcessorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/ReplaceFunctionProcessorDefinitionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/ReplaceProcessorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/SubstringFunctionProcessorDefinitionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/SubstringProcessorTests.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/cli/ShowTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/CsvTestUtils.java
  x-pack/qa/sql/src/main/resources/command.csv-spec
  x-pack/qa/sql/src/main/resources/docs.csv-spec
  x-pack/qa/sql/src/main/resources/example.csv-spec
  x-pack/qa/sql/src/main/resources/functions.csv-spec
  x-pack/qa/sql/src/main/resources/string-functions.sql-spec
Labels: :Search/SQL, >enhancement, v6.4.0, v7.0.0

#32509 Core: Minor size reduction for AbstractComponent
  server/src/main/java/org/elasticsearch/common/component/AbstractComponent.java
  server/src/main/java/org/elasticsearch/common/component/AbstractLifecycleComponent.java
  server/src/main/java/org/elasticsearch/common/logging/ESLoggerFactory.java
  server/src/test/java/org/elasticsearch/cluster/service/ClusterApplierServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
Labels: :Core/Core, review, v6.5.0, v7.0.0

#32541 [ML] Fix thread leak when waiting for job flush (#32196)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectCommunicator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutoDetectResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/FlushListener.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectCommunicatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutoDetectResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/FlushListenerTests.java
Labels: :ml, >bug, v6.5.0, v7.0.0

#31441 Scripting: Conditionally use java time api in scripting
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  docs/build.gradle
  docs/painless/painless-getting-started.asciidoc
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
  modules/lang-painless/build.gradle
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/spi/org.elasticsearch.txt
  modules/lang-painless/src/test/resources/rest-api-spec/test/painless/20_scriptfield.yml
  modules/lang-painless/src/test/resources/rest-api-spec/test/painless/50_script_doc_values.yml
  server/src/main/java/org/elasticsearch/index/fielddata/ScriptDocValues.java
  server/src/main/java/org/elasticsearch/script/ScriptModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/values/ScriptDoubleValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/values/ScriptLongValues.java
  server/src/test/java/org/elasticsearch/index/fielddata/ScriptDocValuesDatesTests.java
  server/src/test/java/org/elasticsearch/search/fields/SearchFieldsIT.java
Labels: :Core/Scripting, >deprecation, v6.5.0, v7.0.0

#32525 Painless: Clean Up PainlessField
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessField.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubField.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/PainlessDocGenerator.java
Labels: :Core/Scripting, >refactoring, v6.5.0, v7.0.0

#32548 [ML] Improve error for functions with limited rule condition support
  x-pack/docs/en/rest-api/ml/jobresource.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/DetectorTests.java
Labels: :ml, >bug, >non-issue, review, v6.4.0, v6.5.0, v7.0.0

#32550 [ML] Improve error when no available field exists for rule scope
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/RuleScope.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/RuleScopeTests.java
Labels: :ml, >bug, >non-issue, review, v6.4.0, v6.5.0, v7.0.0

#32522 Clarify the error message when a pipeline agg is used in the 'order' parameter.
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationPath.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
Labels: :Search/Aggregations, >non-issue, v6.5.0, v7.0.0

#32549 Build: Add elastic maven to repos used by BuildPlugin
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
Labels: :Core/Build, >bug, v6.4.1, v6.5.0, v7.0.0

#32551 [ML] Rename JobProvider to JobResultsProvider
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteCalendarAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteCalendarEventAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportForecastJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetBucketsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetCalendarEventsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetCalendarsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetCategoriesAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetInfluencersAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetJobsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetModelSnapshotsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetRecordsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPostCalendarEventsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateCalendarJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutoDetectResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/ScoresUpdater.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/EstablishedMemUsageIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProviderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutoDetectResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/normalizer/ScoresUpdaterTests.java
Labels: :ml, >refactoring, v6.5.0, v7.0.0

#32496 [ML] Remove multiple_bucket_spans
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/AnalysisConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/AnalysisConfigTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/ProcessCtrl.java
Labels: :ml, >non-issue, review, v6.5.0, v7.0.0

#32501 Remove cluster state initial customs
  server/src/main/java/org/elasticsearch/cluster/ClusterModule.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplier.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterService.java
  server/src/main/java/org/elasticsearch/discovery/single/SingleNodeDiscovery.java
  server/src/main/java/org/elasticsearch/discovery/zen/ZenDiscovery.java
  server/src/main/java/org/elasticsearch/gateway/Gateway.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/plugins/ClusterPlugin.java
  server/src/test/java/org/elasticsearch/cluster/ClusterModuleTests.java
  server/src/test/java/org/elasticsearch/cluster/SimpleClusterStateIT.java
  server/src/test/java/org/elasticsearch/cluster/service/ClusterApplierServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/service/ClusterSerivceTests.java
  server/src/test/java/org/elasticsearch/discovery/single/SingleNodeDiscoveryTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/ZenDiscoveryUnitTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayServiceTests.java
  server/src/test/java/org/elasticsearch/node/ResponseCollectorServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  test/framework/src/main/java/org/elasticsearch/test/ClusterServiceUtils.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#32286 INGEST: Enable default pipelines
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/200_default_pipeline.yml
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequest.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequest.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/ingest/PipelineExecutionService.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIndicesThatCannotBeCreatedTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/elasticsearch/action/index/IndexRequestTests.java
Labels: :Core/Ingest, >enhancement, review, v6.5.0, v7.0.0

#32519 fixed elements in array of produced terms
  docs/reference/analysis/charfilters/pattern-replace-charfilter.asciidoc
Labels: :Search/Analysis, >docs

#32518 Make index.lifecycle.name setting internal
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/LifecycleSettings.java
  x-pack/plugin/index-lifecycle/src/test/java/org/elasticsearch/xpack/indexlifecycle/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/index_lifecycle/10_basic.yml
Labels: :Core/ILM

#32533 [Rollup] Remove builders from HistoGroupConfig
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/GroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/HistogramGroupConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/ConfigTestHelpers.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/HistogramGroupConfigSerializingTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtilTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/config/ConfigTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/IndexerUtilsTests.java
Labels: :Search/Rollup, >refactoring, review, v6.5.0, v7.0.0

#32591 INGEST: Enable default pipelines (#32286)
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/200_default_pipeline.yml
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequest.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequest.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/ingest/PipelineExecutionService.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIndicesThatCannotBeCreatedTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/elasticsearch/action/index/IndexRequestTests.java
Labels: :Core/Ingest, >enhancement

#32565 Painless: Move Some Lookup Logic to PainlessLookup
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Compiler.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessExplainError.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ScriptClassInfo.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/antlr/EnhancedPainlessLexer.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookup.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EExplicit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EFunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EInstanceof.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ELambda.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EListInit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EMapInit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewArray.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewObj.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EStatic.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PCallInvoke.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PField.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubListShortcut.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubMapShortcut.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SCatch.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SDeclaration.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SEach.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SFunction.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SSubEachIterable.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/OverloadTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/PainlessDocGenerator.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/RegexTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/node/NodeToStringTests.java
Labels: :Core/Scripting, >refactoring, v6.5.0, v7.0.0

#32573 SQL: Minor fix for javadoc
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionUtils.java
Labels: :Search/SQL, >bug, v6.5.0, v7.0.0

#32206 Add cluster UUID to Cluster Stats API response
  docs/reference/cluster/stats.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/cluster.stats/10_basic.yml
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/TransportClusterStatsAction.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
Labels: :Core/Stats, >enhancement, review, v6.4.0, v7.0.0

#32596 HLRC: Move commercial clients from XPackClient
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/XPackClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/WatcherIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/LicensingDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/WatcherDocumentationIT.java
Labels: :Core/Java High Level REST Client, >bug, v6.4.0, v7.0.0

#32442 Fix race between replica reset and primary promotion
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShardOperationPermits.java
  server/src/main/java/org/elasticsearch/index/shard/PrimaryReplicaSyncer.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportShardBulkActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportWriteActionTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardStateIT.java
  server/src/test/java/org/elasticsearch/index/replication/IndexLevelReplicationTests.java
  server/src/test/java/org/elasticsearch/index/replication/RecoveryDuringReplicationTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardOperationPermitsTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexingOperationListenerTests.java
  server/src/test/java/org/elasticsearch/index/shard/PrimaryReplicaSyncerTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoveryTests.java
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
Labels: :Distributed/Distributed, >bug, v6.4.0, v6.5.0, v7.0.0

#32428 Tests: Add rolling upgrade tests for watcher
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/WatcherRestartIT.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/60_watcher.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/60_watcher.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/60_watcher.yml
Labels: :Core/Watcher, >test, review, v7.0.0

#32536 [Rollup] Remove builders from MetricConfig
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/MetricConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/RollupJobConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/ConfigTestHelpers.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/MetricConfigSerializingTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtilTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupRequestTranslationTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/config/ConfigTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/IndexerUtilsTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerIndexingTests.java
Labels: :Search/Rollup, >refactoring, review, v6.5.0, v7.0.0

#32495 [ML] Add Detector config classes to protocol library
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/DefaultDetectorDescription.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/DetectionRule.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/Detector.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/DetectorFunction.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/FilterRef.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/MlFilter.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/Operator.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/RuleAction.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/RuleCondition.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/RuleScope.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/package-info.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/DetectionRuleTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/DetectorTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/FilterRefTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/MlFilterTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/RuleConditionTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/RuleScopeTests.java
Labels: :ml, >non-issue, review, v6.5.0, v7.0.0

#32555 [Rollup] Remove builders from DateHistogramGroupConfig
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/DateHistogramGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/GroupConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/ConfigTestHelpers.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/DateHistogramGroupConfigSerializingTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtils.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupRequestTranslator.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportRollupSearchAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/IndexerUtils.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupIndexer.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtilTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/config/ConfigTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/IndexerUtilsTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerIndexingTests.java
Labels: :Search/Rollup, >refactoring, review, v6.5.0, v7.0.0

#32504 Core: Move helper date formatters over to java time
  server/src/main/java/org/elasticsearch/action/admin/cluster/allocation/ClusterAllocationExplanation.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexGraveyard.java
  server/src/main/java/org/elasticsearch/cluster/routing/UnassignedInfo.java
  server/src/main/java/org/elasticsearch/common/Table.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestShardsAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestSnapshotAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestTasksAction.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramTests.java
Labels: :Core/Core, >non-issue, >refactoring, review, v7.0.0

#32488 [TEST] Split transport verification mode none tests
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/transport/netty4/SecurityNetty4TransportTests.java
Labels: :Security/Network, >test, v6.5.0, v7.0.0

#32502 [ML] Add some ML config classes to protocol library
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/AnalysisLimits.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/CategorizationAnalyzerConfig.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/DataDescription.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/ModelPlotConfig.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/AnalysisLimitsTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/CategorizationAnalyzerConfigTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/DataDescriptionTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/ModelPlotConfigTests.java
Labels: :ml, >non-issue, review, v6.5.0, v7.0.0

#32350 Introduce CCR stats endpoint
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/CcrStatsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/FollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardChangesAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportCcrStatsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/BulkShardOperationsResponse.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/TransportBulkShardOperationsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestCcrStatsAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/ShardChangesIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesResponseTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskRandomTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskStatusTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskReplicationTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/ccr.stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ccr/stats.yml
Labels: :Distributed/CCR, >enhancement, review

#31743 ingest: move Dot Expander Processor doc to correct alpha sorted position
  docs/reference/ingest/ingest-node.asciidoc
Labels: :Core/Ingest, >docs

#32558 [Rollup] Improve ID scheme for rollup documents
  x-pack/docs/en/rest-api/rollup/get-job.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/RollupJobStatus.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/JobWrapperSerializingTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/RollupJobStatusTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/Rollup.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportRollupSearchAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/IndexerUtils.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupIDGenerator.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupIndexer.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupJobTask.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/PutJobStateMachineTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/IndexerUtilsTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerIndexingTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerStateTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupJobTaskTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/rollup/delete_job.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/rollup/get_jobs.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/rollup/put_job.yml
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RollupIDUpgradeIT.java
Labels: :Search/Rollup, review, v6.4.0, v6.5.0, v7.0.0

#32543 Suppress Wildfly test in FIPS JVMs
  qa/wildfly/build.gradle
Labels: :Security/Security, >test, v6.3.3, v6.4.1, v6.5.0, v7.0.0

#32613 Suppress LicensingDocumentationIT.testPutLicense in release builds
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/LicensingDocumentationIT.java
Labels: :Core/Java High Level REST Client, >test-failure

#32587 [ML] Add ML result classes to protocol library
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/results/AnomalyCause.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/results/AnomalyRecord.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/results/Bucket.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/results/BucketInfluencer.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/results/CategoryDefinition.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/results/Influence.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/results/Influencer.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/results/OverallBucket.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/results/Result.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/results/AnomalyCauseTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/results/AnomalyRecordTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/results/BucketInfluencerTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/results/BucketTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/results/CategoryDefinitionTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/results/InfluenceTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/results/InfluencerTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/results/OverallBucketTests.java
Labels: :ml, >non-issue, review, v6.5.0, v7.0.0

#32599 Painless: Use LocalMethod Map For Lookup at Runtime
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Compiler.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/DefBootstrap.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Locals.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/WriterConstants.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ECallLocal.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EFunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ELambda.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SFunction.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SSource.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/DefBootstrapTests.java
Labels: :Core/Scripting, >refactoring, v6.5.0, v7.0.0

#32611 Adds ckb to the list of unsupported languages
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/kerberos/KerberosTestCase.java
Labels: :Security/Authentication, >test-failure, v6.5.0, v7.0.0

#32607 [TEST] Allow tests to run in FIPS JVM
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransportTests.java
Labels: :Security/Network, >test, v6.5.0, v7.0.0

#32608 Cross-cluster search: preserve cluster alias in shard failures
  server/src/main/java/org/elasticsearch/ExceptionsHelper.java
  server/src/main/java/org/elasticsearch/action/search/ShardSearchFailure.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardException.java
  server/src/main/java/org/elasticsearch/search/SearchShardTarget.java
  server/src/test/java/org/elasticsearch/ExceptionsHelperTests.java
  server/src/test/java/org/elasticsearch/action/search/ShardSearchFailureTests.java
  server/src/test/java/org/elasticsearch/rest/action/RestActionsTests.java
Labels: :Search/Search, >bug, review, v6.4.1, v7.0.0

#32630 Avoid NPE on shard changes action
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardChangesAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesActionTests.java
Labels: :Distributed/CCR, >bug, review

#32616 LOGGING: Upgrade to Log4J 2.11.1
  buildSrc/version.properties
  docs/java-api/index.asciidoc
  plugins/repository-hdfs/build.gradle
  plugins/repository-hdfs/licenses/log4j-slf4j-impl-2.11.1.jar.sha1
  plugins/repository-hdfs/licenses/log4j-slf4j-impl-2.9.1.jar.sha1
  server/build.gradle
  server/licenses/log4j-1.2-api-2.11.1.jar.sha1
  server/licenses/log4j-1.2-api-2.9.1.jar.sha1
  server/licenses/log4j-api-2.11.1.jar.sha1
  server/licenses/log4j-api-2.9.1.jar.sha1
  server/licenses/log4j-core-2.11.1.jar.sha1
  server/licenses/log4j-core-2.9.1.jar.sha1
  server/src/test/java/org/elasticsearch/common/logging/LoggersTests.java
  test/logger-usage/build.gradle
  x-pack/plugin/security/licenses/log4j-slf4j-impl-2.11.1.jar.sha1
  x-pack/plugin/security/licenses/log4j-slf4j-impl-2.9.1.jar.sha1
  x-pack/plugin/sql/sql-action/build.gradle
  x-pack/plugin/sql/sql-action/licenses/log4j-api-2.11.1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/log4j-api-2.9.1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/log4j-core-2.11.1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/log4j-core-2.9.1.jar.sha1
Labels: :Core/Logging, >upgrade, v5.6.11, v6.4.0, v6.5.0, v7.0.0

#32438 Rest HL client: Add get license action
  client/rest-high-level/src/main/java/org/elasticsearch/client/LicenseClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/LicensingDocumentationIT.java
  docs/java-rest/high-level/licensing/get-license.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/GetLicenseRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/GetLicenseRequestBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicensingClient.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/RestGetLicenseAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/TransportGetLicenseAction.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/license/GetLicenseRequest.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/license/GetLicenseResponse.java
Labels: :Core/Java High Level REST Client, >enhancement, v6.5.0, v7.0.0

#32246 [Zen2] Introduce gossip-like discovery of master nodes
  server/src/main/java/org/elasticsearch/cluster/coordination/PeersResponse.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/discovery/PeerFinder.java
  server/src/main/java/org/elasticsearch/discovery/PeersRequest.java
  server/src/test/java/org/elasticsearch/cluster/coordination/DeterministicTaskQueue.java
  server/src/test/java/org/elasticsearch/cluster/coordination/DeterministicTaskQueueTests.java
  server/src/test/java/org/elasticsearch/discovery/PeerFinderMessagesTests.java
  server/src/test/java/org/elasticsearch/discovery/PeerFinderTests.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#32597 Remove ILM constructor hacks
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/IndicesAliasesResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/ResizeResponse.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkSetAliasStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkStepTests.java
Labels: :Core/ILM

#32559 Remove RolloverIndexTestHelper
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/Condition.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/RolloverRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/RolloverResponse.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/action/admin/indices/rollover/RolloverIndexTestHelper.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/RolloverStepTests.java
Labels: :Core/ILM

#32557 Remove UpdateSettingsTestHelper class
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsResponse.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsTestHelper.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/SetSingleNodeAllocateStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/UpdateSettingsStepTests.java
Labels: :Core/ILM

#32376 [Docs] Light edit to docker content
  docs/reference/setup/install/docker.asciidoc
Labels: :Core/Packaging, >docs, review

#32638 Networking+Testing: Fix Netty ByteBuf Leaks in Test Code
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4BadRequestTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpRequestSizeLimitIT.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerPipeliningTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4PipeliningEnabledIT.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
Labels: :Core/Network, >test-failure, v6.4.0

#32625 Adding xpack.core.ml.datafeed to protocol.xpack.ml.datafeed
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/datafeed/ChunkingConfig.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/datafeed/DatafeedConfig.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/datafeed/DatafeedUpdate.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/datafeed/ChunkingConfigTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/datafeed/DatafeedConfigTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/datafeed/DatafeedUpdateTests.java
Labels: :ml, >non-issue, review, v6.5.0, v7.0.0

#32578 INGEST: Fix ThreadWatchDog Throwing on Shutdown
  libs/grok/src/main/java/org/elasticsearch/grok/ThreadWatchdog.java
  libs/grok/src/test/java/org/elasticsearch/grok/ThreadWatchdogTests.java
Labels: :Core/Ingest, >test-failure, v6.5.0, v7.0.0

#32634 Fix a small typo error
  docs/reference/query-dsl/query-string-syntax.asciidoc
Labels: :Search/Search, >docs

#32521 change default indices.lifecycle.poll_interval to something sane
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/LifecycleSettings.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/TimeSeriesLifecycleActionsIT.java
Labels: :Core/ILM, >non-issue

#32649 Docs: Allow snippets to have line continuation
  buildSrc/src/main/groovy/org/elasticsearch/gradle/doc/SnippetsTask.groovy
Labels: :Docs, >enhancement, v6.5.0, v7.0.0

#32632 Fix content type detection with leading whitespace
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentFactory.java
  server/src/test/java/org/elasticsearch/common/xcontent/XContentFactoryTests.java
Labels: :Core/Core, >bug, review, v5.6.11, v6.4.0, v6.5.0, v7.0.0

#32656 LOGGING: Upgrade to Log4J 2.11.1 (#32616)
  buildSrc/version.properties
  docs/java-api/index.asciidoc
  plugins/repository-hdfs/build.gradle
  plugins/repository-hdfs/licenses/log4j-slf4j-impl-2.11.1.jar.sha1
  plugins/repository-hdfs/licenses/log4j-slf4j-impl-2.9.1.jar.sha1
  server/build.gradle
  server/licenses/log4j-1.2-api-2.11.1.jar.sha1
  server/licenses/log4j-1.2-api-2.9.1.jar.sha1
  server/licenses/log4j-api-2.11.1.jar.sha1
  server/licenses/log4j-api-2.9.1.jar.sha1
  server/licenses/log4j-core-2.11.1.jar.sha1
  server/licenses/log4j-core-2.9.1.jar.sha1
  server/src/test/java/org/elasticsearch/common/logging/LoggersTests.java
  test/logger-usage/build.gradle
  x-pack/plugin/security/licenses/log4j-slf4j-impl-2.11.1.jar.sha1
  x-pack/plugin/security/licenses/log4j-slf4j-impl-2.9.1.jar.sha1
  x-pack/plugin/sql/sql-action/build.gradle
  x-pack/plugin/sql/sql-action/licenses/log4j-api-2.11.1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/log4j-api-2.9.1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/log4j-core-2.11.1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/log4j-core-2.9.1.jar.sha1
Labels: :Core/Logging, >upgrade

#32658 INGEST: Fix ThreadWatchDog Throwing on Shutdown (#32578)
  libs/grok/src/main/java/org/elasticsearch/grok/ThreadWatchdog.java
  libs/grok/src/test/java/org/elasticsearch/grok/ThreadWatchdogTests.java
Labels: :Core/Ingest, >bug

#32614 [Rollup] Remove builders from GroupConfig
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupJobCaps.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/DateHistogramGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/GroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/HistogramGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/RollupJobConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/TermsGroupConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/ConfigTestHelpers.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/GroupConfigSerializingTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/IndexerUtils.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupIndexer.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtilTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/config/ConfigTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/IndexerUtilsTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerIndexingTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerStateTests.java
Labels: :Search/Rollup, >refactoring, review, v6.5.0, v7.0.0

#32665 Tests: Fix Typo Causing Flaky Settings Test
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsRequestStreamableTests.java
Labels: :Core/Settings, >test-failure, v6.5.0, v7.0.0

#32655 Add space after period
  docs/reference/setup/important-settings/node-name.asciidoc
Labels: >docs, >enhancement, v6.2.0, v6.3.0, v7.0.0

#31917 Ignore script fields when size is 0
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
Labels: :Search/Search, >enhancement

#32668 LOGGING: Upgrade to Log4J 2.11.1 (#32616)
  buildSrc/version.properties
  docs/java-api/index.asciidoc
  plugins/repository-hdfs/build.gradle
  plugins/repository-hdfs/licenses/log4j-slf4j-impl-2.11.1.jar.sha1
  plugins/repository-hdfs/licenses/log4j-slf4j-impl-2.9.1.jar.sha1
  server/build.gradle
  server/licenses/log4j-1.2-api-2.11.1.jar.sha1
  server/licenses/log4j-1.2-api-2.9.1.jar.sha1
  server/licenses/log4j-api-2.11.1.jar.sha1
  server/licenses/log4j-api-2.9.1.jar.sha1
  server/licenses/log4j-core-2.11.1.jar.sha1
  server/licenses/log4j-core-2.9.1.jar.sha1
  server/src/test/java/org/elasticsearch/common/logging/LoggersTests.java
  test/logger-usage/build.gradle
  x-pack/plugin/security/licenses/log4j-slf4j-impl-2.11.1.jar.sha1
  x-pack/plugin/security/licenses/log4j-slf4j-impl-2.9.1.jar.sha1
  x-pack/plugin/sql/sql-action/build.gradle
  x-pack/plugin/sql/sql-action/licenses/log4j-api-2.11.1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/log4j-api-2.9.1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/log4j-core-2.11.1.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/log4j-core-2.9.1.jar.sha1
Labels: :Core/Logging, >upgrade

#32251 Include translog path in error message when translog is corrupted
  server/src/main/java/org/elasticsearch/index/translog/BaseTranslogReader.java
  server/src/main/java/org/elasticsearch/index/translog/BufferedChecksumStreamInput.java
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogCorruptedException.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogHeader.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogWriter.java
  server/src/main/java/org/elasticsearch/index/translog/TruncatedTranslogException.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTranslogOperationsRequest.java
  server/src/test/java/org/elasticsearch/index/store/CorruptedTranslogIT.java
  server/src/test/java/org/elasticsearch/index/translog/TestTranslog.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
  server/src/test/java/org/elasticsearch/index/translog/TruncateTranslogIT.java
Labels: :Distributed/Distributed, >enhancement, v6.4.0, v7.0.0

#32671 Tests: Fix Typo Causing Flaky Settings Test (#32665)
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsRequestStreamableTests.java
Labels: :Core/Core, >test-failure

#32643 [Zen2] Add HandshakingTransportAddressConnector
  server/src/main/java/org/elasticsearch/discovery/HandshakingTransportAddressConnector.java
  server/src/test/java/org/elasticsearch/discovery/HandshakingTransportAddressConnectorTests.java
  test/framework/src/main/java/org/elasticsearch/test/transport/CapturingTransport.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#32642 [Zen2] Add UnicastConfiguredHostsResolver
  server/src/main/java/org/elasticsearch/discovery/UnicastConfiguredHostsResolver.java
  server/src/test/java/org/elasticsearch/discovery/UnicastConfiguredHostsResolverTests.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#32584 Zen2: Cluster state publication pipeline
  server/src/main/java/org/elasticsearch/cluster/coordination/Publication.java
  server/src/main/java/org/elasticsearch/cluster/coordination/PublishResponse.java
  server/src/main/java/org/elasticsearch/cluster/coordination/PublishWithJoinResponse.java
  server/src/main/java/org/elasticsearch/cluster/coordination/TermVersionResponse.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinationStateTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/MessagesTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PublicationTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/PublishClusterStateActionTests.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#32667 Verify primary mode usage with assertions
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: :Distributed/CRUD, >enhancement, v6.5.0, v7.0.0

#32242 [Zen2] Randomized testing of CoordinationState
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationState.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinationStateTests.java
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#32615 Add temporary directory cleanup workarounds
  distribution/packages/src/common/systemd/elasticsearch.service
  docs/reference/setup/important-settings.asciidoc
  docs/reference/setup/important-settings/es-tmpdir.asciidoc
  qa/vagrant/src/test/resources/packaging/tests/60_systemd.bats
  qa/vagrant/src/test/resources/packaging/tests/module_and_plugin_test_cases.bash
  qa/vagrant/src/test/resources/packaging/utils/utils.bash
Labels: :Core/Packaging, >bug, blocker, v6.4.0, v6.5.0, v7.0.0

#32669 [Rollup] Remove builders from RollupJobConfig
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/GetRollupJobsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/PutRollupJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/MetricConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/RollupJob.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/RollupJobConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/ConfigTestHelpers.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/JobWrapperSerializingTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/RollupJobConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/RollupJobTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/RollupIndexCaps.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/rest/RestPutRollupJobAction.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtilTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupRequestTranslationTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/GetJobsActionRequestTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/GetRollupCapsActionRequestTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/GetRollupIndexCapsActionRequestTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/PutJobActionRequestTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/PutJobStateMachineTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/RollupIndexCapsTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/TransportTaskHelperTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/config/ConfigTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerIndexingTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerStateTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupJobTaskTests.java
Labels: :Search/Rollup, >refactoring, review, v6.5.0, v7.0.0

#32620 Reduce connections used by MockNioTransport
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
  test/framework/src/test/java/org/elasticsearch/transport/nio/SimpleMockNioTransportTests.java
Labels: :Core/Network, >non-issue, review, v7.0.0

#32659 Expose whether or not the global checkpoint updated
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
Labels: :Distributed/Distributed, review, v6.5.0, v7.0.0

#32644 Painless: Clean up FunctionRef
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/MethodWriter.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessClass.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessClassBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookup.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ECapturingFunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EFunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ELambda.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FunctionRefTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/LambdaTests.java
Labels: :Core/Scripting, >refactoring, v6.5.0, v7.0.0

#30284 serialize suggestion responses as named writeables
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  docs/reference/release-notes/7.0.0-alpha1.asciidoc
  plugins/examples/custom-suggester/build.gradle
  plugins/examples/custom-suggester/src/main/java/org/elasticsearch/example/customsuggester/CustomSuggester.java
  plugins/examples/custom-suggester/src/main/java/org/elasticsearch/example/customsuggester/CustomSuggesterPlugin.java
  plugins/examples/custom-suggester/src/main/java/org/elasticsearch/example/customsuggester/CustomSuggestion.java
  plugins/examples/custom-suggester/src/main/java/org/elasticsearch/example/customsuggester/CustomSuggestionBuilder.java
  plugins/examples/custom-suggester/src/main/java/org/elasticsearch/example/customsuggester/CustomSuggestionContext.java
  plugins/examples/custom-suggester/src/test/java/org/elasticsearch/example/customsuggester/CustomSuggesterClientYamlTestSuiteIT.java
  plugins/examples/custom-suggester/src/test/resources/rest-api-spec/test/custom-suggester/10_basic.yml
  plugins/examples/custom-suggester/src/test/resources/rest-api-spec/test/custom-suggester/20_suggest.yml
  server/src/main/java/org/elasticsearch/plugins/SearchPlugin.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/internal/InternalSearchResponse.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchResult.java
  server/src/main/java/org/elasticsearch/search/suggest/Suggest.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/CompletionSuggestion.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/CompletionSuggestionBuilder.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/PhraseSuggester.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/PhraseSuggestion.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/PhraseSuggestionBuilder.java
  server/src/main/java/org/elasticsearch/search/suggest/term/TermSuggestion.java
  server/src/main/java/org/elasticsearch/search/suggest/term/TermSuggestionBuilder.java
  server/src/test/java/org/elasticsearch/search/SearchModuleTests.java
  server/src/test/java/org/elasticsearch/search/suggest/CustomSuggester.java
  server/src/test/java/org/elasticsearch/search/suggest/CustomSuggesterSearchIT.java
  server/src/test/java/org/elasticsearch/search/suggest/SuggestTests.java
  server/src/test/java/org/elasticsearch/search/suggest/SuggestionEntryTests.java
  server/src/test/java/org/elasticsearch/search/suggest/SuggestionOptionTests.java
  server/src/test/java/org/elasticsearch/search/suggest/SuggestionTests.java
Labels: :Search/Suggesters, >feature, v6.4.0, v7.0.0

#32621 Use nio driven http client for testing
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/Netty4HttpClient.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpClient.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpServerTransportTests.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioPipeliningIT.java
Labels: :Core/Network, >non-issue, review, v7.0.0

#32677 Preserve index_uuid when creating QueryShardException
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolateQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/IndexFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardException.java
  server/src/test/java/org/elasticsearch/index/query/QueryShardContextTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryShardExceptionTests.java
  server/src/test/java/org/elasticsearch/index/query/WildcardQueryBuilderTests.java
Labels: :Search/Search, >enhancement, v6.4.1, v6.5.0, v7.0.0

#32640 Prevent cause from being null in ShardOperationFailedException
  server/src/main/java/org/elasticsearch/ExceptionsHelper.java
  server/src/main/java/org/elasticsearch/action/ShardOperationFailedException.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/IndicesShardStoresResponse.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseExecutionException.java
  server/src/main/java/org/elasticsearch/action/search/ShardSearchFailure.java
  server/src/main/java/org/elasticsearch/action/support/DefaultShardOperationFailedException.java
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationResponse.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardFailure.java
  server/src/test/java/org/elasticsearch/ExceptionsHelperTests.java
  server/src/test/java/org/elasticsearch/action/ShardOperationFailedExceptionTests.java
  server/src/test/java/org/elasticsearch/rest/action/RestActionsTests.java
Labels: :Core/Core, >enhancement, review, v6.5.0, v7.0.0

#32670 CORE: Upgrade to Jackson 2.8.11
  buildSrc/version.properties
  client/sniffer/licenses/jackson-core-2.8.10.jar.sha1
  client/sniffer/licenses/jackson-core-2.8.11.jar.sha1
  libs/x-content/licenses/jackson-core-2.8.10.jar.sha1
  libs/x-content/licenses/jackson-core-2.8.11.jar.sha1
  libs/x-content/licenses/jackson-dataformat-cbor-2.8.10.jar.sha1
  libs/x-content/licenses/jackson-dataformat-cbor-2.8.11.jar.sha1
  libs/x-content/licenses/jackson-dataformat-smile-2.8.10.jar.sha1
  libs/x-content/licenses/jackson-dataformat-smile-2.8.11.jar.sha1
  libs/x-content/licenses/jackson-dataformat-yaml-2.8.10.jar.sha1
  libs/x-content/licenses/jackson-dataformat-yaml-2.8.11.jar.sha1
  plugins/ingest-geoip/licenses/jackson-annotations-2.8.10.jar.sha1
  plugins/ingest-geoip/licenses/jackson-annotations-2.8.11.jar.sha1
  plugins/ingest-geoip/licenses/jackson-databind-2.8.10.jar.sha1
  plugins/ingest-geoip/licenses/jackson-databind-2.8.11.jar.sha1
  x-pack/plugin/sql/jdbc/licenses/jackson-core-2.8.10.jar.sha1
  x-pack/plugin/sql/jdbc/licenses/jackson-core-2.8.11.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/jackson-core-2.8.10.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/jackson-core-2.8.11.jar.sha1
  x-pack/plugin/sql/sql-client/licenses/jackson-core-2.8.10.jar.sha1
  x-pack/plugin/sql/sql-client/licenses/jackson-core-2.8.11.jar.sha1
  x-pack/plugin/sql/sql-proto/licenses/jackson-core-2.8.10.jar.sha1
  x-pack/plugin/sql/sql-proto/licenses/jackson-core-2.8.11.jar.sha1
Labels: :Core/Core, >upgrade, v6.5.0, v7.0.0

#32706 Fixes suggestion generics
  server/src/main/java/org/elasticsearch/search/suggest/phrase/PhraseSuggestion.java
  server/src/test/java/org/elasticsearch/search/suggest/SuggestionEntryTests.java
  server/src/test/java/org/elasticsearch/search/suggest/SuggestionTests.java
Labels: :Search/Suggesters, >non-issue, review, v7.0.0

#32707 CORE: Upgrade to Jackson 2.8.11 (#32670)
  buildSrc/version.properties
  client/sniffer/licenses/jackson-core-2.8.10.jar.sha1
  client/sniffer/licenses/jackson-core-2.8.11.jar.sha1
  libs/x-content/licenses/jackson-core-2.8.10.jar.sha1
  libs/x-content/licenses/jackson-core-2.8.11.jar.sha1
  libs/x-content/licenses/jackson-dataformat-cbor-2.8.10.jar.sha1
  libs/x-content/licenses/jackson-dataformat-cbor-2.8.11.jar.sha1
  libs/x-content/licenses/jackson-dataformat-smile-2.8.10.jar.sha1
  libs/x-content/licenses/jackson-dataformat-smile-2.8.11.jar.sha1
  libs/x-content/licenses/jackson-dataformat-yaml-2.8.10.jar.sha1
  libs/x-content/licenses/jackson-dataformat-yaml-2.8.11.jar.sha1
  plugins/ingest-geoip/licenses/jackson-annotations-2.8.10.jar.sha1
  plugins/ingest-geoip/licenses/jackson-annotations-2.8.11.jar.sha1
  plugins/ingest-geoip/licenses/jackson-databind-2.8.10.jar.sha1
  plugins/ingest-geoip/licenses/jackson-databind-2.8.11.jar.sha1
  x-pack/plugin/sql/jdbc/licenses/jackson-core-2.8.10.jar.sha1
  x-pack/plugin/sql/jdbc/licenses/jackson-core-2.8.11.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/jackson-core-2.8.10.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/jackson-core-2.8.11.jar.sha1
  x-pack/plugin/sql/sql-client/licenses/jackson-core-2.8.10.jar.sha1
  x-pack/plugin/sql/sql-client/licenses/jackson-core-2.8.11.jar.sha1
  x-pack/plugin/sql/sql-proto/licenses/jackson-core-2.8.10.jar.sha1
  x-pack/plugin/sql/sql-proto/licenses/jackson-core-2.8.11.jar.sha1
Labels: :Core/Core, >upgrade

#32708 TESTS: Explicitly Fail Http Client Timeouts
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpClient.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpClient.java
Labels: :Core/Network, >test-failure, v6.5.0, v7.0.0

#32666 Whitelisting / from Circuit Breaker Exception (#32325)
  server/src/main/java/org/elasticsearch/rest/action/RestMainAction.java
Labels: :Core/Circuit Breakers, >enhancement

#32705 Fix role query that can match nested documents
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/SecurityIndexSearcherWrapper.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/integration/DocumentLevelSecurityTests.java
Labels: :Security/Authorization, >bug, v6.5.0, v7.0.0

#32687 Adding `Job` and `AnalysisConfig` for HLRC
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/AnalysisConfig.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/Job.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/process/DataCounts.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/process/ModelSizeStats.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/process/ModelSnapshot.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/util/TimeUtil.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/AnalysisConfigTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/job/config/JobTests.java
Labels: :ml, >non-issue, review, v6.5.0, v7.0.0

#32523 move replicas action functionality into AllocateAction
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/AllocateAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/AllocationRoutedStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ReplicasAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ReplicasAllocatedStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/TimeseriesLifecycleType.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/AllocateActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/AllocationRoutedStepInfoTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/AllocationRoutedStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ReplicasActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ReplicasAllocatedStepInfoTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ReplicasAllocatedStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/TimeseriesLifecycleTypeTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/TimeSeriesLifecycleActionsIT.java
Labels: :Core/ILM, >enhancement

#32713 [Zen2] Remove FutureExecutor interface
  server/src/main/java/org/elasticsearch/cluster/coordination/FutureExecutor.java
  server/src/main/java/org/elasticsearch/discovery/PeerFinder.java
  server/src/test/java/org/elasticsearch/cluster/coordination/DeterministicTaskQueue.java
  server/src/test/java/org/elasticsearch/cluster/coordination/DeterministicTaskQueueTests.java
  server/src/test/java/org/elasticsearch/discovery/PeerFinderTests.java
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#32689 Painless: Move More Logic to PainlessLookup
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookup.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupUtility.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EExplicit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EInstanceof.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EListInit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EMapInit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewArray.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewObj.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EStatic.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PCallInvoke.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PField.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubListShortcut.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubMapShortcut.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SCatch.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SDeclaration.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SEach.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SFunction.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SSubEachIterable.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/DefBootstrapTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/OverloadTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/WhenThingsGoWrongTests.java
Labels: :Core/Scripting, >refactoring, v6.5.0, v7.0.0

#32592 Core: Fix Java Time DateFormatter printers
  server/src/main/java/org/elasticsearch/common/time/CompoundDateTimeFormatter.java
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
Labels: :Core/Core, review, v6.5.0, v7.0.0

#32719 [ML] Job and datafeed mappings with index template
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/AnalysisConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/CategorizationAnalyzerConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/DataDescription.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/ModelPlotConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/AnomalyDetectorsIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/AnomalyDetectorsIndexFields.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappingsTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/license/MachineLearningLicensingTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/results/ReservedFieldNamesTests.java
Labels: :ml, >feature, review

#32606 Adds explain lifecycle API to the Rest Client
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/action/ExplainLifecycleAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/action/ExplainLifecycleResponseTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/RestExplainLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportExplainLifecycleAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/RandomStepInfo.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/40_explain_lifecycle.yml
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/indexlifecycle/ExplainLifecycleRequest.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/indexlifecycle/ExplainLifecycleResponse.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/indexlifecycle/IndexLifecycleExplainResponse.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/indexlifecycle/ExplainLifecycleRequestTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/indexlifecycle/ExplainLifecycleResponseTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/indexlifecycle/IndexExplainResponseTests.java
Labels: :Core/ILM, review

#32730 Upgrade to Lucene-7.5.0-snapshot-13b9e28f9d
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-7.5.0-snapshot-13b9e28f9d.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-7.5.0-snapshot-608f0277b0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.5.0-snapshot-608f0277b0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.5.0-snapshot-608f0277b0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.5.0-snapshot-608f0277b0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.5.0-snapshot-608f0277b0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.5.0-snapshot-608f0277b0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.5.0-snapshot-608f0277b0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-analyzers-common-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-analyzers-common-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-backward-codecs-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-backward-codecs-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-core-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-core-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-grouping-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-grouping-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-highlighter-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-highlighter-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-join-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-join-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-memory-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-memory-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-misc-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-misc-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-queries-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-queries-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-queryparser-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-queryparser-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-sandbox-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-sandbox-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-spatial-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-spatial-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-spatial-extras-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-spatial-extras-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-spatial3d-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-spatial3d-7.5.0-snapshot-608f0277b0.jar.sha1
  server/licenses/lucene-suggest-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-suggest-7.5.0-snapshot-608f0277b0.jar.sha1
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/bucketsort/BucketSortPipelineAggregator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/overallbuckets/OverallBucketsProvider.java
  x-pack/plugin/sql/sql-action/licenses/lucene-core-7.5.0-snapshot-13b9e28f9d.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-7.5.0-snapshot-608f0277b0.jar.sha1
Labels: :Search/Search, >upgrade, v6.5.0, v7.0.0

#32604 SQL: Ignore H2 comparative tests for uppercasing/lowercasing string functions
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionProcessorTests.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/SqlSpecTestCase.java
  x-pack/qa/sql/src/main/resources/case-functions.sql-spec
  x-pack/qa/sql/src/main/resources/string-functions.sql-spec
Labels: :Search/SQL, v6.5.0, v7.0.0

#32576 SQL: Bug fix for the optional "start" parameter usage inside LOCATE function
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Locate.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/LocateFunctionProcessorDefinition.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/LocateFunctionProcessorDefinitionTests.java
Labels: :Search/SQL, >bug, v6.5.0, v7.0.0

#32731 Build: Add back setting artifact id of pom for rest high level client
  client/rest-high-level/build.gradle
Labels: :Core/Build, >bug, v6.4.0, v6.5.0, v7.0.0

#32609 Adds REST client support for starting and stopping ILM
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/IndexLifecycleMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/action/GetStatusAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/action/PutOperationModeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/action/StartILMAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/action/StopILMAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycle.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/OperationModeUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/RestStartILMAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/RestStopAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportGetStatusAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportStartILMAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportStopILMAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleMetadataTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/OperationModeUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistryTests.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/indexlifecycle/OperationMode.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/indexlifecycle/StartILMRequest.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/indexlifecycle/StopILMRequest.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/indexlifecycle/OperationModeTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/indexlifecycle/StartILMRequestTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/indexlifecycle/StopILMRequestTests.java
Labels: :Core/ILM, review

#32513 Core: Remove some logging constructors
  qa/evil-tests/src/test/java/org/elasticsearch/common/logging/EvilLoggerTests.java
  server/src/main/java/org/elasticsearch/bootstrap/Bootstrap.java
  server/src/main/java/org/elasticsearch/common/logging/ESLoggerFactory.java
  server/src/main/java/org/elasticsearch/common/logging/Loggers.java
  server/src/main/java/org/elasticsearch/index/analysis/ESSolrSynonymParser.java
  server/src/main/java/org/elasticsearch/index/analysis/ESWordnetSynonymParser.java
Labels: :Core/Logging, >non-issue, review, v6.5.0, v7.0.0

#31564 Add expected mapping type to `MapperException`
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
Labels: :Search/Mapping, >enhancement, v6.4.0, v7.0.0

#32302 Painless: Add an Ingest Script Processor Example
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  docs/painless/painless-contexts.asciidoc
  docs/painless/painless-contexts/index.asciidoc
  docs/painless/painless-contexts/painless-context-examples.asciidoc
  docs/painless/painless-contexts/painless-ingest-processor-context.asciidoc
  docs/painless/painless-keywords.asciidoc
  modules/lang-painless/src/test/java/org/elasticsearch/painless/ContextExampleTests.java
Labels: :Core/Scripting, >docs, v6.5.0, v7.0.0

#32693 move qa yaml tests to inside the ILM plugin
  x-pack/plugin/ilm/build.gradle
  x-pack/plugin/ilm/qa/build.gradle
  x-pack/plugin/ilm/qa/with-security/build.gradle
  x-pack/plugin/ilm/qa/with-security/src/test/java/org/elasticsearch/xpack/security/IndexLifecycleWithSecurityClientYamlTestSuiteIT.java
Labels: :Core/ILM

#32700 [TEST] Add "ne" as an unsupported SimpleKdc locale
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/kerberos/KerberosTestCase.java
Labels: :Security/Authentication, >test, review, v6.4.0, v6.5.0, v7.0.0

#32349 Add "authorizing_realms" support to SAML realm
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/saml/SamlRealmSettings.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/saml/SamlRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlRealmTests.java
  x-pack/qa/saml-idp-tests/build.gradle
  x-pack/qa/saml-idp-tests/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlAuthenticationIT.java
Labels: :Security/Authentication, :Security/Authorization, review

#32715 Java version reproduction
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  test/framework/src/main/java/org/elasticsearch/test/junit/listeners/ReproduceInfoPrinter.java
Labels: :Core/Build

#31821 Refactor TransportShardBulkAction to better support retries
  server/src/main/java/org/elasticsearch/action/bulk/BulkItemResultHolder.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkPrimaryExecutionContext.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportWriteAction.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkPrimaryExecutionContextTests.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkWithUpdatesIT.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportShardBulkActionTests.java
  server/src/test/java/org/elasticsearch/document/ShardInfoIT.java
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
Labels: :Distributed/CRUD, >enhancement

#32746 [DOCS] Add missing link to get license API docs
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, >docs, v6.5.0, v7.0.0

#32769 Move icu4j and super-csv version numbers to versions file
  buildSrc/version.properties
  plugins/analysis-icu/build.gradle
  x-pack/plugin/ml/build.gradle
Labels: :Search/Search, :ml, >non-issue, review, v6.5.0, v7.0.0

#32747 [DOCS] Adjust high-level client x-pack docs
  docs/java-rest/high-level/miscellaneous/x-pack-info.asciidoc
  docs/java-rest/high-level/miscellaneous/x-pack-usage.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  docs/java-rest/high-level/watcher/delete-watch.asciidoc
  docs/java-rest/high-level/watcher/put-watch.asciidoc
Labels: :Core/Java High Level REST Client, >docs, review, v6.5.0, v7.0.0

#32726 Adding ML HLRC wrapper and put_job API call
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/PutJobRequest.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/PutJobResponse.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/ml/job/config/Job.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/PutJobRequestTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/ml/PutJobResponseTests.java
Labels: :ml, review, v6.5.0, v7.0.0

#32403 Fix test reproducability in AbstractBuilderTestCase setup
  modules/parent-join/src/test/java/org/elasticsearch/join/query/HasChildQueryBuilderTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/HasParentQueryBuilderTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/ParentIdQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SimpleQueryStringBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
Labels: :Search/Search, >enhancement, >test, v6.4.0, v7.0.0

#32776 [ML-FIB] This is a temporary (squashed) commit of https://github.com/elastic/e…
  x-pack/docs/en/rest-api/rollup/get-job.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/IndexerJobStats.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/IndexerState.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/Iteration.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/IterativeIndexer.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/GetRollupJobsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/RollupJobStatus.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexing/IndexerJobStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexing/IndexerStateEnumTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexing/IterativeIndexerTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/JobWrapperSerializingTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/RollupJobStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/RollupJobStatusTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/IndexerUtils.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupIndexer.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupJobTask.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/IndexerUtilsTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerIndexingTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerStateTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupJobTaskTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/rollup/delete_job.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/rollup/get_jobs.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/rollup/put_job.yml
  x-pack/qa/multi-node/src/test/java/org/elasticsearch/multi_node/RollupIT.java
Labels: >feature

#32756 HLRC: Ban LoggingDeprecationHandler
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/resources/forbidden/rest-high-level-signatures.txt
  client/rest-high-level/src/test/java/org/elasticsearch/client/SyncedFlushResponseTests.java
Labels: :Core/Java High Level REST Client, >bug, review, v6.4.0, v6.5.0, v7.0.0

#32775 Tests: Disable rolling upgrade tests with system key on fips JVM
  x-pack/qa/rolling-upgrade/with-system-key/build.gradle
Labels: :Security/Security, >test, review

#32201 Access build tools resources
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/ExportElasticsearchBuildResourcesTask.java
  buildSrc/src/test/java/org/elasticsearch/gradle/ExportElasticsearchBuildResourcesTaskIT.java
  buildSrc/src/test/java/org/elasticsearch/gradle/test/GradleIntegrationTestCase.java
  buildSrc/src/testKit/elasticsearch-build-resources/build.gradle
Labels: :Core/Build, v6.5.0, v7.0.0

#32720 [ML] Refactor ProcessCtrl into Autodetect and Normalizer builders
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/NativeController.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/ProcessBuilderUtils.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/ProcessCtrl.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/NativeAutodetectProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/NativeNormalizerProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/NormalizerBuilder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/ProcessCtrlTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/ProcessPipesTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/normalizer/NormalizerBuilderTests.java
Labels: :ml, >refactoring, review, v6.5.0, v7.0.0

#32753 [TEST] Certificate NONE not allowed in FIPS JVM
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterSslIT.java
Labels: :Security/Security, >test-failure, v6.4.1, v6.5.0, v7.0.0

#32754 Painless: Clean up PainlessCast
  modules/lang-painless/src/main/java/org/elasticsearch/painless/AnalyzerCaster.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/MethodWriter.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessCast.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ECast.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/AnalyzerCasterTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/node/NodeToStringTests.java
Labels: :Core/Scripting, >refactoring, v6.5.0, v7.0.0

#32755 Clear Job#finished_time when it is opened (#32605)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/qa/ml-native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ReopenJobResetsFinishedTimeIT.java
Labels: :ml, >bug, review, v6.5.0, v7.0.0

#32510 Cat apis: Fix index creation time to use strict date format
  server/src/main/java/org/elasticsearch/rest/action/cat/RestIndicesAction.java
Labels: :Core/CAT APIs, >bug, v6.4.1, v6.5.0, v7.0.0

#32791 Painless: Clean Up Whitelist Names
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/Whitelist.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/WhitelistClass.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/WhitelistConstructor.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/WhitelistField.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/WhitelistLoader.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/WhitelistMethod.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookup.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
Labels: :Core/Scripting, >refactoring, v6.5.0, v7.0.0

#32757 Make x-pack core pull transport-nio
  x-pack/plugin/core/build.gradle
Labels: :Security/Network, >non-issue, review, v7.0.0

#32076 Add a task to run forbiddenapis using cli
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/PrecommitTasks.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/StandaloneRestTestPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/ExportElasticsearchBuildResourcesTask.java
  buildSrc/src/test/java/org/elasticsearch/gradle/ExportElasticsearchBuildResourcesTaskIT.java
  buildSrc/src/testKit/elasticsearch-build-resources/build.gradle
Labels: :Core/Build, stalled

#32744 HLRC: migration get assistance API
  client/rest-high-level/src/main/java/org/elasticsearch/client/LicenseClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MigrationClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MigrationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MigrationClientDocumentationIT.java
  docs/java-rest/high-level/migration/get-assistance.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/upgrade/actions/IndexUpgradeInfoAction.java
  x-pack/plugin/upgrade/src/main/java/org/elasticsearch/xpack/upgrade/IndexUpgradeCheck.java
  x-pack/plugin/upgrade/src/main/java/org/elasticsearch/xpack/upgrade/IndexUpgradeService.java
  x-pack/plugin/upgrade/src/main/java/org/elasticsearch/xpack/upgrade/actions/TransportIndexUpgradeInfoAction.java
  x-pack/plugin/upgrade/src/main/java/org/elasticsearch/xpack/upgrade/rest/RestIndexUpgradeInfoAction.java
  x-pack/plugin/upgrade/src/test/java/org/elasticsearch/xpack/upgrade/IndexUpgradeIT.java
  x-pack/plugin/upgrade/src/test/java/org/elasticsearch/xpack/upgrade/IndexUpgradeServiceTests.java
  x-pack/plugin/upgrade/src/test/java/org/elasticsearch/xpack/upgrade/IndexUpgradeTasksIT.java
  x-pack/plugin/upgrade/src/test/java/org/elasticsearch/xpack/upgrade/actions/IndexUpgradeInfoActionRequestTests.java
  x-pack/plugin/upgrade/src/test/java/org/elasticsearch/xpack/upgrade/actions/IndexUpgradeInfoActionResponseTests.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/migration/IndexUpgradeInfoRequest.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/migration/IndexUpgradeInfoResponse.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/migration/UpgradeActionRequired.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/migration/package-info.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/migration/IndexUpgradeInfoRequestTests.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/migration/IndexUpgradeInfoResponseTests.java
Labels: :Core/Java High Level REST Client, >enhancement, review, v6.5.0, v7.0.0

#32771 bytes method on XContentBuilder removed
  docs/java-api/query-dsl/percolate-query.asciidoc
Labels: :Search/Percolator, >docs, v7.0.0

#32748 [ML] Partition-wise maximum scores
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/BucketInfluencerNormalizable.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/BucketNormalizable.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/InfluencerNormalizable.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/MultiplyingNormalizerProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/Normalizable.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/Normalizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/NormalizerResult.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/PartitionScoreNormalizable.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/RecordNormalizable.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/normalizer/BucketInfluencerNormalizableTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/normalizer/BucketNormalizableTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/normalizer/InfluencerNormalizableTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/normalizer/NormalizerResultTests.java
Labels: :ml, review, v6.5.0, v7.0.0

#32738 [ML] Job config document CRUD operations
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlSingleNodeTestCase.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/JobConfigProviderIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProviderTests.java
Labels: :ml, >feature, review

#32785 [ML][DOCS] Refer to rules feature as custom rules
  x-pack/docs/en/ml/detector-custom-rules.asciidoc
  x-pack/docs/en/rest-api/ml/filterresource.asciidoc
  x-pack/docs/en/rest-api/ml/get-filter.asciidoc
  x-pack/docs/en/rest-api/ml/jobresource.asciidoc
Labels: :ml, >non-issue, review, v6.4.0, v6.5.0, v7.0.0

#32787 [Rollup][Test] Force a stop to save rollup state before continuing
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Search/Rollup, >test, review, v6.4.0, v6.5.0, v7.0.0

#32814 Unmute WildFly tests in FIPS JVM
  qa/wildfly/build.gradle
  qa/wildfly/src/test/java/org/elasticsearch/wildfly/WildflyIT.java
Labels: :Security/Security, >test-failure, v6.4.1, v7.0.0

#32811 SCRIPTING: Support BucketAggScript return null
  modules/lang-expression/src/main/java/org/elasticsearch/script/expression/ExpressionScriptEngine.java
  server/src/main/java/org/elasticsearch/script/BucketAggregationScript.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/bucketscript/BucketScriptPipelineAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptIT.java
  test/framework/src/main/java/org/elasticsearch/script/MockScriptEngine.java
Labels: :Core/Scripting, >non-issue, v6.5.0, v7.0.0

#32812 Mute security-cli tests in FIPS JVM
  x-pack/plugin/security/cli/build.gradle
  x-pack/plugin/security/cli/src/test/java/org/elasticsearch/xpack/security/cli/TestSuiteCannotBeEmptyTests.java
Labels: :Security/Security, >test-failure, v6.4.0, v7.0.0

#31886 Remove client connections from TcpTransport
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4ScheduledPingTests.java
  server/src/main/java/org/elasticsearch/cluster/NodeConnectionsService.java
  server/src/main/java/org/elasticsearch/transport/CloseableConnection.java
  server/src/main/java/org/elasticsearch/transport/ConnectionManager.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterConnection.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/Transport.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsActionTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTookTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeActionTests.java
  server/src/test/java/org/elasticsearch/action/support/master/TransportMasterNodeActionTests.java
  server/src/test/java/org/elasticsearch/action/support/nodes/TransportNodesActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportWriteActionTests.java
  server/src/test/java/org/elasticsearch/action/support/single/instance/TransportInstanceSingleOperationActionTests.java
  server/src/test/java/org/elasticsearch/client/transport/FailAndRetryMockTransport.java
  server/src/test/java/org/elasticsearch/client/transport/TransportClientNodesServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterInfoServiceIT.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStateActionTests.java
  server/src/test/java/org/elasticsearch/cluster/health/ClusterStateHealthTests.java
  server/src/test/java/org/elasticsearch/discovery/DiscoveryDisruptionIT.java
  server/src/test/java/org/elasticsearch/discovery/zen/UnicastZenPingTests.java
  server/src/test/java/org/elasticsearch/index/seqno/GlobalCheckpointSyncActionTests.java
  server/src/test/java/org/elasticsearch/index/seqno/GlobalCheckpointSyncIT.java
  server/src/test/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/test/java/org/elasticsearch/index/store/ExceptionRetryIT.java
  server/src/test/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
  server/src/test/java/org/elasticsearch/indices/store/IndicesStoreIntegrationIT.java
  server/src/test/java/org/elasticsearch/recovery/RelocationIT.java
  server/src/test/java/org/elasticsearch/recovery/TruncatedRecoveryIT.java
  server/src/test/java/org/elasticsearch/transport/ConnectionManagerTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterConnectionTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
  test/framework/src/main/java/org/elasticsearch/test/transport/CapturingTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  test/framework/src/main/java/org/elasticsearch/test/transport/StubbableConnectionManager.java
  test/framework/src/main/java/org/elasticsearch/test/transport/StubbableTransport.java
Labels: :Core/Network, >enhancement, review, v6.4.0, v7.0.0

#32786 INGEST: Create Index Before Pipeline Execute
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
Labels: :Core/Ingest, >bug, v6.5.0, v7.0.0

#32586 HLRC: Add Delete License API
  client/rest-high-level/src/main/java/org/elasticsearch/client/LicenseClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/LicensingDocumentationIT.java
  docs/java-rest/high-level/licensing/delete-license.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/DeleteLicenseAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/DeleteLicenseRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/DeleteLicenseRequestBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/DeleteLicenseResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicensingClient.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/RestDeleteLicenseAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/TransportDeleteLicenseAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicensesManagerServiceTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicensesTransportTests.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/license/DeleteLicenseRequest.java
  x-pack/protocol/src/main/java/org/elasticsearch/protocol/xpack/license/DeleteLicenseResponse.java
  x-pack/protocol/src/test/java/org/elasticsearch/protocol/xpack/license/DeleteLicenseResponseTests.java
Labels: :Core/Java High Level REST Client, >enhancement, v6.5.0, v7.0.0

#32774 Aggregations/HL Rest client fix: missing scores
  client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/ParsedSignificantTerms.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantLongTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantStringTermsTests.java
Labels: :Core/Java High Level REST Client, :Search/Aggregations, >bug, v7.0.0

#32641 Core: Add java time version of rounding classes
  server/src/main/java/org/elasticsearch/common/Rounding.java
  server/src/main/java/org/elasticsearch/common/rounding/Rounding.java
  server/src/test/java/org/elasticsearch/common/RoundingTests.java
  server/src/test/java/org/elasticsearch/common/rounding/DateTimeUnitTests.java
  server/src/test/java/org/elasticsearch/common/rounding/RoundingDuelTests.java
Labels: :Core/Core, review, v7.0.0

#32833 SCRIPTING: Support BucketAggScript return null (#32811)
  modules/lang-expression/src/main/java/org/elasticsearch/script/expression/ExpressionScriptEngine.java
  server/src/main/java/org/elasticsearch/script/BucketAggregationScript.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/bucketscript/BucketScriptPipelineAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptIT.java
  test/framework/src/main/java/org/elasticsearch/script/MockScriptEngine.java
Labels: :Core/Scripting, >non-issue

#32841 MINOR: Remove `IndexTemplateFilter`
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexTemplateFilter.java
Labels: :Core/Index APIs, >refactoring, v6.5.0, v7.0.0

#32783 [ML-Dataframe] Feature/dataframe basictests
  docs/reference/rest-api/info.asciidoc
  x-pack/plugin/ml-feature-index-builder/build.gradle
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/FeatureIndexBuilder.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/action/PutFeatureIndexBuilderJobAction.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/action/TransportPutFeatureIndexBuilderJobAction.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/action/TransportStartFeatureIndexBuilderJobAction.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/job/FeatureIndexBuilderJob.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/job/FeatureIndexBuilderJobConfig.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/job/FeatureIndexBuilderJobState.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/job/FeatureIndexBuilderJobStatus.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/job/FeatureIndexBuilderJobTask.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/rest/action/RestPutFeatureIndexBuilderJobAction.java
  x-pack/plugin/ml-feature-index-builder/src/test/java/org/elasticsearch/xpack/ml/featureindexbuilder/action/PutFeatureIndexBuilderJobActionRequestTests.java
  x-pack/plugin/ml-feature-index-builder/src/test/java/org/elasticsearch/xpack/ml/featureindexbuilder/action/StartFeatureIndexBuilderJobActionTests.java
Labels: :ml, >feature, review, v7.0.0

#32837 [TEST] Select free port for Minio
  plugins/repository-s3/build.gradle
Labels: :Distributed/Snapshot/Restore, >test, v6.4.1, v6.5.0, v7.0.0

#32285 Watcher: migrate PagerDuty v1 events API to v2 API
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/actions/pagerduty/ExecutablePagerDutyAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/pagerduty/IncidentEvent.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/pagerduty/IncidentEventContext.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/pagerduty/PagerDutyAccount.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/pagerduty/PagerDutyActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/pagerduty/IncidentEventTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/pagerduty/PagerDutyAccountsTests.java
Labels: :Core/Watcher, >enhancement, v6.5.0, v7.0.0

#32300 Watcher: Remove extraneous auth classes
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookActionFactory.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/BasicAuth.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpClient.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpRequest.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpRequestTemplate.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/auth/ApplicableHttpAuth.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/auth/HttpAuth.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/auth/HttpAuthFactory.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/auth/HttpAuthRegistry.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/auth/basic/ApplicableBasicAuth.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/auth/basic/BasicAuthFactory.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/input/http/HttpInput.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/input/http/HttpInputFactory.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/email/attachment/HttpEmailAttachementParser.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/email/attachment/ReportingAttachment.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/email/attachment/ReportingAttachmentParser.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/jira/JiraAccount.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/email/EmailActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/jira/ExecutableJiraActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookHttpsIntegrationTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookIntegrationTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpClientTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpConnectionTimeoutTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpReadTimeoutTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpRequestTemplateTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpRequestTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/input/chain/ChainInputTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/input/http/HttpInputTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/email/attachment/HttpEmailAttachementParserTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/email/attachment/ReportingAttachmentParserTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/jira/JiraIssueTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/integration/HttpSecretsIntegrationTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/watch/WatchTests.java
Labels: :Core/Watcher, >refactoring, v6.5.0, v7.0.0

#32211 Watcher: Remove unused hipchat render method
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/hipchat/HipChatMessage.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/hipchat/HipChatAccountsTests.java
Labels: :Core/Watcher, >refactoring, v6.5.0, v7.0.0

#32817 Painless: Change fqn_only to no_import
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/WhitelistLoader.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/spi/org.elasticsearch.txt
Labels: :Core/Scripting, >refactoring, v6.5.0, v7.0.0

#32824 Test: Fix forbidden uses in test framework
  test/build.gradle
  test/fixtures/build.gradle
  test/framework/build.gradle
  test/framework/src/main/java/org/elasticsearch/indices/analysis/AnalysisFactoryTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/fixture/AbstractHttpFixture.java
  test/framework/src/main/java/org/elasticsearch/test/junit/listeners/ReproduceInfoPrinter.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/framework/src/main/java/org/elasticsearch/transport/MockTcpTransport.java
Labels: :Core/Build, >bug, v6.5.0, v7.0.0
