Repository elastic/elasticsearch, pull requests merged in 2018-05, with the labels that each got.

#30244 Bulk operation fail to replicate operations when a mapping update times out
  server/src/main/java/org/elasticsearch/action/bulk/MappingUpdatePerformer.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/elasticsearch/action/resync/TransportResyncReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportWriteAction.java
  server/src/main/java/org/elasticsearch/index/IndexingSlowLog.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/shard/InternalIndexingStats.java
  server/src/main/java/org/elasticsearch/indices/IndexingMemoryController.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportShardBulkActionTests.java
  server/src/test/java/org/elasticsearch/discovery/MasterDisruptionIT.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/replication/IndexLevelReplicationTests.java
  server/src/test/java/org/elasticsearch/index/replication/RecoveryDuringReplicationTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexingOperationListenerTests.java
  server/src/test/java/org/elasticsearch/index/shard/PrimaryReplicaSyncerTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetServiceTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoveryTests.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryRestoreTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/disruption/BlockMasterServiceOnMaster.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherIndexingListenerTests.java
Labels: :Distributed/CRUD, >bug, blocker, v5.6.10, v6.3.1, v6.4.0, v7.0.0

#30238 [CCR] Only normalize -1 seqno in shard changes request.
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java
Labels: :Distributed/CCR, >bug, review

#30260 Remove animal sniffer from REST client sniffer
  client/sniffer/build.gradle
  client/sniffer/src/test/java/org/elasticsearch/client/sniff/ElasticsearchHostsSnifferTests.java
Labels: :Core/Java Low Level REST Client, >test, v6.4.0, v7.0.0

#29676 Remove `Request.Params#flatSettings` leftover
  client/rest-high-level/src/main/java/org/elasticsearch/client/Request.java
Labels: :Core/Java High Level REST Client, >non-issue, v6.4.0, v7.0.0

#29675 Minor DocWriteResponse changes
  server/src/main/java/org/elasticsearch/action/DocWriteResponse.java
  server/src/main/java/org/elasticsearch/action/delete/DeleteResponse.java
  server/src/main/java/org/elasticsearch/action/index/IndexResponse.java
Labels: :Distributed/CRUD, >non-issue, v6.4.0, v7.0.0

#30129 [ML] Refactor DataStreamDiagnostics to use array
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/DataCountsReporter.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/DataStreamDiagnostics.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/diagnostics/BucketDiagnostics.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/diagnostics/DataStreamDiagnostics.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/diagnostics/DataStreamDiagnosticsTests.java
Labels: :ml, >refactoring, review, v6.4.0, v7.0.0

#30206 Adds single node allocation to shrink
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/AllocateAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/AllocationRoutedStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/AsyncActionStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/DeleteStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ForceMergeStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/RolloverStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/SetSingleNodeAllocateStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkSetAliasStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/UpdateSettingsStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsTestHelper.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/AbstractStepTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/AllocationRoutedStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/DeleteStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ForceMergeStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/RolloverStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/SetSingleNodeAllocateStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkSetAliasStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/UpdateSettingsStepTests.java
  x-pack/plugin/index-lifecycle/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunner.java
  x-pack/plugin/index-lifecycle/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleService.java
  x-pack/plugin/index-lifecycle/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
Labels: :Core/ILM, >enhancement, review

#30270 Core: Pick inner most parse exception as root cause
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/ElasticsearchWrapperException.java
  server/src/test/java/org/elasticsearch/ElasticsearchExceptionTests.java
Labels: :Core/Core, >bug, review, v6.3.0, v6.4.0, v7.0.0

#30277 HTML5ify Javadoc for xpack core
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/scheduler/Cron.java
Labels: :Core/Core, >non-issue, review, v6.4.0, v7.0.0

#30255 Allow copying source settings on resize operation
  docs/CHANGELOG.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  docs/reference/indices/split-index.asciidoc
  docs/reference/migration/migrate_7_0/api.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.shrink.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.split.json
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.shrink/30_copy_settings.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.split/30_copy_settings.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/create/CreateIndexClusterStateUpdateRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/ResizeRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/TransportResizeAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestResizeHandler.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexCreationTaskTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestResizeHandlerTests.java
Labels: :Core/Index APIs, >enhancement, review, v6.4.0, v7.0.0

#29604 index name added to snapshot restore exception
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
Labels: :Distributed/Snapshot/Restore, >enhancement

#29671 Remove usage of transient settings to enable allocations in rolling upgrade docs
  docs/reference/upgrade/rolling_upgrade.asciidoc
Labels: :Distributed/Distributed, >docs

#30275 [DOCS] Fixes users command name
  x-pack/docs/en/security/troubleshooting.asciidoc
Labels: :Security/Security, >docs, v6.3.0, v6.4.0, v7.0.0

#30192 [DOCS] Removes redundant file realm settings
  x-pack/docs/en/security/authentication/file-realm.asciidoc
  x-pack/docs/en/settings/security-settings.asciidoc
Labels: :Security/Authentication, >docs, v6.3.0, v6.4.0, v7.0.0

#30223 [DOCS] Adds Active Directory realm configuration details
  x-pack/docs/en/security/authentication/active-directory-realm.asciidoc
  x-pack/docs/en/security/authentication/configuring-active-directory-realm.asciidoc
  x-pack/docs/en/security/configuring-es.asciidoc
  x-pack/docs/en/security/securing-communications/securing-elasticsearch.asciidoc
  x-pack/docs/en/security/securing-communications/tls-ad.asciidoc
Labels: :Security/Authentication, >docs, v6.3.0, v6.4.0, v7.0.0

#30265 SQL: Teach the CLI to ignore empty commands
  x-pack/plugin/sql/sql-cli/src/main/java/org/elasticsearch/xpack/sql/cli/CliRepl.java
  x-pack/plugin/sql/sql-cli/src/test/java/org/elasticsearch/xpack/sql/cli/CliReplTests.java
Labels: :Search/SQL, >enhancement, review, v6.4.0, v7.0.0

#30271 [DOCS] Adds changelog to Elasticsearch Reference
  docs/CHANGELOG.asciidoc
  docs/reference/index-shared4.asciidoc
  x-pack/docs/en/release-notes/7.0.0-alpha1.asciidoc
Labels: :Core/Core, >docs, v6.3.0, v6.4.0, v7.0.0

#29623 REST Client: Add Request object flavored methods
  client/rest-high-level/src/main/java/org/elasticsearch/client/ClusterClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/CustomRestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest/src/main/java/org/elasticsearch/client/Request.java
  client/rest/src/main/java/org/elasticsearch/client/RestClient.java
  client/rest/src/test/java/org/elasticsearch/client/RequestTests.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientMultipleHostsIntegTests.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientSingleHostTests.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientTests.java
  client/rest/src/test/java/org/elasticsearch/client/documentation/RestClientDocumentation.java
  docs/CHANGELOG.asciidoc
  docs/java-rest/low-level/usage.asciidoc
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/remote/RemoteRequestBuilders.java
Labels: :Core/Java Low Level REST Client, >enhancement, review, v7.0.0

#30196 [DOCS] Removes redundant SAML realm settings
  x-pack/docs/en/security/authentication/saml-realm.asciidoc
  x-pack/docs/en/settings/security-settings.asciidoc
Labels: :Security/Authentication, >docs, v6.3.0, v6.4.0, v7.0.0

#30310 [DOCS] Adds changelog to Elasticsearch Reference
  docs/CHANGELOG.asciidoc
  docs/reference/index-shared4.asciidoc
  x-pack/docs/en/release-notes/6.0.0-alpha1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-alpha2.asciidoc
  x-pack/docs/en/release-notes/6.0.0-beta1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-beta2.asciidoc
  x-pack/docs/en/release-notes/6.0.0-rc1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-rc2.asciidoc
Labels: >docs, v6.4.0

#30311 [DOCS] Adds changelog to Elasticsearch Reference
  docs/CHANGELOG.asciidoc
  docs/reference/index-shared4.asciidoc
  x-pack/docs/en/release-notes/6.0.0-alpha1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-alpha2.asciidoc
  x-pack/docs/en/release-notes/6.0.0-beta1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-beta2.asciidoc
  x-pack/docs/en/release-notes/6.0.0-rc1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-rc2.asciidoc
Labels: >docs, v6.3.0

#29569 Remove RepositoriesMetaData variadic constructor
  server/src/main/java/org/elasticsearch/cluster/metadata/RepositoriesMetaData.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateDiffIT.java
  server/src/test/java/org/elasticsearch/snapshots/RepositoriesMetaDataSerializationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicensesMetaDataSerializationTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherMetaDataSerializationTests.java
Labels: :Distributed/Snapshot/Restore, >non-issue, >refactoring, v6.4.0, v7.0.0

#29483 Fix failure for validate API on a terms query
  server/src/main/java/org/elasticsearch/action/admin/indices/validate/query/QueryExplanation.java
  server/src/main/java/org/elasticsearch/action/admin/indices/validate/query/TransportValidateQueryAction.java
  server/src/main/java/org/elasticsearch/index/query/Rewriteable.java
  server/src/test/java/org/elasticsearch/validate/SimpleValidateQueryIT.java
Labels: :Search/Search, >bug, v6.4.0, v7.0.0

#30282 Fix a reference to match_phrase_prefix in the match query docs.
  docs/reference/query-dsl/match-query.asciidoc
Labels: :Search/Search, >docs, v7.0.0

#30225 [DOCS] Adds PKI realm configuration details
  x-pack/docs/en/security/authentication/configuring-pki-realm.asciidoc
  x-pack/docs/en/security/authentication/pki-realm.asciidoc
  x-pack/docs/en/security/configuring-es.asciidoc
Labels: :Security/Authentication, >docs, v6.3.0, v6.4.0, v7.0.0

#30221 [DOCS] Adds file realm configuration details
  x-pack/docs/en/security/authentication/configuring-file-realm.asciidoc
  x-pack/docs/en/security/authentication/file-realm.asciidoc
  x-pack/docs/en/security/configuring-es.asciidoc
Labels: :Security/Authentication, >docs, v6.3.0, v6.4.0, v7.0.0

#30224 Correct an example in the top-level suggester documentation.
  docs/reference/search/suggesters.asciidoc
Labels: :Search/Suggesters, >docs, v7.0.0

#30312 [DOCS] Merge 6.x release notes into changelog
  docs/CHANGELOG.asciidoc
  docs/reference/release-notes/6.0.0-alpha1-5x.asciidoc
  docs/reference/release-notes/6.0.0-alpha1.asciidoc
  docs/reference/release-notes/6.0.0-alpha2.asciidoc
  docs/reference/release-notes/6.0.0-beta1.asciidoc
  docs/reference/release-notes/6.0.0-beta2.asciidoc
  docs/reference/release-notes/6.0.0-rc1.asciidoc
  docs/reference/release-notes/6.0.0-rc2.asciidoc
  docs/reference/release-notes/6.0.0.asciidoc
  docs/reference/release-notes/6.0.1.asciidoc
  docs/reference/release-notes/6.1.0.asciidoc
  docs/reference/release-notes/6.1.1.asciidoc
  docs/reference/release-notes/6.1.2.asciidoc
  docs/reference/release-notes/6.1.3.asciidoc
  docs/reference/release-notes/6.1.4.asciidoc
  docs/reference/release-notes/6.2.0.asciidoc
  docs/reference/release-notes/6.2.1.asciidoc
  docs/reference/release-notes/6.2.2.asciidoc
  docs/reference/release-notes/6.2.3.asciidoc
  docs/reference/release-notes/6.2.4.asciidoc
Labels: >docs, v6.3.0, v6.4.0

#30272 [DOCS] Removes X-Pack Elasticsearch release notes
  docs/CHANGELOG.asciidoc
  x-pack/docs/en/index.asciidoc
  x-pack/docs/en/release-notes/7.0.0-alpha1.asciidoc
  x-pack/docs/en/release-notes/xpack-xes.asciidoc
Labels: :Core/Core, >docs, v6.3.0, v6.4.0, v7.0.0

#29590 [DOCS] Adds new installation package details
  docs/reference/setup/install.asciidoc
  docs/reference/setup/install/deb.asciidoc
  docs/reference/setup/install/license.asciidoc
  docs/reference/setup/install/rpm.asciidoc
  docs/reference/setup/install/windows.asciidoc
  docs/reference/setup/install/zip-targz.asciidoc
  docs/reference/setup/install/zip-windows.asciidoc
Labels: :Core/Packaging, >docs, v6.3.1, v7.0.0

#30293 Fix message content in users tool
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/file/tool/UsersTool.java
  x-pack/qa/security-tools-tests/src/test/java/org/elasticsearch/xpack/security/authc/file/tool/UsersToolTests.java
Labels: :Security/Authentication, >non-issue, review, v6.4.0, v7.0.0

#30253 Move repository-azure fixture test to QA project and allow testing using external service
  plugins/repository-azure/build.gradle
  plugins/repository-azure/qa/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/java/org/elasticsearch/repositories/azure/AzureStorageFixture.java
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/java/org/elasticsearch/repositories/azure/AzureStorageRepositoryClientYamlTestSuiteIT.java
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/java/org/elasticsearch/repositories/azure/AzureStorageTestServer.java
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/resources/rest-api-spec/test/repository_azure/10_repository.yml
  plugins/repository-azure/src/test/resources/rest-api-spec/test/repository_azure/10_basic.yml
  plugins/repository-azure/src/test/resources/rest-api-spec/test/repository_azure/20_repository.yml
Labels: :Distributed/Snapshot/Restore, >test, review, v7.0.0

#29658 Add a new `_ignored` meta field.
  docs/CHANGELOG.asciidoc
  docs/reference/mapping/fields.asciidoc
  docs/reference/mapping/fields/ignored-field.asciidoc
  docs/reference/mapping/params/ignore-malformed.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/search/200_ignore_malformed.yml
  server/src/main/java/org/elasticsearch/index/fieldvisitor/FieldsVisitor.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoredFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ParseContext.java
  server/src/main/java/org/elasticsearch/indices/IndicesModule.java
  server/src/main/java/org/elasticsearch/search/SearchHit.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/NumberFieldMapperTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesModuleTests.java
Labels: :Search/Mapping, >feature

#29617 Remove MapperService#types().
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolateQueryBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/get/TransportGetFieldMappingsIndexAction.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/FieldsVisitor.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/IdsQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/RandomScoreFunctionBuilder.java
  server/src/test/java/org/elasticsearch/index/mapper/TypeFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/query/IdsQueryBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
Labels: :Search/Mapping, >non-issue, v7.0.0

#30183 clarify 'Fuzzy Like this Query' redirect doc
  docs/reference/redirects.asciidoc
Labels: :Search/Search, >docs

#30325 Create default ES_TMPDIR on Windows
  distribution/src/bin/elasticsearch-env.bat
Labels: :Core/Core, >bug, review, v6.3.0, v6.4.0, v7.0.0

#30226 Add tombstone document into Lucene for Noop
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ParsedDocument.java
  server/src/main/java/org/elasticsearch/index/mapper/SeqNoFieldMapper.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/cluster/routing/PrimaryAllocationIT.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/replication/IndexLevelReplicationTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
  server/src/test/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Engine, >enhancement

#30189 Add /_freeze and /_thaw APIs for freezing and thawing indices
  docs/reference/cat/thread_pool.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.freeze.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.thaw.json
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.thaw/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.thaw/20_multiple_indices.yml
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/indices/freeze/FreezeIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/freeze/FreezeIndexClusterStateUpdateRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/freeze/FreezeIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/freeze/FreezeIndexRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/indices/freeze/FreezeIndexResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/freeze/TransportFreezeIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/thaw/ThawIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/thaw/ThawIndexClusterStateUpdateRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/thaw/ThawIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/thaw/ThawIndexRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/indices/thaw/ThawIndexResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/thaw/TransportThawIndexAction.java
  server/src/main/java/org/elasticsearch/client/IndicesAdminClient.java
  server/src/main/java/org/elasticsearch/client/Requests.java
  server/src/main/java/org/elasticsearch/client/support/AbstractClient.java
  server/src/main/java/org/elasticsearch/cluster/ack/ThawIndexClusterStateUpdateResponse.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateService.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestFreezeIndexAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestThawIndexAction.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/test/java/org/elasticsearch/action/admin/indices/freeze/FreezeIndexResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/thaw/ThawIndexResponseTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/BaseXContentTestCase.java
  server/src/test/java/org/elasticsearch/indices/state/FreezeThawIndexIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolver.java
Labels: :Distributed/CRUD, >feature

#30184 Added changelog entry for deb prerelease version change
  docs/CHANGELOG.asciidoc
Labels: :Core/Packaging, >non-issue, v7.0.0

#30318 Cancelling a peer recovery on the source can leak a primary permit
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
Labels: :Distributed/Recovery, >bug, blocker, v6.3.1, v6.4.0, v7.0.0

#30322 Tests: Simplify VersionUtils released version splitting
  test/framework/src/main/java/org/elasticsearch/test/VersionUtils.java
  test/framework/src/test/java/org/elasticsearch/test/VersionUtilsTests.java
Labels: :Core/Build, v6.3.1, v6.4.0, v7.0.0

#30267 SQL: Reduce number of ranges generated for comparisons
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/BinaryComparison.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/Predicates.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/Range.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/tree/Node.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerRunTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/querydsl/query/MatchQueryTests.java
Labels: :Search/SQL, >enhancement, v6.4.0, v7.0.0

#29004 Packaging: Unmark systemd service file as a config file
  distribution/packages/build.gradle
  docs/CHANGELOG.asciidoc
  docs/reference/migration/migrate_7_0.asciidoc
  docs/reference/migration/migrate_7_0/packaging.asciidoc
  qa/vagrant/src/test/resources/packaging/tests/30_deb_package.bats
Labels: :Core/Packaging, >breaking, >refactoring, v7.0.0

#30278 [DOCS] Enables edit links for X-Pack pages
  docs/reference/modules/node.asciidoc
  docs/reference/setup/install.asciidoc
  x-pack/docs/en/index.asciidoc
Labels: :Core/Core, >docs, v6.3.0, v6.4.0, v7.0.0

#30316 ReplicationTracker.markAllocationIdAsInSync may hang if allocation is cancelled
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTests.java
Labels: :Distributed/Recovery, >bug, blocker, v6.3.0, v6.4.0, v7.0.0

#30337 Disable SSL on testing old BWC nodes
  x-pack/qa/full-cluster-restart/build.gradle
Labels: :Core/Build, review, v6.4.0

#30215 [DOCS] Adds native realm configuration details
  x-pack/docs/en/security/authentication/configuring-native-realm.asciidoc
  x-pack/docs/en/security/authentication/native-realm.asciidoc
  x-pack/docs/en/security/configuring-es.asciidoc
Labels: :Security/Authentication, >docs, v6.3.0, v6.4.0, v7.0.0

#30280 [DOCS] Reorganizes authentication details in Stack Overview
  x-pack/docs/en/security/authentication.asciidoc
  x-pack/docs/en/security/authentication/active-directory-realm.asciidoc
  x-pack/docs/en/security/authentication/built-in-users.asciidoc
  x-pack/docs/en/security/authentication/configuring-native-realm.asciidoc
  x-pack/docs/en/security/authentication/file-realm.asciidoc
  x-pack/docs/en/security/authentication/internal-users.asciidoc
  x-pack/docs/en/security/authentication/ldap-realm.asciidoc
  x-pack/docs/en/security/authentication/overview.asciidoc
  x-pack/docs/en/security/authentication/pki-realm.asciidoc
  x-pack/docs/en/security/authentication/realms.asciidoc
  x-pack/docs/en/security/authentication/saml-guide.asciidoc
  x-pack/docs/en/security/authentication/saml-realm.asciidoc
  x-pack/docs/en/security/how-security-works.asciidoc
  x-pack/docs/en/security/index.asciidoc
Labels: :Security/Security, >docs, v6.3.0, v6.4.0, v7.0.0

#30349 [DOCS] Fixes broken links to bootstrap user
  x-pack/docs/en/commands/setup-passwords.asciidoc
  x-pack/docs/en/security/configuring-es.asciidoc
  x-pack/docs/en/security/securing-communications/configuring-tls-docker.asciidoc
Labels: :Security/Authentication, >docs, v6.3.0, v6.4.0, v7.0.0

#29007 Packaging: Set elasticsearch user to have non-existent homedir
  distribution/packages/src/common/scripts/preinst
  qa/vagrant/src/test/resources/packaging/utils/packages.bash
Labels: :Core/Packaging, >enhancement, v6.4.0, v7.0.0

#30350 [DOCS] Merges X-Pack release notes into changelog
  docs/CHANGELOG.asciidoc
  x-pack/docs/en/index.asciidoc
  x-pack/docs/en/release-notes/6.0.0-GA.asciidoc
  x-pack/docs/en/release-notes/6.0.0-alpha1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-alpha2.asciidoc
  x-pack/docs/en/release-notes/6.0.0-beta1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-beta2.asciidoc
  x-pack/docs/en/release-notes/6.0.0-rc1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-rc2.asciidoc
  x-pack/docs/en/release-notes/6.0.1.asciidoc
  x-pack/docs/en/release-notes/6.1.0.asciidoc
  x-pack/docs/en/release-notes/6.1.1.asciidoc
  x-pack/docs/en/release-notes/6.1.2.asciidoc
  x-pack/docs/en/release-notes/6.1.3.asciidoc
  x-pack/docs/en/release-notes/6.1.4.asciidoc
  x-pack/docs/en/release-notes/6.2.0.asciidoc
  x-pack/docs/en/release-notes/6.2.1.asciidoc
  x-pack/docs/en/release-notes/6.2.2.asciidoc
  x-pack/docs/en/release-notes/6.2.3.asciidoc
  x-pack/docs/en/release-notes/6.2.4.asciidoc
  x-pack/docs/en/release-notes/6.3.0.asciidoc
  x-pack/docs/en/release-notes/xpack-xes.asciidoc
Labels: >docs, v6.3.0, v6.4.0

#30218 Update versions for start_trial after backport
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/PostStartTrialRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/PostStartTrialResponse.java
Labels: :Core/License, >bug, v7.0.0

#30118 Watcher: Make start/stop cycle more predictable and synchronous
  docs/CHANGELOG.asciidoc
  x-pack/plugin/src/test/java/org/elasticsearch/xpack/test/rest/XPackRestIT.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherIndexingListener.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherLifeCycleService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/execution/ExecutionService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/execution/TriggeredWatchStore.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/history/HistoryStore.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/transport/actions/stats/TransportWatcherStatsAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/trigger/schedule/engine/TickerScheduleTriggerEngine.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherLifeCycleServiceTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherServiceTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/execution/ExecutionServiceTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/execution/TriggeredWatchStoreTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/history/HistoryStoreTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/integration/BootStrapTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/integration/WatchAckTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/transport/actions/stats/TransportWatcherStatsActionTests.java
  x-pack/qa/smoke-test-watcher/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherTestSuiteIT.java
Labels: :Core/Watcher, >enhancement, review, v6.4.0, v7.0.0

#30299 Adds Eclipse config for xpack licence headers
  build.gradle
  buildSrc/src/main/resources/eclipse.settings/org.eclipse.jdt.ui.prefs
  buildSrc/src/main/resources/license-headers/elastic-license-header.txt
  buildSrc/src/main/resources/license-headers/oss-license-header.txt
Labels: :Core/Build, >non-issue, review, v6.3.0, v6.4.0, v7.0.0

#30331 Tests: Ensure each test uses different watch ids
  x-pack/qa/smoke-test-watcher-with-security/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherWithSecurityIT.java
Labels: :Core/Watcher, >test, review, v6.4.0, v7.0.0

#30121 InternalEngineTests.testConcurrentOutOfOrderDocsOnReplica should use two documents
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: :Distributed/Engine, >non-issue, >test, v6.4.0, v7.0.0

#30294 [ML] Account for gaps in data counts after job is reopened
  docs/CHANGELOG.asciidoc
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/DataCountsReporter.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/diagnostics/BucketDiagnostics.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/diagnostics/DataStreamDiagnostics.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/diagnostics/DataStreamDiagnosticsTests.java
  x-pack/qa/ml-basic-multi-node/src/test/java/org/elasticsearch/xpack/ml/integration/MlBasicMultiNodeIT.java
  x-pack/qa/ml-native-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ReopenJobWithGapIT.java
Labels: :ml, >bug, review, v6.4.0, v7.0.0

#30343 SQL: Fix bug caused by empty composites
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/CompositeAggregationCursor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/Querier.java
  x-pack/qa/sql/security/src/test/java/org/elasticsearch/xpack/qa/sql/security/JdbcSqlSpecIT.java
Labels: :Search/SQL, >bug, v6.4.0, v7.0.0

#30359 [ML] Add integration test for model plots
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/ModelPlotConfig.java
  x-pack/qa/ml-native-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ModelPlotsIT.java
Labels: :ml, >test, review, v6.3.0, v6.4.0, v7.0.0

#29663 Change quad tree max levels to 29. Closes #21191
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: :Search/Geo, >docs

#30319 6.x Backport: Terms query validate bug
  server/src/main/java/org/elasticsearch/action/admin/indices/validate/query/QueryExplanation.java
  server/src/main/java/org/elasticsearch/action/admin/indices/validate/query/TransportValidateQueryAction.java
  server/src/main/java/org/elasticsearch/index/query/Rewriteable.java
  server/src/test/java/org/elasticsearch/validate/SimpleValidateQueryIT.java
Labels: :Search/Search, >bug, v6.4.0

#30363 Watcher: Ensure trigger service pauses execution
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherService.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherServiceTests.java
Labels: :Core/Watcher, >bug, review, v6.4.0, v7.0.0

#30357 Upgrade to 7.4.0-snapshot-8fdd3d7584
  buildSrc/version.properties
  docs/Versions.asciidoc
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CommonAnalysisFactoryTests.java
  modules/lang-expression/licenses/lucene-expressions-7.3.0.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-icu/build.gradle
  plugins/analysis-icu/licenses/icu4j-59.1.jar.sha1
  plugins/analysis-icu/licenses/icu4j-61.1.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.3.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/analysis/IcuTokenizerFactory.java
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.3.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.3.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.3.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.3.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.3.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-analyzers-common-7.3.0.jar.sha1
  server/licenses/lucene-analyzers-common-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-backward-codecs-7.3.0.jar.sha1
  server/licenses/lucene-backward-codecs-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-core-7.3.0.jar.sha1
  server/licenses/lucene-core-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-grouping-7.3.0.jar.sha1
  server/licenses/lucene-grouping-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-highlighter-7.3.0.jar.sha1
  server/licenses/lucene-highlighter-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-join-7.3.0.jar.sha1
  server/licenses/lucene-join-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-memory-7.3.0.jar.sha1
  server/licenses/lucene-memory-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-misc-7.3.0.jar.sha1
  server/licenses/lucene-misc-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-queries-7.3.0.jar.sha1
  server/licenses/lucene-queries-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-queryparser-7.3.0.jar.sha1
  server/licenses/lucene-queryparser-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-sandbox-7.3.0.jar.sha1
  server/licenses/lucene-sandbox-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-spatial-7.3.0.jar.sha1
  server/licenses/lucene-spatial-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-spatial-extras-7.3.0.jar.sha1
  server/licenses/lucene-spatial-extras-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-spatial3d-7.3.0.jar.sha1
  server/licenses/lucene-spatial3d-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-suggest-7.3.0.jar.sha1
  server/licenses/lucene-suggest-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/src/main/java/org/elasticsearch/Version.java
  test/framework/src/main/java/org/elasticsearch/indices/analysis/AnalysisFactoryTestCase.java
  x-pack/plugin/sql/jdbc/licenses/lucene-core-7.3.0.jar.sha1
  x-pack/plugin/sql/jdbc/licenses/lucene-core-7.4.0-snapshot-1ed95c097b.jar.sha1
  x-pack/plugin/sql/sql-proto/licenses/lucene-core-7.3.0.jar.sha1
  x-pack/plugin/sql/sql-proto/licenses/lucene-core-7.4.0-snapshot-1ed95c097b.jar.sha1
Labels: :Search/Search, >non-issue, v6.4.0, v7.0.0

#30379 Bulk operation fail to replicate operations when a mapping update times out
  core/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  core/src/test/java/org/elasticsearch/discovery/DiscoveryWithServiceDisruptionsIT.java
Labels: :Distributed/CRUD, >non-issue

#29229 Add Get Settings API support to java high-level rest client
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/java-rest/high-level/indices/get_settings.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_settings.json
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/TransportGetSettingsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetSettingsAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsResponseTests.java
Labels: :Core/Java High Level REST Client, >enhancement

#30262 Test: remove cluster permission from CCS user
  x-pack/qa/multi-cluster-search-security/src/test/resources/rest-api-spec/test/multi_cluster/10_basic.yml
Labels: :Security/Authorization, >test, review, v6.4.0, v7.0.0

#28515 Use `readFully()` to read exactly the number of bytes we expect from the Stream
  server/src/main/java/org/elasticsearch/common/settings/KeyStoreWrapper.java
  server/src/test/java/org/elasticsearch/common/settings/KeyStoreWrapperTests.java
Labels: :Core/Settings, review, v6.4.0, v7.0.0

#30338 [Rollup] Validate timezone in range queries
  docs/CHANGELOG.asciidoc
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportRollupSearchAction.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
Labels: :Search/Rollup, >enhancement, review

#30263 Docs: remove transport_client from CCS role example
  x-pack/docs/en/security/ccs-clients-integrations/cross-cluster.asciidoc
Labels: :Security/Authorization, >docs, review, v6.3.1, v6.4.0, v7.0.0

#30383 Respect accept header on no handler
  docs/CHANGELOG.asciidoc
  qa/smoke-test-http/src/test/java/org/elasticsearch/http/NoHandlerIT.java
  server/src/main/java/org/elasticsearch/rest/RestController.java
  x-pack/qa/ml-disabled/src/test/java/org/elasticsearch/xpack/ml/integration/MlPluginDisabledIT.java
Labels: :Core/REST API, >bug, review, v6.3.1, v6.4.0, v7.0.0

#30400 Add put index template api to high level rest client
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/CHANGELOG.asciidoc
  docs/java-rest/high-level/indices/put_template.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateResponse.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateRequestTests.java
Labels: :Core/Java High Level REST Client, >enhancement, v6.4.0, v7.0.0

#30332 Do not fail snapshot when deleting a missing snapshotted file
  docs/CHANGELOG.asciidoc
  server/src/main/java/org/elasticsearch/common/blobstore/BlobContainer.java
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshots.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreFormat.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  test/framework/src/main/java/org/elasticsearch/repositories/ESBlobStoreContainerTestCase.java
Labels: :Distributed/Snapshot/Restore, >enhancement, review, v6.4.0, v7.0.0

#30336 typo
  test/framework/src/main/java/org/elasticsearch/test/tasks/MockTaskManager.java
Labels: :Distributed/Task Management, >non-issue, v6.4.0, v7.0.0

#29672 pass the task to broadcast actions
  server/src/main/java/org/elasticsearch/action/admin/indices/validate/query/TransportValidateQueryAction.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/TransportBroadcastAction.java
Labels: :Distributed/Task Management, >enhancement, >non-issue, v6.4.0, v7.0.0

#29405 Fix the search request default operation behavior doc
  docs/reference/search/request/preference.asciidoc
Labels: :Search/Search, >docs

#29143 Added a plugin to the list of API extension plugins
  docs/plugins/api.asciidoc
Labels: :Core/Plugins, >docs

#30113 Added example for _forcemerge API
  docs/reference/indices/forcemerge.asciidoc
Labels: :Core/Index APIs, >docs

#30376 Add stricter geohash parsing
  docs/CHANGELOG.asciidoc
  server/src/main/java/org/elasticsearch/common/geo/GeoHashUtils.java
  server/src/main/java/org/elasticsearch/common/geo/GeoPoint.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/test/java/org/elasticsearch/common/geo/GeoHashTests.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/search/geo/GeoPointParsingTests.java
Labels: :Search/Geo, >bug, v6.4.0, v7.0.0

#30423 Auto-expand replicas when adding or removing nodes
  docs/CHANGELOG.asciidoc
  server/src/main/java/org/elasticsearch/cluster/metadata/AutoExpandReplicas.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataUpdateSettingsService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/main/java/org/elasticsearch/discovery/zen/NodeJoinController.java
  server/src/main/java/org/elasticsearch/discovery/zen/ZenDiscovery.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
Labels: :Distributed/Allocation, >bug, v6.4.0, v7.0.0

#30317 Reindex: Use request flavored methods
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/remote/RemoteRequestBuilders.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/remote/RemoteScrollableHitSource.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/remote/RemoteRequestBuildersTests.java
Labels: :Core/Java Low Level REST Client, >non-issue, review, v6.4.0, v7.0.0

#30429 Rename "thaw" APIs to "unfreeze"
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.freeze.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.unfreeze.json
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.thaw/10_basic.yml
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/indices/freeze/TransportFreezeIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/unfreeze/TransportUnfreezeIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/unfreeze/UnfreezeIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/unfreeze/UnfreezeIndexClusterStateUpdateRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/unfreeze/UnfreezeIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/unfreeze/UnfreezeIndexRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/indices/unfreeze/UnfreezeIndexResponse.java
  server/src/main/java/org/elasticsearch/client/IndicesAdminClient.java
  server/src/main/java/org/elasticsearch/client/Requests.java
  server/src/main/java/org/elasticsearch/client/support/AbstractClient.java
  server/src/main/java/org/elasticsearch/cluster/ack/UnfreezeIndexClusterStateUpdateResponse.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateService.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestUnfreezeIndexAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/unfreeze/UnfreezeIndexResponseTests.java
  server/src/test/java/org/elasticsearch/indices/state/FreezeUnfreezeIndexIT.java
Labels: :Distributed/CRUD, >non-issue

#30187 Add a quick tour of the project to CONTRIBUTING
  CONTRIBUTING.md
Labels: :Core/Core, >non-issue, review, v6.3.0, v6.4.0, v7.0.0

#30440 Build: Switch to building javadoc with html5
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
Labels: :Core/Build, >non-issue, review, v6.4.0, v7.0.0

#30365 Avoid NPE in `more_like_this` when field has zero tokens
  docs/CHANGELOG.asciidoc
  server/src/main/java/org/elasticsearch/action/termvectors/TermVectorsWriter.java
  server/src/test/java/org/elasticsearch/search/morelikethis/MoreLikeThisIT.java
Labels: :Search/Search, >bug, review, v6.4.0, v7.0.0

#30434 Fixed small typo in cardinality-aggregation.asciidoc
  docs/reference/aggregations/metrics/cardinality-aggregation.asciidoc
Labels: :Search/Aggregations, >docs

#30442 Security: Rename IndexLifecycleManager to SecurityIndexManager
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/SecurityLifecycleService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/index/IndexAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/InternalRealms.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealm.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/mapper/NativeRoleMappingStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecurityIndexManager.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityLifecycleServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlInvalidateSessionActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlLogoutActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportGetUsersActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportPutUserActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/InternalRealmsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeRealmIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/mapper/NativeRoleMappingStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/SecurityIndexManagerIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/SecurityIndexManagerTests.java
  x-pack/plugin/security/src/test/resources/SecurityIndexManagerTests-template.json
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Security/Security, >refactoring, v6.4.0, v7.0.0

#30409 Make _id terms optional in segment containing only noop
  server/src/main/java/org/elasticsearch/common/lucene/uid/PerThreadIDVersionAndSeqNoLookup.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
Labels: :Distributed/Engine, >feature

#30315 Client: Deprecate many argument performRequest
  client/rest/src/main/java/org/elasticsearch/client/RestClient.java
  docs/CHANGELOG.asciidoc
Labels: :Core/Java Low Level REST Client, >deprecation, review, v6.4.0, v7.0.0

#30462 Stop forking javac
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
Labels: :Core/Build, >non-issue, review, v6.4.0, v7.0.0

#30458 Mute failing test see #30456
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/UpgradeClusterClientYamlTestSuiteIT.java
Labels: :ml, >test

#30130 Watcher: Configure HttpClient parallel sent requests
  docs/CHANGELOG.asciidoc
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpClient.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpClientTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpReadTimeoutTests.java
Labels: :Core/Watcher, >enhancement, review, v6.4.0, v7.0.0

#29310 Use date format in `date_range` mapping before fallback to default
  docs/CHANGELOG.asciidoc
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/RangeFieldTypeTests.java
Labels: :Search/Search, >bug, review, v6.4.0, v7.0.0

#30384 Avoid setting connection request timeout
  client/rest/src/main/java/org/elasticsearch/client/RestClientBuilder.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientBuilderTests.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientSingleHostIntegTests.java
Labels: :Core/Java Low Level REST Client, >bug, v6.3.1, v6.4.0, v7.0.0

#30471 Stop forking groovyc
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
Labels: :Core/Build, >non-issue, review, v6.4.0, v7.0.0

#30313 Add `_coordinating_only` for nodes resolving in nodes API
  docs/CHANGELOG.asciidoc
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNode.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/test/java/org/elasticsearch/cluster/node/DiscoveryNodesTests.java
Labels: :Core/Stats, >enhancement, v6.4.0, v7.0.0

#30362 Add GET Repository High Level REST API
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/SnapshotClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SnapshotIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SnapshotClientDocumentationIT.java
  docs/java-rest/high-level/snapshot/get_repository.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/get/GetRepositoriesResponse.java
Labels: :Core/Java High Level REST Client, >enhancement, v6.4.0, v7.0.0

#30367 Test: remove hardcoded list of unconfigured ciphers
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ssl/SslIntegrationTests.java
Labels: :Security/Network, >test, review, v6.3.1, v6.4.0, v7.0.0

#28869 [DOCS] add warning for read-write indices in force merge documentation
  docs/reference/indices/forcemerge.asciidoc
Labels: :Core/Index APIs, >docs, review

#30484 Bump Gradle heap to 1792m
  gradle.properties
Labels: :Core/Build, >non-issue, review, v6.4.0, v7.0.0

#30163 Expose CommonStatsFlags directly in IndicesStatsRequest.
  server/src/main/java/org/elasticsearch/action/admin/indices/stats/IndicesStatsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/stats/TransportIndicesStatsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestIndicesStatsAction.java
Labels: :Core/Stats, >refactoring, v7.0.0

#30120 [CCR] Read changes from Lucene instead of translog
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardChangesAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/ShardChangesIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesActionTests.java
Labels: :Distributed/CCR, >feature, review

#30447 LLClient: Add String flavored setEntity
  client/rest/src/main/java/org/elasticsearch/client/Request.java
  client/rest/src/test/java/org/elasticsearch/client/RequestTests.java
  client/rest/src/test/java/org/elasticsearch/client/documentation/RestClientDocumentation.java
  docs/CHANGELOG.asciidoc
  docs/java-rest/low-level/usage.asciidoc
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/remote/RemoteRequestBuilders.java
Labels: :Core/Java Low Level REST Client, >enhancement, review, v6.4.0, v7.0.0

#30487 Build: Remove xpack specific run task
  distribution/build.gradle
  x-pack/plugin/build.gradle
Labels: :Core/Build, >refactoring, v6.4.0, v7.0.0

#30420 SAML: Process only verified signed data
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/saml/SamlAuthenticator.java
Labels: :Security/Authentication, >non-issue, review, v6.3.1, v6.4.0, v7.0.0

#30483 Solve Gradle deprecation warnings around shadowJar
  benchmarks/build.gradle
Labels: :Core/Build, >non-issue

#30504 Isolate REST client single host tests
  client/rest/src/test/java/org/elasticsearch/client/RestClientSingleHostIntegTests.java
Labels: :Core/Java Low Level REST Client, >test, review, v6.3.1, v6.4.0, v7.0.0

#30154 Reindex: Fold "with all deps" test project into reindex
  modules/reindex/build.gradle
  modules/reindex/src/test/resources/rest-api-spec/test/reindex/35_search_failures.yml
  modules/reindex/src/test/resources/rest-api-spec/test/reindex/85_scripting.yml
  modules/reindex/src/test/resources/rest-api-spec/test/reindex/95_parent_join.yml
  modules/reindex/src/test/resources/rest-api-spec/test/update_by_query/35_search_failure.yml
  modules/reindex/src/test/resources/rest-api-spec/test/update_by_query/80_scripting.yml
  qa/smoke-test-reindex-with-all-modules/build.gradle
  qa/smoke-test-reindex-with-all-modules/src/test/java/org/elasticsearch/smoketest/SmokeTestReindexWithPainlessClientYamlTestSuiteIT.java
  qa/smoke-test-reindex-with-all-modules/src/test/resources/rest-api-spec/test/reindex/20_broken.yml
  qa/smoke-test-reindex-with-all-modules/src/test/resources/rest-api-spec/test/reindex/30_timeout.yml
  qa/smoke-test-reindex-with-all-modules/src/test/resources/rest-api-spec/test/update_by_query/20_broken.yml
  qa/smoke-test-reindex-with-all-modules/src/test/resources/rest-api-spec/test/update_by_query/30_timeout.yml
Labels: :Distributed/CRUD, >non-issue, review, v6.4.0, v7.0.0

#30366 Build: move generated-resources to build
  x-pack/qa/openldap-tests/build.gradle
  x-pack/qa/saml-idp-tests/build.gradle
Labels: :Core/Build, >non-issue, review, v6.3.1, v6.4.0, v7.0.0

#30514 Remove Discovery.AckListener.onTimeout()
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  server/src/main/java/org/elasticsearch/discovery/Discovery.java
  server/src/test/java/org/elasticsearch/discovery/zen/PublishClusterStateActionTests.java
Labels: :Distributed/ZenDiscovery, >non-issue, v6.4.0, v7.0.0

#30497 Add proper longitude validation in geo_polygon_query
  server/src/main/java/org/elasticsearch/index/query/GeoPolygonQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/GeoPolygonQueryBuilderTests.java
  server/src/test/resources/org/elasticsearch/index/query/geo_polygon_exception_1.json
  server/src/test/resources/org/elasticsearch/index/query/geo_polygon_exception_2.json
  server/src/test/resources/org/elasticsearch/index/query/geo_polygon_exception_3.json
  server/src/test/resources/org/elasticsearch/index/query/geo_polygon_exception_4.json
  server/src/test/resources/org/elasticsearch/index/query/geo_polygon_exception_5.json
Labels: :Search/Suggesters, >bug, v6.4.0, v7.0.0

#30390 add version compatibility from 6.4.0 after backport, see #30319
  server/src/main/java/org/elasticsearch/action/admin/indices/validate/query/QueryExplanation.java
Labels: :Search/Search, >non-issue

#30519 Upgrade to Lucene-7.4-snapshot-6705632810
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-7.4.0-snapshot-1ed95c097b.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-7.4.0-snapshot-6705632810.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.4.0-snapshot-6705632810.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.4.0-snapshot-6705632810.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.4.0-snapshot-6705632810.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.4.0-snapshot-6705632810.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.4.0-snapshot-6705632810.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.4.0-snapshot-6705632810.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.4.0-snapshot-1ed95c097b.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-analyzers-common-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-analyzers-common-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-backward-codecs-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-backward-codecs-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-core-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-core-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-grouping-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-grouping-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-highlighter-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-highlighter-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-join-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-join-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-memory-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-memory-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-misc-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-misc-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-queries-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-queries-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-queryparser-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-queryparser-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-sandbox-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-sandbox-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-spatial-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-spatial-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-spatial-extras-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-spatial-extras-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-spatial3d-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-spatial3d-7.4.0-snapshot-6705632810.jar.sha1
  server/licenses/lucene-suggest-7.4.0-snapshot-1ed95c097b.jar.sha1
  server/licenses/lucene-suggest-7.4.0-snapshot-6705632810.jar.sha1
  x-pack/plugin/sql/jdbc/licenses/lucene-core-7.4.0-snapshot-1ed95c097b.jar.sha1
  x-pack/plugin/sql/jdbc/licenses/lucene-core-7.4.0-snapshot-6705632810.jar.sha1
  x-pack/plugin/sql/sql-proto/licenses/lucene-core-7.4.0-snapshot-1ed95c097b.jar.sha1
  x-pack/plugin/sql/sql-proto/licenses/lucene-core-7.4.0-snapshot-6705632810.jar.sha1
Labels: :Search/Search, >non-issue, v6.4.0, v7.0.0

#30419 SQL: Fix parsing of dates with milliseconds
  docs/CHANGELOG.asciidoc
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/DataTypeConversion.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/type/DataTypeConversionTests.java
Labels: :Search/SQL, >bug, v6.3.1, v6.4.0, v7.0.0

#30516 SQL: Improve compatibility with MS query
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/CommandBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTables.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTablesTests.java
Labels: :Search/SQL, v6.4.0, v7.0.0

#30347 Security: fix TokenMetaData equals and hashcode
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/TokenMetaData.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/TokenMetaDataTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/BytesKey.java
Labels: :Security/Authentication, >bug, review, v6.3.1, v6.4.0, v7.0.0

#30348 Security: cleanup code in file stores
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/file/FileUserPasswdStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/file/FileUserRolesStore.java
Labels: :Security/Authentication, >bug, review, v6.3.1, v6.4.0, v7.0.0

#30418 SQL: Improve correctness of SYS COLUMNS & TYPES
  x-pack/plugin/sql/sql-proto/src/main/java/org/elasticsearch/xpack/sql/type/DataType.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysColumns.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTableTypes.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTypes.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/DataTypes.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/DateEsField.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysColumnsTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysParserTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTableTypesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/type/DataTypesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/type/TypesTests.java
  x-pack/qa/sql/src/main/resources/setup_mock_metadata_get_columns.sql
Labels: :Search/SQL, >bug, v6.4.0, v7.0.0

#30439 Use proper write-once semantics for HDFS repository
  plugins/repository-hdfs/src/main/java/org/elasticsearch/repositories/hdfs/HdfsBlobContainer.java
  test/framework/src/main/java/org/elasticsearch/repositories/ESBlobStoreContainerTestCase.java
Labels: :Distributed/Snapshot/Restore, >enhancement, v6.4.0, v7.0.0

#29448 Derive max composite buffers from max content len
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
Labels: :Core/Network, >enhancement, >non-issue, v7.0.0

#30512 [ML] Fix wire BWC for JobUpdate
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/UpdateJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdate.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdateTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/delete_model_snapshot.yml
Labels: :ml, >bug, >non-issue, review, v7.0.0

#30395 Watcher: Remove TriggerEngine.getJobCount()
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpRequest.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/trigger/TriggerEngine.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/trigger/manual/ManualTriggerEngine.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/trigger/schedule/engine/TickerScheduleTriggerEngine.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/trigger/ScheduleTriggerEngineMock.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/watch/WatchTests.java
Labels: :Core/Watcher, >non-issue, review, v6.4.0, v7.0.0

#30528 Delete temporary blobs before creating index file
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Distributed/Snapshot/Restore, >bug, v6.3.1, v6.4.0, v7.0.0

#30302 Suppress hdfsFixture if there are spaces in the path
  plugins/repository-hdfs/build.gradle
Labels: :Core/Build, >test, v5.6.10, v6.3.1, v6.4.0, v7.0.0

#30345 SQL: Use request flavored methods in tests
  x-pack/qa/sql/multinode/src/test/java/org/elasticsearch/xpack/qa/sql/multinode/RestSqlMultinodeIT.java
  x-pack/qa/sql/security/src/test/java/org/elasticsearch/xpack/qa/sql/security/RestSqlSecurityIT.java
  x-pack/qa/sql/security/src/test/java/org/elasticsearch/xpack/qa/sql/security/SqlSecurityTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/cli/CliIntegrationTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/cli/ErrorsTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/cli/FetchSizeTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/DataLoader.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/ErrorsTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/FetchSizeTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/JdbcIntegrationTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/SpecBaseIntegrationTestCase.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/rest/RestSqlTestCase.java
Labels: :Search/SQL, >non-issue, review, v6.4.0, v7.0.0

#30535 Bump Gradle heap to 2 GB
  gradle.properties
Labels: :Core/Build, review, v6.4.0, v7.0.0

#30541 Build: Add mavenPlugin cluster configuration method
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterConfiguration.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterFormationTasks.groovy
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: :Core/Build, >refactoring, v6.4.0, v7.0.0

#30404 Deprecate not copy settings and explicitly disallow
  docs/CHANGELOG.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  docs/reference/indices/split-index.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.shrink/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.shrink/20_source_mapping.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.shrink/30_copy_settings.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.split/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.split/20_source_mapping.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.split/30_copy_settings.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/ResizeRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/TransportResizeAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestResizeHandler.java
  server/src/test/java/org/elasticsearch/action/admin/indices/shrink/ResizeRequestTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestResizeHandlerTests.java
Labels: :Core/Index APIs, review, v6.4.0, v7.0.0

#30530 SQL: SYS TABLES ordered according to *DBC specs
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTables.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTablesTests.java
Labels: :Search/SQL, >bug, v6.4.0, v7.0.0

#30538 Move tokenizers to analysis common module
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CharMatcher.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/ClassicTokenizerFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonAnalysisPlugin.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/EdgeNGramTokenizerFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/LetterTokenizerFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/LowerCaseTokenizerFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/NGramTokenizerFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/PathHierarchyTokenizerFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/PatternTokenizerFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/ThaiTokenizerFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/UAX29URLEmailTokenizerFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/WhitespaceTokenizerFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CharMatcherTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CommonAnalysisFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CommonGramsTokenFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/DisableGraphQueryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/NGramTokenizerFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/PathHierarchyTokenizerFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/SynonymsAnalysisTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/WhitespaceTokenizerFactoryTests.java
  modules/analysis-common/src/test/resources/org/elasticsearch/analysis/common/synonyms.json
  modules/analysis-common/src/test/resources/org/elasticsearch/analysis/common/synonyms.txt
  modules/analysis-common/src/test/resources/org/elasticsearch/analysis/common/synonyms_wordnet.txt
  modules/analysis-common/src/test/resources/rest-api-spec/test/analysis-common/30_tokenizers.yml
  modules/analysis-common/src/test/resources/rest-api-spec/test/indices.analyze/10_analyze.yml
  modules/analysis-common/src/test/resources/rest-api-spec/test/search.query/20_ngram_search.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.analyze/10_analyze.yml
  server/src/main/java/org/elasticsearch/index/analysis/KeywordTokenizerFactory.java
  server/src/main/java/org/elasticsearch/indices/analysis/AnalysisModule.java
  server/src/main/java/org/elasticsearch/indices/analysis/PreBuiltTokenizers.java
  server/src/test/java/org/elasticsearch/action/admin/indices/TransportAnalyzeActionTests.java
  server/src/test/java/org/elasticsearch/action/termvectors/GetTermVectorsIT.java
  server/src/test/java/org/elasticsearch/action/termvectors/GetTermVectorsTests.java
  server/src/test/java/org/elasticsearch/indices/analyze/AnalyzeActionIT.java
  server/src/test/java/org/elasticsearch/indices/template/SimpleIndexTemplateIT.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
  server/src/test/java/org/elasticsearch/search/functionscore/QueryRescorerIT.java
  server/src/test/java/org/elasticsearch/search/query/MultiMatchQueryIT.java
  server/src/test/java/org/elasticsearch/search/query/SearchQueryIT.java
  server/src/test/java/org/elasticsearch/search/suggest/SuggestSearchIT.java
  test/framework/src/main/java/org/elasticsearch/indices/analysis/AnalysisFactoryTestCase.java
Labels: :Search/Analysis, >non-issue, review, v6.4.0, v7.0.0

#30537 [ML] Hide internal Job update options from the REST API
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/UpdateJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdate.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdateTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/delete_model_snapshot.yml
Labels: :ml, review, v6.3.0, v6.4.0

#30531 Document woes between auto-expand-replicas and allocation filtering
  docs/reference/index-modules.asciidoc
Labels: :Distributed/Allocation, >docs, v6.3.1, v6.4.0, v7.0.0

#30527 Add missing task dependencies
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  modules/repository-url/build.gradle
Labels: :Core/Build, >non-issue

#30544 Docs: Update HighLevelRestClient migration docs
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MigrationDocumentationIT.java
  docs/java-rest/high-level/migration.asciidoc
Labels: :Core/Java High Level REST Client, >docs, review, v6.4.0, v7.0.0

#30561 Fold RestGetAllSettingsAction in RestGetSettingsAction
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetAllSettingsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetSettingsAction.java
Labels: :Core/Settings, >enhancement, v6.4.0, v7.0.0

#30553 Auto-expand replicas only after failing nodes
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/main/java/org/elasticsearch/discovery/zen/NodeJoinController.java
  server/src/test/java/org/elasticsearch/cluster/metadata/AutoExpandReplicasTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
Labels: :Distributed/Allocation, >bug, v6.4.0, v7.0.0

#30540 Docs: document precision limitations of geo_bounding_box
  docs/reference/query-dsl/geo-bounding-box-query.asciidoc
Labels: :Search/Geo, >docs, v6.3.1, v6.4.0, v7.0.0

#30502 [DOCS] Fix path info for various security files
  x-pack/docs/en/commands/syskeygen.asciidoc
  x-pack/docs/en/security/auditing.asciidoc
  x-pack/docs/en/security/authentication/configuring-ldap-realm.asciidoc
  x-pack/docs/en/security/authorization.asciidoc
  x-pack/docs/en/security/authorization/mapping-roles.asciidoc
  x-pack/docs/en/security/reference/files.asciidoc
  x-pack/docs/en/security/securing-communications/configuring-tls-docker.asciidoc
  x-pack/docs/en/security/securing-communications/tls-http.asciidoc
  x-pack/docs/en/security/securing-communications/tls-ldap.asciidoc
  x-pack/docs/en/security/securing-communications/tls-transport.asciidoc
  x-pack/docs/en/setup/bootstrap-checks-xes.asciidoc
  x-pack/docs/en/watcher/trigger/schedule/cron.asciidoc
Labels: :Security/Security, >docs, v6.3.0, v6.4.0, v7.0.0

#30499 [DOCS] Fix realm setting names
  x-pack/docs/en/security/authorization/mapping-roles.asciidoc
Labels: :Security/Security, >docs, v5.6.10, v6.0.3, v6.1.5, v6.2.5, v6.3.0, v6.4.0, v7.0.0

#30194 Deprecate Empty Templates
  server/src/main/java/org/elasticsearch/script/ScriptMetaData.java
  server/src/main/java/org/elasticsearch/script/StoredScriptSource.java
  server/src/test/java/org/elasticsearch/script/ScriptMetaDataTests.java
  server/src/test/java/org/elasticsearch/script/StoredScriptSourceTests.java
  server/src/test/java/org/elasticsearch/script/StoredScriptTests.java
Labels: :Core/Scripting, >bug, v6.4.0, v7.0.0

#30578 Adjust versions for resize copy settings
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.shrink/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.shrink/20_source_mapping.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.shrink/30_copy_settings.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.split/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.split/20_source_mapping.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.split/30_copy_settings.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/ResizeRequest.java
Labels: :Core/Index APIs, >non-issue, review, v7.0.0

#30584 LLRest: Add equals and hashcode tests for Request
  client/rest/src/test/java/org/elasticsearch/client/RequestTests.java
Labels: :Core/Java Low Level REST Client, >test, review, v6.4.0, v7.0.0

#30498 Docs: Document how to rebuild analyzers
  docs/reference/analysis/analyzers/fingerprint-analyzer.asciidoc
  docs/reference/analysis/analyzers/keyword-analyzer.asciidoc
  docs/reference/analysis/analyzers/pattern-analyzer.asciidoc
  docs/reference/analysis/analyzers/simple-analyzer.asciidoc
  docs/reference/analysis/analyzers/standard-analyzer.asciidoc
  docs/reference/analysis/analyzers/stop-analyzer.asciidoc
  docs/reference/analysis/analyzers/whitespace-analyzer.asciidoc
Labels: :Search/Analysis, >docs, review, v6.4.0, v7.0.0

#30590 [DOCS] Adds release highlight pages
  docs/reference/index-shared4.asciidoc
  docs/reference/release-notes/highlights-7.0.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, v6.3.0, v6.4.0, v7.0.0

#30587 Add deprecation warning for default shards
  distribution/archives/integ-test-zip/src/test/java/org/elasticsearch/test/rest/DefaultShardsIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexCreationTaskTests.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/DoSection.java
Labels: :Core/Index APIs, review, v6.4.0

#30394 Fail if reading from closed KeyStoreWrapper
  server/src/main/java/org/elasticsearch/common/settings/KeyStoreWrapper.java
  server/src/test/java/org/elasticsearch/common/settings/KeyStoreWrapperTests.java
Labels: :Core/Settings, >non-issue, review, v6.3.0, v6.4.0, v7.0.0

#30593 Remove the changelog
  docs/CHANGELOG.asciidoc
Labels: :Core/Build, >docs, review, v5.6.10, v6.3.0, v6.4.0, v7.0.0

#30125 [ML] Reverse engineer Grok patterns from categorization results
  x-pack/docs/en/rest-api/ml/get-category.asciidoc
  x-pack/docs/en/rest-api/ml/resultsresource.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/CategoryDefinition.java
  x-pack/plugin/ml/build.gradle
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetCategoriesAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/GrokPatternCreator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/categorization/GrokPatternCreatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobProviderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/results/CategoryDefinitionTests.java
Labels: :ml, >feature, review, v6.4.0, v7.0.0

#30569 [Tests] Relax allowed delta in extended_stats aggregation
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalExtendedStatsTests.java
Labels: :Search/Aggregations, >test, review, v6.3.0, v6.4.0, v7.0.0

#30573 Minor language change in the section detailing usage of elasticsearch…
  docs/reference/index-modules/translog.asciidoc
Labels: >docs

#30571 Side-step pending deletes check
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.split/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.split/20_source_mapping.yml
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/ShrinkIndexIT.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/SplitIndexIT.java
Labels: :Distributed/Store, >bug, v6.4.0, v7.0.0
