Repository elastic/elasticsearch, pull requests merged in 2018-12, with the labels that each got.

#36022 [DOCS] Replace deprecated ldap setting
  x-pack/docs/en/security/authentication/configuring-ldap-realm.asciidoc
Labels: :Security/Authentication, >docs, v5.6.14, v6.0.3, v6.1.5, v6.2.5, v6.3.3, v6.4.4, v6.5.2, v6.6.0, v7.0.0

#36119 [Zen2] Only bootstrap a single node
  modules/transport-netty4/src/test/java/org/elasticsearch/rest/discovery/Zen2RestApiIT.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Distributed/ZenDiscovery, >test, v7.0.0

#36133 [Zen2] Fix NodeJoinTests again
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#36028 Add DEBUG/TRACE logs for LDAP bind
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/support/LdapUtils.java
Labels: :Security/Authentication, >enhancement, v6.6.0, v7.0.0

#36143 TESTS: Fix IndexStatsIT#testFilterCacheStats
  server/src/test/java/org/elasticsearch/indices/stats/IndexStatsIT.java
Labels: :Distributed/Engine, >non-issue, >test, v6.6.0, v7.0.0

#35854 Replace Streamable w/ Writeable in BaseTasksRequest and subclasses
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/RethrottleRequest.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/RoundTripTests.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/cancel/CancelTasksRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/cancel/TransportCancelTasksAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/list/ListTasksRequest.java
  server/src/main/java/org/elasticsearch/action/support/tasks/BaseTasksRequest.java
  server/src/main/java/org/elasticsearch/action/support/tasks/TransportTasksAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TestTaskPlugin.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TransportTasksActionTests.java
  server/src/test/java/org/elasticsearch/persistent/TestPersistentTasksPlugin.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportFollowStatsAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/StatsRequestTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/FollowStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/CloseJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/FlushJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/ForecastJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetJobsStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/IsolateDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/JobTaskRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/KillProcessAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PersistJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PostDataAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StopDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/UpdateProcessAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/DeleteRollupJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/GetRollupJobsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/StartRollupJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/StopRollupJobAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/CloseJobActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/ForecastJobActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetJobStatsActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PersistJobActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PostDataActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PostDataFlushRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/StopDatafeedActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/UpdateProcessActionRequestTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportJobTaskAction.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/DeleteJobActionRequestTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/GetJobsActionRequestTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/StartJobActionRequestTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/StopJobActionRequestTests.java
Labels: :Core/Infra/Core, >non-issue, v6.6.0, v7.0.0

#36077 Fix error message when package install fails due to missing Java
  distribution/packages/src/common/scripts/preinst
  distribution/src/bin/elasticsearch-env
  qa/vagrant/src/main/java/org/elasticsearch/packaging/test/ArchiveTestCase.java
  qa/vagrant/src/main/java/org/elasticsearch/packaging/test/PackageTestCase.java
Labels: :Core/Infra/Packaging, >bug, v6.5.3, v6.6.0, v7.0.0

#36105 Fix smb-docker fixture when runnig with aufs
  x-pack/test/smb-fixture/src/main/resources/provision/installsmb.sh
Labels: :Core/Infra/Build, :Security/Authorization, >test-failure, v6.6.0, v7.0.0

#36147 MINOR: Remove Dead Code in QueryCache
  server/src/main/java/org/elasticsearch/index/cache/query/DisabledQueryCache.java
  server/src/main/java/org/elasticsearch/index/cache/query/IndexQueryCache.java
  server/src/main/java/org/elasticsearch/index/cache/query/QueryCache.java
Labels: :Core/Infra/Core, >non-issue, v6.6.0, v7.0.0

#36140 MINOR: BlobstoreRepository Cleanups
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v6.6.0, v7.0.0

#36139 MINOR: Some Cleanups around Store
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/ShardUtilsTests.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
  server/src/test/java/org/elasticsearch/index/store/StoreUtils.java
Labels: :Distributed/Store, >non-issue, v6.6.0, v7.0.0

#35354 Remove the distinction between query and filter context in QueryBuilders
  docs/reference/migration/migrate_7_0/search.asciidoc
  docs/reference/query-dsl/bool-query.asciidoc
  server/src/main/java/org/elasticsearch/cluster/metadata/AliasValidator.java
  server/src/main/java/org/elasticsearch/index/query/AbstractQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/BoolQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/ConstantScoreQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/FuzzyQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/QueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/index/query/SpanNearQueryBuilder.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FilterAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/sort/SortBuilder.java
  server/src/test/java/org/elasticsearch/index/query/BoolQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanMultiTermQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/plugin/CustomQueryParserIT.java
  server/src/test/java/org/elasticsearch/index/query/plugin/DummyQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/plugin/DummyQueryParserPlugin.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FilterAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTermsAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/SecurityIndexSearcherWrapper.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/SecurityIndexSearcherWrapperIntegrationTests.java
Labels: :Search/Search, >breaking, >breaking-java, v6.6.0, v7.0.0

#36152 Enforce max_buckets limit only in the final reduction phase
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
Labels: :Analytics/Aggregations, >enhancement, v6.6.0, v7.0.0

#36118 [ML] JIndex: Replace Version.CURRENT in streaming functions
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/OpenJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/UpdateJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdate.java
Labels: :ml, >feature

#36158 [FEATURE][ML] Write control message to signify end of data
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/analytics/DataFrameDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/analytics/process/AnalyticsControlMessageWriter.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/analytics/process/AnalyticsProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/analytics/process/AnalyticsProcessConfig.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/analytics/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/analytics/process/NativeAnalyticsProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/analytics/process/NativeAnalyticsProcessFactory.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/analytics/process/AnalyticsControlMessageWriterTests.java
Labels: :ml

#36155 Fix java date parsing to be compatible with joda
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
Labels: :Core/Infra/Core

#36160 [Zen2] Do not probe non-master nodes back
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/discovery/PeerFinder.java
  server/src/test/java/org/elasticsearch/discovery/PeerFinderTests.java
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#35629 Script docs
  docs/painless/painless-contexts/painless-score-context.asciidoc
  docs/painless/painless-contexts/painless-similarity-context.asciidoc
  docs/painless/painless-contexts/painless-sort-context.asciidoc
  docs/painless/painless-contexts/painless-weight-context.asciidoc
Labels: :Core/Infra/Scripting, >docs, v6.6.0, v7.0.0

#36131 Remove the deprecated _termvector endpoint.
  docs/reference/docs/termvectors.asciidoc
  docs/reference/migration/migrate_7_0/api.asciidoc
  docs/reference/migration/migrate_7_0/java.asciidoc
  server/src/main/java/org/elasticsearch/client/Client.java
  server/src/main/java/org/elasticsearch/client/support/AbstractClient.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestTermVectorsAction.java
  server/src/test/java/org/elasticsearch/action/termvectors/GetTermVectorsIT.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestTermVectorsActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/integration/IndexPrivilegeTests.java
Labels: :Search/Search, >breaking, v7.0.0

#36166 SNAPSHOT: Improve Resilience SnapshotShardService (#36113)
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  test/framework/src/main/java/org/elasticsearch/test/disruption/BusyMasterServiceDisruption.java
Labels: :Distributed/Snapshot/Restore, >bug, backport

#36164 SNAPSHOT: Improve Resilience SnapshotShardService (#36113)
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  test/framework/src/main/java/org/elasticsearch/test/disruption/BusyMasterServiceDisruption.java
Labels: :Distributed/Snapshot/Restore, >bug, backport

#36165 [ILM] fix ilm.remove_policy rest-spec
  x-pack/plugin/src/test/resources/rest-api-spec/api/ilm.remove_policy.json
Labels: :Core/Features/ILM

#36009 Added soft limit to open scroll contexts #25244
  docs/reference/search/request/scroll.asciidoc
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
Labels: :Search/Search, >feature, v6.6.0, v7.0.0

#35326 initial cleanup of deprecation checks for 6.x
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/deprecation/DeprecationIssue.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecksTests.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecksTests.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Core/Features/Features

#36156 Deprecate the query filter context
  docs/reference/migration/migrate_6_0/search.asciidoc
  server/src/main/java/org/elasticsearch/index/query/AbstractQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/BoolQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/test/java/org/elasticsearch/index/query/BoolQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FilterAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTermsAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupResponseTranslationTests.java
Labels: :Search/Search, >deprecation, >non-issue, backport, v6.6.0

#36172 Fix occasional failure in deprecation test
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecksTests.java
Labels: :Core/Features/Features, >test, v6.6.0

#36179 [test] generate unique user names
  x-pack/plugin/sql/qa/security/src/test/java/org/elasticsearch/xpack/sql/qa/security/UserFunctionIT.java
Labels: :Search/SQL, >test, v6.6.0, v7.0.0

#36175 Fix deprecation of audit log settings
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/DeprecatedLoggingAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/AuditTrailSettingsUpdateTests.java
Labels: :Security/Audit, >bug, v6.5.3, v6.6.0

#36049 [HLRC] Added support for CCR Get Auto Follow Pattern apis
  client/rest-high-level/src/main/java/org/elasticsearch/client/CcrClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/CcrRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/GetAutoFollowPatternRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/GetAutoFollowPatternResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/CCRIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ccr/GetAutoFollowPatternResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CCRDocumentationIT.java
  docs/java-rest/high-level/ccr/get_auto_follow_pattern.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Features/Java High Level REST Client, >enhancement, v6.6.0, v7.0.0

#36168 [Zen2] Reduce cluster scope in NodeDisconnectIT
  server/src/test/java/org/elasticsearch/client/transport/NodeDisconnectIT.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Distributed/ZenDiscovery, >test, v7.0.0

#36180 [Docs] Fix some typos
  docs/reference/mapping/types/parent-join.asciidoc
Labels: :Search/Search, >docs

#36174 Added soft limit to open scroll contexts #25244 (#36009)
  docs/reference/migration/migrate_6_0/search.asciidoc
  docs/reference/search/request/scroll.asciidoc
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
Labels: :Search/Search, >non-issue, backport, v6.6.0

#36116 Combine the execution of an exclusive replica operation with primary term update
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: :Distributed/Distributed, >bug, v6.6.0, v7.0.0

#36013 [Zen2] Implement state recovery
  server/src/main/java/org/elasticsearch/gateway/ClusterStateUpdaters.java
  server/src/main/java/org/elasticsearch/gateway/Gateway.java
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/main/java/org/elasticsearch/gateway/GatewayService.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PersistedStateIT.java
  server/src/test/java/org/elasticsearch/gateway/ClusterStateUpdatersTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayMetaStatePersistedStateTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayServiceTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayTests.java
  test/framework/src/main/java/org/elasticsearch/test/discovery/TestZenDiscovery.java
Labels: :Distributed/ZenDiscovery, >enhancement

#35945 [CCR] AutoFollowCoordinator should tolerate that auto follow patterns may be removed
  client/rest-high-level/src/test/java/org/elasticsearch/client/CCRIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrLicenseChecker.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
Labels: :Distributed/CCR, >bug, v6.5.3, v6.6.0, v7.0.0

#36191 Deprecate setting boost on inner span queries
  docs/reference/migration/migrate_6_6.asciidoc
  docs/reference/query-dsl/span-queries.asciidoc
  server/src/main/java/org/elasticsearch/index/query/SpanContainingQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SpanFirstQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SpanNearQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SpanNotQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SpanOrQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SpanQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SpanWithinQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/SpanContainingQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanFirstQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanNearQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanNotQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanOrQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanWithinQueryBuilderTests.java
Labels: :Search/Search, >bug, >deprecation, backport, v6.6.0

#36117 [ML] Add lazy parsing for DatafeedConfig:Aggs,Query
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/XContentObjectTransformer.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedUpdateTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DelayedDataDetectorIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/delayeddatacheck/DelayedDataDetectorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/RollupDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorFactory.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobValidatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/DataExtractorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/BasicDistributedJobsIT.java
Labels: :ml, >enhancement, v6.6.0, v7.0.0

#36196 Always configure soft-deletes field of IndexWriterConfig
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
Labels: :Distributed/Engine, >enhancement, v6.5.3, v6.6.0, v7.0.0

#36038 Set Lucene version upon index creation.
  server/src/main/java/org/elasticsearch/Version.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/common/lucene/uid/VersionsTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Engine, >bug, v7.0.0

#35790 Make typeless APIs usable with indices whose type name is different from `_doc`
  rest-api-spec/src/main/resources/rest-api-spec/test/bulk/70_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/delete/70_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/explain/40_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/get/100_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/index/70_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_mapping/70_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_mapping/20_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/mtermvectors/30_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/termvectors/50_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/update/90_mix_typeless_typeful.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/exists/types/TransportTypesExistsAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/explain/TransportExplainAction.java
  server/src/main/java/org/elasticsearch/action/get/TransportGetAction.java
  server/src/main/java/org/elasticsearch/action/get/TransportMultiGetAction.java
  server/src/main/java/org/elasticsearch/action/termvectors/MultiTermVectorsRequest.java
  server/src/main/java/org/elasticsearch/action/termvectors/TransportMultiTermVectorsAction.java
  server/src/main/java/org/elasticsearch/action/termvectors/TransportTermVectorsAction.java
  server/src/main/java/org/elasticsearch/action/update/TransportUpdateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataMappingService.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/termvectors/TermVectorsService.java
  server/src/test/java/org/elasticsearch/action/get/TransportMultiGetActionTests.java
  server/src/test/java/org/elasticsearch/action/termvectors/TransportMultiTermVectorsActionTests.java
  server/src/test/java/org/elasticsearch/cluster/ack/AckIT.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataMappingServiceTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayIndexStateIT.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/ShardGetServiceTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/index/IndexAuditTrail.java
Labels: :Search/Mapping, >feature, v7.0.0

#36157 SNAPSHOT: Repo Creation out of ClusterStateTask
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/test/java/org/elasticsearch/snapshots/RepositoriesIT.java
Labels: :Distributed/Snapshot/Restore, >enhancement, v6.6.0, v7.0.0

#36185 Deprecation check for `:` in Cluster/Index name
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecksTests.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecksTests.java
Labels: :Core/Features/Features, >enhancement, v6.6.0

#36086 Register CcrRepository based on settings update
  server/src/main/java/org/elasticsearch/plugins/RepositoryPlugin.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesModule.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesModuleTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterServiceTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrRepositoryManager.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/DeleteInternalCcrRepositoryAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/DeleteInternalCcrRepositoryRequest.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/PutInternalCcrRepositoryAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/PutInternalCcrRepositoryRequest.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrRepositoryManagerIT.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolver.java
Labels: :Distributed/CCR, >non-issue, v6.6.0, v7.0.0

#36216 Add javadocs about expected exceptions to RestHighLevelClient
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  docs/java-rest/high-level/execution.asciidoc
Labels: :Core/Features/Java High Level REST Client, >docs, >enhancement, v6.5.0, v6.6.0, v7.0.0

#36197 Make credentials mandatory when launching xpack/migrate
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/ESNativeRealmMigrateTool.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/ESNativeMigrateToolTests.java
Labels: :Security/Security, >enhancement, v6.6.0, v7.0.0

#36203 [CCR] Change get autofollow patterns API response format
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/GetAutoFollowPatternResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ccr/GetAutoFollowPatternResponseTests.java
  docs/reference/ccr/apis/auto-follow/get-auto-follow-pattern.asciidoc
  x-pack/plugin/ccr/qa/rest/src/test/resources/rest-api-spec/test/ccr/auto_follow.yml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/GetAutoFollowPatternAction.java
Labels: :Core/Features/Java High Level REST Client, :Distributed/CCR, >breaking, >enhancement

#36204 [ML-DataFrame] cancel indexer on job deletion and remove task, allow only stopped jo…
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/DeleteDataFrameJobAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportDeleteDataFrameJobAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/job/DataFrameJobTask.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/rest/action/RestDeleteDataFrameJobAction.java
Labels: :ml, >feature, v7.0.0

#35834 [ML] Job In Index: Migrate config from the clusterstate
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/XPackIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlTasks.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/MlTasksTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlAssignmentNotifier.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlConfigMigrator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlInitializationService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/persistence/DatafeedConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlAssignmentNotifierTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlConfigMigratorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlInitializationServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/MlConfigMigratorIT.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/60_ml_config_migration.yml
Labels: :ml

#34263 Upgrade to Gradle 5.0
  benchmarks/build.gradle
  build.gradle
  buildSrc/src/main/groovy/com/carrotsearch/gradle/junit4/TestProgressLogger.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/PrecommitTasks.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterFormationTasks.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/RestIntegTestTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/RunTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/vagrant/VagrantTestPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/ExportElasticsearchBuildResourcesTask.java
  buildSrc/src/main/resources/minimumGradleVersion
  buildSrc/src/testKit/elasticsearch-build-resources/settings.gradle
  buildSrc/src/testKit/elasticsearch.build/settings.gradle
  buildSrc/src/testKit/jarHell/settings.gradle
  buildSrc/src/testKit/namingConventionsSelfTest/settings.gradle
  buildSrc/src/testKit/testclusters/settings.gradle
  client/rest-high-level/build.gradle
  distribution/archives/build.gradle
  distribution/bwc/build.gradle
  distribution/packages/build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  plugins/repository-s3/build.gradle
  qa/wildfly/build.gradle
  settings.gradle
Labels: :Core/Infra/Build, >non-issue, >upgrade, v6.6.0, v7.0.0

#36176 Replace Streamable w/ Writeable in BaseTasksResponse and subclasses
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/RethrottleAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportRethrottleAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/cancel/CancelTasksAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/cancel/CancelTasksResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/cancel/TransportCancelTasksAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/list/ListTasksAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/list/ListTasksResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/list/TransportListTasksAction.java
  server/src/main/java/org/elasticsearch/action/support/tasks/BaseTasksResponse.java
  server/src/main/java/org/elasticsearch/action/support/tasks/TransportTasksAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TestTaskPlugin.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TransportTasksActionTests.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksNodeServiceTests.java
  server/src/test/java/org/elasticsearch/persistent/TestPersistentTasksPlugin.java
  server/src/test/java/org/elasticsearch/tasks/ListTasksResponseTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportFollowStatsAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/StatsResponsesTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/CcrStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/FollowStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/CloseJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/FlushJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/ForecastJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetJobsStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/IsolateDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/KillProcessAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PersistJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PostDataAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StopDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/UpdateProcessAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/DeleteRollupJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/GetRollupJobsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/StartRollupJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/StopRollupJobAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/CloseJobActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/ForecastJobActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetJobStatsActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PersistJobActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PostDataActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PostDataFlushResponseTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportFlushJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportForecastJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetJobsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportIsolateDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportJobTaskAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportKillProcessAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPersistJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPostDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateProcessAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportDeleteRollupJobAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportGetRollupJobAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportStartRollupAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportStopRollupAction.java
Labels: :Core/Infra/Core, >non-issue, v7.0.0

#36213 [HLRC] Added support for CCR Stats API
  client/rest-high-level/src/main/java/org/elasticsearch/client/CcrClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/CcrRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/AutoFollowStats.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/CcrStatsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/CcrStatsResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/IndicesFollowStats.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/CCRIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ccr/CcrStatsResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CCRDocumentationIT.java
  docs/java-rest/high-level/ccr/get_stats.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Features/Java High Level REST Client, >enhancement, v6.6.0, v7.0.0

#36107 Testing conventions task part 2
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/plugin/PluginBuildPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/precommit/TestingConventionsTasks.java
  buildSrc/src/test/java/org/elasticsearch/gradle/precommit/FilePermissionsTaskTests.java
  plugins/repository-hdfs/build.gradle
  plugins/repository-s3/build.gradle
  server/build.gradle
  test/framework/build.gradle
  test/framework/src/test/java/org/elasticsearch/test/disruption/NetworkDisruptionIT.java
  test/framework/src/test/java/org/elasticsearch/test/test/SuiteScopeClusterIT.java
  x-pack/plugin/ccr/build.gradle
  x-pack/plugin/core/build.gradle
  x-pack/plugin/ml/build.gradle
  x-pack/plugin/monitoring/build.gradle
  x-pack/plugin/upgrade/build.gradle
  x-pack/qa/kerberos-tests/build.gradle
  x-pack/qa/openldap-tests/build.gradle
  x-pack/qa/saml-idp-tests/build.gradle
  x-pack/qa/third-party/active-directory/build.gradle
  x-pack/qa/third-party/hipchat/build.gradle
  x-pack/qa/third-party/jira/build.gradle
  x-pack/qa/third-party/pagerduty/build.gradle
  x-pack/qa/third-party/slack/build.gradle
Labels: :Core/Infra/Build, >non-issue, v6.6.0, v7.0.0

#36031 Refactor AutoFollowCoordinator to track leader indices per remote cluster
  x-pack/plugin/ccr/qa/chain/build.gradle
  x-pack/plugin/ccr/qa/chain/src/test/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrSettings.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrLicenseIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
Labels: :Distributed/CCR, >enhancement, v6.6.0, v7.0.0

#35868 HLRC: execute watch API
  client/rest-high-level/src/main/java/org/elasticsearch/client/WatcherClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/WatcherRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/common/XContentSource.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/watcher/ExecuteWatchRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/watcher/ExecuteWatchResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/WatcherIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/WatcherRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/WatcherDocumentationIT.java
  docs/java-rest/high-level/supported-apis.asciidoc
  docs/java-rest/high-level/watcher/execute-watch.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/support/xcontent/XContentSource.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/transport/actions/execute/ExecuteWatchResponse.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/protocol/xpack/watcher/ExecuteWatchResponseTests.java
Labels: :Core/Features/Java High Level REST Client, >enhancement, v6.6.0, v7.0.0

#36212 Update to lucene-8.0.0-snapshot-c78429a554
  buildSrc/version.properties
  docs/reference/mapping/types/percolator.asciidoc
  docs/reference/query-dsl/percolate-query.asciidoc
  docs/reference/search/explain.asciidoc
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/WordDelimiterGraphTokenFilterFactory.java
  modules/lang-expression/licenses/lucene-expressions-8.0.0-snapshot-67cdd21996.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.0.0-snapshot-c78429a554.jar.sha1
  modules/lang-painless/src/test/java/org/elasticsearch/painless/PainlessExecuteApiTests.java
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.0.0-snapshot-67cdd21996.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.0.0-snapshot-67cdd21996.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.0.0-snapshot-67cdd21996.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.0.0-snapshot-67cdd21996.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.0.0-snapshot-67cdd21996.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.0.0-snapshot-67cdd21996.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.0.0-snapshot-67cdd21996.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-analyzers-common-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-analyzers-common-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-backward-codecs-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-backward-codecs-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-core-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-core-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-grouping-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-grouping-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-highlighter-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-highlighter-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-join-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-join-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-memory-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-memory-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-misc-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-misc-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-queries-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-queries-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-queryparser-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-queryparser-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-sandbox-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-sandbox-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-spatial-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-spatial-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-spatial-extras-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-spatial-extras-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-spatial3d-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-spatial3d-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-suggest-8.0.0-snapshot-67cdd21996.jar.sha1
  server/licenses/lucene-suggest-8.0.0-snapshot-c78429a554.jar.sha1
  server/src/main/java/org/elasticsearch/index/similarity/SimilarityProviders.java
  server/src/main/java/org/elasticsearch/index/similarity/SimilarityService.java
  server/src/test/java/org/elasticsearch/index/similarity/LegacySimilarityTests.java
  server/src/test/java/org/elasticsearch/index/similarity/SimilarityServiceTests.java
  server/src/test/java/org/elasticsearch/index/similarity/SimilarityTests.java
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.0.0-snapshot-67cdd21996.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.0.0-snapshot-c78429a554.jar.sha1
Labels: :Search/Search, >non-issue, v7.0.0

#36178 add missing error type mapping for apm-server
  x-pack/plugin/core/src/main/resources/monitoring-beats.json
Labels: :Core/Features/Monitoring, >bug, v6.5.3

#36247 Zen2: Persist cluster states the old way on non-master-eligible nodes
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  test/framework/src/main/java/org/elasticsearch/test/discovery/TestZenDiscovery.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#36068 SQL: Propagate a doc-value `format` with inner hits.
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/container/QueryContainer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/query/BoolQuery.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/query/LeafQuery.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/query/NestedQuery.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/query/NotQuery.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/query/Query.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/querydsl/container/QueryContainerTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/querydsl/query/BoolQueryTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/querydsl/query/LeafQueryTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/querydsl/query/NestedQueryTests.java
Labels: :Search/SQL, >non-issue, v7.0.0

#36220 Removed 6.5.2 tags
  docs/reference/release-notes/6.5.asciidoc
Labels: :Docs, >docs

#36236 Updated version to 6.5.2
  docs/Versions.asciidoc
Labels: :Docs, >docs

#36254 [ML] Use 'anomaly-detector' in job config doc name
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
Labels: :ml

#36244 Rename internal repository actions to be internal
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrRepositoryManager.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/DeleteInternalCcrRepositoryAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/PutInternalCcrRepositoryAction.java
Labels: :Distributed/CCR, >non-issue, v6.6.0, v7.0.0

#36122 Unit test for very large percentile aggs
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/TDigestStateTests.java
Labels: :Analytics/Aggregations, >test, v6.6.0, v7.0.0

#36262 Correct doc reference tag
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/WatcherDocumentationIT.java
Labels: :Core/Features/Watcher, :Docs, >test-failure, v6.6.0, v7.0.0

#36266 Bump 6.5 branch version to 6.5.3
  buildSrc/version.properties
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue

#36270 Core: Deguice RepositoriesService (#36016)
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesModule.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
Labels: :Core/Infra/Core, >refactoring, backport, v6.6.0

#36267 Add version 6.5.3 to 6.x branch
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue

#36268 Add version 6.5.3
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue

#36280 Bump 5.6 version to 5.6.15
  buildSrc/version.properties
  core/src/main/java/org/elasticsearch/Version.java
  core/src/test/resources/indices/bwc/index-5.6.14.zip
  core/src/test/resources/indices/bwc/repo-5.6.14.zip
Labels: >non-issue

#36224 [Zen2] Hide not recovered state
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/IngestRestartIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/gateway/ClusterStateUpdaters.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsIT.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/CreateIndexIT.java
  server/src/test/java/org/elasticsearch/cluster/routing/PrimaryAllocationIT.java
  server/src/test/java/org/elasticsearch/gateway/ClusterStateUpdatersTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayIndexStateIT.java
  server/src/test/java/org/elasticsearch/gateway/QuorumGatewayIT.java
  server/src/test/java/org/elasticsearch/gateway/RecoverAfterNodesIT.java
  server/src/test/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/test/java/org/elasticsearch/indices/flush/FlushIT.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksExecutorFullRestartIT.java
  server/src/test/java/org/elasticsearch/persistent/decider/EnableAssignmentDeciderIT.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicenseServiceClusterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/MlDistributedFailureIT.java
Labels: :Distributed/ZenDiscovery, >enhancement

#36226 Zen2: Rename voting tombstones to exclusions
  modules/transport-netty4/src/test/java/org/elasticsearch/rest/discovery/Zen2RestApiIT.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/AddVotingConfigExclusionsAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/AddVotingConfigExclusionsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/AddVotingConfigExclusionsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/ClearVotingConfigExclusionsAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/ClearVotingConfigExclusionsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/ClearVotingConfigExclusionsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/TransportAddVotingConfigExclusionsAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/TransportClearVotingConfigExclusionsAction.java
  server/src/main/java/org/elasticsearch/cluster/ClusterState.java
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationMetaData.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestAddVotingConfigExclusionAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClearVotingConfigExclusionsAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/configuration/AddVotingConfigExclusionsRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/configuration/AddVotingConfigExclusionsResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/configuration/ClearVotingConfigExclusionsRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/configuration/ClearVotingConfigExclusionsResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/configuration/TransportAddVotingConfigExclusionsActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/configuration/TransportClearVotingConfigExclusionsActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteResponseTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateDiffIT.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinationMetaDataTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayMetaStatePersistedStateTests.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#36241 Don't use Math.random in tests for reproducability
  buildSrc/src/main/resources/forbidden/es-test-signatures.txt
  server/src/test/java/org/elasticsearch/common/util/ArrayUtilsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/PathTests.java
Labels: :Search/Search, >test, v6.6.0, v7.0.0

#36252 [Docs] Add Profile API limitations
  docs/reference/search/profile.asciidoc
Labels: :Search/Search, >docs, v6.5.3, v6.6.0, v7.0.0

#36290 Fix total hits serialization of the search response
  server/src/main/java/org/elasticsearch/common/lucene/Lucene.java
  server/src/main/java/org/elasticsearch/search/SearchHits.java
Labels: :Search/Search, >non-issue, v7.0.0

#36198 Fix get certificates HLRC API
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/GetSslCertificatesRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/support/CertificateInfo.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/GetSslCertificatesResponseTests.java
  docs/java-rest/high-level/security/get-certificates.asciidoc
Labels: :Core/Features/Java High Level REST Client, >non-issue, v6.6.0, v7.0.0

#36294 SNAPSHOT: Increase Timeout to Stabilize Test
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
Labels: :Distributed/Snapshot/Restore, >non-issue, >test, v6.5.3, v6.6.0, v7.0.0

#33409 Docs: Add password keystore setting for email account passwords
  x-pack/docs/en/watcher/actions/email.asciidoc
Labels: :Core/Features/Watcher, >docs, v6.3.3, v6.4.1, v6.6.0, v7.0.0

#36273 add missing error type mapping for apm-server monitoring
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/monitoring/exporter/MonitoringTemplateUtils.java
  x-pack/plugin/core/src/main/resources/monitoring-alerts.json
  x-pack/plugin/core/src/main/resources/monitoring-beats.json
  x-pack/plugin/core/src/main/resources/monitoring-es.json
  x-pack/plugin/core/src/main/resources/monitoring-kibana.json
  x-pack/plugin/core/src/main/resources/monitoring-logstash.json
Labels: :Core/Features/Monitoring, >bug, backport, v6.5.3, v6.6.0

#36301 Help Eclipse with type inference for functions
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/BootstrapConfigurationTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinationMetaDataTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/FollowersCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LeaderCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/MessagesTests.java
  server/src/test/java/org/elasticsearch/discovery/PeerFinderMessagesTests.java
Labels: :Core/Infra/Build, >non-issue, v7.0.0

#36302 [Tests] Fix third party tests with Gradle 5.0
  plugins/repository-gcs/qa/google-cloud-storage/src/test/resources/rest-api-spec/test/repository_gcs/10_repository.yml
  plugins/repository-s3/build.gradle
  plugins/repository-s3/src/test/resources/rest-api-spec/test/repository_s3/20_repository_permanent_credentials.yml
Labels: :Distributed/Snapshot/Restore, >test, v6.5.3, v6.6.0, v7.0.0

#35970 Implement lookup of permissions for API keys
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
  x-pack/plugin/core/src/main/resources/security-index-template.json
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportGetUserPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationUtils.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStore.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/filter/SecurityActionFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ServerTransportFilterTests.java
Labels: :Security/Authentication, >non-issue

#36052 [Zen2] Storage layer WriteStateException propagation
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/main/java/org/elasticsearch/gateway/WriteStateException.java
  server/src/test/java/org/elasticsearch/gateway/WriteStateExceptionTests.java
Labels: :Core/Infra/Resiliency, :Distributed/ZenDiscovery, >enhancement

#36298 Introduce `zen2` discovery type
  server/src/main/java/org/elasticsearch/cluster/coordination/InMemoryPersistedState.java
  server/src/main/java/org/elasticsearch/discovery/DiscoveryModule.java
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/test/java/org/elasticsearch/bootstrap/BootstrapChecksTests.java
  test/framework/src/main/java/org/elasticsearch/test/discovery/TestZenDiscovery.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#36208 TEST: Reenable RemoveCorruptedShardDataCommandIT.testCorruptIndex
  server/src/test/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandIT.java
Labels: :Distributed/Engine, >non-issue, >test, v7.0.0

#36261 Adding additional tests for agg parsing in datafeedconfig
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/XContentObjectTransformer.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfigTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/datafeeds_crud.yml
Labels: :ml, >non-issue, v6.6.0, v7.0.0

#36308 Remove license state listeners on closables
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseStateListener.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporterTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/accesscontrol/OptOutQueryCache.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/OptOutQueryCacheTests.java
Labels: :Security/Security, >bug, blocker, v6.5.3, v6.6.0, v7.0.0

#36288 [DOCS] Add missing anchors
  docs/reference/getting-started.asciidoc
Labels: :Docs, >docs, v6.5.3, v6.6.0, v7.0.0

#36081 [ILM] [DOCS] add general info about steps
  docs/reference/ilm/policy-definitions.asciidoc
Labels: :Core/Features/ILM

#36333 Add docs on replicating APM Server or Beats indices
  docs/reference/ccr/requirements.asciidoc
Labels: :Distributed/CCR, >docs, v6.5.3, v6.6.0, v7.0.0

#36233 [ML] Adding audits when deprecation warnings occur with datafeed start
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/LoggingDeprecationAccumulationHandler.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/XContentObjectTransformer.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/XContentObjectTransformerTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedActionTests.java
Labels: :ml, >enhancement, v6.6.0, v7.0.0

#36246 Introduce Docker images build
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  distribution/docker/build.gradle
  distribution/docker/src/docker/Dockerfile
  distribution/docker/src/docker/bin/docker-entrypoint.sh
  distribution/docker/src/docker/config/elasticsearch.yml
  distribution/docker/src/docker/config/log4j2.properties
  settings.gradle
Labels: :Core/Infra/Packaging, >enhancement, v6.6.0, v7.0.0

#36325 Build: Use explicit deps on test tasks for check
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/plugin/PluginBuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/RestIntegTestTask.groovy
  plugins/repository-s3/build.gradle
  server/build.gradle
  x-pack/plugin/ccr/build.gradle
  x-pack/plugin/ml/build.gradle
  x-pack/plugin/monitoring/build.gradle
  x-pack/plugin/upgrade/build.gradle
Labels: :Core/Infra/Build, >bug, v6.6.0, v7.0.0

#36188 TEST: Ensure a manual flush always occur
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: :Distributed/Engine, >test, v6.5.3, v6.6.0, v7.0.0

#36289 Add DirectByteBuffer strategy for transport-nio
  libs/nio/src/main/java/org/elasticsearch/nio/BytesChannelContext.java
  libs/nio/src/main/java/org/elasticsearch/nio/NioSelector.java
  libs/nio/src/main/java/org/elasticsearch/nio/SocketChannelContext.java
  libs/nio/src/test/java/org/elasticsearch/nio/BytesChannelContextTests.java
  libs/nio/src/test/java/org/elasticsearch/nio/SocketChannelContextTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContextTests.java
Labels: :Distributed/Network, >non-issue, v7.0.0

#36335 Upgrade to Lucene-8.0.0-snapshot-aaa64d70159
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.0.0-snapshot-aaa64d70159.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.0.0-snapshot-aaa64d70159.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.0.0-snapshot-aaa64d70159.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.0.0-snapshot-aaa64d70159.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.0.0-snapshot-aaa64d70159.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.0.0-snapshot-aaa64d70159.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.0.0-snapshot-aaa64d70159.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.0.0-snapshot-c78429a554.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.0.0-snapshot-aaa64d70159.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-analyzers-common-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-analyzers-common-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-backward-codecs-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-backward-codecs-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-core-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-core-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-grouping-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-grouping-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-highlighter-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-highlighter-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-join-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-join-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-memory-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-memory-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-misc-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-misc-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-queries-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-queries-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-queryparser-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-queryparser-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-sandbox-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-sandbox-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-spatial-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-spatial-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-spatial-extras-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-spatial-extras-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-spatial3d-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-spatial3d-8.0.0-snapshot-c78429a554.jar.sha1
  server/licenses/lucene-suggest-8.0.0-snapshot-aaa64d70159.jar.sha1
  server/licenses/lucene-suggest-8.0.0-snapshot-c78429a554.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.0.0-snapshot-aaa64d70159.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.0.0-snapshot-c78429a554.jar.sha1
Labels: :Search/Search, >non-issue, v7.0.0

#36286 Add soft-deletes upgrade tests
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
Labels: :Distributed/Recovery, >test, v7.0.0

#36300 [ZEN2] Use Zen2 in REST Tests
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterFormationTasks.groovy
  docs/reference/modules/node.asciidoc
  qa/rolling-upgrade/build.gradle
  qa/unconfigured-node-name/build.gradle
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterBootstrapService.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ClusterBootstrapServiceTests.java
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: :Distributed/ZenDiscovery, >test, v7.0.0

#36257 Remove unused DelegatingActionListener class
  server/src/main/java/org/elasticsearch/action/support/DelegatingActionListener.java
Labels: :Distributed/Distributed, >non-issue, v6.6.0, v7.0.0

#36249 [Close Index API] Add TransportShardCloseAction for pre-closing verifications
  server/src/main/java/org/elasticsearch/action/admin/indices/close/TransportVerifyShardBeforeCloseAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/close/TransportVerifyShardBeforeCloseActionTests.java
Labels: :Distributed/Distributed, >enhancement, v7.0.0

#36295 Docs: Mention that fields with dots do not work
  x-pack/docs/en/watcher/condition/array-compare.asciidoc
Labels: :Core/Features/Watcher, >docs, v6.5.3, v6.6.0, v7.0.0

#36316 Scripting: Properly support no-offset date formatting
  server/src/main/java/org/elasticsearch/script/JodaCompatibleZonedDateTime.java
  server/src/test/java/org/elasticsearch/script/JodaCompatibleZonedDateTimeTests.java
Labels: :Core/Infra/Scripting, >bug, v6.5.3, v6.6.0, v7.0.0

#36310 Inner hits fail to propagate doc-value format.
  server/src/main/java/org/elasticsearch/index/query/InnerHitBuilder.java
  server/src/test/java/org/elasticsearch/index/query/InnerHitBuilderTests.java
Labels: :Search/Search, >bug

#36314 [ML] Move consuming and closing results stream to result processor
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/BlackHoleAutodetectProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/NativeAutodetectProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutoDetectResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultsParser.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/NativeAutodetectProcessTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutoDetectResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultsParserTests.java
Labels: :ml, >refactoring, v7.0.0

#36317 [ML] JIndex: Check group names against job Ids on update
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/jobs_crud.yml
Labels: :ml, >feature

#36340 Remove deprecated methods in MoreLikeThisQueryBuilder
  server/src/main/java/org/elasticsearch/index/query/MatchQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilder.java
  server/src/test/java/org/elasticsearch/search/morelikethis/MoreLikeThisIT.java
  server/src/test/java/org/elasticsearch/validate/SimpleValidateQueryIT.java
Labels: :Search/Search, >non-issue, v7.0.0

#36341 Remove deprecated methods in SimpleQueryStringBuilder
  server/src/main/java/org/elasticsearch/index/query/SimpleQueryStringBuilder.java
  server/src/test/java/org/elasticsearch/search/query/SimpleQueryStringIT.java
Labels: :Search/Search, >non-issue, v7.0.0

#36355 Inner hits fail to propagate doc-value format. (#36310)
  server/src/main/java/org/elasticsearch/index/query/InnerHitBuilder.java
  server/src/test/java/org/elasticsearch/index/query/InnerHitBuilderTests.java
Labels: :Search/Search, >bug, v6.6.0

#36215 [Zen2] Best-effort cluster formation if unconfigured
  docs/reference/migration/migrate_7_0/cluster.asciidoc
  docs/reference/setup/bootstrap-checks.asciidoc
  qa/unconfigured-node-name/build.gradle
  server/src/main/java/org/elasticsearch/bootstrap/BootstrapChecks.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterBootstrapService.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/test/java/org/elasticsearch/bootstrap/BootstrapChecksTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ClusterBootstrapServiceTests.java
Labels: :Distributed/ZenDiscovery, >breaking, >enhancement, v7.0.0

#36279 HLRC: Get Deprecation Info API
  client/rest-high-level/src/main/java/org/elasticsearch/client/MigrationClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MigrationRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/migration/DeprecationInfoRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/migration/DeprecationInfoResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MigrationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MigrationClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/migration/DeprecationInfoResponseTests.java
  docs/java-rest/high-level/migration/get-deprecation-info.asciidoc
  docs/java-rest/high-level/migration/upgrade.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Features/Java High Level REST Client, >enhancement, v6.6.0, v7.0.0

#36320 HLRC: Add delete template API
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesRequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/java-rest/high-level/indices/delete_template.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Features/Java High Level REST Client, >enhancement, v6.6.0, v7.0.0

#36190 Deprecation check for File Discovery plugin
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Core/Features/Features, :Distributed/Discovery-Plugins, >enhancement, v6.6.0

#36277 Register CcrRepository based on settings update (#36086)
  server/src/main/java/org/elasticsearch/plugins/RepositoryPlugin.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesModule.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesModuleTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterServiceTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrRepositoryManager.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/DeleteInternalCcrRepositoryAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/DeleteInternalCcrRepositoryRequest.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/PutInternalCcrRepositoryAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/PutInternalCcrRepositoryRequest.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrRepositoryManagerIT.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolver.java
Labels: :Distributed/CCR, >non-issue, backport, v6.6.0

#34667 Remove LocalCheckpointTracker#resetCheckpoint
  server/src/main/java/org/elasticsearch/index/seqno/LocalCheckpointTracker.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
  server/src/test/java/org/elasticsearch/index/seqno/LocalCheckpointTrackerTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Engine, >non-issue, v6.6.0, v7.0.0

#35993 [Zen2] Add warning if cluster fails to form fast enough
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/discovery/PeerFinder.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelperTests.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#36097 [Painless] Generate Bridge Methods
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FeatureTest.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/MethodWriter.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/WriterConstants.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessClass.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessClassBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookup.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SFunction.java
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/spi/org.elasticsearch.txt
  modules/lang-painless/src/test/java/org/elasticsearch/painless/CastTests.java
Labels: :Core/Infra/Scripting, >bug, v6.6.0, v7.0.0

#36374 [ML] Ensure total hits are tracked
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetOverallBucketsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/BatchedDocumentsIterator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredForecastsRemover.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/BatchedDocumentsIteratorTests.java
Labels: :ml, >non-issue, v7.0.0

#36378 Move VersionProperties and Version to min runtime
  buildSrc/src/main/minimumRuntime/org/elasticsearch/gradle/Version.java
  buildSrc/src/main/minimumRuntime/org/elasticsearch/gradle/VersionProperties.java
Labels: :Core/Infra/Build, >non-issue, v6.6.0, v7.0.0

#36373 [ML] Option to use endpoints starting _ml instead of _xpack/ml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/RestDeleteExpiredDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/RestFindFileStructureAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/RestMlInfoAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/calendar/RestDeleteCalendarAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/calendar/RestDeleteCalendarEventAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/calendar/RestDeleteCalendarJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/calendar/RestGetCalendarEventsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/calendar/RestGetCalendarsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/calendar/RestPostCalendarEventAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/calendar/RestPutCalendarAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/calendar/RestPutCalendarJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestDeleteDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestGetDatafeedStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestGetDatafeedsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestPreviewDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestPutDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestStartDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestStopDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestUpdateDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/filter/RestDeleteFilterAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/filter/RestGetFiltersAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/filter/RestPutFilterAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/filter/RestUpdateFilterAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestDeleteForecastAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestFlushJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestForecastJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestGetJobStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestGetJobsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestPostDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestPostJobUpdateAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestPutJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/modelsnapshots/RestDeleteModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/modelsnapshots/RestGetModelSnapshotsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/modelsnapshots/RestRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/modelsnapshots/RestUpdateModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/results/RestGetBucketsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/results/RestGetCategoriesAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/results/RestGetInfluencersAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/results/RestGetOverallBucketsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/results/RestGetRecordsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/validate/RestValidateDetectorAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/validate/RestValidateJobConfigAction.java
Labels: :ml, >enhancement, v6.6.0

#36346 Use MockNioTransport in MockTransportService
  server/src/test/java/org/elasticsearch/client/transport/TransportClientNodesServiceTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterConnectionTests.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
Labels: :Distributed/Network, >non-issue, v7.0.0

#36328 Small improvements related to types deprecation.
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/RestMultiSearchTemplateAction.java
  server/src/main/java/org/elasticsearch/action/termvectors/TermVectorsRequest.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestValidateQueryAction.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestDeleteAction.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestMultiTermVectorsAction.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestTermVectorsAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestCountAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestMultiSearchAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestSearchAction.java
  server/src/test/java/org/elasticsearch/rest/action/RestActionTestCase.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestDeleteActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestMultiTermVectorsActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestTermVectorsActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/search/RestCountActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/search/RestMultiSearchActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/search/RestSearchActionTests.java
Labels: :Core/Infra/REST API, >test, v7.0.0

#36334 HLRC: Add rollup search
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RollupClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RollupRequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RollupIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/RollupDocumentationIT.java
  docs/java-rest/high-level/rollup/search.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  docs/reference/rollup/apis/rollup-search.asciidoc
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/rest/RestRollupSearchAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.rollup.rollup_search.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/rollup/rollup_search.yml
Labels: :Core/Features/Java High Level REST Client, >feature, v6.6.0, v7.0.0

#36269 Undeprecate /_watcher endpoints
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestAckWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestActivateWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestDeleteWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestExecuteWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestGetWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestPutWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestWatchServiceAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestWatcherStatsAction.java
Labels: :Core/Features/Watcher, >deprecation, v6.6.0

#35716 [ILM] Fix issue where index may not yet be in 'hot' phase
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
Labels: :Core/Features/ILM, >non-issue

#36370 [ML] Prevent stack overflow while copying ML jobs and datafeeds
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/datafeed/DatafeedConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/config/Job.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/JobTests.java
Labels: :ml, >bug, v6.5.4, v6.6.0, v7.0.0

#36366 Fix Jackson reference
  docs/java-api/docs/index_.asciidoc
Labels: >docs

#36386 Core: Remove parseDefaulting from DateFormatter
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/main/java/org/elasticsearch/common/time/DateFormatter.java
  server/src/main/java/org/elasticsearch/common/time/EpochMillisDateFormatter.java
  server/src/main/java/org/elasticsearch/common/time/EpochSecondsDateFormatter.java
  server/src/main/java/org/elasticsearch/common/time/JavaDateFormatter.java
  server/src/main/java/org/elasticsearch/common/time/JavaDateMathParser.java
  server/src/test/java/org/elasticsearch/common/time/JavaDateMathParserTests.java
Labels: :Core/Infra/Core, >refactoring, v6.6.0, v7.0.0

#36377 Rename internal repository actions to be internal
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/DeleteInternalCcrRepositoryAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/PutInternalCcrRepositoryAction.java
Labels: :Distributed/CCR, >non-issue, backport, v6.6.0

#36376 Explicitly recommend to forceMerge before freezing
  docs/reference/frozen-indices.asciidoc
Labels: >docs, v6.6.0, v7.0.0

#36326 Simplify deprecation issue levels
  client/rest-high-level/src/main/java/org/elasticsearch/client/migration/DeprecationInfoResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/migration/DeprecationInfoResponseTests.java
  docs/reference/migration/apis/deprecation.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/deprecation/DeprecationIssue.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecks.java
Labels: :Core/Features/Features, >enhancement, v6.6.0, v7.0.0

#36344 For msearch templates, make sure to use the right name for deprecation logging.
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/RestMultiSearchTemplateAction.java
  modules/lang-mustache/src/test/java/org/elasticsearch/script/mustache/MultiSearchTemplateRequestTests.java
  modules/lang-mustache/src/test/java/org/elasticsearch/script/mustache/RestMultiSearchTemplateActionTests.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestMultiSearchAction.java
Labels: :Search/Mapping, >deprecation, v7.0.0

#35737 [Zen2] Support rolling upgrades from Zen1
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationState.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/DiscoveryUpgradeService.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinTaskExecutor.java
  server/src/main/java/org/elasticsearch/cluster/coordination/PreVoteCollector.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Reconfigurator.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/discovery/PeerFinder.java
  server/src/main/java/org/elasticsearch/discovery/zen/ZenPing.java
  server/src/test/java/org/elasticsearch/cluster/coordination/DiscoveryUpgradeServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/Zen1IT.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#36218 Deprecate X-Pack centric watcher endpoints
  client/rest-high-level/src/main/java/org/elasticsearch/client/WatcherRequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/WatcherIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/WatcherRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/WatcherDocumentationIT.java
  x-pack/docs/en/rest-api/watcher/ack-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/activate-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/deactivate-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/delete-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/execute-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/get-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/put-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/start.asciidoc
  x-pack/docs/en/rest-api/watcher/stats.asciidoc
  x-pack/docs/en/rest-api/watcher/stop.asciidoc
  x-pack/docs/en/watcher/actions.asciidoc
  x-pack/docs/en/watcher/example-watches/example-watch-clusterstatus.asciidoc
  x-pack/docs/en/watcher/example-watches/example-watch-meetupdata.asciidoc
  x-pack/docs/en/watcher/example-watches/watching-time-series-data.asciidoc
  x-pack/docs/en/watcher/getting-started.asciidoc
  x-pack/docs/en/watcher/how-watcher-works.asciidoc
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/ClusterAlertHttpResource.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/ClusterAlertHttpResourceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterIT.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterResourceTests.java
  x-pack/plugin/src/test/java/org/elasticsearch/xpack/test/rest/XPackRestIT.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.ack_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.activate_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.deactivate_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.delete_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.execute_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.get_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.put_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.start.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.watcher.stop.json
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/WatcherRestHandler.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestAckWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestActivateWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestDeleteWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestExecuteWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestGetWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestPutWatchAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestWatchServiceAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestWatcherStatsAction.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/WatcherRestartIT.java
  x-pack/qa/smoke-test-monitoring-with-watcher/src/test/java/org/elasticsearch/smoketest/MonitoringWithWatcherRestIT.java
  x-pack/qa/smoke-test-watcher-with-security/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherWithSecurityIT.java
  x-pack/qa/smoke-test-watcher/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherTestSuiteIT.java
Labels: :Core/Features/Watcher, >deprecation, v7.0.0

#25576 RestClient: on retry timeout add root exception
  client/rest/src/main/java/org/elasticsearch/client/RestClient.java
Labels: :Core/Features/Java Low Level REST Client, >enhancement, v6.6.0, v7.0.0

#36404 [CCR] Restructure QA modules
  x-pack/plugin/ccr/qa/chain/build.gradle
  x-pack/plugin/ccr/qa/downgraded-to-basic-license/build.gradle
  x-pack/plugin/ccr/qa/downgraded-to-basic-license/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/qa/multi-cluster/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/ChainIT.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/qa/non-compliant-license/build.gradle
  x-pack/plugin/ccr/qa/non-compliant-license/src/test/java/org/elasticsearch/xpack/ccr/CcrMultiClusterLicenseIT.java
  x-pack/plugin/ccr/qa/security/build.gradle
  x-pack/plugin/ccr/qa/security/follower-roles.yml
  x-pack/plugin/ccr/qa/security/leader-roles.yml
  x-pack/plugin/ccr/qa/security/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexSecurityIT.java
Labels: :Distributed/CCR, >non-issue, v6.6.0, v7.0.0

#36253 [HLRC] Added support for Follow Stats API
  client/rest-high-level/src/main/java/org/elasticsearch/client/CcrClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/CcrRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/FollowStatsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/FollowStatsResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/CCRIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ccr/CcrStatsResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ccr/FollowStatsResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CCRDocumentationIT.java
  docs/java-rest/high-level/ccr/get_follow_stats.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Features/Java High Level REST Client, >enhancement, v6.6.0, v7.0.0

#36379 Option to use endpoints starting with _security
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/rest/RestGetCertificateInfoAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/RestAuthenticateAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/oauth2/RestGetTokenAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/oauth2/RestInvalidateTokenAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/privilege/RestDeletePrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/privilege/RestGetPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/privilege/RestPutPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/realm/RestClearRealmCacheAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/role/RestClearRolesCacheAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/role/RestDeleteRoleAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/role/RestGetRolesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/role/RestPutRoleAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/rolemapping/RestDeleteRoleMappingAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/rolemapping/RestGetRoleMappingsAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/rolemapping/RestPutRoleMappingAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/saml/RestSamlAuthenticateAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/saml/RestSamlInvalidateSessionAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/saml/RestSamlLogoutAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/saml/RestSamlPrepareAuthenticationAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestChangePasswordAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestDeleteUserAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestGetUserPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestGetUsersAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestHasPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestPutUserAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestSetEnabledAction.java
Labels: :Security/Security, >enhancement, v6.6.0

#36211 [Docs] Add description of simple query string flags
  docs/reference/query-dsl/simple-query-string-query.asciidoc
Labels: :Search/Search, >docs, v6.5.3, v6.6.0, v7.0.0

#36259 Forbid empty testing tasks
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/precommit/TestingConventionsTasks.java
Labels: :Core/Infra/Build, >non-issue, v6.6.0, v7.0.0

#36209 [HLRC] Put Role
  client/rest-high-level/src/main/java/org/elasticsearch/client/SecurityClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/SecurityRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/GetRolesResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/PutRoleRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/PutRoleResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/GlobalPrivileges.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/IndicesPrivileges.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/Role.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SecurityIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SecurityRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SecurityDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/GetRolesResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/PutRoleRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/user/privileges/ApplicationResourcePrivilegesTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/user/privileges/GlobalPrivilegesTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/user/privileges/IndicesPrivilegesTests.java
  docs/java-rest/high-level/security/put-role.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Features/Java High Level REST Client, >enhancement, v6.6.0, v7.0.0

#36398 Zen2: Move all mixed-version REST tests to Zen2
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterConfiguration.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterFormationTasks.groovy
  plugins/discovery-azure-classic/src/test/java/org/elasticsearch/cloud/azure/classic/AbstractAzureComputeServiceTestCase.java
  plugins/discovery-azure-classic/src/test/java/org/elasticsearch/discovery/azure/classic/AzureMinimumMasterNodesTests.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/AbstractAwsTestCase.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/Ec2DiscoveryUpdateSettingsTests.java
  plugins/discovery-gce/src/test/java/org/elasticsearch/discovery/gce/GceDiscoverTests.java
  qa/rolling-upgrade/build.gradle
  qa/unconfigured-node-name/build.gradle
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterBootstrapService.java
  server/src/main/java/org/elasticsearch/discovery/DiscoveryModule.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/TransportBootstrapClusterActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/TransportGetDiscoveredNodesActionTests.java
  server/src/test/java/org/elasticsearch/discovery/DiscoveryModuleTests.java
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
  x-pack/qa/vagrant/src/test/resources/packaging/tests/certgen.bash
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#36381 [TEST] Ignore zen2 discovery task in waitForPendingTasks
  x-pack/plugin/src/test/java/org/elasticsearch/xpack/test/rest/XPackRestIT.java
Labels: :ml, >test, v7.0.0

#35619 Change Lucene Snapshot example for 7.0.0
  docs/java-rest/high-level/getting-started.asciidoc
Labels: :Core/Features/Java High Level REST Client, >docs, v7.0.0

#36375 [ML-DataFrame] fix state persistence and load on startup
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportDeleteDataFrameJobAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportGetDataFrameJobsAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportStopDataFrameJobAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/job/DataFrameJob.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/job/DataFrameJobState.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/job/DataFrameJobTask.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/support/JobValidatorTests.java
Labels: :ml, >feature, v7.0.0

#36305 [ML] JIndex: Job exists and get job should read cluster state first.
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobManagerTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/jobs_crud.yml
Labels: :ml, >feature

#36345 LLRC: Make warning behavior pluggable per request
  client/rest/src/main/java/org/elasticsearch/client/RequestOptions.java
  client/rest/src/main/java/org/elasticsearch/client/RestClient.java
  client/rest/src/main/java/org/elasticsearch/client/WarningsHandler.java
  client/rest/src/test/java/org/elasticsearch/client/RequestOptionsTests.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientSingleHostTests.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestClient.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
Labels: :Core/Features/Java Low Level REST Client, >feature, v6.6.0, v7.0.0

#36389 [ML] Use LinkedHashMap to preserve order in job and datafeed fields
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/config/Job.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
Labels: :ml, >non-issue, v6.6.0, v7.0.0

#36387 Enable caching of roles from the api keys
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStore.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
Labels: :Security/Authorization, >non-issue

#36132 [hlrc] add index templates exist API
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/GetIndexTemplatesRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/IndexTemplatesExistRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/java-rest/high-level/indices/templates_exist.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Features/Java High Level REST Client, >enhancement, v6.6.0, v7.0.0

#36417 SQL: Simplify function registration and resolution
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/FunctionRegistry.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/FunctionRegistryTests.java
Labels: :Search/SQL, v6.6.0, v7.0.0

#36239 Add Tribe removal to breaking changes list
  docs/reference/migration/migrate_7_0/plugins.asciidoc
Labels: :Core/Features/Features, >docs, v7.0.0
