Repository elastic/elasticsearch, pull requests merged in 2018-09, with the labels that each got.

#33223 LLREST: Drop deprecated methods
  client/rest/src/main/java/org/elasticsearch/client/RestClient.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientSingleHostIntegTests.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientSingleHostTests.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientTests.java
  docs/reference/migration/migrate_7_0.asciidoc
  docs/reference/migration/migrate_7_0/low_level_restclient.asciidoc
Labels: :Core/Java Low Level REST Client, >breaking-java, >deprecation, review, v7.0.0

#33187 HLRC: ML Flush job
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/FlushJobRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/FlushJobResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/FlushJobRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/FlushJobResponseTests.java
  docs/java-rest/high-level/ml/flush-job.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, :ml, >enhancement, review, v6.5.0, v7.0.0

#33333 TEST: Increase timeout testFollowIndexAndCloseNode
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/ShardChangesIT.java
Labels: :Distributed/CCR, >test

#32760 REST high-level client: add update by query API
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/CrudIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CRUDDocumentationIT.java
  docs/java-rest/high-level/document/update-by-query.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/RestUpdateByQueryAction.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/RoundTripTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/UpdateByQueryMetadataTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/UpdateByQueryWithScriptTests.java
  server/src/main/java/org/elasticsearch/index/reindex/AbstractBulkByScrollRequest.java
  server/src/main/java/org/elasticsearch/index/reindex/BulkByScrollTask.java
  server/src/main/java/org/elasticsearch/index/reindex/UpdateByQueryRequest.java
  server/src/test/java/org/elasticsearch/index/reindex/BulkByScrollResponseTests.java
  server/src/test/java/org/elasticsearch/index/reindex/BulkByScrollTaskStatusOrExceptionTests.java
  server/src/test/java/org/elasticsearch/index/reindex/BulkByScrollTaskStatusTests.java
  server/src/test/java/org/elasticsearch/index/reindex/UpdateByQueryRequestTests.java
Labels: :Core/Java High Level REST Client, >enhancement

#33332 Logging: Drop Settings from some logging ctors
  server/src/main/java/org/elasticsearch/common/logging/Loggers.java
  server/src/main/java/org/elasticsearch/index/engine/ElasticsearchConcurrentMergeScheduler.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/shard/AbstractIndexShardComponent.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoverySourceService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/store/MockFSIndexStore.java
Labels: :Core/Logging, >refactoring, review, v6.5.0, v7.0.0

#33272 Fix extractjar task ci
  build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/test/java/org/elasticsearch/gradle/BuildPluginIT.java
  buildSrc/src/test/java/org/elasticsearch/gradle/precommit/NamingConventionsTaskIT.java
  buildSrc/src/test/java/org/elasticsearch/gradle/test/GradleIntegrationTestCase.java
  buildSrc/src/testKit/elasticsearch.build/LICENSE
  buildSrc/src/testKit/elasticsearch.build/NOTICE
  buildSrc/src/testKit/elasticsearch.build/build.gradle
  buildSrc/src/testKit/elasticsearch.build/licenses/hamcrest-core-1.3.jar.sha1
  buildSrc/src/testKit/elasticsearch.build/licenses/hamcrest-core-LICENSE.txt
  buildSrc/src/testKit/elasticsearch.build/licenses/hamcrest-core-NOTICE.txt
  buildSrc/src/testKit/elasticsearch.build/licenses/junit-4.12.jar.sha1
  buildSrc/src/testKit/elasticsearch.build/licenses/junit-LICENSE.txt
  buildSrc/src/testKit/elasticsearch.build/licenses/junit-NOTICE.txt
  buildSrc/src/testKit/elasticsearch.build/src/main/java/org/elasticsearch/SampleClass.java
  buildSrc/src/testKit/namingConventionsSelfTest/build.gradle
  distribution/build.gradle
Labels: :Core/Build, >test-failure, v6.5.0, v7.0.0

#33279 Add early termination support to BucketCollector
  docs/reference/search/profile.asciidoc
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationPhase.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregatorBase.java
  server/src/main/java/org/elasticsearch/search/aggregations/BucketCollector.java
  server/src/main/java/org/elasticsearch/search/aggregations/MultiBucketCollector.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BestBucketsDeferringCollector.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/DeferableBucketAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/MergingBucketsDeferringCollector.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/BestDocsDeferringCollector.java
  server/src/test/java/org/elasticsearch/search/aggregations/MultiBucketCollectorTests.java
Labels: :Search/Aggregations, >enhancement, v6.5.0, v7.0.0

#33261 Security for _field_names field should not override field statistics
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/FieldSubsetReader.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/FieldSubsetReaderTests.java
Labels: :Search/Search, >non-issue, v7.0.0

#33336 [Rollup] Fix Caps Comparator to handle calendar/fixed time
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/DateHistogramGroupConfigSerializingTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtils.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtilTests.java
Labels: :Search/Rollup, >bug, review, v6.4.1, v6.5.0, v7.0.0

#33315 [Docs] Improve tuning for speed advice
  docs/reference/how-to/search-speed.asciidoc
Labels: :Search/Mapping, >docs, v6.4.1, v6.5.0, v7.0.0

#33302 Core: Fix epoch millis java time formatter
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
Labels: :Core/Core, >non-issue, review, v6.5.0, v7.0.0

#33297 HLRC: Add ML get overall buckets API
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetOverallBucketsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetOverallBucketsResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningGetResultsIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetOverallBucketsRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetOverallBucketsResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/results/OverallBucketTests.java
  docs/java-rest/high-level/ml/get-buckets.asciidoc
  docs/java-rest/high-level/ml/get-overall-buckets.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, :ml, >enhancement, review, v6.5.0, v7.0.0

#33347 [ML] Prevent NPE parsing the stop datafeed request.
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StopDatafeedAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/StopDatafeedActionRequestTests.java
Labels: :ml, >bug, v6.4.1, v6.5.0, v7.0.0

#33243 Adds documentation about defining rollover action in ILM
  x-pack/docs/en/ilm/using-policies-rollover.asciidoc
Labels: :Core/ILM, >docs, review

#33313 Adds code to help with IndicesRequestCacheIT failures
  server/src/test/java/org/elasticsearch/indices/IndicesRequestCacheIT.java
Labels: :Search/Search, >test, v7.0.0

#33284 [Rollup] Log deprecation if config and request intervals are mixed
  docs/reference/rollup/apis/put-job.asciidoc
  docs/reference/rollup/apis/rollup-job-config.asciidoc
  docs/reference/rollup/rollup-getting-started.asciidoc
  docs/reference/rollup/rollup-search-limitations.asciidoc
  x-pack/docs/build.gradle
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtils.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupJobIdentifierUtilTests.java
  x-pack/qa/multi-node/src/test/java/org/elasticsearch/multi_node/RollupIT.java
Labels: :Search/Rollup, >bug, review, v6.4.1

#33268 Null completion field should not throw IAE
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/CompletionFieldMapperTests.java
  server/src/test/java/org/elasticsearch/search/suggest/CompletionSuggestSearchIT.java
Labels: :Search/Suggesters, >bug, v6.4.1, v6.5.0, v7.0.0

#33349 TESTS+DISTR.: Fix testIndexCheckOnStartup Flake
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: :Distributed/Store, >test-failure, v6.5.0, v7.0.0

#33335 Fix from_range in search_after in changes snapshot
  modules/parent-join/src/test/java/org/elasticsearch/join/query/ParentChildTestCase.java
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
Labels: :Distributed/Engine, >non-issue, v6.5.0, v7.0.0

#33352 TESTS: Fix Race Condition in Temp Path Creation
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
Labels: :Distributed/Engine, >test, v6.5.0, v7.0.0

#33354 [Docs] Add search timeout caveats
  docs/reference/search.asciidoc
  docs/reference/search/request-body.asciidoc
Labels: :Search/Search, >docs, v6.4.1, v6.5.0, v7.0.0

#33355 TESTS+DISTR.: Fix testIndexCheckOnStartup Flake (#33349)
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: :Distributed/Store, >test-failure

#33327 Introduce private settings
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  server/src/main/java/org/elasticsearch/Version.java
  server/src/main/java/org/elasticsearch/cluster/ClusterModule.java
  server/src/main/java/org/elasticsearch/cluster/metadata/AliasValidator.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataUpdateSettingsService.java
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/ShrinkIndexIT.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/SplitIndexIT.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/put/MetaDataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/common/settings/ScopedSettingsTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingTests.java
  server/src/test/java/org/elasticsearch/get/GetActionIT.java
  server/src/test/java/org/elasticsearch/get/LegacyGetActionIT.java
  server/src/test/java/org/elasticsearch/index/analysis/PreBuiltAnalyzerTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ExternalFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LegacyDynamicMappingTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LegacyMapperServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LegacyTypeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MapperServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TypeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/UpdateMappingOnClusterIT.java
  server/src/test/java/org/elasticsearch/index/similarity/LegacySimilarityTests.java
  server/src/test/java/org/elasticsearch/index/similarity/SimilarityTests.java
  server/src/test/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/test/java/org/elasticsearch/indices/analysis/PreBuiltAnalyzerIntegrationIT.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/indices/mapping/LegacyUpdateMappingIntegrationIT.java
  server/src/test/java/org/elasticsearch/indices/mapping/UpdateMappingIntegrationIT.java
  server/src/test/java/org/elasticsearch/indices/settings/InternalOrPrivateSettingsPlugin.java
  server/src/test/java/org/elasticsearch/indices/settings/InternalSettingsIT.java
  server/src/test/java/org/elasticsearch/indices/settings/PrivateSettingsIT.java
  server/src/test/java/org/elasticsearch/indices/settings/UpdateSettingsIT.java
  server/src/test/java/org/elasticsearch/indices/stats/IndexStatsIT.java
  server/src/test/java/org/elasticsearch/indices/stats/LegacyIndexStatsIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/GeoDistanceIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/GeoHashGridIT.java
  server/src/test/java/org/elasticsearch/search/functionscore/DecayFunctionScoreIT.java
  server/src/test/java/org/elasticsearch/search/geo/GeoBoundingBoxIT.java
  server/src/test/java/org/elasticsearch/search/geo/GeoDistanceIT.java
  server/src/test/java/org/elasticsearch/search/geo/GeoFilterIT.java
  server/src/test/java/org/elasticsearch/search/geo/GeoPolygonIT.java
  server/src/test/java/org/elasticsearch/search/query/QueryStringIT.java
  server/src/test/java/org/elasticsearch/search/query/SimpleQueryStringIT.java
  server/src/test/java/org/elasticsearch/search/sort/GeoDistanceIT.java
  server/src/test/java/org/elasticsearch/search/sort/GeoDistanceSortBuilderIT.java
  test/framework/src/main/java/org/elasticsearch/node/MockNode.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalSettingsPlugin.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Core/Settings, >enhancement, review, v6.5.0, v7.0.0

#33218 [ML] Delete forecast API (#31134)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/DeleteForecastAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/CloseJobsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ForecastIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteForecastAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestDeleteForecastAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.ml.delete_forecast.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/delete_forecast.yml
Labels: :ml, >enhancement, review, v6.5.0, v7.0.0

#32654 Simplify the return type of FieldMapper#parse.
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/FeatureVectorFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  plugins/mapper-size/src/main/java/org/elasticsearch/index/mapper/size/SizeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldNamesFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoredFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RoutingFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SeqNoFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/VersionFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/ExternalMapper.java
Labels: :Search/Mapping, >refactoring, review, v6.5.0, v7.0.0

#33348 Disable assemble task instead of removing it
  benchmarks/build.gradle
  build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/doc/DocsTestPlugin.groovy
  client/benchmark/build.gradle
  client/client-benchmark-noop-api-plugin/build.gradle
  distribution/bwc/build.gradle
  plugins/examples/build.gradle
  x-pack/plugin/ccr/qa/build.gradle
  x-pack/plugin/ml/qa/build.gradle
  x-pack/qa/build.gradle
Labels: :Core/Build, >non-issue, v6.5.0, v7.0.0

#33314 INGEST: Simplify IngestService (#33008)
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequest.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/ingest/DeletePipelineTransportAction.java
  server/src/main/java/org/elasticsearch/action/ingest/GetPipelineTransportAction.java
  server/src/main/java/org/elasticsearch/action/ingest/PutPipelineTransportAction.java
  server/src/main/java/org/elasticsearch/action/ingest/SimulatePipelineRequest.java
  server/src/main/java/org/elasticsearch/action/ingest/SimulatePipelineTransportAction.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/ingest/Pipeline.java
  server/src/main/java/org/elasticsearch/ingest/PipelineExecutionService.java
  server/src/main/java/org/elasticsearch/ingest/PipelineStore.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/node/NodeService.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/elasticsearch/action/ingest/SimulatePipelineRequestParsingTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestProcessorNotInstalledOnAllNodesIT.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
  server/src/test/java/org/elasticsearch/ingest/PipelineExecutionServiceTests.java
  server/src/test/java/org/elasticsearch/ingest/PipelineFactoryTests.java
  server/src/test/java/org/elasticsearch/ingest/PipelineStoreTests.java
Labels: :Core/Ingest, >refactoring

#33353 [ML] Minor improvements to categorization Grok pattern creation
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/GrokPatternCreator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/categorization/GrokPatternCreatorTests.java
Labels: :ml, >enhancement, review, v6.5.0, v7.0.0

#33358 [ML] The sort field on get records should default to the record_score
  docs/java-rest/high-level/ml/get-records.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetRecordsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/results/RestGetRecordsAction.java
Labels: :ml, >non-issue, review, v6.5.0, v7.0.0

#33370 TESTS: Fix Race Condition in Temp Path Creation (#33352)
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
Labels: :Distributed/Engine, >test

#33368 INGEST: Add Pipeline Processor (#32473)
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/IngestCommonPlugin.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/PipelineProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/PipelineProcessorTests.java
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/10_basic.yml
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/210_pipeline_processor.yml
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/ingest/Processor.java
Labels: :Core/Ingest, >enhancement

#33363 SQL: Show/desc commands now support table ids
  docs/reference/sql/concepts.asciidoc
  docs/reference/sql/language/index-patterns.asciidoc
  docs/reference/sql/language/index.asciidoc
  docs/reference/sql/language/syntax/describe-table.asciidoc
  docs/reference/sql/language/syntax/show-columns.asciidoc
  docs/reference/sql/language/syntax/show-functions.asciidoc
  docs/reference/sql/language/syntax/show-tables.asciidoc
  x-pack/plugin/sql/src/main/antlr/SqlBase.g4
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/index/IndexResolver.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/CommandBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/ExpressionBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/IdentifierBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseBaseListener.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseBaseVisitor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseListener.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseParser.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseVisitor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/TableIdentifier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/ShowColumns.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/ShowTables.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysColumns.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTables.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerTests.java
  x-pack/qa/sql/src/main/resources/command.csv-spec
  x-pack/qa/sql/src/main/resources/docs.csv-spec
Labels: :Search/SQL, >enhancement, v6.5.0, v7.0.0

#33018 Fix inner hits retrieval when stored fields are disabled (_none_)
  rest-api-spec/src/main/resources/rest-api-spec/test/search/100_stored_fields.yml
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/TopHitsIT.java
  server/src/test/java/org/elasticsearch/search/source/MetadataFetchingIT.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
Labels: :Search/Search, >bug, v7.0.0

#33380 Ingest: Add conditional per processor (#32398)
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/ForEachProcessor.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/IngestCommonPlugin.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/ForEachProcessorFactoryTests.java
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/210_conditional_processor.yml
  server/src/main/java/org/elasticsearch/action/ingest/SimulatePipelineRequest.java
  server/src/main/java/org/elasticsearch/ingest/ConditionalProcessor.java
  server/src/main/java/org/elasticsearch/ingest/ConfigurationUtils.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/ingest/Pipeline.java
  server/src/main/java/org/elasticsearch/script/IngestConditionalScript.java
  server/src/main/java/org/elasticsearch/script/ScriptModule.java
  server/src/test/java/org/elasticsearch/ingest/ConditionalProcessorTests.java
  server/src/test/java/org/elasticsearch/ingest/ConfigurationUtilsTests.java
  server/src/test/java/org/elasticsearch/ingest/PipelineFactoryTests.java
  test/framework/src/main/java/org/elasticsearch/script/MockScriptEngine.java
Labels: :Core/Ingest, >enhancement

#33324 [DOCS] Moves monitoring pages to docs folder
  docs/reference/index.asciidoc
  docs/reference/monitoring/configuring-monitoring.asciidoc
  docs/reference/monitoring/indices.asciidoc
Labels: :Core/Monitoring, >docs, v6.3.3, v6.4.1, v6.5.0, v7.0.0

#33304 Fixes Rendering of after in Phase
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/Phase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/Phase.java
Labels: :Core/ILM, review

#33381 Feature/delete forecast api backport
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/DeleteForecastAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/CloseJobsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ForecastIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteForecastAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestDeleteForecastAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.ml.delete_forecast.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/delete_forecast.yml
Labels: :ml, v6.5.0

#33328 Allow query caching by default again
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/accesscontrol/OptOutQueryCache.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/OptOutQueryCacheTests.java
Labels: :Security/Authorization, >bug, blocker, review, v6.4.1, v6.5.0, v7.0.0

#33325 Add user-defined cluster metadata
  docs/reference/modules/cluster/misc.asciidoc
  server/src/main/java/org/elasticsearch/cluster/service/ClusterService.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/test/java/org/elasticsearch/cluster/settings/ClusterSettingsIT.java
Labels: :Core/Settings, >enhancement, v6.5.0, v7.0.0

#33364 SQL: Align SYS TABLE for ODBC SQL_ALL_* args
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/CommandBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTables.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTablesTests.java
Labels: :Search/SQL, >enhancement, v6.5.0, v7.0.0

#33346 MINOR+CORE: Remove Dead Methods ClusterService
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterService.java
Labels: :Core/Core, >non-issue, v6.5.0, v7.0.0

#33254 Add interval response parameter to AutoDateInterval histogram
  docs/reference/aggregations/bucket/autodatehistogram-aggregation.asciidoc
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/AutoDateHistogramAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/AutoDateHistogramAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalAutoDateHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/ParsedAutoDateHistogram.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalAutoDateHistogramTests.java
Labels: :Search/Aggregations, backport pending, v7.0.0

#33357 Adds ILMClient for use with transport client
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClient.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/client/ILMClient.java
Labels: :Core/ILM, review

#33351 [ML] Add field stats to log structure finder
  x-pack/plugin/ml/log-structure-finder/src/main/java/org/elasticsearch/xpack/ml/logstructurefinder/DelimitedLogStructureFinder.java
  x-pack/plugin/ml/log-structure-finder/src/main/java/org/elasticsearch/xpack/ml/logstructurefinder/FieldStats.java
  x-pack/plugin/ml/log-structure-finder/src/main/java/org/elasticsearch/xpack/ml/logstructurefinder/FieldStatsCalculator.java
  x-pack/plugin/ml/log-structure-finder/src/main/java/org/elasticsearch/xpack/ml/logstructurefinder/GrokPatternCreator.java
  x-pack/plugin/ml/log-structure-finder/src/main/java/org/elasticsearch/xpack/ml/logstructurefinder/JsonLogStructureFinder.java
  x-pack/plugin/ml/log-structure-finder/src/main/java/org/elasticsearch/xpack/ml/logstructurefinder/LogStructure.java
  x-pack/plugin/ml/log-structure-finder/src/main/java/org/elasticsearch/xpack/ml/logstructurefinder/LogStructureUtils.java
  x-pack/plugin/ml/log-structure-finder/src/main/java/org/elasticsearch/xpack/ml/logstructurefinder/TextLogStructureFinder.java
  x-pack/plugin/ml/log-structure-finder/src/main/java/org/elasticsearch/xpack/ml/logstructurefinder/XmlLogStructureFinder.java
  x-pack/plugin/ml/log-structure-finder/src/test/java/org/elasticsearch/xpack/ml/logstructurefinder/FieldStatsCalculatorTests.java
  x-pack/plugin/ml/log-structure-finder/src/test/java/org/elasticsearch/xpack/ml/logstructurefinder/FieldStatsTests.java
  x-pack/plugin/ml/log-structure-finder/src/test/java/org/elasticsearch/xpack/ml/logstructurefinder/GrokPatternCreatorTests.java
  x-pack/plugin/ml/log-structure-finder/src/test/java/org/elasticsearch/xpack/ml/logstructurefinder/LogStructureTests.java
  x-pack/plugin/ml/log-structure-finder/src/test/java/org/elasticsearch/xpack/ml/logstructurefinder/LogStructureUtilsTests.java
Labels: :ml, >non-issue, review, v6.5.0, v7.0.0

#33397 Feature/delete forecast api backport
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/DeleteForecastAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/CloseJobsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ForecastIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteForecastAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestDeleteForecastAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.ml.delete_forecast.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/delete_forecast.yml
Labels: :ml, v6.5.0

#33416 MINOR+CORE: Remove Dead Methods ClusterService (#33346)
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterService.java
Labels: :Core/Core, >non-issue

#33399 Build: Merge xpack checkstyle config into core
  buildSrc/src/main/resources/checkstyle.xml
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  x-pack/build.gradle
  x-pack/dev-tools/checkstyle_suppressions.xml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySIDUtil.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportGetUsersActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/file/FileRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapSessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/pki/PkiRealmTests.java
Labels: :Core/Build, review, v6.5.0, v7.0.0

#33400 HLRC: split cluster request converters
  client/rest-high-level/src/main/java/org/elasticsearch/client/ClusterClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ClusterRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ClusterRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ESRestHighLevelClientTestCase.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
Labels: :Core/Java High Level REST Client, >refactoring, v6.5.0, v7.0.0

#33412 Fix deprecated setting specializations
  server/src/main/java/org/elasticsearch/common/settings/SecureSetting.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/test/java/org/elasticsearch/common/settings/SettingTests.java
Labels: :Core/Settings, >bug, review, v6.5.0, v7.0.0

#33386 Don't count metadata fields towards index.mapping.total_fields.limit
  docs/reference/mapping.asciidoc
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/test/java/org/elasticsearch/index/mapper/MapperServiceTests.java
Labels: :Search/Mapping, >enhancement, v6.5.0, v7.0.0

#32332 HLRest: add xpack put user API
  client/rest-high-level/build.gradle
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/SecurityClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/SecurityRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/PutUserRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/PutUserResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ESRestHighLevelClientTestCase.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SecurityRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SecurityDocumentationIT.java
  docs/java-rest/high-level/x-pack/security/put-user.asciidoc
  x-pack/docs/en/rest-api/security/create-users.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/rolemapping/PutRoleMappingRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/PutUserRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/PutUserResponse.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/user/UserTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportPutUserAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestPutUserAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/PutUserRequestTests.java
Labels: :Core/Java High Level REST Client, >enhancement, v6.5.0, v7.0.0

#33378 Logging: Further clean up logging ctors
  server/src/main/java/org/elasticsearch/common/logging/Loggers.java
  server/src/main/java/org/elasticsearch/index/AbstractIndexComponent.java
  server/src/main/java/org/elasticsearch/index/CompositeIndexEventListener.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/IndexingSlowLog.java
  server/src/main/java/org/elasticsearch/index/SearchSlowLog.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/actions/logging/ExecutableLoggingAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/actions/logging/LoggingActionFactory.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/logging/LoggingActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/watch/WatchTests.java
Labels: :Core/Logging, >refactoring, review, v6.5.0, v7.0.0

#32907 Add an index setting to control TieredMergePolicy#deletesPctAllowed
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/index/EsTieredMergePolicy.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/MergePolicyConfig.java
  server/src/test/java/org/elasticsearch/index/EsTieredMergePolicyTests.java
  server/src/test/java/org/elasticsearch/index/MergePolicySettingsTests.java
Labels: :Core/Index APIs, >feature, review, v6.5.0, v7.0.0

#33289 add new phase definition setting used for retrieving phase to execute
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/InitializePolicyContextStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicy.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/LifecycleSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/TerminalPolicyStep.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycle.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistry.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleInitialisationIT.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/MoveToErrorStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/MoveToNextStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistryTests.java
Labels: :Core/ILM

#33419 INGEST: Allow Repeated Invocation of Pipeline
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/PipelineProcessorTests.java
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
Labels: :Core/Ingest, >non-issue, v6.5.0, v7.0.0

#33283 HLRC: Add ILM Status to HLRC
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/TimedRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecycleManagementStatusRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecycleManagementStatusResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/OperationMode.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/TimedRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/LifecycleManagementStatusResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/OperationModeTests.java
Labels: :Core/ILM, >enhancement

#33029 [ingest] geo-ip performance improvements
  plugins/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpCache.java
  plugins/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  plugins/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/IngestGeoIpPlugin.java
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpCacheTests.java
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorTests.java
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/IngestGeoIpPluginTests.java
Labels: :Core/Ingest, >enhancement, v6.5.0, v7.0.0

#33144 Add sni name to SSLEngine in netty transport
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/node/NodeTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/transport/netty4/SecurityNetty4Transport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SimpleSecurityNetty4TransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SimpleSecurityNioTransportTests.java
Labels: :Security/Network, >enhancement, v6.5.0, v7.0.0

#33398 Replace PhaseAfterStep with PhaseCompleteStep
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicy.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/PhaseAfterStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/PhaseCompleteStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicyTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/PhaseAfterStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/PhaseCompleteStepTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/MoveToNextStepUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistry.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/MoveToNextStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistryTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/20_move_to_step.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/30_retry.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/40_explain_lifecycle.yml
Labels: :Core/ILM

#33420 Upgrade to lucene 7.5.0-snapshot-7f0967ad93
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-7.5.0-snapshot-13b9e28f9d.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-7.5.0-snapshot-7f0967ad93.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.5.0-snapshot-7f0967ad93.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.5.0-snapshot-7f0967ad93.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.5.0-snapshot-7f0967ad93.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.5.0-snapshot-7f0967ad93.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.5.0-snapshot-7f0967ad93.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.5.0-snapshot-7f0967ad93.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.5.0-snapshot-13b9e28f9d.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-analyzers-common-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-analyzers-common-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-backward-codecs-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-backward-codecs-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-core-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-core-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-grouping-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-grouping-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-highlighter-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-highlighter-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-join-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-join-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-memory-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-memory-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-misc-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-misc-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-queries-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-queries-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-queryparser-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-queryparser-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-sandbox-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-sandbox-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-spatial-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-spatial-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-spatial-extras-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-spatial-extras-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-spatial3d-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-spatial3d-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/licenses/lucene-suggest-7.5.0-snapshot-13b9e28f9d.jar.sha1
  server/licenses/lucene-suggest-7.5.0-snapshot-7f0967ad93.jar.sha1
  server/src/main/java/org/apache/lucene/search/uhighlight/CustomUnifiedHighlighter.java
  x-pack/plugin/sql/sql-action/licenses/lucene-core-7.5.0-snapshot-13b9e28f9d.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-7.5.0-snapshot-7f0967ad93.jar.sha1
Labels: :Search/Search, >non-issue, v6.5.0

#33331 Acquire seacher on closing engine should throw AlreadyClosedException
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/PrimaryReplicaSyncerTests.java
Labels: :Distributed/Engine, >bug, review, v6.5.0, v7.0.0

#33391 TEST: Create following engines in the main thread
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
Labels: :Distributed/Engine, >test, v6.5.0, v7.0.0

#33413 Generalize search.remote settings to cluster.remote
  docs/reference/modules/cross-cluster-search.asciidoc
  docs/reference/modules/ml-node.asciidoc
  docs/reference/modules/node.asciidoc
  qa/ccs-unavailable-clusters/src/test/java/org/elasticsearch/search/CrossClusterSearchUnavailableClusterIT.java
  qa/multi-cluster-search/build.gradle
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/multi_cluster/10_basic.yml
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/multi_cluster/20_info.yml
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/DfsQueryPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/ExpandSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/FetchSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/cluster/settings/ClusterSettingsIT.java
  server/src/test/java/org/elasticsearch/index/IndexServiceTests.java
  server/src/test/java/org/elasticsearch/indices/IndexingMemoryControllerTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterClientTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterServiceTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterSettingsTests.java
  x-pack/docs/en/security/ccs-clients-integrations/cross-cluster.asciidoc
  x-pack/plugin/ccr/qa/multi-cluster-with-incompatible-license/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster-with-security/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster/build.gradle
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
  x-pack/qa/multi-cluster-search-security/build.gradle
  x-pack/qa/multi-cluster-search-security/src/test/resources/rest-api-spec/test/multi_cluster/10_basic.yml
  x-pack/qa/multi-cluster-search-security/src/test/resources/rest-api-spec/test/multi_cluster/20_info.yml
Labels: :Distributed/CCR, review

#33118 [CCR] Added auto follow patterns feature
  server/src/main/java/org/elasticsearch/common/regex/Regex.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrSettings.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/DeleteAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/PutAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportDeleteAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestDeleteAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestPutAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/DeleteAutoFollowPatternRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/PutAutoFollowPatternRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportDeleteAutoFollowPatternActionTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportPutAutoFollowPatternActionTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/AutoFollowMetadata.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ccr/AutoFollowMetadataTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/ccr.delete_auto_follow_pattern.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ccr.put_auto_follow_pattern.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ccr/auto_follow.yml
Labels: :Distributed/CCR, >feature, review

#33414 Core: Fix IndicesSegmentResponse.toXcontent() serialization
  server/src/main/java/org/elasticsearch/action/admin/indices/segments/IndicesSegmentResponse.java
  server/src/test/java/org/elasticsearch/action/admin/indices/segments/IndicesSegmentResponseTests.java
Labels: :Core/REST API, >bug, review

#33426 Fix generics in ScriptPlugin#getContexts()
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonAnalysisPlugin.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessPlugin.java
  server/src/main/java/org/elasticsearch/plugins/ScriptPlugin.java
  server/src/main/java/org/elasticsearch/script/ScriptModule.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
Labels: :Core/Plugins, >breaking-java, v6.5.0, v7.0.0

#33392 HLRC: ML Update Job
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/UpdateJobRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/config/JobUpdate.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/UpdateJobRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/config/JobUpdateTests.java
  docs/java-rest/high-level/ml/update-job.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, :ml, >enhancement, review, v6.5.0, v7.0.0

#33446 [ingest] 6.x backport - geo-ip performance improvements
  plugins/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpCache.java
  plugins/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  plugins/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/IngestGeoIpPlugin.java
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpCacheTests.java
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorTests.java
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/IngestGeoIpPluginTests.java
Labels: :Core/Ingest, v6.5.0

#33448 6.x - HLRC: Add ILM Status to HLRC (#33283)
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/TimedRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecycleManagementStatusRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecycleManagementStatusResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/OperationMode.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/TimedRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/LifecycleManagementStatusResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/OperationModeTests.java
Labels: :Core/ILM, >enhancement, v6.5.0

#33449 Pass TranslogRecoveryRunner to engine from outside
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/engine/TranslogHandler.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Engine, >non-issue, review, v6.5.0, v7.0.0

#33429 HLRC: split graph request converters
  client/rest-high-level/src/main/java/org/elasticsearch/client/GraphClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/GraphRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/GrapRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
Labels: :Core/Java High Level REST Client, >refactoring, v6.5.0, v7.0.0

#33438 HLRC: split license request converters
  client/rest-high-level/src/main/java/org/elasticsearch/client/LicenseClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/LicenseRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
Labels: :Core/Java High Level REST Client, >refactoring, v6.5.0, v7.0.0

#33453 Move up acquireSearcher logic to Engine
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Engine, >non-issue, v6.5.0, v7.0.0

#33441 HLRC: split tasks request converters
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/TasksClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/TasksRequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/TasksRequestConvertersTests.java
Labels: :Core/Java High Level REST Client, >refactoring, v6.5.0, v7.0.0

#33450 add notion of version and creation_date to LifecyclePolicyMetadata
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicyMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/action/GetLifecycleAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicyMetadataTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/action/GetLifecycleResponseTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportGetLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleInitialisationIT.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleMetadataTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/MoveToErrorStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/MoveToNextStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistryTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/10_basic.yml
Labels: :Core/ILM

#33394 Fix IndexMetaData loads after rollover
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetaData.java
  server/src/main/java/org/elasticsearch/common/util/IndexFolderUpgrader.java
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/main/java/org/elasticsearch/gateway/TransportNodesListGatewayStartedShards.java
  server/src/main/java/org/elasticsearch/indices/store/TransportNodesListShardStoreMetaData.java
  server/src/test/java/org/elasticsearch/common/util/IndexFolderUpgraderTests.java
  test/framework/src/main/java/org/elasticsearch/test/OldIndexUtils.java
Labels: :Core/Index APIs, >bug, blocker, review, v6.4.1, v6.5.0, v7.0.0

#33484 Pass DiscoveryNode to initiateChannel
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
  test/framework/src/main/java/org/elasticsearch/transport/MockTcpTransport.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/NioTransport.java
Labels: :Core/Network, >non-issue, v6.5.0

#33468 Deprecates the standard filter
  docs/plugins/analysis-phonetic.asciidoc
  docs/reference/analysis/analyzers/standard-analyzer.asciidoc
  docs/reference/analysis/tokenfilters/asciifolding-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/elision-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/keep-types-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/keep-words-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/snowball-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/standard-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/stemmer-tokenfilter.asciidoc
  docs/reference/mapping/types/percolator.asciidoc
  docs/reference/migration/migrate_6_0/analysis.asciidoc
  docs/reference/search/suggesters/phrase-suggest.asciidoc
  plugins/analysis-icu/src/test/resources/rest-api-spec/test/analysis_icu/20_search.yml
  plugins/analysis-phonetic/src/test/resources/rest-api-spec/test/analysis_phonetic/10_metaphone.yml
  plugins/analysis-phonetic/src/test/resources/rest-api-spec/test/analysis_phonetic/20_double_metaphone.yml
  plugins/analysis-phonetic/src/test/resources/rest-api-spec/test/analysis_phonetic/30_beider_morse.yml
  plugins/analysis-phonetic/src/test/resources/rest-api-spec/test/analysis_phonetic/40_search.yml
  plugins/analysis-phonetic/src/test/resources/rest-api-spec/test/analysis_phonetic/50_daitch_mokotoff.yml
  server/src/main/java/org/elasticsearch/index/analysis/StandardTokenFilterFactory.java
  server/src/main/java/org/elasticsearch/indices/analysis/AnalysisModule.java
  server/src/test/java/org/elasticsearch/indices/analysis/AnalysisModuleTests.java
  test/framework/src/main/java/org/elasticsearch/indices/analysis/AnalysisFactoryTestCase.java
  test/framework/src/main/resources/org/elasticsearch/analysis/common/test1.json
Labels: :Search/Analysis, >deprecation, v6.5.0

#33466 Pass Directory instead of DirectoryService to Store
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Store, >non-issue, v6.5.0, v7.0.0

#33443 HLRC: ML Post Data
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/PostDataRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/PostDataResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/PostDataRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/PostDataResponseTests.java
  docs/java-rest/high-level/ml/post-data.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, :ml, >enhancement, review, v6.5.0, v7.0.0

#33455 Adds checks to ensure index metadata exists when we try to use it
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/AllocationRoutedStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/InitializePolicyContextStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ShrunkenIndexCheckStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/AllocationRoutedStepTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/ExecuteStepsUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/MoveToErrorStepUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/SetStepInfoUpdateTask.java
Labels: :Core/ILM, review

#33498 Removes redundant test method in SQL tests
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/extractor/FieldHitExtractorTests.java
Labels: :Search/SQL, >test, v6.5.0, v7.0.0

#33497 Make Watcher validation message copy/pasteable
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherPluginTests.java
Labels: :Core/Watcher, >bug, review, v6.5.0, v7.0.0

#33436 HLRC: split migration request converters
  client/rest-high-level/src/main/java/org/elasticsearch/client/MigrationClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MigrationRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MigrationRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
Labels: :Core/Java High Level REST Client, >refactoring, v6.5.0, v7.0.0

#33506 HLRC: ML Forecast Job
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/ForecastJobRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/ForecastJobResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/ForecastJobRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/ForecastJobResponseTests.java
  docs/java-rest/high-level/ml/forecast-job.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, :ml, >enhancement, review, v6.5.0, v7.0.0

#33471 [ML] Add a file structure determination endpoint
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/FindFileStructureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/filestructurefinder/FieldStats.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/filestructurefinder/FileStructure.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/FindFileStructureActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/FindFileStructureActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/filestructurefinder/FieldStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/filestructurefinder/FileStructureTests.java
  x-pack/plugin/ml/qa/ml-with-security/src/test/java/org/elasticsearch/smoketest/MlWithSecurityUserRoleIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportFindFileStructureAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/filestructurefinder/FileStructureFinderManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/filestructurefinder/GrokPatternCreator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/RestFindFileStructureAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/xpack.ml.find_file_structure.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/find_file_structure.yml
Labels: :ml, >feature, review, v6.5.0, v7.0.0

#33487 TEST: Ensure merge triggered in _recovery_source retention test
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: :Distributed/Engine, >test, v6.5.0, v7.0.0

#33481 HLRC: add enable and disable user API support
  client/rest-high-level/src/main/java/org/elasticsearch/client/SecurityClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/SecurityRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/DisableUserRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/EmptyResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/EnableUserRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/SetUserEnabledRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SecurityRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SecurityDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/EmptyResponseTests.java
  docs/java-rest/high-level/security/disable-user.asciidoc
  docs/java-rest/high-level/security/enable-user.asciidoc
  docs/java-rest/high-level/security/put-user.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, :Security/Authentication, >enhancement, v6.5.0, v7.0.0

#33442 HLRC: split watcher request converters
  client/rest-high-level/src/main/java/org/elasticsearch/client/WatcherClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/WatcherRequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/WatcherRequestConvertersTests.java
Labels: :Core/Java High Level REST Client, >refactoring, v6.4.0, v7.0.0

#33444 HLRC: split xpack request converters
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/XPackClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/XPackRequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/XPackRequestConvertersTests.java
Labels: :Core/Java High Level REST Client, >refactoring, v6.5.0, v7.0.0

#33435 HLRC: split ingest request converters
  client/rest-high-level/src/main/java/org/elasticsearch/client/IngestClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/IngestRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ESRestHighLevelClientTestCase.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IngestRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
Labels: :Core/Java High Level REST Client, >refactoring, v6.5.0, v7.0.0

#33532 move ILM client objects from protocol to client
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/ExplainLifecycleRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/ExplainLifecycleResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/IndexLifecycleExplainResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/SetIndexLifecyclePolicyRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/SetIndexLifecyclePolicyResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/StartILMRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/StopILMRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/ExplainLifecycleRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/ExplainLifecycleResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/IndexExplainResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/SetIndexLifecyclePolicyRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/SetIndexLifecyclePolicyResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/StartILMRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/StopILMRequestTests.java
Labels: :Core/ILM

#33529 Encapsulate Client as class variable for PolicyStepsRegistry
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistry.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistryTests.java
Labels: :Core/ILM

#33323 HLRC: Add Get Lifecycle Policy API to HLRC
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/GetLifecyclePolicyRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/GetLifecyclePolicyResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/IndexLifecycleNamedXContentProvider.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicyMetadata.java
  client/rest-high-level/src/main/resources/META-INF/services/org.elasticsearch.plugins.spi.NamedXContentProvider
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/GetLifecyclePolicyRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/GetLifecyclePolicyResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicyMetadataTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
Labels: :Core/ILM

#33522 Include fallback settings when checking dependencies
  qa/ccs-unavailable-clusters/src/test/java/org/elasticsearch/search/CrossClusterSearchUnavailableClusterIT.java
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/test/java/org/elasticsearch/common/settings/ScopedSettingsTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingTests.java
  server/src/test/java/org/elasticsearch/indices/settings/UpdateSettingsIT.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterServiceTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
Labels: :Core/Settings, review, v6.5.0, v7.0.0

#33440 Painless: Add Static Methods Shortcut
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/Whitelist.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/WhitelistLoader.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FeatureTest.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookup.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ECallLocal.java
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/spi/org.elasticsearch.txt
  modules/lang-painless/src/test/java/org/elasticsearch/painless/BasicAPITests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/ScriptTestCase.java
Labels: :Core/Scripting, >enhancement, v6.5.0, v7.0.0

#33432 Bootstrap a new history_uuid when force allocating a stale primary
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/RecoverySource.java
  server/src/main/java/org/elasticsearch/cluster/routing/ShardRouting.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/command/AllocateEmptyPrimaryAllocationCommand.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/command/AllocateStalePrimaryAllocationCommand.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/test/java/org/elasticsearch/action/search/SearchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/AllocationIdTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/GroupShardsIteratorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/PrimaryAllocationIT.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ThrottlingAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderUnitTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesLifecycleListenerSingleNodeTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryRestoreTests.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestIndicesActionTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/routing/TestShardRouting.java
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportOpenJobActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedNodeSelectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/SecurityIndexManagerTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/test/SecurityTestUtils.java
Labels: :Distributed/Recovery, >enhancement, review, v6.5.0, v7.0.0

#33530 Rename "after" to "minimum_age" in lifecycle definition
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/Phase.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/PhaseTests.java
  x-pack/docs/en/ilm/set-up-lifecycle-policy.asciidoc
  x-pack/docs/en/ilm/using-policies-rollover.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/Phase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/TimeseriesLifecycleType.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/PhaseTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/PolicyStepsRegistry.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/10_basic.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/20_move_to_step.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/30_retry.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/40_explain_lifecycle.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/50_set_policy_for_index.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/60_operation_mode.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/60_remove_policy_for_index.yml
Labels: :Core/ILM

#33496 Add license checks for auto-follow implementation
  test/framework/src/main/java/org/elasticsearch/test/MockLogAppender.java
  x-pack/plugin/ccr/qa/multi-cluster-with-non-compliant-license/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster-with-non-compliant-license/src/test/java/org/elasticsearch/xpack/ccr/CcrMultiClusterLicenseIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrLicenseChecker.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/CreateAndFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/FollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrLicenseIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/NonCompliantLicenseLocalStateCcr.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
Labels: :Distributed/CCR, review

#31323 Add put stored script support to high-level rest client
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/StoredScriptsIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/StoredScriptsDocumentationIT.java
  docs/java-rest/high-level/script/put_script.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/PutStoredScriptRequest.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/storedscripts/PutStoredScriptRequestTests.java
Labels: :Core/Java High Level REST Client, >enhancement

#33548 Add latch countdown on failure in CCR license tests
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrLicenseIT.java
Labels: :Distributed/CCR, >test, review

#33518 CORE: Make Pattern Exclusion Work with Aliases
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaData.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataTests.java
Labels: :Core/Index APIs, >bug, review, v6.5.0, v7.0.0

#33545 CCR: Use single global checkpoint to normalize range
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardChangesAction.java
Labels: :Distributed/CCR, >feature, v6.5.0, v7.0.0

#33550 Remove underscore from auto-follow API
  x-pack/plugin/ccr/qa/multi-cluster-with-non-compliant-license/src/test/java/org/elasticsearch/xpack/ccr/CcrMultiClusterLicenseIT.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestDeleteAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestPutAutoFollowPatternAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/ccr.delete_auto_follow_pattern.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ccr.put_auto_follow_pattern.json
Labels: :Distributed/CCR, review

#33516 [ML] Get job stats request should filter non-ML job tasks
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetJobsStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/OpenJobAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetJobStatsActionRequestTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportOpenJobActionTests.java
Labels: :ml, >bug, review, v6.4.1, v6.5.0, v7.0.0

#33536 Add infrastructure to upgrade settings
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/TransportClusterUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/client/transport/TransportClient.java
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/SettingUpgrader.java
  server/src/main/java/org/elasticsearch/common/settings/SettingsModule.java
  server/src/main/java/org/elasticsearch/gateway/Gateway.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/plugins/Plugin.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsActionTests.java
  server/src/test/java/org/elasticsearch/common/settings/ScopedSettingsTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingsModuleTests.java
  server/src/test/java/org/elasticsearch/common/settings/UpgradeSettingsIT.java
  server/src/test/java/org/elasticsearch/gateway/GatewayTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/RealmSettings.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SettingsFilterTests.java
Labels: :Core/Settings, review, v6.5.0, v7.0.0

#33538 Remove some duplicate request conversion methods in the HLRC.
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/WatcherRequestConvertersTests.java
Labels: :Core/Java High Level REST Client, >refactoring, v7.0.0

#33460 Correctly handle PKCS#11 tokens for system keystore
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/DefaultJDKTrustConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLConfiguration.java
Labels: :Security/Network, >bug, v6.4.1, v7.0.0

#33559 [CCR] Add create_follow_index privilege
  x-pack/plugin/ccr/qa/multi-cluster-with-security/roles.yml
  x-pack/plugin/ccr/qa/multi-cluster-with-security/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexSecurityIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/CreateAndFollowIndexAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilege.java
Labels: :Distributed/CCR, >bug, review

#33504 [ML-Dataframe] Use AsyncTwoPhaseIndexer
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/FeatureIndexBuilder.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/action/TransportPutFeatureIndexBuilderJobAction.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/job/FeatureIndexBuilderIndexer.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/job/FeatureIndexBuilderJob.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/job/FeatureIndexBuilderJobPersistentTasksExecutor.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/job/FeatureIndexBuilderJobStats.java
  x-pack/plugin/ml-feature-index-builder/src/main/java/org/elasticsearch/xpack/ml/featureindexbuilder/job/FeatureIndexBuilderJobTask.java
Labels: :ml, >feature, review, v7.0.0

#33286 [Monitoring] Update beats template to include apm-server metrics
  x-pack/plugin/core/src/main/resources/monitoring-beats.json
Labels: :Beats, :Core/Monitoring

#32815 [Test] Remove duplicate method in TestShardRouting
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/PrecommitTasks.groovy
  docs/reference/setup/setup-xclient.asciidoc
  docs/reference/upgrade/set-paths-tip.asciidoc
  modules/reindex/build.gradle
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ResizeAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/routing/TestShardRouting.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/docs/en/watcher/customizing-watches.asciidoc
  x-pack/plugin/security/src/main/resources/meta-plugin-descriptor.properties
Labels: :Core/Build, >non-issue, review, v6.5.0, v7.0.0

#33569 MINOR: Remove Dead Code in SearchScript
  server/src/main/java/org/elasticsearch/script/SearchScript.java
Labels: :Core/Scripting, >non-issue, v6.5.0, v7.0.0

#33500 SQL: Fix result column names for arithmetic functions
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/Expressions.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/ScalarFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/arithmetic/ArithmeticFunction.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/NamedExpressionTests.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/CsvTestUtils.java
  x-pack/qa/sql/src/main/java/org/elasticsearch/xpack/qa/sql/jdbc/JdbcAssert.java
  x-pack/qa/sql/src/main/resources/functions.csv-spec
  x-pack/qa/sql/src/main/resources/math.sql-spec
Labels: :Search/SQL, >bug, v6.5.0, v7.0.0

#33517 Copy and validate soft-deletes setting on resize
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/TransportResizeAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/shrink/TransportResizeActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
Labels: :Core/Index APIs, >enhancement, v6.5.0, v7.0.0

#33579 Fix Javadoc issues in 6.x for JDK11
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/AmazonS3Fixture.java
  server/src/test/java/org/elasticsearch/common/xcontent/BaseXContentTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/nested/NestedAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/nested/ReverseNestedAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTextAggregatorTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractAdLdapRealmTestCase.java
Labels: :Core/Core, >bug, jdk11, v6.5.0

#33577 Add full cluster restart base class
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
  test/framework/src/main/java/org/elasticsearch/upgrades/AbstractFullClusterRestartTestCase.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Core/Build, >non-issue, review, v6.5.0, v7.0.0

#33568 [ML] Rename input_fields to column_names in file structure
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/filestructurefinder/FileStructure.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/filestructurefinder/FileStructureTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/filestructurefinder/DelimitedFileStructureFinder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/filestructurefinder/DelimitedFileStructureFinderTests.java
Labels: :ml, >non-issue, >refactoring, review, v6.5.0, v7.0.0

#33478 SQL: Fix bug in REPLACE function. Adds more tests to all string functions
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Replace.java
  x-pack/qa/sql/src/main/resources/string-functions.sql-spec
Labels: :Search/SQL, >bug, v6.5.0, v7.0.0

#33431 Add script_filter tokenfilter
  docs/reference/analysis/tokenfilters.asciidoc
  docs/reference/analysis/tokenfilters/predicate-tokenfilter.asciidoc
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/AnalysisPredicateScript.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonAnalysisPlugin.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/PredicateTokenFilterScriptFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/ScriptedConditionTokenFilterFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/PredicateTokenScriptFilterTests.java
  modules/analysis-common/src/test/resources/rest-api-spec/test/analysis-common/60_analysis_scripting.yml
Labels: :Search/Analysis, >feature, v6.5.0, v7.0.0

#33507 Renames lifecycle to policy in rest-api-spec
  x-pack/plugin/src/test/resources/rest-api-spec/api/ilm.delete_lifecycle.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ilm.get_lifecycle.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ilm.put_lifecycle.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/10_basic.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/20_move_to_step.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/30_retry.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/40_explain_lifecycle.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/50_set_policy_for_index.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/60_operation_mode.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ilm/60_remove_policy_for_index.yml
Labels: :Core/ILM, review

#33465 HLRC: Add ML get categories API
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetCategoriesRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetCategoriesResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningGetResultsIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetCategoriesRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetCategoriesResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/results/CategoryDefinitionTests.java
  docs/java-rest/high-level/ml/get-categories.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, :ml, >enhancement, review, v6.5.0, v7.0.0

#33563 Add read-only Engine
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
Labels: :Distributed/Engine, >enhancement, v6.5.0, v7.0.0

#33589 Fix upgrading of list settings
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/SettingUpgrader.java
  server/src/test/java/org/elasticsearch/common/settings/ScopedSettingsTests.java
Labels: :Core/Settings, >non-issue, review, v6.5.0, v7.0.0

#33582 Use IndexWriter.getFlushingBytes() rather than tracking it ourselves
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/LiveVersionMap.java
  server/src/test/java/org/elasticsearch/index/engine/LiveVersionMapTests.java
Labels: :Distributed/Engine, >refactoring, v7.0.0

#33590 Preserve cluster settings on full restart tests
  test/framework/src/main/java/org/elasticsearch/upgrades/AbstractFullClusterRestartTestCase.java
Labels: :Core/Build, >non-issue, v6.5.0, v7.0.0

#33576 Improves doc values format deprecation message
  rest-api-spec/src/main/resources/rest-api-spec/test/search/10_source_filtering.yml
  server/src/main/java/org/elasticsearch/search/fetch/subphase/DocValueFieldsFetchSubPhase.java
Labels: :Search/Search, >bug, blocker, v6.4.1, v6.5.0, v7.0.0

#33585 [DOCS] Adds missing built-in user information
  docs/reference/setup/install/windows.asciidoc
Labels: :Security/Authentication, >docs, v6.5.0, v7.0.0

#33583 SQL: Make Literal a NamedExpression
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/Attribute.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/Expressions.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/Literal.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/LiteralAttribute.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/ScalarFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/math/E.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/math/Pi.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/LiteralTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerTests.java
Labels: :Search/SQL, >enhancement, v6.5.0, v7.0.0

#33608 Expose CCR to the transport client
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/CreateAndFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/FollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardChangesAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportCcrStatsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportCreateAndFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportUnfollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/UnfollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestCcrStatsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestCreateAndFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestUnfollowIndexAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrLicenseIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/ShardChangesIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/CreateAndFollowIndexRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/CreateAndFollowIndexResponseTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/FollowIndexRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskRandomTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskStatusTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportFollowIndexActionTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClient.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/ShardFollowNodeTaskStatus.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/CcrStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/CreateAndFollowIndexAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/FollowIndexAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/UnfollowIndexAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/client/CcrClient.java
Labels: :Distributed/CCR, review

#33612 Remove debug logging in full cluster restart tests
  qa/full-cluster-restart/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
Labels: :Core/Build, >test, review, v6.5.0, v7.0.0

#33526 HLRC: ML Delete Forecast API
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/DeleteForecastRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/DeleteForecastRequestTests.java
  docs/java-rest/high-level/ml/delete-forecast.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, :ml, >enhancement, review, v6.5.0, v7.0.0

#33473 Reset replica engine to global checkpoint on promotion
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/seqno/LocalCheckpointTracker.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/discovery/AbstractDisruptionTestCase.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/elasticsearch/index/replication/IndexLevelReplicationTests.java
  server/src/test/java/org/elasticsearch/index/replication/RecoveryDuringReplicationTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/recovery/RelocationIT.java
  test/framework/src/main/java/org/elasticsearch/index/engine/DocIdSeqNoAndTerm.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
Labels: :Distributed/Recovery, >enhancement, review, v6.5.0, v7.0.0

#32806 NETWORKING: http.publish_host Should Contain CNAME
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  docs/build.gradle
  modules/lang-painless/build.gradle
  server/src/main/java/org/elasticsearch/http/HttpInfo.java
  server/src/test/java/org/elasticsearch/http/HttpInfoTests.java
Labels: :Core/Network, >bug, review, v6.5.0, v7.0.0

#33537 Upgrade remote cluster settings
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartSettingsUpgradeIT.java
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/test/java/org/elasticsearch/common/settings/UpgradeSettingsIT.java
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartSettingsUpgradeIT.java
Labels: :Search/Search, >enhancement, review, v6.5.0, v7.0.0

#33619 Disable CCR REST endpoints if CCR disabled
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
Labels: :Distributed/CCR, review

#33601 Clarify context suggestions filtering and boosting
  docs/reference/search/suggesters/context-suggest.asciidoc
  server/src/test/java/org/elasticsearch/search/suggest/ContextCompletionSuggestSearchIT.java
Labels: :Docs, :Search/Suggesters, >non-issue

#33390 Forbid negative `weight` in Function Score Query
  server/src/main/java/org/elasticsearch/index/query/functionscore/ScoreFunctionBuilder.java
  server/src/test/java/org/elasticsearch/index/query/functionscore/FunctionScoreQueryBuilderTests.java
Labels: :Search/Search

#33371 [CCR] Improve shard follow task's retryable error handling
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/PutAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/PutAutoFollowPatternRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/FollowIndexAction.java
Labels: :Distributed/CCR, >enhancement, review

#33610 Update match-query.asciidoc
  docs/reference/query-dsl/match-query.asciidoc
Labels: :Search/Search, >docs

#33617 Expose CCR stats to monitoring
  x-pack/plugin/ccr/qa/multi-cluster-with-security/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster-with-security/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexSecurityIT.java
  x-pack/plugin/ccr/qa/multi-cluster/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrSettings.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportCcrStatsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestCcrStatsAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrLicenseIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/ShardFollowNodeTaskStatus.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/CcrStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/client/CcrClient.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/Monitoring.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/collector/ccr/CcrStatsCollector.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/collector/ccr/CcrStatsMonitoringDoc.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/ccr/CcrStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/ccr/CcrStatsMonitoringDocTests.java
Labels: :Core/Monitoring, :Distributed/CCR, review

#30723 Update AWS SDK to 1.11.340 in repository-s3
  plugins/repository-s3/build.gradle
  plugins/repository-s3/licenses/aws-java-sdk-core-1.11.223.jar.sha1
  plugins/repository-s3/licenses/aws-java-sdk-core-1.11.406.jar.sha1
  plugins/repository-s3/licenses/aws-java-sdk-kms-1.11.223.jar.sha1
  plugins/repository-s3/licenses/aws-java-sdk-kms-1.11.406.jar.sha1
  plugins/repository-s3/licenses/aws-java-sdk-s3-1.11.223.jar.sha1
  plugins/repository-s3/licenses/aws-java-sdk-s3-1.11.406.jar.sha1
  plugins/repository-s3/licenses/jmespath-java-1.11.406.jar.sha1
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Service.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/RepositoryCredentialsTests.java
Labels: :Distributed/Snapshot/Restore, >enhancement, review, v6.4.1, v7.0.0

#33603 [HLRC][ML] Add ML put datafeed API to HLRC
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/PutDatafeedRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/PutDatafeedResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/datafeed/DatafeedConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/datafeed/DatafeedUpdate.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/PutDatafeedRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/PutDatafeedResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/datafeed/DatafeedConfigTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/datafeed/DatafeedUpdateTests.java
  docs/java-rest/high-level/ml/put-datafeed.asciidoc
  docs/java-rest/high-level/ml/put-job.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, :ml, >enhancement, review, v6.5.0, v7.0.0

#33620 Enable global checkpoint listeners to timeout
  server/src/main/java/org/elasticsearch/common/util/concurrent/FutureUtils.java
  server/src/main/java/org/elasticsearch/index/shard/GlobalCheckpointListeners.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/FutureUtilsTests.java
  server/src/test/java/org/elasticsearch/index/shard/GlobalCheckpointListenersTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
Labels: :Distributed/Distributed, review, v6.5.0, v7.0.0

#33627 Fix heading in composite-aggregation.asciidoc
  docs/reference/aggregations/bucket/composite-aggregation.asciidoc
Labels: :Search/Aggregations, >docs, v6.5.0, v7.0.0

#33623 upgrade randomizedrunner to 2.7.0
  buildSrc/version.properties
Labels: :Core/Build, >upgrade, v6.5.0, v7.0.0

#32844 Add `_source`-only snapshot repository
  docs/reference/modules/snapshots.asciidoc
  libs/core/src/main/java/org/elasticsearch/core/internal/io/IOUtils.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/EngineFactory.java
  server/src/main/java/org/elasticsearch/index/seqno/SeqNoStats.java
  server/src/main/java/org/elasticsearch/index/shard/AbstractIndexShardComponent.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/repositories/FilterRepository.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/snapshots/SeqIdGeneratingFilterReader.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/snapshots/SourceOnlySnapshot.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/snapshots/SourceOnlySnapshotRepository.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/SourceOnlySnapshotIT.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/SourceOnlySnapshotShardTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/SourceOnlySnapshotTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/snapshot/10_basic.yml
Labels: :Distributed/Snapshot/Restore, >enhancement, release highlight, v6.5.0, v7.0.0

#33635 [CCR] Update es monitoring mapping and
  x-pack/plugin/ccr/qa/multi-cluster-with-security/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexSecurityIT.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/core/src/main/resources/monitoring-es.json
Labels: :Distributed/CCR, review

#33632 Add migration note for remote cluster settings
  docs/reference/migration/migrate_7_0/settings.asciidoc
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
Labels: :Search/Search, >docs, review, v6.5.0, v7.0.0

#33546 [CCR] Added history uuid validation
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  x-pack/plugin/ccr/qa/multi-cluster-with-security/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexSecurityIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrLicenseChecker.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardChangesAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportCreateAndFollowIndexAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportFollowIndexAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/ShardChangesIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesActionTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesResponseTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskRandomTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskReplicationTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportFollowIndexActionTests.java
Labels: :Distributed/CCR, >enhancement, review
