Repository elastic/elasticsearch, pull requests merged in 2018-03, with the labels that each got.

#28841 Rest api specs : remove unsupported parameter `parent_node`
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.tasks.json
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.cancel.json
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.list.json
Labels: :Core/REST API, >bug, v6.3.0, v7.0.0

#28835 Rest api specs : remove a common param from nodes.usage.json
  rest-api-spec/src/main/resources/rest-api-spec/api/nodes.usage.json
Labels: :Core/REST API, >bug, v6.3.0, v7.0.0

#28814 [docs] fix put_mapping snippet
  docs/java-api/admin/indices/put-mapping.asciidoc
  docs/java-api/index.asciidoc
  server/src/test/java/org/elasticsearch/client/documentation/IndicesDocumentationIT.java
Labels: >docs, >enhancement, v6.3.0, v7.0.0

#28870 Update outdated java version reference
  buildSrc/src/main/resources/plugin-descriptor.properties
Labels: :Core/Plugins, >docs, v6.3.0, v7.0.0

#28798 Clarifies how the query_string splits textual part to build a query
  docs/reference/query-dsl/query-string-query.asciidoc
Labels: :Search/Search, >docs

#28328 Missing `timeout` parameter from the REST API spec JSON files (#28200)
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.get.json
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.list.json
Labels: :Core/REST API, v6.3.0, v7.0.0

#28808 Limit analyzed text for highlighting (improvements)
  docs/reference/index-modules.asciidoc
  docs/reference/migration/migrate_7_0/analysis.asciidoc
  docs/reference/search/request/highlighting.asciidoc
  server/src/main/java/org/apache/lucene/search/uhighlight/CustomUnifiedHighlighter.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/PlainHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/UnifiedHighlighter.java
  server/src/test/java/org/apache/lucene/search/uhighlight/CustomUnifiedHighlighterTests.java
Labels: :Search/Highlighting, v6.3.0, v7.0.0

#28767 Try if tombstone is eligable for pruning before locking on it's key
  server/src/main/java/org/elasticsearch/index/engine/LiveVersionMap.java
Labels: :Distributed/Engine, >enhancement, v6.3.0, v7.0.0

#28891 Fix typo in composite aggregation
  docs/reference/aggregations/bucket/composite-aggregation.asciidoc
Labels: >docs

#28871 Fix (simple)_query_string to ignore removed terms
  server/src/main/java/org/elasticsearch/index/search/MatchQuery.java
  server/src/main/java/org/elasticsearch/index/search/QueryStringQueryParser.java
  server/src/main/java/org/elasticsearch/index/search/SimpleQueryStringQueryParser.java
  server/src/test/java/org/elasticsearch/index/query/MatchQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/MultiMatchQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryStringQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SimpleQueryStringBuilderTests.java
Labels: :Search/Search, >bug, v6.3.0, v7.0.0

#28521 Rescore collapsed documents
  rest-api-spec/src/main/resources/rest-api-spec/test/search/110_field_collapsing.yml
  server/src/main/java/org/elasticsearch/search/collapse/CollapseBuilder.java
  server/src/main/java/org/elasticsearch/search/query/TopDocsCollectorContext.java
  server/src/test/java/org/elasticsearch/search/functionscore/QueryRescorerIT.java
Labels: :Search/Search, >enhancement, v6.3.0, v7.0.0

#28897 Wrap stream passed to createParser in try-with-resources
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/JsonProcessor.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/ScriptProcessor.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/RestReindexAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportReindexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/put/PutMappingRequest.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequest.java
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequest.java
  server/src/main/java/org/elasticsearch/action/termvectors/TermVectorsFields.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentBuilder.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentHelper.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/DecayFunctionBuilder.java
  server/src/main/java/org/elasticsearch/rest/RestRequest.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestGetSourceAction.java
  server/src/main/java/org/elasticsearch/script/Script.java
  server/src/main/java/org/elasticsearch/script/StoredScriptSource.java
  server/src/main/java/org/elasticsearch/tasks/RawTaskStatus.java
Labels: >non-issue, v6.3.0, v7.0.0

#28904 Fix incorrect datemath example
  docs/reference/api-conventions.asciidoc
Labels: >docs, >enhancement, v6.2.3, v6.3.0, v7.0.0

#28903 Correct typo.
  docs/reference/setup/configuration.asciidoc
Labels: >docs, >enhancement, v6.2.3, v6.3.0, v7.0.0

#28792 Remove BytesRef usage from XContentParser and its subclasses
  server/src/main/java/org/elasticsearch/common/xcontent/XContentBuilder.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentParser.java
  server/src/main/java/org/elasticsearch/common/xcontent/json/JsonXContentParser.java
  server/src/main/java/org/elasticsearch/common/xcontent/support/AbstractXContentParser.java
  server/src/main/java/org/elasticsearch/index/query/AbstractQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/BaseTermQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/FuzzyQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/RangeQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SpanTermQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/TermQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/TermsQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/TypeQueryBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/ParsedSignificantStringTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/ParsedStringTerms.java
  server/src/test/java/org/elasticsearch/common/xcontent/BaseXContentTestCase.java
  server/src/test/java/org/elasticsearch/common/xcontent/cbor/CborXContentParserTests.java
Labels: >non-issue, v6.3.0, v7.0.0

#28927 Decouple XContentType from StreamInput/Output
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolateQueryBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/PutStoredScriptRequest.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequest.java
  server/src/main/java/org/elasticsearch/action/ingest/PutPipelineRequest.java
  server/src/main/java/org/elasticsearch/action/ingest/SimulatePipelineRequest.java
  server/src/main/java/org/elasticsearch/action/termvectors/TermVectorsRequest.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentParser.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentType.java
  server/src/main/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilder.java
  server/src/main/java/org/elasticsearch/ingest/PipelineConfiguration.java
  server/src/main/java/org/elasticsearch/script/Script.java
Labels: >non-issue, v6.3.0, v7.0.0

#28840 Improved percolator's random candidate query duel test
  modules/percolator/src/main/java/org/elasticsearch/percolator/QueryAnalyzer.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
Labels: :Search/Percolator, >bug, review, v6.2.3, v6.3.0, v7.0.0

#28916 [Docs] REST high-level client: Fix code for most basic search request
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SearchDocumentationIT.java
  docs/java-rest/high-level/search/search.asciidoc
Labels: >docs, v5.6.9, v6.0.3, v6.1.4, v6.2.3, v6.3.0, v7.0.0

#28937 Update bucket-sort-aggregation.asciidoc
  docs/reference/aggregations/pipeline/bucket-sort-aggregation.asciidoc
Labels: :Search/Aggregations, >docs, v6.2.3

#28926 Remove now-unused createParser that uses BytesReference
  server/src/main/java/org/elasticsearch/common/xcontent/XContent.java
  server/src/main/java/org/elasticsearch/common/xcontent/cbor/CborXContent.java
  server/src/main/java/org/elasticsearch/common/xcontent/json/JsonXContent.java
  server/src/main/java/org/elasticsearch/common/xcontent/smile/SmileXContent.java
  server/src/main/java/org/elasticsearch/common/xcontent/yaml/YamlXContent.java
Labels: :Core/Core, >non-issue, v6.3.0, v7.0.0

#28900 Give transport-nio plugin socket permissions
  plugins/transport-nio/src/main/plugin-metadata/plugin-security.policy
Labels: :Core/Network, >non-issue, review, v7.0.0

#28901 Remove NioNotEnabledBootstrapCheck bootstrap check
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioNotEnabledBootstrapCheck.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTransportPlugin.java
Labels: :Core/Network, >non-issue, review, v7.0.0

#28931 Factor UnknownNamedObjectException into its own class
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaData.java
  server/src/main/java/org/elasticsearch/common/xcontent/NamedXContentRegistry.java
  server/src/main/java/org/elasticsearch/common/xcontent/UnknownNamedObjectException.java
  server/src/main/java/org/elasticsearch/common/xcontent/yaml/YamlXContent.java
  server/src/main/java/org/elasticsearch/index/query/AbstractQueryBuilder.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/BaseXContentTestCase.java
  server/src/test/java/org/elasticsearch/common/xcontent/UnknownNamedObjectExceptionTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/XContentParserUtilsTests.java
Labels: :Core/Core, >non-issue, v6.3.0, v7.0.0

#28930 Build: Fix ability to ignore when no tests are run
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
Labels: :Core/Build, >test, v6.3.0, v7.0.0

#28752 Continue registering pipelines after one pipeline parse failure.
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/IngestRestartIT.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/ingest/PipelineStore.java
  server/src/test/java/org/elasticsearch/ingest/IngestClientIT.java
  server/src/test/java/org/elasticsearch/ingest/IngestProcessorNotInstalledOnAllNodesIT.java
  server/src/test/java/org/elasticsearch/ingest/PipelineExecutionServiceTests.java
  server/src/test/java/org/elasticsearch/ingest/PipelineStoreTests.java
Labels: :Core/Ingest, >bug, v6.2.3, v6.3.0, v7.0.0

#28951 Remove FastCharArrayReader and FastCharArrayWriter
  server/src/main/java/org/elasticsearch/common/io/FastCharArrayReader.java
  server/src/main/java/org/elasticsearch/common/io/FastCharArrayWriter.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/DirectCandidateGenerator.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/NoisyChannelSpellChecker.java
Labels: :Core/Core, >non-issue, v6.3.0, v7.0.0

#28944 Remove FastStringReader in favor of vanilla StringReader
  buildSrc/src/main/resources/forbidden/es-server-signatures.txt
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/MustacheScriptEngine.java
  server/src/main/java/org/elasticsearch/action/admin/indices/analyze/TransportAnalyzeAction.java
  server/src/main/java/org/elasticsearch/common/Strings.java
  server/src/main/java/org/elasticsearch/common/geo/parsers/GeoWKTParser.java
  server/src/main/java/org/elasticsearch/common/io/FastStringReader.java
  server/src/main/java/org/elasticsearch/common/lucene/search/MoreLikeThisQuery.java
  server/src/main/java/org/elasticsearch/common/lucene/search/XMoreLikeThis.java
  server/src/main/java/org/elasticsearch/common/xcontent/cbor/CborXContent.java
  server/src/main/java/org/elasticsearch/common/xcontent/json/JsonXContent.java
  server/src/main/java/org/elasticsearch/common/xcontent/smile/SmileXContent.java
  server/src/main/java/org/elasticsearch/common/xcontent/yaml/YamlXContent.java
  server/src/main/java/org/elasticsearch/index/analysis/SynonymTokenFilterFactory.java
Labels: :Core/Core, >non-issue, v6.3.0, v7.0.0

#28952 Build: Remove rest tests on archive distribution projects
  distribution/archives/build.gradle
  distribution/archives/tar/src/test/java/org/elasticsearch/test/rest/TarClientYamlTestSuiteIT.java
  distribution/archives/tar/src/test/resources/rest-api-spec/test/smoke_test_plugins/10_modules.yml
  distribution/archives/zip/src/test/java/org/elasticsearch/test/rest/ZipClientYamlTestSuiteIT.java
  distribution/archives/zip/src/test/resources/rest-api-spec/test/smoke_test_plugins/10_modules.yml
Labels: :Core/Build, >test, v6.3.0, v7.0.0

#28854 Fix percolator query analysis for function_score query
  modules/percolator/src/main/java/org/elasticsearch/percolator/QueryAnalyzer.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/QueryAnalyzerTests.java
Labels: :Search/Percolator, >bug, review, v6.2.3, v6.3.0, v7.0.0

#28815 Plugins: Consolidate plugin and module loading code
  server/src/main/java/org/elasticsearch/plugins/PluginsService.java
  server/src/test/java/org/elasticsearch/plugins/PluginsServiceTests.java
Labels: :Core/Plugins, >refactoring, v6.3.0, v7.0.0

#28941 Use String.join() to describe a list of tasks
  server/src/main/java/org/elasticsearch/cluster/ClusterStateTaskExecutor.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataMappingService.java
Labels: :Distributed/Recovery, v5.6.9, v6.3.0, v7.0.0

#28788 Use fixture to test the repository-gcs plugin
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageFixture.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageTestServer.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/MockStorage.java
  plugins/repository-gcs/src/test/resources/rest-api-spec/test/repository_gcs/10_basic.yml
  plugins/repository-gcs/src/test/resources/rest-api-spec/test/repository_gcs/10_basic.yml~
Labels: :Distributed/Snapshot/Restore, >test, review, v7.0.0

#28534 Make primary-replica resync failures less lenient
  server/src/main/java/org/elasticsearch/action/resync/TransportResyncReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportWriteAction.java
  server/src/test/java/org/elasticsearch/cluster/routing/PrimaryAllocationIT.java
Labels: :Distributed/Recovery, >enhancement, v6.3.0, v7.0.0

#28768 Remove Booleans use from XContent and ToXContent
  server/src/main/java/org/elasticsearch/common/xcontent/Booleans.java
  server/src/main/java/org/elasticsearch/common/xcontent/ToXContent.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContent.java
Labels: :Core/Core, >non-issue, v6.3.0, v7.0.0

#28971 Remove special handling for _all in nodes info
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/test/java/org/elasticsearch/cluster/node/DiscoveryNodesTests.java
Labels: :Core/Core, >bug, review, v6.2.3, v6.3.0, v7.0.0

#28973 Maybe die before failing engine
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
Labels: :Distributed/Engine, >bug, review, v5.6.9, v6.1.4, v6.2.3, v6.3.0, v7.0.0

#28968 Plugins: Allow modules to spawn controllers
  qa/no-bootstrap-tests/src/test/java/org/elasticsearch/bootstrap/SpawnerNoBootstrapTests.java
  server/src/main/java/org/elasticsearch/bootstrap/Security.java
  server/src/main/java/org/elasticsearch/bootstrap/Spawner.java
Labels: :Core/Plugins, >refactoring, v6.3.0, v7.0.0

#28962 Honor RUNTIME_JAVA_HOME for benchmarks
  benchmarks/build.gradle
Labels: :Core/Build, >test, v6.2.3, v6.3.0, v7.0.0

#28963 Reduce heap-memory usage of ingest-geoip plugin
  docs/plugins/ingest-geoip.asciidoc
  plugins/ingest-geoip/build.gradle
  plugins/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  plugins/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/IngestGeoIpPlugin.java
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorTests.java
  plugins/ingest-geoip/src/test/resources/rest-api-spec/test/ingest_geoip/20_geoip_processor.yml
Labels: :Core/Ingest, >enhancement, v5.6.9, v6.2.3, v6.3.0, v7.0.0

#28969 Disallow logger methods with Object parameter
  buildSrc/src/main/resources/forbidden/es-server-signatures.txt
  server/src/main/java/org/elasticsearch/common/util/concurrent/QueueResizingEsThreadPoolExecutor.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
Labels: :Core/Logging, >enhancement

#28989 Avoid class cast exception from index writer
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
Labels: :Distributed/Engine, >bug, review, v5.6.9, v6.1.4, v6.2.3, v6.3.0, v7.0.0

#28876 [discovery-gce] Align code examples and documentation
  docs/plugins/discovery-gce.asciidoc
Labels: :Distributed/Discovery, >docs, v7.0.0

#28886 Add check when trying to reroute a shard to a non-data discovery node
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/command/MoveAllocationCommand.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AllocationCommandsTests.java
Labels: :Distributed/Allocation, >bug, v6.3.0, v7.0.0

#28928 Create keystore on package install
  buildSrc/src/main/resources/plugin-descriptor.properties
  distribution/packages/src/common/scripts/postinst
  distribution/packages/src/common/scripts/prerm
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/InstallPluginCommand.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/InstallPluginCommandTests.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/ListPluginsCommandTests.java
  qa/vagrant/src/test/resources/packaging/tests/20_tar_package.bats
  qa/vagrant/src/test/resources/packaging/tests/30_deb_package.bats
  qa/vagrant/src/test/resources/packaging/tests/40_rpm_package.bats
  qa/vagrant/src/test/resources/packaging/utils/packages.bash
  qa/vagrant/src/test/resources/packaging/utils/tar.bash
  server/src/main/java/org/elasticsearch/bootstrap/Bootstrap.java
  server/src/main/java/org/elasticsearch/plugins/PluginInfo.java
  server/src/main/java/org/elasticsearch/plugins/PluginsService.java
  server/src/test/java/org/elasticsearch/nodesinfo/NodeInfoStreamingTests.java
  server/src/test/java/org/elasticsearch/plugins/PluginInfoTests.java
  server/src/test/java/org/elasticsearch/plugins/PluginsServiceTests.java
Labels: :Core/Packaging, >breaking, review, v6.3.0, v7.0.0

#28991 [Test] GoogleCloudStorageFixture command line is too long on Windows
  plugins/repository-gcs/build.gradle
Labels: :Core/Build, >test, review, v6.3.0, v7.0.0

#28918 Stop sourcing scripts during installation/removal
  distribution/packages/src/common/scripts/postinst
  distribution/packages/src/common/scripts/postrm
  distribution/packages/src/common/scripts/preinst
  distribution/packages/src/common/scripts/prerm
Labels: :Core/Packaging, v6.3.0, v7.0.0

#28987 Add test for dying with dignity
  qa/die-with-dignity/build.gradle
  qa/die-with-dignity/src/main/java/org/elasticsearch/DieWithDignityPlugin.java
  qa/die-with-dignity/src/main/java/org/elasticsearch/RestDieWithDignityAction.java
  qa/die-with-dignity/src/test/java/org/elasticsearch/qa/die_with_dignity/DieWithDignityIT.java
  test/framework/src/main/java/org/elasticsearch/bootstrap/BootstrapForTesting.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: :Core/Resiliency, >test, review, v6.3.0, v7.0.0

#29005 Skip GeoIpProcessorFactoryTests on Windows
  plugins/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
Labels: :Core/Ingest, >bug, >test, jenkins, v6.3.0, v7.0.0

#28998 Indices PUT Mapping API docs: Remove mapping type user and rephrase first sentence
  docs/reference/indices/put-mapping.asciidoc
Labels: >docs

#28959 REST api specs : remove unsupported `wait_for_merge` param
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.forcemerge.json
Labels: :Core/REST API, v5.6.9, v6.2.0, v6.3.0, v7.0.0

#29006 Add migration docs for Geoip Processor
  docs/reference/migration/migrate_6_3.asciidoc
Labels: :Core/Ingest, >docs, v6.3.0

#28786 Update "_doc" to "account" type for bulk example
  docs/reference/getting-started.asciidoc
Labels: >docs, v6.3.0

#28517 Update s3 secure settings
  plugins/repository-s3/build.gradle
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/AmazonS3Reference.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/AwsS3Service.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/InternalAwsS3Service.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobContainer.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3ClientSettings.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3RepositoryPlugin.java
  plugins/repository-s3/src/main/plugin-metadata/plugin-security.policy
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/AbstractS3SnapshotRestoreTest.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/AmazonS3Wrapper.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/AwsS3ServiceImplTests.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/MockAmazonS3.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/RepositoryCredentialsTests.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/RepositorySettingsCredentialsTests.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobStoreContainerTests.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3RepositoryTests.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/TestAmazonS3.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/TestAwsS3Service.java
Labels: :Distributed/Snapshot/Restore, >feature, v6.3.0, v7.0.0

#28375 Clarify that dynamic date formats are only checked for values that contain `-`, `/` or `:`.
  docs/reference/mapping/dynamic/field-mapping.asciidoc
Labels: :Search/Mapping, >docs

#28943 REST : deprecate `field_data` for Clear Indices Cache API
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.clear_cache/10_basic.yml
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestClearIndicesCacheAction.java
Labels: :Core/REST API, >deprecation, review

#28983 Document and test date_range "missing" support
  docs/reference/aggregations/bucket/daterange-aggregation.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/40_range.yml
Labels: :Search/Aggregations, >docs

#28997 Correct class to name string conversion
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Definition.java
Labels: :Core/Scripting, >bug, v6.3.0, v7.0.0

#29031 Remove interning from prefix logger
  server/src/main/java/org/elasticsearch/common/logging/PrefixLogger.java
Labels: :Core/Logging, review, v6.3.0, v7.0.0

#29027 Log template creation and deletion
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexTemplateService.java
Labels: :Core/Logging, >enhancement, review, v6.3.0, v7.0.0

#29028 Put JVM crash logs in the default log directory
  distribution/build.gradle
  distribution/src/config/jvm.options
Labels: :Core/Packaging, >enhancement, review, v6.3.0, v7.0.0

#28888 Archive unknown or invalid settings on updates
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/SettingsUpdater.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/TransportClusterUpdateSettingsAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/settings/SettingsUpdaterTests.java
Labels: :Core/Settings, review, v6.1.4, v6.2.3, v6.3.0, v7.0.0

#29032 Add docs for error file configuration
  docs/reference/setup/important-settings/error-file.asciidoc
Labels: :Core/Packaging, >docs, review, v6.3.0, v7.0.0

#29040 Add search slowlog level to docs
  docs/reference/index-modules/slowlog.asciidoc
Labels: :Core/Logging, >docs, review, v5.6.9, v6.1.4, v6.2.3, v6.3.0, v7.0.0

#29034 Add total hits to the search slow log
  server/src/main/java/org/elasticsearch/index/SearchSlowLog.java
Labels: :Core/Logging, review, v6.3.0, v7.0.0

#29026 Versions: Add 5.6.9 version to Version.java
  core/src/main/java/org/elasticsearch/Version.java
Labels: :Core/Build, review

#29043 Do not swallow fail to convert exceptions
  server/src/main/java/org/elasticsearch/index/IndexingSlowLog.java
  server/src/test/java/org/elasticsearch/index/IndexingSlowLogTests.java
Labels: :Core/Logging, >enhancement, review, v6.3.0, v7.0.0

#29045 Main response should not have status 503 when okay
  client/rest-high-level/src/test/java/org/elasticsearch/client/CustomRestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MainDocumentationIT.java
  server/src/main/java/org/elasticsearch/action/main/MainResponse.java
  server/src/main/java/org/elasticsearch/action/main/TransportMainAction.java
  server/src/main/java/org/elasticsearch/rest/action/RestMainAction.java
  server/src/test/java/org/elasticsearch/action/main/MainActionTests.java
  server/src/test/java/org/elasticsearch/action/main/MainResponseTests.java
  server/src/test/java/org/elasticsearch/rest/action/RestMainActionTests.java
Labels: :Core/Core, >breaking, review, v7.0.0

#29049 added docs for `wrapper` query
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/QueryDSLDocumentationTests.java
  docs/java-api/query-dsl/special-queries.asciidoc
  docs/java-api/query-dsl/wrapper-query.asciidoc
  docs/java-rest/high-level/query-builders.asciidoc
  docs/reference/query-dsl/special-queries.asciidoc
  docs/reference/query-dsl/wrapper-query.asciidoc
Labels: :Core/Java High Level REST Client, :Core/Transport API, >docs

#29056 Fix eclipse compile issues
  libs/elasticsearch-core/src/test/java/org/elasticsearch/core/internal/io/IOUtilsTests.java
Labels: >non-issue, review, v7.0.0

#29017 [Docs] Add note to migration doc
  docs/reference/migration/migrate_6_0/search.asciidoc
Labels: :Search/Search, >docs, review, v6.0.3, v6.1.4, v6.2.3, v6.3.0

#29039 Fix Parsing Bug with Update By Query for Stored Scripts
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/RestUpdateByQueryAction.java
  qa/smoke-test-reindex-with-all-modules/src/test/resources/rest-api-spec/test/update_by_query/10_script.yml
Labels: :Core/Index APIs, >bug, v6.0.3, v6.1.4, v6.2.3, v6.3.0, v7.0.0

#28217 Enforce that java.io.tmpdir exists on startup
  server/src/main/java/org/elasticsearch/bootstrap/Elasticsearch.java
  server/src/main/java/org/elasticsearch/env/Environment.java
  server/src/test/java/org/elasticsearch/env/EnvironmentTests.java
Labels: :Core/Core, review, v6.3.0, v7.0.0

#29059 Protect against NPE in RestNodesAction
  server/src/main/java/org/elasticsearch/rest/action/cat/RestNodesAction.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestNodesActionTests.java
Labels: :Core/REST API, >bug, v6.3.0, v7.0.0

#28977 Add ingest-attachment support for per document `indexed_chars` limit
  docs/plugins/ingest-attachment.asciidoc
  plugins/ingest-attachment/src/main/java/org/elasticsearch/ingest/attachment/AttachmentProcessor.java
  plugins/ingest-attachment/src/test/java/org/elasticsearch/ingest/attachment/AttachmentProcessorTests.java
  plugins/ingest-attachment/src/test/resources/rest-api-spec/test/ingest_attachment/20_attachment_processor.yml
Labels: :Core/Ingest, >feature, review, v6.3.0, v7.0.0

#29069 Cleanup exception handling in IOUtils
  libs/elasticsearch-core/src/main/java/org/elasticsearch/core/internal/io/IOUtils.java
Labels: :Core/Core, review, v6.3.0, v7.0.0

#29070 Docs: HighLevelRestClient#ping
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MiscellaneousDocumentationIT.java
  docs/java-rest/high-level/getting-started.asciidoc
  docs/java-rest/high-level/migration.asciidoc
  docs/java-rest/high-level/miscellaneous/main.asciidoc
  docs/java-rest/high-level/miscellaneous/ping.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, >docs, review, v6.3.0, v7.0.0

#28245 Untangle Engine Constructor logic
  docs/reference/indices/flush.asciidoc
  server/src/main/java/org/elasticsearch/index/engine/CombinedDeletionPolicy.java
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/engine/EngineDiskUtils.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryPrepareForTranslogOperationsRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTargetHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RemoteRecoveryTargetHandler.java
  server/src/test/java/org/elasticsearch/index/engine/CombinedDeletionPolicyTests.java
  server/src/test/java/org/elasticsearch/index/engine/EngineDiskUtilsTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
Labels: :Distributed/Engine

#29068 REST : Clear Indices Cache API remove deprecated url params
  docs/reference/migration/migrate_7_0/indices.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.clear_cache.json
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.clear_cache/10_basic.yml
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestClearIndicesCacheAction.java
Labels: :Core/REST API, >breaking, >deprecation, v7.0.0

#29041 [DOCS] Add monitoring upgrade details
  docs/reference/upgrade/upgrade-node.asciidoc
Labels: >docs, >upgrade, v6.3.0, v7.0.0

#28260 [Docs] Fix Java Api index administration usage (#28133)
  docs/java-api/admin/indices/put-mapping.asciidoc
  server/src/test/java/org/elasticsearch/client/documentation/IndicesDocumentationIT.java
Labels: :Core/Transport API, >docs, v6.0.0, v6.1.0, v6.3.0, v7.0.0

#28298 Improve error message when installing an offline plugin
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/InstallPluginCommand.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/InstallPluginCommandTests.java
  server/src/main/java/org/elasticsearch/plugins/PluginsService.java
Labels: :Core/Plugins, >enhancement, v6.3.0, v7.0.0

#28530 [Docs] Fix plugin authors example urls on older branches
  docs/plugins/authors.asciidoc
Labels: :Core/Plugins, >docs, v6.0.3, v6.1.4, v6.2.1

#29063 Reenable LiveVersionMapTests.testRamBytesUsed on Java 9.
  server/src/test/java/org/elasticsearch/index/engine/LiveVersionMapTests.java
Labels: :Core/Core, >test, v6.3.0, v7.0.0

#29083 [Tests] Fix GetResultTests and DocumentFieldTests failures
  server/src/test/java/org/elasticsearch/index/get/DocumentFieldTests.java
  server/src/test/java/org/elasticsearch/index/get/GetResultTests.java
  test/framework/src/main/java/org/elasticsearch/test/RandomObjects.java
Labels: >test, review, v6.3.0, v7.0.0

#29013 Validate regular expressions in dynamic templates.
  server/src/main/java/org/elasticsearch/index/mapper/DynamicTemplate.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicTemplateTests.java
Labels: :Search/Mapping, >enhancement, v6.3.0, v7.0.0

#29073 Docs: HighLevelRestClient#exists
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CRUDDocumentationIT.java
  docs/java-rest/high-level/document/exists.asciidoc
  docs/java-rest/high-level/document/get.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, >docs, review, v6.3.0, v7.0.0

#29038 [DOCS] Add X-Pack machine learning upgrade details
  docs/reference/upgrade/cluster_restart.asciidoc
  docs/reference/upgrade/rolling_upgrade.asciidoc
Labels: >docs, >upgrade, v6.3.0, v7.0.0

#28966 TEST: write ops should execute under shard permit
  server/src/test/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  server/src/test/java/org/elasticsearch/index/replication/IndexLevelReplicationTests.java
  server/src/test/java/org/elasticsearch/index/replication/RecoveryDuringReplicationTests.java
Labels: :Distributed/Recovery, >non-issue, >test

#29101 Clarify how to set compiler and runtime JDKs
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
Labels: :Core/Build, review, v6.3.0, v7.0.0

#29044 Allow overriding JVM options in Windows service
  distribution/src/bin/elasticsearch-service.bat
Labels: :Core/Packaging, >bug, review, v6.3.0, v7.0.0

#29098 Added minimal docs for reindex api in java-api docs
  docs/java-api/docs.asciidoc
  docs/java-api/docs/delete.asciidoc
  docs/java-api/docs/reindex.asciidoc
  docs/java-api/docs/update-by-query.asciidoc
  docs/java-api/index.asciidoc
  modules/reindex/src/test/java/org/elasticsearch/client/documentation/ReindexDocumentationIT.java
Labels: :Core/Transport API, >docs, review

#29055 Use removeTask instead of finishTask in PersistentTasksClusterService
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksClusterService.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksCustomMetaData.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksCustomMetaDataTests.java
Labels: :Distributed/Task Management, >refactoring, review, v7.0.0

#29086 Fix #29057 CWD to ES_HOME does not change drive
  distribution/src/bin/elasticsearch.bat
Labels: :Core/Packaging, >bug, v6.3.0, v7.0.0

#29067 Store offsets in index prefix fields when stored in the parent field
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
Labels: :Search/Search, >enhancement, v6.3.0

#29088 Fixing URL to Grok patterns
  docs/reference/ingest/ingest-node.asciidoc
Labels: :Core/Ingest, >docs, review, v7.0.0

#29093 Clarify that dates are always rendered as strings.
  docs/reference/mapping/types/date.asciidoc
Labels: :Search/Mapping, >docs, v6.3.0, v7.0.0

#29090 Clarify requirements of strict date formats.
  docs/reference/mapping/params/format.asciidoc
  server/src/main/java/org/joda/time/format/StrictISODateTimeFormat.java
Labels: :Search/Mapping, >docs, v6.3.0, v7.0.0

#29103 Do not renew sync-id if all shards are sealed
  server/src/main/java/org/elasticsearch/index/engine/CommitStats.java
  server/src/main/java/org/elasticsearch/indices/flush/SyncedFlushService.java
  server/src/test/java/org/elasticsearch/indices/flush/FlushIT.java
Labels: :Distributed/Engine, >enhancement, v5.6.9, v6.3.0, v7.0.0

#29087 Remove usages of obsolete settings
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
Labels: :Core/Settings, >non-issue, >test, v6.3.0, v7.0.0

#29082 Explain why Elasticsearch doesn't support incremental resharding.
  docs/reference/indices/split-index.asciidoc
Labels: :Core/Core, >docs, v6.3.0, v7.0.0

#28915 Docs: Support triple quotes
  buildSrc/src/main/groovy/org/elasticsearch/gradle/doc/RestTestsFromSnippetsTask.groovy
  buildSrc/src/test/groovy/org/elasticsearch/gradle/doc/RestTestsFromSnippetsTaskTest.groovy
  docs/painless/painless-getting-started.asciidoc
  docs/reference/ingest/ingest-node.asciidoc
Labels: :Core/Core, >docs, review, v6.3.0, v7.0.0

#29117 [DOCS] Removed prerelease footnote from upgrade table.
  docs/reference/upgrade.asciidoc
Labels: >docs

#29075 Fix EsAbortPolicy to conform to API
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/AsyncBulkByScrollActionTests.java
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/ExceptionsHelper.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/EsRejectedExecutionException.java
  server/src/test/java/org/elasticsearch/ElasticsearchExceptionTests.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  server/src/test/java/org/elasticsearch/ExceptionsHelperTests.java
Labels: :Core/Core, >bug, review, v6.3.0, v7.0.0

#29111 REST : Clear Indices Cache API simplify param parsing
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestClearIndicesCacheAction.java
Labels: :Core/REST API, >non-issue, v7.0.0

#29095 Docs: HighLevelRestClient#multiGet
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CRUDDocumentationIT.java
  docs/java-rest/high-level/document/multi-get.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, >docs, review, v6.3.0, v7.0.0

#29123 Align thread pool info to thread pool configuration
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
Labels: :Core/Core, >enhancement, review, v6.3.0, v7.0.0

#29121 Fix creating keystore when upgrading
  distribution/packages/build.gradle
  distribution/packages/src/common/scripts/postinst
  distribution/packages/src/common/scripts/posttrans
Labels: :Core/Packaging, >non-issue, review, v6.3.0, v7.0.0

#29126 getMinGenerationForSeqNo should acquire read lock
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
Labels: :Distributed/Engine, >non-issue, v6.3.0, v7.0.0

#29130 Configure heap dump path for archive packages
  distribution/build.gradle
  distribution/src/config/jvm.options
  docs/reference/setup/important-settings/heap-dump-path.asciidoc
Labels: :Core/Packaging, review, v6.3.0, v7.0.0

#29129 Configure error file for archive packages
  distribution/build.gradle
  docs/reference/setup/important-settings/error-file.asciidoc
Labels: :Core/Packaging, >enhancement, v6.3.0, v7.0.0

#29116 Update allocation awareness docs
  docs/reference/modules/cluster/allocation_awareness.asciidoc
Labels: :Distributed/Allocation, >bug, >docs, v5.6.9, v6.0.3, v6.1.4, v6.2.3, v6.3.0, v7.0.0

#29109 Small code cleanups and refactorings in persistent tasks
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksClusterService.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksCustomMetaData.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksExecutor.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksClusterServiceTests.java
Labels: :Distributed/Task Management, >refactoring, review, v7.0.0

#29115 REST: Include suppressed exceptions on failures
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/test/java/org/elasticsearch/ElasticsearchExceptionTests.java
Labels: :Core/REST API, >feature, review, v6.3.0, v7.0.0

#29119 Decouple Text and Geopoint from XContentBuilder
  server/src/main/java/org/elasticsearch/common/geo/GeoPoint.java
  server/src/main/java/org/elasticsearch/common/text/Text.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentBuilder.java
Labels: :Core/Core, >non-issue, v6.3.0, v7.0.0

#28341 Move indices field from RankEvalSpec to RankEvalRequest
  client/rest-high-level/src/main/java/org/elasticsearch/client/Request.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RankEvalIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestTests.java
  modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/RankEvalRequest.java
  modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/RankEvalSpec.java
  modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/RestRankEvalAction.java
  modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/TransportRankEvalAction.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RankEvalRequestIT.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RankEvalSpecTests.java
  qa/smoke-test-rank-eval-with-mustache/src/test/java/org/elasticsearch/index/rankeval/SmokeMultipleTemplatesIT.java
Labels: :Search/Rank Evaluation, >enhancement, review, v6.3.0, v7.0.0

#29138 Test: Expect extract Exception in die_with_dignity
  qa/die-with-dignity/src/test/java/org/elasticsearch/qa/die_with_dignity/DieWithDignityIT.java
Labels: :Core/Resiliency, >test, review, v6.3.0, v7.0.0

#28917 Tests: Make $_path support dots in paths
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/Stash.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/StashTests.java
Labels: :Core/Build, >docs, >test, review, v6.3.0, v7.0.0

#29150 Build: Fix meta modules to not install as plugin in tests
  buildSrc/src/main/groovy/org/elasticsearch/gradle/plugin/MetaPluginBuildPlugin.groovy
Labels: :Core/Build, >bug, v6.3.0, v7.0.0

#29149 Build: Simplify rest spec hack configuration
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/RestIntegTestTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/RestSpecHack.groovy
Labels: :Core/Build, >refactoring, v6.3.0, v7.0.0

#29147 Build: Fix meta plugin bundled plugin names
  buildSrc/src/main/groovy/org/elasticsearch/gradle/plugin/MetaPluginBuildPlugin.groovy
Labels: :Core/Build, >bug, v6.3.0, v7.0.0

#29146 Plugins: Fix module name conflict check for meta plugins
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/InstallPluginCommand.java
Labels: :Core/Plugins, >bug, v6.3.0, v7.0.0

#29048 Docs: Add example of resetting index setting
  docs/reference/indices/update-settings.asciidoc
Labels: :Core/Settings, >docs, v6.2.3, v6.3.0, v7.0.0

#28866 REST high-level client: add clear cache API
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/Request.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/java-rest/high-level/indices/clear_cache.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.clear_cache.json
  server/src/main/java/org/elasticsearch/action/admin/indices/cache/clear/ClearIndicesCacheResponse.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestClearIndicesCacheAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/cache/clear/ClearIndicesCacheResponseTests.java
Labels: :Core/Java High Level REST Client, >enhancement, v6.3.0, v7.0.0

#28383 Set Java 9 checkstyle to depend on checkstyle conf
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/PrecommitTasks.groovy
Labels: :Core/Build, review, v6.2.1, v6.3.0, v7.0.0

#29155 Update percolate-query.asciidoc
  docs/reference/query-dsl/percolate-query.asciidoc
Labels: :Search/Percolator, v5.6.9, v6.1.5, v6.2.4, v6.3.0, v7.0.0

#29160 Add a note about using the `retry_failed` flag before accepting data loss
  docs/reference/cluster/reroute.asciidoc
Labels: :Distributed/Allocation, >docs

#29168 Version: bump to 6.1.5
  buildSrc/version.properties
  core/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue

#29171 Version: bump to version 6.2.4
  buildSrc/version.properties
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue

#29120 Add pluggable XContentBuilder writers and human readable writers
  server/src/main/java/org/elasticsearch/action/admin/cluster/health/ClusterHealthResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/info/NodesInfoResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsNodes.java
  server/src/main/java/org/elasticsearch/action/admin/indices/segments/IndicesSegmentResponse.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotDeletionsInProgress.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocateUnassignedDecision.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentBuilder.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentBuilderExtension.java
  server/src/main/java/org/elasticsearch/index/flush/FlushStats.java
  server/src/main/java/org/elasticsearch/index/get/GetStats.java
  server/src/main/java/org/elasticsearch/index/merge/MergeStats.java
  server/src/main/java/org/elasticsearch/index/recovery/RecoveryStats.java
  server/src/main/java/org/elasticsearch/index/refresh/RefreshStats.java
  server/src/main/java/org/elasticsearch/index/reindex/BulkByScrollTask.java
  server/src/main/java/org/elasticsearch/index/search/stats/SearchStats.java
  server/src/main/java/org/elasticsearch/index/shard/IndexingStats.java
  server/src/main/java/org/elasticsearch/index/warmer/WarmerStats.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryState.java
  server/src/main/java/org/elasticsearch/ingest/IngestStats.java
  server/src/main/java/org/elasticsearch/monitor/jvm/JvmStats.java
  server/src/main/java/org/elasticsearch/monitor/os/OsInfo.java
  server/src/main/java/org/elasticsearch/monitor/os/OsStats.java
  server/src/main/java/org/elasticsearch/monitor/process/ProcessInfo.java
  server/src/main/java/org/elasticsearch/monitor/process/ProcessStats.java
  server/src/main/java/org/elasticsearch/node/AdaptiveSelectionStats.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterStateAction.java
  server/src/main/java/org/elasticsearch/search/profile/ProfileResult.java
  server/src/main/java/org/elasticsearch/search/profile/query/CollectorResult.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotInfo.java
  server/src/main/java/org/elasticsearch/tasks/TaskInfo.java
Labels: :Core/Core, >non-issue, v6.3.0, v7.0.0

#29151 Remove BytesArray and BytesReference usage from XContentFactory
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolateQueryBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/PutStoredScriptRequest.java
  server/src/main/java/org/elasticsearch/action/ingest/PutPipelineRequest.java
  server/src/main/java/org/elasticsearch/action/ingest/SimulatePipelineRequest.java
  server/src/main/java/org/elasticsearch/action/termvectors/TermVectorsRequest.java
  server/src/main/java/org/elasticsearch/common/compress/CompressorFactory.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentFactory.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentHelper.java
  server/src/main/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/DecayFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/reindex/ClientScrollableHitSource.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/ingest/PipelineConfiguration.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestGetSourceAction.java
  server/src/main/java/org/elasticsearch/tasks/RawTaskStatus.java
  server/src/test/java/org/elasticsearch/common/xcontent/XContentFactoryTests.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/TranslogHandler.java
Labels: :Core/Core, >non-issue, v6.3.0, v7.0.0

#29036 Docs: Add note about missing mapping for doc values field
  docs/reference/modules/scripting/fields.asciidoc
Labels: :Core/Scripting, >docs, v6.3.0, v7.0.0

#29166 Update api.asciidoc
  docs/reference/migration/migrate_7_0/api.asciidoc
Labels: >docs, v7.0.0

#29165 Reject updates to the `_default_` mapping.
  docs/reference/indices/put-mapping.asciidoc
  docs/reference/mapping/dynamic-mapping.asciidoc
  docs/reference/mapping/dynamic/default-mapping.asciidoc
  docs/reference/migration/migrate_7_0/mappings.asciidoc
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/resources/org/elasticsearch/index/mapper/default-mapping.json
  server/src/main/resources/org/elasticsearch/index/mapper/script-mapping.json
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexIT.java
  server/src/test/java/org/elasticsearch/cluster/SpecificMasterNodesIT.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MapperServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMapperTests.java
  server/src/test/java/org/elasticsearch/indices/mapping/UpdateMappingIntegrationIT.java
  server/src/test/java/org/elasticsearch/indices/template/SimpleIndexTemplateIT.java
Labels: :Search/Mapping, >breaking, >enhancement, v7.0.0

#29167 Tests - fix incorrect agg test assumption that zero-doc buckets will be returned
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/adjacency/InternalAdjacencyMatrixTests.java
Labels: :Search/Aggregations, >test, v7.0.0

#29173 Revive build Javadocs on JDK 10 and workaround bug
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
Labels: :Core/Build, review, v6.3.0, v7.0.0

#29194 Call addBytesSent with correct number of bytes
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4MessageChannelHandler.java
Labels: :Core/Network, >bug, review, v5.6.9

#29137 Add new setting to disable persistent tasks allocations
  docs/reference/modules/cluster/misc.asciidoc
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksClusterService.java
  server/src/main/java/org/elasticsearch/persistent/decider/AssignmentDecision.java
  server/src/main/java/org/elasticsearch/persistent/decider/EnableAssignmentDecider.java
  server/src/main/java/org/elasticsearch/persistent/package-info.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksClusterServiceTests.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksDecidersTestCase.java
  server/src/test/java/org/elasticsearch/persistent/decider/AssignmentDecisionTests.java
  server/src/test/java/org/elasticsearch/persistent/decider/EnableAssignmentDeciderIT.java
  server/src/test/java/org/elasticsearch/persistent/decider/EnableAssignmentDeciderTests.java
Labels: :Distributed/Task Management, review, v6.3.0, v7.0.0

#29112 Use EnumMap in ClusterBlocks
  server/src/main/java/org/elasticsearch/cluster/block/ClusterBlocks.java
Labels: >non-issue, review, v7.0.0

#29188 RankEvalRequest should implement IndicesRequest
  client/rest-high-level/src/main/java/org/elasticsearch/client/Request.java
  modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/RankEvalRequest.java
  modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/RestRankEvalAction.java
  modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/TransportRankEvalAction.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RankEvalRequestIT.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RankEvalRequestTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RankEvalSpecTests.java
  qa/smoke-test-rank-eval-with-mustache/src/test/java/org/elasticsearch/index/rankeval/SmokeMultipleTemplatesIT.java
Labels: :Search/Rank Evaluation, review, v6.3.0, v7.0.0

#29202 Propagate mapping.single_type setting on shrinked index
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
Labels: :Core/Index APIs, >bug, v6.3.0

#29197 Decouple more classes from XContentBuilder and make builder strict
  server/src/main/java/org/elasticsearch/Version.java
  server/src/main/java/org/elasticsearch/common/bytes/BytesReference.java
  server/src/main/java/org/elasticsearch/common/document/DocumentField.java
  server/src/main/java/org/elasticsearch/common/text/Text.java
  server/src/main/java/org/elasticsearch/common/transport/TransportAddress.java
  server/src/main/java/org/elasticsearch/common/unit/ByteSizeValue.java
  server/src/main/java/org/elasticsearch/common/unit/TimeValue.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentBuilder.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentElasticsearchExtension.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentParser.java
  server/src/main/java/org/elasticsearch/index/shard/ShardId.java
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshot.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/DateHistogramValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramInterval.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceAggregationBuilder.java
  server/src/main/resources/META-INF/services/org.elasticsearch.common.xcontent.XContentBuilderExtension
  server/src/test/java/org/elasticsearch/common/xcontent/BaseXContentTestCase.java
  server/src/test/java/org/elasticsearch/index/fielddata/BinaryDVFieldDataTests.java
Labels: :Core/Core, >non-issue, v6.3.0, v7.0.0

#28896 REST high-level client: add force merge API
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/Request.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/java-rest/high-level/indices/force_merge.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/indices/forcemerge/ForceMergeResponse.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestForceMergeAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/forcemerge/ForceMergeResponseTests.java
Labels: :Core/Java High Level REST Client, >enhancement

#29125 Harden periodically check to avoid endless flush loop
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogDeletionPolicy.java
  server/src/test/java/org/elasticsearch/index/engine/EngineDiskUtilsTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoveryTests.java
Labels: :Distributed/Engine, >bug, v6.2.4, v6.3.0, v7.0.0

#29124 REST : Split `RestUpgradeAction` into two actions
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestUpgradeAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestUpgradeStatusAction.java
Labels: :Core/REST API, >enhancement

#29144 Docs: HighLevelRestClient#multiSearch
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SearchDocumentationIT.java
  docs/java-rest/high-level/search/multi-search.asciidoc
  docs/java-rest/high-level/search/search.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Java High Level REST Client, >docs, review, v6.3.0, v7.0.0

#29172 Update index_.asciidoc
  docs/reference/docs/index_.asciidoc
Labels: :Distributed/CRUD, >docs

#29206 [DOCS] Unregister repository instead of deleting it
  docs/reference/modules/snapshots.asciidoc
Labels: :Distributed/Snapshot/Restore, >docs

#28949 C++ client lib: elasticlient
  docs/community-clients/index.asciidoc
Labels: >docs, v6.2.0, v6.3.0, v7.0.0

#29218 [Docs] Add rank_eval size parameter k
  docs/reference/search/rank-eval.asciidoc
Labels: :Search/Rank Evaluation, >docs, review, v6.3.0, v7.0.0

#29204 Clarify deprecation warning for auto_generate_phrase_query
  server/src/main/java/org/elasticsearch/index/query/QueryStringQueryBuilder.java
Labels: :Search/Search, >docs, >non-issue
