Repository elastic/elasticsearch, pull requests merged in 2019-01, with the labels that each got.

#36275 Replaced the word 'shards' with 'replicas' in an error message. (#36234)
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetaData.java
Labels: :Distributed/Distributed, >bug, v6.7.0, v7.0.0

#37028 [TEST] Address rejected execution in SearchAsyncActionTests
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/InitialSearchPhase.java
  server/src/test/java/org/elasticsearch/action/search/SearchAsyncActionTests.java
Labels: :Search/Search, >test, v6.6.1, v6.7.0, v7.0.0

#36668 Add hybridfs store type
  docs/reference/index-modules/store.asciidoc
  server/src/main/java/org/elasticsearch/index/IndexModule.java
  server/src/main/java/org/elasticsearch/index/store/FsDirectoryService.java
  server/src/test/java/org/elasticsearch/index/store/IndexStoreTests.java
Labels: :Distributed/Engine, >enhancement, v7.0.0

#37060 Fix typo in multi-search.asciidoc
  docs/reference/search/multi-search.asciidoc
Labels: :Search/Search, >docs

#37047 [API] spelling: cacheable
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolateQueryBuilderTests.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AllocateUnassignedDecisionTests.java
  server/src/test/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/ScriptQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/ScriptScoreQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/TermsQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/TermsSetQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/functionscore/FunctionScoreQueryBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java
Labels: :Search/Search, >enhancement, backport pending, v6.7.0, v7.0.0

#37053 [API] spelling: repositories
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetRepositoriesAction.java
Labels: :Distributed/Snapshot/Restore, >enhancement, backport pending, v6.7.0, v7.0.0

#37055 [API] spelling: subtract
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Analyzer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/AttributeMap.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/AttributeSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/BinaryArithmeticProcessor.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/AttributeMapTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/BinaryArithmeticTests.java
Labels: :Search/SQL, >enhancement, backport pending, v6.7.0, v7.0.0

#37072 Fix Eclipse specific type casting issue
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/AutoFollowStats.java
Labels: :Distributed/CCR, >non-issue, v7.0.0

#37071 Fix line length in org.elasticsearch.get
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  server/src/test/java/org/elasticsearch/get/GetActionIT.java
Labels: :Core/Infra/Core, >non-issue, v7.0.0

#37048 [API] spelling: input
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Verifier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/QueryPlan.java
  x-pack/qa/smoke-test-watcher-with-security/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherWithSecurityIT.java
Labels: :Search/SQL, >enhancement

#37049 [API] spelling: interruptible
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClustersPlugin.java
  server/src/main/java/org/elasticsearch/common/util/CancellableThreads.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/test/java/org/elasticsearch/common/util/CancellableThreadsTests.java
Labels: :Core/Infra/Core, >enhancement

#37052 [API] spelling: likelihood
  server/src/main/java/org/elasticsearch/search/suggest/phrase/Laplace.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/LaplaceScorer.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/LinearInterpolatingScorer.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/LinearInterpolation.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/NoisyChannelSpellChecker.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/PhraseSuggester.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/PhraseSuggestionContext.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/StupidBackoff.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/StupidBackoffScorer.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/WordScorer.java
  server/src/test/java/org/elasticsearch/search/suggest/phrase/PhraseSuggestionBuilderTests.java
Labels: :Search/Suggesters, >enhancement

#37054 [API] spelling: similar
  x-pack/plugin/sql/sql-client/src/main/java/org/elasticsearch/xpack/sql/client/ConnectionConfiguration.java
  x-pack/plugin/sql/sql-client/src/main/java/org/elasticsearch/xpack/sql/client/StringUtils.java
Labels: :Search/SQL, >enhancement

#37058 clarify what to run for gradle idea
  build.gradle
Labels: :Core/Infra/Build, >enhancement, backport pending, v6.7.0, v7.0.0

#37041 Remove single shard optimization when suggesting shard_size
  docs/reference/aggregations/bucket/significantterms-aggregation.asciidoc
  docs/reference/aggregations/bucket/significanttext-aggregation.asciidoc
  docs/reference/aggregations/bucket/terms-aggregation.asciidoc
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BucketUtils.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTextAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/BucketUtilsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/TermsShardMinDocCountIT.java
Labels: :Analytics/Aggregations, >enhancement, backport pending, v6.7.0, v7.0.0

#36841 [ML] Order GET job stats response by job id
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetJobsStatsAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/jobs_get_stats.yml
Labels: :ml, >bug, v6.6.0, v7.0.0

#36519 restrict node start-up when cluster name in data path
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/node/NodeTests.java
Labels: :Core/Infra/Core

#36895 `query_string` should use indexed prefixes
  rest-api-spec/src/main/resources/rest-api-spec/test/search/190_index_prefix_search.yml
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/search/QueryStringQueryParser.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryStringQueryBuilderTests.java
Labels: :Search/Search, >bug, v7.0.0

#36968 Remove system property es.enforce_max_shards_per_node
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
Labels: :Core/Features/Index APIs, >non-issue, v7.0.0

#37027 Fix weighted_avg parser not found for RestHighLevelClient
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ParsedWeightedAvg.java
  server/src/test/java/org/elasticsearch/search/aggregations/AggregationsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalWeightedAvgTests.java
  test/framework/src/main/java/org/elasticsearch/test/InternalAggregationTestCase.java
Labels: :Core/Features/Java High Level REST Client, >bug, v6.7.0, v7.0.0

#37088 Upgrade 6.x to lucene-7.7.0-snapshot-f2f0110b9a
  buildSrc/version.properties
  docs/Versions.asciidoc
  modules/lang-expression/licenses/lucene-expressions-7.6.0.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-7.7.0-snapshot-f2f0110b9a.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.6.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-7.7.0-snapshot-f2f0110b9a.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.6.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-7.7.0-snapshot-f2f0110b9a.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.6.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-7.7.0-snapshot-f2f0110b9a.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.6.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-7.7.0-snapshot-f2f0110b9a.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.6.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-7.7.0-snapshot-f2f0110b9a.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.6.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-7.7.0-snapshot-f2f0110b9a.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.6.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-analyzers-common-7.6.0.jar.sha1
  server/licenses/lucene-analyzers-common-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-backward-codecs-7.6.0.jar.sha1
  server/licenses/lucene-backward-codecs-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-core-7.6.0.jar.sha1
  server/licenses/lucene-core-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-grouping-7.6.0.jar.sha1
  server/licenses/lucene-grouping-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-highlighter-7.6.0.jar.sha1
  server/licenses/lucene-highlighter-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-join-7.6.0.jar.sha1
  server/licenses/lucene-join-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-memory-7.6.0.jar.sha1
  server/licenses/lucene-memory-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-misc-7.6.0.jar.sha1
  server/licenses/lucene-misc-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-queries-7.6.0.jar.sha1
  server/licenses/lucene-queries-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-queryparser-7.6.0.jar.sha1
  server/licenses/lucene-queryparser-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-sandbox-7.6.0.jar.sha1
  server/licenses/lucene-sandbox-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-spatial-7.6.0.jar.sha1
  server/licenses/lucene-spatial-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-spatial-extras-7.6.0.jar.sha1
  server/licenses/lucene-spatial-extras-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-spatial3d-7.6.0.jar.sha1
  server/licenses/lucene-spatial3d-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/licenses/lucene-suggest-7.6.0.jar.sha1
  server/licenses/lucene-suggest-7.7.0-snapshot-f2f0110b9a.jar.sha1
  server/src/main/java/org/elasticsearch/Version.java
  x-pack/plugin/sql/sql-action/licenses/lucene-core-7.6.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-7.7.0-snapshot-f2f0110b9a.jar.sha1
Labels: >non-issue, >upgrade, v6.7.0

#37091 Upgrade master to lucene-8.0.0-snapshot-a1c6e642aa
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.0.0-snapshot-774e9aefbc.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.0.0-snapshot-a1c6e642aa.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.0.0-snapshot-774e9aefbc.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.0.0-snapshot-a1c6e642aa.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.0.0-snapshot-774e9aefbc.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.0.0-snapshot-a1c6e642aa.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.0.0-snapshot-774e9aefbc.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.0.0-snapshot-a1c6e642aa.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.0.0-snapshot-774e9aefbc.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.0.0-snapshot-a1c6e642aa.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.0.0-snapshot-774e9aefbc.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.0.0-snapshot-a1c6e642aa.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.0.0-snapshot-774e9aefbc.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.0.0-snapshot-a1c6e642aa.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.0.0-snapshot-774e9aefbc.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-analyzers-common-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-analyzers-common-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-backward-codecs-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-backward-codecs-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-core-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-core-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-grouping-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-grouping-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-highlighter-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-highlighter-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-join-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-join-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-memory-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-memory-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-misc-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-misc-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-queries-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-queries-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-queryparser-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-queryparser-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-sandbox-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-sandbox-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-spatial-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-spatial-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-spatial-extras-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-spatial-extras-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-spatial3d-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-spatial3d-8.0.0-snapshot-a1c6e642aa.jar.sha1
  server/licenses/lucene-suggest-8.0.0-snapshot-774e9aefbc.jar.sha1
  server/licenses/lucene-suggest-8.0.0-snapshot-a1c6e642aa.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.0.0-snapshot-774e9aefbc.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.0.0-snapshot-a1c6e642aa.jar.sha1
Labels: >non-issue, >upgrade, v7.0.0

#37067 [Backport] Add hybridfs store type
  docs/reference/index-modules/store.asciidoc
  server/src/main/java/org/elasticsearch/index/IndexModule.java
  server/src/main/java/org/elasticsearch/index/store/FsDirectoryService.java
  server/src/test/java/org/elasticsearch/index/store/IndexStoreTests.java
Labels: :Distributed/Engine, >enhancement, backport, v6.7.0

#37070 Rename setting to enable mmap
  docs/reference/index-modules/store.asciidoc
  docs/reference/migration/migrate_7_0/settings.asciidoc
  docs/reference/setup/bootstrap-checks.asciidoc
  server/src/main/java/org/elasticsearch/bootstrap/BootstrapChecks.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/index/IndexModule.java
  server/src/main/java/org/elasticsearch/index/store/FsDirectoryService.java
  server/src/test/java/org/elasticsearch/bootstrap/MaxMapCountCheckTests.java
  server/src/test/java/org/elasticsearch/index/IndexModuleTests.java
Labels: :Distributed/Engine, >enhancement, v7.0.0

#36675 Replace the TreeMap in the composite aggregation
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/230_composite.yml
  server/src/main/java/org/elasticsearch/search/aggregations/MultiBucketConsumerService.java
  server/src/main/java/org/elasticsearch/search/aggregations/SearchContextAggregations.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/BinaryValuesSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeKey.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeValuesCollectorQueue.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/DoubleValuesSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/GlobalOrdinalValuesSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/LongValuesSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/SingleDimensionValuesSource.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeValuesCollectorQueueTests.java
Labels: :Analytics/Rollup, >enhancement, v6.7.0, v7.0.0

#37077 [ML] Migration test should use different assertions depending on the old cluster version
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
Labels: :ml, >test-failure, v6.7.0

#36933 SQL: Enhance message for PERCENTILE[_RANK] with field as 2nd arg
  docs/reference/sql/functions/aggs.asciidoc
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/Percentile.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/PercentileRank.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
Labels: :Search/SQL, >enhancement, v6.7.0, v7.0.0

#37104 SQL: [Docs] Added missing experimental note
  docs/reference/sql/concepts.asciidoc
  docs/reference/sql/endpoints/jdbc.asciidoc
  docs/reference/sql/functions/operators.asciidoc
Labels: :Search/SQL, >docs, v6.5.5

#37101 [ML][TEST] Clean up max_model_memory_limit cluster setting
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/ml_info.yml
Labels: :ml, >non-issue, v6.7.0, v7.0.0

#36976 TESTS: Remove Static Threadpool in TaskManagerTest
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TaskManagerTestCase.java
Labels: :Core/Infra/Core, >test, backport pending, v6.7.0, v7.0.0

#37066 Implement Atomic Blob Writes for HDFS Repository
  plugins/repository-hdfs/src/main/java/org/elasticsearch/repositories/hdfs/HdfsBlobContainer.java
Labels: :Distributed/Snapshot/Restore, >enhancement, backport pending, v6.7.0, v7.0.0

#37069 SNAPSHOT: Speed up HDFS Repository Writes
  plugins/repository-hdfs/src/main/java/org/elasticsearch/repositories/hdfs/HdfsBlobContainer.java
Labels: :Distributed/Snapshot/Restore, >enhancement, v6.7.0, v7.0.0

#37110 [TEST] Revert "Mute ForecastIT.testSingleSeries"
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ForecastIT.java
Labels: :ml, >non-issue, v6.5.5, v6.6.0, v6.7.0, v7.0.0

#37118 [ML] Adjust migration full cluster restart tests based on old cluster version
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
Labels: :ml, >non-issue, >test-failure, v7.0.0

#37112 [ML] Revert mute MlMigrationFullClusterRestartIT
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
Labels: :ml, >non-issue, >test, v6.6.0

#37094 Remove XLatLonShape classes
  buildSrc/src/main/resources/forbidden/es-server-signatures.txt
  server/src/main/java/org/apache/lucene/document/XLatLonShape.java
  server/src/main/java/org/apache/lucene/document/XLatLonShapeBoundingBoxQuery.java
  server/src/main/java/org/apache/lucene/document/XLatLonShapeLineQuery.java
  server/src/main/java/org/apache/lucene/document/XLatLonShapePolygonQuery.java
  server/src/main/java/org/apache/lucene/document/XLatLonShapeQuery.java
  server/src/main/java/org/apache/lucene/geo/XRectangle2D.java
  server/src/main/java/org/apache/lucene/geo/XTessellator.java
  server/src/main/java/org/elasticsearch/common/geo/ShapeRelation.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/GeoShapeQueryBuilder.java
Labels: :Analytics/Geo, >non-issue, v7.0.0

#37089 Make sure to accept empty unnested mappings in create index requests.
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapperParser.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/CreateIndexIT.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/put/MetaDataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MapperServiceTests.java
Labels: :Search/Mapping, >bug, v6.6.0, v6.7.0, v7.0.0

#36901 Docs: add clarification about geohash use in geohashgrid agg
  docs/reference/aggregations/bucket/geohashgrid-aggregation.asciidoc
Labels: :Analytics/Geo, >docs, v6.6.0, v6.7.0, v7.0.0

#37115 [ML] add min_version field to machine learning results index mapping
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
Labels: :ml, >non-issue, v7.0.0

#37123 TESTS: Shutdown ThreadPool after TestNodes
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TaskManagerTestCase.java
Labels: :Core/Infra/Core, >test, backport pending, v6.7.0, v7.0.0

#36910 [ILM] Add Freeze Action
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/FreezeAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/IndexLifecycleNamedXContentProvider.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicy.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/FreezeActionTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/GetLifecyclePolicyResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicyMetadataTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicyTests.java
  docs/reference/ilm/policy-definitions.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/FreezeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/FreezeStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/TimeseriesLifecycleType.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/FreezeActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/FreezeStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicyMetadataTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/LifecyclePolicyTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/TimeseriesLifecycleTypeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/action/PutLifecycleRequestTests.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/indexlifecycle/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycle.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleMetadataTests.java
Labels: :Core/Features/ILM, >enhancement

#36924 Stop automatically nesting mappings in index creation requests.
  server/src/main/java/org/elasticsearch/action/admin/indices/create/CreateIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/put/PutMappingRequest.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/CreateIndexIT.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/CreateIndexRequestTests.java
  test/framework/src/main/java/org/elasticsearch/index/RandomCreateIndexGenerator.java
Labels: :Search/Mapping, >bug, v6.7.0, v7.0.0

#37024 SQL: Handle the bwc Joda ZonedDateTime scripting class in Painless
  x-pack/plugin/sql/qa/src/main/resources/datetime.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/whitelist/InternalSqlScriptUtils.java
Labels: :Search/SQL, >bug, v6.6.0, v6.7.0, v7.0.0

#37095 Deprecate allow mmapfs
  docs/reference/index-modules/store.asciidoc
  docs/reference/migration/migrate_6_7.asciidoc
  docs/reference/setup/bootstrap-checks.asciidoc
  server/src/main/java/org/elasticsearch/bootstrap/BootstrapChecks.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/index/IndexModule.java
  server/src/main/java/org/elasticsearch/index/store/FsDirectoryService.java
  server/src/test/java/org/elasticsearch/bootstrap/MaxMapCountCheckTests.java
  server/src/test/java/org/elasticsearch/index/IndexModuleTests.java
Labels: :Distributed/Engine, >deprecation, backport, v6.7.0

#36538 [ML] Remove types from datafeed
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/datafeed/DatafeedConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/datafeed/DatafeedUpdate.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/datafeed/DatafeedConfigTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/datafeed/DatafeedUpdateTests.java
  docs/reference/ml/aggregations.asciidoc
  docs/reference/ml/apis/datafeedresource.asciidoc
  docs/reference/ml/apis/get-datafeed.asciidoc
  docs/reference/ml/apis/put-datafeed.asciidoc
  docs/reference/ml/apis/update-datafeed.asciidoc
  docs/reference/ml/transforms.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PutDatafeedActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PutDatafeedActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedUpdateTests.java
  x-pack/plugin/ml/qa/basic-multi-node/src/test/java/org/elasticsearch/xpack/ml/integration/MlBasicMultiNodeIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/CategorizationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DeleteExpiredDataIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/InterimResultsDeletedAfterReopeningJobIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/RollupDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorFactory.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlMetadataTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobValidatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/delayeddatacheck/DelayedDataDetectorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/fields/TimeBasedExtractedFieldsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/support/BaseMlIntegTestCase.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/datafeeds_crud.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/delete_job_force.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/get_datafeed_stats.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/get_datafeeds.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/jobs_crud.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/jobs_get_stats.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/preview_datafeed.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/start_stop_datafeed.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/40_ml_datafeed_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/40_ml_datafeed_crud.yml
  x-pack/qa/transport-client-tests/src/test/java/org/elasticsearch/xpack/ml/client/MLTransportClientIT.java
Labels: :ml, >breaking, >breaking-java, >deprecation, v7.0.0

#37122 [Zen2] Elect freshest master in upgrade
  server/src/main/java/org/elasticsearch/cluster/ClusterState.java
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationState.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/PreVoteCollector.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinationStateTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PublicationTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/Zen1IT.java
Labels: :Distributed/ZenDiscovery, >bug, v7.0.0

#37125 [ML] Uplift model memory limit on job migration
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlConfigMigrator.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/30_ml_jobs_crud.yml
Labels: :ml, >non-issue, v6.6.0, v6.7.0

#37119 [ML] Unused state remover should also account for jobs in index
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DeleteExpiredDataIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/UnusedStateRemover.java
Labels: :ml, >non-issue, v6.6.0, v6.7.0, v7.0.0

#37121 Ensure that local cluster alias is never treated as remote
  server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionSingleNodeTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterAwareTests.java
Labels: :Search/Search, >enhancement, v6.7.0, v7.0.0

#37126 [ML] Uplift model memory limit on job migration
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlConfigMigrator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
Labels: :ml, >non-issue, v7.0.0

#37073 Expose `search.throttled` on `_cat/indices`
  docs/reference/frozen-indices.asciidoc
  server/src/main/java/org/elasticsearch/rest/action/cat/RestIndicesAction.java
Labels: :Core/Features/CAT APIs, >enhancement, v6.7.0, v7.0.0

#37076 Don't block on peer recovery on the target side
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
Labels: :Distributed/Recovery, >enhancement, v6.7.0, v7.0.0

#37116 [DOCS] Pluralisation of 'pattern'
  docs/reference/ingest/ingest-node.asciidoc
Labels: :Core/Features/Ingest, >docs

#36357 Add the ability to set the number of hits to track accurately
  docs/reference/search/request-body.asciidoc
  docs/reference/search/request/track-total-hits.asciidoc
  docs/reference/search/uri-request.asciidoc
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/RestMultiSearchTemplateAction.java
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/RestSearchTemplateAction.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/IndexingIT.java
  rest-api-spec/src/main/resources/rest-api-spec/test/msearch/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/220_total_hits_object.yml
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequestBuilder.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestMultiSearchAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestSearchAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestSearchScrollAction.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/SearchHits.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/internal/FilteredSearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/InternalSearchResponse.java
  server/src/main/java/org/elasticsearch/search/internal/SearchContext.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/main/java/org/elasticsearch/search/query/TopDocsCollectorContext.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
  test/framework/src/main/java/org/elasticsearch/search/RandomSearchRequestGenerator.java
  test/framework/src/main/java/org/elasticsearch/test/TestSearchContext.java
  x-pack/plugin/ccr/qa/src/main/java/org/elasticsearch/xpack/ccr/ESCCRRestTestCase.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/rest/RestRollupSearchAction.java
  x-pack/plugin/src/test/java/org/elasticsearch/xpack/test/rest/XPackRestIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/IndexingIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RollupIDUpgradeIT.java
  x-pack/qa/smoke-test-watcher-with-security/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherWithSecurityIT.java
  x-pack/qa/smoke-test-watcher/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherTestSuiteIT.java
Labels: :Search/Search, >feature, v7.0.0

#36908 Fix Reindex from remote query logic
  client/rest-high-level/build.gradle
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CRUDDocumentationIT.java
  server/src/main/java/org/elasticsearch/index/reindex/ReindexRequest.java
  server/src/main/java/org/elasticsearch/index/reindex/RemoteInfo.java
Labels: :Distributed/CRUD, >bug, v6.7.0, v7.0.0

#37131 Deprecate use of the _type field in aggregations.
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/ValuesSourceConfigTests.java
Labels: :Search/Mapping, >deprecation, v7.0.0

#37140 Subclass NIOFSDirectory instead of using FileSwitchDirectory
  server/src/main/java/org/elasticsearch/index/store/FsDirectoryService.java
  server/src/test/java/org/elasticsearch/index/store/IndexStoreTests.java
Labels: :Distributed/Engine, >bug, v7.0.0

#37144 SNAPSHOT+TESTS: Relax Assertion in DisruptionIT
  server/src/test/java/org/elasticsearch/discovery/SnapshotDisruptionIT.java
Labels: :Distributed/Snapshot/Restore, >test, v6.7.0, v7.0.0

#37171 Fix handling of fractional time value settings
  server/src/main/java/org/elasticsearch/common/settings/Settings.java
  server/src/test/java/org/elasticsearch/common/settings/SettingsTests.java
Labels: :Core/Infra/Settings, >bug, v6.6.0, v6.7.0, v7.0.0

#37129 SQL: Improve error message when unable to translate to ES query DSL
  x-pack/plugin/sql/qa/single-node/src/test/java/org/elasticsearch/xpack/sql/qa/single_node/RestSqlIT.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/RestSqlTestCase.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/PlanExecutor.java
Labels: :Search/SQL, >enhancement, v6.7.0, v7.0.0

#37170 Option to use endpoints starting with _license
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/RestGetBasicStatus.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/RestPostStartBasicLicense.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/RestPostStartTrialLicense.java
Labels: :Core/Infra/REST API, :Security/License, >non-issue, v6.6.1, v6.7.0

#37012 SQL: add sub-selects to the Limitations page
  docs/reference/sql/limitations.asciidoc
  x-pack/plugin/sql/qa/src/main/resources/docs.csv-spec
Labels: :Search/SQL, >docs, v6.6.0, v6.7.0, v7.0.0

#37160 MINOR: Remove some Deadcode in Gradle
  build.gradle
  buildSrc/build.gradle
  client/rest-high-level/build.gradle
  distribution/build.gradle
  plugins/discovery-gce/build.gradle
  qa/full-cluster-restart/build.gradle
  qa/verify-version-constants/build.gradle
  test/build.gradle
  x-pack/build.gradle
  x-pack/plugin/core/build.gradle
  x-pack/plugin/ml/cpp-snapshot/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/build.gradle
  x-pack/plugin/sql/sql-cli/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/smoke-test-plugins-ssl/build.gradle
  x-pack/qa/smoke-test-watcher/build.gradle
  x-pack/qa/third-party/hipchat/build.gradle
  x-pack/qa/third-party/slack/build.gradle
Labels: :Core/Infra/Build, >non-issue, v6.7.0, v7.0.0

#36941 Rename ClusterBlocks.hasGlobalBlock methods
  server/src/main/java/org/elasticsearch/cluster/block/ClusterBlocks.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/health/ClusterStateHealth.java
  server/src/main/java/org/elasticsearch/discovery/zen/ZenDiscovery.java
  server/src/test/java/org/elasticsearch/cluster/MinimumMasterNodesIT.java
  server/src/test/java/org/elasticsearch/cluster/NoMasterNodeIT.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/discovery/AbstractDisruptionTestCase.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporter.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherIndexingListener.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherLifeCycleService.java
Labels: :Distributed/Distributed, >refactoring, v6.7.0, v7.0.0

#36630 [Close Index API] Propagate tasks ids between Freeze, Close and Verify Shard actions
  server/src/main/java/org/elasticsearch/action/admin/indices/close/CloseIndexClusterStateUpdateRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/close/TransportCloseIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/close/TransportVerifyShardBeforeCloseAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/close/TransportVerifyShardBeforeCloseActionTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/TransportFreezeIndexAction.java
Labels: :Distributed/Distributed, >enhancement, v7.0.0

#37151 Remove deprecated PutIndexTemplateRequestBuilder#setTemplate
  server/src/main/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateRequestBuilder.java
  server/src/test/java/org/elasticsearch/gateway/RecoveryFromGatewayIT.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/integration/PermissionPrecedenceTests.java
Labels: :Distributed/CRUD, >non-issue, >refactoring, v7.0.0

#37155 Introduce an `include_type_name` constant
  server/src/main/java/org/elasticsearch/rest/BaseRestHandler.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestCreateIndexAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetMappingAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestPutMappingAction.java
Labels: :Search/Mapping, >non-issue, v7.0.0

#37154 Remove deprecated CardinalityAggregationBuilder#rehash method
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregationBuilder.java
Labels: :Analytics/Aggregations, >non-issue, v7.0.0

#36999 Add paragraph on not using a load balancer
  docs/java-api/client.asciidoc
Labels: :Core/Infra/Transport API, >docs, v5.6.14, v6.0.3, v6.1.5, v6.2.5, v6.3.3

#37168 SNAPSHOT: Make Atomic Blob Writes Mandatory
  modules/repository-url/src/main/java/org/elasticsearch/common/blobstore/url/URLBlobContainer.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobContainer.java
  plugins/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainer.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobContainer.java
  server/src/main/java/org/elasticsearch/common/blobstore/BlobContainer.java
Labels: :Distributed/Snapshot/Restore, >enhancement, v7.0.0

#37163 Fix suite scope random initialization
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/test/SuiteScopeClusterIT.java
Labels: :Core/Infra/Build, >bug, v6.7.0, v7.0.0

#37187 Disable bwc tests until #36997 & #37142 backports are complete
  build.gradle
Labels: :Core/Infra/Build, >non-issue, v7.0.0

#37172 Fix handling of fractional byte size value settings
  server/src/main/java/org/elasticsearch/common/settings/Settings.java
  server/src/test/java/org/elasticsearch/common/settings/SettingsTests.java
Labels: :Core/Infra/Settings, >bug, v6.6.0, v6.7.0, v7.0.0

#37167 Introduce shard history retention leases
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/SoftDeletesPolicy.java
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLease.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/CombinedDeletionPolicyTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/SoftDeletesPolicyTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTestCase.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardRetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Distributed, >enhancement, v6.7.0, v7.0.0

#36775 [Close Index API] Add unique UUID to ClusterBlock
  distribution/archives/integ-test-zip/src/test/java/org/elasticsearch/test/rest/WaitForRefreshAndCloseIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/close/TransportVerifyShardBeforeCloseAction.java
  server/src/main/java/org/elasticsearch/cluster/block/ClusterBlock.java
  server/src/main/java/org/elasticsearch/cluster/block/ClusterBlocks.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/close/TransportVerifyShardBeforeCloseActionTests.java
  server/src/test/java/org/elasticsearch/cluster/block/ClusterBlockTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateServiceUtils.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/indices/state/CloseIndexIT.java
  server/src/test/java/org/elasticsearch/indices/state/OpenCloseIndexIT.java
  server/src/test/java/org/elasticsearch/indices/state/ReopenWhileClosingIT.java
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/ElasticsearchAssertions.java
Labels: :Distributed/Distributed, >enhancement, v7.0.0

#37150 [Zen2] Remove initial master node count setting
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/GetDiscoveredNodesRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/bootstrap/TransportGetDiscoveredNodesAction.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterBootstrapService.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelper.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/GetDiscoveredNodesRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/TransportGetDiscoveredNodesActionTests.java
  server/src/test/java/org/elasticsearch/bootstrap/BootstrapChecksTests.java
  server/src/test/java/org/elasticsearch/cluster/NoMasterNodeIT.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ClusterBootstrapServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelperTests.java
  test/framework/src/test/java/org/elasticsearch/test/test/InternalTestClusterTests.java
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#34184 Separate out validation of groups of settings
  plugins/examples/custom-settings/src/main/java/org/elasticsearch/example/customsettings/ExampleCustomSettingsConfig.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetaData.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdSettings.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDecider.java
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/threadpool/AutoQueueAdjustingExecutorBuilder.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/settings/SettingsUpdaterTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdSettingsTests.java
  server/src/test/java/org/elasticsearch/common/settings/ScopedSettingsTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporter.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpSettings.java
Labels: :Core/Infra/Settings, >enhancement

#37157 ML: changing JobResultsProvider.getForecastRequestStats to support > 1 index
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeAutodetectIntegTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProviderTests.java
Labels: :ml, >refactoring, v6.7.0, v7.0.0

#36954 [DOCS] Adds overview and API ref for cluster voting configurations
  docs/reference/cluster.asciidoc
  docs/reference/cluster/voting-exclusions.asciidoc
  docs/reference/modules/discovery.asciidoc
  docs/reference/modules/discovery/adding-removing-nodes.asciidoc
  docs/reference/modules/discovery/discovery-settings.asciidoc
  docs/reference/modules/discovery/fault-detection.asciidoc
  docs/reference/modules/discovery/quorums.asciidoc
  docs/reference/modules/discovery/voting.asciidoc
Labels: :Distributed/ZenDiscovery, >docs, v7.0.0

#36245 Introduce asynchronous RBACEngine
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/IndicesAccessControl.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/IndicesPermission.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/Role.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/support/Exceptions.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/filter/SecurityActionFilter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/interceptor/IndicesAliasesRequestInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/interceptor/ResizeRequestInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportGetUserPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/AuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/AuditTrailService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/index/IndexAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationEngine.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationUtils.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizedIndices.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/SecuritySearchOperationListener.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/ServerTransportFilter.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/filter/SecurityActionFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportGetUserPrivilegesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/AuditTrailServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/index/IndexAuditTrailMutedTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/index/IndexAuditTrailTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizedIndicesTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/SecuritySearchOperationListenerTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/IndicesPermissionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ServerTransportFilterTests.java
Labels: :Security/Authorization, >non-issue

#37193 ML: fix delayed data annotations on secured cluster
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJob.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobTests.java
Labels: :ml, >non-issue, v6.6.0, v6.7.0, v7.0.0

#37192 Fix setting by time unit
  server/src/main/java/org/elasticsearch/common/settings/Settings.java
  server/src/test/java/org/elasticsearch/common/settings/SettingsTests.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Core/Infra/Settings, >bug, v6.6.0, v6.7.0, v7.0.0

#37186 Removing unused methods in Numbers class
  server/src/main/java/org/elasticsearch/common/Numbers.java
Labels: :Core/Infra/Core, >non-issue, >refactoring, v7.0.0

#36914 Core: Rework epoch time parsing for java time
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/main/java/org/elasticsearch/common/time/EpochSecondsDateFormatter.java
  server/src/main/java/org/elasticsearch/common/time/EpochTime.java
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
  server/src/test/java/org/elasticsearch/common/joda/JodaTests.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  server/src/test/java/org/elasticsearch/search/fields/SearchFieldsIT.java
Labels: :Core/Infra/Core, >refactoring, v6.7.0, v7.0.0

#37195 Introduce retention lease expiration
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLease.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/SoftDeletesPolicyTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTestCase.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardRetentionLeaseTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowAction.java
Labels: :Distributed/Distributed, >enhancement, v6.7.0, v7.0.0

#37200 Make remote ping and compress settings dynamic
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
Labels: :Distributed/Network, >non-issue, v6.7.0, v7.0.0

#37176 SQL: fix COUNT DISTINCT filtering
  x-pack/plugin/sql/qa/src/main/resources/agg.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/Count.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/QueryTranslator.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
Labels: :Search/SQL, >bug, v6.6.0, v6.7.0, v7.0.0

#37209 Update overview.asciidoc
  docs/reference/rollup/overview.asciidoc
Labels: :Search/Search, >docs

#36648 Added CCR rolling upgrade tests
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/CCRIT.java
Labels: :Distributed/CCR, >test, v6.7.0, v7.0.0

#36767 Upgrade to Gradle 5.1
  buildSrc/src/main/resources/minimumGradleVersion
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: :Core/Infra/Build, >non-issue, WIP, v6.7.0, v7.0.0

#37180 Fix topDocs.totalHits assignment on scroll queries
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/main/java/org/elasticsearch/search/query/TopDocsCollectorContext.java
  server/src/test/java/org/elasticsearch/search/stats/SearchStatsIT.java
Labels: :Search/Search, >non-issue, v7.0.0

#32249 HLRC: Use nonblocking entity for requests
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/WatcherRequestConverters.java
  client/rest-high-level/src/main/resources/forbidden/rest-high-level-signatures.txt
  client/rest-high-level/src/test/java/org/elasticsearch/client/CustomRestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientExtTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
Labels: :Core/Features/Java High Level REST Client, >enhancement, v6.7.0, v7.0.0

#36900 Security: propagate auth result to listeners
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/CachingUsernamePasswordRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/CachingUsernamePasswordRealmTests.java
Labels: :Security/Authentication, >enhancement, v6.7.0, v7.0.0

#36735 Remove more checkstyle suppressions
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/VerifyNodeRepositoryAction.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/fs/FsRepository.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestIndicesAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestShardsAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestThreadPoolAction.java
  server/src/test/java/org/elasticsearch/explain/ExplainActionIT.java
  server/src/test/java/org/elasticsearch/rest/BytesRestResponseTests.java
Labels: :Core/Infra/Core, >non-issue, v6.7.0, v7.0.0

#37204 Do not mutate RecoveryResponse
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryResponse.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
Labels: :Distributed/Recovery, >enhancement, v6.7.0, v7.0.0

#37216 SQL: Replace String.format() with LoggerMessageFormat.format()
  x-pack/plugin/sql/jdbc/src/test/java/org/elasticsearch/xpack/sql/jdbc/JdbcPreparedStatementTests.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/AnalysisException.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/Cast.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/gen/script/Param.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/comparison/In.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/ParsingException.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/FoldingException.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/index/IndexResolverTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/QuotingTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/LikeEscapingParsingTests.java
Labels: :Search/SQL, >non-issue, v6.7.0, v7.0.0

#26719 [Analysis] Deprecate Standard Html Strip Analyzer in master
  docs/reference/migration/migrate_7_0/analysis.asciidoc
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonAnalysisPlugin.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/StandardHtmlStripAnalyzer.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/StandardHtmlStripAnalyzerProvider.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CommonAnalysisPluginTests.java
  modules/analysis-common/src/test/resources/rest-api-spec/test/analysis-common/20_analyzers.yml
  server/src/main/java/org/elasticsearch/index/analysis/AnalysisRegistry.java
Labels: :Search/Analysis, >deprecation, v7.0.0

#37234 Fix line length in org.elasticsearch.snapshots (BP #36646)
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  server/src/main/java/org/elasticsearch/snapshots/RestoreInfo.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotInfo.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/test/java/org/elasticsearch/snapshots/mockstore/MockRepository.java
Labels: :Core/Infra/Core, >non-issue, >refactoring, backport, v6.7.0

#37156 Add more detail to recovery bandwidth limit docs
  docs/reference/modules/indices/recovery.asciidoc
Labels: :Distributed/Recovery, >docs, v6.7.0, v7.0.0

#37225 Zen2: Add test that checks that CoordinatorTests are reproducible
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
Labels: :Distributed/ZenDiscovery, >non-issue, >test, v7.0.0

#37175 MINOR: Some Cleanups in Snapshots
  server/src/main/java/org/elasticsearch/snapshots/SnapshotException.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotId.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v6.7.0, v7.0.0

#37230 [TEST] Ensure interrupted flag reset after test that sets it
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/filestructurefinder/TimeoutCheckerTests.java
Labels: :ml, >test-failure, v6.6.0, v6.7.0, v7.0.0

#37227 [ML] Stop datafeeds running when their jobs are stale
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlTasks.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/JobTaskState.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManager.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportOpenJobActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManagerTests.java
Labels: :ml, >bug, v6.6.0, v6.7.0, v7.0.0

#37149 Support 'include_type_name' in RestGetIndicesAction
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/reference/indices/get-index.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get.json
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get/10_basic.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexResponse.java
  server/src/main/java/org/elasticsearch/rest/BaseRestHandler.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetIndicesAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/mapping/get/GetMappingsResponseTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestGetIndicesActionTests.java
Labels: :Search/Mapping, >breaking, >deprecation, v7.0.0

#37162 TESTS: Real Coordinator in SnapshotServiceTests
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterService.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/MockSinglePrioritizingExecutor.java
  test/framework/src/test/java/org/elasticsearch/cluster/coordination/DeterministicTaskQueueTests.java
  test/framework/src/test/java/org/elasticsearch/cluster/coordination/MockSinglePrioritizingExecutorTests.java
Labels: :Distributed/Snapshot/Restore, >test, v6.7.0, v7.0.0

#36748 Use List instead of priority queue for stable sorting in bucket sort aggregator
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/BucketSortPipelineAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketSortIT.java
Labels: :Analytics/Aggregations, >enhancement, v6.7.0, v7.0.0

#37184 [DOCS] Rolling upgrade with old internal indices
  docs/reference/upgrade/rolling_upgrade.asciidoc
Labels: :Docs, >docs, v6.0.3, v6.1.5, v6.2.5, v6.3.3, v6.4.4, v6.5.5, v7.0.0

#31469 Clarify difference between public and secure client settings in discu…
  docs/plugins/repository-s3.asciidoc
Labels: :Docs, >enhancement

#37246 Add TLS/SSL channel close timeouts
  libs/nio/src/main/java/org/elasticsearch/nio/EventHandler.java
  libs/nio/src/main/java/org/elasticsearch/nio/NioSelector.java
  libs/nio/src/main/java/org/elasticsearch/nio/SocketChannelContext.java
  libs/nio/src/main/java/org/elasticsearch/nio/TaskScheduler.java
  libs/nio/src/test/java/org/elasticsearch/nio/EventHandlerTests.java
  libs/nio/src/test/java/org/elasticsearch/nio/NioSelectorTests.java
  libs/nio/src/test/java/org/elasticsearch/nio/TaskSchedulerTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContext.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContextTests.java
Labels: :Security/Network, >non-issue, v7.0.0

#37205 [Style] Fix line length violations for threadpool, indexing, and script packages
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/test/java/org/elasticsearch/indexing/IndexActionIT.java
  server/src/test/java/org/elasticsearch/script/ScriptServiceTests.java
Labels: :Core/Infra/Core, >non-issue, >refactoring, v6.7.0, v7.0.0

#37244 Build: Quiet naming convention logging
  buildSrc/src/main/java/org/elasticsearch/gradle/precommit/TestingConventionsTasks.java
Labels: :Core/Infra/Build, >refactoring, v6.7.0, v7.0.0

#37245 Build: Make assemble a noop in bwc projects
  distribution/bwc/build.gradle
Labels: :Core/Infra/Build, >refactoring, v6.7.0, v7.0.0

#37207 ingest: compile mustache template only if field includes '{{''
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/AppendProcessorFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/FailProcessorFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/RemoveProcessorFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/SetProcessorFactoryTests.java
  server/src/main/java/org/elasticsearch/ingest/ConfigurationUtils.java
  server/src/main/java/org/elasticsearch/ingest/ValueSource.java
  server/src/test/java/org/elasticsearch/ingest/ConfigurationUtilsTests.java
  server/src/test/java/org/elasticsearch/ingest/ValueSourceTests.java
Labels: :Core/Features/Ingest, v6.7.0, v7.0.0

#37264 Fix type inference related compile issue in Eclipse
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/AutoFollowStats.java
Labels: :Core/Infra/Build, v6.7.0

#37269 Enable Bulk-Merge if all source remains
  server/src/main/java/org/elasticsearch/index/engine/RecoverySourcePruneMergePolicy.java
  server/src/test/java/org/elasticsearch/index/engine/RecoverySourcePruneMergePolicyTests.java
Labels: :Distributed/Engine, >enhancement, v6.7.0, v7.0.0

#37217 [CCR] Resume follow Api should not require a request body
  x-pack/plugin/ccr/qa/rest/src/test/resources/rest-api-spec/test/ccr/follow_and_unfollow.yml
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestResumeFollowAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/ccr.resume_follow.json
Labels: :Distributed/CCR, >bug, v6.7.0, v7.0.0

#37068 [ML-DataFrame] Feature/fib jobconfigmanager
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/DataFrameMessages.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/dataframe/DataFrameMessagesTests.java
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFrameConfigurationIndexIT.java
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFramePivotRestIT.java
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFrameRestTestCase.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/DataFrame.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportDeleteDataFrameJobAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportGetDataFrameJobsAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportGetDataFrameJobsStatsAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportPutDataFrameJobAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportStartDataFrameJobAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportStopDataFrameJobAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/job/DataFrameIndexer.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/job/DataFrameJob.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/job/DataFrameJobConfig.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/job/DataFrameJobPersistentTasksExecutor.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/job/DataFrameJobTask.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/persistence/DataFrameInternalIndex.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/persistence/DataFrameJobConfigManager.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/persistence/DataframeIndex.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/LocalStateDataFrame.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/persistence/DataFrameJobConfigManagerTests.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/persistence/DataFrameSingleNodeTestCase.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationUtils.java
Labels: :ml, >feature

#37257 Remove deprecated QUERY_AND_FETCH SearchType
  server/src/main/java/org/elasticsearch/action/search/SearchType.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
Labels: :Search/Search, >refactoring, v7.0.0

#37203 Zen2: Add join validation
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinTaskExecutor.java
  server/src/main/java/org/elasticsearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/elasticsearch/discovery/DiscoveryModule.java
  server/src/main/java/org/elasticsearch/discovery/zen/MembershipAction.java
  server/src/main/java/org/elasticsearch/discovery/zen/ZenDiscovery.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/TransportBootstrapClusterActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/bootstrap/TransportGetDiscoveredNodesActionTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinHelperTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/ZenDiscoveryUnitTests.java
  test/framework/src/main/java/org/elasticsearch/test/discovery/TestZenDiscovery.java
Labels: :Distributed/ZenDiscovery, >enhancement, v7.0.0

#37293 Remove unused EpochMillisDateFormatter class
  server/src/main/java/org/elasticsearch/common/time/EpochMillisDateFormatter.java
Labels: :Core/Infra/Core, >non-issue

#37251 Fix line length in org.elasticsearch.get Backport #37071
  buildSrc/src/main/resources/checkstyle_suppressions.xml
Labels: :Core/Infra/Core, >non-issue, >refactoring, backport, v6.7.0

#36821 [HLRC] Ignore unknown fields in responses of CCR APIs
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/AutoFollowStats.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/CcrStatsResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/GetAutoFollowPatternResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/IndicesFollowStats.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ccr/PutFollowResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ccr/CcrStatsResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ccr/FollowStatsResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ccr/GetAutoFollowPatternResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ccr/PutFollowRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ccr/PutFollowResponseTests.java
Labels: :Core/Features/Java High Level REST Client, >non-issue, v6.6.0, v7.0.0

#37289 SNAPSHOT+TESTS: Stabilize SnapshotDisruptionIT
  server/src/test/java/org/elasticsearch/discovery/SnapshotDisruptionIT.java
Labels: :Distributed/Snapshot/Restore, >test, backport pending, v6.7.0, v7.0.0

#37239 [CCR] Make shard follow tasks more resilient for restarts
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/RestartIndexFollowingIT.java
Labels: :Distributed/CCR, >bug, v6.7.0, v7.0.0

#35243 tests/fix randomly failing testWatcherRestart
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/WatchBackwardsCompatibilityIT.java
Labels: :Core/Features/Watcher, >test-failure, v6.7.0

#37253 Fix line length in org.elasticsearch.routing
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  server/src/test/java/org/elasticsearch/routing/AliasRoutingIT.java
  server/src/test/java/org/elasticsearch/routing/SimpleRoutingIT.java
Labels: :Core/Infra/Core, >non-issue, >refactoring, v6.7.0, v7.0.0

#37213 [CCR] FollowingEngine should fail with 403 if operation has no seqno assigned
  x-pack/plugin/ccr/qa/rest/build.gradle
  x-pack/plugin/ccr/qa/rest/src/test/resources/rest-api-spec/test/ccr/index_directly_into_follower_index.yml
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngine.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineAssertions.java
Labels: :Distributed/CCR, >enhancement, v6.7.0, v7.0.0

#37281 Core: Handle security manager permission for deprecation log rolling
  qa/evil-tests/src/test/java/org/elasticsearch/common/logging/EvilLoggerTests.java
  server/src/main/java/org/elasticsearch/common/logging/DeprecationLogger.java
  server/src/test/java/org/elasticsearch/common/logging/DeprecationLoggerTests.java
Labels: :Core/Infra/Core, >refactoring, v7.0.0

#37304 Types removal - add constants for include_type_names
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/get/GetMappingsResponse.java
  server/src/main/java/org/elasticsearch/rest/BaseRestHandler.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestCreateIndexAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetMappingAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestPutMappingAction.java
Labels: :Search/Mapping, >enhancement, v6.7.0

#36878 Security: reorder realms based on last success
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/realm/TransportClearRealmCacheAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
Labels: :Security/Authentication, >enhancement, v6.7.0, v7.0.0

#37283 Increase IO direct byte buffers to 256KB
  libs/nio/src/main/java/org/elasticsearch/nio/NioSelector.java
  libs/nio/src/main/java/org/elasticsearch/nio/SocketChannelContext.java
Labels: :Distributed/Network, >non-issue, v7.0.0

#37310 Fix rest reindex test for IPv4 addresses
  client/rest-high-level/build.gradle
Labels: :Core/Features/Java High Level REST Client, >bug, v7.0.0

#37324 Link ILM management and policy information in ILM API documentation
  docs/reference/ilm/apis/ilm-api.asciidoc
  docs/reference/ilm/apis/put-lifecycle.asciidoc
Labels: :Core/Features/ILM, >docs

#37279 SQL: Fix bug regarding alias fields with dots
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/CsvSpecTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/DataLoader.java
  x-pack/plugin/sql/qa/src/main/resources/alias.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/command.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/field-alias.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/index/IndexResolver.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/EsRelation.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/ShowColumns.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/EsField.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
Labels: :Search/SQL, >bug, v6.6.1, v6.7.0, v7.0.0

#37326 Remove "beta" modifier from ILM documentation
  docs/reference/ilm/apis/delete-lifecycle.asciidoc
  docs/reference/ilm/apis/explain.asciidoc
  docs/reference/ilm/apis/get-lifecycle.asciidoc
  docs/reference/ilm/apis/get-status.asciidoc
  docs/reference/ilm/apis/ilm-api.asciidoc
  docs/reference/ilm/apis/move-to-step.asciidoc
  docs/reference/ilm/apis/put-lifecycle.asciidoc
  docs/reference/ilm/apis/remove-policy-from-index.asciidoc
  docs/reference/ilm/apis/retry-policy.asciidoc
  docs/reference/ilm/apis/start.asciidoc
  docs/reference/ilm/apis/stop.asciidoc
  docs/reference/ilm/error-handling.asciidoc
  docs/reference/ilm/getting-started-ilm.asciidoc
  docs/reference/ilm/ilm-and-snapshots.asciidoc
  docs/reference/ilm/index.asciidoc
  docs/reference/ilm/policy-definitions.asciidoc
  docs/reference/ilm/set-up-lifecycle-policy.asciidoc
  docs/reference/ilm/start-stop-ilm.asciidoc
  docs/reference/ilm/update-lifecycle-policy.asciidoc
  docs/reference/ilm/using-policies-rollover.asciidoc
Labels: :Core/Features/ILM, >docs

#36952 Deprecation check for indices with multiple types
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecksTests.java
Labels: :Core/Features/Features, :Search/Mapping, >enhancement

#36549 Types removal - deprecate types in _bulk apis
  client/client-benchmark-noop-api-plugin/src/main/java/org/elasticsearch/plugin/noop/action/bulk/TransportNoopBulkAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/BulkProcessorIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/BulkProcessorRetryIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/BulkRequestWithGlobalParametersIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/CrudIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningGetResultsIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RollupIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CRUDDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/RollupDocumentationIT.java
  docs/java-rest/high-level/document/bulk.asciidoc
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ManyDocumentsIT.java
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/IndexingIT.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/XPackIT.java
  server/src/main/java/org/elasticsearch/action/DocWriteRequest.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequest.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/delete/DeleteRequest.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequest.java
  server/src/main/java/org/elasticsearch/action/update/UpdateRequest.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestBulkAction.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkIntegrationIT.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTookTests.java
  server/src/test/java/org/elasticsearch/action/delete/DeleteRequestTests.java
  server/src/test/java/org/elasticsearch/action/update/UpdateRequestTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestBulkActionTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectStateProcessorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/action/MonitoringBulkRequestTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/integration/MonitoringIT.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/rest/action/RestMonitoringBulkActionTests.java
  x-pack/plugin/sql/qa/multi-node/src/test/java/org/elasticsearch/xpack/sql/qa/multi_node/RestSqlMultinodeIT.java
  x-pack/plugin/sql/qa/security/src/test/java/org/elasticsearch/xpack/sql/qa/security/SqlSecurityTestCase.java
  x-pack/plugin/sql/qa/security/src/test/java/org/elasticsearch/xpack/sql/qa/security/UserFunctionIT.java
  x-pack/plugin/sql/qa/single-node/src/test/java/org/elasticsearch/xpack/sql/qa/single_node/JdbcShardFailureIT.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/cli/FetchSizeTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/DataLoader.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/FetchSizeTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/RestSqlTestCase.java
  x-pack/qa/multi-node/src/test/java/org/elasticsearch/multi_node/RollupIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/IndexingIT.java
Labels: :Search/Mapping, >refactoring, WIP, v7.0.0

#37317 Rename ParameterMap to DeprecationMap
  server/src/main/java/org/elasticsearch/script/AbstractSortScript.java
  server/src/main/java/org/elasticsearch/script/AggregationScript.java
  server/src/main/java/org/elasticsearch/script/DeprecationMap.java
  server/src/main/java/org/elasticsearch/script/FieldScript.java
  server/src/main/java/org/elasticsearch/script/ScoreScript.java
  server/src/main/java/org/elasticsearch/script/ScriptedMetricAggContexts.java
  server/src/main/java/org/elasticsearch/script/TermsSetQueryScript.java
Labels: :Core/Infra/Scripting, >refactoring, v6.7.0, v7.0.0

#37282 monitoring: remove `+` references for xpack.monitoring.collection.indices
  docs/reference/monitoring/collecting-monitoring-data.asciidoc
  docs/reference/settings/monitoring-settings.asciidoc
Labels: :Core/Features/Monitoring, >docs, v6.5.0, v6.6.0, v7.0.0

#37312 Add validation for retention lease construction
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLease.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseTests.java
Labels: :Distributed/Distributed, >enhancement, v6.7.0, v7.0.0

#37319 Support include_type_name in the field mapping and index template APIs (backport to 6.x)
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_field_mapping.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_template.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.put_template.json
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.create/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_field_mapping/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_field_mapping/11_basic_with_types.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_field_mapping/20_missing_field.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_field_mapping/21_missing_field_with_types.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_field_mapping/40_missing_index.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_field_mapping/50_field_wildcards.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_field_mapping/51_field_wildcards_with_types.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_field_mapping/60_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_mapping/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_template/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_template/11_basic_with_types.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_mapping/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_mapping/all_path_options.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_template/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_template/11_basic_with_types.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/get/GetFieldMappingsResponse.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexTemplateMetaData.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetFieldMappingAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestPutIndexTemplateAction.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestGetFieldMappingActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestPutIndexTemplateActionTests.java
  test/framework/src/main/java/org/elasticsearch/test/rest/RestActionTestCase.java
Labels: :Search/Mapping, >deprecation, backport

#37309 Fix line length in org.elasticsearch.routing Backport#37253
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  server/src/test/java/org/elasticsearch/routing/AliasRoutingIT.java
  server/src/test/java/org/elasticsearch/routing/SimpleRoutingIT.java
Labels: :Core/Infra/Core, >non-issue, >refactoring, backport, v6.7.0

#37331 Add runAfter and notifyOnce wrapper to ActionListener
  server/src/main/java/org/elasticsearch/action/ActionListener.java
  server/src/test/java/org/elasticsearch/action/ActionListenerTests.java
Labels: :Core/Infra/Core, >non-issue, v6.7.0, v7.0.0

#37299 Geo: Do not normalize the longitude with value -180 for Lucene shapes
  server/src/main/java/org/elasticsearch/common/geo/builders/PolygonBuilder.java
  server/src/test/java/org/elasticsearch/common/geo/GeoJsonShapeParserTests.java
  server/src/test/java/org/elasticsearch/search/geo/GeoShapeIntegrationIT.java
Labels: :Analytics/Geo, >bug, v6.6.1, v6.7.0, v7.0.0

#37302 [TEST] Awaits tasks termination in the RestHighLevelClient tests
  client/rest-high-level/src/test/java/org/elasticsearch/client/ReindexIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/TasksIT.java
Labels: :Core/Features/Java High Level REST Client, >test-failure

#37267 Support 'include_type_name' in RestGetIndicesAction
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/reference/indices/get-index.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get.json
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get/10_basic.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexResponse.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetIndicesAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/mapping/get/GetMappingsResponseTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestGetIndicesActionTests.java
Labels: :Search/Mapping, backport, v6.7.0

#37349 [ML] Wait for autodetect to be ready in the datafeed
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManagerTests.java
Labels: :ml, >bug, v6.6.0, v6.7.0, v7.0.0

#37307 ML: update .ml-state actions to support > 1 index
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/AnomalyDetectorsIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/AnomalyDetectorsIndexFields.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DeleteExpiredDataIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobDataDeleter.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsPersister.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/StateStreamer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/UnusedStateRemover.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/MlConfigMigratorIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/NetworkDisruptionIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/MockClientBuilder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/StateStreamerTests.java
Labels: :ml, >refactoring, v6.7.0, v7.0.0

#37332 add link to freeze from cold phase
  docs/reference/ilm/policy-definitions.asciidoc
Labels: :Core/Features/ILM, >docs, v6.7.0, v7.0.0

#37296 Mock connections more accurately in DisruptableMockTransport
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationState.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Join.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/test/disruption/DisruptableMockTransport.java
  test/framework/src/test/java/org/elasticsearch/test/disruption/DisruptableMockTransportTests.java
Labels: :Distributed/ZenDiscovery, >non-issue, >test, v7.0.0
