Repository elastic/elasticsearch, pull requests merged in 2019-11, with the labels that each got.

#47715 [DOCS] Edited Docker install & tweaked Docker compose file.
  docs/reference/redirects.asciidoc
  docs/reference/setup/install/docker-compose.yml
  docs/reference/setup/install/docker.asciidoc
Labels: :Core/Infra/Packaging, >docs, v7.4.0, v8.0.0

#48780 [7.x][DOCS] Copies ESMS monitoring details to Elasticsearch Reference
  docs/reference/monitoring/esms.asciidoc
  docs/reference/monitoring/index.asciidoc
Labels: backport

#48783 [DOCS] Fix cross-doc link.
  docs/reference/setup/install/docker.asciidoc
Labels: >docs, v7.4.3, v7.5.0, v8.0.0

#48782 [7.5][DOCS] Copies ESMS monitoring details to Elasticsearch Reference
  docs/reference/monitoring/esms.asciidoc
  docs/reference/monitoring/index.asciidoc
Labels: backport

#48784 [7.4][DOCS] Copies ESMS monitoring details to Elasticsearch Reference
  docs/reference/monitoring/esms.asciidoc
  docs/reference/monitoring/index.asciidoc
Labels: backport

#48785 [7.3][DOCS] Copies ESMS monitoring details to Elasticsearch Reference
  docs/reference/monitoring/esms.asciidoc
  docs/reference/monitoring/index.asciidoc
Labels: backport

#48786 [7.2][DOCS] Copies ESMS monitoring details to Elasticsearch Reference
  docs/reference/monitoring/esms.asciidoc
  docs/reference/monitoring/index.asciidoc
Labels: backport

#48787 [7.1][DOCS] Copies ESMS monitoring details to Elasticsearch Reference
  docs/reference/monitoring/esms.asciidoc
  docs/reference/monitoring/index.asciidoc
Labels: backport

#48788 [7.0][DOCS] Copies ESMS monitoring details to Elasticsearch Reference
  docs/reference/monitoring/esms.asciidoc
  docs/reference/monitoring/index.asciidoc
Labels: backport

#48789 [6.8][DOCS] Copies ESMS monitoring details to Elasticsearch Reference
  docs/reference/monitoring/esms.asciidoc
  docs/reference/monitoring/index.asciidoc
Labels: backport

#48632 Remove `include_type_name` parameter from REST layer
  client/rest-high-level/src/test/java/org/elasticsearch/client/indices/GetFieldMappingsResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indices/rollover/RolloverResponseTests.java
  docs/build.gradle
  docs/reference/mapping/removal_of_types.asciidoc
  docs/reference/mapping/types/date_nanos.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/field_caps/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.create/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_template/11_basic_with_types.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_template/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_template/11_basic_with_types.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.rollover/40_mapping.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/280_geohash_grid.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/290_geotile_grid.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/get/GetFieldMappingsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/RolloverRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/GetIndexTemplatesResponse.java
  server/src/main/java/org/elasticsearch/rest/BaseRestHandler.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestCreateIndexAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetFieldMappingAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetIndicesAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetMappingAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestPutIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestPutMappingAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestRolloverIndexAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/mapping/get/GetFieldMappingsResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/RolloverRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/get/GetIndexTemplatesResponseTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestCreateIndexActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestGetIndicesActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestPutIndexTemplateActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestPutMappingActionTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/AbstractPublishableHttpResourceTestCase.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/vectors/10_dense_vector_basic.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/vectors/15_dense_vector_l1l2.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/vectors/20_dense_vector_special_cases.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/vectors/30_sparse_vector_basic.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/vectors/35_sparse_vector_l1l2.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/vectors/40_sparse_vector_special_cases.yml
Labels: :Core/Features/Indices APIs, :Search/Mapping, >breaking, v8.0.0

#48770 [ML] Prevent fetching multi-field from source
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/SearchHitToJsonProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/TimeBasedExtractedFields.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/AbstractField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/DocValueField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ExtractedField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ExtractedFields.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/GeoPointField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/GeoShapeField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/MultiField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ScriptField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/SourceField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/TimeField.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/SearchHitToJsonProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/TimeBasedExtractedFieldsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/DocValueFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ExtractedFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ExtractedFieldsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/GeoPointFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/GeoShapeFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/MultiFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ScriptFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/SourceFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/TimeFieldTests.java
Labels: :ml, >bug, v7.5.0, v7.6.0, v8.0.0

#48747 Fix TimeSeriesLifecycleActionsIT.testRolloverAlreadyExists
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
Labels: :Core/Features/ILM+SLM, >test, v7.6.0, v8.0.0

#48799 [ML] Deduplicate multi-fields for data frame analytics
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
Labels: :ml, >bug, v7.5.0, v7.6.0, v8.0.0

#48797 [7.x][ML] Prevent fetching multi-field from source (#48770)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/SearchHitToJsonProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/TimeBasedExtractedFields.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/AbstractField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/DocValueField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ExtractedField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ExtractedFields.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/GeoPointField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/GeoShapeField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/MultiField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ScriptField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/SourceField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/TimeField.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/SearchHitToJsonProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/TimeBasedExtractedFieldsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/DocValueFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ExtractedFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ExtractedFieldsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/GeoPointFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/GeoShapeFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/MultiFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ScriptFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/SourceFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/TimeFieldTests.java
Labels: :ml, >bug, backport

#48795 Fix TimeSeriesLifecycleActionsIT.testRolloverAlreadyExists (#48747)
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
Labels: >test, backport, v7.6.0

#48216 fix assignment
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/tree/TreeNode.java
Labels: :ml, >non-issue, v7.6.0, v8.0.0

#48567 [Transform] decouple task and indexer
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformCheckpoint.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/checkpoint/DefaultCheckpointProvider.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/checkpoint/TimeBasedCheckpointProvider.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/SeqNoPrimaryTermAndIndex.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexerBuilder.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformContext.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformProgressGatherer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformTask.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/checkpoint/DefaultCheckpointProviderTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: :ml/Transform, >refactoring, v7.6.0, v8.0.0

#48763 Remove unneeded // CONSOLE statements from docs
  docs/README.asciidoc
  docs/reference/docs/update-by-query.asciidoc
Labels: :Docs, >docs, v7.5.0, v7.6.0, v8.0.0

#48760 fix typo
  docs/reference/docs/index_.asciidoc
Labels: :Core/Features/Indices APIs, >docs, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48265 Do not cancel ongoing recovery for noop copy on broken node
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/cluster/routing/UnassignedInfo.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/command/AllocateEmptyPrimaryAllocationCommand.java
  server/src/main/java/org/elasticsearch/gateway/ReplicaShardAllocator.java
  server/src/test/java/org/elasticsearch/cluster/routing/UnassignedInfoTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/TrackFailedAllocationNodesTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/RestoreInProgressAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/gateway/ReplicaShardAllocatorIT.java
  server/src/test/java/org/elasticsearch/gateway/ReplicaShardAllocatorTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
Labels: :Distributed/Allocation, >enhancement, v7.5.0, v7.6.0, v8.0.0

#48766 Fix testForceMergeWithSoftDeletesRetentionAndRecoverySource
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: :Distributed/Engine, >test, v6.8.5, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48798 [7.5][ML] Prevent fetching multi-field from source (#48770)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/SearchHitToJsonProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/TimeBasedExtractedFields.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/AbstractField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/DocValueField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ExtractedField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ExtractedFields.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/GeoPointField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/GeoShapeField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/MultiField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ScriptField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/SourceField.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/TimeField.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/SearchHitToJsonProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/TimeBasedExtractedFieldsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/DocValueFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ExtractedFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ExtractedFieldsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/GeoPointFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/GeoShapeFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/MultiFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ScriptFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/SourceFieldTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/TimeFieldTests.java
Labels: :ml, >bug, backport

#48774 [7.x] Validate monitoring username at parse time
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterTests.java
Labels: backport, v7.6.0

#48806 [7.x][ML] Deduplicate multi-fields for data frame analytics (#48799)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
Labels: :ml, >bug, backport

#48807 [7.5][ML] Deduplicate multi-fields for data frame analytics (#48799)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
Labels: :ml, >bug, backport

#48813 [DOCS] List `indices.lifecycle.poll_interval` as cluster-level setting
  docs/reference/settings/ilm-settings.asciidoc
Labels: :Core/Features/ILM+SLM, >docs, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48722 [DOCS] Reformat decimal digit token filter
  docs/reference/analysis/tokenfilters/decimal-digit-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48778 Introduce type-safe and consistent pattern for handling build globals
  benchmarks/build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/plugin/PluginBuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/PrecommitTasks.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/DistroTestPlugin.java
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/RestIntegTestTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/StandaloneRestTestPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/DistributionDownloadPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/ReaperService.java
  buildSrc/src/main/java/org/elasticsearch/gradle/info/BuildParams.java
  buildSrc/src/main/java/org/elasticsearch/gradle/info/GlobalBuildInfoPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/info/PrintGlobalBuildInfoTask.java
  buildSrc/src/test/java/org/elasticsearch/gradle/DistributionDownloadPluginTests.java
  buildSrc/src/testKit/distribution-download/build.gradle
  distribution/bwc/build.gradle
  distribution/docker/build.gradle
  distribution/tools/plugin-cli/build.gradle
  modules/reindex/build.gradle
  modules/repository-url/build.gradle
  modules/transport-netty4/build.gradle
  plugins/discovery-azure-classic/build.gradle
  plugins/discovery-ec2/qa/amazon-ec2/build.gradle
  plugins/discovery-gce/qa/gce/build.gradle
  plugins/examples/rest-handler/build.gradle
  plugins/ingest-attachment/build.gradle
  plugins/repository-azure/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-hdfs/build.gradle
  plugins/repository-s3/build.gradle
  plugins/transport-nio/build.gradle
  qa/die-with-dignity/build.gradle
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/rolling-upgrade/build.gradle
  qa/verify-version-constants/build.gradle
  server/build.gradle
  x-pack/plugin/security/cli/build.gradle
  x-pack/plugin/sql/qa/security/with-ssl/build.gradle
  x-pack/plugin/sql/sql-cli/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/reindex-tests-with-security/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: :Core/Infra/Build

#48820 Add debug log for CcrRetentionLeaseIT
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrRetentionLeaseIT.java
Labels: :Distributed/CCR, >test, v6.8.5, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48814 Make CcrRepository#restore non-Blocking
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
Labels: :Distributed/CCR, >non-issue, v7.6.0, v8.0.0

#48818 [7.x] Introduce type-safe and consistent pattern for handling build globals
  benchmarks/build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/plugin/PluginBuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/PrecommitTasks.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterFormationTasks.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/DistroTestPlugin.java
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/RestIntegTestTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/StandaloneRestTestPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/DistributionDownloadPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/ReaperService.java
  buildSrc/src/main/java/org/elasticsearch/gradle/info/BuildParams.java
  buildSrc/src/main/java/org/elasticsearch/gradle/info/GlobalBuildInfoPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/info/PrintGlobalBuildInfoTask.java
  buildSrc/src/test/java/org/elasticsearch/gradle/DistributionDownloadPluginTests.java
  buildSrc/src/testKit/distribution-download/build.gradle
  distribution/bwc/build.gradle
  distribution/docker/build.gradle
  distribution/tools/plugin-cli/build.gradle
  libs/core/build.gradle
  modules/reindex/build.gradle
  modules/repository-url/build.gradle
  modules/transport-netty4/build.gradle
  plugins/discovery-azure-classic/build.gradle
  plugins/discovery-ec2/build.gradle
  plugins/discovery-ec2/qa/amazon-ec2/build.gradle
  plugins/discovery-gce/qa/gce/build.gradle
  plugins/examples/rest-handler/build.gradle
  plugins/ingest-attachment/build.gradle
  plugins/repository-azure/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-hdfs/build.gradle
  plugins/repository-s3/build.gradle
  plugins/transport-nio/build.gradle
  qa/die-with-dignity/build.gradle
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/rolling-upgrade/build.gradle
  qa/verify-version-constants/build.gradle
  server/build.gradle
  x-pack/plugin/build.gradle
  x-pack/plugin/security/build.gradle
  x-pack/plugin/security/cli/build.gradle
  x-pack/plugin/sql/qa/security/with-ssl/build.gradle
  x-pack/plugin/sql/sql-cli/build.gradle
  x-pack/plugin/watcher/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/reindex-tests-with-security/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
  x-pack/snapshot-tool/build.gradle
Labels: :Core/Infra/Build, backport, v7.6.0

#48812 [7.x][Transform] decouple task and indexer
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformCheckpoint.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/checkpoint/DefaultCheckpointProvider.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/checkpoint/TimeBasedCheckpointProvider.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/SeqNoPrimaryTermAndIndex.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexerBuilder.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformContext.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformProgressGatherer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformTask.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/checkpoint/DefaultCheckpointProviderTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: :ml/Transform, >refactoring, backport

#48816 Do not wrap ingest processor exception with IAE
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/210_pipeline_processor.yml
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/90_simulate.yml
  server/src/main/java/org/elasticsearch/ingest/CompoundProcessor.java
  server/src/main/java/org/elasticsearch/ingest/TrackingResultProcessor.java
  server/src/test/java/org/elasticsearch/action/ingest/SimulateExecutionServiceTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
  server/src/test/java/org/elasticsearch/ingest/TrackingResultProcessorTests.java
Labels: :Core/Features/Ingest, >bug, v7.5.0, v7.6.0, v8.0.0

#48821 Fix ilm/20_move_to_step basic moving to step
  x-pack/plugin/ilm/qa/rest/src/test/resources/rest-api-spec/test/ilm/20_move_to_step.yml
Labels: :Core/Features/ILM+SLM, >test, v7.6.0, v8.0.0

#48823 Make CcrRepository#restore non-Blocking (#48814)
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
Labels: :Distributed/CCR, backport

#48826 Fix FullClusterRestartIT.testSlmPolicyAndStats
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Core/Features/ILM+SLM, >test, v7.6.0, v8.0.0

#48805 Cleanup Redundant Futures in Recovery Code
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/indices/IndexingMemoryControllerTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesLifecycleListenerSingleNodeTests.java
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/bulk/BulkShardOperationsTests.java
Labels: :Distributed/Recovery, >non-issue, v7.6.0, v8.0.0

#48832 Cleanup Redundant Futures in Recovery Code (#48805)
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/indices/IndexingMemoryControllerTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesLifecycleListenerSingleNodeTests.java
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/bulk/BulkShardOperationsTests.java
Labels: :Distributed/Recovery, backport

#48834 Cleanup Concurrent RepositoryData Loading (#48329)
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SLMSnapshotBlockingIntegTests.java
Labels: :Distributed/Snapshot/Restore, backport

#48835 Cleanup Concurrent RepositoryData Loading (#48329)
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SLMSnapshotBlockingIntegTests.java
Labels: :Distributed/Snapshot/Restore, backport

#48833 Do not intercept renew requests from other tests
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrRetentionLeaseIT.java
Labels: :Distributed/CCR, >test, v6.8.5, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48560 Improve jdk download retries
  distribution/docker/src/docker/Dockerfile
Labels: :Core/Infra/Build

#48825 [7.x] Validate proxy base path at parse time
  client/rest/src/main/java/org/elasticsearch/client/RestClientBuilder.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterTests.java
Labels: backport, v7.6.0

#47848 Validate monitoring header overrides at parse time
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
Labels: :Core/Features/Monitoring

#48848 Mute FullClusterRestartTest#testWatcher and 30s timeout for ye…
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Core/Features/Watcher, >test, v7.5.0, v7.6.0, v8.0.0

#47640 Only define Docker pkg tests if Docker is available
  .ci/dockerOnLinuxExclusions
  .ci/os.sh
  Vagrantfile
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/DistroTestPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/tool/DockerUtils.java
  buildSrc/src/minimumRuntime/java/org/elasticsearch/gradle/Version.java
  buildSrc/src/test/java/org/elasticsearch/gradle/BuildPluginTests.java
  buildSrc/src/test/java/org/elasticsearch/gradle/VersionTests.java
  buildSrc/src/test/java/org/elasticsearch/gradle/test/DistroTestPluginTests.java
  qa/os/centos-7/build.gradle
  qa/os/debian-9/build.gradle
  qa/os/fedora-28/build.gradle
  qa/os/fedora-29/build.gradle
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Docker.java
  qa/os/ubuntu-1604/build.gradle
  qa/os/ubuntu-1804/build.gradle
Labels: :Core/Infra/Build, :Core/Infra/Packaging, v8.0.0

#48841 Remove Blocking Connect Methods from TransportService
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/SimpleNetty4TransportTests.java
  plugins/transport-nio/src/test/java/org/elasticsearch/transport/nio/SimpleNioTransportTests.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TaskManagerTestCase.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/FollowersCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LeaderCheckerTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseIT.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceHandshakeTests.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/disruption/DisruptableMockTransportTests.java
  test/framework/src/test/java/org/elasticsearch/transport/nio/SimpleMockNioTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/AbstractSimpleSecurityTransportTestCase.java
Labels: :Distributed/Network, >non-issue, v7.6.0, v8.0.0

#48751 Bound Linearizability Check in CoordinatorTests
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
Labels: :Distributed/Cluster Coordination, >test, v7.6.0, v8.0.0

#48853 Bound Linearizability Check in CoordinatorTests (#48751)
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
Labels: :Distributed/Cluster Coordination, backport

#48494 typo
  docs/reference/modules/discovery/discovery.asciidoc
Labels: :Distributed/Cluster Coordination, >docs, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48817 Add preflight check to dynamic mapping updates
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportShardBulkActionTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingIT.java
  server/src/test/java/org/elasticsearch/index/mapper/MapperServiceTests.java
Labels: :Distributed/CRUD, >enhancement, backport pending, v7.6.0, v8.0.0

#48857 Add Docker packaging tests on 7.x
  .ci/dockerOnLinuxExclusions
  .ci/os.sh
  Vagrantfile
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/DistroTestPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/DistributionDownloadPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/ElasticsearchDistribution.java
  buildSrc/src/main/java/org/elasticsearch/gradle/tool/DockerUtils.java
  buildSrc/src/minimumRuntime/java/org/elasticsearch/gradle/Version.java
  buildSrc/src/test/java/org/elasticsearch/gradle/BuildPluginTests.java
  buildSrc/src/test/java/org/elasticsearch/gradle/VersionTests.java
  buildSrc/src/test/java/org/elasticsearch/gradle/test/DistroTestPluginTests.java
  distribution/docker/build.gradle
  distribution/docker/docker-export/build.gradle
  distribution/docker/oss-docker-export/build.gradle
  qa/os/centos-7/build.gradle
  qa/os/debian-9/build.gradle
  qa/os/fedora-28/build.gradle
  qa/os/fedora-29/build.gradle
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackagingTestCase.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Distribution.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Docker.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/FileMatcher.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Installation.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Platforms.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Shell.java
  qa/os/ubuntu-1604/build.gradle
  qa/os/ubuntu-1804/build.gradle
  settings.gradle
Labels: :Core/Infra/Packaging, backport, v7.6.0

#48647 [DOCS] Add Java to list of client libraries for basic HTTP authentication
  x-pack/docs/en/security/ccs-clients-integrations/http.asciidoc
Labels: :Security/Authentication, >docs, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48858 Remove support for ancient corrupted markers
  server/src/main/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommand.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
Labels: :Distributed/Store, >non-issue, v7.6.0, v8.0.0

#47911 Validate index name time format setting at parse time
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ExportersTests.java
Labels: :Core/Features/Monitoring

#48873 Remove index.force_memory_term_dictionary setting
  docs/reference/migration/migrate_8_0/indices.asciidoc
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
Labels: :Distributed/Store, >non-issue, v8.0.0

#47657 [DOCS] Adds classification type evaluation docs to the DFA evaluation API
  docs/reference/ml/df-analytics/apis/evaluate-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/evaluateresources.asciidoc
Labels: :ml, >docs, v7.5.0, v7.6.0, v8.0.0

#48241 [DOCS] Adds classification type DFA API docs and ml-shared.asciidoc
  docs/reference/ml/df-analytics/apis/dfanalyticsresources.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, v7.5.0, v7.6.0, v8.0.0

#48829 Upgrade to Lucene 8.3.
  buildSrc/version.properties
  docs/Versions.asciidoc
  modules/lang-expression/licenses/lucene-expressions-8.2.0.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.3.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.2.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.3.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.2.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.3.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.2.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.3.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.2.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.3.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.2.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.3.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.2.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.3.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.2.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.3.0.jar.sha1
  server/licenses/lucene-analyzers-common-8.2.0.jar.sha1
  server/licenses/lucene-analyzers-common-8.3.0.jar.sha1
  server/licenses/lucene-backward-codecs-8.2.0.jar.sha1
  server/licenses/lucene-backward-codecs-8.3.0.jar.sha1
  server/licenses/lucene-core-8.2.0.jar.sha1
  server/licenses/lucene-core-8.3.0.jar.sha1
  server/licenses/lucene-grouping-8.2.0.jar.sha1
  server/licenses/lucene-grouping-8.3.0.jar.sha1
  server/licenses/lucene-highlighter-8.2.0.jar.sha1
  server/licenses/lucene-highlighter-8.3.0.jar.sha1
  server/licenses/lucene-join-8.2.0.jar.sha1
  server/licenses/lucene-join-8.3.0.jar.sha1
  server/licenses/lucene-memory-8.2.0.jar.sha1
  server/licenses/lucene-memory-8.3.0.jar.sha1
  server/licenses/lucene-misc-8.2.0.jar.sha1
  server/licenses/lucene-misc-8.3.0.jar.sha1
  server/licenses/lucene-queries-8.2.0.jar.sha1
  server/licenses/lucene-queries-8.3.0.jar.sha1
  server/licenses/lucene-queryparser-8.2.0.jar.sha1
  server/licenses/lucene-queryparser-8.3.0.jar.sha1
  server/licenses/lucene-sandbox-8.2.0.jar.sha1
  server/licenses/lucene-sandbox-8.3.0.jar.sha1
  server/licenses/lucene-spatial-8.2.0.jar.sha1
  server/licenses/lucene-spatial-8.3.0.jar.sha1
  server/licenses/lucene-spatial-extras-8.2.0.jar.sha1
  server/licenses/lucene-spatial-extras-8.3.0.jar.sha1
  server/licenses/lucene-spatial3d-8.2.0.jar.sha1
  server/licenses/lucene-spatial3d-8.3.0.jar.sha1
  server/licenses/lucene-suggest-8.2.0.jar.sha1
  server/licenses/lucene-suggest-8.3.0.jar.sha1
  server/src/main/java/org/elasticsearch/Version.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsPhase.java
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/indices/analysis/AnalysisFactoryTestCase.java
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.2.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.3.0.jar.sha1
Labels: :Distributed/Store, >upgrade, v7.5.0

#48764 Add mention to Pause Auto-Follower API in Upgrade Clusters docs
  docs/reference/ccr/upgrading.asciidoc
Labels: :Distributed/CCR, >docs, v7.5.0, v7.6.0, v8.0.0

#48830 Elasticsearch 7.5 is on Lucene 8.3.
  server/src/main/java/org/elasticsearch/Version.java
Labels: :Distributed/Store, >non-issue, v7.6.0, v8.0.0

#48831 Elasticsearch 7.5 is on Lucene 8.3.
  server/src/main/java/org/elasticsearch/Version.java
Labels: :Distributed/Store, backport

#48885 [ML] Handle nested arrays in source fields
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/SourceField.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/SourceFieldTests.java
Labels: :ml, >non-issue, v7.5.0, v7.6.0, v8.0.0

#48889 [7.x][ML] Handle nested arrays in source fields (#48885)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/SourceField.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/SourceFieldTests.java
Labels: :ml, >non-issue, backport

#48890 [7.5][ML] Handle nested arrays in source fields (#48885)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/SourceField.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/SourceFieldTests.java
Labels: :ml, >non-issue, backport

#48881 [7.x] Validate index name time format setting at parse time
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ExportersTests.java
Labels: backport, v7.6.0

#48883 Disable docker packaging tests again
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/DistroTestPlugin.java
Labels: :Core/Infra/Packaging, v7.6.0, v8.0.0

#48896 Disable docker packaging tests again
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/DistroTestPlugin.java
Labels: :Core/Infra/Packaging, backport, v7.6.0

#48882 [DOCS] Fix shard type in ccr overview doc
  docs/reference/ccr/overview.asciidoc
Labels: :Distributed/CCR, >docs, v6.8.5, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48762 Add docker-composed based test fixture for GCS
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageFixture.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/TestUtils.java
  settings.gradle
  test/fixtures/gcs-fixture/Dockerfile
  test/fixtures/gcs-fixture/build.gradle
  test/fixtures/gcs-fixture/docker-compose.yml
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/FakeOAuth2HttpHandler.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpFixture.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
Labels: :Core/Infra/Build, :Distributed/Snapshot/Restore, >test, v7.5.0, v7.6.0, v8.0.0

#45892 Reject misconfigured/ambiguous SSL server config
  client/rest-high-level/build.gradle
  docs/reference/migration/migrate_8_0/security.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLService.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/transport/ProfileConfigurationsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationReloaderTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SettingsFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/PkiRealmBootstrapCheckTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/tool/CommandLineHttpClientTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapUserSearchSessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ssl/SslIntegrationTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLErrorMessageTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLReloadIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLTrustRestrictionsTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpClientTests.java
Labels: :Security/Network, >breaking, >enhancement, v8.0.0

#48902 Add docker-composed based test fixture for GCS (#48762)
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageFixture.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/TestUtils.java
  settings.gradle
  test/fixtures/gcs-fixture/Dockerfile
  test/fixtures/gcs-fixture/build.gradle
  test/fixtures/gcs-fixture/docker-compose.yml
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/FakeOAuth2HttpHandler.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpFixture.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
Labels: :Core/Infra/Build, backport, v7.6.0

#48903 Add docker-composed based test fixture for GCS (#48762)
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageFixture.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/TestUtils.java
  settings.gradle
  test/fixtures/gcs-fixture/Dockerfile
  test/fixtures/gcs-fixture/build.gradle
  test/fixtures/gcs-fixture/docker-compose.yml
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/FakeOAuth2HttpHandler.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpFixture.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
Labels: :Core/Infra/Build, backport, v7.5.0

#48894 [Docs] Edit split index api doc
  docs/reference/indices/split-index.asciidoc
Labels: :Core/Features/Indices APIs, >docs, v6.8.5, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#47186 Closed shard should never open new engine
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/store/MockFSDirectoryFactory.java
Labels: :Distributed/Distributed, >bug, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48899 Revert "Upgrade jcodings dependency to 1.0.44 (#43334)"
  libs/grok/build.gradle
  libs/grok/licenses/jcodings-1.0.12.jar.sha1
  libs/grok/licenses/jcodings-1.0.44.jar.sha1
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/GrokProcessorTests.java
Labels: :Core/Features/Ingest, >bug, v7.4.3

#48909 Grok processor ignore case test
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/GrokProcessorTests.java
Labels: :Core/Features/Ingest, >test, v7.5.0, v7.6.0, v8.0.0

#48901 Hide orphaned tasks from follower stats
  docs/reference/ccr/apis/auto-follow/pause-auto-follow-pattern.asciidoc
  docs/reference/ccr/apis/auto-follow/resume-auto-follow-pattern.asciidoc
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportFollowStatsAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportFollowInfoActionTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportFollowStatsActionTests.java
Labels: :Distributed/CCR, >non-issue, >test, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48906 Send cluster name and discovery node in handshake
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/Transport.java
  server/src/main/java/org/elasticsearch/transport/TransportHandshaker.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
  server/src/test/java/org/elasticsearch/transport/TransportHandshakerTests.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/StubbableTransport.java
Labels: :Distributed/Network, >non-issue, v7.6.0, v8.0.0

#48843 Allow realtime get to read from translog
  docs/reference/docs/get.asciidoc
  server/src/main/java/org/elasticsearch/index/engine/TranslogLeafReader.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/CustomFieldsVisitor.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/FieldsVisitor.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/test/java/org/elasticsearch/index/shard/ShardGetServiceTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
Labels: :Distributed/Engine, >enhancement, v7.6.0, v8.0.0

#48926 [DOCS] Remove extra "when"
  docs/reference/setup/install/docker.asciidoc
Labels: >docs

#48732 Add links to infra-stats for scans generated in CI
  gradle/build-complete.gradle
  gradle/build-scan.gradle
Labels: :Core/Infra/Build

#48898 Reenable Docker tests again
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/DistroTestPlugin.java
Labels: :Core/Infra/Packaging, v7.6.0, v8.0.0

#48936 Reenable Docker tests again
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/DistroTestPlugin.java
Labels: :Core/Infra/Core, backport, v7.6.0

#48450 Improve resiliency to auto-formatting in server
  build.gradle
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  server/build.gradle
  server/src/main/java/org/apache/lucene/queries/BinaryDocValuesRangeQuery.java
  server/src/main/java/org/elasticsearch/action/search/FetchSearchPhase.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/common/lucene/Lucene.java
  server/src/main/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilder.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlus.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/WordScorer.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/joda/time/format/StrictISODateTimeFormat.java
  server/src/test/java/org/elasticsearch/action/support/master/TransportMasterNodeActionTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LeaderCheckerTests.java
  server/src/test/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/test/java/org/elasticsearch/plugins/PluginsServiceTests.java
  server/src/test/java/org/elasticsearch/recovery/RelocationIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/DateRangeIT.java
  server/src/test/java/org/elasticsearch/search/preference/SearchPreferenceIT.java
  server/src/test/java/org/elasticsearch/search/suggest/CompletionSuggestSearchIT.java
  server/src/test/java/org/elasticsearch/threadpool/ThreadPoolTests.java
Labels: :Core/Infra/Core, v7.6.0, v8.0.0

#48801 Remove Uid as an instantiable class
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/FieldsVisitor.java
  server/src/main/java/org/elasticsearch/index/mapper/Uid.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/InnerHitsContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/InnerHitsFetchSubPhase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/SourceOnlySnapshotShardTests.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichShardMultiSearchAction.java
Labels: :Core/Infra/Core, :Search/Mapping, >refactoring, v7.6.0, v8.0.0

#48872 Update gradle to 5.6.4
  buildSrc/src/main/resources/minimumGradleVersion
  gradle/wrapper/gradle-wrapper.properties
Labels: :Core/Infra/Build

#48775 [DOCS] Reformat condition token filter
  docs/reference/analysis/tokenfilters/condition-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48915 Improve error message when pausing index
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPauseFollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
Labels: :Distributed/CCR, >enhancement, v7.6.0, v8.0.0

#48940 Improve resiliency to auto-formatting in server
  build.gradle
  buildSrc/src/main/resources/checkstyle_suppressions.xml
  server/build.gradle
  server/src/main/java/org/apache/lucene/queries/BinaryDocValuesRangeQuery.java
  server/src/main/java/org/elasticsearch/action/search/FetchSearchPhase.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/common/lucene/Lucene.java
  server/src/main/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilder.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlus.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/WordScorer.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/joda/time/format/StrictISODateTimeFormat.java
  server/src/test/java/org/elasticsearch/action/support/master/TransportMasterNodeActionTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LeaderCheckerTests.java
  server/src/test/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/test/java/org/elasticsearch/plugins/PluginsServiceTests.java
  server/src/test/java/org/elasticsearch/recovery/RelocationIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/DateRangeIT.java
  server/src/test/java/org/elasticsearch/search/preference/SearchPreferenceIT.java
  server/src/test/java/org/elasticsearch/search/suggest/CompletionSuggestSearchIT.java
  server/src/test/java/org/elasticsearch/threadpool/ThreadPoolTests.java
Labels: :Core/Infra/Core, backport, v7.6.0

#48942 Fix Eclipse compilation problems in DataFrameDataExtractorTests
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorTests.java
Labels: :Core/Infra/Build, >non-issue, v8.0.0

#48868 Update search-type.asciidoc
  docs/reference/search/request/search-type.asciidoc
Labels: :Search/Search, >docs, v6.8.5, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48307 [DOCS] Extends analyzed_fields description in PUT DFA API docs
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
Labels: :ml, >docs, v7.3.3, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48935 [DOCS] Fine-tunes classification section in PUT DFA documentation
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
Labels: :ml, >docs, v7.5.0, v7.6.0, v8.0.0

#48920 Fix ShardGenerations in RepositoryData in BwC Case
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, >test, v7.6.0, v8.0.0

#48850 [7.x] Mute FullClusterRestartTest#testWatcher and 30s timeout…
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: backport

#48851 [7.5] Mute FullClusterRestartTest#testWatcher and 30s timeout…
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: backport

#48947 Fix ShardGenerations in RepositoryData in BwC Case (#48920)
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, backport

#47050 [ML] Add new geo_results.(actual_point|typical_point) fields for `lat_long` results
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/results/AnomalyCause.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/results/AnomalyRecord.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/results/AnomalyCauseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/results/AnomalyRecordTests.java
  docs/reference/ml/anomaly-detection/apis/resultsresource.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyCause.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyRecord.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/GeoResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyCauseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyRecordTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/results/GeoResultsTests.java
Labels: :ml, >non-issue, v7.6.0, v8.0.0

#48558 Closes #48469 - Refactor and DRY up Kahan Sum algorithm
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CompensatedSum.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ExtendedStatsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoCentroidAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalAvg.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalStats.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalSum.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalWeightedAvg.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/StatsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/WeightedAvgAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CompensatedSumTests.java
Labels: :Analytics/Aggregations, >refactoring, v8.0.0

#48959 [7.x] Refactor and DRY up Kahan Sum algorithm (#48558)
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CompensatedSum.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ExtendedStatsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoCentroidAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalAvg.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalStats.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalSum.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalWeightedAvg.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/StatsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/WeightedAvgAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CompensatedSumTests.java
Labels: backport

#44775 Elasticsearch keystore passphrase for startup scripts
  Vagrantfile
  distribution/docker/src/docker/bin/docker-entrypoint.sh
  distribution/packages/build.gradle
  distribution/packages/src/common/scripts/posttrans
  distribution/packages/src/common/systemd/elasticsearch.service
  distribution/packages/src/common/systemd/systemd-entrypoint
  distribution/src/bin/elasticsearch
  distribution/src/bin/elasticsearch-cli.bat
  distribution/src/bin/elasticsearch.bat
  distribution/tools/keystore-cli/src/main/java/org/elasticsearch/common/settings/HasPasswordKeyStoreCommand.java
  distribution/tools/keystore-cli/src/main/java/org/elasticsearch/common/settings/KeyStoreCli.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/bootstrap/BootstrapTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/HasPasswordKeyStoreCommandTests.java
  libs/cli/src/main/java/org/elasticsearch/cli/Command.java
  libs/cli/src/main/java/org/elasticsearch/cli/Terminal.java
  libs/cli/src/main/java/org/elasticsearch/cli/UserException.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/KeystoreManagementTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackageTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackagingTestCase.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Archives.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Cleanup.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Distribution.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Docker.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/FileUtils.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Packages.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Platforms.java
  server/src/main/java/org/elasticsearch/bootstrap/Bootstrap.java
  server/src/main/java/org/elasticsearch/cli/KeyStoreAwareCommand.java
  server/src/test/java/org/elasticsearch/cli/MultiCommandTests.java
  server/src/test/java/org/elasticsearch/cli/TerminalTests.java
  test/framework/src/main/java/org/elasticsearch/cli/MockTerminal.java
Labels: :Core/Infra/Settings, :Security/Security

#48961 Fix client jar project generation of POM artifacts
  buildSrc/src/main/groovy/org/elasticsearch/gradle/plugin/PluginBuildPlugin.groovy
Labels: :Core/Infra/Build, v7.6.0

#48958 [7.x] [ML] Add new geo_results.(actual_point|typical_point) fields for `lat_long` results (#47050)
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/results/AnomalyCause.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/results/AnomalyRecord.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/results/AnomalyCauseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/results/AnomalyRecordTests.java
  docs/reference/ml/anomaly-detection/apis/resultsresource.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyCause.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyRecord.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/GeoResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyCauseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyRecordTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/results/GeoResultsTests.java
Labels: :ml, >non-issue, backport

#48960 [ML] Adjusting bwc serialization version to 7.6.0
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyCause.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyRecord.java
Labels: :ml, >non-issue, v8.0.0

#48854 Significantly Lower Monitoring HttpExport Memory Footprint
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExportBulk.java
Labels: :Core/Features/Monitoring, >enhancement, v7.6.0, v8.0.0

#48819 Add delete alias to the HLRC
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/DeleteAliasRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/java-rest/high-level/indices/delete_alias.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Features/Java High Level REST Client, >enhancement, v7.6.0, v8.0.0

#48965 [7.5] Prevent deadlock by using separate schedulers (#48697)
  server/src/main/java/org/elasticsearch/action/bulk/BulkProcessor.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkProcessorIT.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkProcessorRetryIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/execution/TriggeredWatchStoreTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/history/HistoryStoreTests.java
Labels: backport

#48964 [7.x] Prevent deadlock by using separate schedulers (#48697)
  server/src/main/java/org/elasticsearch/action/bulk/BulkProcessor.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkProcessorIT.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkProcessorRetryIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/execution/TriggeredWatchStoreTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/history/HistoryStoreTests.java
Labels: backport

#48916 Send cluster name and discovery node in handshake
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/Transport.java
  server/src/main/java/org/elasticsearch/transport/TransportHandshaker.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/client/transport/FailAndRetryMockTransport.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
  server/src/test/java/org/elasticsearch/transport/TransportHandshakerTests.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/StubbableTransport.java
Labels: :Distributed/Network, >non-issue, backport, v7.6.0

#48917 Update handshake response version constants to 7.6
  server/src/main/java/org/elasticsearch/transport/TransportHandshaker.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
Labels: :Distributed/Network, >non-issue, v8.0.0

#48966 Significantly Lower Monitoring HttpExport Memory Footprint (#48854)
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExportBulk.java
Labels: :Core/Features/Monitoring, backport

#48945 Always increase timeout for packaging tests
  qa/os/src/test/java/org/elasticsearch/packaging/util/ServerUtils.java
Labels: :Core/Infra/Build, v7.4.3, v7.6.0, v8.0.0

#48908 Enabled spotless for enrich gradle project.
  .eclipseformat.xml
  build.gradle
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/AbstractEnrichProcessor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichMetadata.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyLocks.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyMaintenanceService.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyReindexPipeline.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactory.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichStore.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/ExecuteEnrichPolicyTask.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/GeoMatchProcessor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/MatchProcessor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorProxyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorStatsAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichInfoTransportAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichShardMultiSearchAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportDeleteEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportEnrichStatsAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportExecuteEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportGetEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportPutEnrichPolicyAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/AbstractEnrichTestCase.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/BasicEnrichTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichDisabledIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichMultiNodeIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyLocksTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyMaintenanceServiceTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyUpdateTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactoryTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichRestartIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichStoreCrudTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/GeoMatchProcessorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/LocalStateEnrich.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/MatchProcessorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/CoordinatorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/EnrichShardMultiSearchActionTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/EnrichStatsResponseTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/TransportDeleteEnrichPolicyActionTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/TransportGetEnrichPolicyActionTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichCoordinatorDocTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollectorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/ExecutingPolicyDocTests.java
Labels: :Core/Features/Ingest, >non-issue, v8.0.0

#48927 [#40366] Silence some lint warnings in server project
  server/src/main/java/org/elasticsearch/cluster/ClusterState.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MappingMetaData.java
  server/src/main/java/org/elasticsearch/common/cache/Cache.java
  server/src/main/java/org/elasticsearch/common/document/DocumentField.java
  server/src/main/java/org/elasticsearch/common/io/stream/NamedWriteableRegistry.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/main/java/org/elasticsearch/common/lucene/Lucene.java
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/common/util/CollectionUtils.java
  server/src/main/java/org/elasticsearch/common/util/set/Sets.java
  server/src/main/java/org/elasticsearch/index/IndexWarmer.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MetadataFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RootObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeParsers.java
  server/src/main/java/org/elasticsearch/index/query/QueryRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/indices/fielddata/cache/IndicesFieldDataCache.java
  server/src/main/java/org/elasticsearch/plugins/PluginsService.java
  server/src/main/java/org/elasticsearch/plugins/SearchPlugin.java
  server/src/main/java/org/elasticsearch/script/ScriptService.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
  server/src/main/java/org/elasticsearch/search/lookup/LeafFieldsLookup.java
  server/src/main/java/org/elasticsearch/search/lookup/SourceLookup.java
  server/src/main/java/org/elasticsearch/search/suggest/Suggest.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
Labels: :Core/Infra/Core, v8.0.0

#48973 Auto-expand replicated closed indices
  server/src/main/java/org/elasticsearch/cluster/metadata/AutoExpandReplicas.java
  server/src/test/java/org/elasticsearch/indices/settings/UpdateNumberOfReplicasIT.java
Labels: :Distributed/Allocation, >bug, v7.5.0, v7.6.0, v8.0.0

#48918 Ignore metadata of deleted indices at start
  server/src/main/java/org/elasticsearch/gateway/MetaStateService.java
  server/src/test/java/org/elasticsearch/gateway/GatewayIndexStateIT.java
Labels: :Distributed/Cluster Coordination, >bug, v7.6.0, v8.0.0

#48980 Sync formatter settings with master
  .eclipseformat.xml
Labels: :Core/Infra/Core, v7.5.0

#48976 Enable spotless for enrich gradle project in 7 dot x branch.
  .eclipseformat.xml
  build.gradle
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/AbstractEnrichProcessor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichMetadata.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyLocks.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyMaintenanceService.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyReindexPipeline.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactory.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichStore.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/ExecuteEnrichPolicyTask.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/GeoMatchProcessor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/MatchProcessor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorProxyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorStatsAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichShardMultiSearchAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportDeleteEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportEnrichStatsAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportExecuteEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportGetEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportPutEnrichPolicyAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/AbstractEnrichTestCase.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/BasicEnrichTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichDisabledIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichMultiNodeIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyLocksTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyMaintenanceServiceTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyUpdateTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactoryTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichRestartIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichStoreCrudTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/GeoMatchProcessorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/MatchProcessorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/CoordinatorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/EnrichShardMultiSearchActionTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/EnrichStatsResponseTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/TransportDeleteEnrichPolicyActionTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/TransportGetEnrichPolicyActionTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichCoordinatorDocTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollectorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/ExecutingPolicyDocTests.java
Labels: :Core/Features/Ingest, >non-issue, backport, v7.6.0

#48954 MapperService.merge() should take a single mapper rather than a map
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/CreateIndexIT.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexCreationTaskTests.java
  server/src/test/java/org/elasticsearch/indices/template/SimpleIndexTemplateIT.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/action/ReloadSynonymAnalyzerTests.java
Labels: :Search/Mapping, >refactoring, v8.0.0

#47525 [DOCS] Document indices response parameters for node stats API
  docs/reference/cluster/nodes-stats.asciidoc
Labels: :Core/Features/Stats, >docs, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48583 [DOCS] Creates a cluster restart documentation page
  docs/reference/setup.asciidoc
  docs/reference/setup/restart-cluster.asciidoc
Labels: :Core/Infra/Core, >docs, v7.4.3, v7.6.0, v8.0.0

#47573 Support `_FILE` suffixed env vars in Docker entrypoint
  distribution/docker/src/docker/bin/docker-entrypoint.sh
  docs/reference/setup/install/docker.asciidoc
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Docker.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/FileMatcher.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/ServerUtils.java
Labels: :Core/Infra/Packaging, v7.6.0, v8.0.0

#48963 [6.8] Prevent deadlock by using separate schedulers (#48697)
  server/src/main/java/org/elasticsearch/action/bulk/BulkProcessor.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkProcessorIT.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkProcessorRetryIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/execution/TriggeredWatchStoreTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/history/HistoryStoreTests.java
Labels: backport

#48979 [DOCS] Fix _count HTTP method
  docs/reference/search/count.asciidoc
Labels: :Search/Search, >docs

#48993 Fix Broken Snapshots in Mixed Clusters
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.6.0, v8.0.0

#48968 Add warnings for potential ergonomics failures for JDK8/Windows
  distribution/tools/launchers/src/main/java/org/elasticsearch/tools/launchers/JvmErgonomics.java
  distribution/tools/launchers/src/test/java/org/elasticsearch/tools/launchers/JvmErgonomicsTests.java
Labels: backport

#48949 Add ILM package info documentation
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/package-info.java
Labels: :Core/Features/ILM+SLM, v8.0.0

#49000 [TEST] Mute docs snippet test in close-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/close-job.asciidoc
Labels: :ml, >docs, >test-mute, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48828 Remove include_type_name from the REST API spec and docs.
  docs/reference/indices/create-index.asciidoc
  docs/reference/indices/get-field-mapping.asciidoc
  docs/reference/indices/get-index-template.asciidoc
  docs/reference/indices/get-index.asciidoc
  docs/reference/indices/get-mapping.asciidoc
  docs/reference/indices/put-mapping.asciidoc
  docs/reference/indices/rollover-index.asciidoc
  docs/reference/indices/templates.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.create.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_field_mapping.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_template.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.put_template.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.rollover.json
Labels: :Search/Mapping, >docs, v8.0.0

#48991 Log exceptions thrown by HttpHandlers in repository integration tests
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESMockAPIBasedRepositoryIntegTestCase.java
Labels: :Distributed/Snapshot/Restore, >test, v7.5.0, v7.6.0, v8.0.0

#48970 Fix ignoring missing values in min/max aggregations
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MaxAggregatorTests.java
Labels: :Analytics/Aggregations, >bug, v7.6.0, v8.0.0

#48995 Fix Broken Snapshots in Mixed Clusters (#48993)
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, backport

#48971 Ensure parameters are updated when merging flattened mappings.
  docs/reference/mapping/types/flattened.asciidoc
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlatObjectFieldMapper.java
  x-pack/plugin/mapper-flattened/src/test/java/org/elasticsearch/xpack/flattened/mapper/FlatObjectFieldMapperTests.java
Labels: :Search/Mapping, >bug, v7.6.0, v8.0.0

#48827 Re-read policy phase JSON when using ILM's move-to-step API
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/RolloverAction.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleService.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
Labels: :Core/Features/ILM+SLM, >bug, v7.4.3, v7.6.0, v8.0.0

#49011 [7.x] Re-read policy phase JSON when using ILM's move-to-step…
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/RolloverAction.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleService.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
Labels: :Core/Features/ILM+SLM, backport, v7.6.0

#49014 Ensure parameters are updated when merging flattened mappings.
  docs/reference/mapping/types/flattened.asciidoc
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlatObjectFieldMapper.java
  x-pack/plugin/mapper-flattened/src/test/java/org/elasticsearch/xpack/flattened/mapper/FlatObjectFieldMapperTests.java
Labels: :Search/Mapping, >bug, backport

#48948 Remove limitation for SAML encryption in FIPS mode
  x-pack/docs/en/security/fips-140-compliance.asciidoc
Labels: :Security/Security, >docs, v6.8.5, v7.3.3, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#48977 Enable spotless for enrich gradle project in 7 dot 5 branch.
  build.gradle
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/AbstractEnrichProcessor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichMetadata.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyLocks.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyMaintenanceService.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyReindexPipeline.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactory.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichStore.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/ExecuteEnrichPolicyTask.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/GeoMatchProcessor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/MatchProcessor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorProxyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorStatsAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichShardMultiSearchAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportDeleteEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportEnrichStatsAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportExecuteEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportGetEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportPutEnrichPolicyAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/AbstractEnrichTestCase.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/BasicEnrichTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichDisabledIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichMultiNodeIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyLocksTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyMaintenanceServiceTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyUpdateTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactoryTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichRestartIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichStoreCrudTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/GeoMatchProcessorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/MatchProcessorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/CoordinatorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/EnrichShardMultiSearchActionTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/EnrichStatsResponseTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/TransportDeleteEnrichPolicyActionTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/TransportGetEnrichPolicyActionTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichCoordinatorDocTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollectorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/ExecutingPolicyDocTests.java
Labels: :Core/Features/Ingest, >non-issue, backport, v7.5.0

#48985 Unmute testStopAndRestart test
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
Labels: :ml, >test, v8.0.0

#49023 [DOCS] Adds test clause to the code snippets in the cluster restart page
  docs/reference/setup/restart-cluster.asciidoc
Labels: >docs, v7.4.3, v7.5.0, v7.6.0, v8.0.0

#49022 [6.8] Remove limitation for SAML encryption in FIPS mode (#48948)
  x-pack/docs/en/security/fips-140-compliance.asciidoc
Labels: backport

#49021 [7.4] Remove limitation for SAML encryption in FIPS mode (#48948)
  x-pack/docs/en/security/fips-140-compliance.asciidoc
Labels: backport

#49020 [7.5] Remove limitation for SAML encryption in FIPS mode (#48948)
  x-pack/docs/en/security/fips-140-compliance.asciidoc
Labels: backport

#49019 [7.x] Remove limitation for SAML encryption in FIPS mode (#48948)
  x-pack/docs/en/security/fips-140-compliance.asciidoc
Labels: backport

#48746 Remove unnecessary details logged for OIDC
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
Labels: :Security/Authentication, >bug, v7.6.0, v8.0.0

#48930 Fix Transport Stopped Exception
  server/src/main/java/org/elasticsearch/ExceptionsHelper.java
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationOperation.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/support/replication/ReplicationOperationTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationActionRetryOnClosedNodeIT.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceTests.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java
Labels: :Distributed/CRUD, >bug, v7.6.0, v8.0.0

#48937 Add client-side ResizeRequest and ResizeResponse classes
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndicesRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/ResizeRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/ResizeResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indices/ResizeRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indices/ResizeResponseTests.java
Labels: :Core/Features/Java High Level REST Client, >refactoring, v7.6.0, v8.0.0

#47583 Always use primary term from primary to index docs on replica
  server/src/main/java/org/elasticsearch/action/bulk/BulkItemResponse.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkPrimaryExecutionContext.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportShardBulkActionTests.java
  server/src/test/java/org/elasticsearch/index/replication/RecoveryDuringReplicationTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetServiceTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoveryTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowEngineIndexShardTests.java
Labels: :Distributed/Engine, >non-issue, v7.6.0, v8.0.0
