Repository elastic/elasticsearch, pull requests merged in 2019-09, with the labels that each got.

#46204 Remove Unused Method from BlobStoreRepository
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.5.0, v8.0.0

#46198 Do not use ifSeqNo if doc does not have seq_no
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
  server/src/main/java/org/elasticsearch/action/update/UpdateHelper.java
  server/src/test/java/org/elasticsearch/action/update/UpdateRequestTests.java
Labels: :Distributed/CRUD, >bug, v6.8.4

#46077 Make node client available to ingest processors
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/ingest/Processor.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
Labels: :Core/Features/Ingest, >non-issue, v7.5.0, v8.0.0

#46173 SQL: Fix issue with DataType for CASE with NULL
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/Case.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/CaseTests.java
Labels: :Search/SQL, >bug, v7.3.2, v7.4.1, v7.5.0, v8.0.0

#46221 Mute 2 tests in S3BlobStoreRepositoryTests
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobStoreRepositoryTests.java
Labels: :Distributed/Snapshot/Restore, >test-mute, v7.5.0, v8.0.0

#46208 Cleanup BlobStoreRepository Abort and Failure Handling
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.5.0, v8.0.0

#46187 Test fix for PinnedQueryBuilderIT
  x-pack/plugin/search-business-rules/src/test/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilderIT.java
Labels: :Search/Ranking, >bug, >test-failure

#46227 Test fix for PinnedQueryBuilderIT (#46187)
  x-pack/plugin/search-business-rules/src/test/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilderIT.java
Labels: >bug, >test-failure, backport

#46178 Wait for all Rec. to Stop on Node Close
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoverySourceService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/indices/recovery/PeerRecoverySourceServiceTests.java
Labels: :Distributed/Recovery, >test, v7.5.0, v8.0.0

#46226 Disable request throttling in S3BlobStoreRepositoryTests
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobStoreRepositoryTests.java
Labels: :Distributed/Snapshot/Restore, >test, v7.5.0, v8.0.0

#46237 Wait for all Rec. to Stop on Node Close (#46178)
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoverySourceService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/indices/recovery/PeerRecoverySourceServiceTests.java
Labels: :Distributed/Recovery, backport

#46203 TrimUnreferencedReaders: move sync translog operation outside writeLock to improve performance
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
Labels: :Distributed/Engine, >enhancement, v7.5.0, v8.0.0

#46206 Add debug assertions for userhome not existing
  qa/os/bats/default/certgen.bash
Labels: :Core/Infra/Packaging, >test, v8.0.0

#45994 Duplicate Condition
  server/src/main/java/org/elasticsearch/search/searchafter/SearchAfterBuilder.java
Labels: :Search/Search, v7.5.0, v8.0.0

#45974 Reset queryGeometry in ShapeQueryTests
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/ShapeQueryTests.java
Labels: :Analytics/Geo, >bug, v7.5.0, v8.0.0

#46251 Backport : reset queryGeometry in ShapeQueryTests (#45974)
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/ShapeQueryTests.java
Labels: backport, v7.5.0

#46235 [ML-DataFrame] Fix off-by-one error in checkpoint operations_behind
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/transforms/DataFrameTransformCheckpoint.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/dataframe/transforms/DataFrameTransformCheckpointTests.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/checkpoint/DefaultCheckpointProvider.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/checkpoint/DataFrameTransformsCheckpointServiceTests.java
Labels: :ml/Data Frame, >bug, v7.3.2, v7.4.1, v7.5.0, v8.0.0

#46186 [6.8] [ML] Throw an error when a datafeed needs CCS but it is not enabled for the node (#46044)
  docs/reference/ml/apis/put-datafeed.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
Labels: :ml, >bug, backport, v6.8.4

#46182 [7.3] [ML] Throw an error when a datafeed needs CCS but it is not enabled for the node (#46044)
  docs/reference/ml/anomaly-detection/apis/put-datafeed.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
Labels: :ml, >bug, backport, v7.3.2

#46181 [7.4] [ML] Throw an error when a datafeed needs CCS but it is not enabled for the node (#46044)
  docs/reference/ml/anomaly-detection/apis/put-datafeed.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
Labels: :ml, >bug, backport, v7.4.1

#40878 Fixed synchronizing inflight breaker with internal variable
  docs/reference/migration/migrate_8_0.asciidoc
  docs/reference/migration/migrate_8_0/breaker.asciidoc
  server/src/main/java/org/elasticsearch/common/breaker/CircuitBreaker.java
  server/src/test/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerServiceTests.java
Labels: :Core/Infra/Circuit Breakers, >breaking, >enhancement, v8.0.0

#46080 [DOCS] Add delete index alias API docs
  docs/reference/indices.asciidoc
  docs/reference/indices/delete-alias.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/CRUD, >docs, v7.3.0, v7.5.0, v8.0.0

#46264 [ML-DataFrame] Fix off-by-one error in checkpoint operations_behind
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/transforms/DataFrameTransformCheckpoint.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/dataframe/transforms/DataFrameTransformCheckpointTests.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/checkpoint/DataFrameTransformsCheckpointService.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/checkpoint/DataFrameTransformsCheckpointServiceTests.java
Labels: :ml/Data Frame, backport

#46162 [ML][Transforms] fixing stop on changes check bug
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexer.java
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFrameGetAndGetStatsIT.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
Labels: :ml/Data Frame, >non-issue, v7.5.0, v8.0.0

#46145 Validate SLM policy ids strictly (#45998)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicy.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecyclePolicyTests.java
Labels: :Core/Features/ILM, backport, v7.5.0

#46269 Fix testSyncFailsIfOperationIsInFlight
  server/src/test/java/org/elasticsearch/indices/flush/SyncedFlushSingleNodeTests.java
Labels: :Distributed/Distributed, >test, v7.4.1, v7.5.0, v8.0.0

#46271 [ML] Unmute testStopOutlierDetectionWithEnoughDocumentsToScroll
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
Labels: :ml, >test, v7.4.0, v7.5.0, v8.0.0

#46273 [7.x] [ML][Transforms] fixing stop on changes check bug (#46162)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexer.java
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFrameGetAndGetStatsIT.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
Labels: :ml/Data Frame, >non-issue, backport, v7.5.0

#46274 [7.4] [ML][Transforms] fixing stop on changes check bug (#46162)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexer.java
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFrameGetAndGetStatsIT.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
Labels: :ml/Data Frame, >non-issue, backport, v7.4.1

#46156 [ML][Transforms] protecting doSaveState with optimistic concurrency
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportUpdateDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/persistence/DataFrameTransformsConfigManager.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/persistence/SeqNoPrimaryTermAndIndex.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformPersistentTasksExecutor.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/DataFrameSingleNodeTestCase.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/persistence/DataFrameTransformsConfigManagerTests.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/persistence/SeqNoPrimaryTermAndIndexTests.java
Labels: :ml/Data Frame, >non-issue, v7.5.0, v8.0.0

#46247 Suppress warning logs from background sync on relocated primary
  server/src/main/java/org/elasticsearch/index/IndexService.java
Labels: :Distributed/Distributed, >bug, v6.8.4, v7.4.1, v7.5.0, v8.0.0

#46279 Add CumulativeCard pipeline agg to pipeline index
  docs/reference/aggregations/pipeline.asciidoc
Labels: :Analytics/Aggregations, >docs, >non-issue, v7.4.0, v7.4.1, v8.0.0

#45992 Check all actions preventing snapshot delete during retention run
  server/src/main/java/org/elasticsearch/cluster/RepositoryCleanupInProgress.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotDeletionsInProgress.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionTask.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionTaskTests.java
Labels: :Core/Features/ILM

#46190 Precompute the normalized query vector when taking cosine.
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/query/ScoreScriptUtils.java
Labels: :Search/Search, >enhancement

#46289 Add more assertions and cleanup to setup passwords tests
  qa/os/bats/default/setup_passwords.bash
Labels: :Core/Infra/Packaging, >test, v8.0.0

#46283 Multi-get requests should wait for search active
  server/src/main/java/org/elasticsearch/action/get/TransportShardMultiGetAction.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
Labels: :Search/Search, >bug, v6.8.4, v7.3.2, v7.4.0, v7.5.0, v8.0.0

#46284 [ML][Transforms] fixing listener being called twice
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
Labels: :ml/Data Frame, >non-issue, v7.4.1, v7.5.0, v8.0.0

#46055 Reindex restart from checkpoint
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/AbstractAsyncBulkByScrollAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/AsyncDeleteByQueryAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexIndexClient.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexTask.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexTaskIndexState.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/Reindexer.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportReindexAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportUpdateByQueryAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/remote/RemoteScrollableHitSource.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/AsyncBulkByScrollActionTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ClientScrollableHitSourceTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexFailoverIT.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexMetadataTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexScriptTests.java
  server/src/main/java/org/elasticsearch/index/reindex/BulkByScrollTask.java
  server/src/main/java/org/elasticsearch/index/reindex/ClientScrollableHitSource.java
  server/src/main/java/org/elasticsearch/index/reindex/ScrollableHitSource.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ClientHelper.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationUtils.java
Labels: :Distributed/Reindex, >enhancement, v8.0.0

#46293 [7.4] [ML][Transforms] fixing listener being called twice (#46284)
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
Labels: :ml/Data Frame, >non-issue, backport, v7.4.1

#45989 Expose SLM policy stats in get SLM policy API
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/slm/GetSnapshotLifecycleStatsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/slm/GetSnapshotLifecycleStatsResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/slm/SnapshotLifecyclePolicyMetadata.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/slm/SnapshotLifecycleStats.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/ILMDocumentationIT.java
  docs/java-rest/high-level/ilm/get_snapshot_lifecycle_stats.asciidoc
  docs/reference/ilm/apis/slm-api.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicyItem.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/slm/SnapshotLifecycleStats.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicyItemTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportGetSnapshotLifecycleAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.get_stats.json
Labels: :Core/Features/ILM

#46292 [7.x] [ML][Transforms] fixing listener being called twice (#46284)
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
Labels: :ml/Data Frame, >non-issue, backport, v7.5.0

#46281 [7.x] [ML][Transforms] protecting doSaveState with optimistic concurrency (#46156)
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportUpdateDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/persistence/DataFrameTransformsConfigManager.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/persistence/SeqNoPrimaryTermAndIndex.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformPersistentTasksExecutor.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/DataFrameSingleNodeTestCase.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/persistence/DataFrameTransformsConfigManagerTests.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/persistence/SeqNoPrimaryTermAndIndexTests.java
Labels: :ml/Data Frame, >non-issue, backport, v7.5.0

#46157 release notes for 6.8.3
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/6.8.asciidoc
Labels: >docs, >non-issue, v6.8.3

#46298 Move MockRespository into test framework
  test/framework/src/main/java/org/elasticsearch/snapshots/mockstore/BlobContainerWrapper.java
  test/framework/src/main/java/org/elasticsearch/snapshots/mockstore/BlobStoreWrapper.java
  test/framework/src/main/java/org/elasticsearch/snapshots/mockstore/MockRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.5.0, v8.0.0

#46294 First round of optimizations for vector functions.
  docs/reference/mapping/types/dense-vector.asciidoc
  docs/reference/mapping/types/sparse-vector.asciidoc
  server/src/main/java/org/elasticsearch/common/lucene/search/function/ScriptScoreFunction.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/ScriptScoreFunctionBuilder.java
  server/src/main/java/org/elasticsearch/script/ScoreScript.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/vectors/20_dense_vector_special_cases.yml
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/VectorEncoderDecoder.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/query/ScoreScriptUtils.java
  x-pack/plugin/vectors/src/main/resources/org/elasticsearch/xpack/vectors/query/whitelist.txt
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapperTests.java
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapperTests.java
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/mapper/VectorEncoderDecoderTests.java
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/query/ScoreScriptUtilsTests.java
Labels: :Search/Search, >enhancement, v7.5.0, v8.0.0

#46121 [ML-DataFrame] unmute testGetCheckpointStats
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/checkpoint/DataFrameTransformCheckpointServiceNodeTests.java
Labels: :ml/Data Frame, >test-failure, v8.0.0

#46290 SQL: Fix issue with IIF function when condition folds
  x-pack/plugin/sql/qa/src/main/resources/conditionals.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/Iif.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/CaseTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/IifTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerTests.java
Labels: :Search/SQL, >bug, v7.3.2, v7.4.1, v7.5.0, v8.0.0

#46282 [7.x][ML] Unmute testStopOutlierDetectionWithEnoughDocumentsToScroll …
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
Labels: :ml, >test, backport, v7.5.0

#46285 [7.4][ML] Unmute testStopOutlierDetectionWithEnoughDocumentsToScroll …
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
Labels: :ml, >test, backport, v7.4.0

#46256 [DOCS] Reformats multi search API
  docs/reference/search/multi-search.asciidoc
Labels: >docs, v7.3.2, v7.4.1, v7.5.0, v8.0.0

#45966 Remove stack trace logging in Security(Transport|Http)ExceptionHandler
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/transport/SecurityTransportExceptionHandler.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityHttpExceptionHandler.java
Labels: :Security/Network, >non-issue, v7.5.0, v8.0.0

#46254 [DOCS] Reformats request body search API
  docs/reference/search/request-body.asciidoc
Labels: >docs, v7.3.2, v7.4.1, v7.5.0, v8.0.0

#46303 Reenable+Fix testMasterShutdownDuringFailedSnapshot
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  test/framework/src/main/java/org/elasticsearch/snapshots/mockstore/MockRepository.java
Labels: :Distributed/Snapshot/Restore, >test, backport pending, v7.5.0, v8.0.0

#46260 Link to kib reference from es reference on PKI authn
  x-pack/docs/en/rest-api/security/delegate-pki-authentication.asciidoc
  x-pack/docs/en/security/authentication/configuring-pki-realm.asciidoc
Labels: >docs, v7.4.0, v7.4.1, v7.5.0, v8.0.0

#46228 Run build-tools test with compiler jdk
  buildSrc/build.gradle
Labels: :Core/Infra/Build, >test-failure, v6.8.4

#46266 Quote the task name in reproduction line printer
  test/framework/src/main/java/org/elasticsearch/test/junit/listeners/ReproduceInfoPrinter.java
Labels: :Core/Infra/Build, >non-issue, v6.8.4, v7.4.1, v7.5.0, v8.0.0

#46240 [DOCS] Reformats search shards API
  docs/reference/search/search-shards.asciidoc
Labels: >docs, v7.3.2, v7.4.1, v7.5.0, v8.0.0

#46258 Fix SearchService.createContext exception handling
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
Labels: :Search/Search, >non-issue, v7.5.0, v8.0.0

#46265 Bwc testclusters all
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/minimumRuntime/java/org/elasticsearch/gradle/VersionProperties.java
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/rolling-upgrade/build.gradle
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
  qa/verify-version-constants/build.gradle
  rest-api-spec/src/main/resources/rest-api-spec/test/cat.allocation/10_basic.yml
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/src/test/java/org/elasticsearch/upgrades/AbstractMultiClusterUpgradeTestCase.java
  x-pack/qa/rolling-upgrade-multi-cluster/src/test/java/org/elasticsearch/upgrades/CcrRollingUpgradeIT.java
  x-pack/qa/rolling-upgrade/build.gradle
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/IndexingIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlMappingsUpgradeIT.java
Labels: :Core/Infra/Build, backport pending, v7.5.0, v8.0.0

#46041 Change exact match processor to match processor.
  client/rest-high-level/src/test/java/org/elasticsearch/client/EnrichIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/EnrichDocumentationIT.java
  docs/reference/ingest/ingest-node.asciidoc
  docs/reference/ingest/processors/enrich.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/EnrichPolicy.java
  x-pack/plugin/enrich/qa/common/src/main/java/org/elasticsearch/test/enrich/CommonEnrichRestTestCase.java
  x-pack/plugin/enrich/qa/rest/src/test/resources/rest-api-spec/test/enrich/10_basic.yml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactory.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/MatchProcessor.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/BasicEnrichTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichMultiNodeIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyMaintenanceServiceTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyUpdateTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactoryTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichRestartIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/MatchProcessorTests.java
Labels: :Core/Features/Ingest, >non-issue

#46257 Adjacency_matrix aggregation memory usage optimisation.
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
Labels: :Analytics/Aggregations

#46236 [DOCS] Reformats search template and multi search template APIs
  docs/reference/search/search-template.asciidoc
Labels: >docs, v7.3.2, v7.4.1, v7.5.0, v8.0.0

#46167 Improve documentation for X-Opaque-ID
  docs/reference/index-modules/slowlog.asciidoc
  docs/reference/setup/logging-config.asciidoc
Labels: :Core/Infra/Logging, >docs

#46296 [DOCS] Add "get index template" API docs
  docs/reference/indices.asciidoc
  docs/reference/indices/get-index-template.asciidoc
  docs/reference/indices/templates.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/CRUD, >docs, v7.3.0, v7.4.0, v7.5.0, v8.0.0

#46287 Do not send recovery requests with CancellableThreads
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
Labels: :Distributed/Recovery, >enhancement, v7.5.0, v8.0.0

#46180 Build: Enable testing without magic comments
  buildSrc/src/main/groovy/org/elasticsearch/gradle/doc/RestTestsFromSnippetsTask.groovy
  docs/README.asciidoc
  docs/painless/painless-guide/painless-execute-script.asciidoc
  docs/reference/docs/index_.asciidoc
Labels: :Core/Infra/Build, v7.4.1, v7.5.0, v8.0.0

#46245 Docs for translog, history retention and flushing
  docs/reference/index-modules.asciidoc
  docs/reference/index-modules/history-retention.asciidoc
  docs/reference/index-modules/translog.asciidoc
  docs/reference/indices/flush.asciidoc
Labels: :Distributed/Recovery, >docs, v7.4.1, v7.5.0, v8.0.0

#46315 Adjacency_matrix aggregation optimisation. (#46257)
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
Labels: :Analytics/Aggregations, >enhancement, backport

#46297 [DOCS] Reformat "put index template" API docs
  docs/reference/indices.asciidoc
  docs/reference/indices/create-index.asciidoc
  docs/reference/indices/templates.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/CRUD, >docs, v7.3.0, v7.4.0, v7.5.0, v8.0.0

#46317 Add test that get triggers shard search active
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/test/java/org/elasticsearch/index/shard/SearchIdleIT.java
Labels: :Search/Search, >non-issue, v7.4.0, v7.5.0, v8.0.0

#45693 Document support of OIDC Implicit flow in Kibana.
  docs/reference/settings/security-settings.asciidoc
  x-pack/docs/en/security/authentication/oidc-guide.asciidoc
Labels: :Security/Authentication, >docs, v7.4.0, v8.0.0

#46102 [DOCS] Identify reloadable EC2 Discovery Plugin settings
  docs/plugins/discovery-ec2.asciidoc
  docs/reference/setup/secure-settings.asciidoc
Labels: :Distributed/Discovery-Plugins, >docs, v8.0.0

#46150 [DOCS] Fix upgrade paths for 7.5
  docs/reference/upgrade.asciidoc
Labels: :Docs, >docs, v7.5.0

#46280 [ML] testFullClusterRestart waiting for stable cluster
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/MlDistributedFailureIT.java
Labels: :ml, >test, v7.5.0, v8.0.0

#46286 [DOCS] Separate Enrich API Docs
  docs/reference/ingest/apis/enrich/delete-enrich-policy.asciidoc
  docs/reference/ingest/apis/enrich/execute-enrich-policy.asciidoc
  docs/reference/ingest/apis/enrich/get-enrich-policy.asciidoc
  docs/reference/ingest/apis/enrich/index.asciidoc
  docs/reference/ingest/apis/enrich/put-enrich-policy.asciidoc
  docs/reference/ingest/ingest-node.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
  docs/reference/rest-api/index.asciidoc
Labels: :Core/Features/Ingest, >docs

#45823 [ML][Transforms] fixing rolling upgrade continuous transform test
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/DataFrameSurvivesUpgradeIT.java
Labels: :ml/Data Frame, >test, v8.0.0

#46329 [7.x] Document support of OIDC Implicit flow in Kibana. (#45693)
  docs/reference/settings/security-settings.asciidoc
  x-pack/docs/en/security/authentication/oidc-guide.asciidoc
Labels: backport

#46330 [7.4] Document support of OIDC Implicit flow in Kibana. (#45693)
  docs/reference/settings/security-settings.asciidoc
  x-pack/docs/en/security/authentication/oidc-guide.asciidoc
Labels: backport

#46325 Build: Enable testing without magic comments (backports #46180)
  buildSrc/src/main/groovy/org/elasticsearch/gradle/doc/RestTestsFromSnippetsTask.groovy
  docs/README.asciidoc
  docs/painless/painless-guide/painless-execute-script.asciidoc
  docs/reference/docs/index_.asciidoc
Labels: backport

#46343 muting test
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/DataFrameSurvivesUpgradeIT.java
Labels: :ml/Data Frame, >test-mute, v8.0.0

#45735 Decouple shard allocation awareness from search and get requests
  docs/reference/migration/migrate_8_0/search.asciidoc
  docs/reference/modules/cluster/allocation_awareness.asciidoc
  server/src/main/java/org/elasticsearch/cluster/routing/IndexShardRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/OperationRouting.java
  server/src/test/java/org/elasticsearch/cluster/structure/RoutingIteratorTests.java
Labels: :Search/Search, >breaking, >enhancement, v8.0.0

#46342 Build: Enable testing without magic comments (backports #46180)
  buildSrc/src/main/groovy/org/elasticsearch/gradle/doc/RestTestsFromSnippetsTask.groovy
  docs/README.asciidoc
  docs/painless/painless-guide/painless-execute-script.asciidoc
  docs/reference/docs/index_.asciidoc
Labels: backport

#46349 [DOCS] Identify reloadable S3 repository plugin settings
  docs/plugins/repository-s3.asciidoc
  docs/reference/setup/secure-settings.asciidoc
Labels: :Core/Infra/Plugins, >docs, v8.0.0

#46344 First round of optimizations for vector functions.
  docs/reference/mapping/types/dense-vector.asciidoc
  docs/reference/mapping/types/sparse-vector.asciidoc
  server/src/main/java/org/elasticsearch/common/lucene/search/function/ScriptScoreFunction.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/ScriptScoreFunctionBuilder.java
  server/src/main/java/org/elasticsearch/script/ScoreScript.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/vectors/20_dense_vector_special_cases.yml
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/VectorEncoderDecoder.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/query/ScoreScriptUtils.java
  x-pack/plugin/vectors/src/main/resources/org/elasticsearch/xpack/vectors/query/whitelist.txt
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapperTests.java
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapperTests.java
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/mapper/VectorEncoderDecoderTests.java
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/query/ScoreScriptUtilsTests.java
Labels: :Search/Search, >enhancement, backport

#46352 [DOCS] Identify reloadable GCS repository plugin settings
  docs/plugins/repository-gcs.asciidoc
  docs/reference/setup/secure-settings.asciidoc
Labels: :Core/Infra/Plugins, >docs, v8.0.0

#46328 [DOCS] Synchs Watcher API titles with better HLRC titles
  docs/java-rest/high-level/watcher/ack-watch.asciidoc
  docs/java-rest/high-level/watcher/activate-watch.asciidoc
  docs/java-rest/high-level/watcher/deactivate-watch.asciidoc
  docs/java-rest/high-level/watcher/delete-watch.asciidoc
  docs/java-rest/high-level/watcher/execute-watch.asciidoc
  docs/java-rest/high-level/watcher/get-watch.asciidoc
  docs/java-rest/high-level/watcher/put-watch.asciidoc
  docs/java-rest/high-level/watcher/start-watch-service.asciidoc
  docs/java-rest/high-level/watcher/stop-watch-service.asciidoc
  docs/java-rest/high-level/watcher/watcher-stats.asciidoc
  x-pack/docs/en/rest-api/watcher.asciidoc
  x-pack/docs/en/rest-api/watcher/start.asciidoc
  x-pack/docs/en/rest-api/watcher/stats.asciidoc
  x-pack/docs/en/rest-api/watcher/stop.asciidoc
Labels: :Core/Features/Watcher, >docs, v7.4.1, v7.5.0, v8.0.0

#46308 Fix testTokenExpiry flaky test
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenServiceTests.java
Labels: >test-failure, backport, v6.8.4

#46333 [7.x] Improve documentation for X-Opaque-ID (#46167)
  docs/reference/index-modules/slowlog.asciidoc
  docs/reference/setup/logging-config.asciidoc
Labels: >docs, backport

#46334 [7.4] Improve documentation for X-Opaque-ID (#46167)
  docs/reference/index-modules/slowlog.asciidoc
  docs/reference/setup/logging-config.asciidoc
Labels: >docs, backport

#46263 Add repository integration tests for Azure
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureStorageSettings.java
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureBlobStoreRepositoryTests.java
Labels: :Distributed/Snapshot/Restore, >test, v7.5.0, v8.0.0

#46255 Replace mocked client usage in GoogleCloudStorageBlobStoreRepositoryTests by HTTP server
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESBlobStoreRepositoryIntegTestCase.java
Labels: >test, v7.5.0, v8.0.0

#46369 Mute failing SamlAuthenticationIT tests
  x-pack/qa/saml-idp-tests/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlAuthenticationIT.java
Labels: :Security/Authentication, >test-failure, >test-mute

#46363 Enable Debug Logging for Master and Coordination Packages
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/reroute/TransportClusterRerouteAction.java
  server/src/main/java/org/elasticsearch/action/support/master/TransportMasterNodeAction.java
Labels: :Core/Infra/Transport API, >non-issue, v7.5.0, v8.0.0

#46368 Quiet down shard lock failures
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
Labels: :Distributed/Distributed, >non-issue, v6.8.4, v7.4.0, v7.5.0, v8.0.0

#46347 [ML][Transforms] allow executor to call start on started task
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformPersistentTasksExecutor.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/DataFrameSurvivesUpgradeIT.java
Labels: :ml/Data Frame, v7.4.1, v7.5.0, v8.0.0

#46335 [7.x] [ML] testFullClusterRestart waiting for stable cluster (#46280)
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/MlDistributedFailureIT.java
Labels: :ml, >test, backport, v7.5.0

#46374 Enable Debug Logging for Master and Coordination Packages (#46363)
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/reroute/TransportClusterRerouteAction.java
  server/src/main/java/org/elasticsearch/action/support/master/TransportMasterNodeAction.java
Labels: :Core/Infra/Transport API, backport

#46345 [DOCS] Reformat index segments API docs
  docs/reference/cat/segments.asciidoc
  docs/reference/indices/segments.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, :Core/Features/Stats, >docs, v7.3.0, v7.4.0, v7.5.0, v8.0.0

#46384 [DOCS] Re-add versioning to put template docs
  docs/reference/indices/templates.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/CRUD, >docs, v7.3.0, v7.4.0, v7.5.0, v8.0.0

#46387 [DOCS] [7.3] Reformat index segments API docs (#46345)
  docs/reference/cat/segments.asciidoc
  docs/reference/indices/segments.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/CRUD, >docs, backport, v7.3.0

#46388 [ML][DOCS] update supported aggs docs
  docs/reference/data-frames/apis/transformresource.asciidoc
Labels: :ml/Data Frame, >docs, v7.4.1, v7.5.0, v8.0.0

#46391 [DOCS] Bump docs version from 6.8.2 to 6.8.3
  docs/Versions.asciidoc
Labels: :Docs, >docs, v6.8.3

#46393 [7.4] [ML][Transforms] update supported aggs docs (#46388)
  docs/reference/data-frames/apis/transformresource.asciidoc
Labels: :ml/Data Frame, >docs, backport, v7.4.1

#46392 [7.x] [ML][Transforms] update supported aggs docs (#46388)
  docs/reference/data-frames/apis/transformresource.asciidoc
Labels: :ml/Data Frame, >docs, backport, v7.5.0

#46337 [7.x] [ML][Transforms] fixing rolling upgrade continuous transform test (#45823) (#46347)
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformPersistentTasksExecutor.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/DataFrameSurvivesUpgradeIT.java
Labels: :ml/Data Frame, >test, backport, v7.5.0

#45810 Support geotile_grid aggregation in composite agg sources
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/230_composite.yml
  server/src/main/java/org/elasticsearch/search/DocValueFormat.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeValuesSourceParserHelper.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/GeoTileGridValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/GeoTileValuesSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/CellIdSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileUtils.java
  server/src/test/java/org/elasticsearch/search/DocValueFormatTests.java
  server/src/test/java/org/elasticsearch/search/SearchSortValuesTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregationBuilderTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/GeoTileGridValuesSourceBuilderTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileUtilsTests.java
Labels: :Analytics/Aggregations, >enhancement, v8.0.0

#46288 Refactor AllocatedPersistentTask#init(), move rollup logic out of ctor
  server/src/main/java/org/elasticsearch/persistent/AllocatedPersistentTask.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksNodeService.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupJobTask.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupJobTaskTests.java
Labels: :Analytics/Rollup, :Distributed/Task Management, >refactoring, v7.5.0, v8.0.0

#46191 [DOCS] Update snippets in security APIs
  x-pack/docs/en/rest-api/security/authenticate.asciidoc
  x-pack/docs/en/rest-api/security/change-password.asciidoc
  x-pack/docs/en/rest-api/security/clear-cache.asciidoc
  x-pack/docs/en/rest-api/security/clear-roles-cache.asciidoc
  x-pack/docs/en/rest-api/security/create-api-keys.asciidoc
  x-pack/docs/en/rest-api/security/create-role-mappings.asciidoc
  x-pack/docs/en/rest-api/security/create-roles.asciidoc
  x-pack/docs/en/rest-api/security/create-users.asciidoc
  x-pack/docs/en/rest-api/security/delegate-pki-authentication.asciidoc
  x-pack/docs/en/rest-api/security/delete-app-privileges.asciidoc
  x-pack/docs/en/rest-api/security/delete-role-mappings.asciidoc
  x-pack/docs/en/rest-api/security/delete-roles.asciidoc
  x-pack/docs/en/rest-api/security/delete-users.asciidoc
  x-pack/docs/en/rest-api/security/disable-users.asciidoc
  x-pack/docs/en/rest-api/security/enable-users.asciidoc
  x-pack/docs/en/rest-api/security/get-api-keys.asciidoc
  x-pack/docs/en/rest-api/security/get-app-privileges.asciidoc
  x-pack/docs/en/rest-api/security/get-builtin-privileges.asciidoc
  x-pack/docs/en/rest-api/security/get-role-mappings.asciidoc
  x-pack/docs/en/rest-api/security/get-roles.asciidoc
  x-pack/docs/en/rest-api/security/get-tokens.asciidoc
  x-pack/docs/en/rest-api/security/get-users.asciidoc
  x-pack/docs/en/rest-api/security/has-privileges.asciidoc
  x-pack/docs/en/rest-api/security/invalidate-api-keys.asciidoc
  x-pack/docs/en/rest-api/security/invalidate-tokens.asciidoc
  x-pack/docs/en/rest-api/security/oidc-authenticate-api.asciidoc
  x-pack/docs/en/rest-api/security/oidc-logout-api.asciidoc
  x-pack/docs/en/rest-api/security/oidc-prepare-authentication-api.asciidoc
  x-pack/docs/en/rest-api/security/put-app-privileges.asciidoc
  x-pack/docs/en/rest-api/security/ssl.asciidoc
Labels: :Security/Authentication, >docs, v7.5.0, v8.0.0

#46356 Rewrite SnapshotLifecycleIT as as ESIntegTestCase
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicyItem.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/action/GetSnapshotLifecycleAction.java
  x-pack/plugin/ilm/build.gradle
  x-pack/plugin/ilm/qa/multi-node/build.gradle
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleRestIT.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SLMSnapshotBlockingIntegTests.java
Labels: :Core/Features/ILM

#46358 [DOCS] Identify reloadable Azure repository plugin settings
  docs/plugins/repository-azure.asciidoc
  docs/reference/setup/secure-settings.asciidoc
Labels: :Core/Infra/Plugins, >docs, v8.0.0

#46401 [7.x][DOCS] Update snippets in security APIs (#46191)
  x-pack/docs/en/rest-api/security/authenticate.asciidoc
  x-pack/docs/en/rest-api/security/change-password.asciidoc
  x-pack/docs/en/rest-api/security/clear-cache.asciidoc
  x-pack/docs/en/rest-api/security/clear-roles-cache.asciidoc
  x-pack/docs/en/rest-api/security/create-api-keys.asciidoc
  x-pack/docs/en/rest-api/security/create-role-mappings.asciidoc
  x-pack/docs/en/rest-api/security/create-roles.asciidoc
  x-pack/docs/en/rest-api/security/create-users.asciidoc
  x-pack/docs/en/rest-api/security/delegate-pki-authentication.asciidoc
  x-pack/docs/en/rest-api/security/delete-app-privileges.asciidoc
  x-pack/docs/en/rest-api/security/delete-role-mappings.asciidoc
  x-pack/docs/en/rest-api/security/delete-roles.asciidoc
  x-pack/docs/en/rest-api/security/delete-users.asciidoc
  x-pack/docs/en/rest-api/security/disable-users.asciidoc
  x-pack/docs/en/rest-api/security/enable-users.asciidoc
  x-pack/docs/en/rest-api/security/get-api-keys.asciidoc
  x-pack/docs/en/rest-api/security/get-app-privileges.asciidoc
  x-pack/docs/en/rest-api/security/get-builtin-privileges.asciidoc
  x-pack/docs/en/rest-api/security/get-role-mappings.asciidoc
  x-pack/docs/en/rest-api/security/get-roles.asciidoc
  x-pack/docs/en/rest-api/security/get-tokens.asciidoc
  x-pack/docs/en/rest-api/security/get-users.asciidoc
  x-pack/docs/en/rest-api/security/has-privileges.asciidoc
  x-pack/docs/en/rest-api/security/invalidate-api-keys.asciidoc
  x-pack/docs/en/rest-api/security/invalidate-tokens.asciidoc
  x-pack/docs/en/rest-api/security/oidc-authenticate-api.asciidoc
  x-pack/docs/en/rest-api/security/oidc-logout-api.asciidoc
  x-pack/docs/en/rest-api/security/oidc-prepare-authentication-api.asciidoc
  x-pack/docs/en/rest-api/security/put-app-privileges.asciidoc
  x-pack/docs/en/rest-api/security/ssl.asciidoc
Labels: backport

#46152 [DOCS] Reformats Watcher APIs using template
  x-pack/docs/en/rest-api/watcher/ack-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/activate-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/deactivate-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/delete-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/execute-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/get-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/put-watch.asciidoc
  x-pack/docs/en/rest-api/watcher/start.asciidoc
  x-pack/docs/en/rest-api/watcher/stats.asciidoc
  x-pack/docs/en/rest-api/watcher/stop.asciidoc
Labels: :Core/Features/Watcher, >docs, v7.5.0, v8.0.0

#46405 7.4/ml fix instance serialization bwc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/calendars/ScheduledEvent.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ForecastRequestStats.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/logging/CppLogMessage.java
Labels: :ml, >non-issue, backport, v7.4.1

#46399 [7.x] Support geotile_grid aggregation in composite agg sources (#45810)
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/230_composite.yml
  server/src/main/java/org/elasticsearch/search/DocValueFormat.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeValuesSourceParserHelper.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/GeoTileGridValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/GeoTileValuesSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/CellIdSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileUtils.java
  server/src/test/java/org/elasticsearch/search/DocValueFormatTests.java
  server/src/test/java/org/elasticsearch/search/SearchSortValuesTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregationBuilderTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/GeoTileGridValuesSourceBuilderTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileUtilsTests.java
Labels: :Analytics/Aggregations, >enhancement, backport, v7.5.0

#46404 7.x/ml fix instance serialization bwc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/calendars/ScheduledEvent.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ForecastRequestStats.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/logging/CppLogMessage.java
Labels: :ml, >non-issue, backport, v7.5.0

#46331 Add docs on upgrading the keystore
  docs/reference/setup/secure-settings.asciidoc
Labels: :Core/Infra/Settings, >docs, v6.8.4, v7.3.2, v7.4.0, v7.5.0, v8.0.0

#46403 [ML] Fixing instance serialization version for bwc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/calendars/ScheduledEvent.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ForecastRequestStats.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/logging/CppLogMessage.java
Labels: :ml, >non-issue, v8.0.0

#46322 [DOCS] Reformat index stats API docs
  docs/reference/cluster/nodes-stats.asciidoc
  docs/reference/indices/stats.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, :Core/Features/Stats, >docs, v7.3.0, v7.4.0, v7.5.0, v8.0.0

#46400 Adjusting bwc serialization after backport
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/230_composite.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeValuesSourceParserHelper.java
Labels: :Analytics/Aggregations, >non-issue, v8.0.0

#46413 [7.2][DOCS] Identify reloadable Azure repository plugin settings (#46358)
  docs/plugins/repository-azure.asciidoc
  docs/reference/setup/secure-settings.asciidoc
Labels: backport

#46321 Clarify error message on keystore write permissions
  qa/evil-tests/src/test/java/org/elasticsearch/common/settings/EvilKeyStoreWrapperTests.java
  server/src/main/java/org/elasticsearch/common/settings/KeyStoreWrapper.java
Labels: :Core/Infra/Settings, >enhancement, v7.5.0, v8.0.0

#46398 [Transform] reuse mock client to avoid problems with thread context closed errors
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/checkpoint/DataFrameTransformCheckpointServiceNodeTests.java
Labels: :ml/Data Frame, >test-failure, v7.4.1, v7.5.0, v8.0.0

#46415 [DOCS] [7.3] Reformat index stats API docs (#46322)
  docs/reference/cluster/nodes-stats.asciidoc
  docs/reference/indices/stats.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, :Core/Features/Stats, >docs, v7.3.0

#46410 [7.4][DOCS] Update snippets in security APIs (#46191)
  x-pack/docs/en/rest-api/security/authenticate.asciidoc
  x-pack/docs/en/rest-api/security/change-password.asciidoc
  x-pack/docs/en/rest-api/security/clear-cache.asciidoc
  x-pack/docs/en/rest-api/security/clear-roles-cache.asciidoc
  x-pack/docs/en/rest-api/security/create-api-keys.asciidoc
  x-pack/docs/en/rest-api/security/create-role-mappings.asciidoc
  x-pack/docs/en/rest-api/security/create-roles.asciidoc
  x-pack/docs/en/rest-api/security/create-users.asciidoc
  x-pack/docs/en/rest-api/security/delegate-pki-authentication.asciidoc
  x-pack/docs/en/rest-api/security/delete-app-privileges.asciidoc
  x-pack/docs/en/rest-api/security/delete-role-mappings.asciidoc
  x-pack/docs/en/rest-api/security/delete-roles.asciidoc
  x-pack/docs/en/rest-api/security/delete-users.asciidoc
  x-pack/docs/en/rest-api/security/disable-users.asciidoc
  x-pack/docs/en/rest-api/security/enable-users.asciidoc
  x-pack/docs/en/rest-api/security/get-api-keys.asciidoc
  x-pack/docs/en/rest-api/security/get-app-privileges.asciidoc
  x-pack/docs/en/rest-api/security/get-builtin-privileges.asciidoc
  x-pack/docs/en/rest-api/security/get-role-mappings.asciidoc
  x-pack/docs/en/rest-api/security/get-roles.asciidoc
  x-pack/docs/en/rest-api/security/get-tokens.asciidoc
  x-pack/docs/en/rest-api/security/get-users.asciidoc
  x-pack/docs/en/rest-api/security/has-privileges.asciidoc
  x-pack/docs/en/rest-api/security/invalidate-api-keys.asciidoc
  x-pack/docs/en/rest-api/security/invalidate-tokens.asciidoc
  x-pack/docs/en/rest-api/security/oidc-authenticate-api.asciidoc
  x-pack/docs/en/rest-api/security/oidc-logout-api.asciidoc
  x-pack/docs/en/rest-api/security/oidc-prepare-authentication-api.asciidoc
  x-pack/docs/en/rest-api/security/put-app-privileges.asciidoc
  x-pack/docs/en/rest-api/security/ssl.asciidoc
Labels: backport

#46131 [ML-DataFrame] improve error message for timeout case in stop
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportStopDataFrameTransformAction.java
Labels: :ml/Data Frame, v7.5.0, v8.0.0

#46380 Fix usage of randomIntBetween() in testWriteBlobWithRetries
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobContainerRetriesTests.java
Labels: :Distributed/Snapshot/Restore, >test, v7.4.1, v7.5.0, v8.0.0

#46375 Add a system property to ignore awareness attributes
  docs/reference/modules/cluster/allocation_awareness.asciidoc
  qa/evil-tests/src/test/java/org/elasticsearch/cluster/routing/EvilSystemPropertyTests.java
  server/src/main/java/org/elasticsearch/cluster/routing/OperationRouting.java
Labels: :Search/Search, >non-issue, v7.5.0

#45226 Resolve the incorrect scroll_current when delete or close index
  server/src/main/java/org/elasticsearch/index/search/stats/SearchStats.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
Labels: :Search/Search, >bug, v7.5.0, v8.0.0

#46402 [ML] Extract DataFrameAnalyticsTask into its own class
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDataFrameAnalyticsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsResultProcessorTests.java
Labels: :ml, >refactoring, v7.5.0, v8.0.0

#46397 Update update.asciidoc
  docs/reference/docs/update.asciidoc
Labels: :Distributed/CRUD, >docs, v7.3.2, v7.4.1, v8.0.0

#46426 [7.x][ML] Extract DataFrameAnalyticsTask into its own class (#46402)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDataFrameAnalyticsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsResultProcessorTests.java
Labels: :ml, >refactoring, backport, v7.5.0

#46431 Add yet more logging around index creation
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/allocation/TransportClusterAllocationExplainAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/TransportAddVotingConfigExclusionsAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/TransportClearVotingConfigExclusionsAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/TransportClusterUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/tasks/TransportPendingClusterTasksAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/TransportIndicesAliasesAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/close/TransportCloseIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/CreateIndexClusterStateUpdateRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/delete/TransportDeleteIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/get/TransportGetMappingsAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/put/TransportPutMappingAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/open/TransportOpenIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/put/TransportUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/TransportIndicesShardStoresAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/delete/TransportDeleteIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/put/TransportPutIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/upgrade/post/TransportUpgradeSettingsAction.java
  server/src/main/java/org/elasticsearch/action/support/master/TransportMasterNodeAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportUnfollowAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/DataFrameUsageTransportAction.java
  x-pack/plugin/frozen-indices/src/main/java/org/elasticsearch/xpack/frozen/action/TransportFreezeIndexAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportRetryAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportFinalizeJobExecutionAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDatafeedsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDatafeedsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetJobsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportPutRollupJobAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/transport/actions/service/TransportWatcherServiceAction.java
Labels: :Core/Infra/Transport API, >test, v8.0.0

#46306 [Transform] simplify class structure of indexer
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/ClientDataFrameIndexer.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/ClientDataFrameIndexerBuilder.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameIndexer.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformPersistentTasksExecutor.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/ClientDataFrameIndexerTests.java
Labels: :ml/Data Frame, >refactoring, v7.5.0, v8.0.0

#46394 Deprecate the "index.max_adjacency_matrix_filters" setting
  docs/reference/aggregations/bucket/adjacency-matrix-aggregation.asciidoc
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/test/java/org/elasticsearch/index/IndexSettingsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregationBuilderTests.java
Labels: :Analytics/Aggregations

#46432 [ML] Tolerate total_search_time_ms not mapped in get datafeed stats
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/get_datafeed_stats.yml
Labels: :ml, >non-issue, v7.4.0, v7.5.0, v8.0.0

#46434 [DOCS] Adds progress parameter description to the GET stats data frame analytics API doc
  docs/reference/ml/df-analytics/apis/get-dfanalytics-stats.asciidoc
Labels: :ml, :ml/Data Frame, >docs, v7.4.1, v7.5.0, v8.0.0

#46419 [DOCS] Re-sort common-parms
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Docs, >docs, v7.3.0, v7.4.0, v7.5.0, v8.0.0

#46442 [DOCS] [7.x] Resort common-parms (#46419)
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Docs, >docs, backport, v7.5.0

#46339 [DOCS] Add index alias definition to glossary
  docs/reference/glossary.asciidoc
  docs/reference/indices/add-alias.asciidoc
  docs/reference/indices/alias-exists.asciidoc
  docs/reference/indices/aliases.asciidoc
  docs/reference/indices/delete-alias.asciidoc
  docs/reference/indices/get-alias.asciidoc
Labels: :Core/Features/Indices APIs, >docs, v7.3.0, v7.4.0, v7.5.0, v8.0.0

#46450 [DOCS] Correct definition for `allow_no_indices` parameter
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, :Search/Mapping, >docs, v7.3.0, v7.4.0, v7.5.0, v8.0.0

#46455 Increase REST-Test Client Timeout to 60s
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: :Core/Infra/Build, >test, v7.5.0, v8.0.0

#46463 [DOCS] Remove cat request from Index Segments API requests
  docs/reference/indices/segments.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/CRUD, >docs, v7.3.0, v7.4.0, v7.5.0, v8.0.0

#46340 Always rebuild checkpoint tracker for old indices
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: :Distributed/Engine, >bug, v6.8.4

#46461 Increase REST-Test Client Timeout to 60s (#46455)
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: :Core/Infra/Build, backport

#46421 SQL: fix scripting for grouped by datetime functions
  x-pack/plugin/sql/qa/src/main/resources/datetime-interval.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/NamedDateTimeFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/NonIsoDateTimeFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/Quarter.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
Labels: :Search/SQL, >bug

#46386 SQL: Use null schema response
  x-pack/plugin/sql/qa/src/main/resources/setup_mock_metadata_get_tables.sql
  x-pack/plugin/sql/qa/src/main/resources/setup_mock_metadata_get_types_of_table.sql
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTables.java
Labels: :Search/SQL, >bug

#46458 Ignore replication for noop updates
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkWithUpdatesIT.java
Labels: :Distributed/CRUD, >bug, v7.4.1, v7.5.0, v8.0.0

#46436 Add support for OneZoneInfrequentAccess storage
  docs/plugins/repository-s3.asciidoc
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobStoreTests.java
  plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3RepositoryThirdPartyTests.java
Labels: :Distributed/Snapshot/Restore, >docs, >test, v7.5.0, v8.0.0

#46376 Inject random server errors in GoogleCloudStorageBlobStoreRepositoryTests
  plugins/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageService.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
Labels: :Distributed/Snapshot/Restore, >test, v7.5.0, v8.0.0

#46371 Inject random server errors in AzureBlobStoreRepositoryTests
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureRepositoryPlugin.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureStorageService.java
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureBlobStoreRepositoryTests.java
Labels: :Distributed/Snapshot/Restore, >test, v7.5.0, v8.0.0
