Repository elastic/elasticsearch, pull requests merged in 2019-05, with the labels that each got.

#41697 Amend `prepareIndexIfNeededThenExecute` for security token refresh
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
Labels: :Security/Authentication, >bug, v7.1.0, v8.0.0

#41011 Parse empty first line in msearch request body as action metadata
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequest.java
  server/src/test/java/org/elasticsearch/action/search/MultiSearchRequestTests.java
  server/src/test/resources/org/elasticsearch/action/search/msearch-no-metadata.json
Labels: :Search/Search, >breaking, v8.0.0

#41701 Drop distinction in entries for keystore
  buildSrc/src/main/java/org/elasticsearch/gradle/precommit/ForbiddenPatternsTask.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/KeyStoreWrapperTests.java
  distribution/tools/keystore-cli/src/test/resources/format-v3-elasticsearch.keystore
  server/src/main/java/org/elasticsearch/common/settings/KeyStoreWrapper.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/FIPS140SecureSettingsBootstrapCheck.java
Labels: :Core/Infra/Settings, >enhancement, v7.1.0, v8.0.0

#41704 [ML] data frame, adding builder classes for complex config classes (#…
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/DataFrameTransformConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/SourceConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/pivot/DateHistogramGroupSource.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/pivot/GroupConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/pivot/HistogramGroupSource.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/pivot/PivotConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/pivot/TermsGroupSource.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/DataFrameTransformIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/dataframe/PreviewDataFrameTransformRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/dataframe/PutDataFrameTransformRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/dataframe/transforms/pivot/DateHistogramGroupSourceTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/DataFrameTransformDocumentationIT.java
Labels: :ml/Data Frame, >non-issue, backport, v7.1.0

#41673 BACKPORT Security Tokens moved to a new separate index
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/index/RestrictedIndicesNames.java
  x-pack/plugin/core/src/main/resources/security-index-template-7.json
  x-pack/plugin/core/src/main/resources/security-tokens-index-template-7.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ExpiredApiKeysRemover.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ExpiredTokenRemover.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/mapper/NativeRoleMappingStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativePrivilegeStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecurityIndexManager.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/integration/ClearRolesCacheTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/NativeRealmIntegTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/oidc/TransportOpenIdConnectLogoutActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlInvalidateSessionActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlLogoutActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/token/TransportCreateTokenActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/ESNativeMigrateToolTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeRealmIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/mapper/NativeRoleMappingStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizedIndicesTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/SnapshotUserRoleIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/IndicesPermissionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/NativePrivilegeStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/SecurityIndexManagerTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/test/SecurityTestUtils.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/user/XPackUserTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/security/hidden-index/13_security-tokens_read.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/security/hidden-index/14_security-tokens-7_read.yml
  x-pack/qa/rolling-upgrade/build.gradle
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/TokenBackwardsCompatibilityIT.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/50_token_auth.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/50_token_auth.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/50_token_auth.yml
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractAdLdapRealmTestCase.java
Labels: :Security/Authentication, backport, v7.1.0

#41709 Close and acquire commit during reset engine fix (#41584)
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: :Distributed/Engine, backport, v7.1.0

#41595 [DOCS] Reword `type` query deprecation note for Asciidoctor migration
  docs/reference/query-dsl/type-query.asciidoc
Labels: :Docs, >docs, v7.0.2, v7.1.0, v8.0.0

#41706 [DOCS] Doc version bump for 7.0.1
  docs/Versions.asciidoc
Labels: :Docs, >docs

#41644 Add release notes for 7.0.1 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.0.asciidoc
Labels: :Docs, >docs, v7.0.1, v7.1.0

#41714 Bump 7.0 branch version to 7.0.2
  buildSrc/version.properties
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v7.0.2

#41703 [ML] fix array oob in IDGenerator and adjust format for mapping
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFramePivotRestIT.java
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFrameRestTestCase.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/persistence/DataframeIndex.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/IDGenerator.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/IDGeneratorTests.java
Labels: :ml/Data Frame, >non-issue, v7.1.0, v8.0.0

#41466 Support http read timeouts for transport-nio
  libs/nio/src/main/java/org/elasticsearch/nio/BytesWriteHandler.java
  libs/nio/src/main/java/org/elasticsearch/nio/ReadWriteHandler.java
  libs/nio/src/main/java/org/elasticsearch/nio/SocketChannelContext.java
  libs/nio/src/main/java/org/elasticsearch/nio/TaskScheduler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/HttpReadWriteHandler.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpServerTransport.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/HttpReadWriteHandlerTests.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpClient.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpServerTransportTests.java
  server/src/main/java/org/elasticsearch/http/AbstractHttpServerTransport.java
  server/src/main/java/org/elasticsearch/http/HttpHandlingSettings.java
  server/src/main/java/org/elasticsearch/http/HttpReadTimeoutException.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransport.java
Labels: :Distributed/Network, >non-issue, v7.1.0, v8.0.0

#41700 Fix BulkProcessorRetryIT
  client/rest-high-level/src/test/java/org/elasticsearch/client/BulkProcessorRetryIT.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkProcessorRetryIT.java
Labels: :Distributed/Distributed, >test, v7.1.0, v8.0.0

#41553 Add enrich policy list API
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/EnrichPolicy.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/action/ListEnrichPolicyAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/action/PutEnrichPolicyAction.java
  x-pack/plugin/enrich/qa/rest/src/test/resources/rest-api-spec/test/enrich/10_basic.yml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichStore.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportListEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/rest/RestListEnrichPolicyAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichStoreTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/ListEnrichPolicyActionResponseTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/enrich.list_policy.json
Labels: :Core/Features/Ingest, >enhancement

#41720 [DOCS] Adds ml-cpp PR to 7.0.1 release notes
  docs/reference/release-notes/7.0.asciidoc
Labels: :ml, >docs, v7.0.1

#41715 Add version 7.0.2 to 7.x branch
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v7.2.0

#41716 Add version 7.0.2 to master branch
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v8.0.0

#41615 [DOCS] Add `:` to render multiple inline macros in Asciidoctor
  docs/reference/settings/notification-settings.asciidoc
Labels: :Docs, >docs, v7.0.2, v7.2.0, v8.0.0

#41662 Run packaging tests on RHEL 8
  TESTING.asciidoc
  Vagrantfile
  buildSrc/src/main/groovy/org/elasticsearch/gradle/vagrant/VagrantTestPlugin.groovy
Labels: :Core/Infra/Packaging, v7.0.2, v7.1.0, v7.2.0, v8.0.0

#41723 Fix for full cluster restart tests
  buildSrc/src/main/groovy/com/carrotsearch/gradle/junit4/RandomizedTestingTask.groovy
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: :Core/Infra/Build, v6.7.3, v6.8.0

#41728 Use separate tasks per bwc artifact
  buildSrc/src/test/java/org/elasticsearch/gradle/VersionCollectionTests.java
  distribution/bwc/build.gradle
Labels: :Core/Infra/Build, backport, v7.1.0

#41711 Add details to BulkShardRequest#getDescription()
  server/src/main/java/org/elasticsearch/action/bulk/BulkShardRequest.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TasksIT.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkShardRequestTests.java
Labels: :Distributed/CRUD, >enhancement, v7.2.0, v8.0.0

#41719 Unmute BWC tests for Backport #41673
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/TokenBackwardsCompatibilityIT.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/50_token_auth.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/50_token_auth.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/50_token_auth.yml
Labels: :Security/Authentication, >non-issue, v8.0.0

#41414 [ML] Refactor NativeStorageProvider to enable reuse
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportForecastJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/NativeStorageProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/process/NativeStorageProviderTests.java
Labels: :ml, >non-issue, >refactoring, v7.2.0, v8.0.0

#41623 Small correction in comments
  test/framework/src/main/java/org/elasticsearch/test/AbstractWireTestCase.java
Labels: :Core/Infra/Build, >non-issue, v7.2.0, v8.0.0

#41422 [DOCS] Doc version bump for 6.7.2
  docs/Versions.asciidoc
Labels: :Docs, >docs, v6.7.2

#41749 Removes 'coming' tag for RN
  docs/reference/release-notes/6.7.asciidoc
Labels: >docs, v6.7.2

#41741 [ML-DataFrame] simplify indexer by moving members to base class
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameIndexer.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformTask.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameIndexerTests.java
Labels: :ml/Data Frame, >refactoring, v7.2.0, v8.0.0

#41724 [ML] Correct indexer state on task re-allocation
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformPersistentTasksExecutor.java
Labels: :ml/Data Frame, >non-issue, v7.2.0, v8.0.0

#41746 [ML] Refactor NativeStorageProvider to enable reuse (#41414)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportForecastJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/NativeStorageProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/process/NativeStorageProviderTests.java
Labels: :ml, >non-issue, >refactoring, backport, v7.2.0

#41495 Add enrich policy DELETE API
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/action/DeleteEnrichPolicyAction.java
  x-pack/plugin/enrich/qa/rest/src/test/java/org/elasticsearch/xpack/enrich/EnrichIT.java
  x-pack/plugin/enrich/qa/rest/src/test/resources/rest-api-spec/test/enrich/10_basic.yml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportDeleteEnrichPolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/rest/RestDeleteEnrichPolicyAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/DeleteEnrichPolicyActionRequestTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/enrich.delete_policy.json
Labels: :Core/Features/Ingest, >enhancement

#41718 Support http read timeouts for transport-nio
  libs/nio/src/main/java/org/elasticsearch/nio/BytesWriteHandler.java
  libs/nio/src/main/java/org/elasticsearch/nio/ReadWriteHandler.java
  libs/nio/src/main/java/org/elasticsearch/nio/SocketChannelContext.java
  libs/nio/src/main/java/org/elasticsearch/nio/TaskScheduler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/HttpReadWriteHandler.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpServerTransport.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/HttpReadWriteHandlerTests.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpClient.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpServerTransportTests.java
  server/src/main/java/org/elasticsearch/http/AbstractHttpServerTransport.java
  server/src/main/java/org/elasticsearch/http/HttpHandlingSettings.java
  server/src/main/java/org/elasticsearch/http/HttpReadTimeoutException.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransport.java
Labels: :Distributed/Network, >non-issue, backport, v7.2.0

#41717 [ML] fix array oob in IDGenerator and adjust format for mapping (#41703)
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFramePivotRestIT.java
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFrameRestTestCase.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/persistence/DataframeIndex.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/IDGenerator.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/IDGeneratorTests.java
Labels: :ml/Data Frame, >non-issue, backport, v7.2.0

#41088 Add enrich policy runner
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/PolicyExecutionResult.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
Labels: :Core/Features/Ingest, >non-issue

#41751 [ML] Correct indexer state on task re-allocation (#41724)
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformPersistentTasksExecutor.java
Labels: :ml/Data Frame, >non-issue, backport, v7.2.0

#41385 Update TLS ciphers and protocols for JDK 11
  docs/reference/settings/security-settings.asciidoc
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/SslConfiguration.java
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/SslConfigurationLoader.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexRestClientSslTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/TrustConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/XPackSettingsTests.java
  x-pack/plugin/core/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/testclient.jks
  x-pack/plugin/core/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/testnode_ec.pem
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLDriver.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecuritySettingsSource.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/pki/PkiAuthenticationTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/AbstractSimpleSecurityTransportTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ServerTransportFilterIntegrationTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ssl/EllipticCurveSSLTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLClientAuthTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLReloadIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLTrustRestrictionsTests.java
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/testclient.jks
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/testnode.jks
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/testnode.p12
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/testnode_ec.crt
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/testnode_ec.pem
Labels: :Security/Network, >enhancement, v8.0.0

#41754 [ML-DataFrame] remove validation from client
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/QueryConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/pivot/AggregationConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/pivot/GroupConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/pivot/PivotConfig.java
Labels: :ml/Data Frame, >non-issue, v7.2.0, v8.0.0

#41691 Do not print null method name in reproduce line
  test/framework/src/main/java/org/elasticsearch/test/junit/listeners/ReproduceInfoPrinter.java
Labels: :Core/Infra/Build, >non-issue, v7.2.0, v8.0.0

#41609 Improve error message for ln/log with negative results in function score
  server/src/main/java/org/elasticsearch/common/lucene/search/function/FieldValueFactorFunction.java
  server/src/test/java/org/elasticsearch/index/query/functionscore/FunctionScoreTests.java
Labels: :Search/Ranking, >enhancement, v7.2.0, v8.0.0

#41544 fix create-api-keys doc formatting
  x-pack/docs/en/rest-api/security/create-api-keys.asciidoc
Labels: :Security/Authentication, >docs

#41758 Simplify filtering addresses on interfaces
  server/src/main/java/org/elasticsearch/common/network/NetworkUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/common/network/InetAddressHelper.java
  x-pack/plugin/security/cli/src/main/java/org/elasticsearch/xpack/security/cli/CertGenUtils.java
Labels: :Core/Infra/Core, >non-issue, v7.2.0, v8.0.0

#41725 Read multiple TLS packets in one read call
  libs/nio/src/main/java/org/elasticsearch/nio/InboundChannelBuffer.java
  libs/nio/src/main/java/org/elasticsearch/nio/SocketChannelContext.java
  libs/nio/src/main/java/org/elasticsearch/nio/utils/ByteBufferUtils.java
  libs/nio/src/test/java/org/elasticsearch/nio/InboundChannelBufferTests.java
  libs/nio/src/test/java/org/elasticsearch/nio/SocketChannelContextTests.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpServerTransport.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTransport.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/PageAllocator.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContext.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLDriver.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioTransport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContextTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SSLDriverTests.java
Labels: :Security/Network, >non-issue, v7.2.0, v8.0.0

#41692 SQL: Switch server side for geosql from ShapeBuilder to libs/geo
  x-pack/plugin/sql/qa/src/main/resources/ogc/ogc.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/geo/GeoShape.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/geo/GeoProcessorTests.java
Labels: :Analytics/Geo, :Search/SQL, >refactoring

#41610 Recommend use of ln1p/log1p to avoid negative scores
  docs/reference/query-dsl/function-score-query.asciidoc
Labels: :Search/Ranking, >docs, v7.0.2, v7.1.0, v7.2.0, v8.0.0

#41776 Update security acknowledgement messages for basic
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/XPackLicenseStateTests.java
Labels: :Security/Security, >non-issue, v6.8.0, v7.1.0, v7.2.0, v8.0.0

#41753 Fix discovery config in docker-compose docs
  docs/reference/security/securing-communications/configuring-tls-docker.asciidoc
Labels: :Distributed/Cluster Coordination, >bug, >docs, v7.0.2, v7.1.0, v7.2.0, v8.0.0

#41537 Adapt low-level REST client to java 8
  client/rest/src/main/java/org/elasticsearch/client/DeadHostState.java
  client/rest/src/main/java/org/elasticsearch/client/Request.java
  client/rest/src/main/java/org/elasticsearch/client/RequestOptions.java
  client/rest/src/main/java/org/elasticsearch/client/RestClient.java
  client/rest/src/main/java/org/elasticsearch/client/RestClientBuilder.java
  client/rest/src/test/java/org/elasticsearch/client/DeadHostStateTests.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientTests.java
  docs/java-rest/low-level/usage.asciidoc
Labels: :Core/Features/Java Low Level REST Client, >enhancement, v7.2.0, v8.0.0

#41763 [ML-DataFrame] refactor pivot to only take the pivot config
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/transforms/QueryConfig.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportPreviewDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportPutDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportStartDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameIndexer.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/pivot/Pivot.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/pivot/PivotTests.java
Labels: :ml/Data Frame, >refactoring, v7.2.0, v8.0.0

#41782 Reject null customs at build time
  server/src/main/java/org/elasticsearch/cluster/ClusterState.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaData.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataTests.java
Labels: :Distributed/Cluster Coordination, >non-issue, v7.2.0, v8.0.0

#41755 Upgrade keystore on package install
  distribution/packages/src/common/scripts/postinst
  distribution/packages/src/common/scripts/posttrans
  distribution/tools/keystore-cli/src/main/java/org/elasticsearch/common/settings/KeyStoreCli.java
  distribution/tools/keystore-cli/src/main/java/org/elasticsearch/common/settings/UpgradeKeyStoreCommand.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/UpgradeKeyStoreCommandTests.java
  qa/vagrant/src/test/resources/packaging/tests/80_upgrade.bats
  server/src/main/java/org/elasticsearch/common/settings/KeyStoreWrapper.java
Labels: :Core/Infra/Settings, >non-issue, blocker, v6.8.0, v7.1.0, v7.2.0, v8.0.0

#41788 Cut over ClusterSearchShardsGroup to Writeable
  server/src/main/java/org/elasticsearch/action/admin/cluster/shards/ClusterSearchShardsGroup.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/shards/ClusterSearchShardsResponse.java
Labels: :Search/Search, >enhancement, v7.2.0, v8.0.0

#41769 [7.0] Recommend use of ln1p/log1p to avoid negative scores (#41610)
  docs/reference/query-dsl/function-score-query.asciidoc
Labels: >docs, backport, v7.0.2

#41768 [7.1] Recommend use of ln1p/log1p to avoid negative scores (#41610)
  docs/reference/query-dsl/function-score-query.asciidoc
Labels: >docs, backport, v7.1.0

#41761 [ML Data Frame] Update Preivew docs for source config change
  docs/reference/data-frames/apis/preview-transform.asciidoc
  docs/reference/rest-api/index.asciidoc
Labels: :ml/Data Frame, >docs, v7.2.0, v8.0.0

#41773 [DOCS] Adds placeholders for 7.1 highlights and breaking changes
  docs/reference/migration/index.asciidoc
  docs/reference/migration/migrate_7_1.asciidoc
  docs/reference/release-notes/highlights-7.1.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: :Docs, >docs, v7.1.0

#41400 Noop peer recoveries on closed index
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/test/java/org/elasticsearch/indices/state/CloseIndexIT.java
Labels: :Distributed/Distributed, >enhancement, v7.2.0, v8.0.0

#41573 Update error message for allowed characters in aggregation names
  server/src/main/java/org/elasticsearch/search/aggregations/AggregatorFactories.java
Labels: :Analytics/Aggregations, >bug, v7.2.0, v8.0.0

#41793 [ML] rewriting stats gathering to use callbacks instead of a latch
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportGetDataFrameTransformsStatsAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/checkpoint/DataFrameTransformsCheckpointService.java
Labels: :ml/Data Frame, >refactoring, v7.2.0, v8.0.0

#41801 Fix http read timeout test by releasing response
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/HttpReadWriteHandlerTests.java
Labels: :Distributed/Network, >test, v7.2.0, v8.0.0

#41661 Verify consistency of version and source in disruption tests
  server/src/test/java/org/elasticsearch/discovery/ClusterDisruptionIT.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/elasticsearch/index/replication/RecoveryDuringReplicationTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/DocIdSeqNoAndSource.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: backport, v7.2.0

#41804 [ML] rewriting stats gathering to use callbacks instead of a latch
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportGetDataFrameTransformsStatsAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/checkpoint/DataFrameTransformsCheckpointService.java
Labels: :ml/Data Frame, >non-issue, backport, v7.2.0

#41672 StackOverflowError when calling BulkRequest#add
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequest.java
Labels: :Core/Features/Java High Level REST Client

#41817 Use a proper repository for ml-cpp artifacts
  x-pack/plugin/ml/build.gradle
  x-pack/plugin/ml/cpp-snapshot/.gitignore
  x-pack/plugin/ml/cpp-snapshot/build.gradle
Labels: :Core/Infra/Build, >non-issue, v6.8.0, v7.1.0, v7.2.0, v8.0.0

#41812 Enforce that Maven/Ivy repositories use https
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
Labels: :Core/Infra/Build, v7.2.0, v8.0.0

#41489 Add index name to cluster block exception
  server/src/main/java/org/elasticsearch/cluster/block/ClusterBlockException.java
  server/src/main/java/org/elasticsearch/cluster/block/ClusterBlocks.java
  server/src/test/java/org/elasticsearch/action/admin/indices/delete/DeleteIndexBlocksIT.java
  server/src/test/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeActionTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
Labels: :Distributed/Distributed, >enhancement, v7.2.0, v8.0.0

#41818 Set metadata sources for Ivy repositories
  distribution/build.gradle
  qa/wildfly/build.gradle
Labels: :Core/Infra/Build, >non-issue, v6.8.0, v7.1.0, v7.2.0, v8.0.0

#41778 Log warning when unlicensed realms are skipped
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RealmsTests.java
Labels: :Security/Authentication, >enhancement, v6.8.0, v7.1.0, v7.2.0, v8.0.0

#41825 [BACKPORT 7.x] Update security acknowledgement messages for basic
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/XPackLicenseStateTests.java
Labels: backport

#41826 [Backport 7.1] Update security acknowledgement messages for basic
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/XPackLicenseStateTests.java
Labels: backport

#41827 [Backport 6.8] Update security acknowledgement messages for basic
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/XPackLicenseStateTests.java
Labels: backport

#41779 Clarify settings in default SSL/TLS
  docs/reference/settings/security-settings.asciidoc
Labels: :Security/Network, >docs, v7.0.2, v7.1.0, v7.2.0, v8.0.0

#41736 [ML-DataFrame] reset/clear the position after indexer is done
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexer.java
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFrameGetAndGetStatsIT.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameIndexer.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/job/RollupIndexer.java
Labels: :Analytics/Rollup, :ml/Data Frame, >non-issue, team-discuss, v7.2.0, v8.0.0

#41739 Skip explain phase when only suggestions are requested
  server/src/main/java/org/elasticsearch/search/fetch/subphase/ExplainFetchSubPhase.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/test/java/org/elasticsearch/search/suggest/CompletionSuggestSearchIT.java
Labels: :Search/Suggesters, >bug, v7.2.0, v8.0.0

#41504 Testsclusters use seprate configurations per version
  buildSrc/src/main/java/org/elasticsearch/gradle/Distribution.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClustersPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/tool/Boilerplate.java
  buildSrc/src/test/java/org/elasticsearch/gradle/testclusters/TestClustersPluginIT.java
  buildSrc/src/testKit/testclusters/build.gradle
Labels: :Core/Infra/Build, >non-issue, v7.2.0, v8.0.0

#41641 Fix javadoc in WrapperQueryBuilder
  server/src/main/java/org/elasticsearch/index/query/WrapperQueryBuilder.java
Labels: :Search/Search, >non-issue, v7.2.0, v8.0.0

#41803 [ML] addresses preview bug, and adds check to PUT
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/DataFrameMessages.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportPreviewDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportPutDataFrameTransformAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_frame/preview_transforms.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_frame/transforms_crud.yml
Labels: :ml/Data Frame, >non-issue, v7.2.0, v8.0.0

#41800 [ML-DataFrame] add sync api
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/DataFrameNamedXContentProvider.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/DataFrameTransformConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/SyncConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/transforms/TimeSyncConfig.java
  client/rest-high-level/src/main/resources/META-INF/services/org.elasticsearch.plugins.spi.NamedXContentProvider
  client/rest-high-level/src/test/java/org/elasticsearch/client/DataFrameRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/dataframe/GetDataFrameTransformResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/dataframe/PreviewDataFrameTransformRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/dataframe/PutDataFrameTransformRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/dataframe/transforms/DataFrameTransformConfigTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/dataframe/transforms/TimeSyncConfigTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/dataframe/transforms/hlrc/TimeSyncConfigTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/DataFrameTransformDocumentationIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/DataFrameField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/DataFrameNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/transforms/DataFrameTransformConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/transforms/SyncConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/transforms/TimeSyncConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/dataframe/action/AbstractSerializingDataFrameTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/dataframe/action/AbstractWireSerializingDataFrameTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/dataframe/action/PreviewDataFrameTransformActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/dataframe/transforms/AbstractSerializingDataFrameTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/dataframe/transforms/DataFrameTransformConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/dataframe/transforms/TimeSyncConfigTests.java
  x-pack/plugin/data-frame/qa/multi-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFrameIntegTestCase.java
  x-pack/plugin/data-frame/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/dataframe/integration/DataFrameTransformProgressIT.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/DataFrame.java
Labels: :ml/Data Frame, >feature

#41848 Mute MultiMatchQueryBuilder#testToQuery
  server/src/test/java/org/elasticsearch/index/query/MultiMatchQueryBuilderTests.java
Labels: :Search/Search, >test-mute, v6.8.0

#41842 ReadOnlyEngine assertion fix
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
Labels: :Distributed/Engine, >non-issue, v7.2.0, v8.0.0

#41858 Mute PermissionsIT#testWhen[...]ByILMPolicy
  x-pack/plugin/ilm/qa/with-security/src/test/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: :Core/Features/ILM, >test-mute, v6.8.0, v7.1.0, v7.2.0, v8.0.0

#41859 Mute PermissionsIT#testWhen[...]ByILMPolicy
  x-pack/plugin/ilm/qa/with-security/src/test/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: :Core/Features/ILM, >test-mute, backport

#41860 Mute PermissionsIT#testWhen[...]ByILMPolicy
  x-pack/plugin/ilm/qa/with-security/src/test/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: :Core/Features/ILM, >test-mute, backport

#41861 Mute PermissionsIT#testWhen[...]ByILMPolicy
  x-pack/plugin/ilm/qa/with-security/src/test/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: :Core/Features/ILM, >test-mute, backport

#41759 Backport 7.x - Add enrich policy runner (#41088)
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/PolicyExecutionResult.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
Labels: :Core/Features/Ingest, backport

#41498 [DOCS] Rewrite `term` query docs for new format
  docs/reference/query-dsl/term-query.asciidoc
Labels: :Search/Search, >docs, WIP, v7.0.2, v7.2.0, v8.0.0

#41693 Cleanup Bulk Delete Exception Logging
  plugins/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStore.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobContainer.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.2.0, v8.0.0

#41787 SQL: [Docs] Add example for custom bucketing with CASE
  docs/reference/sql/functions/conditional.asciidoc
  docs/reference/sql/language/syntax/commands/select.asciidoc
Labels: :Search/SQL, >docs, v7.1.0, v7.2.0, v8.0.0

#41820 Read multiple TLS packets in one read call
  libs/nio/src/main/java/org/elasticsearch/nio/InboundChannelBuffer.java
  libs/nio/src/main/java/org/elasticsearch/nio/SocketChannelContext.java
  libs/nio/src/main/java/org/elasticsearch/nio/utils/ByteBufferUtils.java
  libs/nio/src/test/java/org/elasticsearch/nio/InboundChannelBufferTests.java
  libs/nio/src/test/java/org/elasticsearch/nio/SocketChannelContextTests.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpServerTransport.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTransport.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/PageAllocator.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContext.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLDriver.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioTransport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContextTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SSLDriverTests.java
Labels: :Security/Network, >non-issue, backport, v7.2.0

#41849 Fix javadoc in WrapperQueryBuilder backport(41641)
  server/src/main/java/org/elasticsearch/index/query/WrapperQueryBuilder.java
Labels: :Search/Search, >non-issue, backport

#41850 [ML] addresses preview bug, and adds check to PUT (#41803)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/DataFrameMessages.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportPreviewDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportPutDataFrameTransformAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_frame/preview_transforms.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_frame/transforms_crud.yml
Labels: :ml/Data Frame, >non-issue, backport, v7.2.0

#41829 Remove `nonApplicationWrite` from `SSLDriver`
  libs/nio/src/main/java/org/elasticsearch/nio/ChannelContext.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContext.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLDriver.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SSLOutboundBuffer.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SSLChannelContextTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SSLDriverTests.java
Labels: :Security/Network, >non-issue, v7.2.0, v8.0.0

#41772 SQL: Add ST_Z function
  docs/reference/sql/functions/geo.asciidoc
  docs/reference/sql/functions/index.asciidoc
  x-pack/plugin/sql/qa/src/main/resources/command.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/docs/geo.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/geo/geosql-bulk.json
  x-pack/plugin/sql/qa/src/main/resources/geo/geosql.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/FunctionRegistry.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/geo/GeoProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/geo/GeoShape.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/geo/StZ.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/whitelist/InternalSqlScriptUtils.java
  x-pack/plugin/sql/src/main/resources/org/elasticsearch/xpack/sql/plugin/sql_whitelist.txt
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/geo/GeoProcessorTests.java
Labels: :Analytics/Geo, :Search/SQL, >enhancement

#41854 Fix full text queries test that start with now
  server/src/test/java/org/elasticsearch/index/query/FullTextQueryTestCase.java
  server/src/test/java/org/elasticsearch/index/query/MatchQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/MultiMatchQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryStringQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SimpleQueryStringBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
Labels: :Search/Search, >non-issue, >test-failure

#41743 Remove the jdk directory to save space on bwc tests
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterFormationTasks.groovy
Labels: :Core/Infra/Build, >non-issue, v7.0.0, v7.1.0, v7.2.0, v8.0.0

#41727 Clarify that _doc is a permanent part of certain document APIs.
  docs/reference/mapping/removal_of_types.asciidoc
Labels: :Search/Mapping, >docs

#41643 [DOCS] remove es.scripting.update.ctx_in_params system property for 7.x
  docs/build.gradle
Labels: :Core/Infra/Build

#41658 Clarify that path_match also considers object fields.
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: :Search/Mapping, >docs

#41590 Switch run task to use real distro
  buildSrc/src/main/groovy/org/elasticsearch/gradle/plugin/PluginBuildPlugin.groovy
  x-pack/plugin/ccr/build.gradle
  x-pack/plugin/data-frame/build.gradle
  x-pack/plugin/deprecation/build.gradle
  x-pack/plugin/graph/build.gradle
  x-pack/plugin/ilm/build.gradle
  x-pack/plugin/logstash/build.gradle
  x-pack/plugin/ml/build.gradle
  x-pack/plugin/monitoring/build.gradle
  x-pack/plugin/rollup/build.gradle
  x-pack/plugin/security/build.gradle
  x-pack/plugin/watcher/build.gradle
Labels: :Core/Infra/Build, >non-issue, v7.2.0, v8.0.0

#41828 [Backport 7.x] Log warning when unlicensed realms are skipped
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RealmsTests.java
Labels: backport

#41832 [Backport 7.1] Log warning when unlicensed realms are skipped
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RealmsTests.java
Labels: backport

#41834 [Backport 6.8] Log warning when unlicensed realms are skipped (#41778)
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RealmsTests.java
Labels: backport

#41823 Replace more uses of immutable map builder
  client/rest-high-level/src/test/java/org/elasticsearch/client/LicenseIT.java
  plugins/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageService.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobContainer.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Service.java
  server/src/main/java/org/elasticsearch/cluster/routing/IndexShardRoutingTable.java
  server/src/main/java/org/elasticsearch/common/util/Maps.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/engine/CommitStats.java
  server/src/main/java/org/elasticsearch/index/search/stats/ShardSearchStats.java
  server/src/main/java/org/elasticsearch/index/shard/InternalIndexingStats.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/transport/InboundHandler.java
  server/src/test/java/org/elasticsearch/client/transport/FailAndRetryMockTransport.java
  server/src/test/java/org/elasticsearch/common/util/MapsTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/AbstractIndicesClusterStateServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransport.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/history/WatchRecord.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpResponse.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/index/IndexActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/jira/JiraActionTests.java
Labels: :Core/Infra/Core, >non-issue, v8.0.0

#41819 Add tasks to build Docker build context artifacts
  distribution/docker/build.gradle
  distribution/docker/docker-build-context/build.gradle
  distribution/docker/oss-docker-build-context/build.gradle
  settings.gradle
Labels: :Core/Infra/Build, v6.8.0, v7.1.0, v7.2.0, v8.0.0

#41839 Change policy runner to use helper method on EnrichPolicy instead of
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/EnrichPolicy.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/ExactMatchProcessor.java
Labels: :Core/Features/Ingest, >non-issue

#41836 Rename enrich policy index_pattern field to indices.
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/EnrichPolicy.java
  x-pack/plugin/enrich/qa/rest/src/test/java/org/elasticsearch/xpack/enrich/EnrichIT.java
  x-pack/plugin/enrich/qa/rest/src/test/resources/rest-api-spec/test/enrich/10_basic.yml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactoryTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/ExactMatchProcessorTests.java
Labels: :Core/Features/Ingest, >non-issue

#41875 [Backport 6.8] Remove dynamic objects from security index
  x-pack/plugin/core/src/main/resources/security-index-template.json
Labels: backport

#41665 [ML] Refine client code for data frame analytics
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/DataFrameAnalysis.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/DataFrameAnalyticsConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/DataFrameAnalyticsDest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/DataFrameAnalyticsSource.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/DataFrameAnalyticsStats.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/MlDataFrameAnalysisNamedXContentProvider.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/OutlierDetection.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/QueryConfig.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/DataFrameAnalyticsDestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/DataFrameAnalyticsSourceTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/OutlierDetectionTests.java
Labels: :ml/Data Frame, >non-issue, v7.2.0, v8.0.0

#41645 Improvements to docs around multiplexer and synonyms
  docs/reference/analysis/tokenfilters/multiplexer-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/synonym-graph-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/synonym-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, v7.2.0, v8.0.0

#41340 Unmute TestClustersPluginIT.testMultiNode
  buildSrc/src/test/java/org/elasticsearch/gradle/testclusters/TestClustersPluginIT.java
Labels: :Core/Infra/Build, >non-issue, v7.2.0, v8.0.0

#41841 Move InternalAggregations to Writeable
  server/src/main/java/org/elasticsearch/search/aggregations/Aggregations.java
  server/src/main/java/org/elasticsearch/search/aggregations/InternalAggregations.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/InternalSingleBucketAggregation.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/InternalAdjacencyMatrix.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/InternalComposite.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/InternalFilters.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/InternalGeoGridBucket.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalAutoDateHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalDateHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantLongTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantStringTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalTerms.java
  server/src/main/java/org/elasticsearch/search/internal/InternalSearchResponse.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchResult.java
  server/src/test/java/org/elasticsearch/search/aggregations/InternalAggregationsTests.java
Labels: :Search/Search, >refactoring, v7.2.0, v8.0.0

#41838 Change the reindex fetch in policy runner from 1000 to 10000 and
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
Labels: :Core/Features/Ingest, >non-issue

#41857 Provide names for all artifact repositories
  .ci/init.gradle
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/vagrant/VagrantTestPlugin.groovy
  buildSrc/src/test/java/org/elasticsearch/gradle/BuildExamplePluginsIT.java
  buildSrc/src/testKit/elasticsearch.build/build.gradle
  buildSrc/src/testKit/jarHell/build.gradle
  buildSrc/src/testKit/testclusters/build.gradle
  buildSrc/src/testKit/thirdPartyAudit/build.gradle
  distribution/build.gradle
  distribution/packages/build.gradle
  docs/java-api/index.asciidoc
  docs/java-rest/high-level/getting-started.asciidoc
  docs/reference/setup/setup-xclient.asciidoc
  qa/build.gradle
  qa/wildfly/build.gradle
  x-pack/docs/en/watcher/java.asciidoc
  x-pack/plugin/ml/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
Labels: :Core/Infra/Build, >non-issue, v6.8.0, v7.1.0, v7.2.0, v8.0.0

#41868 [DOCS] Rewrite `exists` query docs
  docs/reference/query-dsl/exists-query.asciidoc
Labels: :Search/Search, >docs, v7.0.2, v7.1.0, v7.2.0, v8.0.0

#41884 Reenable RareClusterStateIT Mapping Propagation Tests
  server/src/test/java/org/elasticsearch/cluster/coordination/RareClusterStateIT.java
Labels: :Distributed/Distributed, >test, v8.0.0

#41851 [ML-DataFrame] migrate to PageParams for get and stats, move PageParams into core
  client/rest-high-level/src/main/java/org/elasticsearch/client/DataFrameRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/core/PageParams.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/GetDataFrameTransformRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/dataframe/GetDataFrameTransformStatsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetBucketsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetCalendarEventsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetCalendarsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetCategoriesRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetFiltersRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetInfluencersRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetModelSnapshotsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetRecordsRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/DataFrameRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/DataFrameTransformIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningGetResultsIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/DataFrameTransformDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetBucketsRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetCalendarEventsRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetCalendarsRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetCategoriesRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetInfluencersRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetModelSnapshotsRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/GetRecordsRequestTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/util/PageParamsTests.java
Labels: :ml/Data Frame, >breaking-java, >non-issue, v7.2.0, v8.0.0

#41404 Reject port ranges in `discovery.seed_hosts`
  plugins/discovery-azure-classic/src/main/java/org/elasticsearch/discovery/azure/classic/AzureSeedHostsProvider.java
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2SeedHostsProvider.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/Ec2DiscoveryTests.java
  plugins/discovery-gce/src/main/java/org/elasticsearch/discovery/gce/GceSeedHostsProvider.java
  server/src/main/java/org/elasticsearch/discovery/FileBasedSeedHostsProvider.java
  server/src/main/java/org/elasticsearch/discovery/SeedHostsProvider.java
  server/src/main/java/org/elasticsearch/discovery/SeedHostsResolver.java
  server/src/main/java/org/elasticsearch/discovery/SettingsBasedSeedHostsProvider.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/Transport.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/client/transport/FailAndRetryMockTransport.java
  server/src/test/java/org/elasticsearch/client/transport/TransportClientNodesServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/discovery/SeedHostsResolverTests.java
  server/src/test/java/org/elasticsearch/discovery/SettingsBasedSeedHostsProviderTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/StubbableTransport.java
Labels: :Distributed/Cluster Coordination, >bug, v7.2.0, v8.0.0

#41445 Remove op.name configuration setting in OIDC
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/oidc/OpenIdConnectRealmSettings.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectProviderConfiguration.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/SecurityRealmSettingsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectRealmSettingsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectTestCase.java
  x-pack/qa/oidc-op-tests/build.gradle
Labels: :Security/Authentication, >non-issue, v7.2.0, v8.0.0

#41871 Fix fractional seconds for strict_date_optional_time
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
Labels: :Core/Infra/Core, >bug, v7.1.0, v7.2.0, v8.0.0

#41898 Remove Harmful Exists Check from BlobStoreFormat
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreFormat.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, >bug, backport pending, v6.8.0, v7.1.0, v7.2.0, v8.0.0

#41893 Correct spelling of MockLogAppender.PatternSeenEventExpectation
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/ESLoggingHandlerIT.java
  plugins/transport-nio/src/test/java/org/elasticsearch/transport/nio/NioTransportLoggingIT.java
  server/src/test/java/org/elasticsearch/transport/TransportLoggerTests.java
  test/framework/src/main/java/org/elasticsearch/test/MockLogAppender.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
Labels: :Core/Infra/Logging, >non-issue, v7.2.0, v8.0.0

#41781 Handle serialization exceptions during publication
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
Labels: :Distributed/Cluster Coordination, >bug, v7.1.0, v7.2.0, v8.0.0

#41904 [DOCS] Fix callouts for dataframe APIs
  docs/java-rest/high-level/dataframe/get_data_frame.asciidoc
Labels: :ml/Data Frame, >docs, v7.2.0, v8.0.0

#41206 Decode functions for range field binary encoded doc values
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  server/src/main/java/org/apache/lucene/queries/BinaryDocValuesRangeQuery.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryRangeUtil.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeType.java
  server/src/main/java/org/elasticsearch/indices/IndicesModule.java
  server/src/test/java/org/apache/lucene/queries/BaseRandomBinaryDocValuesRangeQueryTestCase.java
  server/src/test/java/org/apache/lucene/queries/BinaryDocValuesRangeQueryTests.java
  server/src/test/java/org/apache/lucene/queries/DoubleRandomBinaryDocValuesRangeQueryTests.java
  server/src/test/java/org/apache/lucene/queries/FloatRandomBinaryDocValuesRangeQueryTests.java
  server/src/test/java/org/apache/lucene/queries/InetAddressRandomBinaryDocValuesRangeQueryTests.java
  server/src/test/java/org/apache/lucene/queries/IntegerRandomBinaryDocValuesRangeQueryTests.java
  server/src/test/java/org/apache/lucene/queries/LongRandomBinaryDocValuesRangeQueryTests.java
  server/src/test/java/org/elasticsearch/index/mapper/BinaryRangeUtilTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RangeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RangeFieldQueryStringQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RangeFieldTypeTests.java
Labels: :Search/Mapping, >enhancement

#41835 SQL: Remove CircuitBreaker from parser
  docs/reference/sql/limitations.asciidoc
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlParser.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/SqlParserTests.java
Labels: :Search/SQL, >bug, v6.8.0, v7.1.0, v7.2.0, v8.0.0

#41869 SQL: Add non-zero display size for geo types
  x-pack/plugin/sql/qa/single-node/src/test/java/org/elasticsearch/xpack/sql/qa/single_node/GeoJdbcCsvSpecIT.java
  x-pack/plugin/sql/qa/src/main/resources/single-node-only/command-sys-geo.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/DataType.java
Labels: :Analytics/Geo, :Search/SQL, >bug

#41810 Allow unknown task time in QueueResizingEsTPE
  server/src/main/java/org/elasticsearch/common/util/concurrent/QueueResizingEsThreadPoolExecutor.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/TimedRunnable.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/QueueResizingEsThreadPoolExecutorTests.java
  server/src/test/java/org/elasticsearch/node/NodeTests.java
Labels: :Core/Infra/Core, >bug, v7.2.0, v8.0.0

#41560 Cleanup versioned deprecations in analysis
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CJKBigramFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonAnalysisPlugin.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonGramsTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/EdgeNGramTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/FingerprintTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/LegacyDelimitedPayloadTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/MultiplexerTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/NGramTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/NGramTokenizerFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/StandardHtmlStripAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/WordDelimiterGraphTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/WordDelimiterTokenFilterFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CommonAnalysisPluginTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/HtmlStripCharFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/SynonymsAnalysisTests.java
  modules/analysis-common/src/test/resources/rest-api-spec/test/analysis-common/40_token_filters.yml
  modules/analysis-common/src/test/resources/rest-api-spec/test/indices.analyze/10_analyze.yml
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/analysis/IcuNormalizerTokenFilterFactory.java
  plugins/analysis-icu/src/test/resources/rest-api-spec/test/analysis_icu/10_basic.yml
  plugins/analysis-phonetic/src/main/java/org/elasticsearch/index/analysis/PhoneticTokenFilterFactory.java
  plugins/analysis-phonetic/src/test/java/org/elasticsearch/index/analysis/AnalysisPhoneticFactoryTests.java
  server/src/main/java/org/elasticsearch/index/analysis/PreConfiguredTokenFilter.java
Labels: :Search/Analysis, >breaking, v8.0.0

#41924 Disable rhel8 in packaging tests
  buildSrc/src/main/groovy/org/elasticsearch/gradle/vagrant/VagrantTestPlugin.groovy
Labels: :Core/Infra/Packaging, >test, v8.0.0

#41930 [Backport 7.x] Clarify settings in default SSL/TLS
  docs/reference/settings/security-settings.asciidoc
Labels: backport

#41931 [Backport 7.1] Clarify settings in default SSL/TLS
  docs/reference/settings/security-settings.asciidoc
Labels: backport

#41732 Upgrade SDK and test discovery-ec2 credential providers
  plugins/discovery-ec2/build.gradle
  plugins/discovery-ec2/licenses/aws-java-sdk-core-1.11.187.jar.sha1
  plugins/discovery-ec2/licenses/aws-java-sdk-core-1.11.505.jar.sha1
  plugins/discovery-ec2/licenses/aws-java-sdk-ec2-1.11.187.jar.sha1
  plugins/discovery-ec2/licenses/aws-java-sdk-ec2-1.11.505.jar.sha1
  plugins/discovery-ec2/qa/amazon-ec2/build.gradle
  plugins/discovery-ec2/qa/amazon-ec2/src/test/java/org/elasticsearch/discovery/ec2/AmazonEC2Fixture.java
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2ServiceImpl.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/AmazonEC2Mock.java
Labels: :Distributed/Discovery-Plugins, >enhancement, v7.2.0, v8.0.0

#41677 Allow reindexing into write alias
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportReindexAction.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexSourceTargetValidationTests.java
Labels: :Distributed/Reindex, >bug, v6.8.0, v7.0.2, v7.2.0, v8.0.0

#41241 Highlight the use of single-node discovery in docker docs
  docs/reference/setup/install/docker.asciidoc
Labels: :Distributed/Cluster Coordination, >docs, v7.0.2, v7.2.0, v8.0.0

#41905 Reject port ranges in `discovery.seed_hosts`
  docs/reference/migration/migrate_7_2.asciidoc
  plugins/discovery-azure-classic/src/main/java/org/elasticsearch/discovery/azure/classic/AzureSeedHostsProvider.java
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2SeedHostsProvider.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/Ec2DiscoveryTests.java
  plugins/discovery-gce/src/main/java/org/elasticsearch/discovery/gce/GceSeedHostsProvider.java
  server/src/main/java/org/elasticsearch/discovery/FileBasedSeedHostsProvider.java
  server/src/main/java/org/elasticsearch/discovery/SeedHostsProvider.java
  server/src/main/java/org/elasticsearch/discovery/SeedHostsResolver.java
  server/src/main/java/org/elasticsearch/discovery/SettingsBasedSeedHostsProvider.java
  server/src/main/java/org/elasticsearch/discovery/zen/UnicastZenPing.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/Transport.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/client/transport/FailAndRetryMockTransport.java
  server/src/test/java/org/elasticsearch/client/transport/TransportClientNodesServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/discovery/FileBasedSeedHostsProviderTests.java
  server/src/test/java/org/elasticsearch/discovery/SeedHostsResolverTests.java
  server/src/test/java/org/elasticsearch/discovery/SettingsBasedSeedHostsProviderTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/StubbableTransport.java
Labels: :Distributed/Cluster Coordination, >breaking, >bug, backport, v7.2.0

#41925 Fix edge case of empty map immutability
  server/src/test/java/org/elasticsearch/common/util/MapsTests.java
Labels: :Core/Infra/Core, >test, v8.0.0

#41853 Cut over SearchPhaseResult to Writeable
  server/src/main/java/org/elasticsearch/search/SearchPhaseResult.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsSearchResult.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchSearchResult.java
  server/src/main/java/org/elasticsearch/search/fetch/QueryFetchSearchResult.java
  server/src/main/java/org/elasticsearch/search/fetch/ScrollQueryFetchSearchResult.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchResult.java
  server/src/main/java/org/elasticsearch/search/query/ScrollQuerySearchResult.java
  server/src/test/java/org/elasticsearch/action/search/SearchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/search/query/QuerySearchResultTests.java
Labels: :Search/Search, >refactoring, v7.2.0, v8.0.0

#41569 Node names in bootstrap config have no ports
  docs/reference/modules/discovery/bootstrapping.asciidoc
  docs/reference/setup/important-settings/discovery-settings.asciidoc
Labels: :Distributed/Cluster Coordination, >docs, v7.0.2, v7.2.0, v8.0.0

#40839 Always set terminated_early if terminate_after is set in the search request
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
  server/src/test/java/org/elasticsearch/search/simple/SimpleSearchIT.java
Labels: :Search/Search, >bug, v7.2.0, v8.0.0

#41864 Testclusters: support for security and convert example plugins
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/RestIntegTestTask.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/http/WaitForHttpResource.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClusterConfiguration.java
  distribution/archives/build.gradle
  plugins/examples/custom-settings/build.gradle
  plugins/examples/custom-suggester/build.gradle
  plugins/examples/painless-whitelist/build.gradle
  plugins/examples/rescore/build.gradle
  plugins/examples/rest-handler/build.gradle
  plugins/examples/script-expert-scoring/build.gradle
  plugins/examples/security-authorization-engine/build.gradle
  x-pack/qa/security-setup-password-tests/build.gradle
Labels: :Core/Infra/Build, :Security/Security, >non-issue, v7.2.0, v8.0.0

#41935 Remove mention of bulk threadpool in examples
  docs/reference/modules/threadpool.asciidoc
Labels: :Core/Infra/Core, >docs, v7.0.2, v7.1.0, v7.2.0, v8.0.0

#41892 Reenable testCloseOrDeleteIndexDuringSnapshot
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Distributed/Snapshot/Restore, >test, v7.2.0

#41798 [ML Data Frame] Set executing nodes in task actions
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/action/StopDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/DataFrameNodes.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportGetDataFrameTransformsStatsAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/TransportStopDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/rest/action/BaseTasksResponseToXContentListener.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/rest/action/RestDeleteDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/rest/action/RestGetDataFrameTransformsStatsAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/rest/action/RestStartDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/rest/action/RestStopDataFrameTransformAction.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/action/DataFrameNodesTests.java
Labels: :ml/Data Frame, >refactoring, v7.2.0, v8.0.0

#41561 Update lintian overrides
  Vagrantfile
  distribution/packages/build.gradle
  distribution/packages/src/deb/lintian/elasticsearch
  qa/vagrant/src/main/java/org/elasticsearch/packaging/test/PackageTestCase.java
Labels: :Core/Infra/Packaging, >bug, v7.2.0, v8.0.0

#41272 Cleanup exceptions thrown during RollupSearch
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupResponseTranslator.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportRollupSearchAction.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupResponseTranslationTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/rollup/rollup_search.yml
Labels: :Analytics/Rollup, >bug, v7.2.0, v8.0.0

#41870 Add static section whitelist info to api docs generation
  docs/painless/painless-api-reference/index.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-analysis/index.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-analysis/packages.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-field/index.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-field/packages.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-ingest/index.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-ingest/packages.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-moving-function/index.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-moving-function/packages.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-score/index.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-score/packages.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-shared/index.asciidoc
  docs/painless/painless-api-reference/painless-api-reference-shared/packages.asciidoc
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/ContextDocGenerator.java
Labels: :Core/Infra/Scripting, >docs, >enhancement, v7.2.0, v8.0.0

#41805 [DOCS] Adds page header for Groovy API
  docs/groovy-api/page_header.html
Labels: :Docs, >docs, v2.4.7

#41957 [Backport 7.x] Allow unknown task time in QueueResizingEsTPE
  server/src/main/java/org/elasticsearch/common/util/concurrent/QueueResizingEsThreadPoolExecutor.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/TimedRunnable.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/QueueResizingEsThreadPoolExecutorTests.java
  server/src/test/java/org/elasticsearch/node/NodeTests.java
Labels: backport

#41937 [FEATURE][ML] Remove evaluation result abstraction
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/EvaluateDataFrameAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/Evaluation.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/EvaluationResult.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/MetricListEvaluationResult.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/MlEvaluationNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/softclassification/BinarySoftClassification.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportEvaluateDataFrameAction.java
Labels: :ml, :ml/Data Frame, >refactoring

#41953 Update lintian overrides (#41561)
  Vagrantfile
  distribution/packages/build.gradle
  distribution/packages/src/deb/lintian/elasticsearch
  qa/vagrant/src/main/java/org/elasticsearch/packaging/test/PackageTestCase.java
Labels: :Core/Infra/Packaging, backport

#41517 Remove Version 6 pre-release constants
  server/src/main/java/org/elasticsearch/Version.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/routing/OperationRouting.java
  server/src/main/java/org/elasticsearch/index/IndexSortConfig.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicTemplate.java
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/shard/ShardSplittingQuery.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/test/java/org/elasticsearch/VersionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/SplitIndexIT.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataIndexUpgradeServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/FailedNodeRoutingTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/FailedShardsRoutingTests.java
  server/src/test/java/org/elasticsearch/index/analysis/AnalysisRegistryTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/NoOpEngineTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicTemplateTests.java
  server/src/test/java/org/elasticsearch/index/query/SimpleQueryStringBuilderTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/PrimaryReplicaSyncerTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/AbstractIndicesClusterStateServiceTestCase.java
  server/src/test/java/org/elasticsearch/indices/recovery/StartRecoveryRequestTests.java
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/VersionUtilsTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowEngineIndexShardTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/TokenMetaData.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexRecoveryMonitoringDocTests.java
Labels: :Core/Infra/Core, >refactoring, v8.0.0
