Repository elastic/elasticsearch, pull requests merged in 2019-10, with the labels that each got.

#47093 [DOCS] Changes wording to move away from data frame terminology in the ES repo
  docs/java-rest/high-level/transform/stop_transform.asciidoc
  docs/reference/ml/df-analytics/apis/dfanalyticsresources.asciidoc
  docs/reference/ml/df-analytics/apis/evaluateresources.asciidoc
  docs/reference/settings/ml-settings.asciidoc
  docs/reference/transform/examples.asciidoc
  docs/reference/transform/limitations.asciidoc
Labels: :ml, :ml/Data Frame, >docs, v7.2.2, v7.3.3, v7.4.0, v7.5.0, v8.0.0

#47291 SQL: Add examples fo muting sql/csv integ tests
  x-pack/plugin/sql/qa/src/main/resources/agg-ordering.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/agg.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/agg.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/alias.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/arithmetic.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/arithmetic.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/case-functions.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/columns.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/command.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/conditionals.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/date.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/datetime-interval.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/datetime.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/datetime.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/docs/geo.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/examples/example.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/examples/example.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/field-alias.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/filter.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/filter.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/fulltext.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/functions.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/geo/geosql.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/geo/geosql.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/ip.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/math.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/math.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/nested.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/null.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/null.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/ogc/ogc.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/ogc/ogc.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/pivot.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/select.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/select.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/single-node-only/command-sys-geo.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/single-node-only/command-sys.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/slow/frozen.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/string-functions.sql-spec
  x-pack/plugin/sql/qa/src/main/resources/time.csv-spec
Labels: :Search/SQL, >non-issue, v7.5.0, v8.0.0

#47315 Fix SSLErrorMessageTests in Windows
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLErrorMessageTests.java
Labels: :Security/Security, >test-failure, v7.5.0, v8.0.0

#47300 Differentiate base paths in repository integration tests (#47284)
  plugins/repository-azure/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/resources/rest-api-spec/test/repository_azure/10_repository.yml
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-hdfs/src/test/java/org/elasticsearch/repositories/hdfs/HdfsRepositoryTests.java
  plugins/repository-s3/build.gradle
  test/framework/src/main/java/org/elasticsearch/repositories/AbstractThirdPartyRepositoryTestCase.java
Labels: :Distributed/Snapshot/Restore, backport, v7.5.0

#47281 Provide better error when updating geo_shape field mapper settings
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/LegacyGeoShapeFieldMapper.java
  server/src/test/java/org/elasticsearch/search/geo/GeoShapeIntegrationIT.java
Labels: :Analytics/Geo, >bug, v7.5.0, v8.0.0

#47266 Fix Active Directory tests
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/samba4.crt
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ADLdapUserSearchSessionFactoryTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractActiveDirectoryTestCase.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractAdLdapRealmTestCase.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryGroupsResolverTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRunAsIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactoryTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/GroupMappingIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/MultiGroupMappingIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/MultipleAdRealmIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/UserAttributeGroupsResolverTests.java
Labels: :Security/Authentication, >test, v7.5.0, v8.0.0

#46740 Testclusters fix bwc
  buildSrc/src/main/java/org/elasticsearch/gradle/DistributionDownloadPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/ElasticsearchDistribution.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/test/java/org/elasticsearch/gradle/DistributionDownloadPluginIT.java
  buildSrc/src/test/java/org/elasticsearch/gradle/DistributionDownloadPluginTests.java
Labels: :Core/Infra/Build, v7.5.0, v8.0.0

#47338 [Backport] Provide better error when updating geo_shape field mapper settings
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/LegacyGeoShapeFieldMapper.java
  server/src/test/java/org/elasticsearch/search/geo/GeoShapeIntegrationIT.java
Labels: backport, v7.5.0

#47337 Differentiate base paths in repository integration tests (#47284)
  plugins/repository-azure/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/resources/rest-api-spec/test/repository_azure/10_repository.yml
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-hdfs/src/test/java/org/elasticsearch/repositories/hdfs/HdfsRepositoryTests.java
  plugins/repository-s3/build.gradle
  test/framework/src/main/java/org/elasticsearch/repositories/AbstractThirdPartyRepositoryTestCase.java
Labels: :Distributed/Snapshot/Restore, backport, v7.4.1

#47126 Implement evaluation API for multiclass classification problem
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/evaluation/MlEvaluationNamedXContentProvider.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/Classification.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixMetric.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/ClassificationTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixMetricTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/MlEvaluationNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/ClassificationMetric.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/MulticlassConfusionMatrix.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixResultTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationEvaluationIT.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/evaluate_data_frame.yml
Labels: :ml, >feature, v7.5.0, v8.0.0

#47293 Speed up and Reorder Snapshot Delete Operations
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.5.0, v8.0.0

#47346 Fix CharArraysTests.testConstantTimeEquals()
  libs/core/src/test/java/org/elasticsearch/common/CharArraysTests.java
Labels: :Core/Infra/Core, >test, v7.4.1, v7.5.0, v8.0.0

#47179 Fix AD realm additional metadata
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/ldap/LdapRealmSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/ldap/support/LdapMetaDataResolverSettings.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/LdapSessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/PoolingSessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactory.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/LdapMetaDataResolverTests.java
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/authc/ldap/ad.ldif
  x-pack/qa/openldap-tests/src/test/java/org/elasticsearch/test/OpenLdapTests.java
Labels: :Security/Authentication, >bug, v7.4.1, v7.5.0, v8.0.0

#47311 Use standard semantics for retried auto-id requests
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: :Distributed/Engine, >non-issue, v7.5.0, v8.0.0

#47316 [DOCS] Adds machine learning PRs to release notes
  docs/reference/release-notes/7.4.asciidoc
Labels: :ml, >docs, v7.4.0

#47318 [DOCS] Remove coming tags for 7.4.0 release
  docs/reference/migration/migrate_7_4.asciidoc
  docs/reference/release-notes/7.4.asciidoc
Labels: :Docs, >docs, v7.4.0, v7.5.0

#47356 BACKPORT Fix AD realm additional metadata (#47179)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/ldap/LdapRealmSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/ldap/support/LdapMetaDataResolverSettings.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/LdapSessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/PoolingSessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactory.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/LdapMetaDataResolverTests.java
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/authc/ldap/ad.ldif
  x-pack/qa/openldap-tests/src/test/java/org/elasticsearch/test/OpenLdapTests.java
Labels: backport, v7.5.0

#47355 BACKPORT Fix AD realm additional metadata (#47179)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/ldap/LdapRealmSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/ldap/support/LdapMetaDataResolverSettings.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/LdapSessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/PoolingSessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactory.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/LdapMetaDataResolverTests.java
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/authc/ldap/ad.ldif
  x-pack/qa/openldap-tests/src/test/java/org/elasticsearch/test/OpenLdapTests.java
Labels: backport, v7.4.1

#47340 Remove Dead BwC Code from Snapshots
  server/src/main/java/org/elasticsearch/repositories/FilterRepository.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/package-info.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/RestoreOnlyRepository.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/snapshots/SourceOnlySnapshotRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v8.0.0

#46890 Documentation notes for Range field histograms
  docs/reference/aggregations/bucket.asciidoc
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
  docs/reference/aggregations/bucket/histogram-aggregation.asciidoc
  docs/reference/aggregations/bucket/range-field-note.asciidoc
Labels: :Analytics/Aggregations, >docs, v7.4.0, v8.0.0

#47366 [7.x] Documentation notes for Range field histograms (#46890)
  docs/reference/aggregations/bucket.asciidoc
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
  docs/reference/aggregations/bucket/histogram-aggregation.asciidoc
  docs/reference/aggregations/bucket/range-field-note.asciidoc
Labels: backport

#47367 [7.4] Documentation notes for Range field histograms (#46890)
  docs/reference/aggregations/bucket.asciidoc
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
  docs/reference/aggregations/bucket/histogram-aggregation.asciidoc
  docs/reference/aggregations/bucket/range-field-note.asciidoc
Labels: backport

#47187 Add enable checks to missing enrich plugin methods
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
Labels: :Core/Features/Ingest, >non-issue

#47321 [DOCS] Document `_cat/tasks` API
  docs/reference/cat.asciidoc
  docs/reference/cat/tasks.asciidoc
  docs/reference/cluster/tasks.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/CAT APIs, :Distributed/Task Management, >docs, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#47375 [7.x] [DOCS] Document cat tasks API (#47321)
  docs/reference/cat.asciidoc
  docs/reference/cat/tasks.asciidoc
  docs/reference/cluster/tasks.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/CAT APIs, :Distributed/Task Management, >docs, backport, v7.5.0

#47376 [7.4] [DOCS] Document cat tasks API (#47321)
  docs/reference/cat.asciidoc
  docs/reference/cat/tasks.asciidoc
  docs/reference/cluster/tasks.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/CAT APIs, :Distributed/Task Management, >docs, backport, v7.4.1

#47352 Fix MetaDataIndexStateServiceTests.testValidateShardLimit
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateServiceTests.java
Labels: :Distributed/Distributed, >test, v7.5.0, v8.0.0

#47377 [7.3] [DOCS] Document cat tasks API (#47321)
  docs/reference/cat.asciidoc
  docs/reference/cat/tasks.asciidoc
  docs/reference/cluster/tasks.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/CAT APIs, :Distributed/Task Management, >docs, backport, v7.3.3

#47128 [ML] Restore analytics state if available
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/DataFrameAnalysis.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetection.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/StartDataFrameAnalyticsActionTaskParamsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetectionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessConfig.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/MemoryUsageEstimationProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/NativeAnalyticsProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/NativeAnalyticsProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/NativeMemoryUsageEstimationProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/NativeMemoryUsageEstimationProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/StateStreamer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/StateToProcessWriterHelper.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStopDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTaskTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/MemoryUsageEstimationProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeSelectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/process/MlMemoryTrackerTests.java
Labels: :ml, >non-issue, v7.5.0, v8.0.0

#47350 Speed up and Reorder Snapshot Delete Operations (#47293)
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, backport

#47241 [ML][Inference] adding ensemble model objects
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/MlInferenceNamedXContentProvider.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/TargetType.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/Ensemble.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/OutputAggregator.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/WeightedMode.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/WeightedSum.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/tree/Tree.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/EnsembleTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/WeightedModeTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/WeightedSumTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/tree/TreeTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TargetType.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TrainedModel.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/Ensemble.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/LenientlyParsedOutputAggregator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/OutputAggregator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/StrictlyParsedOutputAggregator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/WeightedMode.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/WeightedSum.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/tree/Tree.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/tree/TreeNode.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/utils/Statistics.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/NamedXContentObjectsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/EnsembleTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/WeightedAggregatorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/WeightedModeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/WeightedSumTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/tree/TreeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/utils/StatisticsTests.java
Labels: :ml, >non-issue, v7.5.0, v8.0.0

#47171 [DOCS] Reformat put pipeline API
  docs/reference/ingest/apis/put-pipeline.asciidoc
Labels: :Core/Features/Ingest, >docs, v7.3.0, v7.4.1, v7.5.0, v8.0.0

#47301 [DOCS] Reformat simulate pipeline API
  docs/reference/ingest/apis/simulate-pipeline.asciidoc
Labels: :Core/Features/Ingest, >docs, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#47395 [7.x] [DOCS] Reformat put pipeline API (#47171)
  docs/reference/ingest/apis/put-pipeline.asciidoc
Labels: :Core/Features/Ingest, >docs, backport, v7.5.0

#47396 [7.4] [DOCS] Reformat put pipeline API (#47171)
  docs/reference/ingest/apis/put-pipeline.asciidoc
Labels: :Core/Features/Ingest, >docs, backport, v7.4.1

#47398 [7.x] [DOCS] Reformat simulate pipeline API (#47301)
  docs/reference/ingest/apis/simulate-pipeline.asciidoc
Labels: :Core/Features/Ingest, >docs, backport, v7.5.0

#47387 Keep nodes above watermark in testAutomaticReleaseOfIndexBlock
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/MockDiskUsagesIT.java
Labels: :Distributed/Allocation, >test, v7.4.1, v7.5.0, v8.0.0

#47399 [7.4] [DOCS] Reformat simulate pipeline API (#47301)
  docs/reference/ingest/apis/simulate-pipeline.asciidoc
Labels: :Core/Features/Ingest, >docs, backport, v7.4.1

#47400 [7.3] [DOCS] Reformat simulate pipeline API (#47301)
  docs/reference/ingest/apis/simulate-pipeline.asciidoc
Labels: :Core/Features/Ingest, >docs, backport, v7.3.3

#47397 [7.3] [DOCS] Reformat put pipeline API (#47171)
  docs/reference/ingest/apis/put-pipeline.asciidoc
Labels: :Core/Features/Ingest, >docs, backport, v7.3.3

#46981 [DOCS] Reorder index APIs alphabetically
  docs/java-rest/high-level/indices/indices_exists.asciidoc
  docs/reference/cat/recovery.asciidoc
  docs/reference/indices.asciidoc
  docs/reference/indices/clearcache.asciidoc
  docs/reference/indices/delete-index-template.asciidoc
  docs/reference/indices/get-index-template.asciidoc
  docs/reference/indices/indices-exists.asciidoc
  docs/reference/indices/recovery.asciidoc
  docs/reference/indices/shard-stores.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  docs/reference/indices/split-index.asciidoc
  docs/reference/modules/indices/recovery.asciidoc
  docs/reference/modules/snapshots.asciidoc
Labels: :Core/Features/Indices APIs, >docs, v7.4.1, v7.5.0, v8.0.0

#47383 Ensure test node count is always in upper bound
  server/src/test/java/org/elasticsearch/indices/IndicesServiceTests.java
Labels: :Core/Infra/Core, >test-failure

#47327 [7.x] Adjust randomization in cluster shard limit tests (#47254)
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/shards/ClusterShardLimitIT.java
  server/src/test/java/org/elasticsearch/indices/IndicesServiceTests.java
Labels: backport

#47328 [7.4] Adjust randomization in cluster shard limit tests (#47254)
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/shards/ClusterShardLimitIT.java
  server/src/test/java/org/elasticsearch/indices/IndicesServiceTests.java
Labels: backport

#47329 [7.3] Adjust randomization in cluster shard limit tests (#47254)
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/shards/ClusterShardLimitIT.java
  server/src/test/java/org/elasticsearch/indices/IndicesServiceTests.java
Labels: backport

#47402 [7.x] [DOCS] Reorder index APIs alphabetically (#46981)
  docs/java-rest/high-level/indices/indices_exists.asciidoc
  docs/reference/cat/recovery.asciidoc
  docs/reference/indices.asciidoc
  docs/reference/indices/clearcache.asciidoc
  docs/reference/indices/delete-index-template.asciidoc
  docs/reference/indices/get-index-template.asciidoc
  docs/reference/indices/indices-exists.asciidoc
  docs/reference/indices/recovery.asciidoc
  docs/reference/indices/shard-stores.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  docs/reference/indices/split-index.asciidoc
  docs/reference/modules/indices/recovery.asciidoc
  docs/reference/modules/snapshots.asciidoc
Labels: :Core/Features/Indices APIs, >docs, backport, v7.5.0

#47403 [7.4] [DOCS] Reorder index APIs alphabetically (#46981)
  docs/java-rest/high-level/indices/indices_exists.asciidoc
  docs/reference/cat/recovery.asciidoc
  docs/reference/indices.asciidoc
  docs/reference/indices/clearcache.asciidoc
  docs/reference/indices/delete-index-template.asciidoc
  docs/reference/indices/get-index-template.asciidoc
  docs/reference/indices/indices-exists.asciidoc
  docs/reference/indices/recovery.asciidoc
  docs/reference/indices/shard-stores.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  docs/reference/indices/split-index.asciidoc
  docs/reference/modules/indices/recovery.asciidoc
  docs/reference/modules/snapshots.asciidoc
Labels: :Core/Features/Indices APIs, >docs, backport, v7.4.1

#47404 [7.3] [DOCS] Reorder index APIs alphabetically (#46981)
  docs/java-rest/high-level/indices/indices_exists.asciidoc
  docs/reference/cat/recovery.asciidoc
  docs/reference/indices.asciidoc
  docs/reference/indices/clearcache.asciidoc
  docs/reference/indices/delete-index-template.asciidoc
  docs/reference/indices/get-index-template.asciidoc
  docs/reference/indices/indices-exists.asciidoc
  docs/reference/indices/recovery.asciidoc
  docs/reference/indices/shard-stores.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  docs/reference/indices/split-index.asciidoc
  docs/reference/modules/indices/recovery.asciidoc
  docs/reference/modules/snapshots.asciidoc
Labels: :Core/Features/Indices APIs, >docs, backport, v7.3.3

#47415 Remove empty buildSrc subproject
  buildSrc/settings.gradle
Labels: :Core/Infra/Build

#46160 Clarify missing java error message
  distribution/src/bin/elasticsearch-env
  distribution/src/bin/elasticsearch-env.bat
  qa/os/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/WindowsServiceTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/ServerUtils.java
Labels: :Core/Infra/Packaging, >enhancement, v7.5.0, v8.0.0

#47393 [7.x][ML] Restore analytics state if available (#47128)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/DataFrameAnalysis.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetection.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/StartDataFrameAnalyticsActionTaskParamsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetectionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessConfig.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/MemoryUsageEstimationProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/NativeAnalyticsProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/NativeAnalyticsProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/NativeMemoryUsageEstimationProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/NativeMemoryUsageEstimationProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/StateStreamer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/StateToProcessWriterHelper.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStopDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTaskTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/MemoryUsageEstimationProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeSelectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/process/MlMemoryTrackerTests.java
Labels: :ml, >non-issue, backport, v7.5.0

#47348 [DOCS] Fixes typos in the PUT dfa and the evaluate dfa documentation
  docs/reference/ml/df-analytics/apis/evaluate-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
Labels: :ml, >docs, v7.4.0, v7.5.0, v8.0.0

#47369 Fix alias field resolution in match query
  server/src/main/java/org/elasticsearch/index/search/MatchQuery.java
  server/src/main/java/org/elasticsearch/index/search/MultiMatchQuery.java
  server/src/main/java/org/elasticsearch/index/search/QueryParserHelper.java
  server/src/test/java/org/elasticsearch/index/query/MatchQueryBuilderTests.java
Labels: :Search/Search, >bug, v7.5.0, v8.0.0

#47177 [ML] Throttle the delete-by-query of expired results
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/DeleteExpiredDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlDailyMaintenanceService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobDataDeleter.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/AbstractExpiredJobDataRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredForecastsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/MlDataRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/UnusedStateRemover.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/AbstractExpiredJobDataRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemoverTests.java
Labels: :ml, >enhancement, v6.8.4, v7.4.1, v7.5.0, v8.0.0

#47339 [7.3] [DOCS] Changes wording to move away from data frame terminology in the ES repo
  docs/java-rest/high-level/transform/stop_transform.asciidoc
  docs/reference/ml/df-analytics/apis/evaluateresources.asciidoc
  docs/reference/settings/ml-settings.asciidoc
  docs/reference/transform/examples.asciidoc
  docs/reference/transform/limitations.asciidoc
Labels: :ml, :ml/Transforms, >docs, backport, v7.3.3

#47280 [DOCS] Fine tunes update anomaly detection job API documentation
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
Labels: :ml, >docs, v6.3.3, v6.4.4, v6.5.5, v6.6.3, v6.7.3, v6.8.4, v7.0.2, v7.1.2, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#47422 Clearer language around upgrade sequence
  docs/reference/upgrade/rolling_upgrade.asciidoc
Labels: :Distributed/Cluster Coordination, >docs, v7.0.2, v7.1.2, v7.2.2, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#46966 [DOCS] Adds examples to the PUT dfa and the evaluate dfa APIs
  docs/reference/ml/df-analytics/apis/evaluate-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
Labels: :ml, >docs, v7.4.1, v7.5.0, v8.0.0

#47342 Clarify that you cannot abort an upgrade
  docs/reference/upgrade.asciidoc
  docs/reference/upgrade/cluster_restart.asciidoc
  docs/reference/upgrade/preparing_to_upgrade.asciidoc
  docs/reference/upgrade/rolling_upgrade.asciidoc
Labels: :Distributed/Distributed, >docs, v7.0.2, v7.1.2, v7.2.2, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#47341 Disallow externally generated autoGeneratedTimestamp
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequest.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkIntegrationIT.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkWithUpdatesIT.java
Labels: :Distributed/CRUD, >non-issue, v7.5.0, v8.0.0

#47353 Use optype CREATE for single auto-id index requests
  rest-api-spec/src/main/resources/rest-api-spec/api/create.json
  rest-api-spec/src/main/resources/rest-api-spec/api/index.json
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestIndexAction.java
  server/src/test/java/org/elasticsearch/action/ActionModuleTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestIndexActionTests.java
  test/framework/src/main/java/org/elasticsearch/test/rest/RestActionTestCase.java
Labels: :Distributed/CRUD, >bug, v7.5.0, v8.0.0

#47074 Emit log message when parent circuit breaker trips (#47000)
  server/src/main/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerService.java
Labels: :Core/Infra/Circuit Breakers, backport

#47424 Reset Token position on reuse in `predicate_token_filter`
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/AnalysisPredicateScript.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/PredicateTokenFilterScriptFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/ScriptedConditionTokenFilterFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/PredicateTokenScriptFilterTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/ScriptedConditionTokenFilterTests.java
Labels: :Search/Analysis, >bug, v7.5.0, v8.0.0

#47139 MockSearchService concurrency fix
  test/framework/src/main/java/org/elasticsearch/search/MockSearchService.java
Labels: :Distributed/Reindex, >test, v7.4.0, v7.5.0, v8.0.0

#47252 Fix XPackPlugin usages in tests
  x-pack/plugin/graph/src/test/java/org/elasticsearch/xpack/graph/test/GraphTests.java
  x-pack/plugin/mapper-flattened/src/test/java/org/elasticsearch/xpack/flattened/mapper/FlatObjectFieldMapperTests.java
  x-pack/plugin/mapper-flattened/src/test/java/org/elasticsearch/xpack/flattened/mapper/FlatObjectIndexFieldDataTests.java
  x-pack/plugin/mapper-flattened/src/test/java/org/elasticsearch/xpack/flattened/mapper/FlatObjectSearchTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/ShapeQueryTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/action/SqlDisabledIT.java
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapperTests.java
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapperTests.java
Labels: :Search/Search, >test, v7.4.1, v7.5.0, v8.0.0

#47394 [ML] Make PUT data frame analytics action a master node action
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PutDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDataFrameAnalyticsAction.java
Labels: :ml, >non-issue, v7.5.0, v8.0.0

#47363 Backport testclusters fix bwc
  buildSrc/src/main/java/org/elasticsearch/gradle/DistributionDownloadPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/ElasticsearchDistribution.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClusterConfiguration.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClustersAware.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClustersPlugin.java
  buildSrc/src/test/java/org/elasticsearch/gradle/DistributionDownloadPluginIT.java
  buildSrc/src/test/java/org/elasticsearch/gradle/DistributionDownloadPluginTests.java
  qa/full-cluster-restart/build.gradle
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
Labels: backport

#47358 Fix Active Directory tests
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/samba4.crt
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ADLdapUserSearchSessionFactoryTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractActiveDirectoryTestCase.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractAdLdapRealmTestCase.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryGroupsResolverTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRunAsIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactoryTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/GroupMappingIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/MultiGroupMappingIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/MultipleAdRealmIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/UserAttributeGroupsResolverTests.java
Labels: :Security/Authentication, >test, v7.5.0, v8.0.0

#47227 Fix highlighting of overlapping terms in the unified highlighter
  modules/mapper-extras/src/test/resources/rest-api-spec/test/search-as-you-type/20_highlighting.yml
  server/src/main/java/org/apache/lucene/search/uhighlight/CustomPassageFormatter.java
  server/src/test/java/org/apache/lucene/search/uhighlight/CustomUnifiedHighlighterTests.java
Labels: :Search/Highlighting, >bug, v7.5.0, v8.0.0

#47433 [7.x][ML] Make PUT data frame analytics action a master node action (…
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PutDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDataFrameAnalyticsAction.java
Labels: :ml, >non-issue, backport, v7.5.0

#47438 [7.x] [ML][Inference] adding ensemble model objects (#47241)
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/MlInferenceNamedXContentProvider.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/TargetType.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/Ensemble.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/OutputAggregator.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/WeightedMode.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/WeightedSum.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/tree/Tree.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/EnsembleTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/WeightedModeTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/WeightedSumTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/tree/TreeTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TargetType.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TrainedModel.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/Ensemble.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/LenientlyParsedOutputAggregator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/OutputAggregator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/StrictlyParsedOutputAggregator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/WeightedMode.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/WeightedSum.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/tree/Tree.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/tree/TreeNode.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/utils/Statistics.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/NamedXContentObjectsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/EnsembleTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/WeightedAggregatorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/WeightedModeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/WeightedSumTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/tree/TreeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/utils/StatisticsTests.java
Labels: :ml, >non-issue, backport, v7.5.0

#47440 [7.x] Fix Active Directory tests (#47358)
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/samba4.crt
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ADLdapUserSearchSessionFactoryTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractActiveDirectoryTestCase.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractAdLdapRealmTestCase.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryGroupsResolverTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRunAsIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactoryTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/GroupMappingIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/MultiGroupMappingIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/MultipleAdRealmIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/UserAttributeGroupsResolverTests.java
Labels: backport

#47457 [DOCS] Deletes prematurely documented outlier detection parameters
  docs/reference/ml/df-analytics/apis/dfanalyticsresources.asciidoc
Labels: :ml, >docs, v7.4.1

#47445 Fix Snapshot Finalization not Waiting for Index Metadata
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.5.0, v8.0.0

#47313 Fix AllocationRoutedStepTests.testConditionMetOnlyOneCopyAlloc…
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/AllocationRoutedStepTests.java
Labels: :Core/Features/ILM, >test, v7.5.0, v8.0.0

#47405 Add API to execute SLM retention on-demand
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/slm/ExecuteSnapshotLifecycleRetentionRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/ILMDocumentationIT.java
  docs/java-rest/high-level/ilm/execute_snapshot_lifecycle_retention.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/action/ExecuteSnapshotRetentionAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycle.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/RestExecuteSnapshotRetentionAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportExecuteSnapshotRetentionAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SLMSnapshotBlockingIntegTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionServiceTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.execute_retention.json
Labels: :Core/Features/ILM, v7.5.0, v8.0.0

#47416 Remove groovy test code from buildSrc
  buildSrc/src/test/groovy/org/elasticsearch/gradle/doc/RestTestFromSnippetsTaskTests.groovy
  buildSrc/src/test/java/org/elasticsearch/gradle/BuildPluginTests.java
  buildSrc/src/test/java/org/elasticsearch/gradle/doc/RestTestFromSnippetsTaskTests.java
Labels: :Core/Infra/Build

#47463 Add API to execute SLM retention on-demand (#47405)
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/slm/ExecuteSnapshotLifecycleRetentionRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/ILMDocumentationIT.java
  docs/java-rest/high-level/ilm/execute_snapshot_lifecycle_retention.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/action/ExecuteSnapshotRetentionAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycle.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/RestExecuteSnapshotRetentionAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportExecuteSnapshotRetentionAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SLMSnapshotBlockingIntegTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionServiceTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.execute_retention.json
Labels: :Core/Features/ILM, backport, v7.5.0

#47264 Allow setting validation against arbitrary types
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetaData.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/threadpool/AutoQueueAdjustingExecutorBuilder.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/settings/SettingsUpdaterTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingTests.java
Labels: :Core/Infra/Settings, >enhancement, v7.5.0, v8.0.0

#47474 [DOCS] Change xrefs to external links in 7.4 release highlights
  docs/reference/release-notes/highlights-7.4.0.asciidoc
Labels: :Docs, >docs, v7.4.0, v7.5.0

#47459 Fix Snapshot Finalization not Waiting for Index Metadata (#47445)
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Distributed/Snapshot/Restore, backport

#47465 Always flush in FullClusterRestartIT#testRecovery
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
Labels: :Distributed/Recovery, >test, v6.8.4, v7.4.1, v7.5.0, v8.0.0

#47430 Add client jar for mapper-extras
  modules/mapper-extras/build.gradle
Labels: :Core/Features/Java High Level REST Client, :Core/Infra/Build, >bug, v7.4.1, v7.5.0

#47460 [7.4] Fix Active Directory tests (#47358)
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/transport/ssl/certs/simple/samba4.crt
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ADLdapUserSearchSessionFactoryTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractActiveDirectoryTestCase.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractAdLdapRealmTestCase.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryGroupsResolverTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRunAsIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactoryTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/GroupMappingIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/MultiGroupMappingIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/MultipleAdRealmIT.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/UserAttributeGroupsResolverTests.java
Labels: backport

#47429 [7.2] [DOCS] Fine tunes update anomaly detection job API documentation
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
Labels: >docs, backport, v6.3.3, v6.4.4, v6.5.5, v6.6.3, v6.7.3, v6.8.4, v7.1.2, v7.2.2

#47487 Add realm uniqueness enforcement in 7.4 migration docs
  docs/reference/migration/migrate_7_4.asciidoc
Labels: :Security/Security, >docs, v7.4.0

#47491 [7.1] [DOCS] Fine tunes update anomaly detection job API documentation
  docs/reference/ml/apis/update-job.asciidoc
Labels: >docs, backport, v7.1.2

#47458 Remove Incorrect Assertion from SnapshotsInProgress
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
Labels: :Distributed/Snapshot/Restore, >test, v8.0.0

#47488 Fix getSnapshotIndexMetaData Exception Behavior
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.5.0, v8.0.0

#47489 Remove string interning from release notes
  docs/reference/release-notes/7.4.asciidoc
Labels: :Core/Features/Features, >docs, v7.4.1, v7.5.0

#47451 Fix es.http.cname_in_publish_address Deprecation Logging
  server/src/main/java/org/elasticsearch/http/HttpInfo.java
  server/src/test/java/org/elasticsearch/http/HttpInfoTests.java
Labels: :Distributed/Network, >bug, v7.4.1, v7.5.0

#47493 Fix potential IllegalCapacityException in LLRC when selecting nodes
  client/rest/src/main/java/org/elasticsearch/client/RestClient.java
  client/rest/src/test/java/org/elasticsearch/client/RestClientTests.java
Labels: :Core/Features/Java Low Level REST Client, backport, v6.8.4

#47347 Remove typename checks in mapping updates
  rest-api-spec/src/main/resources/rest-api-spec/test/delete/70_mix_typeless_typeful.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataMappingService.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataMappingServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MapperServiceTests.java
Labels: :Search/Mapping, >non-issue, v8.0.0

#47497 Fix es.http.cname_in_publish_address Deprecation Logging (#47451)
  server/src/main/java/org/elasticsearch/http/HttpInfo.java
  server/src/test/java/org/elasticsearch/http/HttpInfoTests.java
Labels: :Distributed/Network, backport

#47496 Fix getSnapshotIndexMetaData Exception Behavior (#47488)
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, backport

#47448 [DOCS] Amends update datafeed API docs
  docs/reference/ml/anomaly-detection/apis/update-datafeed.asciidoc
Labels: :ml, >docs, v7.4.1, v7.5.0, v8.0.0

#47456 Reinstate RemoveCorruptedShardDataCommandIT in 6.8
  server/src/test/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandIT.java
Labels: :Distributed/Store, >non-issue, >test, v6.8.4

#47437 Fix ADRealmTests in FIPS 140 JVMs
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
Labels: :Security/Security, >test, v7.5.0, v8.0.0

#47498 Remove duplicated half-sentence
  docs/reference/setup/secure-settings.asciidoc
Labels: :Core/Infra/Settings, >docs

#47492 [DOCS] Change index name in rollover ILM example
  docs/reference/ilm/policy-definitions.asciidoc
Labels: :Core/Features/ILM, >docs, v7.4.1, v7.5.0, v8.0.0

#47504 [7.1] [DOCS] Amends update datafeed API docs.
  docs/reference/ml/apis/update-datafeed.asciidoc
Labels: :ml, >docs, backport, v7.0.2, v7.1.2

#47506 [7.x] Fix ADRealmTests in FIPS 140 JVMs (#47437)
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
Labels: :Security/Security, >test, backport

#47414 Limit number of retaining translog files for peer recovery
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/NoOpEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogDeletionPolicy.java
  server/src/main/java/org/elasticsearch/index/translog/TruncateTranslogAction.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogDeletionPolicyTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
  test/framework/src/main/java/org/elasticsearch/index/translog/TranslogDeletionPolicies.java
  test/framework/src/main/java/org/elasticsearch/test/InternalSettingsPlugin.java
Labels: :Distributed/Engine, >enhancement, v6.8.4, v7.4.1, v7.5.0, v8.0.0

#47481 [DOCS] Fixes missing link title
  x-pack/docs/en/watcher/condition/compare.asciidoc
Labels: :Core/Features/Watcher, >docs, v6.5.5, v6.6.3, v6.7.3, v6.8.4, v7.0.2, v7.1.2, v7.2.2, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#47025 [7.4] [ML] fix two datafeed flush lockup bugs (#46982)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectCommunicator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/FlushListener.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/ShortCircuitingRenormalizer.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectCommunicatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/FlushListenerTests.java
Labels: :ml, >bug, backport, v7.4.1

#46743 [7.4] [ML][Transform] Use field caps for mapping deduction (#46703)
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/pivot/SchemaUtil.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_frame/transforms_start_stop.yml
Labels: :ml/Transforms, >bug, backport, v7.4.1

#47507 Fix Ex. Handling in SnapshotsService#snapshots
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotStatusApisIT.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v6.8.4, v7.4.1, v7.5.0, v8.0.0

#47439 Simplify Snapshot Delete Process
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/repositories/RepositoryDataTests.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.5.0, v8.0.0

#47485 Update painless-statements with if/else example
  docs/painless/painless-lang-spec/painless-statements.asciidoc
Labels: :Core/Infra/Scripting, >docs, v6.8.4, v7.0.2, v7.1.2, v7.2.2, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#46504 [DOCS] Reformat index shard stores API docs
  docs/reference/indices/shard-stores.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/Allocation, >docs, v7.3.0, v7.4.1, v7.5.0, v8.0.0

#46493 [DOCS] Reformat index recovery API docs
  docs/reference/cat/recovery.asciidoc
  docs/reference/glossary.asciidoc
  docs/reference/indices/recovery.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/Recovery, >docs, v7.3.0, v7.4.1, v7.5.0, v8.0.0

#47521 [DOCS] Copies security source files from stack-docs
  docs/reference/monitoring/production.asciidoc
  x-pack/docs/en/security/authentication/active-directory-realm.asciidoc
  x-pack/docs/en/security/authentication/built-in-users.asciidoc
  x-pack/docs/en/security/authentication/file-realm.asciidoc
  x-pack/docs/en/security/authentication/index.asciidoc
  x-pack/docs/en/security/authentication/internal-users.asciidoc
  x-pack/docs/en/security/authentication/kerberos-realm.asciidoc
  x-pack/docs/en/security/authentication/ldap-realm.asciidoc
  x-pack/docs/en/security/authentication/native-realm.asciidoc
  x-pack/docs/en/security/authentication/overview.asciidoc
  x-pack/docs/en/security/authentication/pki-realm.asciidoc
  x-pack/docs/en/security/authentication/realm-chains.asciidoc
  x-pack/docs/en/security/authentication/realms.asciidoc
  x-pack/docs/en/security/authentication/saml-realm.asciidoc
  x-pack/docs/en/security/authentication/token-authentication-services.asciidoc
  x-pack/docs/en/security/authorization/built-in-roles.asciidoc
  x-pack/docs/en/security/authorization/configuring-authorization-delegation.asciidoc
  x-pack/docs/en/security/authorization/document-level-security.asciidoc
  x-pack/docs/en/security/authorization/field-level-security.asciidoc
  x-pack/docs/en/security/authorization/images/authorization.png
  x-pack/docs/en/security/authorization/index.asciidoc
  x-pack/docs/en/security/authorization/overview.asciidoc
  x-pack/docs/en/security/authorization/privileges.asciidoc
  x-pack/docs/en/security/ccs-clients-integrations/cross-cluster-kibana.asciidoc
  x-pack/docs/en/security/ccs-clients-integrations/cross-cluster.asciidoc
  x-pack/docs/en/security/get-started-builtin-users.asciidoc
  x-pack/docs/en/security/get-started-enable-security.asciidoc
  x-pack/docs/en/security/get-started-kibana-users.asciidoc
  x-pack/docs/en/security/get-started-security.asciidoc
  x-pack/docs/en/security/how-security-works.asciidoc
  x-pack/docs/en/security/images/assign-role.jpg
  x-pack/docs/en/security/images/create-logstash-user.jpg
  x-pack/docs/en/security/images/create-reader-role.jpg
  x-pack/docs/en/security/images/create-user.jpg
  x-pack/docs/en/security/images/create-writer-role.jpg
  x-pack/docs/en/security/images/management-builtin-users.jpg
  x-pack/docs/en/security/images/management-roles.jpg
  x-pack/docs/en/security/images/management-users.jpg
  x-pack/docs/en/security/index.asciidoc
  x-pack/docs/en/security/limitations.asciidoc
  x-pack/docs/en/security/securing-communications/tutorial-tls-addnodes.asciidoc
  x-pack/docs/en/security/securing-communications/tutorial-tls-certificates.asciidoc
  x-pack/docs/en/security/securing-communications/tutorial-tls-internode.asciidoc
  x-pack/docs/en/security/securing-communications/tutorial-tls-intro.asciidoc
  x-pack/docs/en/security/troubleshooting.asciidoc
Labels: :Security/Security, >docs, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#47526 [7.3] [DOCS] Reformat index shard stores API docs (#46504)
  docs/reference/indices/shard-stores.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/Allocation, >docs, backport, v7.3.3

#47527 [7.x] [DOCS] Reformat index recovery API docs (#46493)
  docs/reference/cat/recovery.asciidoc
  docs/reference/glossary.asciidoc
  docs/reference/indices/recovery.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/Recovery, >docs, backport, v7.4.1

#47528 [7.4] [DOCS] Reformat index recovery API docs (#46493)
  docs/reference/cat/recovery.asciidoc
  docs/reference/glossary.asciidoc
  docs/reference/indices/recovery.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/Recovery, >docs, backport, v7.4.1

#47530 [7.3] [DOCS] Reformat index recovery API docs (#46493)
  docs/reference/cat/recovery.asciidoc
  docs/reference/glossary.asciidoc
  docs/reference/indices/recovery.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, :Distributed/Recovery, >docs, backport, v7.3.3

#47148 Fix Rollover error when alias has closed indices
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/RolloverIT.java
Labels: :Core/Features/Indices APIs, >bug, v7.4.1, v7.5.0, v8.0.0

#47531 Fix dependency resolution conflict in SQL security integration tests
  x-pack/plugin/sql/qa/build.gradle
Labels: :Core/Infra/Build

#47536 [DOCS] Adds security content in the Elasticsearch Reference
  docs/reference/index.asciidoc
  docs/reference/security/index.asciidoc
  x-pack/docs/en/security/auditing/event-types.asciidoc
  x-pack/docs/en/security/authentication/index.asciidoc
  x-pack/docs/en/security/authorization/index.asciidoc
  x-pack/docs/en/security/ccs-clients-integrations/monitoring.asciidoc
  x-pack/docs/en/security/configuring-es.asciidoc
  x-pack/docs/en/security/get-started-security.asciidoc
  x-pack/docs/en/security/index.asciidoc
  x-pack/docs/en/security/overview.asciidoc
  x-pack/docs/en/security/reference/files.asciidoc
  x-pack/docs/en/security/securing-communications.asciidoc
  x-pack/docs/en/security/securing-communications/configuring-tls-docker.asciidoc
  x-pack/docs/en/security/securing-communications/enabling-cipher-suites.asciidoc
  x-pack/docs/en/security/securing-communications/node-certificates.asciidoc
  x-pack/docs/en/security/securing-communications/securing-elasticsearch.asciidoc
  x-pack/docs/en/security/securing-communications/setting-up-ssl.asciidoc
  x-pack/docs/en/security/securing-communications/tls-ad.asciidoc
  x-pack/docs/en/security/securing-communications/tls-http.asciidoc
  x-pack/docs/en/security/securing-communications/tls-ldap.asciidoc
  x-pack/docs/en/security/securing-communications/tls-transport.asciidoc
  x-pack/docs/en/security/securing-communications/tutorial-tls-intro.asciidoc
  x-pack/docs/en/security/troubleshooting.asciidoc
Labels: :Security/Security, >docs, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#47529 [Doc]Update link to ls monitoring settings
  docs/reference/settings/monitoring-settings.asciidoc
Labels: :Core/Features/Monitoring, >docs, v7.5.0, v8.0.0

#47542 [7.x][DOCS] Update link to ls monitoring settings (#47529)
  docs/reference/settings/monitoring-settings.asciidoc
Labels: backport

#46693 Add explanations to script score queries
  docs/reference/query-dsl/script-score-query.asciidoc
  modules/lang-expression/src/main/java/org/elasticsearch/script/expression/ExpressionScoreScript.java
  modules/lang-expression/src/main/java/org/elasticsearch/script/expression/ExpressionScriptEngine.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessExecuteAction.java
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/spi/org.elasticsearch.txt
  plugins/examples/script-expert-scoring/src/main/java/org/elasticsearch/example/expertscript/ExpertScriptPlugin.java
  server/src/main/java/org/elasticsearch/common/lucene/search/function/ScriptScoreFunction.java
  server/src/main/java/org/elasticsearch/common/lucene/search/function/ScriptScoreQuery.java
  server/src/main/java/org/elasticsearch/index/query/QueryBuilders.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/ScriptScoreQueryBuilder.java
  server/src/main/java/org/elasticsearch/script/ScoreScript.java
  server/src/test/java/org/elasticsearch/index/query/ScriptScoreQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/functionscore/ExplainableScriptIT.java
  server/src/test/java/org/elasticsearch/search/query/ScriptScoreQueryIT.java
  server/src/test/java/org/elasticsearch/search/query/ScriptScoreQueryTests.java
  test/framework/src/main/java/org/elasticsearch/script/MockScriptEngine.java
Labels: :Core/Infra/Scripting, >enhancement, v7.5.0, v8.0.0

#47548 Add explanations to script score queries (#46693)
  docs/reference/query-dsl/script-score-query.asciidoc
  modules/lang-expression/src/main/java/org/elasticsearch/script/expression/ExpressionScoreScript.java
  modules/lang-expression/src/main/java/org/elasticsearch/script/expression/ExpressionScriptEngine.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessExecuteAction.java
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/spi/org.elasticsearch.txt
  plugins/examples/script-expert-scoring/src/main/java/org/elasticsearch/example/expertscript/ExpertScriptPlugin.java
  server/src/main/java/org/elasticsearch/common/lucene/search/function/ScriptScoreFunction.java
  server/src/main/java/org/elasticsearch/common/lucene/search/function/ScriptScoreQuery.java
  server/src/main/java/org/elasticsearch/index/query/QueryBuilders.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/ScriptScoreQueryBuilder.java
  server/src/main/java/org/elasticsearch/script/ScoreScript.java
  server/src/test/java/org/elasticsearch/index/query/ScriptScoreQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/functionscore/ExplainableScriptIT.java
  server/src/test/java/org/elasticsearch/search/query/ScriptScoreQueryIT.java
  server/src/test/java/org/elasticsearch/search/query/ScriptScoreQueryTests.java
  test/framework/src/main/java/org/elasticsearch/script/MockScriptEngine.java
Labels: backport

#46924 Make All OS tests run on GCP instances
  .ci/os.ps1
  .ci/os.sh
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  distribution/archives/build.gradle
  gradle/build-scan.gradle
  qa/os/build.gradle
  qa/os/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackageTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackagingTestCase.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/WindowsServiceTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Archives.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/FileUtils.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Packages.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/ServerUtils.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Shell.java
Labels: :Core/Infra/Packaging, v7.5.0, v8.0.0

#47551 [DOCS] Fixes an attribute in the update datafeed API docs
  docs/reference/ml/anomaly-detection/apis/update-datafeed.asciidoc
Labels: :ml, >docs, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#47555 [7.2] [DOCS] Fixes an attribute in the update datafeed API docs
  docs/reference/ml/anomaly-detection/apis/update-datafeed.asciidoc
Labels: :ml, >docs, backport, v7.2.2

#47556 [7.1] [DOCS] Fixes an attribute in the update datafeed API docs.
  docs/reference/ml/apis/update-datafeed.asciidoc
Labels: :ml, >docs, backport, v7.0.2, v7.1.2

#47361 Do common node config on bwc tests
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClusterConfiguration.java
Labels: :Core/Infra/Build, v7.5.0, v8.0.0

#47104 Remove fallback for controller location
  server/src/main/java/org/elasticsearch/bootstrap/Spawner.java
  server/src/main/java/org/elasticsearch/plugins/Platforms.java
Labels: :Core/Infra/Core, >non-issue, blocker, v7.4.1, v7.5.0, v8.0.0

#47516 [ML] More accurate job memory overhead
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/DataFrameAnalyticsConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobNodeSelector.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeSelectorTests.java
Labels: :ml, >enhancement, v7.5.0, v8.0.0

#47552 Fix Snapshot Corruption in Edge Case
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, >bug, v6.8.4, v7.4.1, v7.5.0, v8.0.0

#47288 NameID mapping and Single Logout
  x-pack/docs/en/security/authentication/saml-guide.asciidoc
Labels: :Security/Authentication, >docs, v6.8.4, v7.0.2, v7.1.2, v7.2.2, v7.3.3, v7.4.1, v7.5.0, v8.0.0

#47246 Validating monitoring hosts setting while parsing
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporter.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ExportersTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterIT.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterTests.java
  x-pack/qa/rolling-upgrade/build.gradle
  x-pack/qa/smoke-test-plugins-ssl/build.gradle
  x-pack/qa/smoke-test-plugins-ssl/src/test/java/org/elasticsearch/smoketest/SmokeTestMonitoringWithSecurityIT.java
  x-pack/qa/smoke-test-plugins-ssl/src/test/resources/rest-api-spec/test/smoke_test_plugins_ssl/20_settings_filter.yml
Labels: :Core/Features/Monitoring, >bug, v6.8.3, v7.4.1, v7.5.0, v8.0.0

#47557 Fix serialization of evaluation response.
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/EvaluateDataFrameAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/EvaluateDataFrameActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixResultTests.java
Labels: :ml, >bug, v7.5.0, v8.0.0

#47554 Fix windows packaging tests
  qa/os/src/test/java/org/elasticsearch/packaging/util/Shell.java
Labels: :Core/Infra/Packaging, v7.5.0, v8.0.0

#47374 Upgrade joni from 2.1.6 to 2.1.29
  libs/grok/build.gradle
  libs/grok/licenses/joni-2.1.29.jar.sha1
  libs/grok/licenses/joni-2.1.6.jar.sha1
  libs/grok/src/main/java/org/elasticsearch/grok/Grok.java
Labels: :Core/Features/Ingest, >non-issue, v7.5.0, v8.0.0

#47533 Simplify Snapshot Delete Process (#47439)
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/repositories/RepositoryDataTests.java
Labels: :Distributed/Snapshot/Restore, backport

#47444 SQL: fix multi full-text functions usage with aggregate functions
  x-pack/plugin/sql/qa/src/main/resources/fulltext.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerTests.java
Labels: :Search/SQL, >bug, v7.4.1, v7.5.0, v8.0.0

#47566 [7.x] Fix serialization of evaluation response. (#47557)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/EvaluateDataFrameAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/EvaluateDataFrameActionResponseTests.java
Labels: :ml, >bug, backport, v7.5.0

#47565 Backport testclusters all
  buildSrc/src/main/java/org/elasticsearch/gradle/DistributionDownloadPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/minimumRuntime/java/org/elasticsearch/gradle/VersionProperties.java
  qa/build.gradle
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/rolling-upgrade/build.gradle
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
  qa/verify-version-constants/build.gradle
  rest-api-spec/src/main/resources/rest-api-spec/test/cat.allocation/10_basic.yml
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/src/test/java/org/elasticsearch/upgrades/AbstractMultiClusterUpgradeTestCase.java
  x-pack/qa/rolling-upgrade-multi-cluster/src/test/java/org/elasticsearch/upgrades/CcrRollingUpgradeIT.java
  x-pack/qa/rolling-upgrade/build.gradle
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/IndexingIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlMappingsUpgradeIT.java
Labels: backport

#47543 [7.4][DOCS] Update link to ls monitoring settings (#47529)
  docs/reference/settings/monitoring-settings.asciidoc
Labels: backport

#47544 [7.3][DOCS] Update link to ls monitoring settings (#47529)
  docs/reference/settings/monitoring-settings.asciidoc
Labels: backport

#47182 Fold InitialSearchPhase into AbstractSearchAsyncAction
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/ArraySearchPhaseResults.java
  server/src/main/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/DfsQueryPhase.java
  server/src/main/java/org/elasticsearch/action/search/FetchSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/InitialSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseResults.java
  server/src/test/java/org/elasticsearch/action/search/AbstractSearchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/FetchSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
Labels: :Search/Search, >enhancement, v7.5.0, v8.0.0

#46713 [DOCS] Reformat split index API docs
  docs/reference/indices/split-index.asciidoc
Labels: :Core/Features/Indices APIs, >docs, v7.3.0, v7.4.1, v7.5.0, v8.0.0

#47578 [7.x] [DOCS] Reformat split index API docs (#46713)
  docs/reference/indices/split-index.asciidoc
Labels: :Core/Features/Indices APIs, >docs, backport, v7.5.0

#47579 [7.4] [DOCS] Reformat split index API docs (#46713)
  docs/reference/indices/split-index.asciidoc
Labels: :Core/Features/Indices APIs, >docs, backport, v7.4.1

#47534 [7.x][DOCS] Copies security source files from stack-docs
  docs/reference/monitoring/production.asciidoc
  x-pack/docs/en/security/authentication/active-directory-realm.asciidoc
  x-pack/docs/en/security/authentication/built-in-users.asciidoc
  x-pack/docs/en/security/authentication/file-realm.asciidoc
  x-pack/docs/en/security/authentication/index.asciidoc
  x-pack/docs/en/security/authentication/internal-users.asciidoc
  x-pack/docs/en/security/authentication/kerberos-realm.asciidoc
  x-pack/docs/en/security/authentication/ldap-realm.asciidoc
  x-pack/docs/en/security/authentication/native-realm.asciidoc
  x-pack/docs/en/security/authentication/overview.asciidoc
  x-pack/docs/en/security/authentication/pki-realm.asciidoc
  x-pack/docs/en/security/authentication/realm-chains.asciidoc
  x-pack/docs/en/security/authentication/realms.asciidoc
  x-pack/docs/en/security/authentication/saml-realm.asciidoc
  x-pack/docs/en/security/authorization/built-in-roles.asciidoc
  x-pack/docs/en/security/authorization/configuring-authorization-delegation.asciidoc
  x-pack/docs/en/security/authorization/document-level-security.asciidoc
  x-pack/docs/en/security/authorization/field-level-security.asciidoc
  x-pack/docs/en/security/authorization/images/authorization.png
  x-pack/docs/en/security/authorization/index.asciidoc
  x-pack/docs/en/security/authorization/overview.asciidoc
  x-pack/docs/en/security/authorization/privileges.asciidoc
  x-pack/docs/en/security/ccs-clients-integrations/cross-cluster-kibana.asciidoc
  x-pack/docs/en/security/ccs-clients-integrations/cross-cluster.asciidoc
  x-pack/docs/en/security/get-started-builtin-users.asciidoc
  x-pack/docs/en/security/get-started-enable-security.asciidoc
  x-pack/docs/en/security/get-started-kibana-users.asciidoc
  x-pack/docs/en/security/get-started-security.asciidoc
  x-pack/docs/en/security/how-security-works.asciidoc
  x-pack/docs/en/security/images/assign-role.jpg
  x-pack/docs/en/security/images/create-logstash-user.jpg
  x-pack/docs/en/security/images/create-reader-role.jpg
  x-pack/docs/en/security/images/create-user.jpg
  x-pack/docs/en/security/images/create-writer-role.jpg
  x-pack/docs/en/security/images/management-builtin-users.jpg
  x-pack/docs/en/security/images/management-roles.jpg
  x-pack/docs/en/security/images/management-users.jpg
  x-pack/docs/en/security/index.asciidoc
  x-pack/docs/en/security/limitations.asciidoc
  x-pack/docs/en/security/securing-communications/tutorial-tls-addnodes.asciidoc
  x-pack/docs/en/security/securing-communications/tutorial-tls-certificates.asciidoc
  x-pack/docs/en/security/securing-communications/tutorial-tls-internode.asciidoc
  x-pack/docs/en/security/securing-communications/tutorial-tls-intro.asciidoc
  x-pack/docs/en/security/troubleshooting.asciidoc
Labels: backport

#47580 [7.3] [DOCS] Reformat split index API docs (#46713)
  docs/reference/indices/split-index.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, >docs, backport, v7.3.3

#47335 Cancel ephemeral task on assignment conflict
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/AbstractAsyncBulkByScrollAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexTask.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexTaskStateUpdater.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/AsyncBulkByScrollActionTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexTaskStateUpdaterTests.java
  server/src/main/java/org/elasticsearch/index/reindex/BulkByScrollTask.java
  server/src/main/java/org/elasticsearch/tasks/CancellableTask.java
Labels: :Distributed/Reindex, >non-issue, v8.0.0

#47343 [7.x] Implement evaluation API for multiclass classification problem (#47126)
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/evaluation/MlEvaluationNamedXContentProvider.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/Classification.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixMetric.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/ClassificationTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixMetricTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/MlEvaluationNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/ClassificationMetric.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/MulticlassConfusionMatrix.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/EvaluateDataFrameActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixResultTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationEvaluationIT.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/evaluate_data_frame.yml
Labels: :ml, >feature, backport, v7.5.0
