Repository elastic/elasticsearch, pull requests merged in 2019-12, with the labels that each got.

#49738 Deprecate sorting in reindex (#49458)
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/CRUDDocumentationIT.java
  docs/java-rest/high-level/document/reindex.asciidoc
  docs/reference/docs/reindex.asciidoc
  docs/reference/ilm/ilm-with-existing-indices.asciidoc
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/Reindexer.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexSingleNodeTests.java
  modules/reindex/src/test/resources/rest-api-spec/test/reindex/30_search.yml
  server/src/main/java/org/elasticsearch/index/reindex/ReindexRequest.java
Labels: :Distributed/Reindex, backport, v7.6.0

#49724 Run 180_locale_dependent_mapping only since 6.8.5
  rest-api-spec/src/main/resources/rest-api-spec/test/search/180_locale_dependent_mapping.yml
Labels: >test

#49491 Add note how to run locale sensitive unit test
  CONTRIBUTING.md
  server/src/test/java/org/elasticsearch/search/query/SearchQueryIT.java
Labels: :Core/Infra/Build, >docs, >test, v7.6.0, v8.0.0

#49755 Drop snapshot instructions for autobootstrap fix
  docs/reference/modules/discovery/bootstrapping.asciidoc
  docs/reference/upgrade/rolling_upgrade.asciidoc
Labels: :Distributed/Cluster Coordination, >docs, v7.5.1, v7.6.0, v8.0.0

#49666 SQL: fix LOCATE function optional parameter handling
  x-pack/plugin/sql/qa/src/main/resources/functions.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/string-functions.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Locate.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/LocateFunctionPipeTests.java
Labels: :Search/SQL, >bug, v6.8.6, v7.5.1, v7.6.0, v8.0.0

#49644 SQL: fix NULL handling for FLOOR and CEIL functions
  x-pack/plugin/sql/qa/src/main/resources/math.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/math/Ceil.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/math/Floor.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/math/MathFunctionProcessorTests.java
Labels: :Search/SQL, >bug, v6.8.6, v7.5.1, v7.6.0, v8.0.0

#49633 SQL: handle NULL arithmetic operations with INTERVALs
  docs/reference/sql/functions/date-time.asciidoc
  x-pack/plugin/sql/qa/src/main/resources/arithmetic.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/datetime-interval.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/TypeResolutions.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/Cast.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/Case.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/nulls/IsNotNull.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/nulls/IsNull.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/DateTimeArithmeticOperation.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/Mul.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/query/TermsQuery.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/DataType.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/DataTypeConversion.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/DataTypes.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/BinaryArithmeticTests.java
Labels: :Search/SQL, >bug, v7.5.1, v7.6.0, v8.0.0

#49407 [DOCS] Explicitly document enrich `target_field` includes `match_field`
  docs/reference/ingest/enrich.asciidoc
  docs/reference/ingest/processors/enrich.asciidoc
Labels: :Core/Features/Ingest, >docs, v7.4.3, v7.5.1, v7.6.0, v8.0.0

#49731 [Transform] Fix possible audit logging disappearance after rolling upgrade
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/persistence/TransformInternalIndexConstants.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndexTests.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, >bug, v7.5.1, v7.6.0, v8.0.0

#49604 [DOCS] Reformat keep types and keep words token filter docs
  docs/reference/analysis/tokenfilters/keep-types-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/keep-words-tokenfilter.asciidoc
  docs/reference/analysis/tokenizers.asciidoc
Labels: :Search/Analysis, >docs, v7.4.3, v7.5.1, v7.6.0, v8.0.0

#49751 Add test in CoreValuesSourceTypeTests for histogram
  server/src/test/java/org/elasticsearch/search/aggregations/support/CoreValuesSourceTypeTests.java
Labels: :Analytics/Aggregations, >test, v7.6.0, v8.0.0

#49765 [Backport] Add CoreValuesSourceTypeTests for histogram (#49751)
  server/src/test/java/org/elasticsearch/search/aggregations/support/CoreValuesSourceTypeTests.java
Labels: >test, backport, v7.6.0

#49697 Make Snapshot Metadata Javadocs Clearer
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshot.java
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/SnapshotFiles.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.6.0, v8.0.0

#49320 Add release highlights for 7.5.0
  docs/reference/release-notes/highlights-7.5.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs

#49720 [Geo] Do not create a tree reader for each document
  server/src/main/java/org/elasticsearch/common/geo/GeometryTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/TriangleTreeReader.java
  server/src/main/java/org/elasticsearch/index/fielddata/MultiGeoValues.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/LatLonShapeDVAtomicFieldData.java
  server/src/test/java/org/elasticsearch/common/geo/EncodingComparisonTests.java
  server/src/test/java/org/elasticsearch/common/geo/GeoTestUtils.java
  server/src/test/java/org/elasticsearch/common/geo/GeometryTreeTests.java
  server/src/test/java/org/elasticsearch/common/geo/TriangleTreeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridTilerTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/MissingValuesTests.java
Labels: :Analytics/Geo

#49771 Make Snapshot Metadata Javadocs Clearer (#49697)
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshot.java
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/SnapshotFiles.java
Labels: :Distributed/Snapshot/Restore, backport

#49527 [ML] Apply source query on data frame analytics memory estimation
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/EstimateMemoryUsageIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorFactory.java
Labels: :ml, >bug, v7.5.1

#49733 Document issue 49730 in release notes for 7.5.0
  docs/reference/release-notes/7.5.asciidoc
Labels: :ml/Transform, >docs, v7.5.0

#49777 re-categorize things that appeared in multiple area labels
  docs/reference/release-notes/7.5.asciidoc
Labels: >docs, v7.5.1

#49776 [DOCS] Document CCR compatibility requirements
  docs/reference/ccr/overview.asciidoc
  docs/reference/modules/remote-clusters.asciidoc
Labels: :Distributed/CCR, >docs, v7.5.1, v7.6.0, v8.0.0

#49779 Mute testIndexHasDuplicateData
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
Labels: >test-mute

#49727 Disable sort optimization when index is sorted
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
Labels: :Search/Search, >non-issue, v7.6.0, v8.0.0

#49756 Make only a part of `stop()` method a critical section.
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
Labels: :ml, >bug, v7.6.0, v8.0.0

#49646 Improve resiliency and performance of geogrid aggregation over geoshapes
  libs/geo/src/main/java/org/elasticsearch/geometry/utils/Geohash.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/CellIdSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridTiler.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridTilerTests.java
Labels: :Analytics/Geo

#49789 [Backport 7.5] Expand docs on TLSv1 breaking change
  docs/reference/migration/migrate_7_0/settings.asciidoc
Labels: backport

#49788 [7.x] Make only a part of `stop()` method a critical section. (#49756)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
Labels: :ml, >bug, backport

#49764 Remove Awaitsfix that seems outdated
  qa/die-with-dignity/src/test/java/org/elasticsearch/qa/die_with_dignity/DieWithDignityIT.java
Labels: >non-issue, >test, v7.6.0

#49221 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: :Core/Infra/Build

#49710 Add healthchecks to distro docker-compose.yml
  TESTING.asciidoc
  distribution/docker/docker-compose.yml
Labels: :Core/Infra/Build, v8.0.0

#49746 Replicate write actions before fsyncing them
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationOperation.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportWriteAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/close/TransportVerifyShardBeforeCloseActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/ReplicationOperationTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportWriteActionTests.java
  server/src/test/java/org/elasticsearch/index/seqno/GlobalCheckpointSyncIT.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseBackgroundSyncActionTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseSyncActionTests.java
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/TransportBulkShardOperationsAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskReplicationTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/bulk/BulkShardOperationsTests.java
Labels: :Distributed/CRUD, >bug, v7.6.0, v8.0.0

#49447 Docs: Fix & test more grok processor documentation
  docs/reference/ingest/processors/grok.asciidoc
Labels: :Core/Features/Ingest, >docs

#49079 Migrate some of the Docker tests from old repository
  distribution/docker/src/docker/Dockerfile
  distribution/docker/src/docker/bin/docker-entrypoint.sh
  qa/os/build.gradle
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Docker.java
Labels: :Core/Infra/Packaging, v8.0.0

#49728 Silence lint warnings in server project - part 2
  server/src/main/java/org/apache/lucene/search/grouping/CollapseTopFieldDocs.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/RolloverInfo.java
  server/src/main/java/org/elasticsearch/action/explain/ExplainResponse.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/BroadcastResponse.java
  server/src/main/java/org/elasticsearch/action/termvectors/MultiTermVectorsRequest.java
  server/src/main/java/org/elasticsearch/client/node/NodeClient.java
  server/src/main/java/org/elasticsearch/cluster/DiffableUtils.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaData.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingTable.java
  server/src/main/java/org/elasticsearch/common/collect/ImmutableOpenIntMap.java
  server/src/main/java/org/elasticsearch/common/collect/ImmutableOpenMap.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentHelper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeParsers.java
  server/src/main/java/org/elasticsearch/plugins/SearchPlugin.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/AbstractPipelineAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/StoredFieldsContext.java
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/main/java/org/elasticsearch/search/slice/SliceBuilder.java
  server/src/main/java/org/elasticsearch/search/suggest/Suggest.java
  server/src/main/java/org/elasticsearch/search/suggest/SuggestionSearchContext.java
  server/src/main/java/org/elasticsearch/transport/TransportMessageListener.java
Labels: :Core/Infra/Core, v8.0.0

#49502 [7.5] [ML] Stop timing stats failure propagation (#49495)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJob.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedTimingStatsReporter.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedTimingStatsReporterTests.java
Labels: :ml, >bug, backport

#49791 A few cleanups in evaluation test code
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/EvaluateDataFrameResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/AccuracyMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/ClassificationTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/AucRocMetricAucRocPointTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/AucRocMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/ConfusionMatrixMetricConfusionMatrixTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/ConfusionMatrixMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/PrecisionMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/RecallMetricResultTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/MockAggregations.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/AccuracyTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/regression/MeanSquaredErrorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/regression/RSquaredTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/softclassification/ConfusionMatrixTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/softclassification/PrecisionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/softclassification/RecallTests.java
Labels: :ml, >non-issue, v7.6.0, v8.0.0

#49794 [7.x] A few cleanups in evaluation tests (#49791)
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/EvaluateDataFrameResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/AccuracyMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/ClassificationTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/AucRocMetricAucRocPointTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/AucRocMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/ConfusionMatrixMetricConfusionMatrixTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/ConfusionMatrixMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/PrecisionMetricResultTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/evaluation/softclassification/RecallMetricResultTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/MockAggregations.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/AccuracyTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/MulticlassConfusionMatrixTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/regression/MeanSquaredErrorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/regression/RSquaredTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/softclassification/ConfusionMatrixTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/softclassification/PrecisionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/softclassification/RecallTests.java
Labels: :ml, >non-issue, backport

#49772 Ensure remote strategy settings can be updated
  server/src/main/java/org/elasticsearch/transport/SimpleConnectionStrategy.java
  server/src/main/java/org/elasticsearch/transport/SniffConnectionStrategy.java
  server/src/test/java/org/elasticsearch/transport/SimpleConnectionStrategyTests.java
  server/src/test/java/org/elasticsearch/transport/SniffConnectionStrategyTests.java
Labels: :Distributed/Network, >non-issue, v7.6.0, v8.0.0

#49767 [7.x][Transform] Fix possible audit logging disappearance after rolling upgrade
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/persistence/TransformInternalIndexConstants.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndexTests.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, >bug, backport

#49770 [7.5][Transform] Fix possible audit logging disappearance after rolling upgrade
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/persistence/TransformInternalIndexConstants.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportDeleteTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportPutTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndexTests.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/80_data_frame_jobs_crud.yml
Labels: :ml/Transform, >bug, backport

#49784 Extend systemd timeout during startup
  modules/systemd/src/main/java/org/elasticsearch/systemd/SystemdPlugin.java
  modules/systemd/src/test/java/org/elasticsearch/systemd/SystemdPluginTests.java
Labels: :Core/Infra/Packaging, >bug, v7.5.1, v7.6.0, v8.0.0

#49416 [DOCS] Adds OOM banner to ES Ref
  docs/reference/page_header.html
Labels: :Docs, >docs, v6.3.3, v6.4.4, v6.5.5, v6.6.3, v6.7.3, v7.0.2, v7.1.2, v7.2.2, v7.3.3, v7.4.3

#44564 Stop Copying Every Http Request in Message Handler
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpRequest.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpRequestHandler.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpRequest.java
  server/src/main/java/org/elasticsearch/http/DefaultRestChannel.java
  server/src/main/java/org/elasticsearch/http/HttpRequest.java
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/main/java/org/elasticsearch/rest/RestHandler.java
  server/src/main/java/org/elasticsearch/rest/RestRequest.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestBulkAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestSearchAction.java
  server/src/test/java/org/elasticsearch/http/DefaultRestChannelTests.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
  test/framework/src/main/java/org/elasticsearch/test/rest/FakeRestRequest.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/SecurityRestFilter.java
Labels: :Distributed/Network, >non-issue, v7.6.0, v8.0.0

#49810 fixes assertion of shape-count in GeometryTreeReader
  server/src/main/java/org/elasticsearch/common/geo/GeometryTreeReader.java
Labels: :Analytics/Geo

#49652 Scripting: add available languages & contexts API
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  modules/lang-expression/src/main/java/org/elasticsearch/script/expression/ExpressionScriptEngine.java
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/MustacheScriptEngine.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessScriptEngine.java
  plugins/examples/script-expert-scoring/src/main/java/org/elasticsearch/example/expertscript/ExpertScriptPlugin.java
  rest-api-spec/src/main/resources/rest-api-spec/api/get_script_languages.json
  rest-api-spec/src/main/resources/rest-api-spec/test/scripts/25_get_script_languages.yml
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/GetScriptLanguageAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/GetScriptLanguageRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/GetScriptLanguageResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/TransportGetScriptLanguageAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetScriptLanguageAction.java
  server/src/main/java/org/elasticsearch/script/ScriptEngine.java
  server/src/main/java/org/elasticsearch/script/ScriptLanguagesInfo.java
  server/src/main/java/org/elasticsearch/script/ScriptService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/storedscripts/GetScriptLanguageResponseTests.java
  server/src/test/java/org/elasticsearch/script/ScriptLanguagesInfoTests.java
  server/src/test/java/org/elasticsearch/search/functionscore/ExplainableScriptIT.java
  server/src/test/java/org/elasticsearch/search/suggest/SuggestSearchIT.java
  test/framework/src/main/java/org/elasticsearch/script/MockScriptEngine.java
Labels: :Core/Infra/Scripting, >enhancement, v7.6.0, v8.0.0

#49496 [Transform] automatic deletion of old checkpoints
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformCheckpoint.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/IndexBasedTransformConfigManager.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformConfigManager.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/persistence/InMemoryTransformConfigManager.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/persistence/TransformConfigManagerTests.java
Labels: :ml/Transform, >enhancement, v7.6.0, v8.0.0

#49809 Stop Copying Every Http Request in Message Handler (#44564)
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpRequest.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpRequestHandler.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpRequest.java
  server/src/main/java/org/elasticsearch/http/DefaultRestChannel.java
  server/src/main/java/org/elasticsearch/http/HttpRequest.java
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/main/java/org/elasticsearch/rest/RestHandler.java
  server/src/main/java/org/elasticsearch/rest/RestRequest.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestBulkAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestSearchAction.java
  server/src/test/java/org/elasticsearch/http/DefaultRestChannelTests.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
  test/framework/src/main/java/org/elasticsearch/test/rest/FakeRestRequest.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/SecurityRestFilter.java
Labels: :Distributed/Network, backport

#49793 Fixes a bug in interval filter serialization
  server/src/main/java/org/elasticsearch/index/query/IntervalsSourceProvider.java
  server/src/test/java/org/elasticsearch/index/query/IntervalQueryBuilderTests.java
Labels: :Search/Search, >bug, v7.6.0, v8.0.0

#49792 Migrate some of the Docker tests from old repository
  distribution/docker/src/docker/Dockerfile
  distribution/docker/src/docker/bin/docker-entrypoint.sh
  qa/os/build.gradle
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Docker.java
Labels: :Core/Infra/Packaging, backport, v7.6.0

#49799 Add reusable HistogramValue object
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
Labels: :Analytics/Aggregations, >enhancement, v7.6.0, v8.0.0

#49566 Fix invalid break iterator highlighting on keyword field
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/UnifiedHighlighter.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
Labels: :Search/Highlighting, >bug, v7.6.0, v8.0.0

#49823 [Backport] Add reusable HistogramValue object
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
Labels: >enhancement, backport, v7.6.0

#49729 Use Cluster State to Track Repository Generation
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/get/GetRepositoriesResponse.java
  server/src/main/java/org/elasticsearch/cluster/metadata/RepositoriesMetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/RepositoryMetaData.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/package-info.java
  server/src/main/java/org/elasticsearch/repositories/fs/FsRepository.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryRestoreTests.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryTests.java
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/test/java/org/elasticsearch/snapshots/RepositoriesMetaDataSerializationTests.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  server/src/test/java/org/elasticsearch/snapshots/mockstore/MockEventuallyConsistentRepository.java
  server/src/test/java/org/elasticsearch/snapshots/mockstore/MockEventuallyConsistentRepositoryTests.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreTestUtil.java
  test/framework/src/main/java/org/elasticsearch/snapshots/mockstore/MockRepository.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/SourceOnlySnapshotShardTests.java
Labels: :Distributed/Snapshot/Restore, >enhancement, v7.6.0, v8.0.0

#49824 Interval queries cannot be cached if they use scripts
  server/src/test/java/org/elasticsearch/index/query/IntervalQueryBuilderTests.java
Labels: :Search/Search, >test, v7.6.0, v8.0.0

#49747 Add SecureSM support for newer IDEA versions
  libs/secure-sm/src/main/java/org/elasticsearch/secure_sm/SecureSM.java
Labels: :Core/Infra/Core, >non-issue, v6.8.6, v7.5.1, v7.6.0, v8.0.0

#49825 Stop Allocating Buffers in CopyBytesSocketChannel
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/CopyBytesSocketChannel.java
Labels: :Distributed/Network, >non-issue, v7.6.0, v8.0.0

#49805 [DOCS] Reformat length token filter docs
  docs/reference/analysis/tokenfilters/length-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, v7.5.1, v7.6.0, v8.0.0

#49826 [ML][HLRC] DF analytics setVersion and setCreateTime should not be pu…
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/DataFrameAnalyticsConfig.java
Labels: :ml, >non-issue, v7.6.0, v8.0.0

#49811 use ShapeType ordinals when deserializing shape trees by type
  server/src/main/java/org/elasticsearch/common/geo/GeometryTreeReader.java
Labels: :Analytics/Geo

#49829 Fix concurrent issue in SearchPhaseController
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/action/search/SearchProgressListener.java
Labels: :Search/Search, >non-issue, v7.6.0, v8.0.0

#49833 [7.x][ML][HLRC] DF analytics setVersion and setCreateTime should not …
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/DataFrameAnalyticsConfig.java
Labels: :ml, >non-issue, backport

#49816 remove usage of Extent in ShapeTreeReader#relate logic
  server/src/main/java/org/elasticsearch/common/geo/EdgeTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/GeometryTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/Point2DReader.java
  server/src/main/java/org/elasticsearch/common/geo/PolygonTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/ShapeTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/TriangleTreeReader.java
  server/src/main/java/org/elasticsearch/index/fielddata/MultiGeoValues.java
  server/src/test/java/org/elasticsearch/common/geo/AbstractTreeTestCase.java
  server/src/test/java/org/elasticsearch/common/geo/EncodingComparisonTests.java
  server/src/test/java/org/elasticsearch/common/geo/GeoTestUtils.java
Labels: :Analytics/Geo

#48865 [DOCS] Document `minimum_should_match` defaults for `bool` query
  docs/reference/query-dsl/bool-query.asciidoc
Labels: :Search/Search, >docs, v6.8.6, v7.5.1, v7.6.0, v8.0.0

#49832 Stop Allocating Buffers in CopyBytesSocketChannel (#49825)
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/CopyBytesSocketChannel.java
Labels: :Distributed/Network, backport

#49279 Support es7 node http publish_address format
  client/sniffer/src/main/java/org/elasticsearch/client/sniff/ElasticsearchNodesSniffer.java
  client/sniffer/src/test/java/org/elasticsearch/client/sniff/ElasticsearchNodesSnifferParseTests.java
  client/sniffer/src/test/resources/es6_nodes_publication_address_format.json
  client/sniffer/src/test/resources/es7_nodes_publication_address_format.json
Labels: :Core/Features/Java High Level REST Client, >bug, v8.0.0

#49814 Fix task input for docker build
  distribution/docker/build.gradle
Labels: :Core/Infra/Build, >enhancement, v7.6.0, v8.0.0

#49815 Scripting: add available languages & contexts API (#49652)
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  modules/lang-expression/src/main/java/org/elasticsearch/script/expression/ExpressionScriptEngine.java
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/MustacheScriptEngine.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessScriptEngine.java
  plugins/examples/script-expert-scoring/src/main/java/org/elasticsearch/example/expertscript/ExpertScriptPlugin.java
  rest-api-spec/src/main/resources/rest-api-spec/api/get_script_languages.json
  rest-api-spec/src/main/resources/rest-api-spec/test/scripts/25_get_script_languages.yml
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/GetScriptLanguageAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/GetScriptLanguageRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/GetScriptLanguageResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/TransportGetScriptLanguageAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetScriptLanguageAction.java
  server/src/main/java/org/elasticsearch/script/ScriptEngine.java
  server/src/main/java/org/elasticsearch/script/ScriptLanguagesInfo.java
  server/src/main/java/org/elasticsearch/script/ScriptService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/storedscripts/GetScriptLanguageResponseTests.java
  server/src/test/java/org/elasticsearch/script/ScriptLanguagesInfoTests.java
  server/src/test/java/org/elasticsearch/search/functionscore/ExplainableScriptIT.java
  server/src/test/java/org/elasticsearch/search/suggest/SuggestSearchIT.java
  test/framework/src/main/java/org/elasticsearch/script/MockScriptEngine.java
Labels: :Core/Infra/Scripting, backport, v7.6.0

#49834 [DOCS] Fixes typo in the ML anomaly detection time functions docs
  docs/reference/ml/anomaly-detection/functions/time.asciidoc
Labels: :ml, >docs, v6.8.6, v7.4.3, v7.5.1, v7.6.0, v8.0.0

#49849 [6.8][DOCS] Fixes typo in the ML anomaly detection time functions docs
  docs/reference/ml/functions/time.asciidoc
Labels: :ml, >docs, backport, v6.8.6

#49543 BoolQueryBuilder - remove adjust_pure_negative:true from XContent rendering
  rest-api-spec/src/main/resources/rest-api-spec/test/search_shards/10_basic.yml
  server/src/main/java/org/elasticsearch/index/query/BoolQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/BoolQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/NestedQueryBuilderTests.java
Labels: :Search/Search

#49831 [DOCS] Adds an example of preprocessing actions to the PUT DFA API docs
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
Labels: :ml, >docs, v7.6.0, v8.0.0

#49812 Ensure remote strategy settings can be updated
  server/src/main/java/org/elasticsearch/transport/SimpleConnectionStrategy.java
  server/src/main/java/org/elasticsearch/transport/SniffConnectionStrategy.java
  server/src/test/java/org/elasticsearch/transport/SimpleConnectionStrategyTests.java
  server/src/test/java/org/elasticsearch/transport/SniffConnectionStrategyTests.java
Labels: :Distributed/Network, >non-issue, backport, v7.6.0

#48884 Add int indicating size of transport header
  server/src/main/java/org/elasticsearch/transport/InboundMessage.java
  server/src/main/java/org/elasticsearch/transport/OutboundMessage.java
  server/src/main/java/org/elasticsearch/transport/TcpHeader.java
  server/src/main/java/org/elasticsearch/transport/TransportLogger.java
  server/src/test/java/org/elasticsearch/transport/InboundMessageTests.java
  server/src/test/java/org/elasticsearch/transport/TransportLoggerTests.java
Labels: :Distributed/Network, >non-issue, v7.6.0, v8.0.0

#49839 [7.x] Support es7 node http publish_address format (#49279)
  client/sniffer/src/main/java/org/elasticsearch/client/sniff/ElasticsearchNodesSniffer.java
  client/sniffer/src/test/java/org/elasticsearch/client/sniff/ElasticsearchNodesSnifferParseTests.java
  client/sniffer/src/test/resources/es6_nodes_publication_address_format.json
  client/sniffer/src/test/resources/es7_nodes_publication_address_format.json
Labels: backport

#49841 [7.5] Support es7 node http publish_address format (#49279)
  client/sniffer/src/main/java/org/elasticsearch/client/sniff/ElasticsearchNodesSniffer.java
  client/sniffer/src/test/java/org/elasticsearch/client/sniff/ElasticsearchNodesSnifferParseTests.java
  client/sniffer/src/test/resources/es6_nodes_publication_address_format.json
  client/sniffer/src/test/resources/es7_nodes_publication_address_format.json
Labels: backport

#49843 [6.8] Support es7 node http publish_address format (#49279)
  client/sniffer/src/main/java/org/elasticsearch/client/sniff/ElasticsearchNodesSniffer.java
  client/sniffer/src/test/java/org/elasticsearch/client/sniff/ElasticsearchNodesSnifferParseTests.java
  client/sniffer/src/test/resources/es6_nodes_publication_address_format.json
  client/sniffer/src/test/resources/es7_nodes_publication_address_format.json
Labels: backport

#49847 Add full extent to the triangle tree to support geo_bounds aggregation
  server/src/main/java/org/elasticsearch/common/geo/Extent.java
  server/src/main/java/org/elasticsearch/common/geo/TriangleTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/TriangleTreeWriter.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeIndexer.java
  server/src/test/java/org/elasticsearch/common/geo/ExtentTests.java
Labels: :Analytics/Geo

#49863 [DOCS] {integer) -> (integer)
  docs/reference/docs/reindex.asciidoc
Labels: :Distributed/Reindex, >docs

#49844 Minor Painless Clean Up
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ERegex.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SFunction.java
Labels: :Core/Infra/Scripting, >refactoring, v7.6.0, v8.0.0

#49813 Fix external integ test zip dep to expect a zip
  buildSrc/src/main/java/org/elasticsearch/gradle/DistributionDownloadPlugin.java
Labels: :Core/Infra/Build, >bug, v7.5.1, v7.6.0, v8.0.0

#49635 Consistent case in CLI option descriptions
  libs/cli/src/main/java/org/elasticsearch/cli/Command.java
  server/src/main/java/org/elasticsearch/bootstrap/Elasticsearch.java
Labels: :Core/Infra/Core, >enhancement

#49857 [Backport] Expand docs on TLSv1 breaking change
  docs/reference/migration/migrate_7_0/settings.asciidoc
Labels: backport

#49890 Move BuildParams class to 'minimumRuntime' source set
  buildSrc/src/minimumRuntime/java/org/elasticsearch/gradle/info/BuildParams.java
  buildSrc/src/minimumRuntime/java/org/elasticsearch/gradle/info/JavaHome.java
Labels: :Core/Infra/Build, v7.6.0, v8.0.0

#49785 Add nodes to handle types
  modules/lang-painless/src/main/java/org/elasticsearch/painless/antlr/Walker.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/DResolvedType.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/DType.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/DUnresolvedType.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SDeclaration.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/node/NodeToStringTests.java
Labels: :Core/Infra/Scripting, >refactoring, v7.6.0, v8.0.0

#49892 Dump wildfly log on start failure
  qa/wildfly/build.gradle
Labels: :Core/Infra/Build, >enhancement, v7.6.0, v8.0.0

#49855 Reindex sort deprecation warning take 2
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexValidator.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/Reindexer.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexSingleNodeTests.java
  modules/reindex/src/test/resources/rest-api-spec/test/reindex/30_search.yml
Labels: :Distributed/Reindex, >enhancement, v7.6.0, v8.0.0

#49822 [Transform][DOCS]rewrite client ip example to use continuous transform
  docs/reference/transform/examples.asciidoc
Labels: :ml/Transform, >docs, v7.5.1, v7.6.0, v8.0.0

#49899 Reindex sort deprecation warning take 2 (#49855)
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexValidator.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/Reindexer.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexSingleNodeTests.java
  modules/reindex/src/test/resources/rest-api-spec/test/reindex/30_search.yml
Labels: :Distributed/Reindex, backport, v7.6.0

#49898 [DOCS] Fixes attribute in transforms overview
  docs/reference/transform/overview.asciidoc
Labels: :ml, :ml/Transform, >docs, v7.2.2, v7.3.3, v7.4.3, v7.5.1, v7.6.0, v8.0.0

#49862 Cleanup Old index-N Blobs in Repository Cleanup
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryCleanupIT.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.6.0, v8.0.0

#49905 [DOCS] Fixes classification evaluation example response
  docs/reference/ml/df-analytics/apis/evaluate-dfanalytics.asciidoc
Labels: >docs, v7.6.0, v8.0.0

#47668 APM system_user
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: :Core/Features/Monitoring, :Security/Authorization, v7.4.3, v7.6.0, v8.0.0

#49906 Log whole analytics stats when the state assertion fails
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
Labels: :ml, >test, v7.6.0, v8.0.0

#49911 [7.x] Log whole analytics stats when the state assertion fails (#49906)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
Labels: :ml, >test, backport

#49715 Add tests for ingesting CBOR data attachments
  plugins/ingest-attachment/src/test/java/org/elasticsearch/ingest/attachment/AttachmentProcessorTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
Labels: :Core/Features/Ingest, >test

#49736 Always return 401 for not valid tokens
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenServiceTests.java
Labels: :Security/Authentication, >bug, v7.6.0, v8.0.0

#49910 Fix TimedRunnable Executing onAfter Twice
  server/src/main/java/org/elasticsearch/common/util/concurrent/TimedRunnable.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/TimedRunnableTests.java
Labels: :Core/Infra/Core, >non-issue, v7.6.0, v8.0.0

#49891 Refactor IndexLifecycleRunner to split state modification
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/LifecycleExecutionState.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/LifecycleExecutionStateTests.java
  x-pack/plugin/ilm/qa/rest/src/test/resources/rest-api-spec/test/ilm/40_explain_lifecycle.yml
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleTransition.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/MoveToErrorStepUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/MoveToNextStepUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/SetStepInfoUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportMoveToStepAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportRemoveIndexLifecyclePolicyAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleTransitionTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/MoveToErrorStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/MoveToNextStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/SetStepInfoUpdateTaskTests.java
Labels: :Core/Features/ILM+SLM, >non-issue, v7.6.0, v8.0.0

#49347 Update jackson-databind to 2.8.11.4
  buildSrc/version.properties
  modules/ingest-geoip/build.gradle
  modules/ingest-geoip/licenses/jackson-databind-2.8.11.3.jar.sha1
  modules/ingest-geoip/licenses/jackson-databind-2.8.11.4.jar.sha1
  plugins/discovery-ec2/build.gradle
  plugins/discovery-ec2/licenses/jackson-databind-2.8.11.3.jar.sha1
  plugins/discovery-ec2/licenses/jackson-databind-2.8.11.4.jar.sha1
  plugins/repository-s3/build.gradle
  plugins/repository-s3/licenses/jackson-databind-2.8.11.3.jar.sha1
  plugins/repository-s3/licenses/jackson-databind-2.8.11.4.jar.sha1
  x-pack/snapshot-tool/build.gradle
  x-pack/snapshot-tool/licenses/jackson-databind-2.8.11.3.jar.sha1
  x-pack/snapshot-tool/licenses/jackson-databind-2.8.11.4.jar.sha1
Labels: :Core/Features/Ingest, :Core/Infra/Build, v6.8.6, v7.5.1, v7.6.0, v8.0.0

#49937 [7.x] Update jackson-databind to 2.8.11.4 (#49347)
  buildSrc/version.properties
  modules/ingest-geoip/build.gradle
  modules/ingest-geoip/licenses/jackson-databind-2.8.11.3.jar.sha1
  modules/ingest-geoip/licenses/jackson-databind-2.8.11.4.jar.sha1
  plugins/discovery-ec2/build.gradle
  plugins/discovery-ec2/licenses/jackson-databind-2.8.11.3.jar.sha1
  plugins/discovery-ec2/licenses/jackson-databind-2.8.11.4.jar.sha1
  plugins/repository-s3/build.gradle
  plugins/repository-s3/licenses/jackson-databind-2.8.11.3.jar.sha1
  plugins/repository-s3/licenses/jackson-databind-2.8.11.4.jar.sha1
  x-pack/snapshot-tool/build.gradle
  x-pack/snapshot-tool/licenses/jackson-databind-2.8.11.3.jar.sha1
  x-pack/snapshot-tool/licenses/jackson-databind-2.8.11.4.jar.sha1
Labels: backport

#49938 [7.5] Update jackson-databind to 2.8.11.4 (#49347)
  buildSrc/version.properties
  modules/ingest-geoip/build.gradle
  modules/ingest-geoip/licenses/jackson-databind-2.8.11.3.jar.sha1
  modules/ingest-geoip/licenses/jackson-databind-2.8.11.4.jar.sha1
  plugins/discovery-ec2/build.gradle
  plugins/discovery-ec2/licenses/jackson-databind-2.8.11.3.jar.sha1
  plugins/discovery-ec2/licenses/jackson-databind-2.8.11.4.jar.sha1
  plugins/repository-s3/build.gradle
  plugins/repository-s3/licenses/jackson-databind-2.8.11.3.jar.sha1
  plugins/repository-s3/licenses/jackson-databind-2.8.11.4.jar.sha1
  x-pack/snapshot-tool/build.gradle
  x-pack/snapshot-tool/licenses/jackson-databind-2.8.11.3.jar.sha1
  x-pack/snapshot-tool/licenses/jackson-databind-2.8.11.4.jar.sha1
Labels: backport

#49936 [7.x] Refactor IndexLifecycleRunner to split state modificatio…
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/LifecycleExecutionState.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/LifecycleExecutionStateTests.java
  x-pack/plugin/ilm/qa/rest/src/test/resources/rest-api-spec/test/ilm/40_explain_lifecycle.yml
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleTransition.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/MoveToErrorStepUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/MoveToNextStepUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/SetStepInfoUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportMoveToStepAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportRemoveIndexLifecyclePolicyAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleTransitionTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/MoveToErrorStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/MoveToNextStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/SetStepInfoUpdateTaskTests.java
Labels: :Core/Features/ILM+SLM, backport, v7.6.0

#49573 Allow list of IPs in geoip ingest processor
  docs/reference/ingest/processors/geoip.asciidoc
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorTests.java
  modules/ingest-geoip/src/test/resources/rest-api-spec/test/ingest_geoip/20_geoip_processor.yml
Labels: :Core/Features/Ingest, >bug, v7.6.0, v8.0.0

#49211 Upgrade to Gradle 6.0
  .ci/java-versions.properties
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/resources/minimumGradleVersion
  buildSrc/src/testKit/thirdPartyAudit/build.gradle
  distribution/packages/build.gradle
  gradle/build-complete.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  settings.gradle
Labels: :Core/Infra/Build, :Core/Infra/Packaging, v7.6.0, v8.0.0

#49947 [7.x] Allow list of IPs in geoip ingest processor (#49573)
  docs/reference/ingest/processors/geoip.asciidoc
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorTests.java
  modules/ingest-geoip/src/test/resources/rest-api-spec/test/ingest_geoip/20_geoip_processor.yml
Labels: backport

#49700 [DOCS] Move anomaly detection job resource definitions into APIs
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/config/Detector.java
  docs/build.gradle
  docs/reference/ml/anomaly-detection/apis/close-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/datafeedresource.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/flush-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-bucket.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-category.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-influencer.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-overall-buckets.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/jobresource.asciidoc
  docs/reference/ml/anomaly-detection/apis/open-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-data.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/revert-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/validate-detector.asciidoc
  docs/reference/ml/anomaly-detection/apis/validate-job.asciidoc
  docs/reference/ml/anomaly-detection/categories.asciidoc
  docs/reference/ml/anomaly-detection/functions.asciidoc
  docs/reference/ml/anomaly-detection/functions/count.asciidoc
  docs/reference/ml/anomaly-detection/functions/geo.asciidoc
  docs/reference/ml/anomaly-detection/functions/info.asciidoc
  docs/reference/ml/anomaly-detection/functions/metric.asciidoc
  docs/reference/ml/anomaly-detection/functions/rare.asciidoc
  docs/reference/ml/anomaly-detection/functions/sum.asciidoc
  docs/reference/ml/anomaly-detection/functions/time.asciidoc
  docs/reference/ml/df-analytics/apis/delete-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/explain-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/get-dfanalytics-stats.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/start-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/stop-dfanalytics.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/rest-api/defs.asciidoc
  docs/reference/settings/ml-settings.asciidoc
Labels: :ml, >docs, v8.0.0

#49949 [7.2][DOCS] Add CCR docs to the Elasticsearch Reference Guide (#45704)
  docs/reference/administering.asciidoc
  docs/reference/ccr/auto-follow.asciidoc
  docs/reference/ccr/getting-started.asciidoc
  docs/reference/ccr/index.asciidoc
  docs/reference/ccr/requirements.asciidoc
  docs/reference/high-availability.asciidoc
  docs/reference/high-availability/backup-and-restore-security-config.asciidoc
  docs/reference/high-availability/backup-cluster-config.asciidoc
  docs/reference/high-availability/backup-cluster-data.asciidoc
  docs/reference/high-availability/backup-cluster.asciidoc
  docs/reference/high-availability/restore-cluster-data.asciidoc
  docs/reference/index.asciidoc
  docs/reference/redirects.asciidoc
Labels: backport

#49951 [7.0][DOCS] Add CCR docs to the Elasticsearch Reference Guide (#45704)
  docs/reference/ccr/auto-follow.asciidoc
  docs/reference/ccr/getting-started.asciidoc
  docs/reference/ccr/index.asciidoc
  docs/reference/ccr/requirements.asciidoc
  docs/reference/high-availability.asciidoc
  docs/reference/high-availability/backup-cluster.asciidoc
  docs/reference/index.asciidoc
  docs/reference/redirects.asciidoc
Labels: backport

#49950 [7.1][DOCS] Add CCR docs to the Elasticsearch Reference Guide (#45704)
  docs/reference/ccr/auto-follow.asciidoc
  docs/reference/ccr/getting-started.asciidoc
  docs/reference/ccr/index.asciidoc
  docs/reference/ccr/requirements.asciidoc
  docs/reference/high-availability.asciidoc
  docs/reference/high-availability/backup-cluster.asciidoc
  docs/reference/index.asciidoc
  docs/reference/redirects.asciidoc
Labels: backport

#49893 Disable repo configuration for rpm based systems
  docs/reference/setup/install/rpm.asciidoc
Labels: :Core/Infra/Packaging, >docs, v7.5.1, v7.6.0, v8.0.0

#49952 [6.8][DOCS] Add CCR docs to the Elasticsearch Reference Guide (#45704)
  docs/reference/ccr/auto-follow.asciidoc
  docs/reference/ccr/getting-started.asciidoc
  docs/reference/ccr/index.asciidoc
  docs/reference/ccr/requirements.asciidoc
  docs/reference/high-availability.asciidoc
  docs/reference/index.asciidoc
  docs/reference/redirects.asciidoc
Labels: backport

#49955 [6.5][DOCS] Add CCR docs to the Elasticsearch Reference Guide (#45704)
  docs/reference/ccr/auto-follow.asciidoc
  docs/reference/ccr/getting-started.asciidoc
  docs/reference/ccr/index.asciidoc
  docs/reference/ccr/requirements.asciidoc
  docs/reference/high-availability.asciidoc
  docs/reference/index.asciidoc
  docs/reference/redirects.asciidoc
Labels: backport

#49962 Fix incorrect use of multiline NOTE in rpm docs
  docs/reference/setup/install/rpm.asciidoc
Labels: :Core/Infra/Packaging, >docs

#49901 Cleanup some in o.e.transport
  server/src/main/java/org/elasticsearch/transport/ConnectionProfile.java
  server/src/main/java/org/elasticsearch/transport/InboundHandler.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/TransportRequestOptions.java
Labels: :Distributed/Network, >non-issue, v7.6.0, v8.0.0

#49971 Cleanup some in o.e.transport (#49901)
  server/src/main/java/org/elasticsearch/transport/InboundHandler.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/main/java/org/elasticsearch/transport/TransportRequestOptions.java
Labels: :Distributed/Network, backport

#49930 Fix TimedRunnable Executing onAfter Twice (#49910)
  server/src/main/java/org/elasticsearch/common/util/concurrent/TimedRunnable.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/TimedRunnableTests.java
Labels: :Core/Infra/Core, backport

#49922 Randomly run CCR tests with _source disabled
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrRetentionLeaseIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
Labels: :Distributed/CCR, >non-issue, v7.5.1, v7.6.0, v8.0.0

#49918 Properly fake corrupted translog
  server/src/test/java/org/elasticsearch/index/translog/TestTranslog.java
Labels: :Distributed/Engine, >test, v7.5.1, v7.6.0, v8.0.0

#49977 Disable BwC Tests for #49976
  build.gradle
Labels: :Distributed/Snapshot/Restore, >test-mute

#49976 Use Cluster State to Track Repository Generation (#49729)
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/get/GetRepositoriesResponse.java
  server/src/main/java/org/elasticsearch/cluster/metadata/RepositoriesMetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/RepositoryMetaData.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/package-info.java
  server/src/main/java/org/elasticsearch/repositories/fs/FsRepository.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryRestoreTests.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryTests.java
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/test/java/org/elasticsearch/snapshots/RepositoriesMetaDataSerializationTests.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  server/src/test/java/org/elasticsearch/snapshots/mockstore/MockEventuallyConsistentRepository.java
  server/src/test/java/org/elasticsearch/snapshots/mockstore/MockEventuallyConsistentRepositoryTests.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreTestUtil.java
  test/framework/src/main/java/org/elasticsearch/snapshots/mockstore/MockRepository.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/SourceOnlySnapshotShardTests.java
Labels: :Distributed/Snapshot/Restore, backport

#49912 [7.x] APM system_user (#47668)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: backport

#49913 [7.5] APM system_user (#47668)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: backport

#49924 [ML] Update expected mem estimate in explain API integ test
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ExplainDataFrameAnalyticsIT.java
Labels: :ml, >non-issue, >test, v7.6.0, v8.0.0

#49979 [7.x][ML] Update expected mem estimate in explain API integ test (#49…
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ExplainDataFrameAnalyticsIT.java
Labels: :ml, >test, backport

#49978 Reenable BwC Tests After #49976
  build.gradle
  server/src/main/java/org/elasticsearch/cluster/metadata/RepositoryMetaData.java
Labels: :Distributed/Snapshot/Restore, >test

#49902 Cleanup Old index-N Blobs in Repository Cleanup (#49862)
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryCleanupIT.java
Labels: :Distributed/Snapshot/Restore, backport

#49861 Pass `prediction_field_type` to C++ analytics process
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/DataFrameAnalysis.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetection.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetectionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/TypesTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationEvaluationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessConfig.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/MemoryUsageEstimationProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ExtractedFields.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/MemoryUsageEstimationProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ExtractedFieldsTests.java
Labels: :ml, >enhancement, v7.6.0, v8.0.0

#49923 [ML][Inference] adjust so target_field always has inference result
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/ClassificationInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/InferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/RawInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/RegressionInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ClassificationConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/ClassificationInferenceResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/RegressionInferenceResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ClassificationConfigTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/InferenceIngestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/ModelInferenceActionIT.java
Labels: :ml, >non-issue, v7.6.0, v8.0.0

#49982 [7.x] [ML][Inference] adjust so target_field always has inference result and optionally allow new top classes field in the classification config (#49923)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/ClassificationInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/InferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/RawInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/RegressionInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ClassificationConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/ClassificationInferenceResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/RegressionInferenceResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ClassificationConfigTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/InferenceIngestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/ModelInferenceActionIT.java
Labels: :ml, backport

#49966 Add Validation for maxQueryTerms to be greater than 0 for MoreLikeThisQuery
  server/src/main/java/org/elasticsearch/common/lucene/search/MoreLikeThisQuery.java
  server/src/main/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilder.java
  server/src/test/java/org/elasticsearch/common/lucene/search/morelikethis/MoreLikeThisQueryTests.java
  server/src/test/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilderTests.java
Labels: :Search/Search, >enhancement, v7.6.0, v8.0.0

#49921 [DOCS] Correct inline shape snippet in shape query docs
  docs/reference/query-dsl/shape-query.asciidoc
Labels: :Analytics/Geo, >docs, v6.8.6, v7.5.1, v7.6.0, v8.0.0

#49981 [7.x] Pass `prediction_field_type` to C++ analytics process (#49861)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/DataFrameAnalysis.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetection.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetectionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/TypesTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationEvaluationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessConfig.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/MemoryUsageEstimationProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ExtractedFields.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/MemoryUsageEstimationProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/extractor/ExtractedFieldsTests.java
Labels: :ml, >enhancement, backport

#49939 [ML] Use query in cardinality check
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorFactory.java
Labels: :ml, >bug, v7.5.1, v7.6.0, v8.0.0

#49925 SQL: [Tests] Unmute Pivot in NodeSublassTests
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/tree/NodeSubclassTests.java
Labels: :Search/SQL, >test-failure, v7.6.0, v8.0.0

#49987 [7.5] [ML] Use query in cardinality check (#49939)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorFactory.java
Labels: :ml, backport

#49984 [7.x] [ML] Use query in cardinality check (#49939)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorFactory.java
Labels: :ml, backport

#49241 Fix description typo and correct capitalization
  modules/ingest-geoip/build.gradle
Labels: :Core/Features/Ingest, >docs, v8.0.0

#49991 [DOCS] Correct `for in` example in Painless docs
  docs/painless/painless-lang-spec/painless-statements.asciidoc
Labels: :Core/Infra/Scripting, >docs, v6.8.6, v7.5.1, v7.6.0, v8.0.0

#49942 Enable dependent settings values to be validated
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureStorageSettings.java
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/main/java/org/elasticsearch/transport/SniffConnectionStrategy.java
  server/src/test/java/org/elasticsearch/common/settings/ScopedSettingsTests.java
  server/src/test/java/org/elasticsearch/indices/settings/UpdateSettingsIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/RealmSettings.java
Labels: :Core/Infra/Settings, >enhancement, v7.6.0, v8.0.0

#49957 Remove leftover debug log message
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
Labels: :Core/Infra/Build, >non-issue, v7.6.0, v8.0.0

#49956 Make testclusters registry extension name unique
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClustersPlugin.java
Labels: :Core/Infra/Build, >bug, v7.5.1, v7.6.0, v8.0.0

#48331 [DOCS] Fix link in SearchExecutionStatsCollector Javadocs
  server/src/main/java/org/elasticsearch/action/search/SearchExecutionStatsCollector.java
Labels: :Search/Search, >docs, v7.5.1, v7.6.0, v8.0.0

#49986 [DOCS] Skip synced flush doc tests
  docs/reference/indices/synced-flush.asciidoc
Labels: :Distributed/Distributed, >docs, v7.5.1, v7.6.0, v8.0.0

#49994 [7.x] Gradle 6.0 upgrade
  .ci/java-versions.properties
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/resources/minimumGradleVersion
  buildSrc/src/testKit/thirdPartyAudit/build.gradle
  distribution/packages/build.gradle
  gradle/build-complete.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  settings.gradle
Labels: :Core/Infra/Build, backport, v7.6.0

#49953 [6.7][DOCS] Add CCR docs to the Elasticsearch Reference Guide (#45704)
  docs/reference/ccr/auto-follow.asciidoc
  docs/reference/ccr/getting-started.asciidoc
  docs/reference/ccr/index.asciidoc
  docs/reference/ccr/requirements.asciidoc
  docs/reference/high-availability.asciidoc
  docs/reference/index.asciidoc
  docs/reference/redirects.asciidoc
Labels: backport

#49945 [WIP] Refactor utility code in qa:os: tests
  qa/os/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackageTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackagingTestCase.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Archives.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Docker.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Packages.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Shell.java
Labels: :Core/Infra/Packaging, >non-issue, >test

#49954 [6.6][DOCS] Add CCR docs to the Elasticsearch Reference Guide (#45704)
  docs/reference/ccr/auto-follow.asciidoc
  docs/reference/ccr/getting-started.asciidoc
  docs/reference/ccr/index.asciidoc
  docs/reference/ccr/requirements.asciidoc
  docs/reference/high-availability.asciidoc
  docs/reference/index.asciidoc
  docs/reference/redirects.asciidoc
Labels: backport

#49996 [DOCS] Added older release notice.
  docs/java-api/page_header.html
  docs/java-rest/page_header.html
  docs/painless/page_header.html
  docs/plugins/page_header.html
  docs/reference/page_header.html
Labels: :Docs, >docs, v6.8.6

#49998 [DOCS] Remove custom page_header.html
  docs/reference/page_header.html
Labels: :Docs, >docs, v6.3.3, v6.4.4, v6.5.5, v6.6.3, v6.7.3, v7.0.2, v7.1.2, v7.2.2, v7.3.3, v7.4.3

#49840 Use TriangleTree for GeoShape Doc Values
  server/src/main/java/org/elasticsearch/common/geo/CentroidCalculator.java
  server/src/main/java/org/elasticsearch/common/geo/EdgeTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/EdgeTreeWriter.java
  server/src/main/java/org/elasticsearch/common/geo/Extent.java
  server/src/main/java/org/elasticsearch/common/geo/GeometryTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/GeometryTreeWriter.java
  server/src/main/java/org/elasticsearch/common/geo/Point2DReader.java
  server/src/main/java/org/elasticsearch/common/geo/Point2DWriter.java
  server/src/main/java/org/elasticsearch/common/geo/PolygonTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/PolygonTreeWriter.java
  server/src/main/java/org/elasticsearch/common/geo/ShapeTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/TriangleTreeReader.java
  server/src/main/java/org/elasticsearch/index/fielddata/MultiGeoValues.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/LatLonShapeDVAtomicFieldData.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryGeoShapeDocValuesField.java
  server/src/test/java/org/elasticsearch/common/geo/AbstractTreeTestCase.java
  server/src/test/java/org/elasticsearch/common/geo/EdgeTreeTests.java
  server/src/test/java/org/elasticsearch/common/geo/EncodingComparisonTests.java
  server/src/test/java/org/elasticsearch/common/geo/GeoTestUtils.java
  server/src/test/java/org/elasticsearch/common/geo/GeometryTreeTests.java
  server/src/test/java/org/elasticsearch/common/geo/Point2DTests.java
  server/src/test/java/org/elasticsearch/common/geo/TriangleTreeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridTilerTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/MissingValuesTests.java
Labels: :Analytics/Geo

#49418 Add setting to restrict license types
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/License.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/OperationModeFileWatcher.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/RemoteClusterLicenseChecker.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicenseFIPSTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicenseOperationModeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicenseOperationModeUpdateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicenseServiceTests.java
Labels: :Security/License, >enhancement, v7.6.0, v8.0.0
