Repository elastic/elasticsearch, pull requests merged in 2019-02, with the labels that each got.

#38116 Fix MasterServiceTests.testClusterStateUpdateLogging
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
Labels: :Core/Infra/Core, >test, v6.6.1, v6.7.0, v7.0.0

#38117 Fix file reading in ccr restore service
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRestoreSourceService.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
Labels: :Distributed/CCR, >bug, v6.7.0, v7.0.0

#38135 Add ability to listen to group of affix settings (#37679)
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/test/java/org/elasticsearch/common/settings/ScopedSettingsTests.java
Labels: :Core/Infra/Settings, >non-issue, backport, v6.7.0

#38114 Fix random bound in testSoftDeletesRetentionLock
  server/src/test/java/org/elasticsearch/index/engine/SoftDeletesPolicyTests.java
Labels: :Distributed/Engine, >test, v6.7.0, v7.0.0

#38132 mute test, as this one is failing also per #35450
  client/rest-high-level/src/test/java/org/elasticsearch/client/ClusterClientIT.java
Labels: :Core/Features/Java High Level REST Client

#38143 Fix file reading in ccr restore service (#38117)
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRestoreSourceService.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
Labels: :Distributed/CCR, >bug, backport, v6.7.0

#37686 Fix Two Races that Lead to Stuck Snapshots
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/test/disruption/DisruptableMockTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransport.java
Labels: :Distributed/Snapshot/Restore, >bug, v6.7.0, v7.0.0

#38081 Trim the JSON source in indexing slow logs
  server/src/main/java/org/elasticsearch/index/IndexingSlowLog.java
  server/src/test/java/org/elasticsearch/index/IndexingSlowLogTests.java
Labels: :Core/Infra/Logging, >enhancement, backport pending, v6.7.0, v7.0.0

#38055 Give precedence to index creation when mixing typed templates with typeless index creation and vice-versa.
  docs/reference/mapping/removal_of_types.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.create/20_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_mapping/20_mix_typeless_typeful.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataMappingService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexCreationTaskTests.java
Labels: :Search/Mapping, backport

#37906 Fix test bug in DynamicMappingsIT.
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingIT.java
Labels: :Search/Mapping, >test-failure, v6.7.0, v7.0.0

#38146 Disable dynamic mapping in testSimpleGetFieldMappingsWithDefaults
  server/src/test/java/org/elasticsearch/indices/mapping/SimpleGetFieldMappingsIT.java
Labels: :Search/Mapping, >test, backport, v6.7.0

#38145 Disable dynamic mapping update in testTransportBulkTasks
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TasksIT.java
Labels: :Distributed/Task Management, >test, backport, v6.7.0

#38144 Fix random bound in testSoftDeletesRetentionLock
  server/src/test/java/org/elasticsearch/index/engine/SoftDeletesPolicyTests.java
Labels: :Distributed/Engine, >test, backport, v6.7.0

#37829 Fix java time epoch date formatters
  server/src/main/java/org/elasticsearch/common/time/EpochTime.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/DateRangeIT.java
Labels: :Core/Infra/Core, >non-issue, v7.0.0

#38101 Relax fault detector in some disruption tests
  server/src/test/java/org/elasticsearch/discovery/MasterDisruptionIT.java
  server/src/test/java/org/elasticsearch/discovery/StableMasterDisruptionIT.java
Labels: :Distributed/ZenDiscovery, >test, v7.0.0

#37833 Don't load global ordinals with the `map` execution_hint
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/20_terms.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
Labels: :Analytics/Aggregations, >bug, v6.7.0, v7.0.0

#38096 Fix eclipse config for ssl-config
  libs/ssl-config/src/main/eclipse.build.gradle
  libs/ssl-config/src/test/eclipse.build.gradle
Labels: :Core/Infra/Build, >non-issue, v6.7.0, v7.0.0

#38088 Replace joda time in ingest-common module
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateFormat.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateIndexNameProcessor.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateFormatTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateIndexNameFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateIndexNameProcessorTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateProcessorFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateProcessorTests.java
Labels: :Core/Infra/Core, >non-issue, v7.0.0

#38099 Use dateformatter in ingest-common to log deprecations
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateIndexNameProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateIndexNameProcessorTests.java
Labels: :Core/Infra/Core, >upgrade, v6.7.0

#38166 Backport document default values for index follow request parameters
  docs/reference/ccr/apis/follow-request-body.asciidoc
Labels: >docs, backport, v6.7.0

#38098 Fix FullClusterRestartIT.testHistoryUUIDIsAdded
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
Labels: :Distributed/Distributed, >non-issue, >test, v6.7.0, v7.0.0

#38038 Introduce universal bootstrap method for tests with autoMinMasterNodes=false
  modules/transport-netty4/src/test/java/org/elasticsearch/rest/discovery/Zen2RestApiIT.java
  server/src/test/java/org/elasticsearch/action/admin/indices/exists/IndicesExistsIT.java
  server/src/test/java/org/elasticsearch/cluster/MinimumMasterNodesIT.java
  server/src/test/java/org/elasticsearch/cluster/SpecificMasterNodesIT.java
  server/src/test/java/org/elasticsearch/cluster/coordination/UnsafeBootstrapMasterIT.java
  server/src/test/java/org/elasticsearch/gateway/RecoverAfterNodesIT.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  test/framework/src/main/java/org/elasticsearch/test/NodeConfigurationSource.java
  test/framework/src/test/java/org/elasticsearch/test/test/InternalTestClusterTests.java
Labels: :Distributed/ZenDiscovery, >test

#38087 Remove AtomiFieldData#getLegacyFieldValues
  server/src/main/java/org/elasticsearch/index/fielddata/AtomicFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/AtomicLongFieldData.java
Labels: :Search/Search, >non-issue, v7.0.0

#37930 Forbid negative field boosts in analyzed queries
  docs/reference/migration/migrate_7_0/search.asciidoc
  server/src/main/java/org/elasticsearch/index/query/AbstractQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/MultiMatchQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/QueryStringQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SimpleQueryStringBuilder.java
  server/src/main/java/org/elasticsearch/index/search/MultiMatchQuery.java
  server/src/test/java/org/elasticsearch/index/query/MultiMatchQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryStringQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SimpleQueryStringBuilderTests.java
Labels: :Search/Ranking, >breaking, v7.0.0

#38156 Trim the JSON source in indexing slow logs backport#38081
  server/src/main/java/org/elasticsearch/index/IndexingSlowLog.java
  server/src/test/java/org/elasticsearch/index/IndexingSlowLogTests.java
Labels: :Core/Infra/Logging, backport, v6.7.0

#38104 Add finalReduce flag to SearchRequest
  docs/reference/modules/cross-cluster-search.asciidoc
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/multi_cluster/10_basic.yml
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/multi_cluster/40_scroll.yml
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchResponse.java
  server/src/main/java/org/elasticsearch/action/search/SearchResponseMerger.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchRequestTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionSingleNodeTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
Labels: :Search/Search, >enhancement, v6.7.0, v7.0.0

#38161 Fix testCorruptedIndex
  server/src/main/java/org/elasticsearch/index/translog/TruncateTranslogAction.java
  server/src/test/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandTests.java
Labels: :Distributed/Store, >test, v6.6.1, v6.7.0, v7.0.0

#38159 Clear send behavior rule in CloseWhileRelocatingShardsIT
  server/src/test/java/org/elasticsearch/indices/state/CloseWhileRelocatingShardsIT.java
Labels: :Distributed/Distributed, >test, v6.7.0, v7.0.0

#38167 Enable bwc tests for #37871 and #38032.
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.create/20_mix_typeless_typeful.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_mapping/20_mix_typeless_typeful.yml
Labels: :Search/Mapping, >non-issue, v7.0.0

#38162 Add tests for fractional epoch parsing
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
Labels: :Core/Infra/Build, >test, v7.0.0

#37979 Add elasticsearch-node detach-cluster tool
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationMetaData.java
  server/src/main/java/org/elasticsearch/cluster/coordination/DetachClusterCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ElasticsearchNodeCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeToolCli.java
  server/src/main/java/org/elasticsearch/cluster/coordination/UnsafeBootstrapMasterCommand.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelperTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ElasticsearchNodeCommandIT.java
  server/src/test/java/org/elasticsearch/cluster/coordination/UnsafeBootstrapMasterIT.java
  server/src/test/java/org/elasticsearch/discovery/ClusterDisruptionIT.java
  server/src/test/java/org/elasticsearch/gateway/GatewayIndexStateIT.java
Labels: :Distributed/ZenDiscovery, >enhancement

#38163 Fix java time epoch date formatters
  server/src/main/java/org/elasticsearch/common/time/EpochTime.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
Labels: :Core/Infra/Core, >non-issue, backport, v6.7.0

#38136 ILM setPriority corrections for a 0 value (#38001)
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/SetPriorityAction.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/SetPriorityActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/SetPriorityActionTests.java
Labels: backport, v6.7.0

#38186 SQL: [Docs] Add limitation for aggregate functions on scalars
  docs/reference/sql/limitations.asciidoc
Labels: :Search/SQL, >docs, v6.6.1, v6.7.0, v7.0.0

#38142 Fix MasterServiceTests.testClusterStateUpdateLogging
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
Labels: :Core/Infra/Core, >test, backport, v6.6.1

#38178 Move testMasterFailoverDuringIndexingWithMappingChanges to Zen2
  server/src/test/java/org/elasticsearch/action/support/master/IndexingMasterFailoverIT.java
Labels: :Distributed/ZenDiscovery, >test

#38169 Do not compute cardinality with the `map` execution hint
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
Labels: :Analytics/Aggregations, >non-issue, v7.0.0

#38171 Ensure joda compatibility in custom date formats
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
Labels: :Core/Infra/Core, >non-issue, v7.0.0

#38172 Speed up converting of temporal accessor to zoned date time
  benchmarks/src/main/java/org/elasticsearch/benchmark/time/DateFormatterFromBenchmark.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/util/TimeUtil.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateFormat.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateFormatTests.java
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/main/java/org/elasticsearch/common/time/JavaDateMathParser.java
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  server/src/test/java/org/elasticsearch/common/time/JavaDateMathParserTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramTests.java
Labels: >non-issue, backport, v6.7.0

#38158 Don't load global ordinals with the `map` execution_hint
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/20_terms.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
Labels: :Analytics/Aggregations, backport, v6.7.0

#37645 Throw if two inner_hits have the same name
  modules/parent-join/src/main/java/org/elasticsearch/join/query/HasChildQueryBuilder.java
  modules/parent-join/src/main/java/org/elasticsearch/join/query/HasParentQueryBuilder.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/HasChildQueryBuilderTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/HasParentQueryBuilderTests.java
  server/src/main/java/org/elasticsearch/index/query/NestedQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/NestedQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/NestedIT.java
Labels: :Search/Search, >bug, v6.7.0, v7.0.0

#38177 RestoreService should update primary terms when restoring shards of existing indices
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Distributed/Snapshot/Restore, >enhancement, v6.7.0, v7.0.0

#38173 Fix _host based require filters
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodeFilters.java
  server/src/test/java/org/elasticsearch/cluster/node/DiscoveryNodeFiltersTests.java
Labels: :Distributed/Allocation, >bug, backport pending, v6.6.1, v6.7.0, v7.0.0

#38124 Update verify repository to allow unknown fields
  client/rest-high-level/src/test/java/org/elasticsearch/client/watcher/VerifyRepositoryResponseTests.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/verify/VerifyRepositoryResponse.java
Labels: backport

#38103 Enable TLSv1.3 by default for JDKs with support
  docs/reference/migration/migrate_7_0/settings.asciidoc
  docs/reference/settings/security-settings.asciidoc
  docs/reference/settings/ssl-settings.asciidoc
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/SslConfiguration.java
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/SslConfigurationLoader.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLService.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/XPackSettingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationReloaderTests.java
Labels: :Security/Network, >enhancement, v7.0.0

#38182 Disable bwc tests while backporting #38104
  build.gradle
Labels: :Core/Infra/Build, >non-issue, v7.0.0

#38016 [ML] Remove "8" prefixes from file structure finder timestamp formats
  docs/reference/ml/apis/find-file-structure.asciidoc
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/filestructurefinder/FileStructureUtils.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/filestructurefinder/TimestampFormatFinder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/filestructurefinder/FileStructureUtilsTests.java
Labels: :ml, >deprecation, v7.0.0

#38122 [ML-DataFrame] Feature/fib lenient aggs
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/dataframe/DataFrameMessages.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/action/GetDataFrameTransformsAction.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformConfig.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/pivot/AggregationConfig.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/pivot/GroupConfig.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/pivot/PivotConfig.java
  x-pack/plugin/data-frame/src/main/java/org/elasticsearch/xpack/dataframe/transforms/pivot/TermsGroupSource.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/action/GetDataFrameTransformsActionResponseTests.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/AbstractSerializingDataFrameTestCase.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/DataFrameTransformConfigTests.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/MockDeprecatedAggregationBuilder.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/pivot/AggregationConfigTests.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/pivot/PivotConfigTests.java
  x-pack/plugin/data-frame/src/test/java/org/elasticsearch/xpack/dataframe/transforms/pivot/PivotTests.java
Labels: :ml, >feature

#38141 Fix MasterServiceTests.testClusterStateUpdateLogging
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
Labels: :Core/Infra/Core, >test, backport

#38138 Update geo_shape docs to include unsupported features
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: :Analytics/Geo, >docs, v6.7.0, v7.0.0

#38176 Deprecate negative field boosts in analyzed queries
  docs/reference/migration/migrate_6_0/search.asciidoc
  server/src/main/java/org/elasticsearch/index/query/AbstractQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/MultiMatchQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/QueryStringQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SimpleQueryStringBuilder.java
  server/src/main/java/org/elasticsearch/index/search/MultiMatchQuery.java
  server/src/test/java/org/elasticsearch/index/query/MultiMatchQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryStringQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SimpleQueryStringBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java
Labels: :Search/Ranking, backport, v6.7.0

#38060 Allow built-in monitoring_user role to call GET _xpack API
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: :Core/Features/Monitoring, :Security/Authentication, >bug, v6.7.0, v7.0.0

#38204 AwaitsFix PUT mapping with _doc on an index that has types
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_mapping/20_mix_typeless_typeful.yml
Labels: >test-mute, v7.0.0

#38205 AwaitsFix PUT mapping with _doc on an index that has types
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_mapping/20_mix_typeless_typeful.yml
Labels: >test-mute, v6.7.0

#38113 ML: Fix error race condition on stop _all datafeeds and close _all jobs
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDatafeedAction.java
Labels: :ml, >bug, v6.6.1, v6.7.0, v7.0.0

#38184 Zen2ify RareClusterStateIT
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/test/java/org/elasticsearch/cluster/coordination/RareClusterStateIT.java
Labels: :Distributed/ZenDiscovery, >test

#38213 AwaitsFix testClientSucceedsWithVerificationDisabled
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexRestClientSslTests.java
Labels: >test-mute

#38196 Do not set timeout for IndexRequests in GatewayIndexStateIT
  server/src/test/java/org/elasticsearch/gateway/GatewayIndexStateIT.java
Labels: backport, v6.7.0

#38180 Add finalReduce flag to SearchRequest (6.x)
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchRequestTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionSingleNodeTests.java
Labels: :Search/Search, backport

#38190 Replace awaitBusy with assertBusy in atLeastDocsIndexed
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
Labels: :Distributed/CCR, >test, v6.6.1, v6.7.0, v7.0.0

#38118 Adding ml_settings entry to HLRC and Docs for deprecation_info
  client/rest-high-level/src/main/java/org/elasticsearch/client/migration/DeprecationInfoResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MigrationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MigrationClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/migration/DeprecationInfoResponseTests.java
  docs/java-rest/high-level/migration/get-deprecation-info.asciidoc
  docs/reference/migration/apis/deprecation.asciidoc
Labels: :ml, >deprecation, v6.7.0, v7.0.0

#38215 AwaitsFix CcrRepositoryIT#testIndividualActionsTimeout
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
Labels: >test-mute

#38197 RestoreService should update primary terms when restoring shards of existing indices
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Distributed/Distributed, backport

#38025 SnapshotShardsService Simplifications
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, >non-issue, >refactoring, v6.7.0, v7.0.0

#38210 Allow built-in monitoring_user role to call GET _xpack API
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: :Core/Features/Monitoring, :Security/Authorization, >bug, backport

#38211 ML: Fix error race condition on stop _all datafeeds and close _all jo…
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDatafeedAction.java
Labels: :ml, backport, v6.7.0

#38125 Fix ILM Lifecycle Policy to allow unknown fields
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/AllocateAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/DeleteAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/ForceMergeAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/FreezeAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicy.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicyMetadata.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/Phase.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/PhaseExecutionInfo.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/ReadOnlyAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/RolloverAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/ShrinkAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/UnfollowAction.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/AllocateActionTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/DeleteActionTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/ForceMergeActionTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/FreezeActionTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/GetLifecyclePolicyResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicyMetadataTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicyTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/PhaseExecutionInfoTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/PhaseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/ReadOnlyActionTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/RolloverActionTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/ShrinkActionTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/UnfollowActionTests.java
Labels: backport

#38148 Enable trace log in FollowerFailOverIT
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/TransportBulkShardOperationsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngine.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/FollowerFailOverIT.java
Labels: :Distributed/CCR, >test, v6.7.0, v7.0.0

#38217 Adding ml_settings entry to HLRC and Docs for deprecation_info
  client/rest-high-level/src/main/java/org/elasticsearch/client/migration/DeprecationInfoResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MigrationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MigrationClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/migration/DeprecationInfoResponseTests.java
  docs/java-rest/high-level/migration/get-deprecation-info.asciidoc
  docs/reference/migration/apis/deprecation.asciidoc
Labels: :ml, backport, v6.7.0

#38216 Replace awaitBusy with assertBusy in atLeastDocsIndexed
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
Labels: backport, v6.7.0

#38224 AwaitsFix testRestoreIncreasesPrimaryTerms
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: >test-mute

#38134 Preserve ILM operation mode when creating new lifecycles
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleInitialisationTests.java
Labels: :Core/Features/ILM, >bug, v6.6.1, v6.7.0, v7.0.0

#38227 AwaitsFix testAbortedSnapshotDuringInitDoesNotStart
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: >test-mute

#38139 Special-case .tasks index in deprecation checks
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecksTests.java
Labels: :Core/Features/Features, >non-issue, v6.7.0

#38214 Correctly disable tests for FIPS JVMs
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexRestClientSslTests.java
Labels: >test-failure

#38220 Allow built-in monitoring_user role to call GET _xpack API
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: :Core/Features/Monitoring, :Security/Authorization, >bug, backport

#37951 Introduce retention leases versioning
  build.gradle
  docs/reference/indices/flush.asciidoc
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/SoftDeletesPolicy.java
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLease.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseStats.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseSyncAction.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseSyncer.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeases.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/CombinedDeletionPolicyTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/SoftDeletesPolicyTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseStatsTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseStatsWireSerializingTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseSyncActionTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseSyncIT.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeasesTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardRetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Distributed, >enhancement, v6.7.0, v7.0.0

#38193 Introduce retention leases version
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/SoftDeletesPolicy.java
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLease.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseStats.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseSyncAction.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseSyncer.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeases.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/CombinedDeletionPolicyTests.java
  server/src/test/java/org/elasticsearch/index/engine/EngineConfigTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/SoftDeletesPolicyTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseStatsTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseStatsWireSerializingTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseSyncActionTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseSyncIT.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeasesTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardRetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Distributed, backport

#38065 Run Node deprecation checks locally
  client/rest-high-level/build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/deprecation/DeprecationInfoAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/deprecation/NodesDeprecationCheckAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/deprecation/NodesDeprecationCheckRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/deprecation/NodesDeprecationCheckResponse.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/deprecation/DeprecationInfoActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/deprecation/NodesDeprecationCheckRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/deprecation/NodesDeprecationCheckResponseTests.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/Deprecation.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/TransportDeprecationInfoAction.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/TransportNodeDeprecationCheckAction.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Core/Features/Features, >bug, >enhancement, v6.7.0

#38111 Remove extraneous test from Painless lambda tests
  modules/lang-painless/src/test/java/org/elasticsearch/painless/LambdaTests.java
Labels: :Core/Infra/Scripting, >test, v7.0.0

#38042 SQL: Allow sorting of groups by aggregates
  docs/reference/sql/limitations.asciidoc
  x-pack/plugin/sql/qa/single-node/src/test/java/org/elasticsearch/xpack/sql/qa/single_node/CliExplainIT.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/cli/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/SqlSpecTestCase.java
  x-pack/plugin/sql/qa/src/main/resources/agg-ordering.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Analyzer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Verifier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/PlanExecutor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/CompositeAggregationCursor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/CompositeAggsRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/PagingListCursor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/PagingListRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/Querier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/ResultRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/SchemaCompositeAggsRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/SchemaSearchHitRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/ScrollCursor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/SearchHitRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/SourceGenerator.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/AttributeMap.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/AttributeSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/Expression.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/Expressions.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/NamedExpression.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/Function.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/UnresolvedFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/AggregateFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/AggregateFunctionAttribute.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/Count.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/InnerAggregate.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/TableIdentifier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/UnresolvedRelation.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/physical/EsQueryExec.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/QueryFolder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/agg/Aggs.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/container/QueryContainer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/container/Sort.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/Cursors.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/EmptyRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/ListRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/Rows.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/SchemaRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/SqlSession.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/tree/Node.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/tree/NodeInfo.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/util/Graphviz.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/util/Holder.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/CompositeAggregationCursorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/CursorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/PagingListCursorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/ScrollCursorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/SourceGeneratorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/SqlParserTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysParserTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTablesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTypesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/tree/NodeSubclassTests.java
Labels: :Search/SQL, >feature, v6.7.0, v7.0.0

#38231 Adapt minimum versions for seq# powered operations in Watch related requests and UpdateRequest
  build.gradle
  rest-api-spec/src/main/resources/rest-api-spec/test/update/35_if_seq_no.yml
  server/src/main/java/org/elasticsearch/action/update/UpdateRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/protocol/xpack/watcher/PutWatchRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/protocol/xpack/watcher/PutWatchResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/transport/actions/get/GetWatchResponse.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/watcher/put_watch/80_put_get_watch_with_passwords.yml
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/transport/actions/ack/TransportAckWatchAction.java
Labels: >non-issue, v7.0.0

#38241 Mute testAddOrRenewRetentionLease
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
Labels: >test-mute

#38140 Ensure ILM policies run safely on leader indices
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/DeleteAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/WaitForNoFollowersStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/DeleteActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/WaitForNoFollowersStepTests.java
  x-pack/plugin/ilm/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/indexlifecycle/CCRIndexLifecycleIT.java
  x-pack/plugin/ilm/qa/with-security/src/test/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: :Core/Features/ILM, >enhancement, v6.7.0, v7.0.0

#38248 Mute tests in SSLConfigurationReloaderTests
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationReloaderTests.java
Labels: >test-mute

#37824 Ignore obsolete dangling indices
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/main/java/org/elasticsearch/gateway/DanglingIndicesState.java
  server/src/test/java/org/elasticsearch/env/NodeEnvironmentTests.java
  server/src/test/java/org/elasticsearch/gateway/DanglingIndicesStateTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayIndexStateIT.java
Labels: :Distributed/Allocation, >bug, v6.7.0

#38246 Fix testReplicaIgnoresOlderRetentionLeasesVersion
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
Labels: :Distributed/Distributed, >test, v6.7.0, v7.0.0

#38239 Fix primary term in testAddOrRenewRetentionLease
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
Labels: :Distributed/Distributed, >test, v6.7.0, v7.0.0

#38243 Fix primary term in testAddOrRenewRetentionLease
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
Labels: backport, v6.7.0

#38209 Add CoordinatorTests for empty unicast hosts list
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/discovery/DiscoveryDisruptionIT.java
  server/src/test/java/org/elasticsearch/discovery/StableMasterDisruptionIT.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/MockSinglePrioritizingExecutor.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  test/framework/src/main/java/org/elasticsearch/test/disruption/DisruptableMockTransport.java
Labels: :Distributed/ZenDiscovery, >test, v7.0.0

#38252 AwaitsFix testAbortedSnapshotDuringInitDoesNotStart
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: >test-mute

#38255 SQL: Allow sorting of groups by aggregates (#38042)
  docs/reference/sql/limitations.asciidoc
  x-pack/plugin/sql/qa/single-node/src/test/java/org/elasticsearch/xpack/sql/qa/single_node/CliExplainIT.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/cli/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/SqlSpecTestCase.java
  x-pack/plugin/sql/qa/src/main/resources/agg-ordering.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Analyzer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Verifier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/PlanExecutor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/CompositeAggregationCursor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/CompositeAggsRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/PagingListCursor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/PagingListRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/Querier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/ResultRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/SchemaCompositeAggsRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/SchemaSearchHitRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/ScrollCursor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/SearchHitRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/SourceGenerator.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/AttributeMap.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/AttributeSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/Expression.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/Expressions.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/NamedExpression.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/Function.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/UnresolvedFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/AggregateFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/AggregateFunctionAttribute.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/Count.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/aggregate/InnerAggregate.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/TableIdentifier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/UnresolvedRelation.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/physical/EsQueryExec.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/QueryFolder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/agg/Aggs.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/container/QueryContainer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/container/Sort.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/Cursors.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/EmptyRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/ListRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/Rows.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/SchemaRowSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/SqlSession.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/tree/Node.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/tree/NodeInfo.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/util/Graphviz.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/util/Holder.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/CompositeAggregationCursorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/CursorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/PagingListCursorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/ScrollCursorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/SourceGeneratorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/SqlParserTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysParserTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTablesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTypesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/tree/NodeSubclassTests.java
Labels: :Search/SQL, >feature, backport, v6.7.0

#38257 Mute DedicatedClusterSnapshotRestoreIT#testRestoreShrinkIndex
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
Labels: :Distributed/Snapshot/Restore, >test-failure, >test-mute

#38251 FIx testReplicaIgnoresOlderRetentionLeasesVersion
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
Labels: backport, v6.7.0

#38253 Adapt LLRest warning exception in FullClusterRestartIT
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
Labels: :Core/Features/Java Low Level REST Client, >test, v6.7.0, v7.0.0

#38017 SQL: Generate relevant error message when grouping functions are not used in GROUP BY
  x-pack/plugin/sql/qa/src/main/resources/agg.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Verifier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/grouping/GroupingFunction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/grouping/Histogram.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
Labels: :Search/SQL, >enhancement, v6.6.1, v6.7.0, v7.0.0

#38268 Mute testCanRunUnsafeBootstrapAfterErroneousDetachWithoutLoosingMetaData
  server/src/test/java/org/elasticsearch/cluster/coordination/ElasticsearchNodeCommandIT.java
Labels: >test-mute

#38269 Enable trace log in FollowerFailOverIT (#38148)
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/TransportBulkShardOperationsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngine.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/FollowerFailOverIT.java
Labels: backport, v6.7.0

#38264 Fix Incorrect Transport Response Handler Type
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Distributed/Snapshot/Restore, >test, v6.7.0, v7.0.0

#38120 Fix NPE in Logfile Audit Filter
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailFilterTests.java
Labels: :Security/Audit, >bug, v6.5.5, v6.6.1, v6.7.0, v7.0.0

#38275 Mute ReplicationTrackerRetentionLeaseTests#testAddOrRenewRetentionLease
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
Labels: :Distributed/CCR, >test-failure, >test-mute

#38276 Mute ReplicationTrackerRetentionLeaseTests#testAddOrRenewRetentionLease 6.x
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
Labels: :Distributed/CCR, >test-failure, >test-mute

#38280 Fix ordering problem in add or renew lease test
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
Labels: :Distributed/Distributed, >test-failure, v6.7.0, v7.0.0

#38281 Fix ordering problem in add or renew lease test 6.x
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
Labels: :Distributed/Distributed, backport

#38265 Mute DateProcessorTests#testJodaPatternLocale
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateProcessorTests.java
Labels: :Core/Features/Ingest, >test-failure, >test-mute

#38259 SQL: Move metrics tracking inside PlanExecutor
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/QueryMetric.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/PlanExecutor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TransportSqlClearCursorAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TransportSqlQueryAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TransportSqlTranslateAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/Configuration.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/TestUtils.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/FunctionRegistryTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/DatabaseFunctionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/UserFunctionTests.java
Labels: :Search/SQL, >non-issue, v6.7.0, v7.0.0

#38260 SQL: Remove exceptions from Analyzer
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Analyzer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/AbstractBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/LogicalPlanBuilder.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
Labels: :Search/SQL, >enhancement, >non-issue, v6.6.1, v6.7.0, v7.0.0

#38292 [BACKPORT] Introduce ssl settings to reindex from remote
  build.gradle
  modules/reindex/build.gradle
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/AbstractAsyncBulkByScrollAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/AsyncDeleteByQueryAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexPlugin.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexSslConfig.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportDeleteByQueryAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportReindexAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportUpdateByQueryAction.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/AbstractAsyncBulkByScrollActionMetadataTestCase.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/AbstractAsyncBulkByScrollActionScriptTestCase.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/AsyncBulkByScrollActionTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexFromRemoteBuildRestClientTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexMetadataTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexRestClientSslTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexScriptTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/UpdateByQueryMetadataTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/UpdateByQueryWithScriptTests.java
  modules/reindex/src/test/resources/org/elasticsearch/index/reindex/README.txt
  modules/reindex/src/test/resources/org/elasticsearch/index/reindex/ca.p12
  modules/reindex/src/test/resources/org/elasticsearch/index/reindex/ca.pem
  modules/reindex/src/test/resources/org/elasticsearch/index/reindex/client/client.crt
  modules/reindex/src/test/resources/org/elasticsearch/index/reindex/client/client.key
  modules/reindex/src/test/resources/org/elasticsearch/index/reindex/http/http.crt
  modules/reindex/src/test/resources/org/elasticsearch/index/reindex/http/http.key
Labels: :Distributed/CRUD, :Security/Network, backport

#38249 Ensure ILM policies run safely on leader indices (#38140)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/DeleteAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/WaitForNoFollowersStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/DeleteActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/ShrinkActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexlifecycle/WaitForNoFollowersStepTests.java
  x-pack/plugin/ilm/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/indexlifecycle/CCRIndexLifecycleIT.java
  x-pack/plugin/ilm/qa/with-security/src/test/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: :Core/Features/ILM, backport

#38293 [BACKPORT] Enable SSL in reindex with security QA tests
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/qa/reindex-tests-with-security/build.gradle
  x-pack/qa/reindex-tests-with-security/src/test/java/org/elasticsearch/xpack/security/ReindexWithSecurityClientYamlTestSuiteIT.java
  x-pack/qa/reindex-tests-with-security/src/test/resources/rest-api-spec/test/15_reindex_from_remote.yml
  x-pack/qa/reindex-tests-with-security/src/test/resources/ssl/README.asciidoc
  x-pack/qa/reindex-tests-with-security/src/test/resources/ssl/ca.crt
  x-pack/qa/reindex-tests-with-security/src/test/resources/ssl/ca.key
  x-pack/qa/reindex-tests-with-security/src/test/resources/ssl/ca.p12
  x-pack/qa/reindex-tests-with-security/src/test/resources/ssl/http.crt
  x-pack/qa/reindex-tests-with-security/src/test/resources/ssl/http.key
Labels: :Security/Network, backport

#38195 AsyncTwoPhaseIndexerTests race condition fixed Backport(#37830)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexerTests.java
Labels: :Core/Infra/Core, >test-failure, backport

#38283 Remove Redundandant Loop in SnapshotShardsService
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v6.7.0, v7.0.0

#38194 Throw if two inner_hits have the same name
  modules/parent-join/src/main/java/org/elasticsearch/join/query/HasChildQueryBuilder.java
  modules/parent-join/src/main/java/org/elasticsearch/join/query/HasParentQueryBuilder.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/HasChildQueryBuilderTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/HasParentQueryBuilderTests.java
  server/src/main/java/org/elasticsearch/index/query/NestedQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/NestedQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/NestedIT.java
Labels: :Search/Search, backport

#38289 Deprecate unused Zen1 settings
  plugins/discovery-azure-classic/src/test/java/org/elasticsearch/cloud/azure/classic/AbstractAzureComputeServiceTestCase.java
  plugins/discovery-gce/src/test/java/org/elasticsearch/discovery/gce/GceDiscoverTests.java
  server/src/main/java/org/elasticsearch/cluster/coordination/DiscoveryUpgradeService.java
  server/src/main/java/org/elasticsearch/discovery/DiscoverySettings.java
  server/src/main/java/org/elasticsearch/discovery/zen/FaultDetection.java
  server/src/main/java/org/elasticsearch/discovery/zen/ZenDiscovery.java
  server/src/test/java/org/elasticsearch/action/support/master/IndexingMasterFailoverIT.java
  server/src/test/java/org/elasticsearch/cluster/MinimumMasterNodesIT.java
  server/src/test/java/org/elasticsearch/cluster/allocation/AwarenessAllocationIT.java
  server/src/test/java/org/elasticsearch/discovery/AbstractDisruptionTestCase.java
  server/src/test/java/org/elasticsearch/discovery/ClusterDisruptionIT.java
  server/src/test/java/org/elasticsearch/discovery/SnapshotDisruptionIT.java
  server/src/test/java/org/elasticsearch/discovery/ZenFaultDetectionTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/PublishClusterStateActionTests.java
  server/src/test/java/org/elasticsearch/recovery/FullRollingRestartIT.java
  test/framework/src/test/java/org/elasticsearch/test/test/InternalTestClusterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/NetworkDisruptionIT.java
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#38296 [BACKPORT] Cleanup construction of interceptors
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
Labels: :Security/Security, backport

#38278 Move ML Optimistic Concurrency Control to Seq No
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateFilterAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/persistence/DatafeedConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedConfigProviderIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/JobConfigProviderIT.java
Labels: :ml, >enhancement, v6.7.0, v7.0.0

#38304 Mute SharedClusterSnapshotRestoreIT#testAbortedSnapshotDuringInitDoesnt Start
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Distributed/Snapshot/Restore, >test-mute

#38279 6.x Backport of #38278: Move ML Optimistic Concurrency Control to Seq No
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateFilterAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/persistence/DatafeedConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedConfigProviderIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/JobConfigProviderIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobManagerTests.java
Labels: :ml, >non-issue, backport

#37755 Add nanosecond field mapper
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/date_nanos.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/field_caps/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/240_date_nanos.yml
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/common/time/DateUtils.java
  server/src/main/java/org/elasticsearch/index/fielddata/IndexNumericFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/ScriptDocValues.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/AtomicLongFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/SortedNumericDVIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/DecayFunctionBuilder.java
  server/src/main/java/org/elasticsearch/indices/IndicesModule.java
  server/src/main/java/org/elasticsearch/search/DocValueFormat.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValueType.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceConfig.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/DocValueFieldsFetchSubPhase.java
  server/src/test/java/org/elasticsearch/common/time/DateUtilsTests.java
  server/src/test/java/org/elasticsearch/index/query/RangeQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/DocValueFormatTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/InternalCompositeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/ExtendedBoundsTests.java
  server/src/test/java/org/elasticsearch/search/fields/SearchFieldsIT.java
Labels: :Search/Mapping, >feature, v7.0.0

#38315 Mute MlMigrationFullClusterRestartIT#testMigration
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
Labels: :ml, >test-failure, >test-mute

#38316 Mute MlMigrationFullClusterRestartIT#testMigration
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
Labels: :ml, >test-failure, >test-mute

#38183 Handle scheduler exceptions (#38014)
  buildSrc/src/main/resources/forbidden/es-all-signatures.txt
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/remote/RemoteScrollableHitSource.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/AsyncBulkByScrollActionTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/remote/RemoteScrollableHitSourceTests.java
  qa/evil-tests/src/test/java/org/elasticsearch/threadpool/EvilThreadPoolTests.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkProcessor.java
  server/src/main/java/org/elasticsearch/action/bulk/Retry.java
  server/src/main/java/org/elasticsearch/client/transport/TransportClientNodesService.java
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
  server/src/main/java/org/elasticsearch/cluster/NodeConnectionsService.java
  server/src/main/java/org/elasticsearch/cluster/routing/DelayedAllocationService.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/AbstractAsyncTask.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/EsExecutors.java
  server/src/main/java/org/elasticsearch/discovery/zen/MasterFaultDetection.java
  server/src/main/java/org/elasticsearch/discovery/zen/NodesFaultDetection.java
  server/src/main/java/org/elasticsearch/discovery/zen/UnicastZenPing.java
  server/src/main/java/org/elasticsearch/gateway/GatewayService.java
  server/src/main/java/org/elasticsearch/index/reindex/ClientScrollableHitSource.java
  server/src/main/java/org/elasticsearch/index/reindex/WorkerBulkByScrollTaskState.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveriesCollection.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/tasks/TaskResultsService.java
  server/src/main/java/org/elasticsearch/threadpool/CancellableAdapter.java
  server/src/main/java/org/elasticsearch/threadpool/ScheduledCancellableAdapter.java
  server/src/main/java/org/elasticsearch/threadpool/Scheduler.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/main/java/org/elasticsearch/transport/TransportHandshaker.java
  server/src/main/java/org/elasticsearch/transport/TransportKeepAlive.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkProcessorTests.java
  server/src/test/java/org/elasticsearch/index/reindex/WorkerBulkByScrollTaskStateTests.java
  server/src/test/java/org/elasticsearch/monitor/jvm/JvmGcMonitorServiceSettingsTests.java
  server/src/test/java/org/elasticsearch/threadpool/ScheduleWithFixedDelayTests.java
  server/src/test/java/org/elasticsearch/threadpool/SchedulerTests.java
  server/src/test/java/org/elasticsearch/transport/TransportKeepAliveTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/DeterministicTaskQueue.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskRandomTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskReplicationTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlDailyMaintenanceService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutoDetectResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlInitializationServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutoDetectResultProcessorTests.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/cleaner/CleanerService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealm.java
Labels: :Core/Infra/Core, backport, v6.7.0

#38222 ML: Fix error race condition on stop _all datafeeds and close _all jobs
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDatafeedAction.java
Labels: >bug, backport, v6.6.1

#38024 Allow shards of closed indices to be replicated as regular shards
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateService.java
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/UnassignedInfo.java
  server/src/main/java/org/elasticsearch/index/engine/NoOpEngine.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/UnassignedInfoTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayIndexStateIT.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/test/java/org/elasticsearch/indices/IndicesServiceTests.java
  server/src/test/java/org/elasticsearch/indices/state/CloseIndexIT.java
  server/src/test/java/org/elasticsearch/indices/state/SimpleIndexStateIT.java
  server/src/test/java/org/elasticsearch/search/scroll/SearchScrollIT.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Distributed/Distributed, >enhancement, v7.0.0

#36297 Core: Migrating from joda to java.time. Monitoring plugin
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/monitoring/exporter/MonitoringDoc.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/monitoring/exporter/MonitoringTemplateUtils.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/cleaner/CleanerService.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporter.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExportBulk.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalBulk.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/cleaner/AbstractIndicesCleanerTestCase.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/cleaner/CleanerServiceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/cleaner/local/LocalIndicesCleanerTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/ml/JobStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/BaseMonitoringDocTestCase.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ExportersTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/MonitoringTemplateUtilsTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterIT.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporterIntegTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/integration/MonitoringIT.java
Labels: :Core/Infra/Core

#38301 Use stricter timer in DeadHostStateTests
  client/rest/src/test/java/org/elasticsearch/client/DeadHostStateTests.java
Labels: :Core/Features/Java Low Level REST Client, >test-failure, v6.7.0, v7.0.0

#38298 Decrease leader and follower check timeout
  docs/reference/modules/discovery/discovery-settings.asciidoc
  server/src/main/java/org/elasticsearch/cluster/coordination/FollowersChecker.java
  server/src/main/java/org/elasticsearch/cluster/coordination/LeaderChecker.java
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#38311 Move CAS operations in TokenService to sequence numbers
  server/src/main/java/org/elasticsearch/action/search/SearchRequestBuilder.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
Labels: :Security/Security, >enhancement, v6.7.0, v7.0.0

#38191 [ML] Add explanation so far to file structure finder exceptions
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/filestructurefinder/FileStructureFinderManager.java
Labels: :ml, >enhancement, v6.6.1, v6.7.0, v7.0.0

#38131 Re-enable accounting breaker check in InternalTestCluster
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Core/Infra/Circuit Breakers, >test, v7.0.0

#38330 Mute DedicatedClusterSnapshotRestoreIT#testRestoreShrinkIndex
  server/src/test/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
Labels: :Distributed/Snapshot/Restore, >test-failure, >test-mute

#38288 SQL: Move metrics tracking inside PlanExecutor (#38259)
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/QueryMetric.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/PlanExecutor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TransportSqlClearCursorAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TransportSqlQueryAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TransportSqlTranslateAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/Configuration.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/TestUtils.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/FunctionRegistryTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/DatabaseFunctionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/UserFunctionTests.java
Labels: :Search/SQL, v6.7.0

#38287 SQL: Remove exceptions from Analyzer (#38260)
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Analyzer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/AbstractBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/LogicalPlanBuilder.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
Labels: :Search/SQL, v6.6.1, v6.7.0

#38314 Fix testRestoreIncreasesPrimaryTerms on 6.x
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: :Distributed/Distributed, >test, v6.7.0

#38334 Mute SpecificMasterNodesIT#testElectOnlyBetweenMasterNodes
  server/src/test/java/org/elasticsearch/cluster/SpecificMasterNodesIT.java
Labels: :Distributed/Distributed, >test-failure, >test-mute

#38324 Fix testCanRunUnsafeBootstrapAfterErroneousDetachWithoutLoosingMetaData
  server/src/test/java/org/elasticsearch/cluster/coordination/ElasticsearchNodeCommandIT.java
Labels: :Distributed/ZenDiscovery, >test

#38309 Use DateFormatter in monitoring instead of joda code
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/monitoring/exporter/MonitoringTemplateUtils.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporter.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExportBulk.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalBulk.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/MonitoringTemplateUtilsTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterIT.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/integration/MonitoringIT.java
Labels: :Core/Infra/Core, >upgrade, v6.7.0

#38343 Mute ClusterClientIT#testClusterHealthYellowSpecificIndex
  client/rest-high-level/src/test/java/org/elasticsearch/client/ClusterClientIT.java
Labels: :Core/Features/Java High Level REST Client, >test-mute

#38250 Run Node deprecation checks locally (#38065)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/deprecation/DeprecationInfoAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/deprecation/NodesDeprecationCheckAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/deprecation/NodesDeprecationCheckRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/deprecation/NodesDeprecationCheckResponse.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/deprecation/DeprecationInfoActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/deprecation/NodesDeprecationCheckRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/deprecation/NodesDeprecationCheckResponseTests.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/Deprecation.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/TransportDeprecationInfoAction.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/TransportNodeDeprecationCheckAction.java
Labels: :Core/Features/Features, >enhancement, v7.0.0

#38307 Ignore the `>test-mute` label when generating release notes.
  dev-tools/es_release_notes.pl
Labels: :Core/Infra/Build, >non-issue, v6.6.1, v6.7.0, v7.0.0

#38336 [ML] Add explanation so far to file structure finder exceptions
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/filestructurefinder/FileStructureFinderManager.java
Labels: :ml, backport

#38337 [ML] Add explanation so far to file structure finder exceptions
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/filestructurefinder/FileStructureFinderManager.java
Labels: :ml, backport

#38302 Clarify slow cluster-state log messages
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterService.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  server/src/test/java/org/elasticsearch/cluster/service/ClusterApplierServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
Labels: :Distributed/ZenDiscovery, >non-issue, v7.0.0

#38229 Preserve ILM operation mode when creating new lifecycles (#38134)
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleInitialisationTests.java
Labels: :Core/Features/ILM, >bug, backport

#38230 Preserve ILM operation mode when creating new lifecycles (#38134)
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/indexlifecycle/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/indexlifecycle/IndexLifecycleInitialisationTests.java
Labels: :Core/Features/ILM, >bug, backport

#38219 Authorization engines evaluate privileges for APIs
  plugins/examples/security-authorization-engine/src/main/java/org/elasticsearch/example/CustomAuthorizationEngine.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/AuthorizationEngine.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportGetUserPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportGetUserPrivilegesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
Labels: :Security/Authorization, >non-issue

#38207 Add Composite to AggregationBuilders
  client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationBuilders.java
Labels: :Analytics/Aggregations, >enhancement, v6.7.0, v7.0.0

#37745 Remove types from Monitoring plugin "backend" code
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExportBulk.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalBulk.java
  x-pack/plugin/monitoring/src/main/resources/monitoring/watches/elasticsearch_cluster_status.json
  x-pack/plugin/monitoring/src/main/resources/monitoring/watches/elasticsearch_nodes.json
  x-pack/plugin/monitoring/src/main/resources/monitoring/watches/elasticsearch_version_mismatch.json
  x-pack/plugin/monitoring/src/main/resources/monitoring/watches/kibana_version_mismatch.json
  x-pack/plugin/monitoring/src/main/resources/monitoring/watches/logstash_version_mismatch.json
  x-pack/plugin/monitoring/src/main/resources/monitoring/watches/xpack_license_expiration.json
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/action/MonitoringBulkRequestTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporterIntegTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporterResourceIntegTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/integration/MonitoringIT.java
Labels: :Core/Features/Monitoring, v7.0.0

#37883 Deprecate HLRC security methods
  client/rest-high-level/src/main/java/org/elasticsearch/client/SecurityClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/EmptyResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SecurityDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/security/EmptyResponseTests.java
Labels: :Core/Features/Java High Level REST Client, >deprecation, >enhancement, v7.0.0

#38340 Docs: Drop inline callout from scroll example
  docs/reference/search/request/scroll.asciidoc
Labels: >docs
