Repository elastic/elasticsearch, pull requests merged in 2020-10, with the labels that each got.

#63077 Remove dependency of Geometry queries with mapped type names
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeQueryable.java
  server/src/main/java/org/elasticsearch/index/mapper/LegacyGeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/AbstractGeometryQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/GeoShapeQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/LegacyGeoShapeQueryProcessor.java
  server/src/main/java/org/elasticsearch/index/query/VectorGeoPointShapeQueryProcessor.java
  server/src/main/java/org/elasticsearch/index/query/VectorGeoShapeQueryProcessor.java
  server/src/test/java/org/elasticsearch/index/mapper/LegacyGeoShapeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/query/GeoShapeQueryBuilderTests.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeQueryable.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryBuilder.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryPointProcessor.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryProcessor.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryBuilderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/ingest/CircleProcessorTests.java
Labels: :Analytics/Geo, >refactoring, Team:Analytics, v7.10.0, v8.0.0

#62968 Use services for archive and file operations in tasks
  buildSrc/src/main/groovy/org/elasticsearch/gradle/AntTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/LicenseHeadersTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/PrecommitTasks.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/AntFixture.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/ElasticsearchTestBasePlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/FileSystemOperationsAware.java
  buildSrc/src/main/java/org/elasticsearch/gradle/LoggedExec.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestApiTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestTestsTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/StandaloneRestIntegTestTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClustersPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testfixtures/TestFixturesPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/util/FileUtils.java
  buildSrc/src/main/java/org/elasticsearch/gradle/util/GradleUtils.java
  distribution/packages/build.gradle
  plugins/discovery-azure-classic/build.gradle
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/repository-multi-version/build.gradle
  qa/rolling-upgrade/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
Labels: :Core/Infra/Build, Team:Core/Infra, v7.10.0, v8.0.0

#62937 Cleanup on integtest distribution setup
  distribution/archives/build.gradle
  distribution/archives/integ-test-zip/build.gradle
Labels: :Core/Infra/Build, Team:Core/Infra, v7.10.0, v8.0.0

#63110 Remove dependency of Geometry queries with mapped type names (#63077)
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeQueryable.java
  server/src/main/java/org/elasticsearch/index/mapper/LegacyGeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/AbstractGeometryQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/GeoShapeQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/LegacyGeoShapeQueryProcessor.java
  server/src/main/java/org/elasticsearch/index/query/VectorGeoPointShapeQueryProcessor.java
  server/src/main/java/org/elasticsearch/index/query/VectorGeoShapeQueryProcessor.java
  server/src/test/java/org/elasticsearch/index/mapper/LegacyGeoShapeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/query/GeoShapeQueryBuilderTests.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeQueryable.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryBuilder.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryPointProcessor.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryProcessor.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryBuilderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/ingest/CircleProcessorTests.java
Labels: >refactoring, backport, v7.10.0

#63113 [Transform] fix time rounding in TransformContinuousIT
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TransformContinuousIT.java
Labels: :ml/Transform, >test, v7.10.0, v8.0.0

#63111 [ML] Remove direct access to system index from filter_crud REST test
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/filter_crud.yml
Labels: :ml, >test, v7.10.0, v8.0.0

#63099 Use BCFIPS 1.0.2 in our CI
  buildSrc/src/main/resources/fips_java.security
  gradle/fips.gradle
Labels: :Core/Infra/Build, :Security/Security, >test, Team:Core/Infra, Team:Security

#63038 Move SLM history to data stream
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/history/SnapshotHistoryStore.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/history/SnapshotLifecycleTemplateRegistry.java
  x-pack/plugin/core/src/main/resources/slm-history.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/history/SnapshotHistoryStoreTests.java
  x-pack/plugin/ilm/build.gradle
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/slm/SnapshotLifecycleRestIT.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/slm/SLMSnapshotBlockingIntegTests.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, v7.10.0, v8.0.0

#63116 Use BCFIPS 1.0.2 in our CI
  buildSrc/src/main/resources/fips_java_bcjsse_11.security
  buildSrc/src/main/resources/fips_java_bcjsse_8.security
  buildSrc/src/main/resources/fips_java_sunjsse.security
  gradle/fips.gradle
Labels: backport

#63115 [7.x][ML] Remove direct access to system index from filter_crud REST …
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/filter_crud.yml
Labels: :ml, >test, backport

#63098 [ML] adding `baseline` field to total_feature_importance objects
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportanceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/inference_index_template.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TotalFeatureImportanceTests.java
Labels: :ml, >non-issue, v7.10.0, v8.0.0

#63124 [7.x] Add country_name to the default properties of geoip ingest processor
  docs/reference/ingest/processors/geoip.asciidoc
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  modules/ingest-geoip/src/yamlRestTest/resources/rest-api-spec/test/ingest_geoip/20_geoip_processor.yml
Labels: :Core/Features/Ingest, >enhancement, Team:Core/Features, backport, v7.10.0

#63125 [7.x] [ML] adding `baseline` field to total_feature_importance objects (#63098)
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportanceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/inference_index_template.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TotalFeatureImportanceTests.java
Labels: :ml, backport

#63031 Add telemetry for data tiers
  docs/reference/rest-api/info.asciidoc
  docs/reference/rest-api/usage.asciidoc
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierIT.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierTelemetryPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/DataTier.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/DataTiersFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/DataTiersInfoTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/DataTiersUsageTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackInfoFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageFeatureAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/DataTiersFeatureSetUsageTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/DataTiersUsageTransportActionTests.java
Labels: :Core/Features/Features, Team:Core/Features, v7.10.0, v8.0.0

#63123 Shorten runtime field type class names
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractScriptFieldType.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/BooleanScriptFieldType.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/DateScriptFieldType.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/DoubleScriptFieldType.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/IpScriptFieldType.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/KeywordScriptFieldType.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/LongScriptFieldType.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/RuntimeFieldMapper.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractNonTextScriptFieldTypeTestCase.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractScriptFieldTypeTestCase.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/BooleanScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/DateScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/DoubleScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/IpScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/KeywordScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/LongScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/RuntimeFieldMapperTests.java
Labels: :Search/Mapping, >non-issue, Team:Search, v7.10.0, v8.0.0

#63036 Add support for x_opaque_id to _cat/tasks
  rest-api-spec/src/main/resources/rest-api-spec/test/cat.tasks/10_basic.yml
  server/src/main/java/org/elasticsearch/rest/action/cat/RestTasksAction.java
Labels: :Core/Features/CAT APIs, >enhancement, Team:Core/Features, v7.10.0, v8.0.0

#62898 [7.x] Add network from MaxMind Geo ASN database (#61676)
  docs/reference/ingest/processors/geoip.asciidoc
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorTests.java
  modules/ingest-geoip/src/yamlRestTest/resources/rest-api-spec/test/ingest_geoip/20_geoip_processor.yml
Labels: backport

#63094 EQL: Clean grammar from `of` and `fork`
  x-pack/plugin/eql/src/main/antlr/EqlBase.g4
  x-pack/plugin/eql/src/main/antlr/EqlBase.tokens
  x-pack/plugin/eql/src/main/antlr/EqlBaseLexer.tokens
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseLexer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/resources/queries-unsupported.eql
Labels: :Query Languages/EQL, Team:QL, v7.10.0, v8.0.0

#63135 [7.x] Add support for x_opaque_id to _cat/tasks (#63036)
  rest-api-spec/src/main/resources/rest-api-spec/test/cat.tasks/10_basic.yml
  server/src/main/java/org/elasticsearch/rest/action/cat/RestTasksAction.java
Labels: :Core/Features/CAT APIs, Team:Core/Features, backport

#63137 Revert "[ML] adding `baseline` field to total_feature_importance objects (#63098)
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportanceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/inference_index_template.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TotalFeatureImportanceTests.java
Labels: :ml, >non-issue, v7.10.0, v8.0.0

#62984 System index auto-creation should not be disabled by user settings
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexSourceTargetValidationTests.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/support/AutoCreateIndex.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/action/ActionModuleTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTests.java
  server/src/test/java/org/elasticsearch/action/support/AutoCreateIndexTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
Labels: :Core/Infra/Core, >enhancement, Team:Core/Infra, v7.10.0, v8.0.0

#63140 [7.x] Add telemetry for data tiers (#63031)
  docs/reference/rest-api/info.asciidoc
  docs/reference/rest-api/usage.asciidoc
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/DataTier.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/DataTiersFeatureSet.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/DataTiersFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/DataTiersFeatureSetTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/DataTiersFeatureSetUsageTests.java
Labels: :Core/Features/Features, Team:Core/Features, backport, v7.10.0

#63100 Extract histogramFieldDocValues into an utility class
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/AnalyticsTestsUtils.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/bucket/histogram/HistoBackedHistogramAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedAvgAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedMaxAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedMinAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedSumAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedValueCountAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/TDigestPreAggregatedPercentileRanksAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/TDigestPreAggregatedPercentilesAggregatorTests.java
Labels: :Analytics/Aggregations, >refactoring, >test, Team:Analytics, v7.10.0, v8.0.0

#63142 Update the cat tasks test skip version after backport
  rest-api-spec/src/main/resources/rest-api-spec/test/cat.tasks/10_basic.yml
Labels: :Core/Features/CAT APIs, >test, Team:Core/Features, backport, v8.0.0

#63138 EQL: Clean grammar from `fork` (#63094)
  x-pack/plugin/eql/src/main/antlr/EqlBase.g4
  x-pack/plugin/eql/src/main/antlr/EqlBase.tokens
  x-pack/plugin/eql/src/main/antlr/EqlBaseLexer.tokens
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseLexer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/resources/queries-unsupported.eql
Labels: :Query Languages/EQL, Team:QL, backport

#63148 [7.x] Extract histogramFieldDocValues into an utility class (#63100)
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/AnalyticsTestsUtils.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/bucket/histogram/HistoBackedHistogramAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedAvgAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedMaxAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedMinAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedSumAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedValueCountAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/TDigestPreAggregatedPercentileRanksAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/TDigestPreAggregatedPercentilesAggregatorTests.java
Labels: :Analytics/Aggregations, >test, Team:Analytics, backport

#63147 System index auto-creation should not be disabled by user settings (#62984)
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexSourceTargetValidationTests.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/support/AutoCreateIndex.java
  server/src/main/java/org/elasticsearch/client/transport/TransportClient.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/action/ActionModuleTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTests.java
  server/src/test/java/org/elasticsearch/action/support/AutoCreateIndexTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
Labels: backport, v7.10.0

#63105 [7.x] Introduce changes related to yamlRestCompatTest (#62985)
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestApiTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestTestsTask.java
Labels: backport

#63121 EQL: Introduce case-sensitive equality
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/BaseEqlSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/resources/additional_test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_unsupported.toml
  x-pack/plugin/eql/src/main/antlr/EqlBase.g4
  x-pack/plugin/eql/src/main/antlr/EqlBase.tokens
  x-pack/plugin/eql/src/main/antlr/EqlBaseLexer.tokens
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/whitelist/InternalEqlScriptUtils.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/predicate/operator/comparison/InsensitiveBinaryComparison.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/predicate/operator/comparison/InsensitiveBinaryComparisonPipe.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/predicate/operator/comparison/InsensitiveBinaryComparisonProcessor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/predicate/operator/comparison/InsensitiveEquals.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/predicate/operator/comparison/InsensitiveNotEquals.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/predicate/operator/comparison/StringComparisons.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseLexer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ExpressionBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/planner/QueryTranslator.java
  x-pack/plugin/eql/src/main/resources/org/elasticsearch/xpack/eql/plugin/eql_whitelist.txt
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/EqlTestUtils.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/predicate/operator/comparison/InsensitiveBinaryComparisonPipeTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/predicate/operator/comparison/InsensitiveBinaryComparisonProcessorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/OptimizerTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderOkTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryTranslationTests.java
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
Labels: :Query Languages/EQL, >feature, Team:QL, release highlight, v7.10.0, v8.0.0

#63146 Tidy up some ILM and SLM packages
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SLMFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecycleMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicyItem.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecycleStats.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/action/GetSnapshotLifecycleStatsAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/SnapshotLifecycleMetadataTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicyItemTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/SnapshotLifecycleStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/SnapshotRetentionConfigurationTests.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/slm/SnapshotLifecycleRestIT.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/IndexLifecycleInitialisationTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotLifecycleTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/UpdateSnapshotLifecycleStatsTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportGetSnapshotLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportGetSnapshotLifecycleStatsAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportPutSnapshotLifecycleAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleMetadataTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleTransitionTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/LifecyclePolicyTestsUtils.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/OperationModeUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionTaskTests.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Core/Features/Features, >non-issue, >refactoring, Team:Core/Features, v7.10.0, v8.0.0

#63149 Update bcfips in plugin-cli
  distribution/tools/plugin-cli/build.gradle
  distribution/tools/plugin-cli/licenses/bc-fips-1.0.1.jar.sha1
  distribution/tools/plugin-cli/licenses/bc-fips-1.0.2.jar.sha1
  distribution/tools/plugin-cli/licenses/bcpg-fips-1.0.3.jar.sha1
  distribution/tools/plugin-cli/licenses/bcpg-fips-1.0.4.jar.sha1
Labels: :Core/Infra/Build, >test-failure, Team:Core/Infra

#63109 [doc] Rounding range query rules
  docs/reference/aggregations/bucket/daterange-aggregation.asciidoc
  docs/reference/query-dsl/range-query.asciidoc
Labels: :Core/Infra/Core, >docs, Team:Core/Infra, Team:Docs, v7.10.0, v8.0.0

#63071 Allow passing versioned media types to 7.x server
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentType.java
  server/src/test/java/org/elasticsearch/common/xcontent/XContentTypeTests.java
Labels: :Core/Infra/REST API, Team:Core/Infra, v7.10.0

#63155 [7.x] [doc] Rounding range query rules (#63109)
  docs/reference/aggregations/bucket/daterange-aggregation.asciidoc
  docs/reference/query-dsl/range-query.asciidoc
Labels: :Core/Infra/Core, >doc, Team:Core/Infra, backport

#63156 [7.9] [doc] Rounding range query rules (#63109)
  docs/reference/aggregations/bucket/daterange-aggregation.asciidoc
  docs/reference/query-dsl/range-query.asciidoc
Labels: :Core/Infra/Core, >doc, Team:Core/Infra, backport

#63139 Correct version field yml test skip version
  x-pack/plugin/src/test/resources/rest-api-spec/test/versionfield/10_basic.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/versionfield/20_scripts.yml
Labels: :Search/Mapping, >test, Team:Search, v7.10.0

#63102 Small typo
  docs/reference/how-to/recipes/scoring.asciidoc
Labels: :Search/Ranking, >docs, Team:Docs, Team:Search

#61983 Ensure domain_name setting for AD realm is present
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/ldap/ActiveDirectorySessionFactorySettings.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/SecurityRealmSettingsTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactory.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractActiveDirectoryTestCase.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactoryTests.java
Labels: :Security/Authentication, Team:Security, v7.10.0, v7.9.3, v8.0.0

#62966 [7.x] [ML] Set parent task Id on ml expired data removers (#62854)
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/UnusedStatsRemoverIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/AbstractExpiredJobDataRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/EmptyStateIndexRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredForecastsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/UnusedStateRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/UnusedStatsRemover.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/AbstractExpiredJobDataRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/EmptyStateIndexRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemoverTests.java
Labels: :ml, backport, v7.10.0

#63166 Remove unused deprecated serialization code
  plugins/examples/custom-suggester/src/main/java/org/elasticsearch/example/customsuggester/CustomSuggestion.java
  server/src/main/java/org/elasticsearch/search/suggest/Suggest.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/CompletionSuggestion.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/PhraseSuggestion.java
  server/src/main/java/org/elasticsearch/search/suggest/term/TermSuggestion.java
Labels: :Search/Suggesters, >non-issue, Team:Search, v8.0.0

#63144 Revert "[ML] adding `baseline` field to total_feature_importance objects (#63098) (#63125)"
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportanceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/inference_index_template.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TotalFeatureImportanceTests.java
Labels: :ml, >non-issue, v7.10.0

#63145 [ML] deleting deprecated inference APIs in yaml schema
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.deprecated_delete_trained_model.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.deprecated_get_trained_models.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.deprecated_get_trained_models_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.deprecated_put_trained_model.json
Labels: :ml, >non-issue, v8.0.0

#63136 [7.x] [ML] renames */inference* apis to */trained_models* (#63097)
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  docs/java-rest/high-level/ml/delete-trained-models.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
  docs/reference/aggregations/pipeline/inference-bucket-aggregation.asciidoc
  docs/reference/ml/df-analytics/apis/delete-trained-models.asciidoc
  docs/reference/ml/df-analytics/apis/get-trained-models-stats.asciidoc
  docs/reference/ml/df-analytics/apis/get-trained-models.asciidoc
  docs/reference/ml/df-analytics/apis/index.asciidoc
  docs/reference/ml/df-analytics/apis/ml-df-analytics-apis.asciidoc
  docs/reference/ml/df-analytics/apis/put-trained-models.asciidoc
  docs/reference/redirects.asciidoc
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferenceIngestIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/TrainedModelIT.java
  x-pack/plugin/ml/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferenceProcessorIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestDeleteTrainedModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestGetTrainedModelsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestGetTrainedModelsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestPutTrainedModelAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_trained_model.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_trained_models.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_trained_models_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.put_trained_model.json
Labels: :ml, backport

#63130 Split Tests out of SharedClusterSnapshotRestoreIT
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CorruptedBlobStoreRepositoryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/RestoreSnapshotIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotCustomPluginStateIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStatusApisIT.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.10.0, v8.0.0

#62539 EQL: Replace ?"..." with """...""" for unescaped strings
  x-pack/plugin/eql/qa/common/src/main/resources/additional_test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_unsupported.toml
  x-pack/plugin/eql/src/main/antlr/EqlBase.g4
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/AbstractBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseLexer.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
Labels: :Query Languages/EQL, >breaking, Team:QL, v7.10.0, v8.0.0

#63092 [ML] adding for_export flag for ml plugin GET resource APIs
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetDataFrameAnalyticsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetDatafeedRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/GetJobRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  docs/java-rest/high-level/ml/get-data-frame-analytics.asciidoc
  docs/java-rest/high-level/ml/get-datafeed.asciidoc
  docs/java-rest/high-level/ml/get-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job.asciidoc
  docs/reference/ml/df-analytics/apis/get-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/get-trained-models.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/DataFrameAnalyticsConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/ToXContentParams.java
  x-pack/plugin/ml/qa/basic-multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlBasicMultiNodeIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestGetDatafeedsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/dataframe/RestGetDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestGetTrainedModelsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestGetJobsAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_datafeeds.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_jobs.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/data_frame_analytics_crud.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/datafeeds_crud.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/jobs_get.yml
Labels: :ml, >enhancement, v7.10.0, v8.0.0

#62749 [ML] Ensure data frame analytics jobs don't run on a node that's too new
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/StartDataFrameAnalyticsActionTaskParamsTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndex.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobNodeSelector.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeSelectorTests.java
Labels: :ml, >non-issue, v7.10.0, v8.0.0

#63170 Fix querying a data stream name in _index field.
  server/src/main/java/org/elasticsearch/index/query/SearchIndexNameMatcher.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
Labels: :Core/Features/Data streams, >bug, Team:Core/Features, v7.10.0, v7.9.3, v8.0.0

#62830 corrected track_total_hits docs
  docs/reference/search/search.asciidoc
Labels: >docs, Team:Docs, v7.10.0, v7.9.3, v8.0.0

#63174 EQL: Replace ?"..." with """...""" for unescaped strings (#62539)
  x-pack/plugin/eql/qa/common/src/main/resources/additional_test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_unsupported.toml
  x-pack/plugin/eql/src/main/antlr/EqlBase.g4
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/AbstractBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseLexer.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
Labels: :Query Languages/EQL, Team:QL, backport

#61768 Fix to actually throttle indexing on getting activated
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: :Distributed/Engine, >bug, Team:Distributed, v7.10.0, v7.9.3, v8.0.0

#63176 Split Tests out of SharedClusterSnapshotRestoreIT (#63130)
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CorruptedBlobStoreRepositoryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/RestoreSnapshotIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotCustomPluginStateIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStatusApisIT.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#63168 Fix GCS Repo Cleanup Tool Exception Handling
  x-pack/snapshot-tool/src/main/java/org/elasticsearch/snapshots/GCSRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.10.0

#63178 Fix querying a data stream name in _index field.
  server/src/main/java/org/elasticsearch/index/query/SearchIndexNameMatcher.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
Labels: :Core/Features/Data streams, Team:Core/Features, backport

#63180 [master] [DOCS] Corrected track_total_hits def (#62830)
  docs/reference/search/search.asciidoc
Labels: backport, v8.0.0

#63181 [7.x] [DOCS] Corrected track_total_hits def (#62830)
  docs/reference/search/search.asciidoc
Labels: backport, v7.10.0

#63179 [DOCS] EQL: Reorganize EQL syntax sections
  docs/reference/eql/syntax.asciidoc
Labels: >docs, Team:Docs, v7.10.0, v7.9.3, v8.0.0

#62943 SQL: Fix exception when using CAST on inexact field
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Verifier.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
Labels: :Query Languages/SQL, >bug, Team:QL, v7.10.0, v7.9.3, v8.0.0

#63183 Fix querying a data stream name in _index field.
  server/src/main/java/org/elasticsearch/index/query/SearchIndexNameMatcher.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
Labels: :Core/Features/Data streams, Team:Core/Features, backport

#63184 [7.x] [DOCS] EQL: Reorganize EQL syntax sections (#63179)
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.10.0

#63120 Wildcard field - add normalisation of ngram tokens to reduce disk space.
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
  x-pack/plugin/wildcard/src/test/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapperTests.java
Labels: :Search/Search, >enhancement, Team:Search, v7.10.0, v8.0.0

#63186 SQL: Fix exception when using CAST on inexact field (#62943)
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Verifier.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
Labels: :Query Languages/SQL, >bug, Team:QL, backport

#63169 EQL: Fix syntax for event type
  x-pack/plugin/eql/src/main/antlr/EqlBase.g4
  x-pack/plugin/eql/src/main/antlr/EqlBase.tokens
  x-pack/plugin/eql/src/main/antlr/EqlBaseLexer.tokens
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseBaseListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseBaseVisitor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseLexer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseVisitor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
Labels: :Query Languages/EQL, >bug, Team:QL, v7.10.0, v8.0.0

#63187 SQL: Fix exception when using CAST on inexact field (#62943)
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Verifier.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/VerifierErrorMessagesTests.java
Labels: :Query Languages/SQL, >bug, Team:QL, backport

#62627 [DOCS] [6.8] Remove wording that read-only index block is auto-released
  docs/reference/index-modules.asciidoc
  docs/reference/modules/cluster/disk_allocator.asciidoc
Labels: :Distributed/Allocation, >bug, >docs, Team:Distributed, Team:Docs, v6.8.12

#63175 [7.x] [ML] Ensure data frame analytics jobs don't run on a node that's too new (#62749)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/StartDataFrameAnalyticsActionTaskParamsTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndex.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobNodeSelector.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeSelectorTests.java
Labels: :ml, >non-issue, backport

#63191 [DOCS] EQL: Replace ?"..." with """...""" for raw strings
  docs/reference/eql/syntax.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, v7.10.0, v8.0.0

#63134 [ML] optimize delete expired snapshots
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/process/autodetect/state/ModelSnapshot.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DeleteExpiredDataIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemover.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemoverTests.java
Labels: :ml, >refactoring, v7.10.0, v8.0.0

#63193 Wildcard field - add normalisation of ngram tokens to reduce disk space
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
  x-pack/plugin/wildcard/src/test/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapperTests.java
Labels: :Search/Search, Team:Search, backport

#63194 EQL: Fix syntax for event type (#63169)
  x-pack/plugin/eql/src/main/antlr/EqlBase.g4
  x-pack/plugin/eql/src/main/antlr/EqlBase.tokens
  x-pack/plugin/eql/src/main/antlr/EqlBaseLexer.tokens
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseBaseListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseBaseVisitor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseLexer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseVisitor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
Labels: :Query Languages/EQL, >bug, Team:QL, backport

#63154 Remove ESMS
  docs/reference/monitoring/production.asciidoc
Labels: :Core/Features/Monitoring, >docs, Team:Core/Features, Team:Docs, v7.9.3

#63153 [DOCS] Add experimental tag to data frame analytics APIs
  docs/java-rest/high-level/ml/delete-data-frame-analytics.asciidoc
  docs/java-rest/high-level/ml/delete-trained-models.asciidoc
  docs/java-rest/high-level/ml/evaluate-data-frame.asciidoc
  docs/java-rest/high-level/ml/explain-data-frame-analytics.asciidoc
  docs/java-rest/high-level/ml/find-file-structure.asciidoc
  docs/java-rest/high-level/ml/get-data-frame-analytics-stats.asciidoc
  docs/java-rest/high-level/ml/get-data-frame-analytics.asciidoc
  docs/java-rest/high-level/ml/get-trained-models-stats.asciidoc
  docs/java-rest/high-level/ml/get-trained-models.asciidoc
  docs/java-rest/high-level/ml/put-data-frame-analytics.asciidoc
  docs/java-rest/high-level/ml/put-trained-model.asciidoc
  docs/java-rest/high-level/ml/start-data-frame-analytics.asciidoc
  docs/java-rest/high-level/ml/stop-data-frame-analytics.asciidoc
  docs/java-rest/high-level/ml/update-data-frame-analytics.asciidoc
Labels: :ml, >docs, Team:Docs, v7.10.0, v7.7.2, v7.8.2, v7.9.3, v8.0.0

#63165 [DOCS] Updates trained models API docs titles
  docs/reference/ml/df-analytics/apis/delete-trained-models.asciidoc
  docs/reference/ml/df-analytics/apis/get-trained-models-stats.asciidoc
  docs/reference/ml/df-analytics/apis/get-trained-models.asciidoc
  docs/reference/ml/df-analytics/apis/put-trained-models.asciidoc
Labels: :ml, >docs, Team:Docs, v7.10.0, v8.0.0

#63200 [7.x] [ML] optimize delete expired snapshots (#63134)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/process/autodetect/state/ModelSnapshot.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DeleteExpiredDataIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemover.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemoverTests.java
Labels: :ml, backport

#63182 Fix enrich policy test bug.
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/AbstractEnrichTestCase.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/TransportGetEnrichPolicyActionTests.java
Labels: :Core/Features/Data streams, >test, Team:Core/Features, v7.10.0, v7.9.3, v8.0.0

#63198 [7.x] [DOCS] EQL: Replace ?"..." with """...""" for raw strings (#63191)
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.10.0

#63152 [DOCS] Fix titles for ML APIs
  docs/java-rest/high-level/ml/close-job.asciidoc
  docs/java-rest/high-level/ml/delete-calendar-event.asciidoc
  docs/java-rest/high-level/ml/delete-calendar-job.asciidoc
  docs/java-rest/high-level/ml/delete-calendar.asciidoc
  docs/java-rest/high-level/ml/delete-datafeed.asciidoc
  docs/java-rest/high-level/ml/delete-expired-data.asciidoc
  docs/java-rest/high-level/ml/delete-filter.asciidoc
  docs/java-rest/high-level/ml/delete-forecast.asciidoc
  docs/java-rest/high-level/ml/delete-job.asciidoc
  docs/java-rest/high-level/ml/delete-model-snapshot.asciidoc
  docs/java-rest/high-level/ml/delete-trained-models.asciidoc
  docs/java-rest/high-level/ml/evaluate-data-frame.asciidoc
  docs/java-rest/high-level/ml/find-file-structure.asciidoc
  docs/java-rest/high-level/ml/flush-job.asciidoc
  docs/java-rest/high-level/ml/forecast-job.asciidoc
  docs/java-rest/high-level/ml/get-calendar-events.asciidoc
  docs/java-rest/high-level/ml/get-calendars.asciidoc
  docs/java-rest/high-level/ml/get-datafeed.asciidoc
  docs/java-rest/high-level/ml/get-info.asciidoc
  docs/java-rest/high-level/ml/get-job-stats.asciidoc
  docs/java-rest/high-level/ml/open-job.asciidoc
  docs/java-rest/high-level/ml/post-calendar-event.asciidoc
  docs/java-rest/high-level/ml/post-data.asciidoc
  docs/java-rest/high-level/ml/preview-datafeed.asciidoc
  docs/java-rest/high-level/ml/put-calendar-job.asciidoc
  docs/java-rest/high-level/ml/put-calendar.asciidoc
  docs/java-rest/high-level/ml/put-datafeed.asciidoc
  docs/java-rest/high-level/ml/put-filter.asciidoc
  docs/java-rest/high-level/ml/put-job.asciidoc
  docs/java-rest/high-level/ml/put-trained-model.asciidoc
  docs/java-rest/high-level/ml/revert-model-snapshot.asciidoc
  docs/java-rest/high-level/ml/set-upgrade-mode.asciidoc
  docs/java-rest/high-level/ml/start-data-frame-analytics.asciidoc
  docs/java-rest/high-level/ml/start-datafeed.asciidoc
  docs/java-rest/high-level/ml/stop-datafeed.asciidoc
  docs/java-rest/high-level/ml/update-datafeed.asciidoc
  docs/java-rest/high-level/ml/update-filter.asciidoc
  docs/java-rest/high-level/ml/update-job.asciidoc
  docs/java-rest/high-level/ml/update-model-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-filter.asciidoc
  docs/reference/ml/df-analytics/apis/explain-dfanalytics.asciidoc
Labels: :ml, >docs, Team:Docs, v7.10.0, v8.0.0

#63202 [DOCS] EQL: Update syntax for escaped event categories
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/eql.asciidoc
  docs/reference/eql/syntax.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, v7.10.0, v8.0.0

#63208 [7.x] [DOCS] EQL: Update syntax for escaped event categories (#63202)
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/eql.asciidoc
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.10.0

#62513 Do not block Translog add on file write
  server/src/main/java/org/elasticsearch/common/io/DiskIoBufferPool.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/ReleasableLock.java
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogConfig.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogWriter.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogDeletionPolicyTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
Labels: :Distributed/CRUD, >non-issue, Team:Distributed, v7.10.0, v8.0.0

#61839 Clone Snapshot API
  docs/reference/snapshot-restore/apis/clone-snapshot-api.asciidoc
  docs/reference/snapshot-restore/index.asciidoc
  docs/reference/snapshot-restore/take-snapshot.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CloneSnapshotIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/clone/TransportCloneSnapshotAction.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/snapshots/package-info.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/snapshots/mockstore/MockRepository.java
Labels: :Distributed/Snapshot/Restore, >enhancement, Team:Distributed, backport pending, v7.10.0, v8.0.0

#63207 [7.x][DOCS] Fix titles for ML APIs (#63152)
  docs/java-rest/high-level/ml/close-job.asciidoc
  docs/java-rest/high-level/ml/delete-calendar-event.asciidoc
  docs/java-rest/high-level/ml/delete-calendar-job.asciidoc
  docs/java-rest/high-level/ml/delete-calendar.asciidoc
  docs/java-rest/high-level/ml/delete-datafeed.asciidoc
  docs/java-rest/high-level/ml/delete-expired-data.asciidoc
  docs/java-rest/high-level/ml/delete-filter.asciidoc
  docs/java-rest/high-level/ml/delete-forecast.asciidoc
  docs/java-rest/high-level/ml/delete-job.asciidoc
  docs/java-rest/high-level/ml/delete-model-snapshot.asciidoc
  docs/java-rest/high-level/ml/delete-trained-models.asciidoc
  docs/java-rest/high-level/ml/evaluate-data-frame.asciidoc
  docs/java-rest/high-level/ml/find-file-structure.asciidoc
  docs/java-rest/high-level/ml/flush-job.asciidoc
  docs/java-rest/high-level/ml/forecast-job.asciidoc
  docs/java-rest/high-level/ml/get-calendar-events.asciidoc
  docs/java-rest/high-level/ml/get-calendars.asciidoc
  docs/java-rest/high-level/ml/get-datafeed.asciidoc
  docs/java-rest/high-level/ml/get-info.asciidoc
  docs/java-rest/high-level/ml/get-job-stats.asciidoc
  docs/java-rest/high-level/ml/open-job.asciidoc
  docs/java-rest/high-level/ml/post-calendar-event.asciidoc
  docs/java-rest/high-level/ml/post-data.asciidoc
  docs/java-rest/high-level/ml/preview-datafeed.asciidoc
  docs/java-rest/high-level/ml/put-calendar-job.asciidoc
  docs/java-rest/high-level/ml/put-calendar.asciidoc
  docs/java-rest/high-level/ml/put-datafeed.asciidoc
  docs/java-rest/high-level/ml/put-filter.asciidoc
  docs/java-rest/high-level/ml/put-job.asciidoc
  docs/java-rest/high-level/ml/put-trained-model.asciidoc
  docs/java-rest/high-level/ml/revert-model-snapshot.asciidoc
  docs/java-rest/high-level/ml/set-upgrade-mode.asciidoc
  docs/java-rest/high-level/ml/start-data-frame-analytics.asciidoc
  docs/java-rest/high-level/ml/start-datafeed.asciidoc
  docs/java-rest/high-level/ml/stop-datafeed.asciidoc
  docs/java-rest/high-level/ml/update-datafeed.asciidoc
  docs/java-rest/high-level/ml/update-filter.asciidoc
  docs/java-rest/high-level/ml/update-job.asciidoc
  docs/java-rest/high-level/ml/update-model-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-filter.asciidoc
  docs/reference/ml/df-analytics/apis/explain-dfanalytics.asciidoc
Labels: backport

#63151 [DOCS] Clarify BWC of monitoring clusters
  docs/reference/monitoring/production.asciidoc
Labels: :Core/Features/Monitoring, >docs, Team:Core/Features, Team:Docs, v7.10.0, v7.9.3, v8.0.0

#63211 Fix AsyncSearchActionIT#testRestartAfterCompletion
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/AsyncSearchActionIT.java
Labels: :Search/Search, >test, Team:Search, v7.10.0, v8.0.0

#63204 Add tier preference when mounting
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/TransportMountSearchableSnapshotAction.java
Labels: :Distributed/Allocation, >enhancement, Team:Distributed, v7.10.0, v8.0.0

#62944 Fix Race in ClusterApplierService Shutdown
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
Labels: :Distributed/Cluster Coordination, >non-issue, Team:Distributed, v7.10.0, v8.0.0

#63227 EQL: [Test] Add a test for `identifier` as eventType
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
Labels: :Query Languages/EQL, >test, Team:QL, v7.10.0, v8.0.0

#63197 Remove MapperService argument from IndexFieldData.Builder#build
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/ScaledFloatFieldTypeTests.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolateQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/fielddata/IndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/IndexFieldDataService.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/AbstractLatLonPointIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/BinaryIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/BytesBinaryIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/ConstantIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/PagedBytesIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/SortedNumericIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/SortedSetOrdinalsIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/mapper/IdFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IndexFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeFieldType.java
  server/src/test/java/org/elasticsearch/index/fielddata/IndexFieldDataServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IdFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IdFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/NumberFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TypeFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryShardContextTests.java
  server/src/test/java/org/elasticsearch/search/sort/AbstractSortTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlatObjectFieldMapper.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/fielddata/BooleanScriptFieldData.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/fielddata/DateScriptFieldData.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/fielddata/DoubleScriptFieldData.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/fielddata/IpScriptFieldData.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/fielddata/LongScriptFieldData.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/fielddata/StringScriptFieldData.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractScriptFieldTypeTestCase.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/BooleanScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/DateScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/DoubleScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/IpScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/KeywordScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/LongScriptFieldTypeTests.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/AbstractLatLonShapeIndexFieldData.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/query/VectorIndexFieldData.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
  x-pack/plugin/wildcard/src/test/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapperTests.java
Labels: :Search/Mapping, >refactoring, Team:Search, v8.0.0

#62212 Uniquely associate term with update task during election
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
Labels: :Distributed/Cluster Coordination, >bug, Team:Distributed, v7.10.0, v7.9.3, v8.0.0

#63228 Fix Race in ClusterApplierService Shutdown (#62944)
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
Labels: :Distributed/Cluster Coordination, Team:Distributed, backport

#63217 Add Package Level Javadoc for Snapshot Clones
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/snapshots/package-info.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.10.0, v8.0.0

#63061 Fix Overly Strict Assertion in BlobStoreRepository
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.10.0, v8.0.0

#63161 EQL: Make queries using Point-In-Time rely on index filtering
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/PITAwareQueryClient.java
Labels: :Query Languages/EQL, Team:QL, v7.10.0, v8.0.0

#63215 EQL: Avoid filtering on tiebreakers
  x-pack/plugin/eql/qa/common/src/main/resources/test_extra.toml
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlExtraIT.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/assembler/BoxedQueryRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/assembler/ExecutionManager.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/assembler/SequenceSpecTests.java
Labels: :Query Languages/EQL, >bug, Team:QL, v7.10.0, v7.9.3, v8.0.0

#63216 QL: Optimize regexs without patterns as equality
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/regex/AbstractStringPattern.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/regex/LikePattern.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/regex/RLikePattern.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/regex/RegexMatch.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/regex/StringPattern.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRules.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/expression/predicate/regex/StringPatternTests.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRulesTests.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
Labels: :Query Languages/EQL, :Query Languages/SQL, >enhancement, Team:QL, v7.10.0, v8.0.0

#63192 EQL: Change default indices options
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlSearchRequest.java
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/eql/AsyncEqlSecurityIT.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
Labels: :Query Languages/EQL, >refactoring, Team:QL, v7.10.0, v8.0.0

#63236 Fix Overly Strict Assertion in BlobStoreRepository (#63061)
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#63172 [ML] adds feature_importance_baseline object to model metadata
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportanceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/FeatureImportanceBaseline.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TrainedModelMetadata.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/inference_index_template.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/FeatureImportanceBaselineTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TrainedModelMetadataTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/ChunkedTrainedModelPersisterIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/TrainedModelProviderIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportInternalInferModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/ChunkedTrainedModelPersister.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/results/ModelMetadata.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/loadingservice/ModelLoadingService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/ChunkedTrainedModelPersisterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/results/AnalyticsResultTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/loadingservice/ModelLoadingServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProviderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/trainedmodels/langident/LangIdentNeuralNetworkInferenceTests.java
Labels: :ml, >non-issue, v7.10.0, v8.0.0

#63234 [ML] Muting mappings upgrade test for .ml-stats
  x-pack/qa/src/main/java/org/elasticsearch/xpack/test/rest/IndexMappingTemplateAsserter.java
Labels: :ml, >test-mute, v7.10.0

#61427 Allow parsing Content-Type and Accept headers with version
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/MediaTypeParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentType.java
  libs/x-content/src/test/java/org/elasticsearch/common/xcontent/MediaTypeParserTests.java
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/rest/AbstractRestChannel.java
  server/src/main/java/org/elasticsearch/rest/BytesRestResponse.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestTable.java
  server/src/test/java/org/elasticsearch/common/xcontent/XContentTypeTests.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/RestSqlQueryAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/SqlMediaTypeParser.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TextFormat.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plugin/SqlMediaTypeParserTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plugin/TextFormatTests.java
Labels: :Core/Infra/REST API, :Query Languages/SQL, >breaking, Team:Core/Infra, Team:QL, v8.0.0

#63235 EQL: [Test] Add a test for `identifier` as eventType (#63227)
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
Labels: :Query Languages/EQL, >test, Team:QL, backport

#63205 Fixed a couple of typos in the CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: >docs, Team:Docs, v7.10.0, v8.0.0

#63237 [7.x] [ML] adds feature_importance_baseline object to model metadata (#63172)
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/metadata/TotalFeatureImportanceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/FeatureImportanceBaseline.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TrainedModelMetadata.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/inference_index_template.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/FeatureImportanceBaselineTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TrainedModelMetadataTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/ChunkedTrainedModelPersisterIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/TrainedModelProviderIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportInternalInferModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/ChunkedTrainedModelPersister.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/results/ModelMetadata.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/loadingservice/ModelLoadingService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/ChunkedTrainedModelPersisterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/results/AnalyticsResultTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/loadingservice/ModelLoadingServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProviderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/trainedmodels/langident/LangIdentNeuralNetworkInferenceTests.java
Labels: :ml, backport

#62983 Make Rounding.nextRoundingValue consistent
  server/src/main/java/org/elasticsearch/common/Rounding.java
  server/src/test/java/org/elasticsearch/common/RoundingTests.java
Labels: :Analytics/Aggregations, >bug, Team:Analytics, v7.10.0, v8.0.0

#63222 Upgrade to Lucene-8.7.0-snapshot-77396dbf339
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.7.0-snapshot-3b59906.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.7.0-snapshot-77396dbf339.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.7.0-snapshot-3b59906.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.7.0-snapshot-77396dbf339.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.7.0-snapshot-3b59906.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.7.0-snapshot-77396dbf339.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.7.0-snapshot-3b59906.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.7.0-snapshot-77396dbf339.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.7.0-snapshot-3b59906.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.7.0-snapshot-77396dbf339.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.7.0-snapshot-3b59906.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.7.0-snapshot-77396dbf339.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.7.0-snapshot-3b59906.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.7.0-snapshot-77396dbf339.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.7.0-snapshot-3b59906.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-analyzers-common-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-analyzers-common-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-backward-codecs-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-backward-codecs-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-core-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-core-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-grouping-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-grouping-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-highlighter-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-highlighter-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-join-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-join-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-memory-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-memory-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-misc-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-misc-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-queries-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-queries-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-queryparser-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-queryparser-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-sandbox-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-sandbox-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-spatial-extras-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-spatial-extras-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-spatial3d-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-spatial3d-8.7.0-snapshot-77396dbf339.jar.sha1
  server/licenses/lucene-suggest-8.7.0-snapshot-3b59906.jar.sha1
  server/licenses/lucene-suggest-8.7.0-snapshot-77396dbf339.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.7.0-snapshot-3b59906.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.7.0-snapshot-77396dbf339.jar.sha1
Labels: >non-issue, >upgrade, v7.10.0, v8.0.0

#63201 Use services for archive and file operations in tasks (7.x backport)
  buildSrc/src/main/groovy/org/elasticsearch/gradle/AntTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/LicenseHeadersTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/PrecommitTasks.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/AntFixture.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/ElasticsearchTestBasePlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/FileSystemOperationsAware.java
  buildSrc/src/main/java/org/elasticsearch/gradle/LoggedExec.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestApiTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestTestsTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/StandaloneRestIntegTestTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClustersPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testfixtures/TestFixturesPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/util/FileUtils.java
  buildSrc/src/main/java/org/elasticsearch/gradle/util/GradleUtils.java
  distribution/packages/build.gradle
  plugins/discovery-azure-classic/build.gradle
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/repository-multi-version/build.gradle
  qa/rolling-upgrade/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
Labels: :Core/Infra/Build, Team:Core/Infra, backport

#63218 EQL: Remove case_sensitive request option and make eql to be case sensitive by default
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlSearchRequest.java
  docs/reference/eql/eql.asciidoc
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/BaseEqlSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlExtraSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlSpec.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlSpecLoader.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_unsupported.toml
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlExtraIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlSpecIT.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/EqlFunctionRegistry.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/Between.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/EndsWith.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/IndexOf.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/StartsWith.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/StringContains.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/planner/QueryTranslator.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/EqlConfiguration.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/EqlTestUtils.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlRequestParserTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/BetweenFunctionPipeTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/EndsWithFunctionProcessorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/IndexOfFunctionProcessorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/StartsWithFunctionProcessorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/EqlFoldSpec.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/EqlFoldSpecLoader.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/OptimizerTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/TomlFoldTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderFailTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderOkTests.java
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
  x-pack/plugin/eql/src/test/resources/test_folding.toml
  x-pack/plugin/eql/src/test/resources/test_string_functions.toml
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/function/FunctionRegistry.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/regex/Like.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/planner/ExpressionTranslators.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/querydsl/query/TermQuery.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/querydsl/query/WildcardQuery.java
Labels: :Query Languages/EQL, >enhancement, Team:QL, v7.10.0, v8.0.0

#63241 Mute FullClusterRestartIT.testWatcherWithApiKey
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Core/Features/Watcher, >test-mute, Team:Core/Features, v7.10.0, v7.9.3, v8.0.0

#63029 Scripting: enable regular expressions by default
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/InjectConstantAnnotation.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/InjectConstantAnnotationParser.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/WhitelistAnnotationParser.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Compiler.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/CompilerSettings.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/DefBootstrap.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/LambdaBootstrap.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/MethodWriter.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessPlugin.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessScriptEngine.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/WriterConstants.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/api/Augmentation.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/api/LimitedCharSequence.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/BinaryMathNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupUtility.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultSemanticAnalysisPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultUserTreeToIRTreePhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/ScriptScope.java
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/spi/java.util.regex.txt
  modules/lang-painless/src/test/java/org/elasticsearch/painless/DefBootstrapTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FeatureTestAugmentationObject.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FeatureTestObject.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FeatureTestObject2.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/InjectionTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/RegexLimitTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/WhenThingsGoWrongTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/api/LimitedCharSequenceTests.java
  modules/lang-painless/src/test/resources/org/elasticsearch/painless/spi/org.elasticsearch.painless.test
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/40_disabled.yml
  server/src/main/java/org/elasticsearch/script/ScriptContextInfo.java
Labels: :Core/Infra/Scripting, >enhancement, Team:Core/Infra, v7.10.0, v8.0.0

#63242 Make Rounding.nextRoundingValue consistent (backport #62983)
  server/src/main/java/org/elasticsearch/common/Rounding.java
  server/src/test/java/org/elasticsearch/common/RoundingTests.java
Labels: backport, v7.10.0

#63243 Fix Broken Exception Handling in Snapshot Cleanup Tool
  x-pack/snapshot-tool/src/main/java/org/elasticsearch/snapshots/AbstractRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.10.0

#62788 Add PGSync as a new community supported tool
  docs/plugins/integrations.asciidoc
Labels: >docs, Team:Docs

#63249 Cleanup Blobstore Repository Metadata Serialization (#62727)
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshot.java
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshots.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotInfo.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#63250 [DOCS] [7.x] Add PGSync as community-supported integration
  docs/plugins/integrations.asciidoc
Labels: >docs, Team:Docs, backport

#63239 Replace some usages of QueryShardContext#getMapperService
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolateQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/FieldsVisitor.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/query/ExistsQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/InnerHitContextBuilder.java
  server/src/main/java/org/elasticsearch/index/query/NestedQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/index/query/RangeQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/FieldValueFactorFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/RandomScoreFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/search/NestedHelper.java
  server/src/main/java/org/elasticsearch/index/search/QueryParserHelper.java
  server/src/main/java/org/elasticsearch/index/search/QueryStringQueryParser.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchDocValuesContext.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/CompletionSuggestionBuilder.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IdFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/StoredNumericValuesTests.java
  server/src/test/java/org/elasticsearch/index/query/DistanceFeatureQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/ExistsQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryStringQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/RangeQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/functionscore/ScoreFunctionBuilderTests.java
  server/src/test/java/org/elasticsearch/index/search/NestedHelperTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/DocumentPermissions.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/SourceOnlySnapshotShardTests.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichShardMultiSearchAction.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractScriptFieldTypeTestCase.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.10.0, v8.0.0

#63251 Fixing typo in Kafka Standalone Consumer link
  docs/plugins/integrations.asciidoc
Labels: >docs, Team:Docs

#63209 [DOCS] Clarify `allow_no_indices` def
  docs/reference/rest-api/common-parms.asciidoc
Labels: >docs, Team:Docs, v7.10.0, v7.9.3, v8.0.0

#63254 [DOCS] Add PGSync as community-supported integration (#63250)
  docs/plugins/integrations.asciidoc
Labels: >docs, Team:Docs

#63248 Dry up Snapshot Integ Tests some More (#62856)
  server/src/internalClusterTest/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryCleanupIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CorruptedBlobStoreRepositoryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotShardsServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStatusApisIT.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#63226 Do not block Translog add on file write
  server/src/main/java/org/elasticsearch/common/io/DiskIoBufferPool.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/ReleasableLock.java
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogConfig.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogWriter.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogDeletionPolicyTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
Labels: :Distributed/CRUD, >non-issue, Team:Distributed, v7.10.0, v8.0.0

#63212 [DOCS] Add find file structure API to HLRC docs
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :ml, >docs, Team:Docs, v8.0.0

#63255 Prepare Snapshot Shard State Update Logic For Clone Logic (#62617)
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/snapshots/UpdateIndexShardSnapshotStatusResponse.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#63258 [7.x] [DOCS] Clarify `allow_no_indices` def (#63209)
  docs/reference/rest-api/common-parms.asciidoc
Labels: backport

#63259 [7.9] [DOCS] Clarify `allow_no_indices` def (#63209)
  docs/reference/rest-api/common-parms.asciidoc
Labels: backport

#62903 Make sure that IdFieldType#isAggregatable is accurate.
  server/src/test/java/org/elasticsearch/index/mapper/IdFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IdFieldTypeTests.java
Labels: :Search/Mapping, >bug, Team:Search, v7.10.0, v8.0.0

#63272 Scripting: enable regular expressions by default (#63029)
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/InjectConstantAnnotation.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/InjectConstantAnnotationParser.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/WhitelistAnnotationParser.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Compiler.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/CompilerSettings.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/DefBootstrap.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/LambdaBootstrap.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/MethodWriter.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessPlugin.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessScriptEngine.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/WriterConstants.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/api/Augmentation.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/api/LimitedCharSequence.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/BinaryMathNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupUtility.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultSemanticAnalysisPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultUserTreeToIRTreePhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/ScriptScope.java
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/spi/java.util.regex.txt
  modules/lang-painless/src/test/java/org/elasticsearch/painless/DefBootstrapTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FeatureTestAugmentationObject.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FeatureTestObject.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FeatureTestObject2.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/InjectionTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/RegexLimitTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/WhenThingsGoWrongTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/api/LimitedCharSequenceTests.java
  modules/lang-painless/src/test/resources/org/elasticsearch/painless/spi/org.elasticsearch.painless.test
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/40_disabled.yml
  server/src/main/java/org/elasticsearch/script/ScriptContextInfo.java
Labels: :Core/Infra/Scripting, Team:Core/Infra, backport, v7.10.0

#63261 [7.x][DOCS] Add find file structure API to HLRC docs (#63212)
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: backport

#63264 [7.9][DOCS] Add find file structure API to HLRC docs (#63212)
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: backport

#63244 Remove case_sensitive request option (#63218)
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlSearchRequest.java
  docs/reference/eql/eql.asciidoc
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/BaseEqlSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlExtraSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlSpec.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlSpecLoader.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_unsupported.toml
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlExtraIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlSpecIT.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/EqlFunctionRegistry.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/Between.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/EndsWith.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/IndexOf.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/StartsWith.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/StringContains.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/planner/QueryTranslator.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/EqlConfiguration.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/EqlTestUtils.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlRequestParserTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/BetweenFunctionPipeTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/EndsWithFunctionProcessorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/IndexOfFunctionProcessorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/StartsWithFunctionProcessorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/EqlFoldSpec.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/EqlFoldSpecLoader.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/OptimizerTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/TomlFoldTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderFailTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderOkTests.java
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
  x-pack/plugin/eql/src/test/resources/test_folding.toml
  x-pack/plugin/eql/src/test/resources/test_string_functions.toml
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/function/FunctionRegistry.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/regex/Like.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/planner/ExpressionTranslators.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/querydsl/query/TermQuery.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/querydsl/query/WildcardQuery.java
Labels: :Query Languages/EQL, >enhancement, Team:QL, backport, v7.10.0, v8.0.0

#63270 [DOCS] Make EQL case-sensitive by default
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/functions.asciidoc
  docs/reference/eql/syntax.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, v7.10.0, v8.0.0

#62218 [DOCS] Document static/dynamic watcher settings
  docs/reference/settings/notification-settings.asciidoc
  docs/reference/settings/ssl-settings.asciidoc
Labels: :Core/Features/Watcher, >docs, Team:Core/Features, Team:Docs, v7.10.0, v7.9.3, v8.0.0

#63206 [DOCS] Add experimental tag to rollup APIs
  docs/java-rest/high-level/rollup/delete_job.asciidoc
  docs/java-rest/high-level/rollup/get_job.asciidoc
  docs/java-rest/high-level/rollup/get_rollup_caps.asciidoc
  docs/java-rest/high-level/rollup/get_rollup_index_caps.asciidoc
  docs/java-rest/high-level/rollup/put_job.asciidoc
  docs/java-rest/high-level/rollup/search.asciidoc
  docs/java-rest/high-level/rollup/start_job.asciidoc
  docs/java-rest/high-level/rollup/stop_job.asciidoc
Labels: :Analytics/Rollup, >docs, Team:Analytics, Team:Docs, v6.8.13, v7.10.0, v7.9.3, v8.0.0

#63280 [7.x] [DOCS] Make EQL case-sensitive by default (#63270)
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/functions.asciidoc
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.10.0

#63282 [7.x] [DOCS] Document static/dynamic watcher settings (#62218)
  docs/reference/settings/notification-settings.asciidoc
  docs/reference/settings/ssl-settings.asciidoc
Labels: backport, v7.10.0

#63276 EQL: Remove wildcard functionality from :
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries.toml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/OptimizerTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryTranslationTests.java
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
Labels: :Query Languages/EQL, >bug, Team:QL, v7.10.0, v8.0.0

#63275 EQL: Remove match functions
  x-pack/plugin/eql/qa/common/src/main/resources/additional_test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_unsupported.toml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/EqlFunctionRegistry.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderFailTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryTranslationTests.java
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
  x-pack/plugin/eql/src/test/resources/queries-unsupported.eql
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
  x-pack/plugin/eql/src/test/resources/test_string_functions.toml
  x-pack/plugin/eql/src/test/resources/test_unsupported.toml
Labels: :Query Languages/EQL, >bug, Team:QL, v7.10.0, v8.0.0

#63283 [7.9] [DOCS] Document static/dynamic watcher settings (#62218)
  docs/reference/settings/notification-settings.asciidoc
  docs/reference/settings/ssl-settings.asciidoc
Labels: backport, v7.9.3

#63063 [ML] Auditor ensures template is installed before writes
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/common/notifications/AbstractAuditor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAlias.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/common/notifications/AbstractAuditorTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AnnotationIndexIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/ChunkedTrainedModelPersisterIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/DataFrameAnalyticsConfigProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/EstablishedMemUsageIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobStorageDeletionTaskIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlIndexTemplateRegistry.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/notifications/AnomalyDetectionAuditor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/notifications/DataFrameAnalyticsAuditor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/notifications/InferenceAuditor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportForecastJobActionRequestTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsStatsActionTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/notifications/TransformAuditor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/checkpoint/DefaultCheckpointProviderTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/notifications/MockTransformAuditor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerStateTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformTaskTests.java
Labels: :ml

#63221 API Key id part of transport request body
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/CreateApiKeyRequest.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/CreateApiKeyRequestTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
Labels: :Security/Audit, >non-issue, Team:Security, v7.10.0, v8.0.0

#63260 Implement Shard Snapshot Clone Logic (#62771)
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CloneSnapshotIT.java
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshot.java
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshots.java
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/SnapshotFiles.java
  server/src/main/java/org/elasticsearch/repositories/FilterRepository.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryShardId.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/RestoreOnlyRepository.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#63288 Switch bundled jdk back to Oracle JDK
  buildSrc/version.properties
Labels: :Core/Infra/Packaging, >upgrade, Team:Core/Infra, v7.10.0, v7.9.3, v8.0.0

#63266 Refactor SnapshotsInProgress State Transitions (#60517)
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterStateDiffIT.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDeleteIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsInProgressSerializationTests.java
  x-pack/plugin/data-streams/src/test/java/org/elasticsearch/xpack/datastreams/action/DeleteDataStreamTransportActionTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionTaskTests.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#63265 Transfer network bytes to smaller buffer
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/NettyByteBufSizer.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
Labels: :Distributed/Network, >non-issue, Team:Distributed, backport, v7.9.3

#63290 Switch bundled jdk back to Oracle JDK (#63288)
  buildSrc/src/main/java/org/elasticsearch/gradle/info/BuildParams.java
  buildSrc/src/main/java/org/elasticsearch/gradle/info/GlobalBuildInfoPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/DistroTestPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/version.properties
  distribution/src/bin/elasticsearch-env
  gradle/runtime-jdk-provision.gradle
  qa/os/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Distribution.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Platforms.java
Labels: :Core/Infra/Packaging, Team:Core/Infra, backport

#63293 Disable BwC Tests to Merge #63291
  build.gradle
Labels: :Distributed/Snapshot/Restore, >test-mute, Team:Distributed

#63291 Clone Snapshot API (#61839)
  docs/reference/snapshot-restore/apis/clone-snapshot-api.asciidoc
  docs/reference/snapshot-restore/index.asciidoc
  docs/reference/snapshot-restore/take-snapshot.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CloneSnapshotIT.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/clone/CloneSnapshotAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/clone/CloneSnapshotRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/clone/CloneSnapshotRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/clone/TransportCloneSnapshotAction.java
  server/src/main/java/org/elasticsearch/client/ClusterAdminClient.java
  server/src/main/java/org/elasticsearch/client/support/AbstractClient.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestCloneSnapshotAction.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/snapshots/UpdateIndexShardSnapshotStatusRequest.java
  server/src/main/java/org/elasticsearch/snapshots/package-info.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/snapshots/mockstore/MockRepository.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#63294 Reenable BwC Tests after Merging #63291
  build.gradle
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v8.0.0

#63225 Retry CCR shard follow task when no seed node left
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/transport/NoSeedNodeLeftException.java
  server/src/main/java/org/elasticsearch/transport/SniffConnectionStrategy.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterServiceTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTaskRandomTests.java
Labels: :Distributed/CCR, >bug, Team:Distributed, v6.8.13, v7.10.0, v7.9.3, v8.0.0

#62287 Add example settings to sample security realm
  x-pack/qa/security-example-spi-extension/build.gradle
  x-pack/qa/security-example-spi-extension/src/javaRestTest/java/org/elasticsearch/example/realm/CustomRealmIT.java
  x-pack/qa/security-example-spi-extension/src/javaRestTest/java/org/elasticsearch/example/realm/CustomRoleMappingRealmIT.java
  x-pack/qa/security-example-spi-extension/src/javaRestTest/java/org/elasticsearch/example/role/CustomRolesProviderIT.java
  x-pack/qa/security-example-spi-extension/src/main/java/org/elasticsearch/example/SpiExtensionPlugin.java
  x-pack/qa/security-example-spi-extension/src/main/java/org/elasticsearch/example/realm/CustomRealm.java
  x-pack/qa/security-example-spi-extension/src/test/java/org/elasticsearch/example/realm/CustomRealmTests.java
Labels: :Security/Authentication, >enhancement, Team:Security, v7.10.0, v8.0.0

#63297 Improve Snapshot Abort Efficiency (#62173)
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport
