Repository elastic/elasticsearch, pull requests merged in 2020-05, with the labels that each got.

#55899 Prevent stack overflow for numerous grok patterns.
  libs/grok/src/main/java/org/elasticsearch/grok/Grok.java
Labels: :Core/Features/Ingest, >bug, Team:Core/Features, v7.7.1, v7.8.0, v8.0.0

#56055 SQL: SubSelect unresolved bugfix (#55956)
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/SqlSpecTestCase.java
  x-pack/plugin/sql/qa/src/main/resources/subselect.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Analyzer.java
Labels: :Query Languages/SQL, >bug, Team:QL, backport

#56056 SQL: SubSelect unresolved bugfix (#55956)
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/SqlSpecTestCase.java
  x-pack/plugin/sql/qa/src/main/resources/subselect.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Analyzer.java
Labels: :Query Languages/SQL, >bug, Team:QL, backport

#56057 SQL: SubSelect unresolved bugfix (#55956)
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/SqlSpecTestCase.java
  x-pack/plugin/sql/qa/src/main/resources/subselect.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Analyzer.java
Labels: :Query Languages/SQL, >bug, Team:QL, backport

#56061 Make xpack.monitoring.enabled setting a no-op (#55617)
  docs/reference/migration/migrate_7_0/settings.asciidoc
  docs/reference/monitoring/collecting-monitoring-data.asciidoc
  docs/reference/monitoring/esms.asciidoc
  docs/reference/settings/monitoring-settings.asciidoc
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrSingleNodeTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/monitoring/MonitoringFeatureSetUsage.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicensesManagerServiceTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/AbstractEqlIntegTestCase.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleInitialisationTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleInitialisationTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlSingleNodeTestCase.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/AnnotationIndexIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/support/BaseMlIntegTestCase.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/Monitoring.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringFeatureSet.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringFeatureSetTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringPluginClientTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecuritySettingsSource.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/action/AbstractSqlIntegTestCase.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/AbstractWatcherIntegrationTestCase.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/integration/RejectedExecutionTests.java
Labels: >deprecation, backport

#55588 Ensure auto close of HTMLStripCharFilter in HtmlStripProcessor
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/HtmlStripProcessor.java
Labels: :Core/Features/Ingest

#56074 [7.x] Ensure auto close of HTMLStripCharFilter in HtmlStripProcessor
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/HtmlStripProcessor.java
Labels: :Core/Features/Ingest, Team:Core/Features, backport, v7.8.0

#56073 Retry follow task when remote connection queue full
  server/src/main/java/org/elasticsearch/transport/RemoteClusterConnection.java
  test/framework/src/main/java/org/elasticsearch/test/InternalSettingsPlugin.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CcrRetentionLeaseIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/RestartIndexFollowingIT.java
Labels: backport

#56087 Disable BwC Tests for #56083
  build.gradle
Labels: :Distributed/Snapshot/Restore, >test-mute, Team:Distributed

#56083 Allow Deleting Multiple Snapshots at Once (#55474)
  client/rest-high-level/src/main/java/org/elasticsearch/client/SnapshotRequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/SnapshotRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SnapshotClientDocumentationIT.java
  docs/reference/snapshot-restore/take-snapshot.asciidoc
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/delete/DeleteSnapshotRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/delete/DeleteSnapshotRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/delete/TransportDeleteSnapshotAction.java
  server/src/main/java/org/elasticsearch/client/ClusterAdminClient.java
  server/src/main/java/org/elasticsearch/client/Requests.java
  server/src/main/java/org/elasticsearch/client/support/AbstractClient.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotDeletionsInProgress.java
  server/src/main/java/org/elasticsearch/repositories/FilterRepository.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/package-info.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestDeleteSnapshotAction.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/snapshots/package-info.java
  server/src/test/java/org/elasticsearch/cluster/serialization/ClusterSerializationTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoryDataTests.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryTests.java
  server/src/test/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  test/framework/src/main/java/org/elasticsearch/index/shard/RestoreOnlyRepository.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CleanupSnapshotStepTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionTask.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionTaskTests.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#56085 [TEST] Allow more warnings about multiple template matches
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.create/20_mix_typeless_typeful.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/110_geo_shape.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/40_ml_datafeed_crud.yml
Labels: :Analytics/Geo, :ml, >test, Team:Analytics, v7.8.0

#56088 Reenable BwC Tests after #56083
  build.gradle
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v8.0.0

#56091 Add Functionality to Consistently Read RepositoryData For CS Updates (#55773)
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/delete/TransportDeleteSnapshotAction.java
  server/src/main/java/org/elasticsearch/repositories/FilterRepository.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/RestoreOnlyRepository.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#55432 Completed TODO task of adding preserve_original setting in ngram toke…
  docs/reference/analysis/tokenfilters/ngram-tokenfilter.asciidoc
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/NGramTokenFilterFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/NGramTokenFilterFactoryTests.java
Labels: :Search/Analysis

#56081 Remove Dead Code in SLM Delete Handling
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/history/SnapshotHistoryItem.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionTask.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionTaskTests.java
Labels: :Core/Features/ILM+SLM, >non-issue, Team:Core/Features, v7.8.0, v8.0.0

#56093 Use snapshot's latest result time rather than snapshot's creation time when creating an annotation
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/process/autodetect/state/ModelSnapshot.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessorTests.java
Labels: :ml, >non-issue, v7.8.0, v8.0.0

#56098 Remove Dead Code in SLM Delete Handling (#56081)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/history/SnapshotHistoryItem.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionTask.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionTaskTests.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, backport

#56100 Analysis enhancement - add preserve_original setting in ngram-token-filter
  docs/reference/analysis/tokenfilters/ngram-tokenfilter.asciidoc
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/NGramTokenFilterFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/NGramTokenFilterFactoryTests.java
Labels: :Search/Analysis, Team:Search, backport

#56103 [7.x] Use snapshot's latest result time rather than snapshot's creation time when creating an annotation (#56093)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/process/autodetect/state/ModelSnapshot.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessorTests.java
Labels: :ml, >non-issue, backport

#56089 Cleanup Dead Code in o.e.cluster.node
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNode.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodeRole.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
Labels: :Distributed/Cluster Coordination, >non-issue, Team:Distributed, v8.0.0

#55721 EQL: reject queries that use a nested field or a sub-field of a nested field
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/AnalysisUtils.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/querydsl/container/QueryContainer.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/resources/mapping-nested.json
Labels: :Query Languages/EQL, >bug

#56101 [ML] Improve cleanup for DF Analytics HLRC tests
  client/rest-high-level/src/test/java/org/elasticsearch/client/MlTestStateCleaner.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/integration/MlRestTestStateCleaner.java
Labels: :ml, >test, v7.7.0, v7.8.0, v8.0.0

#56108 EQL: reject queries that use a nested field or a sub-field of a nested field
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/AnalysisUtils.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/querydsl/container/QueryContainer.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/resources/mapping-nested.json
Labels: :Query Languages/EQL, >bug, Team:QL, backport

#56009 Allow Bulk Snapshot Deletes to Abort
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
Labels: :Distributed/Snapshot/Restore, >enhancement, v7.8.0, v8.0.0

#56110 [7.7][ML] Improve cleanup for DF Analytics HLRC tests (#56101)
  client/rest-high-level/src/test/java/org/elasticsearch/client/MlTestStateCleaner.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/integration/MlRestTestStateCleaner.java
Labels: :ml, >test, backport

#56032 Enable can match for search with reader contexts
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/internal/LegacyReaderContext.java
  server/src/main/java/org/elasticsearch/search/internal/ReaderContext.java
  server/src/test/java/org/elasticsearch/search/searchafter/SearchWithReaderContextIT.java
Labels: :Search/Search, >feature, Team:Search

#56109 [7.x][ML] Improve cleanup for DF Analytics HLRC tests (#56101)
  client/rest-high-level/src/test/java/org/elasticsearch/client/MlTestStateCleaner.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/integration/MlRestTestStateCleaner.java
Labels: :ml, >test, backport

#56094 Stop Redundantly Serializing ShardId in BulkShardResponse
  server/src/main/java/org/elasticsearch/action/DocWriteResponse.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkItemResponse.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkShardResponse.java
  server/src/main/java/org/elasticsearch/action/delete/DeleteResponse.java
  server/src/main/java/org/elasticsearch/action/index/IndexResponse.java
  server/src/main/java/org/elasticsearch/action/update/UpdateResponse.java
Labels: :Distributed/CRUD, >non-issue, Team:Distributed, backport pending, v7.8.0, v8.0.0

#56053 [DOCS] Reformat `porter_stem` token filter
  docs/reference/analysis/tokenfilters/porterstem-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, Team:Docs, Team:Search, v7.6.3, v7.7.1, v7.8.0, v8.0.0

#56111 Allow Bulk Snapshot Deletes to Abort (#56009)
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#55827 [DOCS] Synchs and links hyperparameter descriptions
  docs/reference/ml/df-analytics/apis/get-dfanalytics-stats.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, v7.7.1, v7.8.0, v8.0.0

#56114 [7.x] [DOCS] Reformat `porter_stem` token filter (#56053)
  docs/reference/analysis/tokenfilters/porterstem-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, Team:Docs, Team:Search, backport, v7.8.0

#56119 [7.7] [DOCS] Reformat `porter_stem` token filter (#56053)
  docs/reference/analysis/tokenfilters/porterstem-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, Team:Docs, Team:Search, backport, v7.7.1

#56120 [7.6] [DOCS] Reformat `porter_stem` token filter (#56053)
  docs/reference/analysis/tokenfilters/porterstem-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, Team:Docs, Team:Search, backport, v7.6.3

#55858 Add auto create action
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIndicesThatCannotBeCreatedTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTookTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilege.java
  x-pack/plugin/ml/qa/ml-with-security/roles.yml
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/WriteActionsTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/security/authz/15_auto_create.yml
Labels: :Core/Features/Indices APIs, >non-issue, v7.8.0, v8.0.0

#55182 EQL: Add match function implementation
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_supported.toml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/EqlFunctionRegistry.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/Match.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderFailTests.java
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
Labels: :Query Languages/EQL, >feature

#55757 For constant_keyword, make sure exists query handles missing values.
  docs/reference/mapping/types/constant-keyword.asciidoc
  server/src/main/java/org/elasticsearch/index/mapper/ConstantFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/IndexFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/test/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldTypeTests.java
Labels: :Search/Search, >bug, v7.7.1, v7.8.0, v8.0.0

#56020 [ML] reduce InferenceProcessor.Factory log spam by not parsing pipelines
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsStatsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorFactoryTests.java
Labels: :ml, >bug, v7.7.1, v7.8.0, v8.0.0

#56080 Fix potential NPEin Netty4Transport.stopInternal
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
Labels: :Distributed/Network, >non-issue, Team:Distributed, v7.8.0, v8.0.0

#56122 Add auto create action
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIndicesThatCannotBeCreatedTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTookTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilege.java
  x-pack/plugin/ml/qa/ml-with-security/roles.yml
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/WriteActionsTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/security/authz/15_auto_create.yml
Labels: :Core/Features/Indices APIs, Team:Core/Features, backport, v7.8.0

#56126 [7.x] [ML] reduce InferenceProcessor.Factory log spam by not parsing pipelines (#56020)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsStatsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorFactoryTests.java
Labels: :ml, backport

#56131 [7.x][DOCS] Synchs and links hyperparameter descriptions
  docs/reference/ml/df-analytics/apis/get-dfanalytics-stats.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: backport

#56129 Fix potential NPEin Netty4Transport.stopInternal (#56080)
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
Labels: :Distributed/Network, Team:Distributed, backport

#56123 Remove Index Templates V2 feature flag
  build.gradle
  docs/build.gradle
  server/build.gradle
  server/src/main/java/org/elasticsearch/action/ActionModule.java
Labels: :Core/Features/Indices APIs, >non-issue, Team:Core/Features, v7.8.0, v8.0.0

#56066 Simplify signature of FieldMapper#parseCreateField.
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeatureFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeatureMetaFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeaturesFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/TokenCountFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/MetaJoinFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentIdFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/mapper/ICUCollationKeywordFieldMapper.java
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  plugins/mapper-murmur3/src/main/java/org/elasticsearch/index/mapper/murmur3/Murmur3FieldMapper.java
  plugins/mapper-size/src/main/java/org/elasticsearch/index/mapper/size/SizeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractShapeGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldNamesFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IdFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoredFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IndexFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NestedPathFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ParseContext.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RoutingFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SeqNoFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/VersionFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ExternalMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/ExternalMetadataMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FakeStringFieldMapper.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MockFieldMapper.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlatObjectFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.8.0, v8.0.0

#56137 [7.7][DOCS] Synchs and links hyperparameter descriptions
  docs/reference/ml/df-analytics/apis/get-dfanalytics-stats.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: backport

#56135 [ML] Fix race condition updating reindexing progress
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
Labels: :ml, >non-issue, v7.8.0, v8.0.0

#56015 SQL: Add BigDecimal support to JDBC
  x-pack/plugin/sql/jdbc/src/main/java/org/elasticsearch/xpack/sql/jdbc/JdbcPreparedStatement.java
  x-pack/plugin/sql/jdbc/src/main/java/org/elasticsearch/xpack/sql/jdbc/JdbcResultSet.java
  x-pack/plugin/sql/jdbc/src/main/java/org/elasticsearch/xpack/sql/jdbc/TypeConverter.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/PreparedStatementTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/ResultSetTestCase.java
Labels: :Query Languages/SQL, >enhancement, Team:QL, v7.8.0, v8.0.0

#56034 Move includeDataStream flag from IndicesOptions to IndexNameExpressionResolver.Context
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/MultiSearchTemplateRequest.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexValidator.java
  server/src/main/java/org/elasticsearch/action/admin/indices/refresh/RefreshRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/refresh/TransportRefreshAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/RolloverRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/stats/TransportIndicesStatsAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequest.java
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportBroadcastReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/single/instance/TransportInstanceSingleOperationAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/action/search/MultiSearchRequestTests.java
  server/src/test/java/org/elasticsearch/action/support/IndicesOptionsTests.java
  server/src/test/java/org/elasticsearch/aliases/IndexAliasesIT.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesOptionsIntegrationIT.java
  test/framework/src/main/java/org/elasticsearch/test/TestCluster.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/common/validation/SourceDestValidator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/GenerateSnapshotNameStep.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedNodeSelectorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
Labels: :Core/Features/Data streams, >non-issue, Team:Core/Features, v7.8.0, v8.0.0

#55094 SQL: introduce a query builder for the Rest tests
  x-pack/plugin/sql/qa/multi-node/src/test/java/org/elasticsearch/xpack/sql/qa/multi_node/RestSqlMultinodeIT.java
  x-pack/plugin/sql/qa/security/src/test/java/org/elasticsearch/xpack/sql/qa/security/RestSqlSecurityIT.java
  x-pack/plugin/sql/qa/security/src/test/java/org/elasticsearch/xpack/sql/qa/security/UserFunctionIT.java
  x-pack/plugin/sql/qa/single-node/src/test/java/org/elasticsearch/xpack/sql/qa/single_node/RestSqlIT.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/CustomDateFormatTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/FieldExtractorTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/SqlProtocolTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/BaseRestSqlTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/RestSqlTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/RestSqlUsageTestCase.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/AbstractSqlQueryRequest.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/SqlClearCursorRequest.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/SqlQueryRequest.java
  x-pack/plugin/sql/sql-action/src/test/java/org/elasticsearch/xpack/sql/action/SqlQueryRequestTests.java
  x-pack/plugin/sql/sql-client/src/test/java/org/elasticsearch/xpack/sql/client/HttpClientRequestTests.java
  x-pack/plugin/sql/sql-proto/src/main/java/org/elasticsearch/xpack/sql/proto/Protocol.java
  x-pack/plugin/sql/sql-proto/src/main/java/org/elasticsearch/xpack/sql/proto/SqlQueryRequest.java
  x-pack/plugin/sql/sql-proto/src/main/java/org/elasticsearch/xpack/sql/proto/SqlQueryResponse.java
Labels: :Query Languages/SQL, >test, Team:QL, v7.8.0, v8.0.0

#56141 [7.x] Remove Index Templates V2 feature flag (#56123)
  build.gradle
  docs/build.gradle
  server/build.gradle
  server/src/main/java/org/elasticsearch/action/ActionModule.java
Labels: :Core/Features/Indices APIs, Team:Core/Features, backport, v7.8.0

#56142 [7.x] Delay warning about missing x-pack
  docs/reference/settings/monitoring-settings.asciidoc
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporters.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporter.java
Labels: :Core/Features/Watcher, >enhancement, Team:Core/Features, backport, v7.8.0

#55623 Let realms gracefully terminate the authN chain
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealmTests.java
Labels: :Security/Authentication, >enhancement, v7.8.0, v8.0.0

#55887 [DOCS] Add collapsible sections to search API response
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, v7.6.3, v7.7.1, v7.8.0, v8.0.0

#56151 Move includeDataStream flag from IndicesOptions to IndexNameExpressionResolver.Context
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/MultiSearchTemplateRequest.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexValidator.java
  server/src/main/java/org/elasticsearch/action/admin/indices/refresh/RefreshRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/refresh/TransportRefreshAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/RolloverRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/stats/TransportIndicesStatsAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequest.java
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportBroadcastReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/single/instance/TransportInstanceSingleOperationAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/action/search/MultiSearchRequestTests.java
  server/src/test/java/org/elasticsearch/action/support/IndicesOptionsTests.java
  server/src/test/java/org/elasticsearch/aliases/IndexAliasesIT.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesOptionsIntegrationIT.java
  test/framework/src/main/java/org/elasticsearch/test/TestCluster.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/common/validation/SourceDestValidator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/GenerateSnapshotNameStep.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedNodeSelectorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
Labels: :Core/Features/Data streams, Team:Core/Features, backport, v7.8.0

#56133 Auto create action followup, adjust bwc check when auto creating indices
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
Labels: :Core/Features/Indices APIs, >non-issue, Team:Core/Features, v8.0.0

#56139 Validate non-negative priorities for V2 index templates
  docs/reference/indices/index-templates.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateV2Action.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexTemplateV2.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestTemplatesAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateV2RequestTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
Labels: :Core/Features/Indices APIs, Team:Core/Features, v7.8.0, v8.0.0

#55416 Deprecated xpack "enable" settings should be no-ops
  docs/reference/migration/migrate_8_0/settings.asciidoc
  docs/reference/modules/node.asciidoc
  docs/reference/settings/sql-settings.asciidoc
  docs/reference/settings/transform-settings.asciidoc
  docs/reference/transform/setup.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/EnrichFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/flattened/FlattenedFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/logstash/LogstashFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/RollupFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SLMFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/sql/SqlFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/TransformFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/vectors/VectorsFeatureSetUsage.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/flattened/FlattenedFeatureSetUsageTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/TransformFeatureSetUsageTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/vectors/VectorsFeatureSetUsageTests.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichInfoTransportAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichUsageTransportAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichDisabledIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollectorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/AbstractEqlIntegTestCase.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycle.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SLMInfoTransportAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SLMUsageTransportAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleInitialisationTests.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/LogstashInfoTransportAction.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/LogstashUsageTransportAction.java
  x-pack/plugin/logstash/src/test/java/org/elasticsearch/xpack/logstash/LogstashInfoTransportActionTests.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/FlattenedMapperPlugin.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/Monitoring.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollector.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/Rollup.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupInfoTransportAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupUsageTransportAction.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupInfoTransportActionTests.java
  x-pack/plugin/sql/qa/no-sql/build.gradle
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/JdbcNoSqlTestCase.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/SqlInfoTransportAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/SqlUsageTransportAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/SqlPlugin.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/SqlInfoTransportActionTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/action/SqlDisabledIT.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plugin/SqlPluginTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/TransformInfoTransportAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/TransformUsageTransportAction.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/TransformInfoTransportActionTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/TransformTests.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/Vectors.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/VectorsInfoTransportAction.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/VectorsUsageTransportAction.java
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/VectorsInfoTransportActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/AbstractWatcherIntegrationTestCase.java
Labels: :Core/Infra/Plugins, >deprecation, v7.8.0, v8.0.0

#56159 [7.x] [DOCS] Add collapsible sections to search API response (#55887)
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.8.0

#56160 [7.7] [DOCS] Add collapsible sections to search API response (#55887)
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.7.1

#56161 [7.6] [DOCS] Add collapsible sections to search API response (#55887)
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.6.3

#56047 Remove PainlessCast from AExpression as mutable state
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/AExpression.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EAssignment.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EBinary.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EBool.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EBrace.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ECall.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ECallLocal.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EComp.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EConditional.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EDot.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EElvis.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EExplicit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EInstanceof.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EListInit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EMapInit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewArray.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewObj.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EUnary.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SDeclaration.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SDo.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SEach.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SExpression.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SFor.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SIf.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SIfElse.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SReturn.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SThrow.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SWhile.java
Labels: :Core/Infra/Scripting, >refactoring, Team:Core/Infra, v8.0.0

#56163 [7.x] Validate non-negative priorities for V2 index templates (#56139)
  docs/reference/indices/index-templates.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateV2Action.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexTemplateV2.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestTemplatesAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateV2RequestTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
Labels: :Core/Features/Indices APIs, Team:Core/Features, backport, v7.8.0

#56152 Add dummy file for new client example snippets location
  server/src/internalClusterTest/java/org/elasticsearch/client/documentation/placeholder.txt
Labels: :Core/Infra/Build, >non-issue, Team:Core/Infra, v7.7.1, v7.8.0

#56150 Ignore any other warnings when detecting Java version
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
Labels: :Core/Infra/Build, Team:Core/Infra, v6.8.10

#56072 Avoid copying file chunks in peer covery
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoverySourceService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RemoteRecoveryTargetHandler.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/indices/recovery/PeerRecoverySourceServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
Labels: :Distributed/Recovery, >enhancement, Team:Distributed, v7.8.0, v8.0.0

#55906 Add docs code example of include_aliases for snapshot restore
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
Labels: :Distributed/Snapshot/Restore, >docs, Team:Distributed, Team:Docs

#56172 Avoid copying file chunks in peer covery (#56072)
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoverySourceService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RemoteRecoveryTargetHandler.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/indices/recovery/PeerRecoverySourceServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
Labels: backport

#56105 [DOCS] Simplifies footnote text in DFA APIs
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
Labels: :ml, >docs, Team:Docs, v7.7.1, v7.8.0, v8.0.0

#56153 BACKPORT Let realms gracefully terminate the authN chain (#55623)
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealmTests.java
Labels: backport, v7.8.0

#56115 SQL: Fix issue with date range queries and timezone
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ExpressionBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ParserParams.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/Range.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/BinaryComparison.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/Equals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/GreaterThan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/GreaterThanOrEqual.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/LessThan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/LessThanOrEqual.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/NotEquals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/NullEquals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRules.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/planner/ExpressionTranslators.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/querydsl/query/RangeQuery.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/TestUtils.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/BinaryComparisonProcessorTests.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRulesTests.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/AstBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/CommandBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/ExpressionBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/LogicalPlanBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlParser.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/SqlSession.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/CaseTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/IifTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysColumnsTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTablesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/querydsl/container/QueryContainerTests.java
Labels: :Query Languages/SQL, >bug, Team:QL, v7.7.1, v7.8.0, v8.0.0

#56146 [7.x][ML] Fix race condition updating reindexing progress (#56135)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
Labels: :ml, >non-issue, backport

#56162 Remove IndicesOptions#includeDataStreams
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
Labels: :Core/Features/Data streams, >non-issue, Team:Core/Features, v8.0.0

#55712 Docs fix node_id spec for secure settings reload API
  docs/reference/cluster/nodes-reload-secure-settings.asciidoc
Labels: >docs, Team:Docs, v6.8.10, v7.7.1, v7.8.0, v8.0.0

#56107 [ML] Adjust DF Analytics process phases
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetection.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/data_frame_analytics_cat_apis.yml
Labels: :ml, >non-issue, v7.8.0, v8.0.0

#56112 Add Minio tests for searchable snapshots
  test/fixtures/minio-fixture/docker-compose.yml
  x-pack/plugin/searchable-snapshots/qa/minio/build.gradle
  x-pack/plugin/searchable-snapshots/qa/minio/src/test/java/org/elasticsearch/xpack/searchablesnapshots/minio/MinioSearchableSnapshotsIT.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.8.0, v8.0.0

#56174 SQL: Fix issue with date range queries and timezone (#56115)
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ExpressionBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ParserParams.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/Range.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/BinaryComparison.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/Equals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/GreaterThan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/GreaterThanOrEqual.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/LessThan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/LessThanOrEqual.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/NotEquals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/NullEquals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRules.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/planner/ExpressionTranslators.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/querydsl/query/RangeQuery.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/TestUtils.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/BinaryComparisonProcessorTests.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRulesTests.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/AstBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/CommandBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/ExpressionBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/LogicalPlanBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlParser.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/SqlSession.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/CaseTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/IifTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysColumnsTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTablesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/querydsl/container/QueryContainerTests.java
Labels: :Query Languages/SQL, >bug, Team:QL, backport

#56176 SQL: Fix issue with date range queries and timezone (#56115)
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ExpressionBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ParserParams.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/Range.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/BinaryComparison.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/Equals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/GreaterThan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/GreaterThanOrEqual.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/LessThan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/LessThanOrEqual.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/NotEquals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/NullEquals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRules.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/planner/ExpressionTranslators.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/querydsl/query/RangeQuery.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/TestUtils.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/BinaryComparisonProcessorTests.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRulesTests.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/AstBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/CommandBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/ExpressionBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/LogicalPlanBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlParser.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/session/SqlSession.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/CaseTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/IifTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysColumnsTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTablesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/querydsl/container/QueryContainerTests.java
Labels: :Query Languages/SQL, >bug, Team:QL, backport

#55793 Use workers to warm cache parts
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/SearchableSnapshotDirectory.java
Labels: :Distributed/Snapshot/Restore, >enhancement, Team:Distributed, v7.8.0, v8.0.0

#56158 SQL: Fix DATETIME_PARSE behaviour regarding timezones
  docs/reference/sql/endpoints/jdbc.asciidoc
  docs/reference/sql/endpoints/rest.asciidoc
  docs/reference/sql/functions/date-time.asciidoc
  x-pack/plugin/sql/qa/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeParse.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeParsePipe.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeParseProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/whitelist/InternalSqlScriptUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/util/DateUtils.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeParsePipeTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeParseProcessorTests.java
Labels: :Query Languages/SQL, >bug, Team:QL, v7.8.0, v8.0.0

#56007 [Transform] add throttling
  client/rest-high-level/src/main/java/org/elasticsearch/client/transform/transforms/SettingsConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/transform/transforms/TransformConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/transform/transforms/TransformConfigUpdate.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/transform/transforms/pivot/PivotConfig.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/TransformDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/transform/transforms/SettingsConfigTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/transform/transforms/TransformConfigTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/transform/transforms/TransformConfigUpdateTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/transform/transforms/hlrc/SettingsConfigTests.java
  docs/java-rest/high-level/transform/put_transform.asciidoc
  docs/reference/transform/apis/get-transform.asciidoc
  docs/reference/transform/apis/update-transform.asciidoc
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/AbstractObjectParser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/TransformField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/UpdateTransformAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/compat/UpdateTransformActionDeprecated.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/compat/UpdateTransformActionPre78.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/SettingsConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfigUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/pivot/PivotConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/AbstractSerializingTransformTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/AbstractWireSerializingTransformTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/PreviewTransformActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/UpdateTransformActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/UpdateTransformsActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/SettingsConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfigUpdateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/pivot/PivotConfigTests.java
  x-pack/plugin/transform/qa/multi-node-tests/src/test/java/org/elasticsearch/xpack/transform/integration/TransformIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/test/java/org/elasticsearch/xpack/transform/integration/TransformIntegTestCase.java
  x-pack/plugin/transform/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/transform/integration/TransformPivotRestIT.java
  x-pack/plugin/transform/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/transform/integration/TransformProgressIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportUpdateTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformTask.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/PivotTests.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/80_transform_jobs_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, >enhancement, v7.8.0, v8.0.0

#56118 [ML] Add loss_function to regression
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/Regression.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/RegressionTests.java
  docs/java-rest/high-level/ml/put-data-frame-analytics.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/config_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/DataFrameAnalyticsConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ExplainDataFrameAnalyticsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/90_ml_data_frame_analytics_crud.yml
Labels: :ml, >enhancement, v7.8.0, v8.0.0

#56179 Add Minio tests for searchable snapshots (#56112)
  test/fixtures/minio-fixture/docker-compose.yml
  x-pack/plugin/searchable-snapshots/qa/minio/build.gradle
  x-pack/plugin/searchable-snapshots/qa/minio/src/test/java/org/elasticsearch/xpack/searchablesnapshots/minio/MinioSearchableSnapshotsIT.java
Labels: backport, v7.8.0

#56181 Use workers to warm cache parts (#55793)
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/SearchableSnapshotDirectory.java
Labels: backport, v7.8.0

#56183 [ML] Mute data frame analytics BWC tests
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/90_ml_data_frame_analytics_crud.yml
Labels: :ml, >test-mute, v8.0.0

#56182 SQL: Fix DATETIME_PARSE behaviour regarding timezones (#56158)
  docs/reference/sql/endpoints/jdbc.asciidoc
  docs/reference/sql/endpoints/rest.asciidoc
  docs/reference/sql/functions/date-time.asciidoc
  x-pack/plugin/sql/qa/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeParse.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeParsePipe.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeParseProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/whitelist/InternalSqlScriptUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/util/DateUtils.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeParsePipeTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeParseProcessorTests.java
Labels: :Query Languages/SQL, >bug, backport

#55946 [7.x] Enable simulate API tests in 7.8
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.simulate_index_template/10_basic.yml
Labels: :Core/Features/Indices APIs, Team:Core/Features, v7.8.0

#56156 [DOCS] 6.8.9 release notes
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/6.8.asciidoc
Labels: >docs, Team:Docs, v6.8.9

#56185 disable BWC for transform throttling backport gh#56184
  build.gradle
Labels: :ml/Transform, >test-mute, v8.0.0

#56184 [7.x][Transform] add throttling (#56007)
  client/rest-high-level/src/main/java/org/elasticsearch/client/transform/transforms/SettingsConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/transform/transforms/TransformConfig.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/transform/transforms/TransformConfigUpdate.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/transform/transforms/pivot/PivotConfig.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/TransformDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/transform/transforms/SettingsConfigTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/transform/transforms/TransformConfigTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/transform/transforms/TransformConfigUpdateTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/transform/transforms/hlrc/SettingsConfigTests.java
  docs/java-rest/high-level/transform/put_transform.asciidoc
  docs/reference/transform/apis/get-transform.asciidoc
  docs/reference/transform/apis/update-transform.asciidoc
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/AbstractObjectParser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/TransformField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/UpdateTransformAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/compat/UpdateTransformActionDeprecated.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/compat/UpdateTransformActionPre78.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/SettingsConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfigUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/pivot/PivotConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/AbstractSerializingTransformTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/AbstractWireSerializingTransformTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/PreviewTransformActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/UpdateTransformActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/UpdateTransformsActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/SettingsConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfigUpdateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/pivot/PivotConfigTests.java
  x-pack/plugin/transform/qa/multi-node-tests/src/test/java/org/elasticsearch/xpack/transform/integration/TransformIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/test/java/org/elasticsearch/xpack/transform/integration/TransformIntegTestCase.java
  x-pack/plugin/transform/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/transform/integration/TransformPivotRestIT.java
  x-pack/plugin/transform/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/transform/integration/TransformProgressIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportUpdateTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformTask.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/PivotTests.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/80_transform_jobs_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, >enhancement, backport

#56157 Fix validate query listener invocation bug
  server/src/main/java/org/elasticsearch/action/admin/indices/validate/query/TransportValidateQueryAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/validate/query/TransportValidateQueryActionTests.java
Labels: :Search/Search, >bug, Team:Search, v6.8.10, v7.7.1, v7.8.0, v8.0.0

#55892 [ML] lay ground work for handling >1 result indices
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlJobIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/JobStorageDeletionTaskIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/support/BaseMlIntegTestCase.java
Labels: :ml, >refactoring, v7.8.0, v8.0.0

#56125 [ML] More advanced model snapshot retention options
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/config/JobTests.java
  docs/reference/ml/anomaly-detection/apis/get-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-ml-info.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/config_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/JobTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdateTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DeleteExpiredDataIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ModelSnapshotRetentionIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportMlInfoAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/AbstractExpiredJobDataRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemover.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/AbstractExpiredJobDataRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemoverTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/jobs_crud.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/ml_info.yml
Labels: :ml, >enhancement, v7.8.0, v8.0.0

#56187 [7.x][ML] Add loss_function to regression (#56118)
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/Regression.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/RegressionTests.java
  docs/java-rest/high-level/ml/put-data-frame-analytics.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/config_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/DataFrameAnalyticsConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ExplainDataFrameAnalyticsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/data_frame_analytics_crud.yml
Labels: :ml, >enhancement, backport

#56177 [7.x][ML] Adjust DF Analytics process phases (#56107)
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetection.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/data_frame_analytics_cat_apis.yml
Labels: :ml, >non-issue, backport

#56154 Simplify the ValuesSourceRegistry structure
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceRegistry.java
Labels: :Analytics/Aggregations, >refactoring, Team:Analytics, v7.8.0, v8.0.0

#56189 Enable bwc transform throttling
  build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/UpdateTransformAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/compat/UpdateTransformActionPre78.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfigUpdate.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportUpdateTransformAction.java
Labels: :ml/Transform, >non-issue, v8.0.0

#56044 Forbid snapshot access on applier thread
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/BaseSearchableSnapshotIndexInput.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.8.0, v8.0.0

#55952 Searchable Snapshots should respect max_restore_bytes_per_sec
  server/src/main/java/org/elasticsearch/common/blobstore/support/FilterBlobContainer.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/SearchableSnapshotDirectory.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
Labels: :Distributed/Snapshot/Restore, >enhancement, Team:Distributed

#56198 mute mixed continuous transforms upgrade test
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/80_transform_jobs_crud.yml
Labels: >test-mute, v7.8.0

#56143 [DOCS] Remove duplicate `index alias` link in glossary
  docs/reference/glossary.asciidoc
Labels: >docs, Team:Docs, v7.6.3, v7.7.1, v7.8.0

#56140 [DOCS] Correct `refresh` parm def for Get API
  docs/reference/docs/get.asciidoc
Labels: :Distributed/CRUD, >docs, Team:Distributed, Team:Docs, v7.6.3, v7.7.1, v7.8.0, v8.0.0

#56193 [ML] Adjust BWC versions and unmute tests after backport
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/90_ml_data_frame_analytics_crud.yml
Labels: :ml, >non-issue, v8.0.0

#55063 [DOCS] EQL: Remove case sensitivity from function docs
  docs/reference/eql/functions.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL

#55865 [DOCS] Relocate network settings content
  docs/reference/modules.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, v8.0.0

#56194 [7.x][ML] More advanced model snapshot retention options
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/config/JobTests.java
  docs/reference/ml/anomaly-detection/apis/get-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-ml-info.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/Job.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/config_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/JobTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/config/JobUpdateTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DeleteExpiredDataIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ModelSnapshotRetentionIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportMlInfoAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/AbstractExpiredJobDataRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemover.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/AbstractExpiredJobDataRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemoverTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/jobs_crud.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/ml_info.yml
Labels: backport, v7.8.0

#56199 Searchable Snapshots should respect max_restore_bytes_per_sec (#55952)
  server/src/main/java/org/elasticsearch/common/blobstore/support/FilterBlobContainer.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/SearchableSnapshotDirectory.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
Labels: backport, v7.8.0

#55811 [DOCS] Add collapsible sections to 8.0 breaking changes [Part 1]
  docs/reference/migration/migrate_8_0.asciidoc
  docs/reference/migration/migrate_8_0/aggregations.asciidoc
  docs/reference/migration/migrate_8_0/allocation.asciidoc
  docs/reference/migration/migrate_8_0/analysis.asciidoc
  docs/reference/migration/migrate_8_0/breaker.asciidoc
Labels: :Docs, >docs, Team:Docs, v8.0.0

#55862 [DOCS] Add collapsible sections to 8.0 breaking changes [Part 2]
  docs/reference/migration/migrate_8_0/breaker.asciidoc
  docs/reference/migration/migrate_8_0/cluster.asciidoc
  docs/reference/migration/migrate_8_0/discovery.asciidoc
  docs/reference/migration/migrate_8_0/mappings.asciidoc
Labels: :Docs, >docs, Team:Docs, v8.0.0

#56058 [DOCS] Create top-level "Search your data" page
  docs/reference/index.asciidoc
  docs/reference/modules/cross-cluster-search.asciidoc
  docs/reference/search/index.asciidoc
  docs/reference/search/run-a-search.asciidoc
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, v8.0.0

#55814 [DOCS] Relocate thread pools content
  docs/reference/modules.asciidoc
  docs/reference/modules/threadpool.asciidoc
  docs/reference/setup.asciidoc
Labels: :Core/Infra/Core, >docs, Team:Core/Infra, Team:Docs, v8.0.0

#55027 [DOCS] Add tip for upgrade assistant to upgrade docs
  docs/reference/upgrade.asciidoc
Labels: :Core/Infra/Packaging, >docs, Team:Core/Infra, Team:Docs, v7.6.3, v7.7.1, v7.8.0, v8.0.0

#56203 [7.x] [DOCS] Add tip for upgrade assistant (#55027)
  docs/reference/upgrade.asciidoc
Labels: :Core/Infra/Packaging, >docs, Team:Core/Infra, Team:Docs, backport, v7.8.0

#56204 [7.7] [DOCS] Add tip for upgrade assistant (#55027)
  docs/reference/upgrade.asciidoc
Labels: :Core/Infra/Packaging, >docs, Team:Core/Infra, Team:Docs, backport, v7.7.1

#56190 Fix typo in docs
  docs/reference/docs/index_.asciidoc
Labels: >docs, >non-issue, Team:Docs, v7.7.1, v7.8.0, v8.0.0

#55884 [DOCS] Combine search API and URI search API reference docs
  docs/reference/redirects.asciidoc
  docs/reference/search.asciidoc
  docs/reference/search/search.asciidoc
  docs/reference/search/uri-request.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, v7.6.3, v7.7.1, v7.8.0, v8.0.0

#56197 [7.x] Simplify the ValuesSourceRegistry structure (#56154)
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceRegistry.java
Labels: :Analytics/Aggregations, >refactoring, Team:Analytics, backport

#56167 Deprecated xpack "enable" settings should be no-ops (#55416)
  docs/reference/migration/migrate_7_0/settings.asciidoc
  docs/reference/modules/node.asciidoc
  docs/reference/settings/sql-settings.asciidoc
  docs/reference/settings/transform-settings.asciidoc
  docs/reference/transform/setup.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/EnrichFeatureSet.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/flattened/FlattenedFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/logstash/LogstashFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/RollupFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SLMFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/sql/SqlFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/TransformFeatureSetUsage.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/flattened/FlattenedFeatureSetUsageTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/TransformFeatureSetUsageTests.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichDisabledIT.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollectorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/AbstractEqlIntegTestCase.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycle.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SLMFeatureSet.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleInitialisationTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SLMSnapshotBlockingIntegTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleInitialisationTests.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/LogstashFeatureSet.java
  x-pack/plugin/logstash/src/test/java/org/elasticsearch/xpack/logstash/LogstashFeatureSetTests.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/FlattenedFeatureSet.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/FlattenedMapperPlugin.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/support/BaseMlIntegTestCase.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/Monitoring.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollector.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/Rollup.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupFeatureSet.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupFeatureSetTests.java
  x-pack/plugin/sql/qa/no-sql/build.gradle
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/JdbcNoSqlTestCase.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/SqlFeatureSet.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/SqlPlugin.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/SqlFeatureSetTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/action/SqlDisabledIT.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plugin/SqlPluginTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/TransformFeatureSet.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/TransformFeatureSetTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/TransformTests.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/Vectors.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/VectorsFeatureSet.java
  x-pack/plugin/vectors/src/test/java/org/elasticsearch/xpack/vectors/VectorsFeatureSetTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/AbstractWatcherIntegrationTestCase.java
Labels: :Core/Infra/Plugins, >deprecation, Team:Core/Infra, backport, v7.8.0, v8.0.0

#55966 Add geo_shape support for geotile_grid and geohash_grid
  libs/geo/src/main/java/org/elasticsearch/geometry/utils/Geohash.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileUtils.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileUtilsTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/spatial/build.gradle
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeReader.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/AllCellValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/BoundedGeoHashGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/BoundedGeoTileGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/ByteTrackingSortingNumericDocValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoHashGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeCellIdSource.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeCellValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeHashGridAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeTileGridAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoTileGridTiler.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/SpatialPluginTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoGridTilerTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeGeoGridTestCase.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeGeoHashGridAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeGeoTileGridAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/util/GeoTestUtils.java
  x-pack/plugin/spatial/src/test/resources/rest-api-spec/test/30_geotile_grid.yml
  x-pack/plugin/spatial/src/test/resources/rest-api-spec/test/40_geohash_grid.yml
Labels: :Analytics/Geo, >feature, Team:Analytics, v7.8.0, v8.0.0

#56212 [7.x] [DOCS] Remove invalid search API query parameters (#55884)
  docs/reference/search/search.asciidoc
  docs/reference/search/uri-request.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.8.0

#56213 [7.7] [DOCS] Remove invalid search API query parameters (#55884)
  docs/reference/search/search.asciidoc
  docs/reference/search/uri-request.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.7.1

#56148 SQL: relax version lock between server and clients
  x-pack/plugin/sql/jdbc/src/test/java/org/elasticsearch/xpack/sql/jdbc/VersionParityTests.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/AbstractSqlQueryRequest.java
  x-pack/plugin/sql/sql-cli/src/test/java/org/elasticsearch/xpack/sql/cli/CliSessionTests.java
  x-pack/plugin/sql/sql-proto/src/main/java/org/elasticsearch/xpack/sql/proto/SqlVersion.java
Labels: :Query Languages/SQL, >enhancement, Team:QL, v7.8.0, v8.0.0

#56214 [7.6] [DOCS] Remove invalid search API query parameters (#55884)
  docs/reference/search/search.asciidoc
  docs/reference/search/uri-request.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.6.3

#56170 Validate V2 templates more strictly
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/TransportSimulateIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/shards/ClusterShardLimitIT.java
Labels: :Core/Features/Indices APIs, Team:Core/Features, v7.8.0, v8.0.0

#56138 [DOCS] EQL: Document nested field support
  docs/reference/eql/limitations.asciidoc
  docs/reference/eql/requirements.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL

#56117 [Transform] fixes http status code when bad scripts are provided
  x-pack/plugin/src/test/resources/rest-api-spec/test/transform/transforms_crud.yml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/Pivot.java
Labels: :ml/Transform, >bug, v7.8.0, v8.0.0

#56145 Wire up DiversifiedAggregation
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedAggregatorSupplier.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedNumericSamplerAggregator.java
Labels: :Analytics/Aggregations, >refactoring, Team:Analytics, backport pending, v7.8.0, v8.0.0

#56136 HLRC: document index template v2 and component template APIs
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/ClusterClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/java-rest/high-level/cluster/delete_component_template.asciidoc
  docs/java-rest/high-level/cluster/get_component_template.asciidoc
  docs/java-rest/high-level/cluster/put_component_template.asciidoc
  docs/java-rest/high-level/indices/delete_index_template.asciidoc
  docs/java-rest/high-level/indices/get_index_template.asciidoc
  docs/java-rest/high-level/indices/put_index_template.asciidoc
  docs/java-rest/high-level/indices/simulate_index_template.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Features/Indices APIs, Team:Core/Features, v7.8.0, v8.0.0

#56216 [7.x] [DOCS] EQL: Document nested field support (#56138)
  docs/reference/eql/limitations.asciidoc
  docs/reference/eql/requirements.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, backport

#56134 [DOCS] EQL: Document `match` function
  docs/reference/eql/functions.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL

#56227 [7.x] [DOCS] EQL: Document `match` function (#56134)
  docs/reference/eql/functions.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, backport, v7.8.0

#55918 Remove Snapshot INIT Step
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/cleanup/TransportCleanupRepositoryAction.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/snapshots/package-info.java
  server/src/test/java/org/elasticsearch/discovery/SnapshotDisruptionIT.java
  server/src/test/java/org/elasticsearch/snapshots/CorruptedBlobStoreRepositoryIT.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.8.0, v8.0.0

#56223 SQL: relax version lock between server and clients (#56148)
  x-pack/plugin/sql/jdbc/src/test/java/org/elasticsearch/xpack/sql/jdbc/VersionParityTests.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/AbstractSqlQueryRequest.java
  x-pack/plugin/sql/sql-cli/src/test/java/org/elasticsearch/xpack/sql/cli/CliSessionTests.java
  x-pack/plugin/sql/sql-proto/src/main/java/org/elasticsearch/xpack/sql/proto/SqlVersion.java
Labels: :Query Languages/SQL, Team:QL, backport, v7.8.0

#56207 fix get policy API example
  docs/reference/ingest/apis/enrich/get-enrich-policy.asciidoc
Labels: :Core/Features/Ingest, >docs, Team:Core/Features, Team:Docs, v7.6.3, v7.7.1, v7.8.0, v8.0.0

#56226 [7.x] Validate V2 templates more strictly (#56170)
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/TransportSimulateIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/shards/ClusterShardLimitIT.java
Labels: :Core/Features/Indices APIs, Team:Core/Features, backport, v7.8.0

#56219 [7.x] [Transform] fixes http status code when bad scripts are provided (#56117)
  x-pack/plugin/src/test/resources/rest-api-spec/test/transform/transforms_crud.yml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/Pivot.java
Labels: :ml, backport

#56228 Add geo_shape support for geotile_grid and geohash_grid (#55966)
  libs/geo/src/main/java/org/elasticsearch/geometry/utils/Geohash.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileUtils.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileUtilsTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/spatial/build.gradle
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeReader.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/AllCellValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/BoundedGeoHashGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/BoundedGeoTileGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/ByteTrackingSortingNumericDocValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoHashGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeCellIdSource.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeCellValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeHashGridAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeTileGridAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoTileGridTiler.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/SpatialPluginTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoGridTilerTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeGeoGridTestCase.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeGeoHashGridAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeGeoTileGridAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/util/GeoTestUtils.java
  x-pack/plugin/spatial/src/test/resources/rest-api-spec/test/30_geotile_grid.yml
  x-pack/plugin/spatial/src/test/resources/rest-api-spec/test/40_geohash_grid.yml
Labels: backport

#56221 SQL: introduce a query builder for the Rest tests (#55094)
  x-pack/plugin/sql/qa/multi-node/src/test/java/org/elasticsearch/xpack/sql/qa/multi_node/RestSqlMultinodeIT.java
  x-pack/plugin/sql/qa/security/src/test/java/org/elasticsearch/xpack/sql/qa/security/RestSqlSecurityIT.java
  x-pack/plugin/sql/qa/security/src/test/java/org/elasticsearch/xpack/sql/qa/security/UserFunctionIT.java
  x-pack/plugin/sql/qa/single-node/src/test/java/org/elasticsearch/xpack/sql/qa/single_node/RestSqlIT.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/CustomDateFormatTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/FieldExtractorTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/SqlProtocolTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/BaseRestSqlTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/RestSqlTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/RestSqlUsageTestCase.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/AbstractSqlQueryRequest.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/SqlClearCursorRequest.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/SqlQueryRequest.java
  x-pack/plugin/sql/sql-action/src/test/java/org/elasticsearch/xpack/sql/action/SqlQueryRequestTests.java
  x-pack/plugin/sql/sql-client/src/test/java/org/elasticsearch/xpack/sql/client/HttpClientRequestTests.java
  x-pack/plugin/sql/sql-proto/src/main/java/org/elasticsearch/xpack/sql/proto/Protocol.java
  x-pack/plugin/sql/sql-proto/src/main/java/org/elasticsearch/xpack/sql/proto/SqlQueryRequest.java
  x-pack/plugin/sql/sql-proto/src/main/java/org/elasticsearch/xpack/sql/proto/SqlQueryResponse.java
Labels: :Query Languages/SQL, Team:QL, backport, v7.8.0

#56222 [7.x] Wire up DiversifiedAggregation (#56145)
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedAggregatorSupplier.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedNumericSamplerAggregator.java
Labels: backport

#56211 Remove deprecated basic license feature enablement settings from 8.0
  docs/reference/migration/migrate_8_0/settings.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherPluginTests.java
Labels: :Core/Infra/Plugins, >breaking, Team:Core/Infra, v8.0.0

#56022 Get index includes parent data stream for backing indices
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/GetIndexResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indices/GetIndexResponseTests.java
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get/20_backing_indices.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/TransportGetIndexAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexResponseTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndexTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/EmptyStateIndexRemoverTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/checkpoint/TransformCheckpointServiceNodeTests.java
Labels: :Core/Features/Data streams, >non-issue, Team:Core/Features, v7.8.0, v8.0.0

#56225 [7.x] HLRC: document index template v2 and component template APIs (#56136)
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/ClusterClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  docs/java-rest/high-level/cluster/delete_component_template.asciidoc
  docs/java-rest/high-level/cluster/get_component_template.asciidoc
  docs/java-rest/high-level/cluster/put_component_template.asciidoc
  docs/java-rest/high-level/indices/delete_index_template.asciidoc
  docs/java-rest/high-level/indices/get_index_template.asciidoc
  docs/java-rest/high-level/indices/put_index_template.asciidoc
  docs/java-rest/high-level/indices/simulate_index_template.asciidoc
  docs/java-rest/high-level/supported-apis.asciidoc
Labels: :Core/Features/Indices APIs, Team:Core/Features, backport, v7.8.0

#55193 EQL: Add concat function
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_supported.toml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/EqlFunctionRegistry.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/Concat.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/ConcatFunctionPipe.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/ConcatFunctionProcessor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/scalar/whitelist/InternalEqlScriptUtils.java
  x-pack/plugin/eql/src/main/resources/org/elasticsearch/xpack/eql/plugin/eql_whitelist.txt
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/expression/function/scalar/string/ConcatFunctionProcessorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderFailTests.java
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/Expressions.java
Labels: :Query Languages/EQL, Team:QL

#56192 [7.x] [ML] lay ground work for handling >1 result indices (#55892)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlJobIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/JobStorageDeletionTaskIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/support/BaseMlIntegTestCase.java
Labels: :ml, backport

#56232 [DOCS] EQL: Add collapsible sections to EQL search API response docs
  docs/reference/eql/eql-search-api.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL

#56234 SQL: fix test on incompatible client versions
  x-pack/plugin/sql/jdbc/src/test/java/org/elasticsearch/xpack/sql/jdbc/VersionParityTests.java
Labels: :Query Languages/SQL, >bug, >non-issue, >test, Team:QL, v7.8.0, v8.0.0

#56235 [DOCS] EQL: Add collapsible sections to EQL tutorial docs
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/search.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL

#56239 [DOCS] EQL: Document `concat` function
  docs/reference/eql/functions.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL

#56238 [7.x] Get index includes parent data stream for backing indices
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/GetIndexResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indices/GetIndexResponseTests.java
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get/20_backing_indices.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/TransportGetIndexAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexResponseTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndexTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/EmptyStateIndexRemoverTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/checkpoint/TransformCheckpointServiceNodeTests.java
Labels: :Core/Features/Data streams, >non-issue, Team:Core/Features, backport, v7.8.0

#56241 Fix test on incompatible client versions (#56234)
  x-pack/plugin/sql/jdbc/src/test/java/org/elasticsearch/xpack/sql/jdbc/VersionParityTests.java
Labels: :Query Languages/SQL, >bug, >non-issue, >test, Team:QL, backport, v7.8.0
