Repository elastic/elasticsearch, pull requests merged in 2020-06, with the labels that each got.

#57354 [7.x] Make AnnotationPersister use bulk requests instead of indexing individual documents (#57278)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/annotations/AnnotationPersister.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/annotations/AnnotationPersisterTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/annotations/AnnotationTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/EstablishedMemUsageIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobStorageDeletionTaskIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/annotations/AnnotationPersister.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJob.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsPersister.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/annotations/AnnotationPersisterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsPersisterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterServiceTests.java
Labels: :ml, >non-issue, backport

#57406 Mute mixed cluster msearch yml test
  rest-api-spec/src/main/resources/rest-api-spec/test/msearch/20_typed_keys.yml
Labels: >test-mute, v7.9.0

#57401 [DOCS] Fix typo in rank feature query docs
  docs/reference/query-dsl/rank-feature-query.asciidoc
Labels: >docs, Team:Docs, v7.7.2, v7.8.1, v7.9.0, v8.0.0

#57413 [7.x] [DOCS] Relocate `indices` module content (#54903)
  docs/reference/modules.asciidoc
  docs/reference/modules/indices.asciidoc
  docs/reference/modules/indices/circuit_breaker.asciidoc
  docs/reference/modules/indices/fielddata.asciidoc
  docs/reference/modules/indices/indexing_buffer.asciidoc
  docs/reference/modules/indices/query_cache.asciidoc
  docs/reference/modules/indices/recovery.asciidoc
  docs/reference/modules/indices/request_cache.asciidoc
  docs/reference/modules/indices/search-settings.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
Labels: :Core/Infra/Settings, >docs, Team:Core/Infra, Team:Docs, backport, v7.9.0

#57414 [7.8] [DOCS] Relocate `indices` module content (#54903)
  docs/reference/modules.asciidoc
  docs/reference/modules/indices.asciidoc
  docs/reference/modules/indices/circuit_breaker.asciidoc
  docs/reference/modules/indices/fielddata.asciidoc
  docs/reference/modules/indices/indexing_buffer.asciidoc
  docs/reference/modules/indices/query_cache.asciidoc
  docs/reference/modules/indices/recovery.asciidoc
  docs/reference/modules/indices/request_cache.asciidoc
  docs/reference/modules/indices/search-settings.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
Labels: :Core/Infra/Settings, >docs, Team:Core/Infra, Team:Docs, backport, v7.8.1

#57415 [7.7] [DOCS] Relocate `indices` module content (#54903)
  docs/reference/modules.asciidoc
  docs/reference/modules/indices.asciidoc
  docs/reference/modules/indices/circuit_breaker.asciidoc
  docs/reference/modules/indices/fielddata.asciidoc
  docs/reference/modules/indices/indexing_buffer.asciidoc
  docs/reference/modules/indices/query_cache.asciidoc
  docs/reference/modules/indices/recovery.asciidoc
  docs/reference/modules/indices/request_cache.asciidoc
  docs/reference/modules/indices/search-settings.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
Labels: :Core/Infra/Settings, >docs, Team:Core/Infra, Team:Docs, backport, v7.7.2

#57418 [7.x] [DOCS] Relocate "Plugins" page (#54974)
  docs/reference/index.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/modules/plugins.asciidoc
  docs/reference/setup.asciidoc
Labels: :Core/Infra/Plugins, >docs, Team:Core/Infra, Team:Docs, backport, v7.9.0

#57419 [7.8] [DOCS] Relocate "Plugins" page (#54974)
  docs/reference/index.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/modules/plugins.asciidoc
  docs/reference/setup.asciidoc
Labels: :Core/Infra/Plugins, >docs, Team:Core/Infra, Team:Docs, backport, v7.8.1

#57420 [7.7] [DOCS] Relocate "Plugins" page (#54974)
  docs/reference/index.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/modules/plugins.asciidoc
  docs/reference/setup.asciidoc
Labels: :Core/Infra/Plugins, >docs, Team:Core/Infra, Team:Docs, backport, v7.7.2

#57422 [7.x] [DOCS] Relocate "Remote Clusters" page (#55172)
  docs/reference/modules.asciidoc
  docs/reference/modules/remote-clusters.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Distributed, >docs, Team:Distributed, Team:Docs, backport, v7.9.0

#57423 [7.8] [DOCS] Relocate "Remote Clusters" page (#55172)
  docs/reference/modules.asciidoc
  docs/reference/modules/remote-clusters.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Distributed, >docs, Team:Distributed, Team:Docs, backport, v7.8.1

#57424 [7.7] [DOCS] Relocate "Remote Clusters" page (#55172)
  docs/reference/modules.asciidoc
  docs/reference/modules/remote-clusters.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Distributed, >docs, Team:Distributed, Team:Docs, backport, v7.7.2

#57425 [7.x] [DOCS] Relocate `transport` module content (#55472)
  docs/reference/modules.asciidoc
  docs/reference/modules/transport.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, backport, v7.9.0

#57426 [7.8] [DOCS] Relocate `transport` module content (#55472)
  docs/reference/modules.asciidoc
  docs/reference/modules/transport.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, backport, v7.8.1

#57427 [7.7] [DOCS] Relocate `transport` module content (#55472)
  docs/reference/modules.asciidoc
  docs/reference/modules/transport.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, backport, v7.7.2

#57429 [7.x] [DOCS] Relocate network settings content (#55865)
  docs/reference/modules.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, backport, v7.9.0

#57430 [7.8] [DOCS] Relocate network settings content (#55865)
  docs/reference/modules.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, backport, v7.8.1

#57431 [7.7] [DOCS] Relocate network settings content (#55865)
  docs/reference/modules.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, backport, v7.7.2

#57432 [7.x] [DOCS] Relocate thread pools content (#55814)
  docs/reference/modules.asciidoc
  docs/reference/modules/threadpool.asciidoc
  docs/reference/setup.asciidoc
Labels: :Core/Infra/Core, >docs, Team:Core/Infra, Team:Docs, backport, v7.9.0

#57433 [7.8] [DOCS] Relocate thread pools content (#55814)
  docs/reference/modules.asciidoc
  docs/reference/modules/threadpool.asciidoc
  docs/reference/setup.asciidoc
Labels: :Core/Infra/Core, >docs, Team:Core/Infra, Team:Docs, backport, v7.8.1

#57434 [7.7] [DOCS] Relocate thread pools content (#55814)
  docs/reference/modules.asciidoc
  docs/reference/modules/threadpool.asciidoc
  docs/reference/setup.asciidoc
Labels: :Core/Infra/Core, >docs, Team:Core/Infra, Team:Docs, backport, v7.7.2

#57435 [7.x] [DOCS] Relocate `node` module content (#56376)
  docs/reference/modules.asciidoc
  docs/reference/modules/node.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Cluster Coordination, >docs, Team:Distributed, Team:Docs, backport, v7.9.0

#57382 [7.x Backport] Fix assertion catching in aggregation supported type test
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/AvgAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MaxAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/StatsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/SumAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/ValueCountAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedAvgAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedSumAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedValueCountAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/ttest/TTestAggregatorTests.java
Labels: :Analytics/Aggregations, Team:Analytics, backport, v7.9.0

#57436 [7.8] [DOCS] Relocate `node` module content (#56376)
  docs/reference/modules.asciidoc
  docs/reference/modules/node.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Cluster Coordination, >docs, Team:Distributed, Team:Docs, backport, v7.8.1

#57437 [7.7] [DOCS] Relocate `node` module content (#56376)
  docs/reference/modules.asciidoc
  docs/reference/modules/node.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Cluster Coordination, >docs, Team:Distributed, Team:Docs, backport, v7.7.2

#57439 [7.x] [DOCS] Relocate `HTTP` module content (#56386)
  docs/reference/modules.asciidoc
  docs/reference/modules/http.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, backport, v7.9.0

#57140 Optimize `routingNodes` variable in AddIncrementallyTests
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AddIncrementallyTests.java
Labels: :Distributed/Allocation, >test, Team:Distributed, v7.9.0, v8.0.0

#57440 [7.8] [DOCS] Relocate `HTTP` module content (#56386)
  docs/reference/modules.asciidoc
  docs/reference/modules/http.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, backport, v7.8.1

#57441 [7.7] [DOCS] Relocate `HTTP` module content (#56386)
  docs/reference/modules.asciidoc
  docs/reference/modules/http.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, backport, v7.7.2

#57443 [7.x] [DOCS] Relocate `local gateway` setting content (#56448)
  docs/reference/modules.asciidoc
  docs/reference/modules/gateway.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Allocation, >docs, Team:Distributed, Team:Docs, backport, v7.9.0

#57446 [7.7] [DOCS] Relocate `local gateway` setting content (#56448)
  docs/reference/modules.asciidoc
  docs/reference/modules/gateway.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Allocation, >docs, Team:Distributed, Team:Docs, backport, v7.7.2

#57445 [7.8] [DOCS] Relocate `local gateway` setting content (#56448)
  docs/reference/modules.asciidoc
  docs/reference/modules/gateway.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
Labels: :Distributed/Allocation, >docs, Team:Distributed, Team:Docs, backport, v7.8.1

#57444 [DOCS] Adds ml-cpp PRs to release notes
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.7.asciidoc
Labels: :ml, >docs, Team:Docs, v7.7.1, v7.8.1, v7.9.0

#57144 Introduce Annotation.event field
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/annotations/Annotation.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/annotations_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/annotations/AnnotationTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJob.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/annotations/AnnotationPersisterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessorTests.java
Labels: :ml, >enhancement, v7.9.0, v8.0.0

#57442 Clean up Aggregator Supplier Boiler Plate
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/AbstractRangeAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoCentroidAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoCentroidAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MaxAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MaxAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MetricAggregatorSupplier.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinMaxAggregatorSupplier.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/StatsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/StatsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregatorFactory.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/metrics/AnalyticsAggregatorFactory.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/stringstats/StringStatsAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/stringstats/StringStatsAggregatorFactory.java
Labels: :Analytics/Aggregations, >non-issue, >refactoring, Team:Analytics, v7.9.0, v8.0.0

#57448 [7.x] [DOCS] Relocate `shard allocation` module content (#56535)
  docs/plugins/discovery-ec2.asciidoc
  docs/reference/index-modules.asciidoc
  docs/reference/index-modules/allocation/filtering.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/modules/cluster.asciidoc
  docs/reference/modules/cluster/allocation_awareness.asciidoc
  docs/reference/modules/cluster/allocation_filtering.asciidoc
  docs/reference/modules/cluster/disk_allocator.asciidoc
  docs/reference/modules/cluster/misc.asciidoc
  docs/reference/modules/cluster/shards_allocation.asciidoc
  docs/reference/monitoring/exporters.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/search/request/preference.asciidoc
  docs/reference/setup.asciidoc
  docs/reference/upgrade/disable-shard-alloc.asciidoc
Labels: :Distributed/Allocation, >docs, Team:Distributed, Team:Docs, backport, v7.9.0

#57449 [7.8] [DOCS] Relocate `shard allocation` module content (#56535)
  docs/plugins/discovery-ec2.asciidoc
  docs/reference/index-modules.asciidoc
  docs/reference/index-modules/allocation/filtering.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/modules/cluster.asciidoc
  docs/reference/modules/cluster/allocation_awareness.asciidoc
  docs/reference/modules/cluster/allocation_filtering.asciidoc
  docs/reference/modules/cluster/disk_allocator.asciidoc
  docs/reference/modules/cluster/misc.asciidoc
  docs/reference/modules/cluster/shards_allocation.asciidoc
  docs/reference/monitoring/exporters.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/search/request/preference.asciidoc
  docs/reference/setup.asciidoc
  docs/reference/upgrade/disable-shard-alloc.asciidoc
Labels: :Distributed/Allocation, >docs, Team:Distributed, Team:Docs, backport, v7.8.1

#57450 [7.7] [DOCS] Relocate `shard allocation` module content (#56535)
  docs/plugins/discovery-ec2.asciidoc
  docs/reference/index-modules.asciidoc
  docs/reference/index-modules/allocation/filtering.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/modules/cluster.asciidoc
  docs/reference/modules/cluster/allocation_awareness.asciidoc
  docs/reference/modules/cluster/allocation_filtering.asciidoc
  docs/reference/modules/cluster/disk_allocator.asciidoc
  docs/reference/modules/cluster/misc.asciidoc
  docs/reference/modules/cluster/shards_allocation.asciidoc
  docs/reference/monitoring/exporters.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/search/request/preference.asciidoc
  docs/reference/setup.asciidoc
  docs/reference/upgrade/disable-shard-alloc.asciidoc
Labels: :Distributed/Allocation, >docs, Team:Distributed, Team:Docs, backport, v7.7.2

#57455 [7.8] [DOCS] Relocate discovery module content (#56611)
  docs/reference/index.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/modules/discovery.asciidoc
  docs/reference/modules/discovery/adding-removing-nodes.asciidoc
  docs/reference/modules/discovery/discovery-settings.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
  docs/reference/setup/add-nodes.asciidoc
Labels: :Distributed/Distributed, >docs, Team:Distributed, Team:Docs, backport, v7.8.1

#57456 [7.7] [DOCS] Relocate discovery module content (#56611)
  docs/reference/index.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/modules/discovery.asciidoc
  docs/reference/modules/discovery/adding-removing-nodes.asciidoc
  docs/reference/modules/discovery/discovery-settings.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
  docs/reference/setup/add-nodes.asciidoc
Labels: :Distributed/Distributed, >docs, Team:Distributed, Team:Docs, backport, v7.7.2

#57454 [7.x] [DOCS] Relocate discovery module content (#56611)
  docs/reference/index.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/modules/discovery.asciidoc
  docs/reference/modules/discovery/adding-removing-nodes.asciidoc
  docs/reference/modules/discovery/discovery-settings.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
  docs/reference/setup/add-nodes.asciidoc
Labels: :Distributed/Distributed, >docs, Team:Distributed, Team:Docs, backport, v7.9.0

#57447 Optimize `routingNodes` variable in AddIncrementallyTests (backport of #57140)
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AddIncrementallyTests.java
Labels: >test, backport, v7.9.0

#57457 [7.x] [DOCS] Document `dynamic` and `static` setting types (#56919)
  docs/reference/cluster/update-settings.asciidoc
  docs/reference/setup/configuration.asciidoc
Labels: :Core/Infra/Settings, >docs, Team:Core/Infra, Team:Docs, backport, v7.9.0

#57458 [7.8] [DOCS] Document `dynamic` and `static` setting types (#56919)
  docs/reference/cluster/update-settings.asciidoc
  docs/reference/setup/configuration.asciidoc
Labels: :Core/Infra/Settings, >docs, Team:Core/Infra, Team:Docs, backport, v7.8.1

#57452 [7.x] Clean up Aggregator Supplier Boiler Plate (#57442)
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/AbstractRangeAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoCentroidAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoCentroidAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MaxAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MaxAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MetricAggregatorSupplier.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinMaxAggregatorSupplier.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/StatsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/StatsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregatorFactory.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/metrics/AnalyticsAggregatorFactory.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/stringstats/StringStatsAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/stringstats/StringStatsAggregatorFactory.java
Labels: backport

#57409 Correct expected warning in indices.create yml tests
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.create/20_mix_typeless_typeful.yml
Labels: :Core/Features/Indices APIs, >test, Team:Core/Features, v7.9.0

#57459 [7.7] [DOCS] Document `dynamic` and `static` setting types (#56919)
  docs/reference/cluster/update-settings.asciidoc
  docs/reference/setup/configuration.asciidoc
Labels: :Core/Infra/Settings, >docs, Team:Core/Infra, Team:Docs, backport, v7.7.2

#57453 [7.x] Introduce Annotation.event field (#57144)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/annotations/Annotation.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/annotations_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/annotations/AnnotationTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJob.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/annotations/AnnotationPersisterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessorTests.java
Labels: :ml, >enhancement, backport

#57463 [7.x] [DOCS] Create top-level "Search your data" page (#56058)
  docs/reference/index.asciidoc
  docs/reference/modules/cross-cluster-search.asciidoc
  docs/reference/search/index.asciidoc
  docs/reference/search/run-a-search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.9.0

#57464 [7.8] [DOCS] Create top-level "Search your data" page (#56058)
  docs/reference/index.asciidoc
  docs/reference/modules/cross-cluster-search.asciidoc
  docs/reference/search/index.asciidoc
  docs/reference/search/run-a-search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.8.1

#57306 Better description of real-memory breaker changes to aggs
  docs/reference/release-notes/highlights-7.7.0.asciidoc
Labels: :Analytics/Aggregations, >bug, >docs, Team:Analytics, Team:Docs, v7.7.2, v7.8.1, v7.9.0

#57465 [7.7] [DOCS] Create top-level "Search your data" page (#56058)
  docs/reference/index.asciidoc
  docs/reference/modules/cross-cluster-search.asciidoc
  docs/reference/search/index.asciidoc
  docs/reference/search/run-a-search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.7.2

#57000 Adding transform docs for geotile_grid
  docs/reference/aggregations/bucket/composite-aggregation.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, v7.9.0, v8.0.0

#57474 [7.x] Adding transform docs for geotile_grid (#57000)
  docs/reference/aggregations/bucket/composite-aggregation.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: >docs, Team:Docs, backport

#57469 [7.x] [DOCS] Combine search API and URI search API reference docs (#55884)
  docs/reference/redirects.asciidoc
  docs/reference/search.asciidoc
  docs/reference/search/uri-request.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.9.0

#57470 [7.8] [DOCS] Combine search API and URI search API reference docs (#55884)
  docs/reference/redirects.asciidoc
  docs/reference/search.asciidoc
  docs/reference/search/uri-request.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.8.1

#57471 [7.7] [DOCS] Combine search API and URI search API reference docs (#55884)
  docs/reference/redirects.asciidoc
  docs/reference/search.asciidoc
  docs/reference/search/uri-request.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.7.2

#57477 [7.x] [DOCS] Add search pagination docs (#56785)
  docs/reference/index-modules.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/search/request-body.asciidoc
  docs/reference/search/request/from-size.asciidoc
  docs/reference/search/run-a-search.asciidoc
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.9.0

#57478 [7.8] [DOCS] Add search pagination docs (#56785)
  docs/reference/index-modules.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/search/request-body.asciidoc
  docs/reference/search/request/from-size.asciidoc
  docs/reference/search/run-a-search.asciidoc
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.8.1

#57479 [7.7] [DOCS] Add search pagination docs (#56785)
  docs/reference/index-modules.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/search/request-body.asciidoc
  docs/reference/search/request/from-size.asciidoc
  docs/reference/search/run-a-search.asciidoc
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.7.2

#57484 [8.0] [DOCS] Add redirects for 404 pages (#57161)
  docs/reference/ilm/using-policies-rollover.asciidoc
  docs/reference/redirects.asciidoc
Labels: >docs, Team:Docs, backport, v8.0.0

#57482 Remove buildResources from BuildPlugin
  buildSrc/src/integTest/java/org/elasticsearch/gradle/ExportElasticsearchBuildResourcesTaskIT.java
  buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/ExportElasticsearchBuildResourcesTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/precommit/ForbiddenApisPrecommitPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/precommit/ThirdPartyAuditPrecommitPlugin.java
  buildSrc/src/testKit/elasticsearch-build-resources/build.gradle
Labels: :Core/Infra/Build, >refactoring, Team:Core/Infra, v7.7.2, v7.8.0, v7.9.0, v8.0.0

#57017 Include vendored code notices in distribution notice files
  buildSrc/src/main/groovy/org/elasticsearch/gradle/NoticeTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/plugin/PluginBuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/gradle/precommit/LicenseHeadersTask.groovy
  distribution/build.gradle
  libs/core/src/main/java/org/elasticsearch/common/util/FastMath.java
  libs/core/src/main/java/org/elasticsearch/core/internal/io/IOUtils.java
  libs/core/src/test/java/org/elasticsearch/core/internal/io/IOUtilsTests.java
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/DerParser.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/analysis/ICUCollationKeyFilter.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/analysis/IndexableBinaryStringTools.java
  plugins/analysis-icu/src/test/java/org/elasticsearch/index/analysis/IndexableBinaryStringToolsTests.java
  server/build.gradle
  server/licenses/ecs-logging-core-LICENSE.txt
  server/licenses/ecs-logging-core-NOTICE.txt
  server/licenses/log4j2-ecs-layout-LICENSE.txt
  server/licenses/log4j2-ecs-layout-NOTICE.txt
  server/src/main/java/org/elasticsearch/common/collect/EvictingQueue.java
  server/src/main/java/org/elasticsearch/common/inject/package-info.java
  server/src/main/java/org/elasticsearch/common/logging/JsonThrowablePatternConverter.java
  server/src/main/java/org/elasticsearch/common/network/InetAddresses.java
  server/src/main/java/org/elasticsearch/common/time/DateUtilsRounding.java
  server/src/main/java/org/joda/time/format/StrictISODateTimeFormat.java
  server/src/test/java/org/elasticsearch/common/collect/EvictingQueueTests.java
  server/src/test/java/org/elasticsearch/common/network/InetAddressesTests.java
  x-pack/build.gradle
  x-pack/plugin/core/build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/support/BCrypt.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/DerParser.java
  x-pack/plugin/identity-provider/licenses/cryptacular-NOTICE.txt
  x-pack/plugin/security/build.gradle
  x-pack/plugin/security/licenses/cryptacular-NOTICE.txt
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySIDUtil.java
  x-pack/plugin/spatial/build.gradle
  x-pack/plugin/spatial/src/test/java/org/apache/lucene/geo/XShapeTestUtil.java
Labels: :Core/Infra/Build, Team:Core/Infra

#57492 Store parsed mapping settings in IndexSettings
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/ParseContext.java
Labels: :Search/Mapping, >enhancement, Team:Search, v7.9.0, v8.0.0

#57488 Avoid unnecessary use of stored_fields in our docs.
  docs/painless/painless-guide/painless-walkthrough.asciidoc
  docs/reference/scripting/fields.asciidoc
  docs/reference/search/request/highlighting.asciidoc
Labels: :Core/Infra/Scripting, :Search/Search, >docs, Team:Core/Infra, Team:Docs, Team:Search, v6.8.0, v7.7.0, v7.8.0, v7.9.0, v8.0.0

#57389 Remove DEBUG-level logging from actions in docker
  distribution/docker/src/docker/config/log4j2.properties
  distribution/docker/src/docker/config/oss/log4j2.properties
Labels: :Core/Infra/Packaging, >enhancement, Team:Core/Infra, v7.9.0, v8.0.0

#57497 Avoid unnecessary use of stored_fields in our docs.
  docs/painless/painless-getting-started.asciidoc
  docs/reference/scripting/fields.asciidoc
  docs/reference/search/request/highlighting.asciidoc
Labels: :Core/Infra/Scripting, :Search/Search, Team:Core/Infra, Team:Search, backport

#57357 Disable testingConventions in build tools in fips
  buildSrc/build.gradle
Labels: :Core/Infra/Build, >test-failure, Team:Core/Infra

#57503 [7.x] Disable testingConventions in build tools in fips (#57357)
  buildSrc/build.gradle
Labels: backport

#57505 [7.7] Disable testingConventions in build tools in fips (#57357)
  buildSrc/build.gradle
Labels: backport

#57504 [7.8] Disable testingConventions in build tools in fips (#57357)
  buildSrc/build.gradle
Labels: backport

#56587 Use 3rd party task to run integration tests on external service
  plugins/repository-azure/build.gradle
  plugins/repository-azure/qa/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/java/org/elasticsearch/repositories/azure/AzureStorageRepositoryClientYamlTestSuiteIT.java
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
  plugins/repository-azure/src/test/resources/rest-api-spec/test/repository_azure/20_repository.yml
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/qa/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageRepositoryClientYamlTestSuiteIT.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageThirdPartyTests.java
  plugins/repository-gcs/src/test/resources/rest-api-spec/test/repository_gcs/20_repository.yml
  plugins/repository-s3/build.gradle
  x-pack/plugin/searchable-snapshots/qa/azure/build.gradle
  x-pack/plugin/searchable-snapshots/qa/gcs/build.gradle
  x-pack/plugin/searchable-snapshots/qa/s3/build.gradle
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v6.8.11, v7.6.3, v7.7.2, v7.8.1, v7.9.0, v8.0.0

#57428 SQL: Implement TOP as an alternative to LIMIT
  docs/reference/sql/appendix/syntax-reserved.asciidoc
  docs/reference/sql/language/syntax/commands/select.asciidoc
  x-pack/plugin/sql/qa/server/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/select.csv-spec
  x-pack/plugin/sql/src/main/antlr/SqlBase.g4
  x-pack/plugin/sql/src/main/antlr/SqlBase.tokens
  x-pack/plugin/sql/src/main/antlr/SqlBaseLexer.tokens
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/LogicalPlanBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseBaseListener.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseBaseVisitor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseLexer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseListener.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseParser.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseVisitor.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/SqlParserTests.java
Labels: :Query Languages/SQL, >enhancement, Team:QL, v7.9.0, v8.0.0

#56342 Make Annotation a result type
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/annotations/Annotation.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/BlackHoleAutodetectProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/results/AutodetectResult.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/results/AutodetectResultTests.java
Labels: :ml, >non-issue, v7.9.0, v8.0.0

#57451 SQL: Make CASTing string to DATETIME more lenient
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/type/DateUtils.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/type/DataTypeConversionTests.java
  x-pack/plugin/sql/qa/server/src/main/resources/datetime.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/util/DateUtils.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/type/SqlDataTypeConverterTests.java
Labels: :Query Languages/SQL, >enhancement, Team:QL, v7.9.0, v8.0.0

#57360 Do not Block Snapshot Thread Pool Fully During Restore or Snapshot
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.9.0, v8.0.0

#57197 Move classes from build scripts to buildSrc
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/java/org/elasticsearch/gradle/network/SanEvaluator.java
  distribution/build.gradle
  gradle/run.gradle
  x-pack/plugin/sql/qa/jdbc/security/with-ssl/build.gradle
  x-pack/plugin/sql/qa/server/security/with-ssl/build.gradle
Labels: :Core/Infra/Core, Team:Core/Infra, v7.7.2, v7.8.1, v7.9.0, v8.0.0

#57507 SQL: Implement TOP as an alternative to LIMIT (#57428)
  docs/reference/sql/appendix/syntax-reserved.asciidoc
  docs/reference/sql/language/syntax/commands/select.asciidoc
  x-pack/plugin/sql/qa/server/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/select.csv-spec
  x-pack/plugin/sql/src/main/antlr/SqlBase.g4
  x-pack/plugin/sql/src/main/antlr/SqlBase.tokens
  x-pack/plugin/sql/src/main/antlr/SqlBaseLexer.tokens
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/LogicalPlanBuilder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseBaseListener.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseBaseVisitor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseLexer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseListener.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseParser.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/parser/SqlBaseVisitor.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/SqlParserTests.java
Labels: :Query Languages/SQL, >enhancement, Team:QL, backport

#57509 SQL: Make CASTing string to DATETIME more lenient (#57451)
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/type/DateUtils.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/type/DataTypeConversionTests.java
  x-pack/plugin/sql/qa/server/src/main/resources/datetime.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/util/DateUtils.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/type/SqlDataTypeConverterTests.java
Labels: :Query Languages/SQL, >enhancement, Team:QL, backport

#57295 ILM: add support for rolling over data streams
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/AsyncWaitStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/RolloverStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/SegmentCountStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/UpdateRolloverLifecycleDateStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForActiveShardsStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForFollowShardTasksStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForNoFollowersStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForRolloverReadyStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/AbstractStepMasterTimeoutTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/RolloverStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/SegmentCountStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/UpdateRolloverLifecycleDateStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForActiveShardsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForFollowShardTasksStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForNoFollowersStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForRolloverReadyStepTests.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/TimeSeriesRestDriver.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/ChangePolicyforIndexIT.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesDataStreamsIT.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleRestIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/package-info.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, v7.9.0, v8.0.0

#56588 Use 3rd party task to run integration tests on external service
  plugins/repository-azure/build.gradle
  plugins/repository-azure/qa/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/java/org/elasticsearch/repositories/azure/AzureStorageRepositoryClientYamlTestSuiteIT.java
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
  plugins/repository-azure/src/test/resources/rest-api-spec/test/repository_azure/20_repository.yml
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/qa/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageRepositoryClientYamlTestSuiteIT.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageThirdPartyTests.java
  plugins/repository-gcs/src/test/resources/rest-api-spec/test/repository_gcs/20_repository.yml
  plugins/repository-s3/build.gradle
  x-pack/plugin/searchable-snapshots/qa/azure/build.gradle
  x-pack/plugin/searchable-snapshots/qa/gcs/build.gradle
  x-pack/plugin/searchable-snapshots/qa/s3/build.gradle
  x-pack/snapshot-tool/qa/google-cloud-storage/build.gradle
  x-pack/snapshot-tool/qa/s3/build.gradle
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport, v7.9.0

#56589 Use 3rd party task to run integration tests on external service
  plugins/repository-azure/build.gradle
  plugins/repository-azure/qa/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/java/org/elasticsearch/repositories/azure/AzureStorageRepositoryClientYamlTestSuiteIT.java
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
  plugins/repository-azure/src/test/resources/rest-api-spec/test/repository_azure/20_repository.yml
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/qa/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageRepositoryClientYamlTestSuiteIT.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageThirdPartyTests.java
  plugins/repository-gcs/src/test/resources/rest-api-spec/test/repository_gcs/20_repository.yml
  plugins/repository-s3/build.gradle
  x-pack/plugin/searchable-snapshots/qa/azure/build.gradle
  x-pack/plugin/searchable-snapshots/qa/gcs/build.gradle
  x-pack/plugin/searchable-snapshots/qa/s3/build.gradle
  x-pack/snapshot-tool/qa/google-cloud-storage/build.gradle
  x-pack/snapshot-tool/qa/s3/build.gradle
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport, v7.8.1

#56590 Use 3rd party task to run integration tests on external service
  plugins/repository-azure/build.gradle
  plugins/repository-azure/qa/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/build.gradle
  plugins/repository-azure/qa/microsoft-azure-storage/src/test/java/org/elasticsearch/repositories/azure/AzureStorageRepositoryClientYamlTestSuiteIT.java
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
  plugins/repository-azure/src/test/resources/rest-api-spec/test/repository_azure/20_repository.yml
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/qa/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageRepositoryClientYamlTestSuiteIT.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageThirdPartyTests.java
  plugins/repository-gcs/src/test/resources/rest-api-spec/test/repository_gcs/20_repository.yml
  plugins/repository-s3/build.gradle
  x-pack/snapshot-tool/qa/google-cloud-storage/build.gradle
  x-pack/snapshot-tool/qa/s3/build.gradle
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport, v7.7.2

#57511 Do not Block Snapshot Thread Pool Fully During Restore or Snapshot (#57360)
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#57508 [7.x] Make Annotation a result type (#56342)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/annotations/Annotation.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/BlackHoleAutodetectProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/results/AutodetectResult.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/results/AutodetectResultTests.java
Labels: :ml, >non-issue, backport

#57506 Adjust version after backports
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/annotations/Annotation.java
Labels: :ml, >non-issue, v8.0.0

#57515 [7.x] ILM: add support for rolling over data streams (#57295)
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/AsyncWaitStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/RolloverStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/SegmentCountStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/UpdateRolloverLifecycleDateStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForActiveShardsStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForFollowShardTasksStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForNoFollowersStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForRolloverReadyStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/AbstractStepMasterTimeoutTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/RolloverStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/SegmentCountStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/UpdateRolloverLifecycleDateStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForActiveShardsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForFollowShardTasksStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForNoFollowersStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForRolloverReadyStepTests.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/TimeSeriesRestDriver.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/ChangePolicyforIndexIT.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesDataStreamsIT.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleRestIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleService.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, backport, v7.9.0

#57516 Remove version check after backport
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/results/AutodetectResult.java
Labels: :ml, >non-issue, v8.0.0

#56592 Use 3rd party task to run integration tests on external service
  plugins/repository-azure/qa/microsoft-azure-storage/build.gradle
  plugins/repository-gcs/qa/google-cloud-storage/build.gradle
  plugins/repository-s3/build.gradle
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport, v6.8.11

#57522 [DOCS] Add placeholder for 6.8.10 release notes
  docs/reference/release-notes/6.8.asciidoc
Labels: >docs, Team:Docs, v6.8.10

#57410 [DOCS] EQL: Fix hits param for sequences
  docs/reference/eql/eql-search-api.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL

#57153 [DOCS] Add scroll API reference docs
  docs/reference/search.asciidoc
  docs/reference/search/scroll-api.asciidoc
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, v7.7.2, v7.8.1, v7.9.0, v8.0.0

#57513 Move classes from build scripts to buildSrc (7.8 backport)
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/java/org/elasticsearch/gradle/network/SanEvaluator.java
  distribution/build.gradle
  gradle/run.gradle
  x-pack/plugin/sql/qa/jdbc/security/with-ssl/build.gradle
  x-pack/plugin/sql/qa/server/security/with-ssl/build.gradle
Labels: :Core/Infra/Build, Team:Core/Infra, backport

#57512 Move classes from build scripts to buildSrc (7.x backport)
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/java/org/elasticsearch/gradle/network/SanEvaluator.java
  distribution/build.gradle
  gradle/run.gradle
  x-pack/plugin/sql/qa/jdbc/security/with-ssl/build.gradle
  x-pack/plugin/sql/qa/server/security/with-ssl/build.gradle
Labels: :Core/Infra/Build, Team:Core/Infra, backport

#57514 Move classes from build scripts to buildSrc (7.7 backport)
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/java/org/elasticsearch/gradle/network/SanEvaluator.java
  distribution/build.gradle
  gradle/run.gradle
  x-pack/plugin/sql/qa/jdbc/security/with-ssl/build.gradle
  x-pack/plugin/sql/qa/server/security/with-ssl/build.gradle
Labels: :Core/Infra/Build, Team:Core/Infra, backport

#57524 [7.x] [DOCS] EQL: Fix hits param for sequences (#57410)
  docs/reference/eql/eql-search-api.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, backport

#57525 [DOCS] EQL: Fix hits param for sequences (#57410)
  docs/reference/eql/eql-search-api.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, backport

#57345 [Doc] 7.7.0 Known issue for slow loggers leaking log4j loggers
  docs/reference/release-notes/7.6.asciidoc
  docs/reference/release-notes/7.7.asciidoc
Labels: :Core/Infra/Logging, >docs, Team:Core/Infra, Team:Docs

#57344 [Doc] 7.6.0 Known issue for slow loggers leaking log4j loggers
  docs/reference/release-notes/7.6.asciidoc
Labels: :Core/Infra/Logging, >docs, Team:Core/Infra, Team:Docs

#57346 [Doc] 6.8.5-9 Known issue for slow loggers leaking log4j loggers
  docs/reference/release-notes/6.8.asciidoc
Labels: :Core/Infra/Logging, >docs, Team:Core/Infra, Team:Docs

#57528 [7.x] [DOCS] Add scroll API reference docs (#57153)
  docs/reference/search.asciidoc
  docs/reference/search/scroll-api.asciidoc
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.9.0

#57529 [7.8] [DOCS] Add scroll API reference docs (#57153)
  docs/reference/search.asciidoc
  docs/reference/search/scroll-api.asciidoc
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.8.1

#57530 [7.7] [DOCS] Add scroll API reference docs (#57153)
  docs/reference/search.asciidoc
  docs/reference/search/scroll-api.asciidoc
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.7.2

#57080 Serialize Outbound Messages on IO Threads (#56961)
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4MessageChannelHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4TcpChannel.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTcpChannel.java
  qa/smoke-test-client/src/test/java/org/elasticsearch/smoketest/ESSmokeClientTestCase.java
  server/src/main/java/org/elasticsearch/transport/OutboundHandler.java
  server/src/main/java/org/elasticsearch/transport/TcpChannel.java
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
  test/framework/src/main/java/org/elasticsearch/transport/FakeTcpChannel.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
  x-pack/qa/transport-client-tests/src/test/java/org/elasticsearch/xpack/ESXPackSmokeClientTestCase.java
Labels: :Distributed/Network, Team:Distributed, backport

#57531 [DOCS] EQL: Add `dev` admonition to EQL pages
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/functions.asciidoc
  docs/reference/eql/index.asciidoc
  docs/reference/eql/limitations.asciidoc
  docs/reference/eql/requirements.asciidoc
  docs/reference/eql/search.asciidoc
  docs/reference/eql/syntax.asciidoc
Labels: :Query Languages/EQL, >docs

#57533 [7.x] [DOCS] EQL: Add `dev` admonition to EQL pages (#57531)
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/functions.asciidoc
  docs/reference/eql/index.asciidoc
  docs/reference/eql/limitations.asciidoc
  docs/reference/eql/requirements.asciidoc
  docs/reference/eql/search.asciidoc
  docs/reference/eql/syntax.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, backport, v7.9.0

#57534 [DOCS] EQL: Add `dev` admonition to EQL pages (#57531)
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/functions.asciidoc
  docs/reference/eql/index.asciidoc
  docs/reference/eql/limitations.asciidoc
  docs/reference/eql/requirements.asciidoc
  docs/reference/eql/search.asciidoc
  docs/reference/eql/syntax.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, backport

#57536 [DOCS] 6.8.10 release notes
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/6.8.asciidoc
Labels: >docs, Team:Docs, v6.8.10

#57526 SQL: [Tests] Enable tests which have been fixed
  x-pack/plugin/sql/qa/server/src/main/resources/agg.sql-spec
  x-pack/plugin/sql/qa/server/src/main/resources/constant-keyword.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/datetime.sql-spec
  x-pack/plugin/sql/qa/server/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/functions.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/string-functions.sql-spec
Labels: :Query Languages/SQL, >test, Team:QL, v7.9.0, v8.0.0

#57491 [DOCS] Refactor admons for multi-parameter options
  docs/reference/search/search.asciidoc
  docs/reference/snapshot-restore/apis/put-repo-api.asciidoc
Labels: >docs, Team:Docs, v7.7.2, v7.8.1, v7.9.0, v8.0.0

#57540 [7.x] [DOCS] Refactor admons for multi-parameter options (#57491)
  docs/reference/search/search.asciidoc
  docs/reference/snapshot-restore/apis/put-repo-api.asciidoc
Labels: >docs, Team:Docs, backport, v7.9.0

#57541 [7.8] [DOCS] Refactor admons for multi-parameter options (#57491)
  docs/reference/search/search.asciidoc
  docs/reference/snapshot-restore/apis/put-repo-api.asciidoc
Labels: >docs, Team:Docs, backport, v7.8.1

#57542 [7.7] [DOCS] Refactor admons for multi-parameter options (#57491)
  docs/reference/search/search.asciidoc
  docs/reference/snapshot-restore/apis/put-repo-api.asciidoc
Labels: >docs, Team:Docs, backport, v7.7.2

#57438 Fix an optimization in terms agg
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/20_terms.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
Labels: :Analytics/Aggregations, >non-issue, Team:Analytics, backport pending, v7.9.0, v8.0.0

#57547 Fix an optimization in terms agg (backport #57438)
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/20_terms.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
Labels: backport, v7.9.0

#57483 Same memory when geo aggregations are not on top
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashGridAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoGridAggregatorSupplier.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregatorTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/NumericHistogramAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeHashGridAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeTileGridAggregator.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/SpatialPluginTests.java
Labels: :Analytics/Aggregations, >enhancement, Team:Analytics, v7.9.0, v8.0.0

#57490 Make parent and child aggregator more obvious
  modules/parent-join/src/main/java/org/elasticsearch/join/aggregations/ParentJoinAggregator.java
Labels: :Analytics/Aggregations, >non-issue, Team:Analytics, v7.9.0, v8.0.0

#57487 Update geo_point docs for geo_shape queries
  docs/reference/mapping/types/geo-point.asciidoc
  docs/reference/query-dsl/geo-shape-query.asciidoc
Labels: :Analytics/Geo, >docs, Team:Analytics, Team:Docs, v7.7.2, v7.8.1, v8.0.0

#57485 [7.x Backport] Prevent SigTerms/SigText from running on fields they do not support
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorFactory.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
Labels: :Analytics/Aggregations, Team:Analytics, backport, v7.9.0

#57552 [7.x] Fix incorrect log warning when exporting monitoring via HTTP without authentication
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterTests.java
Labels: :Core/Features/Monitoring, >bug, Team:Core/Features, backport, v7.9.0

#57551 Same memory when geo aggregations are not on top (backport of #57483)
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashGridAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoGridAggregatorSupplier.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregatorTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/NumericHistogramAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeHashGridAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeTileGridAggregator.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/SpatialPluginTests.java
Labels: backport, v7.9.0

#57550 Update skip after backport of #57438
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/20_terms.yml
Labels: >non-issue, v8.0.0

#57553 Make parent and child aggregator more obvious (#57490)
  modules/parent-join/src/main/java/org/elasticsearch/join/aggregations/ParentJoinAggregator.java
Labels: backport, v7.9.0

#57510 [DOCS] Edit validation section of dynamic templates docs
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: :Search/Mapping, >docs, Team:Docs, v7.7.2, v7.8.1, v7.9.0, v8.0.0

#57557 [8.0] [DOCS] Edit validation section of dynamic templates docs (#57510)
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: :Search/Mapping, >docs, Team:Docs, Team:Search, backport, v8.0.0

#57556 fix missing _doc type from geo-shape doc test
  docs/reference/query-dsl/geo-shape-query.asciidoc
Labels: :Analytics/Geo, >docs, >test, Team:Analytics, Team:Docs

#57185 Ensure default watches are updated for rolling upgrades.
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
Labels: :Core/Features/Monitoring, :Core/Features/Watcher, Team:Core/Features, v7.7.2, v7.8.1, v7.9.0, v8.0.0

#57559 [7.7] [DOCS] Edit validation section of dynamic templates docs (#57510)
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: :Search/Mapping, >docs, Team:Docs, Team:Search, backport, v7.7.2

#57558 [7.8] [DOCS] Edit validation section of dynamic templates docs (#57510)
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: :Search/Mapping, >docs, Team:Docs, Team:Search, backport, v7.8.1

#57538 SQL: [Tests] Enable tests which have been fixed (#57526)
  x-pack/plugin/sql/qa/server/src/main/resources/agg.sql-spec
  x-pack/plugin/sql/qa/server/src/main/resources/constant-keyword.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/datetime.sql-spec
  x-pack/plugin/sql/qa/server/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/functions.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/string-functions.sql-spec
Labels: :Query Languages/SQL, >test, Team:QL, backport

#57564 [DOCS] Replace docdir attribute with es-repo-dir
  docs/reference/ilm/apis/get-lifecycle.asciidoc
Labels: :Docs, >docs, Team:Docs, v8.0.0

#57493 Fix exception check in RecoveryRequestTrackerTests
  server/src/test/java/org/elasticsearch/indices/recovery/RecoveryRequestTrackerTests.java
Labels: :Distributed/Recovery, >test, Team:Distributed, v7.9.0, v8.0.0

#57326 Update snapshot.delete.json to make snapshot a list type
  rest-api-spec/src/main/resources/rest-api-spec/api/snapshot.delete.json
Labels: :Core/Infra/REST API, Team:Clients, Team:Core/Infra

#57329 change track_total_hits on async_search.submit to union
  x-pack/plugin/src/test/resources/rest-api-spec/api/async_search.submit.json
Labels: :Core/Infra/REST API, Team:Clients, Team:Core/Infra

#57576 Mute EmailSslTests test case in fips
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/email/EmailSslTests.java
Labels: >test-mute

#57579 [7.7] Mute EmailSslTests test case in fips (#57576)
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/email/EmailSslTests.java
Labels: backport

#57578 [7.8] Mute EmailSslTests test case in fips (#57576)
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/email/EmailSslTests.java
Labels: backport

#57039 Add http proxy support for OIDC realm
  docs/reference/settings/security-settings.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/oidc/OpenIdConnectRealmSettings.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectRealmSettingsTests.java
  x-pack/qa/oidc-op-tests/build.gradle
  x-pack/qa/oidc-op-tests/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthIT.java
  x-pack/test/idp-fixture/docker-compose.yml
  x-pack/test/idp-fixture/oidc/nginx.conf
Labels: :Security/Authentication, >enhancement, Team:Security, v7.9.0, v8.0.0

#57577 [7.x] Mute EmailSslTests test case in fips (#57576)
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/email/EmailSslTests.java
Labels: backport

#57518 SQL: Implement TRIM function
  docs/reference/sql/functions/index.asciidoc
  docs/reference/sql/functions/string.asciidoc
  x-pack/plugin/sql/qa/server/src/main/resources/command.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/string-functions.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/SqlFunctionRegistry.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Trim.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/whitelist/InternalSqlScriptUtils.java
  x-pack/plugin/sql/src/main/resources/org/elasticsearch/xpack/sql/plugin/sql_whitelist.txt
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionProcessorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
Labels: :Query Languages/SQL, >enhancement, Team:QL, v7.9.0, v8.0.0

#57567 Increase timeout for GlobalCheckpointSyncIT
  server/src/internalClusterTest/java/org/elasticsearch/index/seqno/GlobalCheckpointSyncIT.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Distributed/Distributed, >test, Team:Distributed, v7.8.1, v7.9.0, v8.0.0

#57595 [7.8] [DOCS] Add release notes for 7.7.1 (#57566)
  docs/reference/release-notes/7.7.asciidoc
Labels: >docs, >non-issue, Team:Docs, backport, v7.8.1

#57597 [7.7] [DOCS] Add release notes for 7.7.1 (#57566)
  docs/reference/release-notes/7.7.asciidoc
Labels: >docs, >non-issue, Team:Docs, backport, v7.7.1

#57593 SQL: Implement TRIM function (#57518)
  docs/reference/sql/functions/index.asciidoc
  docs/reference/sql/functions/string.asciidoc
  x-pack/plugin/sql/qa/server/src/main/resources/command.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/string-functions.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/SqlFunctionRegistry.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/Trim.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/whitelist/InternalSqlScriptUtils.java
  x-pack/plugin/sql/src/main/resources/org/elasticsearch/xpack/sql/plugin/sql_whitelist.txt
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionProcessorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
Labels: :Query Languages/SQL, >enhancement, Team:QL, backport

#57594 SQL: Use java String methods for LTRIM/RTRIM
  x-pack/plugin/sql/qa/server/src/main/resources/string-functions.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringProcessor.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/string/StringFunctionProcessorTests.java
Labels: :Query Languages/SQL, >enhancement, Team:QL, v7.9.0, v8.0.0

#57599 Bump version to 6.8.11
  .ci/bwcVersions
  buildSrc/version.properties
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v6.8.10

#57367 [DOCS] Add clear scroll API reference docs
  docs/reference/search.asciidoc
  docs/reference/search/clear-scroll-api.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, v7.7.2, v7.8.1, v7.9.0, v8.0.0

#57042 Increase search.max_buckets to 65,535
  docs/reference/aggregations/bucket.asciidoc
  server/src/main/java/org/elasticsearch/search/aggregations/MultiBucketConsumerService.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BucketsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/InternalAdjacencyMatrix.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/InternalComposite.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/InternalGeoGrid.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalAutoDateHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalDateHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/LongRareTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/NumericTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/StringRareTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsAggregator.java
  server/src/test/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerServiceTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregatorTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/AutoDateHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalAutoDateHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/DateRangeAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalAggregationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalMultiBucketAggregationTestCase.java
  x-pack/plugin/sql/qa/jdbc/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/JdbcErrorsTestCase.java
  x-pack/plugin/sql/qa/server/src/main/java/org/elasticsearch/xpack/sql/qa/cli/ErrorsTestCase.java
  x-pack/plugin/sql/qa/server/src/main/java/org/elasticsearch/xpack/sql/qa/rest/RestSqlTestCase.java
Labels: :Analytics/Aggregations, >enhancement, Team:Analytics, v7.9.0, v8.0.0

#57602 [7.7] Introduce v6.8.11
  .ci/bwcVersions
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v7.7.2

#57611 [7.x] [DOCS] Add clear scroll API reference docs (#57367)
  docs/reference/search.asciidoc
  docs/reference/search/clear-scroll-api.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.9.0
