Repository elastic/elasticsearch, pull requests merged in 2020-01, with the labels that each got.

#50419 Remove CreateIndexRequest.addMapping(type, string, xcontenttype)
  server/src/main/java/org/elasticsearch/action/admin/indices/create/CreateIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/CreateIndexRequestBuilder.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/CreateIndexRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexIT.java
  server/src/test/java/org/elasticsearch/cluster/SpecificMasterNodesIT.java
  server/src/test/java/org/elasticsearch/gateway/GatewayIndexStateIT.java
  server/src/test/java/org/elasticsearch/gateway/RecoveryFromGatewayIT.java
  server/src/test/java/org/elasticsearch/get/GetActionIT.java
  server/src/test/java/org/elasticsearch/index/mapper/CopyToMapperIntegrationIT.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MapperServiceTests.java
  server/src/test/java/org/elasticsearch/indices/mapping/ConcurrentDynamicTemplateIT.java
  server/src/test/java/org/elasticsearch/indices/mapping/UpdateMappingIntegrationIT.java
  server/src/test/java/org/elasticsearch/indices/memory/breaker/RandomExceptionCircuitBreakerIT.java
  server/src/test/java/org/elasticsearch/indices/state/OpenCloseIndexIT.java
  server/src/test/java/org/elasticsearch/indices/stats/IndexStatsIT.java
  server/src/test/java/org/elasticsearch/routing/PartitionedRoutingIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/DateHistogramIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/TermsDocCountErrorIT.java
  server/src/test/java/org/elasticsearch/search/basic/SearchWithRandomExceptionsIT.java
  server/src/test/java/org/elasticsearch/search/basic/SearchWithRandomIOExceptionsIT.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
  server/src/test/java/org/elasticsearch/search/geo/GeoFilterIT.java
  server/src/test/java/org/elasticsearch/search/geo/GeoShapeIntegrationIT.java
  server/src/test/java/org/elasticsearch/search/geo/GeoShapeQueryTests.java
  server/src/test/java/org/elasticsearch/search/geo/LegacyGeoShapeIntegrationIT.java
  server/src/test/java/org/elasticsearch/search/morelikethis/MoreLikeThisIT.java
  server/src/test/java/org/elasticsearch/search/nested/SimpleNestedIT.java
  server/src/test/java/org/elasticsearch/search/query/SimpleQueryStringIT.java
  server/src/test/java/org/elasticsearch/search/slice/SearchSliceIT.java
  server/src/test/java/org/elasticsearch/search/sort/SimpleSortIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/license/MachineLearningLicensingTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecurityIndexManager.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/throttler/ActionThrottleTests.java
Labels: :Distributed/CRUD, >refactoring, v8.0.0

#50549 Fix type conversion problem in Eclipse
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
Labels: >non-issue, >test, v7.6.0, v8.0.0

#50499 Deprecate the 'local' parameter of /_cat/nodes
  docs/reference/cat/nodes.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.nodes.json
  server/src/main/java/org/elasticsearch/rest/action/cat/RestNodesAction.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestNodesActionTests.java
Labels: :Core/Infra/Core, >deprecation, v7.6.0, v8.0.0

#50551 Mute testStopAndRestart test case
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
Labels: :ml, >test-mute, v7.6.0

#50471 Make some ObjectParsers final
  client/rest-high-level/src/main/java/org/elasticsearch/client/core/MainResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ilm/LifecyclePolicy.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/explain/FieldSelection.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/CreateApiKeyResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/GetApiKeyResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/InvalidateApiKeyResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/support/ApiKey.java
  modules/aggs-matrix-stats/src/main/java/org/elasticsearch/search/aggregations/matrix/stats/ParsedMatrixStats.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicy.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/CloseJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/IsolateDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/OpenJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/RevertModelSnapshotAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StopDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/explain/FieldSelection.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/ApiKey.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/CreateApiKeyResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/GetApiKeyResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/InvalidateApiKeyResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/PreviewTransformAction.java
Labels: :Core/Infra/Core, >refactoring, v7.6.0, v8.0.0

#50475 Docs: Refine note about `after_key`
  docs/reference/aggregations/bucket/composite-aggregation.asciidoc
Labels: :Analytics/Aggregations, >docs, v7.5.2, v7.6.0, v8.0.0

#50550 Make EC2 Discovery Plugin Retry Requests
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2ServiceImpl.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/EC2RetriesTests.java
Labels: :Distributed/Discovery-Plugins, >bug, v7.6.0, v8.0.0

#50556 Make some ObjectParsers final (backport of #50471)
  client/rest-high-level/src/main/java/org/elasticsearch/client/core/MainResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicy.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/explain/FieldSelection.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/CreateApiKeyResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/GetApiKeyResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/InvalidateApiKeyResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/support/ApiKey.java
  modules/aggs-matrix-stats/src/main/java/org/elasticsearch/search/aggregations/matrix/stats/ParsedMatrixStats.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicy.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/CloseJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/IsolateDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/OpenJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/RevertModelSnapshotAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StopDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/explain/FieldSelection.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/ApiKey.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/CreateApiKeyResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/GetApiKeyResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/InvalidateApiKeyResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/PreviewTransformAction.java
Labels: backport, v7.6.0

#50438 Delete removed token filter names from SynonymsAnalysisTests
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/SynonymsAnalysisTests.java
Labels: :Search/Analysis, >test, v8.0.0

#50558 Make EC2 Discovery Plugin Retry Requests (#50550)
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2ServiceImpl.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/EC2RetriesTests.java
Labels: :Distributed/Discovery-Plugins, backport

#50544 [7.5][DOCS] Move machine learning result definitions into APIs
  docs/reference/ml/anomaly-detection/apis/get-bucket.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-category.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-influencer.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-overall-buckets.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
  docs/reference/ml/anomaly-detection/apis/resultsresource.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/rest-api/defs.asciidoc
Labels: backport

#50559 Docs: Refine note about `after_key` (backport of #50475)
  docs/reference/aggregations/bucket/composite-aggregation.asciidoc
Labels: backport

#50557 Remove included docs
  docs/reference/cat/nodes.asciidoc
Labels: :Core/Infra/Core, >docs, v7.6.0

#50563 [DOCS] Correct typos in Painless datetime docs
  docs/painless/painless-guide/painless-datetime.asciidoc
Labels: :Core/Infra/Scripting, >docs, v6.8.7, v7.5.2, v7.6.0, v8.0.0

#49081 Enhance TransportReplicationAction assertions
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
Labels: :Distributed/CRUD, >test, v7.6.0, v8.0.0

#50566 [DOCS] Adds machine learning filter and calendar attributes
  docs/reference/ml/anomaly-detection/apis/close-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/eventresource.asciidoc
  docs/reference/ml/anomaly-detection/apis/filterresource.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-filter.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, v8.0.0

#50565 [7.x][DOCS] Remove redundant results from ML APIs
  docs/reference/ml/anomaly-detection/apis/close-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/eventresource.asciidoc
  docs/reference/ml/anomaly-detection/apis/filterresource.asciidoc
  docs/reference/ml/anomaly-detection/apis/flush-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/open-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/set-upgrade-mode.asciidoc
  docs/reference/ml/anomaly-detection/apis/start-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/stop-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: backport

#50570 [7.5][DOCS] Remove redundant results from ML APIs (#50565)
  docs/reference/ml/anomaly-detection/apis/close-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/eventresource.asciidoc
  docs/reference/ml/anomaly-detection/apis/filterresource.asciidoc
  docs/reference/ml/anomaly-detection/apis/flush-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/open-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/set-upgrade-mode.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: backport

#50569 Mark some constants in decay functions final
  server/src/main/java/org/elasticsearch/index/query/functionscore/DecayFunctionBuilder.java
Labels: :Search/Ranking, >refactoring, v7.6.0, v8.0.0

#49744 Don't dump a stacktrace for invalid patterns when executing elasticse…
  docs/reference/commands/croneval.asciidoc
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/trigger/schedule/tool/CronEvalTool.java
Labels: :Core/Features/Watcher, >enhancement, v7.6.0, v8.0.0

#50578 [7.x] Don't dump a stacktrace for invalid patterns when executing elasticsearch-croneval (#49744) (f0bfe78d)
  docs/reference/commands/croneval.asciidoc
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/trigger/schedule/tool/CronEvalTool.java
Labels: backport, v7.6.0

#50581 [7.x] Synchronize processInStream.close() call
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/AbstractNativeProcess.java
Labels: :ml, >bug, v7.6.0

#50582 [DOCS] Specifies the possible data types of classification dependent_variable
  docs/reference/ml/df-analytics/apis/analysisobjects.asciidoc
Labels: :ml, >docs, v7.5.2, v7.6.0, v8.0.0

#49762 Add fuzzy intervals source
  docs/reference/query-dsl/intervals-query.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/search/230_interval_query.yml
  server/src/main/java/org/apache/lucene/queries/XIntervals.java
  server/src/main/java/org/elasticsearch/index/query/IntervalsSourceProvider.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/test/java/org/elasticsearch/index/query/IntervalQueryBuilderTests.java
Labels: :Search/Search, >feature, v7.6.0, v8.0.0

#50553 [ML] Implement force deleting a data frame analytics job
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/DeleteDataFrameAnalyticsRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  docs/java-rest/high-level/ml/delete-data-frame-analytics.asciidoc
  docs/reference/ml/df-analytics/apis/delete-dfanalytics.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/DeleteDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/KillProcessAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/dataframe/RestDeleteDataFrameAnalyticsAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_data_frame_analytics.json
Labels: :ml, >enhancement, v7.6.0, v8.0.0

#50587 [7.5][DOCS] Specifies the possible data types of classification dependent_variable
  docs/reference/ml/df-analytics/apis/dfanalyticsresources.asciidoc
Labels: :ml, >docs, backport, v7.5.2

#50522 ILM retryable async action steps
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/RolloverStep.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
Labels: :Core/Features/ILM+SLM, v7.6.0, v8.0.0

#49969 Add parameter to make sure that log of updating IndexSetting be more detailed
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/test/java/org/elasticsearch/common/settings/SettingTests.java
Labels: :Core/Infra/Settings, >enhancement, v7.6.0, v8.0.0

#50588 Adjust version skips for intervals rest tests
  rest-api-spec/src/main/resources/rest-api-spec/test/search/230_interval_query.yml
Labels: :Search/Search, >test, v8.0.0

#50589 [7.x][ML] Implement force deleting a data frame analytics job (#50553)
  client/rest-high-level/src/main/java/org/elasticsearch/client/MLRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/DeleteDataFrameAnalyticsRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MLRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  docs/java-rest/high-level/ml/delete-data-frame-analytics.asciidoc
  docs/reference/ml/df-analytics/apis/delete-dfanalytics.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/DeleteDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/KillProcessAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/dataframe/RestDeleteDataFrameAnalyticsAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_data_frame_analytics.json
Labels: :ml, >enhancement, backport

#50592 Remove some Dead Code from Discovery Plugins
  plugins/discovery-azure-classic/src/main/java/org/elasticsearch/cloud/azure/classic/AzureServiceDisableException.java
  plugins/discovery-azure-classic/src/main/java/org/elasticsearch/cloud/azure/classic/AzureServiceRemoteException.java
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2ServiceImpl.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/AwsEc2ServiceImplTests.java
  plugins/discovery-gce/src/main/java/org/elasticsearch/cloud/gce/GceModule.java
  server/src/main/java/org/elasticsearch/discovery/BlockingClusterStatePublishResponseHandler.java
  server/src/main/java/org/elasticsearch/discovery/DiscoveryModule.java
  server/src/main/java/org/elasticsearch/discovery/MasterNotDiscoveredException.java
  server/src/main/java/org/elasticsearch/gateway/LocalAllocateDangledIndices.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/discovery/BlockingClusterStatePublishResponseHandlerTests.java
  server/src/test/java/org/elasticsearch/discovery/DiscoveryModuleTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDatafeedAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportDeleteRollupJobAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportGetRollupJobAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportStopTransformAction.java
Labels: :Distributed/Discovery-Plugins, >non-issue, v7.6.0, v8.0.0

#50555 [DOCS] Reformat uppercase token filter docs
  docs/reference/analysis/tokenfilters/uppercase-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs

#50601 [DOCS] Fine-tunes training_percent definition
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, v7.6.0, v8.0.0

#50602 [7.5][DOCS] Fine-tunes training_percent definition
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, backport, v7.5.2

#50591 ILM retryable async action steps (#50522)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/RolloverStep.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
Labels: backport, v7.6.0

#50417 Improve FutureUtils.get exception handling (#50339)
  server/src/main/java/org/elasticsearch/action/support/AdapterActionFuture.java
  server/src/main/java/org/elasticsearch/cluster/action/index/MappingUpdatedAction.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/FutureUtils.java
  server/src/test/java/org/elasticsearch/action/StepListenerTests.java
  server/src/test/java/org/elasticsearch/action/support/AdapterActionFutureTests.java
Labels: :Distributed/Recovery, >non-issue, backport, v7.5.2, v7.6.0

#50599 [ML] Unmute BWC tests and fix version after backport of #50553
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/DeleteDataFrameAnalyticsAction.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/90_ml_data_frame_analytics_crud.yml
Labels: :ml, >non-issue, v8.0.0

#50506 Guard against null geoBoundingBox
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ParsedGeoBounds.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalGeoBoundsTests.java
Labels: :Analytics/Geo, v7.6.0, v8.0.0

#50590 [DOCS] Fix missing start quote
  docs/reference/query-dsl/script-score-query.asciidoc
Labels: :Search/Search, >docs

#50575 Mark some constants in decay functions final (backport of #50569)
  server/src/main/java/org/elasticsearch/index/query/functionscore/DecayFunctionBuilder.java
Labels: backport

#50608 Guard against null geoBoundingBox (#50506)
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ParsedGeoBounds.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalGeoBoundsTests.java
Labels: backport, v7.6.0

#50573 Use Void context on parsers where possible
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/remote/RemoteResponseParsers.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/remote/RemoteResponseParsersTests.java
  x-pack/plugin/search-business-rules/src/main/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilder.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/SqlClearCursorRequest.java
Labels: :Core/Infra/Core, >refactoring, v7.6.0, v8.0.0

#50564 x-content: Support collapsed named objects
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/ObjectParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentParseException.java
  libs/x-content/src/test/java/org/elasticsearch/common/xcontent/ObjectParserTests.java
Labels: :Core/Infra/Core, >non-issue, backport pending, v7.6.0, v8.0.0

#50574 [DOCS] Adds missing timing_stats descriptions
  docs/reference/ml/anomaly-detection/apis/get-datafeed-stats.asciidoc
Labels: :ml, >docs, v7.5.2, v7.6.0, v8.0.0

#50617 Use Void context on parsers where possible (backport of #50573)
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/remote/RemoteResponseParsers.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/remote/RemoteResponseParsersTests.java
  x-pack/plugin/search-business-rules/src/main/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilder.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/SqlClearCursorRequest.java
Labels: backport, v7.6.0

#49768 Initial EQL rest API implementation
  x-pack/plugin/eql/build.gradle
  x-pack/plugin/eql/qa/build.gradle
  x-pack/plugin/eql/qa/common/build.gradle
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/CommonEqlRestTestCase.java
  x-pack/plugin/eql/qa/rest/build.gradle
  x-pack/plugin/eql/qa/rest/src/test/java/org/elasticsearch/xpack/eql/EqlIT.java
  x-pack/plugin/eql/qa/rest/src/test/java/org/elasticsearch/xpack/eql/EqlRestIT.java
  x-pack/plugin/eql/qa/rest/src/test/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchResponse.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/EqlPlugin.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/RestEqlSearchAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlRequestParserTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchResponseTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/eql.search.json
Labels: :Search/EQL

#50607 Make EC2 Discovery Cache Empty Seed Hosts List
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2SeedHostsProvider.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/Ec2DiscoveryTests.java
Labels: :Distributed/Discovery-Plugins, >bug, v7.6.0, v8.0.0

#50619 x-content: Support collapsed named objects (backport of #50564)
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/ObjectParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentParseException.java
  libs/x-content/src/test/java/org/elasticsearch/common/xcontent/ObjectParserTests.java
Labels: backport, v7.6.0

#50626 Make EC2 Discovery Cache Empty Seed Hosts List (#50607)
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2SeedHostsProvider.java
  plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2/Ec2DiscoveryTests.java
Labels: :Distributed/Discovery-Plugins, backport

#50627 Clean up wire test case a bit
  libs/geo/src/test/java/org/elasticsearch/geometry/BaseGeometryTestCase.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/RolloverResponseTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractWireSerializingTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractWireTestCase.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/AbstractSqlWireSerializingTestCase.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/session/ListCursorTests.java
Labels: :Core/Infra/Build, >refactoring, v7.6.0, v8.0.0

#50632 Clean up wire test case a bit (backport of #50627)
  libs/geo/src/test/java/org/elasticsearch/geometry/BaseGeometryTestCase.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/RolloverResponseTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractWireSerializingTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractWireTestCase.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/AbstractSqlWireSerializingTestCase.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/session/ListCursorTests.java
Labels: backport, v7.6.0

#50502 Deprecate indices without soft-deletes
  docs/reference/index-modules/history-retention.asciidoc
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.create/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.stats/20_translog.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: :Distributed/Distributed, >deprecation, v7.6.0, v8.0.0

#50347 Remove obsolete constructor from SSLService
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLService.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/transport/ProfileConfigurationsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationReloaderTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLServiceTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/TestsSSLService.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterIT.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterSslIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/tool/CommandLineHttpClient.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/tool/SetupPasswordTool.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/PkiRealmBootstrapCheckTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/oidc/TransportOpenIdConnectLogoutActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/tool/CommandLineHttpClientTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/tool/SetupPasswordToolTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapSessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapTestUtils.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapUserSearchSessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactoryLoadBalancingTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/AbstractSimpleSecurityTransportTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ssl/SslIntegrationTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLErrorMessageCertificateVerificationTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLErrorMessageFileTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLReloadIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLTrustRestrictionsTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/email/EmailSslTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookHttpsIntegrationTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpClientTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpConnectionTimeoutTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpReadTimeoutTests.java
  x-pack/qa/openldap-tests/src/test/java/org/elasticsearch/test/OpenLdapTests.java
  x-pack/qa/openldap-tests/src/test/java/org/elasticsearch/xpack/security/authc/ldap/OpenLdapUserSearchSessionFactoryTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ADLdapUserSearchSessionFactoryTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractActiveDirectoryTestCase.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactoryTests.java
Labels: :Security/Network, >refactoring, v7.6.0, v8.0.0

#50207 Security should not reload files that haven't changed
  server/src/main/java/org/elasticsearch/common/util/Maps.java
  server/src/test/java/org/elasticsearch/common/util/MapsTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/file/FileUserPasswdStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/file/FileUserRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/DnRoleMapper.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/FileRolesStore.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/file/FileUserPasswdStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/file/FileUserRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/DnRoleMapperTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/FileRolesStoreTests.java
Labels: :Security/Security, >enhancement, v7.6.0, v8.0.0

#50463 Re-enable FullClusterRestartIT#testWatcher test
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Core/Features/Watcher, >test, v8.0.0

#50489 Add 'monitor_snapshot' cluster privilege
  x-pack/docs/en/rest-api/security/get-builtin-privileges.asciidoc
  x-pack/docs/en/security/authorization/privileges.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/integration/ClusterPrivilegeTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/privileges/11_builtin.yml
Labels: :Security/Authorization

#49896 Packet-based enc/dec cipher streams
  x-pack/plugin/repository-encrypted/build.gradle
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/BufferOnMarkInputStream.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/ChainingInputStream.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/CountingInputStream.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/DecryptionPacketsInputStream.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptedRepository.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptedRepositoryPlugin.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptionPacketsInputStream.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/PrefixInputStream.java
  x-pack/plugin/repository-encrypted/src/main/plugin-metadata/plugin-security.policy
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/BufferOnMarkInputStreamTests.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/ChainingInputStreamTests.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/CountingInputStreamTests.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/DecryptionPacketsInputStreamTests.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/EncryptionPacketsInputStreamTests.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/PrefixInputStreamTests.java
  x-pack/plugin/repository-encrypted/src/test/resources/rest-api-spec/test/repository_encrypted/10_basic.yml
Labels: :Security/Security, >feature

#50645 Collect shard sizes for closed indices
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
  server/src/test/java/org/elasticsearch/cluster/ClusterInfoServiceIT.java
Labels: :Distributed/Allocation, >bug, v7.6.0, v8.0.0

#50647 BACKPORT Add 'monitor_snapshot' cluster privilege (#50489)
  x-pack/docs/en/rest-api/security/get-builtin-privileges.asciidoc
  x-pack/docs/en/security/authorization/privileges.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/integration/ClusterPrivilegeTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/privileges/11_builtin.yml
Labels: backport, v7.6.0

#50523 Workaround for JDK 14 EA FileChannel.map issue
  server/src/main/java/org/elasticsearch/bootstrap/Bootstrap.java
  test/framework/src/main/java/org/elasticsearch/bootstrap/BootstrapForTesting.java
Labels: :Core/Infra/Core, >non-issue, v6.8.7, v7.5.2, v7.6.0, v8.0.0

#50326 Add tests for remaining IntervalsSourceProvider implementations
  server/src/main/java/org/elasticsearch/index/query/IntervalsSourceProvider.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/test/java/org/elasticsearch/index/query/CombineIntervalsSourceProviderTests.java
  server/src/test/java/org/elasticsearch/index/query/DisjunctionIntervalsSourceProviderTests.java
  server/src/test/java/org/elasticsearch/index/query/FilterIntervalsSourceProviderTests.java
  server/src/test/java/org/elasticsearch/index/query/FuzzyIntervalsSourceProviderTests.java
  server/src/test/java/org/elasticsearch/index/query/IntervalQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/MatchIntervalsSourceProviderTests.java
  server/src/test/java/org/elasticsearch/index/query/WildcardIntervalsSourceProviderTests.java
Labels: :Search/Search, >test, v8.0.0

#50526 Deleted docs disregarded for if_seq_no check
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/indices/settings/UpdateSettingsIT.java
  server/src/test/java/org/elasticsearch/versioning/SimpleVersioningIT.java
Labels: :Distributed/Engine, >enhancement, v7.6.0, v8.0.0

#50623 Replace bespoke parser for significance heuristics
  server/src/main/java/org/elasticsearch/common/xcontent/ParseFieldRegistry.java
  server/src/main/java/org/elasticsearch/plugins/SearchPlugin.java
  server/src/main/java/org/elasticsearch/script/Script.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTextAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/ChiSquare.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/GND.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/JLHScore.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/MutualInformation.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/NXYSignificanceHeuristic.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/PercentageScore.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/ScriptHeuristic.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/SignificanceHeuristicParser.java
  server/src/test/java/org/elasticsearch/search/SearchModuleTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/SignificantTermsSignificanceScoreIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/significant/SignificanceHeuristicTests.java
Labels: :Analytics/Aggregations, >breaking-java, >refactoring, v7.6.0, v8.0.0

#50634 Deprecate indices without soft-deletes (#50502)
  docs/reference/index-modules/history-retention.asciidoc
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.create/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.stats/20_translog.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >deprecation

#50038 [DOCS] Warn about using `geo_centroid` as sub-agg to `geohash_grid`
  docs/reference/aggregations/metrics/geocentroid-aggregation.asciidoc
Labels: :Analytics/Geo, >docs

#50594 Remove the 'local' parameter of /_cat/nodes
  docs/reference/cat/nodes.asciidoc
  docs/reference/migration/migrate_8_0.asciidoc
  docs/reference/migration/migrate_8_0/api.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.nodes.json
  server/src/main/java/org/elasticsearch/rest/action/cat/RestNodesAction.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestNodesActionTests.java
Labels: :Core/Infra/Core, >breaking, v8.0.0

#50653 Fix ingest stats test bug.
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsNodesTests.java
Labels: :Core/Features/Stats, >non-issue, >test, v7.6.0, v8.0.0

#50510 [DOCS] Remove unneeded redirects
  docs/reference/redirects.asciidoc
Labels: :Docs, >docs, v7.6.0, v8.0.0

#50663 Fix testRecoverFromHardDeletesIndex
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: :Distributed/Engine, >test, v7.6.0, v8.0.0

#50666 Fix GCS Mock Broken Handling of some Blobs
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESBlobStoreRepositoryIntegTestCase.java
Labels: :Distributed/Snapshot/Restore, >test, v7.6.0, v8.0.0

#50624 Add aditional logging for ILM history store tests
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
Labels: :Core/Features/ILM+SLM, >non-issue, v7.6.0, v8.0.0

#50665 Remove unused IndicesOptions#fromByte method
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/test/java/org/elasticsearch/action/support/IndicesOptionsTests.java
Labels: :Core/Features/Indices APIs, >non-issue, v7.6.0, v8.0.0

#50620 Remove races in ProxyConnectionStrategyTests
  server/src/test/java/org/elasticsearch/transport/ProxyConnectionStrategyTests.java
Labels: :Distributed/Network, >test, v7.6.0, v8.0.0

#50661 [DOCS] Remove unused docinfo.xml files
  docs/reference/index-docinfo.xml
  docs/reference/index.x-docinfo.xml
Labels: :Docs, >docs, v8.0.0

#50292 [ML][Inference] lang_ident model
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/CustomWordEmbedding.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ContinuousFeatureValue.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/DiscreteFeatureValue.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/FeatureExtractor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/FeatureUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/FeatureValue.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/Hash32.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/NGramFeatureExtractor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/RelevantScriptFeatureExtractor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ScriptCode.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ScriptDetector.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ScriptFeatureExtractor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/langident/LangIdentNeuralNetwork.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/langident/LangNetLayer.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/CustomWordEmbeddingTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/FeatureUtilsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/Hash32Tests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/NGramFeatureExtractorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/RelevantScriptFeatureExtractorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ScriptDetectorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ScriptFeatureExtractorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/langident/LangIdentNeuralNetworkTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/langident/LangNetLayerTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/langident/LanguageExamples.java
  x-pack/plugin/core/src/test/resources/org/elasticsearch/xpack/core/ml/inference/language_examples.json
  x-pack/plugin/core/src/test/resources/org/elasticsearch/xpack/core/ml/inference/ngram_examples.json
  x-pack/plugin/ml/src/main/resources/org/elasticsearch/xpack/ml/inference/persistence/lang_ident_model_1.json
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/trainedmodels/langident/LangIdentNeuralNetworkInferenceTests.java
Labels: :ml, >non-issue, v7.6.0, v8.0.0

#50659 Replace bespoke parser for significance heuristics (backport of #50623)
  server/src/main/java/org/elasticsearch/plugins/SearchPlugin.java
  server/src/main/java/org/elasticsearch/script/Script.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/SignificantTextAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/ChiSquare.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/GND.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/JLHScore.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/MutualInformation.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/NXYSignificanceHeuristic.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/PercentageScore.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/ScriptHeuristic.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/significant/heuristics/SignificanceHeuristicParser.java
  server/src/test/java/org/elasticsearch/search/SearchModuleTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/SignificantTermsSignificanceScoreIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/significant/SignificanceHeuristicTests.java
Labels: backport, v7.6.0

#50633 Fix bare warnings on RollupJobTests
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/RollupJobTests.java
Labels: :Analytics/Rollup, >refactoring, v7.6.0, v8.0.0

#50625 Replace AggParseContext with a String
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregatorFactories.java
Labels: :Analytics/Aggregations, >refactoring, v7.6.0, v8.0.0

#50671 Fix GCS Mock Broken Handling of some Blobs (#50666)
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESBlobStoreRepositoryIntegTestCase.java
Labels: :Distributed/Snapshot/Restore, backport

#50673 Fix testRelocationEstablishedPeerRecoveryRetentionLeases
  server/src/test/java/org/elasticsearch/recovery/RelocationIT.java
Labels: :Distributed/Distributed, >test, v7.6.0, v8.0.0

#50474 Drop references to deprecated logger
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/ApiKeyBaseRestHandler.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/oidc/OpenIdConnectBaseRestHandler.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/oidc/RestOpenIdConnectAuthenticateAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/oidc/RestOpenIdConnectPrepareAuthenticationAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/saml/RestSamlAuthenticateAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/saml/SamlBaseRestHandler.java
Labels: :Security/Security, >refactoring, v7.6.0, v8.0.0

#50677 Fix bare warnings on RollupJobTests (backport of #50633)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/job/RollupJobTests.java
Labels: backport, v7.6.0

#50676 [7.x] [ML][Inference] minor cleanup for inference (#50444)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/InferenceToXContentCompressor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessor.java
Labels: :ml, backport

#50679 Replace AggParseContext with a String (backport of #50625)
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregatorFactories.java
Labels: backport, v7.6.0

#50657 [ML] construct new random generator on each persistence call
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterService.java
Labels: :ml, >non-issue, v7.6.0, v8.0.0

#50675 [7.x] [ML][Inference] lang_ident model (#50292)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/CustomWordEmbedding.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ContinuousFeatureValue.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/DiscreteFeatureValue.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/FeatureExtractor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/FeatureUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/FeatureValue.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/Hash32.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/NGramFeatureExtractor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/RelevantScriptFeatureExtractor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ScriptCode.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ScriptDetector.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ScriptFeatureExtractor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/langident/LangIdentNeuralNetwork.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/langident/LangNetLayer.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/CustomWordEmbeddingTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/FeatureUtilsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/Hash32Tests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/NGramFeatureExtractorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/RelevantScriptFeatureExtractorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ScriptDetectorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/customwordembedding/ScriptFeatureExtractorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/langident/LangIdentNeuralNetworkTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/langident/LangNetLayerTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/langident/LanguageExamples.java
  x-pack/plugin/core/src/test/resources/org/elasticsearch/xpack/core/ml/inference/language_examples.json
  x-pack/plugin/core/src/test/resources/org/elasticsearch/xpack/core/ml/inference/ngram_examples.json
  x-pack/plugin/ml/src/main/resources/org/elasticsearch/xpack/ml/inference/persistence/lang_ident_model_1.json
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/trainedmodels/langident/LangIdentNeuralNetworkInferenceTests.java
Labels: :ml, backport

#50684 [7.x] [ML] construct new random generator on each persistence call (#50657)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterService.java
Labels: :ml, backport

#50682 Drop unused logger
  server/src/main/java/org/elasticsearch/rest/BaseRestHandler.java
Labels: :Core/Infra/REST API, >refactoring, v8.0.0

#50681 Drop references to deprecated logger (backport of #50474)
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/ApiKeyBaseRestHandler.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/oidc/OpenIdConnectBaseRestHandler.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/oidc/RestOpenIdConnectAuthenticateAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/oidc/RestOpenIdConnectPrepareAuthenticationAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/saml/RestSamlAuthenticateAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/saml/SamlBaseRestHandler.java
Labels: backport, v7.6.0

#50683 Remove unused IndicesOptions#fromByte method
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsRequestTests.java
  server/src/test/java/org/elasticsearch/action/support/IndicesOptionsTests.java
Labels: backport

#50678 [7.x] Add aditional logging for ILM history store tests (#5062…
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
Labels: :Core/Features/ILM+SLM, >non-issue, backport, v7.6.0

#50686 Silence eclipse warnings about forbidden refs
  buildSrc/src/main/resources/eclipse.settings/org.eclipse.jdt.core.prefs
Labels: :Core/Infra/Build, >non-issue, v8.0.0

#50656 Check allocation id when failing shard on recovery
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
Labels: :Distributed/Recovery, >bug, v7.5.2, v7.6.0, v8.0.0

#50667 Fix testDelayVariabilityAppliesToFutureTasks
  test/framework/src/test/java/org/elasticsearch/cluster/coordination/DeterministicTaskQueueTests.java
Labels: :Distributed/Cluster Coordination, >test, v7.6.0, v8.0.0

#50664 Skip Linux OS checks unless running in CI
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/DistroTestPlugin.java
Labels: :Core/Infra/Packaging, >non-issue

#50669 Correctly handle MSM for nested disjunctions
  modules/percolator/src/main/java/org/elasticsearch/percolator/QueryAnalyzer.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/QueryAnalyzerTests.java
Labels: :Search/Percolator, >bug, v7.6.0, v8.0.0

#50655 [ML] Fix off-by-one error in ml_classic tokenizer end offset
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/MlClassicTokenizer.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/categorization/MlClassicTokenizerTests.java
Labels: :ml, >bug, v7.6.0, v8.0.0

#50644 [ML] Improve uniqueness of result document IDs
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MachineLearningField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyRecord.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/Forecast.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/Influencer.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ModelPlot.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyRecordTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/results/InfluencerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/results/ForecastTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/results/ModelPlotTests.java
Labels: :ml, >bug, v7.6.0, v8.0.0

#50697 [7.5][DOCS] Moves data frame analytics job resource definitions into APIs
  docs/reference/ml/df-analytics/apis/analysisobjects.asciidoc
  docs/reference/ml/df-analytics/apis/delete-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/dfanalyticsresources.asciidoc
  docs/reference/ml/df-analytics/apis/estimate-memory-usage-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/evaluate-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/evaluateresources.asciidoc
  docs/reference/ml/df-analytics/apis/get-dfanalytics-stats.asciidoc
  docs/reference/ml/df-analytics/apis/get-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/index.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/start-dfanalytics.asciidoc
  docs/reference/ml/df-analytics/apis/stop-dfanalytics.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  docs/reference/rest-api/defs.asciidoc
Labels: :ml, >docs, backport, v7.5.2

#50585 Implement testStopAndRestart for ClassificationIT
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
Labels: :ml, >test, v7.6.0, v8.0.0

#50698 [7.x] Implement testStopAndRestart for ClassificationIT (#50585)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
Labels: :ml, >test, backport

#50460 [7.x][Transform] implement a workaround for remote cluster validation
  server/src/main/java/org/elasticsearch/transport/NoSuchRemoteClusterException.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/common/validation/SourceDestValidator.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/common/validation/SourceDestValidatorTests.java
Labels: :ml/Transform, >non-issue, v7.6.0

#50680 [ML][Inference] Add support for models shipped as resources
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/InferenceIngestIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/TrainedModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProviderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/trainedmodels/langident/LangIdentNeuralNetworkInferenceTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/inference_crud.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/inference_stats_crud.yml
Labels: :ml, >non-issue, v7.6.0, v8.0.0

#50700 [7.x] [ML][Inference] Add support for models shipped as resources (#50680)
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/InferenceIngestIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/TrainedModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProviderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/trainedmodels/langident/LangIdentNeuralNetworkInferenceTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/inference_crud.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/inference_stats_crud.yml
Labels: :ml, backport

#50689 Disable auto refresh in testSegmentsStats
  server/src/test/java/org/elasticsearch/indices/stats/IndexStatsIT.java
Labels: :Distributed/Engine, >test, v6.8.7, v7.5.2, v7.6.0, v8.0.0

#50690 [DOCS] Update SQL REST API pages for new structure
  docs/reference/sql/endpoints/rest.asciidoc
Labels: :Search/SQL, >docs, v6.8.7, v7.5.2, v7.6.0, v8.0.0

#50706 Faster and Simpler GCS REST Mock
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
Labels: :Distributed/Snapshot/Restore, >test, v7.6.0, v8.0.0

#50691 Teach ObjectParser a happy pattern
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/ObjectParser.java
  libs/x-content/src/test/java/org/elasticsearch/common/xcontent/ObjectParserTests.java
  server/src/main/java/org/elasticsearch/action/admin/indices/analyze/AnalyzeAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/ResizeRequest.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/rescore/QueryRescorerBuilder.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/CompletionSuggestionBuilder.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/context/CategoryQueryContext.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/context/GeoQueryContext.java
Labels: :Core/Infra/Core, >non-issue, v7.6.0, v8.0.0

#50458 Add documentation for date_optional_time formatter (elastic#50457)
  docs/reference/mapping/params/format.asciidoc
Labels: :Search/Mapping, >docs, v7.5.2, v7.6.0

#50687 [DOCS] Reformat truncate token filter docs
  docs/reference/analysis/tokenfilters/truncate-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, v7.5.2, v7.6.0, v8.0.0

#50672 [DOCS] Reformat reverse token filter docs
  docs/reference/analysis/tokenfilters/reverse-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs

#50710 Teach ObjectParser a happy pattern (#50691)
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/ObjectParser.java
  libs/x-content/src/test/java/org/elasticsearch/common/xcontent/ObjectParserTests.java
  server/src/main/java/org/elasticsearch/action/admin/indices/analyze/AnalyzeAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/ResizeRequest.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/rescore/QueryRescorerBuilder.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/CompletionSuggestionBuilder.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/context/CategoryQueryContext.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/context/GeoQueryContext.java
Labels: backport, v7.6.0

#50709 Fix NPE bug inner_hits
  modules/parent-join/src/main/java/org/elasticsearch/join/query/ParentChildInnerHitContextBuilder.java
  modules/parent-join/src/test/resources/rest-api-spec/test/30_inner_hits.yml
Labels: :Search/Search, >bug, v6.8.7, v7.6.0, v8.0.0

#50414 Add cliSetup command to test clusters configuration
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClusterConfiguration.java
Labels: :Core/Infra/Build, >enhancement, v7.6.0, v8.0.0

#50466 [DOCS] Fuzzy wildcard not supported in `query_string`
  docs/reference/query-dsl/query-string-syntax.asciidoc
Labels: :Search/Search, >docs, v7.5.2, v7.6.0, v8.0.0

#50707 Faster and Simpler GCS REST Mock (#50706)
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
Labels: :Distributed/Snapshot/Restore, backport

#50609 Support offset in composite aggs
  docs/reference/aggregations/bucket/composite-aggregation.asciidoc
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/230_composite.yml
  server/src/main/java/org/elasticsearch/common/Rounding.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/DateHistogramValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateIntervalWrapper.java
  server/src/test/java/org/elasticsearch/common/RoundingTests.java
  server/src/test/java/org/elasticsearch/common/RoundingWireTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
  x-pack/qa/rolling-upgrade/build.gradle
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/80_transform_jobs_crud.yml
Labels: :Analytics/Aggregations, >docs, >enhancement, v7.6.0, v8.0.0

#50717 Specify the indexname in searches
  x-pack/plugin/src/test/resources/rest-api-spec/test/vectors/10_dense_vector_basic.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/vectors/15_dense_vector_l1l2.yml
Labels: :Search/Search, >test, v7.6.0

#50542 [DOCS] Update reference documentation that mentions CMS
  docs/reference/setup/bootstrap-checks.asciidoc
Labels: :Core/Infra/Settings, >docs

#50521 Populate User metadata with OpenIDConnect collections
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectRealmTests.java
Labels: :Security/Authentication, >bug, v7.6.0, v8.0.0

#50724 [Backport 7.x] Security should not reload files that haven't changed
  server/src/main/java/org/elasticsearch/common/util/Maps.java
  server/src/test/java/org/elasticsearch/common/util/MapsTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/file/FileUserPasswdStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/file/FileUserRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/DnRoleMapper.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/FileRolesStore.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/file/FileUserPasswdStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/file/FileUserRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/DnRoleMapperTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/FileRolesStoreTests.java
Labels: backport

#50696 Remove _reload_search_analyzer experimental status
  docs/reference/indices/apis/reload-analyzers.asciidoc
  x-pack/plugin/src/test/resources/rest-api-spec/api/indices.reload_search_analyzers.json
Labels: :Search/Analysis, >non-issue, v7.6.0, v8.0.0

#50702 Make the UpdateRolloverLifecycleDateStep retryable
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/UpdateRolloverLifecycleDateStep.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
Labels: :Core/Features/ILM+SLM, >enhancement, v7.6.0, v8.0.0

#50649 Import replicated closed dangling indices
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingTable.java
  server/src/main/java/org/elasticsearch/gateway/LocalAllocateDangledIndices.java
  server/src/test/java/org/elasticsearch/indices/recovery/DanglingIndicesIT.java
Labels: :Distributed/Cluster Coordination, >bug, v7.6.0, v8.0.0

#50730 [7.x] Make the UpdateRolloverLifecycleDateStep retryable (#50702)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/UpdateRolloverLifecycleDateStep.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
Labels: :Core/Features/ILM+SLM, backport, v7.6.0

#50178 Allow parsing timezone without fully provided time
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
Labels: :Core/Infra/Core, v7.6.0, v8.0.0

#50639 Use single directory for metadata
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/main/java/org/elasticsearch/env/NodeRepurposeCommand.java
  server/src/main/java/org/elasticsearch/gateway/PersistedClusterStateService.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/UnsafeBootstrapAndDetachCommandIT.java
  server/src/test/java/org/elasticsearch/gateway/PersistedClusterStateServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
Labels: :Distributed/Cluster Coordination, >enhancement

#50642 Add async dangling indices support
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexAliasesService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataMappingService.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/main/java/org/elasticsearch/gateway/MetaStateService.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/test/java/org/elasticsearch/cluster/coordination/UnsafeBootstrapAndDetachCommandIT.java
  server/src/test/java/org/elasticsearch/env/NodeEnvironmentIT.java
  server/src/test/java/org/elasticsearch/env/NodeRepurposeCommandIT.java
  server/src/test/java/org/elasticsearch/gateway/MetaStateServiceTests.java
  server/src/test/java/org/elasticsearch/gateway/RecoveryFromGatewayIT.java
  server/src/test/java/org/elasticsearch/indices/IndicesLifecycleListenerSingleNodeTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesServiceTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/AbstractIndicesClusterStateServiceTestCase.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/indices/recovery/DanglingIndicesIT.java
Labels: :Distributed/Cluster Coordination, >enhancement

#50525 Guess root cause support unwrap
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/210_pipeline_processor.yml
  modules/lang-painless/src/test/resources/rest-api-spec/test/painless/15_update.yml
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/test/java/org/elasticsearch/ElasticsearchExceptionTests.java
Labels: :Core/Infra/Core, >bug, v7.6.0, v8.0.0

#50381 Sync grok patterns with logstash patterns
  libs/grok/src/main/java/org/elasticsearch/grok/Grok.java
  libs/grok/src/main/resources/patterns/aws
  libs/grok/src/main/resources/patterns/bind
  libs/grok/src/main/resources/patterns/firewalls
  libs/grok/src/main/resources/patterns/grok-patterns
  libs/grok/src/main/resources/patterns/java
  libs/grok/src/main/resources/patterns/linux-syslog
  libs/grok/src/main/resources/patterns/maven
  libs/grok/src/main/resources/patterns/redis
  libs/grok/src/main/resources/patterns/squid
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/120_grok.yml
Labels: :Core/Features/Ingest

#50736 Fix and Reenable SnapshotTool Minio Tests
  plugins/repository-s3/build.gradle
  test/fixtures/minio-fixture/docker-compose.yml
  x-pack/snapshot-tool/qa/s3/build.gradle
  x-pack/snapshot-tool/qa/s3/docker-compose.yml
Labels: :Core/Infra/Build, :Distributed/Snapshot/Restore, >test, v7.6.0, v8.0.0

#50610 Run keystore management tests on docker distros
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/KeystoreManagementTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackagingTestCase.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Cleanup.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Distribution.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Docker.java
Labels: :Core/Infra/Packaging, >test

#50744 Disable BW compatibility tests for #49976.
  build.gradle
Labels: :Search/Mapping, >non-issue, v8.0.0

#50333 Add per-field metadata.
  client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java
  docs/reference/mapping/params.asciidoc
  docs/reference/mapping/params/meta.asciidoc
  docs/reference/mapping/types/boolean.asciidoc
  docs/reference/mapping/types/date.asciidoc
  docs/reference/mapping/types/keyword.asciidoc
  docs/reference/mapping/types/numeric.asciidoc
  docs/reference/mapping/types/text.asciidoc
  docs/reference/search/field-caps.asciidoc
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapperTests.java
  rest-api-spec/src/main/resources/rest-api-spec/test/field_caps/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/field_caps/20_meta.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_mapping/10_basic.yml
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilities.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesAction.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesIndexAction.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappedFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeParsers.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesTests.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/MergedFieldCapabilitiesResponseTests.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TypeParsersTests.java
  server/src/test/java/org/elasticsearch/search/fieldcaps/FieldCapabilitiesIT.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/AbstractNumericFieldMapperTestCase.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapperTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/index/IndexResolverTests.java
Labels: :Search/Mapping, backport

#50712 fix percentile aggregation tests
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/HDRPercentileRanksAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/HDRPercentilesAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TDigestPercentileRanksAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TDigestPercentilesAggregatorFactory.java
Labels: :Analytics/Aggregations

#50745 Fix and Reenable SnapshotTool Minio Tests (#50736)
  plugins/repository-s3/build.gradle
  test/fixtures/minio-fixture/docker-compose.yml
  x-pack/snapshot-tool/qa/s3/build.gradle
  x-pack/snapshot-tool/qa/s3/docker-compose.yml
Labels: :Distributed/Snapshot/Restore, backport

#50518 Upgrade to Lucene 8.4.0.
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.4.0-snapshot-08b8d116f8f.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.4.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.4.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.4.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.4.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.4.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.4.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.4.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.4.0.jar.sha1
  server/licenses/lucene-analyzers-common-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-analyzers-common-8.4.0.jar.sha1
  server/licenses/lucene-backward-codecs-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-backward-codecs-8.4.0.jar.sha1
  server/licenses/lucene-core-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-core-8.4.0.jar.sha1
  server/licenses/lucene-grouping-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-grouping-8.4.0.jar.sha1
  server/licenses/lucene-highlighter-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-highlighter-8.4.0.jar.sha1
  server/licenses/lucene-join-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-join-8.4.0.jar.sha1
  server/licenses/lucene-memory-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-memory-8.4.0.jar.sha1
  server/licenses/lucene-misc-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-misc-8.4.0.jar.sha1
  server/licenses/lucene-queries-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-queries-8.4.0.jar.sha1
  server/licenses/lucene-queryparser-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-queryparser-8.4.0.jar.sha1
  server/licenses/lucene-sandbox-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-sandbox-8.4.0.jar.sha1
  server/licenses/lucene-spatial-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-spatial-8.4.0.jar.sha1
  server/licenses/lucene-spatial-extras-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-spatial-extras-8.4.0.jar.sha1
  server/licenses/lucene-spatial3d-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-spatial3d-8.4.0.jar.sha1
  server/licenses/lucene-suggest-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-suggest-8.4.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.4.0-snapshot-08b8d116f8f.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.4.0.jar.sha1
Labels: :Distributed/Engine, >upgrade, v7.6.0, v8.0.0

#50746 Reenable bw tests after merging #50333.
  build.gradle
  rest-api-spec/src/main/resources/rest-api-spec/test/field_caps/20_meta.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_mapping/10_basic.yml
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilities.java
Labels: :Search/Mapping, >non-issue, v8.0.0

#50297 Implement weighted geo_shape centroid support
  server/src/main/java/org/elasticsearch/common/geo/CentroidCalculator.java
  server/src/main/java/org/elasticsearch/common/geo/DimensionalShapeType.java
  server/src/main/java/org/elasticsearch/common/geo/TriangleTreeReader.java
  server/src/main/java/org/elasticsearch/common/geo/TriangleTreeWriter.java
  server/src/main/java/org/elasticsearch/index/fielddata/MultiGeoValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoCentroidAggregator.java
  server/src/test/java/org/elasticsearch/common/geo/CentroidCalculatorTests.java
  server/src/test/java/org/elasticsearch/common/geo/GeoTestUtils.java
  server/src/test/java/org/elasticsearch/common/geo/TriangleTreeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/AbstractGeoTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/GeoCentroidAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/MissingValuesTests.java
Labels: :Analytics/Geo

#50719 Update similarity.asciidoc
  docs/reference/index-modules/similarity.asciidoc
Labels: :Search/Ranking, >docs, v7.5.2

#50301 [DOCS] Fixed typos (_op => op)
  docs/painless/painless-contexts/painless-reindex-context.asciidoc
  docs/painless/painless-contexts/painless-update-by-query-context.asciidoc
  docs/painless/painless-contexts/painless-update-context.asciidoc
Labels: :Core/Infra/Scripting, >docs

#50501 [DOCS] Add default index-time analyzer example
  docs/reference/analysis.asciidoc
Labels: :Search/Analysis, >docs, v7.5.2, v7.6.0, v8.0.0

#50662 Make Multiplexer inherit filter chains analysis mode
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/MultiplexerTokenFilterFactory.java
  server/src/main/java/org/elasticsearch/index/analysis/AnalysisMode.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/action/ReloadSynonymAnalyzerTests.java
Labels: :Search/Analysis, >enhancement, v7.6.0, v8.0.0

#50752 ElasticSearchExceptionTests guessRootCauses fix
  server/src/test/java/org/elasticsearch/ElasticsearchExceptionTests.java
Labels: :Core/Infra/Core, >test, v8.0.0

#50755 Mute TimeSeriesLifecycleActionsIT.testHistoryIsWritten*
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
Labels: :Core/Features/ILM+SLM, >test-mute, v7.6.0, v8.0.0

#50756 [DOCS] Adds DFA resources as deleted page to redirects
  docs/reference/redirects.asciidoc
Labels: v7.5.2, v7.6.0, v8.0.0

#50750 Upgrade to Lucene 8.4.0. (#50518)
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.4.0-snapshot-08b8d116f8f.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.4.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.4.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.4.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.4.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.4.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.4.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.4.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.4.0-snapshot-08b8d116f8f.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.4.0.jar.sha1
  server/licenses/lucene-analyzers-common-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-analyzers-common-8.4.0.jar.sha1
  server/licenses/lucene-backward-codecs-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-backward-codecs-8.4.0.jar.sha1
  server/licenses/lucene-core-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-core-8.4.0.jar.sha1
  server/licenses/lucene-grouping-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-grouping-8.4.0.jar.sha1
  server/licenses/lucene-highlighter-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-highlighter-8.4.0.jar.sha1
  server/licenses/lucene-join-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-join-8.4.0.jar.sha1
  server/licenses/lucene-memory-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-memory-8.4.0.jar.sha1
  server/licenses/lucene-misc-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-misc-8.4.0.jar.sha1
  server/licenses/lucene-queries-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-queries-8.4.0.jar.sha1
  server/licenses/lucene-queryparser-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-queryparser-8.4.0.jar.sha1
  server/licenses/lucene-sandbox-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-sandbox-8.4.0.jar.sha1
  server/licenses/lucene-spatial-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-spatial-8.4.0.jar.sha1
  server/licenses/lucene-spatial-extras-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-spatial-extras-8.4.0.jar.sha1
  server/licenses/lucene-spatial3d-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-spatial3d-8.4.0.jar.sha1
  server/licenses/lucene-suggest-8.4.0-snapshot-08b8d116f8f.jar.sha1
  server/licenses/lucene-suggest-8.4.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.4.0-snapshot-08b8d116f8f.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.4.0.jar.sha1
Labels: :Distributed/Store, backport, v7.6.0

#50742 Guess root cause support unwrap (#50525)
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/210_pipeline_processor.yml
  modules/lang-painless/src/test/resources/rest-api-spec/test/painless/15_update.yml
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/test/java/org/elasticsearch/ElasticsearchExceptionTests.java
Labels: :Core/Infra/Core, >bug, backport, v7.6.0

#50515 [DOCS] Add overview page to analysis topic
  docs/reference/analysis.asciidoc
  docs/reference/analysis/overview.asciidoc
Labels: :Search/Analysis, >docs, v7.5.2, v7.6.0, v8.0.0

#50740 Allow parsing timezone without fully provided time backport(#50178)
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
Labels: :Core/Infra/Core, backport
