Repository elastic/elasticsearch, pull requests merged in 2020-09, with the labels that each got.

#61726 Remove cluster state listener in BlobStoreCacheService
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/blobstore/cache/BlobStoreCacheService.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.10.0, v8.0.0

#61353 Remove redundant symbol
  server/src/test/resources/org/elasticsearch/action/search/simple-msearch1.json
Labels: :Search/Search, Team:Search

#61769 Remove cluster state listener in BlobStoreCacheService (#61726)
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/blobstore/cache/BlobStoreCacheService.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, backport, v7.10.0

#61727 Prevent snapshots to be mounted as system indices (#61517)
  server/src/main/java/org/elasticsearch/node/Node.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/TransportMountSearchableSnapshotAction.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/LocalStateSearchableSnapshots.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsSystemIndicesIntegTests.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport, v7.10.0

#61691 [6.8] Call ActionListener.onResponse exactly once (#61584)
  server/src/main/java/org/elasticsearch/action/ActionListener.java
  server/src/test/java/org/elasticsearch/action/ActionListenerTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealmTests.java
Labels: backport

#61714 Unmute TokenAuthIntegTests test
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
Labels: :Security/Authentication, >test-failure, Team:Security

#61715 Unmute TokenAuthIntegTests test
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
Labels: :Security/Authentication, >test-failure, Team:Security

#61624 Update logout guide for OIDC
  x-pack/docs/en/security/authentication/oidc-guide.asciidoc
Labels: :Security/Authentication, >docs, Team:Docs, Team:Security, v7.10.0, v7.9.2, v8.0.0

#61772 Remove usage of IndexSortSortedNumericDocValuesRangeQuery
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/ScaledFloatFieldTypeTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/IndexSortConfig.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/NumberFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryShardContextTests.java
  server/src/test/java/org/elasticsearch/index/search/NestedHelperTests.java
Labels: :Search/Search, >bug, Team:Search, v7.9.0

#61770 Fix Concurrent Snapshot Create+Delete + Delete Index
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, >bug, Team:Distributed, v7.10.0, v7.9.1, v8.0.0

#61639 Make Docker test robust when removing a temp dir
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Docker.java
Labels: :Core/Infra/Packaging, >test, Team:Core/Infra, v7.10.0, v8.0.0

#61773 Fix Concurrent Snapshot Create+Delete + Delete Index (#61770)
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#61774 Fix Concurrent Snapshot Create+Delete + Delete Index (#61770)
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#61777 [7.x] Fix wrong result when executing bulk requests with and without pipeline
  rest-api-spec/src/main/resources/rest-api-spec/test/bulk/90_pipeline.yml
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
Labels: :Core/Features/Ingest, >bug, Team:Core/Features, backport, v7.10.0

#61743 Fix jvm options expansion on windows
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
Labels: :Core/Infra/Build, Team:Core/Infra, v7.10.0, v8.0.0

#61781 Adjust BWC after backport of #60818
  rest-api-spec/src/main/resources/rest-api-spec/test/bulk/90_pipeline.yml
Labels: :Core/Features/Ingest, >non-issue, Team:Core/Features, v7.10.0, v7.9.2, v8.0.0

#61784 [7.x] Adjust BWC after backport of #60818
  rest-api-spec/src/main/resources/rest-api-spec/test/bulk/90_pipeline.yml
Labels: :Core/Features/Ingest, >non-issue, Team:Core/Features, backport, v7.10.0

#61782 [ML] Persist progress when setting DFA task to failed
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTaskTests.java
Labels: :ml, >bug, v7.10.0, v7.9.2, v8.0.0

#61365 Drop assertion that rest client response warnings conform to RFC 7234
  client/rest/src/main/java/org/elasticsearch/client/Response.java
Labels: :Core/Features/Java High Level REST Client, :Core/Infra/Logging, Team:Core/Features, Team:Core/Infra, v7.10.0, v7.9.2, v8.0.0

#61783 [DOCS] Fix JSON spec link for PIT API
  docs/reference/redirects.asciidoc
  x-pack/plugin/src/test/resources/rest-api-spec/api/close_point_in_time.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/open_point_in_time.json
Labels: >docs, Team:Docs, v7.10.0, v8.0.0

#61786 [7.9] Adjust BWC after backport of #60818
  rest-api-spec/src/main/resources/rest-api-spec/test/bulk/90_pipeline.yml
Labels: :Core/Features/Ingest, >non-issue, Team:Core/Features, backport, v7.9.2

#61787 Support format on runtime numbers
  x-pack/plugin/runtime-fields/qa/rest/build.gradle
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/ScriptDoubleMappedFieldType.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/ScriptLongMappedFieldType.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/ScriptDoubleMappedFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/ScriptLongMappedFieldTypeTests.java
Labels: :Search/Search, Team:Search

#61785 Throws IndexNotFoundException in TransportGetAction for unknown System indices
  server/src/main/java/org/elasticsearch/action/get/TransportGetAction.java
Labels: :Core/Infra/Core, >bug, Team:Core/Infra, v7.10.0, v8.0.0

#61792 [7.x][ML] Persist progress when setting DFA task to failed (#61782)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTaskTests.java
Labels: :ml, >bug, backport

#61791 Throws IndexNotFoundException in TransportGetAction for unknown indices (#61785)
  server/src/main/java/org/elasticsearch/action/get/TransportGetAction.java
Labels: :Core/Infra/Core, Team:Core/Infra, backport, v7.10.0

#61778 Dry up Settings from Map Construction
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/AnalyzeRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/CreateIndexRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/PutIndexTemplateRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/config/CategorizationAnalyzerConfig.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/put/PutRepositoryRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/ClusterUpdateSettingsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/restore/RestoreSnapshotRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/CreateIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateRequest.java
  server/src/main/java/org/elasticsearch/common/settings/Settings.java
  server/src/main/java/org/elasticsearch/index/analysis/NameOrDefinition.java
Labels: :Core/Infra/Settings, >non-issue, Team:Core/Infra, v7.10.0, v8.0.0

#61761 Explicit tests for nested fields
  x-pack/plugin/runtime-fields/qa/rest/build.gradle
  x-pack/plugin/runtime-fields/qa/rest/src/yamlRestTest/java/org/elasticsearch/xpack/runtimefields/rest/CoreTestsWithRuntimeFieldsIT.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/10_keyword.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/20_long.yml
Labels: :Search/Search, Team:Search

#61798 Allow [null] values in [null_value]
  server/src/main/java/org/elasticsearch/index/mapper/AbstractPointGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/NullValueTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
Labels: :Search/Mapping, >enhancement, Team:Search, v7.10.0, v8.0.0

#61744 Keep checkpoint file channel open across fsyncs
  server/src/main/java/org/elasticsearch/common/io/Channels.java
  server/src/main/java/org/elasticsearch/index/translog/Checkpoint.java
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogWriter.java
  server/src/test/java/org/elasticsearch/common/ChannelsTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
Labels: :Distributed/CRUD, >non-issue, Team:Distributed, v7.10.0, v8.0.0

#61794 [DOCS] EQL: Clarify until keyword docs
  docs/reference/eql/syntax.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, v7.10.0, v7.9.2, v8.0.0

#61803 Dry up Settings from Map Construction (#61778)
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/AnalyzeRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/CreateIndexRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/PutIndexTemplateRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/config/CategorizationAnalyzerConfig.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/put/PutRepositoryRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/ClusterUpdateSettingsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/restore/RestoreSnapshotRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/CreateIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateRequest.java
  server/src/main/java/org/elasticsearch/common/settings/Settings.java
  server/src/main/java/org/elasticsearch/index/analysis/NameOrDefinition.java
Labels: :Core/Infra/Settings, Team:Core/Infra, backport

#61789 Fix jvm options expansion on windows (#61743) (7.x backport)
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
Labels: :Core/Infra/Build, Team:Core/Infra, backport

#61808 [7.x] [DOCS] EQL: Clarify until keyword docs (#61794)
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.10.0

#61809 [7.9] [DOCS] EQL: Clarify until keyword docs (#61794)
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.9.2

#61795 Fix wrong NaN comparison
  server/src/main/java/org/elasticsearch/common/geo/GeoPolygonDecomposer.java
  server/src/main/java/org/elasticsearch/common/geo/builders/PolygonBuilder.java
  server/src/test/java/org/elasticsearch/common/geo/GeometryIndexerTests.java
  server/src/test/java/org/elasticsearch/common/geo/ShapeBuilderTests.java
Labels: :Analytics/Geo, >bug, Team:Analytics, v7.10.0, v8.0.0

#61662 [DOCS] Combine keyword family docs
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/constant-keyword.asciidoc
  docs/reference/mapping/types/keyword.asciidoc
  docs/reference/mapping/types/wildcard.asciidoc
Labels: :Search/Mapping, >docs, Team:Docs, Team:Search, v7.10.0, v7.9.2, v8.0.0

#61721 Rework output normalization in build-tools func tests (#61706) (7.x backport)
  buildSrc/src/integTest/groovy/org/elasticsearch/gradle/fixtures/AbstractGradleFuncTest.groovy
Labels: :Core/Infra/Build, Team:Core/Infra, backport

#61815 [DOCS] Add redirects for wildcard and constant keyword
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/eql.asciidoc
  docs/reference/eql/functions.asciidoc
  docs/reference/how-to/search-speed.asciidoc
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/constant-keyword.asciidoc
  docs/reference/mapping/types/keyword.asciidoc
  docs/reference/mapping/types/wildcard.asciidoc
  docs/reference/query-dsl.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/search/search-your-data/retrieve-selected-fields.asciidoc
  docs/reference/sql/language/data-types.asciidoc
Labels: >docs, Team:Docs, v8.0.0

#61813 [7.x] [DOCS] Combine keyword family docs (#61662)
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/eql.asciidoc
  docs/reference/eql/functions.asciidoc
  docs/reference/how-to/search-speed.asciidoc
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/constant-keyword.asciidoc
  docs/reference/mapping/types/keyword.asciidoc
  docs/reference/mapping/types/wildcard.asciidoc
  docs/reference/query-dsl.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/search/search-your-data/retrieve-selected-fields.asciidoc
  docs/reference/sql/language/data-types.asciidoc
Labels: backport, v7.10.0

#61760 [DOCS] Document dynamic cluster settings
  docs/reference/modules/gateway.asciidoc
  docs/reference/modules/indices/query_cache.asciidoc
  docs/reference/modules/indices/search-settings.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/modules/transport.asciidoc
  docs/reference/settings/license-settings.asciidoc
  docs/reference/settings/slm-settings.asciidoc
Labels: >docs, Team:Docs, v7.10.0, v7.9.2, v8.0.0

#61811 Fix wrong NaN comparison (#61795)
  server/src/main/java/org/elasticsearch/common/geo/GeoPolygonDecomposer.java
  server/src/main/java/org/elasticsearch/common/geo/builders/PolygonBuilder.java
  server/src/test/java/org/elasticsearch/common/geo/GeometryIndexerTests.java
  server/src/test/java/org/elasticsearch/common/geo/ShapeBuilderTests.java
Labels: :Analytics/Geo, Team:Analytics, backport

#61817 [7.x] [DOCS] Document dynamic cluster settings (#61760)
  docs/reference/modules/gateway.asciidoc
  docs/reference/modules/indices/query_cache.asciidoc
  docs/reference/modules/indices/search-settings.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/modules/transport.asciidoc
  docs/reference/settings/license-settings.asciidoc
  docs/reference/settings/slm-settings.asciidoc
Labels: backport, v7.10.0

#61818 [7.9] [DOCS] Document dynamic cluster settings (#61760)
  docs/reference/modules/gateway.asciidoc
  docs/reference/modules/indices/query_cache.asciidoc
  docs/reference/modules/indices/search-settings.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/modules/transport.asciidoc
  docs/reference/settings/license-settings.asciidoc
  docs/reference/settings/slm-settings.asciidoc
Labels: backport, v7.9.2

#61819 Link to the keyword family page from the field types docs.
  docs/reference/mapping/types.asciidoc
Labels: :Search/Mapping, >docs, Team:Docs, Team:Search, v7.10.0, v7.9.2, v8.0.0

#61797 [7.9][ML] Persist progress when setting DFA task to failed (#61782)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTaskTests.java
Labels: :ml, >bug, backport

#61340 [ML] Update ML mappings upgrade test and extend to config index
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlMappingsUpgradeIT.java
Labels: :ml, >test, v7.10.0, v7.9.2, v8.0.0

#61775 Runtime fields to expose _source and stored fields like existing scripts
  x-pack/plugin/runtime-fields/qa/rest/src/yamlRestTest/java/org/elasticsearch/xpack/runtimefields/rest/CoreTestsWithRuntimeFieldsIT.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/AbstractScriptFieldScript.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/10_keyword.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/20_long.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/30_double.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/40_date.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/50_ip.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/60_boolean.yml
Labels: :Search/Search, >enhancement, Team:Search

#61820 Test DLS and FLS against runtime fields
  x-pack/plugin/runtime-fields/qa/with-security/build.gradle
  x-pack/plugin/runtime-fields/qa/with-security/roles.yml
  x-pack/plugin/runtime-fields/qa/with-security/src/test/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: :Search/Search, >test, Team:Search

#61799 [7.x] Drop assertion that rest client header warnings conform to RFC 7234 (#61365)
  client/rest/src/main/java/org/elasticsearch/client/Response.java
Labels: :Core/Features/Java High Level REST Client, Team:Core/Features, backport, v7.10.0

#61800 [7.9] Drop assertion that rest client header warnings conform to RFC 7234 (#61365)
  client/rest/src/main/java/org/elasticsearch/client/Response.java
Labels: :Core/Features/Java High Level REST Client, Team:Core/Features, backport, v7.9.2

#61807 Allow [null] values in [null_value] (#61798)
  server/src/main/java/org/elasticsearch/index/mapper/AbstractPointGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/NullValueTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
Labels: backport

#61589 [ML] Check and install the latest template in the DFA executor
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAlias.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAliasTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlIndexTemplateRegistry.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
Labels: :ml, >non-issue, v7.10.0, v8.0.0

#61840 Fix deprecation logging config in Docker
  distribution/docker/src/docker/config/log4j2.properties
Labels: :Core/Infra/Logging, >bug, >non-issue, Team:Core/Infra, v7.10.0, v8.0.0

#61842 [7.x] [ML] Check and install the latest template in the DFA executor (#61589)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAlias.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAliasTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlIndexTemplateRegistry.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
Labels: :ml, backport, v7.10.0

#61830 [ML] Update ML mappings upgrade test and extend to config index
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlMappingsUpgradeIT.java
Labels: backport, v7.10.0

#61788 Search memory leak
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/metrics/CardinalityWithRequestBreakerIT.java
  server/src/main/java/org/elasticsearch/common/breaker/ChildMemoryCircuitBreaker.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregator.java
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
Labels: :Search/Search, >bug, Team:Search, v7.10.0, v7.9.2, v8.0.0

#61713 Cleanup usages of QueryPhaseResultConsumer
  server/src/main/java/org/elasticsearch/action/search/DfsQueryPhase.java
  server/src/main/java/org/elasticsearch/action/search/QueryPhaseResultConsumer.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/action/search/SearchProgressListener.java
  server/src/test/java/org/elasticsearch/action/search/FetchSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
Labels: :Search/Search, >non-issue, Team:Search, v7.10.0, v8.0.0

#61805 EQL: Introduce filter pipe
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_unsupported.toml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/PostAnalyzer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/Verifier.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/PlanExecutor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plan/logical/KeyedFilter.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/EqlConfiguration.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/EqlSession.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/EqlTestUtils.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/OptimizerTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/AbstractQueryFolderTestCase.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderOkTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/stats/VerifierMetricsTests.java
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
  x-pack/plugin/eql/src/test/resources/queries-unsupported.eql
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
Labels: :Query Languages/EQL, Team:QL, v7.10.0

#61838 [ML] Improve handling of exception while starting DFA process
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/NativeAnalyticsProcessFactory.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManagerTests.java
Labels: :ml, >bug, v7.10.0, v8.0.0

#61836 Expand testing for field_caps and search across multiple indices
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/80_multiple_indices.yml
Labels: :Search/Search, >test, Team:Search

#61833 Expand max chain depth testing
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/90_loops.yml
Labels: :Search/Search, >test, Team:Search

#61832 [ML] Update ML mappings upgrade test and extend to config index
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlMappingsUpgradeIT.java
Labels: backport, v7.9.2

#61851 Mute AsyncSearchActionIT test
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/AsyncSearchActionIT.java
Labels: >test-mute

#61847 [7.x][ML] Improve handling of exception while starting DFA process (#…
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/NativeAnalyticsProcessFactory.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManagerTests.java
Labels: :ml, >bug, backport

#61846 [ML] unmute testTooLowConfiguredMemoryStillStarts
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
Labels: :ml, >test, v7.10.0, v8.0.0

#61862 Search memory leak (#61788)
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/metrics/CardinalityWithRequestBreakerIT.java
  server/src/main/java/org/elasticsearch/common/breaker/ChildMemoryCircuitBreaker.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregator.java
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
Labels: :Search/Search, >bug, Team:Search, backport, v7.10.0

#61867 Support longs in BitArray
  modules/parent-join/src/main/java/org/elasticsearch/join/aggregations/ParentJoinAggregator.java
  server/src/main/java/org/elasticsearch/common/util/BitArray.java
  server/src/main/java/org/elasticsearch/search/sort/BucketedSort.java
  server/src/test/java/org/elasticsearch/common/util/BitArrayTests.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregator.java
Labels: :Analytics/Aggregations, >refactoring, Team:Analytics, v7.10.0, v8.0.0

#61869 [7.x] [ML] unmute testTooLowConfiguredMemoryStillStarts (#61846)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
Labels: :ml, backport

#61868 [ML] Update reindexing task progress before persisting job progress
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDataFrameAnalyticsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTaskTests.java
Labels: :ml, >bug, v7.10.0, v7.9.2, v8.0.0

#61875 [7.x][ML] Update reindexing task progress before persisting job progr…
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDataFrameAnalyticsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTaskTests.java
Labels: :ml, >non-issue, backport

#61876 [7.9][ML] Update reindexing task progress before persisting job progr…
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDataFrameAnalyticsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTaskTests.java
Labels: :ml, >non-issue, backport

#61844 Add specific test for serializing all mapping parameter values
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeParsers.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/FieldMapperTestCase2.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
Labels: :Search/Mapping, >non-issue, >test, Team:Search, v7.10.0, v8.0.0

#58321 Correct the query dsl for watching elasticsearch version
  x-pack/plugin/monitoring/src/main/resources/monitoring/watches/elasticsearch_version_mismatch.json
Labels: :Core/Features/Watcher, >bug, Team:Core/Features, v7.10.0, v8.0.0

#61881 [7.x] [DOCS] Update tie_breaker defaults for bool_prefix and most_fields query types
  docs/reference/query-dsl/multi-match-query.asciidoc
Labels: >docs, Team:Docs, backport, v7.10.0

#61871 Support longs in BitArray (#61867)
  modules/parent-join/src/main/java/org/elasticsearch/join/aggregations/ParentJoinAggregator.java
  server/src/main/java/org/elasticsearch/common/util/BitArray.java
  server/src/main/java/org/elasticsearch/search/sort/BucketedSort.java
  server/src/test/java/org/elasticsearch/common/util/BitArrayTests.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregator.java
Labels: backport, v7.10.0

#61882 [7.x] Correct the query dsl for watching elasticsearch version (#58321)
  x-pack/plugin/monitoring/src/main/resources/monitoring/watches/elasticsearch_version_mismatch.json
Labels: backport

#61821 Remove a redundant section on field data types.
  docs/reference/indices/put-mapping.asciidoc
  docs/reference/mapping.asciidoc
Labels: :Search/Mapping, >docs, Team:Docs, Team:Search, v7.10.0, v7.9.2, v8.0.0

#58559 Fix passing params to template or script failed in watcher
  x-pack/plugin/watcher/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/mustache/60_template_with_params.yml
  x-pack/plugin/watcher/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/painless/10_basic.yml
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/text/TextTemplateEngine.java
Labels: :Core/Features/Watcher, Team:Core/Features

#61877 Add specific test for serializing all mapping parameter values (#61844)
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeParsers.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/FieldMapperTestCase2.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
Labels: backport

#61861 Add release notes for 7.9.1
  docs/reference/release-notes/7.9.asciidoc
Labels: >docs, Team:Docs

#60907 Merge FetchSubPhase hitsExecute and hitExecute methods
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorHighlightSubFetchPhase.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorMatchedSlotSubFetchPhase.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorHighlightSubFetchPhaseTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorMatchedSlotSubFetchPhaseTests.java
  plugins/mapper-annotated-text/src/test/java/org/elasticsearch/search/highlight/AnnotatedTextHighlighterTests.java
  server/src/internalClusterTest/java/org/elasticsearch/search/fetch/FetchSubPhasePluginIT.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchSubPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchSubPhaseProcessor.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/ExplainPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchDocValuesPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchScorePhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchSourcePhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchVersionPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/InnerHitsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/MatchedQueriesPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/ScriptFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/SeqNoPrimaryTermPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/HighlightPhase.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FetchSourcePhaseTests.java
Labels: :Search/Search, >refactoring, Team:Search, v7.10.0, v8.0.0

#61894 Revert "Unmute TokenAuthIntegTests test (#61714)"
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
Labels: >test-mute

#61859 Ensure domain_name setting for AD realm is present
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/SecurityRealmSettingsTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactory.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactoryTests.java
Labels: :Security/Authentication, >bug, Team:Security, v7.10.0, v7.9.2, v8.0.0

#61893 Merge FetchSubPhase hitsExecute and hitExecute methods (#60907)
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorHighlightSubFetchPhase.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorMatchedSlotSubFetchPhase.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorHighlightSubFetchPhaseTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorMatchedSlotSubFetchPhaseTests.java
  plugins/mapper-annotated-text/src/test/java/org/elasticsearch/search/highlight/AnnotatedTextHighlighterTests.java
  server/src/internalClusterTest/java/org/elasticsearch/search/fetch/FetchSubPhasePluginIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchSubPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchSubPhaseProcessor.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/ExplainPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchDocValuesPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchScorePhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchSourcePhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchVersionPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/InnerHitsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/MatchedQueriesPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/ScriptFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/SeqNoPrimaryTermPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/HighlightPhase.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FetchSourcePhaseTests.java
Labels: backport

#61890 [DOCS] Adds filter aggregation example link to painless examples
  docs/reference/transform/painless-examples.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, v7.10.0, v7.9.2, v8.0.0

#61834 [ML] Assert mappings match templates in Upgrade tests
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/persistence/InferenceIndexConstants.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/persistence/TransformInternalIndexConstants.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/config_index_mappings.json
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractUpgradeTestCase.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlMappingsUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/TransformSurvivesUpgradeIT.java
Labels: :ml, >test, v7.10.0, v8.0.0

#61904 Fix data stream wildcard resolution bug in eql search api.
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/20_data_streams.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/10_data_stream_resolvability.yml
Labels: :Core/Features/Data streams, >bug, Team:Core/Features, v7.10.0, v7.9.2, v8.0.0

#61902 [7.x] [DOCS] Adds filter aggregation example link to painless examples (#61890)
  docs/reference/transform/painless-examples.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, backport

#61903 [7.9] [DOCS] Adds filter aggregation example link to painless examples (#61890)
  docs/reference/transform/painless-examples.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, backport

#61909 Mute MlMappingsUpgradeIT testMappingsUpgrade
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlMappingsUpgradeIT.java
Labels: >test-mute, v8.0.0

#61914 Mute ClassificationIT.testTooLowConfiguredMemoryStillStarts
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
Labels: :ml, >test-mute, v8.0.0

#61484 Write deprecation logs to a data stream
  server/src/main/java/org/elasticsearch/common/logging/DeprecatedMessage.java
  x-pack/plugin/deprecation/build.gradle
  x-pack/plugin/deprecation/qa/build.gradle
  x-pack/plugin/deprecation/qa/rest/build.gradle
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
  x-pack/plugin/deprecation/qa/rest/src/main/java/org/elasticsearch/xpack/deprecation/TestDeprecatedQueryBuilder.java
  x-pack/plugin/deprecation/qa/rest/src/main/java/org/elasticsearch/xpack/deprecation/TestDeprecationHeaderRestAction.java
  x-pack/plugin/deprecation/qa/rest/src/main/java/org/elasticsearch/xpack/deprecation/TestDeprecationPlugin.java
  x-pack/plugin/deprecation/src/internalClusterTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
  x-pack/plugin/deprecation/src/internalClusterTest/resources/plugin-security.policy
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/Deprecation.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationIndexingAppender.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationIndexingComponent.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/DeprecationIndexingAppenderTests.java
Labels: :Core/Infra/Logging, >enhancement, Team:Core/Infra, v7.10.0, v8.0.0

#61915 Mute ClassificationIT.testTooLowConfiguredMemoryStillStarts
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
Labels: :ml, >test-mute, v7.10.0

#61912 [DOCS] Makes example preface more accurate
  docs/reference/transform/painless-examples.asciidoc
Labels: >docs, Team:Docs, v8.0.0

#61918 Fix data stream wildcard resolution bug in eql search api.
  x-pack/plugin/eql/qa/rest/src/test/resources/rest-api-spec/test/eql/20_data_streams.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/10_data_stream_resolvability.yml
Labels: :Core/Features/Data streams, Team:Core/Features, backport, v7.9.2

#61920 Convert DateFieldMapperTests to MapperTestCase
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
Labels: :Search/Mapping, >test, Team:Search, v7.10.0, v8.0.0

#60936 Fixup vwhisto test
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/VariableWidthHistogramAggregatorTests.java
Labels: :Analytics/Aggregations, >test-failure, Team:Analytics, v7.10.0, v8.0.0

#61816 Use standard bit set impl in cardinality
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlus.java
Labels: :Analytics/Aggregations, >non-issue, Team:Analytics, v7.10.0, v8.0.0

#61917 Fix duplicate dir handling in untar transform
  buildSrc/src/main/java/org/elasticsearch/gradle/transform/SymbolicLinkPreservingUntarTransform.java
Labels: :Core/Infra/Build, Team:Core/Infra, v7.10.0, v8.0.0

#61923 Don't spin up a whole node to unit test some data structures
  server/src/test/java/org/elasticsearch/common/util/BytesRefHashTests.java
  server/src/test/java/org/elasticsearch/common/util/LongObjectHashMapTests.java
Labels: :Core/Infra/Core, >test, Team:Core/Infra, v7.10.0, v8.0.0

#61578 [ML] adds new n_gram_encoding custom processor
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/MlInferenceNamedXContentProvider.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/preprocessing/NGram.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/preprocessing/NGramTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/NGram.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/PreProcessor.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/NGramTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DataFrameAnalysisCustomFeatureIT.java
Labels: :ml, >enhancement, v7.10.0, v8.0.0

#61929 [DOCS] Remove 7.9.1 coming tag
  docs/reference/release-notes/7.9.asciidoc
Labels: >docs, Team:Docs, v7.10.0, v7.9.2

#61928 Fixup vwhisto test (backport of #60936)
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/VariableWidthHistogramAggregatorTests.java
Labels: backport, v7.10.0

#61930 Use standard bit set impl in cardinality (backport of #61816)
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlus.java
Labels: backport, v7.10.0

#61936 [7.9] [DOCS] Remove 7.9.1 coming tag (#61929)
  docs/reference/release-notes/7.9.asciidoc
Labels: backport, v7.9.2

#61933 Fix duplicate dir handling in untar transform (7.x backport)
  buildSrc/src/main/java/org/elasticsearch/gradle/transform/SymbolicLinkPreservingUntarTransform.java
Labels: :Core/Infra/Build, Team:Core/Infra, backport

#61937 [7.x] [DOCS] Add release notes for 7.9.1 (#61861)
  docs/reference/release-notes/7.9.asciidoc
Labels: >docs, Team:Docs, backport, v7.10.0

#61907 EQL: Revert filter pipe
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_unsupported.toml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/Verifier.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/OptimizerTests.java
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
  x-pack/plugin/eql/src/test/resources/queries-unsupported.eql
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
Labels: :Query Languages/EQL, Team:QL

#61944 [DOCS] Remove #60900 from release notes
  docs/reference/release-notes/7.9.asciidoc
Labels: :ml, >docs, Team:Docs, v7.10.0, v7.9.2

#61880 Fix ILM history index settings
  x-pack/plugin/core/src/main/resources/ilm-history.json
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/ILMHistoryTests.java
Labels: :Core/Features/ILM+SLM, >bug, Team:Core/Features, v7.10.0, v8.0.0

#61885 [7.x] Fix passing params to template or script failed in watcher (#58559)
  x-pack/plugin/watcher/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/mustache/60_template_with_params.yml
  x-pack/plugin/watcher/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/painless/10_basic.yml
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/text/TextTemplateEngine.java
Labels: backport

#61823 [7.9] [DOCS] Combine keyword family docs (#61662)
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/eql.asciidoc
  docs/reference/eql/functions.asciidoc
  docs/reference/how-to/search-speed.asciidoc
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/constant-keyword.asciidoc
  docs/reference/mapping/types/keyword.asciidoc
  docs/reference/mapping/types/wildcard.asciidoc
  docs/reference/query-dsl.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/search/search-your-data/retrieve-selected-fields.asciidoc
  docs/reference/sql/language/data-types.asciidoc
Labels: backport, v7.9.2

#61826 [DOCS] Refresh machine learning custom URL example
  docs/reference/ml/anomaly-detection/ml-configuring-url.asciidoc
  docs/reference/ml/images/ml-categoryterms.jpg
  docs/reference/ml/images/ml-customurl-detail.jpg
  docs/reference/ml/images/ml-customurl-discover.jpg
  docs/reference/ml/images/ml-customurl-edit.gif
  docs/reference/ml/images/ml-customurl-edit.jpg
  docs/reference/ml/images/ml-customurl.gif
  docs/reference/ml/images/ml-customurl.jpg
Labels: :ml, >docs, Team:Docs, v7.10.0, v7.9.2, v8.0.0

#61886 Simplify adding plugins and modules to testclusters
  buildSrc/src/main/groovy/org/elasticsearch/gradle/plugin/PluginBuildPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClusterConfiguration.java
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/TestClustersAware.java
  docs/build.gradle
  modules/ingest-common/build.gradle
  modules/kibana/build.gradle
  modules/lang-painless/build.gradle
  modules/rank-eval/build.gradle
  modules/reindex/build.gradle
  plugins/discovery-ec2/qa/amazon-ec2/build.gradle
  plugins/discovery-gce/qa/gce/build.gradle
  plugins/repository-gcs/build.gradle
  qa/smoke-test-plugins/build.gradle
  x-pack/plugin/searchable-snapshots/qa/azure/build.gradle
  x-pack/plugin/searchable-snapshots/qa/gcs/build.gradle
  x-pack/plugin/searchable-snapshots/qa/minio/build.gradle
  x-pack/plugin/searchable-snapshots/qa/s3/build.gradle
  x-pack/qa/smoke-test-plugins-ssl/build.gradle
  x-pack/qa/smoke-test-plugins/build.gradle
Labels: :Core/Infra/Build, >refactoring, Team:Core/Infra, v7.10.0, v8.0.0

#61887 [Backport 7.x] Add DEBUG logging for undefined role mapping field
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/support/mapper/expressiondsl/ExpressionModel.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/support/mapper/expressiondsl/FieldExpression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/support/mapper/expressiondsl/ExpressionModelTests.java
Labels: backport

#61955 [Backport 7.x] Add explicit test for DLS with OIDC metadata
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/support/SecurityQueryTemplateEvaluatorTests.java
Labels: backport

#61901 Add runtimeJavaDetails property in BuildParams
  buildSrc/src/main/java/org/elasticsearch/gradle/info/BuildParams.java
  buildSrc/src/main/java/org/elasticsearch/gradle/info/GlobalBuildInfoPlugin.java
Labels: :Core/Infra/Build, >non-issue, Team:Core/Infra, v7.10.0, v7.9.2, v8.0.0

#61888 Enable searchable snapshot feature for integTest clusters
  x-pack/plugin/searchable-snapshots/build.gradle
Labels: :Core/Infra/Build, >test, v7.10.0, v8.0.0

#61837 Minimize cache file locking during prewarming
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/cache/CachedBlobContainerIndexInput.java
Labels: :Distributed/Snapshot/Restore, >bug, Team:Distributed, v7.10.0, v8.0.0

#61943 [ML] Add incremental id during data frame analytics reindexing
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/MapUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndex.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/inference/TestDocsIterator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndexTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/test/SearchHitBuilder.java
Labels: :ml, >refactoring, v7.10.0, v8.0.0

#61961 [7.x] Add runtimeJavaDetails property in BuildParams (#61901)
  buildSrc/src/main/java/org/elasticsearch/gradle/info/BuildParams.java
  buildSrc/src/main/java/org/elasticsearch/gradle/info/GlobalBuildInfoPlugin.java
Labels: backport

#61962 [7.9] Add runtimeJavaDetails property in BuildParams (#61901)
  buildSrc/src/main/java/org/elasticsearch/gradle/info/BuildParams.java
  buildSrc/src/main/java/org/elasticsearch/gradle/info/GlobalBuildInfoPlugin.java
Labels: backport

#61965 Enable searchable snapshot feature for all test clusters
  x-pack/plugin/searchable-snapshots/build.gradle
Labels: :Core/Infra/Build, Team:Core/Infra, backport, v7.10.0

#61971 [7.x][ML] Add incremental id during data frame analytics reindexing (…
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/MapUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndex.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/inference/TestDocsIterator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndexTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/test/SearchHitBuilder.java
Labels: :ml, >refactoring, backport

#61976 Fix invalid flag setting for RegExp
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/query/StringScriptFieldRegexpQueryTests.java
Labels: :Search/Search, >test-failure, Team:Search, v8.0.0

#61975 disable BWC for backport #61974
  build.gradle
Labels: >test-mute

#61857 Run zulu8 fips CI with BCJSSE instead of SunJSSE
  buildSrc/src/main/resources/fips_java_bcjsse_11.policy
  buildSrc/src/main/resources/fips_java_bcjsse_11.security
  buildSrc/src/main/resources/fips_java_bcjsse_8.policy
  buildSrc/src/main/resources/fips_java_bcjsse_8.security
  buildSrc/src/main/resources/fips_java_sunjsse.policy
  buildSrc/src/main/resources/fips_java_sunjsse.security
  gradle/fips.gradle
Labels: :Core/Infra/Build, :Security/Security, >test, Team:Core/Infra, Team:Security

#61972 Fix resolveAllDependencies broken by ArtfactTransforms
  build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/gradle/ResolveAllDependencies.java
  buildSrc/src/main/java/org/elasticsearch/gradle/DistributionDownloadPlugin.java
Labels: :Core/Infra/Build, Team:Core/Infra, v7.10.0, v8.0.0

#61926 Fix skip versions fix xpack data stream yaml tests.
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/10_data_stream_resolvability.yml
Labels: :Core/Features/Data streams, >test, Team:Core/Features, v7.10.0, v7.9.2, v8.0.0

#61935 [7.x] [ML] adds new n_gram_encoding custom processor (#61578)
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/MlInferenceNamedXContentProvider.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/preprocessing/NGram.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RestHighLevelClientTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/preprocessing/NGramTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/NGram.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/PreProcessor.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/NGramTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DataFrameAnalysisCustomFeatureIT.java
Labels: :ml, backport

#61960 [DOCS] Add 7.9.1 release notes
  docs/reference/release-notes.asciidoc
Labels: >docs, Team:Docs, v7.10.0, v7.9.2, v8.0.0

#61981 Fix skip versions fix xpack data stream yaml tests.
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/10_data_stream_resolvability.yml
Labels: :Core/Features/Data streams, Team:Core/Features, backport, v7.10.0

#61978 Enable BWC after backporting lucene upgrade
  build.gradle
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v8.0.0

#61892 [DOCS] Added missing line break for get lifecycle docs
  docs/reference/ilm/apis/get-lifecycle.asciidoc
Labels: >docs, Team:Docs, v6.6.3, v6.7.3, v6.8.13, v7.0.2, v7.1.2, v7.10.0, v7.2.2, v7.3.3, v7.4.3, v7.5.3, v7.6.3, v7.7.2, v7.8.2, v7.9.2, v8.0.0

#61932 Improve error messages on bad [format] and [null_value] params for date mapper
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
Labels: :Search/Mapping, >enhancement, Team:Search, v7.10.0, v7.9.2, v8.0.0

#61896 [DOCS] Fix typo in URL-based access control doc
  docs/reference/api-conventions.asciidoc
Labels: >docs, Team:Docs, v7.10.0, v7.9.2, v8.0.0

#61967 Reduce locking in prewarming
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/cache/CachedBlobContainerIndexInput.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport, v7.10.0

#61779 Improve reduction of terms aggregations
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/IteratorAndCurrent.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalAutoDateHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalDateHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalVariableWidthHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/AbstractStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/DoubleTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalMappedTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/LongTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/MapStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/NumericTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/StringTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/UnmappedTerms.java
  server/src/test/java/org/elasticsearch/search/aggregations/InternalAggregationsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/InternalMultiBucketAggregationTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/DoubleTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/LongTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/query/QuerySearchResultTests.java
  x-pack/plugin/async-search/src/test/java/org/elasticsearch/xpack/search/AsyncSearchTaskTests.java
Labels: :Analytics/Aggregations, >enhancement, Team:Analytics, v7.10.0, v8.0.0

#61985 [master] [DOCS] Fix typo in URL-based access control docs (#61896)
  docs/reference/api-conventions.asciidoc
Labels: backport

#61986 [7.x] [DOCS] Fix typo in URL-based access control docs (#61896)
  docs/reference/api-conventions.asciidoc
Labels: backport

#61984 Fix skip versions fix xpack data stream yaml tests.
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/10_data_stream_resolvability.yml
Labels: :Core/Features/Data streams, Team:Core/Features, backport, v7.9.2

#61911 Simplify searchable snapshot shard allocation
  server/src/main/java/org/elasticsearch/cluster/routing/RecoverySource.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/RestoreInProgressAllocationDecider.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/SearchableSnapshotDirectory.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotAllocator.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/TransportMountSearchableSnapshotAction.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/SearchableSnapshotDirectoryStatsTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/SearchableSnapshotDirectoryTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/cache/CachedBlobContainerIndexInputTests.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.10.0, v8.0.0

#61977 [ML] Allow training_percent to be any positive double up to hundred
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/data_frame_analytics_crud.yml
Labels: :ml, >non-issue, v7.10.0, v8.0.0

#61804 [DOC] Use correct get document API example
  docs/reference/docs/reindex.asciidoc
Labels: >docs, Team:Docs, v7.10.0, v7.9.2, v8.0.0

#61992 [7.x] [DOCS] Use correct get document API (#61804)
  docs/reference/docs/reindex.asciidoc
Labels: backport, v7.10.0

#61991 [master] [DOCS] Use correct get document API (#61804)
  docs/reference/docs/reindex.asciidoc
Labels: backport, v8.0.0

#61753 [DOCS] Document dynamic index mgmt and buffer settings
  docs/reference/modules/indices/index_management.asciidoc
  docs/reference/modules/indices/indexing_buffer.asciidoc
Labels: >docs, Team:Docs, v7.10.0, v7.9.2, v8.0.0

#55503 Add test for item-level error when no write index defined for an alias in bulk API
  rest-api-spec/src/main/resources/rest-api-spec/test/bulk/10_basic.yml
Labels: :Core/Features/Indices APIs, >non-issue, Team:Core/Features, team-discuss, v7.10.0, v8.0.0

#61990 [7.x][ML] Allow training_percent to be any positive double up to hund…
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/data_frame_analytics_crud.yml
Labels: :ml, >non-issue, backport

#61996 [7.x] [DOCS] Document dynamic index mgmt and buffer settings (#61753)
  docs/reference/modules/indices/index_management.asciidoc
  docs/reference/modules/indices/indexing_buffer.asciidoc
Labels: backport
