Repository elastic/elasticsearch, pull requests merged in 2020-03, with the labels that each got.

#52981 [ML] Unmute DF Analytics BWC tests and fix versions for memory_usage
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetDataFrameAnalyticsStatsAction.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/90_ml_data_frame_analytics_crud.yml
Labels: :ml, >non-issue, v8.0.0

#52991 Fix docs typo and ensure asterisks render properly
  docs/README.asciidoc
Labels: :Core/Infra/Core, >docs, >non-issue, v7.7.0, v8.0.0

#52992 [DOCS] Fix typo and ensure asterisks render properly (#52991)
  docs/README.asciidoc
Labels: backport

#52943 Improve closing mock webserver when failed to start
  x-pack/plugin/core/src/test/java/org/elasticsearch/test/http/MockWebServer.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookHttpsIntegrationTests.java
Labels: :Core/Features/Watcher, >test, v7.7.0, v8.0.0

#52627 Simplify watcher indexing listener.
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherIndexingListener.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherIndexingListenerTests.java
Labels: :Core/Features/Watcher, >non-issue, v7.7.0, v8.0.0

#52940 [Transform] fix NPE in derive stats if shouldStopAtNextCheckpoint is set
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportGetTransformStatsAction.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/action/TransportGetTransformStatsActionTests.java
Labels: :ml/Transform, >bug, v7.7.0, v8.0.0

#52712 [Transform] implement node.transform to control where to run a transform
  docs/reference/settings/transform-settings.asciidoc
  docs/reference/setup.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/SourceConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformTaskParams.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/SourceConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/TransformTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/TransformUsageTransportAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportStartTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/TransformTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/action/TransformNodesTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/action/TransportStopTransformActionTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformTaskTests.java
Labels: :ml/Transform, >enhancement, v7.7.0, v8.0.0

#52957 Define list of Nodes that have minimum two children in tests
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/tree/NodeSubclassTests.java
Labels: :Search/SQL, >bug, >test, >test-failure, v7.7.0, v8.0.0

#52994 Define list of Nodes that have minimum two children in tests (#52957)
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/tree/NodeSubclassTests.java
Labels: :Search/SQL, >bug, >test, >test-failure, backport

#52944 [DOCS] Adds transform-settings page and its subpage to redirects
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
Labels: :ml/Transform, >docs, v7.7.0, v8.0.0

#52967 SQL: use a proper error message for queries directed at empty mapping indices
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/cli/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/RestSqlTestCase.java
Labels: :Search/SQL, >enhancement, v7.7.0, v8.0.0

#52653 Allow freezing searchable snapshots
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/AbstractSearchableSnapshotsRestTestCase.java
Labels: :Distributed/Snapshot/Restore, >enhancement

#53003 SQL: Issue a different error message in case an index doesn't have a mapping
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/cli/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/ErrorsTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/rest/RestSqlTestCase.java
Labels: :Search/SQL, >enhancement, backport

#52988 Replace "serach" with "search" in docs page "Index and search analysis"
  docs/reference/analysis/index-search-time.asciidoc
Labels: >docs

#53002 [Transform] fix test logic in transform tests
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/TransformTests.java
Labels: :ml/Transform, >test, v8.0.0

#52899 [DOCS] Correct guidance for `index_options` mapping parm
  docs/reference/mapping/params/index-options.asciidoc
Labels: :Search/Mapping, >docs

#51649 [DOCS] Reformat trim token filter docs
  docs/reference/analysis/tokenfilters/trim-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs

#52971 EQL: Change request parameter query to filter and rule to query
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlSearchRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/eql/EqlSearchRequestTests.java
  docs/reference/eql/search.asciidoc
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/CommonEqlRestTestCase.java
  x-pack/plugin/eql/qa/rest/src/test/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlActionIT.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlRequestParserTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
Labels: :Search/EQL

#53006 EQL: Change request parameter query to filter and rule to query (#52971)
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlSearchRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/eql/EqlSearchRequestTests.java
  docs/reference/eql/search.asciidoc
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/CommonEqlRestTestCase.java
  x-pack/plugin/eql/qa/rest/src/test/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlActionIT.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlRequestParserTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
Labels: :Search/EQL, backport

#52953 [DOCS] Add parameter examples to EQL search tutorial
  docs/reference/eql/search.asciidoc
Labels: :Search/EQL, >docs

#53008 [7.x] [DOCS] Add parameter examples to EQL search tutorial (#52953)
  docs/reference/eql/search.asciidoc
Labels: :Search/EQL, backport

#53010 [Transform] disable BWC in order to commit #52998
  build.gradle
Labels: :ml/Transform, >test-mute, v8.0.0

#52998 [7.x][Transform] implement node.transform to control where to run a transform
  docs/reference/settings/transform-settings.asciidoc
  docs/reference/setup.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/SourceConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformTaskParams.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/SourceConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/TransformTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportStartTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/TransformTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/action/TransformNodesTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/action/TransportStopTransformActionTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformTaskTests.java
Labels: :ml/Transform, >enhancement, backport

#52970 [7.x][DOCS] Adds cat anomaly detectors API (#52866)
  docs/reference/cat.asciidoc
  docs/reference/cat/anomaly-detectors.asciidoc
  docs/reference/cat/datafeeds.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-datafeed-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job-stats.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/cat/RestCatDatafeedsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/cat/RestCatJobsAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/cat.ml_jobs.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/datafeed_cat_apis.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/job_cat_apis.yml
Labels: backport

#49713 Introduce a `constant_keyword` field.
  docs/reference/how-to/search-speed.asciidoc
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/constant-keyword.asciidoc
  docs/reference/rest-api/info.asciidoc
  server/src/main/java/org/elasticsearch/index/fielddata/plain/ConstantIndexFieldData.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackInfoFeatureAction.java
  x-pack/plugin/mapper-constant-keyword/build.gradle
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/ConstantKeywordInfoTransportAction.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/ConstantKeywordMapperPlugin.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/test/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapperTests.java
  x-pack/plugin/mapper-constant-keyword/src/test/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldTypeTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/constant_keyword/10_basic.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/constant_keyword/20_dynamic_mapping.yml
Labels: :Search/Mapping, >feature, v7.7.0, v8.0.0

#51973 Add bounds support for geogrid agg on shapes
  server/src/main/java/org/elasticsearch/common/geo/TriangleTreeReader.java
  server/src/main/java/org/elasticsearch/index/fielddata/MultiGeoValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/GeoTileGridValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/BoundedGeoHashGridTiler.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/BoundedGeoPointCellValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/BoundedGeoTileGridTiler.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/CellIdSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/CellValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridTiler.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashGridAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashGridTiler.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoPointCellValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoShapeCellValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridTiler.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileUtils.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalGeoBounds.java
  server/src/test/java/org/elasticsearch/common/geo/TriangleTreeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregatorTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridTilerTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashGridAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregatorTests.java
Labels: :Analytics/Geo

#52754 [DOCS] Monospace request routes
  docs/reference/ingest/apis/simulate-pipeline.asciidoc
Labels: :Core/Features/Ingest, >docs

#52960 [DOCS] Add missing anchors in cron expressions
  x-pack/docs/en/watcher/trigger/schedule/cron.asciidoc
Labels: :Core/Features/Watcher, >docs, v7.6.2, v7.7.0, v8.0.0

#52676 Handle special characters and spaces in JAVA_HOME path in elasticsearch-service.bat
  distribution/src/bin/elasticsearch-service.bat
Labels: :Core/Infra/Packaging, >bug, v7.7.0, v8.0.0

#52999 Add note to CONTRIBUTING.md about REST URLs
  CONTRIBUTING.md
Labels: :Core/Infra/Core, >non-issue, v8.0.0

#53004 EQL: Add implicit ordering on timestamp
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlSearchRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/EqlIT.java
  docs/reference/eql/search.asciidoc
  x-pack/plugin/eql/qa/rest/src/test/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/RequestDefaults.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/SourceGenerator.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/planner/QueryFolder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/querydsl/container/QueryContainer.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/eql/src/test/resources/mapping-binary.json
  x-pack/plugin/eql/src/test/resources/mapping-boolean.json
  x-pack/plugin/eql/src/test/resources/mapping-date.json
  x-pack/plugin/eql/src/test/resources/mapping-ip.json
  x-pack/plugin/eql/src/test/resources/mapping-join.json
  x-pack/plugin/eql/src/test/resources/mapping-multi-field.json
  x-pack/plugin/eql/src/test/resources/mapping-nested.json
  x-pack/plugin/eql/src/test/resources/mapping-nodoc.json
  x-pack/plugin/eql/src/test/resources/mapping-numeric.json
  x-pack/plugin/eql/src/test/resources/mapping-object.json
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/querydsl/container/AttributeSort.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/querydsl/container/ScriptSort.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/querydsl/container/Sort.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/SourceGenerator.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/QueryFolder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/agg/Aggs.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/agg/GroupByDateHistogram.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/agg/GroupByKey.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/agg/GroupByNumericHistogram.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/agg/GroupByValue.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/agg/TopHitsAgg.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/container/AggregateSort.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/container/GroupingFunctionSort.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/container/QueryContainer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/querydsl/container/ScoreSort.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/SourceGeneratorTests.java
Labels: :Search/EQL

#53015 6.8.7 release notes
  docs/reference/release-notes/6.8.asciidoc
Labels: >docs, v6.8.7

#52915 Remove ECast node from the Painless user tree
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/AExpression.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EAssignment.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EBinary.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EBool.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ECallLocal.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ECast.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EComp.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EConditional.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EElvis.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EExplicit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EInstanceof.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EListInit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EMapInit.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewArray.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewObj.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENull.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/EUnary.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PBrace.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PCallInvoke.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PField.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubBrace.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubCallInvoke.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubDefArray.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubDefCall.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubListShortcut.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/PSubMapShortcut.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SDeclaration.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SDo.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SEach.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SExpression.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SFor.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SIf.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SIfElse.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SReturn.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SThrow.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SWhile.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/package-info.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/node/NodeToStringTests.java
Labels: :Core/Infra/Scripting, >refactoring, v8.0.0

#53036 Early return if no global checkpoint listeners
  server/src/main/java/org/elasticsearch/index/shard/GlobalCheckpointListeners.java
Labels: :Distributed/Distributed, >non-issue, v6.8.8, v7.6.2, v7.7.0, v8.0.0

#53012 [Transform] re-enable BWC and cleanup after backport
  build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformTaskParams.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: :ml/Transform, >non-issue, v8.0.0

#52946 [Transform] fix sporadic race condition in TransformUsageIT
  x-pack/plugin/transform/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/transform/integration/TransformUsageIT.java
Labels: :ml/Transform, >test, v7.6.2, v7.7.0, v8.0.0

#52956 [Transform] restructure transform yaml tests
  x-pack/plugin/src/test/resources/rest-api-spec/test/transform/transforms_crud.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/transform/transforms_force_delete.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/transform/transforms_stats.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/transform/transforms_stats_continuous.yml
Labels: :ml/Transform, >refactoring, v7.7.0, v8.0.0

#52893 Allow specifying an exclusive set of fields on ObjectParser
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/AbstractObjectParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/ConstructingObjectParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/ObjectParser.java
  libs/x-content/src/test/java/org/elasticsearch/common/xcontent/ConstructingObjectParserTests.java
  libs/x-content/src/test/java/org/elasticsearch/common/xcontent/ObjectParserTests.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolateQueryBuilder.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolateQueryBuilderTests.java
Labels: :Core/Infra/Core, >enhancement, v7.7.0, v8.0.0

#53046 Backport: simplify watcher indexing listener.
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherIndexingListener.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherIndexingListenerTests.java
Labels: :Core/Features/Watcher, backport, v7.7.0

#52043 Allow _rollup_search with read privilege
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupSearchAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/action/RollupSearchActionTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
Labels: :Security/Authorization, >bug, v7.7.0, v8.0.0

#52961 IndexTemplateMetaData.mappings() should return a single object
  client/rest-high-level/src/test/java/org/elasticsearch/client/indices/GetIndexTemplatesResponseTests.java
  server/src/main/java/org/elasticsearch/cluster/ClusterState.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexTemplateMetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexTemplateMetaDataTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/template/TemplateUtils.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/Logstash.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporterResourceIntegTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
Labels: :Distributed/CRUD, >refactoring, v8.0.0

#53047 Allow _rollup_search with read privilege (#52043)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupSearchAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/action/RollupSearchActionTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
Labels: backport

#53009 Add Clear Cache API for Searchable Snapshots
  x-pack/plugin/searchable-snapshots/qa/rest/src/test/resources/rest-api-spec/test/clear_cache.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/test/resources/rest-api-spec/test/stats.yml
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/AbstractTransportSearchableSnapshotsAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/ClearSearchableSnapshotsCacheAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/ClearSearchableSnapshotsCacheRequest.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/ClearSearchableSnapshotsCacheResponse.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/TransportClearSearchableSnapshotsCacheAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/TransportSearchableSnapshotsStatsAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/CacheDirectory.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/rest/RestClearSearchableSnapshotsCacheAction.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/AbstractSearchableSnapshotsRestTestCase.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/CacheDirectoryTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/searchable_snapshots.clear_cache.json
Labels: :Distributed/Snapshot/Restore, >enhancement

#52642 Address MinAndMax generics warnings
  server/src/main/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhase.java
  server/src/main/java/org/elasticsearch/search/sort/FieldSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/MinAndMax.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
Labels: :Search/Search, >enhancement, v7.7.0, v8.0.0

#53024 Introduce a `constant_keyword` field. (#49713)
  docs/reference/how-to/search-speed.asciidoc
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/constant-keyword.asciidoc
  server/src/main/java/org/elasticsearch/index/fielddata/plain/ConstantIndexFieldData.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/mapper-constant-keyword/build.gradle
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/ConstantKeywordMapperPlugin.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/test/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapperTests.java
  x-pack/plugin/mapper-constant-keyword/src/test/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldTypeTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/constant_keyword/10_basic.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/constant_keyword/20_dynamic_mapping.yml
Labels: :Search/Mapping, backport

#53051 Backport Address MinAndMax generics warnings
  server/src/main/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhase.java
  server/src/main/java/org/elasticsearch/search/sort/FieldSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/MinAndMax.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
Labels: :Search/Search, backport, v7.7.0

#53028 Test case for windows service where JAVA_HOME path contains spaces
  qa/os/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/WindowsServiceTests.java
Labels: :Core/Infra/Packaging, >non-issue, >test, v7.7.0, v8.0.0

#53053 [ML] unmuting test for issue/53007 and adding logging
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
Labels: :ml, >test, v8.0.0

#53014 Increase timeout testFollowIndexMaxOperationSizeInBytes
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
Labels: :Distributed/CCR, >test, v6.8.8, v7.6.2, v7.7.0, v8.0.0

#53050 [DOCS] Adds response body documentation to GET inference API
  docs/reference/ml/df-analytics/apis/get-inference-trained-model.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, v7.6.2, v7.7.0, v8.0.0

#49255 Reindex resume from status
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/BulkByScrollParallelizationHelper.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexTask.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexTaskStateDoc.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/Reindexer.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/StartReindexTaskAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportReindexAction.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/AsyncBulkByScrollActionTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexFailoverIT.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexResilientSearchIT.java
  server/src/main/java/org/elasticsearch/index/reindex/BulkByScrollTask.java
  server/src/main/java/org/elasticsearch/index/reindex/WorkerBulkByScrollTaskState.java
  server/src/test/java/org/elasticsearch/index/reindex/WorkerBulkByScrollTaskStateTests.java
  test/framework/src/main/java/org/elasticsearch/index/reindex/AbstractAsyncBulkByScrollActionTestCase.java
Labels: :Distributed/Reindex, >non-issue

#53045 SQL: update SqlNodeSubclassTests list of min-two-parameters functions list
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/tree/NodeSubclassTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/tree/SqlNodeSubclassTests.java
Labels: :Search/SQL, >bug, >test-failure, v7.7.0, v8.0.0

#53041 fix valuesourcetype issue with constant_keyword field
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlatObjectFieldMapper.java
Labels: :Analytics/Aggregations

#53026 Remove some deprecation warnings parsing aggs
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ExtendedStatsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MaxAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/PercentileRanksAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/PercentilesAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/StatsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ValueCountAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/WeightedAvgAggregationBuilder.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/PercentilesTests.java
Labels: :Analytics/Aggregations, >refactoring, v7.7.0, v8.0.0

#53055 Enable bw tests with 7.x for #49713
  x-pack/plugin/src/test/resources/rest-api-spec/test/constant_keyword/10_basic.yml
Labels: :Search/Mapping, >non-issue, v8.0.0

#53057 Handle special chars in JAVA_HOME in elasticsearch-service.bat (#52676)
  distribution/src/bin/elasticsearch-service.bat
  qa/os/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/WindowsServiceTests.java
Labels: :Core/Infra/Packaging, >bug, backport, v7.7.0

#53058 SQL: update SqlNodeSubclassTests list of min-two-parameters functions list
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/tree/NodeSubclassTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/tree/SqlNodeSubclassTests.java
Labels: :Search/SQL, >bug, >test, >test-failure, backport

#52752 ValuesSource refactoring: Wire up Avg aggregation
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregatorFactory.java
Labels: :Analytics/Aggregations, >refactoring

#53059 [DOCS] Reformat `stop` token filter
  docs/reference/analysis.asciidoc
  docs/reference/analysis/tokenfilters/stop-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs

#53063 [DOCS] Adds ignore_throttled to index conventions
  docs/reference/api-conventions.asciidoc
Labels: :Core/Features/Indices APIs, >docs, v7.6.2, v7.7.0, v8.0.0

#53069 [7.x][DOCS] Reformat `stop` token filter (#53059)
  docs/reference/analysis.asciidoc
  docs/reference/analysis/tokenfilters/stop-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, backport

#53070 [7.6][DOCS] Reformat `stop` token filter (#53059)
  docs/reference/analysis.asciidoc
  docs/reference/analysis/tokenfilters/stop-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, backport

#53067 [DOCS] Adds link in datafeed indices_options
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, v7.7.0, v8.0.0

#51693 Wire PercentileRanks aggregator into new VS framework
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/PercentileRanksAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/PercentileRanksAggregatorFactory.java
Labels: :Analytics/Aggregations, >refactoring

#53033 Add more tests in GeoBoundsAggregatorTests
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsAggregatorTests.java
Labels: :Analytics/Geo, >test, v8.0.0

#52966 Formalize usage stats for analytics
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/AnalyticsPlugin.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/AnalyticsUsage.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/action/TransportAnalyticsStatsAction.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/cumulativecardinality/CumulativeCardinalityPipelineAggregationBuilder.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/action/TransportAnalyticsStatsActionTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregationBuilderTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/analytics/action/AnalyticsStatsAction.java
Labels: :Analytics/Aggregations, >refactoring, v7.7.0, v8.0.0

#52741 Move states of search to coordinating node
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorQuerySearchIT.java
  server/src/main/java/org/elasticsearch/action/search/DfsQueryPhase.java
  server/src/main/java/org/elasticsearch/action/search/FetchSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchDfsQueryThenFetchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchQueryThenFetchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/RescoreDocIds.java
  server/src/main/java/org/elasticsearch/search/SearchPhaseResult.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsSearchResult.java
  server/src/main/java/org/elasticsearch/search/fetch/ShardFetchRequest.java
  server/src/main/java/org/elasticsearch/search/fetch/ShardFetchSearchRequest.java
  server/src/main/java/org/elasticsearch/search/internal/FilteredSearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/LegacyReaderContext.java
  server/src/main/java/org/elasticsearch/search/internal/ReaderContext.java
  server/src/main/java/org/elasticsearch/search/internal/SearchContext.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchRequest.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchResult.java
  server/src/main/java/org/elasticsearch/search/rescore/RescoreContext.java
  server/src/test/java/org/elasticsearch/action/search/CountedCollectorTests.java
  server/src/test/java/org/elasticsearch/action/search/DfsQueryPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/FetchSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  server/src/test/java/org/elasticsearch/search/query/QuerySearchResultTests.java
  test/framework/src/main/java/org/elasticsearch/test/TestSearchContext.java
Labels: :Search/Search

#53072 Remove some deprecation warnings parsing aggs (backport of #53026)
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ExtendedStatsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MaxAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/StatsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ValueCountAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/WeightedAvgAggregationBuilder.java
Labels: backport, v7.7.0

#53080 Muting test for issue #53007
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
Labels: :ml, >test-mute, v8.0.0

#53062 Disable BWC tests for backport of #52385
  build.gradle
Labels: :Core/Infra/Core, >non-issue, v8.0.0

#52655 Reduce deprecation log noise from DateIntervalWrapper
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateIntervalWrapper.java
Labels: :Analytics/Aggregations, >non-issue, v7.7.0, v8.0.0

#53079 Consolidate duplication of BWC testing task setup in script plugin
  gradle/bwc-test.gradle
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/repository-multi-version/build.gradle
  qa/rolling-upgrade/build.gradle
  qa/verify-version-constants/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: :Core/Infra/Build

#52547 Implement hidden aliases
  docs/reference/indices/aliases.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/Alias.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/IndicesAliasesRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/TransportIndicesAliasesAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/AliasAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/AliasMetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/AliasOrIndex.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaData.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/alias/AliasActionsTests.java
  server/src/test/java/org/elasticsearch/aliases/IndexAliasesIT.java
  server/src/test/java/org/elasticsearch/cluster/metadata/AliasMetaDataTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/AliasOrIndexTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataIndexAliasesServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataTests.java
  test/framework/src/main/java/org/elasticsearch/index/alias/RandomAliasActionsGenerator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolver.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
Labels: :Core/Infra/Core, >enhancement, v7.7.0, v8.0.0

#53073 EQL: consistent naming for event type vs event category
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlSearchRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/EqlIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/eql/EqlSearchRequestTests.java
  docs/reference/eql/search.asciidoc
  docs/reference/eql/syntax.asciidoc
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/CommonEqlRestTestCase.java
  x-pack/plugin/eql/qa/rest/src/test/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/RequestDefaults.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ParserParams.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlActionIT.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlRequestParserTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderTests.java
  x-pack/plugin/eql/src/test/resources/mapping-alias.json
  x-pack/plugin/eql/src/test/resources/mapping-binary.json
  x-pack/plugin/eql/src/test/resources/mapping-boolean.json
  x-pack/plugin/eql/src/test/resources/mapping-date.json
  x-pack/plugin/eql/src/test/resources/mapping-default.json
  x-pack/plugin/eql/src/test/resources/mapping-geo.json
  x-pack/plugin/eql/src/test/resources/mapping-ip.json
  x-pack/plugin/eql/src/test/resources/mapping-join.json
  x-pack/plugin/eql/src/test/resources/mapping-missing-event-category.json
  x-pack/plugin/eql/src/test/resources/mapping-multi-field.json
  x-pack/plugin/eql/src/test/resources/mapping-nested.json
  x-pack/plugin/eql/src/test/resources/mapping-nodoc.json
  x-pack/plugin/eql/src/test/resources/mapping-numeric.json
  x-pack/plugin/eql/src/test/resources/mapping-object.json
  x-pack/plugin/eql/src/test/resources/mapping-range.json
Labels: :Search/EQL

#53085 Update version for serialization of allowed system indices
  build.gradle
  server/src/main/java/org/elasticsearch/common/util/concurrent/ThreadContext.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
Labels: :Core/Infra/Core, >non-issue, v8.0.0

#53039 Avoid race condition in ILMHistorySotre
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/history/ILMHistoryStore.java
Labels: :Core/Features/ILM+SLM, >enhancement, v7.7.0, v8.0.0

#53071 Remove `constant_keyword` from the info API.
  docs/reference/rest-api/info.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackInfoFeatureAction.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/ConstantKeywordInfoTransportAction.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/ConstantKeywordMapperPlugin.java
Labels: :Search/Mapping, >non-issue, v8.0.0

#53056 SQL: Fix column size for IP data type
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/type/DataTypes.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/SqlProtocolTestCase.java
  x-pack/plugin/sql/qa/src/main/resources/single-node-only/command-sys.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/SqlDataTypes.java
Labels: :Search/SQL, >bug, v7.6.2, v7.7.0, v8.0.0

#53048 SQL: [Tests] Add tests for optimization of aliased expressions
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
Labels: :Search/SQL, >test, v7.6.2, v7.7.0, v8.0.0

#52987 Fix Javadoc comments in QueryBuilders
  server/src/main/java/org/elasticsearch/index/query/QueryBuilders.java
Labels: v8.0.0

#53090 EQL: consistent naming for event type vs event category (#53073)
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlSearchRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/EqlIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/eql/EqlSearchRequestTests.java
  docs/reference/eql/search.asciidoc
  docs/reference/eql/syntax.asciidoc
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/CommonEqlRestTestCase.java
  x-pack/plugin/eql/qa/rest/src/test/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/RequestDefaults.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ParserParams.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlActionIT.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlRequestParserTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/planner/QueryFolderTests.java
  x-pack/plugin/eql/src/test/resources/mapping-alias.json
  x-pack/plugin/eql/src/test/resources/mapping-binary.json
  x-pack/plugin/eql/src/test/resources/mapping-boolean.json
  x-pack/plugin/eql/src/test/resources/mapping-date.json
  x-pack/plugin/eql/src/test/resources/mapping-default.json
  x-pack/plugin/eql/src/test/resources/mapping-geo.json
  x-pack/plugin/eql/src/test/resources/mapping-ip.json
  x-pack/plugin/eql/src/test/resources/mapping-join.json
  x-pack/plugin/eql/src/test/resources/mapping-missing-event-category.json
  x-pack/plugin/eql/src/test/resources/mapping-multi-field.json
  x-pack/plugin/eql/src/test/resources/mapping-nested.json
  x-pack/plugin/eql/src/test/resources/mapping-nodoc.json
  x-pack/plugin/eql/src/test/resources/mapping-numeric.json
  x-pack/plugin/eql/src/test/resources/mapping-object.json
  x-pack/plugin/eql/src/test/resources/mapping-range.json
Labels: :Search/EQL, backport

#52847 [DOCS] Correct `hits.total.relation` response parm def
  docs/reference/search/search.asciidoc
Labels: :Search/Search, >docs

#52827 [DOCS] Fix several Asciidoctor double arrow replacements
  docs/painless/painless-lang-spec/painless-operators-general.asciidoc
  docs/painless/painless-lang-spec/painless-operators.asciidoc
  docs/reference/analysis/tokenfilters/synonym-graph-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/synonym-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/word-delimiter-graph-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/word-delimiter-tokenfilter.asciidoc
  docs/reference/mapping/types/parent-join.asciidoc
  docs/reference/sql/language/syntax/lexic/index.asciidoc
Labels: :Docs, >docs

#53102 [DOCS] Update EQL default event category and timestamp values
  docs/reference/eql/requirements.asciidoc
  docs/reference/eql/search.asciidoc
Labels: :Search/EQL, >docs

#52874 [DOCS] Add 7.6.1. release notes
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.6.asciidoc
Labels: >docs

#53109 Mute testMonitorClusterHealth test
  x-pack/plugin/watcher/qa/rest/src/test/java/org/elasticsearch/smoketest/SmokeTestWatcherTestSuiteIT.java
Labels: :Core/Features/Watcher, >test-mute, v8.0.0

#52880 BoolQueryBuilder uses ObjectParser
  server/src/main/java/org/elasticsearch/index/query/BoolQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/BoolQueryBuilderTests.java
Labels: :Search/Search, >refactoring, v7.7.0, v8.0.0

#53078 Remove some ceremony in agg parsing
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FilterAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/global/GlobalAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/missing/MissingAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregationBuilder.java
  server/src/test/java/org/elasticsearch/search/SearchModuleTests.java
Labels: :Analytics/Aggregations, >refactoring, v7.7.0, v8.0.0

#53076 Remove xpack actions for the flattened field.
  docs/reference/rest-api/info.asciidoc
  docs/reference/rest-api/usage.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackInfoFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/flattened/FlattenedFeatureSetUsage.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/flattened/FlattenedFeatureSetUsageTests.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/FlattenedInfoTransportAction.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/FlattenedMapperPlugin.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/FlattenedUsageTransportAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/flattened/20_flattened_stats.yml
Labels: :Search/Mapping, >breaking, >refactoring, v8.0.0

#53019 bump version to 6.8.8
  .ci/bwcVersions
  buildSrc/version.properties
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v6.8.7

#53021 [7.x] add 6.8.8 as version
  .ci/bwcVersions
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v7.7.0

#53022 [7.6] add 6.8.8 as a version
  .ci/bwcVersions
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v7.6.2

#53112 [7.6] Add 7.6.2 as version
  .ci/bwcVersions
  buildSrc/version.properties
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v7.6.2

#53113 Add 7.6.2 as version
  .ci/bwcVersions
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v8.0.0

#53114 [7.x] Add 7.6.2 as version
  .ci/bwcVersions
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, v7.7.0

#49196 Validate SSL settings at parse time
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/Monitoring.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporters.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringServiceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ExportersTests.java
Labels: :Core/Features/Monitoring, v7.7.0, v8.0.0

#52526 EQL: Add explicit 'any where ...' handling
  x-pack/plugin/eql/src/main/antlr/EqlBase.g4
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseLexer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseParser.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
Labels: :Search/EQL

#53117 Remove some ceremony in agg parsing (backport of #53078)
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FilterAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/global/GlobalAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/missing/MissingAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregationBuilder.java
  server/src/test/java/org/elasticsearch/search/SearchModuleTests.java
Labels: backport, v7.7.0

#53116 Update wire protocol after backport
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/analytics/action/AnalyticsStatsAction.java
Labels: >non-issue, v8.0.0

#53038 Add a VSConfig resolver for aggregations not using the registry
  modules/aggs-matrix-stats/src/main/java/org/elasticsearch/search/aggregations/support/ArrayValuesSourceAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/MultiValuesSourceAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceConfig.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceRegistry.java
Labels: :Analytics/Aggregations, >refactoring

#53126 Convert Wildfly tests to run in Docker
  build.gradle
  qa/wildfly/build.gradle
  qa/wildfly/docker-compose-oss.yml
  qa/wildfly/docker-compose.yml
  qa/wildfly/src/main/java/org/elasticsearch/wildfly/transport/RestHighLevelClientEmployeeResource.java
  qa/wildfly/src/main/java/org/elasticsearch/wildfly/transport/RestHighLevelClientProducer.java
  qa/wildfly/src/main/java/org/elasticsearch/wildfly/transport/RestHighLevelJacksonJsonProvider.java
  qa/wildfly/src/test/java/org/elasticsearch/wildfly/WildflyIT.java
Labels: :Core/Infra/Build, >test, v7.7.0, v8.0.0

#52918 Vs refactor wire up ranges and date ranges
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/AbstractRangeAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/DateRangeAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/DateRangeAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregatorSupplier.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/DateRangeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregatorTests.java
Labels: :Analytics/Aggregations, >refactoring

#53030 [DOCS] Adds PKI delegation.enabled example
  x-pack/docs/en/security/authentication/configuring-pki-realm.asciidoc
  x-pack/docs/en/security/authentication/pki-realm.asciidoc
Labels: :Security/Authentication, >docs, v7.6.2, v7.7.0, v8.0.0

#53043 EQL: Add HLRC for EQL stats
  client/rest-high-level/src/main/java/org/elasticsearch/client/EqlClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/EqlRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlStatsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlStatsResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/EqlIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/eql/EqlStatsResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/eql/EqlStatsResponseToXContent.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/PlanExecutor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlStatsAction.java
Labels: :Search/EQL, backport pending

#52936 Add REST endpoint to register a new SAML SP
  test/framework/src/main/java/org/elasticsearch/test/SerializationTestUtils.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/IdentityProviderPlugin.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/action/PutSamlServiceProviderAction.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/action/PutSamlServiceProviderRequest.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/action/PutSamlServiceProviderResponse.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/action/TransportPutSamlServiceProviderAction.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/rest/action/RestPutSamlServiceProviderAction.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderDocument.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderIndex.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/action/PutSamlServiceProviderRequestTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/action/TransportPutSamlServiceProviderActionTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderDocumentTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderIndexTests.java
Labels: :Security/Security

#53145 Add read/writeOptionalVLong to StreamInput/Output
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java
  server/src/test/java/org/elasticsearch/common/io/stream/BytesStreamsTests.java
Labels: :Core/Infra/Core, >non-issue, v7.7.0, v8.0.0

#52986 Make ServiceProvider lookup asynchronous
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/action/TransportSamlInitiateSingleSignOnAction.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/authn/SamlAuthnRequestValidator.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/idp/CloudIdp.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/idp/SamlIdentityProvider.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/idp/SamlMetadataGenerator.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/action/TransportSamlInitiateSingleSignOnRequestTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/authn/SamlAuthnRequestValidatorTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/idp/SamlMetadataGeneratorTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/test/IdpSamlTestCase.java
Labels: :Security/Security

#52691 Avoid NPE in set_security_user without security
  x-pack/plugin/security/qa/security-disabled/build.gradle
  x-pack/plugin/security/qa/security-disabled/src/test/java/org/elasticsearch/xpack/security/SetSecurityUserProcessorWithSecurityDisabledIT.java
  x-pack/plugin/security/qa/security-not-enabled/build.gradle
  x-pack/plugin/security/qa/security-not-enabled/src/test/java/org/elasticsearch/xpack/security/SetSecurityUserProcessorWithSecurityNotEnabledIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/ingest/SetSecurityUserProcessor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestGetApiKeyAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/ingest/SetSecurityUserProcessorFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/ingest/SetSecurityUserProcessorTests.java
Labels: :Security/Security, >non-issue, v7.7.0, v8.0.0

#52811 Add exception metadata for disabled features
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/FeatureNotEnabledException.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenServiceTests.java
Labels: :Security/Authentication, >enhancement, v7.7.0, v8.0.0

#53150 upgrade to lucene-snapshot-fa75139efea
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.5.0-snapshot-c4475920b08.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-analyzers-common-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-analyzers-common-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-backward-codecs-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-backward-codecs-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-core-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-core-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-grouping-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-grouping-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-highlighter-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-highlighter-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-join-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-join-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-memory-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-memory-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-misc-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-misc-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-queries-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-queries-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-queryparser-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-queryparser-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-sandbox-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-sandbox-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-spatial-extras-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-spatial-extras-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-spatial3d-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-spatial3d-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-suggest-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-suggest-8.5.0-snapshot-fa75139efea.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.5.0-snapshot-c4475920b08.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.5.0-snapshot-fa75139efea.jar.sha1
Labels: >non-issue, >upgrade, v7.7.0, v8.0.0

#52839 Upgrade GCS SDK to 1.104.0
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/licenses/google-api-client-1.28.0.jar.sha1
  plugins/repository-gcs/licenses/google-api-client-1.30.8.jar.sha1
  plugins/repository-gcs/licenses/google-api-services-storage-v1-rev20190426-1.28.0.jar.sha1
  plugins/repository-gcs/licenses/google-api-services-storage-v1-rev20191011-1.30.3.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-credentials-0.16.1.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-credentials-0.20.0.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-oauth2-http-0.16.1.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-oauth2-http-0.20.0.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-core-1.77.0.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-core-1.92.5.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-storage-1.104.0.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-storage-1.77.0.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-1.30.1.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-1.34.2.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-3.11.3.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-3.7.1.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-util-3.11.3.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-util-3.7.1.jar.sha1
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
Labels: :Distributed/Snapshot/Restore, >upgrade, v7.7.0, v8.0.0

#53119 Mute GoogleCloudStorageBlobStoreRepositoryTests on jdk8
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESMockAPIBasedRepositoryIntegTestCase.java
Labels: :Distributed/Snapshot/Restore, >test, v7.6.2, v7.7.0, v8.0.0

#53151 upgrade to lucene-snapshot-fa75139efea (#53150)
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.5.0-snapshot-c4475920b08.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.5.0-snapshot-fa75139efea.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.5.0-snapshot-c4475920b08.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-analyzers-common-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-analyzers-common-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-backward-codecs-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-backward-codecs-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-core-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-core-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-grouping-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-grouping-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-highlighter-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-highlighter-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-join-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-join-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-memory-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-memory-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-misc-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-misc-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-queries-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-queries-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-queryparser-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-queryparser-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-sandbox-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-sandbox-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-spatial-extras-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-spatial-extras-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-spatial3d-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-spatial3d-8.5.0-snapshot-fa75139efea.jar.sha1
  server/licenses/lucene-suggest-8.5.0-snapshot-c4475920b08.jar.sha1
  server/licenses/lucene-suggest-8.5.0-snapshot-fa75139efea.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.5.0-snapshot-c4475920b08.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.5.0-snapshot-fa75139efea.jar.sha1
Labels: >non-issue, >upgrade, backport, v7.7.0

#53128 [TEST] Force close failed job before skipping test
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/MlDistributedFailureIT.java
Labels: :ml, >test, v7.7.0, v8.0.0

#52821 [DOCS] Document `any` keyword in EQL syntax
  docs/reference/eql/syntax.asciidoc
Labels: :Search/EQL, >docs

#53105 Remove UnknownNamedObjectException
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/common/xcontent/UnknownNamedObjectException.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/UnknownNamedObjectExceptionTests.java
Labels: :Core/Infra/Core, >non-issue, v7.7.0, v8.0.0

#53157 [7.x] [DOCS] Document `any` keyword in EQL syntax (#52821)
  docs/reference/eql/syntax.asciidoc
Labels: :Search/EQL, >docs, backport

#53152 Upgrade GCS SDK to 1.104.0 (#52839)
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/licenses/google-api-client-1.28.0.jar.sha1
  plugins/repository-gcs/licenses/google-api-client-1.30.8.jar.sha1
  plugins/repository-gcs/licenses/google-api-services-storage-v1-rev20190426-1.28.0.jar.sha1
  plugins/repository-gcs/licenses/google-api-services-storage-v1-rev20191011-1.30.3.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-credentials-0.16.1.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-credentials-0.20.0.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-oauth2-http-0.16.1.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-oauth2-http-0.20.0.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-core-1.77.0.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-core-1.92.5.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-storage-1.104.0.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-storage-1.77.0.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-1.30.1.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-1.34.2.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-3.11.3.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-3.7.1.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-util-3.11.3.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-util-3.7.1.jar.sha1
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
  x-pack/snapshot-tool/build.gradle
  x-pack/snapshot-tool/licenses/google-api-client-1.28.0.jar.sha1
  x-pack/snapshot-tool/licenses/google-api-client-1.30.8.jar.sha1
  x-pack/snapshot-tool/licenses/google-api-services-storage-v1-rev20190426-1.28.0.jar.sha1
  x-pack/snapshot-tool/licenses/google-api-services-storage-v1-rev20191011-1.30.3.jar.sha1
  x-pack/snapshot-tool/licenses/google-auth-library-credentials-0.16.1.jar.sha1
  x-pack/snapshot-tool/licenses/google-auth-library-credentials-0.20.0.jar.sha1
  x-pack/snapshot-tool/licenses/google-auth-library-oauth2-http-0.16.1.jar.sha1
  x-pack/snapshot-tool/licenses/google-auth-library-oauth2-http-0.20.0.jar.sha1
  x-pack/snapshot-tool/licenses/google-cloud-core-1.77.0.jar.sha1
  x-pack/snapshot-tool/licenses/google-cloud-core-1.92.5.jar.sha1
  x-pack/snapshot-tool/licenses/google-cloud-storage-1.104.0.jar.sha1
  x-pack/snapshot-tool/licenses/google-cloud-storage-1.77.0.jar.sha1
  x-pack/snapshot-tool/licenses/google-http-client-1.30.1.jar.sha1
  x-pack/snapshot-tool/licenses/google-http-client-1.34.2.jar.sha1
  x-pack/snapshot-tool/licenses/protobuf-java-3.11.3.jar.sha1
  x-pack/snapshot-tool/licenses/protobuf-java-3.7.1.jar.sha1
  x-pack/snapshot-tool/licenses/protobuf-java-util-3.11.3.jar.sha1
  x-pack/snapshot-tool/licenses/protobuf-java-util-3.7.1.jar.sha1
Labels: :Distributed/Snapshot/Restore, backport

#52822 Implement Cancellable DirectoryReader
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/main/java/org/elasticsearch/search/internal/ExitableDirectoryReader.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/test/java/org/elasticsearch/search/SearchCancellationTests.java
  server/src/test/java/org/elasticsearch/search/internal/ContextIndexSearcherTests.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
Labels: :Search/Search, >enhancement, v7.7.0, v8.0.0

#52965 Support multiple metrics in `top_metrics` agg
  client/rest-high-level/src/main/java/org/elasticsearch/client/analytics/TopMetricsAggregationBuilder.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/analytics/AnalyticsAggsIT.java
  docs/reference/aggregations/metrics/top-metrics-aggregation.asciidoc
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MinAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/ScriptedMetricAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/InternalTopMetrics.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorFactory.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/InternalTopMetricsReduceTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/InternalTopMetricsTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregationBuilderTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/analytics/top_metrics.yml
Labels: :Analytics/Aggregations, v7.7.0, v8.0.0

#52985 Resolve runtime SP model from index doc
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/idp/saml-service-provider-template.json
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/action/TransportPutSamlServiceProviderAction.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/authn/SamlAuthnRequestValidator.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/authn/SuccessfulAuthenticationResponseMessageBuilder.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/idp/CloudIdp.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/idp/SamlIdentityProvider.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/sp/CloudServiceProvider.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProvider.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderDocument.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderIndex.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderResolver.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/sp/ServiceProviderException.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/support/SamlFactory.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/action/TransportPutSamlServiceProviderActionTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/authn/SamlAuthnRequestValidatorTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/authn/SuccessfulAuthenticationResponseMessageBuilderTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderIndexTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderResolverTests.java
Labels: :Security/Security

#53163 Support multiple metrics in `top_metrics` agg (backport of #52965)
  client/rest-high-level/src/main/java/org/elasticsearch/client/analytics/TopMetricsAggregationBuilder.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/analytics/AnalyticsAggsIT.java
  docs/reference/aggregations/metrics/top-metrics-aggregation.asciidoc
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MinAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/ScriptedMetricAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/InternalTopMetrics.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorFactory.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/InternalTopMetricsReduceTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/InternalTopMetricsTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregationBuilderTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/analytics/top_metrics.yml
Labels: backport, v7.7.0

#53139 Add `allowed_warnings` to yaml tests
  rest-api-spec/src/main/resources/rest-api-spec/test/README.asciidoc
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/Features.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSuite.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/DoSection.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSuiteTests.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/section/DoSectionTests.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/80_transform_jobs_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/80_transform_jobs_crud.yml
Labels: :Core/Infra/Build, >non-issue, v7.7.0, v8.0.0

#53162 Implement Exitable DirectoryReader (#52822)
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/main/java/org/elasticsearch/search/internal/ExitableDirectoryReader.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/test/java/org/elasticsearch/search/SearchCancellationTests.java
  server/src/test/java/org/elasticsearch/search/internal/ContextIndexSearcherTests.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
Labels: :Search/Search, >enhancement, backport

#53153 Fix test failures with the new `constant_keyword` field.
  x-pack/plugin/src/test/resources/rest-api-spec/test/constant_keyword/10_basic.yml
Labels: :Search/Mapping, >test, v7.7.0, v8.0.0

#53029 [ML] Fix minor race condition in dataframe analytics _stop
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManagerTests.java
Labels: :ml, >refactoring, >test, v7.7.0, v8.0.0

#53108 [ML] specifying missing_field_value value and using it instead of empty_string
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/customprocessing/DatasetSplittingCustomProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/customprocessing/DatasetSplittingCustomProcessorTests.java
Labels: :ml, >bug, v7.7.0, v8.0.0

#53148 EQL: Add HLRC for EQL stats (#53043)
  client/rest-high-level/src/main/java/org/elasticsearch/client/EqlClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/EqlRequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlStatsRequest.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/eql/EqlStatsResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/EqlIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/eql/EqlStatsResponseTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/eql/EqlStatsResponseToXContent.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/PlanExecutor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlStatsAction.java
Labels: :Search/EQL, backport

#53107 [DOCS] Expands GET DFA stat API docs with response objects
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, v7.6.2, v7.7.0, v8.0.0

#53165 [7.x] [ML] specifying missing_field_value value and using it instead of empty_string (#53108)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/customprocessing/DatasetSplittingCustomProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/customprocessing/DatasetSplittingCustomProcessorTests.java
Labels: :ml, backport

#53164 [7.x] [ML] Fix minor race condition in dataframe analytics _stop (#53029)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManagerTests.java
Labels: :ml, backport

#53172 [DOCS] Makes the naming convention of the DFA response objects coherent
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, v7.6.2, v7.7.0, v8.0.0

#52964 Clarify futher the order for a rolling upgrade
  docs/reference/upgrade/rolling_upgrade.asciidoc
Labels: :Distributed/Cluster Coordination, >docs, v7.6.2, v7.7.0, v8.0.0

#52861 add explicit tests for geo_shape with doc values on old indices
  server/src/test/java/org/elasticsearch/index/mapper/GeoShapeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/GeoHashGridIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/AbstractGeoTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/GeoCentroidIT.java
Labels: :Analytics/Geo

#53136 Upgrade to Gradle 6.2.2
  buildSrc/src/main/resources/minimumGradleVersion
  gradle/wrapper/gradle-wrapper.properties
Labels: :Core/Infra/Build, >non-issue

#53034 Wire up geo_bounds aggregation to ValuesSourceRegistry
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsAggregatorSupplier.java
Labels: :Analytics/Geo

#53141 Handle special chars in JAVA_HOME in elasticsearch-service.bat (#52676) (#53057)
  distribution/src/bin/elasticsearch-service.bat
  qa/os/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/WindowsServiceTests.java
Labels: :Core/Infra/Packaging, backport, v7.6.2

#53133 script_score query errors on negative scores
  docs/reference/release-notes/7.7.asciidoc
  server/src/test/java/org/elasticsearch/search/query/ScriptScoreQueryTests.java
Labels: :Search/Ranking, v7.7.0, v8.0.0

#53146 Fix Rollover handing of hidden aliases
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/RolloverIT.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverActionTests.java
Labels: :Core/Features/Indices APIs, >non-issue, v7.7.0, v8.0.0

#53132 VS refactoring: convert Boxplot to new registry
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/AnalyticsPlugin.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregatorFactory.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregatorSupplier.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregatorTests.java
Labels: :Analytics/Aggregations

#53184 Ensure only plugin REST tests are run for plugins
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestApiTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestTestsTask.java
Labels: :Core/Infra/Plugins, >bug, v7.6.2, v7.7.0, v8.0.0

#53166 Check for query cancellation during rewrite
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
Labels: :Search/Search, >enhancement, v7.7.0, v8.0.0

#53169 Fix ClusterDisruptionIT.testAckedIndexing
  server/src/test/java/org/elasticsearch/discovery/ClusterDisruptionIT.java
Labels: :Distributed/CRUD, >test, v7.6.2, v7.7.0, v8.0.0

#53125 Deprecate BoolQueryBuilder's mustNot field
  server/src/main/java/org/elasticsearch/index/query/BoolQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/BoolQueryBuilderTests.java
Labels: :Search/Search, >deprecation, v7.7.0, v8.0.0

#53203 Check for query cancellation during rewrite (#53166)
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
Labels: :Search/Search, >enhancement, backport

#53179 [ML] Improve DF analytics audits and logging
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsResultProcessor.java
Labels: :ml, >enhancement, v7.7.0, v8.0.0

#53218 [7.x][ML] Improve DF analytics audits and logging (#53179)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RunDataFrameAnalyticsIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsResultProcessor.java
Labels: :ml, >enhancement, backport

#53220 [DOCS] Note that `trim` filter doesn't change offsets
  docs/reference/analysis/tokenfilters/trim-tokenfilter.asciidoc
Labels: :Search/Analysis, >docs, v7.6.2, v7.7.0, v8.0.0

#53068 Fix AbstractBulkByScrollRequest slices parameter via Rest
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
  server/src/main/java/org/elasticsearch/index/reindex/AbstractBulkByScrollRequest.java
Labels: :Core/Features/Java High Level REST Client, >bug, v7.6.2, v7.7.0, v8.0.0

#53140 Serialize NodesInfoRequest as a set of strings
  build.gradle
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/info/NodesInfoRequest.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/info/NodesInfoRequestTests.java
Labels: :Core/Infra/Plugins, >refactoring, v7.7.0, v8.0.0
