Repository elastic/elasticsearch, pull requests merged in 2020-02, with the labels that each got.

#51779 Fix LoggingOutputStream to work on windows
  server/src/main/java/org/elasticsearch/common/logging/LoggingOutputStream.java
  server/src/test/java/org/elasticsearch/common/logging/LoggingOutputStreamTests.java
Labels: :Core/Infra/Logging, >bug, v7.7.0, v8.0.0

#51723 Remove comparison to true for booleans
  buildSrc/src/main/groovy/org/elasticsearch/gradle/test/AntFixture.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/test/DistroTestPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/tool/DockerUtils.java
  buildSrc/src/minimumRuntime/java/org/elasticsearch/gradle/Version.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/core/TermVectorsResponseTests.java
  libs/geo/src/main/java/org/elasticsearch/geometry/utils/WellKnownText.java
  libs/grok/src/main/java/org/elasticsearch/grok/MatcherWatchdog.java
  modules/aggs-matrix-stats/src/main/java/org/elasticsearch/search/aggregations/matrix/stats/MatrixStatsAggregator.java
  modules/aggs-matrix-stats/src/main/java/org/elasticsearch/search/aggregations/matrix/stats/RunningStats.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/RatedSearchHit.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackagingTestCase.java
  server/src/main/java/org/elasticsearch/common/Rounding.java
  server/src/main/java/org/elasticsearch/common/geo/GeoShapeType.java
  server/src/main/java/org/elasticsearch/common/geo/parsers/GeoWKTParser.java
  server/src/main/java/org/elasticsearch/common/time/JavaDateFormatter.java
  server/src/main/java/org/elasticsearch/index/mapper/LegacyGeoShapeIndexer.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/InnerHitBuilder.java
  server/src/main/java/org/elasticsearch/indices/recovery/MultiFileWriter.java
  server/src/main/java/org/elasticsearch/search/profile/aggregation/InternalAggregationProfileTree.java
  server/src/main/java/org/elasticsearch/search/profile/query/InternalQueryProfileTree.java
  test/framework/src/main/java/org/elasticsearch/common/util/NamedFormatter.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/stringstats/InternalStringStats.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfig.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/GrammarTests.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/PublishableHttpResourceTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/Alias.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/function/aggregate/AggregateFunction.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/function/aggregate/Count.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/function/aggregate/InnerAggregate.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/gen/script/Agg.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/tree/Node.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/util/StringUtils.java
  x-pack/plugin/sql/jdbc/src/main/java/org/elasticsearch/xpack/sql/jdbc/JdbcResultSet.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/FieldExtractorTestCase.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/SqlProtocolTestCase.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/AbstractSqlQueryRequest.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Analyzer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Verifier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/PivotCursor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/conditional/IfConditional.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysColumns.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/QueryFolder.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/QueryTranslator.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/RestSqlQueryAction.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/PivotTests.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherIndexingListener.java
Labels: :Core/Infra/Core, >non-issue, v7.7.0, v8.0.0

#51714 Remove docker exlucsions for no longer supported OSes
  .ci/dockerOnLinuxExclusions
Labels: :Core/Infra/Build, >test, v8.0.0

#51738 [7.x][Transform] Fix stats can return old state information if security is enabled
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportStopTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/IndexBasedTransformConfigManager.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformConfigManager.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/persistence/InMemoryTransformConfigManager.java
Labels: :ml/Transform, >bug, backport

#51527 Test: REST": Fix the `accept_enterprise` parameter for Get License API
  x-pack/plugin/src/test/resources/rest-api-spec/test/license/30_enterprise_license.yml
Labels: :Security/License, >test, v7.6.1, v7.7.0, v8.0.0

#51535 Fix the "slices" parameter for the Delete By Query API in the REST specification
  rest-api-spec/src/main/resources/rest-api-spec/api/delete_by_query.json
Labels: :Core/Infra/REST API

#51675 SQL: Fix milliseconds handling in intervals
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/util/DateUtils.java
  x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/SqlProtocolTestCase.java
  x-pack/plugin/sql/qa/src/main/resources/datetime-interval.csv-spec
  x-pack/plugin/sql/qa/src/main/resources/docs/docs.csv-spec
  x-pack/plugin/sql/sql-proto/src/main/java/org/elasticsearch/xpack/sql/proto/StringUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/literal/interval/Intervals.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/literal/interval/IntervalsTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/ExpressionTests.java
Labels: :Search/SQL, >bug, v7.6.1, v7.7.0, v8.0.0

#51658 Add Docker-based tests for proxy connection mode
  qa/remote-clusters/build.gradle
  qa/remote-clusters/docker-compose-oss.yml
  qa/remote-clusters/docker-compose.yml
  qa/remote-clusters/docker-test-entrypoint.sh
  qa/remote-clusters/haproxy-default.cfg
  qa/remote-clusters/haproxy-oss.cfg
  qa/remote-clusters/src/test/java/org/elasticsearch/cluster/remote/test/AbstractMultiClusterRemoteTestCase.java
  qa/remote-clusters/src/test/java/org/elasticsearch/cluster/remote/test/RemoteClustersIT.java
Labels: :Distributed/Network, >non-issue, v7.6.1, v7.7.0, v8.0.0

#51215 Fix ingest timezone logic
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateFormat.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateFormatTests.java
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/30_date_processor.yml
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
Labels: :Core/Infra/Core, v7.7.0, v8.0.0

#51746 [TEST] Remove obsolete test trace logging from NetworkDisruptionIT
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/NetworkDisruptionIT.java
Labels: :ml, >test, v7.6.1, v7.7.0, v8.0.0

#51682 Add IDP Configuration settings and related tests
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/IdentityProviderPlugin.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/idp/CloudIdp.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/idp/SamlIdentityProvider.java
  x-pack/plugin/identity-provider/src/main/plugin-metadata/plugin-security.policy
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/idp/IdentityProviderPluginConfigurationTests.java
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/README.txt
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/multi_signing.jks
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/multi_signing.p12
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/signing.p12
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/signing1.crt
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/signing1.key
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/signing2.crt
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/signing2.key
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/signing3.crt
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/signing3.key
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/signing4.crt
  x-pack/plugin/identity-provider/src/test/resources/org/elasticsearch/xpack/idp/saml/idp/signing4.key
Labels: :Security/Security

#51801 [7.x] Reenable testWhenUserLimitedByOnlyAliasOfIndexCanWriteToIndexWhichWasRolledoverByILMPolicy (#51768)
  x-pack/plugin/ilm/qa/with-security/src/test/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: :Core/Features/ILM+SLM, backport, v7.7.0

#51803 Increase disruption test publish timeout to 5s
  server/src/test/java/org/elasticsearch/discovery/AbstractDisruptionTestCase.java
  server/src/test/java/org/elasticsearch/discovery/ClusterDisruptionIT.java
  server/src/test/java/org/elasticsearch/versioning/ConcurrentSeqNoVersioningIT.java
Labels: :Distributed/Cluster Coordination, >test, v7.6.1, v7.7.0, v8.0.0

#51734 Fix completeWith exception handling
  server/src/main/java/org/elasticsearch/action/ActionListener.java
  server/src/test/java/org/elasticsearch/action/ActionListenerTests.java
Labels: :Core/Infra/Core, :Distributed/Distributed, >non-issue, v7.7.0, v8.0.0

#51802 Fix ingest timezone logic backport(#51215)
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateFormat.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DateFormatTests.java
  modules/ingest-common/src/test/resources/rest-api-spec/test/ingest/30_date_processor.yml
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
Labels: :Core/Infra/Core, backport

#51263 [DOCS] Document node stats response meta
  docs/reference/cluster/nodes-stats.asciidoc
  docs/reference/settings/ml-settings.asciidoc
Labels: :Core/Features/Stats, >docs

#51775 [7.x] Secure password for monitoring HTTP exporter
  docs/reference/settings/monitoring-settings.asciidoc
  docs/reference/setup/secure-settings.asciidoc
  x-pack/plugin/core/src/test/java/org/elasticsearch/test/http/MockWebServer.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/Monitoring.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringService.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporters.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/LocalStateMonitoring.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterIT.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterTests.java
Labels: :Core/Features/Monitoring, backport, v7.7.0

#48479 http://elastic.co -> https
  README.asciidoc
  build.gradle
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  distribution/packages/src/common/systemd/elasticsearch.service
  docs/plugins/discovery-ec2.asciidoc
  docs/plugins/redirects.asciidoc
  docs/plugins/repository-s3.asciidoc
  docs/resiliency/index.asciidoc
  rest-api-spec/README.markdown
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParserTests.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiTests.java
  x-pack/docs/en/security/ccs-clients-integrations/hadoop.asciidoc
  x-pack/docs/en/security/ccs-clients-integrations/http.asciidoc
  x-pack/plugin/src/test/resources/rest-api-spec/api/ccr.forget_follower.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ccr.unfollow.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/migration.deprecations.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.close_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_forecast.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_model_snapshot.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.evaluate_data_frame.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.find_file_structure.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.flush_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_buckets.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_categories.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_data_frame_analytics_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_datafeed_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_datafeeds.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_influencers.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_job_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_jobs.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_model_snapshots.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_overall_buckets.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_records.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.open_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.post_data.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.preview_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.put_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.put_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.put_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.revert_model_snapshot.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.set_upgrade_mode.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.start_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.start_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.stop_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.stop_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.update_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.update_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.update_model_snapshot.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.ack_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.delete_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.execute_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.get_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.put_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.start.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.stop.json
Labels: :Docs, >docs, v8.0.0

#51773 Fix version parser used by gradle
  buildSrc/src/minimumRuntime/java/org/elasticsearch/gradle/Version.java
  buildSrc/src/test/java/org/elasticsearch/gradle/VersionTests.java
Labels: :Core/Infra/Build, >bug, v7.7.0, v8.0.0

#51810 Increase master disruption test assert timeouts
  server/src/test/java/org/elasticsearch/discovery/AbstractDisruptionTestCase.java
  server/src/test/java/org/elasticsearch/discovery/MasterDisruptionIT.java
Labels: :Distributed/Cluster Coordination, >test, v7.6.1, v7.7.0, v8.0.0

#51812 [DOCS] [7.x] Change http://elastic.co -> https (#48479)
  README.asciidoc
  build.gradle
  client/rest-high-level/src/main/java/org/elasticsearch/client/MachineLearningClient.java
  distribution/packages/src/common/systemd/elasticsearch.service
  docs/plugins/discovery-ec2.asciidoc
  docs/plugins/redirects.asciidoc
  docs/plugins/repository-s3.asciidoc
  docs/resiliency/index.asciidoc
  rest-api-spec/README.markdown
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParserTests.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiTests.java
  x-pack/docs/en/security/ccs-clients-integrations/hadoop.asciidoc
  x-pack/docs/en/security/ccs-clients-integrations/http.asciidoc
  x-pack/plugin/src/test/resources/rest-api-spec/api/ccr.forget_follower.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ccr.unfollow.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/migration.deprecations.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.close_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_forecast.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.delete_model_snapshot.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.evaluate_data_frame.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.find_file_structure.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.flush_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_buckets.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_categories.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_data_frame_analytics_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_datafeed_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_datafeeds.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_influencers.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_job_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_jobs.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_model_snapshots.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_overall_buckets.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.get_records.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.open_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.post_data.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.preview_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.put_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.put_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.put_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.revert_model_snapshot.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.set_upgrade_mode.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.start_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.start_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.stop_data_frame_analytics.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.stop_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.update_datafeed.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.update_job.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/ml.update_model_snapshot.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.ack_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.delete_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.execute_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.get_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.put_watch.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.start.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.stop.json
Labels: >docs, backport, v7.7.0

#51807 Fix section header in Get API key information API doc
  x-pack/docs/en/rest-api/security/get-api-keys.asciidoc
Labels: :Security/Security, >docs

#49974 Adding best_compression
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/CloseIndexStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ForceMergeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/OpenIndexStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForIndexColorStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CloseIndexStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ForceMergeActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/OpenIndexStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/TimeseriesLifecycleTypeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForIndexColorStepTests.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/TransportPutLifecycleActionTests.java
Labels: :Core/Features/ILM+SLM, >enhancement, v7.7.0, v8.0.0

#51811 Test: match the \ilm/ and \slm/ test name too
  docs/src/test/java/org/elasticsearch/smoketest/DocsClientYamlTestSuiteIT.java
Labels: :Core/Features/ILM+SLM, >test, v7.6.1, v7.7.0, v8.0.0

#51798 Update secure-settings.asciidoc
  docs/reference/setup/secure-settings.asciidoc
Labels: :Core/Infra/Settings, >docs

#48482 [rest spec] fill in documentation links for security.{put,delete}_privileges
  x-pack/plugin/src/test/resources/rest-api-spec/api/security.delete_privileges.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/security.put_privileges.json
Labels: :Security/Authorization, >non-issue, v7.7.0, v8.0.0

#51560 Use standard format for reload settings API
  docs/reference/cluster/nodes-reload-secure-settings.asciidoc
  docs/reference/setup/secure-settings.asciidoc
Labels: :Security/Security, >docs, >non-issue, v7.7.0, v8.0.0

#51823 Mute ForceMergeActionTests.testToSteps
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ForceMergeActionTests.java
Labels: :Core/Features/ILM+SLM, >test-mute, v8.0.0

#51558 EQL: Add AstBuilder to convert to QL tree
  x-pack/plugin/eql/src/main/antlr/EqlBase.g4
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/AbstractBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/AstBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseBaseListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseBaseVisitor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseVisitor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ExpressionBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/IdentifierBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/GrammarTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/EsIndex.java
Labels: :Search/EQL

#51508 Implement ephemeral reindex with a persistent task
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexTask.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexTaskStateDoc.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexTaskStateUpdater.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/RestReindexAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/StartReindexTaskAction.java
  modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportStartReindexTaskAction.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexIndexClientTests.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexRunAsPersistentAndEphemeralTaskTestCase.java
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/ReindexTaskStateUpdaterTests.java
Labels: :Distributed/Reindex, >non-issue

#51809 EQL: Introduce basic execution pipeline
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/Analyzer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/Failure.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/PreAnalyzer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/VerificationException.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/Verifier.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/PlanExecutor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plan/physical/PhysicalPlan.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/planner/Planner.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/EqlPlugin.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/Configuration.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/EqlSession.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/Executable.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/Results.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/Sequence.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/plan/logical/LeafPlan.java
Labels: :Search/EQL

#51591 Missing suffix for German Month "Juli" in Grok Pattern MONTH (#51579)
  libs/grok/src/main/resources/patterns/grok-patterns
Labels: :Core/Features/Ingest, >bug, backport pending, v7.7.0, v8.0.0

#51707 Improve docker error message
  buildSrc/src/main/java/org/elasticsearch/gradle/tool/DockerUtils.java
Labels: :Core/Infra/Build, >non-issue, v8.0.0

#51825 Fix ForceMergeAction toSteps construction
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ForceMergeAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ForceMergeActionTests.java
Labels: :Core/Features/ILM+SLM, >test, v8.0.0

#51828 Use standard format for reload settings API (#51560)
  docs/reference/cluster/nodes-reload-secure-settings.asciidoc
  docs/reference/setup/secure-settings.asciidoc
Labels: :Security/Security, >docs, >non-issue, backport

#51721 Create a class to hold field capabilities for one index.
  client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilities.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesIndexResponse.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/IndexFieldCapabilities.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesAction.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesIndexAction.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesResponseTests.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/MergedFieldCapabilitiesResponseTests.java
  server/src/test/java/org/elasticsearch/search/fieldcaps/FieldCapabilitiesIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/index/IndexResolverTests.java
Labels: :Search/Mapping, >refactoring, v7.7.0, v8.0.0

#51797 [Backport 7.5] Preserve ApiKey credentials for async verification
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
Labels: backport

#51845 Preserve ApiKey credentials for async verification
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
Labels: backport

#51269 Add host address to BindTransportException message
  buildSrc/src/main/resources/forbidden/jdk-signatures.txt
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpServerTransportTests.java
  server/src/main/java/org/elasticsearch/common/network/NetworkAddress.java
  server/src/main/java/org/elasticsearch/http/AbstractHttpServerTransport.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/test/java/org/elasticsearch/common/network/NetworkAddressTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
Labels: :Distributed/Network, >bug, v7.7.0, v8.0.0

#51820 [Transform] improve irrecoverable error detection
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/utils/ExceptionRootCauseFinder.java
Labels: :ml/Transform, >enhancement, v7.7.0, v8.0.0

#51777 Remove references to supported platforms in testing docs
  TESTING.asciidoc
Labels: :Core/Infra/Build, >docs, v7.7.0, v8.0.0

#51808 [Transform] add support for percentile aggs
  x-pack/plugin/transform/qa/single-node-tests/src/test/java/org/elasticsearch/xpack/transform/integration/TransformPivotRestIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/AggregationResultUtils.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/Aggregations.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/SchemaUtil.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/utils/OutputFieldNameConverter.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/AggregationsTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/utils/OutputFieldNameConverterTests.java
Labels: :ml/Transform, >enhancement, v7.7.0, v8.0.0

#51737 [ML] Improve multiline_start_pattern for CSV in find_file_structure
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/filestructurefinder/DelimitedFileStructureFinder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/filestructurefinder/DelimitedFileStructureFinderTests.java
Labels: :ml, >enhancement, v7.7.0, v8.0.0

#51833 [DOCS] Fix link in faster prefix queries
  docs/reference/how-to/search-speed.asciidoc
Labels: :Search/Search, >docs, v6.8.7, v7.5.3, v7.6.1, v7.7.0, v8.0.0

#51854 [DOCS] Fix 'disk.used_percent' typo in _cat/nodes docs
  docs/reference/cat/nodes.asciidoc
Labels: :Core/Features/CAT APIs, >docs, v7.5.3, v7.6.1, v7.7.0, v8.0.0

#51859 Spurious comma
  docs/reference/ingest/processors/csv.asciidoc
Labels: :Core/Features/Ingest, >docs, v7.5.3, v7.6.1, v7.7.0, v8.0.0

#51863 [7.x] Missing suffix for German Month "Juli" in Grok Pattern MONTH
  libs/grok/src/main/resources/patterns/grok-patterns
Labels: :Core/Features/Ingest, backport, v7.7.0

#51692 [DOCS] [7.6] Admonition for Apple notarization warning
  docs/reference/setup/install/targz-start.asciidoc
Labels: :Core/Infra/Packaging, >docs, v7.6.0

#51862 [Transform] mark transform API's stable
  x-pack/plugin/src/test/resources/rest-api-spec/api/transform.delete_transform.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/transform.get_transform.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/transform.get_transform_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/transform.preview_transform.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/transform.put_transform.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/transform.start_transform.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/transform.stop_transform.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/transform.update_transform.json
Labels: :ml/Transform, >enhancement, v7.7.0, v8.0.0

#51805 Forbid equality checks against 'true'
  buildSrc/src/main/resources/checkstyle.xml
  x-pack/plugin/sql/jdbc/src/main/java/org/elasticsearch/xpack/sql/jdbc/JdbcResultSetMetaData.java
Labels: :Core/Infra/Core, v8.0.0

#51260 Move analysis/mappings stats to cluster-stats.
  docs/reference/cluster/stats.asciidoc
  modules/analysis-common/src/test/resources/rest-api-spec/test/cluster.stats/10_analysis_stats.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/cluster.stats/10_basic.yml
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/AnalysisStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsIndices.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/IndexFeatureStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/MappingStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/MappingVisitor.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/TransportClusterStatsAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/AnalysisStatsTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/MappingStatsTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/MappingVisitorTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/oss/IndexFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/oss/IndexUsageTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/oss/package-info.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/oss/IndexFeatureSetUsageTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/xpack/15_basic.yml
Labels: :Core/Features/Stats, >non-issue, v7.7.0, v8.0.0

#51783 Throw better exception on wrong `dynamic_templates` syntax
  server/src/main/java/org/elasticsearch/index/mapper/RootObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/RootObjectMapperTests.java
Labels: :Search/Mapping, >bug, v7.7.0, v8.0.0

#51831 Fix assertion in sync flush simulation
  server/src/test/java/org/elasticsearch/gateway/ReplicaShardAllocatorSyncIdIT.java
Labels: :Distributed/Engine, >test, v8.0.0

#51776 Remove custom "execute" method from SClass user node in Painless
  modules/lang-painless/src/main/java/org/elasticsearch/painless/MethodWriter.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/antlr/Walker.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/ClassNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/FunctionNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/UnboundCallNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ELambda.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/ENewArrayFunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SClass.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/node/SFunction.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/FunctionTable.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FunctionTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/node/NodeToStringTests.java
Labels: :Core/Infra/Scripting, >refactoring, v8.0.0

#51230 Optimize sequential reads in SearchableSnapshotIndexInput
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobContainer.java
  server/src/main/java/org/elasticsearch/common/blobstore/BlobContainer.java
  server/src/main/java/org/elasticsearch/common/blobstore/fs/FsBlobContainer.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/SearchableSnapshotDirectory.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/SearchableSnapshotIndexInput.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/SearchableSnapshotIndexInputTests.java
Labels: :Distributed/Snapshot/Restore, >enhancement

#51832 Test modifications for FIPS 140 mode
  buildSrc/src/main/resources/fips_java.security
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/AddFileKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/AddStringKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/ChangeKeyStorePasswordCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/KeyStoreWrapperTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/ListKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/RemoveSettingKeyStoreCommandTests.java
  plugins/ingest-attachment/build.gradle
  qa/os/src/test/java/org/elasticsearch/packaging/test/KeystoreManagementTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackagingTestCase.java
  qa/smoke-test-plugins/build.gradle
Labels: :Core/Infra/Build, :Security/Security, >test-failure

#51844 Create a class to hold field capabilities for one index.
  client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilities.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesIndexResponse.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/IndexFieldCapabilities.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesAction.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesIndexAction.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesResponseTests.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/MergedFieldCapabilitiesResponseTests.java
  server/src/test/java/org/elasticsearch/search/fieldcaps/FieldCapabilitiesIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/index/IndexResolverTests.java
Labels: :Search/Mapping, backport

#51819 [7.x] Adding best_compression (#49974) (763480ee)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/CloseIndexStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ForceMergeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/OpenIndexStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForIndexColorStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CloseIndexStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ForceMergeActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/OpenIndexStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/TimeseriesLifecycleTypeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForIndexColorStepTests.java
  x-pack/plugin/ilm/qa/multi-node/src/test/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/TransportPutLifecycleActionTests.java
Labels: :Core/Features/ILM+SLM, backport, v7.7.0

#51513 [DOCS] Edit ILM GS tutorial
  docs/reference/ilm/getting-started-ilm.asciidoc
Labels: :Core/Features/ILM+SLM, >docs, v7.5.3, v7.6.0, v8.0.0

#51897 Mute failing field_caps tests
  rest-api-spec/src/main/resources/rest-api-spec/test/field_caps/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/field_caps/20_meta.yml
Labels: :Search/Mapping, >test-mute

#51898 Backporting updates to ILM org, overview, & GS
  docs/reference/glossary.asciidoc
  docs/reference/ilm/apis/delete-lifecycle.asciidoc
  docs/reference/ilm/apis/ilm-api.asciidoc
  docs/reference/ilm/apis/slm-api.asciidoc
  docs/reference/ilm/getting-started-ilm.asciidoc
  docs/reference/ilm/ilm-and-snapshots.asciidoc
  docs/reference/ilm/ilm-with-existing-indices.asciidoc
  docs/reference/ilm/index.asciidoc
  docs/reference/ilm/overview-ilm.asciidoc
  docs/reference/ilm/set-up-lifecycle-policy.asciidoc
  docs/reference/ilm/using-policies-rollover.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/rest-api/index.asciidoc
  docs/reference/slm/apis/index.asciidoc
  docs/reference/slm/apis/slm-api.asciidoc
  docs/reference/slm/apis/slm-delete.asciidoc
  docs/reference/slm/apis/slm-execute-retention.asciidoc
  docs/reference/slm/apis/slm-execute.asciidoc
  docs/reference/slm/apis/slm-get-status.asciidoc
  docs/reference/slm/apis/slm-get.asciidoc
  docs/reference/slm/apis/slm-put.asciidoc
  docs/reference/slm/apis/slm-start.asciidoc
  docs/reference/slm/apis/slm-stats.asciidoc
  docs/reference/slm/apis/slm-stop.asciidoc
  docs/reference/slm/getting-started-slm.asciidoc
  docs/reference/slm/index.asciidoc
  docs/reference/slm/slm-retention.asciidoc
  docs/reference/snapshot-restore/index.asciidoc
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.delete_lifecycle.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.execute_lifecycle.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.get_lifecycle.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.get_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.put_lifecycle.json
Labels: :Core/Features/ILM+SLM, >docs, backport, v7.7.0

#51902 Backporting updates to ILM org, overview, & GS (#51898)
  docs/reference/glossary.asciidoc
  docs/reference/ilm/apis/delete-lifecycle.asciidoc
  docs/reference/ilm/apis/ilm-api.asciidoc
  docs/reference/ilm/apis/slm-api.asciidoc
  docs/reference/ilm/getting-started-ilm.asciidoc
  docs/reference/ilm/ilm-and-snapshots.asciidoc
  docs/reference/ilm/ilm-with-existing-indices.asciidoc
  docs/reference/ilm/index.asciidoc
  docs/reference/ilm/overview-ilm.asciidoc
  docs/reference/ilm/set-up-lifecycle-policy.asciidoc
  docs/reference/ilm/using-policies-rollover.asciidoc
  docs/reference/modules.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/rest-api/index.asciidoc
  docs/reference/slm/apis/index.asciidoc
  docs/reference/slm/apis/slm-api.asciidoc
  docs/reference/slm/apis/slm-delete.asciidoc
  docs/reference/slm/apis/slm-execute-retention.asciidoc
  docs/reference/slm/apis/slm-execute.asciidoc
  docs/reference/slm/apis/slm-get-status.asciidoc
  docs/reference/slm/apis/slm-get.asciidoc
  docs/reference/slm/apis/slm-put.asciidoc
  docs/reference/slm/apis/slm-start.asciidoc
  docs/reference/slm/apis/slm-stats.asciidoc
  docs/reference/slm/apis/slm-stop.asciidoc
  docs/reference/slm/getting-started-slm.asciidoc
  docs/reference/slm/index.asciidoc
  docs/reference/slm/slm-retention.asciidoc
  docs/reference/snapshot-restore/index.asciidoc
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.delete_lifecycle.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.execute_lifecycle.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.get_lifecycle.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.get_stats.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/slm.put_lifecycle.json
Labels: :Core/Features/ILM+SLM, >docs, backport, v7.6.0

#51881 Update ForceMergeAction's BWC constants
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ForceMergeAction.java
Labels: :Core/Features/ILM+SLM, >non-issue, v8.0.0

#51789 SourceExists HLRC uses GetSourceRequest instead of GetRequest
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/core/GetSourceRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/CrudIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
Labels: :Core/Features/Java High Level REST Client, >enhancement, v7.7.0, v8.0.0

#51917 Mute LoggingOutputStreamTests
  server/src/test/java/org/elasticsearch/common/logging/LoggingOutputStreamTests.java
Labels: :Core/Infra/Logging, >test-mute, v7.7.0, v8.0.0

#51918 [7.6] Test: match the \ilm/ and \slm/ test name too (#51811)
  docs/src/test/java/org/elasticsearch/smoketest/DocsClientYamlTestSuiteIT.java
Labels: :Core/Features/ILM+SLM, backport, v7.6.1

#51919 [7.x] Test: match the \ilm/ and \slm/ test name too (#51811)
  docs/src/test/java/org/elasticsearch/smoketest/DocsClientYamlTestSuiteIT.java
Labels: :Core/Features/ILM+SLM, backport, v7.7.0

#51876 Prepare backport of #51260.
  build.gradle
  modules/analysis-common/src/test/resources/rest-api-spec/test/cluster.stats/10_analysis_stats.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/cluster.stats/10_basic.yml
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsResponse.java
Labels: >non-issue

#51912 Increase scroll timeout for upgrade test
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/10_basic.yml
Labels: :Search/Search, >test-failure, v7.6.1, v7.7.0, v8.0.0

#51920 Use #name() instead of #simpleName() when generating doc values
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/mapper/HistogramPercentileAggregationTests.java
Labels: :Analytics/Aggregations, >bug, v7.6.0, v7.7.0, v8.0.0

#51870 [ML] Remove stray field from inference processor docs
  docs/reference/ingest/processors/inference.asciidoc
Labels: :ml, >docs, v7.6.1, v7.7.0, v8.0.0

#51922 Mute failing tests in FIPS mode
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLErrorMessageCertificateVerificationTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/email/EmailSslTests.java
Labels: >test-mute

#51785 Update randomizedrunner to 2.7.6
  buildSrc/version.properties
Labels: :Core/Infra/Build

#51878 SQL: [Tests] add tests for literals and GROUP BY
  x-pack/plugin/sql/qa/src/main/resources/agg.sql-spec
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryFolderTests.java
Labels: :Search/SQL, >test, v7.6.1, v7.7.0, v8.0.0

#51872 EQL: Add field resolution and verification
  x-pack/plugin/eql/build.gradle
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/AnalysisUtils.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/Analyzer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/AnalyzerRule.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/Verifier.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/EqlFunctionRegistry.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/Configuration.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/EqlSession.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/EqlTestUtils.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/eql/src/test/resources/mapping-default.json
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/plan/logical/UnresolvedRelation.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/type/TypesTests.java
Labels: :Search/EQL

#51927 Histogram field: Use #name() instead of #simpleName() when generating…
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/mapper/HistogramPercentileAggregationTests.java
Labels: backport, v7.7.0

#51930 Histogram field: Use #name() instead of #simpleName() when generating…
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/mapper/HistogramPercentileAggregationTests.java
Labels: backport, v7.6.1

#51529 [ML] add _cat/ml/trained_models API
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/cat/RestCatTrainedModelsAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/cat.ml.trained_models.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/trained_model_cat_apis.yml
Labels: :ml, >enhancement, v7.7.0, v8.0.0

#51913 Change HLRC SourceExists to use GetSourceRequest instead of GetRequest
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/core/GetSourceRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/CrudIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/RequestConvertersTests.java
Labels: :Core/Features/Java High Level REST Client, backport, v7.7.0

#51886 EQL: Plug query params into the AstBuilder
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/RequestDefaults.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/PlanExecutor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/AstBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ParserParams.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/EqlSession.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
Labels: :Search/EQL

#51883 [DOCS] [7.6] Update Apple notarization instructions
  docs/reference/setup/install/targz-start.asciidoc
Labels: :Core/Infra/Packaging, >docs

#51821 [DOCS] Add EQL syntax page
  docs/reference/eql/index.asciidoc
  docs/reference/eql/syntax.asciidoc
Labels: :Search/EQL, >docs

#51933 Fix GCS Mock Http Handler JDK Bug
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
Labels: :Distributed/Snapshot/Restore, >test, v7.6.1, v7.7.0, v8.0.0

#51936 [7.x] [ML] add _cat/ml/trained_models API (#51529)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/cat/RestCatTrainedModelsAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/cat.ml.trained_models.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/trained_model_cat_apis.yml
Labels: :ml, backport

#51944 Fix GCS Mock Http Handler JDK Bug (#51933)
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
Labels: :Distributed/Snapshot/Restore, backport

#51941 Fix GCS Mock Http Handler JDK Bug (#51933)
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
Labels: :Distributed/Snapshot/Restore, backport

#51940 EQL: backport to 7.x
  x-pack/plugin/eql/build.gradle
  x-pack/plugin/eql/src/main/antlr/EqlBase.g4
  x-pack/plugin/eql/src/main/antlr/EqlBase.tokens
  x-pack/plugin/eql/src/main/antlr/EqlBaseLexer.tokens
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/RequestDefaults.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/AnalysisUtils.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/Analyzer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/AnalyzerRule.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/Failure.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/PreAnalyzer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/VerificationException.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/analysis/Verifier.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/PlanExecutor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/expression/function/EqlFunctionRegistry.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/AbstractBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/AstBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/CaseInsensitiveStream.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseBaseListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseBaseVisitor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseLexer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlBaseVisitor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/EqlParser.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ExpressionBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/IdentifierBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ParserParams.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plan/physical/PhysicalPlan.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/planner/Planner.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/EqlPlugin.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/TransportEqlSearchAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/Configuration.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/EqlSession.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/Executable.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/Results.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/session/Sequence.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/EqlTestUtils.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/GrammarTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/LogicalPlanTests.java
  x-pack/plugin/eql/src/test/resources/grammar-queries.eql
  x-pack/plugin/eql/src/test/resources/mapping-default.json
  x-pack/plugin/eql/src/test/resources/queries-supported.eql
  x-pack/plugin/eql/src/test/resources/queries-unsupported.eql
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/EsIndex.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/plan/logical/LeafPlan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/plan/logical/UnresolvedRelation.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/type/TypesTests.java
Labels: :Search/EQL, backport

#51938 Give more time to AutoFollowIT tests
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
Labels: :Distributed/CCR, >test, v7.6.1, v7.7.0, v8.0.0

#51884 Disable reindex test against 0.90 on mac
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/remote/ReindexFromOldRemoteIT.java
Labels: :Distributed/Reindex, >test, v7.6.1, v7.7.0, v8.0.0

#51934 Remove 8fips from our runtime matrix
  .ci/matrix-runtime-javas.yml
Labels: :Core/Infra/Build, v6.8.7

#51893 Add documentation about ILM forcemerge with best_compression
  docs/reference/ilm/policy-definitions.asciidoc
Labels: :Core/Features/ILM+SLM, >docs, v7.7.0, v8.0.0

#51149 added note for allocation during hot phase
  docs/reference/ilm/policy-definitions.asciidoc
Labels: :Core/Features/ILM+SLM, >docs

#51647 Remove generics and target value type from MultiVSAB
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/WeightedAvgAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/WeightedAvgAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/MultiValuesSourceAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/MultiValuesSourceAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/MultiValuesSourceParseHelper.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValueType.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceConfig.java
Labels: :Analytics/Aggregations

#51868 Fix a sneaky bug in rare_terms
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/280_rare_terms.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/AbstractRareTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/LongRareTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/StringRareTermsAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregatorTests.java
Labels: :Analytics/Aggregations, >bug, v7.6.1, v7.7.0, v8.0.0

#51903 [DOCS] Augments update license API
  docs/reference/licensing/update-license.asciidoc
Labels: :Security/License, >docs, v7.7.0, v8.0.0

#44197 [DOCS] Defines data frame transform stats API objects
  docs/reference/transform/apis/get-transform-stats.asciidoc
Labels: :ml/Transform, >docs, v7.7.0, v8.0.0

#51959 Fix a sneaky bug in rare_terms (backport of #51868)
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/280_rare_terms.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/AbstractRareTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/LongRareTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/StringRareTermsAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregatorTests.java
Labels: backport, v7.7.0

#51567 Add empty_value parameter to CSV processor
  docs/reference/ingest/processors/csv.asciidoc
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/CsvParser.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/CsvProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/CsvProcessorTests.java
Labels: :Core/Features/Ingest, >enhancement, v7.7.0, v8.0.0

#51966 [7.x] Add empty_value parameter to CSV processor (#51567)
  docs/reference/ingest/processors/csv.asciidoc
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/CsvParser.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/CsvProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/CsvProcessorTests.java
Labels: backport

#51970 Mute ReplicaShardAllocatorSyncIdIT.testPreferCopyCanPerformNoopRecovery
  server/src/test/java/org/elasticsearch/gateway/ReplicaShardAllocatorSyncIdIT.java
Labels: :Distributed/Recovery, >test-mute

#51971 Log failure when cleaning shard follow task
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskCleaner.java
Labels: :Distributed/CCR, >non-issue, v6.8.7, v7.6.1, v7.7.0, v8.0.0

#51891 [DOCS] Adds tip for elastic built-in user
  x-pack/docs/en/security/authentication/built-in-users.asciidoc
Labels: :Security/Authentication, >docs, v7.7.0, v8.0.0

#51963 [DOCS] Adds curl explanation to getting started content
  docs/reference/getting-started.asciidoc
Labels: :Docs, >docs, v7.7.0, v8.0.0

#51976 Mute SecurityTribeTests
  x-pack/qa/tribe-tests-with-security/build.gradle
Labels: :Security/Security, >test-mute

#51885 Remove the query builder serialization from QueryShardException message
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/test/java/org/elasticsearch/index/query/QueryShardContextTests.java
Labels: :Core/Infra/Logging, :Search/Search, >enhancement, v7.7.0, v8.0.0

#51708 Always rewrite search shard request outside of the search thread pool
  rest-api-spec/src/main/resources/rest-api-spec/test/search/140_pre_filter_search_shards.yml
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchResult.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesRequestCacheIT.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  server/src/test/java/org/elasticsearch/search/internal/ShardSearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/query/QuerySearchResultTests.java
  x-pack/plugin/frozen-indices/src/test/java/org/elasticsearch/index/engine/FrozenIndexTests.java
Labels: :Distributed/Engine, :Search/Search, >enhancement, v7.7.0, v8.0.0

#51867 Clarify use of ES_JAVA_OPTS and Docker
  docs/reference/setup/install/docker.asciidoc
  docs/reference/setup/jvm-options.asciidoc
Labels: >docs, v7.6.1, v7.7.0, v8.0.0

#51979 Always rewrite search shard request outside of the search thread pool
  rest-api-spec/src/main/resources/rest-api-spec/test/search/140_pre_filter_search_shards.yml
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchResult.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesRequestCacheIT.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  server/src/test/java/org/elasticsearch/search/internal/ShardSearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/query/QuerySearchResultTests.java
  x-pack/plugin/frozen-indices/src/test/java/org/elasticsearch/index/engine/FrozenIndexTests.java
Labels: :Search/Search, backport

#51923 Reenable BWC tests.
  build.gradle
Labels: :Core/Features/Stats, >non-issue, v8.0.0

#51984 Clarify use of ES_JAVA_OPTS and Docker
  docs/reference/setup/install/docker.asciidoc
  docs/reference/setup/jvm-options.asciidoc
Labels: >docs, backport, v7.7.0

#51985 Clarify use of ES_JAVA_OPTS and Docker
  docs/reference/setup/install/docker.asciidoc
  docs/reference/setup/jvm-options.asciidoc
Labels: >docs, backport, v7.6.0

#51983 Remove 8fips from our runtime matrix
  .ci/matrix-runtime-javas.yml
Labels: :Core/Infra/Build, >test-failure

#51987 Clarify use of ES_JAVA_OPTS and Docker
  docs/reference/setup/install/docker.asciidoc
  docs/reference/setup/jvm-options.asciidoc
Labels: >docs, backport, v6.8.7

#51947 Cleanup test user in HLRC test (#49477)
  client/rest-high-level/src/test/java/org/elasticsearch/client/SecurityIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SecurityDocumentationIT.java
Labels: backport

#51943 Cleanup test user in HLRC test (#49477)
  client/rest-high-level/src/test/java/org/elasticsearch/client/SecurityIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SecurityDocumentationIT.java
Labels: backport

#51942 Cleanup test user in HLRC test (#49477)
  client/rest-high-level/src/test/java/org/elasticsearch/client/SecurityIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SecurityDocumentationIT.java
Labels: backport

#51981 Cat.ml.* introduces an additional depths to namespace API's
  x-pack/plugin/src/test/resources/rest-api-spec/api/cat.ml_datafeeds.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/cat.ml_jobs.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/cat.ml_trained_models.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/datafeed_cat_apis.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/job_cat_apis.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/trained_model_cat_apis.yml
Labels: :Core/Infra/REST API

#51888 [ML] allow close/stop for jobs/datafeeds with missing configs
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/JobAndDatafeedResilienceIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDatafeedsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetJobsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportIsolateDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/persistence/DatafeedConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportCloseJobActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedConfigProviderIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/JobConfigProviderIT.java
Labels: :ml, >non-issue, v7.7.0, v8.0.0

#51815 Add REST API for cache directory stats
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/searchablesnapshots/SearchableSnapshotShardStats.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/searchablesnapshots/SearchableSnapshotShardStatsTests.java
  x-pack/plugin/searchable-snapshots/build.gradle
  x-pack/plugin/searchable-snapshots/qa/build.gradle
  x-pack/plugin/searchable-snapshots/qa/rest/build.gradle
  x-pack/plugin/searchable-snapshots/qa/rest/src/test/java/org/elasticsearch/xpack/searchablesnapshots/rest/SearchableSnapshotsRestIT.java
  x-pack/plugin/searchable-snapshots/qa/rest/src/test/resources/rest-api-spec/test/stats.yml
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/InMemoryNoOpCommitDirectory.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/SearchableSnapshotsStatsAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/SearchableSnapshotsStatsRequest.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/SearchableSnapshotsStatsResponse.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/TransportSearchableSnapshotsStatsAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/CacheDirectory.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/IndexInputStats.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/rest/RestSearchableSnapshotsStatsAction.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/IndexInputStatsTests.java
  x-pack/plugin/searchable-snapshots/src/test/resources/rest-api-spec/api/searchable_snapshots.stats.json
Labels: :Distributed/Snapshot/Restore, >enhancement

#51982 Introduces validation to restrict API's to single namespace
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParser.java
Labels: :Core/Infra/REST API

#49368 Time parameter includes description
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.indices.json
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.nodes.json
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.pending_tasks.json
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.recovery.json
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.shards.json
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.snapshots.json
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.tasks.json
Labels: :Core/Infra/REST API

#51990 [Transform] Fix mapping deduction for scaled_float
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/Aggregations.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/AggregationsTests.java
Labels: :ml/Transform, >bug, v7.6.1, v7.7.0, v8.0.0

#51879 [ML] Add new categorization stats to model_size_stats
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/process/ModelSizeStats.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/process/ModelSizeStatsTests.java
  docs/reference/ml/anomaly-detection/apis/get-job-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/revert-snapshot.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/process/autodetect/state/ModelSizeStats.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/process/autodetect/state/ModelSizeStatsTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/cat/RestCatJobsAction.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/ml/JobStatsMonitoringDocTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/delete_model_snapshot.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/jobs_get_stats.yml
Labels: :ml, >non-issue, v7.7.0, v8.0.0

#51997 [7.x] [ML] allow close/stop for jobs/datafeeds with missing configs (#51888)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/JobAndDatafeedResilienceIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDatafeedsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetJobsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportIsolateDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/persistence/DatafeedConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportCloseJobActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/DatafeedConfigProviderIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/integration/JobConfigProviderIT.java
Labels: :ml, backport

#52010 Mute failing tests on Windows (#50825)
  qa/os/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/CertGenCliTests.java
Labels: :Core/Infra/Packaging

#52011 Mute LangPainlessClientYamlTestSuiteIT context API tests
  modules/lang-painless/src/test/resources/rest-api-spec/test/painless/71_context_api.yml
Labels: :Core/Infra/Scripting, >test-mute

#51684 Add Trace Logging of REST Requests
  docs/reference/modules/http.asciidoc
  docs/reference/modules/transport.asciidoc
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/Netty4Plugin.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4BadRequestTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerPipeliningTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpServerTransport.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTransportPlugin.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpServerTransportTests.java
  server/src/main/java/org/elasticsearch/common/network/NetworkModule.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/http/AbstractHttpServerTransport.java
  server/src/main/java/org/elasticsearch/http/DefaultRestChannel.java
  server/src/main/java/org/elasticsearch/http/HttpTracer.java
  server/src/main/java/org/elasticsearch/http/HttpTransportSettings.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/plugins/NetworkPlugin.java
  server/src/main/java/org/elasticsearch/rest/RestRequest.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/common/network/NetworkModuleTests.java
  server/src/test/java/org/elasticsearch/http/AbstractHttpServerTransportTests.java
  server/src/test/java/org/elasticsearch/http/DefaultRestChannelTests.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransportTests.java
Labels: :Distributed/Network, >non-issue, v7.7.0, v8.0.0

#51718 Remove the index.mapper.dynamic setting.
  server/src/main/java/org/elasticsearch/action/support/AutoCreateIndex.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingVersionTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowActionTests.java
Labels: :Search/Mapping, >refactoring, v8.0.0

#51743 [DOCS] Include docs on permanently unreleased branches only
  docs/Versions.asciidoc
  docs/reference/index.asciidoc
Labels: :Distributed/Autoscaling, :Docs, :Search/EQL, >docs

#51564 Add autoscaling API skelton
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/Role.java
  docs/reference/autoscaling/apis/autoscaling-apis.asciidoc
  docs/reference/autoscaling/apis/get-autoscaling-decision.asciidoc
  docs/reference/rest-api/index.asciidoc
  x-pack/docs/en/rest-api/security/get-builtin-privileges.asciidoc
  x-pack/plugin/autoscaling/build.gradle
  x-pack/plugin/autoscaling/qa/build.gradle
  x-pack/plugin/autoscaling/qa/rest/autoscaling-roles.yml
  x-pack/plugin/autoscaling/qa/rest/build.gradle
  x-pack/plugin/autoscaling/qa/rest/src/test/java/org/elasticsearch/xpack/autoscaling/AutoscalingRestIT.java
  x-pack/plugin/autoscaling/qa/rest/src/test/resources/rest-api-spec/test/autoscaling/get_autoscaling_decision.yml
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/Autoscaling.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/GetAutoscalingDecisionAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingDecisionAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/rest/RestGetAutoscalingDecisionHandler.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/AutoscalingTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/PrivilegeTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/autoscaling.get_autoscaling_decision.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/privileges/11_builtin.yml
Labels: :Distributed/Autoscaling

#51856 SQL: Handle uberjar scenario where the ES jdbc driver file is bundled in another jar
  x-pack/plugin/sql/sql-client/src/main/java/org/elasticsearch/xpack/sql/client/Version.java
  x-pack/plugin/sql/sql-client/src/test/java/org/elasticsearch/xpack/sql/client/VersionTests.java
Labels: :Search/SQL, >enhancement, v7.6.1, v7.7.0, v8.0.0

#52024 SQL: Handle uberjar scenario where the ES jdbc driver file is bundld in another jar
  x-pack/plugin/sql/sql-client/src/main/java/org/elasticsearch/xpack/sql/client/Version.java
  x-pack/plugin/sql/sql-client/src/test/java/org/elasticsearch/xpack/sql/client/VersionTests.java
Labels: :Search/SQL, >enhancement, backport

#52022 Add autoscaling API skelton (7.x)
  client/rest-high-level/src/main/java/org/elasticsearch/client/security/user/privileges/Role.java
  docs/reference/autoscaling/apis/autoscaling-apis.asciidoc
  docs/reference/autoscaling/apis/get-autoscaling-decision.asciidoc
  docs/reference/rest-api/index.asciidoc
  x-pack/docs/en/rest-api/security/get-builtin-privileges.asciidoc
  x-pack/plugin/autoscaling/build.gradle
  x-pack/plugin/autoscaling/qa/build.gradle
  x-pack/plugin/autoscaling/qa/rest/autoscaling-roles.yml
  x-pack/plugin/autoscaling/qa/rest/build.gradle
  x-pack/plugin/autoscaling/qa/rest/src/test/java/org/elasticsearch/xpack/autoscaling/AutoscalingRestIT.java
  x-pack/plugin/autoscaling/qa/rest/src/test/resources/rest-api-spec/test/autoscaling/get_autoscaling_decision.yml
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/Autoscaling.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/GetAutoscalingDecisionAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingDecisionAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/rest/RestGetAutoscalingDecisionHandler.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/AutoscalingTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/PrivilegeTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/autoscaling.get_autoscaling_decision.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/privileges/11_builtin.yml
Labels: backport

#51988 Don't allow null User.principal
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/User.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/ingest/SetSecurityUserProcessorTests.java
Labels: :Security/Authentication, >non-issue, v7.7.0, v8.0.0

#52015 Add Trace Logging of REST Requests (#51684)
  docs/reference/modules/http.asciidoc
  docs/reference/modules/transport.asciidoc
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/Netty4Plugin.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4BadRequestTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerPipeliningTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
  plugins/transport-nio/src/main/java/org/elasticsearch/http/nio/NioHttpServerTransport.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTransportPlugin.java
  plugins/transport-nio/src/test/java/org/elasticsearch/http/nio/NioHttpServerTransportTests.java
  server/src/main/java/org/elasticsearch/client/transport/TransportClient.java
  server/src/main/java/org/elasticsearch/common/network/NetworkModule.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/http/AbstractHttpServerTransport.java
  server/src/main/java/org/elasticsearch/http/DefaultRestChannel.java
  server/src/main/java/org/elasticsearch/http/HttpTracer.java
  server/src/main/java/org/elasticsearch/http/HttpTransportSettings.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/plugins/NetworkPlugin.java
  server/src/main/java/org/elasticsearch/rest/RestRequest.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/common/network/NetworkModuleTests.java
  server/src/test/java/org/elasticsearch/http/AbstractHttpServerTransportTests.java
  server/src/test/java/org/elasticsearch/http/DefaultRestChannelTests.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/nio/SecurityNioHttpServerTransportTests.java
Labels: :Distributed/Network, backport

#51996 [ML] Make Ensemble feature names optional
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/Ensemble.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/ensemble/EnsembleTests.java
  docs/reference/ml/df-analytics/apis/put-inference.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/Ensemble.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/EnsembleTests.java
Labels: :ml, >non-issue, v7.6.1, v7.7.0, v8.0.0

#52038 Mute CoreFullClusterRestartIT testRecovery
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
Labels: >test-mute, v7.7.0, v8.0.0

#52008 Fix checkstyle errors after merging master
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/HistogramAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/PercentilesAggregationBuilder.java
Labels: :Analytics/Aggregations

#52028 Force flush in ReplicaShardAllocatorSyncIdIT
  server/src/test/java/org/elasticsearch/gateway/ReplicaShardAllocatorSyncIdIT.java
Labels: :Distributed/Recovery, >test, v8.0.0

#51977 Remove Redundant Loading of RepositoryData during Restore
  server/src/main/java/org/elasticsearch/cluster/routing/RecoverySource.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/cluster/routing/ShardRoutingTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/UnassignedInfoTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/NodeVersionAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ThrottlingAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/RestoreInProgressAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/gateway/PrimaryShardAllocatorTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
  server/src/test/java/org/elasticsearch/repositories/fs/FsRepositoryTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/routing/TestShardRouting.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskReplicationTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowEngineIndexShardTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/SourceOnlySnapshotShardTests.java
Labels: :Distributed/Snapshot/Restore, >non-issue, v7.7.0, v8.0.0

#52017 Fixed the "Asynchronous usage" title
  docs/java-rest/high-level/getting-started.asciidoc
Labels: :Core/Features/Java High Level REST Client, >docs, v7.5.3, v7.6.1, v7.7.0, v8.0.0

#52051 Increase shard inactive time to 1h in x-pack upgrade tests
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
Labels: :Distributed/Recovery, >test, v6.8.7, v7.5.3, v7.6.1, v7.7.0, v8.0.0

#51937 [ML][Inference] adding number_samples to TreeNode
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/inference/trainedmodel/tree/TreeNode.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/inference/trainedmodel/tree/TreeNodeTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/tree/TreeNode.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/tree/TreeNodeTests.java
Labels: :ml, >non-issue, v7.7.0, v8.0.0

#51889 [ML] Add bwc serialization unit test scaffold
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/DataFrameAnalyticsSource.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/BoostedTreeParams.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetection.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/AbstractBWCSerializationTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/DataFrameAnalyticsConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/DataFrameAnalyticsDestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/DataFrameAnalyticsSourceTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/BoostedTreeParamsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/OutlierDetectionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsProcessManagerTests.java
Labels: :ml, >test, v7.7.0, v8.0.0

#52066 Revert "[DOCS] Include docs on permanently unreleased branches only (#51743)
  docs/Versions.asciidoc
  docs/reference/index.asciidoc
Labels: :Distributed/Autoscaling, :Docs, :Search/EQL, >docs

#42121 SQL: [Tests] Add integ tests for selecting a literal and an aggregate
  x-pack/plugin/sql/qa/src/main/resources/agg.sql-spec
Labels: :Search/SQL, >test, v7.6.1, v7.7.0, v8.0.0

#51710 Plumb ValuesSourceRegistry through to QuerySearchContext
  server/src/main/java/org/elasticsearch/index/IndexModule.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/HistogramAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/HistogramAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/PercentilesAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/PercentilesAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceConfig.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceRegistry.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/index/IndexModuleTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldNamesFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IndexFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RangeFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/query/IntervalQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryShardContextTests.java
  server/src/test/java/org/elasticsearch/index/query/RangeQueryRewriteTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/ExtendedBoundsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/ScriptedMetricAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/highlight/HighlightBuilderTests.java
  server/src/test/java/org/elasticsearch/search/rescore/QueryRescorerBuilderTests.java
  server/src/test/java/org/elasticsearch/search/sort/AbstractSortTestCase.java
  server/src/test/java/org/elasticsearch/search/suggest/AbstractSuggestionBuilderTestCase.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  test/framework/src/test/java/org/elasticsearch/search/MockSearchServiceTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/DocumentSubsetBitsetCacheTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/SecurityIndexReaderWrapperIntegrationTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerIndexingTests.java
Labels: :Analytics/Aggregations

#52067 Mute RemoteClusterClientTests testEnsureWeReconnect
  server/src/test/java/org/elasticsearch/transport/RemoteClusterClientTests.java
Labels: >test-mute, v8.0.0

#52019 Restore docker build exclusions
  .ci/dockerOnLinuxExclusions
Labels: :Core/Infra/Packaging, >non-issue, v8.0.0

#51962 Avoid clash between source field and header field in CsvProcessorTests
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/CsvProcessorTests.java
Labels: :Core/Features/Ingest, >test, v7.6.1, v7.7.0, v8.0.0
