Repository elastic/elasticsearch, pull requests merged in 2020-11, with the labels that each got.

#64222 Autoscaling policy roles specification
  docs/reference/autoscaling/apis/delete-autoscaling-policy.asciidoc
  docs/reference/autoscaling/apis/get-autoscaling-policy.asciidoc
  docs/reference/autoscaling/apis/put-autoscaling-policy.asciidoc
  x-pack/plugin/autoscaling/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/autoscaling/delete_autoscaling_policy.yml
  x-pack/plugin/autoscaling/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/autoscaling/get_autoscaling_capacity.yml
  x-pack/plugin/autoscaling/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/autoscaling/get_autoscaling_policy.yml
  x-pack/plugin/autoscaling/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/autoscaling/put_autoscaling_policy.yml
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportDeleteAutoscalingPolicyActionIT.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingPolicyActionIT.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportPutAutoscalingPolicyActionIT.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/GetAutoscalingPolicyAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/PutAutoscalingPolicyAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/TransportPutAutoscalingPolicyAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingDeciderContext.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/policy/AutoscalingPolicy.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/AutoscalingTestCase.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/action/PutAutoscalingPolicyActionRequestWireSerializingTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/action/TransportPutAutoscalingPolicyActionTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityServiceTests.java
Labels: :Distributed/Autoscaling, >non-issue, Team:Distributed, v7.11.0, v8.0.0

#64457 Autoscaling policy roles specification (#64222)
  docs/reference/autoscaling/apis/delete-autoscaling-policy.asciidoc
  docs/reference/autoscaling/apis/get-autoscaling-policy.asciidoc
  docs/reference/autoscaling/apis/put-autoscaling-policy.asciidoc
  x-pack/plugin/autoscaling/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/autoscaling/delete_autoscaling_policy.yml
  x-pack/plugin/autoscaling/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/autoscaling/get_autoscaling_capacity.yml
  x-pack/plugin/autoscaling/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/autoscaling/get_autoscaling_policy.yml
  x-pack/plugin/autoscaling/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/autoscaling/put_autoscaling_policy.yml
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportDeleteAutoscalingPolicyActionIT.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingPolicyActionIT.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportPutAutoscalingPolicyActionIT.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/GetAutoscalingPolicyAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/PutAutoscalingPolicyAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/TransportPutAutoscalingPolicyAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingDeciderContext.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/policy/AutoscalingPolicy.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/AutoscalingTestCase.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/action/PutAutoscalingPolicyActionRequestWireSerializingTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/action/TransportPutAutoscalingPolicyActionTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityServiceTests.java
Labels: :Distributed/Autoscaling, >non-issue, Team:Distributed, backport, v7.11.0

#64404 [DOCS]: ILM rollover max_age condition disregards origination date
  docs/reference/ilm/actions/ilm-rollover.asciidoc
  docs/reference/settings/ilm-settings.asciidoc
Labels: :Core/Features/ILM+SLM, >docs, Team:Core/Features, Team:Docs, v7.10.0, v7.11.0, v7.9.4, v8.0.0

#64458 [7.x] [DOCS]: ILM rollover max_age condition disregards origination date (#64404)
  docs/reference/ilm/actions/ilm-rollover.asciidoc
  docs/reference/settings/ilm-settings.asciidoc
Labels: >docs, Team:Docs, backport, v7.11.0

#64459 [7.10][DOCS]: ILM rollover max_age condition disregards origination date (#64404)
  docs/reference/ilm/actions/ilm-rollover.asciidoc
  docs/reference/settings/ilm-settings.asciidoc
Labels: >docs, backport, v7.10.0

#64460 [7.9][DOCS]: ILM rollover max_age condition disregards origination date (#64404)
  docs/reference/ilm/actions/ilm-rollover.asciidoc
  docs/reference/settings/ilm-settings.asciidoc
Labels: >docs, Team:Docs, backport, v7.9.4

#64402 [7.x] Hidden data streams (#63987)
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/DataStream.java
  docs/reference/data-streams/change-mappings-and-settings.asciidoc
  docs/reference/indices/get-data-stream.asciidoc
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplate.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstraction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstractionResolver.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/DataStreamTestHelper.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/DeleteDataStreamAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/GetDataStreamAction.java
  x-pack/plugin/data-streams/qa/rest/build.gradle
  x-pack/plugin/data-streams/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/datastreams/DataStreamUpgradeRestIT.java
  x-pack/plugin/data-streams/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/datastreams/DataStreamsRestIT.java
  x-pack/plugin/data-streams/qa/rest/src/yamlRestTest/java/org/elasticsearch/xpack/datastreams/DataStreamsClientYamlTestSuiteIT.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/action/DataStreamsActionUtil.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/action/DeleteDataStreamTransportAction.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/action/GetDataStreamsTransportAction.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/rest/RestDeleteDataStreamAction.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/rest/RestGetDataStreamsAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/indices.delete_data_stream.json
  x-pack/plugin/src/test/resources/rest-api-spec/api/indices.get_data_stream.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/10_basic.yml
Labels: backport

#64462 Fix CoordinatorTests.testUnresponsiveLeaderDetectedEventually
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
Labels: :Distributed/Cluster Coordination, >test, Team:Distributed, v7.11.0

#64228 Fix CcrRepositoryIT.testCcrRepositoryFetchesSnapshotShardSizeFromIndexShardStoreStats
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
Labels: :Distributed/CCR, >test, Team:Distributed, v7.10.1, v7.11.0, v8.0.0

#64446 [7.x] [DOCS] Fix typo in IndexService.java (#64034)
  server/src/main/java/org/elasticsearch/index/IndexService.java
Labels: backport

#64447 [7.10] [DOCS] Fix typo in IndexService.java (#64034)
  server/src/main/java/org/elasticsearch/index/IndexService.java
Labels: backport, v7.10.1

#64090 Heap Size MUST be set to the same min and max
  docs/reference/setup/important-settings/heap-size.asciidoc
Labels: :Core/Infra/Resiliency, >docs, Team:Core/Infra, Team:Docs, v7.10.1, v7.11.0, v7.9.4, v8.0.0

#64468 Adjust version of hidden data streams
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/10_basic.yml
Labels: :Core/Features/Data streams, Team:Core/Features, v7.11.0, v8.0.0

#64473 [7.9] [DOCS] Fix typo in IndexService.java (#64034)
  server/src/main/java/org/elasticsearch/index/IndexService.java
Labels: backport, v7.9.4

#64474 [master] [DOCS] Note heap size must be set to same min and max (#64090)
  docs/reference/setup/important-settings/heap-size.asciidoc
Labels: backport, v8.0.0

#64475 [7.x] [DOCS] Note heap size must be set to same min and max (#64090)
  docs/reference/setup/important-settings/heap-size.asciidoc
Labels: backport, v7.11.0

#64476 [7.10] [DOCS] Note heap size must be set to same min and max (#64090)
  docs/reference/setup/important-settings/heap-size.asciidoc
Labels: backport, v7.10.1

#64477 [6.8] [DOCS] Note heap size must be set to same min and max (#64090)
  docs/reference/setup/important-settings/heap-size.asciidoc
Labels: backport, v6.8.14

#64479 Fix CcrRepositoryIT.testCcrRepositoryFetchesSnapshotShardSizeEtc
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
Labels: :Distributed/CCR, >test, Team:Distributed, backport, v7.10.1

#64471 [ML] Increase forecast test timeout
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlNativeAutodetectIntegTestCase.java
Labels: :ml, >test, v7.10.1, v7.11.0, v7.9.4, v8.0.0

#64365 Collapse ParametrizedFieldMapper into FieldMapper
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeatureFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeaturesFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/TokenCountFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapperTests.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/MetaJoinFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentIdFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/mapper/ICUCollationKeywordFieldMapper.java
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  plugins/mapper-murmur3/src/main/java/org/elasticsearch/index/mapper/murmur3/Murmur3FieldMapper.java
  plugins/mapper-size/src/main/java/org/elasticsearch/index/mapper/size/SizeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicKeyFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldNamesFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/LegacyGeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MetadataFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ParametrizedFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeType.java
  server/src/main/java/org/elasticsearch/index/mapper/RoutingFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextParams.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeParsers.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/BinaryFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ExternalMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FakeStringFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/ParametrizedMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MockFieldMapper.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/mapper/DataStreamTimestampFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlattenedFieldMapper.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/RuntimeFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.11.0, v8.0.0

#64408 [DOCS] Fix local build directory in README.asciidoc
  README.asciidoc
Labels: :Core/Infra/Build, >docs, Team:Core/Infra, Team:Docs, v7.10.1, v7.11.0, v7.9.4, v8.0.0

#64278 [7.x] [ML] refactor tasks classes and add new abstract executor (#64242)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportFlushJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportForecastJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetJobsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportJobTaskAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportKillProcessAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPersistJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPostDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateProcessAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/ProcessContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/JobTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/task/AbstractJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlAssignmentNotifierTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportCloseJobActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedNodeSelectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeLoadDetectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeSelectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/task/JobTaskTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/task/AbstractJobPersistentTasksExecutorTests.java
Labels: :ml, backport

#64210 Move SLM history back to hidden .slm-history
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/history/SnapshotHistoryStore.java
  x-pack/plugin/core/src/main/resources/slm-history.json
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/slm/SnapshotLifecycleRestIT.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/slm/SLMSnapshotBlockingIntegTests.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, v7.11.0, v8.0.0

#64485 Document Recommended Maximum Repository Size in SLM Docs
  docs/reference/slm/apis/slm-put.asciidoc
Labels: :Core/Features/ILM+SLM, >docs, Team:Core/Features, Team:Docs, v7.11.0, v8.0.0

#64489 [7.x] Adjust version of hidden data streams (#64468)
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/10_basic.yml
Labels: backport

#64482 [7.x] [DOCS] Fix local build directory in README.asciidoc (#64408)
  README.asciidoc
Labels: backport, v7.11.0

#64483 [7.10] [DOCS] Fix local build directory in README.asciidoc (#64408)
  README.asciidoc
Labels: backport, v7.10.1

#64484 [7.9] [DOCS] Fix local build directory in README.asciidoc (#64408)
  README.asciidoc
Labels: backport, v7.9.4

#64417 Change deprecation indexing to use a custom template
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/deprecation/deprecation-indexing-ilm-policy.json
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/deprecation/deprecation-indexing-mappings.json
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/deprecation/deprecation-indexing-settings.json
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/deprecation/deprecation-indexing-template.json
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/Deprecation.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationIndexingAppender.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationIndexingComponent.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationIndexingTemplateRegistry.java
Labels: :Core/Infra/Logging, >enhancement, >non-issue, Team:Core/Infra, v7.11.0, v8.0.0

#64492 Document Recommended Maximum Repository Size in SLM Docs (#64485)
  docs/reference/slm/apis/slm-put.asciidoc
Labels: :Core/Features/ILM+SLM, Team:Core/Features, backport

#64478 Fix CcrRepositoryIT.testCcrRepositoryFetchesSnapshotShardSizeEtc
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
Labels: :Distributed/CCR, >test, backport, v7.11.0

#64490 Fix CoordinatorTests.testUnresponsiveLeaderDetectedEventually 7.x
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
Labels: :Distributed/Cluster Coordination, >test, Team:Distributed, backport, v7.11.0

#64451 Upgrade to version 3.5 of Gradle Enterprise plugin
  settings.gradle
Labels: :Core/Infra/Build, Team:Core/Infra

#64442 Fix OpenJDK source code download url in dependencies report
  distribution/build.gradle
Labels: :Core/Infra/Build, Team:Core/Infra

#64493 Make legacy template noop updates not change cluster state
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexTemplateMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
Labels: :Core/Features/Indices APIs, Team:Core/Features, v7.11.0, v8.0.0

#64433 Enhance logging for timed out transport requests
  server/src/main/java/org/elasticsearch/transport/TransportService.java
Labels: :Core/Infra/Transport API, >non-issue, Team:Core/Infra, v7.11.0, v8.0.0

#64487 Collapse ParametrizedFieldMapper into FieldMapper (#64365)
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeatureFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeaturesFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/TokenCountFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapperTests.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/MetaJoinFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentIdFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/mapper/ICUCollationKeywordFieldMapper.java
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  plugins/mapper-murmur3/src/main/java/org/elasticsearch/index/mapper/murmur3/Murmur3FieldMapper.java
  plugins/mapper-size/src/main/java/org/elasticsearch/index/mapper/size/SizeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AllFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicKeyFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldNamesFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/LegacyGeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MetadataFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ParametrizedFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeType.java
  server/src/main/java/org/elasticsearch/index/mapper/RoutingFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextParams.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeParsers.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/BinaryFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ExternalMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FakeStringFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/ParametrizedMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MockFieldMapper.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/mapper/DataStreamTimestampFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlattenedFieldMapper.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/RuntimeFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: backport

#64498 [7.x] Make legacy template noop updates not change cluster state (#64493)
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexTemplateMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
Labels: :Core/Features/Indices APIs, Team:Core/Features, backport, v7.11.0

#63122 [7.x] Move SLM history to data stream (#63038)
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/history/SnapshotHistoryStore.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/history/SnapshotLifecycleTemplateRegistry.java
  x-pack/plugin/core/src/main/resources/slm-history.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/history/SnapshotHistoryStoreTests.java
  x-pack/plugin/ilm/build.gradle
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/slm/SnapshotLifecycleRestIT.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/slm/SLMSnapshotBlockingIntegTests.java
Labels: backport

#64499 Fix expected warning header in data stream tests
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/10_basic.yml
Labels: :Core/Features/Data streams, >non-issue, >test, Team:Core/Features, v7.11.0, v8.0.0

#64507 [DOCS] Add redirect for heap size
  docs/reference/redirects.asciidoc
  docs/reference/setup/important-settings/heap-size.asciidoc
Labels: >docs, Team:Docs, v7.10.1, v7.11.0, v8.0.0

#64505 [7.x] Fix IngestDocument.deepCopy to support sets (#63067)
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
  server/src/test/java/org/elasticsearch/action/ingest/WriteableIngestDocumentTests.java
Labels: :Core/Features/Ingest, >enhancement, Team:Core/Features, backport, v7.11.0

#64508 [7.x] [DOCS] Add redirect for heap size (#64507)
  docs/reference/redirects.asciidoc
  docs/reference/setup/important-settings/heap-size.asciidoc
Labels: backport

#64509 [7.10] [DOCS] Add redirect for heap size (#64507)
  docs/reference/redirects.asciidoc
  docs/reference/setup/important-settings/heap-size.asciidoc
Labels: backport, v7.10.1

#64196 [Transform] improve bucket key normalization
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/pivot/GeoTileGroupSource.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/pivot/SingleGroupSource.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformPivotRestIT.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformRestTestCase.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/HistogramGroupByIT.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TermsOnDateGroupByIT.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TransformContinuousIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/AggregationResultUtils.java
Labels: :ml/Transform, >bug, v7.11.0, v8.0.0

#61993 Add data stream support to CCR
  docs/reference/ccr/auto-follow.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/cluster/state/TransportClusterStateAction.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrLicenseChecker.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowActionTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/AutoFollowMetadata.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
Labels: :Core/Features/Data streams, :Distributed/CCR, >docs, >enhancement, Team:Core/Features, Team:Distributed, Team:Docs, v7.11.0, v8.0.0

#64440 [DOCS] Add Elastic Contributor Program
  CONTRIBUTING.md
Labels: >docs, Team:Docs

#64465 LinearCounting recompute size tripping assertion
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlus.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlusTests.java
Labels: :Analytics/Aggregations, >bug, Team:Analytics, v7.10.1, v7.11.0, v8.0.0

#64201 Add CacheFile#fsync() method to ensure cached data are written on disk
  libs/core/src/main/java/org/elasticsearch/core/internal/io/IOUtils.java
  libs/core/src/test/java/org/elasticsearch/core/internal/io/IOUtilsTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/cache/CacheFile.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/cache/SparseFileTracker.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/cache/CacheFileTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/cache/SparseFileTrackerTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/cache/TestUtils.java
Labels: :Distributed/Snapshot/Restore, >enhancement, Team:Distributed, v7.11.0, v8.0.0

#64525 Add data stream support to CCR
  docs/reference/ccr/auto-follow.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/cluster/state/TransportClusterStateAction.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrLicenseChecker.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowActionTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/AutoFollowMetadata.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
Labels: :Core/Features/Data streams, Team:Core/Features, backport

#64526 [DOCS] [7.x] Add Elastic Contributor Program (#64440)
  CONTRIBUTING.md
Labels: >docs, Team:Docs

#64527 [DOCS] Add Elastic Contributor Program (#64440)
  CONTRIBUTING.md
Labels: >docs, Team:Docs

#64520 SignificantText aggregation had include/exclude logic back to front
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorFactory.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
Labels: >bug, v7.10.0, v7.10.1, v8.0.0

#64531 LinearCounting recompute size tripping assertion (#64465)
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlus.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlusTests.java
Labels: >non-issue, backport, v7.10.1

#64532 Upgrade to Lucene-8.7.0
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.7.0-snapshot-72d8528c3a6.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.7.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.7.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.7.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.7.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.7.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.7.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.7.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.7.0.jar.sha1
  server/licenses/lucene-analyzers-common-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-analyzers-common-8.7.0.jar.sha1
  server/licenses/lucene-backward-codecs-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-backward-codecs-8.7.0.jar.sha1
  server/licenses/lucene-core-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-core-8.7.0.jar.sha1
  server/licenses/lucene-grouping-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-grouping-8.7.0.jar.sha1
  server/licenses/lucene-highlighter-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-highlighter-8.7.0.jar.sha1
  server/licenses/lucene-join-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-join-8.7.0.jar.sha1
  server/licenses/lucene-memory-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-memory-8.7.0.jar.sha1
  server/licenses/lucene-misc-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-misc-8.7.0.jar.sha1
  server/licenses/lucene-queries-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-queries-8.7.0.jar.sha1
  server/licenses/lucene-queryparser-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-queryparser-8.7.0.jar.sha1
  server/licenses/lucene-sandbox-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-sandbox-8.7.0.jar.sha1
  server/licenses/lucene-spatial-extras-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-spatial-extras-8.7.0.jar.sha1
  server/licenses/lucene-spatial3d-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-spatial3d-8.7.0.jar.sha1
  server/licenses/lucene-suggest-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-suggest-8.7.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.7.0-snapshot-72d8528c3a6.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.7.0.jar.sha1
Labels: >non-issue, >upgrade, v7.10.1, v7.11.0, v8.0.0

#64503 Add doc_count field mapper
  docs/reference/mapping/fields.asciidoc
  docs/reference/mapping/fields/doc-count-field.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/370_doc_count_field.yml
  server/src/main/java/org/elasticsearch/index/mapper/DocCountFieldMapper.java
  server/src/main/java/org/elasticsearch/indices/IndicesModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregatorBase.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BucketsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/DocCountProvider.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeValuesCollectorQueue.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/SortedDocsProducer.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/nested/NestedAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/test/java/org/elasticsearch/index/mapper/DocCountFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocCountFieldTypeTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesModuleTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/DocCountProviderTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeValuesCollectorQueueTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/index/IndexResolverTests.java
Labels: :Analytics/Aggregations, :Search/Mapping, Team:Analytics, Team:Search, v7.11.0, v8.0.0

#64536 Upgrade to Lucene-8.7.0 (#64532)
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.7.0-snapshot-72d8528c3a6.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.7.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.7.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.7.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.7.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.7.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.7.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.7.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.7.0.jar.sha1
  server/licenses/lucene-analyzers-common-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-analyzers-common-8.7.0.jar.sha1
  server/licenses/lucene-backward-codecs-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-backward-codecs-8.7.0.jar.sha1
  server/licenses/lucene-core-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-core-8.7.0.jar.sha1
  server/licenses/lucene-grouping-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-grouping-8.7.0.jar.sha1
  server/licenses/lucene-highlighter-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-highlighter-8.7.0.jar.sha1
  server/licenses/lucene-join-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-join-8.7.0.jar.sha1
  server/licenses/lucene-memory-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-memory-8.7.0.jar.sha1
  server/licenses/lucene-misc-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-misc-8.7.0.jar.sha1
  server/licenses/lucene-queries-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-queries-8.7.0.jar.sha1
  server/licenses/lucene-queryparser-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-queryparser-8.7.0.jar.sha1
  server/licenses/lucene-sandbox-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-sandbox-8.7.0.jar.sha1
  server/licenses/lucene-spatial-extras-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-spatial-extras-8.7.0.jar.sha1
  server/licenses/lucene-spatial3d-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-spatial3d-8.7.0.jar.sha1
  server/licenses/lucene-suggest-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-suggest-8.7.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.7.0-snapshot-72d8528c3a6.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.7.0.jar.sha1
Labels: >non-issue, >upgrade, backport, v7.11.0

#64537 Upgrade to Lucene-8.7.0 (#64532)
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.7.0-snapshot-72d8528c3a6.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.7.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.7.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.7.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.7.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.7.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.7.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.7.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.7.0-snapshot-72d8528c3a6.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.7.0.jar.sha1
  server/licenses/lucene-analyzers-common-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-analyzers-common-8.7.0.jar.sha1
  server/licenses/lucene-backward-codecs-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-backward-codecs-8.7.0.jar.sha1
  server/licenses/lucene-core-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-core-8.7.0.jar.sha1
  server/licenses/lucene-grouping-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-grouping-8.7.0.jar.sha1
  server/licenses/lucene-highlighter-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-highlighter-8.7.0.jar.sha1
  server/licenses/lucene-join-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-join-8.7.0.jar.sha1
  server/licenses/lucene-memory-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-memory-8.7.0.jar.sha1
  server/licenses/lucene-misc-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-misc-8.7.0.jar.sha1
  server/licenses/lucene-queries-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-queries-8.7.0.jar.sha1
  server/licenses/lucene-queryparser-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-queryparser-8.7.0.jar.sha1
  server/licenses/lucene-sandbox-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-sandbox-8.7.0.jar.sha1
  server/licenses/lucene-spatial-extras-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-spatial-extras-8.7.0.jar.sha1
  server/licenses/lucene-spatial3d-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-spatial3d-8.7.0.jar.sha1
  server/licenses/lucene-suggest-8.7.0-snapshot-72d8528c3a6.jar.sha1
  server/licenses/lucene-suggest-8.7.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.7.0-snapshot-72d8528c3a6.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.7.0.jar.sha1
Labels: >non-issue, >upgrade, backport, v7.10.1

#64530 LinearCounting recompute size tripping assertion (#64465)
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlus.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlusTests.java
Labels: >non-issue, backport, v7.11.0

#62947 Async search status
  docs/reference/search/async-search.asciidoc
  server/src/main/java/org/elasticsearch/common/util/concurrent/AtomicArray.java
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/AsyncSearchActionIT.java
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/AsyncSearchIntegTestCase.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/AsyncSearch.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/AsyncSearchTask.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/MutableSearchResponse.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/RestGetAsyncStatusAction.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/TransportGetAsyncStatusAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/async/AsyncTaskIndexService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/async/GetAsyncStatusRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/search/action/AsyncStatusResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/search/action/GetAsyncStatusAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/async_search.status.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/async_search/10_basic.yml
Labels: :Search/Search, >feature, v7.11.0, v8.0.0

#64538 SignificantText aggregation had include/exclude logic back to front (#64520)
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorFactory.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
Labels: :Analytics/Aggregations, >bug, Team:Analytics, backport

#64439 Reimplement the readonly action in terms of the index block API
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ReadOnlyAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ReadOnlyStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ReadOnlyActionTests.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
Labels: :Core/Features/ILM+SLM, >refactoring, Team:Core/Features, v7.11.0, v8.0.0

#64461 Limit the Number of Snapshots in a BlobStoreRepository
  docs/reference/snapshot-restore/register-repository.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/repositories/blobstore/BlobStoreSizeLimitIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
Labels: :Distributed/Snapshot/Restore, >enhancement, Team:Distributed, backport pending, v7.11.0, v8.0.0

#64540 Mute mixed_cluster/90_ml_data_frame_analytics_crud tests that fail with _doc_count
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/90_ml_data_frame_analytics_crud.yml
Labels: :ml, >test-mute

#64534 SignificantText aggregation had include/exclude logic back to front (#64520)
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorFactory.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
Labels: :Analytics/Aggregations, >bug, Team:Analytics, backport

#64541 [ML] Ignore _doc_count field in data frame analytics
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
Labels: :ml, >non-issue, v7.10.1

#64544 [DOCS] Clarify index size in ILM overview
  docs/reference/ilm/ilm-overview.asciidoc
Labels: :Core/Features/ILM+SLM, >docs, Team:Core/Features, Team:Docs, v7.10.1, v7.11.0, v7.9.4, v8.0.0

#64545 [ML] Further mutes on DFA upgrade tests
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/90_ml_data_frame_analytics_crud.yml
Labels: :ml, >test-mute, v8.0.0

#64547 [7.x] [DOCS] Clarify index size in ILM overview (#64544)
  docs/reference/ilm/ilm-overview.asciidoc
Labels: backport, v7.11.0

#64548 [7.10] [DOCS] Clarify index size in ILM overview (#64544)
  docs/reference/ilm/ilm-overview.asciidoc
Labels: backport, v7.10.1

#64549 [7.9] [DOCS] Clarify index size in ILM overview (#64544)
  docs/reference/ilm/ilm-overview.asciidoc
Labels: backport, v7.9.4

#64523 Disable using unsigned_long in scripts
  docs/reference/mapping/types/unsigned_long.asciidoc
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/DefCastTests.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/DocValuesWhitelistExtension.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongLeafFieldData.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/unsigned_long/50_script_values.yml
Labels: :Search/Search, blocker, v7.10.0, v7.10.1, v8.0.0

#64551 [ML] Actually mute DFA mixed cluster tests
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/90_ml_data_frame_analytics_crud.yml
Labels: :ml, >test-mute, v8.0.0

#64552 Disable using unsigned_long in scripts
  docs/reference/mapping/types/unsigned_long.asciidoc
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/DefCastTests.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/DocValuesWhitelistExtension.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongLeafFieldData.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/unsigned_long/50_script_values.yml
Labels: :Search/Search, backport, v7.11.0

#63646 Remove Redundant Cluster State Update Response Classes
  client/rest-high-level/src/test/java/org/elasticsearch/client/indices/CloseIndexResponseTests.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/service/ClusterServiceIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/reroute/TransportClusterRerouteAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/TransportClusterUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/TransportIndicesAliasesAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/dangling/delete/TransportDeleteDanglingIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/delete/TransportDeleteIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/put/TransportPutMappingAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/open/TransportOpenIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/put/TransportUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/delete/TransportDeleteIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/upgrade/post/TransportUpgradeSettingsAction.java
  server/src/main/java/org/elasticsearch/action/support/master/ShardsAcknowledgedResponse.java
  server/src/main/java/org/elasticsearch/cluster/AckedClusterStateUpdateTask.java
  server/src/main/java/org/elasticsearch/cluster/ack/ClusterStateUpdateResponse.java
  server/src/main/java/org/elasticsearch/cluster/ack/CreateIndexClusterStateUpdateResponse.java
  server/src/main/java/org/elasticsearch/cluster/ack/OpenIndexClusterStateUpdateResponse.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDeleteIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexAliasesService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataMappingService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataMigrateToDataStreamService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/script/ScriptService.java
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/TransportDeleteAutoscalingPolicyAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/TransportPutAutoscalingPolicyAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportActivateAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportDeleteAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutAutoFollowPatternAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseService.java
  x-pack/plugin/frozen-indices/src/main/java/org/elasticsearch/xpack/frozen/action/TransportFreezeIndexAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportDeleteLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportMoveToStepAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportRemoveIndexLifecyclePolicyAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportRetryAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportStartILMAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportStopILMAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportDeleteSnapshotLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportPutSnapshotLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportStartSLMAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportStopSLMAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/TransportStopILMActionTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportSetUpgradeModeAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobManagerTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/transport/actions/service/TransportWatcherServiceAction.java
Labels: :Core/Infra/Core, >non-issue, Team:Core/Infra, v7.11.0, v8.0.0

#64557 Disable using unsigned_long in scripts (#64552)
  docs/reference/mapping/types/unsigned_long.asciidoc
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/DefCastTests.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/DocValuesWhitelistExtension.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongLeafFieldData.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/unsigned_long/50_script_values.yml
Labels: :Search/Search, Team:Search, backport, v7.10.0

#64554 Async search status
  docs/reference/search/async-search.asciidoc
  server/src/main/java/org/elasticsearch/common/util/concurrent/AtomicArray.java
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/AsyncSearchActionIT.java
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/AsyncSearchIntegTestCase.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/AsyncSearch.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/AsyncSearchTask.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/MutableSearchResponse.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/RestGetAsyncStatusAction.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/TransportGetAsyncStatusAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/async/AsyncTaskIndexService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/async/GetAsyncStatusRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/search/action/AsyncStatusResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/search/action/GetAsyncStatusAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/async_search.status.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/async_search/10_basic.yml
Labels: :Search/Search, Team:Search, backport, v7.11.0

#64558 Fix bats tests expected jar version for poi
  qa/vagrant/src/test/resources/packaging/tests/module_and_plugin_test_cases.bash
Labels: :Core/Infra/Packaging, >test, Team:Core/Infra, v6.8.14

#64556 Require Java 11 for 6.8 compile version
  .ci/java-versions.properties
  buildSrc/src/main/resources/minimumCompilerVersion
Labels: :Core/Infra/Build, Team:Core/Infra, v6.8.14

#64415 REST endpoint and tests for data stream migration
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/DataStreamsPlugin.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/rest/RestMigrateToDataStreamAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/indices.migrate_to_data_stream.json
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/130_migrate_to_data_stream.yml
Labels: :Core/Features/Data streams, >enhancement, Team:Core/Features, v7.11.0, v8.0.0

#64560 Clarify puts of non-existent settings on followers
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
Labels: :Distributed/CCR, >enhancement, Team:Distributed, v7.11.0, v8.0.0

#64566 Remove Redundant AcknowledgedResponse Overrides
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/action/DeleteLifecycleAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/action/MoveToStepAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/action/PutLifecycleAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/action/RetryAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistry.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/action/DeleteLifecycleResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/action/MoveToStepResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/action/PutLifecycleResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/action/RetryResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/history/SnapshotLifecycleTemplateRegistryTests.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/DataTiersMigrationsTests.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/ILMHistoryTests.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/IndexLifecycleInitialisationTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportDeleteLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportMoveToStepAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportRetryAction.java
  x-pack/plugin/stack/src/test/java/org/elasticsearch/xpack/stack/StackTemplateRegistryTests.java
Labels: :Core/Features/ILM+SLM, >non-issue, Team:Core/Features, v7.11.0, v8.0.0

#64455 Add ignore_above for message.raw field in notifications index mappings
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/notifications_index_template.json
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/qa/src/main/java/org/elasticsearch/xpack/test/rest/IndexMappingTemplateAsserter.java
Labels: :ml, :ml/Transform, >bug, v7.11.0, v8.0.0

#64555 [ML] Refactor fetching of datafeed restart info
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/RestartTimeInfo.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
Labels: :ml, >refactoring, v7.11.0, v8.0.0

#64571 [7.x][ML] Refactor fetching of datafeed restart info (#64555)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/RestartTimeInfo.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
Labels: :ml, >refactoring, backport

#64570 Add ignore_above for message.raw field in notifications index mappings
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/notifications_index_template.json
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/qa/src/main/java/org/elasticsearch/xpack/test/rest/IndexMappingTemplateAsserter.java
Labels: :ml, backport, v7.11.0

#64495 Tests: Disable ilm history index for doc tests
  x-pack/docs/build.gradle
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, v7.10.0, v7.11.0, v7.9.4, v8.0.0

#64524 Remove ValueFetcher depedendency from MapperService
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeatureFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeatureMetaFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeaturesFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/TokenCountFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/MetaJoinFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentIdFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/mapper/ICUCollationKeywordFieldMapper.java
  plugins/mapper-murmur3/src/main/java/org/elasticsearch/index/mapper/murmur3/Murmur3FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ArraySourceValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldNamesFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IdFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoredFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IndexFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappedFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/NestedPathFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RoutingFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SeqNoFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/VersionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldFetcher.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ExternalMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FakeStringFieldMapper.java
  server/src/test/java/org/elasticsearch/search/collapse/CollapseBuilderTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
  server/src/test/java/org/elasticsearch/search/slice/SliceBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/FieldTypeTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MockFieldMapper.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/mapper/DataStreamTimestampFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlattenedFieldMapper.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractScriptFieldType.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.11.0, v8.0.0

#64466 Tests: fix testMoveToStepRereadsPolicy flakiness
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeseriesMoveToStepIT.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, v7.10.0, v7.11.0, v8.0.0

#64574 [7.9] Tests: Disable ilm history index for doc tests (#64495)
  x-pack/docs/build.gradle
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, backport

#64575 [7.10] Tests: Disable ilm history index for doc tests (#64495)
  x-pack/docs/build.gradle
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, backport

#64576 [7.x] Tests: Disable ilm history index for doc tests (#64495)
  x-pack/docs/build.gradle
Labels: :Core/Features/ILM+SLM, >test, backport

#64581 [7.10] Convert flaky yml tests to EsRestTestCases (#63634)
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/TimeSeriesRestDriver.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/ExplainLifecycleIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeseriesMoveToStepIT.java
  x-pack/plugin/ilm/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/ilm/20_move_to_step.yml
  x-pack/plugin/ilm/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/ilm/40_explain_lifecycle.yml
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, backport

#64510 [DOCS] Add tab widget for default log locations
  docs/reference/setup/logging-config.asciidoc
  docs/reference/tab-widgets/code.asciidoc
  docs/reference/tab-widgets/logging-widget.asciidoc
  docs/reference/tab-widgets/logging.asciidoc
Labels: :Core/Infra/Packaging, >docs, Team:Core/Infra, Team:Docs, v7.10.1, v7.11.0, v7.9.4, v8.0.0

#64562 Increase timeout in testCleanUpShardFollowTasksForDeletedIndices
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
Labels: :Distributed/CCR, >test, Team:Distributed, v6.8.14, v7.10.1, v7.11.0, v8.0.0

#64588 [7.10] [DOCS] Add tab widget for default log locations (#64510)
  docs/reference/setup/logging-config.asciidoc
  docs/reference/tab-widgets/code.asciidoc
  docs/reference/tab-widgets/logging-widget.asciidoc
  docs/reference/tab-widgets/logging.asciidoc
Labels: backport, v7.10.1

#64589 [7.9] [DOCS] Add tab widget for default log locations (#64510)
  docs/reference/setup/logging-config.asciidoc
  docs/reference/tab-widgets/code.asciidoc
  docs/reference/tab-widgets/logging-widget.asciidoc
  docs/reference/tab-widgets/logging.asciidoc
Labels: backport, v7.9.4

#64579 Tests: fix testMoveToStepRereadsPolicy flakiness (#64466)
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeseriesMoveToStepIT.java
Labels: :Core/Features/ILM+SLM, >test, backport

#63937 Move index analyzer management to FieldMapper/MapperService
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeatureFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeaturesFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapperTests.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldTypeTests.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentIdFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/mapper/ICUCollationKeywordFieldMapper.java
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  server/src/main/java/org/elasticsearch/action/admin/indices/analyze/TransportAnalyzeAction.java
  server/src/main/java/org/elasticsearch/index/analysis/FieldNameAnalyzer.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractShapeGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicKeyFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IdFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/LegacyGeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappedFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/MetadataFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RoutingFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextParams.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/index/termvectors/TermVectorsService.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/FastVectorHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/FragmentBuilderHelper.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/SimpleFragmentsBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/SourceScoreOrderFragmentsBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/SourceSimpleFragmentsBuilder.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/CompletionFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/FakeStringFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldAliasMapperValidationTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlattenedFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.11.0, v8.0.0

#64584 Replace more MapperService usages in favour of QueryShardContext
  modules/parent-join/src/main/java/org/elasticsearch/join/query/ParentChildInnerHitContextBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchDocValuesPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/HighlightPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/PlainHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/UnifiedHighlighter.java
  server/src/main/java/org/elasticsearch/search/internal/FilteredSearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/SearchContext.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/TestSearchContext.java
Labels: :Search/Mapping, >refactoring, v7.11.0, v8.0.0

#64593 [7.10] Tests: fix testMoveToStepRereadsPolicy flakiness (#64466)
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeseriesMoveToStepIT.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, backport

#64586 [Transform] weighted avg should map to double
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/TransformAggregations.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/TransformAggregationsTests.java
Labels: :ml/Transform, >bug, v7.11.0, v8.0.0

#64501 Fix job scheduling for same scheduled time
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/scheduler/SchedulerEngine.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/scheduler/SchedulerEngineTests.java
Labels: :Core/Features/ILM+SLM, >bug, Team:Core/Features, v7.10.1, v7.11.0, v8.0.0

#64592 Move index analyzer management to FieldMapper/MapperService (#63937)
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeatureFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeaturesFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapperTests.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldTypeTests.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentIdFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/mapper/ICUCollationKeywordFieldMapper.java
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/flush/FlushIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/analyze/TransportAnalyzeAction.java
  server/src/main/java/org/elasticsearch/index/analysis/FieldNameAnalyzer.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractShapeGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicKeyFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IdFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/LegacyGeoShapeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappedFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/MetadataFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RoutingFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextParams.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/index/termvectors/TermVectorsService.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/FastVectorHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/FragmentBuilderHelper.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/SimpleFragmentsBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/SourceScoreOrderFragmentsBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/SourceSimpleFragmentsBuilder.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/CompletionFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/FakeStringFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldAliasMapperValidationTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlattenedFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: backport

#64500 Clean up MultiFields implementation
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeParsers.java
  server/src/test/java/org/elasticsearch/index/mapper/MultiFieldsSerializationTests.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.11.0, v8.0.0

#64598 Fix job scheduling for same scheduled time
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/scheduler/SchedulerEngine.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/scheduler/SchedulerEngineTests.java
Labels: backport, v7.10.1

#64599 Fix job scheduling for same scheduled time
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/scheduler/SchedulerEngine.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/scheduler/SchedulerEngineTests.java
Labels: backport, v7.11.0

#64601 [DOCS] Applying SAML changes for #61089
  x-pack/docs/en/security/authentication/saml-guide.asciidoc
Labels: :Security/Authentication, >docs, Team:Docs, Team:Security, v8.0.0

#64543 Convert some object mapper testcases to use MapperServiceTestCase
  server/src/test/java/org/elasticsearch/index/mapper/NestedObjectMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: :Search/Mapping, >test, Team:Search, v7.11.0, v8.0.0

#64600 [DOC] Fix small typo in fields doc
  docs/reference/mapping/fields.asciidoc
Labels: >docs, Team:Docs, v8.0.0

#64608 Mute ObjectMapperMergeTests.testMerge() test
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
Labels: >test-mute

#64605 [DOCS] [7.10] Applying changes for #61089 (#64601)
  x-pack/docs/en/security/authentication/saml-guide.asciidoc
Labels: :Security/Authentication, >docs, Team:Docs, Team:Security, backport, v7.10.1

#63617 Add supports for upper and lower values on boxplot based on the IQR value
  docs/reference/aggregations/metrics/boxplot-aggregation.asciidoc
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/InternalBoxplot.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/boxplot/InternalBoxplotTests.java
Labels: :Analytics/Aggregations, >enhancement, Team:Analytics, v7.11.0, v8.0.0

#63710 SQL: Fix incorrect parameter resolution
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/AttributeMap.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/expression/AttributeMapTests.java
  x-pack/plugin/sql/qa/server/src/main/resources/select.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/analysis/analyzer/Verifier.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/planner/QueryFolder.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/parser/ParamLiteralTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
Labels: :Query Languages/SQL, >bug, Team:QL, v7.10.1, v7.11.0, v8.0.0

#64610 Document breaking change around _id field data.
  docs/reference/migration/migrate_8_0/search.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search

#64603 [DOCS] [7.x] Applying changes for #61089 (#64601)
  x-pack/docs/en/security/authentication/saml-guide.asciidoc
Labels: :Security/Authentication, >docs, Team:Docs, Team:Security, backport, v7.11.0

#64572 Simplify triangle tree writer
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeoShapeValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeometryDocValueWriter.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeWriter.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/BinaryGeoShapeDocValuesField.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapper.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/aggregations/metrics/GeoShapeCentroidAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/GeometryDocValueTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/Tile2DVisitorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoGridTilerTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeGeoGridTestCase.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/metrics/GeoShapeBoundsAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/util/GeoTestUtils.java
Labels: :Analytics/Geo, >refactoring, Team:Analytics, v7.11.0, v8.0.0

#64395 Dry up TransportResponseHandler
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/node/tasks/CancellableTasksIT.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesIndexAction.java
  server/src/main/java/org/elasticsearch/action/resync/TransportResyncReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/TransportBroadcastAction.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeAction.java
  server/src/main/java/org/elasticsearch/action/support/nodes/TransportNodesAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/single/instance/TransportInstanceSingleOperationAction.java
  server/src/main/java/org/elasticsearch/action/support/single/shard/TransportSingleShardAction.java
  server/src/main/java/org/elasticsearch/action/support/tasks/TransportTasksAction.java
  server/src/main/java/org/elasticsearch/cluster/coordination/FollowersChecker.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/LeaderChecker.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseBackgroundSyncAction.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseSyncAction.java
  server/src/main/java/org/elasticsearch/indices/store/IndicesStore.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterConnection.java
  server/src/main/java/org/elasticsearch/transport/TransportActionProxy.java
  server/src/main/java/org/elasticsearch/transport/TransportHandshaker.java
  server/src/main/java/org/elasticsearch/transport/TransportResponseHandler.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/configuration/TransportAddVotingConfigExclusionsActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/configuration/TransportClearVotingConfigExclusionsActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationAllPermitsAcquisitionTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/FollowersCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LeaderCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PreVoteCollectorTests.java
  server/src/test/java/org/elasticsearch/discovery/PeerFinderTests.java
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceDeserializationFailureTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/disruption/DisruptableMockTransportTests.java
  test/framework/src/test/java/org/elasticsearch/test/disruption/NetworkDisruptionIT.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: :Core/Infra/Core, >non-issue, Team:Core/Infra, v7.11.0, v8.0.0

#64617 Simplify triangle tree writer (#64572)
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeoShapeValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeometryDocValueWriter.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeWriter.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/BinaryGeoShapeDocValuesField.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapper.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/aggregations/metrics/GeoShapeCentroidAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/GeometryDocValueTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/Tile2DVisitorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoGridTilerTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeGeoGridTestCase.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/metrics/GeoShapeBoundsAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/util/GeoTestUtils.java
Labels: >refactoring, backport, v7.11.0

#64604 Remove ValueFetcher dependency from MapperService (#64524)
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeatureFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeatureMetaFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/RankFeaturesFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/TokenCountFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/MetaJoinFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentIdFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/mapper/ICUCollationKeywordFieldMapper.java
  plugins/mapper-murmur3/src/main/java/org/elasticsearch/index/mapper/murmur3/Murmur3FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AllFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ArraySourceValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldNamesFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IdFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoredFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IndexFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappedFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RoutingFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SeqNoFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/VersionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldFetcher.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ExternalMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FakeStringFieldMapper.java
  server/src/test/java/org/elasticsearch/search/collapse/CollapseBuilderTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
  server/src/test/java/org/elasticsearch/search/slice/SliceBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/FieldTypeTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MockFieldMapper.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/mapper/DataStreamTimestampFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlattenedFieldMapper.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractScriptFieldType.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: backport

#64591 Centralize cache service instances creation in tests
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/CacheService.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/SearchableSnapshotDirectoryStatsTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/SearchableSnapshotDirectoryTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/cache/CachedBlobContainerIndexInputTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/cache/TestUtils.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/AbstractSearchableSnapshotsTestCase.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.11.0, v8.0.0

#64565 Fail with a better error when providing null as processor config.
  server/src/main/java/org/elasticsearch/ingest/ConfigurationUtils.java
  server/src/test/java/org/elasticsearch/ingest/ConfigurationUtilsTests.java
Labels: :Core/Features/Ingest, >bug, needs:triage, v7.11.0, v8.0.0

#64406 Introduce per REST endpoint media types
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/MediaType.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/MediaTypeParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/MediaTypeRegistry.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/ParsedMediaType.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentType.java
  libs/x-content/src/test/java/org/elasticsearch/common/xcontent/MediaTypeParserTests.java
  libs/x-content/src/test/java/org/elasticsearch/common/xcontent/ParsedMediaTypeTests.java
  modules/transport-netty4/src/javaRestTest/java/org/elasticsearch/rest/Netty4BadRequestIT.java
  server/src/main/java/org/elasticsearch/http/AbstractHttpServerTransport.java
  server/src/main/java/org/elasticsearch/rest/AbstractRestChannel.java
  server/src/main/java/org/elasticsearch/rest/RestHandler.java
  server/src/main/java/org/elasticsearch/rest/RestRequest.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestTable.java
  server/src/test/java/org/elasticsearch/common/xcontent/XContentTypeTests.java
  server/src/test/java/org/elasticsearch/rest/BytesRestResponseTests.java
  server/src/test/java/org/elasticsearch/rest/RestRequestTests.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestResponse.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/SecurityRestFilter.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/RestSqlQueryAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/SqlMediaTypeParser.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TextFormat.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpResponse.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/input/http/ExecutableHttpInput.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/support/WatcherTemplateTests.java
Labels: :Core/Infra/REST API, Team:Core/Infra, v8.0.0

#64622 Fail with a better error when providing null as processor config.
  server/src/main/java/org/elasticsearch/ingest/ConfigurationUtils.java
  server/src/test/java/org/elasticsearch/ingest/ConfigurationUtilsTests.java
Labels: :Core/Features/Ingest, Team:Core/Features, backport

#64596 Fix DataTiersUsageTransportActionTests testCalculateMAD
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/DataTiersUsageTransportActionTests.java
Labels: :Core/Features/Features, >test, Team:Core/Features, v7.10.0, v7.11.0, v8.0.0

#64623 Centralize cache service instances creation in tests
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/CacheService.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/SearchableSnapshotDirectoryStatsTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/SearchableSnapshotDirectoryTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/cache/CachedBlobContainerIndexInputTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/cache/TestUtils.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/AbstractSearchableSnapshotsTestCase.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, backport, v7.11.0

#64469 Fix merging of terms aggregation with compound order
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalTerms.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/InternalTermsTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsTests.java
  test/framework/src/main/java/org/elasticsearch/test/InternalAggregationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalMultiBucketAggregationTestCase.java
Labels: :Analytics/Aggregations, >non-issue, Team:Analytics, v7.10.1, v7.11.0, v8.0.0

#64621 Replace more MapperService usages in favour of QueryShardContext (#64584)
  modules/parent-join/src/main/java/org/elasticsearch/join/query/ParentChildInnerHitContextBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/QueryShardContext.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/nested/NestedAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/nested/ReverseNestedAggregator.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchDocValuesPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/HighlightPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/PlainHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/UnifiedHighlighter.java
  server/src/main/java/org/elasticsearch/search/internal/FilteredSearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/SearchContext.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/TestSearchContext.java
Labels: backport

#64620 Remove mapperService method from FetchContext
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/AnnotatedTextHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/PlainHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/UnifiedHighlighter.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.11.0, v8.0.0

#64618 Dry up TransportResponseHandler (#64395)
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/node/tasks/CancellableTasksIT.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesIndexAction.java
  server/src/main/java/org/elasticsearch/action/resync/TransportResyncReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/TransportBroadcastAction.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeAction.java
  server/src/main/java/org/elasticsearch/action/support/nodes/TransportNodesAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
  server/src/main/java/org/elasticsearch/action/support/single/instance/TransportInstanceSingleOperationAction.java
  server/src/main/java/org/elasticsearch/action/support/single/shard/TransportSingleShardAction.java
  server/src/main/java/org/elasticsearch/action/support/tasks/TransportTasksAction.java
  server/src/main/java/org/elasticsearch/cluster/coordination/FollowersChecker.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/LeaderChecker.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseBackgroundSyncAction.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseSyncAction.java
  server/src/main/java/org/elasticsearch/indices/store/IndicesStore.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterConnection.java
  server/src/main/java/org/elasticsearch/transport/TransportActionProxy.java
  server/src/main/java/org/elasticsearch/transport/TransportHandshaker.java
  server/src/main/java/org/elasticsearch/transport/TransportResponseHandler.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/configuration/TransportAddVotingConfigExclusionsActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/configuration/TransportClearVotingConfigExclusionsActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportReplicationAllPermitsAcquisitionTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/FollowersCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LeaderCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PreVoteCollectorTests.java
  server/src/test/java/org/elasticsearch/discovery/PeerFinderTests.java
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceDeserializationFailureTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/disruption/DisruptableMockTransportTests.java
  test/framework/src/test/java/org/elasticsearch/test/disruption/NetworkDisruptionIT.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: :Core/Infra/Core, Team:Core/Infra, backport

#64628 [7.10] Fix DataTiersUsageTransportActionTests testCalculateMAD (#64596)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/DataTiersFeatureSetTests.java
Labels: :Core/Features/Features, >test, Team:Core/Features, backport

#60524 QL: Remove constant_keyword field type
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/execution/search/extractor/AbstractFieldHitExtractor.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/type/ConstantKeywordEsField.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/type/DataTypeConverter.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/type/DataTypes.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/type/TextEsField.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/type/Types.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/type/DataTypeConversionTests.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/type/TypesTests.java
  x-pack/plugin/sql/jdbc/src/main/java/org/elasticsearch/xpack/sql/jdbc/EsType.java
  x-pack/plugin/sql/jdbc/src/main/java/org/elasticsearch/xpack/sql/jdbc/TypeConverter.java
  x-pack/plugin/sql/jdbc/src/main/java/org/elasticsearch/xpack/sql/jdbc/TypeUtils.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/SqlDataTypeConverter.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/SqlDataTypes.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/index/IndexResolverTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysTypesTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/type/SqlDataTypeConverterTests.java
Labels: :Query Languages/EQL, :Query Languages/SQL, >refactoring, Team:QL, v7.10.1, v8.0.0

#64629 [7.x] Fix DataTiersUsageTransportActionTests testCalculateMAD (#64596)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/DataTiersFeatureSetTests.java
Labels: :Core/Features/Features, >test, Team:Core/Features, backport

#64630 Fix UOE when building exists query for nested search-as-you-type field
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: :Search/Mapping, >bug, Team:Search, v7.11.0, v8.0.0

#64631 Remove mapperService method from FetchContext (#64620)
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/AnnotatedTextHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/PlainHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/UnifiedHighlighter.java
Labels: backport

#64590 Add configurable op_type for index watcher action
  x-pack/docs/en/watcher/actions/index.asciidoc
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/actions/index/ExecutableIndexAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/actions/index/IndexAction.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/index/IndexActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/watch/WatchTests.java
Labels: :Core/Features/Watcher, >bug, Team:Core/Features, v8.0.0

#64616 [docs] POST /_aliases remove_index action only works on concrete indices
  docs/reference/indices/aliases.asciidoc
Labels: >docs, Team:Docs, v7.10.1, v7.11.0, v7.9.4, v8.0.0

#64638 [7.x] [DOCS] POST /_aliases remove_index action only works on concrete indices (#64616)
  docs/reference/indices/aliases.asciidoc
Labels: backport, v7.11.0

#64639 [7.10] [DOCS] POST /_aliases remove_index action only works on concrete indices (#64616)
  docs/reference/indices/aliases.asciidoc
Labels: backport, v7.10.1

#64640 [7.9] [DOCS] POST /_aliases remove_index action only works on concrete indices (#64616)
  docs/reference/indices/aliases.asciidoc
Labels: backport, v7.9.4

#64626 Fix bug in ObjectMapperTests.testMerge()
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
Labels: :Search/Mapping, >non-issue, Team:Search, v7.11.0, v8.0.0

#64634 [Transform] add support for median absolute deviation
  docs/reference/rest-api/common-parms.asciidoc
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformPivotRestIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/TransformAggregations.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/TransformAggregationsTests.java
Labels: :ml/Transform, >enhancement, v7.11.0, v8.0.0

#64632 Revert Serializing Outbound Transport Messages on IO Threads
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4MessageChannelHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4TcpChannel.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTcpChannel.java
  server/src/main/java/org/elasticsearch/transport/OutboundHandler.java
  server/src/main/java/org/elasticsearch/transport/TcpChannel.java
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
  test/framework/src/main/java/org/elasticsearch/transport/FakeTcpChannel.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
Labels: :Distributed/Network, >bug, Team:Distributed, blocker, v7.10.0, v7.11.0, v8.0.0

#63167 Validate PIT on _msearch
  server/src/main/java/org/elasticsearch/rest/action/search/RestMultiSearchAction.java
  server/src/test/java/org/elasticsearch/action/search/MultiSearchRequestTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/data_stream/10_data_stream_resolvability.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/search/point_in_time.yml
Labels: :Search/Search, >non-issue, Team:Search, v7.10.1, v7.11.0, v8.0.0

#64611 [7.x] Add supports for upper and lower values on boxplot based on the IQR value (#63617)
  docs/reference/aggregations/metrics/boxplot-aggregation.asciidoc
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/InternalBoxplot.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/boxplot/InternalBoxplotTests.java
Labels: backport

#64647 [7.10] Add configurable op_type for index watcher action (#64590)
  x-pack/docs/en/watcher/actions/index.asciidoc
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/actions/index/ExecutableIndexAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/actions/index/IndexAction.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/actions/index/IndexActionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/watch/WatchTests.java
Labels: :Core/Features/Watcher, >bug, Team:Core/Features, backport, v7.10.1

#64208 Add a template parameter to override auto_create_index value
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indices/GetComposableIndexTemplatesResponseTests.java
  docs/reference/indices/put-component-template.asciidoc
  qa/smoke-test-http/src/test/java/org/elasticsearch/http/AutoCreateIndexIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/bulk/BulkProcessorClusterSettingsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/template/ComposableTemplateIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/support/AutoCreateIndex.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplate.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/AutoCreateActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverServiceTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/post/SimulateIndexTemplateRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/post/SimulateTemplateRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/put/PutComposableIndexTemplateRequestTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIndicesThatCannotBeCreatedTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTookTests.java
  server/src/test/java/org/elasticsearch/action/support/AutoCreateIndexTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ToAndFromJsonMetadataTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/history/SnapshotLifecycleTemplateRegistry.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/support/WatcherIndexTemplateRegistryField.java
  x-pack/plugin/core/src/main/resources/ilm-history.json
  x-pack/plugin/core/src/main/resources/logs-template.json
  x-pack/plugin/core/src/main/resources/logstash-management.json
  x-pack/plugin/core/src/main/resources/metrics-template.json
  x-pack/plugin/core/src/main/resources/slm-history.json
  x-pack/plugin/core/src/main/resources/synthetics-template.json
  x-pack/plugin/core/src/main/resources/triggered-watches.json
  x-pack/plugin/core/src/main/resources/watch-history-no-ilm.json
  x-pack/plugin/core/src/main/resources/watch-history.json
  x-pack/plugin/core/src/main/resources/watches.json
  x-pack/plugin/data-streams/qa/rest/src/yamlRestTest/java/org/elasticsearch/xpack/datastreams/AutoCreateDataStreamIT.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/xpack/datastreams/DataTierDataStreamIT.java
  x-pack/plugin/data-streams/src/test/java/org/elasticsearch/xpack/datastreams/DataStreamsStatsTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/history/ILMHistoryTemplateRegistry.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlNativeIntegTestCase.java
  x-pack/plugin/watcher/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/watcher/put_watch/90_auto_create_index.yml
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/WatcherRestartIT.java
Labels: :Core/Features/Indices APIs, >enhancement, Team:Core/Features, backport, v7.11.0

#64653 Revert Serializing Outbound Transport Messages on IO Threads (#64632)
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4MessageChannelHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4TcpChannel.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioTcpChannel.java
  server/src/main/java/org/elasticsearch/transport/OutboundHandler.java
  server/src/main/java/org/elasticsearch/transport/TcpChannel.java
  test/framework/src/main/java/org/elasticsearch/transport/FakeTcpChannel.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
Labels: :Distributed/Network, Team:Distributed, backport

#64633 Tests: fix testBulkProcessorConcurrentRequestsReadOnlyIndex
  client/rest-high-level/src/test/java/org/elasticsearch/client/BulkProcessorIT.java
Labels: :Core/Features/Java High Level REST Client, >test, Team:Core/Features, v7.10.1, v7.11.0, v8.0.0
