Repository elastic/elasticsearch, pull requests merged in 2020-12, with the labels that each got.

#65617 Reset Deflater/Inflater after Use in DeflateCompressor
  server/src/main/java/org/elasticsearch/common/compress/DeflateCompressor.java
Labels: :Core/Infra/Core, >non-issue, Team:Core/Infra, v7.10.2, v7.11.0, v8.0.0

#65644 Reduce ways of checking index version setting.
  server/src/main/java/org/elasticsearch/Version.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/analysis/AbstractIndexAnalyzerProvider.java
  server/src/main/java/org/elasticsearch/index/analysis/AbstractTokenFilterFactory.java
  server/src/main/java/org/elasticsearch/index/analysis/AbstractTokenizerFactory.java
  server/src/main/java/org/elasticsearch/index/analysis/Analysis.java
  server/src/main/java/org/elasticsearch/index/analysis/PreBuiltAnalyzerProviderFactory.java
  server/src/main/java/org/elasticsearch/index/analysis/PreConfiguredAnalysisComponent.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/test/java/org/elasticsearch/VersionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexMetadataTests.java
  server/src/test/java/org/elasticsearch/gateway/PersistedClusterStateServiceTests.java
  server/src/test/java/org/elasticsearch/index/IndexSettingsTests.java
  server/src/test/java/org/elasticsearch/index/analysis/PreConfiguredTokenFilterTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAliasTests.java
  x-pack/plugin/vectors/src/internalClusterTest/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapperTests.java
Labels: :Core/Infra/Settings, >refactoring, Team:Core/Infra, backport

#65645 Reset Deflater/Inflater after Use in DeflateCompressor (#65617)
  server/src/main/java/org/elasticsearch/common/compress/DeflateCompressor.java
Labels: :Core/Infra/Core, Team:Core/Infra, backport

#65646 Reset Deflater/Inflater after Use in DeflateCompressor (#65617)
  server/src/main/java/org/elasticsearch/common/compress/DeflateCompressor.java
Labels: :Core/Infra/Core, Team:Core/Infra, backport

#65526 Refactor ActionListener#map towards Stricter API
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobContainer.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/node/tasks/CancellableTasksIT.java
  server/src/internalClusterTest/java/org/elasticsearch/update/UpdateIT.java
  server/src/main/java/org/elasticsearch/action/ActionListener.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/cancel/TransportCancelTasksAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/cleanup/TransportCleanupRepositoryAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/delete/TransportDeleteRepositoryAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/put/TransportPutRepositoryAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/verify/TransportVerifyRepositoryAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/reroute/TransportClusterRerouteAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/clone/TransportCloneSnapshotAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/create/TransportCreateSnapshotAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/delete/TransportDeleteSnapshotAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/TransportResizeAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/search/ClearScrollController.java
  server/src/main/java/org/elasticsearch/action/search/SearchScrollAsyncAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdMonitor.java
  server/src/main/java/org/elasticsearch/index/query/TermsQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseActions.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RemoteRecoveryTargetHandler.java
  server/src/main/java/org/elasticsearch/persistent/CompletionPersistentTaskAction.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksService.java
  server/src/main/java/org/elasticsearch/persistent/RemovePersistentTaskAction.java
  server/src/main/java/org/elasticsearch/persistent/UpdatePersistentTaskStatusAction.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/tasks/TaskCancellationService.java
  server/src/main/java/org/elasticsearch/transport/ClusterConnectionManager.java
  server/src/main/java/org/elasticsearch/transport/ProxyConnectionStrategy.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/ActionListenerTests.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestModifierTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/ReplicationOperationTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportWriteActionTests.java
  server/src/test/java/org/elasticsearch/transport/ClusterConnectionManagerTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterConnectionTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceHandshakeTests.java
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/search/action/TransportClosePointInTimeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/search/action/TransportOpenPointInTimeAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionTask.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/util/ActionListeners.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/cache/SparseFileTracker.java
Labels: :Core/Infra/Core, >non-issue, Team:Core/Infra, v7.11.0, v8.0.0

#65650 Refactor ActionListener#map towards Stricter API (#65526)
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobContainer.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/node/tasks/CancellableTasksIT.java
  server/src/internalClusterTest/java/org/elasticsearch/update/UpdateIT.java
  server/src/main/java/org/elasticsearch/action/ActionListener.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/cancel/TransportCancelTasksAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/cleanup/TransportCleanupRepositoryAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/delete/TransportDeleteRepositoryAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/put/TransportPutRepositoryAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/verify/TransportVerifyRepositoryAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/reroute/TransportClusterRerouteAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/clone/TransportCloneSnapshotAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/create/TransportCreateSnapshotAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/delete/TransportDeleteSnapshotAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/TransportResizeAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/search/ClearScrollController.java
  server/src/main/java/org/elasticsearch/action/search/SearchScrollAsyncAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdMonitor.java
  server/src/main/java/org/elasticsearch/discovery/zen/UnicastZenPing.java
  server/src/main/java/org/elasticsearch/index/query/TermsQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseActions.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RemoteRecoveryTargetHandler.java
  server/src/main/java/org/elasticsearch/persistent/CompletionPersistentTaskAction.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksService.java
  server/src/main/java/org/elasticsearch/persistent/RemovePersistentTaskAction.java
  server/src/main/java/org/elasticsearch/persistent/UpdatePersistentTaskStatusAction.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/tasks/TaskCancellationService.java
  server/src/main/java/org/elasticsearch/transport/ClusterConnectionManager.java
  server/src/main/java/org/elasticsearch/transport/ProxyConnectionStrategy.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/ActionListenerTests.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestModifierTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/ReplicationOperationTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportWriteActionTests.java
  server/src/test/java/org/elasticsearch/transport/ClusterConnectionManagerTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterConnectionTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceHandshakeTests.java
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/search/action/TransportClosePointInTimeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/search/action/TransportOpenPointInTimeAction.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/util/ActionListeners.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/cache/SparseFileTracker.java
Labels: :Core/Infra/Core, Team:Core/Infra, backport

#65648 Handle RejectedExecutionException in ShardFollowTasksExecutor
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java
Labels: :Distributed/CCR, >non-issue, Team:Distributed, v7.10.2, v7.11.0, v8.0.0

#65652 Handle RejectedExecutionException in ShardFollowTasksExecutor (#65648)
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java
Labels: :Distributed/CCR, Team:Distributed, backport

#65653 Handle RejectedExecutionException in ShardFollowTasksExecutor (#65648)
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java
Labels: :Distributed/CCR, Team:Distributed, backport

#65654 Fix NPE in ClusterInfoService
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
Labels: :Distributed/Distributed, >non-issue, Team:Distributed, v7.10.2, v7.11.0, v8.0.0

#65651 Fix NPE in ILMHistoryStore TRACE Loggging
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/history/ILMHistoryStore.java
Labels: :Core/Features/ILM+SLM, >non-issue, Team:Core/Features, v7.10.2, v7.11.0, v8.0.0

#65657 Fix NPE in ClusterInfoService (#65654)
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
Labels: :Distributed/Distributed, Team:Distributed, backport

#65659 Fix NPE in ClusterInfoService (#65654)
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
Labels: :Distributed/Distributed, Team:Distributed, backport

#65539 Correctly handle mixed object paths in XContentMapValues
  server/src/main/java/org/elasticsearch/common/xcontent/support/XContentMapValues.java
  server/src/test/java/org/elasticsearch/common/xcontent/support/XContentMapValuesTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
Labels: :Search/Search, >bug, Team:Search, v7.11.0, v8.0.0

#65660 [ML] Remove unnecessary call to get datafeed stats in preview
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedActionTests.java
Labels: :ml, >refactoring, v7.11.0, v8.0.0

#65619 Deduplicate Index Meta Generations when Deserializing
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.10.2, v7.11.0, v8.0.0

#65662 [7.x] [ML] Remove unnecessary call to get datafeed stats in preview (#65660)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedActionTests.java
Labels: :ml, backport, v7.11.0

#65664 Deduplicate Index Meta Generations when Deserializing (#65619)
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#65666 Deduplicate Index Meta Generations when Deserializing (#65619)
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#65630 [ML] Resume reassigning datafeed from loaded model snapshot
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/RevertModelSnapshotAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/RevertModelSnapshotActionRequestTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlDistributedFailureIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedContextProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobDataCountsPersister.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/RestartTimeInfo.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutorTests.java
Labels: :ml, >bug, v7.11.0, v8.0.0

#65637 [ML] update ChunkedTrainedModelPersisterTests to signal latch on persistence
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/ChunkedTrainedModelPersisterTests.java
Labels: :ml, >test, v7.11.0, v8.0.0

#65607 [ML] fixes minor snapshot upgrader task failure bug and rest client test failure
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/JobModelSnapshotUpgrader.java
Labels: :ml, >test, v7.11.0, v8.0.0

#65672 [7.x] [ML] update ChunkedTrainedModelPersisterTests to signal latch on persistence (#65637)
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/ChunkedTrainedModelPersisterTests.java
Labels: :ml, backport

#65519 [DOCS] Update rollup glossary item
  docs/reference/glossary.asciidoc
Labels: :Analytics/Rollup, >docs, >non-issue, Team:Analytics, Team:Docs, v7.11.0, v8.0.0

#65518 [DOCS] Label legacy rollup APIs
  docs/reference/rollup/apis/delete-job.asciidoc
  docs/reference/rollup/apis/get-job.asciidoc
  docs/reference/rollup/apis/put-job.asciidoc
  docs/reference/rollup/apis/rollup-caps.asciidoc
  docs/reference/rollup/apis/rollup-index-caps.asciidoc
  docs/reference/rollup/apis/rollup-search.asciidoc
  docs/reference/rollup/apis/start-job.asciidoc
  docs/reference/rollup/apis/stop-job.asciidoc
  docs/reference/rollup/rollup-apis.asciidoc
Labels: :Analytics/Rollup, >docs, >non-issue, Team:Analytics, Team:Docs, v7.11.0, v8.0.0

#65677 [7.x][ML] Resume reassigning datafeed from loaded model snapshot (#65…
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/RevertModelSnapshotAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/RevertModelSnapshotActionRequestTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlDistributedFailureIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedContextProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobDataCountsPersister.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/RestartTimeInfo.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutorTests.java
Labels: :ml, >bug, backport

#65675 [ML] Reduce log noise in BaseMlIntegTestCase
  x-pack/plugin/ml/build.gradle
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/support/BaseMlIntegTestCase.java
Labels: :ml, >test, v7.11.0, v8.0.0

#65674 [ML] Add unit tests for DatafeedContext and RestartTimeInfo
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedContextTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/RestartTimeInfoTests.java
Labels: :ml, >test, v7.11.0, v8.0.0

#65679 [7.x] [DOCS] Label legacy rollup APIs (#65518)
  docs/reference/rollup/apis/delete-job.asciidoc
  docs/reference/rollup/apis/get-job.asciidoc
  docs/reference/rollup/apis/put-job.asciidoc
  docs/reference/rollup/apis/rollup-caps.asciidoc
  docs/reference/rollup/apis/rollup-index-caps.asciidoc
  docs/reference/rollup/apis/rollup-search.asciidoc
  docs/reference/rollup/apis/start-job.asciidoc
  docs/reference/rollup/apis/stop-job.asciidoc
  docs/reference/rollup/rollup-apis.asciidoc
Labels: backport, v7.11.0

#65678 [7.x] [DOCS] Update rollup glossary item (#65519)
  docs/reference/glossary.asciidoc
Labels: backport, v7.11.0

#65663 [7.x] DefaultUserInfo empty password hash (#64018)
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealmTests.java
Labels: backport

#65564 Record timestamp field range in index metadata
  server/src/main/java/org/elasticsearch/cluster/action/shard/ShardStateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/IndexMetadataUpdater.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/shard/IndexLongFieldRange.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/shard/ShardLongFieldRange.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteResponseTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStartedClusterStateTaskExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStateActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ToAndFromJsonMetadataTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexLongFieldRangeTestUtils.java
  server/src/test/java/org/elasticsearch/index/shard/IndexLongFieldRangeTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexLongFieldRangeWireTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexLongFieldRangeXContentTests.java
  server/src/test/java/org/elasticsearch/index/shard/ShardLongFieldRangeWireTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/AbstractIndicesClusterStateServiceTestCase.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoveryTests.java
  server/src/test/java/org/elasticsearch/recovery/RecoveriesCollectionTests.java
  test/framework/src/main/java/org/elasticsearch/action/support/replication/ClusterStateCreationUtils.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/FrozenIndexIT.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/FrozenIndexTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
Labels: :Distributed/Snapshot/Restore, >enhancement, Team:Distributed, v7.11.0, v8.0.0

#65681 [7.x][ML] Add unit tests for DatafeedContext and RestartTimeInfo (#65…
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedContextTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/RestartTimeInfoTests.java
Labels: :ml, >test, backport

#65682 [7.x][ML] Reduce log noise in BaseMlIntegTestCase (#65675)
  x-pack/plugin/ml/build.gradle
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/support/BaseMlIntegTestCase.java
Labels: :ml, >test, backport

#65510 Add 6.8 branch to packer cache script
  .ci/packer_cache.sh
Labels: :Delivery/Build, Team:Delivery, v8.0.0

#65680 [ML] Update serialization versions for revert snapshot force param
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/RevertModelSnapshotAction.java
Labels: :ml, >non-issue, v8.0.0

#65684 [DOCS] EQL: Remove outdated wildcard ref
  docs/reference/eql/functions.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, v7.10.2, v7.11.0, v8.0.0

#65683 [DOCS] Fix URL in rollup API JSON spec
  x-pack/plugin/src/test/resources/rest-api-spec/api/rollup.rollup.json
Labels: >docs, Team:Docs, v7.11.0, v8.0.0

#65690 [7.x] [DOCS] EQL: Remove outdated wildcard ref (#65684)
  docs/reference/eql/functions.asciidoc
Labels: backport, v7.11.0

#65691 [7.10] [DOCS] EQL: Remove outdated wildcard ref (#65684)
  docs/reference/eql/functions.asciidoc
Labels: backport, v7.10.2

#65692 [7.x] [DOCS] Fix URL in rollup API JSON spec (#65683)
  x-pack/plugin/src/test/resources/rest-api-spec/api/rollup.rollup.json
Labels: backport, v7.11.0

#63692 Fix range query on date fields for number inputs
  docs/reference/migration/migrate_8_0/search.asciidoc
  docs/reference/query-dsl/range-query.asciidoc
  docs/reference/release-notes/8.0.0-alpha1.asciidoc
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/multi_cluster/30_field_caps.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/field_caps/30_filter.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/simple/SimpleSearchIT.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/DateScriptFieldType.java
Labels: :Search/Search, >breaking, >bug, Team:Search, v8.0.0

#65693 [DOCS] EQL: Flatten EQL syntax headings
  docs/reference/eql/syntax.asciidoc
Labels: >docs, Team:Docs, v7.10.2, v7.11.0, v8.0.0

#65700 [ML] test mute for testUpgradeJobSnapshot
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
Labels: :ml, >test-mute

#65701 [ML] test mute for testUpgradeJobSnapshot
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
Labels: :ml, >test-mute

#65694 [7.x] [DOCS] EQL: Flatten EQL syntax headings (#65693)
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.11.0

#65696 [7.10] [DOCS] EQL: Flatten EQL syntax headings (#65693)
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.10.2

#65686 [DOCS] Fix _doc_count example typo
  docs/reference/mapping/fields/doc-count-field.asciidoc
Labels: :Analytics/Rollup, :Search/Mapping, >docs, Team:Analytics, Team:Docs, Team:Search, v7.11.0, v8.0.0

#65702 [7.x] [DOCS] Fix _doc_count example typo (#65686)
  docs/reference/mapping/fields/doc-count-field.asciidoc
Labels: backport, v7.11.0

#65386 Support unmapped fields in search 'fields' option
  docs/reference/search/search-your-data/retrieve-selected-fields.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/search/330_fetch_fields.yml
  server/src/main/java/org/elasticsearch/action/search/ExpandSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequestBuilder.java
  server/src/main/java/org/elasticsearch/index/query/InnerHitBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchDocValuesContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldAndFormat.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldFetcher.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/flattened/10_basic.yml
Labels: :Search/Mapping, >enhancement, Team:Search, backport pending, v7.11.0, v8.0.0

#65671 SQL: Tableau connector: read version to build from src
  x-pack/plugin/sql/connectors/tableau/package.sh
Labels: :Query Languages/SQL, >non-issue, Team:QL, v7.11.0, v8.0.0

#64606 Create async search index if necessary on updates and deletes
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/async/AsyncTaskIndexService.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/async/AsyncTaskServiceTests.java
Labels: :Search/Search, >enhancement, Team:Search, v7.11.0, v8.0.0

#65599 Use scriptless fields in CoreTestTranslator
  rest-api-spec/src/main/resources/rest-api-spec/test/search/30_limits.yml
  x-pack/plugin/runtime-fields/qa/core-with-search/src/yamlRestTest/java/org/elasticsearch/xpack/runtimefields/test/search/CoreTestsWithSearchRuntimeFieldsIT.java
  x-pack/plugin/runtime-fields/qa/src/main/java/org/elasticsearch/xpack/runtimefields/test/CoreTestTranslater.java
Labels: :Search/Search, >test, Team:Search, v7.11.0, v8.0.0

#65720 Nix bogus assertion in getTimestampMillisRange()
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
Labels: :Distributed/Recovery, >bug, >test, Team:Distributed, v7.11.0, v8.0.0

#65689 Record timestamp field range in index metadata
  server/src/main/java/org/elasticsearch/cluster/action/shard/ShardStateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/IndexMetadataUpdater.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/shard/IndexLongFieldRange.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/shard/ShardLongFieldRange.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteResponseTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStartedClusterStateTaskExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStateActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ToAndFromJsonMetadataTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexLongFieldRangeTestUtils.java
  server/src/test/java/org/elasticsearch/index/shard/IndexLongFieldRangeTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexLongFieldRangeWireTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexLongFieldRangeXContentTests.java
  server/src/test/java/org/elasticsearch/index/shard/ShardLongFieldRangeWireTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/AbstractIndicesClusterStateServiceTestCase.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoveryTests.java
  server/src/test/java/org/elasticsearch/recovery/RecoveriesCollectionTests.java
  test/framework/src/main/java/org/elasticsearch/action/support/replication/ClusterStateCreationUtils.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/FrozenIndexIT.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/FrozenIndexTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport, v7.11.0

#65665 Try to make DeprecationHttpIT more robust
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
Labels: :Core/Infra/Logging, >test, Team:Core/Infra, v7.11.0, v8.0.0

#65727 Fix BWC after backport of #65564
  build.gradle
  server/src/main/java/org/elasticsearch/index/shard/IndexLongFieldRange.java
  server/src/main/java/org/elasticsearch/index/shard/ShardLongFieldRange.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStateActionTests.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v8.0.0

#65731 [DOCS] Changes wording of pivot parameter in PUT transforms API docs
  docs/reference/rest-api/common-parms.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, v7.10.2, v7.11.0, v8.0.0

#65732 Validate build hash in handshake
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/FollowersCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LeaderCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/discovery/HandshakingTransportAddressConnectorTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceDeserializationFailureTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceHandshakeTests.java
Labels: :Distributed/Network, >enhancement, Team:Distributed, v7.11.0, v8.0.0

#65733 [7.x] [DOCS] Update reference documentation that mentions CMS (#50542)
  docs/reference/setup/bootstrap-checks.asciidoc
Labels: backport, v7.11.0

#65734 [7.10] [DOCS] Update reference documentation that mentions CMS (#50542)
  docs/reference/setup/bootstrap-checks.asciidoc
Labels: backport, v7.10.2

#65704 [DOCS] Fix `_doc_count` field title
  docs/reference/mapping/fields/doc-count-field.asciidoc
Labels: :Analytics/Aggregations, :Search/Mapping, >docs, Team:Analytics, Team:Docs, Team:Search, v7.11.0, v8.0.0

#65601 Validate build hash in handshake
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/client/transport/FailAndRetryMockTransport.java
  server/src/test/java/org/elasticsearch/client/transport/TransportClientHeadersTests.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/FollowersCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LeaderCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/discovery/HandshakingTransportAddressConnectorTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceDeserializationFailureTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceHandshakeTests.java
Labels: :Distributed/Network, >enhancement, Team:Distributed, backport, v7.11.0

#65695 [DOCS] URI parts processor
  docs/reference/ingest/ingest-node.asciidoc
  docs/reference/ingest/processors/uri-parts.asciidoc
Labels: :Core/Features/Ingest, >docs, Team:Core/Features, Team:Docs, v7.11.0, v8.0.0

#65738 [7.x] [DOCS] Fix `_doc_count` field title (#65704)
  docs/reference/mapping/fields/doc-count-field.asciidoc
Labels: backport, v7.11.0

#65711 [DOCS] Fix EQL syntax formatting
  docs/reference/eql/syntax.asciidoc
Labels: >docs, v7.10.2, v7.11.0, v8.0.0

#65737 [7.10] [DOCS] Changes wording of pivot parameter in PUT transforms API docs. (#65731)
  docs/reference/rest-api/common-parms.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, backport, v7.10.2

#65736 [7.x] [DOCS] Changes wording of pivot parameter in PUT transforms API docs. (#65731)
  docs/reference/rest-api/common-parms.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, backport, v7.11.0

#53352 Encrypted blob store reuse DEK
  plugins/repository-azure/build.gradle
  plugins/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureBlobStoreRepositoryTests.java
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/src/internalClusterTest/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  plugins/repository-hdfs/src/test/java/org/elasticsearch/repositories/hdfs/HdfsBlobStoreRepositoryTests.java
  plugins/repository-s3/build.gradle
  plugins/repository-s3/src/internalClusterTest/java/org/elasticsearch/repositories/s3/S3BlobStoreRepositoryTests.java
  server/src/internalClusterTest/java/org/elasticsearch/repositories/fs/FsBlobStoreRepositoryIntegTests.java
  server/src/main/java/org/elasticsearch/common/blobstore/BlobPath.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESBlobStoreRepositoryIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESFsBasedRepositoryIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESMockAPIBasedRepositoryIntegTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/XPackLicenseStateTests.java
  x-pack/plugin/repository-encrypted/build.gradle
  x-pack/plugin/repository-encrypted/src/internalClusterTest/java/org/elasticsearch/repositories/encrypted/EncryptedAzureBlobStoreRepositoryIntegTests.java
  x-pack/plugin/repository-encrypted/src/internalClusterTest/java/org/elasticsearch/repositories/encrypted/EncryptedFSBlobStoreRepositoryIntegTests.java
  x-pack/plugin/repository-encrypted/src/internalClusterTest/java/org/elasticsearch/repositories/encrypted/EncryptedGCSBlobStoreRepositoryIntegTests.java
  x-pack/plugin/repository-encrypted/src/internalClusterTest/java/org/elasticsearch/repositories/encrypted/EncryptedRepositorySecretIntegTests.java
  x-pack/plugin/repository-encrypted/src/internalClusterTest/java/org/elasticsearch/repositories/encrypted/EncryptedS3BlobStoreRepositoryIntegTests.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/AESKeyUtils.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/ChainingInputStream.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/DecryptionPacketsInputStream.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptedRepository.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptedRepositoryPlugin.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptionPacketsInputStream.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/SingleUseKey.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/AESKeyUtilsTests.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/ChainingInputStreamTests.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/DecryptionPacketsInputStreamTests.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/EncryptedRepositoryTests.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/EncryptionPacketsInputStreamTests.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/LocalStateEncryptedRepositoryPlugin.java
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/SingleUseKeyTests.java
Labels: :Security/Security, >feature, Team:Security

#65670 flat_settings is not supported
  docs/reference/cluster/stats.asciidoc
Labels: :Core/Features/Stats, >docs, Team:Core/Features, v7.10.2, v7.11.0, v8.0.0

#65741 Fix up BWC after backport of #65732 as #65601
  build.gradle
  server/src/main/java/org/elasticsearch/transport/TransportService.java
Labels: :Distributed/Network, >non-issue, Team:Distributed, v8.0.0

#65747 [ML] Mute failing MlDistributedFailureIT test
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlDistributedFailureIT.java
Labels: :ml, >test-mute, v7.11.0, v8.0.0

#65750 [7.x][ML] Mute failing MlDistributedFailureIT test (#65747)
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlDistributedFailureIT.java
Labels: :ml, >test-mute, backport

#65743 [7.x] [DOCS] Fix EQL syntax formatting (#65711)
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.11.0

#65744 [7.10] [DOCS] Fix EQL syntax formatting (#65711)
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.10.2

#65745 [master] [DOCS] Remove erroneous `flat_settings` query param (#65670)
  docs/reference/cluster/stats.asciidoc
Labels: backport, v8.0.0

#65746 [7.x] [DOCS] Remove erroneous `flat_settings` query param (#65670)
  docs/reference/cluster/stats.asciidoc
Labels: backport, v7.11.0

#65749 [DOCS] Remove inert component template file
  docs/reference/indices/component-templates.asciidoc
Labels: >docs, Team:Docs, v7.10.2, v7.11.0, v8.0.0

#65751 [7.x] [DOCS] Remove inert component template file (#65749)
  docs/reference/indices/component-templates.asciidoc
Labels: backport, v7.11.0

#65752 [7.10] [DOCS] Remove inert component template file (#65749)
  docs/reference/indices/component-templates.asciidoc
Labels: backport, v7.10.2

#65606 Add search runtime_mappings to datafeed configuration
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedJobValidator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/config_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/datafeed/DatafeedConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappingsTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/delayeddatacheck/DatafeedDelayedDataDetector.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/delayeddatacheck/DelayedDataDetectorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AbstractAggregationDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/RollupDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/TimeBasedExtractedFields.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetector.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/extractor/ExtractedFields.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobValidatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/RollupDataExtractorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/preview_datafeed.yml
Labels: :ml, >enhancement, v7.11.0, v8.0.0

#65754 [DOCS] Add cluster get settings API example
  docs/reference/cluster/get-settings.asciidoc
Labels: >docs, Team:Docs, v7.10.2, v7.11.0, v8.0.0

#65757 [7.x] [DOCS] Add cluster get settings API example (#65754)
  docs/reference/cluster/get-settings.asciidoc
Labels: backport, v7.11.0

#65758 [7.10] [DOCS] Add cluster get settings API example (#65754)
  docs/reference/cluster/get-settings.asciidoc
Labels: backport, v7.10.2

#65721 [Transform] Use test threadpool to avoid conflict with other tests
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerStateTests.java
Labels: :ml/Transform, >test, v7.11.0, v8.0.0

#65742 [Transform] fix intermittent test_usage failure
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformUsageIT.java
Labels: :ml/Transform, >test, v7.11.0, v8.0.0

#64472 Compress audit logs
  docs/reference/migration/migrate_8_0/security.asciidoc
  docs/reference/migration/migrate_8_0/transport.asciidoc
  x-pack/plugin/core/src/main/config/log4j2.properties
Labels: :Core/Infra/Logging, :Security/Audit, >breaking, Team:Core/Infra, Team:Security, v8.0.0

#65761 [DOCS] Fix rollup V2 docs integ tests for release builds
  docs/build.gradle
  docs/reference/rollup/apis/rollup-api.asciidoc
Labels: :Analytics/Rollup, :Docs, >docs, Team:Analytics, Team:Docs, v7.11.0, v8.0.0

#65530 Updated painless-walkthrough documentation
  docs/painless/painless-guide/painless-walkthrough.asciidoc
Labels: :Core/Infra/Scripting, Team:Core/Infra

#65709 Always use "elasticsearch" as Gradle project name
  settings.gradle
Labels: :Delivery/Build, Team:Delivery

#65521 Fixes GeoLineAggregator bugs
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/GeoLineAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/GeoLineBucketedSort.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/InternalGeoLine.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/MergedGeoLines.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/GeoLineAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/MergedGeoLinesTests.java
  x-pack/plugin/spatial/src/yamlRestTest/resources/rest-api-spec/test/60_geo_line.yml
Labels: :Analytics/Geo, >bug, Team:Analytics, v7.11.0, v8.0.0

#65765 [7.x] [DOCS] Fix docs integ tests for release builds (#65761)
  docs/build.gradle
  docs/reference/rollup/apis/rollup-api.asciidoc
Labels: backport

#65673 [7.x] [ML] fixes minor snapshot upgrader task failure bug and rest client test failure (#65607)
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/JobModelSnapshotUpgrader.java
Labels: :ml, backport

#65753 Remove escape hatch permitting incompatible builds
  docs/reference/migration/migrate_8_0/transport.asciidoc
  server/src/main/java/org/elasticsearch/transport/TransportService.java
Labels: :Distributed/Network, >breaking, Team:Distributed, v8.0.0

#65638 [ML] adding ml autoscaling integration test
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/GetAutoscalingCapacityAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/AnalysisLimits.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/AutoscalingIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlNativeIntegTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlScalingReason.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/NativeMemoryCapacity.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderServiceTests.java
Labels: :Distributed/Autoscaling, :ml, >test, Team:Distributed, v7.11.0, v8.0.0

#65748 Add WARN Logging for Slow REST Request Handling
  server/src/main/java/org/elasticsearch/http/AbstractHttpServerTransport.java
  server/src/test/java/org/elasticsearch/http/AbstractHttpServerTransportTests.java
Labels: :Distributed/Network, >non-issue, Team:Distributed, v7.11.0, v8.0.0

#65697 Ensure notify when proxy connections disconnect
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CCSRemoteClusterClientRoleIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchIT.java
  server/src/main/java/org/elasticsearch/transport/RemoteConnectionManager.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractMultiClustersTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: :Distributed/Network, >bug, Team:Distributed, v6.8.14, v7.10.2, v7.11.0, v8.0.0

#65256 Phase 1 support for operator privileges
  docs/reference/rest-api/info.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackInfoFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/AuthenticationField.java
  x-pack/plugin/security/qa/operator-privileges-tests/build.gradle
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesIT.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/resources/operator_users.yml
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/resources/roles.yml
  x-pack/plugin/security/qa/operator-privileges-tests/src/main/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesTestPlugin.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/main/java/org/elasticsearch/xpack/security/operator/actions/RestGetActionsAction.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/main/plugin-metadata/plugin-security.policy
  x-pack/plugin/security/qa/operator-privileges-tests/src/test/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesTestPluginTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/test/SecuritySingleNodeTestCase.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesSingleNodeTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/FileOperatorUsersStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/OperatorOnlyRegistry.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/OperatorPrivileges.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesInfoTransportAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecuritySettingsSource.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/SecondaryAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/FileOperatorUsersStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/OperatorOnlyRegistryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesTests.java
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/operator/operator_users.yml
Labels: :Security/Authorization, >feature, Team:Security, v7.11.0, v8.0.0

#65777 Add WARN Logging for Slow REST Request Handling (#65748)
  server/src/main/java/org/elasticsearch/http/AbstractHttpServerTransport.java
  server/src/test/java/org/elasticsearch/http/AbstractHttpServerTransportTests.java
Labels: :Distributed/Network, Team:Distributed, backport

#65801 Misc integ tests for DLS and FLS
  x-pack/plugin/security/build.gradle
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/DocumentLevelSecurityTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/FieldLevelSecurityTests.java
Labels: :Security/Authorization, >test, Team:Security, v7.11.0, v8.0.0

#65790 Lower minimum compatibility version for _doc_count field tests
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/370_doc_count_field.yml
Labels: :Analytics/Aggregations, >test, Team:Analytics, v7.11.0, v8.0.0

#65763 Fix id field mapper stored configuration issue.
  server/src/main/java/org/elasticsearch/index/mapper/IdFieldMapper.java
Labels: :Search/Mapping, Team:Search

#65803 Explain size limit for transport messages
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
Labels: :Distributed/Network, >enhancement, Team:Distributed, v7.11.0, v8.0.0

#61456 Clarify usage of jvm.options in its comments
  distribution/src/config/jvm.options
Labels: :Delivery/Packaging, >enhancement, Team:Delivery, v7.11.0, v8.0.0

#65805 [7.x] Lower minimum compatibility version of _doc_count field tests
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/370_doc_count_field.yml
Labels: :Analytics/Aggregations, >test, Team:Analytics, backport, v7.11.0

#64582 Add query watches api to retrieve multiple watches.
  x-pack/docs/en/rest-api/watcher.asciidoc
  x-pack/docs/en/rest-api/watcher/query-watches.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/transport/actions/QueryWatchesAction.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.query_watches.json
  x-pack/plugin/watcher/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/watcher/query_watches/10_basic.yml
  x-pack/plugin/watcher/qa/with-monitoring/src/javaRestTest/java/org/elasticsearch/smoketest/MonitoringWithWatcherRestIT.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/BasicWatcherTests.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestQueryWatchesAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/transport/actions/TransportQueryWatchesAction.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/WatcherTestUtils.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/transport/action/QueryWatchesRequestTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/transport/action/QueryWatchesResponseTests.java
Labels: :Core/Features/Watcher, >refactoring, Team:Core/Features, v7.11.0, v8.0.0

#65774 [ML] make InferenceIngestIT more lenient when checking cache miss counts
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferenceIngestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/loadingservice/LocalModel.java
Labels: :ml, >test, v7.11.0, v8.0.0

#65809 Fix `lucene_version_path` in docs
  docs/Versions.asciidoc
Labels: >docs, Team:Docs, v7.10.2, v7.11.0

#65755 [ML] Fix snapshot upgrader so that if state is not fully written or parseable the task fails
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/JobModelSnapshotUpgrader.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/JobSnapshotUpgraderResultProcessor.java
Labels: :ml, >test, v7.11.0, v8.0.0

#65813 Add query watches api to retrieve multiple watches
  x-pack/docs/en/rest-api/watcher.asciidoc
  x-pack/docs/en/rest-api/watcher/query-watches.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/transport/actions/QueryWatchesAction.java
  x-pack/plugin/src/test/resources/rest-api-spec/api/watcher.query_watches.json
  x-pack/plugin/watcher/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/watcher/query_watches/10_basic.yml
  x-pack/plugin/watcher/qa/with-monitoring/src/javaRestTest/java/org/elasticsearch/smoketest/MonitoringWithWatcherRestIT.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/BasicWatcherTests.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/rest/action/RestQueryWatchesAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/transport/actions/TransportQueryWatchesAction.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/WatcherTestUtils.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/transport/action/QueryWatchesRequestTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/transport/action/QueryWatchesResponseTests.java
Labels: :Core/Features/Watcher, Team:Core/Features, backport, v7.11.0

#65775 [7.x] [ML] adding ml autoscaling integration test (#65638)
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/GetAutoscalingCapacityAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/AnalysisLimits.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/AutoscalingIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlNativeIntegTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlScalingReason.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/NativeMemoryCapacity.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/LocalStateMachineLearning.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderServiceTests.java
Labels: :ml, backport

#65815 [7.x] [ML] make InferenceIngestIT more lenient when checking cache miss counts (#65774)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferenceIngestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/loadingservice/LocalModel.java
Labels: :ml, backport

#65785 Update pagerduty.asciidoc
  x-pack/docs/en/watcher/actions/pagerduty.asciidoc
Labels: :Core/Features/Watcher, >docs, Team:Core/Features, Team:Docs

#65776 Store _doc_count field as custom term frequency
  server/src/main/java/org/elasticsearch/index/mapper/CustomTermFreqField.java
  server/src/main/java/org/elasticsearch/index/mapper/DocCountFieldMapper.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BucketsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/DocCountProvider.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/SortedDocsProducer.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/test/java/org/elasticsearch/index/mapper/DocCountFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocCountFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/DocCountProviderTests.java
Labels: :Search/Mapping, >enhancement, Team:Search, v7.11.0, v8.0.0

#65807 Apply fips.gradle to the correct plugins
  gradle/fips.gradle
Labels: :Delivery/Build, >test, Team:Delivery, v8.0.0

#65705 Support unmapped fields in search 'fields' option (#65386)
  docs/reference/search/search-your-data/retrieve-selected-fields.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/search/330_fetch_fields.yml
  server/src/main/java/org/elasticsearch/action/search/ExpandSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequestBuilder.java
  server/src/main/java/org/elasticsearch/index/query/InnerHitBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchDocValuesContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldAndFormat.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldFetcher.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/flattened/10_basic.yml
Labels: backport

#65822 [DOCS] Fix typo in histogram agg docs
  docs/reference/aggregations/bucket/histogram-aggregation.asciidoc
Labels: >docs, Team:Docs, v7.10.2, v7.11.0, v8.0.0

#65824 [ML] muting snapshot upgrader bwc test
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlJobSnapshotUpgradeIT.java
Labels: :ml, >test-mute, v8.0.0

#65804 BACKPORT Misc integ tests for DLS and FLS (#65801)
  x-pack/plugin/security/build.gradle
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/DocumentLevelSecurityTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/FieldLevelSecurityTests.java
Labels: backport, v7.11.0

#65819 Add missing comma in sample payload for the watcher's pagerduty action
  x-pack/docs/en/watcher/actions/pagerduty.asciidoc
Labels: :Core/Features/Watcher, >docs, Team:Core/Features, Team:Docs, backport, v8.0.0

#65825 [7.x] Store _doc_count field as custom term frequency
  server/src/main/java/org/elasticsearch/index/mapper/CustomTermFreqField.java
  server/src/main/java/org/elasticsearch/index/mapper/DocCountFieldMapper.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BucketsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/DocCountProvider.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/SortedDocsProducer.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/test/java/org/elasticsearch/index/mapper/DocCountFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocCountFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/DocCountProviderTests.java
Labels: :Search/Mapping, Team:Search, backport

#65827 [7.x] [DOCS] Fix typo in histogram agg docs (#65822)
  docs/reference/aggregations/bucket/histogram-aggregation.asciidoc
Labels: backport, v7.11.0

#65828 [7.10] [DOCS] Fix typo in histogram agg docs (#65822)
  docs/reference/aggregations/bucket/histogram-aggregation.asciidoc
Labels: backport, v7.10.2

#65795 Add hidden data streams to stats endpoint
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/action/DataStreamsActionUtil.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/action/DataStreamsStatsTransportAction.java
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/rest/RestDataStreamsStatsAction.java
  x-pack/plugin/data-streams/src/test/java/org/elasticsearch/xpack/datastreams/DataStreamsStatsTests.java
Labels: :Core/Features/Data streams, >enhancement, Team:Core/Features, v7.11.0, v8.0.0

#65829 [7.x] Apply fips.gradle to the correct plugins (#65807)
  gradle/fips.gradle
Labels: backport

#65259 Phonetic: Remove class that is part of commons-codec
  plugins/analysis-phonetic/src/main/java/org/elasticsearch/index/analysis/PhoneticTokenFilterFactory.java
  plugins/analysis-phonetic/src/main/java/org/elasticsearch/index/analysis/phonetic/Nysiis.java
Labels: :Search/Analysis, Team:Search, v8.0.0

#65698 [DOCS] EQL: Document ? wildcard
  docs/reference/eql/functions.asciidoc
  docs/reference/eql/syntax.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, v7.11.0, v8.0.0

#65561 [ML] Adding assignment_memory_basis to model_size_stats
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/job/process/ModelSizeStats.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningGetResultsIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/job/process/ModelSizeStatsTests.java
  docs/reference/ml/anomaly-detection/apis/get-job-stats.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/process/autodetect/state/ModelSizeStats.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/anomalydetection/results_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/process/autodetect/state/ModelSizeStatsTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
Labels: :ml, >enhancement, v7.11.0, v8.0.0

#65836 [7.x] [DOCS] EQL: Document ? wildcard (#65698)
  docs/reference/eql/functions.asciidoc
  docs/reference/eql/syntax.asciidoc
Labels: backport, v7.11.0

#65818 [7.x] [ML] Fix snapshot upgrader so that if state is not fully written or parseable the task fails (#65755)
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/JobModelSnapshotUpgrader.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/JobSnapshotUpgraderResultProcessor.java
Labels: :ml, backport

#65839 [ML] Improve integration test robustness to perturbations in the ml-cpp results
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DetectionRulesIT.java
Labels: :ml, >test, v7.11.0, v8.0.0

#65687 Abort sorting in case of local agg sort queue overflow
  docs/reference/sql/limitations.asciidoc
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/Querier.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/QuerierTests.java
Labels: :Query Languages/SQL, >bug, Team:QL, v7.10.2, v7.11.0, v8.0.0

#65844 Mute TimeThrottleIntegrationTests.testTimeThrottle
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/actions/TimeThrottleIntegrationTests.java
Labels: :Core/Features/Watcher, >test-mute, Team:Core/Features, v8.0.0

#65275 Add basic Fleet plugin
  x-pack/plugin/fleet/build.gradle
  x-pack/plugin/fleet/src/main/java/org/elasticsearch/xpack/fleet/Fleet.java
  x-pack/plugin/fleet/src/test/java/org/elasticsearch/xpack/fleet/FleetTests.java
Labels: :Core/Infra/Core, Team:Core/Infra, v7.11.0, v8.0.0

#65823 Mark Task APIs as experimental in rest-api-spec
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.cancel.json
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.get.json
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.list.json
Labels: :Core/Infra/REST API, Team:Core/Infra, v7.10.2, v7.11.0, v8.0.0

#64825 Complete replacing member data with decorations in the ir tree
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/BlockNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/BooleanNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/CastNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/CatchNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/ClassNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/ComparisonNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/ConstantNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/DeclarationNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/DefInterfaceReferenceNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/DoWhileLoopNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/DupNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/FieldNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/ForEachSubArrayNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/ForEachSubIterableNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/ForLoopNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/FunctionNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/IRNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/InstanceofNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/InvokeCallDefNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/InvokeCallMemberNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/ListInitializationNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/LoadBraceDefNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/LoadDotDefNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/LoadDotNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/LoadDotShortcutNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/LoadFieldMemberNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/LoadListShortcutNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/LoadMapShortcutNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/LoadVariableNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/LoopNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/MapInitializationNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/NewArrayNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/NewObjectNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/ReferenceNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/StoreBraceDefNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/StoreBraceNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/StoreDotDefNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/StoreDotNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/StoreDotShortcutNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/StoreFieldMemberNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/StoreListShortcutNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/StoreMapShortcutNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/StoreNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/StoreVariableNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/TypedCaptureReferenceNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/TypedInterfaceReferenceNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/UnaryMathNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/ir/WhileLoopNode.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultConstantFoldingOptimizationPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultIRTreeToASMBytesPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultUserTreeToIRTreePhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/IRTreeBaseVisitor.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/IRTreeVisitor.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/PainlessUserTreeToIRTreePhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/IRDecorations.java
Labels: :Core/Infra/Scripting, >refactoring, Team:Core/Infra, v7.11.0, v8.0.0

#65852 [7.x] Mark Task APIs as experimental in rest-api-spec
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.cancel.json
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.get.json
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.list.json
Labels: backport

#65853 [7.10] Mark Task APIs as experimental in rest-api-spec
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.cancel.json
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.get.json
  rest-api-spec/src/main/resources/rest-api-spec/api/tasks.list.json
Labels: backport

#65856 Mute IndicesClientIT.testDataStreams
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
Labels: :Core/Features/Data streams, >test-mute, Team:Core/Features, v8.0.0

#65857 Mute IndicesClientIT.testDataStreams
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
Labels: :Core/Features/Data streams, >test-mute, Team:Core/Features, v7.11.0

#65859 Mute IndicesClientIT.testDataStreams
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesClientIT.java
Labels: :Core/Features/Data streams, >test-mute, Team:Core/Features, v7.10.2

#65860 Mute HistoryTemplateIndexActionMappingsTests
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/history/HistoryTemplateIndexActionMappingsTests.java
Labels: :Core/Features/Watcher, >test-mute, Team:Core/Features, v8.0.0

#65783 Avoid passing Lucene version to Store#createEmpty.
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Store, >refactoring, Team:Distributed, v7.11.0, v8.0.0

#64528 Add Netty ByteBuf Leak Check to REST Test Clusters
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
Labels: :Delivery/Build, :Distributed/Network, >test, Team:Delivery, Team:Distributed, v7.11.0, v8.0.0

#65861 Avoid passing Lucene version to Store#createEmpty.
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Store, >refactoring, Team:Distributed, backport

#65864 Add Netty ByteBuf Leak Check to REST Test Clusters (#64528)
  buildSrc/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
Labels: :Delivery/Build, Team:Delivery, backport

#65802 Phase 1 support for operator privileges (#65256)
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/SecurityFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/AuthenticationField.java
  x-pack/plugin/security/qa/operator-privileges-tests/build.gradle
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesIT.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/resources/operator_users.yml
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/resources/roles.yml
  x-pack/plugin/security/qa/operator-privileges-tests/src/main/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesTestPlugin.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/main/java/org/elasticsearch/xpack/security/operator/actions/RestGetActionsAction.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/main/plugin-metadata/plugin-security.policy
  x-pack/plugin/security/qa/operator-privileges-tests/src/test/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesTestPluginTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/test/SecuritySingleNodeTestCase.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesSingleNodeTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/SecurityFeatureSet.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/FileOperatorUsersStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/OperatorOnlyRegistry.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/OperatorPrivileges.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecuritySettingsSource.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityFeatureSetTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/SecondaryAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/FileOperatorUsersStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/OperatorOnlyRegistryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesTests.java
  x-pack/plugin/security/src/test/resources/org/elasticsearch/xpack/security/operator/operator_users.yml
Labels: backport

#65540 Extract DiskUsageIntegTestCase
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
  test/framework/src/main/java/org/elasticsearch/cluster/DiskUsageIntegTestCase.java
Labels: :Distributed/Allocation, >test, Team:Distributed, v7.11.0, v8.0.0

#65867 Fix xpack info and usage reports for operator privileges
  docs/reference/rest-api/info.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackInfoFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/SecurityFeatureSetUsage.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/SecurityUsageTransportAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesInfoTransportAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityInfoTransportActionTests.java
Labels: :Security/Security, >non-issue, Team:Security, v8.0.0

#65604 Add infrastructure for managing system indices
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/put/TransportPutMappingAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/put/TransportUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/common/Strings.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexManager.java
  server/src/main/java/org/elasticsearch/indices/SystemIndices.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/indices/SystemIndexDescriptorTests.java
  server/src/test/java/org/elasticsearch/indices/SystemIndexManagerTests.java
  server/src/test/java/org/elasticsearch/indices/SystemIndicesTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/BaseSearchableSnapshotsIntegTestCase.java
Labels: :Core/Infra/Core, >enhancement, Team:Core/Infra, v7.11.0, v8.0.0
