Repository elastic/elasticsearch, pull requests merged in 2021-10, with the labels that each got.

#78305 Add centroid grid type in mvt request
  docs/reference/search/search-vector-tile-api.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/search_mvt.json
  x-pack/plugin/vector-tile/src/javaRestTest/java/org/elasticsearch/xpack/vectortile/VectorTileRestIT.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/RestVectorTileAction.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/VectorTileRequest.java
  x-pack/plugin/vector-tile/src/yamlRestTest/resources/rest-api-spec/test/10_basic.yml
Labels: >enhancement, >docs, :Analytics/Geo, v8.0.0, Team:Docs, Team:Analytics, Team:Clients, v7.16.0

#78545 [7.x] Add centroid grid type in mvt request (#78305)
  docs/reference/search/search-vector-tile-api.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/search_mvt.json
  x-pack/plugin/vector-tile/src/javaRestTest/java/org/elasticsearch/xpack/vectortile/VectorTileRestIT.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/RestVectorTileAction.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/VectorTileRequest.java
  x-pack/plugin/vector-tile/src/yamlRestTest/resources/rest-api-spec/test/10_basic.yml
Labels: backport, v7.16.0

#78546 Upgrade to Lucene 8.10 release
  build-tools-internal/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.10.0-snapshot-bf2fcb53079.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.10.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.10.0-snapshot-bf2fcb53079.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.10.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.10.0-snapshot-bf2fcb53079.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.10.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.10.0-snapshot-bf2fcb53079.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.10.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.10.0-snapshot-bf2fcb53079.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.10.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.10.0-snapshot-bf2fcb53079.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.10.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.10.0-snapshot-bf2fcb53079.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.10.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.10.0-snapshot-bf2fcb53079.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.10.0.jar.sha1
  server/licenses/lucene-analyzers-common-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-analyzers-common-8.10.0.jar.sha1
  server/licenses/lucene-backward-codecs-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-backward-codecs-8.10.0.jar.sha1
  server/licenses/lucene-core-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-core-8.10.0.jar.sha1
  server/licenses/lucene-grouping-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-grouping-8.10.0.jar.sha1
  server/licenses/lucene-highlighter-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-highlighter-8.10.0.jar.sha1
  server/licenses/lucene-join-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-join-8.10.0.jar.sha1
  server/licenses/lucene-memory-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-memory-8.10.0.jar.sha1
  server/licenses/lucene-misc-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-misc-8.10.0.jar.sha1
  server/licenses/lucene-queries-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-queries-8.10.0.jar.sha1
  server/licenses/lucene-queryparser-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-queryparser-8.10.0.jar.sha1
  server/licenses/lucene-sandbox-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-sandbox-8.10.0.jar.sha1
  server/licenses/lucene-spatial-extras-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-spatial-extras-8.10.0.jar.sha1
  server/licenses/lucene-spatial3d-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-spatial3d-8.10.0.jar.sha1
  server/licenses/lucene-suggest-8.10.0-snapshot-bf2fcb53079.jar.sha1
  server/licenses/lucene-suggest-8.10.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.10.0-snapshot-bf2fcb53079.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.10.0.jar.sha1
Labels: >non-issue, >upgrade, v7.16.0

#78392 Rest api to reset deprecation indexing cache
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/Deprecation.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationCacheResetAction.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationIndexingComponent.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/RestDeprecationCacheResetAction.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/TransportDeprecationCacheResetAction.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: :Core/Infra/Logging, v8.0.0, Team:Core/Infra, v7.16.0

#78128 Check for global blocks after IndexNotFoundException in TransportMasterNodeAction
  server/src/main/java/org/elasticsearch/action/support/master/TransportMasterNodeAction.java
  server/src/test/java/org/elasticsearch/action/support/master/TransportMasterNodeActionTests.java
Labels: >bug, :Distributed/Cluster Coordination, v8.0.0, Team:Distributed, v7.16.0

#78549 [7.x] Check for global blocks after IndexNotFoundException in TransportMasterNodeAction (#78128)
  server/src/main/java/org/elasticsearch/action/support/master/TransportMasterNodeAction.java
  server/src/test/java/org/elasticsearch/action/support/master/TransportMasterNodeActionTests.java
Labels: backport, v7.16.0

#78548 Update to new lucene snapshot
  build-tools-internal/version.properties
  modules/lang-expression/licenses/lucene-expressions-9.0.0-snapshot-94c6e261274.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-9.0.0-snapshot-cb366d04d4a.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.0.0-snapshot-94c6e261274.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.0.0-snapshot-cb366d04d4a.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.0.0-snapshot-94c6e261274.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.0.0-snapshot-cb366d04d4a.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.0.0-snapshot-94c6e261274.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.0.0-snapshot-cb366d04d4a.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.0.0-snapshot-94c6e261274.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.0.0-snapshot-cb366d04d4a.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.0.0-snapshot-94c6e261274.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.0.0-snapshot-cb366d04d4a.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.0.0-snapshot-94c6e261274.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.0.0-snapshot-cb366d04d4a.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.0.0-snapshot-94c6e261274.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-analysis-common-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-analysis-common-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-backward-codecs-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-backward-codecs-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-core-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-core-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-grouping-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-grouping-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-highlighter-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-highlighter-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-join-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-join-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-memory-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-memory-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-misc-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-misc-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-queries-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-queries-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-queryparser-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-queryparser-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-sandbox-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-sandbox-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-spatial-extras-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-spatial-extras-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-spatial3d-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-spatial3d-9.0.0-snapshot-cb366d04d4a.jar.sha1
  server/licenses/lucene-suggest-9.0.0-snapshot-94c6e261274.jar.sha1
  server/licenses/lucene-suggest-9.0.0-snapshot-cb366d04d4a.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-9.0.0-snapshot-94c6e261274.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-9.0.0-snapshot-cb366d04d4a.jar.sha1
Labels: :Search/Search, >upgrade, v8.0.0, Team:Search

#78550 Rest api to reset deprecation indexing cache backport(#78392)
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/Deprecation.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationCacheResetAction.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationIndexingComponent.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/RestDeprecationCacheResetAction.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/TransportDeprecationCacheResetAction.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: :Core/Infra/Logging, backport, Team:Core/Infra, v7.16.0

#78519 [DOCS] Troubleshoot the flood-stage watermark error
  docs/reference/how-to/fix-common-cluster-issues.asciidoc
Labels: :Distributed/Allocation, v8.0.0, Team:Distributed, v7.16.0, v7.15.1

#78530 [ML] unifying NLP task output with existing inference outputs
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/ClassificationInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/FillMaskResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/InferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/NerResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/PyTorchPassThroughResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/TextClassificationResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/TextEmbeddingResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ClassificationConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/InferenceConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/RegressionConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextClassificationConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/FillMaskResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/NerResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/PyTorchPassThroughResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/TextClassificationResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/TextEmbeddingResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextClassificationConfigTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/FillMaskProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/PassThroughProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/TextClassificationProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/TextEmbeddingProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/ZeroShotClassificationProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/FillMaskProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/TextClassificationProcessorTests.java
Labels: >non-issue, :ml, v8.0.0, Team:ML

#78555 [7.x] [DOCS] Troubleshoot the flood-stage watermark error (#78519)
  docs/reference/how-to/fix-common-cluster-issues.asciidoc
Labels: backport, auto-merge, v7.16.0

#78556 [7.15] [DOCS] Troubleshoot the flood-stage watermark error (#78519)
  docs/reference/how-to/fix-common-cluster-issues.asciidoc
Labels: backport, auto-merge, v7.15.1

#78537 [7.x] Require System Index Descriptors to allow a specific suffix (#78355)
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpDownloader.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/IngestGeoIpPlugin.java
  modules/kibana/src/main/java/org/elasticsearch/kibana/KibanaPlugin.java
  modules/kibana/src/test/java/org/elasticsearch/kibana/KibanaPluginTests.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterInfoServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SystemIndicesSnapshotIT.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/indices/SystemIndices.java
  server/src/test/java/org/elasticsearch/action/admin/indices/alias/get/TransportGetAliasesActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/put/TransportUpdateSettingsActionTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTests.java
  server/src/test/java/org/elasticsearch/action/support/AutoCreateIndexTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/indices/ExecutorSelectorTests.java
  server/src/test/java/org/elasticsearch/indices/SystemIndexManagerTests.java
  server/src/test/java/org/elasticsearch/indices/SystemIndicesTests.java
  x-pack/plugin/async/src/main/java/org/elasticsearch/xpack/async/AsyncResultsIndexPlugin.java
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/Logstash.java
  x-pack/plugin/logstash/src/test/java/org/elasticsearch/xpack/logstash/LogstashPluginTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsSystemIndicesIntegTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
Labels: v7.16.0

#78547 Simple ILM Task Batching Implementation
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/ClusterStateWaitThresholdBreachTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleClusterStateUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/MoveToNextStepUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/SetStepInfoUpdateTask.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/MoveToNextStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/SetStepInfoUpdateTaskTests.java
Labels: >non-issue, :Data Management/ILM+SLM, v8.0.0, Team:Data Management, v7.16.0

#78566 [ML] add trained model APIs to upgrade mode filters
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlUpgradeModeActionFilter.java
Labels: >non-issue, :ml, v8.0.0, Team:ML

#78565 Simple ILM Task Batching Implementation (#78547)
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/ClusterStateWaitThresholdBreachTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleClusterStateUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/MoveToNextStepUpdateTask.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/SetStepInfoUpdateTask.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/MoveToNextStepUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/SetStepInfoUpdateTaskTests.java
Labels: >non-issue, :Data Management/ILM+SLM, backport, Team:Data Management, v7.16.0

#71714 Interrupt aggregation reduce phase if the search task is cancelled
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/TermsReduceBenchmark.java
  modules/aggs-matrix-stats/src/test/java/org/elasticsearch/search/aggregations/matrix/stats/InternalMatrixStatsTests.java
  server/src/internalClusterTest/java/org/elasticsearch/search/SearchCancellationIT.java
  server/src/main/java/org/elasticsearch/action/search/QueryPhaseResultConsumer.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/action/search/TransportOpenPointInTimeAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/InternalAggregation.java
  server/src/test/java/org/elasticsearch/action/search/DfsQueryPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/FetchSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/QueryPhaseResultConsumerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchQueryThenFetchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalVariableWidthHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalScriptedMetricTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalAggregationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalMultiBucketAggregationTestCase.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/multiterms/InternalMultiTermsTests.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/AsyncSearchTask.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/TransportSubmitAsyncSearchAction.java
  x-pack/plugin/async-search/src/test/java/org/elasticsearch/xpack/search/AsyncSearchTaskTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupResponseTranslator.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportRollupSearchAction.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupResponseTranslationTests.java
Labels: >enhancement, :Analytics/Aggregations, v8.0.0, Team:Analytics, external-contributor, v7.16.0

#78532 Avoid overriding existing forced modules in build script
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/rewrite/RewritePlugin.java
  x-pack/qa/security-tools-tests/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, v7.16.0

#78034 TSDB: CCR tests
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
Labels: >test, v8.0.0, Team:Analytics, :Analytics/TSDB, v7.16.0

#78022 TSDB: snapshot/restore test
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/30_snapshot.yml
Labels: >test, v8.0.0, Team:Analytics, :Analytics/TSDB

#78028 TSDB: Basic rolling upgrade test
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/IndexingIT.java
Labels: >test, v8.0.0, Team:Analytics, :Analytics/TSDB

#78038 TSDB: Tests for data_stream
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/data_stream/150_tsdb.yml
Labels: >test, v8.0.0, Team:Analytics, :Analytics/TSDB

#78042 TSDB: CCS Tests
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/multi_cluster/100_tsdb.yml
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/remote_cluster/10_basic.yml
Labels: >test, v8.0.0, Team:Analytics, :Analytics/TSDB, v7.16.0

#78553 [ML] Theading parameters for trained model deployments
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetDeploymentStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartTrainedModelDeploymentAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/CreateTrainedModelAllocationActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetDeploymentStatsActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/StartTrainedModelDeploymentRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/StartTrainedModelDeploymentTaskParamsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/allocation/TrainedModelAllocationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/groups/GroupOrJobLookupTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDeploymentStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/ModelStats.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/TrainedModelDeploymentTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/NativePyTorchProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchStateStreamer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestStartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/allocation/TrainedModelAllocationClusterServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/allocation/TrainedModelAllocationMetadataTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/allocation/TrainedModelAllocationNodeServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/NodeLoadDetectorTests.java
Labels: >non-issue, :ml, v8.0.0, Team:ML, auto-merge

#78585 Fixes testCancellationDuringAggregation test
  server/src/internalClusterTest/java/org/elasticsearch/search/SearchCancellationIT.java
Labels: >test, :Analytics/Aggregations, v8.0.0, Team:Analytics

#78587 Fix Snapshot Getting Stuck if Snapshot Queued after Delete has Shard in State MISSING
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: >bug, :Distributed/Snapshot/Restore, v8.0.0, Team:Distributed, v7.16.0, v7.15.1

#78588 Fix Snapshot Getting Stuck if Snapshot Queued after Delete has Shard in State MISSING (#78587)
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, v7.16.0

#78589 Fix Snapshot Getting Stuck if Snapshot Queued after Delete has Shard in State MISSING (#78587)
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, v7.15.1

#78592 Make some Mappers Singletons (#77067)
  server/src/main/java/org/elasticsearch/index/mapper/DocCountFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldNamesFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoredFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IndexFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RoutingFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SeqNoFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldNamesFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregatorTests.java
Labels: >non-issue, :Search/Mapping, backport, Team:Search, v7.16.0

#78591 Save Buffers and FDs in RecoverySourceHandler (#72621)
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
Labels: >non-issue, :Distributed/Recovery, backport, Team:Distributed, v7.16.0

#78511 Add MetricAggregationBuilder abstraction
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AbstractPercentilesAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ExtendedStatsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalExtendedStats.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MaxAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/StatsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ValueCountAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceAggregationBuilder.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/rate/RateAggregationBuilder.java
Labels: :Analytics/Aggregations, >refactoring, v8.0.0, Team:Analytics, v7.16.0

#78594 [7.x] Add MetricAggregationBuilder abstraction (#78511)
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AbstractPercentilesAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AvgAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ExtendedStatsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalExtendedStats.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MaxAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/StatsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ValueCountAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceAggregationBuilder.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/rate/RateAggregationBuilder.java
Labels: backport, auto-merge, v7.16.0

#78593 Short-Circuit NOOP Mapping Updates Earlier (#77574)
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/put/PutMappingClusterStateUpdateRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/put/TransportPutMappingAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataMappingService.java
Labels: >non-issue, :Search/Mapping, backport, Team:Search, v7.16.0

#77984 Refactor SnapshotsInProgress to Track Snapshots By Repository
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterStateDiffIT.java
  server/src/internalClusterTest/java/org/elasticsearch/discovery/SnapshotDisruptionIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CloneSnapshotIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/cleanup/TransportCleanupRepositoryAction.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/SnapshotInProgressAllocationDecider.java
  server/src/main/java/org/elasticsearch/repositories/FinalizeSnapshotContext.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/InFlightShardSnapshotStates.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDeleteIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsInProgressSerializationTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/AsyncRetryDuringSnapshotActionStep.java
  x-pack/plugin/data-streams/src/test/java/org/elasticsearch/xpack/datastreams/action/DeleteDataStreamTransportActionTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportGetSnapshotLifecycleAction.java
  x-pack/plugin/repository-encrypted/src/internalClusterTest/java/org/elasticsearch/repositories/encrypted/EncryptedRepositorySecretIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/ClusterPrivilegeIntegrationTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/SecurityFeatureStateIntegTests.java
Labels: :Distributed/Snapshot/Restore, >refactoring, v8.0.0, Team:Distributed, v7.16.0

#78599 Mute "tsdb" yaml test
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/remote_cluster/10_basic.yml
Labels: v8.0.0, >test-mute

#78404 Fix aggregation memory leak for CCS
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchLeakIT.java
  server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java
  server/src/main/java/org/elasticsearch/common/io/stream/DelayableWriteable.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchResult.java
  server/src/test/java/org/elasticsearch/common/io/stream/DelayableWriteableTests.java
  server/src/test/java/org/elasticsearch/search/query/QuerySearchResultTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractMultiClustersTestCase.java
Labels: >bug, :Analytics/Aggregations, :Distributed/Network, v8.0.0, Team:Distributed, Team:Analytics, auto-backport, v7.16.0, v7.15.1

#78603 Revert "Mute "tsdb" yaml test "
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/remote_cluster/10_basic.yml
Labels: v8.0.0

#78438 Add periodic maintenance task to clean up unused blob store cache docs
  docs/reference/searchable-snapshots/index.asciidoc
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/SearchableSnapshotsBlobStoreCacheMaintenanceIntegTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/BlobStoreCacheMaintenanceService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/BlobStoreCacheService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/CachedBlob.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/SearchableSnapshotDirectory.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/BlobStoreCacheServiceTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/common/TestUtils.java
Labels: >enhancement, :Distributed/Snapshot/Restore, v8.0.0, v7.16.0

#78596 Add snapshot stress tests
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStressTestsIT.java
Labels: >test, :Distributed/Snapshot/Restore, v8.0.0, Team:Distributed, auto-merge, v7.16.0, auto-backport-and-merge

#78208 TSDB: More tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/40_search.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/50_alias.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/60_add_dimensions.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/70_dimension_types.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/80_index_resize.yml
Labels: >test, v8.0.0, Team:Analytics, :Analytics/TSDB

#77259 Improving cache lookup to reduce recomputing / searches
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichCache.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactory.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichCacheTests.java
Labels: :Data Management/Ingest, v8.0.0, Team:Data Management, external-contributor

#78607 [ML] Handle multiple punctuation chars adjacent to never-split token
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BasicTokenizer.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BasicTokenizerTests.java
Labels: >non-issue, :ml, v8.0.0, Team:ML

#78572 TSDB: Mark tests as 8.0.0 only
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/05_dimension_and_metric_in_non_tsdb_index.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/10_settings.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/20_mapping.yml
Labels: >non-issue, v8.0.0, Team:Analytics, :Analytics/TSDB

#78570 Revert `index.mode: time_series`
  qa/mixed-cluster/build.gradle
  qa/smoke-test-multinode/build.gradle
  rest-api-spec/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/10_settings.yml
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/index/IndexMode.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/test/java/org/elasticsearch/index/TimeSeriesModeTests.java
  x-pack/qa/core-rest-tests-with-security/build.gradle
  x-pack/qa/runtime-fields/build.gradle
Labels: >non-issue, Team:Analytics, :Analytics/TSDB, v7.16.0

#78033 Data streams service to handle modification requests
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataMigrateToDataStreamService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataMigrateToDataStreamServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/metadata/DataStreamTestHelper.java
Labels: >non-issue, v8.0.0, :Data Management/Data streams, Team:Data Management, v7.16.0

#78609 Speed up Routing Nodes Priority Comparator
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/gateway/PriorityComparator.java
Labels: >non-issue, :Distributed/Allocation, v8.0.0, Team:Distributed, v7.16.0

#78584 [DOCS] Fix SLM status response
  docs/reference/slm/apis/slm-get-status.asciidoc
Labels: >docs, :Data Management/ILM+SLM, v8.0.0, Team:Data Management, Team:Docs, external-contributor, v7.16.0, v7.15.1

#78618 [7.15] [DOCS] Fix SLM status response (#78584)
  docs/reference/slm/apis/slm-get-status.asciidoc
Labels: backport, auto-merge, v7.15.1

#78617 [7.x] [DOCS] Fix SLM status response (#78584)
  docs/reference/slm/apis/slm-get-status.asciidoc
Labels: backport, auto-merge, v7.16.0

#78610 [7.x] Add periodic maintenance task to clean up unused blob store cache docs
  docs/reference/searchable-snapshots/index.asciidoc
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/SearchableSnapshotsBlobStoreCacheMaintenanceIntegTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/BlobStoreCacheMaintenanceService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/BlobStoreCacheService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/CachedBlob.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/SearchableSnapshotDirectory.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/BlobStoreCacheServiceTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/common/TestUtils.java
Labels: backport, auto-merge, v7.16.0

#78612 Cache index.hidden setting
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexMetadataTests.java
Labels: >enhancement, :Core/Infra/Core, v8.0.0, Team:Core/Infra, v7.16.0, auto-backport-and-merge

#78615 Speed up Routing Nodes Priority Comparator (#78609)
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/gateway/PriorityComparator.java
Labels: >non-issue, :Distributed/Allocation, backport, Team:Distributed, v7.16.0

#78619 TSDB: Add feature flag to more builds
  qa/multi-cluster-search/build.gradle
  qa/rolling-upgrade/build.gradle
  x-pack/plugin/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster/build.gradle
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/analytics/histogram.yml
Labels: >test, v8.0.0, Team:Analytics, auto-merge, :Analytics/TSDB

#71752 [ML] Text/Log categorization multi-bucket aggregation
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/AggConstructionContentionBenchmark.java
  docs/build.gradle
  docs/reference/aggregations/bucket.asciidoc
  docs/reference/aggregations/bucket/categorize-text-aggregation.asciidoc
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/ParsedMultiBucketAggregation.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationContext.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/AnalysisConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/CategorizationAnalyzerConfig.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/CategorizationAggregationIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizationBytesRefHash.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizationTokenTree.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregationBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregatorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/InternalCategorizationAggregation.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/TextCategorization.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/TreeNode.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/UnmappedCategorizationAggregation.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/CategorizationAnalyzer.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/LocalStateMachineLearning.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregationBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/InnerTreeNodeTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/InternalCategorizationAggregationTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/LeafTreeNodeTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/ParsedCategorization.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/TextCategorizationTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/categorization_agg.yml
Labels: >feature, :Analytics/Aggregations, :ml, v8.0.0, Team:Analytics, Team:ML, v7.16.0

#78540 Convert Autoscaling license object to use LicensedFeature
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/Autoscaling.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/AutoscalingLicenseChecker.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
Labels: >refactoring, :Security/License, v8.0.0, Team:Security, v7.16.0, auto-backport-and-merge

#78539 Convert sql license objects to LicensedFeature
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/SqlPlugin.java
Labels: >refactoring, :Security/License, v8.0.0, Team:Security, v7.16.0, auto-backport-and-merge

#78575 Add dynamic (duck) type resolution to Painless static types
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/DynamicTypeAnnotation.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/DynamicTypeAnnotationParser.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/WhitelistAnnotationParser.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessClass.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessClassBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultSemanticAnalysisPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultUserTreeToIRTreePhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/Decorations.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/DynamicTypeTests.java
  modules/lang-painless/src/test/resources/org/elasticsearch/painless/org.elasticsearch.painless.dynamic
Labels: >enhancement, :Core/Infra/Scripting, v8.0.0, Team:Core/Infra, v7.16.0

#78625 [7.x] Convert Autoscaling license object to use LicensedFeature (#78540)
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/Autoscaling.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/AutoscalingLicenseChecker.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
Labels: backport, auto-merge, v7.16.0

#78626 [7.x] Convert sql license objects to LicensedFeature (#78539)
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/SqlPlugin.java
Labels: backport, auto-merge, v7.16.0

#78629 [ML] fixing minor text categorization aggregation bug
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/TreeNode.java
Labels: >non-issue, :ml, v8.0.0, Team:ML, auto-merge

#78623 [7.x] [ML] Text/Log categorization multi-bucket aggregation (#71752)
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/AggConstructionContentionBenchmark.java
  docs/build.gradle
  docs/reference/aggregations/bucket.asciidoc
  docs/reference/aggregations/bucket/categorize-text-aggregation.asciidoc
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/ParsedMultiBucketAggregation.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationContext.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/AnalysisConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/CategorizationAnalyzerConfig.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/CategorizationAggregationIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizationBytesRefHash.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizationTokenTree.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregationBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregatorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/InternalCategorizationAggregation.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/TextCategorization.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/TreeNode.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/UnmappedCategorizationAggregation.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/CategorizationAnalyzer.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/LocalStateMachineLearning.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregationBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/InnerTreeNodeTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/InternalCategorizationAggregationTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/LeafTreeNodeTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/ParsedCategorization.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/TextCategorizationTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/categorization_agg.yml
Labels: backport, auto-merge, v7.16.0

#78586 Prevent downgrades from 8.x to 7.x
  server/src/internalClusterTest/java/org/elasticsearch/env/NodeEnvironmentIT.java
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/test/java/org/elasticsearch/env/NodeEnvironmentTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/DiskUsageIntegTestCase.java
Labels: >enhancement, :Distributed/Cluster Coordination, v8.0.0, Team:Distributed

#78627 Fix searchable snapshots license level
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/searchablesnapshots/SearchableSnapshotsConstants.java
Labels: >non-issue, :Distributed/Snapshot/Restore, v8.0.0, Team:Distributed, v7.16.0, auto-backport-and-merge

#78538 Convert geo agg license objects to LicensedFeature
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
Labels: >refactoring, :Security/License, v8.0.0, Team:Security, v7.16.0, auto-backport-and-merge

#78495 Revert "Remove MDP from PersistedClusterStateService (#72278)"
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/UnsafeBootstrapAndDetachCommandIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ElasticsearchNodeCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/RemoveSettingsCommand.java
  server/src/main/java/org/elasticsearch/env/NodeRepurposeCommand.java
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/main/java/org/elasticsearch/gateway/PersistedClusterStateService.java
  server/src/test/java/org/elasticsearch/env/NodeRepurposeCommandTests.java
  server/src/test/java/org/elasticsearch/env/OverrideNodeVersionCommandTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayMetaStatePersistedStateTests.java
  server/src/test/java/org/elasticsearch/gateway/PersistedClusterStateServiceTests.java
  server/src/test/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandTests.java
Labels: >non-issue, :Core/Infra/Core, v8.0.0, Team:Core/Infra

#78634 Remove flaky queue resizing tests
  server/src/test/java/org/elasticsearch/common/util/concurrent/QueueResizingEsThreadPoolExecutorTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, auto-merge, v7.16.0

#78468 Validate that snapshot repository exists for ILM policies at creation/update time
  client/rest-high-level/src/main/java/org/elasticsearch/client/ilm/SearchableSnapshotAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ilm/WaitForSnapshotAction.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
  docs/reference/ilm/actions/ilm-searchable-snapshot.asciidoc
  docs/reference/ilm/actions/ilm-wait-for-snapshot.asciidoc
  docs/reference/migration/migrate_8_0/ilm.asciidoc
  docs/reference/tab-widgets/ilm.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForSnapshotAction.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/action/TransportExecuteSnapshotLifecycleAction.java
Labels: >breaking, :Data Management/ILM+SLM, v8.0.0, Team:Data Management

#78635 [7.x] Fix searchable snapshots license level (#78627)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/searchablesnapshots/SearchableSnapshotsConstants.java
Labels: backport, auto-merge, v7.16.0

#78636 Revert "Remove multiple paths from elasticsearch-node tool (#72351)"
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/DetachClusterCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ElasticsearchNodeCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/RemoveCustomsCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/RemoveSettingsCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/UnsafeBootstrapMasterCommand.java
  server/src/main/java/org/elasticsearch/env/NodeRepurposeCommand.java
  server/src/main/java/org/elasticsearch/env/OverrideNodeVersionCommand.java
  server/src/main/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommand.java
  server/src/test/java/org/elasticsearch/env/OverrideNodeVersionCommandTests.java
  server/src/test/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandTests.java
Labels: >non-issue, :Core/Infra/Core, v8.0.0, Team:Core/Infra, auto-merge

#78264 A few more tests for parent and child aggs
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/40_aggregations.yml
Labels: >test, :Analytics/Aggregations, v8.0.0, Team:Analytics, v7.16.0, auto-backport-and-merge

#78597 Introduce DSL for configuring BWC tests
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  qa/ccs-rolling-upgrade-remote-cluster/build.gradle
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/repository-multi-version/build.gradle
  qa/rolling-upgrade/build.gradle
  qa/verify-version-constants/build.gradle
  x-pack/plugin/eql/qa/mixed-node/build.gradle
  x-pack/plugin/sql/qa/jdbc/build.gradle
  x-pack/plugin/sql/qa/mixed-node/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/mixed-tier-cluster/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: >enhancement, :Delivery/Build, v8.0.0, Team:Delivery, auto-backport, v7.16.0, auto-backport-and-merge

#78564 Deprecate create_legacy_templates setting on HTTP Exporters
  docs/reference/migration/migrate_7_16.asciidoc
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterResourceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterTests.java
Labels: >deprecation, :Data Management/Monitoring, Team:Data Management, v7.16.0

#78640 [7.x] A few more tests for parent and child aggs (#78264)
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/40_aggregations.yml
Labels: backport, auto-merge, v7.16.0

#78632 Speed up Settings Filtering
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Settings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/settings/SettingsUpdaterTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingsModuleTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingsTests.java
Labels: >non-issue, :Core/Infra/Settings, v8.0.0, Team:Core/Infra, v7.16.0

#78449 Fix 'part' type for put_trained_model_definition_part API
  rest-api-spec/src/main/resources/rest-api-spec/api/ml.put_trained_model_definition_part.json
Labels: >non-issue, :ml, v8.0.0, Team:Clients

#78558 Add reference to PHP client on Bulk API page
  docs/reference/docs/bulk.asciidoc
Labels: external-contributor, v7.15.1

#78652 [7.x] [DOCS] Add reference to PHP client on Bulk API page (#78558)
  docs/reference/docs/bulk.asciidoc
Labels: backport, v7.16.0

#78651 [master] [DOCS] Add reference to PHP client on Bulk API page (#78558)
  docs/reference/docs/bulk.asciidoc
Labels: backport, v8.0.0

#78649 Remove joda time from expressions
  modules/lang-expression/src/main/java/org/elasticsearch/script/expression/DateObject.java
  modules/lang-expression/src/main/java/org/elasticsearch/script/expression/DateObjectValueSource.java
Labels: :Core/Infra/Scripting, >refactoring, v8.0.0, Team:Core/Infra

#78637 Convert logstash license object to LicensedFeature
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/Logstash.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/LogstashInfoTransportAction.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/LogstashUsageTransportAction.java
  x-pack/plugin/logstash/src/test/java/org/elasticsearch/xpack/logstash/LogstashInfoTransportActionTests.java
Labels: >refactoring, :Security/License, v8.0.0, Team:Security, v7.16.0, auto-backport-and-merge

#78657 Convert geo agg license objects to LicensedFeature (#78538)
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
Labels: backport, auto-merge, v7.16.0

#78583 [7.x] Interrupt aggregation reduce phase if the search task is cancelled
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/TermsReduceBenchmark.java
  modules/aggs-matrix-stats/src/test/java/org/elasticsearch/search/aggregations/matrix/stats/InternalMatrixStatsTests.java
  server/src/internalClusterTest/java/org/elasticsearch/search/SearchCancellationIT.java
  server/src/main/java/org/elasticsearch/action/search/QueryPhaseResultConsumer.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/action/search/TransportOpenPointInTimeAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/InternalAggregation.java
  server/src/test/java/org/elasticsearch/action/search/DfsQueryPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/FetchSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/QueryPhaseResultConsumerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchQueryThenFetchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalVariableWidthHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalScriptedMetricTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalAggregationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalMultiBucketAggregationTestCase.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/multiterms/InternalMultiTermsTests.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/AsyncSearchTask.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/TransportSubmitAsyncSearchAction.java
  x-pack/plugin/async-search/src/test/java/org/elasticsearch/xpack/search/AsyncSearchTaskTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupResponseTranslator.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportRollupSearchAction.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupResponseTranslationTests.java
Labels: backport, v7.16.0

#77200 Make feature factory more resilient to invalid polygons
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactory.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactoriesConsistencyTests.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactoryTests.java
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/Antarctica.wkt.gz
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/France.wkt.gz
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/LICENSE.txt
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/NOTICE.txt
Labels: >bug, :Analytics/Geo, v8.0.0, Team:Analytics, v7.16.0, v7.15.1

#78604 Fix aggregation memory leak for CCS (#78404)
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchLeakIT.java
  server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java
  server/src/main/java/org/elasticsearch/common/io/stream/DelayableWriteable.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchResult.java
  server/src/test/java/org/elasticsearch/common/io/stream/DelayableWriteableTests.java
  server/src/test/java/org/elasticsearch/search/query/QuerySearchResultTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractMultiClustersTestCase.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, v7.16.0

#78650 Speed up Settings Filtering (#78632)
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Settings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/settings/SettingsUpdaterTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingsModuleTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingsTests.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: >non-issue, :Core/Infra/Settings, backport, Team:Core/Infra, v7.16.0

#78661 [Backport] Add 'show' command to the keystore CLI
  distribution/tools/keystore-cli/build.gradle
  distribution/tools/keystore-cli/src/main/java/org/elasticsearch/common/settings/KeyStoreCli.java
  distribution/tools/keystore-cli/src/main/java/org/elasticsearch/common/settings/ShowKeyStoreCommand.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/KeyStoreCommandTestCase.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/ShowKeyStoreCommandTests.java
  docs/reference/commands/keystore.asciidoc
  libs/cli/src/main/java/org/elasticsearch/cli/Terminal.java
  test/framework/src/main/java/org/elasticsearch/cli/MockTerminal.java
Labels: :Core/Infra/Settings, backport, Team:Core/Infra, auto-merge, v7.16.0

#78662 Make feature factory more resilient to invalid polygons (#77200)
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactory.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactoriesConsistencyTests.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactoryTests.java
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/Antarctica.wkt.gz
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/France.wkt.gz
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/LICENSE.txt
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/NOTICE.txt
Labels: >bug, backport, v7.16.0

#78663 Make feature factory more resilient to invalid polygons (#77200)
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactory.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactoriesConsistencyTests.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactoryTests.java
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/Antarctica.wkt.gz
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/France.wkt.gz
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/LICENSE.txt
  x-pack/plugin/vector-tile/src/test/resources/org/elasticsearch/xpack/vectortile/feature/NOTICE.txt
Labels: >bug, backport, v7.15.1

#78601 Fix split package with org.apache.lucene.index.OneMergeHelper
  server/build.gradle
  server/src/main/java/org/apache/lucene/index/OneMergeHelper.java
  server/src/main/java/org/elasticsearch/index/engine/ElasticsearchConcurrentMergeScheduler.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: v8.0.0, modularization

#78614 Add support for metrics aggregations to mvt end point
  docs/reference/search/search-vector-tile-api.asciidoc
  x-pack/plugin/vector-tile/src/javaRestTest/java/org/elasticsearch/xpack/vectortile/VectorTileRestIT.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/RestVectorTileAction.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/VectorTileRequest.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/rest/VectorTileRequestTests.java
  x-pack/plugin/vector-tile/src/yamlRestTest/resources/rest-api-spec/test/20_aggregations.yml
Labels: >enhancement, :Analytics/Geo, v8.0.0, Team:Analytics, v7.16.0

#78605 Fix split package with org.apache.lucene.index.ShuffleForceMergePolicy
  server/build.gradle
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ShuffleForcedMergePolicy.java
  server/src/test/java/org/elasticsearch/index/engine/PrunePostingsMergePolicyTests.java
  server/src/test/java/org/elasticsearch/index/engine/RecoverySourcePruneMergePolicyTests.java
  server/src/test/java/org/elasticsearch/index/engine/ShuffleForcedMergePolicyTests.java
Labels: v8.0.0, modularization

#78667 [7.x] Add support for metrics aggregations to mvt end point (#78614)
  docs/reference/search/search-vector-tile-api.asciidoc
  x-pack/plugin/vector-tile/src/javaRestTest/java/org/elasticsearch/xpack/vectortile/VectorTileRestIT.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/RestVectorTileAction.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/VectorTileRequest.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/rest/VectorTileRequestTests.java
  x-pack/plugin/vector-tile/src/yamlRestTest/resources/rest-api-spec/test/20_aggregations.yml
Labels: backport, auto-merge, v7.16.0

#78451 Remove indices_segments 'verbose' parameter
  docs/reference/indices/segments.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.segments.json
  server/src/main/java/org/elasticsearch/action/admin/indices/segments/IndicesSegmentResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/segments/IndicesSegmentsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/segments/IndicesSegmentsRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/indices/segments/TransportIndicesSegmentsAction.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/engine/Segment.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestIndicesSegmentsAction.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  x-pack/plugin/frozen-indices/src/test/java/org/elasticsearch/index/engine/frozen/FrozenEngineTests.java
Labels: :Distributed/CRUD, :Data Management/Indices APIs, >deprecation, v8.0.0, Team:Clients

#78306 Auto-configure the elastic user password
  server/src/main/java/org/elasticsearch/ElasticsearchAuthenticationProcessingError.java
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/AuthenticationResult.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/DefaultAuthenticationFailureHandler.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/support/Exceptions.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/test/SecuritySingleNodeTestCase.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealmElasticAutoconfigIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/InitialSecurityConfigurationListener.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealm.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/enrollment/tool/AutoConfigGenerateElasticPasswordHash.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportGetUsersActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportPutUserActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealmTests.java
  x-pack/qa/security-tools-tests/src/test/java/org/elasticsearch/xpack/security/enrollment/tool/AutoConfigGenerateElasticPasswordHashTests.java
Labels: >enhancement, :Security/Authentication, v8.0.0, Team:Security, :Security/FIPS

#78676 Mute CrossClusterSearchLeakIT#testSearch()
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchLeakIT.java
Labels: v8.0.0, >test-mute, auto-merge, v7.15.1

#78674 [7.x][DOCS] Redirects links in Java REST Client book
  docs/java-rest/high-level/getting-started.asciidoc
  docs/java-rest/high-level/migration.asciidoc
  docs/java-rest/overview.asciidoc
Labels: >docs, Team:Docs, Team:Clients, v7.16.0

#78671 [7.x] Improving cache lookup to reduce recomputing / searches
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichCache.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactory.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichCacheTests.java
Labels: backport, auto-merge, v7.16.0

#77695 Respect generational files in recoveryDiff
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshot.java
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshots.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/main/java/org/elasticsearch/index/store/StoreFileMetadata.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/ChecksumBlobStoreFormat.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/index/snapshots/blobstore/FileInfoTests.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/plan/SnapshotsRecoveryPlannerServiceTests.java
Labels: >enhancement, :Distributed/Recovery, v8.0.0, Team:Distributed, v7.16.0

#78669 Fix system property resolution at configuration time
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/VersionPropertiesLoader.java
  build-tools-internal/src/main/groovy/elasticsearch.authenticated-testclusters.gradle
  build-tools-internal/src/main/groovy/elasticsearch.run.gradle
  qa/remote-clusters/build.gradle
  x-pack/plugin/ml/build.gradle
Labels: >enhancement, :Delivery/Build, v8.0.0, Team:Delivery, v7.16.0, auto-backport-and-merge

#78633 [DOCS] Add Beats config example for ingest pipelines
  docs/reference/ingest.asciidoc
Labels: >docs, :Data Management/Ingest, v8.0.0, Team:Data Management, Team:Docs, auto-merge, v7.16.0, v7.15.1, auto-backport-and-merge

#78678 [7.x] [DOCS] Add Beats config example for ingest pipelines (#78633)
  docs/reference/ingest.asciidoc
Labels: backport, auto-merge, v7.16.0

#78679 [7.15] [DOCS] Add Beats config example for ingest pipelines (#78633)
  docs/reference/ingest.asciidoc
Labels: backport, auto-merge, v7.15.1

#78645 [7.x] Introduce DSL for configuring BWC tests
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  qa/ccs-rolling-upgrade-remote-cluster/build.gradle
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/repository-multi-version/build.gradle
  qa/rolling-upgrade/build.gradle
  qa/verify-version-constants/build.gradle
  x-pack/plugin/eql/qa/mixed-node/build.gradle
  x-pack/plugin/sql/qa/jdbc/build.gradle
  x-pack/plugin/sql/qa/mixed-node/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/mixed-tier-cluster/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: >enhancement, :Delivery/Build, backport, Team:Delivery, v7.16.0

#78683 [DOCS] Fix a typo in annotated text examples
  docs/plugins/mapper-annotated-text.asciidoc
Labels: >docs, :Search/Mapping, v8.0.0, Team:Docs, Team:Search, v7.16.0, v7.15.1

#78682 [7.x] Fix system property resolution at configuration time
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/VersionPropertiesLoader.java
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/info/ParallelDetector.java
  build-tools-internal/build.gradle
  build-tools-internal/src/main/groovy/elasticsearch.authenticated-testclusters.gradle
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
  build-tools-internal/src/main/groovy/elasticsearch.run.gradle
  build-tools/build.gradle
  build.gradle
  client/rest-high-level/build.gradle
  client/rest-high-level/qa/ssl-enabled/build.gradle
  distribution/build.gradle
  distribution/packages/build.gradle
  modules/lang-painless/build.gradle
  plugins/repository-azure/build.gradle
  qa/remote-clusters/build.gradle
  x-pack/plugin/core/build.gradle
  x-pack/plugin/ml/build.gradle
  x-pack/plugin/sql/sql-cli/build.gradle
  x-pack/qa/core-rest-tests-with-security/build.gradle
Labels: >enhancement, :Delivery/Build, backport, Team:Delivery, auto-merge, v7.16.0

#78687 [7.15] [DOCS] Fix a typo in annotated text examples (#78683)
  docs/plugins/mapper-annotated-text.asciidoc
Labels: backport, auto-merge, v7.15.1

#78686 [7.x] [DOCS] Fix a typo in annotated text examples (#78683)
  docs/plugins/mapper-annotated-text.asciidoc
Labels: backport, auto-merge, v7.16.0

#78185 [DOCS] Adds Transform alerts docs
  docs/reference/transform/images/transform-alert-actions.png
  docs/reference/transform/images/transform-check-config.png
  docs/reference/transform/images/transform-rule.png
  docs/reference/transform/index.asciidoc
  docs/reference/transform/transform-alerts.asciidoc
  docs/reference/transform/transforms.asciidoc
Labels: >docs, v8.0.0, :ml/Transform, Team:Docs, Team:ML, v7.16.0

#78684 [7.x][DOCS] Changes link in client integrations
  x-pack/docs/en/security/ccs-clients-integrations/http.asciidoc
Labels: >docs, Team:Docs, Team:Clients, v7.16.0

#78689 [7.x] [DOCS] Adds Transform alerts docs (#78185)
  docs/reference/transform/images/transform-alert-actions.png
  docs/reference/transform/images/transform-check-config.png
  docs/reference/transform/images/transform-rule.png
  docs/reference/transform/index.asciidoc
  docs/reference/transform/transform-alerts.asciidoc
  docs/reference/transform/transforms.asciidoc
Labels: backport, v7.16.0

#78646 [Ingest] allow docs to write native `double[]` and `double[][]`
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
  server/src/test/java/org/elasticsearch/ingest/IngestDocumentTests.java
Labels: >non-issue, :Data Management/Ingest, v8.0.0, Team:Data Management, auto-merge

#78688 [DOCS] Remove duplicate line from migration guide
  docs/reference/migration/index.asciidoc
Labels: >docs, v8.0.0, Team:Docs

#78692 Mute SettingsTests#testEmptyFilterMap()
  server/src/test/java/org/elasticsearch/common/settings/SettingsTests.java
Labels: >test-mute, auto-merge, v7.16.0

#78426 [DOCS] Fix typo in 7.15 release highlights
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, external-contributor, v7.15.1

#78659 Handle empty /proc/self/cgroup file
  server/src/main/java/org/elasticsearch/monitor/os/OsProbe.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, v7.16.0

#78574 [ML] updating NER result to be inline with existing inference results
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/NerResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/NerConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/NerConfigUpdate.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/NerResultsTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NerProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/NerProcessorTests.java
Labels: >non-issue, :ml, v8.0.0, Team:ML, auto-merge

#78655 Revert "Remove multiple paths from NodeEnvironment (#72599)"
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/main/java/org/elasticsearch/env/NodeRepurposeCommand.java
Labels: >non-issue, :Core/Infra/Core, v8.0.0, Team:Core/Infra

#78656 Convert graph license object to LicensedFeature
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/graph/src/main/java/org/elasticsearch/xpack/graph/Graph.java
  x-pack/plugin/graph/src/main/java/org/elasticsearch/xpack/graph/GraphInfoTransportAction.java
  x-pack/plugin/graph/src/main/java/org/elasticsearch/xpack/graph/GraphUsageTransportAction.java
  x-pack/plugin/graph/src/main/java/org/elasticsearch/xpack/graph/action/TransportGraphExploreAction.java
  x-pack/plugin/graph/src/test/java/org/elasticsearch/xpack/graph/GraphInfoTransportActionTests.java
Labels: >non-issue, :Security/License, v8.0.0, Team:Security, v7.16.0, auto-backport-and-merge

#78602 [DOCS] Removes LLRC from Java REST book
  docs/java-rest/index.asciidoc
Labels: v8.0.0, v7.16.0

#78670 [7.x][DOCS] Removes LLRC from Java REST book
  docs/java-rest/index.asciidoc
Labels: >docs, Team:Docs, Team:Clients, v7.16.0

#78700 [7.x] [DOCS] Add script note to nested query docs (#77431)
  docs/reference/query-dsl/nested-query.asciidoc
Labels: backport, auto-merge, v7.16.0

#78701 [7.15] [DOCS] Add script note to nested query docs (#77431)
  docs/reference/query-dsl/nested-query.asciidoc
Labels: backport, auto-merge, v7.15.1

#78658 Convert logstash license object to LicensedFeature (#78637)
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/Logstash.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/LogstashFeatureSet.java
  x-pack/plugin/logstash/src/test/java/org/elasticsearch/xpack/logstash/LogstashFeatureSetTests.java
Labels: backport, auto-merge, v7.16.0

#78694 [ML] adding some new test hooks for inference results testing
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/ClassificationInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/InferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/NerResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/PyTorchPassThroughResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/RawInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/RegressionInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/TextEmbeddingResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/WarningInferenceResults.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/ClassificationInferenceResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/InferenceResultsTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/NerResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/PyTorchPassThroughResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/RegressionInferenceResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/TextEmbeddingResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/WarningInferenceResultsTests.java
Labels: >non-issue, :ml, v8.0.0, Team:ML, auto-merge

#78695 Convert graph license object to LicensedFeature (#78656)
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/graph/src/main/java/org/elasticsearch/xpack/graph/Graph.java
  x-pack/plugin/graph/src/main/java/org/elasticsearch/xpack/graph/GraphFeatureSet.java
  x-pack/plugin/graph/src/main/java/org/elasticsearch/xpack/graph/action/TransportGraphExploreAction.java
  x-pack/plugin/graph/src/test/java/org/elasticsearch/xpack/graph/GraphFeatureSetTests.java
Labels: backport, auto-merge, v7.16.0

#78672 Store Disk Threshold Ignore Setting in IndexMetadata
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDecider.java
Labels: >non-issue, :Distributed/Allocation, v8.0.0, Team:Distributed, v7.16.0

#78696 Fix SettingsTests.testEmptyFilterMap
  server/src/test/java/org/elasticsearch/common/settings/SettingsTests.java
Labels: >test, :Core/Infra/Settings, Team:Core/Infra, v7.16.0

#78706 Store Disk Threshold Ignore Setting in IndexMetadata (#78672)
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDecider.java
Labels: >non-issue, :Distributed/Allocation, backport, Team:Distributed, v7.16.0

#78653 Ensure rest snippets task output directory is cleaned before execution
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/doc/DocsTestPlugin.groovy
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/doc/RestTestsFromSnippetsTask.groovy
Labels: >non-issue, :Delivery/Build, v8.0.0, Team:Delivery, v7.16.0, auto-backport-and-merge

#78639 Expand segment sorter for all timeseries indices
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/380_sort_segments_on_timestamp.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/data_stream/131_sort_segments_migrate_to_data_stream.yml
  x-pack/qa/runtime-fields/build.gradle
Labels: >enhancement, :Search/Search, v8.0.0, v7.16.0

#78643 Remove deprecated code from stored scripts
  docs/reference/migration/migrate_8_0/scripting.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/script/StoredScriptsIT.java
  server/src/main/java/org/elasticsearch/script/ScriptMetadata.java
  server/src/main/java/org/elasticsearch/script/StoredScriptSource.java
  server/src/test/java/org/elasticsearch/script/ScriptMetadataTests.java
  server/src/test/java/org/elasticsearch/script/StoredScriptTests.java
Labels: >breaking, :Core/Infra/Scripting, >refactoring, v8.0.0, Team:Core/Infra

#78712 [7.x] Ensure rest snippets task output directory is cleaned before execution (#78653)
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/doc/DocsTestPlugin.groovy
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/doc/RestTestsFromSnippetsTask.groovy
Labels: backport, auto-merge, v7.16.0

#78350 Automatically install monitoring templates at plugin initialization
  docs/reference/migration/migrate_8_0/monitoring.asciidoc
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/monitoring/collector/ccr/AutoFollowStatsMonitoringDocTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/monitoring/collector/ccr/FollowStatsMonitoringDocTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/monitoring/exporter/MonitoringTemplateUtils.java
  x-pack/plugin/core/src/main/resources/monitoring-alerts-7.json
  x-pack/plugin/core/src/main/resources/monitoring-beats.json
  x-pack/plugin/core/src/main/resources/monitoring-es.json
  x-pack/plugin/core/src/main/resources/monitoring-kibana.json
  x-pack/plugin/core/src/main/resources/monitoring-logstash.json
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichCoordinatorDocTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/ExecutingPolicyDocTests.java
  x-pack/plugin/monitoring/src/internalClusterTest/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterIT.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/Monitoring.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringTemplateRegistry.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporter.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/TemplateHttpResource.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporter.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/action/TransportMonitoringMigrateAlertsActionTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/cleaner/AbstractIndicesCleanerTestCase.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/cleaner/local/LocalIndicesCleanerTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/MonitoringTemplateUtilsTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterResourceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/TemplateHttpResourceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporterResourceIntegTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/test/MonitoringIntegTestCase.java
Labels: >enhancement, >breaking, :Data Management/Monitoring, v8.0.0, Team:Data Management

#78241 [DOCS] Added missing backtick for code snippet
  docs/reference/indices/field-usage-stats.asciidoc
Labels: >docs, :Search/Search, v8.0.0, Team:Search, external-contributor, v7.16.0, v7.15.1

#78714 [7.x] [DOCS] Added missing backtick for code snippet (#78241)
  docs/reference/indices/field-usage-stats.asciidoc
Labels: backport, auto-merge, v7.16.0

#78715 [7.15] [DOCS] Added missing backtick for code snippet (#78241)
  docs/reference/indices/field-usage-stats.asciidoc
Labels: backport, auto-merge, v7.15.1

#78705 TSDB: Feature flag is more builds
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.put_settings/10_basic.yml
  x-pack/plugin/data-streams/qa/rest/build.gradle
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/data_stream/160_unsupported_setting.yml
Labels: >test, v8.0.0, Team:Analytics, auto-merge, :Analytics/TSDB

#78534 Add compatibility tests to rest resources artifact
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/rest/compat/YamlRestCompatTestPlugin.java
  x-pack/rest-resources-zip/build.gradle
Labels: >non-issue, :Delivery/Build, v8.0.0, Team:Delivery

#78578 Ensure Node Shutdown doesn't stall when all nodes in the cluster have a copy of a shard
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusActionTests.java
Labels: >bug, v8.0.0, Team:Core/Infra, :Core/Infra/Node Lifecycle, v7.16.0, v7.15.1, auto-backport-and-merge

#78716 [DOCS] Change "p0" to "yaml" in example command
  TESTING.asciidoc
Labels: >docs, :Delivery/Build, v8.0.0, Team:Docs, Team:Delivery, external-contributor

#78719 [7.15] Ensure Node Shutdown doesn't stall when all nodes in the cluster have a copy of a shard (#78578)
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusActionTests.java
Labels: backport, auto-merge, v7.15.1

#78713 Expand segment sorter for all timeseries indices
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/380_sort_segments_on_timestamp.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/data_stream/131_sort_segments_migrate_to_data_stream.yml
  x-pack/qa/runtime-fields/build.gradle
Labels: :Search/Search, backport, v7.16.0

#78666 [Test] Add YAML test for deprecated id field of invalidateApiKey request
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/api_key/10_basic.yml
Labels: >test, :Security/Security, Team:Security, v7.16.0

#77776 Propagate original indices in NodeTermsEnumRequest
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/NodeTermsEnumRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TransportTermsEnumAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/terms_enum/10_basic.yml
  x-pack/qa/multi-cluster-search-security/src/test/resources/rest-api-spec/test/multi_cluster/120_terms_enum.yml
  x-pack/qa/multi-cluster-search-security/src/test/resources/rest-api-spec/test/remote_cluster/10_basic.yml
Labels: >bug, :Search/Search, v8.0.0, Team:Search, v7.16.0, v7.15.1

#78685 Fix CrossClusterSearchLeakIT scroll size 0
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchLeakIT.java
Labels: >test, :Analytics/Aggregations, v8.0.0, Team:Analytics, v7.16.0, v7.15.1

#78743 Propagate original indices in NodeTermsEnumRequest
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/NodeTermsEnumRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TransportTermsEnumAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/terms_enum/10_basic.yml
  x-pack/qa/multi-cluster-search-security/src/test/resources/rest-api-spec/test/multi_cluster/120_terms_enum.yml
  x-pack/qa/multi-cluster-search-security/src/test/resources/rest-api-spec/test/remote_cluster/10_basic.yml
Labels: backport, v7.15.1

#78747 Fix ShowKeyStoreCommand test on FIPS (#78243)
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/ShowKeyStoreCommandTests.java
Labels: backport, auto-merge, v7.16.0

#78740 Propagate original indices in NodeTermsEnumRequest
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/NodeTermsEnumRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TransportTermsEnumAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/terms_enum/10_basic.yml
  x-pack/qa/multi-cluster-search-security/src/test/resources/rest-api-spec/test/multi_cluster/120_terms_enum.yml
  x-pack/qa/multi-cluster-search-security/src/test/resources/rest-api-spec/test/remote_cluster/10_basic.yml
Labels: backport, v7.16.0

#78752 Mute bwc test for backporting #77695 to 7.x
  build.gradle
Labels: backport, v8.0.0, >test-mute

#78707 [7.x] Respect generational files in recoveryDiff
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshot.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/main/java/org/elasticsearch/index/store/StoreFileMetadata.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/ChecksumBlobStoreFormat.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/index/snapshots/blobstore/FileInfoTests.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/plan/SnapshotsRecoveryPlannerServiceTests.java
Labels: backport, v7.16.0
