Repository elastic/elasticsearch, pull requests merged in 2021-05, with the labels that each got.

#72585 Use Leak Tracking Infrastruture in MockPageCacheRecycler (#72477)
  test/framework/src/main/java/org/elasticsearch/common/util/MockPageCacheRecycler.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
Labels: :Core/Infra/Core, Team:Core/Infra, backport

#72592 Mute test for keystore wrapper in jdk8
  server/src/test/java/org/elasticsearch/common/settings/KeyStoreWrapperTests.java
Labels: >test-mute, v6.8.16

#71636 Prevent Encrypted Repository from Closing IndexInput
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptedRepository.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.12.2, v7.13.0, v8.0.0

#72597 Prevent Encrypted Repository from Closing IndexInput (#71636)
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptedRepository.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#72596 Prevent Encrypted Repository from Closing IndexInput (#71636)
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptedRepository.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#72595 [TEST] Fix test bug ChainingInputStreamTests.testResetForDoubleMarkAnywhere
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/ChainingInputStreamTests.java
Labels: >test, v7.13.1, v7.14.0, v8.0.0

#72514 Make nodePaths() singular
  server/src/main/java/org/elasticsearch/cluster/coordination/ElasticsearchNodeCommand.java
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/main/java/org/elasticsearch/index/shard/ShardPath.java
  server/src/main/java/org/elasticsearch/monitor/fs/FsProbe.java
  server/src/test/java/org/elasticsearch/env/NodeEnvironmentTests.java
  server/src/test/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandTests.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingCapacityActionIT.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/full/PersistentCache.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/full/PersistentCacheTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.0.0

#72515 Make NodeEnvironment.resolveIndexFolder singular
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/test/java/org/elasticsearch/env/NodeEnvironmentTests.java
  server/src/test/java/org/elasticsearch/gateway/DanglingIndicesStateTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.0.0

#72517 Service Accounts - no roles in denial error message
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/service_accounts/10_basic.yml
Labels: :Security/Authorization, >enhancement, Team:Security, v7.14.0, v8.0.0

#72603 mute GeoBoundingBoxQueryGeoShapeIT
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoBoundingBoxQueryGeoShapeIT.java
Labels: :Analytics/Geo, >test-mute, Team:Analytics, v8.0.0

#72601 Service Accounts - no roles in denial error message (#72517)
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/service_accounts/10_basic.yml
Labels: backport

#72565 [7.x][Transform] avoid transform failure during rolling upgrade (#72533)
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndexTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: :ml/Transform, Team:ML, backport

#72566 [7.13][Transform] avoid transform failure during rolling upgrade (#72533)
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndexTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: :ml/Transform, Team:ML, backport

#72567 [7.12][Transform] avoid transform failure during rolling upgrade (#72533)
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndexTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: :ml/Transform, Team:ML, backport

#72400 Replace some DocumentMapper usages with MappingLookup
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessExecuteAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/get/TransportGetFieldMappingsIndexAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/engine/SingleDocDirectoryReader.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/mapper/Mapping.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverServiceTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/data-streams/src/test/java/org/elasticsearch/xpack/datastreams/mapper/MetadataCreateDataStreamServiceTests.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.14.0, v8.0.0

#72528 Fix SearchableSnapshotsLicenseIntegTests.testShardAllocationOnInvalidLicense
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsLicenseIntegTests.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.14.0, v8.0.0

#72539 Do not over-allocate when resizing in GeoHashTiler with bounds
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/AbstractGeoHashGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/BoundedGeoHashGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/UnboundedGeoHashGridTiler.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoGridTilerTests.java
Labels: :Analytics/Geo, >bug, Team:Analytics, v7.14.0, v8.0.0

#72483 [DOCS] Revises required privileges info in Anomaly Detection API docs
  docs/reference/ml/anomaly-detection/apis/close-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-expired-data.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/estimate-model-memory.asciidoc
  docs/reference/ml/anomaly-detection/apis/flush-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-bucket.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-category.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-datafeed-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-influencer.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-ml-info.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-overall-buckets.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/open-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-data.asciidoc
  docs/reference/ml/anomaly-detection/apis/preview-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/revert-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/set-upgrade-mode.asciidoc
  docs/reference/ml/anomaly-detection/apis/start-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/stop-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/upgrade-job-model-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/validate-detector.asciidoc
  docs/reference/ml/anomaly-detection/apis/validate-job.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, v7.12.1, v7.13.0, v7.14.0, v8.0.0

#72608 [7.x] [DOCS] Revises required privileges info in Anomaly Detection API docs (#72483)
  docs/reference/ml/anomaly-detection/apis/close-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-expired-data.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/estimate-model-memory.asciidoc
  docs/reference/ml/anomaly-detection/apis/flush-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-bucket.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-category.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-datafeed-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-influencer.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-ml-info.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-overall-buckets.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/open-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-data.asciidoc
  docs/reference/ml/anomaly-detection/apis/preview-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/revert-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/set-upgrade-mode.asciidoc
  docs/reference/ml/anomaly-detection/apis/start-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/stop-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/upgrade-job-model-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/validate-detector.asciidoc
  docs/reference/ml/anomaly-detection/apis/validate-job.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, backport, v7.14.0

#72609 [7.13] [DOCS] Revises required privileges info in Anomaly Detection API docs (#72483)
  docs/reference/ml/anomaly-detection/apis/close-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-expired-data.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/estimate-model-memory.asciidoc
  docs/reference/ml/anomaly-detection/apis/flush-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-bucket.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-category.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-datafeed-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-influencer.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-ml-info.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-overall-buckets.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/open-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-data.asciidoc
  docs/reference/ml/anomaly-detection/apis/preview-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/revert-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/set-upgrade-mode.asciidoc
  docs/reference/ml/anomaly-detection/apis/start-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/stop-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/upgrade-job-model-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/validate-detector.asciidoc
  docs/reference/ml/anomaly-detection/apis/validate-job.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, backport, v7.13.0

#72607 Do not over-allocate when resizing in GeoHashTiler with bounds (#72539)
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/AbstractGeoHashGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/BoundedGeoHashGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/UnboundedGeoHashGridTiler.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoGridTilerTests.java
Labels: >bug, backport, v7.14.0

#72610 [7.12] [DOCS] Revises required privileges info in Anomaly Detection API docs (#72483)
  docs/reference/ml/anomaly-detection/apis/close-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-expired-data.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/estimate-model-memory.asciidoc
  docs/reference/ml/anomaly-detection/apis/flush-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-bucket.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-category.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-datafeed-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-influencer.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job-stats.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-ml-info.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-overall-buckets.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/open-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/post-data.asciidoc
  docs/reference/ml/anomaly-detection/apis/preview-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/revert-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/set-upgrade-mode.asciidoc
  docs/reference/ml/anomaly-detection/apis/start-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/stop-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-datafeed.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/upgrade-job-model-snapshot.asciidoc
  docs/reference/ml/anomaly-detection/apis/validate-detector.asciidoc
  docs/reference/ml/anomaly-detection/apis/validate-job.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, backport, v7.12.2

#72611 [7.x] Fix SearchableSnapshotsLicenseIntegTests.testShardAllocationOnInvalidLicense
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsLicenseIntegTests.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, backport, v7.14.0

#72612 Replace some DocumentMapper usages with MappingLookup (#72400)
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessExecuteAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/get/TransportGetFieldMappingsIndexAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/engine/SingleDocDirectoryReader.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/mapper/Mapping.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverServiceTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/data-streams/src/test/java/org/elasticsearch/xpack/datastreams/mapper/MetadataCreateDataStreamServiceTests.java
Labels: backport

#72623 [ML] [Transform] muting bwc mixed cluster transform tests
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, >test-mute, Team:ML

#72622 [DOCS] Shorten quick start response
  docs/reference/getting-started.asciidoc
Labels: >docs, Team:Docs, v7.12.2, v7.13.1, v7.14.0, v8.0.0

#72627 [7.x] [DOCS] Shorten quick start response (#72622)
  docs/reference/getting-started.asciidoc
Labels: backport, v7.14.0

#72628 [7.13] [DOCS] Shorten quick start response (#72622)
  docs/reference/getting-started.asciidoc
Labels: backport, v7.13.1

#72620 update benchmark readme
  benchmarks/README.md
Labels: >docs, Team:Docs, v7.14.0, v8.0.0

#72629 [7.12] [DOCS] Shorten quick start response (#72622)
  docs/reference/getting-started.asciidoc
Labels: backport, v7.12.2

#72632 [ML] [Transform] muting bwc mixed cluster transform tests (#72623)
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, >test-mute, Team:ML, backport

#72633 [ML] [Transform] muting bwc mixed cluster transform tests (#72623)
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, >test-mute, Team:ML, backport

#72599 Remove multiple paths from NodeEnvironment
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/main/java/org/elasticsearch/env/NodeRepurposeCommand.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.0.0

#72306 7.13.0 release notes
  docs/reference/migration/migrate_7_13.asciidoc
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.13.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v7.13.0

#72641 Muting test testRefreshingMultipleTimesWithinWindowSucceeds for issue #68664
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
Labels: :Security/Security, >test-mute, Team:Security

#72642 Muting test testRefreshingMultipleTimesWithinWindowSucceeds for #68664
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
Labels: :Security/Security, >test-mute, Team:Security

#72643 Muting test testRefreshingMultipleTimesWithinWindowSucceeds for #68664
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
Labels: :Security/Security, >test-mute, Team:Security

#71596 [DOCS] Add field extraction use cases to scripting docs
  docs/reference/scripting/common-script-uses.asciidoc
  docs/reference/scripting/using.asciidoc
Labels: :Core/Infra/Scripting, >docs, Team:Core/Infra, Team:Docs, v7.13.0, v8.0.0

#72630 Document signature for runtime fields
  docs/painless/painless-contexts/painless-runtime-fields-context.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, v7.12.2, v7.13.0, v7.14.0

#72650 Document signature for runtime fields (#72630)
  docs/painless/painless-contexts/painless-runtime-fields-context.asciidoc
Labels: backport, v7.14.0

#72651 Document signature for runtime fields (#72630)
  docs/painless/painless-contexts/painless-runtime-fields-context.asciidoc
Labels: backport, v7.13.1

#72652 Document signature for runtime fields (#72630)
  docs/painless/painless-contexts/painless-runtime-fields-context.asciidoc
Labels: backport, v7.12.2

#72648 [DOCS] [7.12] Add field extraction use cases to scripting docs (#71596)
  docs/reference/scripting/common-script-uses.asciidoc
  docs/reference/scripting/using.asciidoc
Labels: :Core/Infra/Scripting, >docs, Team:Core/Infra, Team:Docs, backport, v7.12.1

#72647 [DOCS] [7.13] Add field extraction use cases to scripting docs (#71596)
  docs/reference/scripting/common-script-uses.asciidoc
  docs/reference/scripting/using.asciidoc
Labels: :Core/Infra/Scripting, >docs, Team:Core/Infra, Team:Docs, backport, v7.13.0

#72646 [DOCS] [7.x] Add field extraction use cases to scripting docs (#71596)
  docs/reference/scripting/common-script-uses.asciidoc
  docs/reference/scripting/using.asciidoc
Labels: :Core/Infra/Scripting, >docs, Team:Core/Infra, Team:Docs, backport, v7.14.0

#72624 [DOCS] Remove frozen tier restriction for ESS
  docs/reference/datatiers.asciidoc
  docs/reference/searchable-snapshots/index.asciidoc
  docs/reference/tab-widgets/data-tiers.asciidoc
Labels: :Distributed/Snapshot/Restore, >docs, Team:Distributed, Team:Docs, external-contributor, v7.13.1, v7.14.0

#72655 [DOCS] Remove frozen tier restriction for ESS (#72624)
  docs/reference/datatiers.asciidoc
  docs/reference/searchable-snapshots/index.asciidoc
  docs/reference/tab-widgets/data-tiers.asciidoc
Labels: >docs, Team:Docs, backport

#72654 [DOCS] Remove frozen tier restriction for ESS (#72624)
  docs/reference/datatiers.asciidoc
  docs/reference/searchable-snapshots/index.asciidoc
  docs/reference/tab-widgets/data-tiers.asciidoc
Labels: >docs, Team:Docs, backport

#72653 Move shutdown component status out into separate classes
  server/src/main/java/org/elasticsearch/cluster/metadata/NodeShutdownComponentStatus.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ShutdownPersistentTasksStatus.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ShutdownPluginsStatus.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ShutdownShardMigrationStatus.java
  server/src/main/java/org/elasticsearch/cluster/metadata/SingleNodeShutdownMetadata.java
  server/src/test/java/org/elasticsearch/cluster/metadata/NodesShutdownMetadataTests.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/GetShutdownStatusAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/SingleNodeShutdownStatus.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/GetShutdownStatusResponseTests.java
Labels: :Core/Infra/Node Lifecycle, >non-issue, Team:Core/Infra, v7.14.0, v8.0.0

#72658 [7.x] Move shutdown component status out into separate classes (#72653)
  server/src/main/java/org/elasticsearch/cluster/metadata/NodeShutdownComponentStatus.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ShutdownPersistentTasksStatus.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ShutdownPluginsStatus.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ShutdownShardMigrationStatus.java
  server/src/main/java/org/elasticsearch/cluster/metadata/SingleNodeShutdownMetadata.java
  server/src/test/java/org/elasticsearch/cluster/metadata/NodesShutdownMetadataTests.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/GetShutdownStatusAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/SingleNodeShutdownStatus.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/GetShutdownStatusResponseTests.java
Labels: :Core/Infra/Node Lifecycle, Team:Core/Infra, backport, v7.14.0

#72605 GeoBoundingBoxQueryGeoShapeIT should take into account the version
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/AbstractGeoBoundingBoxQueryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoBoundingBoxQueryGeoPointIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoBoundingBoxQueryGeoShapeIT.java
Labels: :Analytics/Geo, >test, Team:Analytics, v8.0.0

#72660 Cleanup Duplicate Code in Snapshot State Machine (#71624)
  server/src/main/java/org/elasticsearch/cluster/SnapshotDeletionsInProgress.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#72638 [ML] Use appropriate master timeouts for master actions
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlStatsIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlTasks.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/annotations/AnnotationIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/AnomalyDetectorsIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAlias.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAliasTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ModelSnapshotRetentionIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlConfigMigratorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/UnusedStatsRemoverIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlConfigMigrator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpgradeJobModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/TrainedModelStatsService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/snapshot/upgrader/SnapshotUpgradeTaskExecutor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
Labels: backport, v7.14.0

#72614 Replace some documentMapper(type) usages
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/RareClusterStateIT.java
  server/src/test/java/org/elasticsearch/index/mapper/AllFieldMapperTests.java
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/FollowerFailOverIT.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/SourceOnlySnapshotShardTests.java
Labels: :Search/Mapping, >test, Team:Search, v7.14.0

#72540 Add a cluster deprecation check for index templates containing multiple types
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecksTests.java
Labels: :Search/Mapping, >enhancement, Team:Search, v7.14.0

#72663 Refactor Shard-Level Snapshot State Machine for Better Readability (#71876)
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#72665 [ML] Use appropriate master timeouts for master actions
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlStatsIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlTasks.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/annotations/AnnotationIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/AnomalyDetectorsIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAlias.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAliasTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ModelSnapshotRetentionIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlConfigMigratorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/UnusedStatsRemoverIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlConfigMigrator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpgradeJobModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/TrainedModelStatsService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/snapshot/upgrader/SnapshotUpgradeTaskExecutor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
Labels: backport, v7.12.2

#72664 [ML] Use appropriate master timeouts for master actions
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlStatsIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlTasks.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/annotations/AnnotationIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/AnomalyDetectorsIndex.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAlias.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAliasTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ModelSnapshotRetentionIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlConfigMigratorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/UnusedStatsRemoverIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlConfigMigrator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpgradeJobModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/TrainedModelStatsService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/snapshot/upgrader/SnapshotUpgradeTaskExecutor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
Labels: backport, v7.13.0

#72024 Merge dynamic field type lookup into FieldTypeLookup
  server/src/main/java/org/elasticsearch/index/mapper/DynamicFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicKeyFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicKeyFieldTypeLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldTypeLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldTypeLookupTests.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/FlattenedIndexFieldDataTests.java
  server/src/test/java/org/elasticsearch/search/lookup/LeafDocLookupTests.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.14.0, v8.0.0

#72594 [TEST] Updated smoke test JDK's trusted certs
  libs/ssl-config/src/test/java/org/elasticsearch/common/ssl/DefaultJdkTrustConfigTests.java
Labels: :Security/TLS, >test, Team:Security, v6.8.16, v7.12.2, v7.13.1, v8.0.0

#72616 Remove DocumentMapperForType
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapperForType.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/termvectors/TermVectorsService.java
  test/framework/src/main/java/org/elasticsearch/index/engine/TranslogHandler.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.14.0, v8.0.0

#72615 Remove DocumentMapperForType (7.x)
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapperForType.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/termvectors/TermVectorsService.java
  test/framework/src/main/java/org/elasticsearch/index/engine/TranslogHandler.java
Labels: backport

#72669 BACKPORT [TEST] Updated smoke test JDK's trusted certs (#72594)
  libs/ssl-config/src/test/java/org/elasticsearch/common/ssl/DefaultJdkTrustConfigTests.java
Labels: backport, v7.14.0

#72670 BACKPORT 6.8 [TEST] Updated smoke test JDK's trusted certs (#72594)
  libs/ssl-config/src/test/java/org/elasticsearch/common/ssl/DefaultJdkTrustConfigTests.java
Labels: backport, v6.8.16

#72673 Drop support for parsing null mappings
  server/src/main/java/org/elasticsearch/index/mapper/MappingParser.java
Labels: :Search/Mapping, >refactoring, Team:Search, v8.0.0

#72676 Make SnapshotsInProgress.Entry#indices a Map (#72196)
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterStateDiffIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotInfo.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDeleteIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsInProgressSerializationTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/AsyncRetryDuringSnapshotActionStep.java
  x-pack/plugin/data-streams/src/test/java/org/elasticsearch/xpack/datastreams/action/DeleteDataStreamTransportActionTests.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#72656 Update advanced-configuration.asciidoc
  docs/reference/setup/advanced-configuration.asciidoc
Labels: :Core/Infra/Core, >docs, Team:Core/Infra, v7.12.2, v7.13.1, v7.14.0, v8.0.0

#72666 [Transform] Fix rolling upgrade regression introduced in #72533
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
Labels: :ml/Transform, >non-issue, Team:ML, v7.12.2, v7.13.0, v7.14.0, v8.0.0

#72668 [7.x][Transform] Fix rolling upgrade regression introduced in #72533
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, Team:ML, backport

#72671 [7.13][Transform] Fix rolling upgrade regression introduced in #72533
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, Team:ML, backport

#72672 [7.12][Transform] Fix rolling upgrade regression introduced in #72533
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, Team:ML, backport

#72679 [master] [DOCS] Clarify location of custom JVM options files (#72656)
  docs/reference/setup/advanced-configuration.asciidoc
Labels: backport, v8.0.0

#72680 [7.x] [DOCS] Clarify location of custom JVM options files (#72656)
  docs/reference/setup/advanced-configuration.asciidoc
Labels: backport, v7.14.0

#72681 [7.13] [DOCS] Clarify location of custom JVM options files (#72656)
  docs/reference/setup/advanced-configuration.asciidoc
Labels: backport, v7.13.1

#72606 Log Slow Executions on Scheduler Thread
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/test/java/org/elasticsearch/threadpool/ThreadPoolTests.java
Labels: :Core/Infra/Core, >enhancement, Team:Core/Infra, v7.14.0, v8.0.0

#72678 BACKPORT 7.12 [TEST] Updated smoke test JDK's trusted certs (#72594)
  libs/ssl-config/src/test/java/org/elasticsearch/common/ssl/DefaultJdkTrustConfigTests.java
Labels: backport, v7.12.2

#72690 Log Slow Executions on Scheduler Thread (#72606)
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/test/java/org/elasticsearch/threadpool/ThreadPoolTests.java
Labels: :Core/Infra/Core, Team:Core/Infra, backport

#72688 Check if HTTP Connection is Open in RestActionListener
  server/src/main/java/org/elasticsearch/rest/action/DispatchingRestToXContentListener.java
  server/src/main/java/org/elasticsearch/rest/action/RestActionListener.java
Labels: :Distributed/Network, >refactoring, Team:Distributed, v7.14.0, v8.0.0

#72697 Mute SourceOnlySnapshotIT.testSnapshotAndRestore & testSnapshotAndRestoreWithNested
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/snapshots/SourceOnlySnapshotIT.java
Labels: :Distributed/Snapshot/Restore, >test-mute, Team:Distributed, v8.0.0

#72698 [7.x] Mute SourceOnlySnapshotIT.testSnapshotAndRestore & testSnapshotAndRestoreWithNested
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/snapshots/SourceOnlySnapshotIT.java
Labels: :Distributed/Snapshot/Restore, >test-mute, Team:Distributed, v7.14.0

#72693 Make DatastreamMetadata Immutable
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamMetadata.java
Labels: :Core/Features/Data streams, >non-issue, Team:Core/Features, v7.14.0, v8.0.0

#72351 Remove multiple paths from elasticsearch-node tool
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/DetachClusterCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ElasticsearchNodeCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/RemoveCustomsCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/RemoveSettingsCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/UnsafeBootstrapMasterCommand.java
  server/src/main/java/org/elasticsearch/env/NodeRepurposeCommand.java
  server/src/main/java/org/elasticsearch/env/OverrideNodeVersionCommand.java
  server/src/main/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommand.java
  server/src/test/java/org/elasticsearch/env/OverrideNodeVersionCommandTests.java
  server/src/test/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.0.0

#64978 Better out-of-the-box mappings for logs, metrics and synthetics
  x-pack/plugin/core/src/main/resources/data-streams-mappings.json
  x-pack/plugin/core/src/main/resources/logs-mappings.json
  x-pack/plugin/core/src/main/resources/logs-template.json
  x-pack/plugin/core/src/main/resources/metrics-mappings.json
  x-pack/plugin/core/src/main/resources/metrics-template.json
  x-pack/plugin/core/src/main/resources/synthetics-mappings.json
  x-pack/plugin/core/src/main/resources/synthetics-template.json
  x-pack/plugin/stack/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/stack/10_basic.yml
  x-pack/plugin/stack/src/main/java/org/elasticsearch/xpack/stack/StackTemplateRegistry.java
  x-pack/plugin/stack/src/test/java/org/elasticsearch/xpack/stack/StackTemplateRegistryTests.java
Labels: :Core/Features/Features, Team:Core/Features

#72175 [DOCS] Add reference docs for several script APIs
  docs/reference/scripting/apis/delete-stored-script-api.asciidoc
  docs/reference/scripting/apis/get-script-contexts-api.asciidoc
  docs/reference/scripting/apis/get-script-languages-api.asciidoc
  docs/reference/scripting/apis/get-stored-script-api.asciidoc
  docs/reference/scripting/apis/script-apis.asciidoc
  docs/reference/search/search-template.asciidoc
Labels: :Core/Infra/Scripting, >docs, Team:Core/Infra, Team:Docs, v7.12.2, v7.13.1, v7.14.0, v8.0.0

#72685 [DOCS] Fix bulk API xref
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: :Search/Mapping, >docs, Team:Docs, Team:Search, v7.13.1, v7.14.0, v8.0.0

#72707 [7.x] [DOCS] Fix bulk API xref (#72685)
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: backport, v7.14.0

#72708 [7.13] [DOCS] Fix bulk API xref (#72685)
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: backport, v7.13.1

#72704 [7.x] [DOCS] Document missing script APIs (#72175)
  docs/reference/scripting/apis/delete-stored-script-api.asciidoc
  docs/reference/scripting/apis/get-script-contexts-api.asciidoc
  docs/reference/scripting/apis/get-script-languages-api.asciidoc
  docs/reference/scripting/apis/get-stored-script-api.asciidoc
  docs/reference/scripting/apis/script-apis.asciidoc
  docs/reference/search/search-template.asciidoc
Labels: backport, v7.14.0

#72705 [7.13] [DOCS] Document missing script APIs (#72175)
  docs/reference/scripting/apis/delete-stored-script-api.asciidoc
  docs/reference/scripting/apis/get-script-contexts-api.asciidoc
  docs/reference/scripting/apis/get-script-languages-api.asciidoc
  docs/reference/scripting/apis/get-stored-script-api.asciidoc
  docs/reference/scripting/apis/script-apis.asciidoc
  docs/reference/search/search-template.asciidoc
Labels: backport, v7.13.1

#72706 [7.12] [DOCS] Document missing script APIs (#72175)
  docs/reference/scripting/apis/delete-stored-script-api.asciidoc
  docs/reference/scripting/apis/get-script-contexts-api.asciidoc
  docs/reference/scripting/apis/get-script-languages-api.asciidoc
  docs/reference/scripting/apis/get-stored-script-api.asciidoc
  docs/reference/scripting/apis/script-apis.asciidoc
  docs/reference/search/search-template.asciidoc
Labels: backport, v7.12.2

#72634 [DOCS] Clarify remote_cluster_client on master nodes for transforms
  docs/reference/modules/node.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, Team:ML, v7.11.3, v7.12.2

#72657 Vector Tiles: Add support for feature flag
  x-pack/plugin/spatial/build.gradle
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
Labels: :Analytics/Geo, >non-issue, Team:Analytics

#72689 [7.x][Transform] unmute mixed continuous transform test
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/80_transform_jobs_crud.yml
Labels: :ml/Transform, >test, Team:ML, v7.14.0

#72692 [Transform] unmute continuous transform testing on sorted indexes
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TransformContinuousIT.java
Labels: :ml/Transform, >test, Team:ML, backport pending, v7.14.0, v8.0.0

#72701 Make DatastreamMetadata Immutable (#72693)
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamMetadata.java
Labels: :Core/Features/Data streams, Team:Core/Features, backport

#72700 Check if HTTP Connection is Open in RestActionListener (#72688)
  server/src/main/java/org/elasticsearch/rest/action/DispatchingRestToXContentListener.java
  server/src/main/java/org/elasticsearch/rest/action/RestActionListener.java
Labels: :Distributed/Network, Team:Distributed, backport

#72644 Make GetSnapshotsAction Cancellable
  qa/smoke-test-http/src/test/java/org/elasticsearch/http/RestGetSnapshotsCancellationIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetSnapshotsAction.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
Labels: :Distributed/Snapshot/Restore, >enhancement, Team:Distributed, v7.14.0, v8.0.0

#72712 [7.11][DOCS] Clarify remote_cluster_client on master nodes for transforms
  docs/reference/modules/node.asciidoc
Labels: backport

#58969 [7.x] Add rolling upgrade tests for component and composable templates (#58867)
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/UpgradeClusterClientYamlTestSuiteIT.java
  qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/10_basic.yml
  qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/10_basic.yml
  qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/10_basic.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
Labels: :Core/Features/Indices APIs, Team:Core/Features, backport

#72709 Empty mapping to hold null meta
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/Mapping.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MappingLookupTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/snapshots/SourceOnlySnapshotIT.java
Labels: :Search/Mapping, >test, Team:Search, v7.14.0, v8.0.0

#72714 Empty mapping to hold null meta (#72709)
  server/src/main/java/org/elasticsearch/index/mapper/Mapping.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MappingLookupTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/snapshots/SourceOnlySnapshotIT.java
Labels: backport

#72691 [DOCS] Refactor script processor docs
  docs/reference/ingest/processors/script.asciidoc
Labels: :Core/Features/Ingest, >docs, Team:Core/Features, Team:Docs, v7.12.2, v7.13.1, v7.14.0, v8.0.0

#72719 [7.x] [DOCS] Refactor script processor docs (#72691)
  docs/reference/ingest/processors/script.asciidoc
Labels: backport, v7.14.0

#72720 [7.13] [DOCS] Refactor script processor docs (#72691)
  docs/reference/ingest/processors/script.asciidoc
Labels: backport, v7.13.1

#72721 [7.12] [DOCS] Refactor script processor docs (#72691)
  docs/reference/ingest/processors/script.asciidoc
Labels: backport, v7.12.2

#72569 [DOCS] Clarify remote_cluster_client is required to run ML
  docs/reference/modules/node.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
Labels: :ml, >docs, Team:Docs, Team:ML, external-contributor, v7.12.2, v7.13.1, v7.14.0, v8.0.0

#72734 mute TransformContinuousIT#testContinousEvents
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TransformContinuousIT.java
Labels: :ml/Transform, >test-mute, Team:ML, v8.0.0

#72710 Rework RerunTestResultProcessor to handle aborted tests better
  buildSrc/build.gradle
  buildSrc/src/integTest/groovy/org/elasticsearch/gradle/internal/test/rerun/InternalTestRerunPluginFuncTest.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/internal/test/rerun/executer/RerunTestResultProcessor.java
  buildSrc/src/test/groovy/org/elasticsearch/gradle/internal/test/rerun/executer/RerunTestResultProcessorTestSpec.groovy
Labels: :Delivery/Build, >enhancement, Team:Delivery, v8.0.0

#72703 Better out-of-the-box mappings for logs, metrics and synthetics
  x-pack/plugin/core/src/main/resources/data-streams-mappings.json
  x-pack/plugin/core/src/main/resources/logs-mappings.json
  x-pack/plugin/core/src/main/resources/logs-template.json
  x-pack/plugin/core/src/main/resources/metrics-mappings.json
  x-pack/plugin/core/src/main/resources/metrics-template.json
  x-pack/plugin/core/src/main/resources/synthetics-mappings.json
  x-pack/plugin/core/src/main/resources/synthetics-template.json
  x-pack/plugin/stack/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/stack/10_basic.yml
  x-pack/plugin/stack/src/main/java/org/elasticsearch/xpack/stack/StackTemplateRegistry.java
  x-pack/plugin/stack/src/test/java/org/elasticsearch/xpack/stack/StackTemplateRegistryTests.java
Labels: backport

#72742 [Transform] fix 2 issues with index sort in integration test
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TransformContinuousIT.java
Labels: :ml/Transform, >test, Team:ML, backport pending, v7.14.0, v8.0.0

#72739 Add permissions for apm_user for datastreams
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: :Security/Authorization, >enhancement, Team:Security, external-contributor, v7.13.0, v7.14.0, v8.0.0

#72744 [ML] Add new ml_standard tokenizer for ML categorization
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/AbstractMlTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/MlClassicTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/MlStandardTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/MlStandardTokenizerFactory.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/categorization/MlStandardTokenizerTests.java
Labels: :ml, >enhancement, Team:ML, v7.14.0, v8.0.0

#72649 Ban Path.of
  buildSrc/src/main/resources/forbidden/es-all-signatures.txt
  x-pack/plugin/sql/qa/server/single-node/src/test/java/org/elasticsearch/xpack/sql/qa/single_node/ConsistentFunctionArgHandlingIT.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeToCharProcessorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/ToCharTestScript.java
Labels: :Core/Infra/Core, >non-issue, Team:Core/Infra, v7.14.0, v8.0.0

#72553 Service Accounts - Disallow oauth2 creation
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/token/TransportCreateTokenAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/token/TransportCreateTokenActionTests.java
Labels: :Security/Authorization, >enhancement, Team:Security, v7.14.0, v8.0.0

#72740 Rework RerunTestResultProcessor to handle aborted tests better (7.x backport)
  buildSrc/build.gradle
  buildSrc/src/integTest/groovy/org/elasticsearch/gradle/internal/test/rerun/InternalTestRerunPluginFuncTest.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/internal/test/rerun/executer/RerunTestResultProcessor.java
  buildSrc/src/test/groovy/org/elasticsearch/gradle/internal/test/rerun/executer/RerunTestResultProcessorTestSpec.groovy
Labels: :Delivery/Build, >enhancement, Team:Delivery, backport, v7.14.0

#72694 Extract parseDocument from MappingLookup
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessExecuteAction.java
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/70_execute_painless_scripts.yml
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/engine/SingleDocDirectoryReader.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/ParseContext.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/termvectors/TermVectorsService.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MappingParserTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.14.0, v8.0.0

#72747 Fix Edge Case Datastream Snapshot Create Bug
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Core/Features/Data streams, :Distributed/Snapshot/Restore, >bug, Team:Core/Features, Team:Distributed, v7.13.1, v7.14.0, v8.0.0

#72750 Disabe bwc tests
  build.gradle
Labels: >test-mute

#67861 Add fs iotime in Nodes Stats API
  server/src/main/java/org/elasticsearch/monitor/fs/FsInfo.java
  server/src/main/java/org/elasticsearch/monitor/fs/FsProbe.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/stats/NodeStatsTests.java
  server/src/test/java/org/elasticsearch/monitor/fs/DeviceStatsTests.java
  server/src/test/java/org/elasticsearch/monitor/fs/FsProbeTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/node/NodeStatsMonitoringDocTests.java
Labels: :Core/Features/Stats, >enhancement, Team:Core/Features, v7.14.0, v8.0.0

#72686 [ML] moving inference pipeline tests to allow consistent cleanup
  x-pack/plugin/ml/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferencePipelineAggIT.java
  x-pack/plugin/ml/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferenceProcessorIT.java
  x-pack/plugin/ml/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferenceTestCase.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/pipeline_inference.yml
Labels: :ml, >test, Team:ML, v7.13.0, v7.14.0, v8.0.0

#72749 Fix Edge Case Datastream Snapshot Create Bug (#72747)
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#72687 Apply spotless formatting to :x-pack:plugin:voting-only-node
  buildSrc/src/main/groovy/elasticsearch.formatting.gradle
  x-pack/plugin/voting-only-node/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/VotingOnlyNodePluginTests.java
  x-pack/plugin/voting-only-node/src/main/java/org/elasticsearch/cluster/coordination/VotingOnlyNodeFeatureSet.java
  x-pack/plugin/voting-only-node/src/main/java/org/elasticsearch/cluster/coordination/VotingOnlyNodePlugin.java
  x-pack/plugin/voting-only-node/src/test/java/org/elasticsearch/cluster/coordination/VotingOnlyNodeCoordinationStateTests.java
  x-pack/plugin/voting-only-node/src/test/java/org/elasticsearch/cluster/coordination/VotingOnlyNodeCoordinatorTests.java
Labels: :Distributed/Cluster Coordination, >non-issue, Team:Distributed, v7.13.1, v7.14.0, v8.0.0

#72729 [7.x][DOCS] Clarify remote_cluster_client is required to run ML (#72569)
  docs/reference/modules/node.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
Labels: backport

#72748 Fix Edge Case Datastream Snapshot Create Bug (#72747)
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#72751 Extract parseDocument from MappingLookup (#72694)
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessExecuteAction.java
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/70_execute_painless_scripts.yml
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/engine/SingleDocDirectoryReader.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/ParseContext.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/termvectors/TermVectorsService.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MappingParserTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
Labels: backport

#72752 Add id to Translog.Delete#toString()
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
Labels: :Distributed/CRUD, >test, Team:Distributed, v8.0.0

#72753 Add id to Translog.Delete#toString()
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
Labels: :Distributed/CRUD, >test, Team:Distributed, backport, v7.14.0

#72593 Remove TombstoneDocSupplier from EngineConfig
  server/src/internalClusterTest/java/org/elasticsearch/indices/IndexingMemoryControllerIT.java
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/mapper/ParsedDocument.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/indices/IndexingMemoryControllerTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Engine, >non-issue, v7.14.0, v8.0.0

#72755 [7.x] [ML] moving inference pipeline tests to allow consistent cleanup (#72686)
  x-pack/plugin/ml/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferencePipelineAggIT.java
  x-pack/plugin/ml/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferenceProcessorIT.java
  x-pack/plugin/ml/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferenceTestCase.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/pipeline_inference.yml
Labels: :ml, Team:ML, backport

#72730 [7.13][DOCS] Clarify remote_cluster_client is required to run ML (#72569)
  docs/reference/modules/node.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
Labels: backport

#72731 [7.12][DOCS] Clarify remote_cluster_client is required to run ML (#72569)
  docs/reference/modules/node.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
Labels: backport

#72718 Small clean-ups in AbstractSearchAsyncAction
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/test/java/org/elasticsearch/action/search/SearchAsyncActionTests.java
Labels: :Search/Search, >refactoring, Team:Search, v7.14.0, v8.0.0

#71864 Properly size empty filters
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
Labels: :Analytics/Aggregations, >bug, Team:Analytics, v7.14.0, v8.0.0

#72763 [7.x] 7.13.0 release notes (#72306)
  docs/reference/migration/migrate_7_13.asciidoc
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.13.asciidoc
Labels: backport, v7.14.0

#72726 Clean up Node Shutdown metadata in test cleanup
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/shutdown/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownIT.java
Labels: :Core/Infra/Node Lifecycle, >test, Team:Core/Infra, v7.14.0, v8.0.0

#72754 [7.x] Add fs iotime in Nodes Stats API (#67861)
  server/src/main/java/org/elasticsearch/monitor/fs/FsInfo.java
  server/src/main/java/org/elasticsearch/monitor/fs/FsProbe.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/stats/NodeStatsTests.java
  server/src/test/java/org/elasticsearch/monitor/fs/DeviceStatsTests.java
  server/src/test/java/org/elasticsearch/monitor/fs/FsProbeTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/node/NodeStatsMonitoringDocTests.java
Labels: :Core/Features/Stats, Team:Core/Features, backport, v7.14.0

#72745 Fix up-to-date check for build tool IT tests
  buildSrc/src/integTest/java/org/elasticsearch/gradle/ReaperPluginIT.java
  buildSrc/src/integTest/java/org/elasticsearch/gradle/internal/BuildPluginIT.java
  buildSrc/src/integTest/java/org/elasticsearch/gradle/internal/ExportElasticsearchBuildResourcesTaskIT.java
  buildSrc/src/integTest/java/org/elasticsearch/gradle/internal/SymbolicLinkPreservingTarIT.java
  buildSrc/src/integTest/java/org/elasticsearch/gradle/precommit/TestingConventionsTasksIT.java
  buildSrc/src/integTest/java/org/elasticsearch/gradle/precommit/ThirdPartyAuditTaskIT.java
  buildSrc/src/test/java/org/elasticsearch/gradle/internal/docker/DockerSupportServiceTests.java
  buildSrc/src/testFixtures/java/org/elasticsearch/gradle/internal/test/GradleIntegrationTestCase.java
Labels: :Delivery/Build, >enhancement, Team:Delivery, v7.14.0, v8.0.0

#72757 Update gradle Java to JDK15 for packaging distro tests
  buildSrc/src/main/java/org/elasticsearch/gradle/internal/test/DistroTestPlugin.java
Labels: :Delivery/Build, >test-failure, Team:Delivery, v8.0.0

#72278 Remove MDP from PersistedClusterStateService
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/UnsafeBootstrapAndDetachCommandIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ElasticsearchNodeCommand.java
  server/src/main/java/org/elasticsearch/cluster/coordination/RemoveSettingsCommand.java
  server/src/main/java/org/elasticsearch/env/NodeRepurposeCommand.java
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/main/java/org/elasticsearch/gateway/PersistedClusterStateService.java
  server/src/test/java/org/elasticsearch/env/NodeRepurposeCommandTests.java
  server/src/test/java/org/elasticsearch/env/OverrideNodeVersionCommandTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayMetaStatePersistedStateTests.java
  server/src/test/java/org/elasticsearch/gateway/PersistedClusterStateServiceTests.java
  server/src/test/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.0.0

#72762 [7.11][DOCS] Clarify remote_cluster_client is required to run ML
  docs/reference/modules/node.asciidoc
Labels: backport

#72713 Remove multiple paths from ShardPath
  server/src/main/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommand.java
  server/src/main/java/org/elasticsearch/index/shard/ShardPath.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.0.0

#72109 Breaking changes note for frozen and MDP
  docs/reference/migration/migrate_7_13.asciidoc
Labels: :Distributed/Snapshot/Restore, >deprecation, >docs, Team:Distributed, Team:Docs, v7.13.1, v7.14.0

#72699 [DOCS] Rename mount options for searchable snapshots
  docs/java-rest/high-level/searchable_snapshots/caches_stats.asciidoc
  docs/reference/cluster/nodes-stats.asciidoc
  docs/reference/cluster/stats.asciidoc
  docs/reference/datatiers.asciidoc
  docs/reference/migration/migrate_8_0/settings.asciidoc
  docs/reference/searchable-snapshots/apis/clear-cache.asciidoc
  docs/reference/searchable-snapshots/apis/mount-snapshot.asciidoc
  docs/reference/searchable-snapshots/apis/node-cache-stats.asciidoc
  docs/reference/searchable-snapshots/index.asciidoc
  docs/reference/tab-widgets/data-tiers.asciidoc
Labels: :Distributed/Snapshot/Restore, >docs, Team:Distributed, Team:Docs, v7.13.1, v7.14.0, v8.0.0

#72773 [7.x] [DOCS] Rename mount types for searchable snapshots (#72699)
  docs/java-rest/high-level/searchable_snapshots/caches_stats.asciidoc
  docs/reference/cluster/nodes-stats.asciidoc
  docs/reference/cluster/stats.asciidoc
  docs/reference/datatiers.asciidoc
  docs/reference/searchable-snapshots/apis/clear-cache.asciidoc
  docs/reference/searchable-snapshots/apis/mount-snapshot.asciidoc
  docs/reference/searchable-snapshots/apis/node-cache-stats.asciidoc
  docs/reference/searchable-snapshots/index.asciidoc
  docs/reference/tab-widgets/data-tiers.asciidoc
Labels: backport, v7.14.0

#72774 [7.13] [DOCS] Rename mount types for searchable snapshots (#72699)
  docs/java-rest/high-level/searchable_snapshots/caches_stats.asciidoc
  docs/reference/cluster/nodes-stats.asciidoc
  docs/reference/cluster/stats.asciidoc
  docs/reference/datatiers.asciidoc
  docs/reference/searchable-snapshots/apis/clear-cache.asciidoc
  docs/reference/searchable-snapshots/apis/mount-snapshot.asciidoc
  docs/reference/searchable-snapshots/apis/node-cache-stats.asciidoc
  docs/reference/searchable-snapshots/index.asciidoc
  docs/reference/tab-widgets/data-tiers.asciidoc
Labels: backport, v7.13.1

#72746 Service Accounts - Disallow oauth2 creation (#72553)
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/token/TransportCreateTokenAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/token/TransportCreateTokenActionTests.java
Labels: backport

#72775 [DOCS] Update 'shared_cache' references for searchable snapshots
  docs/reference/ilm/actions/ilm-searchable-snapshot.asciidoc
  docs/reference/index-modules/allocation/data_tier_allocation.asciidoc
  docs/reference/modules/node.asciidoc
Labels: >docs, Team:Docs, v7.13.1, v7.14.0, v8.0.0

#72777 [7.x] [DOCS] Update 'shared_cache' references for searchable snapshots (#72775)
  docs/reference/ilm/actions/ilm-searchable-snapshot.asciidoc
  docs/reference/index-modules/allocation/data_tier_allocation.asciidoc
  docs/reference/modules/node.asciidoc
Labels: backport, v7.14.0

#72778 [7.13] [DOCS] Update 'shared_cache' references for searchable snapshots (#72775)
  docs/reference/ilm/actions/ilm-searchable-snapshot.asciidoc
  docs/reference/index-modules/allocation/data_tier_allocation.asciidoc
  docs/reference/modules/node.asciidoc
Labels: backport, v7.13.1

#72217 Cleanup Some releaseOnce/RunOnce Usage
  server/src/internalClusterTest/java/org/elasticsearch/indices/state/ReopenWhileClosingIT.java
  server/src/main/java/org/elasticsearch/index/engine/SoftDeletesPolicy.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShardOperationPermits.java
  server/src/main/java/org/elasticsearch/index/shard/RefreshListeners.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
Labels: :Core/Infra/Core, >non-issue, Team:Core/Infra, v7.14.0, v8.0.0
