Repository elastic/elasticsearch, pull requests merged in 2021-01, with the labels that each got.

#66597 Fix IndexFoldersDeletionListenerIT
  server/src/internalClusterTest/java/org/elasticsearch/plugins/IndexFoldersDeletionListenerIT.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.11.1, v7.12.0, v8.0.0

#66815 [ML] Only resume job from current snapshot if master node supports it
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
Labels: :ml, >bug, v7.11.0, v7.12.0, v8.0.0

#66919 Mute DateMathExpressionResolverTests#testExpression_MixedArray
  server/src/test/java/org/elasticsearch/cluster/metadata/DateMathExpressionResolverTests.java
Labels: :Core/Infra/Core, >test-mute, Team:Core/Infra

#66830 Safer Refresh of Index Stats in CCR IT
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
Labels: :Distributed/CCR, >test, Team:Distributed, v7.11.1, v7.12.0, v8.0.0

#66886 Fix S3ClientSettings Class Loading
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3ClientSettings.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.12.0, v8.0.0

#66738 Port all task definitions to task avoidance api
  libs/secure-sm/build.gradle
  modules/reindex/build.gradle
  plugins/discovery-gce/build.gradle
  plugins/repository-azure/azure-storage-blob/build.gradle
  plugins/repository-azure/build.gradle
  qa/smoke-test-http/build.gradle
  test/fixtures/gcs-fixture/build.gradle
  x-pack/docs/build.gradle
  x-pack/plugin/async/build.gradle
  x-pack/plugin/ccr/build.gradle
  x-pack/plugin/ccr/qa/downgrade-to-basic-license/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster/build.gradle
  x-pack/plugin/ccr/qa/non-compliant-license/build.gradle
  x-pack/plugin/ccr/qa/restart/build.gradle
  x-pack/plugin/ccr/qa/security/build.gradle
  x-pack/plugin/identity-provider/build.gradle
  x-pack/plugin/ilm/qa/rest/build.gradle
  x-pack/plugin/watcher/build.gradle
  x-pack/qa/multi-cluster-search-security/build.gradle
  x-pack/qa/multi-cluster-tests-with-security/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/build.gradle
  x-pack/qa/saml-idp-tests/build.gradle
  x-pack/qa/smoke-test-plugins/build.gradle
  x-pack/test/idp-fixture/build.gradle
Labels: :Delivery/Build, Team:Delivery, v7.11.1, v8.0.0

#66914 [CI] Fix year of week formatting when using joda time
  server/src/test/java/org/elasticsearch/cluster/metadata/DateMathExpressionResolverTests.java
Labels: :Core/Infra/Core, >test, Team:Core/Infra, v7.12.0, v8.0.0

#66335 LuceneChangesSnapshot doesn't need reference to MapperService
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: :Distributed/Engine, >refactoring, Team:Distributed, v7.11.0, v8.0.0

#66920 [7.x][ML] Only resume job from current snapshot if master node suppor…
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
Labels: :ml, >bug, backport

#66921 [7.11][ML] Only resume job from current snapshot if master node suppo…
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
Labels: :ml, >bug, backport

#66918 Fix IndexFoldersDeletionListenerIT (#66597)
  server/src/internalClusterTest/java/org/elasticsearch/plugins/IndexFoldersDeletionListenerIT.java
Labels: :Distributed/Snapshot/Restore, >test-failure, Team:Distributed, backport, v7.11.1

#66917 Fix IndexFoldersDeletionListenerIT (#66597)
  server/src/internalClusterTest/java/org/elasticsearch/plugins/IndexFoldersDeletionListenerIT.java
Labels: :Distributed/Snapshot/Restore, >test-failure, Team:Distributed, backport, v7.12.0

#66925 [Test] Consistent datetime formatting for java and joda time (#66914)
  server/src/test/java/org/elasticsearch/cluster/metadata/DateMathExpressionResolverTests.java
Labels: backport

#66915 Clarify message emitted on cluster UUID mismatch
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinHelperTests.java
Labels: :Distributed/Cluster Coordination, >enhancement, Team:Distributed, v7.12.0, v8.0.0

#66835 fix assertShardStats in RoutingNodes
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
Labels: :Distributed/Distributed, >non-issue, Team:Distributed, v7.12.0, v8.0.0

#66780 Don't require DocumentMapper as an argument when parsing a document
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/ParseContext.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.12.0, v8.0.0

#66927 Port all task definitions to task avoidance api (7.x backport) (#66738)
  libs/secure-sm/build.gradle
  modules/reindex/build.gradle
  plugins/discovery-gce/build.gradle
  plugins/repository-azure/azure-storage-blob/build.gradle
  plugins/repository-azure/build.gradle
  qa/smoke-test-http/build.gradle
  test/fixtures/gcs-fixture/build.gradle
  x-pack/docs/build.gradle
  x-pack/plugin/async/build.gradle
  x-pack/plugin/ccr/build.gradle
  x-pack/plugin/ccr/qa/downgrade-to-basic-license/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster/build.gradle
  x-pack/plugin/ccr/qa/non-compliant-license/build.gradle
  x-pack/plugin/ccr/qa/restart/build.gradle
  x-pack/plugin/ccr/qa/security/build.gradle
  x-pack/plugin/identity-provider/build.gradle
  x-pack/plugin/ilm/qa/rest/build.gradle
  x-pack/plugin/watcher/build.gradle
  x-pack/qa/multi-cluster-search-security/build.gradle
  x-pack/qa/multi-cluster-tests-with-security/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/build.gradle
  x-pack/qa/saml-idp-tests/build.gradle
  x-pack/qa/smoke-test-plugins/build.gradle
  x-pack/test/idp-fixture/build.gradle
Labels: :Delivery/Build, Team:Delivery, backport, v7.12.0

#66688 Remove millis qualifier on all the variables that hold the timestamp range in IndexMetadata
  server/src/main/java/org/elasticsearch/cluster/action/shard/ShardStateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/IndexMetadataUpdater.java
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContextProvider.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/indices/TimestampFieldMapperService.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStartedClusterStateTaskExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStateActionTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/AbstractIndicesClusterStateServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/action/support/replication/ClusterStateCreationUtils.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/FrozenIndexIT.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/FrozenIndexTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsCanMatchOnCoordinatorIntegTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
Labels: :Distributed/Cluster Coordination, >refactoring, Team:Distributed, v7.12.0, v8.0.0

#66593 Annotated text plugin highlighter causes "array_index_out_of_bounds_exception"
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  plugins/mapper-annotated-text/src/yamlRestTest/resources/rest-api-spec/test/mapper_annotatedtext/10_basic.yml
Labels: :Search/Highlighting, Team:Search, WIP

#66736 [ML] Pass extra JSON config files to autodetect
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/writer/ScheduledEventToRuleWriter.java
Labels: :ml, >non-issue, v7.12.0, v8.0.0

#66769 Fix azure repo stream exhaust check for multipart uploads
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobStore.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptionPacketsInputStream.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.12.0, v8.0.0

#66939 Add highlight for #63643
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs

#66895 Lower contention on requests with many aggs
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/AggConstructionContentionBenchmark.java
  server/src/internalClusterTest/java/org/elasticsearch/action/search/TransportSearchIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/memory/breaker/CircuitBreakerServiceIT.java
  server/src/main/java/org/elasticsearch/common/breaker/PreallocatedCircuitBreakerService.java
  server/src/main/java/org/elasticsearch/common/util/BigArrays.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregatorFactories.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationContext.java
  server/src/test/java/org/elasticsearch/common/breaker/PreallocatedCircuitBreakerServiceTests.java
  server/src/test/java/org/elasticsearch/common/util/BigArraysTests.java
  test/framework/src/main/java/org/elasticsearch/common/util/MockBigArrays.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorTests.java
Labels: :Analytics/Aggregations, >enhancement, Team:Analytics, v7.12.0, v8.0.0

#66936 [7.x] Remove millis qualifier on all the variables that hold the timestamp range in IndexMetadata
  server/src/main/java/org/elasticsearch/cluster/action/shard/ShardStateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/IndexMetadataUpdater.java
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContextProvider.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/indices/TimestampFieldMapperService.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStartedClusterStateTaskExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStateActionTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/AbstractIndicesClusterStateServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/action/support/replication/ClusterStateCreationUtils.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/FrozenIndexIT.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/FrozenIndexTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsCanMatchOnCoordinatorIntegTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
Labels: :Distributed/Cluster Coordination, >refactoring, Team:Distributed, v7.12.0

#66937 Backport AnnotatedHighlighterAnalyzer fix
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  plugins/mapper-annotated-text/src/yamlRestTest/resources/rest-api-spec/test/mapper_annotatedtext/10_basic.yml
Labels: :Search/Highlighting, >bug, Team:Search, backport

#66941 Lower contention on requests with many aggs (backport of #66895)
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/AggConstructionContentionBenchmark.java
  server/src/internalClusterTest/java/org/elasticsearch/action/search/TransportSearchIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/memory/breaker/CircuitBreakerServiceIT.java
  server/src/main/java/org/elasticsearch/common/breaker/PreallocatedCircuitBreakerService.java
  server/src/main/java/org/elasticsearch/common/util/BigArrays.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregatorFactories.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationContext.java
  server/src/test/java/org/elasticsearch/common/breaker/PreallocatedCircuitBreakerServiceTests.java
  server/src/test/java/org/elasticsearch/common/util/BigArraysTests.java
  test/framework/src/main/java/org/elasticsearch/common/util/MockBigArrays.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorTests.java
Labels: backport, v7.12.0

#66896 [7.x] Rename BYTES ValuesSourceType to reflect intended usage (#66762)
  client/rest-high-level/src/main/java/org/elasticsearch/client/analytics/StringStatsAggregationBuilder.java
  distribution/archives/integ-test-zip/src/test/java/org/elasticsearch/test/rest/NodeRestUsageIT.java
  modules/aggs-matrix-stats/src/main/java/org/elasticsearch/search/aggregations/support/ArrayValuesSourceAggregationBuilder.java
  modules/aggs-matrix-stats/src/main/java/org/elasticsearch/search/aggregations/support/ArrayValuesSourceParser.java
  modules/parent-join/src/main/java/org/elasticsearch/join/aggregations/ChildrenAggregationBuilder.java
  modules/parent-join/src/main/java/org/elasticsearch/join/aggregations/ParentAggregationBuilder.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentIdFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/QueryBuilderStoreTests.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/index/mapper/ICUCollationKeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IdFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IndexFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TypeFieldMapper.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/TermsValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/missing/MissingAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/DiversifiedAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ValueCountAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/CoreValuesSourceType.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValueType.java
  server/src/test/java/org/elasticsearch/index/fielddata/FieldDataCacheTests.java
  server/src/test/java/org/elasticsearch/search/SearchModuleTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/missing/MissingAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/ValueCountAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/CoreValuesSourceTypeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/ValuesSourceConfigTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/ValuesSourceRegistryTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/stringstats/StringStatsAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/stringstats/StringStatsAggregatorFactory.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregationBuilder.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedValueCountAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/stringstats/StringStatsAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorMetricsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/MockDeprecatedAggregationBuilder.java
  x-pack/plugin/mapper-aggregate-metric/src/test/java/org/elasticsearch/xpack/aggregatemetric/aggregations/metrics/AggregateMetricBackedValueCountAggregatorTests.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-flattened/src/main/java/org/elasticsearch/xpack/flattened/mapper/FlattenedFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/fielddata/StringScriptFieldData.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/FieldDataCacheWithFieldSubsetReaderTests.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/DenseVectorFieldMapper.java
  x-pack/plugin/vectors/src/main/java/org/elasticsearch/xpack/vectors/mapper/SparseVectorFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: backport

#66932 [7.11] [Test] Consistent datetime formatting for java and joda time (#66914)
  server/src/test/java/org/elasticsearch/cluster/metadata/DateMathExpressionResolverTests.java
Labels: :Core/Infra/Core, Team:Core/Infra, backport

#66935 BACKPORT 7x Fix azure repo stream exhaust check for multipart uploads (#66769)
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobStore.java
  x-pack/plugin/repository-encrypted/src/main/java/org/elasticsearch/repositories/encrypted/EncryptionPacketsInputStream.java
Labels: backport, v7.12.0

#66952 Test mute for ReloadSecureSettingsWithPasswordProtectedKeystoreRestIT#testReloadSecureSettingsWithEmptyPassword
  x-pack/qa/password-protected-keystore/src/test/java/org/elasticsearch/password_protected_keystore/ReloadSecureSettingsWithPasswordProtectedKeystoreRestIT.java
Labels: :Security/FIPS, >test-mute, Team:Security

#66926 Clarify message emitted on cluster UUID mismatch (#66915)
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinHelperTests.java
Labels: :Distributed/Cluster Coordination, >enhancement, Team:Distributed, backport, v7.12.0

#66714 Create new dedicated Rollup Action Group Config
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/RollupActionConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/RollupActionDateHistogramGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/RollupActionGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/HistogramGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/TermsGroupConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/ConfigTestHelpers.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/RollupActionConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/RollupActionDateHistogramGroupConfigSerializingTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/RollupActionGroupConfigSerializingTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/Rollup.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/RestRollupAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/RollupV2Indexer.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/TransportRollupAction.java
Labels: :Analytics/Rollup, >non-issue, >refactoring, Team:Analytics, v7.12.0, v8.0.0

#66956 Create new dedicated Rollup Action Group Config (#66714)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/RollupActionConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/RollupActionDateHistogramGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/RollupActionGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/HistogramGroupConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/TermsGroupConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/ConfigTestHelpers.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/RollupActionConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/RollupActionDateHistogramGroupConfigSerializingTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/RollupActionGroupConfigSerializingTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/Rollup.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/RestRollupAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/RollupV2Indexer.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/TransportRollupAction.java
Labels: :Analytics/Rollup, Team:Analytics, backport

#66912 Support running FIPS tests with Oracle JVM
  buildSrc/src/main/resources/fips_java_oracle.security
  gradle/fips.gradle
Labels: :Security/FIPS, >test, Team:Security, v7.12.0, v8.0.0

#66957 Remove leniency for casting from def to void in Painless
  modules/lang-painless/src/main/java/org/elasticsearch/painless/AnalyzerCaster.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FactoryTests.java
Labels: :Core/Infra/Scripting, >bug, Team:Core/Infra, v7.11.1, v7.12.0, v8.0.0

#66902 [Backport] Support keystore tests on FIPS JVM
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/bootstrap/BootstrapTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/AddFileKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/AddStringKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/ChangeKeyStorePasswordCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/CreateKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/HasPasswordKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/KeyStoreCommandTestCase.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/KeyStoreWrapperTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/ListKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/RemoveSettingKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/UpgradeKeyStoreCommandTests.java
  server/src/main/java/org/elasticsearch/bootstrap/Bootstrap.java
Labels: backport

#66964 [Backport] Support keystore tests on FIPS JVM
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/bootstrap/BootstrapTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/AddFileKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/AddStringKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/ChangeKeyStorePasswordCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/CreateKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/HasPasswordKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/KeyStoreCommandTestCase.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/KeyStoreWrapperTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/ListKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/RemoveSettingKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/common/settings/UpgradeKeyStoreCommandTests.java
  server/src/main/java/org/elasticsearch/bootstrap/Bootstrap.java
Labels: backport

#66657 Remove empty policy file
  x-pack/plugin/rollup/src/main/plugin-metadata/plugin-security.policy
Labels: :Analytics/Rollup, >non-issue, Team:Analytics, v7.12.0, v8.0.0

#66965 [Test] Adjust assertions ReloadSecureSettings test for FIPS jvm
  x-pack/qa/password-protected-keystore/src/test/java/org/elasticsearch/password_protected_keystore/ReloadSecureSettingsWithPasswordProtectedKeystoreRestIT.java
Labels: :Security/FIPS, >test, Team:Security, v7.11.1, v7.12.0, v8.0.0

#66966 [Test] Adjust assertions ReloadSecureSettings test for FIPS jvm (#66965)
  x-pack/qa/password-protected-keystore/src/test/java/org/elasticsearch/password_protected_keystore/ReloadSecureSettingsWithPasswordProtectedKeystoreRestIT.java
Labels: backport

#66967 [Test] Adjust assertions ReloadSecureSettings test for FIPS jvm (#66965)
  x-pack/qa/password-protected-keystore/src/test/java/org/elasticsearch/password_protected_keystore/ReloadSecureSettingsWithPasswordProtectedKeystoreRestIT.java
Labels: backport

#66962 Support running FIPS tests with Oracle JVM (#66912)
  buildSrc/src/main/resources/fips_java_oracle.security
  gradle/fips.gradle
Labels: backport

#66969 Support running FIPS tests with Oracle JVM (#66912)
  buildSrc/src/main/resources/fips_java_oracle.security
  gradle/fips.gradle
Labels: backport

#66924 Fix S3ClientSettings Class Loading (#66886)
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3ClientSettings.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#66923 Safer Refresh of Index Stats in CCR IT (#66830)
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
Labels: :Distributed/CCR, Team:Distributed, backport

#66922 Safer Refresh of Index Stats in CCR IT (#66830)
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
Labels: :Distributed/CCR, Team:Distributed, backport

#66974 [Test] Consistent datetime formatting for java and joda time (#66914)
  server/src/test/java/org/elasticsearch/cluster/metadata/DateMathExpressionResolverTests.java
Labels: backport

#66976 [Test] increase password length when in FIPS mode for SamlAuthIT
  x-pack/qa/saml-idp-tests/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlAuthenticationIT.java
Labels: :Security/FIPS, >test, Team:Security, v7.11.1, v7.12.0, v8.0.0

#66978 Fix testIncorrectPasswordHashingAlgorithm (#66836)
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportChangePasswordActionTests.java
Labels: backport

#66980 [Test] increase password length when in FIPS mode for SamlAuthIT (#66976)
  x-pack/qa/saml-idp-tests/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlAuthenticationIT.java
Labels: backport

#66981 [Test] increase password length when in FIPS mode for SamlAuthIT (#66976)
  x-pack/qa/saml-idp-tests/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlAuthenticationIT.java
Labels: backport

#66119 [DOCS] Improves inference processor linking and docs
  docs/reference/ingest/processors/inference.asciidoc
  docs/reference/ml/df-analytics/apis/ml-df-analytics-apis.asciidoc
Labels: :ml, >docs, Team:Docs, v7.10.2, v7.11.0, v7.12.0, v8.0.0

#66930 Don't require DocumentMapper as an argument when parsing a document
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/ParseContext.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
Labels: backport

#66938 [ML] Pass extra JSON config files to autodetect (#66736)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/writer/ScheduledEventToRuleWriter.java
Labels: :ml, >non-issue, backport, v7.12.0

#66987 Mute failing tests due to mustache content_type
  qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/10_basic.yml
  qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/10_basic.yml
Labels: >test-mute

#66929 Avoid early task cancellation during azure parallel blob deletions
  plugins/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureBlobStoreRepositoryTests.java
  plugins/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobStore.java
  test/fixtures/azure-fixture/src/main/java/fixture/azure/AzureHttpHandler.java
Labels: :Distributed/Snapshot/Restore, >bug, Team:Distributed, backport pending, v7.11.0, v7.12.0, v8.0.0

#66510 Migrate logstash system index to be auto-created
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/core/src/main/resources/logstash-management.json
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/Logstash.java
  x-pack/plugin/src/javaRestTest/java/org/elasticsearch/xpack/test/rest/LogstashSystemIndexIT.java
Labels: :Core/Features/Features, :Core/Infra/Core, >refactoring, Team:Core/Features, Team:Core/Infra, backport, v7.12.0

#66640 Migrate .tasks to be auto-managed
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/CreateSystemIndicesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/SystemIndexManagerIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/TestSystemIndexDescriptor.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/TestSystemIndexPlugin.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexAction.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexManager.java
  server/src/main/java/org/elasticsearch/indices/SystemIndices.java
  server/src/main/java/org/elasticsearch/tasks/TaskResultsService.java
  server/src/main/resources/org/elasticsearch/tasks/task-index-mapping.json
Labels: :Core/Infra/Core, >enhancement, Team:Core/Infra, backport, v7.12.0

#66988 Skip checking virtual interfaces
  server/src/test/java/org/elasticsearch/common/network/NetworkUtilsTests.java
Labels: :Distributed/Network, >test, Team:Distributed, v7.11.0, v7.12.0, v8.0.0

#66989 [7.x] Avoid early task cancellation during azure parallel blob deletions
  plugins/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureBlobStoreRepositoryTests.java
  plugins/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobStore.java
  test/fixtures/azure-fixture/src/main/java/fixture/azure/AzureHttpHandler.java
Labels: :Distributed/Snapshot/Restore, >bug, Team:Distributed, backport, v7.12.0

#66990 [7.11] Avoid early task cancellation during azure parallel blob deletions
  plugins/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureBlobStoreRepositoryTests.java
  plugins/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobStore.java
  test/fixtures/azure-fixture/src/main/java/fixture/azure/AzureHttpHandler.java
Labels: :Distributed/Snapshot/Restore, >bug, Team:Distributed, backport, v7.11.0

#66983 [7.x] [DOCS] Improves inference processor linking and docs (#66119)
  docs/reference/ingest/processors/inference.asciidoc
  docs/reference/ml/df-analytics/apis/ml-df-analytics-apis.asciidoc
Labels: >docs, Team:Docs, backport, v7.12.0

#66984 [7.11] [DOCS] Improves inference processor linking and docs (#66119)
  docs/reference/ingest/processors/inference.asciidoc
  docs/reference/ml/df-analytics/apis/ml-df-analytics-apis.asciidoc
Labels: >docs, Team:Docs, backport, v7.11.1

#66985 [7.10] [DOCS] Improves inference processor linking and docs (#66119)
  docs/reference/ingest/processors/inference.asciidoc
  docs/reference/ml/df-analytics/apis/ml-df-analytics-apis.asciidoc
Labels: >docs, Team:Docs, backport, v7.10.2

#66968 Retry synced-flush on conflict in tests
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
  qa/translog-policy/src/test/java/org/elasticsearch/upgrades/TranslogPolicyIT.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: :Distributed/Recovery, >test, Team:Distributed, v7.10.2, v7.11.1, v7.12.0

#66934 Change HLRC GetIndexResponseTests to AbstractResponseTestCase
  client/rest-high-level/src/test/java/org/elasticsearch/client/AbstractResponseTestCase.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indices/GetIndexResponseTests.java
Labels: :Core/Features/Indices APIs, >test, Team:Core/Features, v7.11.1, v7.12.0

#66694 [DOCS] Clarify memlock settings in `/etc/security/limits.conf`
  docs/reference/setup/sysconfig/swap.asciidoc
Labels: :Core/Infra/Core, >docs, Team:Core/Infra, Team:Docs, v7.10.2, v7.11.1, v7.12.0, v8.0.0

#66933 Determine data role based on convention
  server/src/internalClusterTest/java/org/elasticsearch/env/NodeRepurposeCommandIT.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNode.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodeRole.java
  server/src/main/java/org/elasticsearch/env/NodeRepurposeCommand.java
  server/src/test/java/org/elasticsearch/cluster/node/DiscoveryNodeTests.java
Labels: :Distributed/Cluster Coordination, >bug, Team:Distributed, v7.11.1, v7.12.0, v8.0.0

#66998 [7.x] [DOCS] Clarify memlock settings in `/etc/security/limits.conf` (#66694)
  docs/reference/setup/sysconfig/swap.asciidoc
Labels: backport, v7.12.0

#66999 [7.11] [DOCS] Clarify memlock settings in `/etc/security/limits.conf` (#66694)
  docs/reference/setup/sysconfig/swap.asciidoc
Labels: backport, v7.11.1

#67000 [7.10] [DOCS] Clarify memlock settings in `/etc/security/limits.conf` (#66694)
  docs/reference/setup/sysconfig/swap.asciidoc
Labels: backport, v7.10.2

#66982 [Transform] Add yml tests for transform latest function
  x-pack/plugin/src/test/resources/rest-api-spec/test/transform/preview_transforms.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/transform/transforms_cat_apis.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/transform/transforms_crud.yml
Labels: :ml/Transform, >test, v7.11.0, v7.12.0, v8.0.0

#66897 Remove duplicate xpack.enabled setting in example
  docs/reference/monitoring/configuring-metricbeat.asciidoc
Labels: :Core/Features/Monitoring, >docs, Team:Core/Features, Team:Docs, v7.10.2, v7.11.0, v7.12.0, v8.0.0

#67006 [7.x] [DOCS] Remove duplicate xpack.enabled setting in example (#66897)
  docs/reference/monitoring/configuring-metricbeat.asciidoc
Labels: backport, v7.12.0

#67007 [7.11] [DOCS] Remove duplicate xpack.enabled setting in example (#66897)
  docs/reference/monitoring/configuring-metricbeat.asciidoc
Labels: backport, v7.11.1

#67008 [7.10] [DOCS] Remove duplicate xpack.enabled setting in example (#66897)
  docs/reference/monitoring/configuring-metricbeat.asciidoc
Labels: backport, v7.10.2

#66942 Tweaks to the Iron Bank docker context
  distribution/docker/src/docker/Dockerfile
  distribution/docker/src/docker/iron_bank/LICENSE
  distribution/docker/src/docker/iron_bank/download.json
Labels: :Delivery/Packaging, >enhancement, Team:Delivery, v7.12.0, v8.0.0

#66943 Remove return from breakers
  server/src/main/java/org/elasticsearch/common/breaker/ChildMemoryCircuitBreaker.java
  server/src/main/java/org/elasticsearch/common/breaker/CircuitBreaker.java
  server/src/main/java/org/elasticsearch/common/breaker/NoopCircuitBreaker.java
  server/src/main/java/org/elasticsearch/common/breaker/PreallocatedCircuitBreakerService.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerServiceTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlusSparseTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/HyperLogLogPlusPlusTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/ScriptedMetricAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/common/breaker/TestCircuitBreaker.java
  test/framework/src/main/java/org/elasticsearch/common/util/MockBigArrays.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/loadingservice/ModelLoadingServiceTests.java
Labels: :Core/Infra/Circuit Breakers, >refactoring, Team:Core/Infra, v7.12.0, v8.0.0

#67017 [DOCS] Fix formatting for `fieldata` docs
  docs/reference/mapping/types/text.asciidoc
Labels: >docs, Team:Docs, v7.10.2, v7.11.1, v7.12.0, v8.0.0

#67023 [7.x] [DOCS] Fix formatting for `fieldata` docs (#67017)
  docs/reference/mapping/types/text.asciidoc
Labels: backport, v7.12.0

#67024 [7.11] [DOCS] Fix formatting for `fieldata` docs (#67017)
  docs/reference/mapping/types/text.asciidoc
Labels: backport, v7.11.1

#67025 [7.10] [DOCS] Fix formatting for `fieldata` docs (#67017)
  docs/reference/mapping/types/text.asciidoc
Labels: backport, v7.10.2

#67005 Fix how system indices are auto-created
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/CreateSystemIndicesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/SystemIndexManagerIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/TestSystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexAction.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/tasks/TaskResultsService.java
Labels: :Core/Infra/Core, >bug, >non-issue, Team:Core/Infra, v7.12.0

#66993 Make InternalClusterInfoService async
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/DeleteByQueryBasicTests.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/allocation/ClusterAllocationExplainIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/ShrinkIndexIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterInfoServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/MockDiskUsagesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/BroadcastRequest.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeAction.java
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
  server/src/test/java/org/elasticsearch/cluster/DiskUsageTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/ClusterInfoServiceUtils.java
  test/framework/src/main/java/org/elasticsearch/cluster/MockInternalClusterInfoService.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/AutoscalingStorageIntegTestCase.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageIT.java
Labels: :Distributed/Allocation, >enhancement, Team:Distributed, v7.12.0, v8.0.0

#67019 Make FilterAllocationDecider totally ignore tier-based allocation settings
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodeFilters.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDecider.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDeciderTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierIT.java
Labels: :Core/Features/Features, >bug, Team:Core/Features, v7.10.2, v7.11.1, v7.12.0, v8.0.0

#66963 Fix ReadOnlyEngineTests#testSearcherId
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
Labels: :Distributed/Engine, >test, Team:Distributed, v7.11.1, v7.12.0

#67027 Fix static inner class resolution in Painless
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultSemanticAnalysisPhase.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/BasicAPITests.java
Labels: :Core/Infra/Scripting, >bug, Team:Core/Infra, v7.10.2, v7.11.1, v7.12.0, v8.0.0

#67033 [7.11] Make FilterAllocationDecider totally ignore tier-based allocation settings (#67019)
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodeFilters.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDecider.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDeciderTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierIT.java
Labels: :Core/Features/Features, Team:Core/Features, backport, v7.11.1

#67034 [7.10] Make FilterAllocationDecider totally ignore tier-based allocation settings (#67019)
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodeFilters.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDecider.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDeciderTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierIT.java
Labels: :Core/Features/Features, Team:Core/Features, backport, v7.10.2

#67032 [7.x] Make FilterAllocationDecider totally ignore tier-based allocation settings (#67019)
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodeFilters.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDecider.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDeciderTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierIT.java
Labels: :Core/Features/Features, Team:Core/Features, backport, v7.12.0

#66816 [DOCS] Clarify impact of delayed data in anomaly detection
  docs/reference/ml/anomaly-detection/ml-delayed-data-detection.asciidoc
Labels: :ml, >docs, Team:Docs, v7.11.0, v7.12.0, v8.0.0

#67036 [DOCS] Add beta qualifier to transform latest APIs
  docs/reference/transform/apis/preview-transform.asciidoc
  docs/reference/transform/apis/put-transform.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, v7.11.0, v7.12.0, v8.0.0

#67039 [7.x][DOCS] Clarify impact of delayed data in anomaly detection (#66816)
  docs/reference/ml/anomaly-detection/ml-delayed-data-detection.asciidoc
Labels: backport

#67044 [7.x][DOCS] Add beta qualifier to transform latest APIs (#67036)
  docs/reference/transform/apis/preview-transform.asciidoc
  docs/reference/transform/apis/put-transform.asciidoc
Labels: backport

#67046 [7.11][DOCS] Add beta qualifier to transform latest APIs (#67036)
  docs/reference/transform/apis/preview-transform.asciidoc
  docs/reference/transform/apis/put-transform.asciidoc
Labels: backport

#67040 [7.11][DOCS] Clarify impact of delayed data in anomaly detection (#66816)
  docs/reference/ml/anomaly-detection/ml-delayed-data-detection.asciidoc
Labels: backport

#67041 [7.10][DOCS] Clarify impact of delayed data in anomaly detection (#66816)
  docs/reference/ml/anomaly-detection/ml-delayed-data-detection.asciidoc
Labels: backport

#67045 Fix whitespace as a separator in CSV processor
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/CsvParser.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/CsvProcessorTests.java
Labels: :Core/Features/Ingest, >bug, Team:Core/Features, v7.10.2, v7.11.0, v7.12.0, v8.0.0

#67022 Fix test failure
  server/src/test/java/org/elasticsearch/common/breaker/PreallocatedCircuitBreakerServiceTests.java
Labels: :Analytics/Aggregations, >bug, >test-failure, Team:Analytics, v7.12.0, v8.0.0

#67038 Scripting: Add OSS whitelist to execute API
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessPlugin.java
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/spi/org.elasticsearch.json.txt
  modules/lang-painless/src/test/java/org/elasticsearch/painless/action/PainlessExecuteApiTests.java
Labels: :Core/Infra/Scripting, >enhancement, Team:Core/Infra, v7.12.0, v8.0.0

#67037 [ML] fixes snapshot upgrader for categorization jobs
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/JobModelSnapshotUpgrader.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlJobSnapshotUpgradeIT.java
Labels: :ml, >non-issue, v7.11.0, v7.12.0, v8.0.0

#67016 Make sure shared source always represents the top-level root document.
  docs/reference/release-notes/7.10.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/test/search.inner_hits/10_basic.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/fetch/subphase/InnerHitsIT.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/InnerHitsPhase.java
Labels: :Search/Search, >bug, Team:Search, backport

#67042 [DOCS] Rewrite agg breakdown docs for profile API
  docs/reference/search/profile.asciidoc
Labels: :Analytics/Aggregations, >docs, Team:Analytics, Team:Docs, v7.10.2, v7.11.1, v7.12.0, v8.0.0

#67049 [7.11] Fix whitespace as a separator in CSV processor (#67045)
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/CsvParser.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/CsvProcessorTests.java
Labels: backport

#67050 [7.10] Fix whitespace as a separator in CSV processor (#67045)
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/CsvParser.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/CsvProcessorTests.java
Labels: backport

#67048 [7.x] Fix whitespace as a separator in CSV processor (#67045)
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/CsvParser.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/CsvProcessorTests.java
Labels: backport

#67055 [7.x] [DOCS] Rewrite agg breakdown docs for profile API (#67042)
  docs/reference/search/profile.asciidoc
Labels: backport, v7.12.0

#67056 [7.11] [DOCS] Rewrite agg breakdown docs for profile API (#67042)
  docs/reference/search/profile.asciidoc
Labels: backport, v7.11.1

#67057 [7.10] [DOCS] Rewrite agg breakdown docs for profile API (#67042)
  docs/reference/search/profile.asciidoc
Labels: backport, v7.10.2

#67060 Mute failing MlJobSnapshotUpgradeIT.testSnapshotUpgrader test
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlJobSnapshotUpgradeIT.java
Labels: >test-mute

#67051 Scripting: Add OSS whitelist to execute API (#67038)
  modules/lang-painless/src/main/java/org/elasticsearch/painless/PainlessPlugin.java
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/spi/org.elasticsearch.json.txt
  modules/lang-painless/src/test/java/org/elasticsearch/painless/action/PainlessExecuteApiTests.java
Labels: :Core/Infra/Scripting, >enhancement, Team:Core/Infra, backport, v7.12.0

#67020 Fix document field generation for vnd_cbor and vnd_smile
  server/src/test/java/org/elasticsearch/index/get/GetResultTests.java
  test/framework/src/main/java/org/elasticsearch/test/RandomObjects.java
Labels: :Core/Infra/Core, >test, Team:Core/Infra

#67052 Fix preallocted breaker test failure (backport of #67022)
  server/src/test/java/org/elasticsearch/common/breaker/PreallocatedCircuitBreakerServiceTests.java
Labels: backport, v7.12.0

#66977 [Test][FIPS] Skip ingest-attachment plugin in FIPS
  x-pack/qa/smoke-test-plugins/build.gradle
Labels: :Security/FIPS, >test, Team:Security, v7.11.1, v7.12.0

#66443 remove unused class `RemoteInfoRequestBuilder`
  server/src/main/java/org/elasticsearch/action/admin/cluster/remote/RemoteInfoRequestBuilder.java
Labels: :Core/Infra/Transport API, Team:Core/Infra

#67062 [Test][FIPS] Skip ingest-attachment plugin in FIPS
  x-pack/qa/smoke-test-plugins/build.gradle
Labels: backport

#67047 Make InternalClusterInfoService async
  modules/reindex/src/test/java/org/elasticsearch/index/reindex/DeleteByQueryBasicTests.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/allocation/ClusterAllocationExplainIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/ShrinkIndexIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterInfoServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/MockDiskUsagesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/BroadcastRequest.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeAction.java
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
  server/src/test/java/org/elasticsearch/cluster/DiskUsageTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/ClusterInfoServiceUtils.java
  test/framework/src/main/java/org/elasticsearch/cluster/MockInternalClusterInfoService.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/AutoscalingStorageIntegTestCase.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageIT.java
Labels: :Distributed/Allocation, >enhancement, Team:Distributed, backport, v7.12.0

#66996 Autoscaling add memory info service
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/GreaterThanAssertion.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/GreaterThanEqualToAssertion.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/LessThanAssertion.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/LessThanOrEqualToAssertion.java
  x-pack/plugin/autoscaling/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/autoscaling/get_autoscaling_capacity.yml
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingCapacityActionIT.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/Autoscaling.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingCapacityAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/memory/AutoscalingMemoryInfo.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/memory/AutoscalingMemoryInfoService.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/memory/AutoscalingMemoryInfoServiceTests.java
Labels: :Distributed/Autoscaling, >bug, Team:Distributed, v7.11.0, v7.12.0, v8.0.0

#66508 Make the construction of alias abstractions immutable
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstraction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexAbstractionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherIndexingListenerTests.java
Labels: :Core/Features/Data streams, >non-issue, Team:Core/Features, v7.12.0, v8.0.0

#67070 Adjust wire format after backport of #67047
  build.gradle
  server/src/main/java/org/elasticsearch/action/support/broadcast/BroadcastRequest.java
Labels: :Distributed/Allocation, >non-issue, Team:Distributed, v8.0.0

#67071 Autoscaling add memory info service (#66996)
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/GreaterThanAssertion.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/GreaterThanEqualToAssertion.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/LessThanAssertion.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/LessThanOrEqualToAssertion.java
  x-pack/plugin/autoscaling/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/autoscaling/get_autoscaling_capacity.yml
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingCapacityActionIT.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/Autoscaling.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingCapacityAction.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/memory/AutoscalingMemoryInfo.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/memory/AutoscalingMemoryInfoService.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/memory/AutoscalingMemoryInfoServiceTests.java
Labels: :Distributed/Autoscaling, >bug, Team:Distributed, backport, v7.12.0

#67021 Reduce number of cache/prewarm threads
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
Labels: :Distributed/Snapshot/Restore, >bug, Team:Distributed, v7.11.1, v7.12.0, v8.0.0

#66664 [ILM] check if delete phase has actions (#65847)
  client/rest-high-level/src/main/java/org/elasticsearch/client/ilm/LifecyclePolicy.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ilm/LifecyclePolicyTests.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, v7.11.1, v7.12.0, v8.0.0

#66944 Use merging fieldsreader when restoring versionmap during recovery
  server/src/main/java/org/elasticsearch/common/lucene/Lucene.java
  server/src/main/java/org/elasticsearch/common/lucene/index/SequentialStoredFieldsLeafReader.java
  server/src/main/java/org/elasticsearch/index/engine/IdStoredFieldLoader.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/IdOnlyFieldVisitor.java
  server/src/main/java/org/elasticsearch/search/lookup/SourceLookup.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
Labels: :Distributed/Engine, >enhancement, Team:Distributed, v7.12.0, v8.0.0

#67072 Make the construction of alias abstractions immutable (#66508)
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstraction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexAbstractionTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherIndexingListenerTests.java
Labels: :Core/Features/Data streams, Team:Core/Features, backport

#66683 Add Ability to Write a BytesReference to Azure BlobContainer
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobContainer.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobStore.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.12.0, v8.0.0

#65921 Stop Copying Large Byte Arrays from Transport Messages
  server/src/internalClusterTest/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/main/java/org/elasticsearch/common/bytes/AbstractBytesReference.java
  server/src/main/java/org/elasticsearch/common/bytes/BytesReferenceStreamInput.java
  server/src/main/java/org/elasticsearch/common/bytes/ReleasableBytesReference.java
  server/src/main/java/org/elasticsearch/common/io/stream/FilterStreamInput.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/main/java/org/elasticsearch/indices/recovery/MultiFileWriter.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryFileChunkRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTargetHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RemoteRecoveryTargetHandler.java
  server/src/main/java/org/elasticsearch/transport/BytesTransportRequest.java
  server/src/main/java/org/elasticsearch/transport/InboundHandler.java
  server/src/main/java/org/elasticsearch/transport/TransportMessage.java
  server/src/test/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetServiceTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
  test/framework/src/main/java/org/elasticsearch/indices/recovery/AsyncRecoveryTarget.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/GetCcrRestoreFileChunkAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
Labels: :Distributed/Network, >non-issue, Team:Distributed, v7.12.0, v8.0.0

#67080 Mute MixedClusterClientYamlTestSuiteIT search.inner_hits/10_basic/Inner hits with disabled _source
  rest-api-spec/src/main/resources/rest-api-spec/test/search.inner_hits/10_basic.yml
Labels: >test-mute, v7.12.0

#67081 Mute MixedClusterClientYamlTestSuiteIT search.inner_hits/10_basic/Inner hits with disabled _source
  rest-api-spec/src/main/resources/rest-api-spec/test/search.inner_hits/10_basic.yml
Labels: >test-mute, v7.11.1

#67083 Mute MixedClusterClientYamlTestSuiteIT search.inner_hits/10_basic/Inner hits with disabled _source
  rest-api-spec/src/main/resources/rest-api-spec/test/search.inner_hits/10_basic.yml
Labels: >test-mute, v7.10.2

#66940 System indices auto-create for searchable-snapshots
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/blobstore/cache/BlobStoreCacheService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/cache/TestUtils.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, backport, v7.12.0

#67082 Test: fix testValidatePhases for delete phase
  client/rest-high-level/src/test/java/org/elasticsearch/client/ilm/LifecyclePolicyTests.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, v8.0.0

#67088 Mute ChainingInputStreamTests.testResetForDoubleMarkAnywhere
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/ChainingInputStreamTests.java
Labels: >test-mute, v7.12.0

#67087 Mute ChainingInputStreamTests.testResetForDoubleMarkAnywhere
  x-pack/plugin/repository-encrypted/src/test/java/org/elasticsearch/repositories/encrypted/ChainingInputStreamTests.java
Labels: >test-mute, v8.0.0

#67078 [7.x] Add Ability to Write a BytesReference to Azure BlobContainer
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobContainer.java
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobStore.java
Labels: :Distributed/Snapshot/Restore, >enhancement, Team:Distributed, backport, v7.12.0

#67077 Fix AzureBlobContainerRetriesTests#testRetryUntilFail
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureBlobContainerRetriesTests.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.11.0, v7.12.0, v8.0.0

#67085 Stop Copying Large Byte Arrays from Transport Messages (#65921)
  server/src/internalClusterTest/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/main/java/org/elasticsearch/common/bytes/AbstractBytesReference.java
  server/src/main/java/org/elasticsearch/common/bytes/BytesReferenceStreamInput.java
  server/src/main/java/org/elasticsearch/common/bytes/ReleasableBytesReference.java
  server/src/main/java/org/elasticsearch/common/io/stream/FilterStreamInput.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/main/java/org/elasticsearch/indices/recovery/MultiFileWriter.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryFileChunkRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTargetHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RemoteRecoveryTargetHandler.java
  server/src/main/java/org/elasticsearch/transport/BytesTransportRequest.java
  server/src/main/java/org/elasticsearch/transport/InboundHandler.java
  server/src/main/java/org/elasticsearch/transport/TransportMessage.java
  server/src/test/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetServiceTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
  test/framework/src/main/java/org/elasticsearch/indices/recovery/AsyncRecoveryTarget.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/GetCcrRestoreFileChunkAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
Labels: :Distributed/Network, Team:Distributed, backport

#67091 Mute TransportGetAutoscalingCapacityActionIT.testCurrentCapacity
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingCapacityActionIT.java
Labels: :Distributed/Autoscaling, >test-mute, Team:Distributed, v7.11.1, v7.12.0, v8.0.0

#67076 [7.11] [ILM] check if delete phase has actions (#66664)
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicy.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicyTests.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, backport, v7.11.1

#67075 [7.12] [ILM] check if delete phase has actions (#66664)
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicy.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/LifecyclePolicyTests.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, backport, v7.12.0

#66997 Improve LocalStateMonitoring for tests.
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/monitoring/build.gradle
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/LocalStateMonitoring.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/action/TransportMonitoringMigrateAlertsActionTests.java
Labels: :Core/Features/Monitoring, >test, Team:Core/Features, v8.0.0

#67074 Relax assertions in watcher history email test
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/history/HistoryTemplateEmailMappingsTests.java
Labels: :Core/Features/Watcher, >test, Team:Core/Features, v7.12.0, v8.0.0

#66959 Remove index argument on data stream rollover
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
Labels: :Core/Features/Data streams, >non-issue, >refactoring, Team:Core/Features, v7.12.0, v8.0.0

#67098 Mute DockerTests.test085EnvironmentVariablesAreRespectedUnderDockerExec
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
Labels: >test-mute, v8.0.0

#67099 Mute DockerTests.test085EnvironmentVariablesAreRespectedUnderDockerExec
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
Labels: >test-mute, v7.12.0

#67100 Mute DockerTests.test085EnvironmentVariablesAreRespectedUnderDockerExec
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
Labels: >test-mute, v7.11.1

#67101 Mute DockerTests.test085EnvironmentVariablesAreRespectedUnderDockerExec
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
Labels: >test-mute, v7.10.2

#67095 [7.x] Fix AzureBlobContainerRetriesTests#testRetryUntilFail
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureBlobContainerRetriesTests.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, backport, v7.12.0

#67096 [7.11] Fix AzureBlobContainerRetriesTests#testRetryUntilFail
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureBlobContainerRetriesTests.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, backport, v7.11.0

#67093 OpenIdConnectAuthIT's client uses certificate_authorities instead of trustore
  x-pack/qa/oidc-op-tests/build.gradle
  x-pack/qa/oidc-op-tests/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthIT.java
  x-pack/qa/oidc-op-tests/src/test/resources/tls/testnode.jks
Labels: :Security/FIPS, >non-issue, Team:Security, v7.11.0, v7.12.0, v8.0.0
