Repository elastic/elasticsearch, pull requests merged in 2021-06, with the labels that each got.

#73512 Expand Javadoc for AllocationService#reroute
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
Labels: :Distributed/Allocation, >non-issue, Team:Distributed, v7.14.0, v8.0.0

#73367 Expand MDP deprecation docs with migration guide
  docs/reference/migration/migrate_7_13.asciidoc
Labels: :Core/Infra/Core, >docs, Team:Core/Infra, Team:Docs, v7.13.1, v7.14.0

#73372 Fix small inconsistency in doc_stats search source
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/index/engine/FrozenEngine.java
Labels: :Distributed/Engine, >non-issue, Team:Distributed, v7.14.0, v8.0.0

#73578 Document removal of MDP as a breaking change
  docs/reference/migration/migrate_8_0/node.asciidoc
Labels: :Core/Infra/Core, >docs, Team:Core/Infra, Team:Docs, v8.0.0

#73358 Extend version barrier to all upgrades
  docs/reference/upgrade/rolling_upgrade.asciidoc
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinTaskExecutor.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinTaskExecutorTests.java
Labels: :Distributed/Cluster Coordination, >breaking, >bug, Team:Distributed, v7.14.0, v8.0.0

#73579 [7.x] Fix small inconsistency in doc_stats search source
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/index/engine/FrozenEngine.java
Labels: :Distributed/Engine, Team:Distributed, backport, v7.14.0

#73583 [DOCS] Changes relative links to absolute ones in Node changes
  docs/reference/migration/migrate_8_0/node.asciidoc
Labels: >docs, Team:Docs, v8.0.0

#73567 [ML] Remove unused auditor in JobResultsPersister
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AnomalyJobCRUDIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/EstablishedMemUsageIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobModelSnapshotCRUDIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobStorageDeletionTaskIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsPersister.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsPersisterTests.java
Labels: :ml, >refactoring, Team:ML, v7.14.0, v8.0.0

#73582 Extend version barrier to all upgrades
  docs/reference/migration/index.asciidoc
  docs/reference/migration/migrate_7_14.asciidoc
  docs/reference/upgrade/rolling_upgrade.asciidoc
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinTaskExecutor.java
  server/src/main/java/org/elasticsearch/discovery/zen/ZenDiscovery.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinTaskExecutorTests.java
  server/src/test/java/org/elasticsearch/discovery/zen/NodeJoinControllerTests.java
Labels: :Distributed/Cluster Coordination, >breaking, >bug, Team:Distributed, backport, v7.14.0

#73584 [7.x][ML] Remove unused auditor in JobResultsPersister (#73567)
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AnomalyJobCRUDIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/EstablishedMemUsageIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobModelSnapshotCRUDIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobStorageDeletionTaskIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsPersister.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsPersisterTests.java
Labels: :ml, >refactoring, Team:ML, backport

#73558 Add support for is_write_index flag to data stream aliases.
  docs/reference/alias.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/TransportIndicesAliasesAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/AliasAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamAlias.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstraction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetAliasesAction.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/alias/get/TransportGetAliasesActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexAliasesServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/metadata/DataStreamTestHelper.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
  x-pack/plugin/data-streams/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/datastreams/DataStreamsRestIT.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: backport

#73586 [6.8] Mute CertificateGenerateToolTest.testGeneratingSignedCertificates() on Java 8
  x-pack/plugin/security/cli/src/test/java/org/elasticsearch/xpack/security/cli/CertificateGenerateToolTests.java
Labels: :Security/Security, >test-mute, Team:Security, v6.8.17

#73587 [6.8] Mute CertificateToolTests.testCreateCaAndMultipleInstances and testTrustBetweenPEMandPKCS12 on Java 8
  x-pack/plugin/security/cli/src/test/java/org/elasticsearch/xpack/security/cli/CertificateToolTests.java
Labels: >test-mute, v6.8.17

#73419 [DOCS] Update alias API docs for data stream aliases
  docs/reference/alias.asciidoc
  docs/reference/indices/add-alias.asciidoc
  docs/reference/indices/alias-exists.asciidoc
  docs/reference/indices/aliases.asciidoc
  docs/reference/indices/delete-alias.asciidoc
  docs/reference/indices/get-alias.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, >docs, Team:Core/Features, Team:Docs, v7.14.0, v8.0.0

#73575 [7.x] Refactor uri_parts processor so it can be exposed in Painless (#73344)
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/UriPartsProcessor.java
Labels: :Core/Features/Ingest, >refactoring, Team:Core/Features, backport, v7.14.0

#73591 [7.x] [DOCS] Update alias API docs for data stream aliases (#73419)
  docs/reference/alias.asciidoc
  docs/reference/indices/add-alias.asciidoc
  docs/reference/indices/alias-exists.asciidoc
  docs/reference/indices/aliases.asciidoc
  docs/reference/indices/delete-alias.asciidoc
  docs/reference/indices/get-alias.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: backport, v7.14.0

#73592 Mute RestClientMultipleHostsIntegTests.testCancelAsyncRequests
  client/rest/src/test/java/org/elasticsearch/client/RestClientMultipleHostsIntegTests.java
Labels: :Core/Features/Java Low Level REST Client, >test-mute, Team:Core/Features, v7.13.1, v7.14.0, v8.0.0

#73594 [7.13] Mute RestClientMultipleHostsIntegTests.testCancelAsyncRequests
  client/rest/src/test/java/org/elasticsearch/client/RestClientMultipleHostsIntegTests.java
Labels: :Core/Features/Java Low Level REST Client, >test-mute, Team:Core/Features, v7.13.1

#73593 [7.X] Mute RestClientMultipleHostsIntegTests.testCancelAsyncRequests
  client/rest/src/test/java/org/elasticsearch/client/RestClientMultipleHostsIntegTests.java
Labels: :Core/Features/Java Low Level REST Client, >test-mute, Team:Core/Features, v7.14.0

#73597 [DOCS] Remove errant note
  docs/reference/scripting/dissect-syntax.asciidoc
Labels: >docs, Team:Docs, v7.13.0

#73599 [7.x] Mute flaky KerberosAuthenticationIT tests
  x-pack/qa/kerberos-tests/src/test/java/org/elasticsearch/xpack/security/authc/kerberos/KerberosAuthenticationIT.java
Labels: :Security/Authentication, >test-mute, Team:Security, v7.14.0

#73598 [DOCS] Remove errant note (#73597)
  docs/reference/scripting/dissect-syntax.asciidoc
Labels: >docs, Team:Docs, backport, v7.14.0

#73600 [DOCS] Remove errant note (#73597)
  docs/reference/scripting/dissect-syntax.asciidoc
Labels: >docs, Team:Docs, backport, v8.0.0

#72805 [ML] Make ml_standard tokenizer the default for new categorization jobs
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  docs/java-rest/high-level/ml/update-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-ml-info.asciidoc
  docs/reference/ml/anomaly-detection/ml-configuring-categories.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  x-pack/plugin/build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/CategorizationAnalyzerConfig.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportMlInfoAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/AbstractMlTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/FirstNonBlankLineCharFilter.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/FirstNonBlankLineCharFilterFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/MlClassicTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/MlStandardTokenizer.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/categorization/CategorizationAnalyzerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/categorization/FirstNonBlankLineCharFilterTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/jobs_crud.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/ml_info.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/ml_standard_analyze.yml
Labels: :ml, >enhancement, Team:ML, v7.14.0, v8.0.0

#73604 [DOCS] Add placeholder for 7.13.1 release notes
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.13.asciidoc
Labels: >docs, Team:Docs, v7.13.1, v7.14.0

#73601 [DOCS] Update `is_write_index` example
  docs/reference/alias.asciidoc
Labels: :Core/Features/Indices APIs, >docs, Team:Core/Features, Team:Docs, v7.14.0, v8.0.0

#73607 [7.x] [DOCS] Add placeholder for 7.13.1 release notes (#73604)
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.13.asciidoc
Labels: backport, v7.14.0

#73596 [DOCS] Note only ES should lock `path.data` files
  docs/reference/setup/important-settings/path-settings.asciidoc
Labels: :Core/Infra/Core, >docs, Team:Core/Infra, Team:Docs, v7.13.1, v7.14.0, v8.0.0

#73608 [7.x] [DOCS] Update `is_write_index` example (#73601)
  docs/reference/alias.asciidoc
Labels: backport, v7.14.0

#73611 [7.x] [DOCS] Note only ES should lock `path.data` files (#73596)
  docs/reference/setup/important-settings/path-settings.asciidoc
Labels: backport, v7.14.0

#73612 [7.13] [DOCS] Note only ES should lock `path.data` files (#73596)
  docs/reference/setup/important-settings/path-settings.asciidoc
Labels: backport, v7.13.1

#73423 [DOCS] Use `bool` query in alias filter example
  docs/reference/indices/aliases.asciidoc
Labels: :Core/Features/Indices APIs, >docs, Team:Core/Features, Team:Docs, v7.13.1

#73619 [DOCS] Use `bool` query in alias filter example
  docs/reference/alias.asciidoc
Labels: :Core/Features/Indices APIs, >docs, Team:Core/Features, Team:Docs, v7.14.0, v8.0.0

#73621 [7.x] [DOCS] Use `bool` query in alias filter example (#73619)
  docs/reference/alias.asciidoc
Labels: backport, v7.14.0

#73515 Add _meta field to ilm policy
  docs/reference/ilm/apis/put-lifecycle.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicy.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicyMetadataTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicyTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/PolicyStepsRegistry.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/LifecyclePolicyTestsUtils.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, external-contributor, v7.14.0, v8.0.0

#73625 Disable BWC testing for ILM _meta backport
  build.gradle
Labels: :Core/Features/ILM+SLM, >non-issue, Team:Core/Features, v8.0.0

#73624 [7.x] Add _meta field to ilm policy (#73515)
  docs/reference/ilm/apis/put-lifecycle.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicy.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicyMetadataTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicyTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/PolicyStepsRegistry.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/LifecyclePolicyTestsUtils.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, backport, v7.14.0

#73627 [Monitoring] Add ability for monitoring_user role to read from metricbeat
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
Labels: >bug, backport, v7.13.2

#73628 Adjust ILM policy version and re-enable BWC testing
  build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicy.java
Labels: :Core/Features/ILM+SLM, >non-issue, Team:Core/Features, v8.0.0

#73626 [DOCS] Add 7.13.1 release notes
  docs/reference/release-notes/7.13.asciidoc
Labels: >docs, Team:Docs, v7.13.1, v7.14.0

#73632 [7.x] [DOCS] Add 7.13.1 release notes (#73626)
  docs/reference/release-notes/7.13.asciidoc
Labels: backport, v7.14.0

#73449 Trigger a reroute after registering a node for removal
  x-pack/plugin/shutdown/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownIT.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportDeleteShutdownNodeAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportPutShutdownNodeAction.java
Labels: :Core/Infra/Node Lifecycle, >non-issue, Team:Core/Infra, v7.14.0, v8.0.0

#73434 Add X-Elastic-Product header on all http responses
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/SecurityRestFilter.java
Labels: :Core/Features/Features, >enhancement, Team:Core/Features

#73635 [7.x] Trigger a reroute after registering a node for removal (#73449)
  x-pack/plugin/shutdown/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownIT.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportDeleteShutdownNodeAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportPutShutdownNodeAction.java
Labels: backport, v7.14.0

#73633 Add `data-streams-mappings` to isXPackTemplate method
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: :Core/Features/Indices APIs, >non-issue, Team:Core/Features, v7.14.0, v8.0.0

#73610 [8.x] OsStats must be lenient with bad data from older nodes
  server/src/main/java/org/elasticsearch/monitor/os/OsStats.java
Labels: :Core/Infra/Core, >test, Team:Core/Infra, v6.8.17, v7.14.0, v8.0.0

#73614 [7.x] OsStats must be lenient with bad data from older nodes
  server/src/main/java/org/elasticsearch/monitor/os/OsStats.java
Labels: >test, backport, v7.14.0

#73616 [6.8] OsStats must be lenient with bad data from older nodes
  server/src/main/java/org/elasticsearch/monitor/os/OsStats.java
Labels: >test, backport, v6.8.17

#73557 Service Accounts - audit for security config change (#72555)
  x-pack/docs/en/security/auditing/event-types.asciidoc
  x-pack/plugin/core/src/main/config/log4j2.properties
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
Labels: backport

#73562 Move vector tile implementation to its own module
  x-pack/plugin/spatial/build.gradle
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/AbstractVectorTileAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/InternalVectorTile.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/VectorTileAggregationBuilder.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/VectorTileAggregatorFactory.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/VectorTileAggregatorSupplier.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/VectorTileGeoPointAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/VectorTileGeoShapeAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/vectortile/AbstractVectorTileSearchAction.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/vectortile/PointFactory.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/vectortile/RestVectorTileAction.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/InternalVectorTileTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/VectorTileAggregationBuilderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/VectorTileAggregatorTests.java
  x-pack/plugin/vector-tile/build.gradle
  x-pack/plugin/vector-tile/licenses/mapbox-vector-tile-3.1.0.jar.sha1
  x-pack/plugin/vector-tile/licenses/mapbox-vector-tile-LICENSE.txt
  x-pack/plugin/vector-tile/licenses/mapbox-vector-tile-NOTICE.txt
  x-pack/plugin/vector-tile/licenses/protobuf-java-3.14.0.jar.sha1
  x-pack/plugin/vector-tile/licenses/protobuf-java-LICENSE.txt
  x-pack/plugin/vector-tile/licenses/protobuf-java-NOTICE.txt
  x-pack/plugin/vector-tile/src/javaRestTest/java/org/elasticsearch/xpack/vectortile/VectorTileRestIT.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/VectorTilePlugin.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactory.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactoryUtils.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/feature/SimpleFeatureFactory.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/RestVectorTileAction.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/VectorTileRequest.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/VectorTileUtils.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactoryTests.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/rest/VectorTileRequestTests.java
Labels: :Analytics/Geo, Team:Analytics

#73605 [ML] Make ml_standard tokenizer the default for new categorization jobs
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  docs/java-rest/high-level/ml/update-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-ml-info.asciidoc
  docs/reference/ml/anomaly-detection/ml-configuring-categories.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/CategorizationAnalyzerConfig.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportMlInfoAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/AbstractMlTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/FirstNonBlankLineCharFilter.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/FirstNonBlankLineCharFilterFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/MlClassicTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/MlStandardTokenizer.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/categorization/CategorizationAnalyzerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/categorization/FirstNonBlankLineCharFilterTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/jobs_crud.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/ml_info.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/ml_standard_analyze.yml
Labels: backport, v7.14.0

#73617 ExistsQueryBuilder to no longer rely on getMatchingFieldTypes
  server/src/main/java/org/elasticsearch/index/query/ExistsQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/LegacyGeoShapeQueryProcessor.java
Labels: :Search/Search, >refactoring, Team:Search, v7.14.0, v8.0.0

#73606 [ML] Unmute ml_info REST compat test
  x-pack/plugin/build.gradle
Labels: :ml, >test, Team:ML, v8.0.0

#73602 [ML] Make job data deletion reusable
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobDataDeleter.java
Labels: :ml, >refactoring, Team:ML, v7.14.0, v8.0.0

#73401 [DOCS] Add notes on SSL version by JDK version
  docs/reference/settings/common-defs.asciidoc
  x-pack/docs/en/security/configuring-stack-security.asciidoc
  x-pack/docs/en/security/securing-communications/tls-versions-jdk.asciidoc
Labels: :Security/TLS, >docs, Team:Docs, Team:Security, v7.12.2, v7.13.1, v7.14.0, v8.0.0

#73190 Cache RepositoryData Outright instead of Serialized
  server/src/main/java/org/elasticsearch/repositories/IndexMetaDataGenerations.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, >enhancement, Team:Distributed, v7.14.0, v8.0.0

#73644 [7.x][ML] Make job data deletion reusable (#73602)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobDataDeleter.java
Labels: :ml, >refactoring, Team:ML, backport

#73588 Also rename write data stream alias during a restore.
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Core/Features/Data streams, >non-issue, Team:Core/Features, v7.14.0, v8.0.0

#73595 Take include_aliases flag into account when restoring data stream aliases
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Core/Features/Data streams, >non-issue, Team:Core/Features, v7.14.0, v8.0.0

#73523 [ML] Natural Language Processing tasks and models
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/InferTrainedModelDeploymentAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/deployment/PyTorchResult.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/FillMaskResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/NerResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/FillMaskResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/NerResultsTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportInferTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/TrainedModelDeploymentTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/BertRequestBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/FillMaskProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NerProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NerResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NlpHelpers.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NlpTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NlpTaskConfig.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/TaskType.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BasicTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BertTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/WordPieceTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/WordPieceVocabulary.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/NativePyTorchProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestInferTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/BertRequestBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/FillMaskProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/NerResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/NlpHelpersTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BasicTokenizerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BertTokenizerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/WordPieceTokenizerTests.java
Labels: :ml, >feature, Team:ML

#73631 Write next cluster state fully on all failures
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/test/java/org/elasticsearch/gateway/GatewayMetaStatePersistedStateTests.java
Labels: :Distributed/Cluster Coordination, >bug, Team:Distributed, v7.13.2, v7.14.0, v8.0.0

#73654 Use NIOFSDirectory in PersistedClusterStateService
  server/src/main/java/org/elasticsearch/gateway/PersistedClusterStateService.java
Labels: :Distributed/Cluster Coordination, >non-issue, Team:Distributed, v7.14.0, v8.0.0

#73651 Cache RepositoryData Outright instead of Serialized (#73190)
  server/src/main/java/org/elasticsearch/repositories/IndexMetaDataGenerations.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#73652 Rename AsyncLucenePersistedState to AsyncPersistedState
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/test/java/org/elasticsearch/gateway/GatewayMetaStatePersistedStateTests.java
Labels: :Distributed/Cluster Coordination, >non-issue, Team:Distributed, v7.14.0, v8.0.0

#73656 Specialise ScriptDocValues#GeoPoints for single values
  server/src/main/java/org/elasticsearch/index/fielddata/ScriptDocValues.java
Labels: :Analytics/Geo, :Core/Infra/Scripting, >non-issue, Team:Analytics, Team:Core/Infra, v7.14.0, v8.0.0

#73653 Backport 73588 and 73595
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: backport

#73659 Specialise ScriptDocValues#GeoPoints for single values (#73656)
  server/src/main/java/org/elasticsearch/index/fielddata/ScriptDocValues.java
Labels: >non-issue, backport, v7.14.0

#73658 Remove Dead Branch from IndexMetadataGenerations#withAddedSnapshot
  server/src/main/java/org/elasticsearch/repositories/IndexMetaDataGenerations.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.14.0, v8.0.0

#73421 [DOCS] Reuse `aliases` object properties in API docs
  docs/reference/indices/clone-index.asciidoc
  docs/reference/indices/create-index.asciidoc
  docs/reference/indices/put-component-template.asciidoc
  docs/reference/indices/put-index-template-v1.asciidoc
  docs/reference/indices/put-index-template.asciidoc
  docs/reference/indices/rollover-index.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  docs/reference/indices/simulate-index.asciidoc
  docs/reference/indices/simulate-template.asciidoc
  docs/reference/indices/split-index.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: :Core/Features/Indices APIs, >docs, Team:Core/Features, Team:Docs, v7.13.2, v7.14.0, v8.0.0

#73661 [7.x] [DOCS] Reuse `aliases` object properties in API docs (#73421)
  docs/reference/indices/clone-index.asciidoc
  docs/reference/indices/create-index.asciidoc
  docs/reference/indices/put-component-template.asciidoc
  docs/reference/indices/put-index-template-v1.asciidoc
  docs/reference/indices/put-index-template.asciidoc
  docs/reference/indices/rollover-index.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  docs/reference/indices/simulate-index.asciidoc
  docs/reference/indices/simulate-template.asciidoc
  docs/reference/indices/split-index.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: backport, v7.14.0

#73662 [7.13] [DOCS] Reuse `aliases` object properties in API docs (#73421)
  docs/reference/indices/clone-index.asciidoc
  docs/reference/indices/create-index.asciidoc
  docs/reference/indices/put-component-template.asciidoc
  docs/reference/indices/put-index-template-v1.asciidoc
  docs/reference/indices/put-index-template.asciidoc
  docs/reference/indices/rollover-index.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  docs/reference/indices/simulate-index.asciidoc
  docs/reference/indices/simulate-template.asciidoc
  docs/reference/indices/split-index.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: backport, v7.13.2

#73561 Update the service account creation documentation
  docs/plugins/repository-gcs.asciidoc
Labels: :Distributed/Snapshot/Restore, >docs, Team:Distributed, Team:Docs, external-contributor, v7.13.2, v7.14.0, v8.0.0

#73664 [master] [DOCS] Update service account creation docs for GCS repository plugin (#73561)
  docs/plugins/repository-gcs.asciidoc
Labels: backport, v8.0.0

#73665 [7.x] [DOCS] Update service account creation docs for GCS repository plugin (#73561)
  docs/plugins/repository-gcs.asciidoc
Labels: backport, v7.14.0

#72874 Docs: Fix component template url path
  docs/reference/indices/get-component-template.asciidoc
Labels: :Core/Features/Indices APIs, >docs, Team:Core/Features, Team:Docs, v7.13.2, v7.14.0, v8.0.0

#73650 Delete mounted indices after test case in ESRestTestCase
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/clear_cache.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/indices_stats.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/pit.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/shared_cache_stats.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/stats.yml
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractUpgradeTestCase.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/UpgradeClusterClientYamlTestSuiteIT.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.13.2, v7.14.0, v8.0.0

#73649 [7.13] Delete mounted indices after test case in ESRestTestCase
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/clear_cache.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/indices_stats.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/pit.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/shared_cache_stats.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/stats.yml
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractUpgradeTestCase.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/UpgradeClusterClientYamlTestSuiteIT.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, backport, v7.13.2

#73580 [7.13] Fix small inconsistency in doc_stats search source
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/index/engine/FrozenEngine.java
Labels: :Distributed/Engine, Team:Distributed, backport, v7.13.1

#73555 [7.x] Delete mounted indices after test case in ESRestTestCase
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/clear_cache.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/indices_stats.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/pit.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/shared_cache_stats.yml
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/stats.yml
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractUpgradeTestCase.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/UpgradeClusterClientYamlTestSuiteIT.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.13.2, v7.14.0, v8.0.0

#73620 Add setting to disable aggs optimization
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/AggConstructionContentionBenchmark.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/22_terms_disable_opt.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/profile/aggregation/AggregationProfilerIT.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationContext.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/qa/runtime-fields/build.gradle
Labels: :Analytics/Aggregations, >bug, Team:Analytics, v7.13.1, v7.14.0, v8.0.0

#73666 [7.x] [DOCS] Fix create component template API request path (#72874)
  docs/reference/indices/get-component-template.asciidoc
Labels: backport, v7.14.0

#73667 [7.13] [DOCS] Fix create component template API request path (#72874)
  docs/reference/indices/get-component-template.asciidoc
Labels: backport, v7.13.2

#73663 Remove Dead Branch from IndexMetadataGenerations#withAddedSnapshot (#73658)
  server/src/main/java/org/elasticsearch/repositories/IndexMetaDataGenerations.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#73629 Add _meta information to built-in ILM policies
  x-pack/plugin/core/src/main/resources/fleet-actions-results-ilm-policy.json
  x-pack/plugin/core/src/main/resources/ilm-history-ilm-policy.json
  x-pack/plugin/core/src/main/resources/logs-policy.json
  x-pack/plugin/core/src/main/resources/metrics-policy.json
  x-pack/plugin/core/src/main/resources/slm-history-ilm-policy.json
  x-pack/plugin/core/src/main/resources/synthetics-policy.json
  x-pack/plugin/core/src/main/resources/watch-history-ilm-policy.json
Labels: :Core/Features/ILM+SLM, Team:Core/Features, v7.14.0, v8.0.0

#69864 [DOCS] Note circuit breakers reject requests with 429 HTTP status code
  docs/reference/how-to/fix-common-cluster-issues.asciidoc
  docs/reference/modules/indices/circuit_breaker.asciidoc
Labels: :Core/Infra/Circuit Breakers, >docs, Team:Core/Infra, Team:Docs, v7.13.2, v7.14.0, v8.0.0

#73613 [DOCS] Remove 7.13.1 coming tag
  docs/reference/release-notes/7.13.asciidoc
Labels: >docs, Team:Docs, v7.13.2, v7.14.0

#73674 [7.x] [DOCS] Note circuit breakers reject requests with 429 HTTP status code (#69864)
  docs/reference/how-to/fix-common-cluster-issues.asciidoc
  docs/reference/modules/indices/circuit_breaker.asciidoc
Labels: backport, v7.14.0

#73675 [7.13] [DOCS] Note circuit breakers reject requests with 429 HTTP status code (#69864)
  docs/reference/how-to/fix-common-cluster-issues.asciidoc
  docs/reference/modules/indices/circuit_breaker.asciidoc
Labels: backport, v7.13.2

#73676 [7.x] [DOCS] Remove 7.13.1 coming tag (#73613)
  docs/reference/release-notes/7.13.asciidoc
Labels: backport, v7.14.0

#73673 [DOCS] Removes Kibana charts-related advise about agg interval and bucket span
  docs/reference/ml/anomaly-detection/ml-configuring-aggregations.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, v7.13.1, v7.14.0, v8.0.0

#73677 [7.x] [DOCS] Removes Kibana charts-related advise about agg interval and bucket span. (#73673)
  docs/reference/ml/anomaly-detection/ml-configuring-aggregations.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, backport, v7.14.0

#73678 [7.13] [DOCS] Removes Kibana charts-related advise about agg interval and bucket span. (#73673)
  docs/reference/ml/anomaly-detection/ml-configuring-aggregations.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, backport, v7.13.2

#73671 [7.x] Add _meta information to built-in ILM policies (#73629)
  x-pack/plugin/core/src/main/resources/fleet-actions-results-ilm-policy.json
  x-pack/plugin/core/src/main/resources/ilm-history-ilm-policy.json
  x-pack/plugin/core/src/main/resources/logs-policy.json
  x-pack/plugin/core/src/main/resources/metrics-policy.json
  x-pack/plugin/core/src/main/resources/slm-history-ilm-policy.json
  x-pack/plugin/core/src/main/resources/synthetics-policy.json
  x-pack/plugin/core/src/main/resources/watch-history-ilm-policy.json
Labels: :Core/Features/ILM+SLM, Team:Core/Features, backport, v7.14.0

#73647 Fix EnsureNoWarning assertion
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/test/InternalTestClusterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/enrollment/TransportNodeEnrollmentActionTests.java
Labels: :Core/Infra/Core, >test, Team:Core/Infra, v7.14.0, v8.0.0

#73670 Add setting to disable aggs optimization (backport of #73620)
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/AggConstructionContentionBenchmark.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/22_terms_disable_opt.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/profile/aggregation/AggregationProfilerIT.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationContext.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  test/framework/build.gradle
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/qa/runtime-fields/build.gradle
Labels: backport, v7.13.2

#73640 Improve error message when rest api specs are missing from classpath
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestClient.java
Labels: :Delivery/Build, >non-issue, Team:Delivery, v8.0.0

#73683 [7.x] Improve error message when rest api specs are missing from classpath (#73640)
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestClient.java
Labels: backport, v7.14.0

#73686 [DOCS] Revise shard size guidelines to 50GB
  docs/reference/how-to/size-your-shards.asciidoc
Labels: :Distributed/Allocation, >docs, Team:Distributed, Team:Docs, v7.12.2, v7.13.2, v7.14.0, v8.0.0

#73691 [7.x] [DOCS] Revise shard size guidelines to 50GB (#73686)
  docs/reference/how-to/size-your-shards.asciidoc
Labels: backport, v7.14.0

#73692 [7.13] [DOCS] Revise shard size guidelines to 50GB (#73686)
  docs/reference/how-to/size-your-shards.asciidoc
Labels: backport, v7.13.2

#73693 [DOCS] Revise shard size guidelines to 50GB (#73686)
  docs/reference/how-to/size-your-shards.asciidoc
Labels: backport, v7.12.2

#73688 [DOCS] Remove outdated OSS homebrew tap
  docs/reference/setup/install/brew.asciidoc
Labels: :Delivery/Packaging, >docs, Team:Delivery, Team:Docs, v7.1.2, v7.10.3, v7.11.3, v7.12.2, v7.13.2, v7.14.0, v7.2.2, v7.3.3, v7.4.3, v7.5.3, v7.6.3, v7.7.2, v7.8.2, v7.9.4, v8.0.0

#73694 [master] [DOCS] Remove outdated OSS homebrew tap (#73688)
  docs/reference/setup/install/brew.asciidoc
Labels: backport, v8.0.0

#73017 Resolve concrete associated indices when resetting features
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/FeatureStateResetApiIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SystemIndicesSnapshotIT.java
  server/src/main/java/org/elasticsearch/indices/AssociatedIndexDescriptor.java
  server/src/main/java/org/elasticsearch/indices/IndexPatternMatcher.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/indices/SystemIndices.java
  server/src/main/java/org/elasticsearch/plugins/SystemIndexPlugin.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/indices/AssociatedIndexDescriptorTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
Labels: :Core/Infra/Core, >bug, Team:Core/Infra, v7.13.2, v7.14.0, v8.0.0

#73395 [DOCS] Update transforms tutorial with index mapping details
  docs/reference/transform/apis/start-transform.asciidoc
  docs/reference/transform/ecommerce-tutorial.asciidoc
  docs/reference/transform/images/ecommerce-latest1.png
  docs/reference/transform/images/ecommerce-pivot1.png
  docs/reference/transform/images/ecommerce-pivot2.png
  docs/reference/transform/images/ecommerce-pivot3.png
  docs/reference/transform/images/ecommerce-pivot4.png
  docs/reference/transform/images/ecommerce-results.png
  docs/reference/transform/images/manage-transforms.png
  docs/reference/transform/limitations.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, Team:ML, v7.14.0, v8.0.0

#73697 [7.13] [DOCS] Option to disable device type extraction in user agent processor
  docs/reference/ingest/processors/user-agent.asciidoc
Labels: :Core/Features/Ingest, >docs, Team:Core/Features, Team:Docs, backport, v7.13.2

#73698 [7.13] [DOCS] http.client_stats.enabled setting (#71188)
  docs/reference/modules/http.asciidoc
Labels: :Core/Features/Stats, >docs, Team:Core/Features, Team:Docs, backport, v7.13.2

#73700 [7.x][DOCS] Update transforms tutorial with index mapping details (#73395)
  docs/reference/transform/apis/start-transform.asciidoc
  docs/reference/transform/ecommerce-tutorial.asciidoc
  docs/reference/transform/images/ecommerce-latest1.png
  docs/reference/transform/images/ecommerce-pivot1.png
  docs/reference/transform/images/ecommerce-pivot2.png
  docs/reference/transform/images/ecommerce-pivot3.png
  docs/reference/transform/images/ecommerce-pivot4.png
  docs/reference/transform/images/ecommerce-results.png
  docs/reference/transform/images/manage-transforms.png
  docs/reference/transform/limitations.asciidoc
Labels: backport

#73696 [7.13] [DOCS] Registered domain processor (#71753)
  docs/reference/ingest/processors.asciidoc
  docs/reference/ingest/processors/registered-domain.asciidoc
Labels: :Core/Features/Ingest, >docs, Team:Core/Features, Team:Docs, backport, v7.13.2

#72588 Explicitly set illegal-access to deny for tests
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  plugins/repository-hdfs/build.gradle
Labels: :Delivery/Build, >test, Team:Delivery, v8.0.0

#73701 Use production-similar GC settings for internal cluster tests
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/InternalClusterTestPlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/util/GradleUtils.java
Labels: :Delivery/Build, >non-issue, Team:Delivery, v8.0.0

#73641 Specify concrete index in top metrics test
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/analytics/top_metrics.yml
Labels: :Analytics/Aggregations, >test, Team:Analytics, v7.14.0, v8.0.0

#73704 [7.x] Specify concrete index in top metrics test (#73641)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/analytics/top_metrics.yml
Labels: backport

#73702 Explicitly set illegal-access to deny for tests (#72588)
  buildSrc/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  plugins/repository-hdfs/build.gradle
Labels: backport, test-windows

#73655 Remove getMatchingFieldTypes method
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/AggConstructionContentionBenchmark.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/Joiner.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  modules/parent-join/src/test/java/org/elasticsearch/join/mapper/ParentJoinFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldTypeLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationContext.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldTypeLookupTests.java
  server/src/test/java/org/elasticsearch/index/query/SearchExecutionContextTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.14.0, v8.0.0

#73576 Log cluster health change when node leaves
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeRemovalClusterStateTaskExecutor.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/DeadNodesAllocationTests.java
Labels: :Distributed/Allocation, >enhancement, Team:Distributed, external-contributor, v7.14.0, v8.0.0

#73711 Remove getMatchingFieldTypes method (#73655)
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/AggConstructionContentionBenchmark.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/Joiner.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  modules/parent-join/src/test/java/org/elasticsearch/join/mapper/ParentJoinFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldTypeLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationContext.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldTypeLookupTests.java
  server/src/test/java/org/elasticsearch/index/query/SearchExecutionContextTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: backport

#73646 Remove buildSrc directory
  build-tools-internal/build.gradle
  buildSrc/src/main/resources/plugin-descriptor.properties
  buildSrc/version.properties
Labels: :Delivery/Build, >enhancement, Team:Delivery, v7.14.0, v8.0.0

#73685 Fix EnsureNoWarning assertion backport(#73647)
  server/src/test/java/org/elasticsearch/bootstrap/BootstrapChecksTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractMultiClustersTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderDecisionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierAllocationDeciderTests.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecksTests.java
Labels: :Core/Infra/Core, Team:Core/Infra, backport

#73682 Update skip after backport
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/22_terms_disable_opt.yml
Labels: backport, v7.14.0

#73684 Update skip after backport
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/22_terms_disable_opt.yml
Labels: backport, v8.0.0

#73687 [DOCS] Note `include_aliases` supports data stream aliases
  docs/reference/snapshot-restore/apis/restore-snapshot-api.asciidoc
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
Labels: :Core/Features/Indices APIs, >docs, Team:Core/Features, Team:Docs, v7.14.0, v8.0.0

#73717 [7.x] [DOCS] Note `include_aliases` supports data stream aliases (#73687)
  docs/reference/snapshot-restore/apis/restore-snapshot-api.asciidoc
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
Labels: backport, v7.14.0

#73345 Use matcher with nicer errors in filters tests
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
Labels: :Analytics/Aggregations, >refactoring, Team:Analytics, v7.14.0, v8.0.0

#73718 Deprecate slow log level
  docs/reference/index-modules/slowlog.asciidoc
  docs/reference/migration/migrate_7_13.asciidoc
  server/src/main/java/org/elasticsearch/index/IndexingSlowLog.java
  server/src/main/java/org/elasticsearch/index/SearchSlowLog.java
  server/src/test/java/org/elasticsearch/index/IndexingSlowLogTests.java
  server/src/test/java/org/elasticsearch/index/SearchSlowLogTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecksTests.java
Labels: >deprecation, v7.14.0

#73703 [7.x] Use production-similar GC settings for internal cluster tests (#73701)
  buildSrc/src/main/java/org/elasticsearch/gradle/internal/test/InternalClusterTestPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/util/GradleUtils.java
Labels: backport, v7.14.0

#73630 [DOCS] Retrieve values from flattened fields w/ runtime fields
  docs/reference/mapping/runtime.asciidoc
  docs/reference/mapping/types/flattened.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, v7.13.0, v7.14.0, v8.0.0

#72625 Add threadpool for critical operations on system indices
  docs/reference/modules/threadpool.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/indices/TestSystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/elasticsearch/action/get/TransportGetAction.java
  server/src/main/java/org/elasticsearch/action/get/TransportShardMultiGetAction.java
  server/src/main/java/org/elasticsearch/action/resync/TransportResyncReplicationAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportWriteAction.java
  server/src/main/java/org/elasticsearch/common/io/DiskIoBufferPool.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseSyncAction.java
  server/src/main/java/org/elasticsearch/indices/ExecutorNames.java
  server/src/main/java/org/elasticsearch/indices/ExecutorSelector.java
  server/src/main/java/org/elasticsearch/indices/SystemDataStreamDescriptor.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/indices/SystemIndices.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/threadpool/ExecutorBuilder.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/test/java/org/elasticsearch/action/get/TransportMultiGetActionTests.java
  server/src/test/java/org/elasticsearch/action/resync/TransportResyncReplicationActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportWriteActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamServiceTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseSyncActionTests.java
  server/src/test/java/org/elasticsearch/indices/ExecutorSelectorTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  server/src/test/java/org/elasticsearch/threadpool/UpdateThreadPoolSettingsTests.java
  test/framework/src/main/java/org/elasticsearch/node/MockNode.java
  test/framework/src/main/java/org/elasticsearch/search/MockSearchService.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/TransportBulkShardOperationsAction.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/SystemDataStreamIT.java
  x-pack/plugin/fleet/src/main/java/org/elasticsearch/xpack/fleet/Fleet.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
Labels: :Core/Infra/Core, >enhancement, Team:Core/Infra, v7.14.0, v8.0.0

#73722 [DOCS] [7.x] Retrieve values from flattened fields w/ runtime fields (#73630)
  docs/reference/mapping/runtime.asciidoc
  docs/reference/mapping/types/flattened.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.14.0

#73723 [DOCS] [7.13] Retrieve values from flattened fields w/ runtime fields (#73630)
  docs/reference/mapping/runtime.asciidoc
  docs/reference/mapping/types/flattened.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.13.0

#73726 [DOCS] Fixes typo in transforms at scale page
  docs/reference/transform/transforms-at-scale.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, Team:ML, v7.13.2, v7.14.0, v8.0.0

#73727 [7.x] [DOCS] Fixes typo in transforms at scale page. (#73726)
  docs/reference/transform/transforms-at-scale.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, Team:ML, backport, v7.14.0

#73728 [7.13] [DOCS] Fixes typo in transforms at scale page. (#73726)
  docs/reference/transform/transforms-at-scale.asciidoc
Labels: :ml/Transform, >docs, Team:Docs, Team:ML, backport, v7.13.2

#73540 [DOCS] Adds defaults to get ML results APIs
  docs/reference/ml/anomaly-detection/apis/get-bucket.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-category.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-influencer.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-overall-buckets.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-snapshot.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, v7.13.2, v7.14.0, v8.0.0

#73731 [7.x] Add threadpool for critical operations on system indices (#72625)
  docs/reference/modules/threadpool.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/indices/TestSystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/elasticsearch/action/get/TransportGetAction.java
  server/src/main/java/org/elasticsearch/action/get/TransportShardMultiGetAction.java
  server/src/main/java/org/elasticsearch/action/resync/TransportResyncReplicationAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportWriteAction.java
  server/src/main/java/org/elasticsearch/common/io/DiskIoBufferPool.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseSyncAction.java
  server/src/main/java/org/elasticsearch/indices/ExecutorNames.java
  server/src/main/java/org/elasticsearch/indices/ExecutorSelector.java
  server/src/main/java/org/elasticsearch/indices/SystemDataStreamDescriptor.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/indices/SystemIndices.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/threadpool/ExecutorBuilder.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/test/java/org/elasticsearch/action/get/TransportMultiGetActionTests.java
  server/src/test/java/org/elasticsearch/action/resync/TransportResyncReplicationActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportWriteActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamServiceTests.java
  server/src/test/java/org/elasticsearch/index/seqno/RetentionLeaseSyncActionTests.java
  server/src/test/java/org/elasticsearch/indices/ExecutorSelectorTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  server/src/test/java/org/elasticsearch/threadpool/UpdateThreadPoolSettingsTests.java
  test/framework/src/main/java/org/elasticsearch/node/MockNode.java
  test/framework/src/main/java/org/elasticsearch/search/MockSearchService.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/TransportBulkShardOperationsAction.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/SystemDataStreamIT.java
  x-pack/plugin/fleet/src/main/java/org/elasticsearch/xpack/fleet/Fleet.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
Labels: backport

#73735 [7.x][DOCS] Adds defaults to get ML results APIs (#73540)
  docs/reference/ml/anomaly-detection/apis/get-bucket.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-category.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-influencer.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-overall-buckets.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-snapshot.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: backport

#73736 [7.13][DOCS] Adds defaults to get ML results APIs (#73540)
  docs/reference/ml/anomaly-detection/apis/get-bucket.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar-event.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-calendar.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-category.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-filter.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-influencer.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-overall-buckets.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
  docs/reference/ml/anomaly-detection/apis/get-snapshot.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: backport

#73743 [DOCS] Fix client_authentication setting default
  docs/reference/settings/ssl-settings.asciidoc
Labels: :Security/TLS, >bug, >docs, Team:Docs, Team:Security, v7.13.2, v7.14.0, v8.0.0

#73745 [Backport] [DOCS] Fix client_authentication setting default
  docs/reference/settings/ssl-settings.asciidoc
Labels: backport

#73746 [Backport 7.13] [DOCS] Fix client_authentication setting default
  docs/reference/settings/ssl-settings.asciidoc
Labels: backport

#73744 [Backport] [DOCS] Add notes on SSL version by JDK version
  docs/reference/migration/migrate_7_12.asciidoc
  docs/reference/migration/migrate_7_13.asciidoc
  docs/reference/settings/common-defs.asciidoc
  x-pack/docs/en/security/configuring-stack-security.asciidoc
  x-pack/docs/en/security/securing-communications/tls-versions-jdk.asciidoc
Labels: backport

#73716 Let ESRestTestCase clean up after test in 10_usage.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/searchable_snapshots/10_usage.yml
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.13.2, v7.14.0, v8.0.0

#73034 Change year max digits for strict_date_optional_time and date_optional_time
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/calendars/ScheduledEventTests.java
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/main/java/org/elasticsearch/common/time/DateUtils.java
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  server/src/test/java/org/elasticsearch/common/time/JavaDateMathParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/LongBoundsTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/InternalTopMetricsTests.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/ProactiveStorageIT.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringTestUtils.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/BaseMonitoringDocTestCase.java
  x-pack/plugin/sql/qa/jdbc/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/JdbcTestUtils.java
  x-pack/plugin/sql/qa/jdbc/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/PreparedStatementTestCase.java
  x-pack/plugin/sql/qa/jdbc/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/ResultSetTestCase.java
Labels: :Core/Infra/Core, Team:Core/Infra, v7.14.0, v8.0.0

#73669 Fix repo name at allocation time
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/SearchableSnapshotAllocator.java
Labels: :Distributed/Snapshot/Restore, >bug, Team:Distributed, v7.13.2, v7.14.0, v8.0.0

#73747 [Backport 7.13] [DOCS] Add notes on SSL version by JDK version
  docs/reference/migration/migrate_7_12.asciidoc
  docs/reference/migration/migrate_7_13.asciidoc
  docs/reference/settings/common-defs.asciidoc
  x-pack/docs/en/security/configuring-stack-security.asciidoc
  x-pack/docs/en/security/securing-communications/tls-versions-jdk.asciidoc
Labels: backport

#73724 Consolidate data stream alias logic
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamAlias.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamAliasTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataTests.java
Labels: :Core/Features/Data streams, >non-issue, Team:Core/Features, v7.14.0, v8.0.0

#73749 [7.13] Let ESRestTestCase clean up after test in 10_usage.yml (#73716)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/searchable_snapshots/10_usage.yml
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, backport, v7.13.2

#73748 [7.x] Let ESRestTestCase clean up after test in 10_usage.yml (#73716)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/searchable_snapshots/10_usage.yml
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, backport, v7.14.0

#73753 Ignore 404-Not Found exceptions when cleaning up resources after tests
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.13.2, v7.14.0, v8.0.0

#73757 [ML] Integration test with a simple PyTorch model
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/PyTorchPassThroughResults.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/PyTorchPassThroughResultsTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/PyTorchResult.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/BertRequestBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/FillMaskProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NerResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NlpTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NlpTaskConfig.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/PassThroughProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/TaskType.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BertTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/NativePyTorchProcess.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/deployment/PyTorchResultTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/FillMaskProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/NerResultProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BertTokenizerTests.java
Labels: :ml, >test, Team:ML, v8.0.0
