Repository elastic/elasticsearch, pull requests merged in 2021-02, with the labels that each got.

#67681 add possibility to mute yaml tests by operating system
  docs/src/test/java/org/elasticsearch/smoketest/DocsClientYamlTestSuiteIT.java
  rest-api-spec/src/main/resources/rest-api-spec/test/README.asciidoc
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlDocsTestClient.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestClient.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestExecutionContext.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/SkipSection.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSuiteTests.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/section/SkipSectionTests.java
  x-pack/docs/src/test/java/org/elasticsearch/smoketest/XDocsClientYamlTestSuiteIT.java
Labels: :Core/Infra/Core, >non-issue, Team:Clients, Team:Core/Infra, v7.11.1, v7.12.0, v8.0.0

#68224 Update release notes for #67886
  docs/reference/release-notes/7.11.asciidoc
Labels: :Docs, Team:Docs, v7.11.0, v7.12.0

#68099 [ML] Add early stopping DFA configuration parameter
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/Classification.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/Regression.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/ClassificationTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/RegressionTests.java
  docs/java-rest/high-level/ml/put-data-frame-analytics.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/config_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/DataFrameAnalyticsConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DataFrameAnalysisCustomFeatureIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ExplainDataFrameAnalyticsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/data_frame_analytics_crud.yml
Labels: :ml, >non-issue, v7.12.0, v8.0.0

#68258 Fix Snapshot + DataStream RollOver Bugs
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Core/Features/Data streams, :Distributed/Snapshot/Restore, >bug, Team:Core/Features, Team:Distributed, v7.11.0, v7.12.0, v8.0.0

#68267 Yet more logging in testTracerLog
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
Labels: :Distributed/Network, >test, Team:Distributed, v7.12.0

#68266 [ML] Unmute RegressionIT.testStopAndRestart with process logging
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
Labels: :ml, >test, v8.0.0

#68269 [ML] Mute data frame analytics BWC tests
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/90_ml_data_frame_analytics_crud.yml
Labels: :ml, >test-mute, v8.0.0

#68277 Fix Snapshot + DataStream RollOver Bugs (#68258)
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Core/Features/Data streams, :Distributed/Snapshot/Restore, Team:Core/Features, Team:Distributed, backport

#68272 Upgrade to Lucene 8.8.0
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.8.0-snapshot-737cb9c49b0.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.8.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.8.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.8.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.8.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.8.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.8.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.8.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.8.0.jar.sha1
  server/licenses/lucene-analyzers-common-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-analyzers-common-8.8.0.jar.sha1
  server/licenses/lucene-backward-codecs-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-backward-codecs-8.8.0.jar.sha1
  server/licenses/lucene-core-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-core-8.8.0.jar.sha1
  server/licenses/lucene-grouping-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-grouping-8.8.0.jar.sha1
  server/licenses/lucene-highlighter-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-highlighter-8.8.0.jar.sha1
  server/licenses/lucene-join-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-join-8.8.0.jar.sha1
  server/licenses/lucene-memory-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-memory-8.8.0.jar.sha1
  server/licenses/lucene-misc-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-misc-8.8.0.jar.sha1
  server/licenses/lucene-queries-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-queries-8.8.0.jar.sha1
  server/licenses/lucene-queryparser-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-queryparser-8.8.0.jar.sha1
  server/licenses/lucene-sandbox-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-sandbox-8.8.0.jar.sha1
  server/licenses/lucene-spatial-extras-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-spatial-extras-8.8.0.jar.sha1
  server/licenses/lucene-spatial3d-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-spatial3d-8.8.0.jar.sha1
  server/licenses/lucene-suggest-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-suggest-8.8.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.8.0-snapshot-737cb9c49b0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.8.0.jar.sha1
Labels: >non-issue, >upgrade, v7.12.0, v8.0.0

#68276 Fix Snapshot + DataStream RollOver Bugs (#68258)
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Core/Features/Data streams, :Distributed/Snapshot/Restore, Team:Core/Features, Team:Distributed, backport

#68227 Always fail if attempting to create an alias to backing index.
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/TransportSimulateIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
Labels: :Core/Features/Data streams, >non-issue, Team:Core/Features, v8.0.0

#68211 [ML] Allow data frame analytics memory estimation on non-ML nodes
  x-pack/plugin/ml/qa/native-multi-node-tests/build.gradle
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/DataFrameAnalyticsLazyStartIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportExplainDataFrameAnalyticsAction.java
Labels: backport, v7.12.0

#68051 Expand and consolidate networking docs
  distribution/src/config/elasticsearch.yml
  docs/reference/api-conventions.asciidoc
  docs/reference/cluster/nodes-stats.asciidoc
  docs/reference/how-to/general.asciidoc
  docs/reference/modules/discovery.asciidoc
  docs/reference/modules/discovery/bootstrapping.asciidoc
  docs/reference/modules/http.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/modules/network/tracers.asciidoc
  docs/reference/modules/node.asciidoc
  docs/reference/modules/remote-clusters.asciidoc
  docs/reference/modules/transport.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/setup.asciidoc
  docs/reference/setup/bootstrap-checks-xes.asciidoc
  docs/reference/setup/bootstrap-checks.asciidoc
  docs/reference/setup/important-settings/network-host.asciidoc
  x-pack/docs/en/security/securing-communications/tutorial-tls-intro.asciidoc
  x-pack/docs/en/security/using-ip-filtering.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, v7.12.0, v8.0.0

#68271 [7.x][ML] Add early stopping DFA configuration parameter
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/Classification.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/ml/dataframe/Regression.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/MachineLearningIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/MlClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/ClassificationTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ml/dataframe/RegressionTests.java
  docs/java-rest/high-level/ml/put-data-frame-analytics.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/config_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/DataFrameAnalyticsConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DataFrameAnalysisCustomFeatureIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ExplainDataFrameAnalyticsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/data_frame_analytics_crud.yml
Labels: :ml, >non-issue, backport, v7.12.0

#68270 Frozen Prototype File Chunk Writing/Reading Infrastructure
  server/src/main/java/org/elasticsearch/common/io/Channels.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/SearchableSnapshotDirectory.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/cache/FrozenIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/FrozenCacheService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/SharedBytes.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/index/store/cache/FrozenIndexInputTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/FrozenCacheServiceTests.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed

#68248 Drop rawtypes warning from async search
  x-pack/plugin/async-search/build.gradle
Labels: :Search/Search, >non-issue, Team:Search, v7.12.0, v8.0.0

#68247 Drop rawtypes suppression from test framework
  server/src/test/java/org/elasticsearch/rest/action/document/RestIndexActionTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/adjacency/InternalAdjacencyMatrixTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/InternalFiltersTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalAutoDateHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalDateHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalVariableWidthHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRangeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalDateRangeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalGeoDistanceTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalRangeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/DoubleTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/LongRareTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/LongTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantLongTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantStringTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/StringRareTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsTests.java
  test/framework/build.gradle
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalMultiBucketAggregationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/client/NoOpNodeClient.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/CollectionAssertions.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/CollectionMatchers.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/ElasticsearchAssertions.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/TupleMatchers.java
  test/framework/src/main/java/org/elasticsearch/test/rest/RestActionTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/ObjectPathTests.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSectionTests.java
Labels: :Delivery/Build, >non-issue, Team:Delivery, v7.12.0, v8.0.0

#68279 Upgrade to Lucene 8.8.0 (#68272)
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-8.8.0-snapshot-737cb9c49b0.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-8.8.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analyzers-icu-8.8.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analyzers-kuromoji-8.8.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analyzers-nori-8.8.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analyzers-phonetic-8.8.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analyzers-smartcn-8.8.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analyzers-stempel-8.8.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.8.0-snapshot-737cb9c49b0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analyzers-morfologik-8.8.0.jar.sha1
  server/licenses/lucene-analyzers-common-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-analyzers-common-8.8.0.jar.sha1
  server/licenses/lucene-backward-codecs-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-backward-codecs-8.8.0.jar.sha1
  server/licenses/lucene-core-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-core-8.8.0.jar.sha1
  server/licenses/lucene-grouping-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-grouping-8.8.0.jar.sha1
  server/licenses/lucene-highlighter-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-highlighter-8.8.0.jar.sha1
  server/licenses/lucene-join-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-join-8.8.0.jar.sha1
  server/licenses/lucene-memory-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-memory-8.8.0.jar.sha1
  server/licenses/lucene-misc-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-misc-8.8.0.jar.sha1
  server/licenses/lucene-queries-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-queries-8.8.0.jar.sha1
  server/licenses/lucene-queryparser-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-queryparser-8.8.0.jar.sha1
  server/licenses/lucene-sandbox-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-sandbox-8.8.0.jar.sha1
  server/licenses/lucene-spatial-extras-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-spatial-extras-8.8.0.jar.sha1
  server/licenses/lucene-spatial3d-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-spatial3d-8.8.0.jar.sha1
  server/licenses/lucene-suggest-8.8.0-snapshot-737cb9c49b0.jar.sha1
  server/licenses/lucene-suggest-8.8.0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.8.0-snapshot-737cb9c49b0.jar.sha1
  x-pack/plugin/sql/sql-action/licenses/lucene-core-8.8.0.jar.sha1
Labels: >non-issue, >upgrade, backport, v7.12.0

#68187 Remove a ',' added to the end of the synonym in example docs
  docs/src/test/cluster/config/analysis/synonym.txt
Labels: >docs, Team:Docs, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#68245 Drop rawtypes error suppression in runtime-fields
  x-pack/plugin/runtime-fields/build.gradle
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/query/AbstractScriptFieldQueryTestCase.java
Labels: :Search/Search, >non-issue, Team:Search, v7.12.0, v8.0.0

#68193 Small Update
  docs/reference/setup/install/rpm.asciidoc
Labels: >docs, Team:Docs, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#68210 Remove usage of CompletableFuture in CacheFile
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/cache/CacheFile.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.11.1, v7.12.0, v8.0.0

#68287 [master] [DOCS] Fix typo (#68193)
  docs/reference/setup/install/rpm.asciidoc
Labels: backport, v8.0.0

#68288 [7.x] [DOCS] Fix typo (#68193)
  docs/reference/setup/install/rpm.asciidoc
Labels: backport, v7.12.0

#68289 [7.11] [DOCS] Fix typo (#68193)
  docs/reference/setup/install/rpm.asciidoc
Labels: backport, v7.11.1

#68284 [7.x] [DOCS] Remove a ',' added to the end of the synonym in example docs (#68187)
  docs/src/test/cluster/config/analysis/synonym.txt
Labels: backport, v7.12.0

#68285 [7.11] [DOCS] Remove a ',' added to the end of the synonym in example docs (#68187)
  docs/src/test/cluster/config/analysis/synonym.txt
Labels: backport, v7.11.1

#68286 [7.10] [DOCS] Remove a ',' added to the end of the synonym in example docs (#68187)
  docs/src/test/cluster/config/analysis/synonym.txt
Labels: backport, v7.10.3

#68246 [DOCS] Remove outdated deprecation notes
  docs/reference/query-dsl/mlt-query.asciidoc
Labels: >docs, Team:Docs, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#68244 [DOCS] Fix minor suggester doc errors
  docs/reference/search/suggesters.asciidoc
  docs/reference/search/suggesters/completion-suggest.asciidoc
  docs/reference/search/suggesters/phrase-suggest.asciidoc
  docs/reference/search/suggesters/term-suggest.asciidoc
Labels: :Search/Suggesters, >docs, Team:Docs, Team:Search, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#68299 [DOCS] Reuse data stream timestamp reqs
  docs/reference/data-streams/data-streams.asciidoc
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
Labels: >docs, Team:Docs, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#68300 [7.x] [DOCS] Remove outdated deprecated notes (#68246)
  docs/reference/query-dsl/mlt-query.asciidoc
Labels: backport, v7.12.0

#68301 [7.11] [DOCS] Remove outdated deprecated notes (#68246)
  docs/reference/query-dsl/mlt-query.asciidoc
Labels: backport, v7.11.1

#68302 [7.10] [DOCS] Remove outdated deprecated notes (#68246)
  docs/reference/query-dsl/mlt-query.asciidoc
Labels: backport, v7.10.3

#68303 [7.x] [DOCS] Fix minor suggester doc errors (#68244)
  docs/reference/search/suggesters.asciidoc
  docs/reference/search/suggesters/completion-suggest.asciidoc
  docs/reference/search/suggesters/phrase-suggest.asciidoc
  docs/reference/search/suggesters/term-suggest.asciidoc
Labels: backport, v7.12.0

#68304 [7.11] [DOCS] Fix minor suggester doc errors (#68244)
  docs/reference/search/suggesters.asciidoc
  docs/reference/search/suggesters/completion-suggest.asciidoc
  docs/reference/search/suggesters/phrase-suggest.asciidoc
  docs/reference/search/suggesters/term-suggest.asciidoc
Labels: backport, v7.11.1

#68305 [7.10] [DOCS] Fix minor suggester doc errors (#68244)
  docs/reference/search/suggesters.asciidoc
  docs/reference/search/suggesters/completion-suggest.asciidoc
  docs/reference/search/suggesters/phrase-suggest.asciidoc
  docs/reference/search/suggesters/term-suggest.asciidoc
Labels: backport, v7.10.3

#68293 Remove usage of CompletableFuture in CacheFile
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/cache/CacheFile.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, backport, v7.11.1

#68306 [7.x] [DOCS] Reuse timestamp reqs (#68299)
  docs/reference/data-streams/data-streams.asciidoc
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
Labels: backport, v7.12.0

#68307 [7.11] [DOCS] Reuse timestamp reqs (#68299)
  docs/reference/data-streams/data-streams.asciidoc
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
Labels: backport, v7.11.1

#68290 Remove usage of CompletableFuture in CacheFile
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/index/store/cache/CacheFile.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, backport, v7.12.0

#68308 [7.10] [DOCS] Reuse timestamp reqs (#68299)
  docs/reference/data-streams/data-streams.asciidoc
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
Labels: backport, v7.10.3

#68273 [ML] Unmute BWC tests
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/90_ml_data_frame_analytics_crud.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/90_ml_data_frame_analytics_crud.yml
Labels: :ml, >non-issue, v8.0.0

#68282 Drop rawtypes suppression from test framework (backport of #68247)
  modules/lang-mustache/src/test/java/org/elasticsearch/script/mustache/RestMultiSearchTemplateActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/forcemerge/RestForceMergeActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestGetFieldMappingActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestGetMappingActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestDeleteActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestGetActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestGetSourceActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestIndexActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestMultiGetActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestMultiTermVectorsActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestTermVectorsActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestUpdateActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/search/RestCountActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/search/RestExplainActionTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/adjacency/InternalAdjacencyMatrixTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/InternalFiltersTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalAutoDateHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalDateHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalVariableWidthHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRangeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalDateRangeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalGeoDistanceTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalRangeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/DoubleTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/LongRareTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/LongTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantLongTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantStringTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/StringRareTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsTests.java
  test/framework/build.gradle
  test/framework/src/main/java/org/elasticsearch/index/replication/ESIndexLevelReplicationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalMultiBucketAggregationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/client/NoOpNodeClient.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/CollectionAssertions.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/CollectionMatchers.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/ElasticsearchAssertions.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/TupleMatchers.java
  test/framework/src/main/java/org/elasticsearch/test/rest/RestActionTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/ObjectPathTests.java
  test/framework/src/test/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSectionTests.java
  x-pack/plugin/graph/src/test/java/org/elasticsearch/xpack/graph/rest/action/RestGraphActionTests.java
Labels: backport, v7.12.0

#68291 Introduce string constant for readonly setting
  plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureRepository.java
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureRepositorySettingsTests.java
  qa/repository-multi-version/src/test/java/org/elasticsearch/upgrades/MultiVersionRepositoryAccessIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/MultiClusterRepoAccessIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/RepositoriesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESBlobStoreRepositoryIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESFsBasedRepositoryIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
  x-pack/plugin/repository-encrypted/src/internalClusterTest/java/org/elasticsearch/repositories/encrypted/EncryptedFSBlobStoreRepositoryIntegTests.java
  x-pack/plugin/repository-encrypted/src/internalClusterTest/java/org/elasticsearch/repositories/encrypted/EncryptedRepositorySecretIntegTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.12.0, v8.0.0

#68209 Tests: use a random template name to avoid updating a template
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/SearchableSnapshotActionIT.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, v7.12.0, v8.0.0

#68294 [7.x] Minor DRYing up of attachment processor tests (#65975)
  plugins/ingest-attachment/src/test/java/org/elasticsearch/ingest/attachment/AttachmentProcessorTests.java
Labels: :Core/Features/Ingest, >non-issue, >refactoring, Team:Core/Features, backport, v7.12.0

#68183 Fix CI job build scan links
  gradle/build-scan.gradle
Labels: :Delivery/Build, Team:Delivery

#68314 [DOCS] Reuse built-in index templates admon
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
  docs/reference/docs/index_.asciidoc
  docs/reference/indices/index-templates.asciidoc
  docs/reference/indices/put-index-template.asciidoc
Labels: >docs, Team:Docs, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#68295 [DOCS] Minor rewording for HTTP settings
  docs/reference/modules/http.asciidoc
  docs/reference/modules/transport.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, v8.0.0

#68317 [7.x] [DOCS] Reuse built-in index templates admon (#68314)
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
  docs/reference/docs/index_.asciidoc
  docs/reference/indices/index-templates.asciidoc
  docs/reference/indices/put-index-template.asciidoc
Labels: backport, v7.12.0

#68318 [7.11] [DOCS] Reuse built-in index templates admon (#68314)
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
  docs/reference/docs/index_.asciidoc
  docs/reference/indices/index-templates.asciidoc
  docs/reference/indices/put-index-template.asciidoc
Labels: backport, v7.11.1

#68319 [DOCS] [7.x] Minor rewording for HTTP settings (#68295)
  docs/reference/modules/http.asciidoc
  docs/reference/modules/transport.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, backport, v7.12.0

#68320 [7.10] [DOCS] Reuse built-in index templates admon (#68314)
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
  docs/reference/docs/index_.asciidoc
  docs/reference/indices/index-templates.asciidoc
  docs/reference/indices/put-index-template.asciidoc
Labels: backport, v7.10.3

#68113 Make XContentParser aware of compatible API version
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContent.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentSubParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/cbor/CborXContent.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/cbor/CborXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/json/JsonXContent.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/json/JsonXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/smile/SmileXContent.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/smile/SmileXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/support/AbstractXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/yaml/YamlXContent.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/yaml/YamlXContentParser.java
  server/src/main/java/org/elasticsearch/rest/RestRequest.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/support/xcontent/WatcherXContentParser.java
Labels: :Core/Infra/REST API, Team:Core/Infra, v8.0.0

#68174 gradle rest resources plugin clean up
  buildSrc/src/integTest/groovy/org/elasticsearch/gradle/RestResourcesPluginFuncTest.groovy
  buildSrc/src/integTest/groovy/org/elasticsearch/gradle/YamlRestCompatTestPluginFuncTest.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/internal/rest/compat/YamlRestCompatTestPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestApiTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestTestsTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/RestResourcesPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/YamlRestTestPlugin.java
Labels: :Delivery/Build, Team:Delivery, v7.12.0, v8.0.0

#68136 Document taking snapshots of searchable snapshots
  docs/reference/searchable-snapshots/index.asciidoc
Labels: :Distributed/Snapshot/Restore, >docs, Team:Distributed, Team:Docs, v7.12.0, v8.0.0

#68242 Remove rawtype suppression in analytics
  x-pack/plugin/analytics/build.gradle
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/cumulativecardinality/CumulativeCardinalityPipelineAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesPipelineAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/normalize/NormalizePipelineAggregator.java
Labels: :Analytics/Aggregations, >non-issue, Team:Analytics, v7.12.0, v8.0.0

#68309 ILM: fix searchable snapshot action to wait for the restored index
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForIndexColorStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForIndexColorStepTests.java
Labels: :Core/Features/ILM+SLM, >bug, Team:Core/Features, v7.11.1, v7.12.0, v8.0.0

#66022 QL: Simplify arithmetic operations in binary comps
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/OptimizerTests.java
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/arithmetic/Add.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/arithmetic/BinaryComparisonInversible.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/arithmetic/Div.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/arithmetic/Mul.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/arithmetic/Sub.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/BinaryComparison.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/Equals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/GreaterThan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/GreaterThanOrEqual.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/LessThan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/LessThanOrEqual.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/NotEquals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/NullEquals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRules.java
  x-pack/plugin/ql/src/test/resources/mapping-multi-field-variation.json
  x-pack/plugin/sql/qa/server/src/main/resources/arithmetic.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/arithmetic.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/Add.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/Div.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/Mul.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/SqlBinaryArithmeticOperation.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/Sub.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/SqlDataTypes.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/FieldAttributeTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/SqlBinaryArithmeticTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerRunTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysColumnsTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/type/SqlDataTypesTests.java
Labels: :Query Languages/EQL, :Query Languages/SQL, >enhancement, Team:QL, v7.12.0, v8.0.0

#68088 Add grok and dissect methods to runtime fields
  libs/dissect/src/main/java/org/elasticsearch/dissect/DissectKey.java
  libs/dissect/src/main/java/org/elasticsearch/dissect/DissectParser.java
  libs/dissect/src/test/java/org/elasticsearch/dissect/DissectParserTests.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DissectProcessor.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/CompileTimeOnlyAnnotation.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/CompileTimeOnlyAnnotationParser.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/WhitelistAnnotationParser.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Compiler.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessInstanceBinding.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultConstantFoldingOptimizationPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultIRTreeToASMBytesPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultStaticConstantExtractionPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/IRDecorations.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/BaseClassTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/BindingsTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/Debugger.java
  modules/lang-painless/src/test/resources/org/elasticsearch/painless/spi/org.elasticsearch.painless.test
  x-pack/plugin/runtime-fields/build.gradle
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/RuntimeFields.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/BooleanFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/DateFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/DoubleFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/GeoPointFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/IpFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/LongFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/NamedGroupExtractor.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/RuntimeFieldsPainlessExtension.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/StringFieldScript.java
  x-pack/plugin/runtime-fields/src/main/resources/org/elasticsearch/xpack/runtimefields/mapper/common_whitelist.txt
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractScriptFieldTypeTestCase.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/BooleanScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/DateScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/DoubleScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/DynamicRuntimeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/GeoPointScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/IpScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/KeywordScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/LongScriptFieldTypeTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/250_grok.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/260_dissect.yml
Labels: :Search/Search, >enhancement, Team:Search, v7.12.0, v8.0.0

#68327 [7.11] ILM: fix searchable snapshot action to wait for the restored index (#68309)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForIndexColorStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForIndexColorStepTests.java
Labels: :Core/Features/ILM+SLM, >bug, Team:Core/Features, backport, v7.11.1

#68329 Disable BWC tests for backport of max_single_primary_size
  build.gradle
Labels: :Core/Features/ILM+SLM, >non-issue, Team:Core/Features

#68321 [7.x] Support max_single_primary_size in Resize Action and exposed in ILM
  client/rest-high-level/src/main/java/org/elasticsearch/client/indexlifecycle/ShrinkAction.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/indices/ResizeRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndexLifecycleIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/IndicesRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/ILMDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/IndicesClientDocumentationIT.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/indexlifecycle/ShrinkActionTests.java
  docs/java-rest/high-level/indices/shrink_index.asciidoc
  docs/reference/ilm/actions/ilm-shrink.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/ResizeRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/ResizeRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/TransportResizeAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/shrink/TransportResizeActionTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ShrinkAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ShrinkStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ShrinkActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ShrinkStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/TimeseriesLifecycleTypeTests.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/TimeSeriesRestDriver.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/ExplainLifecycleIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeSeriesDataStreamsIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeseriesMoveToStepIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/SearchableSnapshotActionIT.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/ILMMultiNodeIT.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/PolicyStepsRegistryTests.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, backport

#68326 [7.x] ILM: fix searchable snapshot action to wait for the restored index (#68309)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForIndexColorStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForIndexColorStepTests.java
Labels: :Core/Features/ILM+SLM, Team:Core/Features, backport, v7.12.0

#68332 Add grok and dissect methods to runtime fields (backport of #68088)
  libs/dissect/src/main/java/org/elasticsearch/dissect/DissectKey.java
  libs/dissect/src/main/java/org/elasticsearch/dissect/DissectParser.java
  libs/dissect/src/test/java/org/elasticsearch/dissect/DissectParserTests.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DissectProcessor.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/CompileTimeOnlyAnnotation.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/CompileTimeOnlyAnnotationParser.java
  modules/lang-painless/spi/src/main/java/org/elasticsearch/painless/spi/annotation/WhitelistAnnotationParser.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Compiler.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessInstanceBinding.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultConstantFoldingOptimizationPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultIRTreeToASMBytesPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultStaticConstantExtractionPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/IRDecorations.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/BaseClassTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/BindingsTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/Debugger.java
  modules/lang-painless/src/test/resources/org/elasticsearch/painless/spi/org.elasticsearch.painless.test
  x-pack/plugin/runtime-fields/build.gradle
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/RuntimeFields.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/BooleanFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/DateFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/DoubleFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/GeoPointFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/IpFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/LongFieldScript.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/NamedGroupExtractor.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/RuntimeFieldsPainlessExtension.java
  x-pack/plugin/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/mapper/StringFieldScript.java
  x-pack/plugin/runtime-fields/src/main/resources/org/elasticsearch/xpack/runtimefields/mapper/common_whitelist.txt
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/AbstractScriptFieldTypeTestCase.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/BooleanScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/DateScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/DoubleScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/DynamicRuntimeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/GeoPointScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/IpScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/KeywordScriptFieldTypeTests.java
  x-pack/plugin/runtime-fields/src/test/java/org/elasticsearch/xpack/runtimefields/mapper/LongScriptFieldTypeTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/250_grok.yml
  x-pack/plugin/src/test/resources/rest-api-spec/test/runtime_fields/260_dissect.yml
Labels: backport, v7.12.0

#68237 Scripting: readable array types for context api
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/ContextGeneratorCommon.java
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/PainlessInfoJson.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessContextConstructorInfo.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessContextFieldInfo.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessContextMethodInfo.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessContextTypeInfo.java
Labels: :Core/Infra/Scripting, >refactoring, Team:Core/Infra

#68335 Adjust serialization version and re-enable BWC
  build.gradle
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/ResizeRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ShrinkAction.java
Labels: :Core/Features/ILM+SLM, >non-issue, Team:Core/Features

#68232 [Transform] refactor cat transform to show more useful information
  docs/reference/cat/transforms.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
  docs/reference/transform/apis/get-transform-stats.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformStats.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/transform/transforms_cat_apis.yml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/rest/action/RestCatTransformAction.java
Labels: :ml/Transform, >enhancement, v7.12.0, v8.0.0

#68339 EQL: improve EQL request/response serialization tests for bwc versions
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/AbstractBWCSerializationTestCase.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchResponseTests.java
Labels: :Query Languages/EQL, >enhancement, >test, Team:QL, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#68283 Properly Retain Buffer in RecoverySourceHandler
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
Labels: :Distributed/Recovery, >test, Team:Distributed, v7.12.0, v8.0.0

#68316 Fix off-by-one in testDoesNotSubmitRerouteTaskTooFrequently
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdMonitorTests.java
Labels: :Distributed/Allocation, >test, Team:Distributed, v7.11.1, v7.12.0, v8.0.0

#68274 Extend NamedObjectRegistry with compatible entries
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/NamedXContentRegistry.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/plugins/Plugin.java
  server/src/test/java/org/elasticsearch/common/xcontent/CompatibleNamedXContentRegistryTests.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
Labels: :Core/Infra/Core, Team:Core/Infra

#68343 EQL: improve EQL request/response serialization tests for bwc versions
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/AbstractBWCSerializationTestCase.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchResponseTests.java
Labels: :Query Languages/EQL, >enhancement, >test, Team:QL, backport

#68344 EQL: improve EQL request/response serialization tests for bwc versions
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/AbstractBWCSerializationTestCase.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchResponseTests.java
Labels: :Query Languages/EQL, >enhancement, >test, Team:QL, backport

#68342 Properly Retain Buffer in RecoverySourceHandler (#68283)
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
Labels: :Distributed/Recovery, Team:Distributed, backport

#68341 EQL: improve EQL request/response serialization tests for bwc versions
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/AbstractBWCSerializationTestCase.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchResponseTests.java
Labels: :Query Languages/EQL, >enhancement, >test, Team:QL, backport

#68206 Update gradle wrapper to 6.8.1
  buildSrc/src/main/resources/minimumGradleVersion
  gradle/wrapper/gradle-wrapper.properties
Labels: :Delivery/Build, Team:Delivery

#68297 Tweak elasticsearch-env script to work under posix
  distribution/src/bin/elasticsearch-env
  qa/os/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/test/PackagingTestCase.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Docker.java
Labels: :Delivery/Packaging, >bug, Team:Delivery, v7.12.0, v8.0.0

#68264 Add processor architectures to cluster stats
  docs/reference/cluster/stats.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsNodes.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
Labels: :Core/Features/Monitoring, :Core/Infra/Core, >enhancement, Team:Core/Features, Team:Core/Infra, v7.12.0, v8.0.0

#66303 [client] Add client metadata header on RestClient requests
  client/rest/build.gradle
  client/rest/src/main/java/org/elasticsearch/client/LanguageRuntimeVersions.java
  client/rest/src/main/java/org/elasticsearch/client/RestClientBuilder.java
  client/rest/src/main/resources/org/elasticsearch/client/version.properties
  client/rest/src/test/java/org/elasticsearch/client/RestClientSingleHostIntegTests.java
Labels: :Core/Features/Java Low Level REST Client, Team:Clients, Team:Core/Features, v7.12.0, v8.0.0

#68315 Correctly set search quote analyzer for keyword fields
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryStringQueryBuilderTests.java
Labels: :Search/Mapping, >bug, Team:Search, v7.10.3, v7.11.0, v7.12.0, v8.0.0

#68325 [7.x] Tests: use a random template name to avoid updating a template (#68209)
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/SearchableSnapshotActionIT.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, backport

#68331 QL: Simplify arithmetic operations in binary comps (backport of #66022)
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/optimizer/OptimizerTests.java
  x-pack/plugin/eql/src/test/resources/queryfolder_tests.txt
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/arithmetic/Add.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/arithmetic/BinaryComparisonInversible.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/arithmetic/Div.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/arithmetic/Mul.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/arithmetic/Sub.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/BinaryComparison.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/Equals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/GreaterThan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/GreaterThanOrEqual.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/LessThan.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/LessThanOrEqual.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/NotEquals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/NullEquals.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRules.java
  x-pack/plugin/ql/src/test/resources/mapping-multi-field-variation.json
  x-pack/plugin/sql/qa/server/src/main/resources/arithmetic.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/arithmetic.sql-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/Add.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/Div.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/Mul.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/SqlBinaryArithmeticOperation.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/Sub.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/optimizer/Optimizer.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/type/SqlDataTypes.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/analysis/analyzer/FieldAttributeTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/SqlBinaryArithmeticTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/optimizer/OptimizerRunTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plan/logical/command/sys/SysColumnsTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/planner/QueryTranslatorTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/type/SqlDataTypesTests.java
Labels: backport, v7.12.0

#68340 [DOC] Fix item numbering in idp doc
  x-pack/plugin/identity-provider/docs/en/rest-api/idp-saml-validate.asciidoc
Labels: :Security/IdentityProvider, >non-issue, Team:Security, v7.12.0, v8.0.0

#68348 [ML] Unmute explain_data_frame_analytics/Test field_selection given body
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/explain_data_frame_analytics.yml
Labels: :ml, >test, v7.12.0, v8.0.0

#68354 Don't use 'default' as the default name for keyword normalizers
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
Labels: :Search/Mapping, >bug, Team:Search, v7.11.0, v7.12.0, v8.0.0

#68356 [DOC] Fix item numbering in idp doc (#68340)
  x-pack/plugin/identity-provider/docs/en/rest-api/idp-saml-validate.asciidoc
Labels: backport

#68353 [client] Add client metadata header on RestClient requests
  client/rest/build.gradle
  client/rest/src/main/java/org/elasticsearch/client/LanguageRuntimeVersions.java
  client/rest/src/main/java/org/elasticsearch/client/RestClientBuilder.java
  client/rest/src/main/resources/org/elasticsearch/client/version.properties
  client/rest/src/test/java/org/elasticsearch/client/RestClientSingleHostIntegTests.java
Labels: :Core/Features/Java Low Level REST Client, Team:Core/Features, backport, v7.12.0

#68359 [7.x][ML] Unmute explain_data_frame_analytics/Test field_selection gi…
  x-pack/plugin/src/test/resources/rest-api-spec/test/ml/explain_data_frame_analytics.yml
Labels: :ml, >test, backport

#68351 Add processor architectures to cluster stats
  docs/reference/cluster/stats.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsNodes.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
Labels: backport, v7.12.0

#68328 [DOCS] Document the `stack.templates.enabled` setting
  docs/reference/indices/index-templates.asciidoc
  docs/reference/indices/put-component-template.asciidoc
  docs/reference/modules/indices/index_management.asciidoc
Labels: :Core/Features/Indices APIs, >docs, Team:Core/Features, Team:Docs, v7.11.1, v7.12.0, v8.0.0

#68310 [DOCS] Add Elastic data stream naming scheme docs
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
  docs/reference/indices/create-data-stream.asciidoc
Labels: :Core/Features/Data streams, >docs, Team:Core/Features, Team:Docs, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#67114 Move Security to use auto-managed system indices
  server/src/internalClusterTest/java/org/elasticsearch/indices/TestSystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/CreateIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/put/TransportAutoPutMappingAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/put/TransportPutMappingAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/put/TransportUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsRequest.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexManager.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  x-pack/plugin/core/src/main/resources/security-index-template-7.json
  x-pack/plugin/core/src/main/resources/security-tokens-index-template-7.json
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/test/NativeRealmIntegTestCase.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/mapper/NativeRoleMappingStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecurityIndexManager.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/mapper/NativeRoleMappingStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/NativePrivilegeStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/CacheInvalidatorRegistryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/SecurityIndexManagerTests.java
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractAdLdapRealmTestCase.java
Labels: :Security/Security, >refactoring, Team:Security, v7.12.0, v8.0.0

#68213 [DOCS] Expands feature processors property description and adds a link of conceptual docs
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, Team:Docs, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#68349 Update gradle wrapper to 6.8.1 (7.x)
  buildSrc/src/main/resources/minimumGradleVersion
  gradle/wrapper/gradle-wrapper.properties
Labels: :Delivery/Build, Team:Delivery, backport

#67802 Added support for passing http query parameters
  client/rest-high-level/src/test/java/org/elasticsearch/client/HighLevelRestClientFilterPathIT.java
  client/rest/src/main/java/org/elasticsearch/client/RequestOptions.java
  client/rest/src/main/java/org/elasticsearch/client/RestClient.java
  client/rest/src/test/java/org/elasticsearch/client/RequestOptionsTests.java
Labels: :Core/Features/Java High Level REST Client, Team:Core/Features, v7.12.0, v8.0.0

#68366 [7.x] [DOCS] Document the `stack.templates.enabled` setting (#68328)
  docs/reference/indices/index-templates.asciidoc
  docs/reference/indices/put-component-template.asciidoc
  docs/reference/modules/indices/index_management.asciidoc
Labels: backport, v7.12.0

#68050 [Transform] Log and audit a warning if all the group-by fields are runtime fields
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/SourceConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/SourceConfigTests.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/LatestContinuousIT.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformProgressIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/Function.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/FunctionFactory.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/latest/Latest.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/Pivot.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/notifications/MockTransformAuditor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/latest/LatestTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/PivotTests.java
Labels: :ml/Transform, >non-issue, v7.12.0, v8.0.0

#68367 [7.11] [DOCS] Document the `stack.templates.enabled` setting (#68328)
  docs/reference/indices/index-templates.asciidoc
  docs/reference/indices/put-component-template.asciidoc
  docs/reference/modules/indices/index_management.asciidoc
Labels: backport, v7.11.1

#68368 [7.x] [DOCS] Add Elastic data stream naming scheme docs (#68310)
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
  docs/reference/indices/create-data-stream.asciidoc
Labels: backport, v7.12.0

#68370 [7.11] [DOCS] Add Elastic data stream naming scheme docs (#68310)
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
  docs/reference/indices/create-data-stream.asciidoc
Labels: backport, v7.11.1

#68362 [DOCS] Fix typo
  docs/reference/sql/index.asciidoc
Labels: >docs, Team:Docs, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#67955 [DOCS] Add security privileges to snapshot/restore API docs
  docs/reference/snapshot-restore/apis/clean-up-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/clone-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/create-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/delete-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/delete-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/get-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/get-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
  docs/reference/snapshot-restore/apis/put-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/restore-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/verify-repo-api.asciidoc
Labels: :Distributed/Snapshot/Restore, >docs, Team:Distributed, Team:Docs, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#68372 [7.x] [DOCS] Expands feature processors property description and adds a link of conceptual docs (#68213)
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, Team:Docs, backport, v7.12.0

#68373 [7.11] [DOCS] Expands feature processors property description and adds a link of conceptual docs (#68213)
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, Team:Docs, backport, v7.11.0

#68374 [7.10] [DOCS] Expands feature processors property description and adds a link of conceptual docs (#68213)
  docs/reference/ml/ml-shared.asciidoc
Labels: :ml, >docs, Team:Docs, backport, v7.10.3

#68371 [7.10] [DOCS] Add Elastic data stream naming scheme docs (#68310)
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
  docs/reference/indices/create-data-stream.asciidoc
Labels: backport, v7.10.3

#68380 [master] [DOCS] Fix typo (#68362)
  docs/reference/sql/index.asciidoc
Labels: backport, v8.0.0

#68381 [7.x] [DOCS] Fix typo (#68362)
  docs/reference/sql/index.asciidoc
Labels: backport, v7.12.0

#68382 [7.11] [DOCS] Fix typo (#68362)
  docs/reference/sql/index.asciidoc
Labels: backport, v7.11.1

#68365 Fix Partial Restore Of Snapshot Including DataStream
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Core/Features/Data streams, :Distributed/Snapshot/Restore, >bug, Team:Core/Features, Team:Distributed, v7.11.0, v7.12.0, v8.0.0

#68383 [7.x] [DOCS] Add security privileges to snapshot/restore API docs (#67955)
  docs/reference/snapshot-restore/apis/clean-up-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/clone-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/create-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/delete-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/delete-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/get-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/get-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
  docs/reference/snapshot-restore/apis/put-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/restore-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/verify-repo-api.asciidoc
Labels: backport, v7.12.0

#68384 [7.11] [DOCS] Add security privileges to snapshot/restore API docs (#67955)
  docs/reference/snapshot-restore/apis/clean-up-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/clone-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/create-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/delete-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/delete-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/get-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/get-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
  docs/reference/snapshot-restore/apis/put-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/restore-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/verify-repo-api.asciidoc
Labels: backport, v7.11.1

#64514 Fix recording sample for formal run iterations in BulkBenchmarkTask
  client/benchmark/src/main/java/org/elasticsearch/client/benchmark/ops/bulk/BulkBenchmarkTask.java
Labels: :Core/Features/Java Low Level REST Client, Team:Core/Features, v7.12.0, v8.0.0

#68385 [7.10] [DOCS] Add security privileges to snapshot/restore API docs (#67955)
  docs/reference/snapshot-restore/apis/clean-up-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/clone-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/create-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/delete-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/delete-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/get-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/get-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
  docs/reference/snapshot-restore/apis/put-repo-api.asciidoc
  docs/reference/snapshot-restore/apis/restore-snapshot-api.asciidoc
  docs/reference/snapshot-restore/apis/verify-repo-api.asciidoc
Labels: backport, v7.10.3

#68364 [DOCS] Fix typo
  docs/reference/search/point-in-time-api.asciidoc
  server/src/main/java/org/elasticsearch/search/builder/PointInTimeBuilder.java
Labels: >docs, Team:Docs, v7.10.3, v7.11.1, v7.12.0, v8.0.0

#68377 Added support for passing http query parameters
  client/rest-high-level/src/test/java/org/elasticsearch/client/HighLevelRestClientFilterPathIT.java
  client/rest/src/main/java/org/elasticsearch/client/RequestOptions.java
  client/rest/src/main/java/org/elasticsearch/client/RestClient.java
  client/rest/src/test/java/org/elasticsearch/client/RequestOptionsTests.java
Labels: :Core/Features/Java High Level REST Client, Team:Core/Features, backport, v7.12.0

#68378 [7.x] [Transform] Log and audit a warning if all the group-by fields are runtime fields (#68050)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/SourceConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/SourceConfigTests.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/LatestContinuousIT.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformProgressIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/Function.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/FunctionFactory.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/latest/Latest.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/Pivot.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/notifications/MockTransformAuditor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/latest/LatestTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/PivotTests.java
Labels: :ml/Transform, >non-issue, backport

#68363 Tests: separate rollup and shrink action tests in own classes
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/TimeSeriesRestDriver.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/RollupActionIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/ShrinkActionIT.java
Labels: :Core/Features/ILM+SLM, >refactoring, Team:Core/Features, v7.12.0, v8.0.0

#68376 Fix testDeleteActionDoesntDeleteSearchableSnapshot
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeSeriesLifecycleActionsIT.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, v7.11.1, v7.12.0, v8.0.0

#68389 [7.10] [DOCS] Fix typo (#68364)
  docs/reference/search/point-in-time-api.asciidoc
  server/src/main/java/org/elasticsearch/search/builder/PointInTimeBuilder.java
Labels: backport, v7.10.3

#64515 Fix wrong totalIterationCount when running BulkIndexBenchmark
  client/benchmark/src/main/java/org/elasticsearch/client/benchmark/AbstractBenchmark.java
Labels: :Core/Features/Java Low Level REST Client, Team:Core/Features, v7.12.0, v8.0.0

#68397 [DOCS] Add 7.11 release highlights xref
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v7.12.0

#68387 [7.x] [DOCS] Fix typo (#68364)
  docs/reference/search/point-in-time-api.asciidoc
  server/src/main/java/org/elasticsearch/search/builder/PointInTimeBuilder.java
Labels: backport, v7.12.0

#68312 It's flame graph time!
  benchmarks/README.md
  benchmarks/build.gradle
  buildSrc/version.properties
Labels: :Performance, >non-issue, Team:Performance, v7.12.0, v8.0.0

#68392 Fix recording sample for run iterations in BulkBenchmarkTask
  client/benchmark/src/main/java/org/elasticsearch/client/benchmark/ops/bulk/BulkBenchmarkTask.java
Labels: :Core/Features/Java High Level REST Client, Team:Core/Features, v7.12.0

#68388 [7.11] [DOCS] Fix typo (#68364)
  docs/reference/search/point-in-time-api.asciidoc
  server/src/main/java/org/elasticsearch/search/builder/PointInTimeBuilder.java
Labels: backport, v7.11.1

#68391 Fix Partial Restore Of Snapshot Including DataStream (#68365)
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#68393 Fix Partial Restore Of Snapshot Including DataStream (#68365)
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: :Distributed/Snapshot/Restore, Team:Distributed, backport

#68352 SLM: max/after and max/failed fix
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotRetentionConfiguration.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/SnapshotRetentionConfigurationTests.java
Labels: :Core/Features/ILM+SLM, >bug, Team:Core/Features, v7.11.1, v7.12.0, v8.0.0

#68336 Scripting: Parse stdlib files for parameter names
  modules/lang-painless/build.gradle
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/ContextApiSpecGenerator.java
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/ContextGeneratorCommon.java
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/PainlessInfoJson.java
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/StdlibJavadocExtractor.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessContextConstructorInfo.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessContextFieldInfo.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessContextMethodInfo.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessContextTypeInfo.java
Labels: :Core/Infra/Scripting, Team:Core/Infra, backport, v7.12.0

#68361 Fix Issues with CS Handling in ILM Async Steps
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/AsyncActionStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/AsyncRetryDuringSnapshotActionStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CloseFollowerIndexStepTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/MoveToErrorStepUpdateTask.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/MoveToErrorStepUpdateTaskTests.java
Labels: :Core/Features/ILM+SLM, >bug, Team:Core/Features, v7.12.0, v8.0.0

#68398 Fix wrong totalIterationCount when running BulkIndexBenchmark
  client/benchmark/src/main/java/org/elasticsearch/client/benchmark/AbstractBenchmark.java
Labels: :Core/Features/Java High Level REST Client, Team:Core/Features, backport, v7.12.0

#67547 Refactor IndexMetadataUpgradeService to IndexMetadataVerifier
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadataVerifier.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/main/java/org/elasticsearch/gateway/LocalAllocateDangledIndices.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/HumanReadableIndexSettingsTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexMetadataVerifierTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayMetaStateTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  test/framework/src/main/java/org/elasticsearch/gateway/MockGatewayMetaState.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexStatsMonitoringDocTests.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v7.12.0, v8.0.0

#68330 [7.x] gradle rest resources plugin clean up (#68174)
  buildSrc/src/integTest/groovy/org/elasticsearch/gradle/RestResourcesPluginFuncTest.groovy
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestApiTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/CopyRestTestsTask.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/RestResourcesPlugin.java
  buildSrc/src/main/java/org/elasticsearch/gradle/test/rest/YamlRestTestPlugin.java
Labels: backport

#68402 Scripting: refactor use of stdlib extractor
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/PainlessInfoJson.java
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/StdlibJavadocExtractor.java
  modules/lang-painless/src/main/generated/whitelist-json/painless-boolean_script_field_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-date_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-double_script_field_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-geo_point_script_field_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-ingest.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-ip_script_field_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-long_script_field_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-painless_test.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-string_script_field_script_field.json
Labels: :Core/Infra/Scripting, >refactoring, Team:Core/Infra, v7.12.0, v8.0.0

#68401 [DOCS] Add links to ESS for setting up remote clusters on cloud.
  docs/reference/ccr/getting-started.asciidoc
  docs/reference/search/search-your-data/search-across-clusters.asciidoc
Labels: :Distributed/CCR, >docs, Team:Distributed, Team:Docs, v8.0.0

#68408 Refactor IndexMetadataUpgradeService to IndexMetadataVerifier
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadataVerifier.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/main/java/org/elasticsearch/gateway/LocalAllocateDangledIndices.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/HumanReadableIndexSettingsTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexMetadataVerifierTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayMetaStateTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  test/framework/src/main/java/org/elasticsearch/gateway/MockGatewayMetaState.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexStatsMonitoringDocTests.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, backport

#68411 Scripting: refactor use of stdlib extractor (#68402)
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/PainlessInfoJson.java
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/StdlibJavadocExtractor.java
  modules/lang-painless/src/main/generated/whitelist-json/painless-boolean_script_field_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-date_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-double_script_field_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-geo_point_script_field_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-ingest.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-ip_script_field_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-long_script_field_script_field.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-painless_test.json
  modules/lang-painless/src/main/generated/whitelist-json/painless-string_script_field_script_field.json
Labels: :Core/Infra/Scripting, Team:Core/Infra, backport, v7.12.0

#68399 It's flame graph time! (backport of #68312)
  benchmarks/README.md
  benchmarks/build.gradle
  buildSrc/version.properties
Labels: backport, v7.12.0

#68418 [DOCS] [7.x] Add links for setting up remote clusters on ESS (#68401)
  docs/reference/ccr/getting-started.asciidoc
  docs/reference/search/search-your-data/search-across-clusters.asciidoc
Labels: :Distributed/CCR, >docs, Team:Distributed, Team:Docs, backport, v7.12.0

#68260 Fix identification of action type in error message
  x-pack/plugin/ilm/qa/with-security/src/javaRestTest/java/org/elasticsearch/xpack/security/PermissionsIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/api_key/11_invalidation.yml
Labels: :Security/Authorization, >non-issue, Team:Security, v7.12.0, v8.0.0

#68263 [Backport] Add more context to cluster access denied messages
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/ClusterPermission.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ActionClusterPrivilege.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ManageOwnApiKeyClusterPrivilege.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/NamedClusterPrivilege.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/ClusterPermissionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolverTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/sql/qa/server/security/src/test/java/org/elasticsearch/xpack/sql/qa/security/JdbcSecurityIT.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/api_key/11_invalidation.yml
Labels: backport

#68358 [Test] Fix testKerberosGrantTypeWillFailOnBase64DecodeError
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/token/TransportCreateTokenActionTests.java
Labels: :Security/Authorization, >test, Team:Security, v7.12.0, v8.0.0

#68425 [Test] Fix testKerberosGrantTypeWillFailOnBase64DecodeError (#68358)
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/token/TransportCreateTokenActionTests.java
Labels: backport

#68426 [Backport] Fix identification of action type in error message
  x-pack/plugin/ilm/qa/with-security/src/javaRestTest/java/org/elasticsearch/xpack/security/PermissionsIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/src/test/resources/rest-api-spec/test/api_key/11_invalidation.yml
Labels: backport

#68412 [TEST] More details on multi-OS assertion
  test/framework/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
Labels: :Delivery/Build, >test, Team:Delivery, v8.0.0

#68409 [ML] Remove unused method in TransportStartDataFrameAnalyticsAction
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
Labels: :ml, >refactoring, v7.12.0, v8.0.0

#68429 [Transform] Set runtime mappings on search request in LatestContinuousIT
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/LatestContinuousIT.java
Labels: :ml/Transform, >test, v7.12.0, v8.0.0
