Repository elastic/elasticsearch, pull requests merged in 2021-09, with the labels that each got.

#77095 [DOCS] Add ILM error/troubleshooting info. Closes #75849 (#76957)
  docs/reference/ilm/error-handling.asciidoc
Labels: >docs, :Docs, backport, Team:Docs, v7.14.2

#77094 [DOCS] Add ILM error/troubleshooting info. Closes #75849 (#76957)
  docs/reference/ilm/error-handling.asciidoc
Labels: >docs, :Docs, backport, Team:Docs, v7.15.1

#77093 [DOCS] Add ILM error/troubleshooting info. Closes #75849 (#76957)
  docs/reference/ilm/error-handling.asciidoc
Labels: >docs, :Docs, backport, Team:Docs, v7.16.0

#76162 Replace Lucene DataInput/DataOutput with Elasticsearch StreamInput/StreamOutput when reading/writing geo_shape doc values
  server/src/main/java/org/elasticsearch/common/io/stream/ByteArrayStreamInput.java
  server/src/test/java/org/elasticsearch/common/io/stream/AbstractStreamTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/ByteArrayStreamInputTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/ByteBufferStreamInputTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/BytesReferenceStreamInputTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/InputStreamStreamInputTests.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/DimensionalShapeType.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/Extent.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeoShapeValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeometryDocValueReader.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeometryDocValueWriter.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeReader.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeWriter.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/AbstractGeoHashGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/AbstractGeoTileGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoGridTiler.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/Tile2DVisitorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoHashTilerTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/util/GeoTestUtils.java
Labels: :Analytics/Geo, :Distributed/Distributed, >refactoring, v8.0.0, Team:Distributed, Team:Analytics, v7.16.0

#77052 Refactor of GeoShape integration tests
  libs/geo/src/test/java/org/elasticsearch/geometry/utils/GeoHashTests.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoFilterIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoShapeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoShapeIntegrationIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/LegacyGeoShapeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/LegacyGeoShapeIntegrationIT.java
  server/src/test/java/org/elasticsearch/common/geo/builders/MultiPolygonBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/search/geo/GeoShapeIntegTestCase.java
Labels: :Analytics/Geo, >refactoring, v8.0.0, Team:Analytics, v7.16.0

#76985 Drop version field from changelog YAML
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/BreakingChangesGenerator.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ChangelogEntry.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/GenerateReleaseNotesTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/GitWrapper.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/QualifiedVersion.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseHighlightsGenerator.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseNotesGenerator.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseNotesIndexGenerator.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseNotesIndexUpdater.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseToolsPlugin.java
  build-tools-internal/src/main/resources/changelog-schema.json
  build-tools-internal/src/main/resources/templates/release-highlights.asciidoc
  build-tools-internal/src/main/resources/templates/release-notes-index.asciidoc
  build-tools-internal/src/main/resources/templates/release-notes.asciidoc
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/BreakingChangesGeneratorTest.java
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/GenerateReleaseNotesTaskTest.java
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/ReleaseHighlightsGeneratorTest.java
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/ReleaseNotesGeneratorTest.java
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/ReleaseNotesIndexGeneratorTest.java
  build-tools-internal/src/test/resources/org/elasticsearch/gradle/internal/release/BreakingChangesGeneratorTest.generateFile.asciidoc
  build-tools-internal/src/test/resources/org/elasticsearch/gradle/internal/release/ReleaseHighlightsGeneratorTest.generateFile.asciidoc
  build-tools-internal/src/test/resources/org/elasticsearch/gradle/internal/release/ReleaseNotesGeneratorTest.generateFile.asciidoc
  build-tools-internal/src/test/resources/org/elasticsearch/gradle/internal/release/ReleaseNotesIndexGeneratorTest.generateFile.asciidoc
  docs/changelog/70635.yaml
  docs/changelog/75981.yaml
  docs/changelog/76192.yaml
Labels: >enhancement, v8.0.0, Team:Delivery, :Delivery/Tooling

#77098 Replace Lucene DataInput/DataOutput with Elasticsearch StreamInput/StreamOutput when reading/writing geo_shape doc values (#76162)
  server/src/main/java/org/elasticsearch/common/io/stream/ByteArrayStreamInput.java
  server/src/test/java/org/elasticsearch/common/io/stream/AbstractStreamTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/ByteArrayStreamInputTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/ByteBufferStreamInputTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/BytesReferenceStreamInputTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/InputStreamStreamInputTests.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/DimensionalShapeType.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/Extent.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeoShapeValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeometryDocValueReader.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeometryDocValueWriter.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeReader.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeWriter.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/AbstractGeoHashGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/AbstractGeoTileGridTiler.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoGridTiler.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/Tile2DVisitorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/TriangleTreeTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoHashTilerTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/util/GeoTestUtils.java
Labels: >refactoring, backport, v7.16.0

#77099 Refactor of GeoShape integration tests (#77052)
  libs/geo/src/test/java/org/elasticsearch/geometry/utils/GeoHashTests.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoFilterIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoShapeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoShapeIntegrationIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/LegacyGeoShapeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/LegacyGeoShapeIntegrationIT.java
  server/src/test/java/org/elasticsearch/common/geo/builders/MultiPolygonBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/search/geo/GeoShapeIntegTestCase.java
Labels: >refactoring, backport, v7.16.0

#76551 Document general gradle build guidelines
  BUILDING.md
  CONTRIBUTING.md
Labels: >enhancement, :Delivery/Build, v8.0.0, Team:Delivery, v7.16.0, auto-backport-and-merge

#77063 Fix YamlRestTestPluginFuncTest on Windows
  build-tools/src/integTest/groovy/org/elasticsearch/gradle/test/YamlRestTestPluginFuncTest.groovy
Labels: >enhancement, :Delivery/Build, v8.0.0, Team:Delivery, auto-merge, v7.16.0

#76883 Handle cgroups v2 in `OsProbe`
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  server/src/main/java/org/elasticsearch/monitor/os/OsProbe.java
  server/src/main/resources/org/elasticsearch/bootstrap/security.policy
  server/src/test/java/org/elasticsearch/monitor/os/OsProbeTests.java
Labels: >enhancement, :Core/Infra/Core, v8.0.0, Team:Core/Infra, v7.16.0

#77104 [7.x] Document general gradle build guidelines (#76551)
  BUILDING.md
  CONTRIBUTING.md
Labels: backport, auto-merge, v7.16.0

#77100 Replace Lucene DataInput/DataOutput with Elasticsearch StreamInput/StreamOutput when reading/writing Histogram doc values
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
Labels: >non-issue, :Analytics/Aggregations, v8.0.0, Team:Analytics, v7.16.0

#77061 [7.x] Sync grok processor patterns with Logstash (#76752)
  libs/grok/build.gradle
  libs/grok/src/main/java/org/elasticsearch/grok/Grok.java
  libs/grok/src/main/resources/patterns/aws
  libs/grok/src/main/resources/patterns/bacula
  libs/grok/src/main/resources/patterns/bind
  libs/grok/src/main/resources/patterns/exim
  libs/grok/src/main/resources/patterns/firewalls
  libs/grok/src/main/resources/patterns/grok-patterns
  libs/grok/src/main/resources/patterns/haproxy
  libs/grok/src/main/resources/patterns/httpd
  libs/grok/src/main/resources/patterns/java
  libs/grok/src/main/resources/patterns/nagios
  libs/grok/src/main/resources/patterns/squid
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/120_grok.yml
Labels: >enhancement, :Data Management/Ingest, backport, Team:Data Management, v7.16.0

#77106 Reapply "Handle cgroups v2 in `OsProbe` (#76883)"
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  server/src/main/java/org/elasticsearch/monitor/os/OsProbe.java
  server/src/main/resources/org/elasticsearch/bootstrap/security.policy
  server/src/test/java/org/elasticsearch/monitor/os/OsProbeTests.java
Labels: >non-issue, :Core/Infra/Core, v8.0.0, Team:Core/Infra, v7.16.0

#77049 Implement Sort By Repository Name in Get Snapshots API
  docs/reference/snapshot-restore/apis/get-snapshot-api.asciidoc
  qa/smoke-test-http/src/test/java/org/elasticsearch/http/snapshots/RestGetSnapshotsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/GetSnapshotsIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
Labels: >enhancement, :Distributed/Snapshot/Restore, v8.0.0, Team:Distributed, v8.0.0-alpha1, v7.16.0

#77107 Replace Lucene DataInput/DataOutput with Elasticsearch StreamInput/StreamOutput when reading/writing Histogram doc values (#77100)
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
Labels: >non-issue, backport, v7.16.0

#77110 Re-enable REST compatibility test after backport of #76752
  modules/ingest-common/build.gradle
Labels: >non-issue, v8.0.0

#76992 Adds support for the rate aggregation under a composite agg
  docs/reference/aggregations/metrics/rate-aggregation.asciidoc
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/DateHistogramValuesSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/DateHistogramValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/RoundingValuesSource.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/rate/AbstractRateAggregator.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/rate/RateAggregatorTests.java
Labels: >enhancement, :Analytics/Aggregations, v8.0.0, Team:Analytics, v7.16.0, auto-backport-and-merge

#76789 [ML] track feature usage for data frame analytics, inference, and anomaly jobs
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/GetFeatureUsageResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicensedFeature.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/TransportGetFeatureUsageAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/GetFeatureUsageResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/XPackLicenseStateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfigTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/ModelInferenceActionIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/TestFeatureLicenseTrackingIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/loadingservice/ModelLoadingService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/snapshot/upgrader/SnapshotUpgradeTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/snapshot/upgrader/SnapshotUpgradeTaskExecutor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/JobTask.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTaskTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/loadingservice/ModelLoadingServiceTests.java
Labels: >enhancement, :ml, v8.0.0, Team:ML, v7.16.0, auto-backport-and-merge

#77112 Implement Sort By Repository Name in Get Snapshots API (#77049)
  docs/reference/snapshot-restore/apis/get-snapshot-api.asciidoc
  qa/smoke-test-http/src/test/java/org/elasticsearch/http/snapshots/RestGetSnapshotsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/GetSnapshotsIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
Labels: >enhancement, :Distributed/Snapshot/Restore, backport, Team:Distributed, v7.16.0

#77109 [ML] Fix failure on datafeed preview with date_nanos time field
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/preview_datafeed.yml
Labels: >bug, :ml, v8.0.0, Team:ML, v7.15.0, v7.16.0, auto-backport-and-merge, v7.14.2

#77084 [ML] generalize pytorch sentiment analysis to text classification
  docs/reference/ml/df-analytics/apis/infer-trained-model-deployment.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/SentimentAnalysisResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/TextClassificationResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/TopClassEntry.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/WarningInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextClassificationConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/TextClassificationResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextClassificationConfigTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/TaskType.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/TextClassificationProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/TextClassificationProcessorTests.java
Labels: >non-issue, :ml, v8.0.0, Team:ML, auto-merge

#77113 [7.x] Adds support for the rate aggregation under a composite agg (#76992)
  docs/reference/aggregations/metrics/rate-aggregation.asciidoc
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/DateHistogramValuesSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/DateHistogramValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/RoundingValuesSource.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/rate/AbstractRateAggregator.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/rate/RateAggregatorTests.java
Labels: backport, auto-merge, v7.16.0

#77089 Centralize doc values checking
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DoubleScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/LongScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/MappedFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/IpScriptFieldTypeTests.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
Labels: >non-issue, :Search/Mapping, v8.0.0, Team:Search, v7.16.0, auto-backport-and-merge

#77121 [7.14] [ML] Fix failure on datafeed preview with date_nanos time field (#77109)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/preview_datafeed.yml
Labels: backport, auto-merge, v7.14.2

#77039 Use a real out of memory error in die with dignity
  qa/die-with-dignity/src/javaRestTest/java/org/elasticsearch/qa/die_with_dignity/DieWithDignityIT.java
  qa/die-with-dignity/src/main/java/org/elasticsearch/RestDieWithDignityAction.java
Labels: :Core/Infra/Core, v8.0.0, Team:Core/Infra, v7.16.0

#77119 [7.15] [ML] Fix failure on datafeed preview with date_nanos time field (#77109)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/preview_datafeed.yml
Labels: backport, auto-merge, v7.15.1

#77120 [7.x] [ML] Fix failure on datafeed preview with date_nanos time field (#77109)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/preview_datafeed.yml
Labels: backport, auto-merge, v7.16.0

#76971 Add release notes for 7.14.1 release.
  docs/reference/release-notes/7.14.asciidoc
Labels: >docs, Team:Docs, v7.14.1, v7.16.0, v7.15.1, auto-backport-and-merge

#77115 [7.x] [ML] track feature usage for data frame analytics, inference, and anomaly jobs (#76789)
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/GetFeatureUsageResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicensedFeature.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/TransportGetFeatureUsageAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/GetFeatureUsageResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/XPackLicenseStateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfigTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/ModelInferenceActionIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/TestFeatureLicenseTrackingIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/loadingservice/ModelLoadingService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/snapshot/upgrader/SnapshotUpgradeTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/snapshot/upgrader/SnapshotUpgradeTaskExecutor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/JobTask.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsTaskTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/loadingservice/ModelLoadingServiceTests.java
Labels: backport, auto-merge, v7.16.0

#77125 Rework how we render groovy templates for docs
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/BreakingChangesGenerator.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseHighlightsGenerator.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseNotesGenerator.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseNotesIndexGenerator.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/TemplateUtils.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ValidateChangelogEntryTask.java
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/BreakingChangesGeneratorTest.java
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/GenerateReleaseNotesTaskTest.java
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/ReleaseHighlightsGeneratorTest.java
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/ReleaseNotesGeneratorTest.java
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/ReleaseNotesIndexGeneratorTest.java
Labels: >enhancement, v8.0.0, Team:Delivery, :Delivery/Tooling, v7.16.0

#77124 [7.x] Centralize doc values checking (#77089)
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/ScaledFloatFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DoubleScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/LongScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/MappedFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/IpScriptFieldTypeTests.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
Labels: backport, auto-merge, v7.16.0

#77118 Replace Lucene DataInput/DataOutput with Elasticsearch StreamInput/StreamOutput
  build-tools-internal/src/main/resources/forbidden/es-all-signatures.txt
  server/src/main/java/org/apache/lucene/queries/BinaryDocValuesRangeQuery.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchHelper.java
  server/src/main/java/org/elasticsearch/common/io/stream/ByteArrayStreamInput.java
  server/src/main/java/org/elasticsearch/common/util/ByteUtils.java
  server/src/main/java/org/elasticsearch/index/fielddata/plain/AbstractBinaryDVLeafFieldData.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryRangeUtil.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeType.java
  server/src/test/java/org/elasticsearch/common/util/ByteUtilsTests.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/BinaryDvConfirmedAutomatonQuery.java
Labels: :Search/Search, >refactoring, v8.0.0, Team:Search, v7.16.0, auto-backport-and-merge

#75759 [ML] Multiple items in a single inference request
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/InferTrainedModelDeploymentAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/MlParserUtils.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/PyTorchResult.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/BertRequestBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/DistilBertRequestBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/FillMaskProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NerProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NlpTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/PassThroughProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/TextClassificationProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BertTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/NlpTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/TokenizationResult.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/deployment/PyTorchResultTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/BertRequestBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/DistilBertRequestBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/FillMaskProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/NerProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/TextClassificationProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BertTokenizerTests.java
Labels: :ml, v8.0.0, Team:ML

#77117 [DOCS] Clarify indexing a runtime field
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, :Search/Mapping, v8.0.0, Team:Docs, Team:Search, auto-backport, v7.15.0, v7.16.0, v7.14.2

#76903 Add matching pattern to error in fields
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/330_fetch_fields.yml
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldFetcher.java
  x-pack/qa/runtime-fields/build.gradle
Labels: >non-issue, :Search/Search, v8.0.0, Team:Search, v8.0.0-alpha1, v7.16.0, auto-backport-and-merge

#77130 Indexing_data/lz4, recover from snapshot ESS only
  docs/reference/modules/indices/recovery.asciidoc
  docs/reference/modules/remote-clusters.asciidoc
  docs/reference/modules/transport.asciidoc
Labels: >docs, :Distributed/Network, :Distributed/Recovery, Team:Distributed, Team:Docs, v7.15.0, v7.16.0

#77041 [DOCS] Replaces index pattern in ML docs
  docs/reference/ml/anomaly-detection/ml-configuring-url.asciidoc
Labels: >docs, :ml, v8.0.0, Team:Docs, Team:ML

#77038 [DOCS] Update SAML URLs
  x-pack/docs/en/rest-api/security/saml-prepare-authentication-api.asciidoc
  x-pack/docs/en/rest-api/security/saml-sp-metadata.asciidoc
  x-pack/docs/en/security/authentication/saml-guide.asciidoc
  x-pack/docs/en/security/authentication/saml-realm.asciidoc
  x-pack/docs/en/security/troubleshooting.asciidoc
  x-pack/plugin/identity-provider/docs/en/rest-api/idp-saml-init.asciidoc
Labels: >docs, :Security/Authentication, Team:Docs, Team:Security, auto-backport, v7.15.0, v7.16.0, v7.14.2

#77139 [7.x] [DOCS] Clarify indexing a runtime field (#77117)
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, backport, Team:Docs, v7.16.0

#77140 [7.15] [DOCS] Clarify indexing a runtime field (#77117)
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, backport, Team:Docs, v7.15.1

#77141 [7.14] [DOCS] Clarify indexing a runtime field (#77117)
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, backport, Team:Docs, v7.14.2

#77111 Fix Queued Snapshot Clone not Starting after Data Node Drops Out
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CloneSnapshotIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: >bug, :Distributed/Snapshot/Restore, v8.0.0, Team:Distributed, v7.15.0, v7.16.0, v7.14.2

#77143 [7.14] [DOCS] Add ES security principles (#76850) (#77082)
  docs/reference/redirects.asciidoc
  docs/reference/scripting/security.asciidoc
  x-pack/docs/en/security/es-security-principles.asciidoc
  x-pack/docs/en/security/index.asciidoc
Labels: >docs, backport, Team:Docs, v7.14.1, v7.14.2

#77145 Compatible REST API - minor build clean up
  modules/lang-painless/build.gradle
  rest-api-spec/build.gradle
Labels: >non-issue, :Delivery/Build, v8.0.0, Team:Delivery, test-windows

#76627 Adding deprecation checks for geo_shape parameters
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecksTests.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecksTests.java
Labels: v7.16.0

#76986 Adding deprecation info messages for obsolete security settings
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#76954 adding a deprecation info check for search.remote properties
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#77133 Change deprecation info message level to warning for underscore realms
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#76516 Deprecate single-tier allocation filtering settings
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/IndexDeprecationChecksTests.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#77159 Fix randomAuthentication by removing duplicate key
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationTests.java
Labels: >test, :Security/Security, v8.0.0, Team:Security, v7.16.0, auto-backport-and-merge

#76881 Execute EnrichPolicyRunner on a non dedicated master node.
  x-pack/plugin/enrich/src/internalClusterTest/java/org/elasticsearch/xpack/enrich/EnrichMultiNodeIT.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/ExecuteEnrichPolicyTask.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/InternalExecutePolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportExecuteEnrichPolicyAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/InternalExecutePolicyActionTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >bug, :Data Management/Ingest, Team:Data Management, v7.15.0, v8.0.0-alpha1

#76898 Prioritize IPv4 addresses in the enrollment token
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/enrollment/EnrollmentTokenGenerator.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/enrollment/EnrollmentTokenGeneratorTests.java
Labels: >non-issue, :Security/Security, v8.0.0, Team:Security

#77131 Fix NumberFieldMapper Referencing its Own Builder
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
Labels: >non-issue, :Search/Mapping, v8.0.0, Team:Search, v7.16.0

#77147 EQL: Sequences will now support nano-timestamps (backport of #76953)
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/DataLoader.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlDateNanosSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlExtraSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlSpecLoader.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/EqlSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/resources/data/endgame-140-nanos.mapping
  x-pack/plugin/eql/qa/common/src/main/resources/data/eql_date_nanos.data
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries.toml
  x-pack/plugin/eql/qa/common/src/main/resources/test_queries_date_nanos.toml
  x-pack/plugin/eql/qa/multi-cluster-with-security/src/test/java/org/elasticsearch/xpack/eql/EqlDateNanosIT.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/assembler/BoxedQueryRequest.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/assembler/Criterion.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/MillisTimestamp.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/NanosTimestamp.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/Ordinal.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/Timestamp.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/extractor/TimestampFieldHitExtractor.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sequence/SequenceMatcher.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/assembler/ImplicitTiebreakerTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/assembler/SequenceSpecTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/search/CriterionOrdinalExtractionTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/search/OrdinalTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/sequence/CircuitBreakerTests.java
Labels: v7.16.0

#77164 [7.x] Execute EnrichPolicyRunner on a non dedicated master node.
  x-pack/plugin/enrich/src/internalClusterTest/java/org/elasticsearch/xpack/enrich/EnrichMultiNodeIT.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutor.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/ExecuteEnrichPolicyTask.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/InternalExecutePolicyAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportExecuteEnrichPolicyAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyExecutorTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/InternalExecutePolicyActionTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: backport, v7.16.0

#77167 Adjust bwc logic after backporting #76881
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/InternalExecutePolicyAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/InternalExecutePolicyActionTests.java
Labels: >non-issue, v8.0.0

#76889 Add a unit test verifying that the IPv6 scope id is optional for node ips
  server/src/test/java/org/elasticsearch/common/network/InetAddressesTests.java
Labels: >test, v8.0.0, Team:Distributed, auto-backport, v7.16.0

#75583 Fix FollowingEngineTests#testOptimizeMultipleVersions
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngine.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: >test, :Distributed/CCR, v8.0.0, Team:Distributed, auto-backport, v7.16.0

#77168 Fix NumberFieldMapper Referencing its Own Builder (#77131)
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
Labels: >non-issue, :Search/Mapping, backport, Team:Search, v7.16.0

#77169 [7.x] Add a unit test verifying that the IPv6 scope id is optional for node ips (#76889)
  server/src/test/java/org/elasticsearch/common/network/InetAddressesTests.java
Labels: backport, v7.16.0

#77175 Mute test LegacyGeoShapeIT#testBulk
  test/framework/src/main/java/org/elasticsearch/search/geo/GeoShapeIntegTestCase.java
Labels: :Analytics/Geo, v8.0.0, >test-mute, Team:Analytics

#77149 [7.15] [DOCS] Update SAML URLs (#77038)
  x-pack/docs/en/rest-api/security/saml-prepare-authentication-api.asciidoc
  x-pack/docs/en/rest-api/security/saml-sp-metadata.asciidoc
  x-pack/docs/en/security/authentication/saml-guide.asciidoc
  x-pack/docs/en/security/authentication/saml-realm.asciidoc
  x-pack/docs/en/security/troubleshooting.asciidoc
  x-pack/plugin/identity-provider/docs/en/rest-api/idp-saml-init.asciidoc
Labels: >docs, backport, Team:Docs, v7.15.0

#77150 [7.14] [DOCS] Update SAML URLs (#77038)
  x-pack/docs/en/rest-api/security/saml-prepare-authentication-api.asciidoc
  x-pack/docs/en/rest-api/security/saml-sp-metadata.asciidoc
  x-pack/docs/en/security/authentication/saml-guide.asciidoc
  x-pack/docs/en/security/authentication/saml-realm.asciidoc
  x-pack/docs/en/security/troubleshooting.asciidoc
  x-pack/plugin/identity-provider/docs/en/rest-api/idp-saml-init.asciidoc
Labels: >docs, backport, Team:Docs, v7.14.2

#77146 [DOCS] Update saml acs with new URL
  x-pack/docs/build.gradle
  x-pack/docs/en/rest-api/security/saml-prepare-authentication-api.asciidoc
  x-pack/docs/en/rest-api/security/saml-sp-metadata.asciidoc
Labels: >docs, Team:Docs, v7.16.0

#77170 [7.x] Fix FollowingEngineTests#testOptimizeMultipleVersions (#75583)
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngine.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: backport, v7.16.0

#77177 Fix Temporarily Leaking Shard Level Metadata Blobs in some Cases (#76562)
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/repositories/FinalizeSnapshotContext.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, v7.16.0

#77180 [7.15] [DOCS] Update saml acs with new URL (#77146)
  x-pack/docs/build.gradle
  x-pack/docs/en/rest-api/security/saml-prepare-authentication-api.asciidoc
  x-pack/docs/en/rest-api/security/saml-sp-metadata.asciidoc
Labels: >docs, backport, Team:Docs, v7.15.0

#77181 [7.14] [DOCS] Update saml acs with new URL (#77146)
  x-pack/docs/build.gradle
  x-pack/docs/en/rest-api/security/saml-prepare-authentication-api.asciidoc
  x-pack/docs/en/rest-api/security/saml-sp-metadata.asciidoc
Labels: >docs, backport, Team:Docs, v7.14.1, v7.14.2

#77173 [DOCS] Fix styling of deprecation message
  docs/reference/index-modules/allocation/data_tier_allocation.asciidoc
Labels: >docs, Team:Docs, v7.15.0, v7.13.5, v7.16.0, v7.14.2

#77184 [7.15] [DOCS] Fix styling of deprecation message (#77173)
  docs/reference/index-modules/allocation/data_tier_allocation.asciidoc
Labels: >docs, backport, Team:Docs, v7.15.1

#77185 [7.14] [DOCS] Fix styling of deprecation message (#77173)
  docs/reference/index-modules/allocation/data_tier_allocation.asciidoc
Labels: >docs, backport, Team:Docs, v7.14.2

#77186 [7.13] [DOCS] Fix styling of deprecation message (#77173)
  docs/reference/index-modules/allocation/data_tier_allocation.asciidoc
Labels: >docs, backport, Team:Docs, v7.13.5

#77166 Single node disk watermark deprecation is warning
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: >bug, :Distributed/Allocation, Team:Distributed, v7.16.0, v7.15.1

#76974 Recovery stats test verify recovered from snapshot
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.recovery/10_basic.yml
Labels: >test, :Distributed/Recovery, v8.0.0, Team:Distributed

#76944 Adding a deprecation info check for cluster.join.timeout
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#76990 Feature/deprecation info max local storage nodes
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#77192 Add methods to retrieve doc and/or metadata fields only from SearchHit
  server/src/internalClusterTest/java/org/elasticsearch/search/fields/SearchFieldsIT.java
  server/src/main/java/org/elasticsearch/search/SearchHit.java
Labels: :Search/Search, v8.0.0, Team:Search, v7.16.0, v7.15.1, auto-backport-and-merge

#77198 [7.15] Add methods to retrieve doc and/or metadata fields only from SearchHit (#77192)
  server/src/internalClusterTest/java/org/elasticsearch/search/fields/SearchFieldsIT.java
  server/src/main/java/org/elasticsearch/search/SearchHit.java
Labels: backport, auto-merge, v7.15.1

#77202 Muting test for issue #77182
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/TestFeatureLicenseTrackingIT.java
Labels: :ml, v8.0.0, >test-mute, Team:ML, auto-merge

#77197 [7.x] Add methods to retrieve doc and/or metadata fields only from SearchHit (#77192)
  server/src/internalClusterTest/java/org/elasticsearch/search/fields/SearchFieldsIT.java
  server/src/main/java/org/elasticsearch/search/SearchHit.java
Labels: backport, auto-merge, v7.16.0

#76995 Adding a deprecation info check for fixed_auto_queue_size threadpool settings
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#77042 Adding deprecation info API checks for delay cluster state recovery settings
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#77191 Add matching pattern to error in fields (backport of #76903)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/330_fetch_fields.yml
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldFetcher.java
  x-pack/qa/runtime-fields/build.gradle
Labels: backport, v7.16.0

#76999 Adding deprecation info API check for client transport profile setting
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#77187 Remove ES_PATH_CONF
  x-pack/docs/en/security/configuring-stack-security.asciidoc
Labels: >docs, v8.0.0, Team:Docs, v8.0.0-alpha1

#77209 Make DataStreamTimestampFieldMapper a Singleton
  server/src/main/java/org/elasticsearch/index/mapper/DataStreamTimestampFieldMapper.java
Labels: >non-issue, v8.0.0, :Data Management/Data streams, Team:Data Management, v7.16.0

#77016 Remove unused geo module
  modules/geo/build.gradle
  modules/geo/src/main/java/org/elasticsearch/geo/GeoPlugin.java
  modules/geo/src/yamlRestTest/java/org/elasticsearch/geo/GeoClientYamlTestSuiteIT.java
  modules/geo/src/yamlRestTest/resources/rest-api-spec/test/geo_shape/10_basic.yml
  modules/percolator/build.gradle
  modules/percolator/src/internalClusterTest/java/org/elasticsearch/percolator/PercolatorQuerySearchIT.java
  x-pack/plugin/enrich/build.gradle
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/BasicEnrichTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
  x-pack/plugin/spatial/build.gradle
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
Labels: >non-issue, :Analytics/Geo, :Core/Infra/Plugins, v8.0.0, Team:Core/Infra, Team:Analytics, v7.16.0

#77225 Remove unused geo module (#77016)
  modules/geo/build.gradle
  modules/geo/src/main/java/org/elasticsearch/geo/GeoPlugin.java
  modules/geo/src/yamlRestTest/java/org/elasticsearch/geo/GeoClientYamlTestSuiteIT.java
  modules/geo/src/yamlRestTest/resources/rest-api-spec/test/geo_shape/10_basic.yml
  modules/percolator/build.gradle
  modules/percolator/src/internalClusterTest/java/org/elasticsearch/percolator/PercolatorQuerySearchIT.java
  x-pack/plugin/enrich/build.gradle
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/BasicEnrichTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
  x-pack/plugin/spatial/build.gradle
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
Labels: >non-issue, backport, v7.16.0

#77208 Anonymize AbstractRefCounted
  libs/core/src/main/java/org/elasticsearch/core/AbstractRefCounted.java
  libs/core/src/test/java/org/elasticsearch/common/util/concurrent/RefCountedTests.java
  libs/nio/src/main/java/org/elasticsearch/nio/Page.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/SharedGroupFactory.java
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AmazonEc2Reference.java
  plugins/repository-s3/src/main/java/org/elasticsearch/repositories/s3/AmazonS3Reference.java
  plugins/transport-nio/src/main/java/org/elasticsearch/transport/nio/NioGroupFactory.java
  server/src/main/java/org/elasticsearch/common/bytes/ReleasableBytesReference.java
  server/src/main/java/org/elasticsearch/common/util/CancellableSingleObjectCache.java
  server/src/main/java/org/elasticsearch/http/AbstractHttpServerTransport.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/indices/recovery/MultiFileWriter.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/main/java/org/elasticsearch/search/internal/ReaderContext.java
  server/src/main/java/org/elasticsearch/transport/ClusterConnectionManager.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  test/framework/src/main/java/org/elasticsearch/transport/nio/MockNioTransport.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRestoreSourceService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/common/CacheFile.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/shared/FrozenCacheService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/shared/SharedBytes.java
Labels: :Core/Infra/Core, >refactoring, v8.0.0, Team:Core/Infra, v7.16.0

#77196 Avoid redundant connections in ClusterConnectionManager
  server/src/main/java/org/elasticsearch/transport/ClusterConnectionManager.java
Labels: >non-issue, :Distributed/Network, v8.0.0, Team:Distributed, v7.16.0

#76800 Add enrich node cache
  client/rest-high-level/src/main/java/org/elasticsearch/client/enrich/StatsResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/enrich/StatsResponseTests.java
  docs/reference/ingest/apis/enrich/enrich-stats.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/action/EnrichStatsAction.java
  x-pack/plugin/enrich/src/internalClusterTest/java/org/elasticsearch/xpack/enrich/EnrichMultiNodeIT.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichCache.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactory.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorStatsAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportEnrichStatsAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichCacheTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactoryTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichResiliencyTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/EnrichStatsResponseTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/LocalStateMonitoring.java
Labels: >enhancement, :Data Management/Ingest, v8.0.0, Team:Data Management, v7.16.0

#77194 Move PeerFinder inner interfaces to top level
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/discovery/ConfiguredHostsResolver.java
  server/src/main/java/org/elasticsearch/discovery/HandshakingTransportAddressConnector.java
  server/src/main/java/org/elasticsearch/discovery/PeerFinder.java
  server/src/main/java/org/elasticsearch/discovery/SeedHostsResolver.java
  server/src/main/java/org/elasticsearch/discovery/TransportAddressConnector.java
  server/src/test/java/org/elasticsearch/discovery/PeerFinderTests.java
Labels: >refactoring, :Distributed/Cluster Coordination, v8.0.0, Team:Distributed, v7.16.0

#77228 Flip http methods in _mvt rest-api-spec
  rest-api-spec/src/main/resources/rest-api-spec/api/search_mvt.json
Labels: v8.0.0, Team:Clients, v7.15.0, auto-backport-and-merge

#77230 [7.15] Flip HTTP methods in _mvt rest-api-spec (#77228)
  rest-api-spec/src/main/resources/rest-api-spec/api/search_mvt.json
Labels: backport, auto-merge, v7.15.1

#77216 Make DataStreamTimestampFieldMapper a Singleton (#77209)
  server/src/main/java/org/elasticsearch/index/mapper/DataStreamTimestampFieldMapper.java
Labels: >non-issue, backport, :Data Management/Data streams, Team:Data Management, v7.16.0

#77201 Fix MatchOnlyTextFieldMapper Retaining a Reference to its Builder
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/MatchOnlyTextFieldMapper.java
Labels: >non-issue, :Search/Mapping, v8.0.0, Team:Search, v7.16.0

#77232 Disable bwc tests for backporting #76800
  build.gradle
Labels: v8.0.0, >test-mute

#77229 [7.x] Add enrich node cache
  client/rest-high-level/src/main/java/org/elasticsearch/client/enrich/StatsResponse.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/enrich/StatsResponseTests.java
  docs/reference/ingest/apis/enrich/enrich-stats.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/action/EnrichStatsAction.java
  x-pack/plugin/enrich/src/internalClusterTest/java/org/elasticsearch/xpack/enrich/EnrichMultiNodeIT.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichCache.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPlugin.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactory.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorStatsAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/TransportEnrichStatsAction.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichCacheTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactoryTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichResiliencyTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/EnrichStatsResponseTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollectorTests.java
Labels: backport, v7.16.0

#77206 [ML] Retain job task upon fail during opening
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
Labels: >bug, :ml, v8.0.0, Team:ML, v7.15.0, v7.16.0, auto-backport-and-merge, v7.14.2

#77235 Enable bwc tests after backporting #76800
  build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/enrich/action/EnrichStatsAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorStatsAction.java
Labels: >non-issue, v8.0.0

#77236 [7.15] [ML] Retain job task upon fail during opening (#77206)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
Labels: backport, auto-merge, v7.15.1

#77233 Fix MatchOnlyTextFieldMapper Retaining a Reference to its Builder (#77201)
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/MatchOnlyTextFieldMapper.java
Labels: >non-issue, :Search/Mapping, backport, Team:Search, v7.16.0

#77237 [7.x] [ML] Retain job task upon fail during opening (#77206)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
Labels: backport, auto-merge, v7.16.0

#77239 [7.14][ML] Retain job task upon fail during opening (#77206)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
Labels: >bug, backport, auto-merge, v7.14.2

#77203 EQL: Use the document fields only excluding the metadata fields
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/payload/EventPayload.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sequence/SequencePayload.java
Labels: >bug, v8.0.0, :Query Languages/EQL, Team:QL, v7.16.0, v7.15.1, auto-backport-and-merge

#77204 [Transform] Don't search if all indices are unchanged between checkpoints
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexer.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexerTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexerTests.java
Labels: >non-issue, v8.0.0, :ml/Transform, Team:ML, v7.16.0, auto-backport-and-merge

#76808 Type Migration: introducing primitive functional interfaces
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/main/java/org/elasticsearch/indices/recovery/SnapshotFilesProvider.java
  server/src/test/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetServiceTests.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/AbstractBlobContainerRetriesTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedRunner.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/AbstractExpiredJobDataRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/EmptyStateIndexRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredForecastsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/MlDataRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/UnusedStateRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/UnusedStatsRemover.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportDeleteExpiredDataActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderServiceTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/function/scalar/whitelist/InternalQlScriptUtils.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/nulls/CheckNullProcessor.java
Labels: >non-issue, >refactoring, v8.0.0, Team:Core/Infra, external-contributor, auto-backport, v7.16.0

#77244 [7.15] Use the document fields only, excluding the metadata fields (#77203)
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/payload/EventPayload.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sequence/SequencePayload.java
Labels: backport, auto-merge, v7.15.1

#77247 [DOCS] Fixes section IDs in start/stop trained model deployment APIs.
  docs/reference/ml/df-analytics/apis/start-trained-model-deployment.asciidoc
  docs/reference/ml/df-analytics/apis/stop-trained-model-deployment.asciidoc
Labels: >docs, :ml, v8.0.0, Team:Docs, Team:ML

#77144 Convert 'routing' values in REST API tests to strings
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/11_parent_child.yml
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/30_inner_hits.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/reindex/95_parent_join.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/create/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/delete/30_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/exists/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get_source/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/index/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.update_aliases/20_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mget/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/20_terms.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/update/40_routing.yml
Labels: :Core/Infra/REST API, v8.0.0, Team:Core/Infra, Team:Clients, external-contributor, v7.16.0, v7.15.1, auto-backport-and-merge

#77248 [DOCS] Fixes line breaks in ML APIs
  docs/reference/ml/df-analytics/apis/start-trained-model-deployment.asciidoc
  docs/reference/ml/df-analytics/apis/stop-trained-model-deployment.asciidoc
Labels: >docs, :ml, v8.0.0, Team:Docs, Team:ML

#77245 [7.x] [Transform] Don't search if all indices are unchanged between checkpoints (#77204)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexer.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexerTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexerTests.java
Labels: backport, auto-merge, v7.16.0

#77217 Format `AbstractFilteringTestCase`
  build-tools-internal/src/main/groovy/elasticsearch.formatting.gradle
  server/src/test/java/org/elasticsearch/common/xcontent/support/AbstractFilteringTestCase.java
  server/src/test/java/org/elasticsearch/common/xcontent/support/XContentMapValuesTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/support/filtering/AbstractXContentFilteringTestCase.java
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_authors.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_authors_lastname.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_pr.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_properties_distributors_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_properties_en_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_properties_en_no_distributors_name_no_street.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_properties_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_properties_no_distributors.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_tags_authors_no_name.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_authors.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_authors_lastname.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_pr.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_properties_distributors_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_properties_en_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_properties_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_tags.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_title.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_title_pages.json
Labels: >test, :Core/Infra/Core, v8.0.0, Team:Core/Infra, v7.16.0, auto-backport-and-merge

#60564 Only check inactive replicas in cancelling existing recoveries.
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/gateway/GatewayAllocator.java
Labels: :Distributed/Allocation, Team:Distributed

#77213 [ML] Fix bug in inference stats persister for when feature reset is called
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/TestFeatureLicenseTrackingIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/TrainedModelStatsService.java
Labels: >bug, :ml, v8.0.0, Team:ML, v7.16.0, auto-backport-and-merge

#77189 [ML] adding new defer_definition_decompression parameter to put trained model API
  docs/reference/ml/df-analytics/apis/put-trained-models.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/ml.put_trained_model.json
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PutTrainedModelAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PutTrainedModelActionRequestTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/TestFeatureResetIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/license/MachineLearningLicensingIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/TestFeatureLicenseTrackingIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/UnusedStatsRemoverIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutTrainedModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestPutTrainedModelAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/inference_crud.yml
Labels: >enhancement, :ml, v8.0.0, Team:Clients, Team:ML, v7.16.0

#77212 Update skip after backport
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/330_fetch_fields.yml
Labels: backport, v8.0.0

#77250 [7.15] Convert 'routing' values in REST API tests to strings (#77144)
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/11_parent_child.yml
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/30_inner_hits.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/reindex/95_parent_join.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/create/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/delete/30_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/exists/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get_source/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/index/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.update_aliases/20_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mget/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/20_terms.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/update/40_routing.yml
Labels: backport, external-contributor, auto-merge, v7.15.1

#75195 Add segment sorter for data streams
  server/src/internalClusterTest/java/org/elasticsearch/indices/IndexingMemoryControllerIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/indices/IndexingMemoryControllerTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/MigrateToDataTiersIT.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/data_stream/131_sort_segments_migrate_to_data_stream.yml
Labels: >enhancement, :Search/Search, v8.0.0, Team:Search, v7.16.0

#77249 [7.x] Convert 'routing' values in REST API tests to strings (#77144)
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/11_parent_child.yml
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/30_inner_hits.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/reindex/95_parent_join.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/create/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/delete/30_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/exists/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get_source/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/index/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.update_aliases/20_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mget/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/20_terms.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/update/40_routing.yml
Labels: backport, external-contributor, auto-merge, v7.16.0

#77234 Choose postings format from FieldMapper instead of MappedFieldType
  server/src/internalClusterTest/java/org/elasticsearch/indices/IndexingMemoryControllerIT.java
  server/src/main/java/org/elasticsearch/index/codec/CodecService.java
  server/src/main/java/org/elasticsearch/index/codec/PerFieldMappingPostingFormatCodec.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/codec/CodecTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/mapper/CompletionFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/indices/IndexingMemoryControllerTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: >bug, :Search/Mapping, :Distributed/Engine, v8.0.0, Team:Distributed, Team:Search, v7.16.0, v7.15.1, auto-backport-and-merge

#76513 Remove escape hatch permitting incompatible builds
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: Team:Data Management, v7.16.0

#77254 Format `AbstractFilteringTestCase` (backport of #77217)
  build-tools-internal/src/main/groovy/elasticsearch.formatting.gradle
  server/src/test/java/org/elasticsearch/common/xcontent/support/AbstractFilteringTestCase.java
  server/src/test/java/org/elasticsearch/common/xcontent/support/XContentMapValuesTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/support/filtering/AbstractXContentFilteringTestCase.java
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_authors.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_authors_lastname.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_pr.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_properties_distributors_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_properties_en_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_properties_en_no_distributors_name_no_street.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_properties_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_properties_no_distributors.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_just_tags_authors_no_name.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_authors.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_authors_lastname.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_pr.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_properties_distributors_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_properties_en_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_properties_names.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_tags.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_title.json
  server/src/test/resources/org/elasticsearch/common/xcontent/support/sample_no_title_pages.json
Labels: backport, auto-merge, v7.16.0

#77128 Handle cgroups v2 in `OsProbe`
  docs/changelog/77128.yaml
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Packages.java
  server/src/main/java/org/elasticsearch/monitor/os/OsProbe.java
  server/src/main/resources/org/elasticsearch/bootstrap/security.policy
  server/src/test/java/org/elasticsearch/monitor/os/OsProbeTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
Labels: >enhancement, :Delivery/Packaging, :Core/Infra/Core, v8.0.0, Team:Core/Infra, Team:Delivery, v7.16.0

#77258 [7.x] Flip HTTP methods in _mvt rest-api-spec (#77228)
  rest-api-spec/src/main/resources/rest-api-spec/api/search_mvt.json
Labels: backport, external-contributor, auto-merge, v7.16.0

#77218 Move `index.hidden` from Static to Dynamic settings
  docs/reference/index-modules.asciidoc
Labels: >docs, :Core/Infra/Core, v8.0.0, Team:Core/Infra, Team:Docs, v7.16.0, v7.15.1, auto-backport-and-merge

#77252 [7.x] [ML] Fix bug in inference stats persister for when feature reset is called (#77213)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/TrainedModelStatsService.java
Labels: :ml, backport, Team:ML, auto-merge, v7.16.0

#77256 [7.x] [ML] adding new defer_definition_decompression parameter to put trained model API (#77189)
  docs/reference/ml/df-analytics/apis/put-trained-models.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/ml.put_trained_model.json
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PutTrainedModelAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/PutTrainedModelActionRequestTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/license/MachineLearningLicensingIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/TestFeatureLicenseTrackingIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/UnusedStatsRemoverIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutTrainedModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestPutTrainedModelAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/inference_crud.yml
Labels: :ml, backport, Team:ML, v7.16.0

#77257 [ML] adjusting bwc serialization for #77256
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PutTrainedModelAction.java
Labels: >non-issue, :ml, v8.0.0, Team:ML, auto-merge

#77262 [7.x] Move `index.hidden` from Static to Dynamic settings (#77218)
  docs/reference/index-modules.asciidoc
Labels: backport, auto-merge, v7.16.0

#77263 [7.15] Move `index.hidden` from Static to Dynamic settings (#77218)
  docs/reference/index-modules.asciidoc
Labels: backport, auto-merge, v7.15.1

#77261 Add segment sorter for data streams
  server/src/internalClusterTest/java/org/elasticsearch/indices/IndexingMemoryControllerIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/indices/IndexingMemoryControllerTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
  x-pack/plugin/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/MigrateToDataTiersIT.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/data_stream/131_sort_segments_migrate_to_data_stream.yml
Labels: :Search/Search, backport, Team:Search, v7.16.0

#77092 Adding deprecation info API check for misconfigured or ambiguous SSL settings
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#75267 Update task names for rest compatiblity
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/test/rest/YamlRestCompatTestPluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/rest/compat/YamlRestCompatTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestUtil.java
  modules/analysis-common/build.gradle
  modules/ingest-common/build.gradle
  modules/ingest-user-agent/build.gradle
  modules/lang-mustache/build.gradle
  modules/parent-join/build.gradle
  modules/percolator/build.gradle
  modules/reindex/build.gradle
  plugins/analysis-icu/build.gradle
  plugins/ingest-attachment/build.gradle
  rest-api-spec/build.gradle
  x-pack/plugin/build.gradle
  x-pack/plugin/watcher/qa/rest/build.gradle
Labels: >non-issue, :Delivery/Build, v8.0.0, Team:Delivery

#77136 Move die with dignity to be a test module
  test/external-modules/die-with-dignity/build.gradle
  test/external-modules/die-with-dignity/src/javaRestTest/java/org/elasticsearch/qa/die_with_dignity/DieWithDignityIT.java
  test/external-modules/die-with-dignity/src/main/java/org/elasticsearch/DieWithDignityPlugin.java
  test/external-modules/die-with-dignity/src/main/java/org/elasticsearch/RestDieWithDignityAction.java
Labels: :Core/Infra/Core, v8.0.0, Team:Core/Infra, v7.16.0

#77251 Fix TextFieldMapper Retaining a Reference to its Builder
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/MatchOnlyTextFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapper.java
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextParams.java
Labels: >bug, :Search/Mapping, v8.0.0, Team:Search, v7.16.0

#77085 Adding node deprecation info API check for frozen cache setting
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Data Management/Other, Team:Data Management, v7.16.0

#77008 Fix template equals when mappings are wrapped
  server/src/main/java/org/elasticsearch/cluster/metadata/Template.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ComponentTemplateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
Labels: :Data Management/Indices APIs, v8.0.0, Team:Data Management, external-contributor, v7.16.0

#77096 [DOCS] Adds information about version compatibility headers
  docs/reference/api-conventions.asciidoc
Labels: >docs, :Core/Infra/REST API, v8.0.0, Team:Core/Infra, Team:Docs, v7.14.0, v7.15.0, v7.16.0

#77151 Add target_node_name for REPLACE shutdown type
  server/src/main/java/org/elasticsearch/cluster/metadata/SingleNodeShutdownMetadata.java
  server/src/test/java/org/elasticsearch/cluster/metadata/NodesShutdownMetadataTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/UnassignedInfoTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/NodeShutdownAllocationDeciderTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CheckShrinkReadyStepTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleServiceTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlNodeShutdownIT.java
  x-pack/plugin/shutdown/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownIT.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownDelayedAllocationIT.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownPluginsIT.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownTasksIT.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/PutShutdownNodeAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/SingleNodeShutdownStatus.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportPutShutdownNodeAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/GetShutdownStatusResponseTests.java
Labels: >non-issue, v8.0.0, Team:Core/Infra, :Core/Infra/Node Lifecycle, v7.16.0, auto-backport-and-merge

#77279 [DOCS] Adds information about version compatibility headers (#77096)
  docs/reference/api-conventions.asciidoc
Labels: >docs, :Docs, backport, Team:Docs, v7.14.0, v7.15.0, v7.16.0, auto-backport-and-merge

#77281 Fix randomization in MlNodeShutdownIT
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlNodeShutdownIT.java
Labels: >test, v8.0.0, Team:Core/Infra, :Core/Infra/Node Lifecycle, auto-merge, v7.16.0

#77283 Mute DieWithDignityIT
  test/external-modules/die-with-dignity/src/javaRestTest/java/org/elasticsearch/qa/die_with_dignity/DieWithDignityIT.java
Labels: :Core/Infra/Core, v8.0.0, >test-mute, Team:Core/Infra, auto-merge, v7.16.0, auto-backport-and-merge

#77284 [7.x] Mute DieWithDignityIT (#77283)
  test/external-modules/die-with-dignity/src/javaRestTest/java/org/elasticsearch/qa/die_with_dignity/DieWithDignityIT.java
Labels: backport, >test-mute, auto-merge, v7.16.0

#77268 Fix TextFieldMapper Retaining a Reference to its Builder (#77251)
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/MatchOnlyTextFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/SearchAsYouTypeFieldMapper.java
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextParams.java
Labels: >bug, :Search/Mapping, backport, Team:Search, v7.16.0

#77296 [DOCS] Fix bullet list layout for indices.recovery.use_snapshots
  docs/reference/modules/indices/recovery.asciidoc
Labels: :Docs, Team:Distributed, Team:Docs, auto-backport, v7.16.0, v7.15.1

#77298 [TEST] Mute MlNodeShutdownIT testJobsVacateShuttingDownNode
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlNodeShutdownIT.java
Labels: v8.0.0, >test-mute, Team:ML

#77300 [7.15] [DOCS] Fix bullet list layout for indices.recovery.use_snapshots (#77296)
  docs/reference/modules/indices/recovery.asciidoc
Labels: backport, v7.15.1
