Repository elastic/elasticsearch, pull requests merged in 2021-07, with the labels that each got.

#74787 [DOCS] [7.x] Word changes for runtime field incentives (#74769)
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, Team:Docs, backport, v7.15.0

#74788 [DOCS] [7.14] Word changes for runtime field incentives (#74769)
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, Team:Docs, backport, v7.14.1

#74789 [DOCS] [7.13] Word changes for runtime field incentives (#74769)
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, Team:Docs, backport, v7.13.4

#74805 [DOCS] Added note about GET requests with bodies to API conventions
  docs/reference/api-conventions.asciidoc
Labels: :Docs, >docs, Team:Docs, v7.13.3, v7.14.0, v7.15.0

#74807 [DOCS] Added note about GET requests with bodies to API conventions
  docs/reference/api-conventions.asciidoc
Labels: :Docs, >docs, Team:Docs, backport, v7.13.4

#74806 [DOCS] Added note about GET requests with bodies to API conventions
  docs/reference/api-conventions.asciidoc
Labels: :Docs, >docs, Team:Docs, backport, v7.14.1

#74738 Fix task dependency wiring for multi node test clusters (7.x backport)
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/TestClustersAware.java
Labels: :Delivery/Build, >enhancement, Team:Delivery, auto-merge, backport, v7.15.0

#74808 Make test cluster tasks depend on fipsResources when fips enabled (7.x backport)
  build-tools-internal/src/main/groovy/elasticsearch.fips.gradle
Labels: :Delivery/Build, >enhancement, Team:Delivery, auto-merge, backport, v7.15.0

#74811 Fix gradle func tests running in idea
  build-conventions/build.gradle
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/EclipseConventionPlugin.java
  build-tools-internal/gradle/wrapper/gradle-wrapper.properties
  build.gradle
Labels: :Delivery/Build, >enhancement, Team:Delivery, auto-backport, auto-merge, v7.15.0, v8.0.0

#74813 Optimize Away Small Resumable Uploads in GCS Repository
  plugins/repository-gcs/src/internalClusterTest/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  plugins/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStore.java
  plugins/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageRepository.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreContainerTests.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.14.0, v7.15.0, v8.0.0

#74722 Always use DirectoryReader for realtime get from translog
  server/src/main/java/org/elasticsearch/common/lucene/uid/PerThreadIDVersionAndSeqNoLookup.java
  server/src/main/java/org/elasticsearch/common/lucene/uid/VersionsAndSeqNoResolver.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/engine/SingleDocDirectoryReader.java
  server/src/main/java/org/elasticsearch/index/engine/TranslogDirectoryReader.java
  server/src/main/java/org/elasticsearch/index/engine/TranslogLeafReader.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/CustomFieldsVisitor.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/FieldsVisitor.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/mapper/Mapping.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/ShardGetServiceTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/DocumentSubsetBitsetCache.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/DocumentSubsetReader.java
Labels: :Distributed/Engine, >non-issue, Team:Distributed, v8.0.0

#73018 ReindexIT wait for task to really start
  client/rest-high-level/src/test/java/org/elasticsearch/client/ESRestHighLevelClientTestCase.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/ReindexIT.java
Labels: :Distributed/Reindex, >test, Team:Distributed, v7.13.4, v7.15.0, v8.0.0

#74780 [7.x] [ML] prevent accidentally asking for more resources when scaling down and improve scaling size estimations (#74691)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/AutoscalingIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/NativeMemoryCapacity.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/NativeMemoryCalculator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/NativeMemoryCapacityTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/NativeMemoryCalculatorTests.java
Labels: :ml, Team:ML, backport, v7.15.0

#74781 [7.14] [ML] prevent accidentally asking for more resources when scaling down and improve scaling size estimations (#74691)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/AutoscalingIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/NativeMemoryCapacity.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/NativeMemoryCalculator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/NativeMemoryCapacityTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/NativeMemoryCalculatorTests.java
Labels: :ml, Team:ML, backport, v7.14.1

#74782 [7.13] [ML] prevent accidentally asking for more resources when scaling down and improve scaling size estimations (#74691)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/AutoscalingIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/NativeMemoryCapacity.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/NativeMemoryCalculator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/NativeMemoryCapacityTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/NativeMemoryCalculatorTests.java
Labels: :ml, Team:ML, backport, v7.13.4

#74818 [7.x] Fix gradle func tests running in idea (#74811)
  build-conventions/build.gradle
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/EclipseConventionPlugin.java
  build-tools-internal/gradle/wrapper/gradle-wrapper.properties
  build.gradle
Labels: auto-merge, backport, external-contributor, v7.15.0

#74762 Return error when remote indices are locally resolved (7.x)
  server/src/internalClusterTest/java/org/elasticsearch/get/GetActionIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
Labels: :Search/Search, >enhancement, Team:Search, v7.15.0

#73773 Reduce memory usage in SimpleClusterStateIT#testLargeClusterStatePublishing
  server/src/internalClusterTest/java/org/elasticsearch/cluster/SimpleClusterStateIT.java
Labels: :Distributed/Cluster Coordination, >test, Team:Distributed, v7.15.0, v8.0.0

#74822 [ML] autoscaling context current capacity could be null, this commit handles that
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/AutoscalingIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderService.java
Labels: :ml, >non-issue, Team:ML, v8.0.0

#74814 Improve efficiency of Grok circular reference check
  libs/grok/src/main/java/org/elasticsearch/grok/Grok.java
Labels: :Core/Features/Ingest, >bug, Team:Core/Features, v6.8.18, v7.13.4, v7.14.1, v7.15.0, v8.0.0

#74830 Remove class that is part of commons-codec
  plugins/analysis-phonetic/src/main/java/org/elasticsearch/index/analysis/PhoneticTokenFilterFactory.java
  plugins/analysis-phonetic/src/main/java/org/elasticsearch/index/analysis/phonetic/Nysiis.java
Labels: :Search/Analysis, >non-issue, Team:Search, backport, v7.11.3, v7.12.2, v7.13.4, v7.14.1, v7.15.0

#74268 Script: User funcs are script instance methods
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/LambdaBootstrap.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/MethodWriter.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/antlr/Walker.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultIRTreeToASMBytesPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultSemanticAnalysisPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultUserTreeToIRTreePhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/Decorations.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/IRDecorations.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/SemanticScope.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/toxcontent/DecorationToXContent.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/EmitTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FunctionRefTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/TestFieldScript.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/ToXContentTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/UserFunctionTests.java
  modules/lang-painless/src/test/resources/org/elasticsearch/painless/spi/org.elasticsearch.painless.test
Labels: :Core/Infra/Scripting, v8.0.0

#74827 Fix RestGetSnapshotsCancellationIT Failures
  qa/smoke-test-http/src/test/java/org/elasticsearch/http/snapshots/RestGetSnapshotsCancellationIT.java
Labels: :Distributed/Snapshot/Restore, >test, Team:Distributed, v7.14.0, v7.15.0, v8.0.0

#74674 [DOCS] Fix <index> param def for delete index API
  docs/reference/indices/delete-index.asciidoc
Labels: :Core/Features/Indices APIs, Team:Core/Features, external-contributor, v7.13.4, v7.14.1, v7.15.0, v8.0.0

#74721 [DOC] Update tests for collapse search results
  docs/reference/search/search-your-data/collapse-search-results.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, v7.13.4, v7.15.0, v8.0.0

#74834 [7.x] [DOCS] Fix <index> param def for delete index API (#74674)
  docs/reference/indices/delete-index.asciidoc
Labels: backport, v7.15.0

#74835 [7.14] [DOCS] Fix <index> param def for delete index API (#74674)
  docs/reference/indices/delete-index.asciidoc
Labels: backport, v7.14.1

#74839 [7.13] [DOCS] Fix <index> param def for delete index API (#74674)
  docs/reference/indices/delete-index.asciidoc
Labels: auto-merge, backport, v7.13.4

#74829 [7.14] Improve circular reference detection in grok processor (#74581)
  libs/grok/src/main/java/org/elasticsearch/grok/Grok.java
  libs/grok/src/test/java/org/elasticsearch/grok/GrokTests.java
Labels: :Core/Features/Ingest, >bug, Team:Core/Features, backport, v7.14.1

#74837 [DOC] [7.x] Update tests for collapse search results (#74721)
  docs/reference/search/search-your-data/collapse-search-results.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.15.0

#74838 [DOC] [7.14] Update tests for collapse search results (#74721)
  docs/reference/search/search-your-data/collapse-search-results.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.14.1

#74841 [DOC] [7.13] Update tests for collapse search results (#74721)
  docs/reference/search/search-your-data/collapse-search-results.asciidoc
Labels: :Search/Search, >docs, Team:Docs, Team:Search, backport, v7.13.4

#72897 Script: Mangle user function names (#72892)
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultSemanticHeaderPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultUserTreeToIRTreePhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/FunctionTable.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/toxcontent/DecorationToXContent.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/UserFunctionTests.java
Labels: :Core/Infra/Scripting, Team:Core/Infra, backport, v7.15.0

#74843 [7.x] Fix an NPE in TransportPutRollupJobAction
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportPutRollupJobAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/rollup/put_job.yml
Labels: :Analytics/Rollup, >bug, >non-issue, Team:Analytics, v7.15.0

#74790 Fix test compression setting upgrade tests
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
Labels: :Distributed/Network, >test, Team:Distributed, auto-backport, v7.14.0, v7.15.0, v8.0.0

#74851 [7.x] Reduce memory usage in SimpleClusterStateIT#testLargeClusterStatePublishing
  server/src/internalClusterTest/java/org/elasticsearch/cluster/SimpleClusterStateIT.java
Labels: :Distributed/Cluster Coordination, >test, Team:Distributed, backport, v7.15.0

#74853 Script: User funcs are script instance methods (#74268)
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/FunctionRef.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/LambdaBootstrap.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/MethodWriter.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/antlr/Walker.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultIRTreeToASMBytesPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultSemanticAnalysisPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultUserTreeToIRTreePhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/Decorations.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/IRDecorations.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/symbol/SemanticScope.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/toxcontent/DecorationToXContent.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/EmitTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/FunctionRefTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/TestFieldScript.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/ToXContentTests.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/UserFunctionTests.java
  modules/lang-painless/src/test/resources/org/elasticsearch/painless/spi/org.elasticsearch.painless.test
Labels: :Core/Infra/Scripting, Team:Core/Infra, backport, v7.15.0

#74854 [7.14] Fix test compression setting upgrade tests (#74790)
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
Labels: :Distributed/Network, >test, backport, v7.14.1

#74846 [DOCS] Move EQL APIs to separate page
  docs/reference/eql/eql-apis.asciidoc
  docs/reference/rest-api/index.asciidoc
  docs/reference/search.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, v7.13.4, v7.14.1, v7.15.0, v8.0.0

#74844 Fix Metadata and IndexMetadata XContent Parsing not Draining Parser
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/ChecksumBlobStoreFormat.java
Labels: :Distributed/Snapshot/Restore, >non-issue, Team:Distributed, v7.14.0, v7.15.0, v8.0.0

#74855 [7.x] Fix test compression setting upgrade tests (#74790)
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
Labels: :Distributed/Network, >test, Team:Distributed, backport, v7.15.0

#74857 Fix CombinedFieldQuery (Lucene 9999)
  server/src/main/java/org/apache/lucene/search/XMultiNormsLeafSimScorer.java
  server/src/test/java/org/apache/lucene/search/XCombinedFieldQueryTests.java
Labels: :Search/Search, Team:Search, backport

#74859 [7.x] [DOCS] Move EQL APIs to separate page (#74846)
  docs/reference/eql/eql-apis.asciidoc
  docs/reference/rest-api/index.asciidoc
  docs/reference/search.asciidoc
Labels: backport, v7.15.0

#74860 [7.14] [DOCS] Move EQL APIs to separate page (#74846)
  docs/reference/eql/eql-apis.asciidoc
  docs/reference/rest-api/index.asciidoc
  docs/reference/search.asciidoc
Labels: backport, v7.14.1

#74861 [7.13] [DOCS] Move EQL APIs to separate page (#74846)
  docs/reference/eql/eql-apis.asciidoc
  docs/reference/rest-api/index.asciidoc
  docs/reference/search.asciidoc
Labels: backport, v7.13.4

#74862 Disable BWC for ILM telemetry configuration backport
  build.gradle
Labels: :Core/Features/ILM+SLM, >non-issue, Team:Core/Features, v8.0.0

#74799 [7.x] Add phase configs to ILM telemetry (#74575)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/IndexLifecycleFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/SetPriorityAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ShrinkAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/TimeseriesLifecycleType.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ActionConfigStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/PhaseStatsTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleFeatureSet.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/PhaseStatsTests.java
Labels: backport, v7.15.0

#74864 Reenable BWC for ILM telemetry configurations
  build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/IndexLifecycleFeatureSetUsage.java
Labels: :Core/Features/ILM+SLM, >non-issue, Team:Core/Features, v8.0.0

#74850 EQL: Remove "yet" from unsupported pipe error message
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
Labels: :Query Languages/EQL, >bug, Team:QL, auto-backport, v7.13.3, v7.14.0, v7.15.0, v8.0.0

#74874 [7.13] EQL: Remove "yet" from unsupported pipe error message (#74850)
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
Labels: auto-merge, backport, v7.13.4

#74875 [7.14] EQL: Remove "yet" from unsupported pipe error message (#74850)
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
Labels: auto-merge, backport, v7.14.1

#74876 [7.x] EQL: Remove "yet" from unsupported pipe error message (#74850)
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/parser/ExpressionTests.java
Labels: auto-merge, backport, v7.15.0

#74804 Compress async search responses before storing (#74766)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/async/AsyncTaskIndexService.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/async/AsyncSearchIndexServiceTests.java
  x-pack/plugin/eql/src/internalClusterTest/java/org/elasticsearch/xpack/eql/action/AsyncEqlSearchActionIT.java
  x-pack/plugin/sql/src/internalClusterTest/java/org/elasticsearch/xpack/sql/action/AsyncSqlSearchActionIT.java
Labels: backport, v7.15.0

#74882 Adjust BWC version for compressing async search response
  build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/async/AsyncTaskIndexService.java
Labels: >non-issue, v8.0.0

#74741 Remove legacy geo code from AbstractGeometryQueryBuilder classes
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolateQueryBuilderTests.java
  server/src/main/java/org/elasticsearch/index/query/AbstractGeometryQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/GeoShapeQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/QueryBuilders.java
  server/src/test/java/org/elasticsearch/index/query/GeoShapeQueryBuilderGeoPointTests.java
  server/src/test/java/org/elasticsearch/index/query/GeoShapeQueryBuilderGeoShapeTests.java
  server/src/test/java/org/elasticsearch/index/query/GeoShapeQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/ScriptQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/functionscore/FunctionScoreQueryBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/geo/GeometryTestUtils.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/AbstractQueryTestCaseTests.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryBuilder.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/GeoShapeWithDocValuesQueryBuilderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryBuilderTests.java
Labels: :Analytics/Geo, >refactoring, Team:Analytics, v8.0.0

#74889 Remove legacy geo code from AbstractGeometryQueryBuilder classes (#74741)
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolateQueryBuilderTests.java
  server/src/main/java/org/elasticsearch/index/query/AbstractGeometryQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/GeoShapeQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/QueryBuilders.java
  server/src/test/java/org/elasticsearch/index/query/GeoShapeQueryBuilderGeoPointTests.java
  server/src/test/java/org/elasticsearch/index/query/GeoShapeQueryBuilderGeoShapeTests.java
  server/src/test/java/org/elasticsearch/index/query/GeoShapeQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/LegacyGeoShapeFieldQueryTests.java
  server/src/test/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/ScriptQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/functionscore/FunctionScoreQueryBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/geo/GeometryTestUtils.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/AbstractQueryTestCaseTests.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryBuilder.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/GeoShapeWithDocValuesQueryBuilderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryBuilderTests.java
Labels: >refactoring, backport, v7.15.0

#74886 Update Gradle wrapper to version 7.1.1
  build-tools-internal/gradle/wrapper/gradle-wrapper.properties
  build-tools-internal/src/main/resources/minimumGradleVersion
  gradle/wrapper/gradle-wrapper.properties
Labels: :Delivery/Build, >enhancement, Team:Delivery, auto-backport, auto-merge, v7.15.0, v8.0.0

#74746 Avoid creating unused test tasks (7.x backport)
  build-tools-internal/src/main/groovy/elasticsearch.bwc-test.gradle
  qa/ccs-rolling-upgrade-remote-cluster/build.gradle
  qa/full-cluster-restart/build.gradle
  qa/mixed-cluster/build.gradle
  qa/multi-cluster-search/build.gradle
  qa/repository-multi-version/build.gradle
  qa/rolling-upgrade/build.gradle
  qa/verify-version-constants/build.gradle
  x-pack/plugin/ccr/qa/downgrade-to-basic-license/build.gradle
  x-pack/plugin/ccr/qa/multi-cluster/build.gradle
  x-pack/plugin/ccr/qa/non-compliant-license/build.gradle
  x-pack/plugin/ccr/qa/restart/build.gradle
  x-pack/plugin/ccr/qa/security/build.gradle
  x-pack/plugin/ilm/qa/multi-cluster/build.gradle
  x-pack/plugin/transform/qa/multi-cluster-tests-with-security/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/multi-cluster-search-security/build.gradle
  x-pack/qa/rolling-upgrade-basic/build.gradle
  x-pack/qa/rolling-upgrade-multi-cluster/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: :Delivery/Build, >enhancement, Team:Delivery, auto-merge, backport, v7.15.0

#74673 Polish and cleanup test related plugins
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/rest/compat/YamlRestCompatTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/RestTestBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/StandaloneRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/JavaRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestUtil.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/YamlRestTestPlugin.java
  x-pack/plugin/security/qa/security-trial/build.gradle
  x-pack/plugin/security/qa/service-account/build.gradle
  x-pack/plugin/security/qa/smoke-test-all-realms/build.gradle
  x-pack/plugin/security/qa/tls-basic/build.gradle
  x-pack/plugin/transform/qa/multi-node-tests/build.gradle
Labels: :Delivery/Build, >enhancement, Team:Delivery, v7.15.0, v8.0.0

#73785 Improve efficiency of BoundedBreakIteratorScanner fragmentation algorithm
  server/src/main/java/org/apache/lucene/search/uhighlight/BoundedBreakIteratorScanner.java
  server/src/test/java/org/apache/lucene/search/uhighlight/BoundedBreakIteratorScannerTests.java
Labels: :Search/Search, >enhancement, Team:Search, external-contributor, v7.15.0

#74754 Update docs that composite agg no longer uses global ords
  docs/reference/mapping/params/eager-global-ordinals.asciidoc
Labels: :Analytics/Aggregations, >docs, Team:Analytics, Team:Docs, v7.14.1, v7.15.0, v8.0.0

#74880 Fix Concurrent Snapshot Repository Remove Issues
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/cleanup/TransportCleanupRepositoryAction.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: :Distributed/Snapshot/Restore, >bug, Team:Distributed, v7.13.4, v7.14.0, v7.15.0, v8.0.0

#74898 Improve BoundedBreakIteratorScanner fragmentation algorithm (#73785)
  server/src/main/java/org/apache/lucene/search/uhighlight/BoundedBreakIteratorScanner.java
  server/src/test/java/org/apache/lucene/search/uhighlight/BoundedBreakIteratorScannerTests.java
Labels: backport, v7.15.0

#74849 Fix ActionConfigStatsTests.testEqualsAndHashcode
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ActionConfigStatsTests.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, auto-backport, v7.14.1, v7.15.0, v8.0.0

#74823 Indicate quorumness of discovered nodes earlier
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelper.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelperTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
Labels: :Distributed/Cluster Coordination, >enhancement, Team:Distributed, v7.15.0, v8.0.0

#74901 Move DeterministicTaskQueue to appropriate package
  server/src/test/java/org/elasticsearch/action/support/ListenerTimeoutsTests.java
  server/src/test/java/org/elasticsearch/action/support/RetryableActionTests.java
  server/src/test/java/org/elasticsearch/cluster/InternalClusterInfoServiceSchedulingTests.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ClusterBootstrapServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelperTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ElectionSchedulerFactoryTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/FollowersCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinHelperTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LagDetectorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LeaderCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PreVoteCollectorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PublicationTransportHandlerTests.java
  server/src/test/java/org/elasticsearch/discovery/PeerFinderTests.java
  server/src/test/java/org/elasticsearch/monitor/fs/FsHealthServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceDeserializationFailureTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/MockSinglePrioritizingExecutor.java
  test/framework/src/main/java/org/elasticsearch/common/util/concurrent/DeterministicTaskQueue.java
  test/framework/src/main/java/org/elasticsearch/test/disruption/DisruptableMockTransport.java
  test/framework/src/test/java/org/elasticsearch/cluster/coordination/MockSinglePrioritizingExecutorTests.java
  test/framework/src/test/java/org/elasticsearch/common/util/concurrent/DeterministicTaskQueueTests.java
  test/framework/src/test/java/org/elasticsearch/test/disruption/DisruptableMockTransportTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/repository/CcrRestoreSourceServiceTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/allocation/SearchableSnapshotAllocatorTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/common/CacheFileTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/common/SparseFileTrackerTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/common/TestUtils.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/shared/FrozenCacheServiceTests.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v7.15.0, v8.0.0

#74896 Polish and cleanup test related plugins (7.x backport)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/RestTestBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/StandaloneRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/JavaRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestUtil.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/YamlRestTestPlugin.java
  x-pack/plugin/core/build.gradle
  x-pack/plugin/security/qa/security-trial/build.gradle
  x-pack/plugin/security/qa/service-account/build.gradle
  x-pack/plugin/security/qa/smoke-test-all-realms/build.gradle
  x-pack/plugin/security/qa/tls-basic/build.gradle
  x-pack/plugin/transform/qa/multi-node-tests/build.gradle
Labels: :Delivery/Build, >enhancement, Team:Delivery, backport, v7.15.0

#74904 [7.x] Fix ActionConfigStatsTests.testEqualsAndHashcode (#74849)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ActionConfigStatsTests.java
Labels: auto-merge, backport, v7.15.0

#74084 Fix Plain Highlighter ordering for `none`
  server/src/internalClusterTest/java/org/elasticsearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/PlainHighlighter.java
Labels: :Search/Highlighting, >bug, Team:Search, v7.15.0, v8.0.0

#74732 Generalize TCP retxn docs to cover remote clusters
  docs/reference/setup/sysconfig/tcpretries.asciidoc
Labels: :Distributed/Network, >docs, Team:Distributed, Team:Docs, v7.13.4, v7.15.0, v8.0.0

#74910 Minor cleanup on settings.gradle
  settings.gradle
Labels: :Delivery/Build, >enhancement, Team:Delivery, auto-backport, auto-merge, v7.15.0, v8.0.0

#74903 Call fixRedundantIncludes on dynamic mapping updates
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/test/java/org/elasticsearch/index/mapper/NestedObjectMapperTests.java
Labels: :Search/Mapping, >bug, Team:Search, auto-backport, v7.13.4, v7.14.0, v8.0.0

#74907 Fix ActionConfigStatsTests.testEqualsAndHashcode
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ActionConfigStatsTests.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, auto-backport, v7.15.0, v8.0.0

#74651 changing hard coded 10k page size limit to 65k
  docs/reference/rest-api/common-parms.asciidoc
  x-pack/plugin/build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/SettingsConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/pivot/PivotConfig.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/transforms_crud.yml
Labels: :ml/Transform, Team:ML, external-contributor

#74820 Warn on possible master service starvation
  qa/evil-tests/src/test/java/org/elasticsearch/threadpool/EvilThreadPoolTests.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/EsExecutors.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/PrioritizedEsThreadPoolExecutor.java
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/service/TaskExecutorTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/PrioritizedExecutorsTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/MockSinglePrioritizingExecutor.java
  test/framework/src/main/java/org/elasticsearch/cluster/service/FakeThreadPoolMasterService.java
  test/framework/src/main/java/org/elasticsearch/test/MockLogAppender.java
Labels: :Distributed/Cluster Coordination, >enhancement, Team:Distributed, v7.15.0, v8.0.0

#74918 [7.14] Call fixRedundantIncludes on dynamic mapping updates (#74903)
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/test/java/org/elasticsearch/index/mapper/NestedObjectMapperTests.java
Labels: backport, v7.14.1

#74920 [7.x] Fix ActionConfigStatsTests.testEqualsAndHashcode (#74907)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ActionConfigStatsTests.java
Labels: auto-merge, backport, v7.15.0

#74921 Permit more temp files in data path
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
Labels: :Core/Infra/Core, >test, Team:Core/Infra, v8.0.0

#74913 Fix Plain Highlighter ordering for `none` (#74084)
  server/src/internalClusterTest/java/org/elasticsearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/PlainHighlighter.java
Labels: backport, v7.14.1

#74912 Fix Plain Highlighter ordering for `none` (#74084)
  server/src/internalClusterTest/java/org/elasticsearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/PlainHighlighter.java
Labels: backport, v7.15.0

#74926 [DOCS] Removes link to classification and regression
  docs/reference/ingest/processors/inference.asciidoc
  docs/reference/ml/df-analytics/apis/get-trained-models.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, v8.0.0

#74917 [7.13] Call fixRedundantIncludes on dynamic mapping updates (#74903)
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/test/java/org/elasticsearch/index/mapper/NestedObjectMapperTests.java
Labels: backport, v7.13.4

#74924 Adjust versioning for a data stream aliases yaml test.
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/data_stream/140_data_stream_aliases.yml
Labels: :Core/Features/Data streams, >test, Team:Core/Features, auto-backport, v7.14.1, v7.15.0, v8.0.0

#74916 [ML] Avoid 5s wait in AbstractNativeProcessTests
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/process/AbstractNativeProcessTests.java
Labels: :ml, >test, Team:ML, auto-backport, v7.15.0, v8.0.0

#74925 [7.x][Transform] changing hard coded 10k page size limit to 65k (#74651)
  docs/reference/rest-api/common-parms.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/SettingsConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/pivot/PivotConfig.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/transforms_crud.yml
Labels: :ml/Transform, Team:ML, backport, v7.15.0

#74931 [DOCS] Fixes an attribute in PUT DFA API docs
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, v8.0.0

#74824 EQL: Remove "fields" section from sequence in-progress searches
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/assembler/ExecutionManager.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plan/physical/EsQueryExec.java
Labels: :Query Languages/EQL, >bug, Team:QL, auto-backport, v7.13.3, v7.14.0, v7.15.0, v8.0.0

#74928 [7.14] Adjust versioning for a data stream aliases yaml test. (#74924)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/data_stream/140_data_stream_aliases.yml
Labels: backport, v7.14.1

#74929 [7.x] Adjust versioning for a data stream aliases yaml test. (#74924)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/data_stream/140_data_stream_aliases.yml
Labels: backport, v7.15.0

#74911 Less RoutingNodes allocations
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
Labels: :Distributed/Autoscaling, >non-issue, Team:Distributed, v7.15.0, v8.0.0

#74802 [DOCS] Move ML functions to appendix
  docs/reference/ml/anomaly-detection/functions/ml-count-functions.asciidoc
  docs/reference/ml/anomaly-detection/functions/ml-functions.asciidoc
  docs/reference/ml/anomaly-detection/functions/ml-geo-functions.asciidoc
  docs/reference/ml/anomaly-detection/functions/ml-info-functions.asciidoc
  docs/reference/ml/anomaly-detection/functions/ml-metric-functions.asciidoc
  docs/reference/ml/anomaly-detection/functions/ml-rare-functions.asciidoc
  docs/reference/ml/anomaly-detection/functions/ml-sum-functions.asciidoc
  docs/reference/ml/anomaly-detection/functions/ml-time-functions.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, v8.0.0

#74942 [DOCS] Update forecasting links in ML APIs
  docs/reference/ml/anomaly-detection/apis/delete-forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/forecast.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, v8.0.0

#74938 Upgrade GCS SDK to 1.117.1
  plugins/repository-gcs/build.gradle
  plugins/repository-gcs/licenses/api-common-1.10.4.jar.sha1
  plugins/repository-gcs/licenses/api-common-1.8.1.jar.sha1
  plugins/repository-gcs/licenses/failureaccess-1.0.1.jar.sha1
  plugins/repository-gcs/licenses/failureaccess-LICENSE.txt
  plugins/repository-gcs/licenses/failureaccess-NOTICE.txt
  plugins/repository-gcs/licenses/gax-1.54.0.jar.sha1
  plugins/repository-gcs/licenses/gax-1.66.0.jar.sha1
  plugins/repository-gcs/licenses/gax-httpjson-0.62.0.jar.sha1
  plugins/repository-gcs/licenses/gax-httpjson-0.83.0.jar.sha1
  plugins/repository-gcs/licenses/google-api-client-1.30.10.jar.sha1
  plugins/repository-gcs/licenses/google-api-client-1.32.1.jar.sha1
  plugins/repository-gcs/licenses/google-api-services-storage-v1-rev20200814-1.30.10.jar.sha1
  plugins/repository-gcs/licenses/google-api-services-storage-v1-rev20210127-1.31.5.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-credentials-0.20.0.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-credentials-0.26.0.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-oauth2-http-0.20.0.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-oauth2-http-0.26.0.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-core-1.93.3.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-core-1.95.4.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-core-http-1.93.3.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-core-http-1.95.4.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-storage-1.113.1.jar.sha1
  plugins/repository-gcs/licenses/google-cloud-storage-1.117.1.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-1.35.0.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-1.39.2.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-appengine-1.35.0.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-appengine-1.39.2.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-gson-1.39.2.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-jackson2-1.35.0.jar.sha1
  plugins/repository-gcs/licenses/google-http-client-jackson2-1.39.2.jar.sha1
  plugins/repository-gcs/licenses/google-oauth-client-1.28.0.jar.sha1
  plugins/repository-gcs/licenses/google-oauth-client-1.31.5.jar.sha1
  plugins/repository-gcs/licenses/grpc-context-1.29.0.jar.sha1
  plugins/repository-gcs/licenses/grpc-context-1.39.0.jar.sha1
  plugins/repository-gcs/licenses/gson-2.7.jar.sha1
  plugins/repository-gcs/licenses/gson-2.8.7.jar.sha1
  plugins/repository-gcs/licenses/guava-26.0-jre.jar.sha1
  plugins/repository-gcs/licenses/guava-30.1.1-jre.jar.sha1
  plugins/repository-gcs/licenses/opencensus-api-0.18.0.jar.sha1
  plugins/repository-gcs/licenses/opencensus-api-0.28.0.jar.sha1
  plugins/repository-gcs/licenses/opencensus-contrib-http-util-0.18.0.jar.sha1
  plugins/repository-gcs/licenses/opencensus-contrib-http-util-0.28.0.jar.sha1
  plugins/repository-gcs/licenses/proto-google-common-protos-1.16.0.jar.sha1
  plugins/repository-gcs/licenses/proto-google-common-protos-2.3.2.jar.sha1
  plugins/repository-gcs/licenses/proto-google-iam-v1-0.12.0.jar.sha1
  plugins/repository-gcs/licenses/proto-google-iam-v1-1.0.14.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-3.11.3.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-3.17.3.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-util-3.11.3.jar.sha1
  plugins/repository-gcs/licenses/protobuf-java-util-3.17.3.jar.sha1
  plugins/repository-gcs/licenses/threetenbp-1.4.4.jar.sha1
  plugins/repository-gcs/licenses/threetenbp-1.5.1.jar.sha1
  plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
Labels: :Distributed/Snapshot/Restore, >upgrade, Team:Distributed, v7.15.0, v8.0.0

#74943 [DOCS] Fix links to anomaly detection overview
  docs/reference/intro.asciidoc
  docs/reference/ml/anomaly-detection/apis/delete-forecast.asciidoc
  docs/reference/ml/anomaly-detection/apis/forecast.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, v8.0.0

#74881 [7.14] [DOCS] HTTP client stats (#70512)
  docs/reference/cluster/nodes-stats.asciidoc
Labels: :Core/Features/Stats, >docs, Team:Core/Features, Team:Docs, backport, v7.14.1

#74945 [7.14] [DOCS] Add MurmurHash3 as a supported hash method for fingerprint processor
  docs/reference/ingest/processors/fingerprint.asciidoc
Labels: :Core/Features/Ingest, >docs, Team:Core/Features, Team:Docs, backport, v7.14.1

#74736 Remove Lucene's PackedInt dependency from Cuckoo filter
  qa/mixed-cluster/src/test/java/org/elasticsearch/backwards/RareTermsIT.java
  server/src/main/java/org/elasticsearch/common/util/CuckooFilter.java
Labels: :Analytics/Aggregations, >refactoring, Team:Analytics, v8.0.0

#74933 [7.13] EQL: Remove "fields" section from sequence in-progress searches (#74824)
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/assembler/ExecutionManager.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plan/physical/EsQueryExec.java
Labels: backport, v7.13.4

#74934 [7.14] EQL: Remove "fields" section from sequence in-progress searches (#74824)
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/assembler/ExecutionManager.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plan/physical/EsQueryExec.java
Labels: backport, v7.14.1

#74935 [7.x] EQL: Remove "fields" section from sequence in-progress searches (#74824)
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/assembler/ExecutionManager.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plan/physical/EsQueryExec.java
Labels: backport, v7.15.0

#74944 Fix GeoIpProcessor when there's no updated db
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/IngestGeoIpPlugin.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
Labels: :Core/Features/Ingest, >non-issue, Team:Core/Features, auto-backport, v7.14.1, v7.15.0, v8.0.0

#74927 [Transform] re-enable page size rest test after backport #74651
  x-pack/plugin/build.gradle
Labels: :ml/Transform, >test, Team:ML, v8.0.0

#74949 Disable BWC for cuckoo filter backport
  build.gradle
Labels: :Analytics/Aggregations, >test-mute, Team:Analytics, v8.0.0

#74946 Remove Lucene's PackedInt dependency from Cuckoo filter
  qa/mixed-cluster/src/test/java/org/elasticsearch/backwards/RareTermsIT.java
  server/src/main/java/org/elasticsearch/common/util/CuckooFilter.java
Labels: >refactoring, backport, v7.15.0

#74947 [7.14] Fix GeoIpProcessor when there's no updated db (#74944)
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/IngestGeoIpPlugin.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
Labels: auto-merge, backport, v7.14.1

#74950 Adjust BWC for cuckoo filter after backport
  build.gradle
  server/src/main/java/org/elasticsearch/common/util/CuckooFilter.java
Labels: :Analytics/Aggregations, >non-issue, Team:Analytics, v8.0.0

#74948 [7.x] Fix GeoIpProcessor when there's no updated db (#74944)
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/IngestGeoIpPlugin.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
Labels: auto-merge, backport, v7.15.0

#74937 [Rest Api Compatibility] Rename BulkItemResponse.Failure type field
  modules/reindex/build.gradle
  server/src/main/java/org/elasticsearch/action/bulk/BulkItemResponse.java
Labels: :Core/Infra/REST API, Team:Core/Infra, v8.0.0

#74915 Fix AllocationRoutedStepTests.testExecuteAllocateNotComplete
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/AllocateActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/AllocationRoutedStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CheckShrinkReadyStepTests.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, auto-backport, auto-merge, v7.15.0, v8.0.0

#74831 Simplify ParseContext
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/QueryBuilderStoreTests.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/ParseContext.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/TestParseContext.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.15.0, v8.0.0

#74768 Separate AbstractScriptFieldType from RuntimeField implementations
  server/src/main/java/org/elasticsearch/index/mapper/AbstractScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DateScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DoubleScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicFieldsBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/IpScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/LeafRuntimeField.java
  server/src/main/java/org/elasticsearch/index/mapper/LongScriptFieldType.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DoubleScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LongScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
Labels: :Search/Mapping, >refactoring, Team:Search, auto-backport, v7.15.0, v8.0.0

#74962 Prevent Massive Oversizing of Buckets List in BucketsAggregator
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BucketsAggregator.java
Labels: :Analytics/Aggregations, >bug, Team:Analytics, v7.14.0, v7.15.0, v8.0.0

#74941 Fix ExplainLifecycleIT.testExplainFilters
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/ExplainLifecycleIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportExplainLifecycleAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/TransportExplainLifecycleActionTests.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, v7.15.0, v8.0.0

#74725 [Doc] Update security limit for search with DLS/FLS
  x-pack/docs/en/security/limitations.asciidoc
Labels: :Security/Security, >docs, Team:Docs, Team:Security, auto-backport, v7.14.0, v7.15.0, v8.0.0

#74956 Json processor: allow duplicate keys
  docs/reference/ingest/processors/json.asciidoc
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/FilterXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentSubParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/cbor/CborXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/json/JsonXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/smile/SmileXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/support/MapXContentParser.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/JsonProcessor.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/Processors.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/JsonProcessorTests.java
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/140_json.yml
  server/src/test/java/org/elasticsearch/common/xcontent/BaseXContentTestCase.java
  server/src/test/java/org/elasticsearch/common/xcontent/cbor/CborXContentTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/smile/SmileXContentTests.java
Labels: :Core/Features/Ingest, >enhancement, Team:Core/Features, auto-backport, external-contributor, v7.15.0, v8.0.0

#74919 [Rest Api Compatibility] _time and _term sort orders
  rest-api-spec/build.gradle
  server/src/main/java/org/elasticsearch/search/aggregations/InternalOrder.java
Labels: :Analytics/Aggregations, Team:Analytics, team-discuss, v8.0.0

#74748 [DOCS] Adds outlier detection links to DFA API docs
  docs/reference/ml/df-analytics/apis/get-dfanalytics-stats.asciidoc
  docs/reference/ml/df-analytics/apis/put-dfanalytics.asciidoc
Labels: :ml, >docs, Team:Docs, Team:ML, v8.0.0

#74952 Add test logging debug to SimpleBlocksIT.testAddBlockWhileIndexingDocuments
  server/src/internalClusterTest/java/org/elasticsearch/blocks/SimpleBlocksIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/readonly/AddIndexBlockResponse.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
Labels: :Distributed/Distributed, >test, Team:Distributed, v7.14.1, v7.15.0, v8.0.0

#74971 [7.14] [Doc] Update security limit for search with DLS/FLS (#74725)
  x-pack/docs/en/security/limitations.asciidoc
Labels: auto-merge, backport, v7.14.0

#74966 Simplify ParseContext (#74831)
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/QueryBuilderStoreTests.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/ParseContext.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/TestParseContext.java
Labels: backport, v7.15.0

#74972 [7.x] [Doc] Update security limit for search with DLS/FLS (#74725)
  x-pack/docs/en/security/limitations.asciidoc
Labels: auto-merge, backport, v7.15.0

#74970 [7.x] Fix ExplainLifecycleIT.testExplainFilters (#74941)
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/ExplainLifecycleIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportExplainLifecycleAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/TransportExplainLifecycleActionTests.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, auto-merge, backport, v7.15.0

#74979 [7.14] Add test logging debug to SimpleBlocksIT.testAddBlockWhileIndexingDocuments
  server/src/internalClusterTest/java/org/elasticsearch/blocks/SimpleBlocksIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/readonly/AddIndexBlockResponse.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
Labels: auto-merge, backport, v7.14.1

#74969 Fix fips tests for vanilla Test tasks
  build-tools-internal/src/main/groovy/elasticsearch.fips.gradle
Labels: :Delivery/Build, >bug, Team:Delivery, v7.15.0, v8.0.0

#74973 [7.x] Json processor: allow duplicate keys (#74956)
  docs/reference/ingest/processors/json.asciidoc
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/FilterXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentSubParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/cbor/CborXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/json/JsonXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/smile/SmileXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/common/xcontent/support/MapXContentParser.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/JsonProcessor.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/Processors.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/JsonProcessorTests.java
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/140_json.yml
  server/src/test/java/org/elasticsearch/common/xcontent/BaseXContentTestCase.java
  server/src/test/java/org/elasticsearch/common/xcontent/cbor/CborXContentTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/smile/SmileXContentTests.java
Labels: backport, v7.15.0

#74978 [7.x] Add test logging debug to SimpleBlocksIT.testAddBlockWhileIndexingDocuments
  server/src/internalClusterTest/java/org/elasticsearch/blocks/SimpleBlocksIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/readonly/AddIndexBlockResponse.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
Labels: auto-merge, backport, v7.15.0

#74986 mute RareTermsIT#testSingleValuedString
  qa/mixed-cluster/src/test/java/org/elasticsearch/backwards/RareTermsIT.java
Labels: :Analytics/Aggregations, >test-mute, Team:Analytics, v7.15.0, v8.0.0

#74988 mute RareTermsIT (#74986)
  qa/mixed-cluster/src/test/java/org/elasticsearch/backwards/RareTermsIT.java
Labels: >test-mute, backport, v7.15.0

#74968 [7.x] Fix AllocationRoutedStepTests.testExecuteAllocateNotComplete
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/AllocateActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/AllocationRoutedStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CheckShrinkReadyStepTests.java
Labels: >test, backport, v7.15.0

#74981 Fix fips tests for vanilla Test tasks (7.x backport)
  build-tools-internal/src/main/groovy/elasticsearch.fips.gradle
Labels: :Delivery/Build, >enhancement, Team:Delivery, auto-merge, backport, v7.15.0

#74992 [DOCS] Fix stability and doc URL for rollup V2 JSON spec
  rest-api-spec/src/main/resources/rest-api-spec/api/rollup.rollup.json
Labels: :Analytics/Rollup, >docs, Team:Analytics, Team:Clients, Team:Docs, v7.14.0, v7.15.0, v8.0.0

#74115 Adding the option to abort persistent tasks locally
  server/src/internalClusterTest/java/org/elasticsearch/persistent/PersistentTasksExecutorIT.java
  server/src/main/java/org/elasticsearch/persistent/AllocatedPersistentTask.java
  server/src/main/java/org/elasticsearch/persistent/CompletionPersistentTaskAction.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksNodeService.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksService.java
  server/src/test/java/org/elasticsearch/persistent/CompletionPersistentTaskRequestTests.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksNodeServiceTests.java
  server/src/test/java/org/elasticsearch/persistent/RestartPersistentTaskRequestTests.java
  server/src/test/java/org/elasticsearch/persistent/TestPersistentTasksPlugin.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskCleaner.java
Labels: :Distributed/Task Management, >enhancement, Team:Distributed, v7.15.0, v8.0.0

#74999 [7.13] [DOCS] Fix stability and doc URL for rollup V2 JSON spec (#74992)
  rest-api-spec/src/main/resources/rest-api-spec/api/rollup.rollup.json
Labels: auto-merge, backport, v7.13.4

#74998 [7.14] [DOCS] Fix stability and doc URL for rollup V2 JSON spec (#74992)
  rest-api-spec/src/main/resources/rest-api-spec/api/rollup.rollup.json
Labels: auto-merge, backport, v7.14.1

#74991 Make LeafRuntimeField final
  server/src/main/java/org/elasticsearch/index/mapper/BooleanScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DateScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DoubleScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/IpScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/LeafRuntimeField.java
  server/src/main/java/org/elasticsearch/index/mapper/LongScriptFieldType.java
Labels: :Search/Mapping, >refactoring, Team:Search, v7.15.0, v8.0.0

#74997 [7.x] [DOCS] Fix stability and doc URL for rollup V2 JSON spec (#74992)
  rest-api-spec/src/main/resources/rest-api-spec/api/rollup.rollup.json
Labels: auto-merge, backport, v7.15.0

#74965 Fix aggs test failures (again)
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
Labels: :Analytics/Aggregations, >test, Team:Analytics, auto-backport, auto-merge, v7.14.1, v7.15.0, v8.0.0

#75007 Mute PersistentTasksNodeServiceTests.testTaskLocalAbort
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksNodeServiceTests.java
Labels: :Distributed/Task Management, >test-mute, Team:Distributed, auto-merge, v8.0.0

#75008 Ensure replica requests are marked as index_data
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
  server/src/main/java/org/elasticsearch/transport/RawIndexingDataTransportRequest.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
Labels: :Distributed/Network, >bug, Team:Distributed, v7.14.0, v7.15.0, v8.0.0

#75013 [7.x] [DOCS] Data stream snapshot behavior with excluded backing indices
  docs/reference/snapshot-restore/take-snapshot.asciidoc
Labels: :Core/Features/Data streams, >docs, Team:Core/Features, Team:Docs, backport, v7.15.0

#75015 [DOCS] Placeholder for 7.13.3 Release Notes
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.13.asciidoc
Labels: :Docs, >docs, Team:Docs, v7.13.3, v7.13.4

#75016 [DOCS] Placeholder for 6.8.17 Release Notes
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/6.8.asciidoc
Labels: :Docs, >docs, Team:Docs, v6.8.17, v6.8.18

#75014 Ensure replica requests are marked as index_data (#75008)
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
  server/src/main/java/org/elasticsearch/transport/RawIndexingDataTransportRequest.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
Labels: :Distributed/Network, >bug, Team:Distributed, v7.15.0

#74897 EQL: [Docs] Add documentation for the CircuitBreaker
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/eql.asciidoc
Labels: :Query Languages/EQL, >docs, Team:Docs, Team:QL, auto-backport, v7.14.1, v7.15.0, v8.0.0

#75019 [7.x] EQL: [Docs] Add documentation for the CircuitBreaker (#74897)
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/eql.asciidoc
Labels: auto-merge, backport, v7.15.0

#75018 [7.14] EQL: [Docs] Add documentation for the CircuitBreaker (#74897)
  docs/reference/eql/eql-search-api.asciidoc
  docs/reference/eql/eql.asciidoc
Labels: auto-merge, backport, v7.14.1

#75003 Fix ChangePolicyforIndexIT.testChangePolicyForIndex
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/ChangePolicyforIndexIT.java
Labels: :Core/Features/ILM+SLM, >test, Team:Core/Features, auto-backport, auto-merge, v7.15.0, v8.0.0

#75020 [7.x] Fix ChangePolicyforIndexIT.testChangePolicyForIndex (#75003)
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/ChangePolicyforIndexIT.java
Labels: auto-merge, backport, v7.15.0

#75009 Simplify RuntimeField creation
  server/src/main/java/org/elasticsearch/index/mapper/AbstractScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DateScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DoubleScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/IpScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/LeafRuntimeField.java
  server/src/main/java/org/elasticsearch/index/mapper/LongScriptFieldType.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldTypeLookupTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TestRuntimeField.java
  server/src/test/java/org/elasticsearch/index/query/SearchExecutionContextTests.java
Labels: :Search/Search, >refactoring, Team:Search, auto-backport, auto-merge, v7.15.0, v8.0.0

#74976 [ML] Fix race condition between job opening and feature reset
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportKillProcessAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/ProcessContext.java
Labels: :ml, >bug, Team:ML, v7.14.1, v7.15.0, v8.0.0
