Repository elastic/elasticsearch, pull requests merged in 2022-02, with the labels that each got.

#83330 [Transform] Do not mention "deduce mappings" in audit log when the deduce_mappings setting is disabled
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportStartTransformAction.java
Labels: >non-issue, :ml/Transform, Team:ML, v8.1.0

#83337 [8.0] refactor: use the original from/to values when creating the bucket (#83262)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/40_range.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/DateRangeAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalDateRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalGeoDistance.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregator.java
  server/src/test/java/org/elasticsearch/action/search/SearchResponseMergerTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalDateRangeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalGeoDistanceTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/InternalRangeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregatorTests.java
Labels: backport, v8.0.0

#82819 [Draft] Adjust indices.recovery.max_bytes_per_sec according to external settings
  docs/changelog/82819.yaml
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySettings.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySettingsTests.java
Labels: >enhancement, :Distributed/Recovery, Team:Distributed, v8.1.0

#83356 Fix flaky testMaxBytesPerSecOnNonDataNodeWithIndicesRecoveryMaxBytesPerSec
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySettingsTests.java
Labels: >test, :Distributed/Recovery, Team:Distributed, v7.17.0, v7.17.1

#83350 Add missing max overcommit factor to list of (dynamic) settings
  docs/changelog/83350.yaml
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySettings.java
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, v8.1.0

#83218 Copy trace.id in threadcontext stash
  docs/changelog/83218.yaml
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/tasks/Task.java
  server/src/main/java/org/elasticsearch/tasks/TaskManager.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/ThreadContextTests.java
  server/src/test/java/org/elasticsearch/node/NodeTests.java
Labels: >bug, :Core/Infra/Core, v8.0.0, Team:Core/Infra, auto-backport, v8.1.0, v7.17.1

#83362 Mute flaky tests for #83351
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/BooleanTermsIT.java
Labels: :Analytics/Aggregations, >test-mute, Team:Analytics, auto-merge, v8.1.0

#83355 Update version after backporting #83262
  build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/40_range.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalRange.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.1.0

#83354 Add missing indices.recovery.internal_action_retry_timeout to list of settings
  docs/changelog/83354.yaml
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySettings.java
Labels: >bug, :Distributed/Recovery, v8.0.0, Team:Distributed, auto-merge, auto-backport-and-merge, v8.1.0, v7.17.1

#83360 [8.0] Copy trace.id in threadcontext stash (#83218)
  docs/changelog/83218.yaml
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/tasks/Task.java
  server/src/main/java/org/elasticsearch/tasks/TaskManager.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/ThreadContextTests.java
  server/src/test/java/org/elasticsearch/node/NodeTests.java
Labels: backport, v8.0.0

#83361 Add docs for node bandwith settings
  docs/reference/modules/indices/recovery.asciidoc
Labels: >docs, :Distributed/Recovery, Team:Distributed, Team:Docs, v8.1.0

#83343 Cleanup Watcher Logging
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherIndexingListener.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/execution/AsyncTriggerEventConsumer.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/execution/ExecutionService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/execution/SyncTriggerEventConsumer.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/history/HistoryStore.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/input/chain/ExecutableChainInput.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/input/http/ExecutableHttpInput.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/input/search/ExecutableSearchInput.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/support/search/WatcherSearchTemplateService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/transform/script/ExecutableScriptTransform.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/transform/search/ExecutableSearchTransform.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/transport/actions/TransportExecuteWatchAction.java
Labels: >bug, :Data Management/Watcher, v8.0.0, Team:Data Management, v7.7.2, auto-backport-and-merge, v8.1.0

#81384 Wait for relocations during the first mixed round in SnapshotBasedRecoveryIT
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/SnapshotBasedRecoveryIT.java
Labels: >test, :Distributed/Recovery, Team:Distributed, v8.1.0

#83367 [8.0] Add missing indices.recovery.internal_action_retry_timeout to list of settings (#83354)
  docs/changelog/83354.yaml
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySettings.java
Labels: backport, v8.0.0, auto-merge

#83368 [7.17] Add missing indices.recovery.internal_action_retry_timeout to list of settings
  docs/changelog/83354.yaml
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySettings.java
Labels: backport, auto-merge, v7.17.1

#83359 Operator factor settings should have the OperatorDynamic setting property
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySettings.java
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, auto-merge, v8.1.0

#83344 [Test] Fix header value assertion for 401 error (#83037)
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/user/AnonymousUserIntegTests.java
Labels: backport, v8.0.0, auto-merge

#83358 Moving ScoreFunctionBuilders under VersionedNamedWriteable
  server/src/internalClusterTest/java/org/elasticsearch/search/functionscore/FunctionScorePluginIT.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/ExponentialDecayFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/FieldValueFactorFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/GaussDecayFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/LinearDecayFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/RandomScoreFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/ScoreFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/ScriptScoreFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/WeightBuilder.java
Labels: :Search/Search, >refactoring, Team:Search, v8.1.0

#83364 Moving Smoothing models under VersionedNamedWriteable
  server/src/main/java/org/elasticsearch/search/suggest/phrase/Laplace.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/LinearInterpolation.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/SmoothingModel.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/StupidBackoff.java
Labels: :Search/Search, >refactoring, Team:Search, v8.1.0

#83365 [7.17] Copy trace.id in threadcontext stash backport(#83218)
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/tasks/Task.java
  server/src/main/java/org/elasticsearch/tasks/TaskManager.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/ThreadContextTests.java
  server/src/test/java/org/elasticsearch/node/NodeTests.java
Labels: backport, v7.17.1

#83374 docs: remove coming in 7.17 tag
  docs/reference/release-notes/7.17.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-merge, v7.17.0

#83292 [DOCS] Release highlight for security-on-by-default
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, release highlight, :Security/TLS, v8.0.0, Team:Docs, Team:Security

#83224 Refine Checkstyle for method Javadoc
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/checkstyle/MissingJavadocMethodCheck.java
  build-tools-internal/src/main/resources/checkstyle_ide_fragment.xml
Labels: >enhancement, Team:Delivery, :Delivery/Tooling, v8.1.0

#83274 [DOCS] Update dynamic mapping docs to clarify supported match_mapping_type
  docs/reference/mapping/dynamic/field-mapping.asciidoc
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: >docs, :Search/Mapping, v8.0.0, Team:Docs, Team:Search, auto-backport-and-merge, v7.15.2, v8.1.0, v7.17.0, v7.16.3

#81740 Plumb aggregation builder into reduce context
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/TermsReduceBenchmark.java
  modules/aggs-matrix-stats/src/test/java/org/elasticsearch/search/aggregations/matrix/stats/InternalMatrixStatsTests.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/BooleanTermsIT.java
  server/src/main/java/org/elasticsearch/action/search/SearchResponse.java
  server/src/main/java/org/elasticsearch/action/search/SearchResponseMerger.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationReduceContext.java
  server/src/main/java/org/elasticsearch/search/aggregations/InternalAggregations.java
  server/src/test/java/org/elasticsearch/action/search/QueryPhaseResultConsumerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchResponseMergerTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/DelayedBucketTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/InternalAggregationsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalAutoDateHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalVariableWidthHistogramTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/AbstractPercentilesTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalCardinalityTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalScriptedMetricTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalTopHitsTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalAggregationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalMultiBucketAggregationTestCase.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/multiterms/InternalMultiTermsTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/rate/InternalRateTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/stringstats/InternalStringStatsTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/InternalTopMetricsTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/ttest/InternalTTestTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupResponseTranslator.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/TransportRollupSearchAction.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupResponseTranslationTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/InternalGeoLineTests.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.1.0

#83380 [7.16] [DOCS] Update dynamic mapping docs to clarify supported match_mapping_type (#83274)
  docs/reference/mapping/dynamic/field-mapping.asciidoc
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: backport, auto-merge, v7.16.4

#83379 [7.17] [DOCS] Update dynamic mapping docs to clarify supported match_mapping_type (#83274)
  docs/reference/mapping/dynamic/field-mapping.asciidoc
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: backport, auto-merge, v7.17.1

#83378 [7.15] [DOCS] Update dynamic mapping docs to clarify supported match_mapping_type (#83274)
  docs/reference/mapping/dynamic/field-mapping.asciidoc
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: backport, auto-merge, v7.15.3

#83377 [8.0] [DOCS] Update dynamic mapping docs to clarify supported match_mapping_type (#83274)
  docs/reference/mapping/dynamic/field-mapping.asciidoc
  docs/reference/mapping/dynamic/templates.asciidoc
Labels: backport, v8.0.0, auto-merge

#82975 Desired nodes API
  docs/changelog/82975.yaml
  docs/reference/cluster.asciidoc
  docs/reference/cluster/delete-desired-nodes.asciidoc
  docs/reference/cluster/get-desired-nodes.asciidoc
  docs/reference/cluster/update-desired-nodes.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/desired_nodes.delete_desired_nodes.json
  rest-api-spec/src/main/resources/rest-api-spec/api/desired_nodes.get_desired_nodes.json
  rest-api-spec/src/main/resources/rest-api-spec/api/desired_nodes.update_desired_nodes.json
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.desired_nodes/10_basic.yml
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/desirednodes/TransportDesiredNodesActionsIT.java
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/DeleteDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/DesiredNodesClusterStateTaskExecutor.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/GetDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/TransportDeleteDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/TransportGetDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/TransportUpdateDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/UpdateDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/UpdateDesiredNodesRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/UpdateDesiredNodesResponse.java
  server/src/main/java/org/elasticsearch/cluster/ClusterModule.java
  server/src/main/java/org/elasticsearch/cluster/desirednodes/DesiredNodesSettingsValidator.java
  server/src/main/java/org/elasticsearch/cluster/desirednodes/VersionConflictException.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DesiredNode.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DesiredNodes.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DesiredNodesMetadata.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestDeleteDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestUpdateDesiredNodesAction.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/desirednodes/GetDesiredNodesResponseSerializationTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/desirednodes/TransportUpdateDesiredNodesActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/desirednodes/UpdateDesiredNodesRequestSerializationTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/desirednodes/UpdateDesiredNodesRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/desirednodes/UpdateDesiredNodesResponseSerializationTests.java
  server/src/test/java/org/elasticsearch/cluster/desirednodes/DesiredNodesSettingsValidatorTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DesiredNodeSerializationTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DesiredNodeTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DesiredNodesMetadataSerializationTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DesiredNodesSerializationTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DesiredNodesTestCase.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DesiredNodesTests.java
  x-pack/docs/en/security/operator-privileges/operator-only-functionality.asciidoc
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >feature, :Distributed/Distributed, Team:Distributed, Team:Clients, v8.1.0

#83342 Remove interface for transport client
  modules/parent-join/src/internalClusterTest/java/org/elasticsearch/join/aggregations/ChildrenIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/EquivalenceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/TimeSeriesAggregationsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/DateHistogramIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/DateRangeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/DoubleTermsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/HistogramIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/LongTermsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/NestedIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/RangeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/metrics/SumIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/BucketSelectorIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/DateDerivativeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/DerivativeIT.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalSum.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ParsedSum.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/Sum.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/SumAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationInspectionHelper.java
  server/src/test/java/org/elasticsearch/search/aggregations/AggregationsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/nested/NestedAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/prefix/IpPrefixAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalSumTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/SumAggregationBuilderTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/SumAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/SumTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/DerivativeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/timeseries/TimeSeriesAggregatorTests.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedSumAggregator.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedSumAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/cumulativecardinality/CumulativeCardinalityAggregatorTests.java
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/aggregations/metrics/AggregateMetricBackedSumAggregator.java
  x-pack/plugin/mapper-aggregate-metric/src/test/java/org/elasticsearch/xpack/aggregatemetric/aggregations/metrics/AggregateMetricBackedSumAggregatorTests.java
  x-pack/plugin/mapper-unsigned-long/src/test/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/persistence/TrainedModelProvider.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupResponseTranslator.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupResponseTranslationTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/extractor/MetricAggExtractor.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, auto-merge, v8.1.0

#83387 Mute TransportDesiredNodesActionsIT batch tests
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/desirednodes/TransportDesiredNodesActionsIT.java
Labels: :Distributed/Distributed, >test-mute, Team:Distributed, v8.1.0

#83347 User Profile: Add feature flag
  docs/changelog/83347.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/XPackSettingsTests.java
  x-pack/plugin/security/build.gradle
  x-pack/plugin/security/qa/operator-privileges-tests/build.gradle
  x-pack/plugin/security/qa/profile/build.gradle
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileSingleNodeTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecuritySystemIndices.java
Labels: >enhancement, :Security/Security, Team:Security, v8.1.0

#83392 Fix plumbing in double and keyword runtime fields for the scripting fields API
  docs/changelog/83392.yaml
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/65_runtime_doc_values.yml
  server/src/main/java/org/elasticsearch/index/fielddata/StringScriptFieldData.java
  server/src/main/java/org/elasticsearch/index/mapper/DoubleScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordScriptFieldType.java
Labels: >bug, :Core/Infra/Scripting, Team:Core/Infra, v8.1.0

#83309 fix GeoToH3Tests#testRandomPoints
  libs/h3/build.gradle
  libs/h3/src/test/java/org/elasticsearch/h3/GeoToH3Tests.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.1.0

#83348 Handle bounds properly when grid tiles crosses the dateline
  docs/changelog/83348.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashCellIdSource.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregatorTestCase.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoHexCellIdSource.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoHexAggregatorTests.java
Labels: >bug, :Analytics/Geo, Team:Analytics, v8.1.0

#83152 Fix and optimize "Add XContentFieldFilter (#81970)"
  server/src/main/java/org/elasticsearch/common/xcontent/XContentFieldFilter.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentHelper.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/common/xcontent/support/XContentFieldFilterTests.java
Labels: >enhancement, :Search/Mapping, Team:Search, external-contributor, v8.1.0

#83376 SQL: Fix txt format for empty result sets
  docs/changelog/83376.yaml
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TextFormat.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plugin/TextFormatTests.java
Labels: >bug, :Query Languages/SQL, v8.0.0, Team:QL, auto-merge, auto-backport-and-merge, v8.1.0, v7.17.1

#83372 Document and test operator-only node bandwidth recovery settings
  docs/reference/modules/indices/recovery.asciidoc
  x-pack/docs/en/security/operator-privileges/operator-only-functionality.asciidoc
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesIT.java
Labels: >docs, :Distributed/Recovery, Team:Distributed, Team:Docs, v8.1.0

#83395 Allow doc-values only search on geo_point fields
  docs/changelog/83395.yaml
  docs/reference/mapping/params/doc-values.asciidoc
  docs/reference/mapping/types/geo-point.asciidoc
  docs/reference/query-dsl.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/field_caps/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/390_doc_values_search.yml
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/script/field/SortedNumericDocValuesLongFieldScript.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointFieldMapperTests.java
Labels: >enhancement, :Search/Mapping, Team:Search, v8.1.0

#83400 [8.0] SQL: Fix txt format for empty result sets (#83376)
  docs/changelog/83376.yaml
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TextFormat.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plugin/TextFormatTests.java
Labels: backport, v8.0.0, auto-merge

#83401 [7.17] SQL: Fix txt format for empty result sets (#83376)
  docs/changelog/83376.yaml
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/TextFormat.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plugin/TextFormatTests.java
Labels: backport, auto-merge, v7.17.1

#83404 Implement all queries on doc-values only keyword fields
  docs/changelog/83404.yaml
  docs/reference/mapping/params/doc-values.asciidoc
  docs/reference/mapping/types/keyword.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/390_doc_values_search.yml
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/script/field/SortedSetDocValuesStringFieldScript.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldTypeTests.java
Labels: >enhancement, :Search/Mapping, Team:Search, v8.1.0

#83213 fix: reduce float and half-float values to their stored precision
  docs/changelog/83213.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/40_range.yml
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregatorTests.java
Labels: >bug, :Analytics/Aggregations, v8.0.0, Team:Analytics, auto-backport, v8.1.0, v7.17.1

#83398 Model for the new health reporting api
  build-tools-internal/src/main/resources/changelog-schema.json
  docs/changelog/83398.yaml
  server/src/main/java/org/elasticsearch/health/HealthComponentResult.java
  server/src/main/java/org/elasticsearch/health/HealthIndicatorResult.java
  server/src/main/java/org/elasticsearch/health/HealthIndicatorService.java
  server/src/main/java/org/elasticsearch/health/HealthStatus.java
  server/src/test/java/org/elasticsearch/health/HealthComponentResultTests.java
  server/src/test/java/org/elasticsearch/health/HealthStatusTests.java
Labels: >feature, Team:Distributed, v8.1.0, :Distributed/Health

#83389 Fix ResourceNotFoundException in testUpdateStoreKeepAlive.
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/AsyncSearchActionIT.java
Labels: >test, :Search/Search, v8.0.0, Team:Search, v8.1.0

#83291 [8.0] Bump bundled JDK to 17.0.2+8 (#83243)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/DistroTestPlugin.java
  build-tools-internal/version.properties
  docs/changelog/83243.yaml
Labels: backport, auto-merge, v8.0.1

#83421 Reenable BooleanTermsIT
  docs/changelog/83421.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/BooleanTermsIT.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, auto-merge, v8.1.0

#83426 [DOCS] Fix typo
  docs/reference/release-notes/8.0.0-rc1.asciidoc
Labels: >docs, v8.0.0, Team:Docs, auto-backport-and-merge, v8.1.0

#83148 Handle fields.with.dots in routing_path
  build-tools-internal/src/main/resources/changelog-schema.json
  docs/changelog/83148.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRouting.java
  server/src/test/java/org/elasticsearch/cluster/routing/IndexRoutingTests.java
Labels: >feature, Team:Analytics, :Analytics/TSDB, v8.1.0

#83427 [8.0] [DOCS] Fix typo (#83426)
  docs/reference/release-notes/8.0.0-rc1.asciidoc
Labels: backport, auto-merge, v8.0.1

#64422 Add scripted_metric agg context to unsigned_long
  docs/changelog/64422.yaml
  docs/reference/mapping/types/unsigned_long.asciidoc
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/DocValuesWhitelistExtension.java
  x-pack/plugin/mapper-unsigned-long/src/yamlRestTest/resources/rest-api-spec/test/50_script_values.yml
Labels: >enhancement, :Search/Search, v8.1.0

#82401 Add `beats_stats.metrics.apm-server.sampling.tail` to stack monitoring templates
  docs/changelog/82401.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/monitoring/exporter/MonitoringTemplateUtils.java
  x-pack/plugin/core/src/main/resources/monitoring-beats-mb.json
  x-pack/plugin/core/src/main/resources/monitoring-beats.json
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringTemplateRegistry.java
Labels: >enhancement, :Data Management/Monitoring, Team:Data Management, external-contributor, v8.2.0

#83394 fix flaky of tsdb/30_snapshot.yml it
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/30_snapshot.yml
Labels: :Distributed/Snapshot/Restore, >test-failure, Team:Distributed, v8.2.0

#83402 Update vector tiles google protobuf to 3.16.1
  docs/changelog/83402.yaml
  x-pack/plugin/vector-tile/build.gradle
  x-pack/plugin/vector-tile/licenses/protobuf-java-3.14.0.jar.sha1
  x-pack/plugin/vector-tile/licenses/protobuf-java-3.16.1.jar.sha1
Labels: :Analytics/Geo, >upgrade, v8.0.0, Team:Analytics, v7.17.1, v8.2.0, v8.1.1

#83437 [7.17] Update vector tiles google protobuf to 3.16.1 (#83402)
  docs/changelog/83402.yaml
  x-pack/plugin/vector-tile/build.gradle
  x-pack/plugin/vector-tile/licenses/protobuf-java-3.14.0.jar.sha1
  x-pack/plugin/vector-tile/licenses/protobuf-java-3.16.1.jar.sha1
Labels: backport, auto-merge, v7.17.1

#83436 [8.0] Update vector tiles google protobuf to 3.16.1 (#83402)
  docs/changelog/83402.yaml
  x-pack/plugin/vector-tile/build.gradle
  x-pack/plugin/vector-tile/licenses/protobuf-java-3.14.0.jar.sha1
  x-pack/plugin/vector-tile/licenses/protobuf-java-3.16.1.jar.sha1
Labels: backport, auto-merge, v8.0.1

#83438 [8.1] Update vector tiles google protobuf to 3.16.1 (#83402)
  docs/changelog/83402.yaml
  x-pack/plugin/vector-tile/build.gradle
  x-pack/plugin/vector-tile/licenses/protobuf-java-3.14.0.jar.sha1
  x-pack/plugin/vector-tile/licenses/protobuf-java-3.16.1.jar.sha1
Labels: backport, auto-merge, v8.1.1

#83301 Rework listeners in MasterService
  server/src/main/java/org/elasticsearch/cluster/AckedClusterStateUpdateTask.java
  server/src/main/java/org/elasticsearch/cluster/ClusterStateAckListener.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataMappingService.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  test/framework/src/main/java/org/elasticsearch/cluster/service/FakeThreadPoolMasterService.java
Labels: >refactoring, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, v8.2.0

#83397 Change date range format which fails to parse in some clients
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/40_range.yml
Labels: >test, :Analytics/Aggregations, v8.0.0, Team:Analytics, external-contributor, auto-backport-and-merge, v8.1.0, v7.17.1, v8.2.0

#83444 [7.17] Change date range format which fails to parse in some clients (#83397)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/40_range.yml
Labels: backport, external-contributor, auto-merge, v7.17.1

#83443 [8.1] Change date range format which fails to parse in some clients (#83397)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/40_range.yml
Labels: backport, external-contributor, auto-merge, v8.1.1

#83323 [8.0] Move Get Snapshots Serialization to Management Pool (#83215)
  docs/changelog/83215.yaml
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetSnapshotsAction.java
Labels: backport, v8.0.0, auto-merge

#83412 Add 8.0.0-rc2 release notes
  docs/reference/migration/migrate_8_0.asciidoc
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.0.0-rc1.asciidoc
  docs/reference/release-notes/8.0.0-rc2.asciidoc
Labels: >docs, v8.0.0, Team:Docs, v8.0.0-rc2

#83439 SQL: Fix malformed bulk request in SqlCompatIT
  x-pack/plugin/sql/qa/mixed-node/src/test/java/org/elasticsearch/xpack/sql/qa/mixed_node/SqlCompatIT.java
Labels: >test, :Query Languages/SQL, Team:QL, auto-backport-and-merge, v8.2.0, v8.1.1

#83442 [8.0] Change date range format which fails to parse in some clients (#83397)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/40_range.yml
Labels: backport, external-contributor, auto-merge, v8.0.1

#83447 [8.1] SQL: Fix malformed bulk request in SqlCompatIT (#83439)
  x-pack/plugin/sql/qa/mixed-node/src/test/java/org/elasticsearch/xpack/sql/qa/mixed_node/SqlCompatIT.java
Labels: backport, auto-merge, v8.1.1

#83450 [8.1] Add 8.0.0-rc2 release notes (#83412)
  docs/reference/migration/migrate_8_0.asciidoc
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.0.0-rc1.asciidoc
  docs/reference/release-notes/8.0.0-rc2.asciidoc
Labels: backport, v8.1.1

#83424 Returns valid PIT when no index matched
  docs/changelog/83424.yaml
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/frozen/FrozenIndexIT.java
Labels: >bug, :Search/Search, Team:Search, auto-backport-and-merge, v7.17.1, v8.0.1, v8.2.0, v8.1.1

#81818 [DOCS] Fix get snapshot status API parameters
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, v8.0.0, Team:Distributed, Team:Docs, v7.9.4, v7.10.3, v7.11.3, v7.12.2, v7.13.5, v7.14.3, v7.15.3, v7.16.4, v7.17.1, v8.2.0, v8.1.1

#83455 [8.1] Returns valid PIT when no index matched (#83424)
  docs/changelog/83424.yaml
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/frozen/FrozenIndexIT.java
Labels: backport, auto-merge, v8.1.1

#83430 Improve EnrollmentProcessTests robustness
  qa/os/src/test/java/org/elasticsearch/packaging/test/EnrollmentProcessTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Archives.java
Labels: >test, :Delivery/Build, :Security/Security, Team:Security, Team:Delivery, v8.1.0, v8.0.1, v8.2.0

#83460 [8.1] [DOCS] Fix get snapshot status API parameters (#81818)
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
Labels: backport, auto-merge, v8.1.1

#83463 [7.16] [DOCS] Fix get snapshot status API parameters (#81818)
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
Labels: backport, auto-merge, v7.16.4

#83461 [8.0] [DOCS] Fix get snapshot status API parameters (#81818)
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
Labels: backport, auto-merge, v8.0.1

#83465 [7.14] [DOCS] Fix get snapshot status API parameters (#81818)
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
Labels: backport, auto-merge, v7.14.3

#83468 [7.11] [DOCS] Fix get snapshot status API parameters (#81818)
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
Labels: backport, v7.11.3, auto-merge

#83467 [7.12] [DOCS] Fix get snapshot status API parameters (#81818)
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
Labels: backport, v7.12.2, auto-merge

#83470 [7.9] [DOCS] Fix get snapshot status API parameters (#81818)
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
Labels: backport, v7.9.4, auto-merge

#83469 [7.10] [DOCS] Fix get snapshot status API parameters (#81818)
  docs/reference/snapshot-restore/apis/get-snapshot-status-api.asciidoc
Labels: backport, v7.10.3, auto-merge

#83277 Remove empty cluster test for cat allocation
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cat.allocation/10_basic.yml
Labels: >test, :Data Management/CAT APIs, Team:Data Management, v8.2.0

#83388 [DOCS] Add documentation for Painless field API
  docs/reference/scripting.asciidoc
  docs/reference/scripting/access-fields.asciidoc
  docs/reference/scripting/using.asciidoc
Labels: >docs, :Core/Infra/Scripting, Team:Core/Infra, Team:Docs, auto-backport-and-merge, v8.2.0, v8.1.1

#83481 [8.1] [DOCS] Add documentation for Painless field API (#83388)
  docs/reference/scripting.asciidoc
  docs/reference/scripting/access-fields.asciidoc
  docs/reference/scripting/using.asciidoc
Labels: backport, auto-merge, v8.1.1

#83119 Add elasticsearch health API
  docs/changelog/83119.yaml
  docs/reference/health/health.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/health.json
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/10_basic.yml
  server/src/internalClusterTest/java/org/elasticsearch/health/GetHealthActionIT.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/health/GetHealthAction.java
  server/src/main/java/org/elasticsearch/health/HealthComponentResult.java
  server/src/main/java/org/elasticsearch/health/HealthIndicatorDetails.java
  server/src/main/java/org/elasticsearch/health/HealthStatus.java
  server/src/main/java/org/elasticsearch/health/RestGetHealthAction.java
  server/src/main/java/org/elasticsearch/health/components/controller/ClusterCoordination.java
  server/src/test/java/org/elasticsearch/health/HealthComponentResultTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >enhancement, :Distributed/Distributed, Team:Distributed, Team:Clients, v8.2.0

#83477 Fix range agg serialization
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalRange.java
Labels: >non-issue, :Analytics/Aggregations, v8.0.0, Team:Analytics, auto-backport, test-full-bwc, v8.1.0, v7.17.1, v8.2.0

#83446 [Docs] Delete Elasticsearch Homebrew 8.x docs
  docs/reference/setup/important-settings/path-settings.asciidoc
  docs/reference/setup/install.asciidoc
  docs/reference/setup/install/brew.asciidoc
  docs/reference/tab-widgets/logging-widget.asciidoc
  docs/reference/tab-widgets/logging.asciidoc
Labels: >docs, :Delivery/Packaging, v8.0.0, Team:Docs, Team:Delivery, auto-backport-and-merge, v8.1.0, v8.2.0

#83483 [8.0] Fix range agg serialization (#83477)
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalRange.java
Labels: backport, auto-merge, test-full-bwc, v8.0.1

#83485 [7.17] Fix range agg serialization (#83477)
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalRange.java
Labels: backport, auto-merge, test-full-bwc, v7.17.1

#83484 [8.1] Fix range agg serialization (#83477)
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalRange.java
Labels: backport, auto-merge, test-full-bwc, v8.1.1

#83382 [DOCS] Adds disclaimer to cat APIs
  docs/reference/cat/alias.asciidoc
  docs/reference/cat/allocation.asciidoc
  docs/reference/cat/anomaly-detectors.asciidoc
  docs/reference/cat/count.asciidoc
  docs/reference/cat/datafeeds.asciidoc
  docs/reference/cat/dataframeanalytics.asciidoc
  docs/reference/cat/fielddata.asciidoc
  docs/reference/cat/health.asciidoc
  docs/reference/cat/indices.asciidoc
  docs/reference/cat/master.asciidoc
  docs/reference/cat/nodeattrs.asciidoc
  docs/reference/cat/nodes.asciidoc
  docs/reference/cat/pending_tasks.asciidoc
  docs/reference/cat/plugins.asciidoc
  docs/reference/cat/recovery.asciidoc
  docs/reference/cat/repositories.asciidoc
  docs/reference/cat/segments.asciidoc
  docs/reference/cat/shards.asciidoc
  docs/reference/cat/snapshots.asciidoc
  docs/reference/cat/tasks.asciidoc
  docs/reference/cat/templates.asciidoc
  docs/reference/cat/thread_pool.asciidoc
  docs/reference/cat/trainedmodel.asciidoc
  docs/reference/cat/transforms.asciidoc
Labels: >docs, v8.0.0, Team:Docs, v7.17.0, v7.16.4, v8.2.0, v8.1.1

#83448 Do not allow safelisted media types on Content-Type
  docs/changelog/83448.yaml
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
Labels: >bug, :Core/Infra/REST API, Team:Core/Infra, v8.1.0, v8.2.0

#83496 [8.1] [DOCS] Adds disclaimer to cat APIs (#83382)
  docs/reference/cat/alias.asciidoc
  docs/reference/cat/allocation.asciidoc
  docs/reference/cat/anomaly-detectors.asciidoc
  docs/reference/cat/count.asciidoc
  docs/reference/cat/datafeeds.asciidoc
  docs/reference/cat/dataframeanalytics.asciidoc
  docs/reference/cat/fielddata.asciidoc
  docs/reference/cat/health.asciidoc
  docs/reference/cat/indices.asciidoc
  docs/reference/cat/master.asciidoc
  docs/reference/cat/nodeattrs.asciidoc
  docs/reference/cat/nodes.asciidoc
  docs/reference/cat/pending_tasks.asciidoc
  docs/reference/cat/plugins.asciidoc
  docs/reference/cat/recovery.asciidoc
  docs/reference/cat/repositories.asciidoc
  docs/reference/cat/segments.asciidoc
  docs/reference/cat/shards.asciidoc
  docs/reference/cat/snapshots.asciidoc
  docs/reference/cat/tasks.asciidoc
  docs/reference/cat/templates.asciidoc
  docs/reference/cat/thread_pool.asciidoc
  docs/reference/cat/trainedmodel.asciidoc
  docs/reference/cat/transforms.asciidoc
Labels: >docs, backport, Team:Docs, v8.1.1

#83497 [8.0] [DOCS] Adds disclaimer to cat APIs (#83382)
  docs/reference/cat/alias.asciidoc
  docs/reference/cat/allocation.asciidoc
  docs/reference/cat/anomaly-detectors.asciidoc
  docs/reference/cat/count.asciidoc
  docs/reference/cat/datafeeds.asciidoc
  docs/reference/cat/dataframeanalytics.asciidoc
  docs/reference/cat/fielddata.asciidoc
  docs/reference/cat/health.asciidoc
  docs/reference/cat/indices.asciidoc
  docs/reference/cat/master.asciidoc
  docs/reference/cat/nodeattrs.asciidoc
  docs/reference/cat/nodes.asciidoc
  docs/reference/cat/pending_tasks.asciidoc
  docs/reference/cat/plugins.asciidoc
  docs/reference/cat/recovery.asciidoc
  docs/reference/cat/repositories.asciidoc
  docs/reference/cat/segments.asciidoc
  docs/reference/cat/shards.asciidoc
  docs/reference/cat/snapshots.asciidoc
  docs/reference/cat/tasks.asciidoc
  docs/reference/cat/templates.asciidoc
  docs/reference/cat/thread_pool.asciidoc
  docs/reference/cat/trainedmodel.asciidoc
  docs/reference/cat/transforms.asciidoc
Labels: >docs, backport, Team:Docs, v8.0.1

#83498 [7.17] [DOCS] Adds disclaimer to cat APIs (#83382)
  docs/reference/cat/alias.asciidoc
  docs/reference/cat/allocation.asciidoc
  docs/reference/cat/anomaly-detectors.asciidoc
  docs/reference/cat/count.asciidoc
  docs/reference/cat/datafeeds.asciidoc
  docs/reference/cat/dataframeanalytics.asciidoc
  docs/reference/cat/fielddata.asciidoc
  docs/reference/cat/health.asciidoc
  docs/reference/cat/indices.asciidoc
  docs/reference/cat/master.asciidoc
  docs/reference/cat/nodeattrs.asciidoc
  docs/reference/cat/nodes.asciidoc
  docs/reference/cat/pending_tasks.asciidoc
  docs/reference/cat/plugins.asciidoc
  docs/reference/cat/recovery.asciidoc
  docs/reference/cat/repositories.asciidoc
  docs/reference/cat/segments.asciidoc
  docs/reference/cat/shards.asciidoc
  docs/reference/cat/snapshots.asciidoc
  docs/reference/cat/tasks.asciidoc
  docs/reference/cat/templates.asciidoc
  docs/reference/cat/thread_pool.asciidoc
  docs/reference/cat/trainedmodel.asciidoc
  docs/reference/cat/transforms.asciidoc
Labels: >docs, backport, Team:Docs, v7.17.1

#83499 [7.16][DOCS] Adds disclaimer to cat APIs
  docs/reference/cat/alias.asciidoc
  docs/reference/cat/allocation.asciidoc
  docs/reference/cat/anomaly-detectors.asciidoc
  docs/reference/cat/count.asciidoc
  docs/reference/cat/datafeeds.asciidoc
  docs/reference/cat/dataframeanalytics.asciidoc
  docs/reference/cat/fielddata.asciidoc
  docs/reference/cat/health.asciidoc
  docs/reference/cat/indices.asciidoc
  docs/reference/cat/master.asciidoc
  docs/reference/cat/nodeattrs.asciidoc
  docs/reference/cat/nodes.asciidoc
  docs/reference/cat/pending_tasks.asciidoc
  docs/reference/cat/plugins.asciidoc
  docs/reference/cat/recovery.asciidoc
  docs/reference/cat/repositories.asciidoc
  docs/reference/cat/segments.asciidoc
  docs/reference/cat/shards.asciidoc
  docs/reference/cat/snapshots.asciidoc
  docs/reference/cat/tasks.asciidoc
  docs/reference/cat/templates.asciidoc
  docs/reference/cat/thread_pool.asciidoc
  docs/reference/cat/trainedmodel.asciidoc
  docs/reference/cat/transforms.asciidoc
Labels: >docs, backport, Team:Docs, v7.16.4

#80982 Fix test log info
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/IndexBalanceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/RoutingNodesIntegrityTests.java
Labels: >test, :Distributed/Allocation, Team:Distributed, external-contributor, v8.2.0

#83405 Clean up field caps test after fix
  qa/mixed-cluster/build.gradle
Labels: >test, :Search/Search, Team:Search, v7.17.1

#83503 Mute RollupIT.testPutStartAndGetRollupJob
  client/rest-high-level/src/test/java/org/elasticsearch/client/RollupIT.java
Labels: :Analytics/Rollup, >test-mute, Team:Analytics, auto-merge, auto-backport-and-merge, v7.17.1, v8.0.1, v8.1.1

#83502 Make BulkShardRequest.ramBytesUsed a little cheaper
  server/src/main/java/org/elasticsearch/action/bulk/BulkItemRequest.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkShardRequest.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, v8.2.0

#83480 SQL: List unsigned_long type as supported SQL type
  docs/reference/sql/language/data-types.asciidoc
  docs/reference/sql/limitations.asciidoc
Labels: >docs, :Query Languages/SQL, Team:Docs, Team:QL, v8.2.0

#83505 [7.17] Mute RollupIT.testPutStartAndGetRollupJob (#83503)
  client/rest-high-level/src/test/java/org/elasticsearch/client/RollupIT.java
Labels: backport, auto-merge, v7.17.1

#83506 [8.0] Mute RollupIT.testPutStartAndGetRollupJob (#83503)
  client/rest-high-level/src/test/java/org/elasticsearch/client/RollupIT.java
Labels: backport, auto-merge, v8.0.1

#83440 ILM/SLM health indicator services
  docs/changelog/83440.yaml
  server/src/main/java/org/elasticsearch/health/HealthIndicatorService.java
  server/src/main/java/org/elasticsearch/health/ServerHealthComponents.java
  server/src/main/java/org/elasticsearch/health/SimpleHealthIndicatorDetails.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IlmHealthIndicatorService.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SlmHealthIndicatorService.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IlmHealthIndicatorServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SlmHealthIndicatorServiceTests.java
Labels: >enhancement, Team:Distributed, :Distributed/Health, v8.2.0

#83510 Mute ClientYamlTestSuiteIT "Get all aliases via /_alias" and "Get aliases via /_all/_alias/"
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.get_alias/10_basic.yml
Labels: :Data Management/Indices APIs, >test-mute, Team:Data Management, auto-merge, auto-backport-and-merge, v8.2.0, v8.1.1

#83257 [Transform] Forward deprecations from search response to transform _preview API response
  docs/changelog/83257.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ClientHelper.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformPivotRestIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/common/AbstractCompositeAggFunction.java
Labels: >upgrade, :ml/Transform, Team:ML, v7.17.1

#83500 [8.1] Do not allow safelisted media types on Content-Type (#83448)
  docs/changelog/83448.yaml
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
Labels: backport, v8.1.1

#83482 _terms_enum for doc value only keyword fields
  docs/changelog/83482.yaml
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/NodeTermsEnumResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/SimpleTermCountEnum.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TermCount.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TransportTermsEnumAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/termsenum/MultiShardTermsEnumTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/termsenum/TermCountTests.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/terms_enum/10_basic.yml
Labels: >enhancement, :Search/Mapping, Team:Search, v8.2.0

#83453 Make DiscoveryNodes behave like a collection
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/node/tasks/CancellableTasksIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchLeakIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/AddVotingConfigExclusionsRequest.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeRemovalClusterStateTaskExecutorTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/memory/AutoscalingMemoryInfoService.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderDecisionTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderServiceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/AbstractLicenseServiceTestCase.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformNodes.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.2.0

#83511 [8.1] Mute ClientYamlTestSuiteIT "Get all aliases via /_alias" and "Get aliases via /_all/_alias/" (#83510)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.get_alias/10_basic.yml
Labels: backport, auto-merge, v8.1.1

#83501 SQL: Replace seconds with days as seed for random generation
  x-pack/plugin/sql/qa/server/src/main/resources/unsigned-long.sql-spec
Labels: >test, :Query Languages/SQL, Team:QL, v8.2.0

#83519 Mute NodeTests
  server/src/test/java/org/elasticsearch/node/NodeTests.java
Labels: :Core/Infra/Core, :Distributed/Network, >test-mute, Team:Core/Infra, Team:Distributed, auto-merge, auto-backport-and-merge, v8.2.0, v8.1.1

#83512 Remove CentOS from the CI matrix
  .ci/jobs.t/elastic+elasticsearch+multijob+packaging-tests-unix.yml
  .ci/jobs.t/elastic+elasticsearch+multijob+packaging-tests-upgrade.yml
  .ci/jobs.t/elastic+elasticsearch+multijob+platform-support-arm.yml
  .ci/jobs.t/elastic+elasticsearch+multijob+platform-support-unix.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-unix-sample.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-unix.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-upgrade-tests.yml
Labels: >test, :Delivery/Packaging, Team:Delivery, auto-backport-and-merge, v8.1.0, v7.17.1, v8.0.1, v8.2.0

#83472 Remove unused clients from HLRC
  client/rest-high-level/src/main/java/org/elasticsearch/client/AsyncSearchClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/CcrClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/EnrichClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/LicenseClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RollupClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/TextStructureClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/WatcherClient.java
Labels: >non-issue, :Data Management/Java High Level REST Client, Team:Data Management, v8.2.0

#83521 [8.1] Mute NodeTests (#83519)
  server/src/test/java/org/elasticsearch/node/NodeTests.java
Labels: backport, auto-merge, v8.1.1

#83507 Make EnrollmentProcessTests more robust v2
  qa/os/src/test/java/org/elasticsearch/packaging/test/EnrollmentProcessTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Shell.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/docker/Docker.java
Labels: >test, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.1.0, v8.0.1, v8.2.0

#83527 Remove [Draft] in changelog of #82819
  docs/changelog/82819.yaml
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, v8.2.0, v8.1.1

#83532 Mute unsigned-long divide and mode
  x-pack/plugin/sql/qa/server/src/main/resources/unsigned-long.sql-spec
Labels: :Query Languages/SQL, >test-mute, Team:QL, v8.2.0

#83531 [8.0] Make EnrollmentProcessTests more robust v2 (#83507)
  qa/os/src/test/java/org/elasticsearch/packaging/test/EnrollmentProcessTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Shell.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/docker/Docker.java
Labels: backport, auto-merge, v8.0.1

#83526 Add note about base_path and ECE to the snapshot repository docs
  docs/reference/snapshot-restore/repository-azure.asciidoc
  docs/reference/snapshot-restore/repository-gcs.asciidoc
  docs/reference/snapshot-restore/repository-s3.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, v8.0.0, Team:Distributed, Team:Docs, external-contributor, v8.2.0, v8.1.1

#83459 test: use the alternate range yaml format
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/40_range.yml
Labels: >test, :Analytics/Aggregations, v8.2.0

#83530 [8.1] Make EnrollmentProcessTests more robust v2 (#83507)
  qa/os/src/test/java/org/elasticsearch/packaging/test/EnrollmentProcessTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/Shell.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/docker/Docker.java
Labels: backport, auto-merge, v8.1.1

#83471 Remove graph client from deprecated HLRC
  client/rest-high-level/src/main/java/org/elasticsearch/client/GraphClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
Labels: >non-issue, :Data Management/Java High Level REST Client, Team:Data Management, v8.2.0

#83536 [8.1] Add note about base_path and ECE to the snapshot repository docs (#83526)
  docs/reference/snapshot-restore/repository-azure.asciidoc
  docs/reference/snapshot-restore/repository-gcs.asciidoc
  docs/reference/snapshot-restore/repository-s3.asciidoc
Labels: backport, auto-merge, v8.1.1

#83537 [8.0] Add note about base_path and ECE to the snapshot repository docs (#83526)
  docs/reference/snapshot-restore/repository-azure.asciidoc
  docs/reference/snapshot-restore/repository-gcs.asciidoc
  docs/reference/snapshot-restore/repository-s3.asciidoc
Labels: backport, auto-merge, v8.0.1

#83535 [8.1] Make DiscoveryNodes behave like a collection (#83453)
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/node/tasks/CancellableTasksIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchLeakIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/configuration/AddVotingConfigExclusionsRequest.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeRemovalClusterStateTaskExecutorTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/memory/AutoscalingMemoryInfoService.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderDecisionTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderServiceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/AbstractLicenseServiceTestCase.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformNodes.java
Labels: backport, v8.1.1

#83522 Fix GetHealthActionIT.testGetHealthInstanceNoMaster
  server/src/internalClusterTest/java/org/elasticsearch/health/GetHealthActionIT.java
Labels: >test, Team:Distributed, auto-merge, :Distributed/Health, v8.2.0

#83541 [Transform] Transform mute two new tests that fail
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformPivotRestIT.java
Labels: >test-mute, :ml/Transform, Team:ML, v7.17.1

#83528 Update setting deprecation messages to remove major release references
  docs/reference/monitoring/collecting-monitoring-data.asciidoc
  docs/reference/monitoring/configuring-metricbeat.asciidoc
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
  qa/evil-tests/src/test/java/org/elasticsearch/common/logging/EvilLoggerTests.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/monitoring/collector/ccr/StatsCollectorTests.java
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringHistoryDurationSettingsTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringServiceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/cleaner/CleanerServiceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexRecoveryCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/ml/JobStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/node/NodeStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/shards/ShardsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ClusterAlertsUtilTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ExportersTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterResourceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/enrollment/TransportNodeEnrollmentActionTests.java
Labels: >non-issue, :Data Management/Other, Team:Data Management, v8.0.1, v8.2.0, v8.1.1

#83553 [8.0] Update setting deprecation messages to remove major release references (#83528)
  docs/reference/monitoring/collecting-monitoring-data.asciidoc
  docs/reference/monitoring/configuring-metricbeat.asciidoc
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
  qa/evil-tests/src/test/java/org/elasticsearch/common/logging/EvilLoggerTests.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/monitoring/collector/ccr/StatsCollectorTests.java
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringHistoryDurationSettingsTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringServiceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/cleaner/CleanerServiceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexRecoveryCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/ml/JobStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/node/NodeStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/shards/ShardsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ClusterAlertsUtilTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ExportersTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterResourceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/enrollment/TransportNodeEnrollmentActionTests.java
Labels: backport, auto-merge, v8.0.1

#83552 [8.1] Update setting deprecation messages to remove major release references (#83528)
  docs/reference/monitoring/collecting-monitoring-data.asciidoc
  docs/reference/monitoring/configuring-metricbeat.asciidoc
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
  qa/evil-tests/src/test/java/org/elasticsearch/common/logging/EvilLoggerTests.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/monitoring/collector/ccr/StatsCollectorTests.java
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/monitoring/collector/enrich/EnrichStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringHistoryDurationSettingsTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringServiceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/cleaner/CleanerServiceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexRecoveryCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/ml/JobStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/node/NodeStatsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/shards/ShardsCollectorTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ClusterAlertsUtilTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/ExportersTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterResourceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/enrollment/TransportNodeEnrollmentActionTests.java
Labels: backport, auto-merge, v8.1.1

#82639 Authentication under domains
  docs/changelog/82639.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/SecurityContext.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/AuthenticationContext.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Realm.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/RealmConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/RealmDomain.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/RealmSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/AsyncSearchUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/SystemUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/User.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/XPackSecurityUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/XPackUser.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/support/SecondaryAuthenticationTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/privileges/UserPrivilegeResolverTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/rest/action/RestAuthenticateActionTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/filter/SecurityActionFilter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportAuthenticateAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyAuthenticator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticatorChain.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/RealmsAuthenticator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/service/ServiceAccountService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationUtils.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/ServerTransportFilter.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityContextTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/AuditTrailServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RealmsAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RealmsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/DummyUsernamePasswordRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/SecondaryAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/interceptor/IndicesAliasesRequestInterceptorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/interceptor/ResizeRequestInterceptorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: >enhancement, :Security/Authentication, Team:Security, v8.2.0

#83487 REST API compatiblity documentation
  docs/reference/migration/migrate_8_0/rest-api-changes.asciidoc
  docs/reference/rest-api/index.asciidoc
  docs/reference/rest-api/rest-api-compatibility.asciidoc
  docs/reference/upgrade.asciidoc
Labels: >docs, v8.0.0, Team:Docs, auto-backport-and-merge, v8.1.0, v8.0.1, v8.2.0, v8.1.1

#83558 [8.1] REST API compatiblity documentation (#83487)
  docs/reference/migration/migrate_8_0/rest-api-changes.asciidoc
  docs/reference/rest-api/index.asciidoc
  docs/reference/rest-api/rest-api-compatibility.asciidoc
  docs/reference/upgrade.asciidoc
Labels: backport, auto-merge, v8.1.1

#83504 [Docs]Remove Homebrew references
  docs/reference/setup/important-settings/path-settings.asciidoc
  docs/reference/setup/install.asciidoc
  docs/reference/setup/install/brew.asciidoc
  docs/reference/tab-widgets/logging-widget.asciidoc
  docs/reference/tab-widgets/logging.asciidoc
Labels: >docs, :Delivery/Packaging, backport, v8.0.0, Team:Docs, Team:Delivery, auto-backport-and-merge, v8.1.1

#83476 Remove IndexLifecycleClient from High Level Rest Client
  client/rest-high-level/src/main/java/org/elasticsearch/client/IndexLifecycleClient.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/ilm/qa/with-security/src/javaRestTest/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: >test, :Data Management/Java High Level REST Client, Team:Data Management, Team:Clients, v8.2.0

#83307 User Profile - Add rest spec files and tests
  docs/changelog/83307.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/security.activate_user_profile.json
  rest-api-spec/src/main/resources/rest-api-spec/api/security.get_user_profile.json
  rest-api-spec/src/main/resources/rest-api-spec/api/security.update_user_profile_data.json
  x-pack/docs/en/rest-api/security.asciidoc
  x-pack/docs/en/rest-api/security/activate-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/get-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/update-user-profile-data.asciidoc
  x-pack/plugin/build.gradle
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/user_profile/10_basic.yml
Labels: >enhancement, :Security/Security, Team:Security, Team:Clients, v8.2.0

#83539 [7.17][Transform] Prevent stopping of transforms due to threadpool limitation
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
Labels: >bug, backport, :ml/Transform, Team:ML, v7.17.1

#83556 Remove Unused CS Listener from SecurityServerTransportInterceptor
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/LocalStateIdentityProviderPlugin.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/LocalStateMachineLearning.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/LocalStateSecurity.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: >non-issue, :Security/Client, Team:Security, v8.2.0

#83540 Make RoutingNodes behave like a collection
  benchmarks/src/main/java/org/elasticsearch/benchmark/routing/allocation/AllocationBenchmark.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/MockDiskUsagesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indexlifecycle/IndexLifecycleActionIT.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdMonitor.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AwarenessAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/SameShardRoutingTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
Labels: >non-issue, :Distributed/Distributed, >refactoring, Team:Distributed, auto-backport, v8.2.0, v8.1.1

#83538 Remove DiscoveryNodes#getAllNodes
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksClusterService.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksClusterServiceTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutorAssignmentTests.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/InternalExecutePolicyAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDeploymentStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/allocation/TrainedModelAllocationClusterService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeSelectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutorTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: >non-issue, :Distributed/Distributed, >refactoring, Team:Distributed, auto-backport, v8.2.0, v8.1.1

#83478 SQL: Add range checks to interval multiplication operation
  docs/changelog/83478.yaml
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/SqlBinaryArithmeticOperation.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/predicate/operator/arithmetic/SqlBinaryArithmeticTests.java
Labels: >bug, :Query Languages/SQL, Team:QL, v8.2.0

#83574 [8.1] Remove DiscoveryNodes#getAllNodes (#83538)
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksClusterService.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksClusterServiceTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutorAssignmentTests.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/InternalExecutePolicyAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDeploymentStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/allocation/TrainedModelAllocationClusterService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeSelectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutorTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: backport, v8.1.1

#83573 [8.1] Make RoutingNodes behave like a collection (#83540)
  benchmarks/src/main/java/org/elasticsearch/benchmark/routing/allocation/AllocationBenchmark.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/MockDiskUsagesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indexlifecycle/IndexLifecycleActionIT.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdMonitor.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AwarenessAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/SameShardRoutingTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
Labels: backport, v8.1.1

#83340 Speed up Name Collision Check in Metadata.Builder
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.2.0

#83566 Upgrade jANSI dependency to 2.4.0
  distribution/tools/ansi-console/build.gradle
  distribution/tools/ansi-console/licenses/jansi-2.3.4.jar.sha1
  distribution/tools/ansi-console/licenses/jansi-2.4.0.jar.sha1
  docs/changelog/83566.yaml
Labels: >bug, :Security/Security, Team:Security, auto-backport, v8.1.0, v8.0.1, v8.2.0

#83572 Cleanup DataTierAllocationDecider
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ProactiveStorageDeciderService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ProactiveStorageDeciderServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderDecisionTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderServiceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierAllocationDecider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/DataTierMigrationRoutedStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/SetSingleNodeAllocateStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierAllocationDeciderTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.2.0

#83314 Upgrade Checkstyle to 9.3
  .idea/checkstyle-idea.xml
  build-conventions/build.gradle
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/checkstyle/HiddenFieldCheck.java
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/checkstyle/MissingJavadocTypeCheck.java
  build-tools-internal/version.properties
Labels: >upgrade, v8.0.0, Team:Delivery, :Delivery/Tooling, v7.17.1, v8.2.0

#83586 [Transform] Fix and unmute the tests that verify whether warnings are properly emitted.
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformPivotRestIT.java
Labels: >test, :ml/Transform, Team:ML, v7.17.1

#83549 Fixing random_sampler tests
  qa/smoke-test-multinode/build.gradle
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/sampler/random/RandomSamplerAggregatorTests.java
  x-pack/plugin/build.gradle
Labels: >test, :Analytics/Aggregations, Team:Analytics, auto-backport-and-merge, v8.1.0, v8.2.0

#83569 rename ChangePolicyforIndexIT to ChangePolicyForIndexIT
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/ChangePolicyForIndexIT.java
Labels: >non-issue, :Data Management/ILM+SLM, Team:Data Management, external-contributor, v8.2.0
