Repository elastic/elasticsearch, pull requests merged in 2022-08, with the labels that each got.

#88927 Update Elasticsearch to lucene-9.3.0
  build-tools-internal/version.properties
  modules/lang-expression/licenses/lucene-codecs-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  modules/lang-expression/licenses/lucene-codecs-9.3.0.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-9.3.0.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial-extras-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial-extras-9.3.0.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial3d-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial3d-9.3.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.3.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.3.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.3.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.3.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.3.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.3.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.3.0.jar.sha1
  server/licenses/lucene-analysis-common-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-analysis-common-9.3.0.jar.sha1
  server/licenses/lucene-backward-codecs-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-backward-codecs-9.3.0.jar.sha1
  server/licenses/lucene-core-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-core-9.3.0.jar.sha1
  server/licenses/lucene-grouping-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-grouping-9.3.0.jar.sha1
  server/licenses/lucene-highlighter-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-highlighter-9.3.0.jar.sha1
  server/licenses/lucene-join-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-join-9.3.0.jar.sha1
  server/licenses/lucene-memory-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-memory-9.3.0.jar.sha1
  server/licenses/lucene-misc-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-misc-9.3.0.jar.sha1
  server/licenses/lucene-queries-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-queries-9.3.0.jar.sha1
  server/licenses/lucene-queryparser-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-queryparser-9.3.0.jar.sha1
  server/licenses/lucene-sandbox-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-sandbox-9.3.0.jar.sha1
  server/licenses/lucene-suggest-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-suggest-9.3.0.jar.sha1
  x-pack/plugin/ml/licenses/lucene-analysis-icu-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  x-pack/plugin/ml/licenses/lucene-analysis-icu-9.3.0.jar.sha1
Labels: >non-issue, :Search/Search, >upgrade, Team:Search, v8.4.1, v8.5.0

#88975 [8.4] Update to lucene-9.3.0 (#88927)
  build-tools-internal/version.properties
  modules/lang-expression/licenses/lucene-codecs-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  modules/lang-expression/licenses/lucene-codecs-9.3.0.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-9.3.0.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial-extras-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial-extras-9.3.0.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial3d-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial3d-9.3.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.3.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.3.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.3.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.3.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.3.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.3.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.3.0.jar.sha1
  server/licenses/lucene-analysis-common-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-analysis-common-9.3.0.jar.sha1
  server/licenses/lucene-backward-codecs-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-backward-codecs-9.3.0.jar.sha1
  server/licenses/lucene-core-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-core-9.3.0.jar.sha1
  server/licenses/lucene-grouping-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-grouping-9.3.0.jar.sha1
  server/licenses/lucene-highlighter-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-highlighter-9.3.0.jar.sha1
  server/licenses/lucene-join-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-join-9.3.0.jar.sha1
  server/licenses/lucene-memory-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-memory-9.3.0.jar.sha1
  server/licenses/lucene-misc-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-misc-9.3.0.jar.sha1
  server/licenses/lucene-queries-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-queries-9.3.0.jar.sha1
  server/licenses/lucene-queryparser-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-queryparser-9.3.0.jar.sha1
  server/licenses/lucene-sandbox-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-sandbox-9.3.0.jar.sha1
  server/licenses/lucene-suggest-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  server/licenses/lucene-suggest-9.3.0.jar.sha1
  x-pack/plugin/ml/licenses/lucene-analysis-icu-9.3.0-snapshot-b8d1fcfd0ec.jar.sha1
  x-pack/plugin/ml/licenses/lucene-analysis-icu-9.3.0.jar.sha1
Labels: >non-issue, :Search/Search, backport, auto-merge, v8.4.1

#88538 Improve EQL Sequence circuit breaker precision
  docs/changelog/88538.yaml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sequence/SequenceMatcher.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/sequence/CircuitBreakerTests.java
Labels: >bug, :Query Languages/EQL, Team:QL, auto-backport-and-merge, v8.3.4, v8.4.1, v8.5.0

#88882 Fix memory calculation on circuit breaker addMemory()
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sample/SampleIterator.java
Labels: >enhancement, :Query Languages/EQL, Team:QL, v8.5.0

#88977 [8.4] Improve EQL Sequence circuit breaker precision (#88538)
  docs/changelog/88538.yaml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sequence/SequenceMatcher.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/sequence/CircuitBreakerTests.java
Labels: >bug, backport, :Query Languages/EQL, Team:QL, auto-merge, v8.4.1

#88928 Remove old API usage in DelayedAllocationService
  server/src/main/java/org/elasticsearch/cluster/routing/DelayedAllocationService.java
Labels: :Distributed/Allocation, Team:Distributed

#88976 [8.3] Improve EQL Sequence circuit breaker precision (#88538)
  docs/changelog/88538.yaml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sequence/SequenceMatcher.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/sequence/CircuitBreakerTests.java
Labels: >bug, backport, :Query Languages/EQL, Team:QL, auto-merge, v8.3.4

#88889 Remove test only code from AllocationService
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/UnassignedInfoTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/FailedShardsRoutingTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/InSyncAllocationIdTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/MaxRetryAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/RetryFailedAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/SingleShardNoReplicasRoutingTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/TrackFailedAllocationNodesTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDeciderTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.5.0

#88941 Remove `getTestName()` from the index name
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/v2/RollupActionSingleNodeTests.java
Labels: >test, :Analytics/Rollup, Team:Analytics, v8.5.0

#88939 [8.4] [ML] fix BERT and MPNet tokenization bug when handling unicode accents (#88907)
  docs/changelog/88907.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/Vocabulary.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BasicTokenFilter.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BasicTokenFilterTests.java
Labels: >bug, :ml, backport, Team:ML, v8.4.1

#88958 Port tests for `date_range`
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/DateRangeIT.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/DateRangeAggregatorTests.java
Labels: >test, :Analytics/Aggregations, Team:Analytics, auto-merge, v8.5.0

#88916 synthetic source: fix scaled_float rounding
  docs/changelog/88916.yaml
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/ScaledFloatFieldMapperTests.java
Labels: >bug, :Search/Mapping, Team:Search, Team:Analytics, auto-merge, :Analytics/TSDB, v8.5.0

#84733 Remove calls to deprecated xcontent method
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/fetch/subphase/FetchSourcePhaseBenchmark.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/json/JsonXContentGenerator.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/JsonProcessor.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/ScriptProcessor.java
  modules/ingest-user-agent/src/main/java/org/elasticsearch/ingest/useragent/DeviceTypeParser.java
  modules/ingest-user-agent/src/main/java/org/elasticsearch/ingest/useragent/UserAgentParser.java
  modules/ingest-user-agent/src/test/java/org/elasticsearch/ingest/useragent/DeviceTypeParserTests.java
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/ContextGeneratorCommon.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/action/PainlessExecuteRequestTests.java
  modules/reindex/src/main/java/org/elasticsearch/reindex/Reindexer.java
  modules/reindex/src/main/java/org/elasticsearch/reindex/remote/RemoteScrollableHitSource.java
  qa/ccs-rolling-upgrade-remote-cluster/src/javaRestTest/java/org/elasticsearch/upgrades/SearchStatesIT.java
  qa/repository-multi-version/src/test/java/org/elasticsearch/upgrades/MultiVersionRepositoryAccessIT.java
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/snapshots/RestGetSnapshotsIT.java
  server/src/main/java/org/elasticsearch/script/Script.java
  server/src/main/java/org/elasticsearch/script/StoredScriptSource.java
  test/framework/src/main/java/org/elasticsearch/common/xcontent/support/AbstractFilteringTestCase.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreTestUtil.java
  test/framework/src/main/java/org/elasticsearch/search/RandomSearchRequestGenerator.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ObjectPath.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestSpec.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSuite.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/common/http/HttpProxyTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/execution/ExecutionServiceTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/input/http/HttpInputTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/integration/SearchInputTests.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.5.0

#88943 [ML] Frequent Items: use a bitset for deduplication
  docs/changelog/88943.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/CountingItemSetTraverser.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/EclatMapReducer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetCollector.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/ItemSetBitSet.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/ItemSetTraverser.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/TransactionStore.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetCollectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/ItemSetBitSetTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/ItemSetTraverserTests.java
Labels: >enhancement, :ml, Team:ML, v8.5.0

#88986 Avoid expensive loop in indicesDeletedFromClusterState() when possible
  server/src/main/java/org/elasticsearch/cluster/ClusterChangedEvent.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, v8.5.0

#88945 [ML] address potential bug where trained models get stuck in starting after being allocated to node
  docs/changelog/88945.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/persistence/ChunkedTrainedModelRestorer.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, cloud-deploy, v8.4.0, v8.5.0

#88718 [8.3] Recommend `ssha256` cache hasher in FIPS docs (#87255)
  x-pack/docs/en/security/fips-140-compliance.asciidoc
Labels: >docs, backport, Team:Docs, Team:Security, :Security/FIPS, v8.3.4

#88874 Fix race conditions in master stability polling
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsServiceIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsService.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsServiceTests.java
Labels: >non-issue, Team:Data Management, :Data Management/Health, v8.4.1, v8.5.0

#88992 [8.4] [ML] address potential bug where trained models get stuck in starting after being allocated to node (#88945)
  docs/changelog/88945.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/persistence/ChunkedTrainedModelRestorer.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, cloud-deploy, v8.4.1

#88875 Fix renaming data streams with CCR replication
  docs/changelog/88875.yaml
  docs/reference/ccr/apis/auto-follow/put-auto-follow-pattern.asciidoc
  docs/reference/ccr/apis/follow/put-follow.asciidoc
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/qa/security/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexSecurityIT.java
  x-pack/plugin/ccr/qa/src/main/java/org/elasticsearch/xpack/ccr/ESCCRRestTestCase.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/FollowParametersTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/PutFollowActionRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowActionTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/PutFollowAction.java
Labels: >bug, :Distributed/CCR, :Data Management/Data streams, Team:Data Management, Team:Distributed, v8.4.0, v8.5.0

#88954 Support source fallback for byte, short, and long fields
  docs/changelog/88954.yaml
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/50_script_doc_values.yml
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
Labels: >enhancement, :Search/Mapping, Team:Search, v8.5.0

#88210 Save loop over all local shards in IndicesClusterService.applyClusterState
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.5.0

#88997 Disable BWC tests for backport of #88875
  build.gradle
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.5.0

#88995 [8.4] Fix renaming data streams with CCR replication (#88875)
  docs/changelog/88875.yaml
  docs/reference/ccr/apis/auto-follow/put-auto-follow-pattern.asciidoc
  docs/reference/ccr/apis/follow/put-follow.asciidoc
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/qa/security/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexSecurityIT.java
  x-pack/plugin/ccr/qa/src/main/java/org/elasticsearch/xpack/ccr/ESCCRRestTestCase.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/FollowParametersTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/PutFollowActionRequestTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowActionTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/PutFollowAction.java
Labels: backport, v8.4.0, v8.4.1

#88909 Add `synthetic_source` support to `aggregate_metric_double` fields
  docs/changelog/88909.yaml
  docs/reference/mapping/fields/synthetic-source.asciidoc
  docs/reference/mapping/types/aggregate-metric-double.asciidoc
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapper.java
  x-pack/plugin/mapper-aggregate-metric/src/test/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapperTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/aggregate-metrics/100_synthetic_source.yml
Labels: >enhancement, :Search/Mapping, Team:Search, v8.5.0

#88996 Extract least/most available paths to DiskUsage
  server/src/main/java/org/elasticsearch/cluster/DiskUsage.java
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
  server/src/test/java/org/elasticsearch/cluster/DiskUsageTests.java
Labels: >refactoring, Team:Data Management, :Data Management/Health, v8.5.0

#89001 Eliminating initial delay of CoordinationDiagnosticsService#beginPollingClusterFormationInfo for integration tests
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsServiceIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsService.java
Labels: >non-issue, Team:Data Management, :Data Management/Health, v8.4.1, v8.5.0

#88929 Clean up network setting docs
  docs/reference/modules/http.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/modules/transport.asciidoc
Labels: >docs, :Distributed/Network, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.3.4, v8.4.1, v8.5.0

#89004 Fix compilation in the rescore example plugin
  plugins/examples/rescore/src/main/java/org/elasticsearch/example/rescore/ExampleRescoreBuilder.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.5.0

#89007 [8.4] Clean up network setting docs (#88929)
  docs/reference/modules/http.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/modules/transport.asciidoc
Labels: >docs, :Distributed/Network, backport, Team:Distributed, Team:Docs, auto-merge, v8.4.1

#89006 Backporting #88874 and #89001 to 8.4
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsServiceIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsService.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsServiceTests.java
Labels: backport, auto-merge, v8.4.1

#89009 [ML] mute tests for issue #89008
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/QuestionAnsweringConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextSimilarityConfigTests.java
Labels: :ml, >test-mute, Team:ML, auto-merge, v8.5.0

#88987 Reject unknown request body fields in Mount API
  docs/changelog/88987.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/searchablesnapshots/MountSearchableSnapshotRequest.java
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/mount.yml
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, v8.5.0

#88993 Make it explicit that test expects no rebalancing.
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.5.0

#89021 Wrap enrich execute action in new tracing context
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/InternalExecutePolicyAction.java
Labels: :Data Management/Ingest Node, >refactoring, Team:Data Management, v8.5.0

#89005 Preemptively compute RoutingNodes and the indices lookup during publication
  docs/changelog/89005.yaml
  server/src/main/java/org/elasticsearch/cluster/ClusterState.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  test/framework/src/test/java/org/elasticsearch/cluster/service/FakeThreadPoolMasterServiceTests.java
Labels: >enhancement, :Distributed/Cluster Coordination, Team:Distributed, v8.5.0

#87584 [DOCS] fixing a typo in cat snapshots options
  docs/reference/cat/snapshots.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.4.1, v8.5.0

#89026 [8.4] Update snapshots.asciidoc (#87584)
  docs/reference/cat/snapshots.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.4.1

#88405 Fix broken link in doc
  docs/reference/getting-started.asciidoc
Labels: >docs, v7.5.3, Team:Docs, external-contributor

#89029 Wrap async QL task execution in new tracing context
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/async/AsyncTaskManagementService.java
Labels: >refactoring, :Query Languages/EQL, Team:QL, v8.5.0

#89028 Make it explicit that test expects no rebalancing
  server/src/internalClusterTest/java/org/elasticsearch/gateway/ReplicaShardAllocatorIT.java
  server/src/internalClusterTest/java/org/elasticsearch/gateway/ReplicaShardAllocatorSyncIdIT.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.5.0

#89020 Remove old API usage from RestoreService
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
Labels: :Distributed/Allocation, Team:Distributed

#89013 Synthetic source: add test for frozen
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/searchable_snapshots/20_synthetic_source.yml
Labels: >test, :Search/Search, Team:Search, Team:Analytics, :Analytics/TSDB, v8.5.0

#89038 Mute testBlockClusterStateProcessingOnOneNode
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsServiceIT.java
Labels: >test-mute, Team:Data Management, auto-merge, :Data Management/Health, v8.5.0

#89002 Ensure tests don't use flat polygons
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/CartesianShapeQueryTestCase.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/CartesianShapeQueryTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/util/ShapeTestUtils.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/util/ShapeUtilTests.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.5.0

#88937 Wrap async search action logic in a new trace context
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/TransportSubmitAsyncSearchAction.java
Labels: :Search/Search, >refactoring, Team:Search, v8.5.0

#89024 Wrap ML model loading task in new tracing context
  server/src/main/java/org/elasticsearch/tasks/TaskManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeService.java
Labels: >refactoring, :ml, Team:ML, v8.5.0

#89011 [ML] fix NLP inference_config bwc serialization tests
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ZeroShotClassificationConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ZeroShotClassificationConfigUpdate.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/InferenceConfigItemTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/BertTokenizationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/FillMaskConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/InferenceConfigTestScaffolding.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/MPNetTokenizationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/NerConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/PassThroughConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/QuestionAnsweringConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/RobertaTokenizationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextClassificationConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextEmbeddingConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextSimilarityConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ZeroShotClassificationConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ZeroShotClassificationConfigUpdateTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/ZeroShotClassificationProcessor.java
Labels: >test, :ml, Team:ML, auto-backport-and-merge, v8.4.0, v8.5.0

#89032 Preemptively initialize routing nodes and indices lookup on all node types
  docs/changelog/89032.yaml
  server/src/main/java/org/elasticsearch/cluster/ClusterState.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  test/framework/src/test/java/org/elasticsearch/cluster/service/FakeThreadPoolMasterServiceTests.java
Labels: >enhancement, :Distributed/Cluster Coordination, Team:Distributed, v8.5.0

#88994 [ML] add text_similarity nlp task documentation
  docs/reference/ml/ml-shared.asciidoc
  docs/reference/ml/trained-models/apis/get-trained-models.asciidoc
  docs/reference/ml/trained-models/apis/infer-trained-model.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-models.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.5.0

#89042 [8.4] [ML] fix NLP inference_config bwc serialization tests (#89011)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ZeroShotClassificationConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ZeroShotClassificationConfigUpdate.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/InferenceConfigItemTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/BertTokenizationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/FillMaskConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/InferenceConfigTestScaffolding.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/MPNetTokenizationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/NerConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/PassThroughConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/QuestionAnsweringConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/RobertaTokenizationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextClassificationConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextEmbeddingConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ZeroShotClassificationConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ZeroShotClassificationConfigUpdateTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/ZeroShotClassificationProcessor.java
Labels: :ml, backport, auto-merge, v8.4.1

#86209 Docs: Remove paragraph that applies only before Elasticsearch 7.0
  docs/reference/ccr/getting-started.asciidoc
Labels: >docs, :Distributed/Distributed, Team:Distributed, Team:Docs, auto-merge, auto-backport, v8.3.4, v8.4.1, v8.5.0

#88692 Add PKC JWKSet reloading to JWT authentication doc
  x-pack/docs/en/security/authentication/jwt-realm.asciidoc
Labels: >docs, :Security/Authentication, Team:Docs, Team:Security, auto-backport-and-merge, v8.4.0, v8.5.0

#89048 [8.4] Add PKC JWKSet reloading to JWT authentication doc (#88692)
  x-pack/docs/en/security/authentication/jwt-realm.asciidoc
Labels: >docs, :Security/Authentication, backport, Team:Docs, Team:Security, auto-merge, v8.4.1

#88910 [Transform] improve error handling in state persistence
  docs/changelog/88910.yaml
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfigTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexer.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerFailureOnStatePersistenceTests.java
Labels: >bug, :ml/Transform, Team:ML, v8.5.0

#89000 Refactor WildcardExpressionResolver to better track usages of indices lookup
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/cluster/metadata/WildcardExpressionResolverTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.5.0

#88390 Health API - Monitoring local disk health
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/health/metadata/HealthMetadata.java
  server/src/main/java/org/elasticsearch/health/node/DiskHealthInfo.java
  server/src/main/java/org/elasticsearch/health/node/LocalHealthMonitor.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/health/metadata/HealthMetadataTests.java
  server/src/test/java/org/elasticsearch/health/node/LocalHealthMonitorTests.java
Labels: >non-issue, Team:Data Management, auto-merge, :Data Management/Health, v8.5.0

#89030 [DOCS] Added note about using _size in Kibana. Closes #88322
  docs/plugins/mapper-size.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.4.1, v8.5.0

#89060 [8.4] [DOCS] Added note about using _size in Kibana. Closes #88322 (#89030)
  docs/plugins/mapper-size.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.4.1

#79604 Rename ignoredIndexSettings to ignoreIndexSettings in MountSearchableSnapshotRequest
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/searchablesnapshots/MountSearchableSnapshotRequest.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, external-contributor, v8.5.0

#89063 Fix typo
  docs/reference/troubleshooting/corruption-issues.asciidoc
Labels: >docs, :Core/Infra/Core, Team:Core/Infra, Team:Docs, auto-backport-and-merge, v8.3.4, v8.4.1, v8.5.0

#89066 [8.4] Fix typo (#89063)
  docs/reference/troubleshooting/corruption-issues.asciidoc
Labels: >docs, :Core/Infra/Core, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.4.1

#89065 [8.3] Fix typo (#89063)
  docs/reference/troubleshooting/corruption-issues.asciidoc
Labels: >docs, :Core/Infra/Core, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.3.4

#88855 [ML] Previously assigned models should get at least one allocation
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignment.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignmentTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AbstractPreserveAllocations.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlan.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanner.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/LinearProgrammingPlanSolver.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlannerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveAllAllocationsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveOneAllocationTests.java
Labels: >non-issue, :ml, Team:ML, cloud-deploy, v8.4.1, v8.5.0

#88944 Refactor authentication handling for grant actions
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/TransportGrantAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/apikey/TransportBaseUpdateApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/apikey/TransportGrantApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/profile/TransportActivateProfileAction.java
Labels: >refactoring, :Security/Authentication, Team:Security, v8.5.0

#89036 Write docs about our Docker build setup
  distribution/docker/README.md
  distribution/docker/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.5.0

#88920 Wrap code in new tracing contexts where required
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/ThreadContext.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseBackgroundSyncAction.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseSyncAction.java
  server/src/main/java/org/elasticsearch/index/shard/PrimaryReplicaSyncer.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksNodeService.java
  server/src/main/java/org/elasticsearch/persistent/StartPersistentTaskAction.java
  server/src/main/java/org/elasticsearch/transport/InboundHandler.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksNodeServiceTests.java
Labels: :Core/Infra/Core, :Distributed/Distributed, >refactoring, Team:Core/Infra, Team:Distributed, v8.5.0

#89027 REST tests and spec for bulk update API keys
  rest-api-spec/src/main/resources/rest-api-spec/api/security.bulk_update_api_keys.json
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/api_key/30_update.yml
Labels: >test, :Security/Security, Team:Security, v8.5.0

#88788 Make org.elasticsearch.cluster.routing.RoutingNode#copyShards use Array
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNode.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdMonitor.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.5.0

#89069 [ML] Mute model deployment rolling upgrade tests for backport
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
Labels: :ml, >test-mute, Team:ML, v8.5.0

#89068 [8.4][ML] Previously assigned models should get at least one allocati…
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignment.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignmentTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AbstractPreserveAllocations.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlan.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanner.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/LinearProgrammingPlanSolver.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlannerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveAllAllocationsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveOneAllocationTests.java
Labels: backport, v8.4.0, v8.4.1

#89041 Improve efficiency of BoundedBreakIteratorScanner fragmentation algorithm
  docs/changelog/89041.yaml
  server/src/main/java/org/elasticsearch/lucene/search/uhighlight/BoundedBreakIteratorScanner.java
  server/src/test/java/org/elasticsearch/lucene/search/uhighlight/BoundedBreakIteratorScannerTests.java
Labels: >enhancement, :Search/Highlighting, Team:Search, external-contributor, v8.5.0

#89071 [ML] Adjust assignment serialization versions after backport
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignment.java
Labels: >non-issue, :ml, Team:ML, v8.5.0

#89075 [ML] Mute tests for inference result format change
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/3rd_party_deployment.yml
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
Labels: :ml, >test-mute, Team:ML, v8.5.0

#88443 Provide tracing implementation using OpenTelemetry + APM agent
  TRACING.md
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/APMJvmOptions.java
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/JvmOptionsParser.java
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/ServerCli.java
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/ServerProcess.java
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/ServerCliTests.java
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/ServerProcessTests.java
  distribution/tools/windows-service-cli/src/main/java/org/elasticsearch/windows/service/WindowsServiceDaemon.java
  docs/changelog/88443.yaml
  modules/apm/build.gradle
  modules/apm/licenses/elastic-apm-agent-1.33.0.jar.sha1
  modules/apm/licenses/elastic-apm-agent-LICENSE.txt
  modules/apm/licenses/elastic-apm-agent-NOTICE.txt
  modules/apm/licenses/opentelemetry-LICENSE.txt
  modules/apm/licenses/opentelemetry-NOTICE.txt
  modules/apm/licenses/opentelemetry-api-1.15.0.jar.sha1
  modules/apm/licenses/opentelemetry-context-1.15.0.jar.sha1
  modules/apm/licenses/opentelemetry-semconv-1.15.0-alpha.jar.sha1
  modules/apm/src/main/java/org/elasticsearch/tracing/apm/APM.java
  modules/apm/src/main/java/org/elasticsearch/tracing/apm/APMAgentSettings.java
  modules/apm/src/main/java/org/elasticsearch/tracing/apm/APMTracer.java
  modules/apm/src/main/plugin-metadata/plugin-security.policy
  modules/apm/src/test/java/org/elasticsearch/tracing/apm/APMAgentSettingsTests.java
  modules/apm/src/test/java/org/elasticsearch/tracing/apm/APMTracerTests.java
  qa/apm/build.gradle
  qa/apm/config/elasticsearch/roles.yml
  qa/apm/config/elasticsearch/service_tokens
  qa/apm/config/elasticsearch/users
  qa/apm/config/elasticsearch/users_roles
  qa/apm/config/kibana/kibana-8.yml
  qa/apm/docker-compose.yml
  qa/apm/scripts/tls/apm-server/cert.crt
  qa/apm/scripts/tls/apm-server/key.pem
  qa/apm/src/test/java/org/elasticsearch/tracing/apm/ApmIT.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/bootstrap/PolicyUtil.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/plugins/TracerPlugin.java
  server/src/main/resources/org/elasticsearch/bootstrap/security.policy
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
Labels: >feature, :Core/Infra/Core, Team:Core/Infra, v8.5.0

#89055 Fixing a race condition in CoordinationDiagnosticsServiceIT
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsServiceIT.java
Labels: >test, Team:Data Management, auto-backport-and-merge, :Data Management/Health, v8.4.1, v8.5.0

#89077 [8.4] Fixing a race condition in CoordinationDiagnosticsServiceIT #89055 (#89055)
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsServiceIT.java
Labels: >test, backport, Team:Data Management, auto-merge, :Data Management/Health, v8.4.1

#89025 Fix failing test `RollupActionSingleNodeTests` `testCannotRollupToExistingIndex`
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/v2/RollupActionSingleNodeTests.java
Labels: >test-failure, :Analytics/Rollup, Team:Analytics, auto-backport-and-merge, v8.4.1, v8.5.0

#88105 Adding specific items into troubleshooting guide
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/common-issues/diagnose-unassigned-shards.asciidoc
  docs/reference/troubleshooting/fix-common-cluster-issues.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.3.0, v8.4.1, v8.5.0

#89088 [8.4] Adding specific items into troubleshooting guide (#88105)
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/common-issues/diagnose-unassigned-shards.asciidoc
  docs/reference/troubleshooting/fix-common-cluster-issues.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.4.1

#89091 [ML] Include start params in _stats for non-started model deployments
  docs/changelog/89091.yaml
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDeploymentStatsAction.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.4.1, v8.5.0

#89092 [8.4] [ML] Include start params in _stats for non-started model deployments (#89091)
  docs/changelog/89091.yaml
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDeploymentStatsAction.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.4.1

#88868 Backport OIDC redirect test fix from 8.x #86035 to 7.17
  x-pack/docs/en/rest-api/security/oidc-prepare-authentication-api.asciidoc
Labels: >test, :Security/Authentication, Team:Security, v7.17.6

#88828 Deprecate the _knn_search endpoint
  docs/changelog/88828.yaml
  docs/reference/search.asciidoc
  docs/reference/search/knn-search.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/40_knn_search.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/50_dense_vector_field_usage.yml
  server/src/main/java/org/elasticsearch/rest/action/search/RestKnnSearchAction.java
  server/src/test/java/org/elasticsearch/rest/action/search/RestKnnSearchActionTests.java
Labels: >deprecation, Team:Search, v8.4.0, :Search/Vectors, v8.5.0

#89050 Mention internal user `_async_search` in docs
  x-pack/docs/en/security/authentication/internal-users.asciidoc
Labels: >docs, :Security/Authentication, Team:Docs, Team:Security, auto-backport-and-merge, v8.4.0, v7.17.6, v8.3.3, v8.5.0

#89054 Update ES.ILM.Action.ReadOnly
  docs/reference/ilm/actions/ilm-readonly.asciidoc
Labels: >docs, :Data Management/ILM+SLM, Team:Data Management, Team:Docs, external-contributor, v8.5.0

#88973 ILM Frozen allows Unfollow Action
  docs/reference/ilm/ilm-index-lifecycle.asciidoc
Labels: >docs, :Data Management/ILM+SLM, Team:Data Management, Team:Docs, external-contributor, v8.5.0

#89098 [7.17] Mention `_async_search` internal user which was added in 7.7 (#89050)
  x-pack/docs/en/security/authentication/internal-users.asciidoc
Labels: >docs, :Security/Authentication, backport, Team:Docs, Team:Security, auto-merge, v7.17.6

#89097 [8.4] Mention `_async_search` internal user which was added in 7.7 (#89050)
  x-pack/docs/en/security/authentication/internal-users.asciidoc
Labels: >docs, :Security/Authentication, backport, Team:Docs, Team:Security, auto-merge, v8.4.1

#89044 Add test in vector tiles with runtime fields
  x-pack/plugin/vector-tile/src/javaRestTest/java/org/elasticsearch/xpack/vectortile/VectorTileRestIT.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.5.0

#89062 [ML] Optimize frequent items transaction lookup
  docs/changelog/89062.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/CountingItemSetTraverser.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/ItemSetBitSet.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/TransactionStore.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/TransactionsLookupTable.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/ItemSetBitSetTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/TransactionLookupTableTests.java
Labels: >enhancement, :ml, Team:ML, v8.5.0

#88843 Adjust wording in frozen tier allocation deciders
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/cache/shared/PartiallyCachedShardAllocationIntegTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/decider/DedicatedFrozenNodeAllocationDecider.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/decider/HasFrozenCacheAllocationDecider.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.5.0

#89086 [DOCS] Move completion type asciidoc
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/completion.asciidoc
  docs/reference/search/suggesters/completion-suggest.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.3.3, v8.4.1, v8.5.0

#89103 [8.4] [DOCS] Move completion type asciidoc (#89086)
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/completion.asciidoc
  docs/reference/search/suggesters/completion-suggest.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.4.1

#89102 [8.3] [DOCS] Move completion type asciidoc (#89086)
  docs/reference/mapping/types.asciidoc
  docs/reference/mapping/types/completion.asciidoc
  docs/reference/search/suggesters/completion-suggest.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.3.4

#89104 Update dependency verification for apm
  gradle/verification-metadata.xml
Labels: >enhancement, :Delivery/Build, Team:Delivery, auto-merge, v8.5.0

#88717 [7.17] Recommend `ssha256` cache hasher in FIPS docs (#87255)
  x-pack/docs/en/security/fips-140-compliance.asciidoc
Labels: >docs, backport, Team:Docs, Team:Security, :Security/FIPS, v7.17.6

#89080 [Transform][CI] add debug logging to find the cause of #88991
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/transforms_start_stop.yml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportStopTransformAction.java
Labels: >test, :ml/Transform, Team:ML, v8.5.0

#89110 maybeScheduleNow with delay 0 instead of 1
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpDownloader.java
  server/src/main/java/org/elasticsearch/health/node/LocalHealthMonitor.java
Labels: >refactoring, :Data Management/Other, Team:Data Management, auto-merge, v8.5.0

#89109 Merge trivial changes from desired balance feature branch
  server/src/internalClusterTest/java/org/elasticsearch/cluster/allocation/ClusterRerouteIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/UpdateShardAllocationSettingsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/gateway/ReplicaShardAllocatorIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
  server/src/main/java/org/elasticsearch/cluster/routing/BatchedRerouteService.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataMigrateToDataStreamServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/AllocationDecidersTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
Labels: :Distributed/Allocation, >refactoring, Team:Distributed, v8.5.0

#89003 [DOCS] Fix plugins CLI doc CLI_JAVA_OPTS env var
  docs/plugins/plugin-script.asciidoc
Labels: >docs, :Core/Infra/Plugins, Team:Core/Infra, Team:Docs, external-contributor, auto-backport-and-merge, v8.3.3, v8.4.1, v8.5.0

#89118 [8.3] [DOCS] Fix plugins CLI doc CLI_JAVA_OPTS env var (#89003)
  docs/plugins/plugin-script.asciidoc
Labels: >docs, :Core/Infra/Plugins, backport, Team:Core/Infra, Team:Docs, external-contributor, auto-merge, v8.3.4

#89119 [8.4] [DOCS] Fix plugins CLI doc CLI_JAVA_OPTS env var (#89003)
  docs/plugins/plugin-script.asciidoc
Labels: >docs, :Core/Infra/Plugins, backport, Team:Core/Infra, Team:Docs, external-contributor, auto-merge, v8.4.1

#89121 [DOCS] Replace ES_JAVA_OPTS with CLI_JAVA_OPTS
  docs/reference/index-modules.asciidoc
  docs/reference/setup/advanced-configuration.asciidoc
  docs/reference/setup/important-settings/gc-logging.asciidoc
  docs/reference/setup/install/docker.asciidoc
  docs/reference/setup/install/sysconfig-file.asciidoc
  docs/reference/setup/install/zip-windows.asciidoc
  docs/reference/setup/sysconfig/swap.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.4.0, v8.3.3, v8.5.0

#89111 Revert unneeded desired balance changes
  server/src/internalClusterTest/java/org/elasticsearch/indices/state/SimpleIndexStateIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/AllocationDecidersTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed

#89123 [8.4] [DOCS] Replace ES_JAVA_OPTS with CLI_JAVA_OPTS (#89121)
  docs/reference/index-modules.asciidoc
  docs/reference/setup/advanced-configuration.asciidoc
  docs/reference/setup/important-settings/gc-logging.asciidoc
  docs/reference/setup/install/docker.asciidoc
  docs/reference/setup/install/sysconfig-file.asciidoc
  docs/reference/setup/install/zip-windows.asciidoc
  docs/reference/setup/sysconfig/swap.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.4.1

#89124 [8.3] [DOCS] Replace ES_JAVA_OPTS with CLI_JAVA_OPTS (#89121)
  docs/reference/index-modules.asciidoc
  docs/reference/setup/advanced-configuration.asciidoc
  docs/reference/setup/important-settings/gc-logging.asciidoc
  docs/reference/setup/install/docker.asciidoc
  docs/reference/setup/install/sysconfig-file.asciidoc
  docs/reference/setup/install/zip-windows.asciidoc
  docs/reference/setup/sysconfig/swap.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.3.4

#89051 Change YAML test structure from list to object (#77700)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/data_stream/110_update_by_query.yml
Labels: backport, :Distributed/Reindex, auto-merge, v7.17.6

#89126 [ML] Extract method for finding max task memory in autoscaling decider
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderService.java
Labels: >refactoring, :ml, Team:ML, v8.5.0

#89101 fix RollupActionIT testRollupIndex failing
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/RollupActionIT.java
Labels: >test-failure, :Analytics/Rollup, Team:Analytics, external-contributor, auto-backport-and-merge, v8.4.1, v8.5.0

#89045 [8.3] Docs: Remove paragraph that applies only before Elasticsearch 7.0 (#86209)
  docs/reference/ccr/getting-started.asciidoc
Labels: >docs, :Distributed/Distributed, backport, Team:Distributed, Team:Docs, auto-merge, v8.3.4

#89046 [8.4] Docs: Remove paragraph that applies only before Elasticsearch 7.0 (#86209)
  docs/reference/ccr/getting-started.asciidoc
Labels: >docs, :Distributed/Distributed, backport, Team:Distributed, Team:Docs, auto-merge, v8.4.1

#82120 Override bulk visit methods of exitable point visitor
  docs/changelog/82120.yaml
  server/src/main/java/org/elasticsearch/search/internal/ExitableDirectoryReader.java
Labels: >bug, :Search/Search, Team:Search, external-contributor, auto-backport-and-merge, v7.17.6, v8.4.1, v8.5.0

#89131 [8.4] Fix failing test RollupActionIT.testRollupIndex (#89101)
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/RollupActionIT.java
Labels: >test-failure, :Analytics/Rollup, backport, Team:Analytics, external-contributor, auto-merge, v8.4.1

#89134 [8.4] Override bulk visit methods of exitable point visitor (#82120)
  docs/changelog/82120.yaml
  server/src/main/java/org/elasticsearch/search/internal/ExitableDirectoryReader.java
Labels: >bug, :Search/Search, backport, Team:Search, external-contributor, auto-merge, v8.4.1

#89135 Avoid expensive call to Span.fromContextOrNull(null)
  modules/apm/src/main/java/org/elasticsearch/tracing/apm/APMTracer.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.5.0

#89133 [7.17] Override bulk visit methods of exitable point visitor (#82120)
  docs/changelog/82120.yaml
  server/src/main/java/org/elasticsearch/search/internal/ExitableDirectoryReader.java
Labels: >bug, :Search/Search, backport, Team:Search, external-contributor, auto-merge, v7.17.6

#89061 [7.17] Fix mount snapshot api ignoring unknown request parameter
  client/rest-high-level/src/main/java/org/elasticsearch/client/searchable_snapshots/MountSnapshotRequest.java
  client/rest-high-level/src/test/java/org/elasticsearch/client/documentation/SearchableSnapshotsDocumentationIT.java
  docs/changelog/89061.yaml
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >bug, :Distributed/Snapshot/Restore, :Clients/Java High Level REST Client, Team:Distributed, Team:Clients, v7.17.6

#88982 [ML] ECS Grok patterns in the _text_structure/find_structure endpoint
  docs/reference/text-structure/apis/find-structure.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/text_structure.find_structure.json
  x-pack/plugin/core/build.gradle
  x-pack/plugin/core/src/main/java/module-info.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/textstructure/action/FindStructureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/textstructure/structurefinder/TextStructure.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/textstructure/action/FindTextStructureActionRequestTests.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/rest/RestFindStructureAction.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/DelimitedTextStructureFinder.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/GrokPatternCreator.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/LogTextStructureFinder.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/NdJsonTextStructureFinder.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/TextStructureOverrides.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/TextStructureUtils.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/TimestampFormatFinder.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/XmlTextStructureFinder.java
  x-pack/plugin/text-structure/src/test/java/org/elasticsearch/xpack/textstructure/structurefinder/GrokPatternCreatorTests.java
  x-pack/plugin/text-structure/src/test/java/org/elasticsearch/xpack/textstructure/structurefinder/TextStructureUtilsTests.java
  x-pack/plugin/text-structure/src/test/java/org/elasticsearch/xpack/textstructure/structurefinder/TimestampFormatFinderTests.java
Labels: >enhancement, :ml, Team:ML, v8.5.0

#88695 [TSDB] Metric fields in the field caps API
  docs/changelog/88695.yaml
  docs/reference/search/field-caps.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/field_caps/40_time_series.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/05_dimension_and_metric_in_non_tsdb_index.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/110_field_caps.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/40_search.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/fieldcaps/FieldCapabilitiesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/timeseries/support/TimeSeriesMetricsIT.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesFetcher.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/IndexFieldCapabilities.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/aggregate-metrics/110_field_caps.yml
Labels: >enhancement, Team:Analytics, :Analytics/TSDB, v8.5.0

#88972 In the field capabilities API, re-add support for `fields` in the request body
  CHANGELOG.md
  docs/changelog/88972.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/field_caps/10_basic.yml
  server/src/main/java/org/elasticsearch/rest/action/RestFieldCapabilitiesAction.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesRequestTests.java
  server/src/test/java/org/elasticsearch/rest/action/RestFieldCapabilitiesActionTests.java
Labels: >enhancement, :Search/Search, Team:Search, external-contributor, v8.5.0

#89094 Deduplicate fetching doc-values fields
  docs/changelog/89094.yaml
  rest-api-spec/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/240_date_nanos.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/fields/SearchFieldsIT.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchDocValuesContext.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
Labels: >bug, :Search/Search, Team:Search, v8.5.0

#89074 [ML] add new trained model deployment cache clear API
  docs/changelog/89074.yaml
  docs/reference/ml/trained-models/apis/clear-trained-model-deployment-cache.asciidoc
  docs/reference/ml/trained-models/apis/index.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/ml.clear_trained_model_deployment_cache.json
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/ClearDeploymentCacheAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/ClearDeploymentCacheActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/ClearDeploymentCacheActionResponseTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportClearDeploymentCacheAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/AbstractControlMessagePyTorchAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/ClearCacheControlMessagePytorchAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/ThreadSettingsControlMessagePytorchAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/TrainedModelDeploymentTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestClearDeploymentCacheAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/deployment/ThreadSettingsControlMessagePytorchActionTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/3rd_party_deployment.yml
Labels: >enhancement, :ml, Team:ML, v8.5.0

#88535 Remove unused datastream snapshot utility from Metadata
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.5.0

#89137 Handling the master stability health case where there has never been an elected master node
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsServiceIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsService.java
Labels: >non-issue, Team:Data Management, auto-merge, :Data Management/Health, v8.5.0

#87887 fix object equals
  docs/changelog/87887.yaml
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/SqlQueryRequest.java
Labels: >bug, :Query Languages/SQL, Team:QL, external-contributor, auto-backport-and-merge, v8.3.4, v8.4.1, v8.5.0

#89146 fix the changelog yaml file for pr 87887
  docs/changelog/87887.yaml
Labels: >docs, >non-issue, Team:Docs, v8.5.0

#89144 [8.4] Fix object equals for SqlQueryRequest's binaryCommunication (#87887)
  docs/changelog/87887.yaml
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/SqlQueryRequest.java
Labels: >bug, :Query Languages/SQL, backport, Team:QL, external-contributor, auto-merge, v8.4.1

#89143 [8.3] Fix object equals for SqlQueryRequest's binaryCommunication (#87887)
  docs/changelog/87887.yaml
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/SqlQueryRequest.java
Labels: >bug, :Query Languages/SQL, backport, Team:QL, external-contributor, auto-merge, v8.3.4

#89139 Add missing dependency verification checksums
  build-tools-internal/src/main/groovy/elasticsearch.fips.gradle
  gradle/verification-metadata.xml
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.5.0

#89095 Add file delete retry to testcluster ElasticsearchNode
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, test-windows, v8.5.0

#89116 Fix testFollowIndex
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/RestartIndexFollowingIT.java
Labels: >test, :Distributed/CCR, Team:Distributed, v8.5.0

#89064 Fix flaky StableMasterDisruptionIT#testNoQuorum
  server/src/internalClusterTest/java/org/elasticsearch/discovery/StableMasterDisruptionIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationDiagnosticsService.java
Labels: >test-failure, Team:Data Management, :Data Management/Health, v8.5.0

#89040 Make it explicit that test expects no rebalancing.
  server/src/internalClusterTest/java/org/elasticsearch/gateway/ReplicaShardAllocatorIT.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.5.0

#89148 Fix typo in geo-distance-query doc
  docs/reference/query-dsl/geo-distance-query.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.3.4, v8.4.1, v8.5.0

#89156 [8.3] Fix typo in geo-distance-query doc (#89148)
  docs/reference/query-dsl/geo-distance-query.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.3.4

#89157 [8.4] Fix typo in geo-distance-query doc (#89148)
  docs/reference/query-dsl/geo-distance-query.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.4.1

#89081 Refine size-your-shards wording
  docs/reference/how-to/size-your-shards.asciidoc
Labels: >docs, :Distributed/Distributed, Team:Distributed, Team:Docs, auto-merge, auto-backport-and-merge, v8.2.4, v8.3.4, v8.4.1, v8.5.0

#89159 [8.2] Refine size-your-shards wording (#89081)
  docs/reference/how-to/size-your-shards.asciidoc
Labels: >docs, :Distributed/Distributed, backport, Team:Distributed, Team:Docs, auto-merge, v8.2.4

#89161 [8.4] Refine size-your-shards wording (#89081)
  docs/reference/how-to/size-your-shards.asciidoc
Labels: >docs, :Distributed/Distributed, backport, Team:Distributed, Team:Docs, auto-merge, v8.4.1

#89160 [8.3] Refine size-your-shards wording (#89081)
  docs/reference/how-to/size-your-shards.asciidoc
Labels: >docs, :Distributed/Distributed, backport, Team:Distributed, Team:Docs, auto-merge, v8.3.4

#89070 Do not generate empty buckets for the date histogram
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/v2/RollupActionSingleNodeTests.java
Labels: >test-failure, :Analytics/Rollup, Team:Analytics, :Analytics/TSDB, v8.4.0

#89162 [8.4] Add file delete retry to testcluster ElasticsearchNode
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
Labels: >test, backport, test-windows, v8.4.1

#89158 Stop using Mockito for mocking ZoneId class, generate a random ZoneId class
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/tree/NodeSubclassTests.java
Labels: >enhancement, >test, :Query Languages/SQL, :Query Languages/EQL, Team:QL, v7.17.6

#89128 [DOCS] Modifies the frequency transform setting description
  docs/reference/rest-api/common-parms.asciidoc
Labels: >docs, :ml/Transform, Team:Docs, Team:ML, v8.4.0, v8.5.0

#89122 [DOCS] Improves frequent items aggregation docs
  docs/reference/aggregations/bucket/frequent-items-aggregation.asciidoc
Labels: >docs, :Analytics/Aggregations, :ml, Team:Docs, Team:Analytics, Team:ML, auto-backport, v8.4.0, v8.5.0

#89169 [8.4] [DOCS] Modifies the description of frequency. (#89128)
  docs/reference/rest-api/common-parms.asciidoc
Labels: backport, v8.4.1

#89170 [8.4] [DOCS] Improves frequent items aggregation docs (#89122)
  docs/reference/aggregations/bucket/frequent-items-aggregation.asciidoc
Labels: >docs, :Analytics/Aggregations, :ml, backport, Team:Docs, Team:Analytics, Team:ML, v8.4.1

#89167 [ML] Extract ML tasks into a context class for use in autoscaling dec…
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlScalingReason.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingDeciderServiceTests.java
Labels: >refactoring, :ml, Team:ML, v8.5.0

#88409 Enable BloomFilter for _id of non-datastream indices
  docs/changelog/88409.yaml
  server/src/internalClusterTest/java/org/elasticsearch/indices/IndexingMemoryControllerIT.java
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/codec/CodecService.java
  server/src/main/java/org/elasticsearch/index/codec/PerFieldMapperCodec.java
  server/src/main/java/org/elasticsearch/index/codec/bloomfilter/ES85BloomFilterPostingsFormat.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/store/LuceneFilesExtensions.java
  server/src/main/resources/META-INF/services/org.apache.lucene.codecs.PostingsFormat
  server/src/test/java/org/elasticsearch/index/codec/CodecTests.java
  server/src/test/java/org/elasticsearch/index/codec/bloomfilter/ES85BloomFilterPostingsFormatTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/mapper/CompletionFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/indices/IndexingMemoryControllerTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: >enhancement, :Search/Search, Team:Search, v8.5.0
