Repository elastic/elasticsearch, pull requests merged in 2022-06, with the labels that each got.

#87275 [Doc] Add exists to support query types of QueryApiKey API
  x-pack/docs/en/rest-api/security/query-api-key.asciidoc
Labels: >docs, :Security/Security, Team:Docs, Team:Security, auto-merge, v8.4.0

#87264 Fork after calling getRepositoryData from StoreRecovery
  docs/changelog/87254.yaml
  docs/changelog/87264.yaml
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-backport-and-merge, v7.17.5, v8.4.0, v8.2.3, v8.3.1

#87202 Fix Geotile aggregations on geo_shapes for precision 0
  docs/changelog/87202.yaml
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/AbstractGeoTileGridTiler.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoTileTilerTests.java
Labels: >bug, :Analytics/Geo, Team:Analytics, v8.4.0, v8.3.1

#87281 [7.17] Fork after calling getRepositoryData from StoreRecovery (#87264)
  docs/changelog/87254.yaml
  docs/changelog/87264.yaml
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v7.17.5

#87282 [8.2] Fork after calling getRepositoryData from StoreRecovery (#87264)
  docs/changelog/87254.yaml
  docs/changelog/87264.yaml
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.2.3

#87247 Fix ClusterHealthIT
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalance.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconciler.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceService.java
Labels: :Distributed/Allocation, Team:Distributed

#87283 [8.3] Fork after calling getRepositoryData from StoreRecovery (#87264)
  docs/changelog/87254.yaml
  docs/changelog/87264.yaml
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.3.1

#87235 Remove some blocking in CcrRepository
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
Labels: >bug, :Distributed/CCR, Team:Distributed, auto-backport-and-merge, v7.17.5, v8.4.0, v8.2.3, v8.3.1

#87280 Assignment record
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalance.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconciler.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/ShardAssignment.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconcilerTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceServiceTests.java
Labels: :Distributed/Allocation, Team:Distributed

#87286 [8.3] Remove some blocking in CcrRepository (#87235)
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
Labels: >bug, :Distributed/CCR, backport, Team:Distributed, auto-merge, v8.3.1

#87261 Synthetic source: tests for disabling subobjects
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/index/91_metrics_no_subobjects.yml
Labels: >test, :Search/Mapping, Team:Search, Team:Analytics, Team:Clients, :Analytics/TSDB, auto-backport-and-merge, v8.4.0, v8.3.1

#87302 [8.3] Update error-handling.asciidoc (#86795)
  docs/reference/ilm/error-handling.asciidoc
Labels: backport, auto-merge, v8.3.1

#87303 [8.2] Update error-handling.asciidoc (#86795)
  docs/reference/ilm/error-handling.asciidoc
Labels: backport, auto-merge, v8.2.3

#87304 [7.17] Update error-handling.asciidoc (#86795)
  docs/reference/ilm/error-handling.asciidoc
Labels: backport, auto-merge, v7.17.5

#87292 Use Map in indices responses
  server/src/internalClusterTest/java/org/elasticsearch/aliases/IndexAliasesIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/GetAliasesResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsResponse.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetAliasesAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/alias/get/GetAliasesResponseTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlInitializationServiceIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AnnotationIndexIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorFactory.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
Labels: :Data Management/Indices APIs, >refactoring, Team:Data Management, v8.4.0

#87241 Custom two component listener for cluster state update and reroute
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/AllocationActionListener.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/AllocationActionListenerTest.java
Labels: :Distributed/Allocation, Team:Distributed

#87118 [DOCS] Expands AD and Transform alert docs with info on context for recovered alerts
  docs/reference/ml/anomaly-detection/ml-configuring-alerts.asciidoc
  docs/reference/transform/transform-alerts.asciidoc
Labels: >docs, :ml, :ml/Transform, Team:Docs, Team:ML, v8.4.0, v8.3.1

#87285 Stop versioning Checkstyle IDE config
  .gitignore
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
  build-tools-internal/src/main/resources/checkstyle-idea.xml
Labels: >refactoring, Team:Delivery, :Delivery/Tooling, v7.17.5, v8.4.0

#87316 Mute RestClientMultipleHostsIntegTests#testNonRetryableException
  client/rest/src/test/java/org/elasticsearch/client/RestClientMultipleHostsIntegTests.java
Labels: :Clients/Java Low Level REST Client, >test-mute, Team:Clients, auto-merge, v8.4.0

#87267 Fields API to allow fetching values when _source is disabled
  docs/changelog/87267.yaml
  docs/reference/search/search-your-data/retrieve-selected-fields.asciidoc
  rest-api-spec/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/330_fetch_fields.yml
  server/src/main/java/org/elasticsearch/index/mapper/ArraySourceValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceValueFetcher.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldFetcher.java
  server/src/test/java/org/elasticsearch/index/mapper/PlaceHolderFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/KeyedFlattenedFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/FieldTypeTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  x-pack/plugin/sql/qa/server/src/main/java/org/elasticsearch/xpack/sql/qa/FieldExtractorTestCase.java
Labels: >bug, :Search/Search, Team:Search, Team:Clients, v8.4.0, v8.3.1

#87209 Small speedup in FieldMapper.Builder.parse
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.4.0

#87104 Port BuildPluginIT to spock
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/fixtures/TestClasspathUtils.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/BuildPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/precommit/ThirdPartyAuditTaskFuncTest.groovy
  build-tools-internal/src/integTest/java/org/elasticsearch/gradle/internal/BuildPluginIT.java
  build-tools-internal/src/integTest/java/org/elasticsearch/gradle/internal/test/TestClasspathUtils.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/JarHellPrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ThirdPartyAuditPrecommitPlugin.java
  build-tools-internal/src/testKit/elasticsearch.build/LICENSE
  build-tools-internal/src/testKit/elasticsearch.build/NOTICE
  build-tools-internal/src/testKit/elasticsearch.build/build.gradle
  build-tools-internal/src/testKit/elasticsearch.build/gradle.properties
  build-tools-internal/src/testKit/elasticsearch.build/libs/elasticsearch-core/build.gradle
  build-tools-internal/src/testKit/elasticsearch.build/licenses/hamcrest-core-1.3.jar.sha1
  build-tools-internal/src/testKit/elasticsearch.build/licenses/hamcrest-core-LICENSE.txt
  build-tools-internal/src/testKit/elasticsearch.build/licenses/hamcrest-core-NOTICE.txt
  build-tools-internal/src/testKit/elasticsearch.build/licenses/junit-4.12.jar.sha1
  build-tools-internal/src/testKit/elasticsearch.build/licenses/junit-LICENSE.txt
  build-tools-internal/src/testKit/elasticsearch.build/licenses/junit-NOTICE.txt
  build-tools-internal/src/testKit/elasticsearch.build/settings.gradle
  build-tools-internal/src/testKit/elasticsearch.build/src/main/java/org/elasticsearch/SampleClass.java
  build-tools-internal/src/testKit/elasticsearch.build/test/logger-usage/build.gradle
  modules/ingest-geoip/qa/full-cluster-restart/build.gradle
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.4.0

#87325 [8.3.1] Tolerate GraalVM compiler threads in testThreadNames
  server/src/internalClusterTest/java/org/elasticsearch/threadpool/SimpleThreadPoolIT.java
Labels: >test, backport, v8.3.1

#87318 Added migration/index.asciidoc generation support
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/GenerateReleaseNotesTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/MigrationIndexGenerator.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/MinorVersion.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseToolsPlugin.java
  build-tools-internal/src/main/resources/templates/migration-index.asciidoc
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/GenerateReleaseNotesTaskTest.java
  docs/reference/migration/index.asciidoc
  docs/reference/migration/migration_intro.asciidoc
Labels: >docs, Team:Docs, v8.4.0

#87337 Skip ensureNoSelfReferences check in IngestService
  docs/changelog/87337.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/190_script_processor.yml
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
Labels: >enhancement, :Data Management/Ingest, Team:Data Management, Team:Clients, auto-merge, auto-backport-and-merge, v8.4.0, v8.3.1

#87340 [8.3] Skip ensureNoSelfReferences check in IngestService (#87337)
  docs/changelog/87337.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/190_script_processor.yml
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
Labels: backport, auto-merge, v8.3.1

#87097 User Profile - audit support for security domain
  docs/changelog/87097.yaml
  x-pack/plugin/core/src/main/config/log4j2.properties
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationTestHelper.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
Labels: >enhancement, :Security/Audit, Team:Security, v8.4.0

#87331 Backport: Fields API to allow fetching values when _source is disabled
  docs/changelog/87267.yaml
  docs/reference/search/search-your-data/retrieve-selected-fields.asciidoc
  rest-api-spec/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/330_fetch_fields.yml
  server/src/main/java/org/elasticsearch/index/mapper/ArraySourceValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceValueFetcher.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldFetcher.java
  server/src/test/java/org/elasticsearch/index/mapper/PlaceHolderFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/KeyedFlattenedFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/FieldTypeTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  x-pack/plugin/sql/qa/server/src/main/java/org/elasticsearch/xpack/sql/qa/FieldExtractorTestCase.java
Labels: :Search/Search, backport, Team:Search, v8.3.1

#87218 [TEST] Verify that nested type is not supported when subobjects is false
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicTemplatesTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
Labels: >test, :Search/Mapping, Team:Search, v8.4.0

#87317 Fix Enrich*IT test failures
  x-pack/plugin/enrich/qa/common/src/main/java/org/elasticsearch/test/enrich/CommonEnrichRestTestCase.java
Labels: >test, :Data Management/Ingest, Team:Data Management, auto-backport-and-merge, v8.4.0, v8.2.3, v8.3.1

#87294 Generate release notes for v8.3.0
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/GenerateReleaseNotesTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/MigrationIndexGenerator.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/MinorVersion.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseToolsPlugin.java
  build-tools-internal/src/main/resources/templates/migration-index.asciidoc
  build-tools-internal/src/test/java/org/elasticsearch/gradle/internal/release/GenerateReleaseNotesTaskTest.java
  docs/changelog/85326.yaml
  docs/changelog/85926.yaml
  docs/changelog/86015.yaml
  docs/changelog/86261.yaml
  docs/reference/migration/index.asciidoc
  docs/reference/migration/migrate_8_3.asciidoc
  docs/reference/migration/migration_intro.asciidoc
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.3.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.3.0

#87224 Cancellable Profile Has Privilege check
  docs/changelog/87224.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/ProfileHasPrivilegesRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/AuthorizationEngine.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileCancellationIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/profile/TransportProfileHasPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestProfileHasPrivilegesAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/LocalStateSecurity.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/profile/TransportProfileHasPrivilegesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesActionTests.java
Labels: >enhancement, :Security/Authorization, Team:Security, auto-merge, v8.4.0

#87349 [8.2] Fix Enrich*IT test failures (#87317)
  x-pack/plugin/enrich/qa/common/src/main/java/org/elasticsearch/test/enrich/CommonEnrichRestTestCase.java
Labels: >test, :Data Management/Ingest, backport, Team:Data Management, auto-merge, v8.2.3

#87293 Fix resolution of wildcard application privileges
  docs/changelog/87293.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilege.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilegeTests.java
  x-pack/plugin/security/qa/security-basic/src/javaRestTest/java/org/elasticsearch/xpack/security/HasApplicationPrivilegesIT.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/TestSecurityClient.java
Labels: >bug, :Security/Authorization, Team:Security, auto-backport-and-merge, v8.3.0, v8.4.0, v8.2.3

#87358 [8.3] Fix resolution of wildcard application privileges (#87293)
  docs/changelog/87293.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilege.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilegeTests.java
  x-pack/plugin/security/qa/security-basic/src/javaRestTest/java/org/elasticsearch/xpack/security/HasApplicationPrivilegesIT.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/TestSecurityClient.java
Labels: >bug, :Security/Authorization, backport, Team:Security, auto-merge, v8.3.1

#87298 Allow cluster start with unreachable remote clusters
  docs/changelog/87298.yaml
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/remote/RemoteInfoIT.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
Labels: >enhancement, :Distributed/Network, Team:Distributed, v8.4.0

#87364 Tests ignore longitude=180 when index Legacy point
  modules/legacy-geo/src/test/java/org/elasticsearch/legacygeo/search/LegacyGeoShapeQueryTests.java
  test/framework/src/main/java/org/elasticsearch/search/geo/GeoPointShapeQueryTestCase.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.4.0

#87373 [DOCS] Typo in time functions
  docs/reference/ml/anomaly-detection/functions/ml-time-functions.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport, v8.0.2, v8.1.4, v7.17.5, v8.4.0, v8.2.3, v8.3.1

#87371 [8.3] Relax geo_grid query test for max geo_tile zoom (#87357)
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/GeoGridAggAndQueryConsistencyIT.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/GeoGridQueryBuilderTests.java
Labels: >test, :Analytics/Geo, backport, Team:Analytics, auto-merge, v8.3.1

#87369 Brought back missing changelog for 87235
  docs/changelog/87235.yaml
Labels: >docs, :Distributed/CCR, Team:Distributed, Team:Docs, auto-backport-and-merge, v7.17.5, v8.4.0, v8.2.3

#87370 Brought back missing changelog for 87235
  docs/changelog/87235.yaml
  docs/reference/release-notes/8.3.0.asciidoc
Labels: >docs, :Distributed/CCR, Team:Distributed, Team:Docs, v8.3.0, v8.3.1

#87381 [8.2] Brought back missing changelog for 87235 (#87369)
  docs/changelog/87235.yaml
Labels: >docs, :Distributed/CCR, backport, Team:Distributed, Team:Docs, auto-merge, v8.2.3

#87380 [7.17] Brought back missing changelog for 87235 (#87369)
  docs/changelog/87235.yaml
Labels: >docs, :Distributed/CCR, backport, Team:Distributed, Team:Docs, auto-merge, v7.17.5

#86922 Implement write throttling in Netty4HttpPipeliningHandler
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpPipeliningHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
Labels: >enhancement, :Distributed/Network, Team:Distributed, v8.4.0

#87379 [8.3] [DOCS] Typo in time functions (#87373)
  docs/reference/ml/anomaly-detection/functions/ml-time-functions.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.3.1

#87333 TSDB: Fix RollupActionSingleNodeTests failing with IndexNotFoundException
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/v2/RollupActionSingleNodeTests.java
Labels: >test, :Analytics/Rollup, Team:Analytics, auto-backport-and-merge, v8.4.0, v8.3.1

#87378 [8.2] [DOCS] Typo in time functions (#87373)
  docs/reference/ml/anomaly-detection/functions/ml-time-functions.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.2.3

#87376 [8.1] [DOCS] Typo in time functions (#87373)
  docs/reference/ml/anomaly-detection/functions/ml-time-functions.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.1.4

#87375 [8.0] [DOCS] Typo in time functions (#87373)
  docs/reference/ml/anomaly-detection/functions/ml-time-functions.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.0.2

#87377 [7.17] [DOCS] Typo in time functions (#87373)
  docs/reference/ml/anomaly-detection/functions/ml-time-functions.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v7.17.5

#87384 [8.3] TSDB: Fix RollupActionSingleNodeTests failing with IndexNotFoundException (#87333)
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/v2/RollupActionSingleNodeTests.java
Labels: >test, :Analytics/Rollup, backport, Team:Analytics, auto-merge, v8.3.1

#87365 List rp.signature_algorithm supported values in docs
  docs/reference/settings/security-settings.asciidoc
Labels: >docs, :Security/Authentication, Team:Docs, Team:Security, v8.3.0, v7.17.5, v8.4.0, v8.2.3, v8.3.1

#87305 Remove ImmutableOpenMap test utils
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/CollectionAssertions.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/CollectionMatchers.java
Labels: >test, :Delivery/Build, Team:Delivery, v8.4.0

#87168 Convert o.e.cluster to use Map in public methods
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/ShrinkIndexIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterInfoServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/routing/SearchReplicaSelectionIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStressTestsIT.java
  server/src/main/java/org/elasticsearch/action/support/tasks/TransportTasksAction.java
  server/src/main/java/org/elasticsearch/cluster/ClusterInfo.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/cluster/block/ClusterBlocks.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexTemplateMetadata.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdMonitor.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDecider.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsInProgressSerializationTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityService.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderDecisionTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/cache/TransportSearchableSnapshotsNodeCachesStatsAction.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/ShrinkIndexWithSecurityTests.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v8.4.0

#87386 [DOCS] Add notable breaking changes section in 8.3
  docs/reference/migration/migrate_8_3.asciidoc
Labels: >docs, Team:Docs, v8.3.1

#86411 [DOCS] JWT doc enhancements
  docs/reference/redirects.asciidoc
  docs/reference/settings/security-settings.asciidoc
  x-pack/docs/en/security/authentication/jwt-realm.asciidoc
  x-pack/docs/en/security/authorization/run-as-privilege.asciidoc
Labels: >docs, :Security/Authentication, Team:Docs, Team:Security, auto-backport-and-merge, v8.2.1, v8.4.0, v8.3.1

#87395 [8.3] [DOCS] JWT doc enhancements (#86411)
  docs/reference/redirects.asciidoc
  docs/reference/settings/security-settings.asciidoc
  x-pack/docs/en/security/authentication/jwt-realm.asciidoc
  x-pack/docs/en/security/authorization/run-as-privilege.asciidoc
Labels: >docs, :Security/Authentication, backport, Team:Docs, Team:Security, auto-merge, v8.3.1

#87394 [8.2] [DOCS] JWT doc enhancements (#86411)
  docs/reference/redirects.asciidoc
  docs/reference/settings/security-settings.asciidoc
  x-pack/docs/en/security/authentication/jwt-realm.asciidoc
  x-pack/docs/en/security/authorization/run-as-privilege.asciidoc
Labels: >docs, :Security/Authentication, backport, Team:Docs, Team:Security, auto-merge, v8.2.3

#87372 Test dependency on jimfs should also depend upon guava
  x-pack/qa/saml-idp-tests/build.gradle
Labels: >test, :Delivery/Build, Team:Delivery, v8.4.0

#85688 Speed up NumberFieldMapper
  docs/changelog/85688.yaml
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/TokenCountFieldMapper.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/CandidateQueryTests.java
  plugins/mapper-size/src/main/java/org/elasticsearch/index/mapper/size/SizeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/test/java/org/elasticsearch/index/fielddata/plain/HalfFloatFielddataTests.java
  server/src/test/java/org/elasticsearch/index/mapper/NumberFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorTests.java
Labels: >enhancement, :Search/Mapping, Team:Search, v8.4.0

#87385 User Profile - move profileHasPrivileges API behind the feature flag
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
Labels: >non-issue, :Security/Security, Team:Security, auto-backport-and-merge, v8.3.0, v8.4.0

#87398 [8.3] User Profile - Move profileHasPrivileges API behind the feature flag (#87385)
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
Labels: >non-issue, :Security/Security, backport, Team:Security, auto-merge, v8.3.1

#87382 [Doc] User Profile - Improve docs for user profile APIs
  x-pack/docs/build.gradle
  x-pack/docs/en/rest-api/security/activate-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/disable-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/enable-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/get-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/suggest-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/update-user-profile-data.asciidoc
  x-pack/docs/en/security/authentication/user-profile.asciidoc
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/user_profile/10_basic.yml
Labels: >docs, :Security/Security, Team:Docs, Team:Security, Team:Clients, auto-merge, auto-backport-and-merge, v8.3.0, v8.4.0

#87399 [8.3] [Doc] User Profile - Improve docs for user profile APIs (#87382)
  x-pack/docs/build.gradle
  x-pack/docs/en/rest-api/security/activate-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/disable-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/enable-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/get-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/suggest-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/update-user-profile-data.asciidoc
  x-pack/docs/en/security/authentication/user-profile.asciidoc
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/user_profile/10_basic.yml
Labels: >docs, :Security/Security, backport, Team:Docs, Team:Security, Team:Clients, auto-merge, v8.3.1

#87402 [8.1] List rp.signature_algorithm supported values in docs (#87365)
  docs/reference/settings/security-settings.asciidoc
Labels: backport, auto-merge, v8.1.4

#87401 [8.2] List rp.signature_algorithm supported values in docs (#87365)
  docs/reference/settings/security-settings.asciidoc
Labels: backport, auto-merge, v8.2.3

#87400 [8.3] List rp.signature_algorithm supported values in docs (#87365)
  docs/reference/settings/security-settings.asciidoc
Labels: backport, auto-merge, v8.3.1

#87404 [7.17] List rp.signature_algorithm supported values in docs (#87365)
  docs/reference/settings/security-settings.asciidoc
Labels: backport, auto-merge

#87403 [8.0] List rp.signature_algorithm supported values in docs (#87365)
  docs/reference/settings/security-settings.asciidoc
Labels: backport, auto-merge, v8.0.2

#85455 App permissions with action patterns do not retrieve privileges
  docs/changelog/85455.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/privilege/PutPrivilegesRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilege.java
  x-pack/plugin/security/qa/smoke-test-all-realms/build.gradle
  x-pack/plugin/security/qa/smoke-test-all-realms/src/javaRestTest/java/org/elasticsearch/xpack/security/authc/FileRealmAuthIT.java
  x-pack/plugin/security/qa/smoke-test-all-realms/src/javaRestTest/resources/roles.yml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativePrivilegeStore.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/NativePrivilegeStoreTests.java
Labels: >enhancement, :Security/Authorization, Team:Security, auto-merge, v8.4.0

#87359 [8.2] Fix resolution of wildcard application privileges
  docs/changelog/87293.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilege.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilegeTests.java
  x-pack/plugin/security/qa/security-basic/src/javaRestTest/java/org/elasticsearch/xpack/security/HasApplicationPrivilegesIT.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/TestSecurityClient.java
Labels: >bug, :Security/Authentication, backport, Team:Security, v8.2.3

#86930 More detail in discovery troubleshooting docs
  docs/reference/modules/discovery/discovery.asciidoc
Labels: >docs, :Distributed/Cluster Coordination, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.2.2, v8.4.0, v8.3.1

#86970 Simplify master task failure handling
  build-tools-internal/src/main/resources/forbidden/es-server-signatures.txt
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/TransportDeleteDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/TransportUpdateDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/main/java/org/elasticsearch/cluster/ClusterStateTaskExecutor.java
  server/src/main/java/org/elasticsearch/cluster/LocalMasterServiceTask.java
  server/src/main/java/org/elasticsearch/cluster/action/shard/ShardStateAction.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinTaskExecutor.java
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeRemovalClusterStateTaskExecutor.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexStateServiceBatchingTests.java
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/service/ClusterStateTaskExecutorUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/StartBasicClusterTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/StartTrialClusterTask.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicenseServiceTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/TransportRollupAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportDeleteShutdownNodeAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportPutShutdownNodeAction.java
Labels: >refactoring, :Distributed/Cluster Coordination, Team:Distributed, v8.4.0

#87410 [8.3] More detail in discovery troubleshooting docs (#86930)
  docs/reference/modules/discovery/discovery.asciidoc
Labels: >docs, :Distributed/Cluster Coordination, backport, Team:Distributed, Team:Docs, auto-merge, v8.3.1

#87409 [8.2] More detail in discovery troubleshooting docs (#86930)
  docs/reference/modules/discovery/discovery.asciidoc
Labels: >docs, :Distributed/Cluster Coordination, backport, Team:Distributed, Team:Docs, auto-merge, v8.2.3

#87162 Update to public lucene 9.2.0 release
  build-tools-internal/version.properties
  docs/changelog/87162.yaml
  modules/lang-expression/licenses/lucene-expressions-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-9.2.0.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial-extras-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial-extras-9.2.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.2.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.2.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.2.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.2.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.2.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.2.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.2.0.jar.sha1
  server/licenses/lucene-analysis-common-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-analysis-common-9.2.0.jar.sha1
  server/licenses/lucene-backward-codecs-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-backward-codecs-9.2.0.jar.sha1
  server/licenses/lucene-core-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-core-9.2.0.jar.sha1
  server/licenses/lucene-grouping-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-grouping-9.2.0.jar.sha1
  server/licenses/lucene-highlighter-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-highlighter-9.2.0.jar.sha1
  server/licenses/lucene-join-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-join-9.2.0.jar.sha1
  server/licenses/lucene-memory-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-memory-9.2.0.jar.sha1
  server/licenses/lucene-misc-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-misc-9.2.0.jar.sha1
  server/licenses/lucene-queries-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-queries-9.2.0.jar.sha1
  server/licenses/lucene-queryparser-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-queryparser-9.2.0.jar.sha1
  server/licenses/lucene-sandbox-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-sandbox-9.2.0.jar.sha1
  server/licenses/lucene-spatial3d-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-spatial3d-9.2.0.jar.sha1
  server/licenses/lucene-suggest-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  server/licenses/lucene-suggest-9.2.0.jar.sha1
  x-pack/plugin/ml/licenses/lucene-analysis-icu-9.2.0-snapshot-ba8c3a806ad.jar.sha1
  x-pack/plugin/ml/licenses/lucene-analysis-icu-9.2.0.jar.sha1
Labels: :Search/Search, >upgrade, Team:Search, auto-backport-and-merge, v8.3.0, v8.4.0, v8.3.1

#87297 [ML] adjust change_point to not throw with too few buckets
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/changepoint/ChangePointAggregator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/changepoint/ChangePointNamedContentProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/changepoint/ChangeType.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/change_point_agg.yml
Labels: >non-issue, :ml, Team:Clients, Team:ML, v8.4.0

#87406 Reference the entire example plugins dir in docs
  docs/plugins/authors.asciidoc
Labels: >docs, :Core/Infra/Plugins, Team:Core/Infra, Team:Docs, auto-backport-and-merge, v7.17.5, v8.4.0, v8.3.1

#87396 Force property expansion for security policy
  docs/changelog/87396.yaml
  server/src/main/java/org/elasticsearch/bootstrap/Elasticsearch.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, v7.17.5, v8.4.0, v8.3.1

#87424 [8.3] Reference the entire example plugins dir in docs (#87406)
  docs/plugins/authors.asciidoc
Labels: >docs, :Core/Infra/Plugins, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.3.1

#86524 Master stability health indicator part 1 (when a master has been seen recently)
  docs/changelog/86524.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/20_component.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/30_feature.yml
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/InstanceHasMasterHealthIndicatorServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/discovery/StableMasterDisruptionIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/InstanceHasMasterHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/cluster/coordination/StableMasterHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/cluster/coordination/StableMasterHealthIndicatorServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
Labels: >feature, Team:Data Management, Team:Clients, :Data Management/Health, v8.4.0

#87430 Add support for building elasticsearch source on macos before monterey (Closes #87426)
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/info/ParallelDetector.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, external-contributor, auto-backport-and-merge, v7.17.5, v8.4.0, v8.3.1

#87434 [7.17] Add support for building elasticsearch source on macos before monterey (#87430)
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/info/ParallelDetector.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, external-contributor, auto-merge, v7.17.5

#87435 [8.3] Add support for building elasticsearch source on macos before monterey (#87430)
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/info/ParallelDetector.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, external-contributor, auto-merge, v8.3.1

#87431 Script: Add UpdateByQuery and Reindex contexts
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/org.elasticsearch.script.reindex.txt
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/org.elasticsearch.script.update.txt
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/org.elasticsearch.script.update_by_query.txt
  modules/reindex/src/main/java/org/elasticsearch/reindex/AbstractAsyncBulkByScrollAction.java
  modules/reindex/src/main/java/org/elasticsearch/reindex/Reindexer.java
  modules/reindex/src/main/java/org/elasticsearch/reindex/TransportUpdateByQueryAction.java
  modules/reindex/src/test/java/org/elasticsearch/reindex/AbstractAsyncBulkByScrollActionScriptTestCase.java
  server/src/main/java/org/elasticsearch/script/ReindexScript.java
  server/src/main/java/org/elasticsearch/script/ScriptModule.java
  server/src/main/java/org/elasticsearch/script/UpdateByQueryScript.java
  test/framework/src/main/java/org/elasticsearch/script/MockScriptEngine.java
Labels: >enhancement, :Core/Infra/Scripting, >refactoring, Team:Core/Infra, v8.4.0

#87290 Optimize geogrid aggregations for singleton points
  docs/changelog/87290.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/CellIdSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/CellValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashCellIdSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileCellIdSource.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregatorTestCase.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoHexCellIdSource.java
Labels: >enhancement, :Analytics/Geo, Team:Analytics, auto-merge, v8.4.0

#87360 [DOCS] Profile Has Privileges API
  rest-api-spec/src/main/resources/rest-api-spec/api/security.has_privileges_user_profile.json
  x-pack/docs/en/rest-api/security.asciidoc
  x-pack/docs/en/rest-api/security/has-privileges-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/has-privileges.asciidoc
  x-pack/docs/en/security/authentication/user-profile.asciidoc
Labels: >docs, :Security/Authorization, Team:Docs, Team:Security, Team:Clients, auto-merge, auto-backport-and-merge, v8.4.0, v8.3.1

#87429 Security plugin close realms
  docs/changelog/87429.yaml
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/SecurityPluginTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
Labels: >bug, :Security/Security, Team:Security, auto-merge, auto-backport-and-merge, v7.17.5, v8.4.0, v8.2.3, v8.3.1

#87439 Optimize geogrid aggregations for singleton points
  docs/changelog/87439.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/CellIdSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/CellValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoHashCellIdSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileCellIdSource.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregatorTestCase.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoHexCellIdSource.java
Labels: >enhancement, :Analytics/Geo, Team:Analytics, auto-merge, v8.4.0

#87441 [8.3] [DOCS] Profile Has Privileges API (#87360)
  rest-api-spec/src/main/resources/rest-api-spec/api/security.has_privileges_user_profile.json
  x-pack/docs/en/rest-api/security.asciidoc
  x-pack/docs/en/rest-api/security/has-privileges-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/has-privileges.asciidoc
  x-pack/docs/en/security/authentication/user-profile.asciidoc
Labels: >docs, :Security/Authorization, backport, Team:Docs, Team:Security, Team:Clients, auto-merge, v8.3.1

#87363 Warn when stored credential hashers not compliant with FIPS
  docs/changelog/87363.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
Labels: >enhancement, Team:Security, :Security/FIPS, v8.4.0

#87412 Expose segment details in PCSS debug log
  docs/changelog/87412.yaml
  server/src/main/java/org/elasticsearch/gateway/PersistedClusterStateService.java
  server/src/test/java/org/elasticsearch/gateway/PersistedClusterStateServiceTests.java
Labels: >enhancement, :Distributed/Cluster Coordination, Team:Distributed, v8.4.0

#87322 Track ignored shards
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconciler.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/ShardAssignment.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconcilerTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceServiceTests.java
Labels: :Distributed/Allocation, Team:Distributed

#87352 Only perform ensureNoSelfReferences check during ingest when needed
  docs/changelog/87352.yaml
  libs/x-content/src/main/java/org/elasticsearch/xcontent/XContentBuilder.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/ScriptProcessor.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequest.java
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
Labels: >enhancement, :Data Management/Ingest, Team:Data Management, auto-merge, v8.4.0

#87354 Allow pipeline processor to ignore missing pipelines
  docs/changelog/87354.yaml
  docs/reference/ingest/processors/pipeline.asciidoc
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/210_pipeline_processor.yml
  server/src/main/java/org/elasticsearch/ingest/PipelineProcessor.java
  server/src/test/java/org/elasticsearch/ingest/PipelineProcessorTests.java
Labels: >enhancement, :Data Management/Ingest, Team:Data Management, Team:Clients, auto-merge, v8.4.0

#87452 Whitelist throttled allocation state.
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/ShardAssignment.java
Labels: :Distributed/Allocation, Team:Distributed

#86859 Add mapping stats for indexed dense_vectors
  docs/changelog/86859.yaml
  docs/reference/cluster/stats.asciidoc
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/DenseVectorFieldStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/FieldStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/MappingStats.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/MappingStatsTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/vectors/70_dense_vector_telemetry.yml
Labels: >enhancement, :Search/Mapping, :Search/Search, :Data Management/Stats, Team:Data Management, Team:Search, Team:Clients, v8.4.0

#87444 [8.3] Security plugin close realms (#87429)
  docs/changelog/87429.yaml
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/SecurityPluginTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/LocalStateSecurity.java
Labels: >bug, :Security/Security, backport, Team:Security, auto-merge, v8.3.1

#87443 [8.2] Security plugin close realms (#87429)
  docs/changelog/87429.yaml
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/SecurityPluginTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/LocalStateSecurity.java
Labels: >bug, :Security/Security, backport, Team:Security, auto-merge, v8.2.3

#87414 Handle ordering in plain highlighter for multiple inputs
  docs/changelog/87414.yaml
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/PlainHighlighter.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/highlight/PlainHighlighterTests.java
  test/framework/src/main/java/org/elasticsearch/search/fetch/HighlighterTestCase.java
Labels: >bug, :Search/Highlighting, Team:Search, v8.4.0

#87432 Synthetic source: paranoid test for hidden copy_to
  server/src/test/java/org/elasticsearch/index/mapper/SourceLoaderTests.java
Labels: >test, :Search/Mapping, Team:Search, Team:Analytics, :Analytics/TSDB, v8.4.0

#87270 Synthetic source: don't allow disabling source
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMapperTests.java
Labels: >non-issue, Team:Analytics, :Analytics/TSDB, v8.4.0

#87278 Pre-parse tsdb index settings
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  server/src/test/java/org/elasticsearch/index/IndexSettingsTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, Team:Analytics, auto-merge, :Analytics/TSDB, v8.4.0

#87393 Use Map instead of ImmutableOpenMap in ClusterInfo
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterInfoServiceIT.java
  server/src/main/java/org/elasticsearch/cluster/ClusterInfo.java
  server/src/test/java/org/elasticsearch/cluster/ClusterInfoTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderUnitTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/FrozenStorageDeciderServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ProactiveStorageDeciderServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderServiceTests.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/TransportNodeDeprecationCheckActionTests.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v8.4.0

#87463 [7.17] Security plugin close realms (#87429)
  docs/changelog/87429.yaml
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/SecurityPluginTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/LocalStateSecurity.java
Labels: >bug, :Security/Security, backport, Team:Security, auto-merge, v7.17.5

#87068 Add an option to _search to force synthetic source
  rest-api-spec/src/main/resources/rest-api-spec/api/search.json
  rest-api-spec/src/main/resources/schema.json
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/400_synthetic_source.yml
  server/src/main/java/org/elasticsearch/action/search/CanMatchNodeRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceLoader.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestSearchAction.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/internal/FilteredSearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/SearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
  server/src/test/java/org/elasticsearch/action/search/MultiSearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/internal/ShardSearchRequestTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/RandomSearchRequestGenerator.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/TestSearchContext.java
Labels: >non-issue, :Search/Mapping, Team:Search, Team:Analytics, Team:Clients, :Analytics/TSDB, v8.4.0

#87465 Fix troubleshooting doc tab to point to self-managed
  docs/reference/tab-widgets/troubleshooting/data/diagnose-unassigned-shards-widget.asciidoc
Labels: >bug, >docs, Team:Data Management, Team:Docs, auto-backport-and-merge, :Data Management/Health, v8.4.0, v8.3.1

#87466 [8.3] Fix troubleshooting doc tab to point to self-managed (#87465)
  docs/reference/tab-widgets/troubleshooting/data/diagnose-unassigned-shards-widget.asciidoc
Labels: >bug, >docs, backport, Team:Data Management, Team:Docs, auto-merge, :Data Management/Health, v8.3.1

#87133 Use all lucene index compatible versions for bwc version generation
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  build.gradle
Labels: >bug, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v7.17.5, v8.4.0, v8.3.1

#87473 Use Map in IndexTemplateMetadata
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexTemplateMetadata.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexTemplateMetadataTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/cluster/metadata/MetadataMigrateToDataTiersRoutingServiceTests.java
Labels: :Data Management/Indices APIs, >refactoring, Team:Data Management, auto-merge, v8.4.0

#87470 Use all lucene index compatible versions for bwc version generation (#87133)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  build.gradle
Labels: backport, auto-merge, v7.17.5

#87387 TEST yml REST test for the profile has privileges API
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/user_profile/40_has_privileges.yml
Labels: >test, :Security/Authorization, Team:Security, Team:Clients, auto-merge, auto-backport-and-merge, v8.4.0, v8.3.1

#87139 Improve the Health API documentation page with recent additions
  docs/reference/health/health.asciidoc
Labels: >docs, Team:Data Management, Team:Docs, auto-backport-and-merge, :Data Management/Health, v8.4.0, v8.3.1

#87479 [8.3] Improve the Health API documentation page with recent additions (#87139)
  docs/reference/health/health.asciidoc
Labels: >docs, backport, Team:Data Management, Team:Docs, auto-merge, :Data Management/Health, v8.3.1

#87397 Move spatial3d dependency to spatial
  modules/legacy-geo/build.gradle
  server/build.gradle
  server/src/main/java/module-info.java
  x-pack/plugin/spatial/build.gradle
  x-pack/plugin/spatial/licenses/lucene-LICENSE.txt
  x-pack/plugin/spatial/licenses/lucene-NOTICE.txt
  x-pack/plugin/spatial/licenses/lucene-spatial3d-9.2.0.jar.sha1
Labels: :Analytics/Geo, >refactoring, Team:Analytics, v8.4.0

#87477 [8.3] TEST yml REST test for the profile has privileges API (#87387)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/user_profile/40_has_privileges.yml
Labels: >test, :Security/Authorization, backport, Team:Security, Team:Clients, auto-merge, v8.3.1

#87476 Skip ML tests on later glibc for incompatible BWC versions
  .ci/scripts/run-gradle.sh
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  build-tools/src/main/java/org/elasticsearch/gradle/Version.java
  build-tools/src/test/java/org/elasticsearch/gradle/VersionTests.java
  x-pack/plugin/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: >test, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.4.0, v8.3.1

#87307 Use Map in SegmentStats
  server/src/main/java/org/elasticsearch/index/engine/SegmentsStats.java
Labels: :Distributed/Engine, >refactoring, Team:Distributed, v8.4.0

#87481 Fix serialization checks in force_synthetic_source
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
  server/src/test/java/org/elasticsearch/action/search/SearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/internal/ShardSearchRequestTests.java
Labels: >non-issue, :Search/Search, Team:Search, auto-merge, v8.4.0

#87484 [8.3] Skip ML tests on later glibc for incompatible BWC versions (#87476)
  .ci/scripts/run-gradle.sh
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  build-tools/src/main/java/org/elasticsearch/gradle/Version.java
  build-tools/src/test/java/org/elasticsearch/gradle/VersionTests.java
  x-pack/plugin/build.gradle
  x-pack/qa/rolling-upgrade/build.gradle
Labels: >test, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.3.1

#87487 [7.17] Skip ML tests on later glibc for incompatible BWC versions
  .ci/scripts/run-gradle.sh
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  build-tools/src/main/java/org/elasticsearch/gradle/Version.java
  build-tools/src/test/java/org/elasticsearch/gradle/VersionTests.java
  x-pack/qa/rolling-upgrade/build.gradle
Labels: backport, auto-merge, v7.17.5

#87489 Force property expansion for security policy (#87396)
  docs/changelog/87396.yaml
  server/src/main/java/org/elasticsearch/bootstrap/Elasticsearch.java
Labels: backport, auto-merge, v8.2.3

#86132 Add debug information to ReactiveReason about assigned and unassigned shards
  docs/changelog/86132.yaml
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ProactiveStorageDeciderService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ShardsSize.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveReasonTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderDecisionTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderReasonWireSerializationTests.java
Labels: >enhancement, :Distributed/Autoscaling, Team:Distributed, v8.4.0

#87458 Fork to WRITE thread before failing shard in updateCheckPoints
  docs/changelog/87458.yaml
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationOperation.java
  server/src/test/java/org/elasticsearch/action/support/replication/ReplicationOperationTests.java
Labels: >bug, :Distributed/Engine, Team:Distributed, auto-backport-and-merge, v7.17.5, v8.4.0, v8.3.1

#87445 FastVectorHighlighter should use ValueFetchers to load source data
  docs/changelog/85815.yaml
  docs/changelog/87445.yaml
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/FastVectorHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/SourceScoreOrderFragmentsBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/SourceSimpleFragmentsBuilder.java
  server/src/main/java/org/elasticsearch/search/lookup/SourceLookup.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/highlight/FastVectorHighlighterTests.java
  test/framework/src/main/java/org/elasticsearch/search/fetch/HighlighterTestCase.java
Labels: >bug, :Search/Highlighting, Team:Search, v7.17.5

#87220 Make the metric in the buckets_path parameter optional
  docs/changelog/87220.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/300_pipeline.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AbstractInternalHDRPercentiles.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AbstractInternalTDigestPercentiles.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/BucketHelpers.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/InternalPercentilesBucket.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketHelpersTests.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, Team:Clients, v8.4.0

#87496 [8.3] Fork to WRITE thread before failing shard in updateCheckPoints (#87458)
  docs/changelog/87458.yaml
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationOperation.java
  server/src/test/java/org/elasticsearch/action/support/replication/ReplicationOperationTests.java
Labels: >bug, :Distributed/Engine, backport, Team:Distributed, auto-merge, v8.3.1

#87151 SQL: Fix date range checks
  docs/changelog/87151.yaml
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/Range.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/expression/predicate/RangeTests.java
  x-pack/plugin/sql/qa/server/src/main/resources/datetime.csv-spec
Labels: >bug, :Query Languages/SQL, Team:QL, v8.4.0

#87356 Lower overhead of RestApiVersion use in x-content parsing
  libs/core/src/main/java/org/elasticsearch/core/RestApiVersion.java
  libs/x-content/src/main/java/org/elasticsearch/xcontent/NamedXContentRegistry.java
  libs/x-content/src/main/java/org/elasticsearch/xcontent/ObjectParser.java
  libs/x-content/src/main/java/org/elasticsearch/xcontent/ParseField.java
  server/src/main/java/org/elasticsearch/Version.java
  server/src/test/java/org/elasticsearch/common/xcontent/CompatibleNamedXContentRegistryTests.java
  server/src/test/java/org/elasticsearch/rest/MethodHandlersTests.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
Labels: >non-issue, :Core/Infra/REST API, Team:Core/Infra, v8.4.0

#87392 Fix a bug with flattened fields in terms aggregations
  docs/changelog/87392.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/20_terms.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/24_terms_flattened_field.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/MissingValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSource.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, Team:Clients, auto-backport, v7.17.5, v8.4.0, v8.3.1

#87467 Move the writeTo and read for get requests
  server/src/main/java/org/elasticsearch/action/get/GetRequest.java
  server/src/main/java/org/elasticsearch/action/get/MultiGetRequest.java
  server/src/main/java/org/elasticsearch/action/get/MultiGetShardRequest.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
Labels: >non-issue, :Search/Search, Team:Search, v8.4.0

#87123 Don't run include_in_parent when in copy_to context
  docs/changelog/87123.yaml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/test/java/org/elasticsearch/index/mapper/CopyToMapperTests.java
Labels: >bug, :Search/Mapping, Team:Search, auto-backport-and-merge, v8.4.0, v8.3.1

#87483 Fixing an occasional testYellowWithTooManyMasterChanges failure
  server/src/test/java/org/elasticsearch/cluster/coordination/StableMasterHealthIndicatorServiceTests.java
Labels: >test, Team:Data Management, :Data Management/Health, v8.4.0

#87383 User Profile - remove feature flag
  docs/reference/settings/security-settings.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/security.activate_user_profile.json
  rest-api-spec/src/main/resources/rest-api-spec/api/security.disable_user_profile.json
  rest-api-spec/src/main/resources/rest-api-spec/api/security.enable_user_profile.json
  rest-api-spec/src/main/resources/rest-api-spec/api/security.get_user_profile.json
  rest-api-spec/src/main/resources/rest-api-spec/api/security.has_privileges_user_profile.json
  rest-api-spec/src/main/resources/rest-api-spec/api/security.suggest_user_profiles.json
  rest-api-spec/src/main/resources/rest-api-spec/api/security.update_user_profile_data.json
  x-pack/docs/build.gradle
  x-pack/docs/en/rest-api/security.asciidoc
  x-pack/docs/en/security/authentication/overview.asciidoc
  x-pack/plugin/build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/security/build.gradle
  x-pack/plugin/security/qa/operator-privileges-tests/build.gradle
  x-pack/plugin/security/qa/profile/build.gradle
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/AbstractProfileIntegTestCase.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecuritySystemIndices.java
  x-pack/qa/rolling-upgrade/build.gradle
Labels: >non-issue, :Security/Security, Team:Security, Team:Clients, auto-merge, v8.4.0

#87407 Add back Netty4WriteThrottlingHandler to HTTP pipeline
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4WriteThrottlingHandler.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4WriteThrottlingHandlerTests.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, v8.4.0

#87514 Speedup RoutingNodes constructor
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNode.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.4.0

#87486 Add tier information on health api migrate tiers user actions
  docs/changelog/87486.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorServiceTests.java
Labels: >enhancement, Team:Data Management, auto-backport-and-merge, :Data Management/Health, v8.4.0, v8.3.1

#87516 Fix test conventions when skipping ML upgrade tests
  x-pack/qa/rolling-upgrade/build.gradle
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractUpgradeTestCase.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlJobSnapshotUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlMappingsUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlTrainedModelsUpgradeIT.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.4.0, v8.3.1

#81322 Speed counting filters/range/date_histogram aggs
  docs/changelog/81322.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/profile/aggregation/AggregationProfilerIT.java
  server/src/main/java/org/elasticsearch/indices/IndicesQueryCache.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/DocValuesFieldExistsAdapter.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/MatchAllQueryToFilterAdapter.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/MatchNoneQueryToFilterAdapter.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/MergedPointRangeQuery.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/QueryToFilterAdapter.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/TermQueryToFilterAdapter.java
  server/src/test/java/org/elasticsearch/indices/IndicesQueryCacheTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesServiceCloseTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregatorTests.java
Labels: >enhancement, :Analytics/Aggregations, Team:Analytics, v8.4.0

#87524 Mute CancellableRateLimitedFluxIteratorTests#testCancellation
  modules/repository-azure/src/test/java/org/elasticsearch/repositories/azure/CancellableRateLimitedFluxIteratorTests.java
Labels: :Distributed/Snapshot/Restore, >test-mute, Team:Distributed, auto-backport-and-merge, v7.17.5, v8.4.0, v8.3.1

#87319 Upgrade folders after settings validation
  docs/changelog/87319.yaml
  server/src/internalClusterTest/java/org/elasticsearch/env/NodeEnvironmentIT.java
  server/src/main/java/org/elasticsearch/node/Node.java
Labels: >bug, Team:Core/Infra, :Core/Infra/Node Lifecycle, auto-backport-and-merge, v8.4.0, v8.3.1

#87530 [8.3] Docs: Data streams only support `create` (#87263)
  docs/reference/docs/bulk.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.3.1

#87523 [8.3] Fix test conventions when skipping ML upgrade tests (#87516)
  x-pack/qa/rolling-upgrade/build.gradle
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractUpgradeTestCase.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlJobSnapshotUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlMappingsUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlTrainedModelsUpgradeIT.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.3.1

#87527 [7.17] Mute CancellableRateLimitedFluxIteratorTests testCancellation (#87524)
  plugins/repository-azure/src/test/java/org/elasticsearch/repositories/azure/CancellableRateLimitedFluxIteratorTests.java
Labels: :Distributed/Snapshot/Restore, backport, >test-mute, Team:Distributed, auto-merge, v7.17.5

#87528 [8.3] Mute CancellableRateLimitedFluxIteratorTests testCancellation (#87524)
  modules/repository-azure/src/test/java/org/elasticsearch/repositories/azure/CancellableRateLimitedFluxIteratorTests.java
Labels: :Distributed/Snapshot/Restore, backport, >test-mute, Team:Distributed, auto-merge, v8.3.1

#87529 [8.3] Upgrade folders after settings validation (#87319)
  docs/changelog/87319.yaml
  server/src/internalClusterTest/java/org/elasticsearch/env/NodeEnvironmentIT.java
  server/src/main/java/org/elasticsearch/node/Node.java
Labels: >bug, backport, Team:Core/Infra, :Core/Infra/Node Lifecycle, auto-merge, v8.3.1

#87531 [8.2] Report file checksum when encountering artifact transform failures (#87522)
  build-tools/src/main/java/org/elasticsearch/gradle/transform/UnpackTransform.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.2.3

#87532 [8.3] Report file checksum when encountering artifact transform failures (#87522)
  build-tools/src/main/java/org/elasticsearch/gradle/transform/UnpackTransform.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.3.1

#87509 Consolidate early startup into phase1
  server/src/main/java/org/elasticsearch/bootstrap/Bootstrap.java
  server/src/main/java/org/elasticsearch/bootstrap/Elasticsearch.java
  server/src/main/java/org/elasticsearch/bootstrap/Security.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.4.0

#87188 How to increase node capacity docs
  docs/reference/tab-widgets/troubleshooting/data/increase-tier-capacity-widget.asciidoc
  docs/reference/tab-widgets/troubleshooting/data/increase-tier-capacity.asciidoc
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/data/increase-tier-capacity.asciidoc
Labels: >docs, Team:Data Management, Team:Docs, :Data Management/Health, v8.4.0, v8.3.1
