Repository elastic/elasticsearch, pull requests merged in 2022-10, with the labels that each got.

#90494 Fix logstash loadavg (xpack cases)
  docs/changelog/90494.yaml
  x-pack/plugin/core/src/main/resources/monitoring-logstash-mb.json
  x-pack/plugin/core/src/main/resources/monitoring-logstash.json
Labels: >bug, :Data Management/Monitoring, Team:Data Management, external-contributor, Team:Infra Monitoring UI, v8.6.0

#90493 Add fields to fix logstash cgroup graphs
  docs/changelog/90493.yaml
  x-pack/plugin/core/src/main/resources/monitoring-logstash-mb.json
  x-pack/plugin/core/src/main/resources/monitoring-logstash.json
Labels: >bug, :Data Management/Monitoring, Team:Data Management, external-contributor, auto-backport-and-merge, Team:Infra Monitoring UI, v8.5.0, v8.6.0

#90580 [8.5] Add fields to fix logstash cgroup graphs (#90493)
  docs/changelog/90493.yaml
  x-pack/plugin/core/src/main/resources/monitoring-logstash-mb.json
  x-pack/plugin/core/src/main/resources/monitoring-logstash.json
Labels: >bug, :Data Management/Monitoring, backport, Team:Data Management, external-contributor, auto-merge, Team:Infra Monitoring UI, v8.5.1

#90508 Initial relevance_match query
  x-pack/plugin/relevance-search/build.gradle
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/RelevanceSearchPlugin.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/query/QueryFieldsResolver.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryBuilder.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/query/QueryFieldsResolverTests.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryIntTests.java
Labels: needs:triage, external-contributor

#90563 Fix #90558 by resolving the backing index name earlier in the process
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamsSnapshotsIT.java
Labels: >test, :Data Management/Data streams, Team:Data Management, auto-backport, v8.5.0, v7.17.7, v8.6.0

#90565 Always support ignore_malformed in the same way
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/mapper/DataStreamTimestampFieldMapperTests.java
  modules/legacy-geo/src/test/java/org/elasticsearch/legacygeo/mapper/LegacyGeoShapeFieldMapperTests.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/MatchOnlyTextFieldMapperTests.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/RankFeatureFieldMapperTests.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/RankFeaturesFieldMapperTests.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/ScaledFloatFieldMapperTests.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/SearchAsYouTypeFieldMapperTests.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/TokenCountFieldMapperTests.java
  plugins/analysis-icu/src/test/java/org/elasticsearch/plugin/analysis/icu/ICUCollationKeywordFieldMapperTests.java
  plugins/mapper-annotated-text/build.gradle
  plugins/mapper-annotated-text/src/test/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapperTests.java
  plugins/mapper-murmur3/src/test/java/org/elasticsearch/index/mapper/murmur3/Murmur3FieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DataStreamTimestampFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/BinaryFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/CompletionFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoShapeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpRangeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/NumberFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RangeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapperTests.java
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapper.java
  x-pack/plugin/mapper-aggregate-metric/src/test/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapperTests.java
  x-pack/plugin/mapper-constant-keyword/build.gradle
  x-pack/plugin/mapper-constant-keyword/src/test/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapperTests.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/mapper-unsigned-long/src/test/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapperTests.java
  x-pack/plugin/mapper-version/src/test/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/CartesianFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapperTests.java
  x-pack/plugin/wildcard/src/test/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapperTests.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.6.0

#90597 JoinValidationService: cleanup even on Error
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinValidationService.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, auto-backport-and-merge, v8.5.1, v8.6.0

#90602 [8.5] JoinValidationService: cleanup even on Error (#90597)
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinValidationService.java
Labels: >test, :Distributed/Cluster Coordination, backport, Team:Distributed, auto-merge, v8.5.1

#90606 Actually use different seeds for each run (#89752)
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/RandomSamplerIT.java
Labels: :ml, backport, auto-merge, v8.4.4

#90417 Refactor FileSettingsService threading
  server/src/main/java/org/elasticsearch/reservedstate/service/FileSettingsService.java
  server/src/test/java/org/elasticsearch/reservedstate/service/FileSettingsServiceTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.6.0

#90460 Deprecate 'remove_binary' default of false for ingest attachment processor
  docs/changelog/90460.yaml
  docs/reference/ingest/processors/attachment.asciidoc
  modules/ingest-attachment/src/main/java/org/elasticsearch/ingest/attachment/AttachmentProcessor.java
  modules/ingest-attachment/src/test/java/org/elasticsearch/ingest/attachment/AttachmentProcessorFactoryTests.java
  modules/ingest-attachment/src/yamlRestTest/resources/rest-api-spec/test/ingest_attachment/20_attachment_processor.yml
  modules/ingest-attachment/src/yamlRestTest/resources/rest-api-spec/test/ingest_attachment/30_files_supported.yml
  server/src/main/java/org/elasticsearch/ingest/ConfigurationUtils.java
Labels: >deprecation, :Data Management/Ingest Node, Team:Data Management, auto-merge, v8.6.0

#90613 [CI] Mute SnapshotRepoTestKitClientYamlTestSuiteIT
  x-pack/plugin/snapshot-repo-test-kit/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/10_analyze.yml
Labels: :Distributed/Snapshot/Restore, >test-mute, Team:Distributed, auto-merge, v8.5.0, v8.5.1

#90537 Retry file watch registration
  docs/changelog/90537.yaml
  server/src/main/java/org/elasticsearch/reservedstate/service/FileSettingsService.java
  server/src/test/java/org/elasticsearch/reservedstate/service/FileSettingsServiceTests.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, v8.5.1, v8.6.0

#90331 sanitize thread context headers
  server/src/main/java/org/elasticsearch/common/util/concurrent/ThreadContext.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/ThreadContextTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/SecondaryAuthenticator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/SecurityRestFilter.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/SecurityRestFilterTests.java
Labels: >bug, :Security/Security, Team:Security, v8.6.0

#90615 [8.5] Retry file watch registration (#90537)
  docs/changelog/90537.yaml
  server/src/main/java/org/elasticsearch/reservedstate/service/FileSettingsService.java
  server/src/test/java/org/elasticsearch/reservedstate/service/FileSettingsServiceTests.java
Labels: >enhancement, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge, v8.5.1

#90124 GitHub Workflows security hardening
  .github/workflows/docs-preview-links.yml
Labels: >non-issue, Team:Delivery, :Delivery/Tooling, external-contributor, v8.6.0

#90561 [Test] Move concurrent activate update test to run with single node
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileDomainIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileSingleNodeTests.java
Labels: >test, :Security/Security, Team:Security, auto-backport-and-merge, v8.5.0, v8.6.0

#90619 [8.5] [Test] Move concurrent activate update test to run with single node (#90561)
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileDomainIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileSingleNodeTests.java
Labels: >test, :Security/Security, backport, Team:Security, auto-merge, v8.5.1

#90600 Initialize shards assuming they would be placed on original nodes
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputer.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceInput.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/SingleShardNoReplicasRoutingTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconcilerTests.java
Labels: :Distributed/Allocation, Team:Distributed

#90623 update lucene to release 9.4.0
  build-tools-internal/version.properties
  gradle/verification-metadata.xml
Labels: >non-issue, :Search/Search, >upgrade, Team:Search, v8.5.1, v8.6.0

#90625 [8.5] update lucene to release 9.4.0 (#90623)
  build-tools-internal/version.properties
  gradle/verification-metadata.xml
Labels: >non-issue, >upgrade, backport, auto-merge, v8.5.1

#90292 [ML] Pass the randomize_seed DFA parameter to the native code
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Classification.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/Regression.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/ClassificationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/analyses/RegressionTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/process/AnalyticsBuilder.java
Labels: >non-issue, :ml, Team:ML, v8.6.0

#90458 Fix date rounding for date math parsing
  docs/changelog/90458.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/500_date_range.yml
  server/src/main/java/org/elasticsearch/common/time/JavaDateFormatter.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, v7.17.7, v8.5.1, v8.6.0

#90621 Fork TransportClusterHealthAction to MANAGEMENT
  server/src/main/java/org/elasticsearch/action/admin/cluster/health/TransportClusterHealthAction.java
Labels: >non-issue, :Data Management/Stats, :Distributed/Network, Team:Data Management, Team:Distributed, auto-backport-and-merge, v8.5.0, v8.6.0

#90632 Fix RecyclerBytesStreamOutput allocating unlimited heap for some capacities
  docs/changelog/90632.yaml
  server/src/main/java/org/elasticsearch/common/io/stream/RecyclerBytesStreamOutput.java
Labels: >bug, :Distributed/Network, Team:Distributed, auto-backport-and-merge, v8.5.0, v7.17.7, v8.6.0

#90515 Replace ClusterInfo#dataPath key
  server/src/main/java/org/elasticsearch/cluster/ClusterInfo.java
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
  server/src/main/java/org/elasticsearch/cluster/routing/ShardRouting.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDecider.java
  server/src/test/java/org/elasticsearch/cluster/ClusterInfoTests.java
  server/src/test/java/org/elasticsearch/cluster/DiskUsageTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderUnitTests.java
Labels: :Distributed/Allocation, >refactoring, Team:Distributed, v8.6.0

#90628 ClusterStateHealth need not be iterable
  server/src/main/java/org/elasticsearch/cluster/health/ClusterIndexHealth.java
  server/src/main/java/org/elasticsearch/cluster/health/ClusterStateHealth.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v8.6.0

#90589 Upgrade to log4j 2.19.0
  build-tools-internal/version.properties
  docs/changelog/90589.yaml
  gradle/verification-metadata.xml
Labels: :Core/Infra/Logging, >upgrade, Team:Core/Infra, v8.6.0

#90634 [8.5] Fork TransportClusterHealthAction to MANAGEMENT (#90621)
  server/src/main/java/org/elasticsearch/action/admin/cluster/health/TransportClusterHealthAction.java
Labels: >non-issue, :Data Management/Stats, :Distributed/Network, backport, Team:Data Management, Team:Distributed, auto-merge, v8.5.1

#90636 [8.5] Fix RecyclerBytesStreamOutput allocating unlimited heap for some capacities (#90632)
  docs/changelog/90632.yaml
  server/src/main/java/org/elasticsearch/common/io/stream/RecyclerBytesStreamOutput.java
Labels: >bug, :Distributed/Network, backport, Team:Distributed, auto-merge, v8.5.1

#90626 Avoid capturing per-task RolloverResult
  docs/changelog/90626.yaml
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
Labels: >bug, :Data Management/Indices APIs, Team:Data Management, auto-backport-and-merge, v8.5.1, v8.6.0

#90633 [8.5] Fix date rounding for date math parsing (#90458)
  docs/changelog/90458.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/500_date_range.yml
  server/src/main/java/org/elasticsearch/common/time/JavaDateFormatter.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
Labels: backport, v8.5.1

#90639 [8.5] Avoid capturing per-task RolloverResult (#90626)
  docs/changelog/90626.yaml
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
Labels: >bug, :Data Management/Indices APIs, backport, Team:Data Management, auto-merge, v8.5.1

#90635 [7.17] Fix date rounding for date math parsing (#90458)
  docs/changelog/90458.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/500_date_range.yml
  server/src/main/java/org/elasticsearch/common/time/JavaDateFormatter.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
Labels: backport, v7.17.7

#90552 Generate index.routing_path from dynamic mapping templates
  docs/changelog/90552.yaml
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/TsdbDataStreamRestIT.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProvider.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProviderTests.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
Labels: >enhancement, :Data Management/Data streams, Team:Data Management, Team:Analytics, auto-merge, :Analytics/TSDB, v8.6.0

#90540 Release aggregator context in tests
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.6.0

#90574 Support profiling queries in Tracer
  modules/apm/src/main/java/org/elasticsearch/tracing/apm/APMTracer.java
  modules/apm/src/main/plugin-metadata/plugin-security.policy
  qa/evil-tests/src/test/java/org/elasticsearch/bootstrap/PolicyUtilTests.java
  server/src/main/java/org/elasticsearch/bootstrap/PolicyUtil.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/tasks/Task.java
  server/src/main/java/org/elasticsearch/tracing/Tracer.java
  server/src/main/java/org/elasticsearch/transport/Transports.java
  server/src/main/resources/org/elasticsearch/bootstrap/security.policy
  test/framework/src/main/java/org/elasticsearch/node/MockNode.java
  test/framework/src/main/java/org/elasticsearch/search/MockSearchService.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.6.0

#90645 Remove unused lucene entries in verification metadata
  gradle/verification-metadata.xml
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.5.1, v8.6.0

#90648 [8.5] Remove unused lucene entries in verification metadata (#90645)
  gradle/verification-metadata.xml
Labels: >non-issue, backport, auto-merge, v8.5.1

#90554 Include relevance_settings fields in query
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/RelevanceSearchPlugin.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryBuilder.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/RelevanceSettings.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/RelevanceSettingsService.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/query/QueryFieldsResolverTests.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryIntTests.java
Labels: needs:triage

#90482 Transport threads and _hot_threads
  docs/changelog/90482.yaml
  server/src/main/java/org/elasticsearch/monitor/jvm/HotThreads.java
  server/src/main/java/org/elasticsearch/transport/Transports.java
  server/src/test/java/org/elasticsearch/monitor/jvm/HotThreadsTests.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, v8.6.0

#90655 Improve composite build support for IntelliJ IDE integration
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.6.0

#90457 New path for docker-compose binary
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/docker/DockerSupportService.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/testfixtures/TestFixturesPlugin.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.6.0

#90399 Deprecate state field in `/_cluster/reroute` response
  docs/changelog/90399.yaml
  docs/reference/cluster/reroute.asciidoc
  docs/reference/commands/shard-tool.asciidoc
  docs/reference/how-to/fix-common-cluster-issues.asciidoc
  docs/reference/troubleshooting/common-issues/red-yellow-cluster-status.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/cluster.reroute.json
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.reroute/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.reroute/11_explain.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.reroute/20_deprecated_response_filtering.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.reroute/20_response_filtering.yml
  server/src/main/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteResponse.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteResponseTests.java
Labels: >deprecation, :Distributed/Allocation, Team:Distributed, v8.6.0

#90556 Deduplicate Node Identifier Strings in SnapshotsInProgress and ShardRouting
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNode.java
  server/src/main/java/org/elasticsearch/cluster/routing/ShardRouting.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.6.0

#90341 Don't shortcut the total hit count for text fields
  docs/changelog/90341.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/160_exists_query.yml
  server/src/main/java/org/elasticsearch/search/query/TopDocsCollectorContext.java
  server/src/test/java/org/elasticsearch/search/query/TopDocsCollectorContextTests.java
Labels: >bug, :Search/Search, Team:Search, auto-backport, v8.5.1, v8.6.0

#90651 Fork building snapshot status response off of transport thread
  docs/changelog/90651.yaml
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-backport-and-merge, v8.5.0, v8.6.0

#90662 [8.5] Don't shortcut the total hit count for text fields (#90341)
  docs/changelog/90341.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/160_exists_query.yml
  server/src/main/java/org/elasticsearch/search/query/TopDocsCollectorContext.java
  server/src/test/java/org/elasticsearch/search/query/TopDocsCollectorContextTests.java
Labels: >bug, :Search/Search, backport, Team:Search, v8.5.1

#90667 Mute SnapshotBasedIndexRecoveryIT#testNodeDisconnectsDoNotOverAccountRecoveredBytes
  x-pack/plugin/snapshot-based-recoveries/src/internalClusterTest/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/SnapshotBasedIndexRecoveryIT.java
Labels: :Distributed/Recovery, >test-mute, Team:Distributed, auto-backport-and-merge, v8.5.0, v8.6.0

#90061 simulate disk usage during balance calculation
  server/src/main/java/org/elasticsearch/cluster/ClusterInfoSimulator.java
  server/src/main/java/org/elasticsearch/cluster/DiskUsage.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/RoutingAllocation.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputer.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/ClusterInfoSimulatorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
Labels: >enhancement, :Distributed/Allocation, Team:Distributed

#90664 [8.5] Fork building snapshot status response off of transport thread (#90651)
  docs/changelog/90651.yaml
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.5.1

#90650 Use singleton for empty AliasFilter throughout
  server/src/main/java/org/elasticsearch/action/admin/cluster/shards/ClusterSearchShardsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/shards/TransportClusterSearchShardsAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/validate/query/ShardValidateQueryRequest.java
  server/src/main/java/org/elasticsearch/action/explain/ExplainRequest.java
  server/src/main/java/org/elasticsearch/action/search/CanMatchNodeRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchContextId.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/search/internal/AliasFilter.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
  server/src/test/java/org/elasticsearch/action/ShardValidateQueryRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/shards/ClusterSearchShardsResponseTests.java
  server/src/test/java/org/elasticsearch/action/explain/ExplainRequestTests.java
  server/src/test/java/org/elasticsearch/action/search/AbstractSearchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchContextIdTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchQueryThenFetchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  server/src/test/java/org/elasticsearch/search/internal/AliasFilterTests.java
  server/src/test/java/org/elasticsearch/search/internal/ShardSearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/query/QuerySearchResultTests.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/frozen/FrozenIndexTests.java
Labels: >non-issue, :Search/Search, Team:Search, v8.6.0

#90669 [8.5] Mute SnapshotBasedIndexRecoveryIT#testNodeDisconnectsDoNotOverAccountRecoveredBytes (#90667)
  x-pack/plugin/snapshot-based-recoveries/src/internalClusterTest/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/SnapshotBasedIndexRecoveryIT.java
Labels: :Distributed/Recovery, backport, >test-mute, Team:Distributed, auto-merge, v8.5.1

#90646 Remove RootObjectMapper.Builder method only used in tests
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperMergeTests.java
Labels: :Search/Mapping, >refactoring, Team:Search, v8.6.0

#90649 [Stack Monitoring] Update ES module mappings
  docs/changelog/90649.yaml
  x-pack/plugin/core/src/main/resources/monitoring-es-mb.json
Labels: >bug, :Data Management/Monitoring, Team:Data Management, external-contributor, Team:Infra Monitoring UI, v8.6.0

#90653 [HealthAPI] Diagnosis: report typed affected resources
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/40_diagnosis.yml
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNode.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/health/Diagnosis.java
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/health/HealthIndicatorResultTests.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorServiceTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingDeciderResults.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/AutoscalingTestCase.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierShardAvailabilityHealthIndicatorIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SlmHealthIndicatorService.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SlmHealthIndicatorServiceTests.java
Labels: >bug, Team:Data Management, auto-backport, :Data Management/Health, v8.5.1, v8.6.0

#90610 Support REX relevance settings
  server/src/main/java/org/elasticsearch/index/query/CombinedFieldsQueryBuilder.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryBuilder.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/QueryConfiguration.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/RelevanceSettings.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/RelevanceSettingsService.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryIntTests.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/relevance/QueryConfigurationTests.java
Labels: needs:triage, external-contributor

#90629 EQL: Allow sample queries without a timestamp field
  x-pack/plugin/eql/qa/common/src/main/resources/data/sample1.data
  x-pack/plugin/eql/qa/common/src/main/resources/data/sample1.mapping
  x-pack/plugin/eql/qa/common/src/main/resources/data/sample2.data
  x-pack/plugin/eql/qa/common/src/main/resources/data/sample2.mapping
  x-pack/plugin/eql/qa/common/src/main/resources/data/sample3.data
  x-pack/plugin/eql/qa/common/src/main/resources/data/sample3.mapping
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/LogicalPlanBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plan/logical/KeyedFilter.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/analysis/VerifierTests.java
Labels: >bug, :Query Languages/EQL, Team:QL, v8.6.0

#90678 [8.5] [HealthAPI] Diagnosis: report typed affected resources (#90653)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/40_diagnosis.yml
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNode.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/health/Diagnosis.java
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/health/HealthIndicatorResultTests.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorServiceTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityService.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingDeciderResults.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/AutoscalingTestCase.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierShardAvailabilityHealthIndicatorIT.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SlmHealthIndicatorService.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SlmHealthIndicatorServiceTests.java
Labels: >bug, backport, Team:Data Management, :Data Management/Health, v8.5.1

#90604 Upgrade to Netty 4.1.82.Final
  build-tools-internal/version.properties
  docs/changelog/90604.yaml
  gradle/verification-metadata.xml
  modules/repository-azure/build.gradle
  modules/transport-netty4/build.gradle
Labels: :Distributed/Network, >upgrade, Team:Distributed, v8.6.0

#90683 [DOCS] Remove coming tag from 8.4.3 release notes
  docs/reference/release-notes/8.4.3.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.5.0, v8.6.0, v8.4.4

#90679 Update test versions after backport
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/40_diagnosis.yml
Labels: >non-issue, Team:Data Management, :Data Management/Health, v8.6.0

#90684 [8.5] [DOCS] Remove coming tag from 8.4.3 release notes (#90683)
  docs/reference/release-notes/8.4.3.asciidoc
Labels: backport

#90685 [8.4] [DOCS] Remove coming tag from 8.4.3 release notes (#90683)
  docs/reference/release-notes/8.4.3.asciidoc
Labels: backport

#90654 Node's disk UNKNOWN status doesn't set disk indicator to UNKNOWN
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
Labels: >bug, Team:Data Management, :Data Management/Health, v8.5.1, v8.6.0

#90536 Add profiling and documentation for dfs phase
  docs/changelog/90536.yaml
  docs/reference/search/profile.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/370_profile.yml
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsPhase.java
  server/src/main/java/org/elasticsearch/search/profile/Profilers.java
  server/src/main/java/org/elasticsearch/search/profile/SearchProfileDfsPhaseResult.java
  server/src/main/java/org/elasticsearch/search/profile/dfs/DfsProfiler.java
  server/src/main/java/org/elasticsearch/search/profile/dfs/DfsTimingType.java
  server/src/test/java/org/elasticsearch/action/search/KnnSearchSingleNodeTests.java
  server/src/test/java/org/elasticsearch/search/profile/SearchProfileDfsPhaseResultTests.java
Labels: >enhancement, :Search/Search, Team:Search, v8.6.0

#90682 [HealthAPI] Use plural consistently in resource types
  server/src/main/java/org/elasticsearch/health/Diagnosis.java
Labels: >non-issue, Team:Data Management, auto-backport, :Data Management/Health, v8.5.1, v8.6.0

#90687 [8.5] Node's disk UNKNOWN status doesn't set disk indicator to UNKNOWN (#90654)
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
Labels: >bug, backport, Team:Data Management, :Data Management/Health, v8.5.1

#90691 [8.5] [HealthAPI] Use plural consistently in resource types (#90682)
  server/src/main/java/org/elasticsearch/health/Diagnosis.java
Labels: >non-issue, backport, Team:Data Management, :Data Management/Health, v8.5.1

#90659 docs: update fleet/agent pipeline docs
  docs/reference/ingest.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.4.0, v8.5.0, v8.6.0

#90698 [8.5] docs: update fleet/agent pipeline docs (#90659)
  docs/reference/ingest.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.5.1

#90697 [8.4] docs: update fleet/agent pipeline docs (#90659)
  docs/reference/ingest.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.4.4

#90688 Fixing a race condition in EnrichCoordinatorProxyAction that can leave an item stuck in its queue
  docs/changelog/90688.yaml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorProxyAction.java
Labels: >bug, :Data Management/Ingest Node, Team:Data Management, v8.6.0

#90690 [8.5] [Testing] Enable bwc and fix sorting for 500_date_range (#90681)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/500_date_range.yml
Labels: >test, :Core/Infra/Core, backport, Team:Core/Infra, v8.5.1

#90660 Fix nullpointer in docs test setup
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/doc/RestTestsFromSnippetsTask.groovy
Labels: >enhancement, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v7.17.7, v8.6.0

#90710 [8.5] Fix nullpointer in docs test setup (#90660)
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/doc/RestTestsFromSnippetsTask.groovy
Labels: backport, v8.5.1

#90711 [7.17] Fix nullpointer in docs test setup (#90660)
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/doc/RestTestsFromSnippetsTask.groovy
Labels: backport, v7.17.7

#90706 [ML] Move scaling is possible check for starting trained model
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterServiceTests.java
Labels: >refactoring, :ml, Team:ML, v8.6.0

#90712 [Tests] Don't use concurrent search in scripted field type tests
  server/src/test/java/org/elasticsearch/index/mapper/AbstractScriptFieldTypeTestCase.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DoubleScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LongScriptFieldTypeTests.java
Labels: >test, :Search/Mapping, Team:Search, auto-backport-and-merge, v8.5.1, v8.6.0

#90716 [8.5] [Tests] Don't use concurrent search in scripted field type tests (#90712)
  server/src/test/java/org/elasticsearch/index/mapper/AbstractScriptFieldTypeTestCase.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DoubleScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LongScriptFieldTypeTests.java
Labels: >test, :Search/Mapping, backport, Team:Search, auto-merge, v8.5.1

#90695 [TEST] Change to atomic file contents save
  server/src/test/java/org/elasticsearch/reservedstate/service/FileSettingsServiceTests.java
Labels: :Core/Infra/Core, >test-failure, Team:Core/Infra, auto-backport-and-merge, v8.5.1, v8.6.0

#90696 [TEST] Fix snapshot restore exit condition
  server/src/internalClusterTest/java/org/elasticsearch/reservedstate/service/SnaphotsAndFileSettingsIT.java
Labels: :Core/Infra/Core, >test-failure, Team:Core/Infra, auto-backport-and-merge, v8.5.1, v8.6.0

#90719 [8.5] [TEST] Fix exit snapshot restore exit condition (#90696)
  server/src/internalClusterTest/java/org/elasticsearch/reservedstate/service/SnaphotsAndFileSettingsIT.java
Labels: :Core/Infra/Core, >test-failure, backport, Team:Core/Infra, auto-merge, v8.5.1

#90641 Assert wildcards are not expanded as specified by request options
  client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstractionResolver.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/action/admin/indices/resolve/ResolveIndexTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolver.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, auto-merge, v8.6.0

#90727 [DOCS] Add links to clear trained model deployment cache API
  docs/reference/ml/trained-models/apis/index.asciidoc
  docs/reference/ml/trained-models/apis/ml-trained-models-apis.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport, v8.5.0, v8.6.0

#90729 [8.5] [DOCS] Add links to clear trained model deployment cache API (#90727)
  docs/reference/ml/trained-models/apis/index.asciidoc
  docs/reference/ml/trained-models/apis/ml-trained-models-apis.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.5.1

#90731 Update min version for the diagnosis yaml test
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/40_diagnosis.yml
Labels: >test, Team:Data Management, :Data Management/Health, v8.6.0

#90733 Remove extra SearchService constructor
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
Labels: >non-issue, :Search/Search, Team:Search, v8.6.0

#90409 Remove ToXContent interface from ChunkedToXContent
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/cache/clear/ClearIndicesCacheResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/flush/FlushResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/forcemerge/ForceMergeResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/recovery/RecoveryResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/refresh/RefreshResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/segments/IndicesSegmentResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/validate/query/ValidateQueryResponse.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesResponse.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/BaseBroadcastResponse.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/BroadcastOperationRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/BroadcastResponse.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/TransportBroadcastAction.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeAction.java
  server/src/main/java/org/elasticsearch/action/support/nodes/BaseNodesXContentResponse.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportBroadcastReplicationAction.java
  server/src/main/java/org/elasticsearch/common/Strings.java
  server/src/main/java/org/elasticsearch/common/xcontent/ChunkedToXContent.java
  server/src/main/java/org/elasticsearch/rest/action/RestActions.java
  server/src/test/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/BroadcastReplicationTests.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/ElasticsearchAssertions.java
  test/framework/src/test/java/org/elasticsearch/test/hamcrest/ElasticsearchAssertionsTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/ReloadAnalyzersResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/downsample/RollupIndexerAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TermsEnumResponse.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/collector/TimeoutUtils.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/AbstractTransportSearchableSnapshotsAction.java
Labels: >test, :Distributed/Network, Team:Distributed, v8.6.0

#90709 Fix InternalEngineTests.testMergeThreadLogging
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: >test, :Distributed/Engine, Team:Distributed, auto-backport-and-merge, v7.17.7, v8.5.1, v8.6.0

#90750 Fix HealthMetadataService logging ERROR during master failover
  server/src/main/java/org/elasticsearch/health/metadata/HealthMetadataService.java
Labels: >non-issue, Team:Data Management, :Data Management/Health, v8.6.0

#90717 Rename the fields reported under details by the disk indicator
  docs/reference/health/health.asciidoc
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
Labels: >non-issue, Team:Data Management, auto-backport-and-merge, :Data Management/Health, v8.5.1, v8.6.0

#90723 [ML] Add a regex to the output of the categorize_text aggregation
  docs/changelog/90723.yaml
  docs/reference/aggregations/bucket/categorize-text-aggregation.asciidoc
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/InternalCategorizationAggregation.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/SerializableTokenListCategory.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/ParsedCategorization.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/SerializableTokenListCategoryTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/categorization_agg.yml
Labels: >enhancement, :ml, Team:ML, v8.6.0

#90756 [8.5] Rename the fields reported under details by the disk indicator (#90717)
  docs/reference/health/health.asciidoc
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
Labels: >non-issue, backport, :Data Management/Health, v8.5.1

#90757 Make RepositoryShardId a record
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryShardId.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.6.0

#90381 aggregate metric double add a max min validation
  docs/changelog/90381.yaml
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapper.java
  x-pack/plugin/mapper-aggregate-metric/src/test/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapperTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/downsample/DownsampleActionSingleNodeTests.java
Labels: >enhancement, :Search/Mapping, :Analytics/Rollup, Team:Search, Team:Analytics, external-contributor, v8.6.0

#90758 Speed up equals method on ImmutableOpenMap
  server/src/main/java/org/elasticsearch/common/collect/ImmutableOpenMap.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.6.0

#90701 [Doc] Document DLS limitation for aggregation
  x-pack/docs/en/security/limitations.asciidoc
Labels: >docs, :Security/Security, Team:Docs, Team:Security, auto-merge, auto-backport-and-merge, v8.5.0, v8.6.0

#90778 [8.5] [Doc] Document DLS limitation for aggregation (#90701)
  x-pack/docs/en/security/limitations.asciidoc
Labels: >docs, :Security/Security, backport, Team:Docs, Team:Security, auto-merge, v8.5.1

#90312 Add optional `authorization` parameter to remote cluster settings
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterServiceTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterSettingsTests.java
Labels: >non-issue, :Distributed/CCR, :Security/Authorization, Team:Distributed, Team:Security, v8.6.0

#90579 [Doc] Correctly cite setup-passwords CLI for minimal security guide
  x-pack/docs/en/security/securing-communications/security-basic-setup-https.asciidoc
  x-pack/docs/en/security/securing-communications/security-minimal-setup.asciidoc
Labels: >docs, :Security/Security, Team:Docs, Team:Security, auto-merge, auto-backport-and-merge, v8.5.0, v8.6.0, v8.4.4

#90779 [8.5] [Doc] Correctly cite setup-passwords CLI for minimal security guide (#90579)
  x-pack/docs/en/security/securing-communications/security-basic-setup-https.asciidoc
  x-pack/docs/en/security/securing-communications/security-minimal-setup.asciidoc
Labels: >docs, :Security/Security, backport, Team:Docs, Team:Security, auto-merge, v8.5.1

#90784 Make HitContext fields final
  server/src/main/java/org/elasticsearch/search/fetch/FetchSubPhase.java
Labels: :Search/Search, >refactoring, Team:Search, v8.5.1, v8.6.0

#90770 [ML] Detect ML nodes by AZ from consistent state during rebalance
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/NodeAvailabilityZoneMapper.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancer.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancerTests.java
Labels: >non-issue, :ml, Team:ML, auto-backport-and-merge, v8.5.1, v8.6.0

#90788 [8.5] Health API symptom copy (#90761)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/40_diagnosis.yml
  server/src/main/java/org/elasticsearch/cluster/coordination/StableMasterHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
Labels: >non-issue, backport, Team:Data Management, auto-merge, :Data Management/Health, v8.5.1

#90714 Remove incorrect outputs mapping from fleet-agents
  x-pack/plugin/core/src/main/resources/fleet-agents.json
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, external-contributor, auto-backport-and-merge, v8.5.0, v8.6.0

#90795 Fix quadratic complexity in SnapshotStatus serialization
  docs/changelog/90795.yaml
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStatus.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-backport-and-merge, v7.17.7, v8.5.1, v8.6.0

#90790 Use new base testcase for chunked xcontenttypes in examples
  plugins/examples/custom-significance-heuristic/src/test/java/org/elasticsearch/example/customsigheuristic/SimpleHeuristicWireTests.java
Labels: >test, :Distributed/Network, Team:Distributed, v8.6.0

#90798 [8.5] Remove incorrect outputs mapping from fleet-agents (#90714)
  x-pack/plugin/core/src/main/resources/fleet-agents.json
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, external-contributor, auto-merge, v8.5.1

#90803 [8.5] Fix quadratic complexity in SnapshotStatus serialization (#90795)
  docs/changelog/90795.yaml
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStatus.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.5.1

#90742 Deterministic SecureRandom for CI Tests
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/test/ESTestCaseTests.java
Labels: >non-issue, :Security/Security, Team:Security, v8.6.0

#90702 Add curations to relevance_search
  x-pack/plugin/relevance-search/build.gradle
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/RelevanceSearchPlugin.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryBuilder.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryRewriter.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/QueryConfiguration.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/curations/Condition.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/curations/CurationSettings.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/curations/CurationsService.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/settings/RelevanceSettings.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/relevance/settings/RelevanceSettingsService.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryBuilderTests.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryIntTests.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryRewriterTests.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/relevance/QueryConfigurationTests.java
Labels: needs:triage

#90775 Release agg context in tests part 2
  server/src/main/java/org/elasticsearch/common/util/BigArrays.java
  server/src/test/java/org/elasticsearch/search/aggregations/AggregationCollectorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/BucketsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/common/util/MockBigArrays.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregatorTestCase.java
Labels: >non-issue, >test, :Analytics/Aggregations, Team:Analytics, >tech debt, v8.6.0

#90754 Separate fetch phase doc iteration and hit processing
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregator.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhaseDocsIterator.java
  server/src/main/java/org/elasticsearch/search/fetch/ShardFetchRequest.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/InnerHitsPhase.java
  server/src/main/java/org/elasticsearch/search/internal/FilteredSearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/SearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/SubSearchContext.java
  server/src/test/java/org/elasticsearch/search/fetch/FetchPhaseDocsIteratorTests.java
  server/src/test/java/org/elasticsearch/search/fetch/FetchPhaseTests.java
  test/framework/src/main/java/org/elasticsearch/test/TestSearchContext.java
Labels: :Search/Search, >refactoring, Team:Search, v8.6.0

#90762 Extract Source interface from SourceLookup
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/MatchOnlyTextFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/TokenCountFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentIdFieldMapper.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorHighlightSubFetchPhase.java
  plugins/mapper-size/src/main/java/org/elasticsearch/index/mapper/size/SizeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/fielddata/SourceValueFetcherMultiGeoPointIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/SourceValueFetcherSortedBinaryIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/SourceValueFetcherSortedBooleanIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/SourceValueFetcherSortedDoubleIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/fielddata/SourceValueFetcherSortedNumericIndexFieldData.java
  server/src/main/java/org/elasticsearch/index/mapper/ArraySourceValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/DocValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/IndexFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/LookupRuntimeFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/NestedValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/StoredValueFetcher.java
  server/src/main/java/org/elasticsearch/index/mapper/ValueFetcher.java
  server/src/main/java/org/elasticsearch/index/termvectors/TermVectorsService.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchSubPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchDocValuesPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchSourcePhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldFetcher.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/InnerHitsContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/InnerHitsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/FastVectorHighlighter.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/HighlightUtils.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/SourceScoreOrderFragmentsBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/SourceSimpleFragmentsBuilder.java
  server/src/main/java/org/elasticsearch/search/lookup/FieldValues.java
  server/src/main/java/org/elasticsearch/search/lookup/Source.java
  server/src/main/java/org/elasticsearch/search/lookup/SourceLookup.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IndexFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LookupRuntimeFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/PlaceHolderFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ProvidedIdFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RoutingFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/VersionFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/KeyedFlattenedFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FetchSourcePhaseTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/FieldTypeTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/cluster/routing/allocation/mapper/DataTierFieldMapper.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/cluster/routing/allocation/mapper/DataTierFieldTypeTests.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/test/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldTypeTests.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/SourceValueFetcherSortedUnsignedLongIndexFieldData.java
Labels: :Search/Search, >refactoring, Team:Search, v8.6.0

#90818 Fix plugin wiring in yaml rest test plugin
  build-tools/src/main/java/org/elasticsearch/gradle/test/YamlRestTestPlugin.java
Labels: >enhancement, :Delivery/Build, Team:Delivery, auto-merge, auto-backport-and-merge, v8.6.0, v7.17.8

#90781 [Test] Ensure unique additional headers
  server/src/test/java/org/elasticsearch/common/util/concurrent/ThreadContextTests.java
Labels: >test, :Security/Security, Team:Security, v8.6.0

#90808 Remove unnecessary field from RoutingAllocation
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/RoutingAllocation.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/NodeReplacementAllocationDecider.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/NodeShutdownAllocationDecider.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/SearchableSnapshotAllocator.java
Labels: :Distributed/Allocation, >refactoring, Team:Distributed, v8.6.0

#90747 Test additional scenarios during balance disk usage calculation
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
Labels: :Distributed/Allocation, Team:Distributed

#90728 [ML] Add api to update trained model deployment number_of_allocations
  docs/changelog/90728.yaml
  docs/reference/ml/trained-models/apis/index.asciidoc
  docs/reference/ml/trained-models/apis/ml-trained-models-apis.asciidoc
  docs/reference/ml/trained-models/apis/update-trained-model-deployment.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/ml.update_trained_model_deployment.json
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/UpdateTrainedModelDeploymentAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignment.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/UpdateTrainedModelDeploymentRequestTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AllocationReducer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestUpdateTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AllocationReducerTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/3rd_party_deployment.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/update_trained_model_deployment.yml
Labels: >enhancement, :ml, Team:ML, v8.6.0

#90812 [ML] Alias timestamp to @timestamp in anomaly detection results index
  docs/changelog/90812.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/anomalydetection/results_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappingsTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DatafeedWithAggsIT.java
Labels: >enhancement, :ml, Team:ML, v8.6.0

#90764 [ML] Allow overriding timestamp field to null in file structure finder
  docs/changelog/90764.yaml
  docs/reference/text-structure/apis/find-structure.asciidoc
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/DelimitedTextStructureFinder.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/GrokPatternCreator.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/LogTextStructureFinder.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/NdJsonTextStructureFinder.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/TextStructureUtils.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/XmlTextStructureFinder.java
  x-pack/plugin/text-structure/src/test/java/org/elasticsearch/xpack/textstructure/structurefinder/LogTextStructureFinderTests.java
  x-pack/plugin/text-structure/src/test/java/org/elasticsearch/xpack/textstructure/structurefinder/TextStructureTestCase.java
  x-pack/plugin/text-structure/src/test/java/org/elasticsearch/xpack/textstructure/structurefinder/TextStructureUtilsTests.java
Labels: >enhancement, :ml, Team:ML, v8.6.0

#90746 Move auto date histogram to aggregations module
  benchmarks/build.gradle
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/aggregations/bucket/terms/LongKeyedBucketOrdsBenchmark.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  modules/aggregations/src/internalClusterTest/java/org/elasticsearch/aggregations/bucket/AdjacencyMatrixIT.java
  modules/aggregations/src/internalClusterTest/java/org/elasticsearch/aggregations/pipeline/SerialDiffIT.java
  modules/aggregations/src/main/java/module-info.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/AggregationsPlugin.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/adjacency/AdjacencyMatrix.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/adjacency/AdjacencyMatrixAggregationBuilder.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/adjacency/AdjacencyMatrixAggregatorFactory.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/adjacency/InternalAdjacencyMatrix.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/adjacency/ParsedAdjacencyMatrix.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramAggregationBuilder.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramAggregator.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramAggregatorFactory.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramAggregatorSupplier.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/histogram/InternalAutoDateHistogram.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/histogram/ParsedAutoDateHistogram.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/adjacency/AdjacencyMatrixAggregatorTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/adjacency/AdjacencyMatrixTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/adjacency/InternalAdjacencyMatrixTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramAggregationBuilderTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramAggregatorTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/histogram/InternalAutoDateHistogramTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/CumulativeSumTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/DerivativeTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/MovFnPipelineAggregationBuilderSerializationTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/PipelineAggregationHelperTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/SerialDifferenceTests.java
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/330_auto_date_histogram.yml
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationInspectionHelper.java
  server/src/test/java/org/elasticsearch/search/aggregations/AggregationsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/bucket/DateHistogramAggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalAggregationTestCase.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/cumulativecardinality/CumulativeCardinalityTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesTests.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, auto-merge, v8.6.0

#90825 Mute CartesianShapeCentroidAggregatorTests.testSingleValuedField
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/metrics/CartesianShapeCentroidAggregatorTests.java
Labels: :Analytics/Geo, >test-mute, Team:Analytics, v8.6.0

#90827 Mute tests for #90661
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/SearchActionTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/job/RollupIndexTests.java
Labels: :Analytics/Rollup, >test-mute, Team:Analytics, v8.6.0

#90829 Mute more tests for #90661
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupResponseTranslationTests.java
Labels: :Analytics/Rollup, >test-mute, Team:Analytics, v8.6.0

#90828 Fix implicit task dependency for validateModule gradle tasks
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/JavaModulePrecommitPlugin.java
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.6.0

#85522 DOC CCR Disaster recovery does not handle Security configuration
  docs/reference/ccr/index.asciidoc
Labels: >docs, :Distributed/CCR, Team:Distributed, Team:Docs, v8.6.0

#90425 Enhance nested depth tracking when parsing queries
  docs/changelog/90425.yaml
  docs/reference/modules/indices/search-settings.asciidoc
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessExecuteAction.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/HasChildQueryBuilderTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/HasParentQueryBuilderTests.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  modules/percolator/src/yamlRestTest/resources/rest-api-spec/test/10_basic.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/AliasValidator.java
  server/src/main/java/org/elasticsearch/index/query/AbstractQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/BoolQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/index/query/WrapperQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/FunctionScoreQueryBuilder.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/rest/action/RestActions.java
  server/src/main/java/org/elasticsearch/rest/action/RestFieldCapabilitiesAction.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FilterAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/MultiValuesSourceFieldConfig.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/AbstractHighlighterBuilder.java
  server/src/main/java/org/elasticsearch/search/rescore/QueryRescorerBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/SortBuilder.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/PhraseSuggester.java
  server/src/main/java/org/elasticsearch/search/vectors/KnnSearchBuilder.java
  server/src/main/java/org/elasticsearch/search/vectors/KnnSearchRequestParser.java
  server/src/test/java/org/elasticsearch/index/query/BoolQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/BoostingQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/ConstantScoreQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/DisMaxQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/FieldMaskingSpanQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/NestedQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryStringQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/ScriptScoreQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanContainingQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanFirstQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanNearQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanNotQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanOrQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/SpanWithinQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/WrapperQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/functionscore/FunctionScoreQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/internal/ShardSearchRequestTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/XContentObjectTransformer.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/support/DLSRoleQueryValidator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TermsEnumAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/QueryConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/transport/actions/QueryWatchesAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
  x-pack/plugin/graph/src/main/java/org/elasticsearch/xpack/graph/rest/action/RestGraphAction.java
  x-pack/plugin/search-business-rules/src/test/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilderTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestQueryApiKeyAction.java
  x-pack/plugin/sql/sql-action/src/main/java/org/elasticsearch/xpack/sql/action/AbstractSqlQueryRequest.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/VectorTileRequest.java
Labels: >enhancement, :Search/Search, Team:Search, v8.6.0

#90835 Make extendedPlugins, HasNativeController and moduleName optional in plugin descriptor
  build-tools/src/integTest/groovy/org/elasticsearch/gradle/plugin/PluginBuildPluginFuncTest.groovy
  build-tools/src/integTest/groovy/org/elasticsearch/gradle/plugin/StableBuildPluginPluginFuncTest.groovy
  build-tools/src/main/resources/plugin-descriptor.properties
  docs/changelog/90835.yaml
Labels: >enhancement, :Core/Infra/Plugins, v6.8.6, Team:Core/Infra, v8.6.0

#90831 Log cause when warning about moving to error step
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTask.java
Labels: >non-issue, :Data Management/ILM+SLM, Team:Data Management, v8.6.0

#90840 [ML] Wait for allocation count assertion in decrease allocations test
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AllocationReducer.java
Labels: >test, :ml, Team:ML, v8.6.0

#90839 [ML] Consistently use model_id over deployment_id
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/ClearDeploymentCacheAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetDeploymentStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/InferModelAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/InferTrainedModelDeploymentAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/ExceptionsHelper.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportClearDeploymentCacheAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDeploymentStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportInferTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestInferTrainedModelDeploymentAction.java
Labels: >non-issue, :ml, Team:ML, v8.6.0

#90846 Mute Rollup test which is failing due to leaked resource
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/job/RollupIndexTests.java
Labels: :Analytics/Rollup, >test-mute, v6.8.6, Team:Analytics, v8.6.0

#90675 [ML] Explain anomaly score factors
  docs/changelog/90675.yaml
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyRecord.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyScoreExplanation.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/ReservedFieldNames.java
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/core/ml/anomalydetection/results_index_mappings.json
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/results/AnomalyRecordTests.java
Labels: >enhancement, :ml, Team:ML, v8.6.0

#90845 Mute tests for #90843
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/RollupStepTests.java
Labels: :Analytics/Rollup, >test-mute, Team:Analytics, v8.6.0

#90848 Mute RollupIndexerStateTests.testAbortStarted
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerStateTests.java
Labels: :Analytics/Rollup, >test-mute, Team:Analytics, v8.6.0

#88571 [DOCS] Add Downsampling docs
  docs/reference/data-streams/data-stream-apis.asciidoc
  docs/reference/data-streams/downsampling-ilm.asciidoc
  docs/reference/data-streams/downsampling-manual.asciidoc
  docs/reference/data-streams/downsampling.asciidoc
  docs/reference/data-streams/tsds.asciidoc
  docs/reference/ilm/actions/ilm-downsample.asciidoc
  docs/reference/ilm/ilm-actions.asciidoc
  docs/reference/ilm/ilm-index-lifecycle.asciidoc
  docs/reference/images/data-streams/time-series-downsampled.png
  docs/reference/images/data-streams/time-series-function.png
  docs/reference/images/data-streams/time-series-metric-anatomy.png
  docs/reference/images/data-streams/time-series-original.png
  docs/reference/indices.asciidoc
  docs/reference/indices/downsample-data-stream.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, :Analytics/TSDB, v8.5.0

#90196 Synthetic `_source`: support `wildcard` field
  docs/changelog/90196.yaml
  docs/reference/mapping/fields/synthetic-source.asciidoc
  docs/reference/mapping/types/wildcard.asciidoc
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
  x-pack/plugin/wildcard/src/test/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapperTests.java
Labels: >enhancement, :Search/Mapping, Team:Search, Team:Analytics, auto-merge, :Analytics/TSDB, v8.6.0

#90854 [8.5] Upgrade bundled JDK to Java 19 (#90571)
  build-tools-internal/version.properties
  docs/changelog/90571.yaml
  gradle/verification-metadata.xml
Labels: :Delivery/Packaging, >upgrade, backport, Team:Delivery, test-windows, auto-merge, test-release, v8.5.1

#90857 [7.17] Upgrade bundled JDK to Java 19 (#90571)
  build-tools-internal/version.properties
  docs/changelog/90571.yaml
  gradle/verification-metadata.xml
Labels: backport, auto-merge, v7.17.8

#89782 Add guide for tuning kNN search
  docs/reference/how-to.asciidoc
  docs/reference/how-to/knn-search.asciidoc
  docs/reference/how-to/search-speed.asciidoc
Labels: >docs, Team:Docs, Team:Search, :Search/Vectors, v8.4.1, v8.6.0

#90847 Wrap REMOTE_CLUSTER_AUTHORIZATION in feature flag
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterServiceTests.java
Labels: >non-issue, :Distributed/CCR, Team:Distributed, test-release, v8.6.0

#90859 Mute RollupIndexerStateTests.testStateChangeMidTrigger
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerStateTests.java
Labels: :Analytics/Rollup, >test-mute, Team:Analytics, v8.6.0

#90814 Settings services refactor
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/RelevanceSearchPlugin.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryRewriter.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/settings/AbstractSettingsService.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/settings/Settings.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/settings/curations/Condition.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/settings/curations/CurationSettings.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/settings/curations/CurationsService.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/settings/index/IndexCreationService.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/settings/relevance/QueryConfiguration.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/settings/relevance/RelevanceSettings.java
  x-pack/plugin/relevance-search/src/main/java/org/elasticsearch/xpack/relevancesearch/settings/relevance/RelevanceSettingsService.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryIntTests.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/query/RelevanceMatchQueryRewriterTests.java
  x-pack/plugin/relevance-search/src/test/java/org/elasticsearch/xpack/relevancesearch/settings/relevance/QueryConfigurationTests.java
Labels: needs:triage, external-contributor

#90765 [ML] Improve categorize_text docs
  docs/reference/aggregations/bucket/adjacency-matrix-aggregation.asciidoc
  docs/reference/aggregations/bucket/categorize-text-aggregation.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.6.0

#90794 Make SearchExecutionContext search engine aware.
  server/src/main/java/org/elasticsearch/action/search/CanMatchNodeRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
Labels: needs:triage, external-contributor

#90450 [ML] Semantic search endpoint
  docs/reference/search/semantic-search.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/semantic_search.json
  server/src/main/java/org/elasticsearch/search/vectors/KnnSearchBuilder.java
  server/src/test/java/org/elasticsearch/search/vectors/KnnSearchBuilderTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/InferTrainedModelDeploymentAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/SemanticSearchAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/NlpInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/TextEmbeddingResults.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/InferTrainedModelDeploymentRequestsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/InferTrainedModelDeploymentResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/SemanticSearchActionKnnQueryOptionsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/SemanticSearchActionRequestTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/ml-with-security/roles.yml
  x-pack/plugin/ml/qa/ml-with-security/src/yamlRestTest/java/org/elasticsearch/smoketest/MlWithSecurityIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelRestTestCase.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/SemanticSearchIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportInferTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportSemanticSearchAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/InferencePyTorchAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/NlpInferenceInput.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/TrainedModelDeploymentTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NlpTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestSemanticSearchAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManagerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/deployment/InferencePyTorchActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/deployment/NlpInferenceInputTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/semantic_search.yml
Labels: >feature, :ml, Team:ML, cloud-deploy, v8.6.0

#90772 Report impact and diagnosis data nodes w/o disk space and no blocked indices
  docs/changelog/90772.yaml
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
Labels: >bug, Team:Data Management, auto-backport-and-merge, :Data Management/Health, v8.5.1, v8.6.0

#90853 [Backport] [8.5] [88571] [DOCS] Add Downsampling docs
  docs/reference/data-streams/data-stream-apis.asciidoc
  docs/reference/data-streams/downsampling-ilm.asciidoc
  docs/reference/data-streams/downsampling-manual.asciidoc
  docs/reference/data-streams/downsampling.asciidoc
  docs/reference/data-streams/tsds.asciidoc
  docs/reference/ilm/actions/ilm-downsample.asciidoc
  docs/reference/ilm/ilm-actions.asciidoc
  docs/reference/ilm/ilm-index-lifecycle.asciidoc
  docs/reference/images/data-streams/time-series-downsampled.png
  docs/reference/images/data-streams/time-series-function.png
  docs/reference/images/data-streams/time-series-metric-anatomy.png
  docs/reference/images/data-streams/time-series-original.png
  docs/reference/indices.asciidoc
  docs/reference/indices/downsample-data-stream.asciidoc
Labels: >docs, backport, Team:Docs, Team:Analytics, :Analytics/TSDB, v8.5.1
