Repository elastic/elasticsearch, pull requests merged in 2022-11, with the labels that each got.

#91196 Fix AutoscalingCalculateCapacityServiceTests.testContext()
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityServiceTests.java
Labels: >test, :Distributed/Autoscaling, Team:Distributed, v8.6.0

#91197 Simplify sorted set collectors
  server/src/main/java/org/elasticsearch/common/util/set/Sets.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v8.6.0

#91088 Remove HLRC from security integration tests
  x-pack/plugin/ilm/qa/with-security/src/javaRestTest/java/org/elasticsearch/xpack/security/PermissionsIT.java
  x-pack/plugin/security/qa/security-basic/src/javaRestTest/java/org/elasticsearch/xpack/security/SecurityInBasicRestTestCase.java
  x-pack/plugin/security/qa/smoke-test-all-realms/src/javaRestTest/java/org/elasticsearch/xpack/security/authc/SecurityRealmSmokeTestCase.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/ClearRolesCacheTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/test/NativeRealmIntegTestCase.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/esnative/ReservedRealmIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/pki/PkiAuthDelegationIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authz/SnapshotUserRoleIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/qa/reindex-tests-with-security/src/yamlRestTest/java/org/elasticsearch/xpack/security/ReindexWithSecurityIT.java
  x-pack/qa/runtime-fields/with-security/src/javaRestTest/java/org/elasticsearch/xpack/security/PermissionsIT.java
  x-pack/qa/security-example-spi-extension/src/javaRestTest/java/org/elasticsearch/example/role/CustomRolesProviderIT.java
  x-pack/qa/smoke-test-plugins-ssl/src/yamlRestTest/java/org/elasticsearch/smoketest/SmokeTestMonitoringWithSecurityIT.java
Labels: >non-issue, :Security/Security, Team:Security, v8.6.0

#91209 Enable debug log to debug test failure
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageIT.java
Labels: >test, :Distributed/Distributed, :Distributed/Autoscaling, Team:Distributed, v8.6.0

#90806 Don't create IndexCaps objects when recording unmapped fields
  docs/changelog/90806.yaml
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilities.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesAction.java
Labels: >enhancement, :Search/Mapping, Team:Search, v8.6.0

#91102 Cheaper ShardFollowTaskCleaner
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskCleaner.java
Labels: >non-issue, :Distributed/CCR, Team:Distributed, v8.6.0

#91147 Unmute test for TLS cert reloading during ES restart
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/ssl/SSLReloadDuringStartupIntegTests.java
Labels: >test, :Security/Security, Team:Security, v8.6.0

#91226 2 snapshot threads for large blob test
  x-pack/plugin/snapshot-repo-test-kit/qa/rest/build.gradle
Labels: :Distributed/Snapshot/Restore, >test-failure, Team:Distributed, v8.5.1

#91227 Fix wrong test assertion which was introduced after refactoring
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
Labels: >test, :Security/Security, Team:Security, v8.6.0

#91228 [Docs] Remove feature flag from downsampling page
  docs/reference/data-streams/downsampling.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, :Analytics/TSDB, auto-backport-and-merge, v8.5.1, v8.6.0

#91230 [8.5] [Docs] Remove feature flag from downsampling page (#91228)
  docs/reference/data-streams/downsampling.asciidoc
Labels: >docs, backport, Team:Docs, Team:Analytics, auto-merge, :Analytics/TSDB, v8.5.1

#91207 [main] Fix typo in stop-tokenfilter.asciidoc (#91128)
  docs/reference/analysis/tokenfilters/stop-tokenfilter.asciidoc
Labels: backport, v8.6.0

#91208 [8.5] Fix typo in stop-tokenfilter.asciidoc (#91128)
  docs/reference/analysis/tokenfilters/stop-tokenfilter.asciidoc
Labels: backport, v8.5.1

#91222 [8.5] [DOCS] Update the feature state example in the snapshot and restore docs (#90328)
  docs/reference/snapshot-restore/index.asciidoc
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
Labels: backport, v8.5.1

#91188 [Docs] Fix store file meta data docs.
  server/src/main/java/org/elasticsearch/index/store/StoreFileMetadata.java
Labels: >docs, :Distributed/Engine, Team:Distributed, Team:Docs, external-contributor, v8.6.0

#91212 [8.5] [DOCS] Fix typo in knn-search.asciidoc (#91206)
  docs/reference/search/knn-search.asciidoc
Labels: backport, v8.5.1

#91210 [DOCS] Semantic search endpoint
  docs/reference/search.asciidoc
  docs/reference/search/search.asciidoc
  docs/reference/search/semantic-search.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.6.0

#86323 Bulk merge field-caps responses using mapping hash
  docs/changelog/86323.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/fieldcaps/FieldCapabilitiesIT.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilities.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesAction.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesTests.java
Labels: >enhancement, release highlight, :Search/Search, Team:Search, v8.6.0

#91177 [ML] Update API documentation for anomaly score explanation
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.6.0

#91173 Ensure PKI's delegated_by_realm metadata respect run-as
  docs/changelog/91173.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/pki/PkiRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/pki/PkiRealmTests.java
Labels: >bug, :Security/Authentication, Team:Security, v8.5.1, v8.6.0

#91171 Fix NPE in auditing authenticationSuccess for non-existing run-as user
  docs/changelog/91171.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
Labels: >bug, :Security/Audit, Team:Security, auto-backport-and-merge, v8.5.1, v8.6.0

#91240 Fix NPE in auditing authenticationSuccess for non-existing run-as user (#91171)
  docs/changelog/91171.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
Labels: backport, auto-merge, v8.5.1

#91241 Ensure PKI's delegated_by_realm metadata respect run-as (#91173)
  docs/changelog/91173.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/pki/PkiRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/pki/PkiRealmTests.java
Labels: backport, auto-merge, v8.5.1

#91170 Ensure TermsEnum action works correctly with API keys
  docs/changelog/91170.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TransportTermsEnumAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/terms_enum/10_basic.yml
Labels: >bug, :Security/Authorization, Team:Security, auto-merge, auto-backport-and-merge, v8.5.1, v8.6.0

#91242 Ensure TermsEnum action works correctly with API keys (#91170)
  docs/changelog/91170.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TransportTermsEnumAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/terms_enum/10_basic.yml
Labels: backport, auto-merge, v8.5.1

#91151 Support intersecting multi-sets of queries with DocumentPermissions
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/DocumentPermissions.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TransportTermsEnumAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/DocumentPermissionsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/IndicesAccessControlTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/IndicesPermissionTests.java
Labels: >refactoring, :Security/Authorization, Team:Security, auto-merge, v8.6.0

#91169 Support multi-intersection for FieldPermissions
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/FieldPermissions.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/FieldPermissionsCache.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/IndicesPermission.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/SecurityIndexReaderWrapperIntegrationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/FieldPermissionsCacheTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/FieldPermissionsTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/IndicesAccessControlTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/IndicesPermissionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/OptOutQueryCacheTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/interceptor/IndicesAliasesRequestInterceptorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/interceptor/ResizeRequestInterceptorTests.java
Labels: >refactoring, :Security/Authorization, Team:Security, v8.6.0

#91224 [ML] Allow NLP truncate option to be updated when span is set
  docs/changelog/91224.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/AbstractTokenizationUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/BertTokenizationUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/MPNetTokenizationUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/RobertaTokenizationUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/Tokenization.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/BertTokenizationUpdateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/MPNetTokenizationUpdateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/RobertaTokenizationUpdateTests.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.5.1, v8.6.0

#91176 Restrict direct use of `ApplicationPrivilege` constructor
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilege.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/ApplicationPermissionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/LimitedRoleTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/SimpleRoleTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ApplicationPrivilegeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/service/ElasticServiceAccountsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
Labels: >refactoring, :Security/Security, Team:Security, v8.6.0

#91244 [8.5] [ML] Allow NLP truncate option to be updated when span is set (#91224)
  docs/changelog/91224.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/AbstractTokenizationUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/BertTokenizationUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/MPNetTokenizationUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/RobertaTokenizationUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/Tokenization.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/BertTokenizationUpdateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/MPNetTokenizationUpdateTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/RobertaTokenizationUpdateTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.5.1

#91140 Improve H3#hexRing logic and add H3#areNeighborCells method
  docs/changelog/91140.yaml
  libs/h3/src/main/java/org/elasticsearch/h3/H3.java
  libs/h3/src/main/java/org/elasticsearch/h3/HexRing.java
  libs/h3/src/test/java/org/elasticsearch/h3/HexRingTests.java
Labels: >enhancement, :Analytics/Geo, Team:Analytics, v8.6.0

#91058 Fix APM configuration file delete
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/APMJvmOptions.java
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/APMJvmOptionsTests.java
  docs/changelog/91058.yaml
  server/src/main/java/org/elasticsearch/node/Node.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, v8.5.1, v8.6.0

#91250 [8.5] Fix APM configuration file delete (#91058)
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/APMJvmOptions.java
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/APMJvmOptionsTests.java
  docs/changelog/91058.yaml
  server/src/main/java/org/elasticsearch/node/Node.java
Labels: >bug, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge, v8.5.1

#91243 More actionable error for ancient indices
  docs/changelog/91243.yaml
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/test/java/org/elasticsearch/env/NodeEnvironmentTests.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, auto-merge, Supportability, v8.6.0

#90638 Add overflow behaviour test for RecyclerBytesStreamOutput
  server/src/test/java/org/elasticsearch/common/io/stream/RecyclerBytesStreamOutputTests.java
Labels: >test, :Distributed/Network, Team:Distributed, auto-merge, auto-backport-and-merge, v8.5.1, v8.6.0, v7.17.8

#90601 Ensure cleanups succeed in JoinValidationService
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinValidationService.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, auto-backport-and-merge, v8.5.1, v8.6.0

#91105 Fix handling indexed envelopes crossing the dateline in mvt API
  docs/changelog/91105.yaml
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldTypeTests.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactory.java
Labels: >bug, :Analytics/Geo, Team:Analytics, v8.5.1, v8.6.0, v7.17.8

#91252 [8.5] Add overflow behaviour test for RecyclerBytesStreamOutput (#90638)
  server/src/test/java/org/elasticsearch/common/io/stream/RecyclerBytesStreamOutputTests.java
Labels: >test, :Distributed/Network, backport, Team:Distributed, auto-merge, v8.5.1

#91195 Allow different decay values depending on the score function
  docs/changelog/91195.yaml
  server/src/main/java/org/elasticsearch/index/query/functionscore/DecayFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/LinearDecayFunctionBuilder.java
  server/src/test/java/org/elasticsearch/index/query/functionscore/ScoreFunctionBuilderTests.java
Labels: >bug, :Search/Search, Team:Search, external-contributor, v8.6.0

#91253 [8.5] Ensure cleanups succeed in JoinValidationService (#90601)
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinValidationService.java
Labels: >test, :Distributed/Cluster Coordination, backport, Team:Distributed, auto-merge, v8.5.1

#91254 [8.5] Fix handling indexed envelopes crossing the dateline in mvt API (#91105)
  docs/changelog/91105.yaml
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldTypeTests.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactory.java
Labels: >bug, :Analytics/Geo, backport, Team:Analytics, auto-merge, v8.5.1

#90801 Chunked encoding for snapshot status API
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStatus.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotsStatusResponse.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestSnapshotsStatusAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStatusTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotsStatusResponseTests.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.6.0

#91255 Skip prevoting if single-node discovery
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
Labels: >test-failure, :Distributed/Cluster Coordination, Team:Distributed, v8.6.0

#90264 Allow legacy index settings on legacy indices
  docs/changelog/90264.yaml
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/UpgradeWithOldIndexSettingsIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/IndexingSlowLog.java
  server/src/main/java/org/elasticsearch/index/MergePolicyConfig.java
  server/src/main/java/org/elasticsearch/index/SearchSlowLog.java
  server/src/main/java/org/elasticsearch/index/SlowLogLevel.java
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/test/java/org/elasticsearch/common/settings/SettingTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowActionTests.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, v8.5.1, v8.6.0

#91257 [8.5] Allow legacy index settings on legacy indices (#90264)
  docs/changelog/90264.yaml
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/UpgradeWithOldIndexSettingsIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/IndexingSlowLog.java
  server/src/main/java/org/elasticsearch/index/MergePolicyConfig.java
  server/src/main/java/org/elasticsearch/index/SearchSlowLog.java
  server/src/main/java/org/elasticsearch/index/SlowLogLevel.java
  server/src/main/java/org/elasticsearch/index/engine/EngineConfig.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/test/java/org/elasticsearch/common/settings/SettingTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowActionTests.java
Labels: >enhancement, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge, v8.5.1

#91144 update c2id/c2id-server-demo docker image to support ARM
  x-pack/qa/oidc-op-tests/build.gradle
  x-pack/test/idp-fixture/docker-compose.yml
  x-pack/test/idp-fixture/oidc/Dockerfile
Labels: >non-issue, :Security/Security, Team:Security, auto-backport-and-merge, v8.6.0, v7.17.8

#91154 Always resolve names that contain "*" or that start with "-" as wildcards or exclusions
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.6.0

#91138 Don't consider datemath exclusions when wildcards are not to be expanded
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DateMathExpressionResolverTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.6.0

#91261 Remove the auditable field from AuthorizationInfo
  plugins/examples/security-authorization-engine/src/main/java/org/elasticsearch/example/CustomAuthorizationEngine.java
  plugins/examples/security-authorization-engine/src/test/java/org/elasticsearch/example/CustomAuthorizationEngineTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/AuthorizationEngine.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileCancellationIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/interceptor/ResizeRequestInterceptor.java
Labels: >refactoring, :Security/Authorization, Team:Security, v8.6.0

#91114 Update move-to-step.asciidoc
  docs/reference/ilm/apis/move-to-step.asciidoc
Labels: >docs, :Data Management/ILM+SLM, Team:Data Management, Team:Docs, auto-backport-and-merge, v8.5.1, v8.6.0

#91249 [Transform] Add integration test for `aggregate_metric_double` field type in `latest` transform
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformLatestRestIT.java
Labels: >test, :ml/Transform, Team:ML, v8.6.0

#91266 [8.5] Update move-to-step.asciidoc (#91114)
  docs/reference/ilm/apis/move-to-step.asciidoc
Labels: backport, auto-merge, v8.5.1

#91268 [Transform] fix rounding issue in transform health test
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformHealthCheckerTests.java
Labels: >test, :ml/Transform, Team:ML, v8.6.0

#90724 Fix TransportMasterNodeAction holding a CS reference needlessly
  docs/changelog/90724.yaml
  server/src/main/java/org/elasticsearch/action/support/master/TransportMasterNodeAction.java
  server/src/main/java/org/elasticsearch/cluster/ClusterStateObserver.java
  server/src/main/java/org/elasticsearch/cluster/MasterNodeChangePredicate.java
  server/src/main/java/org/elasticsearch/cluster/action/shard/ShardStateAction.java
  server/src/test/java/org/elasticsearch/action/support/master/TransportMasterNodeActionTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateObserverTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStateActionTests.java
  server/src/test/java/org/elasticsearch/cluster/health/ClusterStateHealthTests.java
  server/src/test/java/org/elasticsearch/cluster/service/ClusterApplierServiceTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentService.java
Labels: >bug, :Distributed/Cluster Coordination, Team:Distributed, v8.6.0

#91137 [ML] frequent items filter
  docs/changelog/91137.yaml
  docs/reference/aggregations/bucket/frequent-items-aggregation.asciidoc
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/EclatMapReducer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetsAggregationBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetsAggregatorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/HashBasedTransactionStore.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/ImmutableTransactionStore.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/TransactionStore.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/AbstractItemSetMapReducer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/ItemSetMapReduceAggregator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetsAggregationBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetsAggregatorTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/frequent_items_agg.yml
Labels: >enhancement, :ml, Team:ML, v8.6.0

#91221 Enhance REST tests for bucket_sort
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/AggregationsPlugin.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/pipeline/BucketSortPipelineAggregationBuilder.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/pipeline/BucketSortPipelineAggregator.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/BucketSortPipelineAggregationBuilderTests.java
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/bucket_sort.yml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/pipeline.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/BucketSortIT.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/PipelineAggregatorBuilders.java
Labels: >test, :Analytics/Aggregations, Team:Analytics, v8.6.0

#91273 Use System dependent file separator
  server/src/main/java/org/elasticsearch/node/Node.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, test-windows, auto-backport, v8.5.1, v8.6.0

#90890 Load/reload API Keys for SecurityServerTransportInterceptor to use for Transport requests to remote clusters
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/RemoteClusterAuthorizationResolver.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/RemoteClusterAuthorizationResolverTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: >non-issue, :Distributed/CCR, :Security/Authorization, Team:Distributed, Team:Security, v8.6.0

#91271 Upgrade to Netty 4.1.84
  build-tools-internal/version.properties
  docs/changelog/91271.yaml
  gradle/verification-metadata.xml
Labels: :Distributed/Network, >upgrade, Team:Distributed, v8.6.0

#91282 [8.5] Use System dependent file separator (#91273)
  server/src/main/java/org/elasticsearch/node/Node.java
Labels: >test, :Core/Infra/Core, backport, Team:Core/Infra, test-windows, v8.5.1

#91290 Move SearchStatesIT back to test directory
  qa/ccs-rolling-upgrade-remote-cluster/src/test/java/org/elasticsearch/upgrades/SearchStatesIT.java
Labels: >non-issue, :Search/Search, Team:Search, v8.6.0

#91216 Build shibboleth-idp for testing purposes
  x-pack/qa/saml-idp-tests/build.gradle
  x-pack/test/idp-fixture/docker-compose.yml
  x-pack/test/idp-fixture/idp/Dockerfile
  x-pack/test/idp-fixture/idp/bin/init-idp.sh
  x-pack/test/idp-fixture/idp/bin/run-jetty.sh
  x-pack/test/idp-fixture/idp/jetty-custom/keystore
  x-pack/test/idp-fixture/idp/jetty-custom/ssl.mod
  x-pack/test/idp-fixture/idp/shib-jetty-base/etc/jetty-backchannel.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/etc/jetty-logging.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/etc/jetty-requestlog.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/etc/jetty-rewrite.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/etc/jetty-ssl-context.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/modules/backchannel.mod
  x-pack/test/idp-fixture/idp/shib-jetty-base/resources/logback-access.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/resources/logback.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/start.d/backchannel.ini
  x-pack/test/idp-fixture/idp/shib-jetty-base/start.ini
  x-pack/test/idp-fixture/idp/shib-jetty-base/webapps/idp.xml
Labels: >non-issue, :Security/Security, Team:Security, auto-backport-and-merge, v8.6.0, v7.17.8

#91292 [7.17] update c2id/c2id-server-demo docker image to support ARM (#91144)
  x-pack/qa/oidc-op-tests/build.gradle
  x-pack/test/idp-fixture/docker-compose.yml
  x-pack/test/idp-fixture/oidc/Dockerfile
Labels: >non-issue, :Security/Security, backport, Team:Security, auto-merge, v7.17.8

#91258 Echo test fixture docker logs for info/debug log levels
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/testfixtures/TestFixturesPlugin.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.6.0, v7.17.8

#91293 [7.17] Build shibboleth-idp for testing purposes (#91216)
  x-pack/qa/saml-idp-tests/build.gradle
  x-pack/test/idp-fixture/docker-compose.yml
  x-pack/test/idp-fixture/idp/Dockerfile
  x-pack/test/idp-fixture/idp/bin/init-idp.sh
  x-pack/test/idp-fixture/idp/bin/run-jetty.sh
  x-pack/test/idp-fixture/idp/jetty-custom/keystore
  x-pack/test/idp-fixture/idp/jetty-custom/ssl.mod
  x-pack/test/idp-fixture/idp/shib-jetty-base/etc/jetty-backchannel.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/etc/jetty-logging.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/etc/jetty-requestlog.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/etc/jetty-rewrite.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/etc/jetty-ssl-context.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/modules/backchannel.mod
  x-pack/test/idp-fixture/idp/shib-jetty-base/resources/logback-access.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/resources/logback.xml
  x-pack/test/idp-fixture/idp/shib-jetty-base/start.d/backchannel.ini
  x-pack/test/idp-fixture/idp/shib-jetty-base/start.ini
  x-pack/test/idp-fixture/idp/shib-jetty-base/webapps/idp.xml
Labels: backport, auto-merge, v7.17.8

#91294 [7.17] Echo test fixture docker logs for info/debug log levels (#91258)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/testfixtures/TestFixturesPlugin.java
Labels: backport, auto-merge, v7.17.8

#89188 Make sure multi listener is completed in a correct thread context
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/AllocationActionMultiListener.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/AllocationActionMultiListenerTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
Labels: :Distributed/Allocation, Team:Distributed

#90916 Downsampling transport service disruption
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/downsample/DownsampleTransportFailureTests.java
Labels: >test, :Analytics/Rollup, Team:Analytics, v8.6.0

#91180 [Nit] Refactor RBACEngine authorize index action with resolved indices
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/AuthorizationEngine.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileCancellationIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
Labels: >refactoring, :Security/Authorization, Team:Security, v8.6.0

#91141 Test data stream downsample
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/downsample/DownsampleDataStreamTests.java
Labels: >test, :Analytics/Rollup, Team:Analytics, v8.6.0

#91279 Prevent unnecessary map copying
  server/src/main/java/org/elasticsearch/cluster/ClusterInfoSimulator.java
Labels: :Distributed/Allocation, Team:Distributed

#91043 [TEST] Expand tests for special field names in docs and mappings
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MappingParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: >test, :Search/Mapping, Team:Search, v8.6.0

#91307 Only add ReadTimeoutHandler to Netty4 http pipeline if not a noop
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, v8.6.0

#91309 [TEST] Adjust test for single wildcard when wildcards are not expanded
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.get_mapping/50_wildcard_expansion.yml
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v7.17.8

#90352 Fallback nodeIds ordering
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconciler.java
Labels: :Distributed/Allocation, Team:Distributed

#91234 [ML] Low priority trained model deployments
  docs/changelog/91234.yaml
  docs/reference/ml/trained-models/apis/get-trained-models-stats.asciidoc
  docs/reference/ml/trained-models/apis/start-trained-model-deployment.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/ml.start_trained_model_deployment.json
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartTrainedModelDeploymentAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/AssignmentStats.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/Priority.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignment.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsStatsActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/StartTrainedModelDeploymentRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/StartTrainedModelDeploymentTaskParamsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/assignment/AssignmentStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/assignment/PriorityTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignmentTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDeploymentStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlProcessorAutoscalingDecider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlan.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanner.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/ZoneAwareAssignmentPlanner.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/TrainedModelDeploymentTask.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/persistence/ChunkedTrainedModelRestorer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/NativePyTorchProcessFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestStartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MachineLearningInfoTransportActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportGetDeploymentStatsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlMemoryAutoscalingDeciderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlProcessorAutoscalingDeciderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentMetadataTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AllocationReducerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/ZoneAwareAssignmentPlannerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/deployment/TrainedModelDeploymentTaskTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/NodeLoadDetectorTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/3rd_party_deployment.yml
Labels: >enhancement, :ml, Team:ML, cloud-deploy, v8.6.0

#91311 Remove TODOs
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputer.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed

#91291 [DOCS] Add time range info to TSDS docs
  docs/reference/data-streams/set-up-tsds.asciidoc
  docs/reference/data-streams/tsds.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, :Analytics/TSDB, auto-backport-and-merge, v8.5.1, v8.6.0

#91306 Rename NamedComponent name parameter to value
  build-tools/src/integTest/groovy/org/elasticsearch/gradle/plugin/StablePluginBuildPluginFuncTest.groovy
  build-tools/src/main/java/org/elasticsearch/gradle/plugin/scanner/NamedComponentScanner.java
  build-tools/src/test/groovy/org/elasticsearch/gradle/plugin/scanner/NamedComponentScannerSpec.groovy
  build-tools/src/testFixtures/java/org/elasticsearch/plugin/api/NamedComponent.java
  build-tools/src/testFixtures/java/org/elasticsearch/plugin/scanner/test_classes/TestNamedComponent.java
  docs/changelog/91306.yaml
  libs/plugin-api/src/main/java/org/elasticsearch/plugin/api/Nameable.java
  libs/plugin-api/src/main/java/org/elasticsearch/plugin/api/NamedComponent.java
  plugins/examples/stable-analysis/src/main/java/org/elasticsearch/example/analysis/ExampleAnalyzerFactory.java
  plugins/examples/stable-analysis/src/main/java/org/elasticsearch/example/analysis/ExampleCharFilterFactory.java
  plugins/examples/stable-analysis/src/main/java/org/elasticsearch/example/analysis/ExampleTokenFilterFactory.java
  plugins/examples/stable-analysis/src/main/java/org/elasticsearch/example/analysis/ExampleTokenizerFactory.java
  server/src/test/java/org/elasticsearch/indices/analysis/AnalysisModuleTests.java
  server/src/test/java/org/elasticsearch/indices/analysis/wrappers/StableApiWrappersTests.java
  server/src/test/java/org/elasticsearch/plugins/PluginsServiceTests.java
Labels: >enhancement, :Core/Infra/Plugins, Team:Core/Infra, v8.6.0

#91314 [8.5] [DOCS] Add time range info to TSDS docs (#91291)
  docs/reference/data-streams/set-up-tsds.asciidoc
  docs/reference/data-streams/tsds.asciidoc
Labels: >docs, backport, Team:Docs, Team:Analytics, auto-merge, :Analytics/TSDB, v8.5.1

#91305 Fix ignored tests in the desired-balance feature branch
  server/src/internalClusterTest/java/org/elasticsearch/recovery/FullRollingRestartIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceInput.java
Labels: :Distributed/Allocation, Team:Distributed

#91289 Fix TransportResponse reference counting in DirectResponseChannel
  docs/changelog/91289.yaml
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
Labels: >bug, :Distributed/Network, Team:Distributed, auto-backport-and-merge, v8.5.1, v8.6.0, v7.17.8

#91299 [ML] add ability to filter and sort buckets by change_point numeric values
  docs/changelog/91299.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/changepoint/InternalChangePointAggregation.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/change_point_agg.yml
Labels: >enhancement, :ml, Team:ML, cloud-deploy, v8.6.0

#91315 [8.5] Fix TransportResponse reference counting in DirectResponseChannel (#91289)
  docs/changelog/91289.yaml
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
Labels: >bug, :Distributed/Network, backport, Team:Distributed, auto-merge, v8.5.1

#91304 Fix some warnings about scaled_float mappings in x-pack tests
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/monitoring/build.gradle
  x-pack/plugin/monitoring/src/internalClusterTest/java/org/elasticsearch/xpack/monitoring/integration/MonitoringIT.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/test/MonitoringIntegTestCase.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/DocumentLevelSecurityTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/FieldLevelSecurityTests.java
Labels: >test, :Delivery/Build, Team:Delivery, v8.6.0

#91019 Store write load in IndexMetadata during data streams rollovers
  docs/changelog/91019.yaml
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamGetWriteIndexTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataDataStreamRolloverServiceTests.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/index/shard/IndexWriteLoad.java
  server/src/main/java/org/elasticsearch/index/shard/IndexingStats.java
  server/src/main/java/org/elasticsearch/index/shard/InternalIndexingStats.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/stats/NodeStatsTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexMetadataTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexWriteLoadSerializationTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexWriteLoadTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndicesStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/node/NodeStatsMonitoringDocTests.java
Labels: >enhancement, :Distributed/Allocation, Team:Distributed, v8.6.0

#91237 [DOCS] Clarify description of geo_results
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport-and-merge, v8.5.1, v8.6.0

#91231 Fix index expression options for requests with a single name or pattern
  docs/changelog/91231.yaml
  modules/rank-eval/src/internalClusterTest/java/org/elasticsearch/index/rankeval/RankEvalRequestIT.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.get_mapping/50_wildcard_expansion.yml
  server/src/internalClusterTest/java/org/elasticsearch/validate/SimpleValidateQueryIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, v8.6.0

#91319 [8.5] Fix SnapshotBasedIndexRecoveryIT#testNodeDisconnectsDoNotOverAccountRecoveredBytes (#90849)
  x-pack/plugin/snapshot-based-recoveries/src/internalClusterTest/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/SnapshotBasedIndexRecoveryIT.java
Labels: >test, :Distributed/Recovery, backport, Team:Distributed, v8.5.1

#91321 Adjust TransportActionProxyTests#testSendLocalRequest
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
Labels: >test, :Distributed/Network, Team:Distributed, auto-backport-and-merge, v8.5.1, v8.6.0

#91323 Upgrade Gradle Enterprise plugin to 3.11.3
  gradle/verification-metadata.xml
  plugins/examples/settings.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, auto-backport-and-merge, v8.5.1, v8.6.0, v7.17.8

#91324 [8.5] Adjust TransportActionProxyTests#testSendLocalRequest (#91321)
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
Labels: >test, :Distributed/Network, backport, Team:Distributed, auto-merge, v8.5.1

#91326 [8.5] Upgrade Gradle Enterprise plugin to 3.11.3 (#91323)
  gradle/verification-metadata.xml
  plugins/examples/settings.gradle
  settings.gradle
Labels: backport, v8.5.1

#91327 [7.17] Upgrade Gradle Enterprise plugin to 3.11.3 (#91323)
  gradle/verification-metadata.xml
  plugins/examples/settings.gradle
  settings.gradle
Labels: backport, v7.17.8

#91318 [8.5] [DOCS] Clarify description of geo_results (#91237)
  docs/reference/ml/anomaly-detection/apis/get-record.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge

#91330 [DOCS] Remove coming tag from release notes
  docs/reference/release-notes/8.5.0.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.5.1, v8.6.0

#91331 [8.5] [DOCS] Remove coming tag from release notes (#91330)
  docs/reference/release-notes/8.5.0.asciidoc
Labels: >docs, backport, Team:Docs, v8.5.1

#91317 [7.x] Fix TransportResponse reference counting in DirectResponseChannel (#91289)
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PublicationTransportHandlerTests.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
Labels: >bug, :Distributed/Network, backport, v7.17.8

#91310 Replace needless map builder with Map.of(..)
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStore.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageService.java
  plugins/discovery-gce/qa/gce/src/yamlRestTest/java/org/elasticsearch/cloud/gce/GCEFixture.java
  server/src/internalClusterTest/java/org/elasticsearch/recovery/FullRollingRestartIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/fields/SearchFieldsIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexTemplateMetadata.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/put/PutIndexTemplateRequestTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ClientHelperTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/preprocessing/MultiTests.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v8.6.0

#91288 [ML] Do not count interim buckets towards the bucket count
  docs/changelog/91288.yaml
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessorTests.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.5.1, v8.6.0

#91345 Ignore test
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
Labels: :Distributed/Allocation, Team:Distributed

#91341 [8.5] [ML] Do not count interim buckets towards the total bucket count (#91288)
  docs/changelog/91288.yaml
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessorTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.5.1

#91346 [CI] Mute reference/cluster/nodes-stats/line_2743
  docs/reference/cluster/nodes-stats.asciidoc
Labels: :Data Management/Stats, :Distributed/Distributed, >test-mute, Team:Data Management, Team:Distributed, auto-merge, v8.6.0

#91284 Run aggs tests in mixed cluster
  qa/mixed-cluster/build.gradle
Labels: >test, :Analytics/Aggregations, Team:Analytics, v8.6.0

#91344 [TEST] adjust WrapperQueryBuilder#testMaxNestedDepth
  server/src/test/java/org/elasticsearch/index/query/WrapperQueryBuilderTests.java
Labels: >test, :Search/Search, Team:Search, v8.6.0

#91328 Consolidate field name validation when parsing mappings and documents
  docs/changelog/91328.yaml
  modules/legacy-geo/src/main/java/org/elasticsearch/legacygeo/mapper/LegacyGeoShapeFieldMapper.java
  modules/legacy-geo/src/test/java/org/elasticsearch/legacygeo/mapper/LegacyGeoShapeFieldMapperTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingParser.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MappingParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RootObjectMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
Labels: >bug, :Search/Mapping, Team:Search, v8.6.0

#91325 Fix SingleNodeDiscoveryStabilisesEvenWhenDisrupted
  server/src/main/java/org/elasticsearch/cluster/coordination/ElectionSchedulerFactory.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ElectionSchedulerFactoryTests.java
Labels: >test-failure, :Distributed/Cluster Coordination, Team:Distributed, v8.6.0

#91276 Update DiskThresholdDeciderIT to verify what shard was actually allocated
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.6.0

#91267 Cleanup small spots in CCR
  x-pack/plugin/ccr/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ccr/FollowIndexIT.java
  x-pack/plugin/ccr/qa/rest/src/yamlRestTest/java/org/elasticsearch/xpack/ccr/CcrRestIT.java
  x-pack/plugin/ccr/qa/src/main/java/org/elasticsearch/xpack/ccr/ESCCRRestTestCase.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrLicenseChecker.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrRepositoryManager.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinator.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/CcrRequests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardChangesAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPauseFollowAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/TransportBulkShardOperationsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/ClearCcrRestoreSessionRequest.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/PutCcrRestoreSessionAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngine.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineAssertions.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRestoreSourceService.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/LocalStateCcr.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/NonCompliantLicenseLocalStateCcr.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/ForgetFollowerAction.java
Labels: >non-issue, :Distributed/CCR, Team:Distributed, v8.6.0

#90815 Normalize malformed aggregate_double_metric
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapper.java
  x-pack/plugin/mapper-aggregate-metric/src/test/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapperTests.java
Labels: >non-issue, :Analytics/Rollup, Team:Analytics, auto-merge, v8.6.0

#90822 Fix handling empty key case in the terms aggregation
  docs/changelog/90822.yaml
  server/src/main/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldMapperTests.java
Labels: >bug, :Search/Mapping, Team:Search, v8.6.0

#90826 RCS 2.0 - include remote indices privileges in `GetUserPrivilege`
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/GetUserPrivilegesResponse.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/user/GetUserPrivilegesResponseTests.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/role/RoleWithRemoteIndicesPrivilegesRestIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestGetUserPrivilegesAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/user/RestGetUserPrivilegesActionTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, test-release, v8.6.0

#90941 [Transform] Integration test for the case of empty key in the terms agg in transform
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformPivotRestSpecialCasesIT.java
Labels: >test, :ml/Transform, Team:ML, v8.6.0

#90553 Upgrade XContent to Jackson 2.14.0 and enable Fast Double Parser
  docs/changelog/90553.yaml
  gradle/verification-metadata.xml
  libs/x-content/impl/build.gradle
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/cbor/CborXContentImpl.java
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/json/JsonXContentImpl.java
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/smile/SmileXContentImpl.java
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/yaml/YamlXContentImpl.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, test-windows, v8.6.0

#91301 Fix hacky ephemeral port config for SAML tests
  x-pack/qa/saml-idp-tests/build.gradle
  x-pack/test/idp-fixture/idp/shibboleth-idp/metadata/idp-metadata.xml
Labels: >non-issue, :Delivery/Build, :Security/Security, Team:Security, Team:Delivery, auto-backport-and-merge, v8.6.0, v7.17.8

#91030 [8.5] Update bundled JDK to Java 19.0.1 (#91025)
  build-tools-internal/version.properties
  docs/changelog/91025.yaml
  gradle/verification-metadata.xml
Labels: :Delivery/Packaging, >upgrade, backport, Team:Delivery, auto-merge, v8.5.1

#91368 [7.17] Fix hacky ephemeral port config for SAML tests (#91301)
  x-pack/qa/saml-idp-tests/build.gradle
  x-pack/test/idp-fixture/idp/shibboleth-idp/metadata/idp-metadata.xml
Labels: backport, auto-merge, v7.17.8

#91283 Simplify SecurityRestFilter
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/SecurityRestFilter.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/SecurityRestFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/SecurityRestFilterWarningHeadersTests.java
Labels: >non-issue, :Security/Security, Team:Security, v8.6.0

#91357 [DOCS] Add reference for ingest pipelines in Enterprise Search
  docs/reference/ingest.asciidoc
Labels: >docs, Team:Docs, external-contributor, v8.5.0, v8.5.1, v8.6.0

#91362 Introduce a phase to use String.equals on constant strings, rather than def equality
  docs/changelog/91362.yaml
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Compiler.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultConstantFoldingOptimizationPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultEqualityMethodOptimizationPhase.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/IRExpressionModifyingVisitor.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/EqualsTests.java
Labels: >enhancement, :Core/Infra/Scripting, Team:Core/Infra, v8.6.0

#91377 Consolidate SearchSourceBuilder parsing methods
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsIT.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/test/java/org/elasticsearch/search/builder/SearchSourceBuilderTests.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/support/search/WatcherSearchTemplateService.java
Labels: :Search/Search, >refactoring, Team:Search, v8.6.0

#91380 [CI] Mute reference/cluster/nodes-stats/line_2735
  docs/reference/cluster/nodes-stats.asciidoc
Labels: :Data Management/Stats, :Distributed/Distributed, >test-mute, Team:Data Management, Team:Distributed, auto-merge, v8.6.0

#91313 [Transform] Make transform `_preview` request cancellable
  docs/changelog/91313.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/PreviewTransformAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/PreviewTransformActionRequestTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/preview_transforms.yml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportPreviewTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportValidateTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/rest/action/RestPreviewTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/Function.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/common/AbstractCompositeAggFunction.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/PivotTests.java
Labels: >bug, :ml/Transform, Team:ML, auto-backport-and-merge, v8.5.1, v8.6.0, v7.17.8

#91277 Cleanup: Remove unused semicolon
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolateQueryBuilder.java
Labels: >non-issue, :Search/Percolator, Team:Search, external-contributor, v8.6.0

#91390 [CI] Mute reference/cluster/nodes-stats
  docs/reference/cluster/nodes-stats.asciidoc
Labels: :Data Management/Stats, :Distributed/Distributed, >test-mute, Team:Data Management, Team:Distributed, auto-merge, v8.5.1

#91388 [8.5] [Transform] Make transform `_preview` request cancellable (#91313)
  docs/changelog/91313.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/PreviewTransformAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/PreviewTransformActionRequestTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/preview_transforms.yml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportPreviewTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportValidateTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/rest/action/RestPreviewTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/Function.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/common/AbstractCompositeAggFunction.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/PivotTests.java
Labels: >bug, backport, :ml/Transform, Team:ML, auto-merge, v8.5.1

#91399 [CI] Mute reference/cluster/nodes-stats
  docs/reference/cluster/nodes-stats.asciidoc
Labels: :Data Management/Stats, :Distributed/Distributed, >test-mute, Team:Data Management, Team:Distributed, auto-merge, auto-backport-and-merge, v8.5.1, v8.6.0

#91401 [8.5] [CI] Mute reference/cluster/nodes-stats (#91399)
  docs/reference/cluster/nodes-stats.asciidoc
Labels: :Data Management/Stats, :Distributed/Distributed, backport, >test-mute, Team:Data Management, Team:Distributed, auto-merge, v8.5.1

#90999 Update runtime.asciidoc
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, :Search/Mapping, Team:Docs, Team:Search, external-contributor, auto-backport-and-merge, v8.5.1, v8.6.0

#91403 [8.5] Fix confusion in runtime_mapping (#90999)
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, external-contributor, auto-merge, v8.5.1

#91296 [ML] allow model_aliases to be used with Pytorch trained models
  docs/changelog/91296.yaml
  docs/reference/ml/trained-models/apis/infer-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/infer-trained-model.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-models-aliases.asciidoc
  docs/reference/ml/trained-models/apis/stop-trained-model-deployment.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/InferTrainedModelDeploymentAction.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteTrainedModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportInferTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportInternalInferModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutTrainedModelAliasAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ModelAliasMetadata.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/3rd_party_deployment.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/inference_crud.yml
Labels: >enhancement, :ml, Team:ML, v8.6.0

#91027 Update network threading documentation
  docs/reference/modules/network/threading.asciidoc
Labels: >docs, :Distributed/Network, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.6.0, v7.17.8

#89482 Watcher: ensure Authorization header is not serialized to xContent
  x-pack/plugin/watcher/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/watcher/execute_watch/60_http_input.yml
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpRequest.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpRequestTemplate.java
Labels: >bug, :Data Management/Watcher, Team:Data Management, v8.6.0

#91295 [DOCS] Add downsampling reference to rollup docs
  docs/reference/rollup/api-quickref.asciidoc
  docs/reference/rollup/apis/delete-job.asciidoc
  docs/reference/rollup/apis/get-job.asciidoc
  docs/reference/rollup/apis/put-job.asciidoc
  docs/reference/rollup/apis/rollup-caps.asciidoc
  docs/reference/rollup/apis/rollup-index-caps.asciidoc
  docs/reference/rollup/apis/rollup-search.asciidoc
  docs/reference/rollup/apis/start-job.asciidoc
  docs/reference/rollup/apis/stop-job.asciidoc
  docs/reference/rollup/index.asciidoc
  docs/reference/rollup/overview.asciidoc
  docs/reference/rollup/rollup-agg-limitations.asciidoc
  docs/reference/rollup/rollup-getting-started.asciidoc
  docs/reference/rollup/rollup-search-limitations.asciidoc
  docs/reference/rollup/understanding-groups.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, :Analytics/TSDB, auto-backport-and-merge, v8.5.1, v8.6.0

#91406 [8.5] EQL: Fix EqlSearchRequest serialization (bwc) (#91402)
  docs/changelog/91402.yaml
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchRequest.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchRequestTests.java
Labels: >bug, backport, :Query Languages/EQL, Team:QL, auto-merge, v8.5.1

#91411 [8.5] [DOCS] Add downsampling reference to rollup docs (#91295)
  docs/reference/rollup/api-quickref.asciidoc
  docs/reference/rollup/apis/delete-job.asciidoc
  docs/reference/rollup/apis/get-job.asciidoc
  docs/reference/rollup/apis/put-job.asciidoc
  docs/reference/rollup/apis/rollup-caps.asciidoc
  docs/reference/rollup/apis/rollup-index-caps.asciidoc
  docs/reference/rollup/apis/rollup-search.asciidoc
  docs/reference/rollup/apis/start-job.asciidoc
  docs/reference/rollup/apis/stop-job.asciidoc
  docs/reference/rollup/index.asciidoc
  docs/reference/rollup/overview.asciidoc
  docs/reference/rollup/rollup-agg-limitations.asciidoc
  docs/reference/rollup/rollup-getting-started.asciidoc
  docs/reference/rollup/rollup-search-limitations.asciidoc
  docs/reference/rollup/understanding-groups.asciidoc
Labels: >docs, backport, Team:Docs, Team:Analytics, auto-merge, :Analytics/TSDB, v8.5.1

#91371 [DOC] Update CCS version matrix
  docs/reference/search/search-your-data/ccs-version-compat-matrix.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.5.0, v8.6.0, v8.4.4

#91419 [8.5] [DOC] Update CCS version matrix (#91371)
  docs/reference/search/search-your-data/ccs-version-compat-matrix.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.5.1

#91416 Fix skip version for merging unmapped max
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/max_metric.yml
Labels: >test, :Analytics/Aggregations, Team:Analytics, auto-merge, v8.6.0

#91356 Move time_series aggregation to aggregations module.
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  modules/aggregations/src/internalClusterTest/java/org/elasticsearch/aggregations/bucket/SearchCancellationIT.java
  modules/aggregations/src/internalClusterTest/java/org/elasticsearch/aggregations/bucket/TimeSeriesAggregationsIT.java
  modules/aggregations/src/main/java/module-info.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/AggregationsPlugin.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/timeseries/InternalTimeSeries.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/timeseries/ParsedTimeSeries.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/timeseries/TimeSeriesAggregationBuilder.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/timeseries/TimeSeriesAggregationFactory.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/timeseries/TimeSeriesAggregator.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/timeseries/InternalTimeSeriesTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/timeseries/TimeSeriesAggregationBuilderTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/timeseries/TimeSeriesAggregatorTests.java
  server/src/internalClusterTest/java/org/elasticsearch/search/SearchCancellationIT.java
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationBuilders.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationPhase.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/TimeSeriesIndexSearcher.java
  server/src/main/java/org/elasticsearch/search/aggregations/timeseries/TimeSeries.java
  server/src/test/java/org/elasticsearch/search/aggregations/AggregationsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/TimeSeriesCancellationTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/TimeSeriesIndexSearcherTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/timeseries/TimeSeriesAggregationBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractSearchCancellationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalAggregationTestCase.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/RollupShardIndexer.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, auto-merge, v8.6.0

#91421 Fix `GetUserPrivilegesResponse` in `CustomAuthorizationEngine`
  plugins/examples/security-authorization-engine/src/main/java/org/elasticsearch/example/CustomAuthorizationEngine.java
Labels: >non-issue, :Delivery/Build, :Security/Security, Team:Security, Team:Delivery, auto-merge, v8.6.0

#91297 Check for unassigned shards on node shutdown
  docs/changelog/91297.yaml
  test/framework/src/main/java/org/elasticsearch/test/gateway/TestGatewayAllocator.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusActionTests.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, v8.5.1, v8.6.0, v7.17.8

#91426 [8.5] [DOCS] Clarify that lookup runtime sub-fields can't be used in queries and aggs (#91410)
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.5.1

#91389 [7.17] [Transform] Make transform `_preview` request cancellable (#91313)
  docs/changelog/91313.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/PreviewTransformAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/PreviewTransformActionRequestTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/preview_transforms.yml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportPreviewTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportValidateTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/rest/action/RestPreviewTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/Function.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/common/AbstractCompositeAggFunction.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/PivotTests.java
Labels: backport, v7.17.8

#91429 [8.5] Check for unassigned shards on node shutdown (#91297)
  docs/changelog/91297.yaml
  test/framework/src/main/java/org/elasticsearch/test/gateway/TestGatewayAllocator.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusActionTests.java
Labels: :Core/Infra/Core, backport, Team:Core/Infra, v8.5.1

#91373 Refactor CCS with security REST tests
  x-pack/qa/multi-cluster-search-security/build.gradle
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/build.gradle
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/java/org/elasticsearch/xpack/security/MultiClusterSearchWithSecurityYamlTestSuiteIT.java
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/fulfilling_cluster/10_basic.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/100_resolve_index.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/10_basic.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/20_info.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/30_field_caps.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/40_scroll.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/50_missing.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/60_skip_shards.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/70_connection_mode_configuration.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/80_point_in_time.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-full-license/build.gradle
  x-pack/qa/multi-cluster-search-security/legacy-with-full-license/src/test/java/org/elasticsearch/xpack/security/MultiClusterSearchWithSecurityYamlTestSuiteIT.java
  x-pack/qa/multi-cluster-search-security/legacy-with-full-license/src/test/resources/rest-api-spec/test/fulfilling_cluster/10_basic_with_dls_fls.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-full-license/src/test/resources/rest-api-spec/test/querying_cluster/10_dls_fls.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-full-license/src/test/resources/rest-api-spec/test/querying_cluster/20_terms_enum.yml
Labels: >non-issue, :Security/Security, Team:Security, v8.6.0

#91432 [8.5] Use runtime java home for third party audit task (#91412)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ThirdPartyAuditPrecommitPlugin.java
Labels: >test, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.5.1

#91431 [7.17] Check for unassigned shards on node shutdown (#91297)
  docs/changelog/91297.yaml
  test/framework/src/main/java/org/elasticsearch/test/gateway/TestGatewayAllocator.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusActionTests.java
Labels: :Core/Infra/Core, backport, Team:Core/Infra, v7.17.8

#91375 Log created shards sizes
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.6.0

#91428 Assert PendingListenersQueue completed by master
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/PendingListenersQueue.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.6.0
