Repository elastic/elasticsearch, pull requests merged in 2022-05, with the labels that each got.

#86316 Make embedded class loader MRJAR aware
  libs/core/src/main/java/org/elasticsearch/core/internal/provider/EmbeddedImplClassLoader.java
  libs/core/src/test/java/org/elasticsearch/core/internal/provider/EmbeddedImplClassLoaderTests.java
  test/framework/src/main/java/org/elasticsearch/test/jar/JarUtils.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, v8.3.0

#86268 [Cloud Security] refactor cloud security package policy name
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, external-contributor, v8.3.0

#86324 Add module descriptor test matchers
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/ModuleDescriptorMatchers.java
  test/framework/src/test/java/org/elasticsearch/test/hamcrest/ModuleDescriptorMatchersTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.3.0

#86282 Correct docs on DLS bitset cache default values
  docs/reference/settings/security-settings.asciidoc
Labels: >docs, :Security/Authorization, Team:Docs, Team:Security, auto-merge, auto-backport-and-merge, v8.3.0, v8.2.1, v8.1.4, v7.17.4

#86327 [8.2] Correct docs on DLS bitset cache default values (#86282)
  docs/reference/settings/security-settings.asciidoc
Labels: >docs, :Security/Authorization, backport, Team:Docs, Team:Security, auto-merge, v8.2.1

#86329 [7.17] Correct docs on DLS bitset cache default values (#86282)
  docs/reference/settings/security-settings.asciidoc
Labels: >docs, :Security/Authorization, backport, Team:Docs, Team:Security, auto-merge, v7.17.4

#86328 [8.1] Correct docs on DLS bitset cache default values (#86282)
  docs/reference/settings/security-settings.asciidoc
Labels: >docs, :Security/Authorization, backport, Team:Docs, Team:Security, auto-merge, v8.1.4

#86253 speed up ip v4 parser
  docs/changelog/86253.yaml
  server/src/main/java/org/elasticsearch/common/network/InetAddresses.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, Team:Distributed, v8.3.0

#86325 Remove MergableCustomMetadata
  server/src/main/java/org/elasticsearch/cluster/MergableCustomMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicensesMetadata.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, v8.3.0

#86321 Rename TransportMasterNodeReadAction#checkSizeLimit
  server/src/main/java/org/elasticsearch/action/support/master/TransportMasterNodeReadAction.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.3.0

#86315 Reject openConnection attempt while closing
  docs/changelog/86315.yaml
  server/src/main/java/org/elasticsearch/transport/ClusterConnectionManager.java
  server/src/test/java/org/elasticsearch/transport/ClusterConnectionManagerTests.java
Labels: >bug, :Distributed/Network, Team:Distributed, v8.3.0

#86314 Simplify DeterministicTaskQueue's threadpool
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  test/framework/src/main/java/org/elasticsearch/common/util/concurrent/DeterministicTaskQueue.java
  test/framework/src/test/java/org/elasticsearch/common/util/concurrent/DeterministicTaskQueueTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.3.0

#86335 Mute MetadataIndexTemplateServiceTests.testValidateTsdbDataStreamsReferringTsdbTemplate
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataIndexTemplateServiceTests.java
Labels: >test-mute, Team:Analytics, :Analytics/TSDB, v8.3.0

#86288 Update asm version in build tools for java19 support
  build-tools-internal/build.gradle
  build-tools/build.gradle
Labels: >enhancement, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.3.0, v7.17.4

#86216 [DOCS] Update _delete_by_query prerequisites
  docs/reference/docs/delete-by-query.asciidoc
Labels: >docs, Team:Docs, v8.1.4

#86338 [7.17] Update asm version in build tools for java19 support (#86288)
  build-tools-internal/build.gradle
  build-tools/build.gradle
Labels: backport, v7.17.4

#86343 Handle no breaking changes in release notes
  build-tools-internal/src/main/resources/templates/breaking-changes.asciidoc
Labels: >bug, :Delivery/Build, Team:Delivery, v8.3.0, v8.2.1

#86320 Remove another version of SuppressForbidden
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/DefaultSystemMemoryInfo.java
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/Launchers.java
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/SuppressForbidden.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.3.0

#86089 Fix NPE when using object field as match field for enrich policy
  docs/changelog/86089.yaml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
Labels: >bug, :Data Management/Ingest, Team:Data Management, auto-merge, auto-backport-and-merge, v8.3.0, v8.2.1

#86347 Clean up request/response for get-cluster-settings
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/ClusterGetSettingsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/RestClusterGetSettingsResponse.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterGetSettingsAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/settings/RestClusterGetSettingsResponseTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/cluster/RestClusterGetSettingsActionTests.java
Labels: :Core/Infra/Settings, >refactoring, Team:Core/Infra, auto-merge, v8.3.0

#86344 Introduce constants for trivial QueryCachingPolicies
  server/src/main/java/org/elasticsearch/index/cache/query/TrivialQueryCachingPolicy.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/CompletionStatsCacheTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesQueryCacheTests.java
  server/src/test/java/org/elasticsearch/search/profile/query/QueryProfilerTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.3.0

#86349 [8.2] Fix NPE when using object field as match field for enrich policy (#86089)
  docs/changelog/86089.yaml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
Labels: >bug, :Data Management/Ingest, backport, Team:Data Management, auto-merge, v8.2.1

#86228 Speed up map diffing computation for inserts
  server/src/main/java/org/elasticsearch/cluster/DiffableUtils.java
  server/src/test/java/org/elasticsearch/cluster/serialization/DiffableTests.java
Labels: >enhancement, :Core/Infra/Core, :Distributed/Cluster Coordination, Team:Core/Infra, Team:Distributed, v8.3.0

#86354 [DOCS] Add notable highlight sections for 8.2.0
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.2.0, v8.2.1

#85926 Execute self-reference checks once per pipeline
  docs/changelog/85926.yaml
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/ScriptProcessor.java
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/190_script_processor.yml
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
Labels: >bug, :Data Management/Ingest, Team:Data Management, test-full-bwc, v8.3.0

#86356 [DOCS] No breaking changes in release 8.2.0
  docs/reference/migration/migrate_8_2.asciidoc
Labels: >docs, Team:Docs, v8.2.0

#86297 Speed up parsing IndexMetadata from XContent
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/common/settings/Settings.java
Labels: >non-issue, :Distributed/Snapshot/Restore, :Core/Infra/Core, Team:Core/Infra, Team:Distributed, v8.3.0

#86304 Fix using FilterOutputStream without overriding bulk write
  docs/changelog/86304.yaml
  libs/core/src/main/java/org/elasticsearch/core/Streams.java
  libs/x-content/src/main/java/org/elasticsearch/xcontent/XContentBuilder.java
  server/src/main/java/org/elasticsearch/common/blobstore/fs/FsBlobContainer.java
  server/src/main/java/org/elasticsearch/common/io/Streams.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/ChecksumBlobStoreFormat.java
  server/src/main/java/org/elasticsearch/transport/OutboundMessage.java
  server/src/test/java/org/elasticsearch/transport/Lz4TransportDecompressorTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/async/AsyncTaskIndexService.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, v8.3.0

#86330 [Docs] Fix url for feature migration APIs
  docs/reference/migration/apis/feature-migration.asciidoc
Labels: >docs, :Core/Infra/Core, Team:Core/Infra, Team:Docs, auto-backport-and-merge, v8.0.2, v8.3.0, v8.2.1, v8.1.4, v7.17.4

#86370 [8.2] [Docs] Fix url for feature migration APIs (#86330)
  docs/reference/migration/apis/feature-migration.asciidoc
Labels: >docs, :Core/Infra/Core, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.2.1

#86371 [8.1] [Docs] Fix url for feature migration APIs (#86330)
  docs/reference/migration/apis/feature-migration.asciidoc
Labels: >docs, :Core/Infra/Core, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.1.4

#86372 [7.17] [Docs] Fix url for feature migration APIs (#86330)
  docs/reference/migration/apis/feature-migration.asciidoc
Labels: >docs, :Core/Infra/Core, backport, Team:Core/Infra, Team:Docs, auto-merge, v7.17.4

#86369 [8.0] [Docs] Fix url for feature migration APIs (#86330)
  docs/reference/migration/apis/feature-migration.asciidoc
Labels: >docs, :Core/Infra/Core, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.0.2

#86312 Fix test for Windows line endings
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/cli/keystore/ListKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/cli/keystore/ShowKeyStoreCommandTests.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/cli/ListPluginsCommandTests.java
  server/src/test/java/org/elasticsearch/cli/MultiCommandTests.java
  x-pack/qa/security-setup-password-tests/src/test/java/org/elasticsearch/xpack/security/authc/esnative/tool/ResetPasswordToolIT.java
  x-pack/qa/security-tools-tests/src/test/java/org/elasticsearch/xpack/security/authc/esnative/tool/ResetPasswordToolTests.java
  x-pack/qa/security-tools-tests/src/test/java/org/elasticsearch/xpack/security/authc/service/FileTokensToolTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, test-windows, auto-merge, v8.3.0

#86206 Locking down Authentication constructors
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
Labels: >refactoring, :Security/Security, Team:Security, v8.3.0

#86345 User Profile - Use security origin for BWC cases
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/profile/ProfileService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecuritySystemIndices.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/profile/ProfileServiceTests.java
  x-pack/qa/rolling-upgrade/build.gradle
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/140_user_profile.yml
Labels: >non-issue, :Security/Security, Team:Security, v8.3.0

#86376 Explicit set gradle user home for bwc builds
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcSetupExtension.java
Labels: >bug, :Delivery/Build, Team:Delivery, auto-merge, v8.3.0, v7.17.4

#86350 Drop check for retry support in RemoteRecoveryTargetHandler
  server/src/main/java/org/elasticsearch/indices/recovery/RemoteRecoveryTargetHandler.java
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, v8.3.0

#86364 Correct terminal input in setup password test
  x-pack/qa/security-setup-password-tests/src/test/java/org/elasticsearch/xpack/security/authc/esnative/tool/SetupPasswordToolIT.java
Labels: >test, Team:Security, :Security/FIPS, v8.3.0

#86337 Increase timeout in SnapshotsStressTestsIT
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStressTestsIT.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, v8.3.0, v8.2.1

#86385 [Test] Fix authentication creation in example project
  plugins/examples/security-authorization-engine/src/test/java/org/elasticsearch/example/CustomAuthorizationEngineTests.java
  plugins/examples/settings.gradle
Labels: >test, :Security/Security, Team:Security, v8.3.0

#86004 [ML] Model assignment planner
  x-pack/plugin/ml/build.gradle
  x-pack/plugin/ml/licenses/ojalgo-50.0.2.jar.sha1
  x-pack/plugin/ml/licenses/ojalgo-LICENSE.txt
  x-pack/plugin/ml/licenses/ojalgo-NOTICE.txt
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AbstractPreserveAllocations.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlan.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanner.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/LinearProgrammingPlanSolver.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveAllAllocations.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveOneAllocation.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/RandomizedAssignmentRounding.java
  x-pack/plugin/ml/src/main/plugin-metadata/plugin-security-test.policy
  x-pack/plugin/ml/src/main/plugin-metadata/plugin-security.policy
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlannerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveAllAllocationsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveOneAllocationTests.java
Labels: >non-issue, :ml, Team:ML, v8.3.0

#84165 Keep track of desired nodes cluster membership
  docs/changelog/84165.yaml
  docs/reference/indices/shard-stores.asciidoc
  server/src/main/java/org/elasticsearch/cluster/metadata/DesiredNode.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DesiredNodes.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DesiredNodesMembershipService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DesiredNodesMetadata.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNode.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteResponseTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DesiredNodesMembershipServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/node/DiscoveryNodeTests.java
  test/framework/src/main/java/org/elasticsearch/test/ClusterServiceUtils.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
Labels: >enhancement, :Distributed/Distributed, Team:Distributed, v8.3.0

#86390 [DOCS] Fix config directory for installation
  docs/reference/setup/install/targz.asciidoc
  docs/reference/setup/install/zip-windows.asciidoc
Labels: >docs, :Delivery/Packaging, Team:Docs, Team:Delivery, auto-backport-and-merge, v8.0.1, v8.1.2, v8.3.0, v8.2.1

#86393 [8.2] [DOCS] Fix config directory for installation (#86390)
  docs/reference/setup/install/targz.asciidoc
  docs/reference/setup/install/zip-windows.asciidoc
Labels: >docs, :Delivery/Packaging, backport, Team:Docs, Team:Delivery, auto-merge, v8.2.1

#86391 [8.0] [DOCS] Fix config directory for installation (#86390)
  docs/reference/setup/install/targz.asciidoc
  docs/reference/setup/install/zip-windows.asciidoc
Labels: >docs, :Delivery/Packaging, backport, Team:Docs, Team:Delivery, auto-merge, v8.0.2

#86374 [Test] More robust comparison for OIDC URLs
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectRealmTests.java
Labels: >test, :Security/Security, Team:Security, auto-merge, v8.3.0

#86380 Use faster and smaller maps in MappingLookup
  modules/parent-join/src/test/java/org/elasticsearch/join/mapper/ParentJoinFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldTypeLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.3.0

#86346 Deduplicate default FieldType in KeywordFieldMapper
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/SearchAsYouTypeFieldMapperTests.java
  plugins/mapper-annotated-text/src/internalClusterTest/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/StringFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/TextParams.java
  server/src/main/java/org/elasticsearch/index/mapper/TextSearchInfo.java
  server/src/main/java/org/elasticsearch/index/query/CombinedFieldsQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/IntervalsSourceProvider.java
  server/src/main/java/org/elasticsearch/index/query/MatchPhraseQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/MatchQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/search/MatchQueryParser.java
  server/src/main/java/org/elasticsearch/index/search/QueryStringQueryParser.java
  server/src/main/java/org/elasticsearch/index/search/SimpleQueryStringQueryParser.java
  server/src/main/java/org/elasticsearch/index/similarity/SimilarityService.java
  server/src/main/java/org/elasticsearch/search/suggest/SuggestionBuilder.java
  server/src/test/java/org/elasticsearch/index/analysis/PreBuiltAnalyzerTests.java
  server/src/test/java/org/elasticsearch/index/mapper/CompletionFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DefaultAnalyzersTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ReloadableAnalyzerTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/similarity/SimilarityTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.3.0

#86319 Use faster and cleaner map parsing loop in ObjectParser.parse
  libs/x-content/src/main/java/org/elasticsearch/xcontent/ObjectParser.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/notification/email/attachment/ReportingAttachmentParserTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.3.0

#86394 [DOCS] Removes coming tag from release notes
  docs/reference/migration/index.asciidoc
  docs/reference/release-notes/8.2.0.asciidoc
Labels: >docs, Team:Docs, v8.2.1

#86348 Add index mode feature flag to data stream's test task.
  modules/data-streams/build.gradle
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataIndexTemplateServiceTests.java
Labels: >test, :Data Management/Data streams, Team:Data Management, v8.3.0

#86368 Remove use of ImmutableOpenIntMap in IndexRoutingTable
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRoutingTable.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v8.3.0

#86359 Less jank in after-key parsing for unmapped fields
  docs/changelog/86359.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/GlobalOrdinalValuesSource.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, :Analytics/CompositeAggs, auto-backport-and-merge, v8.3.0, v8.2.1

#86308 Add UNKNOWN health api status
  server/src/main/java/org/elasticsearch/health/HealthStatus.java
  server/src/test/java/org/elasticsearch/health/HealthStatusTests.java
Labels: >enhancement, Team:Data Management, :Data Management/Health, v8.3.0

#86402 [8.2] Less jank in after-key parsing for unmapped fields (#86359)
  docs/changelog/86359.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/GlobalOrdinalValuesSource.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, :Analytics/CompositeAggs, auto-merge, v8.2.1

#85792 Handle .geoip_databases being an alias or a concrete index
  docs/changelog/85792.yaml
  modules/ingest-geoip/qa/full-cluster-restart/build.gradle
  modules/ingest-geoip/qa/full-cluster-restart/src/test/java/org/elasticsearch/ingest/geoip/FullClusterRestartIT.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/DatabaseNodeService.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderTaskExecutor.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/DatabaseNodeServiceTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstraction.java
  test/fixtures/geoip-fixture/docker-compose.yml
Labels: >bug, :Data Management/Ingest, Team:Data Management, v8.3.0, v8.2.1

#86406 [8.2] Handle .geoip_databases being an alias or a concrete index (#85792)
  docs/changelog/85792.yaml
  modules/ingest-geoip/qa/full-cluster-restart/build.gradle
  modules/ingest-geoip/qa/full-cluster-restart/src/test/java/org/elasticsearch/ingest/geoip/FullClusterRestartIT.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/DatabaseNodeService.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderTaskExecutor.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/DatabaseNodeServiceTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstraction.java
  test/fixtures/geoip-fixture/docker-compose.yml
Labels: >bug, :Data Management/Ingest, backport, Team:Data Management, v8.2.1

#86375 Speed up map diffing (2)
  docs/changelog/86375.yaml
  server/src/main/java/org/elasticsearch/cluster/DiffableUtils.java
  server/src/test/java/org/elasticsearch/cluster/serialization/DiffableTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestMetadataTests.java
  server/src/test/java/org/elasticsearch/script/ScriptMetadataTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/PolicyStepsRegistry.java
Labels: >enhancement, :Distributed/Cluster Coordination, Team:Distributed, v8.3.0

#86246 Internalise run-as user and simplify the regular User class
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/GetUsersResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/AuthorizationEngine.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/AsyncSearchUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/InternalUserSerializationHelper.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/SecurityProfileUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/SystemUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/User.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/XPackSecurityUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/XPackUser.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationSerializationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationTestHelper.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/user/UserTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportAuthenticateAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticatorChain.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/service/ServiceAccountService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationDenialMessages.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/OperatorPrivileges.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportAuthenticateActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticatorChainTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/ingest/SetSecurityUserProcessorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/user/AnonymousUserTests.java
Labels: >refactoring, :Security/Security, Team:Security, v8.3.0

#86351 Refactor tests to check only relevant tasks
  server/src/internalClusterTest/java/org/elasticsearch/persistent/PersistentTaskInitializationFailureIT.java
  server/src/internalClusterTest/java/org/elasticsearch/persistent/PersistentTasksExecutorFullRestartIT.java
  server/src/internalClusterTest/java/org/elasticsearch/persistent/PersistentTasksExecutorIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchIT.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/license/MachineLearningLicensingIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/BasicDistributedJobsIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlDistributedFailureIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/TooManyJobsIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/support/BaseMlIntegTestCase.java
Labels: >non-issue, Team:Data Management, :Data Management/Health, v8.3.0

#86415 [ML] Adding a node availability zone calculator
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/NodeAvailabilityZoneMapper.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/NodeAvailabilityZoneMapperTests.java
Labels: >non-issue, :ml, Team:ML, v8.3.0

#86414 DONE should mean fully processed in snapshot status
  docs/changelog/86414.yaml
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStatusApisIT.java
  server/src/main/java/org/elasticsearch/index/snapshots/IndexShardSnapshotStatus.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.3.0

#86177 Dry up waiting for global Netty threads in internal cluster tests
  test/framework/src/main/java/org/elasticsearch/test/AbstractMultiClustersTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  x-pack/plugin/identity-provider/src/internalClusterTest/java/org/elasticsearch/xpack/idp/saml/test/IdentityProviderIntegTestCase.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/test/SecuritySingleNodeTestCase.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/SecurityIntegTestCase.java
  x-pack/qa/smoke-test-plugins-ssl/src/test/java/org/elasticsearch/smoketest/SmokeTestMonitoringWithSecurityIT.java
Labels: >test, :Distributed/Network, Team:Distributed, v8.3.0

#86422 [Test] Fixing compilation error by replacing removed User methods
  plugins/examples/security-authorization-engine/src/main/java/org/elasticsearch/example/CustomAuthorizationEngine.java
Labels: >test, :Security/Security, Team:Security, auto-merge, v8.3.0

#86419 [8.2] [ML] Adjust memory overhead for PyTorch models (#86416)
  docs/changelog/86416.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/allocation/TrainedModelAllocationClusterService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/NodeLoadDetectorTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.2.1

#86303 Reroute completion listeners
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceInput.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/ShardsAllocator.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocatorTests.java
Labels: :Distributed/Allocation, Team:Distributed

#86365 [Refactor] Use records instead of tuples in PluginService
  server/src/main/java/org/elasticsearch/plugins/PluginsService.java
  server/src/test/java/org/elasticsearch/plugins/PluginsServiceTests.java
Labels: :Core/Infra/Plugins, >refactoring, Team:Core/Infra, v8.3.0

#86420 Support ?master_timeout in node shutdown APIs
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/RestDeleteShutdownNodeAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/RestPutShutdownNodeAction.java
Labels: >non-issue, Team:Core/Infra, :Core/Infra/Node Lifecycle, v8.3.0

#86396 [ML][Docs] fix minimum buckets for change_point agg
  docs/reference/aggregations/pipeline/change-point-aggregation.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport-and-merge, v8.3.0, v8.2.1

#86426 [8.2] [ML][Docs] fix minimum buckets for change_point agg (#86396)
  docs/reference/aggregations/pipeline/change-point-aggregation.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge

#86353 Add readImmutableMap for Java Map
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/GetAliasesResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/get/GetMappingsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/IndicesShardStoresResponse.java
  server/src/main/java/org/elasticsearch/cluster/RestoreInProgress.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/cluster/block/ClusterBlocks.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/test/java/org/elasticsearch/common/io/stream/AbstractStreamTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/BytesStreamsTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/RecyclerBytesStreamOutputTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.3.0

#86017 Batch execute template and pipeline cluster state operations
  docs/changelog/86017.yaml
  server/src/main/java/org/elasticsearch/action/admin/indices/template/delete/TransportDeleteIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/put/TransportPutIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
Labels: >enhancement, :Data Management/Indices APIs, Team:Data Management, v8.3.0

#71879 Compatible Rest API developers guide
  REST_API_COMPATIBILITY.md
Labels: >docs, Team:Docs, v8.3.0

#85958 [ML] adds new question_answering NLP task for extracting answers to questions from a document
  docs/changelog/85958.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/QuestionAnsweringInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/InferenceConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/QuestionAnsweringConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/QuestionAnsweringConfigUpdate.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/InternalInferModelActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/InternalInferModelActionResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/InferenceConfigItemTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/FillMaskResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/NerResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/PyTorchPassThroughResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/QuestionAnsweringInferenceResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/TextEmbeddingResultsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/TopAnswerEntryTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/QuestionAnsweringConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/QuestionAnsweringConfigUpdateTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/FillMaskProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/NerProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/QuestionAnsweringProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/TaskType.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BertTokenizationResult.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/MPNetTokenizationResult.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/NlpTokenizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/RobertaTokenizationResult.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/TokenizationResult.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/FillMaskProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/QuestionAnsweringProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BertTokenizerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/MPNetTokenizerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/RobertaTokenizerTests.java
Labels: >enhancement, :ml, Team:ML, cloud-deploy, v8.3.0

#86437 Remove confusing alias to 'internalClusterTest' task
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/InternalClusterTestPlugin.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.3.0, v8.2.1, v7.17.4

#86438 Fix edge case where user-defined heap settings are ignored
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/JvmOption.java
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/MachineDependentHeapTests.java
  docs/changelog/86438.yaml
Labels: >bug, :Delivery/Packaging, Team:Delivery, auto-backport-and-merge, v8.3.0, v8.2.1, v7.17.4

#86433 Add immutable list reader to StreamInput
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/test/java/org/elasticsearch/common/io/stream/AbstractStreamTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.3.0

#86403 Use HashMap for IndexMetadata.inSyncAllocationIds
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v8.3.0

#86444 [8.2] Fix edge case where user-defined heap settings are ignored (#86438)
  distribution/tools/launchers/src/main/java/org/elasticsearch/tools/launchers/JvmOption.java
  distribution/tools/launchers/src/test/java/org/elasticsearch/tools/launchers/MachineDependentHeapTests.java
  docs/changelog/86438.yaml
Labels: >bug, :Delivery/Packaging, backport, Team:Delivery, auto-merge, v8.2.1

#86443 [7.17] Remove confusing alias to 'internalClusterTest' task (#86437)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/InternalClusterTestPlugin.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v7.17.4

#86445 [7.17] Fix edge case where user-defined heap settings are ignored (#86438)
  distribution/tools/launchers/src/main/java/org/elasticsearch/tools/launchers/JvmOption.java
  distribution/tools/launchers/src/test/java/org/elasticsearch/tools/launchers/MachineDependentHeapTests.java
  docs/changelog/86438.yaml
Labels: >bug, :Delivery/Packaging, backport, Team:Delivery, auto-merge, v7.17.4

#86442 [8.2] Remove confusing alias to 'internalClusterTest' task (#86437)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/InternalClusterTestPlugin.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.2.1

#86427 Remove remaining ImmutableOpen maps from shard stores response
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/IndicesShardStoresResponse.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v8.3.0

#86432 Fix DesiredBalanceReconcilerTests#testFailsNewPrimariesIfNoDataNodes
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconcilerTests.java
Labels: >test, :Distributed/Allocation, Team:Distributed

#86435 Fix DesiredBalanceServiceTests
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceServiceTests.java
Labels: >test, :Distributed/Allocation, Team:Distributed

#86450 enable tests
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/ShrinkIndexIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/SplitIndexIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterHealthIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/allocation/ClusterRerouteIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
  server/src/internalClusterTest/java/org/elasticsearch/gateway/ReplicaShardAllocatorIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/IndicesOptionsIntegrationIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexPrimaryRelocationIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/recovery/RelocationIT.java
  server/src/internalClusterTest/java/org/elasticsearch/routing/PartitionedRoutingIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/BlobStoreIncrementalityIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CorruptedBlobStoreRepositoryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/MetadataLoadingDuringSnapshotRestoreIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/RestoreSnapshotIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotCustomPluginStateIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStressTestsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SystemIndicesSnapshotIT.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESBlobStoreRepositoryIntegTestCase.java
Labels: :Distributed/Allocation, Team:Distributed

#86453 [ML] Muting trained model upgrade tests
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
Labels: :ml, >test-mute, Team:ML, v8.3.0

#86457 Cleanup SnapshotInProgressAllocationDecider a little
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/SnapshotInProgressAllocationDecider.java
Labels: >non-issue, :Distributed/Snapshot/Restore, :Distributed/Allocation, Team:Distributed, v8.3.0

#86446 Remove LegacyCTRAL from IngestService
  server/src/main/java/org/elasticsearch/ingest/IngestMetadata.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, auto-merge, v8.3.0

#86451 Batch reroute in TransportClusterUpdateSettingsAction
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/TransportClusterUpdateSettingsAction.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, v8.3.0

#86397 [DOCS] Adds limitation on deprecated painless scripts and edits limitation regarding spaces in Transform docs
  docs/reference/transform/limitations.asciidoc
Labels: >docs, :ml/Transform, Team:Docs, v8.0.2, v8.3.0, v8.2.1, v8.1.4, v7.17.4

#85870 [ML] Tests of the named writable registry for inference updates
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/AbstractNlpConfigUpdateTestCase.java
Labels: >test, :ml, Team:ML, v8.3.0

#86466 [8.2] [DOCS] Adds limitation on deprecated painless scripts and edits limitation regarding spaces in Transform docs (#86397)
  docs/reference/transform/limitations.asciidoc
Labels: backport, v8.2.1

#86467 [8.1] [DOCS] Adds limitation on deprecated painless scripts and edits limitation regarding spaces in Transform docs (#86397)
  docs/reference/transform/limitations.asciidoc
Labels: backport, v8.1.4

#86468 [8.0] [DOCS] Adds limitation on deprecated painless scripts and edits limitation regarding spaces in Transform docs (#86397)
  docs/reference/transform/limitations.asciidoc
Labels: backport, v8.0.2

#86469 [7.17] [DOCS] Adds limitation on deprecated painless scripts and edits limitation regarding spaces in Transform docs (#86397)
  docs/reference/transform/limitations.asciidoc
Labels: backport, v7.17.4

#86465 Faster RoutingTable Builder
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingTable.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.3.0

#86283 Async allocator interface
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/allocation/ClusterAllocationExplainIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/UpdateShardAllocationSettingsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/state/SimpleIndexStateIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/ShardsAllocator.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexServiceTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/TransportRollupAction.java
Labels: :Distributed/Allocation, Team:Distributed

#86398 User APIs allow use of internal usernames
  docs/changelog/86398.yaml
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/framework/src/test/java/org/elasticsearch/test/test/ESTestCaseTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/AsyncSearchUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/SecurityProfileUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/SystemUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/User.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/XPackSecurityUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/XPackUser.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationTestHelper.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/esnative/NativeRealmIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportChangePasswordAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportDeleteUserAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportGetUsersAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportPutUserAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportSetEnabledAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStore.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportChangePasswordActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportDeleteUserActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportGetUsersActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportPutUserActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportSetEnabledActionTests.java
Labels: >enhancement, :Security/Security, Team:Security, v8.3.0

#86412 Move cli shutdown hook to CliToolLauncher
  distribution/tools/cli-launcher/src/main/java/org/elasticsearch/launcher/CliToolLauncher.java
  distribution/tools/cli-launcher/src/test/java/org/elasticsearch/launcher/CliToolLauncherTests.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/cli/ListPluginsCommandTests.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/cli/MockInstallPluginCommand.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/cli/RemovePluginActionTests.java
  libs/cli/src/main/java/org/elasticsearch/cli/Command.java
  qa/evil-tests/src/test/java/org/elasticsearch/cli/EvilCommandTests.java
  server/src/test/java/org/elasticsearch/bootstrap/ElasticsearchCliTests.java
  server/src/test/java/org/elasticsearch/cli/CommandTests.java
  server/src/test/java/org/elasticsearch/cli/MultiCommandTests.java
  x-pack/plugin/sql/qa/server/src/main/java/org/elasticsearch/xpack/sql/qa/cli/EmbeddedCli.java
Labels: >refactoring, Team:Core/Infra, :Core/Infra/CLI, v8.3.0

#86447 Remove ImmutableOpenIntMap
  server/src/main/java/org/elasticsearch/cluster/DiffableUtils.java
  server/src/main/java/org/elasticsearch/common/collect/ImmutableOpenIntMap.java
  server/src/test/java/org/elasticsearch/cluster/serialization/DiffableTests.java
  server/src/test/java/org/elasticsearch/common/collect/ImmutableOpenMapTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.3.0

#86459 Remove LegacyCTRAL from MetadataIndexTemplateService
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.3.0

#86360 [doc] Update to include API for checking JVM pointers
  docs/reference/setup/advanced-configuration.asciidoc
Labels: >enhancement, >docs, :Core/Infra/Settings, Team:Core/Infra, Team:Docs, external-contributor, auto-backport-and-merge, v8.3.0, v8.2.1, v8.1.4, v7.17.4

#86485 [7.17] [doc] Update to include API for checking JVM pointers (#86360)
  docs/reference/setup/advanced-configuration.asciidoc
Labels: >enhancement, >docs, :Core/Infra/Settings, backport, Team:Core/Infra, Team:Docs, external-contributor, auto-merge, v7.17.4

#86483 Unmute some monitoring tests
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/action/TransportMonitoringMigrateAlertsActionTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporterResourceIntegTests.java
Labels: >test, :Data Management/Monitoring, Team:Data Management, v8.3.0

#86488 [ML] mute qa update test apply issue #86487
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/QuestionAnsweringConfigUpdateTests.java
Labels: :ml, >test-mute, Team:ML, auto-merge, v8.3.0

#86486 [DOCS] Add preview admonition to infer API
  docs/reference/ml/trained-models/apis/infer-trained-model.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-model-definition-part.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-model-vocabulary.asciidoc
  docs/reference/ml/trained-models/apis/start-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/stop-trained-model-deployment.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.0.2, v8.3.0, v8.2.1, v8.1.4

#86491 [8.2] [DOCS] Add preview admonition to infer API (#86486)
  docs/reference/ml/trained-models/apis/infer-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-model-definition-part.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-model-vocabulary.asciidoc
  docs/reference/ml/trained-models/apis/start-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/stop-trained-model-deployment.asciidoc
Labels: backport, v8.2.1

#86492 [8.1] [DOCS] Add preview admonition to infer API (#86486)
  docs/reference/ml/trained-models/apis/infer-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-model-definition-part.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-model-vocabulary.asciidoc
  docs/reference/ml/trained-models/apis/start-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/stop-trained-model-deployment.asciidoc
Labels: backport, v8.1.4

#86495 [8.0] [DOCS] Add preview admonition to infer API (#86486)
  docs/reference/ml/trained-models/apis/infer-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-model-definition-part.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-model-vocabulary.asciidoc
  docs/reference/ml/trained-models/apis/start-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/stop-trained-model-deployment.asciidoc
Labels: backport, v8.0.2

#86448 Clean up and better document JvmOptionsParser
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/JvmOptionsParser.java
Labels: >refactoring, Team:Core/Infra, :Core/Infra/CLI, v8.3.0

#86031 Don't require WWW-Authenticate in OIDC UserInfo
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
Labels: >bug, :Security/Authentication, Team:Security, v8.3.0

#86311 Set serverAuth extended key usage for generated certificates and CSRs.
  docs/changelog/86311.yaml
  x-pack/plugin/security/cli/src/main/java/org/elasticsearch/xpack/security/cli/AutoConfigureNode.java
  x-pack/plugin/security/cli/src/main/java/org/elasticsearch/xpack/security/cli/CertGenUtils.java
  x-pack/plugin/security/cli/src/main/java/org/elasticsearch/xpack/security/cli/HttpCertificateCommand.java
  x-pack/plugin/security/cli/src/test/java/org/elasticsearch/xpack/security/cli/AutoConfigureNodeTests.java
  x-pack/plugin/security/cli/src/test/java/org/elasticsearch/xpack/security/cli/CertGenUtilsTests.java
  x-pack/plugin/security/cli/src/test/java/org/elasticsearch/xpack/security/cli/HttpCertificateCommandTests.java
Labels: >enhancement, :Security/TLS, Team:Security, v8.3.0

#86477 Remove prohibited usage
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamServiceTests.java
Labels: :Distributed/Allocation, Team:Distributed

#85898 Has privileges API for profiles
  docs/changelog/85898.yaml
  plugins/examples/security-authorization-engine/src/main/java/org/elasticsearch/example/CustomAuthorizationEngine.java
  test/framework/src/main/java/org/elasticsearch/test/ActionListenerUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/SecurityContext.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/HasPrivilegesRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/HasPrivilegesRequestBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/ProfileHasPrivilegesAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/ProfileHasPrivilegesRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/ProfileHasPrivilegesResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/AuthorizationEngine.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/RoleDescriptor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/profile/ProfileHasPrivilegesRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/profile/ProfileHasPrivilegesResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/PrivilegeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/security/qa/profile/build.gradle
  x-pack/plugin/security/qa/profile/src/javaRestTest/java/org/elasticsearch/xpack/security/profile/ProfileIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileDomainIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/profile/TransportProfileHasPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportGetUserPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/profile/ProfileDocument.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/profile/ProfileService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestHasPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestProfileHasPrivilegesAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/profile/TransportProfileHasPrivilegesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportHasPrivilegesActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/profile/ProfileServiceTests.java
Labels: >feature, :Security/Authorization, Team:Security, v8.3.0

#86482 Fix min node version before state recovery
  docs/changelog/86482.yaml
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/RestHandlerNodesIT.java
  server/src/main/java/org/elasticsearch/cluster/ClusterState.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateTests.java
  server/src/test/java/org/elasticsearch/cluster/node/DiscoveryNodesTests.java
Labels: >bug, :Core/Infra/REST API, Team:Core/Infra, v8.3.0

#86255 [s3-repository] Support generating AWS role session name in case it's not provided
  docs/changelog/86255.yaml
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Service.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/CustomWebIdentityTokenCredentialsProviderTests.java
Labels: >bug, :Distributed/Snapshot/Restore, auto-backport, v8.2.1

#86413 Fix Windows EmbeddedImplClassLoaderTests
  libs/core/src/main/java/org/elasticsearch/core/internal/provider/EmbeddedImplClassLoader.java
  libs/core/src/test/java/org/elasticsearch/core/internal/provider/EmbeddedImplClassLoaderTests.java
  test/framework/src/main/java/org/elasticsearch/bootstrap/BootstrapForTesting.java
  test/framework/src/main/java/org/elasticsearch/test/PrivilegedOperations.java
  test/framework/src/main/java/org/elasticsearch/test/compiler/InMemoryJavaCompiler.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, test-windows, v8.3.0

#86473 Disabling users includes realm in same-user validation
  docs/changelog/86473.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportSetEnabledAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportSetEnabledActionTests.java
Labels: >bug, :Security/Authentication, Team:Security, auto-merge, v8.3.0

#86207 Better failure for source-only snapshots of partially/fully mounted indices
  docs/changelog/86207.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/snapshots/sourceonly/SourceOnlySnapshotRepository.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/AbstractSearchableSnapshotsRestTestCase.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-backport-and-merge, v8.3.0, v8.2.1, v7.17.4

#86208 Add note that searchable snapshots indices cannot be snapshotted into source-only repositories
  docs/reference/searchable-snapshots/index.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.3.0, v8.2.1, v7.17.4

#86511 [8.2] Add note that searchable snapshots indices cannot be snapshotted into source-only repositories (#86208)
  docs/reference/searchable-snapshots/index.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, backport, Team:Distributed, Team:Docs, auto-merge, v8.2.1

#86512 [7.17] Add note that searchable snapshots indices cannot be snapshotted into source-only repositories (#86208)
  docs/reference/searchable-snapshots/index.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, backport, Team:Distributed, Team:Docs, auto-merge, v7.17.4

#86504 [ML] Lower memory threshold for running LP in assignment planner
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/LinearProgrammingPlanSolver.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlannerTests.java
Labels: >test, :ml, Team:ML, v8.3.0

#86489 [ML] fix question answering config update test apply
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/QuestionAnsweringConfigUpdateTests.java
Labels: >test, :ml, Team:ML, v8.3.0

#86424 [Test] Replace all mock authentication with concrete objects
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/SecurityIndexReaderWrapperIntegrationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/ClusterPermissionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/LimitedRoleTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ManageApplicationPrivilegesTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ManageOwnApiKeyClusterPrivilegeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/PrivilegeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/WriteProfileDataPrivilegesTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/esnative/NativeRealmIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/service/TransportCreateServiceAccountTokenActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportSetEnabledActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticatorChainTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RealmsAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/pki/PkiRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/service/ElasticServiceAccountsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/service/ServiceAccountServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/FileRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/ingest/SetSecurityUserProcessorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/OperatorPrivilegesTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/SecurityRestFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/SecurityRestFilterWarningHeadersTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ServerTransportFilterTests.java
Labels: >test, :Security/Security, Team:Security, v8.3.0

#86500 Fix plugin command tests newline assertions
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/cli/ListPluginsCommandTests.java
Labels: >test, :Core/Infra/Plugins, Team:Core/Infra, v8.3.0

#86484 Fix log message in JwtRealmGenerateTests for printing test ES-Client-Authentication header values
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealmGenerateTests.java
Labels: >non-issue, :Security/Authentication, Team:Security, v8.3.0

#86518 [8.2] Adding a deprecation info API check for too many shards (#85967)
  server/src/main/java/org/elasticsearch/indices/ShardLimitValidator.java
  server/src/test/java/org/elasticsearch/indices/ShardLimitValidatorTests.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecksTests.java
Labels: >non-issue, backport, auto-merge, v8.2.1, Team:Data, Management, :Data, Management/Other, pending

#86520 Fixing ShardLimitValidatorTests
  server/src/test/java/org/elasticsearch/indices/ShardLimitValidatorTests.java
Labels: >non-issue, :Data Management/Other, Team:Data Management, auto-merge, v8.3.0

#86523 [7.17] Adding a deprecation info API check for too many shards (#85967)
  server/src/main/java/org/elasticsearch/indices/ShardLimitValidator.java
  server/src/test/java/org/elasticsearch/indices/ShardLimitValidatorTests.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/ClusterDeprecationChecksTests.java
Labels: >non-issue, backport, :Data Management/Other, Team:Data Management, auto-merge, v7.17.4

#86522 Remove isMeta check during rewrite field-caps responses
  server/src/main/java/org/elasticsearch/action/fieldcaps/IndexFieldCapabilities.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/ResponseRewriter.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesAction.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperRegistry.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/ResponseRewriterTests.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesActionTests.java
Labels: >non-issue, :Search/Search, Team:Search, auto-merge, v8.3.0

#86493 Make the ILM and SLM history_index_enabled settings dynamic
  docs/changelog/86493.yaml
  docs/reference/settings/ilm-settings.asciidoc
  docs/reference/settings/snapshot-settings.asciidoc
  test/framework/src/main/java/org/elasticsearch/test/ClusterServiceUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/LifecycleSettings.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycle.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/history/ILMHistoryStore.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/history/SnapshotHistoryStore.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/history/ILMHistoryStoreTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/history/SnapshotHistoryStoreTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/AbstractSearchableSnapshotsTestCase.java
Labels: >enhancement, :Data Management/ILM+SLM, Team:Data Management, v8.3.0

#85454 Use cluster health API in validateClusterFormed
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v7.17.3, v8.3.0

#86101 Log cluster.initial_master_nodes at startup
  docs/changelog/86101.yaml
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterBootstrapService.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ClusterBootstrapServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
Labels: >enhancement, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, Supportability, v8.3.0

#84919 Block joins while applier is busy
  docs/changelog/84919.yaml
  server/src/internalClusterTest/java/org/elasticsearch/discovery/DiscoveryDisruptionIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinHelperTests.java
Labels: >enhancement, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, v8.3.0

#86259 Complete listener on rejection in FollowersChecker
  server/src/main/java/org/elasticsearch/cluster/coordination/FollowersChecker.java
  server/src/test/java/org/elasticsearch/cluster/coordination/FollowersCheckerTests.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, v8.3.0

#86537 AbstractAnalyzerProvider does not need to extend AbstractIndexComponent
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/ArabicAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/ArmenianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/BasqueAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/BengaliAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/BrazilianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/BulgarianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CatalanAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/ChineseAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CjkAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CzechAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/DanishAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/DutchAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/EnglishAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/EstonianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/FingerprintAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/FinnishAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/FrenchAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/GalicianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/GermanAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/GreekAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/HindiAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/HungarianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/IndonesianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/IrishAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/ItalianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/LatvianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/LithuanianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/NorwegianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/PatternAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/PersianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/PortugueseAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/RomanianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/RussianAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/SnowballAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/SoraniAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/SpanishAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/SwedishAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/ThaiAnalyzerProvider.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/TurkishAnalyzerProvider.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/plugin/analysis/icu/IcuAnalyzerProvider.java
  plugins/analysis-kuromoji/src/main/java/org/elasticsearch/plugin/analysis/kuromoji/KuromojiAnalyzerProvider.java
  plugins/analysis-kuromoji/src/main/java/org/elasticsearch/plugin/analysis/kuromoji/KuromojiCompletionAnalyzerProvider.java
  plugins/analysis-nori/src/main/java/org/elasticsearch/plugin/analysis/nori/NoriAnalyzerProvider.java
  plugins/analysis-smartcn/src/main/java/org/elasticsearch/plugin/analysis/smartcn/SmartChineseAnalyzerProvider.java
  plugins/analysis-stempel/src/main/java/org/elasticsearch/index/analysis/pl/PolishAnalyzerProvider.java
  plugins/analysis-ukrainian/src/main/java/org/elasticsearch/plugin/analysis/ukrainian/UkrainianAnalyzerProvider.java
  server/src/internalClusterTest/java/org/elasticsearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
  server/src/main/java/org/elasticsearch/index/analysis/AbstractIndexAnalyzerProvider.java
  server/src/main/java/org/elasticsearch/index/analysis/AbstractTokenizerFactory.java
  server/src/main/java/org/elasticsearch/index/analysis/CustomAnalyzerProvider.java
  server/src/main/java/org/elasticsearch/index/analysis/CustomNormalizerProvider.java
  server/src/main/java/org/elasticsearch/index/analysis/KeywordAnalyzerProvider.java
  server/src/main/java/org/elasticsearch/index/analysis/LowercaseNormalizerProvider.java
  server/src/main/java/org/elasticsearch/index/analysis/SimpleAnalyzerProvider.java
  server/src/main/java/org/elasticsearch/index/analysis/StandardAnalyzerProvider.java
  server/src/main/java/org/elasticsearch/index/analysis/StopAnalyzerProvider.java
  server/src/main/java/org/elasticsearch/index/analysis/WhitespaceAnalyzerProvider.java
Labels: >non-issue, :Search/Analysis, Team:Search, v8.3.0

#86122 Small additions to the register-repo docs
  docs/reference/snapshot-restore/register-repository.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.3.0, v8.2.1, v8.1.4

#86545 [8.2] Small additions to the register-repo docs (#86122)
  docs/reference/snapshot-restore/register-repository.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, backport, Team:Distributed, Team:Docs, auto-merge, v8.2.1

#86546 [8.1] Small additions to the register-repo docs (#86122)
  docs/reference/snapshot-restore/register-repository.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, backport, Team:Distributed, Team:Docs, auto-merge, v8.1.4

#85990 Allow to sort by script value using SemVer semantics
  docs/changelog/85990.yaml
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/org.elasticsearch.script.bytesref_sort.txt
  server/src/main/java/org/elasticsearch/script/BytesRefProducer.java
  server/src/main/java/org/elasticsearch/script/BytesRefSortScript.java
  server/src/main/java/org/elasticsearch/script/ScriptModule.java
  server/src/main/java/org/elasticsearch/search/sort/ScriptSortBuilder.java
  server/src/test/java/org/elasticsearch/search/sort/ScriptSortBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/script/MockScriptEngine.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/Version.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionFieldDocValuesExtension.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringDocValuesField.java
  x-pack/plugin/mapper-version/src/test/java/org/elasticsearch/xpack/versionfield/VersionTests.java
  x-pack/plugin/mapper-version/src/yamlRestTest/resources/rest-api-spec/test/60_script_sort_values.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/versionfield/20_scripts.yml
Labels: >bug, :Search/Mapping, :Core/Infra/Scripting, Team:Core/Infra, Team:Search, Team:Clients, v8.3.0

#86490 Remove failing test which mocked now sealed InetAddress class
  x-pack/plugin/security/cli/src/test/java/org/elasticsearch/xpack/security/cli/CertGenUtilsTests.java
Labels: >test-failure, :Security/TLS, Team:Security, v8.3.0

#86510 [7.17] Better failure for source-only snapshots of partially/fully mounted indices (#86207)
  docs/changelog/86207.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/snapshots/sourceonly/SourceOnlySnapshotRepository.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/AbstractSearchableSnapshotsRestTestCase.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v7.17.4

#86173 [doc] Explicitly mention about node shutdown remove for cluster shrink
  docs/reference/shutdown/apis/shutdown-delete.asciidoc
Labels: >docs, Team:Core/Infra, Team:Docs, :Core/Infra/Node Lifecycle, auto-backport, v8.3.0, v8.2.1, v7.17.4

#86441 Require index.mode=time_series for creating time series data streams
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/TSDBIndexingIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/TsdbDataStreamRestIT.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProvider.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamGetWriteIndexTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProviderTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataDataStreamRolloverServiceTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataIndexTemplateServiceTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.3.0

#83420 Remove CSTL#onNoLongerMaster
  server/src/main/java/org/elasticsearch/action/admin/cluster/health/TransportClusterHealthAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/TransportClusterUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/action/support/master/TransportMasterNodeAction.java
  server/src/main/java/org/elasticsearch/cluster/ClusterStateTaskListener.java
  server/src/main/java/org/elasticsearch/cluster/ClusterStateUpdateTask.java
  server/src/main/java/org/elasticsearch/cluster/NotMasterException.java
  server/src/main/java/org/elasticsearch/cluster/action/shard/ShardStateAction.java
  server/src/main/java/org/elasticsearch/cluster/coordination/FailedToCommitClusterStateException.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeRemovalClusterStateTaskExecutor.java
  server/src/main/java/org/elasticsearch/cluster/routing/BatchedRerouteService.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  server/src/main/java/org/elasticsearch/gateway/GatewayService.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
Labels: >refactoring, :Distributed/Cluster Coordination, Team:Distributed, v8.3.0

#86358 Disable template cleanup in MultiVersionRepositoryAccessIT to fix it in older versions
  qa/repository-multi-version/src/test/java/org/elasticsearch/upgrades/MultiVersionRepositoryAccessIT.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, v8.3.0

#86519 Add getResolution method to H3
  libs/h3/src/main/java/org/elasticsearch/h3/H3.java
  libs/h3/src/test/java/org/elasticsearch/h3/GeoToH3Tests.java
Labels: >non-issue, :Analytics/Geo, Team:Analytics, v8.3.0
