Repository elastic/elasticsearch, pull requests merged in 2022-07, with the labels that each got.

#87723 Optimize log cluster health performance.
  docs/changelog/87723.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
Labels: >enhancement, :Distributed/Allocation, Team:Distributed, external-contributor, v8.4.0

#88223 [7.17] Setup elasticsearch dependency monitoring with Snyk for production code (#88036)
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/info/GitInfo.java
  build-tools-internal/build.gradle
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/fixtures/AbstractGradleInternalPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/fixtures/AbstractJavaGradleFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/snyk/SnykDependencyMonitoringGradlePluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BuildPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/snyk/GenerateSnykDependencyGraph.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/snyk/SnykDependencyGraph.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/snyk/SnykDependencyGraphBuilder.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/snyk/SnykDependencyMonitoringGradlePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/snyk/UploadSnykDependenciesGraph.java
  build-tools/src/testFixtures/groovy/org/elasticsearch/gradle/fixtures/AbstractGradleFuncTest.groovy
  build-tools/src/testFixtures/groovy/org/elasticsearch/gradle/fixtures/WiremockFixture.groovy
  build.gradle
  client/benchmark/build.gradle
  client/client-benchmark-noop-api-plugin/build.gradle
  client/test/build.gradle
  distribution/tools/java-version-checker/build.gradle
  gradle/build.versions.toml
  plugins/repository-hdfs/hadoop-client-api/build.gradle
  plugins/repository-hdfs/hadoop-client-api/licenses/hadoop-client-api-3.3.1.jar.sha1
  plugins/repository-hdfs/hadoop-client-api/licenses/hadoop-client-api-LICENSE.txt
  plugins/repository-hdfs/hadoop-client-api/licenses/hadoop-client-api-NOTICE.txt
  test/x-content/build.gradle
Labels: backport, v7.17.6

#88188 Allow easing testing of java ea versions using gradle java tool chain support
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchJavaBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/BuildParams.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  gradle.properties
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.4.0

#88231 Use faster maths to project WGS84 to mercator
  docs/changelog/88231.yaml
  server/src/main/java/org/elasticsearch/common/geo/SphericalMercatorUtils.java
  server/src/test/java/org/elasticsearch/common/geo/SphericalMercatorUtilTests.java
  x-pack/plugin/build.gradle
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/spatial/70_script_doc_values.yml
Labels: >enhancement, :Analytics/Geo, Team:Analytics, v8.4.0

#88228 Unmute Lintian test
  qa/os/src/test/java/org/elasticsearch/packaging/test/DebMetadataTests.java
Labels: >test, :ml, Team:ML, v8.4.0

#88237 Upgrade to Log4J 2.18.0
  build-tools-internal/version.properties
  docs/changelog/88237.yaml
  modules/repository-azure/licenses/log4j-slf4j-impl-2.17.1.jar.sha1
  modules/repository-azure/licenses/log4j-slf4j-impl-2.18.0.jar.sha1
  modules/repository-gcs/licenses/log4j-1.2-api-2.17.1.jar.sha1
  modules/repository-gcs/licenses/log4j-1.2-api-2.18.0.jar.sha1
  modules/repository-s3/licenses/log4j-1.2-api-2.17.1.jar.sha1
  modules/repository-s3/licenses/log4j-1.2-api-2.18.0.jar.sha1
  modules/repository-url/licenses/log4j-1.2-api-2.17.1.jar.sha1
  modules/repository-url/licenses/log4j-1.2-api-2.18.0.jar.sha1
  plugins/discovery-azure-classic/licenses/log4j-1.2-api-2.17.1.jar.sha1
  plugins/discovery-azure-classic/licenses/log4j-1.2-api-2.18.0.jar.sha1
  plugins/discovery-ec2/licenses/log4j-1.2-api-2.17.1.jar.sha1
  plugins/discovery-ec2/licenses/log4j-1.2-api-2.18.0.jar.sha1
  plugins/discovery-gce/licenses/log4j-1.2-api-2.17.1.jar.sha1
  plugins/discovery-gce/licenses/log4j-1.2-api-2.18.0.jar.sha1
  plugins/repository-hdfs/licenses/log4j-1.2-api-2.17.1.jar.sha1
  plugins/repository-hdfs/licenses/log4j-1.2-api-2.18.0.jar.sha1
  plugins/repository-hdfs/licenses/log4j-slf4j-impl-2.17.1.jar.sha1
  plugins/repository-hdfs/licenses/log4j-slf4j-impl-2.18.0.jar.sha1
  server/build.gradle
  server/licenses/log4j-api-2.17.1.jar.sha1
  server/licenses/log4j-api-2.18.0.jar.sha1
  server/licenses/log4j-core-2.17.1.jar.sha1
  server/licenses/log4j-core-2.18.0.jar.sha1
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/bootstrap/ESPolicy.java
  server/src/main/java/org/elasticsearch/common/logging/ESSystemPropertiesPropertySource.java
  x-pack/plugin/core/licenses/log4j-1.2-api-2.17.1.jar.sha1
  x-pack/plugin/core/licenses/log4j-1.2-api-2.18.0.jar.sha1
  x-pack/plugin/identity-provider/licenses/log4j-slf4j-impl-2.17.1.jar.sha1
  x-pack/plugin/identity-provider/licenses/log4j-slf4j-impl-2.18.0.jar.sha1
  x-pack/plugin/security/licenses/log4j-slf4j-impl-2.17.1.jar.sha1
  x-pack/plugin/security/licenses/log4j-slf4j-impl-2.18.0.jar.sha1
  x-pack/plugin/vector-tile/licenses/log4j-slf4j-impl-2.17.1.jar.sha1
  x-pack/plugin/vector-tile/licenses/log4j-slf4j-impl-2.18.0.jar.sha1
Labels: :Core/Infra/Core, >upgrade, Team:Core/Infra, v8.4.0

#88244 Dry up index name expression resolving a little
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstractionResolver.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.4.0

#88240 Reenable TestingConventionsPrecommitPluginFuncTest on windows
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/fixtures/LocalRepositoryFixture.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/precommit/TestingConventionsPrecommitPluginFuncTest.groovy
Labels: >test, :Delivery/Build, Team:Delivery, test-windows, v8.4.0

#88251 [ML] Mute MLModelDeploymentsUpgradeIT
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
Labels: :ml, >test-mute, Team:ML, v8.4.0

#88254 Use pre-parsed index mode when figuring out timestamp range
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/TSDB, v8.4.0

#88097 Implement few operator handlers
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/TransportClusterUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/action/support/master/TransportMasterNodeAction.java
  server/src/main/java/org/elasticsearch/immutablestate/action/ImmutableClusterSettingsAction.java
  server/src/test/java/org/elasticsearch/immutablestate/action/ImmutableClusterSettingsActionTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/action/DeleteLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/module-info.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/ILMImmutableStateHandlerProvider.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycle.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/ImmutableLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportDeleteLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/ImmutableILMStateControllerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/TransportDeleteLifecycleActionTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/TransportPutLifecycleActionTests.java
Labels: >non-issue, :Core/Infra/Core, :Data Management/ILM+SLM, Team:Core/Infra, Team:Data Management, v8.4.0

#87994 [DOCS] Add authorization info to get and update transform APIs
  docs/reference/transform/apis/get-transform.asciidoc
  docs/reference/transform/apis/update-transform.asciidoc
Labels: >docs, :ml/Transform, Team:Docs, Team:ML, v8.4.0

#88242 [Transform] unmuting TransformContinuousIT to for debug output.
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TransformContinuousIT.java
Labels: >test, :ml/Transform, Team:ML, v8.4.0

#88150 Path to _source added
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, :Search/Mapping, Team:Docs, Team:Search, external-contributor, auto-backport, v8.4.0, v8.3.1, v8.2.4

#88264 [8.3] Specify how to add fields from _source from a script (#88150)
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, external-contributor, v8.3.2

#88263 [master] Specify how to add fields from _source from a script (#88150)
  docs/reference/mapping/runtime.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, external-contributor, v8.4.0

#87917 Refactor tasks to improve APM support
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/TaskRecoveryIT.java
  server/src/main/java/org/elasticsearch/cluster/ClusterStatePublicationEvent.java
  server/src/main/java/org/elasticsearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterService.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoverySourceService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RemoteRecoveryTargetHandler.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TaskManagerTestCase.java
  server/src/test/java/org/elasticsearch/action/admin/indices/resolve/TransportResolveIndexActionTests.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesActionTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterModuleTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinHelperTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PublicationTransportHandlerTests.java
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
  server/src/test/java/org/elasticsearch/discovery/PeerFinderTests.java
  server/src/test/java/org/elasticsearch/gateway/ClusterStateUpdatersTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayServiceTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/indices/recovery/PeerRecoverySourceServiceTests.java
  server/src/test/java/org/elasticsearch/node/ResponseCollectorServiceTests.java
  server/src/test/java/org/elasticsearch/readiness/ReadinessServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/service/FakeThreadPoolMasterService.java
  test/framework/src/main/java/org/elasticsearch/node/MockNode.java
  test/framework/src/main/java/org/elasticsearch/test/ClusterServiceUtils.java
  test/framework/src/main/java/org/elasticsearch/test/disruption/DisruptableMockTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransport.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  test/framework/src/test/java/org/elasticsearch/cluster/service/FakeThreadPoolMasterServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleServiceTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AnomalyJobCRUDIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/EstablishedMemUsageIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobModelSnapshotCRUDIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobStorageDeletionTaskIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsStatsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsPersisterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterServiceTests.java
  x-pack/plugin/transform/src/internalClusterTest/java/org/elasticsearch/xpack/transform/checkpoint/TransformCheckpointServiceNodeTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformTaskTests.java
Labels: :Distributed/Task Management, >refactoring, Team:Distributed, v8.4.0

#88269 [8.3] Clarify what to do if repo analysis fails (#88267)
  docs/reference/snapshot-restore/apis/repo-analysis-api.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, backport, Team:Distributed, Team:Docs, auto-merge, v8.3.2

#88268 [7.17] Clarify what to do if repo analysis fails (#88267)
  docs/reference/snapshot-restore/apis/repo-analysis-api.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, backport, Team:Distributed, Team:Docs, auto-merge, v7.17.6

#88266 Skip expensive name collision checks when building metadata from diff
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Data Management/Indices APIs, :Distributed/Cluster Coordination, Team:Data Management, Team:Distributed, v8.4.0

#88248 [DOCS] Document autoscaling processors
  docs/reference/autoscaling/apis/get-autoscaling-capacity.asciidoc
  docs/reference/autoscaling/deciders/fixed-decider.asciidoc
Labels: >docs, :Distributed/Autoscaling, Team:Distributed, Team:Docs, v8.4.0

#87704 Add ability to select execution mode for cardinality aggregation
  docs/reference/aggregations/metrics/cardinality-aggregation.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.aggregation/170_cardinality_metric.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorSupplier.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CardinalityTests.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
  x-pack/qa/runtime-fields/build.gradle
Labels: :Analytics/Aggregations, >refactoring, Team:Analytics, Team:Clients, v8.4.0

#88245 Rollup reroute listener
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/TransportRollupAction.java
Labels: :Distributed/Allocation, Team:Distributed

#88262 Change UBI docker user to `elasticsearch`
  distribution/docker/src/docker/Dockerfile
  docs/changelog/88262.yaml
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
Labels: >enhancement, :Delivery/Packaging, Team:Delivery, v7.17.6

#88278 [8.2] [Docs] Fix runtime grok script example (#87851)
  docs/reference/mapping/runtime.asciidoc
  docs/reference/scripting/common-script-uses.asciidoc
Labels: >docs, :Core/Infra/Scripting, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.2.4

#88271 fix: extract matrix stats using bucket_selector buckets_path
  docs/changelog/88271.yaml
  modules/aggs-matrix-stats/src/main/java/org/elasticsearch/search/aggregations/matrix/stats/InternalMatrixStats.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/analytics/matrix_stats.yml
Labels: >bug, :Analytics/Aggregations, Team:Clients, v8.4.0

#88282 [8.3] Clarify role mapping support and alternatives (#87572)
  x-pack/docs/en/security/authorization/mapping-roles.asciidoc
Labels: backport, auto-merge, v8.3.3

#88187 [ML] add deployed native models to inference_stats in trained model stats response
  docs/changelog/88187.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/AssignmentStats.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/assignment/AssignmentStatsTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
Labels: >enhancement, :ml, Team:ML, v8.4.0

#88100 Replace bridge methods with filtered methods in Painless
  modules/lang-painless/src/main/java/org/elasticsearch/painless/Def.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookupBuilder.java
Labels: :Core/Infra/Scripting, >refactoring, Team:Core/Infra, v8.4.0

#88142 [ML] make more GET and heavier processing APIs cancellable
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/EvaluateDataFrameAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/ExplainDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetCategoriesAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetDatafeedsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetJobsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetModelSnapshotsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PreviewDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PreviewDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PutDataFrameAnalyticsAction.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ExplainDataFrameAnalyticsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlNativeDataFrameAnalyticsIntegTestCase.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/DatafeedConfigProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobConfigProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlAutoUpdateServiceIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportEvaluateDataFrameAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportExplainDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetBucketsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetCalendarEventsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetCategoriesAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDatafeedsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetInfluencersAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetJobsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetModelSnapshotsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetRecordsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportResetJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpgradeJobModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedContextProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/persistence/DatafeedConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobDataDeleter.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestGetDatafeedsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/datafeeds/RestPreviewDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/dataframe/RestEvaluateDataFrameAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/dataframe/RestExplainDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/dataframe/RestPreviewDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestGetJobsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/modelsnapshots/RestGetModelSnapshotsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/results/RestGetCategoriesAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProviderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemoverTests.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/90_ml_data_frame_analytics_crud.yml
Labels: >non-issue, :ml, Team:ML, test-full-bwc, v8.4.0

#88288 [8.3] Fix RandomSamplerIT#testRandomSamplerHistogram test input (#88191)
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/RandomSamplerIT.java
Labels: >test, :Analytics/Aggregations, backport, Team:Analytics, auto-merge, v8.3.3

#88285 Remove ImmutableOpenMap from most tests
  server/src/test/java/org/elasticsearch/action/admin/cluster/migration/TransportGetFeatureUpgradeStatusActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/alias/get/TransportGetAliasesActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/mapping/get/GetMappingsResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsResponseTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexMetadataTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDeleteIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/SystemIndexMetadataUpgradeServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ThrottlingAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderUnitTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/RestoreInProgressAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/serialization/ClusterSerializationTests.java
  server/src/test/java/org/elasticsearch/gateway/DanglingIndicesStateTests.java
  server/src/test/java/org/elasticsearch/indices/ShardLimitValidatorTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
  server/src/test/java/org/elasticsearch/rest/action/admin/indices/RestGetAliasesActionTests.java
  server/src/test/java/org/elasticsearch/snapshots/InternalSnapshotsInfoServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsInProgressSerializationTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderDecisionTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderServiceTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.4.0

#88291 Remove ImmutableOpenMap from Engine
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
Labels: :Distributed/Engine, >refactoring, Team:Distributed, v8.4.0

#88293 [7.17] Fix checkstyle version drift and API change (#88283)
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/checkstyle/MissingJavadocTypeCheck.java
  gradle/build.versions.toml
Labels: >bug, >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v7.17.6

#88294 [8.3] Fix checkstyle version drift and API change (#88283)
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/checkstyle/MissingJavadocTypeCheck.java
  gradle/build.versions.toml
Labels: >bug, >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.3.3

#88297 Print full exception when console is non-interactive
  docs/changelog/88297.yaml
  server/src/main/java/org/elasticsearch/bootstrap/BootstrapInfo.java
  server/src/main/java/org/elasticsearch/common/logging/ConsoleThrowablePatternConverter.java
  server/src/test/java/org/elasticsearch/common/logging/ConsoleThrowablePatternConverterTests.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.4.0

#88273 Fix potential circuit breaker leak on InternalGeoGrid
  docs/changelog/88273.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/InternalGeoGrid.java
Labels: >bug, :Analytics/Geo, Team:Analytics, v8.4.0, v7.17.6, v8.3.2

#88298 [8.3] Fix potential circuit breaker leak on InternalGeoGrid (#88273)
  docs/changelog/88273.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/InternalGeoGrid.java
Labels: >bug, :Analytics/Geo, backport, Team:Analytics, auto-merge, v8.3.3

#88299 [7.17] Fix potential circuit breaker leak on InternalGeoGrid (#88273)
  docs/changelog/88273.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/InternalGeoGrid.java
Labels: >bug, backport, auto-merge, v7.17.6

#88304 Pre-size Metadata builder when applying diffs
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.4.0

#88302 Save loop over all indices in Metadata Builder
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.4.0

#88250 Make JdkMapDiff return immutable map
  server/src/main/java/org/elasticsearch/cluster/DiffableUtils.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.4.0

#88301 Unmute Lintian test again
  qa/os/src/test/java/org/elasticsearch/packaging/test/DebMetadataTests.java
Labels: >test, :Delivery/Packaging, :ml, Team:ML, Team:Delivery, v8.4.0

#88289 [ML] fixing bwc for trained model deployment inference
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentMetadata.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
Labels: >bug, >test, :ml, Team:ML, auto-backport, test-full-bwc, v8.4.0, v8.3.3

#87344 [DOCS] Adding discovery troubleshooting link in the master get help page
  docs/reference/modules/discovery/discovery.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/discovery-issues.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.3.0, v8.4.0

#88328 [8.3] [DOCS] Adding discovery troubleshooting link in the master get help page (#87344)
  docs/reference/modules/discovery/discovery.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/discovery-issues.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.3.3

#88284 Upgrade to Lucene-9.3.0-snapshot-2d05f5c623e
  build-tools-internal/version.properties
  modules/lang-expression/licenses/lucene-codecs-9.3.0-snapshot-2d05f5c623e.jar.sha1
  modules/lang-expression/licenses/lucene-codecs-9.3.0-snapshot-f3025a56e31.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-9.3.0-snapshot-2d05f5c623e.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-9.3.0-snapshot-f3025a56e31.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial-extras-9.3.0-snapshot-2d05f5c623e.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial-extras-9.3.0-snapshot-f3025a56e31.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial3d-9.3.0-snapshot-2d05f5c623e.jar.sha1
  modules/legacy-geo/licenses/lucene-spatial3d-9.3.0-snapshot-f3025a56e31.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.3.0-snapshot-2d05f5c623e.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.3.0-snapshot-f3025a56e31.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.3.0-snapshot-2d05f5c623e.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.3.0-snapshot-f3025a56e31.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.3.0-snapshot-2d05f5c623e.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.3.0-snapshot-f3025a56e31.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.3.0-snapshot-2d05f5c623e.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.3.0-snapshot-f3025a56e31.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.3.0-snapshot-2d05f5c623e.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.3.0-snapshot-f3025a56e31.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.3.0-snapshot-2d05f5c623e.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.3.0-snapshot-f3025a56e31.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.3.0-snapshot-2d05f5c623e.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-analysis-common-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-analysis-common-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-backward-codecs-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-backward-codecs-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-core-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-core-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-grouping-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-grouping-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-highlighter-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-highlighter-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-join-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-join-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-memory-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-memory-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-misc-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-misc-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-queries-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-queries-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-queryparser-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-queryparser-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-sandbox-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-sandbox-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/licenses/lucene-suggest-9.3.0-snapshot-2d05f5c623e.jar.sha1
  server/licenses/lucene-suggest-9.3.0-snapshot-f3025a56e31.jar.sha1
  server/src/main/java/org/elasticsearch/common/lucene/Lucene.java
  server/src/main/java/org/elasticsearch/index/codec/CodecService.java
  server/src/main/java/org/elasticsearch/index/codec/PerFieldMapperCodec.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/test/java/org/elasticsearch/action/admin/indices/diskusage/IndexDiskUsageAnalyzerTests.java
  server/src/test/java/org/elasticsearch/index/codec/CodecTests.java
  server/src/test/java/org/elasticsearch/index/engine/CompletionStatsCacheTests.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapperTests.java
  x-pack/plugin/ml/licenses/lucene-analysis-icu-9.3.0-snapshot-2d05f5c623e.jar.sha1
  x-pack/plugin/ml/licenses/lucene-analysis-icu-9.3.0-snapshot-f3025a56e31.jar.sha1
Labels: >non-issue, :Search/Search, >upgrade, Team:Search, v8.4.0

#88198 [Test] Fix parsing of exception objects
  x-pack/plugin/security/src/test/java/org/elasticsearch/test/TestSecurityClient.java
Labels: >test, :Security/Security, Team:Security, v8.4.0

#87868 Add setting for tcp_keepalive for oidc back-channel
  docs/changelog/87868.yaml
  docs/reference/settings/security-settings.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/oidc/OpenIdConnectRealmSettings.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
Labels: >enhancement, :Security/Security, Team:Security, auto-merge, v8.4.0

#88316 Update NodeShutdownShardsIT to actually index docs
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.4.0

#88319 Speed up put index to metadata builder
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.4.0

#88186 Support updates of API key attributes [REST and transport layer]
  docs/changelog/88186.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateApiKeyAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ManageOwnApiKeyClusterPrivilege.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateApiKeyRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationTestHelper.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ManageOwnApiKeyClusterPrivilegeTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/apikey/ApiKeyRestIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/apikey/TransportUpdateApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/ApiKeyGenerator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestUpdateApiKeyAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RoleDescriptorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/apikey/RestUpdateApiKeyActionTests.java
Labels: >feature, :Security/Authentication, Team:Security, v8.4.0

#88343 Close resources in testLoadServiceProviders
  server/src/test/java/org/elasticsearch/plugins/PluginsServiceTests.java
Labels: >test, :Core/Infra/Plugins, Team:Core/Infra, v8.4.0

#88332 [DOCS] Added 8.3.2 Release Notes stub
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.3.2.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.4.0, v8.3.3

#88349 [Backport] [8.3] [88332] [DOCS] Added 8.3.2 Release Notes stub
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.3.2.asciidoc
Labels: >docs, Team:Docs, v8.3.2, v8.3.3

#88330 Remove unused InternalPlugin interface
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionArchiveCheckPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionArchiveSetupPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionBwcSetupPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionDownloadPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalPluginBuildPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/CheckstylePrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/DependencyLicensesPrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/FilePermissionsPrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ForbiddenApisPrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ForbiddenPatternsPrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/JavaModulePrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/LoggerUsagePrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ThirdPartyAuditPrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ValidateRestSpecPlugin.java
Labels: :Delivery/Build, >refactoring, Team:Delivery, auto-backport-and-merge, v8.4.0, v7.17.6, v8.3.3

#88238 Deduplicate field-caps fields in node and ccs responses
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesFetcher.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesIndexResponse.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesNodeResponse.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesResponse.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/IndexFieldCapabilities.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/RequestDispatcher.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/TransportFieldCapabilitiesAction.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesIndexResponseTests.java
  server/src/test/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesNodeResponseTests.java
Labels: >bug, :Search/Search, Team:Search, v7.17.6

#88361 [8.3] Add build_flavor back to info api rest response (#88336)
  build.gradle
  docs/changelog/88336.yaml
  docs/plugins/discovery-azure-classic.asciidoc
  docs/reference/setup/install/check-running.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/info/10_info.yml
  server/src/main/java/org/elasticsearch/action/main/MainResponse.java
  server/src/test/java/org/elasticsearch/action/main/MainResponseTests.java
Labels: >bug, :Core/Infra/Core, backport, Team:Core/Infra, Team:Clients, auto-merge, v8.3.3

#88363 New setting to close idle connections in OIDC back-channel (#87773)
  docs/changelog/87773.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/oidc/OpenIdConnectRealmSettings.java
  x-pack/plugin/security/qa/smoke-test-all-realms/build.gradle
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
Labels: backport, auto-merge, v8.3.3

#88335 Support run_as another user when granting API keys
  docs/changelog/88335.yaml
  x-pack/docs/build.gradle
  x-pack/docs/en/rest-api/security/grant-api-keys.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/Grant.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/test/SecuritySingleNodeTestCase.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/apikey/ApiKeySingleNodeTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/user/AnonymousUserIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/TransportGrantAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/apikey/TransportGrantApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/profile/TransportActivateProfileAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestGrantApiKeyAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/apikey/TransportGrantApiKeyActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/api_key/12_grant.yml
Labels: >enhancement, :Security/Security, Team:Security, Team:Clients, auto-merge, v8.4.0

#88270 Updatable API keys - REST API spec and tests
  docs/changelog/88270.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/security.update_api_key.json
  x-pack/docs/en/rest-api/security.asciidoc
  x-pack/docs/en/rest-api/security/update-api-key.asciidoc
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/api_key/20_query.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/api_key/30_update.yml
Labels: >enhancement, :Security/Security, Team:Security, Team:Clients, v8.4.0

#88315 [8.3] [ML] fixing bwc for trained model deployment inference (#88289)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentMetadata.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
Labels: >bug, >test, :ml, backport, Team:ML, test-full-bwc, v8.3.3

#88312 Replace usages of deprecated specialized field exists queries
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/SearchAsYouTypeFieldMapperTests.java
  server/src/main/java/org/elasticsearch/common/lucene/search/Queries.java
  server/src/main/java/org/elasticsearch/index/mapper/MappedFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/LongValuesSource.java
  server/src/main/java/org/elasticsearch/search/query/TopDocsCollectorContext.java
  server/src/test/java/org/elasticsearch/common/lucene/search/QueriesTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/RootFlattenedFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/query/ExistsQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryStringQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/RangeQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/SingleDimensionValuesSourceTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/AvgAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/HDRPercentilesAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MaxAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MinAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/SumAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/TDigestPercentilesAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/ValueCountAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/WeightedAvgAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HDRPreAggregatedPercentilesAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/TDigestPreAggregatedPercentilesAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregatorTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngine.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/sourceonly/SourceOnlySnapshotTests.java
  x-pack/plugin/mapper-aggregate-metric/src/test/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapperTests.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/accesscontrol/FieldExtractor.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/FieldExtractorTests.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
  x-pack/plugin/wildcard/src/test/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapperTests.java
Labels: :Search/Search, >refactoring, Team:Search, >tech debt, v8.4.0

#88356 [DOCS] Add feature flag admonition for user profiles
  x-pack/docs/en/rest-api/security.asciidoc
  x-pack/docs/en/rest-api/security/activate-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/disable-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/enable-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/get-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/has-privileges-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/suggest-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/update-user-profile-data.asciidoc
  x-pack/docs/en/security/authentication/overview.asciidoc
  x-pack/docs/en/security/authentication/security-domain.asciidoc
  x-pack/docs/en/security/authentication/user-profile.asciidoc
Labels: >docs, :Security/Authentication, Team:Docs, Team:Security, auto-backport-and-merge, v8.2.3, v8.3.3

#88368 [8.3] Enforce max values limit only when running a script (#88295)
  docs/changelog/88295.yaml
  server/src/main/java/org/elasticsearch/script/AbstractFieldScript.java
  server/src/main/java/org/elasticsearch/script/AbstractLongFieldScript.java
  server/src/main/java/org/elasticsearch/script/CompositeFieldScript.java
  server/src/main/java/org/elasticsearch/script/DateFieldScript.java
  server/src/main/java/org/elasticsearch/script/DoubleFieldScript.java
  server/src/main/java/org/elasticsearch/script/GeoPointFieldScript.java
  server/src/main/java/org/elasticsearch/script/IpFieldScript.java
  server/src/main/java/org/elasticsearch/script/LongFieldScript.java
  server/src/main/java/org/elasticsearch/script/StringFieldScript.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanFieldScriptTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldScriptTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DoubleFieldScriptTests.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointFieldScriptTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpFieldScriptTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LongFieldScriptTests.java
  server/src/test/java/org/elasticsearch/index/mapper/StringFieldScriptTests.java
  server/src/test/java/org/elasticsearch/script/CompositeFieldScriptTests.java
  server/src/test/java/org/elasticsearch/script/field/SortedNumericDocValuesLongFieldScriptTests.java
  server/src/test/java/org/elasticsearch/script/field/SortedSetDocValuesStringFieldScriptTests.java
Labels: >bug, :Search/Mapping, backport, Team:Search, v8.3.3

#88320 Add test case for a replace shutdown
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.4.0

#88292 Autoscaling during shrink
  docs/changelog/88292.yaml
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodeFilters.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/ProactiveStorageIT.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageIT.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderServiceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierAllocationDecider.java
Labels: >bug, :Distributed/Autoscaling, Team:Distributed, v8.4.0

#88367 [8.3] Re-enable bwc tests after backport of #88336
  build.gradle
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.3.3

#88369 Use consistent map type in IndicesService
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.4.0

#88213 Port fixed version of Lucene Tessellator into ES 7.17
  docs/changelog/88213.yaml
  server/build.gradle
  server/src/main/java/org/apache/lucene/document/XLatLonShape.java
  server/src/main/java/org/apache/lucene/geo/XTessellator.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoShapeIndexer.java
  server/src/test/java/org/apache/lucene/document/XLatLonShapeTests.java
  server/src/test/java/org/apache/lucene/geo/XTessellatorTests.java
  server/src/test/java/org/elasticsearch/common/geo/GeometryIndexerTests.java
  server/src/test/resources/org/apache/lucene/geo/lucene-10470-2.geojson.gz
  server/src/test/resources/org/apache/lucene/geo/lucene-10470-3.geojson.gz
  server/src/test/resources/org/apache/lucene/geo/lucene-10470.geojson.gz
  server/src/test/resources/org/apache/lucene/geo/lucene-10470.wkt.gz
  server/src/test/resources/org/apache/lucene/geo/lucene-10563-1.geojson.gz
Labels: >bug, :Analytics/Geo, Team:Analytics, v7.17.6

#88376 Limit test to zoom 25 to avoid rounding errors
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/GeoGridAggAndQueryConsistencyIT.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.4.0

#88383 Extract utility for asserting current thread pool
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/TransportClusterStatsAction.java
  server/src/main/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhase.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinReasonService.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterService.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  server/src/main/java/org/elasticsearch/common/io/DiskIoBufferPool.java
  server/src/main/java/org/elasticsearch/index/shard/StoreRecovery.java
  server/src/main/java/org/elasticsearch/indices/recovery/plan/ShardSnapshotsService.java
  server/src/main/java/org/elasticsearch/repositories/IndexSnapshotsService.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/main/java/org/elasticsearch/transport/Transports.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichCoordinatorProxyAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/SearchableSnapshotIndexEventListener.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/BlobStoreCacheMaintenanceService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/full/CacheService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/SearchableSnapshotDirectory.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/BaseSearchableSnapshotIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/FrozenIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/MetadataCachingIndexInput.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformTask.java
Labels: :Delivery/Build, >refactoring, Team:Delivery, auto-merge, v8.4.0

#88389 Add tests for query/agg on lookup runtime fields
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/390_lookup_fields.yml
Labels: >test, :Search/Search, Team:Search, Team:Clients, auto-merge, v8.4.0

#88350 Expand local JDBC driver compatibility testing on Apple Silicon
  x-pack/plugin/sql/qa/jdbc/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.4.0, v8.3.3

#88394 [8.3] Expand local JDBC driver compatibility testing on Apple Silicon (#88350)
  x-pack/plugin/sql/qa/jdbc/build.gradle
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.3.3

#88351 Check for deprecated monitoring auth.password in cluster settings
  docs/changelog/88351.yaml
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: :Core/Infra/Core, >deprecation, Team:Core/Infra, v7.17.6

#88412 New setting to close idle connections in OIDC back-channel (#87773)
  docs/changelog/87773.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/oidc/OpenIdConnectRealmSettings.java
  x-pack/plugin/security/qa/smoke-test-all-realms/build.gradle
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
Labels: backport, v7.17.6

#88413 Ensure CreateApiKey always creates a new document
  docs/changelog/88413.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
Labels: >bug, :Security/Security, Team:Security, auto-backport-and-merge, v8.4.0, v8.3.3

#87922 fix RareClusterStateIT
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/RareClusterStateIT.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.4.0

#88314 Update CorruptedFileIT so that it passes with new allocation strategy
  server/src/internalClusterTest/java/org/elasticsearch/index/store/CorruptedFileIT.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.4.0

#87621 Make LoggedExec gradle task configuration cache compatible
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalBwcGitPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalDistributionBwcSetupPluginFuncTest.groovy
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/AntFixtureStop.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcSetupExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalBwcGitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionBwcSetupPlugin.java
  build-tools/src/integTest/groovy/org/elasticsearch/gradle/LoggedExecFuncTest.groovy
  build-tools/src/main/java/org/elasticsearch/gradle/LoggedExec.java
  build-tools/src/testFixtures/groovy/org/elasticsearch/gradle/fixtures/AbstractGradleFuncTest.groovy
  distribution/docker/build.gradle
  distribution/packages/build.gradle
  plugins/discovery-azure-classic/build.gradle
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.4.0

#88410 Fix RealmIdentifier XContent parser
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/RealmConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/RealmConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/RealmDomainTests.java
Labels: >non-issue, :Security/Security, Team:Security, v8.4.0

#88260 [Stack Monitoring] Switch cgroup memory fields to keyword
  docs/changelog/88260.yaml
  x-pack/plugin/core/src/main/resources/monitoring-es-mb.json
Labels: >bug, :Data Management/Monitoring, Team:Data Management, external-contributor, auto-backport-and-merge, Team:Infra Monitoring UI, v8.4.0, v8.3.3

#88415 [8.3] Ensure CreateApiKey always creates a new document (#88413)
  docs/changelog/88413.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
Labels: >bug, :Security/Security, backport, Team:Security, auto-merge, v8.3.3

#88426 [8.3] Clarify snapshot docs on archive indices (#88417)
  docs/reference/snapshot-restore/cluster-index-compat.asciidoc
  docs/reference/snapshot-restore/index.asciidoc
  docs/reference/snapshot-restore/snapshot-vers-compat.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, backport, Team:Distributed, Team:Docs, auto-merge, v8.3.3

#88427 [CI] Mute EnrichAdvancedSecurityIT
  x-pack/plugin/enrich/qa/rest-with-advanced-security/src/javaRestTest/java/org/elasticsearch/xpack/enrich/EnrichAdvancedSecurityIT.java
Labels: :Data Management/ILM+SLM, >test-mute, Team:Data Management, auto-merge, v7.17.6

#88431 [CI] Mute ReactiveStorageIT::testScaleWhileShrinking
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageIT.java
Labels: >test-mute, :Distributed/Autoscaling, Team:Distributed, auto-merge, v8.4.0

#88414 Remove usages of BucketCollector#getLeafCollector(LeafReaderContext)
  modules/parent-join/src/main/java/org/elasticsearch/join/aggregations/ParentJoinAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/MultiBucketCollector.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BestBucketsDeferringCollector.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BucketsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FilterByFilterAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/BestDocsDeferringCollector.java
  server/src/main/java/org/elasticsearch/search/aggregations/package-info.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationContext.java
  server/src/test/java/org/elasticsearch/search/aggregations/MultiBucketCollectorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FilterAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorTests.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.4.0

#87545 EQL: Add circuit breaker to sampling
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/assembler/ExecutionManager.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sample/SampleIterator.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/EqlTestUtils.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/sample/CircuitBreakerTests.java
Labels: >enhancement, :Query Languages/EQL, Team:QL, v8.4.0

#88362 Fix test memory leak
  server/src/main/java/org/elasticsearch/plugins/PluginsService.java
  server/src/test/java/org/elasticsearch/plugins/PluginsServiceTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/ILMImmutableStateHandlerProvider.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycle.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.4.0

#88440 Remove usages of TestGeoShapeFieldMapperPlugin from enrich module
  x-pack/plugin/enrich/build.gradle
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/BasicEnrichTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
Labels: >test, :Analytics/Geo, :Data Management/Other, Team:Data Management, Team:Analytics, v8.4.0

#88437 Don't index geo_shape field in AbstractBuilderTestCase
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/RankFeatureQueryBuilderTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/aggregations/ChildrenTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/aggregations/ParentTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/HasChildQueryBuilderTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/HasParentQueryBuilderTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/query/ParentIdQueryBuilderTests.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolateQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/GeoBoundingBoxQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/GeoDistanceQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/GeoShapeQueryBuilderGeoShapeTests.java
  server/src/test/java/org/elasticsearch/index/query/TermsQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/TermsSetQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/index/query/functionscore/FunctionScoreQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/vectors/KnnVectorQueryBuilderTests.java
  test/external-modules/delayed-aggs/src/test/java/org/elasticsearch/test/delayedshard/DelayedShardAggregationBuilderTests.java
  test/external-modules/error-query/src/test/java/org/elasticsearch/test/errorquery/ErrorQueryBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  x-pack/plugin/search-business-rules/src/test/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/GeoGridQueryBuilderTests.java
Labels: >test, :Analytics/Geo, :Search/Search, Team:Search, Team:Analytics, v8.4.0

#88418 Reduce map lookups
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/NodeReplacementAllocationDecider.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.4.0

#88421 Fix merge
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/common/util/Maps.java
Labels: :Distributed/Allocation, Team:Distributed

#88447 Make ClusterInfo use immutable maps in all cases
  server/src/main/java/org/elasticsearch/cluster/ClusterInfo.java
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdMonitorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderUnitTests.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/FrozenStorageDeciderServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderServiceTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.4.0

#88446 Correct some typos/mistakes in comments/docs
  server/src/main/java/org/elasticsearch/action/support/ListenableActionFuture.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/main/java/org/elasticsearch/snapshots/package-info.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.4.0

#88420 TSDB: downsampling cache histoTimestamp to reduce rounding cost
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/RollupShardIndexer.java
Labels: >non-issue, :Analytics/Rollup, Team:Analytics, external-contributor, v8.4.0

#88453 Pass IndexMetadata to AllocationDecider.canRemain
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/AllocationDecider.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/AllocationDeciders.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/AwarenessAllocationDecider.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDecider.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDecider.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/NodeReplacementAllocationDecider.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/NodeShutdownAllocationDecider.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/ShardsLimitAllocationDecider.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/RandomAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/AllocationDecidersTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderUnitTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/NodeReplacementAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/NodeShutdownAllocationDeciderTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderDecisionTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderServiceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierAllocationDecider.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierAllocationDeciderTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/decider/DedicatedFrozenNodeAllocationDecider.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/decider/HasFrozenCacheAllocationDecider.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusActionTests.java
Labels: :Distributed/Allocation, >refactoring, Team:Distributed, v8.4.0

#88424 Polish reworked LoggedExec task
  build-tools/src/integTest/groovy/org/elasticsearch/gradle/LoggedExecFuncTest.groovy
  build-tools/src/main/java/org/elasticsearch/gradle/LoggedExec.java
Labels: >enhancement, :Delivery/Build, Team:Delivery, auto-merge, v8.4.0

#88276 Updatable API keys - logging audit trail event
  docs/changelog/88276.yaml
  x-pack/docs/en/security/auditing/event-types.asciidoc
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
Labels: >enhancement, :Security/Audit, Team:Security, v8.4.0

#88457 [SearchSourceBuilderTests testNegativeSizeErrors] Bound random negative size test
  server/src/test/java/org/elasticsearch/search/builder/SearchSourceBuilderTests.java
Labels: :Search/Search, >test-failure, Team:Search, auto-backport, v8.4.0, v8.3.3

#88456 Audit API key ID when create or grant API keys
  docs/changelog/88456.yaml
  x-pack/docs/en/security/auditing/event-types.asciidoc
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
Labels: >enhancement, :Security/Audit, Team:Security, v8.4.0

#88416 TSDB: RollupShardIndexer improve logger
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/v2/RollupShardIndexer.java
Labels: >non-issue, :Analytics/Rollup, Team:Analytics, external-contributor, v8.4.0

#88460 Stop registering TestGeoShapeFieldMapperPlugin in ESIntegTestCase
  modules/legacy-geo/src/internalClusterTest/java/org/elasticsearch/legacygeo/search/GeoBoundingBoxQueryLegacyGeoShapeIT.java
  modules/legacy-geo/src/internalClusterTest/java/org/elasticsearch/legacygeo/search/LegacyGeoShapeIT.java
  modules/percolator/src/internalClusterTest/java/org/elasticsearch/percolator/PercolatorQuerySearchIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/diskusage/IndexDiskUsageAnalyzerIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoBoundingBoxQueryGeoPointIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoBoundingBoxQueryGeoShapeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoShapeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/query/QueryStringIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/query/SimpleQueryStringIT.java
  server/src/test/java/org/elasticsearch/search/geo/GeoPointShapeQueryTests.java
  server/src/test/java/org/elasticsearch/search/geo/GeoShapeQueryTests.java
  test/framework/src/main/java/org/elasticsearch/search/geo/GeoPointShapeQueryTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/DocumentLevelSecurityTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/FieldLevelSecurityTests.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/GeoBoundingBoxQueryGeoShapeWithDocValuesIT.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/GeoBoundingBoxQueryLegacyGeoShapeWithDocValuesIT.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/GeoGridAggAndQueryConsistencyIT.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/GeoShapeWithDocValuesIT.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/LegacyGeoShapeWithDocValuesIT.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.4.0

#86542 Corrected an incomplete sentence.
  docs/reference/aggregations/metrics/avg-aggregation.asciidoc
Labels: >docs, :Analytics/Aggregations, Team:Docs, Team:Analytics, external-contributor, auto-backport-and-merge, v8.4.0, v8.2.4, v8.3.3

#88472 [8.2] Corrected an incomplete sentence. (#86542)
  docs/reference/aggregations/metrics/avg-aggregation.asciidoc
Labels: >docs, :Analytics/Aggregations, backport, Team:Docs, Team:Analytics, external-contributor, auto-merge, v8.2.4

#88346 Updatable API keys - noop check
  docs/changelog/88346.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/RealmDomain.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationTestHelper.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/apikey/ApiKeyRestIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/api_key/30_update.yml
Labels: >enhancement, :Security/Security, Team:Security, Team:Clients, v8.4.0

#88454 unmute test
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz/14_cat_indices.yml
Labels: >non-issue, >test, :Security/Authorization, Team:Security, v8.4.0

#88257 INFO logging of snapshot restore and completion
  docs/changelog/88257.yaml
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterStateDiffIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/RestoreSnapshotIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/restore/RestoreSnapshotRequest.java
  server/src/main/java/org/elasticsearch/cluster/RestoreInProgress.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/restore/RestoreSnapshotRequestTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ThrottlingAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/RestoreInProgressAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/serialization/ClusterSerializationTests.java
  server/src/test/java/org/elasticsearch/snapshots/InternalSnapshotsInfoServiceTests.java
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrRetentionLeaseIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/TransportMountSearchableSnapshotAction.java
Labels: >enhancement, :Distributed/Snapshot/Restore, Team:Distributed, Supportability, v8.4.0

#88468 [8.3] Bound random negative size test in SearchSourceBuilderTests#testNegativeSizeErrors (#88457)
  server/src/test/java/org/elasticsearch/search/builder/SearchSourceBuilderTests.java
Labels: :Search/Search, >test-failure, backport, Team:Search, external-contributor, v8.3.3

#88452 Fix ReactiveStorageDeciderServiceTests testNodeSizeForDataBelowLowWatermark
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
Labels: >test, :Distributed/Autoscaling, Team:Distributed, v8.4.0

#88374 [8.2] [DOCS] Add feature flag admonition for user profiles (#88356)
  x-pack/docs/en/rest-api/security.asciidoc
  x-pack/docs/en/rest-api/security/activate-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/disable-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/enable-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/get-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/suggest-user-profile.asciidoc
  x-pack/docs/en/rest-api/security/update-user-profile-data.asciidoc
  x-pack/docs/en/security/authentication/overview.asciidoc
  x-pack/docs/en/security/authentication/security-domain.asciidoc
  x-pack/docs/en/security/authentication/user-profile.asciidoc
Labels: backport, v8.2.4

#88476 Avoid noisy exceptions on data nodes when aborting snapshots
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.4.0

#88398 Track the count of failed invocations since last successful policy snapshot
  docs/changelog/88398.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicyMetadata.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicyMetadataTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/slm/SnapshotLifecycleTask.java
Labels: >enhancement, :Data Management/ILM+SLM, Team:Data Management, v8.4.0

#88480 [CI] Mute ReactiveStorageIT#testScaleDuringSplitOrClone
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageIT.java
Labels: >test-mute, :Distributed/Autoscaling, Team:Distributed, auto-merge, v8.4.0

#88477 Enable TRACE Logging for test and increase timeout
  server/src/test/java/org/elasticsearch/gateway/GatewayMetaStatePersistedStateTests.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, v8.4.0

#88488 Move runtime fields script classes out of scripting fields api package
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/script/SortedNumericDocValuesLongFieldScript.java
  server/src/main/java/org/elasticsearch/script/SortedSetDocValuesStringFieldScript.java
  server/src/test/java/org/elasticsearch/script/field/SortedNumericDocValuesLongFieldScriptTests.java
  server/src/test/java/org/elasticsearch/script/field/SortedSetDocValuesStringFieldScriptTests.java
Labels: :Core/Infra/Scripting, >refactoring, Team:Core/Infra, v8.4.0

#88401 Ingest: Start separating Metadata from IngestSourceAndMetadata
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/DotExpanderProcessorTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/RenameProcessorTests.java
  server/src/internalClusterTest/java/org/elasticsearch/ingest/IngestClientIT.java
  server/src/main/java/org/elasticsearch/action/ingest/WriteableIngestDocument.java
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/ingest/IngestSourceAndMetadata.java
  server/src/main/java/org/elasticsearch/script/Metadata.java
  server/src/test/java/org/elasticsearch/action/ingest/SimulateExecutionServiceTests.java
  server/src/test/java/org/elasticsearch/action/ingest/SimulatePipelineRequestParsingTests.java
  server/src/test/java/org/elasticsearch/action/ingest/WriteableIngestDocumentTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestSourceAndMetadataTests.java
  server/src/test/java/org/elasticsearch/script/MetadataTests.java
  test/framework/src/main/java/org/elasticsearch/ingest/TestIngestDocument.java
  test/framework/src/main/java/org/elasticsearch/script/TestMetadata.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/results/InferenceResultsTestCase.java
Labels: :Core/Infra/Scripting, :Data Management/Ingest Node, >refactoring, Team:Core/Infra, Team:Data Management, v8.4.0

#88403 Make DiffableUtils.diff implementation agnostic
  server/src/main/java/org/elasticsearch/cluster/DiffableUtils.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ImmutableStateMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/test/java/org/elasticsearch/cluster/serialization/DiffableTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.4.0

#88432 Simplify map copying
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNode.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/common/util/Maps.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.4.0

#88385 Recalculate balance using up-to date weights when THROTTLE
  docs/changelog/88385.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocatorTests.java
Labels: >bug, :Distributed/Allocation, Team:Distributed, v8.4.0

#88217 Add 'filter' to 'knn' search section
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/40_knn_search.yml
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/vectors/KnnSearchBuilder.java
  server/src/main/java/org/elasticsearch/search/vectors/KnnVectorQueryBuilder.java
  server/src/test/java/org/elasticsearch/action/search/KnnSearchSingleNodeTests.java
  server/src/test/java/org/elasticsearch/search/vectors/KnnSearchBuilderTests.java
Labels: >non-issue, :Search/Search, Team:Search, Team:Clients, v8.4.0

#88497 Fix lost optimization from merge conflict in building metadata from diff
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.4.0

#88498 [ML] Add exception detail to auditor failure to install template
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/common/notifications/AbstractAuditor.java
Labels: >non-issue, :ml, Team:ML, v8.4.0, v7.17.6, v8.3.3

#88378 [ML] indicate overall deployment failure if all node routes are failed
  docs/changelog/88378.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/AssignmentState.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/AssignmentStats.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDeploymentStatsAction.java
Labels: >enhancement, :ml, Team:ML, test-full-bwc, v8.4.0

#88492 Refactor json parsing in immutable handlers
  server/src/main/java/org/elasticsearch/common/util/Maps.java
  server/src/main/java/org/elasticsearch/immutablestate/ImmutableClusterStateHandler.java
  server/src/main/java/org/elasticsearch/immutablestate/action/ImmutableClusterSettingsAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/settings/ClusterUpdateSettingsRequestTests.java
  server/src/test/java/org/elasticsearch/immutablestate/ImmutableClusterStateHandlerTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/ImmutableLifecycleAction.java
  x-pack/plugin/ilm/src/main/resources/META-INF/services/org.elasticsearch.immutablestate.ImmutableClusterStateHandlerProvider
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/ImmutableILMStateControllerTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.4.0

#87709 [ML] performance improvement for precompiled normalization
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/PrecompiledCharMapNormalizer.java
Labels: >non-issue, :ml, Team:ML, v8.4.0

#88509 [8.3] [ML] Add exception detail to auditor failure to install template
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/common/notifications/AbstractAuditor.java
Labels: backport, auto-merge, v8.3.3

#88344 Speed up creating new IndexMetaDataGenerations without removed snapshots
  docs/changelog/88344.yaml
  server/src/main/java/org/elasticsearch/repositories/IndexMetaDataGenerations.java
Labels: >enhancement, :Distributed/Snapshot/Restore, Team:Distributed, v8.4.0

#88500 [DOCS] Updates infer trained model API docs with inference_config
  docs/reference/ml/trained-models/apis/infer-trained-model.asciidoc
  docs/reference/ml/trained-models/apis/put-trained-models.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport, v8.4.0, v8.3.3

#88512 Mute IngestCommonClientYamlTestSuiteIT test
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/190_script_processor.yml
Labels: :Data Management/Ingest Node, >test-mute, Team:Data Management, auto-merge, v8.4.0

#88467 [7.17] Adjust date conversion for execution context in watcher compare condition
  docs/changelog/88467.yaml
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/condition/LenientCompare.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/condition/CompareConditionTests.java
Labels: >bug, :Core/Infra/Scripting, :Data Management/Watcher, Team:Core/Infra, Team:Data Management, external-contributor, v7.17.6

#88481 Rename immutable cluster state to reserved cluster state
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/TransportClusterUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/action/support/master/TransportMasterNodeAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ReservedStateErrorMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ReservedStateHandlerMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ReservedStateMetadata.java
  server/src/main/java/org/elasticsearch/immutablestate/ImmutableClusterStateHandlerProvider.java
  server/src/main/java/org/elasticsearch/reservedstate/ReservedClusterStateHandler.java
  server/src/main/java/org/elasticsearch/reservedstate/ReservedClusterStateHandlerProvider.java
  server/src/main/java/org/elasticsearch/reservedstate/TransformState.java
  server/src/main/java/org/elasticsearch/reservedstate/action/ReservedClusterSettingsAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/settings/ClusterUpdateSettingsRequestTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ReservedStateMetadataTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ToAndFromJsonMetadataTests.java
  server/src/test/java/org/elasticsearch/reservedstate/ReservedClusterStateHandlerTests.java
  server/src/test/java/org/elasticsearch/reservedstate/action/ReservedClusterSettingsActionTests.java
  x-pack/plugin/ilm/src/main/java/module-info.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/ILMImmutableStateHandlerProvider.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycle.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/ReservedLifecycleStateHandlerProvider.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/ReservedLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportDeleteLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportPutLifecycleAction.java
  x-pack/plugin/ilm/src/main/resources/META-INF/services/org.elasticsearch.reservedstate.ReservedClusterStateHandlerProvider
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/ReservedLifecycleStateControllerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/TransportDeleteLifecycleActionTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/action/TransportPutLifecycleActionTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.4.0

#88458 Script: Ingest Metadata and CtxMap
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/RenameProcessorTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/ScriptProcessorFactoryTests.java
  server/src/main/java/org/elasticsearch/ingest/IngestCtxMap.java
  server/src/main/java/org/elasticsearch/ingest/IngestDocMetadata.java
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
  server/src/main/java/org/elasticsearch/script/CtxMap.java
  server/src/main/java/org/elasticsearch/script/Metadata.java
  server/src/test/java/org/elasticsearch/ingest/IngestCtxMapTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
  server/src/test/java/org/elasticsearch/script/MetadataTests.java
  test/framework/src/main/java/org/elasticsearch/ingest/TestIngestCtxMetadata.java
  test/framework/src/main/java/org/elasticsearch/ingest/TestIngestDocument.java
  test/framework/src/main/java/org/elasticsearch/script/TestMetadata.java
Labels: :Core/Infra/Scripting, :Data Management/Ingest Node, >refactoring, Team:Core/Infra, Team:Data Management, v8.4.0

#88404 Simplify azure discovery installation docs
  docs/plugins/discovery-azure-classic.asciidoc
Labels: >docs, :Distributed/Discovery-Plugins, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.4.0, v8.2.3, v8.3.3

#86105 Reword the watcher 'always' and 'never' condition docs
  x-pack/docs/en/watcher/condition.asciidoc
  x-pack/docs/en/watcher/condition/always.asciidoc
  x-pack/docs/en/watcher/condition/never.asciidoc
Labels: >docs, :Data Management/Watcher, Team:Data Management, Team:Docs, external-contributor, auto-backport-and-merge, v8.4.0, v8.3.3

#88451 Add CCx 2.0 feature flag
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
Labels: >non-issue, :Security/Authentication, :Security/Authorization, Team:Security, v8.4.0

#88494 Promote usage of Subjects in Authentication class
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Subject.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationSerializationTests.java
Labels: >refactoring, :Security/Authentication, Team:Security, auto-merge, v8.4.0

#88493 #88469 Added more clear english sentence for task api detailed param
  docs/reference/cluster/tasks.asciidoc
Labels: >docs, :Distributed/Task Management, Team:Distributed, Team:Docs, external-contributor, v8.4.0

#88149 Avoid loadAuthorizedIndices for requests with concrete names (#81237)
  docs/changelog/81237.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
Labels: backport, auto-merge, v7.17.6

#88502 Fix passing positional args to ES in Docker
  distribution/docker/src/docker/bin/docker-entrypoint.sh
  docs/changelog/88502.yaml
  qa/os/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
  qa/os/src/test/java/org/elasticsearch/packaging/util/docker/DockerRun.java
Labels: >bug, :Delivery/Packaging, Team:Delivery, v8.4.0, v8.3.3

#88507 Set metadata on initial request in API key noop test
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
Labels: >test, :Security/Security, Team:Security, v8.4.0

#88506 Avoid needless index metadata builders during reroute
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/IndexMetadataUpdater.java
  server/src/main/java/org/elasticsearch/common/util/Maps.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.4.0

#88064 Fix typo in TransportForceMergeAction and TransportClearIndicesCacheA…
  server/src/main/java/org/elasticsearch/action/admin/indices/cache/clear/TransportClearIndicesCacheAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/forcemerge/TransportForceMergeAction.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, external-contributor, v8.4.0

#88531 [Transform] Finetune Schedule to be less noisy on retry and retry slower
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/notifications/TransformAuditMessage.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformContext.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/scheduling/TransformScheduledTask.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/notifications/MockTransformAuditor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformContextTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerFailureHandlingTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/scheduling/TransformScheduledTaskTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/scheduling/TransformSchedulerTests.java
Labels: >non-issue, :ml/Transform, Team:ML, v8.4.0

#88391 Add troubleshooting guide for corrupt repository
  docs/reference/images/register_repo.png
  docs/reference/images/register_repo_details.png
  docs/reference/images/repo_details.png
  docs/reference/images/repositories.png
  docs/reference/tab-widgets/troubleshooting/snapshot/corrupt-repository-widget.asciidoc
  docs/reference/tab-widgets/troubleshooting/snapshot/corrupt-repository.asciidoc
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/snapshot/add-repository.asciidoc
Labels: >docs, Team:Data Management, Team:Docs, auto-backport-and-merge, :Data Management/Health, v8.4.0, v8.3.3

#88543 [8.3] Add troubleshooting guide for corrupt repository (#88391)
  docs/reference/images/register_repo.png
  docs/reference/images/register_repo_details.png
  docs/reference/images/repo_details.png
  docs/reference/images/repositories.png
  docs/reference/tab-widgets/troubleshooting/snapshot/corrupt-repository-widget.asciidoc
  docs/reference/tab-widgets/troubleshooting/snapshot/corrupt-repository.asciidoc
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/snapshot/add-repository.asciidoc
Labels: >docs, backport, Team:Data Management, Team:Docs, auto-merge, :Data Management/Health, v8.3.3

#88545 Remove reference of yamlRestTestV7CompatTest in 7x
  plugins/ingest-attachment/build.gradle
Labels: :Delivery/Build, >test-failure, Team:Delivery, auto-merge, v7.17.6

#88546 [DOCS] Improve description for task api detailed param
  docs/reference/cluster/tasks.asciidoc
Labels: >docs, Team:Docs, v8.3.3

#88490 Add test execution guide in yamlRestTest asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/README.asciidoc
Labels: >docs, :Delivery/Build, Team:Docs, Team:Delivery, external-contributor, v8.4.0
