Repository elastic/elasticsearch, pull requests merged in 2023-07, with the labels that each got.

#97296 Update plugin cli/scanner to ASM 9.5
  build-tools-internal/build.gradle
  distribution/tools/plugin-cli/build.gradle
  gradle/verification-metadata.xml
  libs/plugin-scanner/build.gradle
Labels: :Core/Infra/Plugins, >refactoring, Team:Core/Infra, v8.10.0

#97301 Fix Netty leak on event loop shutdown
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4TcpChannel.java
Labels: >test, :Distributed/Network, Team:Distributed, v8.10.0

#96778 Adjust scope to clear API key cache
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestClearApiKeyCacheAction.java
Labels: >non-issue, :Security/Security, Team:Security, auto-merge, v8.10.0

#97298 Remove redundant Datastream.TimestampField class
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/action/DataStreamsStatsTransportAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/resolve/ResolveIndexAction.java
  server/src/main/java/org/elasticsearch/action/datastreams/GetDataStreamAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplate.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/common/lucene/uid/PerThreadIDVersionAndSeqNoLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/indices/TimestampFieldMapperService.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/TimeSeriesIndexSearcher.java
  server/src/test/java/org/elasticsearch/action/admin/indices/create/AutoCreateActionTests.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ToAndFromJsonMetadataTests.java
  server/src/test/java/org/elasticsearch/common/lucene/uid/VersionLookupTests.java
  server/src/test/java/org/elasticsearch/common/lucene/uid/VersionsTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/TimeSeriesCancellationTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/TimeSeriesIndexSearcherTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/metadata/DataStreamTestHelper.java
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowActionTests.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/frozen/FrozenIndexIT.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/frozen/FrozenIndexTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsCanMatchOnCoordinatorIntegTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/GeoLineAggregationBuilder.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.10.0

#97251 Chunk the GET _ilm/policy response
  docs/changelog/97251.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/action/GetLifecycleAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/action/GetLifecycleResponseTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/RestGetLifecycleAction.java
Labels: >enhancement, :Data Management/ILM+SLM, Team:Data Management, auto-backport-and-merge, v8.10.0, v8.9.1

#97316 [8.9] Chunk the GET _ilm/policy response (#97251)
  docs/changelog/97251.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/action/GetLifecycleAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/action/GetLifecycleResponseTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/RestGetLifecycleAction.java
Labels: >enhancement, :Data Management/ILM+SLM, backport, Team:Data Management, auto-merge, v8.9.1

#96930 Include more downsampling task statistics
  docs/changelog/96930.yaml
  server/src/main/java/org/elasticsearch/TransportVersion.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/downsample/DownsampleIndexerAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupAfterBulkInfo.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupBeforeBulkInfo.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupBulkInfo.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupBulkStats.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupShardIndexerStatus.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupShardStatus.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/action/RollupShardTask.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/rollup/action/RollupShardStatusSerializingTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/RollupShardIndexer.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/TransportDownsampleAction.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/downsample/DownsampleActionSingleNodeTests.java
Labels: >enhancement, Team:Analytics, :Analytics/Downsampling, v8.10.0

#97281 Improve iterating over many field producers during downsample operation
  docs/changelog/97281.yaml
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/RollupShardIndexer.java
Labels: >enhancement, Team:Analytics, :Analytics/Downsampling, v8.10.0

#97312 [Transform] Allow passing additional settings during transform internal index creation.
  x-pack/plugin/transform/src/internalClusterTest/java/org/elasticsearch/xpack/transform/persistence/TransformConfigManagerTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndex.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/persistence/TransformInternalIndexTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: >non-issue, :ml/Transform, Team:ML, v8.10.0

#96689 Use ProfileCollectorManager in DfsPhase
  docs/changelog/96689.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/profile/dfs/DfsProfilerIT.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsPhase.java
  server/src/main/java/org/elasticsearch/search/profile/dfs/DfsProfiler.java
  server/src/main/java/org/elasticsearch/search/profile/query/ProfileCollectorManager.java
  server/src/test/java/org/elasticsearch/search/dfs/DfsPhaseTests.java
  server/src/test/java/org/elasticsearch/search/profile/query/ProfileCollectorManagerTests.java
Labels: >enhancement, :Search/Search, Team:Search, v8.10.0

#97287 Muting complex async-search cancel-via-search-timeout test that fails due to IT infra flakiness
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/CrossClusterAsyncSearchIT.java
Labels: :Search/Search, >test-mute, Team:Search, v8.10.0

#97282 Less jank in after-key parsing for unmapped fields (#86359)
  docs/changelog/97282.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/GlobalOrdinalValuesSource.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
Labels: >bug, Team:Analytics, :Analytics/CompositeAggs, v7.17.12

#97290 Handle failure in TransportUpdateAction#handleUpdateFailureWithRetry
  docs/changelog/97290.yaml
  server/src/main/java/org/elasticsearch/action/update/TransportUpdateAction.java
Labels: >bug, :Distributed/CRUD, Team:Distributed, auto-backport-and-merge, v8.10.0, v8.9.1, v7.17.12

#97135 [bugfix] Ensures that we're keeping up with cluster settings in HealthMetadataService
  server/src/internalClusterTest/java/org/elasticsearch/health/HealthMetadataServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceIT.java
  server/src/main/java/org/elasticsearch/health/metadata/HealthMetadata.java
  server/src/main/java/org/elasticsearch/health/metadata/HealthMetadataService.java
  server/src/main/java/org/elasticsearch/node/Node.java
Labels: >refactoring, Team:Data Management, auto-backport-and-merge, :Data Management/Health, v8.9.0, v8.10.0

#97325 [8.9] Handle failure in TransportUpdateAction#handleUpdateFailureWithRetry (#97290)
  docs/changelog/97290.yaml
  server/src/main/java/org/elasticsearch/action/update/TransportUpdateAction.java
Labels: >bug, :Distributed/CRUD, backport, Team:Distributed, auto-merge, v8.9.1

#97324 Fix DataStreamsClientYamlTestSuiteIT test {p0=data_stream/250_logs_no_subobjects/Test flattened document with subobjects-false}
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/250_logs_no_subobjects.yml
Labels: >test-failure, :Data Management/Data streams, Team:Data Management, v8.10.0

#97330 [7.17] Incorrect name for sort field (#97328)
  docs/reference/aggregations/metrics/geoline-aggregation.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v7.17.12

#97329 [8.7] Incorrect name for sort field (#97328)
  docs/reference/aggregations/metrics/geoline-aggregation.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.7.2

#97327 [8.9] [bugfix] Ensures that we're keeping up with cluster settings in HealthMetadataService (#97135)
  server/src/internalClusterTest/java/org/elasticsearch/health/HealthMetadataServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceIT.java
  server/src/main/java/org/elasticsearch/health/metadata/HealthMetadata.java
  server/src/main/java/org/elasticsearch/health/metadata/HealthMetadataService.java
  server/src/main/java/org/elasticsearch/node/Node.java
Labels: >refactoring, backport, Team:Data Management, auto-merge, :Data Management/Health, v8.9.1

#97326 [7.17] Handle failure in TransportUpdateAction#handleUpdateFailureWithRetry (#97290)
  docs/changelog/97290.yaml
  server/src/main/java/org/elasticsearch/action/update/TransportUpdateAction.java
Labels: >bug, :Distributed/CRUD, backport, Team:Distributed, auto-merge, v7.17.12

#97334 Add synonyms feature for test clusters
  rest-api-spec/build.gradle
Labels: >test, :Search/Analysis, Team:Search, v8.10.0

#97336 Fix delay timeout in MockTransportService
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
Labels: >test, :Distributed/Network, Team:Distributed, auto-merge, auto-backport-and-merge, v8.10.0, v8.9.1, v7.17.12

#97337 [8.9] Fix delay timeout in MockTransportService (#97336)
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
Labels: >test, :Distributed/Network, backport, Team:Distributed, auto-merge, v8.9.1

#97338 [7.17] Fix delay timeout in MockTransportService (#97336)
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
Labels: >test, :Distributed/Network, backport, Team:Distributed, auto-merge, v7.17.12

#97128 Fail shape queries with linear ring geometries at building time
  server/src/main/java/org/elasticsearch/index/query/AbstractGeometryQueryBuilder.java
  test/framework/src/main/java/org/elasticsearch/search/geo/BasePointShapeQueryTestCase.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/ShapeQueryOverPointTests.java
Labels: >non-issue, :Analytics/Geo, Team:Analytics, v8.10.0

#97310 Fix comment on (Serverless) Scope.INTERNAL
  server/src/main/java/org/elasticsearch/rest/Scope.java
Labels: >non-issue, :Core/Infra/REST API, Team:Core/Infra, auto-merge, v8.10.0

#97341 [Profiling] Wait for ILM policies to be created
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/ProfilingIndexManager.java
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/ProfilingIndexTemplateRegistry.java
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/TransportGetStatusAction.java
  x-pack/plugin/profiler/src/test/java/org/elasticsearch/xpack/profiler/ProfilingIndexManagerTests.java
Labels: >non-issue, auto-backport-and-merge, v8.9.0, :UniversalProfiling/Application, Team:Universal Profiling, v8.10.0

#97342 [8.9] [Profiling] Wait for ILM policies to be created (#97341)
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/ProfilingIndexManager.java
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/ProfilingIndexTemplateRegistry.java
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/TransportGetStatusAction.java
  x-pack/plugin/profiler/src/test/java/org/elasticsearch/xpack/profiler/ProfilingIndexManagerTests.java
Labels: >non-issue, backport, auto-merge, :UniversalProfiling/Application, Team:Universal Profiling, v8.9.1

#97315 Move data stream java rest tests from legacy to internal.
  modules/data-streams/build.gradle
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/AutoCreateDataStreamIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/DataStreamUpgradeRestIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/DataStreamsRestIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/DisabledSecurityDataStreamTestCase.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/TsdbDataStreamRestIT.java
Labels: >refactoring, :Data Management/Data streams, Team:Data Management, v8.10.0

#97278 Fix reused/recovered bytes for files that are recovered from cache
  docs/changelog/97278.yaml
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/SearchableSnapshotDirectory.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-backport-and-merge, v8.10.0, v8.9.1, v8.8.3

#97333 Wrap immediate refresh callback
  server/src/main/java/org/elasticsearch/action/support/replication/PostWriteRefresh.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, auto-merge, v8.10.0

#97348 [8.8] Fix reused/recovered bytes for files that are recovered from cache (#97278)
  docs/changelog/97278.yaml
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/SearchableSnapshotDirectory.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.8.3

#97347 [8.9] Fix reused/recovered bytes for files that are recovered from cache (#97278)
  docs/changelog/97278.yaml
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/SearchableSnapshotDirectory.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.9.1

#97349 Remove service account trace log of bearer tokens
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/service/ServiceAccountToken.java
Labels: >non-issue, :Security/Security, Team:Security, v8.10.0

#97321 Increase blob container max register content length
  server/src/main/java/org/elasticsearch/common/blobstore/support/BlobContainerUtils.java
  server/src/test/java/org/elasticsearch/common/blobstore/fs/FsBlobContainerTests.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.10.0

#97277 Remove redundant read of the data stream write index
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/DataLifecycleService.java
Labels: >refactoring, :Data Management/Data streams, Team:Data Management, auto-merge, v8.10.0

#97226 Migrate Snapshot repository version to IndexVersion
  modules/repository-s3/src/internalClusterTest/java/org/elasticsearch/repositories/s3/S3BlobStoreRepositoryTests.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java
  qa/repository-multi-version/src/test/java/org/elasticsearch/upgrades/MultiVersionRepositoryAccessIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterStateDiffIT.java
  server/src/internalClusterTest/java/org/elasticsearch/repositories/IndexSnapshotsServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CorruptedBlobStoreRepositoryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/RestoreSnapshotIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/cleanup/TransportCleanupRepositoryAction.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/repositories/FilterRepository.java
  server/src/main/java/org/elasticsearch/repositories/FinalizeSnapshotContext.java
  server/src/main/java/org/elasticsearch/repositories/InvalidRepository.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/repositories/SnapshotShardContext.java
  server/src/main/java/org/elasticsearch/repositories/UnknownTypeRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/cluster/ClusterSnapshotStatsTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDeleteIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoryDataTests.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryRestoreTests.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/BlobStoreRepositoryTests.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/ShardSnapshotTaskRunnerTests.java
  server/src/test/java/org/elasticsearch/repositories/fs/FsRepositoryTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsInProgressSerializationTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/RestoreOnlyRepository.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/snapshots/sourceonly/SourceOnlySnapshotShardTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/store/SearchableSnapshotDirectoryTests.java
Labels: :Distributed/Snapshot/Restore, :Core/Infra/Core, >refactoring, Team:Core/Infra, Team:Distributed, v8.10.0

#97319 Migrate analyzer caches to IndexVersion
  docs/changelog/97319.yaml
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonAnalysisPlugin.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/analysis/PreBuiltAnalyzerIntegrationIT.java
  server/src/main/java/org/elasticsearch/index/analysis/PreBuiltAnalyzerProviderFactory.java
  server/src/main/java/org/elasticsearch/index/analysis/PreConfiguredAnalysisComponent.java
  server/src/main/java/org/elasticsearch/index/analysis/PreConfiguredCharFilter.java
  server/src/main/java/org/elasticsearch/index/analysis/PreConfiguredTokenFilter.java
  server/src/main/java/org/elasticsearch/index/analysis/PreConfiguredTokenizer.java
  server/src/main/java/org/elasticsearch/indices/analysis/AnalysisModule.java
  server/src/main/java/org/elasticsearch/indices/analysis/PreBuiltAnalyzers.java
  server/src/main/java/org/elasticsearch/indices/analysis/PreBuiltCacheFactory.java
  server/src/test/java/org/elasticsearch/index/analysis/PreBuiltAnalyzerTests.java
  server/src/test/java/org/elasticsearch/index/analysis/PreConfiguredTokenFilterTests.java
  server/src/test/java/org/elasticsearch/indices/analysis/AnalysisModuleTests.java
Labels: release highlight, :Search/Analysis, :Core/Infra/Core, >refactoring, Team:Core/Infra, Team:Search, v8.10.0

#97308 add match word on the explanation for allocation explain
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/FilterAllocationDecider.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, external-contributor, v8.10.0

#97332 Fix edge case for active flag for flush on idle
  docs/changelog/97332.yaml
  server/src/internalClusterTest/java/org/elasticsearch/indices/flush/FlushIT.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
Labels: >enhancement, :Distributed/Engine, Team:Distributed, v8.10.0

#97353 Initialise ES logging in CLI
  distribution/tools/cli-launcher/src/main/java/org/elasticsearch/launcher/CliToolLauncher.java
  docs/changelog/97353.yaml
  server/src/main/java/org/elasticsearch/common/logging/LogConfigurator.java
Labels: >bug, blocker, Team:Core/Infra, :Core/Infra/CLI, auto-backport-and-merge, v8.9.0, v8.10.0, v8.9.1

#97354 [ML] Fix WordPiece tokenization where stripping accents results in an empty string
  docs/changelog/97354.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BasicTokenFilter.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BertTokenizerTests.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.9.0, v8.10.0

#97366 [8.9] Initialise ES logging in CLI (#97353)
  distribution/tools/cli-launcher/src/main/java/org/elasticsearch/launcher/CliToolLauncher.java
  docs/changelog/97353.yaml
  server/src/main/java/org/elasticsearch/common/logging/LogConfigurator.java
Labels: >bug, blocker, backport, Team:Core/Infra, :Core/Infra/CLI, auto-merge, v8.9.1

#97367 [8.9] [ML] Fix WordPiece tokenization where stripping accents results in an empty string (#97354)
  docs/changelog/97354.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BasicTokenFilter.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/BertTokenizerTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.9.1

#97365 Migrate geoshape tests to IndexVersion
  modules/legacy-geo/src/internalClusterTest/java/org/elasticsearch/legacygeo/search/LegacyGeoShapeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoShapeIT.java
  test/framework/src/main/java/org/elasticsearch/search/geo/BaseShapeIntegTestCase.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/CartesianShapeIT.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/GeoShapeWithDocValuesIT.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/LegacyGeoShapeWithDocValuesIT.java
Labels: >test, :Analytics/Geo, :Core/Infra/Core, >refactoring, Team:Core/Infra, Team:Analytics, v8.10.0

#97346 [DOCS] Add note about Kibana warning in customizing ILM policy tutorial
  docs/reference/ilm/example-index-lifecycle-policy.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.10.0, v8.9.1, v8.8.3

#97383 [8.9] [DOCS] Add note about Kibana warning in ILM tutorial (#97346)
  docs/reference/ilm/example-index-lifecycle-policy.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.9.1

#97384 [8.8] [DOCS] Add note about Kibana warning in ILM tutorial (#97346)
  docs/reference/ilm/example-index-lifecycle-policy.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.8.3

#87674 Mark `apm_user` for removal in "a future version"
  build-tools-internal/src/main/resources/changelog-schema.json
  docs/changelog/87674.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
Labels: >deprecation, :Security/Authorization, Team:Security, external-contributor, v8.10.0

#97385 [8.9.1] Update plugin cli/scanner to ASM 9.5
  build-tools-internal/build.gradle
  distribution/tools/plugin-cli/build.gradle
  gradle/verification-metadata.xml
  libs/plugin-scanner/build.gradle
Labels: :Core/Infra/Plugins, >refactoring, backport, Team:Core/Infra, auto-merge, v8.9.1

#97344 Change MetricFieldProducer#metrics field type from list to array
  docs/changelog/97344.yaml
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/AggregateMetricFieldValueFetcher.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/MetricFieldProducer.java
Labels: >enhancement, Team:Analytics, :Analytics/Downsampling, v8.10.0

#97393 Create IndexNameGenerator utility in server
  server/src/main/java/org/elasticsearch/common/IndexNameGenerator.java
  server/src/test/java/org/elasticsearch/common/IndexNameGeneratorTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/GenerateUniqueIndexNameStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CleanupShrinkIndexStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CleanupTargetIndexStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/DownsampleStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/GenerateUniqueIndexNameStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ShrinkStepTests.java
Labels: >refactoring, :Data Management/Data streams, Team:Data Management, v8.10.0

#96772 Health API Periodic Logging
  docs/changelog/96772.yaml
  docs/reference/settings/health-diagnostic-settings.asciidoc
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/health/HealthPeriodicLogger.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/health/HealthPeriodicLoggerTests.java
Labels: >enhancement, Team:Data Management, cloud-deploy, :Data Management/Health, v8.10.0

#97288 cloud_defend index read priv added to kibana_system role (for usageCollection)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, external-contributor, v8.10.0

#97373 Documentation for time-series geo_line
  docs/changelog/94954.yaml
  docs/reference/aggregations/metrics/geoline-aggregation.asciidoc
  docs/reference/images/spatial/geo_line.png
  docs/reference/images/spatial/kodiak_geo_line_simplified.png
  docs/reference/images/spatial/kodiak_geo_line_truncated.png
  docs/reference/mapping/types/geo-point.asciidoc
Labels: >docs, :Analytics/Geo, Team:Docs, Team:Analytics, auto-backport-and-merge, v8.9.0, v8.10.0

#97404 [8.9] Documentation for time-series geo_line (#97373)
  docs/changelog/94954.yaml
  docs/reference/aggregations/metrics/geoline-aggregation.asciidoc
  docs/reference/images/spatial/geo_line.png
  docs/reference/images/spatial/kodiak_geo_line_simplified.png
  docs/reference/images/spatial/kodiak_geo_line_truncated.png
  docs/reference/mapping/types/geo-point.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.9.1

#97362 [ML] Add backend for getting ML autoscaling resources
  x-pack/plugin/core/src/main/java/module-info.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetMlAutoscalingStats.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/autoscaling/MlAutoscalingStats.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetMlAutoscalingStatsRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetMlAutoscalingStatsResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/autoscaling/MlAutoscalingStatsTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetMlAutoscalingStats.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingResourceTracker.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >non-issue, :ml, Team:ML, v8.10.0

#94033 Adding initial public and internal serverless scopes to Query Languages REST handlers
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/RestEqlDeleteAsyncResultAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/RestEqlGetAsyncResultAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/RestEqlGetAsyncStatusAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plugin/RestEqlSearchAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/RestSqlAsyncDeleteResultsAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/RestSqlAsyncGetResultsAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/RestSqlAsyncGetStatusAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/RestSqlClearCursorAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/RestSqlQueryAction.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/plugin/RestSqlTranslateAction.java
Labels: >non-issue, :Query Languages/EQL, Team:QL, v8.9.0

#97402 Stop invidual nodes and get node names in test clusters
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/ClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/DefaultElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterHandle.java
Labels: >test, :Delivery/Build, Team:Delivery, v8.10.0

#97403 Updating health APIs and cat recovery API to INTERNAL for serverless
  server/src/main/java/org/elasticsearch/health/RestGetHealthAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestCatRecoveryAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestHealthAction.java
Labels: >non-issue, :Data Management/CAT APIs, Team:Data Management, v8.10.0

#97408 [ML] Hide deprecated APIs completely in serverless
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestInferTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestPostDataAction.java
Labels: >non-issue, :ml, Team:ML, v8.10.0

#97400 Move cluster settings and pending tasks actions to internal scope
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterGetSettingsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterUpdateSettingsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestPendingClusterTasksAction.java
Labels: >non-issue, :Core/Infra/Settings, Team:Core/Infra, v8.10.0

#96577 Remove the unused executor builder for vector tile plugin
  docs/changelog/96577.yaml
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/VectorTilePlugin.java
Labels: >breaking, :Analytics/Geo, Team:Analytics, v8.10.0

#97407 [TEST] Simplify TDigestTests.testFewValues
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/TDigestTests.java
Labels: >test, :Analytics/Aggregations, Team:Analytics, auto-backport, v8.10.0, v8.9.1

#97414 [8.9] Simplify TDigestTests.testFewValues (#97407)
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/TDigestTests.java
Labels: >test, :Analytics/Aggregations, backport, Team:Analytics, auto-merge, v8.9.1

#97355 Fix mapping parsing logic to determine synthetic source is active.
  docs/changelog/97355.yaml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/match_only_text/10_basic.yml
  server/src/main/java/org/elasticsearch/index/IndexMode.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingParser.java
Labels: >bug, :Search/Mapping, Team:Search, Team:Analytics, auto-merge, auto-backport, :Analytics/TSDB, v8.10.0, v8.9.1

#97415 Fix test flakiness with a deterministic scenario
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleServiceIT.java
Labels: >test, :Data Management/Data streams, Team:Data Management, v8.10.0

#97413 [Profiling] Add field Symbfile.file.id_str to profiling-returnpads-private mapping
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/profiler/index-template/profiling-returnpads-private.json
Labels: >non-issue, auto-backport-and-merge, v8.9.0, :UniversalProfiling/Application, Team:Universal Profiling, v8.10.0, v8.9.1

#97418 [8.9] Fix mapping parsing logic to determine synthetic source is active. (#97355)
  docs/changelog/97355.yaml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/match_only_text/10_basic.yml
  server/src/main/java/org/elasticsearch/index/IndexMode.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingParser.java
Labels: >bug, :Search/Mapping, backport, Team:Search, Team:Analytics, auto-merge, :Analytics/TSDB, v8.9.1

#97405 Made `_mvt` REST handler public in serverless
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/RestVectorTileAction.java
Labels: >non-issue, :Analytics/Geo, Team:Analytics, v8.10.0

#97387 ProfileCollectorManager to support child profile collectors
  docs/changelog/97387.yaml
  server/src/main/java/org/elasticsearch/search/profile/query/CollectorResult.java
  server/src/main/java/org/elasticsearch/search/profile/query/ProfileCollectorManager.java
  server/src/test/java/org/elasticsearch/search/dfs/DfsPhaseTests.java
  server/src/test/java/org/elasticsearch/search/profile/query/ProfileCollectorManagerTests.java
Labels: >enhancement, :Search/Search, Team:Search, v8.10.0

#97430 Loosening the amount of time Retry2Tests.testAwaitClose() waits for Retry2.awaitClose() to complete
  server/src/test/java/org/elasticsearch/action/bulk/Retry2Tests.java
Labels: >test, :Data Management/ILM+SLM, Team:Data Management, v8.10.0

#97292 Encapsulate current Build
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/cli/InstallPluginAction.java
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/cli/SyncPluginsCliProvider.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/cli/InstallPluginActionTests.java
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/APMJvmOptions.java
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/ServerCli.java
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/ServerCliTests.java
  modules/rest-root/src/main/java/org/elasticsearch/rest/root/TransportMainAction.java
  modules/rest-root/src/test/java/org/elasticsearch/rest/root/MainResponseTests.java
  modules/rest-root/src/test/java/org/elasticsearch/rest/root/RestMainActionTests.java
  modules/systemd/src/main/java/org/elasticsearch/systemd/SystemdPlugin.java
  server/src/main/java/org/elasticsearch/Build.java
  server/src/main/java/org/elasticsearch/Version.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodeRole.java
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/java/org/elasticsearch/common/cli/EnvironmentAwareCommand.java
  server/src/main/java/org/elasticsearch/common/logging/HeaderWarning.java
  server/src/main/java/org/elasticsearch/common/util/FeatureFlag.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/node/NodeService.java
  server/src/main/java/org/elasticsearch/plugins/PluginsUtils.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/BuildTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/info/NodeInfoTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsNodesTests.java
  server/src/test/java/org/elasticsearch/action/ingest/ReservedPipelineActionTests.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/FollowersCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinHelperTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinValidationServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/LeaderCheckerTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/discovery/HandshakingTransportAddressConnectorTests.java
  server/src/test/java/org/elasticsearch/nodesinfo/NodeInfoStreamingTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceDeserializationFailureTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceHandshakeTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/nodeinfo/AutoscalingNodesInfoServiceTests.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.10.0

#97433 Handling IOException from Windows in cleanup method of GeoIpDownloaderIT
  modules/ingest-geoip/src/internalClusterTest/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderIT.java
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v8.10.0

#97436 Change "rollver" to "rollover" in error message
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleService.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.10.0

#97431 added assert for view_index_metadata in kibana_system cloud_defend permissions test
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >test, :Security/Security, Team:Security, external-contributor, v8.10.0

#97371 Synonyms API - Delete synonym rule
  rest-api-spec/src/main/resources/rest-api-spec/api/synonym_rule.delete.json
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/synonyms/70_synonym_rule_delete.yml
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/synonyms/DeleteSynonymRuleAction.java
  server/src/main/java/org/elasticsearch/action/synonyms/TransportDeleteSynonymRuleAction.java
  server/src/main/java/org/elasticsearch/rest/action/synonyms/RestDeleteSynonymRuleAction.java
  server/src/main/java/org/elasticsearch/synonyms/SynonymsManagementAPIService.java
  server/src/test/java/org/elasticsearch/action/synonyms/DeleteSynonymRuleActionRequestSerializingTests.java
  server/src/test/java/org/elasticsearch/action/synonyms/DeleteSynonymRuleActionResponseSerializingTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >non-issue, :Search/Analysis, Team:Search, v8.10.0

#97425 Change the way feature flag is used for the data stream lifecycle telemetry
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/DataLifecycleUsageTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/datastreams/DataLifecycleFeatureSetUsage.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/datastreams/DataLifecycleFeatureSetUsageTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.9.1

#97420 [8.9][DOCS] Adds release highlight about text embedding for kNN is GA
  docs/changelog/96735.yml
Labels: >docs, :ml, Team:Docs, Team:ML, v8.9.0, v8.9.1

#97389 [CI] Fix PartialHitCountCollectorTests testCollectedHitCountEarlyTerminated
  server/src/test/java/org/elasticsearch/search/query/NonCountingTermQuery.java
  server/src/test/java/org/elasticsearch/search/query/PartialHitCountCollectorTests.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
Labels: >test, :Search/Search, Team:Search, v8.10.0

#97417 Restrict fast_refresh to system indices
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/test/java/org/elasticsearch/index/IndexSettingsTests.java
  test/framework/src/main/java/org/elasticsearch/test/IndexSettingsModule.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.10.0

#97386 Add IndexVersion to MainResponse
  docs/reference/setup/install/check-running.asciidoc
  modules/rest-root/src/main/java/org/elasticsearch/rest/root/MainResponse.java
  modules/rest-root/src/main/java/org/elasticsearch/rest/root/TransportMainAction.java
  modules/rest-root/src/test/java/org/elasticsearch/rest/root/MainResponseTests.java
  modules/rest-root/src/test/java/org/elasticsearch/rest/root/RestMainActionTests.java
  qa/verify-version-constants/src/test/java/org/elasticsearch/qa/verify_version_constants/VerifyVersionConstantsIT.java
  server/src/main/java/org/elasticsearch/TransportVersion.java
  x-pack/plugin/sql/jdbc/src/test/java/org/elasticsearch/xpack/sql/jdbc/WebServerTestCase.java
Labels: :Core/Infra/REST API, >refactoring, Team:Core/Infra, v8.10.0

#97369 [ML] Evolve use of versions in decision making
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/ResetJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TrainedModel.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ensemble/Ensemble.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/tree/Tree.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/TransportVersionUtils.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlAutoUpdateService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutTrainedModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpgradeJobModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedConfigAutoUpdater.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/MlProcessors.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/TransportVersionUtilsTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportUpgradeTransformsAction.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlJobSnapshotUpgradeIT.java
Labels: >non-issue, :ml, :ml/Transform, Team:ML, v8.10.0

#97437 [DOCS] Add TOC to landing page
  docs/reference/index.asciidoc
  docs/reference/landing-page.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.10.0, v8.9.1, v8.8.3

#97427 Do not use auto_expand_replica in mget yaml rest tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mget/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mget/60_realtime_refresh.yml
Labels: >test, :Distributed/CRUD, Team:Distributed, auto-merge, auto-backport-and-merge, v8.10.0, v8.9.1

#97445 [8.9] Do not use auto_expand_replica in mget yaml rest tests (#97427)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mget/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mget/60_realtime_refresh.yml
Labels: >test, :Distributed/CRUD, backport, Team:Distributed, auto-merge, v8.9.1

#97447 [8.9] [DOCS] Add TOC to landing page (#97437)
  docs/reference/index.asciidoc
  docs/reference/landing-page.asciidoc
Labels: backport, v8.9.1

#97448 [8.8] [DOCS] Add TOC to landing page (#97437)
  docs/reference/index.asciidoc
  docs/reference/landing-page.asciidoc
Labels: backport, v8.8.3

#97434 Add BWC tests for few Search application and Analytics Collections API Serialization
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/DeleteAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/GetAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/DeleteSearchApplicationAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/GetSearchApplicationAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/action/DeleteAnalyticsCollectionRequestBWCSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/action/GetAnalyticsCollectionRequestBWCSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/search/action/DeleteSearchApplicationActionRequestBWCSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/search/action/GetSearchApplicationActionRequestBWCSerializingTests.java
Labels: >non-issue, :EnterpriseSearch/Application, Team:Enterprise Search, v8.10.0

#97455 [DOCS] Update Elastic GeoIP service link
  docs/reference/ingest/processors/geoip.asciidoc
Labels: >docs, :Data Management/Ingest Node, Team:Data Management, Team:Docs, auto-backport-and-merge, v8.9.0, v8.10.0, v8.8.3

#97388 Add StringTemplate Gradle plugin
  build-tools-internal/build.gradle
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/StringTemplatePluginTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/StringTemplatePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/StringTemplateTask.java
  gradle/build.versions.toml
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.10.0

#97457 [8.8] [DOCS] Update Elastic GeoIP service link (#97455)
  docs/reference/ingest/processors/geoip.asciidoc
Labels: backport, v8.8.3

#97456 [8.9] [DOCS] Update Elastic GeoIP service link (#97455)
  docs/reference/ingest/processors/geoip.asciidoc
Labels: backport, v8.9.1

#97421 Add the ability to reload search analyzers during shard recovery
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonAnalysisPlugin.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/MultiplexerTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/ScriptedConditionTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/SynonymGraphTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/SynonymTokenFilterFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CompoundAnalysisTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/EdgeNGramTokenizerTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/MultiplexerTokenFilterTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/PredicateTokenScriptFilterTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/ScriptedConditionTokenFilterTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/SynonymsAnalysisTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/WordDelimiterGraphTokenFilterFactoryTests.java
  modules/analysis-common/src/yamlRestTest/resources/rest-api-spec/test/analysis-common/70_synonyms_from_index.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/analyze/TransportAnalyzeAction.java
  server/src/main/java/org/elasticsearch/index/IndexModule.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/analysis/Analysis.java
  server/src/main/java/org/elasticsearch/index/analysis/AnalysisRegistry.java
  server/src/main/java/org/elasticsearch/index/analysis/AnalyzerComponents.java
  server/src/main/java/org/elasticsearch/index/analysis/CustomAnalyzerProvider.java
  server/src/main/java/org/elasticsearch/index/analysis/ReloadableCustomAnalyzer.java
  server/src/main/java/org/elasticsearch/index/analysis/TokenFilterFactory.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/AggregationContext.java
  server/src/test/java/org/elasticsearch/action/admin/indices/TransportAnalyzeActionTests.java
  server/src/test/java/org/elasticsearch/index/analysis/AnalysisRegistryTests.java
  server/src/test/java/org/elasticsearch/index/analysis/ReloadableCustomAnalyzerTests.java
  server/src/test/java/org/elasticsearch/indices/analysis/AnalysisModuleTests.java
  server/src/test/java/org/elasticsearch/indices/analysis/IncorrectSetupStablePluginsTests.java
  server/src/test/java/org/elasticsearch/indices/analysis/StableAnalysisPluginsNoSettingsTests.java
  server/src/test/java/org/elasticsearch/indices/analysis/StableAnalysisPluginsWithSettingsTests.java
  test/framework/src/main/java/org/elasticsearch/index/analysis/AnalysisTestsHelper.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/CategorizationAnalyzer.java
Labels: >feature, :Search/Analysis, Team:Search, v8.10.0

#97375 Add vector search file extensions to preload info
  docs/reference/index-modules/store.asciidoc
Labels: >docs, Team:Docs, Team:Search, auto-backport-and-merge, :Search/Vectors, v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, v8.10.0

#97467 [8.5] Add vector search file extensions to preload info (#97375)
  docs/reference/index-modules/store.asciidoc
Labels: >docs, backport, Team:Docs, Team:Search, auto-merge, :Search/Vectors, v8.5.4

#97468 [8.6] Add vector search file extensions to preload info (#97375)
  docs/reference/index-modules/store.asciidoc
Labels: >docs, backport, Team:Docs, Team:Search, auto-merge, :Search/Vectors, v8.6.3

#97470 [8.8] Add vector search file extensions to preload info (#97375)
  docs/reference/index-modules/store.asciidoc
Labels: >docs, backport, Team:Docs, Team:Search, auto-merge, :Search/Vectors, v8.8.3

#97471 [8.9] Add vector search file extensions to preload info (#97375)
  docs/reference/index-modules/store.asciidoc
Labels: >docs, backport, Team:Docs, Team:Search, auto-merge, :Search/Vectors, v8.9.1

#97452 Avoid wrapping leaf collector when possible in QueryPhaseCollector
  server/src/main/java/org/elasticsearch/search/query/QueryPhaseCollector.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseCollectorTests.java
Labels: >non-issue, :Search/Search, Team:Search, v8.1.0, v8.10.0

#97474 Clarify keystore add-file command behavior
  docs/reference/commands/keystore.asciidoc
Labels: >docs, :Core/Infra/Settings, Team:Core/Infra, Team:Docs, auto-backport-and-merge, v8.10.0, v8.9.1, v8.8.3

#97475 [8.9] Clarify keystore add-file command behavior (#97474)
  docs/reference/commands/keystore.asciidoc
Labels: >docs, :Core/Infra/Settings, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.9.1

#97476 [8.8] Clarify keystore add-file command behavior (#97474)
  docs/reference/commands/keystore.asciidoc
Labels: >docs, :Core/Infra/Settings, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.8.3

#97304 Avoid getStateForMasterService where possible
  docs/changelog/97304.yaml
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
Labels: >bug, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, auto-backport-and-merge, v8.10.0, v8.9.1

#97479 [8.9] Avoid getStateForMasterService where possible (#97304)
  docs/changelog/97304.yaml
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
Labels: >bug, :Distributed/Cluster Coordination, backport, Team:Distributed, auto-merge, v8.9.1

#97451 [Profiling] Propagate mget failures
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/TransportGetProfilingAction.java
Labels: >non-issue, auto-backport-and-merge, v8.9.0, :UniversalProfiling/Application, Team:Universal Profiling, v8.10.0

#97478 [8.9] Fix timestamp as object at root level for APM Server
  docs/changelog/97401.yaml
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/240_logs_ecs_mappings.yml
  x-pack/plugin/core/src/main/resources/ecs-dynamic-mappings.json
Labels: >bug, backport, :Data Management/Data streams, external-contributor, v8.9.0, v8.9.1

#97426 Synonyms - Fixes error when no ID is specified
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/synonyms/10_synonyms_put.yml
  server/src/main/java/org/elasticsearch/synonyms/SynonymRule.java
  server/src/main/java/org/elasticsearch/synonyms/SynonymsManagementAPIService.java
Labels: >non-issue, :Search/Analysis, Team:Search, v8.10.0

#97483 [8.9] [Profiling] Propagate mget failures (#97451)
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/TransportGetProfilingAction.java
Labels: >non-issue, backport, auto-merge, :UniversalProfiling/Application, Team:Universal Profiling, v8.9.1

#97449 Add information on separated version numbers to Contributing doc
  CONTRIBUTING.md
Labels: >docs, :Delivery/Build, :Core/Infra/Core, Team:Core/Infra, Team:Docs, Team:Delivery, v8.10.0

#97235 Add new Setting.Property ServerlessPublic
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
Labels: >non-issue, :Core/Infra/Settings, Team:Core/Infra, v8.10.0

#97361 Make ActionListener.notifyOnce a little cheaper
  server/src/main/java/org/elasticsearch/action/ActionListener.java
  server/src/main/java/org/elasticsearch/action/ActionListenerImplementations.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.10.0

#97368 Migrate some full-cluster restart tests to use IndexVersion
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/ParameterizedFullClusterRestartTestCase.java
  x-pack/qa/repository-old-versions/src/test/java/org/elasticsearch/oldrepos/OldRepositoryAccessIT.java
Labels: >test, :Delivery/Build, :Core/Infra/Core, >refactoring, Team:Core/Infra, Team:Delivery, v8.10.0

#97305 Enhance docs around network troubleshooting
  docs/reference/modules/discovery/fault-detection.asciidoc
  docs/reference/troubleshooting/discovery-issues.asciidoc
  docs/reference/troubleshooting/network-timeouts.asciidoc
Labels: >docs, :Distributed/Cluster Coordination, Team:Distributed, Team:Docs, auto-backport-and-merge, Supportability, v8.10.0, v8.9.1, v8.8.3

#97424 Make EWMA alpha configurable in FixedExecutor
  qa/evil-tests/src/test/java/org/elasticsearch/threadpool/EvilThreadPoolTests.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/EsExecutors.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/TaskExecutionTimeTrackingEsThreadPoolExecutor.java
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
  server/src/main/java/org/elasticsearch/threadpool/FixedExecutorBuilder.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/test/java/org/elasticsearch/action/search/QueryPhaseResultConsumerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/action/support/ThreadedActionListenerTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/AbstractThrottledTaskRunnerTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/EsExecutorsTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/ListenableFutureTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/PrioritizedThrottledTaskRunnerTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/TaskExecutionTimeTrackingEsThreadPoolExecutorTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/ThrottledIteratorTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardOperationPermitsTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
  server/src/test/java/org/elasticsearch/search/dfs/DfsPhaseTests.java
  server/src/test/java/org/elasticsearch/threadpool/UpdateThreadPoolSettingsTests.java
  test/framework/src/main/java/org/elasticsearch/common/lucene/store/ESIndexInputTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/threadpool/TestThreadPool.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/process/AbstractNativeProcessTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/Rollup.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/enrollment/InternalEnrollmentTokenGeneratorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/profile/ProfileServiceTests.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherService.java
Labels: >non-issue, :Core/Infra/Core, :Distributed/Autoscaling, Team:Core/Infra, Team:Distributed, auto-merge, v8.10.0

#97491 [8.8] Enhance docs around network troubleshooting (#97305)
  docs/reference/modules/discovery/fault-detection.asciidoc
  docs/reference/troubleshooting/discovery-issues.asciidoc
  docs/reference/troubleshooting/network-timeouts.asciidoc
Labels: >docs, :Distributed/Cluster Coordination, backport, Team:Distributed, Team:Docs, auto-merge, Supportability, v8.8.3

#97490 [8.9] Enhance docs around network troubleshooting (#97305)
  docs/reference/modules/discovery/fault-detection.asciidoc
  docs/reference/troubleshooting/discovery-issues.asciidoc
  docs/reference/troubleshooting/network-timeouts.asciidoc
Labels: >docs, :Distributed/Cluster Coordination, backport, Team:Distributed, Team:Docs, auto-merge, Supportability, v8.9.1

#97488 Limit _terms_enum prefix size
  docs/changelog/97488.yaml
  docs/reference/search/terms-enum.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/termsenum/action/TermsEnumRequest.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/termsenum/TermsEnumRequestTests.java
Labels: >enhancement, :Search/Search, Team:Search, v8.10.0

#97363 Some more migrations of Version to IndexVersion
  modules/legacy-geo/src/test/java/org/elasticsearch/legacygeo/GeoJsonShapeParserTests.java
  modules/legacy-geo/src/test/java/org/elasticsearch/legacygeo/GeoWKTShapeParserTests.java
  modules/legacy-geo/src/test/java/org/elasticsearch/legacygeo/mapper/LegacyGeoShapeFieldMapperTests.java
  modules/legacy-geo/src/test/java/org/elasticsearch/legacygeo/mapper/LegacyGeoShapeFieldTypeTests.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/mapping/MalformedDynamicTemplateIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/NodeVersionAllocationDecider.java
  server/src/main/java/org/elasticsearch/index/IndexVersion.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySettings.java
  server/src/test/java/org/elasticsearch/cluster/metadata/HumanReadableIndexSettingsTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/NodeVersionAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicTemplatesTests.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldNamesFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ParametrizedMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TypeParsersTests.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapperTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesModuleTests.java
  test/framework/src/integTest/java/org/elasticsearch/test/test/InternalClusterForbiddenSettingIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
  x-pack/plugin/snapshot-based-recoveries/src/test/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/plan/SnapshotsRecoveryPlannerServiceTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/LegacyGeoShapeWithDocValuesQueryTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.10.0

#97489 Limit several determinization limits for automata
  server/src/main/java/org/elasticsearch/common/lucene/search/AutomatonQueries.java
  server/src/main/java/org/elasticsearch/index/mapper/IpPrefixAutomatonUtil.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/StringFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldMapper.java
  server/src/main/java/org/elasticsearch/indices/SystemIndices.java
  server/src/main/java/org/elasticsearch/search/runtime/StringScriptFieldWildcardQuery.java
  server/src/test/java/org/elasticsearch/common/lucene/search/AutomatonQueriesTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpPrefixAutomatonUtilTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldTypeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/termsenum/action/MultiShardTermsEnumTests.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionEncoder.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionFieldWildcardQuery.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
  x-pack/plugin/wildcard/src/test/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapperTests.java
Labels: :Search/Search, >refactoring, Team:Search, v8.10.0

#97485 Add note on troubleshooting laggy cancellations
  docs/reference/cluster/nodes-hot-threads.asciidoc
  docs/reference/cluster/tasks.asciidoc
Labels: >docs, :Distributed/Task Management, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.10.0, v8.9.1, v7.17.12

#97460 Set new providers before building FetchSubPhaseProcessors
  docs/changelog/97460.yaml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/top_hits.yml
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
Labels: >bug, :Analytics/Aggregations, :Search/Search, Team:Search, Team:Analytics, auto-backport-and-merge, v8.10.0, v8.9.1

#97498 [8.9] Add note on troubleshooting laggy cancellations (#97485)
  docs/reference/cluster/nodes-hot-threads.asciidoc
  docs/reference/cluster/tasks.asciidoc
Labels: >docs, :Distributed/Task Management, backport, Team:Distributed, Team:Docs, auto-merge, v8.9.1

#97499 [7.17] Add note on troubleshooting laggy cancellations (#97485)
  docs/reference/cluster/nodes-hot-threads.asciidoc
  docs/reference/cluster/tasks.asciidoc
Labels: >docs, :Distributed/Task Management, backport, Team:Distributed, Team:Docs, auto-merge, v7.17.12

#97422 Refactor TokenService#findTokenFromRefreshToken to accept only user-facing refresh tokens
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/saml/TransportSamlInvalidateSessionAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlInvalidateSessionActionTests.java
Labels: >refactoring, :Security/Authentication, Team:Security, v8.10.0

#97500 [8.9] Set new providers before building FetchSubPhaseProcessors (#97460)
  docs/changelog/97460.yaml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/top_hits.yml
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
Labels: >bug, :Analytics/Aggregations, :Search/Search, backport, Team:Search, Team:Analytics, auto-merge, v8.9.1

#97507 [Profiling] Fix off-by-one error in test assert
  x-pack/plugin/profiler/src/test/java/org/elasticsearch/xpack/profiler/TransportGetProfilingActionTests.java
Labels: >test-failure, auto-backport-and-merge, v8.9.0, :UniversalProfiling/Application, Team:Universal Profiling, v8.10.0

#97503 Log exception if publication fails at startup
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, v8.10.0

#97442 Update data stream lifecycle telemetry
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/action/DataStreamLifecycleUsageTransportActionIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/DataStreamLifecycleUsageTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/datastreams/DataStreamLifecycleFeatureSetUsage.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/datastreams/DataStreamLifecycleFeatureSetUsageTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.10.0

#97515 Fix mixed-cluster test failure for top_hits aggregation
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/top_hits.yml
Labels: >test, :Search/Search, Team:Search, auto-merge, auto-backport-and-merge, v8.10.0, v8.9.1

#97521 [8.9] Fix mixed-cluster test failure for top_hits aggregation (#97515)
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/top_hits.yml
Labels: >test, :Search/Search, backport, Team:Search, auto-merge, v8.9.1

#97523 Enable debug logging to get more info for the test failure
  server/src/internalClusterTest/java/org/elasticsearch/health/UpdateHealthInfoCacheIT.java
Labels: >test, Team:Data Management, :Data Management/Health, v8.10.0

#97374 Fix inefficient ActionListener.delegateFailure and ActionListener.wrap usage
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/TransportSearchTemplateAction.java
  modules/reindex/src/main/java/org/elasticsearch/reindex/BulkByScrollParallelizationHelper.java
  server/src/main/java/org/elasticsearch/action/ActionListener.java
  server/src/main/java/org/elasticsearch/action/ActionListenerImplementations.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/reroute/TransportClusterRerouteAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/refresh/TransportShardRefreshAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/TransportResizeAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/PostWriteRefresh.java
  server/src/main/java/org/elasticsearch/cluster/coordination/stateless/StoreHeartbeatService.java
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/elasticsearch/index/seqno/RetentionLeaseActions.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryRequestTracker.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/persistent/StartPersistentTaskAction.java
  server/src/main/java/org/elasticsearch/synonyms/SynonymsManagementAPIService.java
  server/src/test/java/org/elasticsearch/action/ActionListenerTests.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  test/framework/src/main/java/org/elasticsearch/test/transport/StubbableTransport.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/DataTiersUsageTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/async/AsyncTaskIndexService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/AsyncBranchingStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/CloseFollowerIndexStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/OpenIndexStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/PauseFollowerIndexStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/RoleReferenceIntersection.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/TransportGetSearchApplicationAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/TransportQuerySearchApplicationAction.java
  x-pack/plugin/frozen-indices/src/main/java/org/elasticsearch/xpack/frozen/action/TransportFreezeIndexAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetDeploymentStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobDataCountsPersister.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/cat/RestCatTrainedModelsAction.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/ExportBulk.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/Exporters.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/TransportMountSearchableSnapshotAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/common/CacheFile.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/filter/SecurityActionFilter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/role/TransportDeleteRoleAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/role/TransportPutRoleAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/rolemapping/TransportDeleteRoleMappingAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportChangePasswordAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportDeleteUserAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportSetEnabledAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/SecondaryAuthenticator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/mapper/NativeRoleMappingStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStore.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.10.0

#97335 Allow users to run the painless execute API on a remote cluster shard
  docs/painless/painless-guide/painless-execute-script.asciidoc
  docs/reference/search/search-your-data/search-across-clusters.asciidoc
  modules/lang-painless/build.gradle
  modules/lang-painless/src/internalClusterTest/java/org/elasticsearch/painless/action/CrossClusterPainlessExecuteIT.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/action/PainlessExecuteAction.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/action/PainlessExecuteApiTests.java
Labels: >enhancement, :Search/Search, Team:Search, v8.10.0

#97509 Fix bug when creating empty geo_lines
  docs/changelog/97509.yaml
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/InternalGeoLine.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/MergedGeoLinesTests.java
Labels: >bug, :Analytics/Geo, Team:Analytics, auto-backport-and-merge, v8.10.0, v8.9.1

#97543 [8.9] Fix bug when creating empty geo_lines (#97509)
  docs/changelog/97509.yaml
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/InternalGeoLine.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/MergedGeoLinesTests.java
Labels: >bug, :Analytics/Geo, backport, Team:Analytics, auto-merge, v8.9.1

#96962 FileSettingServiceTests: Eliminate race condition between latch and listeners
  server/src/test/java/org/elasticsearch/reservedstate/service/FileSettingsServiceTests.java
Labels: >test, :Core/Infra/Settings, Team:Core/Infra, v8.10.0

#97378 Overwrite IndexSearcher#slices method for multi threaded search
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/test/java/org/elasticsearch/search/internal/ContextIndexSearcherTests.java
Labels: >non-issue, :Search/Search, Team:Search, v8.10.0

#97538 Fix docs for explaining unassigned shards
  docs/reference/cluster/allocation-explain.asciidoc
  docs/reference/how-to/fix-common-cluster-issues.asciidoc
  docs/reference/troubleshooting/common-issues/red-yellow-cluster-status.asciidoc
Labels: >docs, :Distributed/Allocation, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.10.0, v8.9.1, v8.8.3

#97547 [8.9] Fix docs for explaining unassigned shards (#97538)
  docs/reference/cluster/allocation-explain.asciidoc
  docs/reference/how-to/fix-common-cluster-issues.asciidoc
  docs/reference/troubleshooting/common-issues/red-yellow-cluster-status.asciidoc
Labels: >docs, :Distributed/Allocation, backport, Team:Distributed, Team:Docs, auto-merge, v8.9.1

#97540 Make terminate_after early termination friendly
  docs/changelog/97540.yaml
  docs/reference/search/search-your-data/search-your-data.asciidoc
  server/src/main/java/org/elasticsearch/search/query/QueryPhaseCollector.java
  server/src/test/java/org/elasticsearch/search/query/NonCountingTermQuery.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseCollectorTests.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
Labels: >bug, :Search/Search, Team:Search, v8.10.0

#97428 Limit number of downsampling rounds to 10
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataIndexTemplateServiceTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamLifecycle.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamLifecycleTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.10.0

#97554 [8.9] Add `shard_stats.total_count` column description to /_cat/nodes docs. (#97549)
  docs/reference/cat/nodes.asciidoc
Labels: >docs, :Distributed/Distributed, backport, Team:Distributed, Team:Docs

#97555 [8.8] Add `shard_stats.total_count` column description to /_cat/nodes docs. (#97549)
  docs/reference/cat/nodes.asciidoc
Labels: >docs, :Distributed/Distributed, backport, Team:Distributed, Team:Docs, v8.8.3

#97462 Close input stream when reading the version file for BWC
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.10.0

#97551 Fix typo on semantic-search-elser.asciidoc
  docs/reference/search/search-your-data/semantic-search-elser.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, external-contributor, auto-backport, v8.10.0, v8.9.1, v8.8.3

#97562 Avoid restarting `MonitoringService` in tests
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringService.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringServiceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/test/MonitoringIntegTestCase.java
Labels: >non-issue, :Data Management/Monitoring, Team:Data Management, auto-merge, >tech debt, v8.10.0

#97560 Move the ReschedulingRunnable scheduling to a separate method
  server/src/main/java/org/elasticsearch/threadpool/Scheduler.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/test/java/org/elasticsearch/threadpool/ScheduleWithFixedDelayTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.10.0

#97563 [8.9][DOCS] Fixes typo in ELSER tutorial
  docs/reference/search/search-your-data/semantic-search-elser.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport, v8.9.1, v8.8.3

#97564 [8.8][DOCS] Fixes typo in ELSER tutorial (#97563)
  docs/reference/search/search-your-data/semantic-search-elser.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.8.3
