Repository elastic/elasticsearch, pull requests merged in 2023-10, with the labels that each got.

#100117 Handle nulls in OrdinalsGroupingOperator
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/BlockOrdinalsReader.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/OrdinalsGroupingOperator.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.0

#100108 Remove global block factory
  x-pack/plugin/esql/compute/src/main/java/module-info.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/BlockFactory.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/BlockFactoryParameters.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/TestBlockFactoryParameters.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BlockFactoryTests.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlDisruptionIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/lookup/EnrichLookupIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlBlockFactoryParams.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/TransportEsqlQueryAction.java
  x-pack/plugin/esql/src/main/resources/META-INF/services/org.elasticsearch.compute.data.BlockFactoryParameters
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/EvalMapperTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlannerTests.java
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.0

#100121 Release empty page in CannedSourceOperator
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/CannedSourceOperator.java
Labels: >test, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.0

#100073 Speedup OperationRouting#searchShards
  server/src/main/java/org/elasticsearch/cluster/routing/OperationRouting.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.11.0

#100019 added .fleet-file-data* to kibana_system privileges
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
Labels: >non-issue, :Core/Infra/Plugins, Team:Core/Infra, auto-backport, Team:Fleet, v8.11.0, v8.10.3

#100118 Mention network handler logging in docs
  docs/reference/modules/network/threading.asciidoc
  docs/reference/troubleshooting/network-timeouts.asciidoc
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
  server/src/test/java/org/elasticsearch/transport/OutboundHandlerTests.java
Labels: >docs, >test, :Distributed/Network, Team:Distributed, Team:Docs, auto-backport-and-merge, Supportability, v8.11.0, v8.10.3

#100056 Fallback to internal searcher if not in translog
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, auto-merge, v8.11.0

#100112 Introduce local-only action utils
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/support/TransportAction.java
  server/src/main/java/org/elasticsearch/common/io/stream/Writeable.java
  server/src/main/java/org/elasticsearch/health/GetHealthAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/DeleteInternalCcrRepositoryAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/DeleteInternalCcrRepositoryRequest.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/PutInternalCcrRepositoryAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/PutInternalCcrRepositoryRequest.java
  x-pack/plugin/fleet/src/main/java/org/elasticsearch/xpack/fleet/Fleet.java
  x-pack/plugin/fleet/src/main/java/org/elasticsearch/xpack/fleet/action/GetGlobalCheckpointsAction.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.11.0

#100086 Resolve ml-cpp snapshot when building ES non release as included build
  x-pack/plugin/ml/build.gradle
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.11.0

#100084 Moved APM service version from Version to Build.version()
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/APMJvmOptions.java
  modules/apm/src/main/java/org/elasticsearch/telemetry/apm/internal/tracing/APMTracer.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.11.0

#100083 Speedup IndexNameExpressionResolver#checkSystemIndexAccess
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
Labels: >non-issue, :Search/Search, Team:Search, v8.11.0

#100128 Upgrade Lucene to 9.8.0
  build-tools-internal/version.properties
  gradle/verification-metadata.xml
Labels: :Search/Search, >upgrade, Team:Search

#99938 Prune unnecessary information from TransportNodesInfoAction.NodeInfoRequest
  docs/changelog/99938.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/info/NodesInfoRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/info/TransportNodesInfoAction.java
Labels: >enhancement, :Data Management/Stats, Team:Data Management, external-contributor, v8.11.0

#100077 ESQL: Track blocks in `EVAL` and `WHERE`
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/AbstractPageMappingOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ColumnExtractOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/EvalOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/FilterOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/StringExtractOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctBooleanAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AnyOperatorTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/EvalOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/FilterOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/OperatorTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/ProjectOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/SequenceBooleanBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/topn/TopNOperatorTests.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/math.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/metadata-ignoreCsvTests.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/unsigned_long.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/version.csv-spec
  x-pack/plugin/sql/qa/server/src/main/resources/filter.csv-spec
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.0

#100125 [8.10] added .fleet-file-data* to kibana_system privileges (#100019)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
Labels: >non-issue, :Core/Infra/Plugins, backport, Team:Core/Infra, external-contributor, Team:Fleet, v8.10.3

#100087 Improve testing of the is_partial flag for async search cross-cluster searches
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/CrossClusterAsyncSearchIT.java
Labels: >non-issue, :Search/Search, Team:Search, v8.11.0

#100113 Avoiding overwriting the authorization setting in DisabledSecurityDataStreamTestCase
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/DisabledSecurityDataStreamTestCase.java
Labels: >test, :Data Management/Data streams, Team:Data Management, v8.11.0

#100101 Remove Version from MainResponseTests
  modules/rest-root/src/test/java/org/elasticsearch/rest/root/MainResponseTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.11.0

#100135 Fix accountancy in block and vector builders
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanBlockBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanVectorBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanVectorFixedBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleBlockBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleVectorBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleVectorFixedBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntBlockBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntVectorBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntVectorFixedBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongBlockBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongVectorBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongVectorFixedBuilder.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/BlockFactory.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-BlockBuilder.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-VectorBuilder.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-VectorFixedBuilder.java.st
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BlockBuilderTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/VectorBuilderTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/VectorFixedBuilderTests.java
Labels: >refactoring, Team:QL, :Query Languages/ES|QL, v8.11.0

#100092 Compute SLM retention from RepositoryData
  docs/changelog/100092.yaml
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/SLMGetExpiredSnapshotsAction.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/SnapshotLifecycle.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/SnapshotRetentionTask.java
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/SLMGetExpiredSnapshotsActionTests.java
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/SnapshotRetentionTaskTests.java
Labels: >bug, :Data Management/ILM+SLM, Team:Data Management, auto-merge, v8.11.0

#99780 ESQL: Test for very large top n
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/Page.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/HeapAttackIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlQueryResponse.java
Labels: >test, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.0

#99736 ESQL: enhance SHOW FUNCTIONS command
  docs/changelog/99736.yaml
  docs/reference/esql/functions/types/case.asciidoc
  docs/reference/esql/functions/types/coalesce.asciidoc
  docs/reference/esql/functions/types/concat.asciidoc
  docs/reference/esql/functions/types/date_parse.asciidoc
  docs/reference/esql/functions/types/greatest.asciidoc
  docs/reference/esql/functions/types/least.asciidoc
  x-pack/plugin/esql/compute/gen/src/main/java/org/elasticsearch/compute/gen/ConsumeProcessor.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/show.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/FunctionInfo.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/Param.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/Greatest.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/Least.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToString.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToVersion.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DateParse.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Abs.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Acos.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Asin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Atan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Atan2.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Ceil.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Cos.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Cosh.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Floor.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Log10.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Pow.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Sin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Sinh.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Sqrt.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Tan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Tanh.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/Left.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/Right.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/show/ShowFunctions.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/RailRoadDiagram.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/GreatestTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/LeastTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DateParseTests.java
Labels: >enhancement, Team:QL, auto-merge, :Query Languages/ES|QL, ES|QL-ui, v8.11.0

#99956 ESQL: Serialize the source in expressions
  docs/changelog/99956.yaml
  x-pack/plugin/esql/qa/server/single-node/src/yamlRestTest/resources/rest-api-spec/test/100_bug_fix.yml
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/floats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/ints.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/ip.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/math.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/row.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/Warnings.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/DoubleConstantFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamInput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamOutput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/TransportEsqlQueryAction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlConfiguration.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/SerializationTestUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTestUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/ParsingTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/WarningsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIPTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/AcosTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/AsinTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/CoshTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Log10Tests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/PowTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/SinhTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/SqrtTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/AbstractBinaryOperatorTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/NegTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamInputTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/ExpressionTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/EvalMapperTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/FilterTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlannerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plugin/DataNodeRequestTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/EsqlConfigurationSerializationTests.java
Labels: >enhancement, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.0

#100149 Remove managing ds by default for now
  docs/changelog/98644.yaml
  docs/reference/data-streams/downsampling-manual.asciidoc
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/CrudDataStreamLifecycleIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/TransportSimulateIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamLifecycle.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamServiceTests.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/DataStreamAndIndexLifecycleMixingTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.11.0

#100106 Validate enrich index before completing policy execution
  docs/changelog/100106.yaml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
Labels: >bug, :Data Management/Ingest Node, Team:Data Management, auto-backport-and-merge, v8.11.0, v7.17.14, v8.10.3

#100155 [7.17] Show concrete error when enrich index not exist rather than NPE (#99604)
  docs/changelog/99604.yaml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichCache.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichCacheTests.java
Labels: backport, auto-merge, v7.17.14

#100156 Add Suse 15.5 to docker ignore list
  .ci/dockerOnLinuxExclusions
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.11.0, v7.17.14, buildkite-opt-in, v8.10.3

#100166 [7.17] Add Suse 15.5 to docker ignore list (#100156)
  .ci/dockerOnLinuxExclusions
Labels: backport, auto-merge, v7.17.14

#100165 [8.10] Add Suse 15.5 to docker ignore list (#100156)
  .ci/dockerOnLinuxExclusions
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, buildkite-opt-in, v8.10.3

#99890 Introduce IndexRoutingTable#readyForSearch
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/ShardRouting.java
  server/src/test/java/org/elasticsearch/cluster/routing/IndexRoutingTableTests.java
Labels: >non-issue, :Distributed/Distributed, :Security/Security, Team:Distributed, Team:Security, v8.11.0

#100153 Avoid arithmetic overflow in LuceneCountOperator
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneCountOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneCountOperatorTests.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.0

#100122 ESQL: Pushdown count(field) to Lucene
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalOptimizerContext.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EsStatsQueryExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/FragmentExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/stats/SearchStats.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/TestLocalPhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/stats/DisabledSearchStats.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/tree/EsqlNodeSubclassTests.java
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.0

#100139 ESQL: Add block factory to GROK command
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ColumnExtractOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/ColumnExtractOperatorTests.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/grok.csv-spec
Labels: >non-issue, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.0

#100176 Release ESQL response in IT tests
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionRuntimeFieldIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/ManyShardsIT.java
Labels: >test, Team:QL, :Query Languages/ES|QL, v8.11.0

#97729 Allow parsing on non-string routing fields
  docs/changelog/97729.yaml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/time_series.yml
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRouting.java
  server/src/test/java/org/elasticsearch/cluster/routing/IndexRoutingTests.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, v8.11.0

#98048 Adds Julia Elasticsearch client to community-clients
  docs/community-clients/index.asciidoc
Labels: >docs, Team:Docs, external-contributor, v8.11.0

#100154 [ML] Log warnings for jobs unassigned for a long time
  docs/changelog/100154.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlAssignmentNotifier.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlAssignmentNotifierTests.java
Labels: >enhancement, :ml, Team:ML, v8.11.0

#100181 [ML] Mute MLModelDeploymentsUpgradeIT::testTrainedModelDeployment
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
Labels: :ml, >test-mute, Team:ML, auto-merge, v8.11.0

#100178 Revert "[Transform] improve transform log/audit correctness when stopped"
  docs/changelog/99917.yaml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
Labels: >non-issue, :ml/Transform, Team:ML, auto-merge, v8.11.0

#100185 Make runtime fields extensible for plugins
  server/src/main/java/org/elasticsearch/index/mapper/AbstractScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DateScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DoubleScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/IpScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/LongScriptFieldType.java
  server/src/main/java/org/elasticsearch/script/AbstractFieldScript.java
  server/src/main/java/org/elasticsearch/search/runtime/AbstractScriptFieldQuery.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DoubleScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LongScriptFieldTypeTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/AbstractNonTextScriptFieldTypeTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/AbstractScriptFieldTypeTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/FieldScriptTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/TestScriptEngine.java
  test/framework/src/main/java/org/elasticsearch/search/runtime/AbstractScriptFieldQueryTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/runtime/AbstractScriptFieldQueryTests.java
Labels: :Search/Search, >refactoring, Team:Search, v8.11.0

#100140 ESQL: Add block factory to DISSECT command
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/StringExtractOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/StringExtractOperatorTests.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/dissect.csv-spec
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.0

#100177 Remove deprecated methods from BlobStore and BlobContainer
  server/src/main/java/org/elasticsearch/common/blobstore/BlobContainer.java
  server/src/main/java/org/elasticsearch/common/blobstore/BlobStore.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v8.11.0

#100192 Mute JdbcCsvSpecIT filter.testInWithCompatibleDateTypes
  x-pack/plugin/sql/qa/server/src/main/resources/filter.csv-spec
Labels: :Query Languages/SQL, >test-mute, Team:QL, v8.11.0

#100150 Allowing data streams java rest tests to run in a test framework that provides its own credentials
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/DataStreamUpgradeRestIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecyclePermissionsRestIT.java
Labels: >test, :Data Management/Data streams, Team:Data Management, v8.11.0

#100193 [ML] Add platform_architecture to package config
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ModelPackageConfig.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ModelPackageConfigTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutTrainedModelAction.java
Labels: >non-issue, :ml, Team:ML, v8.11.0

#100194 Fix flaky test
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/ModelSecretsTests.java
Labels: >test-failure, :ml, Team:ML, v8.11.0

#100179 ILM introduce the `check-ts-end-time-passed` step
  docs/changelog/100179.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/DownsampleAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ForceMergeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ReadOnlyAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/SearchableSnapshotAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ShrinkAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForRolloverReadyStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitUntilTimeSeriesEndTimePassesStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/step/info/EmptyInfo.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/DownsampleActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ForceMergeActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/PhaseCacheManagementTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ReadOnlyActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/SearchableSnapshotActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ShrinkActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitUntilTimeSeriesEndTimePassesStepTests.java
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/ILMDownsampleDisruptionIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/TimeSeriesRestDriver.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >bug, :Data Management/ILM+SLM, Team:Data Management, auto-merge, v8.11.0, v8.10.3

#100188 Remove 8.11 indexversion parameter
  server/src/main/java/org/elasticsearch/Build.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/index/IndexVersion.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
Labels: :Core/Infra/Core, :Search/Search, >refactoring, Team:Core/Infra, Team:Search, v8.11.0

#100161 Changing a data streams yaml rest test to wait for green before checking health now that it is using a replica
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/10_basic.yml
Labels: >test, :Data Management/Data streams, Team:Data Management, auto-merge, v8.11.0

#100197 [8.10] ILM introduce the `check-ts-end-time-passed` step (#100179)
  docs/changelog/100179.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/DownsampleAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ForceMergeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ReadOnlyAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/SearchableSnapshotAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ShrinkAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForRolloverReadyStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitUntilTimeSeriesEndTimePassesStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/step/info/EmptyInfo.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/DownsampleActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ForceMergeActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/PhaseCacheManagementTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ReadOnlyActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/SearchableSnapshotActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ShrinkActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitUntilTimeSeriesEndTimePassesStepTests.java
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/ILMDownsampleDisruptionIT.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/TimeSeriesRestDriver.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >bug, :Data Management/ILM+SLM, backport, Team:Data Management, auto-merge, v8.10.3

#100160 [7.17] Validate enrich index before completing policy execution (#100106)
  docs/changelog/100106.yaml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
Labels: backport

#100158 [8.10] Validate enrich index before completing policy execution (#100106)
  docs/changelog/100106.yaml
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunnerTests.java
Labels: backport, v8.10.3

#99833 Add MappedActionFilters for efficient action filters
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/support/MappedActionFilter.java
  server/src/main/java/org/elasticsearch/action/support/MappedActionFilters.java
  server/src/test/java/org/elasticsearch/action/support/MappedActionFiltersTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, auto-merge, v8.11.0

#100129 Refactor SearchResponseClusters to use CHM
  docs/changelog/100129.yaml
  server/src/internalClusterTest/java/org/elasticsearch/action/search/CCSPointInTimeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchIT.java
  server/src/main/java/org/elasticsearch/action/search/CCSSingleCoordinatorSearchProgressListener.java
  server/src/main/java/org/elasticsearch/action/search/SearchResponse.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/test/java/org/elasticsearch/action/search/SearchResponseTests.java
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/CrossClusterAsyncSearchIT.java
  x-pack/plugin/async-search/src/test/java/org/elasticsearch/xpack/search/AsyncSearchResponseTests.java
Labels: >enhancement, :Search/Search, Team:Search, auto-merge, v8.11.0

#100202 Use block factory in test source operators
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctBooleanGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctBytesRefAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctBytesRefGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctDoubleGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctIntGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxDoubleGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxIntGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationDoubleGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationIntGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinDoubleGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinIntGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileDoubleGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileIntGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumDoubleGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumIntGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AbstractBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AsyncOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/BytesRefBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/ColumnExtractOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LongBooleanTupleBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LongBytesRefTupleBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LongDoubleTupleBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LongIntBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/MvExpandOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/OperatorTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/SequenceBooleanBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/SequenceDoubleBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/SequenceIntBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/SequenceLongBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/StringExtractOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/TupleBlockSourceOperator.java
Labels: >refactoring, Team:QL, :Query Languages/ES|QL, v8.11.0

#100187 Promote the Data stream lifecycle feature to Technical Preview
  docs/changelog/100187.yaml
  docs/reference/data-management.asciidoc
  docs/reference/data-streams/data-stream-apis.asciidoc
  docs/reference/data-streams/lifecycle/apis/delete-lifecycle.asciidoc
  docs/reference/data-streams/lifecycle/apis/explain-lifecycle.asciidoc
  docs/reference/data-streams/lifecycle/apis/get-lifecycle.asciidoc
  docs/reference/data-streams/lifecycle/apis/put-lifecycle.asciidoc
  docs/reference/data-streams/lifecycle/index.asciidoc
  docs/reference/data-streams/lifecycle/tutorial-manage-existing-data-stream.asciidoc
  docs/reference/data-streams/lifecycle/tutorial-manage-new-data-stream.asciidoc
  docs/reference/indices/get-data-stream.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.delete_data_lifecycle.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.explain_data_lifecycle.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_data_lifecycle.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.put_data_lifecycle.json
Labels: >feature, >docs, release highlight, :Data Management/Data streams, Team:Data Management, Team:Docs, v8.11.0

#100209 Mute IndexRecoveryIT.testRerouteRecovery
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
Labels: :Distributed/Recovery, >test-mute, Team:Distributed, auto-merge, auto-backport-and-merge, v8.11.0, v7.17.14, buildkite-opt-in, v8.10.3

#100213 Enable Buildkite DRA workflows and delete Jenkins ones
  .buildkite/scripts/dra-workflow.sh
  .ci/jobs.t/elastic+elasticsearch+dra-snapshot.yml
  .ci/jobs.t/elastic+elasticsearch+dra-staging-trigger.yml
  .ci/jobs.t/elastic+elasticsearch+dra-staging-update.yml
  .ci/jobs.t/elastic+elasticsearch+dra-staging.yml
Labels: >non-issue, :Delivery/Tooling, v8.11.0, v7.17.14, v8.10.3

#100215 [7.17] Enable Buildkite DRA workflows and delete Jenkins ones (#100213)
  .buildkite/scripts/dra-workflow.sh
  .ci/jobs.t/elastic+elasticsearch+dra-snapshot.yml
  .ci/jobs.t/elastic+elasticsearch+dra-staging-trigger.yml
  .ci/jobs.t/elastic+elasticsearch+dra-staging-update.yml
  .ci/jobs.t/elastic+elasticsearch+dra-staging.yml
Labels: backport

#100205 [ML] Simplify the Inference Ingest Processor configuration
  docs/changelog/100205.yaml
  docs/reference/ingest/processors/inference.asciidoc
  server/src/main/java/org/elasticsearch/inference/InferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/ClassificationInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/ErrorInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/FillMaskResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/NlpInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/PyTorchPassThroughResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/QuestionAnsweringInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/RawInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/RegressionInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/TextEmbeddingResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/TextExpansionResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/TextSimilarityInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/results/WarningInferenceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ClassificationConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/InferenceConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/NlpConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/RegressionConfig.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/InferenceIngestInputConfigIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorTests.java
Labels: >enhancement, :ml, Team:ML, cloud-deploy, v8.11.0

#100211 [7.17] Mute IndexRecoveryIT.testRerouteRecovery (#100209)
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
Labels: :Distributed/Recovery, backport, >test-mute, Team:Distributed, auto-merge, v7.17.14, buildkite-opt-in

#100212 [8.10] Mute IndexRecoveryIT.testRerouteRecovery (#100209)
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
Labels: :Distributed/Recovery, backport, >test-mute, Team:Distributed, auto-merge, buildkite-opt-in, v8.10.3

#100216 [7.17] Revert back to using docker compose v1 CLI for test fixtures (#100206)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/testfixtures/TestFixturesPlugin.java
Labels: backport, auto-merge

#100148 [ML] Addressing feedback for storing secrets in a separate net-new system index
  x-pack/plugin/inference/build.gradle
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/MockInferenceServiceIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceIndex.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceSecretsIndex.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/registry/ModelRegistryTests.java
Labels: >non-issue, :ml, Team:ML, v8.11.0

#100159 ESQL: Tests for large concat and many evals
  distribution/src/config/log4j2.properties
  docs/reference/esql/functions/signature/case.svg
  docs/reference/esql/functions/signature/coalesce.svg
  docs/reference/esql/functions/signature/concat.svg
  docs/reference/esql/functions/signature/date_parse.svg
  docs/reference/esql/functions/signature/greatest.svg
  docs/reference/esql/functions/signature/least.svg
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ProjectOperator.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/HeapAttackIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
Labels: >non-issue, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.0

#100218 Never support Docker build features on Windows
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/docker/DockerSupportService.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.11.0, v7.17.14, v8.10.3

#100208 Handle all keys null in BlockHash
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/BooleanBlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/BytesRefBlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/DoubleBlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/IntBlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/LongBlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/BlockFactory.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/BatchEncoder.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/MultivalueDedupe.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/GroupingAggregatorFunctionTestCase.java
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.0

#100223 [8.10] Refactor WriteableIngestDocument (#99324)
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/ForEachProcessorTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/GrokProcessorTests.java
  server/src/main/java/org/elasticsearch/action/ingest/SimulateDocumentBaseResult.java
  server/src/main/java/org/elasticsearch/action/ingest/SimulateProcessorResult.java
  server/src/main/java/org/elasticsearch/action/ingest/WriteableIngestDocument.java
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
  server/src/main/java/org/elasticsearch/ingest/TrackingResultProcessor.java
  server/src/test/java/org/elasticsearch/action/ingest/SimulateDocumentBaseResultTests.java
  server/src/test/java/org/elasticsearch/action/ingest/SimulateExecutionServiceTests.java
  server/src/test/java/org/elasticsearch/action/ingest/SimulateProcessorResultTests.java
  server/src/test/java/org/elasticsearch/action/ingest/WriteableIngestDocumentTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestDocumentTests.java
  server/src/test/java/org/elasticsearch/ingest/PipelineProcessorTests.java
  server/src/test/java/org/elasticsearch/ingest/TrackingResultProcessorTests.java
  test/framework/src/main/java/org/elasticsearch/ingest/IngestDocumentMatcher.java
  test/framework/src/test/java/org/elasticsearch/ingest/IngestDocumentMatcherTests.java
Labels: backport, v8.10.3

#100224 [7.17] Refactor WriteableIngestDocument (#99324)
  server/src/main/java/org/elasticsearch/action/ingest/SimulateDocumentBaseResult.java
  server/src/main/java/org/elasticsearch/action/ingest/SimulateProcessorResult.java
  server/src/main/java/org/elasticsearch/action/ingest/WriteableIngestDocument.java
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
  server/src/main/java/org/elasticsearch/ingest/TrackingResultProcessor.java
  server/src/test/java/org/elasticsearch/action/ingest/SimulateDocumentBaseResultTests.java
  server/src/test/java/org/elasticsearch/action/ingest/SimulateExecutionServiceTests.java
  server/src/test/java/org/elasticsearch/action/ingest/SimulateProcessorResultTests.java
  server/src/test/java/org/elasticsearch/action/ingest/WriteableIngestDocumentTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestDocumentTests.java
  server/src/test/java/org/elasticsearch/ingest/TrackingResultProcessorTests.java
  test/framework/src/main/java/org/elasticsearch/ingest/IngestDocumentMatcher.java
  test/framework/src/test/java/org/elasticsearch/ingest/IngestDocumentMatcherTests.java
Labels: backport, v7.17.14

#100226 [8.10] Never support Docker build features on Windows (#100218)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/docker/DockerSupportService.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.10.3

#100225 [7.17] Never support Docker build features on Windows (#100218)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/docker/DockerSupportService.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v7.17.14

#100228 Release blocks in OrdinalsGroupingOperator
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/OrdinalsGroupingOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/OperatorTests.java
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.0

#100207 ILM the delete action waits for a TSDS index time/bounds to lapse
  docs/changelog/100207.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/DeleteAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/DeleteActionTests.java
Labels: >bug, :Data Management/ILM+SLM, Team:Data Management, v8.11.0, v8.10.3

#100243 Close responses in EsqlActionTaskIT and CanMatchIT
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionTaskIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/CanMatchIT.java
Labels: >test, Team:QL, :Query Languages/ES|QL, v8.11.0

#100247 Mute testSynthesizeIdMultipleSegments
  server/src/test/java/org/elasticsearch/index/mapper/IdLoaderTests.java
Labels: >test-mute, Team:Analytics, auto-merge, :Analytics/TSDB, v8.11.0

#100134 Implement matches() on SourceConfirmedTextQuery
  docs/changelog/100134.yaml
  modules/mapper-extras/src/internalClusterTest/java/org/elasticsearch/index/mapper/MatchOnlyTextMapperIT.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/MatchOnlyTextFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/SourceConfirmedTextQuery.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/SourceConfirmedTextQueryTests.java
Labels: >enhancement, :Search/Highlighting, Team:Search, v8.11.0

#100240 Fix testWaitForClusterStateToBeAppliedOnSourceNode
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
  test/framework/src/main/java/org/elasticsearch/indices/recovery/RecoveryClusterStateDelayListeners.java
Labels: >test, :Distributed/Recovery, Team:Distributed, v8.11.0

#100189 Refactoring & adding tests to rescorer in the example plugin, to account for non strictly increasing doc ids in the results.
  plugins/examples/rescore/src/main/java/org/elasticsearch/example/rescore/ExampleRescoreBuilder.java
  plugins/examples/rescore/src/yamlRestTest/resources/rest-api-spec/test/example-rescore/20_score.yml
  plugins/examples/rescore/src/yamlRestTest/resources/rest-api-spec/test/example-rescore/30_factor_field.yml
Labels: >test, :Search/Ranking, Team:Search, v8.11.0

#100245 Optimize IndexNameExpressionResolver some more
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolver.java
Labels: >non-issue, :Security/Security, Team:Security, v8.11.0

#100253 Propagate cancellation in DataTiersUsageTransportAction
  docs/changelog/100253.yaml
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/rest/action/DataTiersUsageRestCancellationIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/DataTiersUsageTransportAction.java
Labels: >bug, :Data Management/Data streams, Team:Data Management, auto-merge, v8.11.0

#100250 ESQL: Ensure that the limit operator releases if closed before consumed
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/ConstantNullBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/LimitOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BasicBlockTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LimitOperatorTests.java
Labels: >refactoring, Team:QL, :Query Languages/ES|QL, v8.11.0

#100252 Implement matches() on SourceConfirmedTextQuery
  docs/changelog/100134.yaml
  docs/changelog/100252.yaml
  modules/mapper-extras/src/internalClusterTest/java/org/elasticsearch/index/mapper/MatchOnlyTextMapperIT.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/MatchOnlyTextFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/SourceConfirmedTextQuery.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/SourceConfirmedTextQueryTests.java
Labels: >bug, :Search/Highlighting, Team:Search, v8.10.3

#100204 Document ILM waits for tsds end_time to lapse in some actions
  docs/reference/data-streams/downsampling-ilm.asciidoc
  docs/reference/data-streams/tsds-index-settings.asciidoc
  docs/reference/data-streams/tsds.asciidoc
Labels: >docs, :Data Management/ILM+SLM, Team:Data Management, Team:Docs, auto-merge, auto-backport-and-merge, v8.11.0, v8.10.3

#100261 [8.10] ILM the delete action waits for a TSDS index time/bounds to lapse (#100207)
  docs/changelog/100207.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/DeleteAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/DeleteActionTests.java
Labels: :Data Management/ILM+SLM, backport, auto-merge, v8.10.3

#100199 ESQL: Simple check if all blocks get released
  docs/changelog/100199.yaml
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/FilterOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LimitOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/MvExpandOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/OperatorTestCase.java
Labels: >enhancement, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100275 Use patched nebula os package gradle plugin
  distribution/packages/build.gradle
  gradle/verification-metadata.xml
Labels: :Delivery/Build, :Delivery/Packaging, Team:Delivery, v8.11.0

#100263 Refactor remaining test uses of direct DiscoveryNode constructors
  server/src/test/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/AutoExpandReplicasTests.java
  server/src/test/java/org/elasticsearch/cluster/node/DiscoveryNodesTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceHandshakeTests.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/nodeinfo/AutoscalingNodesInfoServiceTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/SetSingleNodeAllocateStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/MlConfigVersionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/TransformConfigVersionTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlAutoUpdateServiceIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingResourceTrackerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeSelectorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SimpleSecurityNetty4ServerTransportTests.java
Labels: >test, :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.12.0

#100274 [8.11] ESQL: Simple check if all blocks get released (#100199)
  docs/changelog/100199.yaml
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/FilterOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LimitOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/MvExpandOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/OperatorTestCase.java
Labels: >enhancement, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100277 ESQL: Ensure that AggregationOperator::final releases if it fails
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/AggregationOperator.java
Labels: >non-issue, Team:QL, auto-merge, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100076 Removed additional usages of Version.CURRENT in strings
  qa/system-indices/src/javaRestTest/java/org/elasticsearch/system/indices/NetNewSystemIndicesIT.java
  qa/system-indices/src/main/java/org/elasticsearch/system/indices/SystemIndicesQA.java
  server/src/main/java/org/elasticsearch/common/logging/HeaderWarning.java
Labels: >enhancement, >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.12.0

#100239 Remove deprecated HandledTransportAction ctors
  server/src/main/java/org/elasticsearch/action/support/HandledTransportAction.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, v8.12.0

#100227 MainAction is local-only
  modules/rest-root/src/main/java/org/elasticsearch/rest/root/MainAction.java
  modules/rest-root/src/main/java/org/elasticsearch/rest/root/MainRequest.java
  modules/rest-root/src/main/java/org/elasticsearch/rest/root/MainResponse.java
  modules/rest-root/src/main/java/org/elasticsearch/rest/root/TransportMainAction.java
  modules/rest-root/src/test/java/org/elasticsearch/rest/root/MainResponseTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.12.0

#100283 [8.11] Ensure that AggregationOperator::final releases if it fails (#100277)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/AggregationOperator.java
Labels: >non-issue, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100265 Refactor more test uses of direct DiscoveryNode constructor
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterChangedEventTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinReasonServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/node/DiscoveryNodeFiltersTests.java
  server/src/test/java/org/elasticsearch/cluster/node/DiscoveryNodesTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AllocationCommandsTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/SameShardRoutingTests.java
  server/src/test/java/org/elasticsearch/transport/SniffConnectionStrategyTests.java
  server/src/test/java/org/elasticsearch/transport/TransportHandshakerTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/CoordinationStateTestCluster.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/DeprecationInfoActionResponseTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexRecoveryMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/ml/JobStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/node/NodeStatsMonitoringDocTests.java
Labels: >test, :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.12.0

#100258 Speedup OperationRouting.computeTargetedShards
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/cluster/routing/OperationRouting.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/IndicesPermission.java
Labels: >non-issue, :Search/Search, Team:Search, v8.12.0

#99892 Support $ and / in ccr follow
  docs/changelog/99892.yaml
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-backport-and-merge, v8.11.0, v8.10.3, v8.12.0

#100259 ExchangeBuffer should release inbound page when no more input is expected
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeBuffer.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/ForkingOperatorTestCase.java
Labels: >refactoring, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100294 [8.10] Support $ and / in ccr follow (#99892)
  docs/changelog/99892.yaml
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.10.3

#100293 [8.11] Support $ and / in ccr follow (#99892)
  docs/changelog/99892.yaml
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.11.1

#100292 Use safeAwait() in more places
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/CancellableTasksTests.java
  server/src/test/java/org/elasticsearch/action/support/ListenableActionFutureTests.java
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
  server/src/test/java/org/elasticsearch/common/util/CancellableSingleObjectCacheTests.java
  server/src/test/java/org/elasticsearch/http/HttpClientStatsTrackerTests.java
  server/src/test/java/org/elasticsearch/tasks/CancellableTasksTrackerTests.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.12.0

#99988 Remove more uses of Version#minimumCompatibilityVersion
  modules/rest-root/src/test/java/org/elasticsearch/rest/root/MainResponseTests.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/TestSystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/main/java/org/elasticsearch/env/NodeMetadata.java
  server/src/test/java/org/elasticsearch/env/NodeEnvironmentTests.java
  server/src/test/java/org/elasticsearch/env/NodeMetadataTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.12.0

#100296 [8.11] ExchangeBuffer should release inbound page when no more input is expected (#100259)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeBuffer.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/ForkingOperatorTestCase.java
Labels: >refactoring, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#99963 Aggs error codes part 1
  docs/changelog/99963.yaml
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/metric/MatrixStatsAggregatorFactory.java
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/terms.yml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/weighted_avg.yml
  modules/parent-join/src/main/java/org/elasticsearch/join/aggregations/ChildrenAggregatorFactory.java
  modules/parent-join/src/main/java/org/elasticsearch/join/aggregations/ParentAggregatorFactory.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationErrors.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/global/GlobalAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/SamplerAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/AbstractInternalTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalMappedRareTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/WeightedAvgAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/BucketHelpers.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/CoreValuesSourceType.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/MultiValuesSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/TimeSeriesValuesSourceType.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSource.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/values/ScriptDoubleValues.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/values/ScriptLongValues.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/BinaryTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/NumericTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/WeightedAvgAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketHelpersTests.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/support/AnalyticsValuesSourceType.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/support/HistogramValuesSource.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesPipelineAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/multiterms/InternalMultiTerms.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/ttest/PairedTTestAggregator.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/rate/RateAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/ttest/TTestAggregatorTests.java
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/aggregations/support/AggregateMetricsValuesSource.java
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/aggregations/support/AggregateMetricsValuesSourceType.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/GeoLineBucketedSort.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/TimeSeriesGeoLineBuckets.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/support/CartesianPointValuesSource.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/support/CartesianShapeValuesSource.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/support/GeoShapeValuesSource.java
Labels: :Analytics/Aggregations, Team:Analytics, auto-merge, >tech debt, v8.12.0

#100295 Ensure blocks released in ESQL disruption tests
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/AbstractEsqlIntegTestCase.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionBreakerIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlDisruptionIT.java
Labels: >test, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.1, v8.12.0

#100301 Convert core xpack rest tests to new test framework
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/FeatureFlag.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  x-pack/plugin/build.gradle
  x-pack/plugin/src/yamlRestTest/java/org/elasticsearch/xpack/test/rest/XPackRestIT.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.10.3, v8.11.1, v8.12.0

#100300 ESQL: LuceneCountOperator implements LeafCollector#collect
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneCountOperator.java
Labels: >enhancement, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100303 [8.11] Ensure blocks released in ESQL disruption tests (#100295)
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/AbstractEsqlIntegTestCase.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionBreakerIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlDisruptionIT.java
Labels: >test, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100305 [8.11] Convert core xpack rest tests to new test framework (#100301)
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/FeatureFlag.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  x-pack/plugin/build.gradle
  x-pack/plugin/src/yamlRestTest/java/org/elasticsearch/xpack/test/rest/XPackRestIT.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.11.1

#100304 Support debugging integration tests with multiple test clusters
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterHandle.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, auto-backport-and-merge, v8.11.1, v8.12.0, v8.10.4

#100306 [8.10] Convert core xpack rest tests to new test framework (#100301)
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/FeatureFlag.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  x-pack/plugin/build.gradle
  x-pack/plugin/src/yamlRestTest/java/org/elasticsearch/xpack/test/rest/XPackRestIT.java
Labels: backport, auto-merge, v8.10.4

#100307 [8.11] ESQL: LuceneCountOperator implements LeafCollector#collect (#100300)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneCountOperator.java
Labels: >enhancement, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100302 ESQL: Test evaluators with cranky breaker
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/operator/MultivalueDedupeBytesRef.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/operator/MultivalueDedupeDouble.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/operator/MultivalueDedupeInt.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/operator/MultivalueDedupeLong.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/MultivalueDedupeBoolean.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/X-MultivalueDedupe.java.st
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
Labels: >non-issue, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100308 [8.11] Support debugging integration tests with multiple test clusters (#100304)
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterHandle.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.11.1

#100309 [8.11] ESQL: Test evaluators with cranky breaker (#100302)
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/operator/MultivalueDedupeBytesRef.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/operator/MultivalueDedupeDouble.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/operator/MultivalueDedupeInt.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/operator/MultivalueDedupeLong.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/MultivalueDedupeBoolean.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/X-MultivalueDedupe.java.st
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
Labels: >non-issue, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100231 ESQL: Read from the `BlockFactory`
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractSerializationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractWireTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractXContentTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/EqualsHashCodeTestUtils.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/ConstantBytesRefVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongVector.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/BlockFactory.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/BlockStreamInput.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/Page.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-Block.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-ConstantVector.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-Vector.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/LimitOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeResponse.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeService.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BasicPageTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BigArrayVectorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BlockSerializationTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/MultiValueBlockTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/SerializationTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LimitOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/exchange/ExchangeServiceTests.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/CanMatchIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlQueryAction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlQueryResponse.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichLookupService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlPlugin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/TransportEsqlQueryAction.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryResponseTests.java
Labels: >non-issue, Team:QL, auto-backport, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100280 Use patched nebula os package gradle plugin
  distribution/packages/build.gradle
  gradle/verification-metadata.xml
Labels: >bug, :Delivery/Build, :Delivery/Packaging, >test-failure, Team:Delivery, auto-backport, v8.11.0, v8.12.0

#100014 Replace 220_logs_default_pipeline.yml with java rest test (#99764)
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/LogsDataStreamIT.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/220_logs_default_pipeline.yml
Labels: >test, :Data Management/Indices APIs, Team:Data Management, auto-merge, v8.12.0

#100297 Use safeAwait() in yet more places
  modules/reindex/src/internalClusterTest/java/org/elasticsearch/index/reindex/BulkByScrollUsesAllScrollDocumentsAfterConflictsIntegTests.java
  modules/reindex/src/internalClusterTest/java/org/elasticsearch/migration/SystemIndexMigrationIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/tasks/ListTasksIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/support/replication/TransportReplicationActionRetryOnClosedNodeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/blocks/SimpleBlocksIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/settings/ClusterSettingsUpdateWithFaultyMasterIT.java
  server/src/internalClusterTest/java/org/elasticsearch/discovery/DiscoveryDisruptionIT.java
  server/src/internalClusterTest/java/org/elasticsearch/gateway/ReplicaShardAllocatorIT.java
  server/src/internalClusterTest/java/org/elasticsearch/gateway/ReplicaShardAllocatorSyncIdIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/DanglingIndicesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/TaskRecoveryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/state/CloseIndexIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/state/CloseWhileRelocatingShardsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/SearchCancellationIT.java
  server/src/test/java/org/elasticsearch/action/ActionListenerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchAsyncActionTests.java
  server/src/test/java/org/elasticsearch/action/support/CountDownActionListenerTests.java
  server/src/test/java/org/elasticsearch/action/support/GroupedActionListenerTests.java
  server/src/test/java/org/elasticsearch/action/support/RefCountingListenerTests.java
  server/src/test/java/org/elasticsearch/action/support/master/TransportMasterNodeActionTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinValidationServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/ContinuousComputationTests.java
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
  server/src/test/java/org/elasticsearch/common/cache/CacheTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/AbstractThrottledTaskRunnerTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/EsExecutorsTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/ReleasableLockTests.java
  server/src/test/java/org/elasticsearch/discovery/SeedHostsResolverTests.java
  server/src/test/java/org/elasticsearch/index/engine/CompletionStatsCacheTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/replication/IndexLevelReplicationTests.java
  server/src/test/java/org/elasticsearch/index/replication/RecoveryDuringReplicationTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerRetentionLeaseTests.java
  server/src/test/java/org/elasticsearch/index/seqno/ReplicationTrackerTests.java
  server/src/test/java/org/elasticsearch/index/shard/GlobalCheckpointListenersTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/indices/IndexingMemoryControllerTests.java
  server/src/test/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/InternalSnapshotsInfoServiceTests.java
  server/src/test/java/org/elasticsearch/threadpool/ScalingThreadPoolTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterClientTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterConnectionTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceLifecycleTests.java
  test/framework/src/main/java/org/elasticsearch/action/support/replication/TransportWriteActionTestHelper.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/nodeinfo/AutoscalingNodesInfoServiceTests.java
  x-pack/plugin/blob-cache/src/test/java/org/elasticsearch/blobcache/common/SparseFileTrackerTests.java
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/FollowerFailOverIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerIndexingTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/allocation/SearchableSnapshotsRelocationIntegTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/SearchableSnapshotsBlobStoreCacheMaintenanceIntegTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/full/CacheServiceTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/full/PersistentCacheTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SimpleSecurityNetty4ServerTransportTests.java
Labels: >test, :Distributed/Distributed, Team:Distributed, auto-merge, v8.12.0

#100287 [Transform] Add an assertion to the testTransformFeatureReset test case
  docs/changelog/100287.yaml
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TestFeatureResetIT.java
Labels: >test, :ml/Transform, Team:ML, v8.12.0

#100290 ESQL: Enable grok and dissect tests with stats
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/dissect.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/grok.csv-spec
Labels: >test, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100322 [8.11] Enable grok and dissect tests with stats (#100290)
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/dissect.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/grok.csv-spec
Labels: >test, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100284 [ML] Defend against negative datafeed start times
  docs/changelog/100284.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDatafeedAction.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsIT.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.11.0, v8.12.0, v7.17.15, v8.10.4

#100281 Refactor test uses of DiscoveryNode.createLocal to just use DiscoveryNodeUtils builder
  server/src/test/java/org/elasticsearch/action/get/TransportMultiGetActionTests.java
  server/src/test/java/org/elasticsearch/action/search/MultiSearchActionTookTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportMultiSearchActionTests.java
  server/src/test/java/org/elasticsearch/action/termvectors/TransportMultiTermVectorsActionTests.java
  server/src/test/java/org/elasticsearch/cluster/NodeConnectionsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/NodesShutdownMetadataTests.java
  server/src/test/java/org/elasticsearch/cluster/node/DiscoveryNodeTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/DataTierTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayServiceTests.java
  server/src/test/java/org/elasticsearch/health/node/selection/HealthNodeExecutorTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
  server/src/test/java/org/elasticsearch/node/ResponseCollectorServiceTests.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksClusterServiceTests.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksNodeServiceTests.java
  server/src/test/java/org/elasticsearch/readiness/ReadinessServiceTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodeUtils.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/AllocationRoutedStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CheckShrinkReadyStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/SetSingleNodeAllocateStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ShrunkShardsAllocatedStepTests.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/DeprecationInfoActionResponseTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/ExecuteStepsUpdateTaskTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/PolicyStepsRegistryTests.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusActionTests.java
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleServiceTests.java
Labels: >test, :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.12.0

#100075 Collapse transport versions 8,500,021-8,500,039 to 8,500,040
  server/src/main/java/org/elasticsearch/Build.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/indices/analyze/ReloadAnalyzersRequest.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamLifecycle.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNode.java
  server/src/main/java/org/elasticsearch/index/query/MatchNoneQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/SimpleQueryStringBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/downsample/DownsampleIndexerAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/downsample/DownsampleShardStatus.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/search/action/AsyncStatusResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/AuthenticateResponse.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/rules/RuleQueryBuilder.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchResponse.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchResponseTests.java
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, v8.12.0

#100326 [8.11] [ML] Defend against negative datafeed start times (#100284)
  docs/changelog/100284.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDatafeedAction.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsIT.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.11.1

#100332 [7.17][ML] defend against negative datafeed start times
  docs/changelog/100284.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDatafeedAction.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsIT.java
Labels: >bug, :ml, backport, auto-merge, v7.17.15

#100190 Moving from Version to Build in ReferenceDocs
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.json
  server/src/test/java/org/elasticsearch/common/ReferenceDocsTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/tool/BaseRunAsSuperuserCommand.java
  x-pack/qa/security-tools-tests/src/test/java/org/elasticsearch/xpack/security/tool/BaseRunAsSuperuserCommandTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.12.0

#100273 Propagate cancellation in GetHealthAction
  docs/changelog/100273.yaml
  server/src/internalClusterTest/java/org/elasticsearch/health/GetHealthCancellationIT.java
  server/src/main/java/org/elasticsearch/health/GetHealthAction.java
Labels: >bug, Team:Data Management, auto-merge, auto-backport-and-merge, :Data Management/Health, v8.11.1, v8.12.0

#100006 Replace 210_logs_custom_mappings.yml with java rest test (#99734)
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/LogsDataStreamIT.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/210_logs_custom_mappings.yml
Labels: >test, :Data Management/Indices APIs, Team:Data Management, auto-merge, auto-backport, v8.11.1, v8.12.0

#100336 [8.11] Replace 220_logs_default_pipeline.yml with java rest test (#99764) (#100014)
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/LogsDataStreamIT.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/220_logs_default_pipeline.yml
Labels: backport, auto-merge, v8.11.1

#100334 ESQL: Move cast in Block reading
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-Block.java.st
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100313 Add more debugging for file settings edge case
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/FileSettingsRoleMappingsStartupIT.java
Labels: >test, :Core/Infra/Settings, Team:Core/Infra, v8.12.0

#100339 ESQL: Reenable some tests
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/keep.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/row.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/show.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/version.csv-spec
Labels: >non-issue, Team:QL, auto-merge, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100325 ESQL: eval - enable block tracking for boolean logic
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/evaluator/EvalMapper.java
Labels: >non-issue, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100337 [8.11] Propagate cancellation in GetHealthAction (#100273)
  docs/changelog/100273.yaml
  server/src/internalClusterTest/java/org/elasticsearch/health/GetHealthCancellationIT.java
  server/src/main/java/org/elasticsearch/health/GetHealthAction.java
Labels: >bug, backport, Team:Data Management, auto-merge, :Data Management/Health, v8.11.1

#100344 [8.11] ESQL: eval - enable block tracking for boolean logic (#100325)
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/evaluator/EvalMapper.java
Labels: >non-issue, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100343 [8.11] ESQL: Reenable some tests (#100339)
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/keep.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/row.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/show.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/version.csv-spec
Labels: >non-issue, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100172 Split isAvailable check for more accurate results in stateless
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ExpiredTokenRemover.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/service/IndexServiceAccountTokenStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/mapper/NativeRoleMappingStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativePrivilegeStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/profile/ProfileService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecurityIndexManager.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/oidc/TransportOpenIdConnectLogoutActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlInvalidateSessionActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlLogoutActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/token/TransportInvalidateTokenActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportGetUsersActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/service/IndexServiceAccountTokenStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/mapper/NativeRoleMappingStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/NativePrivilegeStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/profile/ProfileServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/CacheInvalidatorRegistryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/SecurityIndexManagerTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/test/SecurityMocks.java
Labels: >non-issue, :Security/Security, Team:Security, v8.12.0

#100347 [8.11] ESQL: Reeanble another test (#100342)
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/HeapAttackIT.java
Labels: >non-issue, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100349 AwaitsFix EsqlDisruptionIT
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlDisruptionIT.java
Labels: >test-mute, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1, v8.12.0

#100238 ESQL: Remove aliasing inside Eval
  docs/changelog/100238.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/CsvTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/rename.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/Layout.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/Alias.java
Labels: >bug, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100352 ESQL: Temporarily disable huge concat tests
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/HeapAttackIT.java
Labels: >non-issue, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100232 Tracing: Use doPriv when working with spans, use SpanId
  docs/changelog/100232.yaml
  modules/apm/src/main/java/org/elasticsearch/telemetry/apm/internal/tracing/APMTracer.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/telemetry/tracing/Tracer.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, v8.12.0

#100357 ESQL: Silence failing test
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/rename.csv-spec
Labels: >test-mute, Team:QL, auto-merge, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#100355 Ensure all docker compose tasks are disabled when appropriate
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/testfixtures/TestFixturesPlugin.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, test-windows, auto-merge, buildkite-opt-in, v7.17.15

#100317 [8.11] Use patched nebula os package gradle plugin (#100280)
  distribution/packages/build.gradle
  gradle/verification-metadata.xml
Labels: >bug, :Delivery/Build, :Delivery/Packaging, >test-failure, backport, Team:Delivery, v8.11.1

#100353 [8.11] ESQL: Remove aliasing inside Eval (#100238)
  docs/changelog/100238.yaml
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/HeapAttackIT.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/CsvTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/rename.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/Layout.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/Alias.java
Labels: >bug, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100373 Fix assertion in BlockFactory
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/BlockFactory.java
Labels: >non-issue, Team:QL, auto-merge, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.1, v8.12.0

#100375 [8.11] Fix assertion in BlockFactory (#100373)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/BlockFactory.java
Labels: >non-issue, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#100376 Release success blocks when reading from stream
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/Page.java
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.1, v8.12.0
