Repository elastic/elasticsearch, pull requests merged in 2023-05, with the labels that each got.

#95649 Refactor: Define internal users in a single place
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/InternalUsers.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/User.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/user/InternalUsersTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStore.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
Labels: >refactoring, :Security/Authentication, Team:Security, auto-merge, v8.9.0

#44910 Clarify path_hierarchy documentation
  docs/reference/analysis/tokenizers/pathhierarchy-tokenizer.asciidoc
Labels: >docs, :Search/Analysis, Team:Docs, Team:Search, auto-backport-and-merge, v8.7.2, v8.8.1, v8.9.0

#95699 [8.8] Clarify path_hierarchy documentation (#44910)
  docs/reference/analysis/tokenizers/pathhierarchy-tokenizer.asciidoc
Labels: >docs, :Search/Analysis, backport, Team:Docs, Team:Search, auto-merge, v8.8.1

#95698 [8.7] Clarify path_hierarchy documentation (#44910)
  docs/reference/analysis/tokenizers/pathhierarchy-tokenizer.asciidoc
Labels: >docs, :Search/Analysis, backport, Team:Docs, Team:Search, auto-merge, v8.7.2

#95684 Change some double comparisons in matrix stats tests to be approximate
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/matrix_stats_multi_value_field.yml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/matrix_stats_single_value_field.yml
Labels: >non-issue, >test, :Analytics/Aggregations, Team:Analytics, v8.9.0

#95696 [DOCS] Fix 'shards_size' typo
  docs/reference/search/suggesters/phrase-suggest.asciidoc
  docs/reference/search/suggesters/term-suggest.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.7.2, v8.8.1, v8.9.0

#95703 [8.7] [DOCS] Fix 'shards_size' typo (#95696)
  docs/reference/search/suggesters/phrase-suggest.asciidoc
  docs/reference/search/suggesters/term-suggest.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.7.2

#95704 [8.8] [DOCS] Fix 'shards_size' typo (#95696)
  docs/reference/search/suggesters/phrase-suggest.asciidoc
  docs/reference/search/suggesters/term-suggest.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.8.1

#92060 Add support for dynamic pruning to cardinality aggregations on low-cardinality keyword fields.
  docs/changelog/92060.yaml
  server/src/main/java/org/elasticsearch/common/util/BitArray.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GlobalOrdCardinalityAggregator.java
  server/src/test/java/org/elasticsearch/common/util/BitArrayTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorTests.java
Labels: >enhancement, :Analytics/Aggregations, Team:Analytics, v8.9.0

#95688 Make core engine flush method async
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/diskusage/IndexDiskUsageAnalyzerIT.java
  server/src/main/java/org/elasticsearch/action/support/replication/PostWriteRefresh.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.9.0

#95700 Simplify SearchService#ensureAfterSeqNoRefreshed
  server/src/main/java/org/elasticsearch/search/SearchService.java
Labels: >non-issue, :Search/Search, Team:Search, v8.9.0

#95632 Add REST tests for scripted metric aggregation
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/scripted_metric.yml
Labels: >test, :Analytics/Aggregations, Team:Analytics, v8.9.0

#95624 Add a placeholder for transport version blocks to be added
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeJoinExecutor.java
Labels: >non-issue, :Core/Infra/Transport API, Team:Core/Infra, v8.9.0

#95718 Mute failing Ent Search REST tests
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/60_behavioral_analytics_list.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/90_behavioral_analytics_event_post.yml
Labels: >test-mute, auto-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.9.0

#95689 [Test] Wait for shards before asserting number of docs
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityCcrIT.java
Labels: >test, :Security/Security, Team:Security, v8.9.0

#95724 [8.8] [DOCS] Update default monitoring method on Elastic Cloud (#95662)
  docs/reference/monitoring/indices.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.8.1

#95723 [8.7] [DOCS] Update default monitoring method on Elastic Cloud (#95662)
  docs/reference/monitoring/indices.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.7.2

#95729 Mute failing Ent Search REST tests (#95718)
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/60_behavioral_analytics_list.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/90_behavioral_analytics_event_post.yml
Labels: backport, >test-mute, auto-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.8.1

#95673 Don't throw exceptions during DocumentField serialization
  server/src/main/java/org/elasticsearch/common/document/DocumentField.java
  server/src/test/java/org/elasticsearch/index/get/DocumentFieldTests.java
  x-pack/plugin/build.gradle
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/spatial/70_script_doc_values.yml
Labels: :Search/Search, >refactoring, Team:Search, v8.9.0

#95721 Curate 8.8.0 release notes (BC1)
  docs/changelog/93632.yaml
  docs/changelog/93680.yaml
  docs/changelog/93704.yaml
  docs/changelog/93759.yaml
  docs/changelog/93802.yaml
  docs/changelog/93839.yaml
  docs/changelog/94000.yaml
  docs/changelog/94179.yaml
  docs/changelog/94379.yaml
  docs/changelog/94494.yaml
  docs/changelog/94506.yaml
  docs/changelog/94600.yaml
  docs/changelog/94635.yaml
  docs/changelog/94649.yaml
  docs/changelog/94719.yaml
  docs/changelog/94798.yaml
  docs/changelog/94858.yaml
  docs/changelog/94955.yaml
  docs/changelog/95003.yaml
  docs/changelog/95170.yaml
  docs/changelog/95229.yaml
  docs/changelog/95232.yaml
  docs/changelog/95356.yaml
  docs/changelog/95359.yaml
  docs/changelog/95596.yaml
  docs/changelog/95614.yaml
  docs/reference/release-notes/8.8.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.8.0, v8.8.1

#95731 Implement StartRecoveryRequest#getDescription
  docs/changelog/95731.yaml
  server/src/main/java/org/elasticsearch/indices/recovery/StartRecoveryRequest.java
  server/src/test/java/org/elasticsearch/indices/recovery/StartRecoveryRequestTests.java
Labels: >enhancement, :Distributed/Recovery, Team:Distributed, auto-merge, v8.9.0

#95708 Speed up indices stats yaml tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.stats/13_fields.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.stats/90_global_ordinals.yml
Labels: >test, :Analytics/Aggregations, Team:Analytics, auto-backport-and-merge, v8.8.1, v8.9.0

#95733 [8.8] Speed up indices stats yaml tests (#95708)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.stats/13_fields.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.stats/90_global_ordinals.yml
Labels: >test, :Analytics/Aggregations, backport, Team:Analytics, auto-merge, v8.8.1

#95726 Fix ShardsCapacityHealthIndicatorServiceIT
  server/src/internalClusterTest/java/org/elasticsearch/health/node/ShardsCapacityHealthIndicatorServiceIT.java
Labels: >test, Team:Data Management, :Data Management/Health, v8.8.1, v8.9.0

#95735 [8.8] Fix ShardsCapacityHealthIndicatorServiceIT
  server/src/internalClusterTest/java/org/elasticsearch/health/node/ShardsCapacityHealthIndicatorServiceIT.java
Labels: backport, auto-merge, :Data Management/Health, v8.8.1

#95669 Update CCS compatibility version to the next minor version
  server/src/main/java/org/elasticsearch/TransportVersion.java
Labels: >non-issue, :Core/Infra/Transport API, Team:Core/Infra, v8.9.0

#95377 Simplify `RSH#{create,delete}RetentionLease`
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, auto-merge, v8.9.0

#95713 Don't propagate no such file in fs blob container
  server/src/main/java/org/elasticsearch/common/blobstore/fs/FsBlobContainer.java
  server/src/test/java/org/elasticsearch/common/blobstore/fs/FsBlobContainerTests.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.9.0

#95641 Upgrade Jackson xml to 2.15.0
  build-tools-internal/version.properties
  docs/changelog/95641.yaml
  gradle/build.versions.toml
  gradle/verification-metadata.xml
  libs/x-content/impl/build.gradle
Labels: :Core/Infra/Core, >upgrade, Team:Core/Infra, auto-backport-and-merge, v8.8.0, v8.9.0

#95243 Allow qualified exports to extended modules
  libs/core/src/main/java/org/elasticsearch/jdk/ModuleQualifiedExportsService.java
  libs/preallocate/src/main/java/org/elasticsearch/preallocate/PreallocateModuleExportsService.java
  server/src/main/java/org/elasticsearch/plugins/PluginsService.java
  server/src/test/java/org/elasticsearch/plugins/PluginsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/plugins/MockPluginsService.java
  x-pack/plugin/core/src/main/java/module-info.java
Labels: :Core/Infra/Plugins, >refactoring, Team:Core/Infra, v8.9.0

#95753 [8.8] Upgrade Jackson xml to 2.15.0 (#95641)
  build-tools-internal/version.properties
  docs/changelog/95641.yaml
  gradle/build.versions.toml
  gradle/verification-metadata.xml
  libs/x-content/impl/build.gradle
Labels: :Core/Infra/Core, >upgrade, backport, Team:Core/Infra, auto-merge, v8.8.1

#95754 Use a dedicated serverless transport upgrades feature flag
  server/src/main/java/org/elasticsearch/transport/TransportService.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.9.0

#95743 Add ReloadingPlugin type
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/plugins/internal/ReloadAwarePlugin.java
  server/src/test/java/org/elasticsearch/plugins/internal/ReloadAwarePluginTests.java
Labels: >non-issue, :Core/Infra/Plugins, Team:Core/Infra, v8.9.0

#95694 Add "_storage" internal user
  docs/changelog/95694.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/InternalUsers.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/StorageInternalUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/User.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/UsernamesField.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/user/InternalUsersTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/user/StorageInternalUserTests.java
Labels: >enhancement, :Security/Security, Team:Security, auto-merge, v8.9.0

#95728 Fix testDesiredBalanceShouldConvergeInABigCluster failure
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
Labels: >test, :Distributed/Allocation, Team:Distributed, auto-backport-and-merge, v8.8.0, v8.9.0

#95744 Changes a URL in the ML package loader that points to the ELSER air gapped install page
  x-pack/plugin/ml-package-loader/src/main/java/org/elasticsearch/xpack/ml/packageloader/MachineLearningPackageLoader.java
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport, v8.8.0, v8.9.0

#95757 [8.8] Fix testDesiredBalanceShouldConvergeInABigCluster failure (#95728)
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
Labels: >test, :Distributed/Allocation, backport, Team:Distributed, auto-merge, v8.8.1

#95616 Fix skip version
  qa/mixed-cluster/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/140_routing_path.yml
Labels: >non-issue, Team:Analytics, auto-backport, :Analytics/TSDB, test-full-bwc, v8.8.1, v8.9.0

#95742 Some cleanup in IndexShard
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.9.0

#95760 [8.8] Changes a URL in the ML package loader that points to the ELSER air gapped install page. (#95744)
  x-pack/plugin/ml-package-loader/src/main/java/org/elasticsearch/xpack/ml/packageloader/MachineLearningPackageLoader.java
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.8.1

#95764 Add note on jstack frequency for troubleshooting
  docs/reference/modules/discovery/fault-detection.asciidoc
  docs/reference/troubleshooting.asciidoc
Labels: >docs, :Distributed/Cluster Coordination, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.7.2, v8.8.1, v8.9.0

#95762 Introduce SubscribableListener#addTimeout
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/get/TransportGetTaskAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/list/TransportListTasksAction.java
  server/src/main/java/org/elasticsearch/action/support/SubscribableListener.java
  server/src/test/java/org/elasticsearch/action/support/SubscribableListenerTests.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, auto-merge, v8.9.0

#95769 [8.7] Add note on jstack frequency for troubleshooting (#95764)
  docs/reference/modules/discovery/fault-detection.asciidoc
  docs/reference/troubleshooting.asciidoc
Labels: >docs, :Distributed/Cluster Coordination, backport, Team:Distributed, Team:Docs, auto-merge, v8.7.2

#95770 [8.8] Add note on jstack frequency for troubleshooting (#95764)
  docs/reference/modules/discovery/fault-detection.asciidoc
  docs/reference/troubleshooting.asciidoc
Labels: >docs, :Distributed/Cluster Coordination, backport, Team:Distributed, Team:Docs, auto-merge, v8.8.1

#95765 Fixes a typo in 7.0 migration guide
  docs/reference/migration/migrate_7_0/analysis.asciidoc
Labels: >docs, Team:Docs, external-contributor, v7.17.11

#95747 Fix release highlights generator
  build-tools-internal/src/main/resources/templates/release-highlights.asciidoc
  build-tools-internal/src/test/resources/org/elasticsearch/gradle/internal/release/ReleaseHighlightsGeneratorTest.generateFile.asciidoc
  build-tools-internal/src/test/resources/org/elasticsearch/gradle/internal/release/ReleaseHighlightsGeneratorTest.noHighlights.generateFile.asciidoc
Labels: >docs, Team:Docs, Team:Delivery, :Delivery/Tooling, v8.9.0

#90380 Bad ref to 'node_id' parameter in Task Mgt doc
  docs/reference/cluster/tasks.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: >docs, :Distributed/Task Management, Team:Distributed, Team:Docs, external-contributor, auto-backport-and-merge, v8.7.2, v8.8.1

#95621 Check if an analytics event data stream exists before installing pipeline.
  docs/changelog/95621.yaml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/AnalyticsIngestPipelineRegistry.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/utils/ingest/PipelineRegistry.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/AnalyticsIngestPipelineRegistryTests.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/GeoIpUpgradeIT.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, external-contributor, auto-backport, v8.8.0, :EnterpriseSearch/Application, Team:Enterprise Search, v8.9.0

#95774 [8.8] Bad ref to 'node_id' parameter in Task Mgt doc (#90380)
  docs/reference/cluster/tasks.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: >docs, :Distributed/Task Management, backport, Team:Distributed, Team:Docs, external-contributor, auto-merge, v8.8.1

#95773 [8.7] Bad ref to 'node_id' parameter in Task Mgt doc (#90380)
  docs/reference/cluster/tasks.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
Labels: >docs, :Distributed/Task Management, backport, Team:Distributed, Team:Docs, external-contributor, auto-merge, v8.7.2

#95777 Remove 'coming' notification in release notes
  docs/reference/release-notes/7.17.10.asciidoc
Labels: >docs, Team:Docs, v7.17.10, v7.17.11

#95775 [8.8] Check if an analytics event data stream exists before installing pipeline. (#95621)
  docs/changelog/95621.yaml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/AnalyticsIngestPipelineRegistry.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/utils/ingest/PipelineRegistry.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/AnalyticsIngestPipelineRegistryTests.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/GeoIpUpgradeIT.java
Labels: >non-issue, :Data Management/Ingest Node, backport, Team:Data Management, external-contributor, :EnterpriseSearch/Application, Team:Enterprise Search, v8.8.1

#95748 [ML] Fix upgrade test assertion
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
Labels: >test, :ml, Team:ML, auto-backport-and-merge, v8.8.0, v8.9.0

#95778 [ML] Re-enable upgrade tests with workaround for invalid pipeline config
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlTrainedModelsUpgradeIT.java
Labels: >test, :ml, Team:ML, test-full-bwc, auto-backport-and-merge, v8.8.0, v8.9.0

#95779 [8.8] [ML] Fix upgrade test assertion on trained model metadata (#95748)
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
Labels: >test, :ml, backport, Team:ML, auto-merge, v8.8.1

#95400 Test histogram with zero-count buckets and synthetic source
  docs/reference/mapping/types/histogram.asciidoc
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/analytics/histogram.yml
Labels: >docs, >test, Team:Docs, Team:Analytics, :Analytics/TSDB, test-full-bwc, v8.9.0

#95568 Test downsampling of empty and missing labels
  x-pack/plugin/rollup/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/rollup/10_basic.yml
Labels: >test, :Analytics/Rollup, Team:Analytics, v8.8.1, v8.9.0

#95783 [8.8] [ML] Re-enable upgrade tests with workaround for invalid pipeline config (#95778)
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MLModelDeploymentsUpgradeIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlTrainedModelsUpgradeIT.java
Labels: >test, :ml, backport, Team:ML, auto-merge, test-full-bwc, v8.8.1

#95319 Resolve runtime java via Gradle tool chain provider
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/GitInfoPlugin.java
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/util/Util.java
  build-tools-internal/build.gradle
  build-tools-internal/settings.gradle
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
  build-tools-internal/src/main/groovy/elasticsearch.runtime-jdk-provision.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/JdkDownloadPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/AbstractCustomJavaToolchainResolver.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/AdoptiumJdkToolchainResolver.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/ArchivedOracleJdkToolchainResolver.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/JavaToolChainResolverPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolver.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/AbstractToolchainResolverSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/AdoptiumJdkToolchainResolverSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/ArchivedOracleJdkToolchainResolverSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolverSpec.groovy
  build-tools/settings.gradle
  build-tools/src/main/java/org/elasticsearch/gradle/VersionProperties.java
  build.gradle
  settings.gradle
  test/test-clusters/build.gradle
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.9.0

#95756 Use StoredFields in enrich lookup
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichShardMultiSearchAction.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v8.9.0

#95749 [DOCS] Note limits for queries on downsampled indices
  docs/reference/data-streams/downsampling-ilm.asciidoc
  docs/reference/data-streams/downsampling-manual.asciidoc
  docs/reference/data-streams/downsampling.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.7.2, v8.8.1, v8.9.0

#95787 [8.7] [DOCS] Note limits for queries on downsampled indices (#95749)
  docs/reference/data-streams/downsampling-ilm.asciidoc
  docs/reference/data-streams/downsampling-manual.asciidoc
  docs/reference/data-streams/downsampling.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.7.2

#95200 Add an helper to remove trailing commas in json
  x-pack/plugin/ent-search/build.gradle
  x-pack/plugin/ent-search/licenses/jackson-LICENSE
  x-pack/plugin/ent-search/licenses/jackson-NOTICE
  x-pack/plugin/ent-search/src/main/java/module-info.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/SearchTemplateHelper.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/search/SearchTemplateHelperTests.java
Labels: >non-issue, :EnterpriseSearch/Application, Team:Enterprise Search, v8.9.0

#95715 Increment StackTemplateRegistry#REGISTRY_VERSION
  x-pack/plugin/stack/src/main/java/org/elasticsearch/xpack/stack/StackTemplateRegistry.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, external-contributor, v8.9.0

#95781 Remove a TransportVersion static check duplicated by tests
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/test/java/org/elasticsearch/TransportVersionTests.java
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, v8.9.0

#95789 [DOCS] Document xpack.ml.model_repository setting
  docs/reference/settings/ml-settings.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.8.0, v8.9.0

#95685 Quick note about the close_to operator
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/README.asciidoc
Labels: >docs, >non-issue, Team:Docs, Team:Delivery, :Delivery/Tooling, v8.9.0

#95784 Add support for serialization of Duration and Period
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java
  server/src/test/java/org/elasticsearch/common/io/stream/AbstractStreamTests.java
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, v8.9.0

#95797 [8.8] Fix release highlights generator (#95747)
  build-tools-internal/src/main/resources/templates/release-highlights.asciidoc
  build-tools-internal/src/test/resources/org/elasticsearch/gradle/internal/release/ReleaseHighlightsGeneratorTest.generateFile.asciidoc
  build-tools-internal/src/test/resources/org/elasticsearch/gradle/internal/release/ReleaseHighlightsGeneratorTest.noHighlights.generateFile.asciidoc
Labels: backport, auto-merge, v8.8.1

#95795 [8.8] [DOCS] Document xpack.ml.model_repository setting (#95789)
  docs/reference/settings/ml-settings.asciidoc
Labels: backport, v8.8.1

#94337 Time series docs
  docs/reference/aggregations/bucket.asciidoc
  docs/reference/aggregations/bucket/time-series-aggregation.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, :Analytics/TSDB, v8.9.0

#95794 Update snyk ci job to use branch as target reference
  .ci/jobs.t/elastic+elasticsearch+periodic+snyk-dependency-monitoring.yml
Labels: >enhancement, :Delivery/Build, backport pending, Team:Delivery, v8.8.0, v8.7.2, v8.9.0, v7.17.11

#95801 [8.8] Update snyk ci job to use branch as target reference (#95794)
  .ci/jobs.t/elastic+elasticsearch+periodic+snyk-dependency-monitoring.yml
Labels: backport, auto-merge, v8.8.1

#95802 [8.7] Update snyk ci job to use branch as target reference (#95794)
  .ci/jobs.t/elastic+elasticsearch+periodic+snyk-dependency-monitoring.yml
Labels: backport, auto-merge, v8.7.2

#95805 [7.17] Update snyk ci job to use branch as target reference #95794
  .ci/jobs.t/elastic+elasticsearch+periodic+snyk-dependency-monitoring.yml
Labels: backport, auto-merge, v7.17.11

#95695 Fix deprecate warning in FrozenIndexTests
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/frozen/FrozenIndexTests.java
Labels: >test, :Search/Search, Team:Search, auto-backport-and-merge, v8.7.2, v8.8.1, v8.9.0

#95803 Refactor BWC handling to support more flexible testing scenarios
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalBwcGitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionDownloadPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/InternalJavaRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  test/test-clusters/build.gradle
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/ClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/DefaultElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/ElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultSettingsProvider.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/FipsEnabledClusterConfigProvider.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterConfigProvider.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpecBuilder.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.9.0

#95807 [8.7] Fix deprecate warning in FrozenIndexTests (#95695)
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/frozen/FrozenIndexTests.java
Labels: >test, :Search/Search, backport, Team:Search, auto-merge, v8.7.2

#95808 [8.8] Fix deprecate warning in FrozenIndexTests (#95695)
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/frozen/FrozenIndexTests.java
Labels: >test, :Search/Search, backport, Team:Search, auto-merge, v8.8.1

#95806 Drop temporary extra assert from EnrichAdvancedSecurityIT
  x-pack/plugin/enrich/qa/common/src/main/java/org/elasticsearch/test/enrich/CommonEnrichRestTestCase.java
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v8.9.0

#95654 Bump RCS version constants to 8.9
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/info/NodeInfo.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterPortSettings.java
  server/src/main/java/org/elasticsearch/transport/RemoteConnectionInfo.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/ClearCcrRestoreSessionRequest.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/repositories/GetCcrRestoreFileChunkRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/RemoteClusterFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/SecurityFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/GetUserPrivilegesResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/RoleDescriptor.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/user/GetUserPrivilegesResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationSerializationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/RoleDescriptorTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/CrossClusterAccessAuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/CrossClusterAccessAuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/ApiKeyBackwardsCompatibilityIT.java
Labels: >non-issue, :Security/Security, Team:Security, auto-merge, v8.9.0

#95651 Add named privileges for CCR with new RCS model
  qa/ccs-common-rest/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/RcsCcsCommonYamlTestSuiteIT.java
  x-pack/plugin/build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilege.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/CrossClusterAccessUser.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/RoleDescriptorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilegeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/PrivilegeTests.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityApiKeyRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityCcrFcActionAuthorizationIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityCcrIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityLicensingAndFeatureUsageRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityMlIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecuritySpecialUserIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityTransformIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityWithDlsAndFlsRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityWithDlsRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityWithFlsRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityWithMixedModelRemotesRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityWithSameModelRemotesRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityWithoutDlsAndFlsRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/resources/roles.yml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/CrossClusterAccessServerTransportFilter.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/privileges/11_builtin.yml
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/ApiKeyBackwardsCompatibilityIT.java
Labels: >non-issue, :Security/Authorization, Team:Security, auto-merge, v8.9.0

#95780 Checking that all nodes in the cluster are >= 8.8.0 before installing…
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/AnalyticsIngestPipelineRegistry.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/utils/ingest/PipelineRegistry.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/AnalyticsIngestPipelineRegistryTests.java
Labels: >test-failure, auto-backport-and-merge, v8.8.0, :EnterpriseSearch/Application, Team:Enterprise Search, v8.9.0

#95655 [Transform] Fix failing `testTransformDestIndexAliases` test
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformDestIndexIT.java
Labels: >test, :ml/Transform, Team:ML, auto-backport-and-merge, v8.8.0, v8.9.0

#95675 Do not expose /_script_language and /_script_context for serverless
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetScriptContextAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetScriptLanguageAction.java
Labels: >non-issue, :Core/Infra/REST API, Team:Core/Infra, v8.9.0

#95814 Update cluster-design.asciidoc
  docs/reference/high-availability/cluster-design.asciidoc
Labels: >docs, :Distributed/Cluster Coordination, Team:Distributed, Team:Docs, external-contributor, auto-backport-and-merge, v8.7.2, v8.8.1, v8.9.0

#95818 [8.8] Checking that all nodes in the cluster are >= 8.8.0 before installing… (#95780)
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/AnalyticsIngestPipelineRegistry.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/utils/ingest/PipelineRegistry.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/AnalyticsIngestPipelineRegistryTests.java
Labels: >test-failure, backport, auto-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.8.1

#95819 [8.8] [Transform] Fix failing testTransformDestIndexAliases test (#95655)
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformDestIndexIT.java
Labels: >test, backport, :ml/Transform, Team:ML, auto-merge, v8.8.1

#95813 [Doc] JWT realm's claims.principal setting is mandatory
  x-pack/docs/en/security/authentication/jwt-realm.asciidoc
Labels: >docs, :Security/Authentication, Team:Docs, Team:Security, auto-backport-and-merge, v8.8.0, v8.9.0

#95049 Fail an unpromotable replica shard if its refresh fails
  server/src/main/java/org/elasticsearch/action/admin/indices/refresh/TransportShardRefreshAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/refresh/TransportUnpromotableShardRefreshAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/refresh/UnpromotableShardRefreshRequest.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/unpromotable/BroadcastUnpromotableRequest.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/unpromotable/TransportBroadcastUnpromotableAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/PostWriteRefresh.java
  server/src/test/java/org/elasticsearch/action/support/broadcast/unpromotable/TransportBroadcastUnpromotableActionTests.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, v8.9.0

#95734 Take into account expectedShardSize when initializing shard in simulation
  docs/changelog/95734.yaml
  server/src/main/java/org/elasticsearch/cluster/ClusterInfoSimulator.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/ClusterInfoSimulatorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
Labels: >enhancement, :Distributed/Allocation, Team:Distributed, v8.9.0

#95820 [8.8] [Doc] JWT realm's claims.principal setting is mandatory (#95813)
  x-pack/docs/en/security/authentication/jwt-realm.asciidoc
Labels: >docs, :Security/Authentication, backport, Team:Docs, Team:Security, auto-merge, v8.8.1

#95796 use #newIndexSearcher in all AggregatorTestCase implementations
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramAggregatorTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/CumulativeSumAggregatorTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/DerivativeAggregatorTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/MovFnAggregatorTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/aggregations/ChildrenToParentAggregatorTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/aggregations/ParentToChildrenAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateRangeHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/VariableWidthHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/missing/MissingAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/nested/NestedAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/nested/ReverseNestedAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/DateRangeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/AvgAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MaxAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MinAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/ScriptedMetricAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/SumAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/AvgBucketAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/cumulativecardinality/CumulativeCardinalityAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesHDRAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesTDigestAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/stringstats/StringStatsAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorTests.java
Labels: >test, :Analytics/Aggregations, Team:Analytics, v8.9.0

#95331 Track evacuated IDs since the last shard-local refresh in LiveVersionMap
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/LiveVersionMap.java
  server/src/main/java/org/elasticsearch/index/engine/LiveVersionMapArchive.java
  server/src/main/java/org/elasticsearch/index/engine/VersionValue.java
  server/src/test/java/org/elasticsearch/index/engine/LiveVersionMapArchiveTests.java
  server/src/test/java/org/elasticsearch/index/engine/LiveVersionMapTestUtils.java
  server/src/test/java/org/elasticsearch/index/engine/LiveVersionMapTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.9.0

#95816 Remove snyk trigger
  .ci/jobs.t/elastic+elasticsearch+periodic+snyk-dependency-monitoring-trigger.yml
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.7.2, v8.8.1

#95763 [8.8] Fix skip version (#95616)
  qa/mixed-cluster/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/140_routing_path.yml
Labels: >non-issue, backport, Team:Analytics, :Analytics/TSDB, test-full-bwc, v8.8.1

#95830 [8.8] Remove snyk trigger #95816
  .ci/jobs.t/elastic+elasticsearch+periodic+snyk-dependency-monitoring-trigger.yml
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, v8.8.0, v8.8.1

#95829 Remove unused ReplicationTracker.Factory
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/main/java/org/elasticsearch/index/IndexModule.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/IndexModuleTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.9.0

#95831 Mute testDeleteIgnoringIfNotExistsDoesNotThrowFileNotFound
  server/src/test/java/org/elasticsearch/common/blobstore/fs/FsBlobContainerTests.java
Labels: :Distributed/Snapshot/Restore, >test-mute, Team:Distributed, auto-merge, v8.9.0

#95506 Add origin for post write refresh
  server/src/main/java/org/elasticsearch/action/support/replication/PostWriteRefresh.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationUtils.java
Labels: :Distributed/Network, >refactoring, :Security/Authorization, Team:Distributed, Team:Security, v8.9.0

#95804 Using GET instead of POST for DLM explain API
  modules/dlm/src/main/java/org/elasticsearch/dlm/rest/RestExplainDataLifecycleAction.java
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.explain_data_lifecycle.json
Labels: >non-issue, Team:Data Management, auto-backport-and-merge, :Data Management/DLM, v8.8.1, v8.9.0

#95750 Warn user if regular expression is used when match_pattern defaults to simple in dynamic_template mappings
  server/src/main/java/org/elasticsearch/index/mapper/DynamicTemplate.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicTemplatesTests.java
Labels: >enhancement, :Search/Mapping, Team:Search, v8.9.0

#95832 [ML] Fix partial disablement of ML
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlPartialEnablementAdOnlyIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlPartialEnablementDfaOnlyIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/MlPartialEnablementNlpOnlyIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/LocalStateMachineLearning.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/LocalStateMachineLearningAdOnly.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/LocalStateMachineLearningDfaOnly.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/LocalStateMachineLearningNlpOnly.java
Labels: >non-issue, :ml, Team:ML, v8.9.0

#95833 Simulate blackhole connection to register
  server/src/test/java/org/elasticsearch/cluster/coordination/AtomicRegisterCoordinatorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/stateless/DisruptibleHeartbeatStore.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, v8.9.0

#95112 Security authn via netty channel validator
  docs/changelog/95112.yaml
  modules/transport-netty4/src/main/java/module-info.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpHeaderValidator.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpRequest.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/internal/HttpHeadersAuthenticatorUtils.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/internal/HttpHeadersWithAuthenticationContext.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/internal/HttpValidator.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/HttpHeadersAuthenticatorUtilsTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4BadRequestTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpHeaderThreadContextTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpHeaderValidatorTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerPipeliningTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/http/HttpHeadersValidationException.java
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  server/src/test/java/org/elasticsearch/http/DefaultRestChannelTests.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
  server/src/test/java/org/elasticsearch/rest/RestResponseTests.java
  x-pack/plugin/security/src/main/java/module-info.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticatorChain.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/RemoteHostHeader.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/SecurityRestFilter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SSLEngineUtils.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/SecurityRestFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/SecurityRestFilterWarningHeadersTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
Labels: >enhancement, :Security/Authentication, Team:Security, v8.9.0

#95841 Support overriding BWC checkout remote via extension property
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalBwcGitPlugin.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, v8.9.0

#95810 Add version getter to LocallyMountedSecrets
  server/src/main/java/org/elasticsearch/common/settings/LocallyMountedSecrets.java
  server/src/test/java/org/elasticsearch/common/settings/LocallyMountedSecretsTests.java
Labels: >non-issue, :Core/Infra/Settings, Team:Core/Infra, v8.9.0

#95848 Fix fixed gradle parallization config after merge
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, v8.9.0

#94534 Add new search shards endpoint
  docs/changelog/94534.yaml
  server/src/internalClusterTest/java/org/elasticsearch/action/search/SearchShardsIT.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/search/SearchShardsAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchShardsGroup.java
  server/src/main/java/org/elasticsearch/action/search/SearchShardsRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchShardsResponse.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchShardsAction.java
  server/src/test/java/org/elasticsearch/action/search/SearchShardsRequestTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchShardsResponseTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilege.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >enhancement, :Search/Search, Team:Search, v8.9.0

#95459 Add slf4j-nop in order to prevent startup warnings
  docs/changelog/95459.yaml
  modules/repository-azure/build.gradle
  modules/repository-azure/licenses/log4j-slf4j-impl-LICENSE.txt
  modules/repository-azure/licenses/log4j-slf4j-impl-NOTICE.txt
  modules/repository-azure/licenses/slf4j-nop-LICENSE.txt
  modules/repository-azure/licenses/slf4j-nop-NOTICE.txt
  modules/transport-netty4/build.gradle
  plugins/repository-hdfs/build.gradle
  plugins/repository-hdfs/licenses/log4j-slf4j-impl-LICENSE.txt
  plugins/repository-hdfs/licenses/log4j-slf4j-impl-NOTICE.txt
  plugins/repository-hdfs/licenses/slf4j-nop-LICENSE.txt
  plugins/repository-hdfs/licenses/slf4j-nop-NOTICE.txt
  x-pack/plugin/core/build.gradle
  x-pack/plugin/identity-provider/build.gradle
  x-pack/plugin/identity-provider/licenses/log4j-slf4j-impl-LICENSE.txt
  x-pack/plugin/identity-provider/licenses/log4j-slf4j-impl-NOTICE.txt
  x-pack/plugin/identity-provider/licenses/slf4j-nop-LICENSE.txt
  x-pack/plugin/identity-provider/licenses/slf4j-nop-NOTICE.txt
  x-pack/plugin/security/build.gradle
  x-pack/plugin/security/licenses/log4j-slf4j-impl-LICENSE.txt
  x-pack/plugin/security/licenses/log4j-slf4j-impl-NOTICE.txt
  x-pack/plugin/security/licenses/slf4j-nop-LICENSE.txt
  x-pack/plugin/security/licenses/slf4j-nop-NOTICE.txt
  x-pack/plugin/vector-tile/build.gradle
  x-pack/plugin/vector-tile/licenses/log4j-slf4j-impl-LICENSE.txt
  x-pack/plugin/vector-tile/licenses/log4j-slf4j-impl-NOTICE.txt
  x-pack/plugin/vector-tile/licenses/slf4j-nop-LICENSE.txt
  x-pack/plugin/vector-tile/licenses/slf4j-nop-NOTICE.txt
Labels: >bug, :Core/Infra/Logging, Team:Core/Infra, v8.9.0

#95853 [Test] Fix authz error message assertion
  x-pack/plugin/ilm/qa/with-security/src/javaRestTest/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: >test, :Security/Authorization, Team:Security, v8.9.0

#95827 Curate 8.8.0 release notes (BC2)
  docs/changelog/94649.yaml
  docs/reference/release-notes/8.8.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.8.0, v8.8.1

#95793 Change TransportVersion to a record
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/info/NodesInfoResponse.java
  server/src/main/java/org/elasticsearch/transport/TcpHeader.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/test/java/org/elasticsearch/TransportVersionTests.java
  server/src/test/java/org/elasticsearch/transport/InboundDecoderTests.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/UserToken.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/ServerTransportFilter.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plugin/CursorTests.java
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, auto-backport, v8.7.0, v8.8.0, v8.9.0

#95847 [Test] Fix failing ApiKeyBackwardsCompatibilityIT tests
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/ApiKeyBackwardsCompatibilityIT.java
Labels: >test, :Security/Security, Team:Security, auto-merge, test-full-bwc, auto-backport-and-merge, v8.8.1, v8.9.0

#95845 Fix _xpack/usage for enterprise_search in docs tests
  docs/reference/rest-api/usage.asciidoc
Labels: >test, :EnterpriseSearch/Application, Team:Enterprise Search, v8.9.0

#95822 Update Range Query Date Example
  docs/reference/query-dsl/range-query.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.7.2, v8.8.1

#95843 Adding support for source and source_content_type params
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/55_search_application_search.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/RestQuerySearchApplicationAction.java
Labels: >non-issue, :EnterpriseSearch/Application, Team:Enterprise Search, v8.9.0

#95863 [8.8] Update range-query.asciidoc (#95822)
  docs/reference/query-dsl/range-query.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.8.1

#95858 Note renaming a cluster requires a full restart
  docs/reference/setup/important-settings/cluster-name.asciidoc
Labels: >docs, :Core/Infra/Core, Team:Core/Infra, Team:Docs, auto-backport-and-merge, v8.7.2, v8.8.1, v8.9.0

#95859 [8.8] Ensure we don't randomly generate the same role descriptors when (#95847)
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/ApiKeyBackwardsCompatibilityIT.java
Labels: >test, :Security/Security, backport, Team:Security, auto-merge, test-full-bwc, v8.8.1

#95867 [8.7] Note renaming a cluster requires a full restart (#95858)
  docs/reference/setup/important-settings/cluster-name.asciidoc
Labels: >docs, :Core/Infra/Core, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.7.2

#95855 Fix explain data lifecycle api spec
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.explain_data_lifecycle.json
Labels: >non-issue, Team:Data Management, auto-backport-and-merge, v8.8.0, :Data Management/DLM, v8.9.0

#95871 [8.8] Fix explain data lifecycle api spec (#95855)
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.explain_data_lifecycle.json
Labels: >non-issue, backport, Team:Data Management, auto-merge, :Data Management/DLM, v8.8.1

#95861 Fix _xpack/usage for enterprise_search in docs tests (#95845)
  docs/reference/rest-api/usage.asciidoc
Labels: >test, backport, :EnterpriseSearch/Application, Team:Enterprise Search, v8.8.1

#95864 Adding support for source and source_content_type params (#95843)
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/55_search_application_search.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/RestQuerySearchApplicationAction.java
Labels: >test, backport, :EnterpriseSearch/Application, Team:Enterprise Search, v8.8.1

#95672 [Transform] Improve reporting status of the transform that is about to finish
  docs/changelog/95672.yaml
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformRestTestCase.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformRobustnessIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportGetTransformStatsAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformTask.java
Labels: >bug, :ml/Transform, Team:ML, v8.9.0

#95866 Use RefCountingListener SearchableSnapshotDirectory#prewarmCache
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/cache/full/SearchableSnapshotsPrewarmingIntegTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/SearchableSnapshotDirectory.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, auto-backport-and-merge, v8.8.1, v8.9.0

#95860 [ML] fix possible race condition in frequent item sets aggregation
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/DelegatingCircuitBreakerService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/DelegatingCircuitBreakerServiceTests.java
Labels: >non-issue, :ml, Team:ML, auto-backport-and-merge, v8.8.0, v8.9.0

#95877 [8.8] Use RefCountingListener SearchableSnapshotDirectory#prewarmCache (#95866)
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/cache/full/SearchableSnapshotsPrewarmingIntegTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/SearchableSnapshotDirectory.java
Labels: >non-issue, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.8.1

#95872 Remove dependency on AbstractCollection on set of classes.
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputer.java
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/diskusage/TransportAnalyzeIndexDiskUsageActionTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksClusterServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/capacity/AutoscalingCalculateCapacityServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderServiceTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutorAssignmentTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportStartDataFrameAnalyticsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/JobNodeSelectorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutorTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.9.0

#95879 [8.8] [ML] fix possible race condition in frequent item sets aggregation (#95860)
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/DelegatingCircuitBreakerService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/DelegatingCircuitBreakerServiceTests.java
Labels: >non-issue, :ml, backport, Team:ML, auto-merge, v8.8.1

#95856 Change TransportVersion to a record (#95793)
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/info/NodesInfoResponse.java
  server/src/main/java/org/elasticsearch/transport/TcpHeader.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/test/java/org/elasticsearch/TransportVersionTests.java
  server/src/test/java/org/elasticsearch/transport/InboundDecoderTests.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/UserToken.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/ServerTransportFilter.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/plugin/CursorTests.java
Labels: :Core/Infra/Transport API, >refactoring, backport, v8.8.0, v8.8.1

#95882 Fix compilation error for converting DiscoveryNodes to Collection
  server/src/main/java/org/elasticsearch/action/search/TransportSearchShardsAction.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, v8.9.0

#95874 Enable validation for versionSettings
  docs/changelog/95874.yaml
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinExecutorTests.java
Labels: >bug, :Core/Infra/Settings, :Search/Search, Team:Core/Infra, Team:Search, v8.9.0

#95880 Disable auto-creation of indices in the AnalyticsEventEmitter
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/60_behavioral_analytics_list.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/70_behavioral_analytics_put.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/90_behavioral_analytics_event_post.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/ingest/AnalyticsEventEmitter.java
Labels: >test, :EnterpriseSearch/Application, Team:Enterprise Search, v8.9.0

#95890 Disable auto-creation of indices in the AnalyticsEventEmitter (#95880)
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/60_behavioral_analytics_list.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/70_behavioral_analytics_put.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/90_behavioral_analytics_event_post.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/ingest/AnalyticsEventEmitter.java
Labels: >test, backport, :EnterpriseSearch/Application, Team:Enterprise Search, v8.8.1

#95899 Reduce DEBUG noise in ReplicationTracker
  server/src/main/java/org/elasticsearch/index/seqno/ReplicationTracker.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, auto-merge, v8.9.0

#95714 Add a new API to create RCS specific API keys
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/AbstractCreateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/ApiKey.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/CreateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/CreateCrossClusterApiKeyAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/CreateCrossClusterApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/CrossClusterApiKeyRoleDescriptorBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/RoleDescriptor.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/CreateCrossClusterApiKeyRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/CrossClusterApiKeyRoleDescriptorBuilderTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/apikey/ApiKeyRestIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/apikey/ApiKeySingleNodeTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/apikey/TransportCreateCrossClusterApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestCreateCrossClusterApiKeyAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/apikey/TransportCreateCrossClusterApiKeyActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/apikey/RestCreateApiKeyActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/apikey/RestCreateCrossClusterApiKeyActionTests.java
Labels: >non-issue, :Security/Security, Team:Security, auto-merge, v8.9.0

#95876 Use DirectoryReader instead of IndexReader in AggregatorTestCase
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramAggregatorTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/CumulativeSumAggregatorTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/DerivativeAggregatorTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/pipeline/MovFnAggregatorTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/aggregations/ChildrenToParentAggregatorTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/aggregations/ParentToChildrenAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/DateRangeHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/VariableWidthHistogramAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/missing/MissingAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/nested/NestedAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/nested/ReverseNestedAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/DateRangeAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/BinaryTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/KeywordTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/NumericTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/AvgAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MaxAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MinAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/ScriptedMetricAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/SumAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/AvgBucketAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/cumulativecardinality/CumulativeCardinalityAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesHDRAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesTDigestAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/normalize/NormalizeAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/stringstats/StringStatsAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupResponseTranslationTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/IndexerUtilsTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/GeoLineAggregatorTests.java
Labels: >test, :Analytics/Aggregations, Team:Analytics, v8.9.0

#95767 Strip disallowed chars from generated snapshot name
  docs/changelog/95767.yaml
  server/src/main/java/org/elasticsearch/common/Strings.java
  server/src/test/java/org/elasticsearch/common/StringsTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/GenerateSnapshotNameStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/GenerateSnapshotNameStepTests.java
Labels: >bug, :Data Management/ILM+SLM, Team:Data Management, auto-backport, v8.8.0, v8.9.0

#95886 Test that malformed HTTP request is not validated
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpHeaderValidatorTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpPipeliningHandlerTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
Labels: >non-issue, >test, :Security/Authentication, v8.9.0

#95905 [8.8] Strip disallowed chars from generated snapshot name (#95767)
  docs/changelog/95767.yaml
  server/src/main/java/org/elasticsearch/common/Strings.java
  server/src/test/java/org/elasticsearch/common/StringsTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/GenerateSnapshotNameStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/GenerateSnapshotNameStepTests.java
Labels: >bug, :Data Management/ILM+SLM, backport, Team:Data Management, v8.8.1

#95671 fix: change visibility of SearchService#ResultsType to protected
  server/src/main/java/org/elasticsearch/search/SearchService.java
Labels: >non-issue, :Search/Search, Team:Search, external-contributor, v8.9.0

#95869 Introduce an async external refresh
  server/src/main/java/org/elasticsearch/action/admin/indices/refresh/TransportShardRefreshAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/PostWriteRefresh.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/action/support/replication/TransportWriteActionTests.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.9.0

#95913 Fix SecurityNetty4HttpServerTransportTests
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
Labels: >test, :Security/Authorization, Team:Security, v8.9.0

#95910 Don't generate stacktrace in EarlyTerminationException and TimeExceededException
  docs/changelog/95910.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationPhase.java
  server/src/main/java/org/elasticsearch/search/query/EarlyTerminatingCollector.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
Labels: >enhancement, :Search/Search, Team:Search, v8.9.0

#95736 Provide a `getFromTranslog` method in `ShardGetService`
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/engine/LiveVersionMapTestUtils.java
  server/src/test/java/org/elasticsearch/index/shard/ShardGetServiceTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, auto-merge, v8.9.0

#95914 Add test coverage for unmapped fields for min aggregator
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/min_metric.yml
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MinAggregatorTests.java
Labels: >test, :Analytics/Aggregations, Team:Analytics, v8.9.0

#95911 Add test coverage for unmapped fields for avg aggregator
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/avg_metric.yml
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/AvgAggregatorTests.java
Labels: >test, :Analytics/Aggregations, Team:Analytics, v8.9.0

#95912 Add test coverage for unmapped fields for max aggregator
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/max_metric.yml
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MaxAggregatorTests.java
Labels: >test, :Analytics/Aggregations, Team:Analytics, v8.9.0
