Repository elastic/elasticsearch, pull requests merged in 2023-09, with the labels that each got.

#99110 Add some type specific overrides to XContentBuilder
  libs/x-content/src/main/java/org/elasticsearch/xcontent/XContentBuilder.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.11.0

#99096 Default delay allocation to 10s when in stateless
  server/src/main/java/org/elasticsearch/cluster/routing/UnassignedInfo.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.11.0

#99084 [DOCS] Expand the step that enables the remote cluster server
  docs/reference/modules/cluster/remote-clusters-api-key.asciidoc
Labels: >docs, :Security/Security, Team:Docs, Team:Security, auto-backport-and-merge, v8.11.0, v8.10.1

#99119 [8.10] [DOCS] Expand the step that enables the remote cluster server (#99084)
  docs/reference/modules/cluster/remote-clusters-api-key.asciidoc
Labels: >docs, :Security/Security, backport, Team:Docs, Team:Security, auto-merge, v8.10.1

#99047 Release notes for 7.17.13
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.17.13.asciidoc
Labels: >docs, Team:Docs, v7.17.14

#99086 Make ESQL csv spec tests deterministic
  x-pack/plugin/esql/qa/testFixtures/build.gradle
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/CsvAssert.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/CsvTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/boolean.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/comparison.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/conditional.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/docs.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/drop.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/floats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/id.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/ints.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/ip.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/keep.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/metadata-ignoreCsvTests.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/rename.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/unsigned_long.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/where-like.csv-spec
Labels: >test, Team:QL, :Query Languages/ES|QL, v8.11.0

#99115 [Doc] Add links to the new API key based remote cluster page
  docs/reference/cluster/remote-info.asciidoc
  docs/reference/modules/cluster/remote-clusters-settings.asciidoc
  docs/reference/settings/security-settings.asciidoc
  docs/reference/settings/ssl-settings.asciidoc
  x-pack/docs/en/rest-api/security.asciidoc
  x-pack/docs/en/rest-api/security/create-cross-cluster-api-key.asciidoc
  x-pack/docs/en/rest-api/security/create-roles.asciidoc
  x-pack/docs/en/rest-api/security/update-cross-cluster-api-key.asciidoc
  x-pack/docs/en/security/authorization/managing-roles.asciidoc
  x-pack/docs/en/security/authorization/privileges.asciidoc
Labels: >docs, :Security/Security, Team:Docs, Team:Security, auto-merge, auto-backport-and-merge, v8.10.0, v8.11.0

#99100 Reset node-left generation on election
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeJoinExecutor.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinExecutorTests.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, v8.11.0

#99122 [8.10] [Doc] Add links to the new API key based remote cluster page (#99115)
  docs/reference/cluster/remote-info.asciidoc
  docs/reference/modules/cluster/remote-clusters-settings.asciidoc
  docs/reference/settings/security-settings.asciidoc
  docs/reference/settings/ssl-settings.asciidoc
  x-pack/docs/en/rest-api/security.asciidoc
  x-pack/docs/en/rest-api/security/create-cross-cluster-api-key.asciidoc
  x-pack/docs/en/rest-api/security/create-roles.asciidoc
  x-pack/docs/en/rest-api/security/update-cross-cluster-api-key.asciidoc
  x-pack/docs/en/security/authorization/managing-roles.asciidoc
  x-pack/docs/en/security/authorization/privileges.asciidoc
Labels: >docs, :Security/Security, backport, Team:Docs, Team:Security, auto-merge, v8.10.0

#99111 _health_report slm indicator should use the policy id (not the name)
  docs/changelog/99111.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicyMetadata.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/SlmHealthIndicatorService.java
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/SlmHealthIndicatorServiceTests.java
Labels: >bug, Team:Data Management, auto-backport, :Data Management/Health, v8.10.0, v8.11.0

#99121 Downsample label keyword using ignore_above
  x-pack/plugin/downsample/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/downsample/10_basic.yml
Labels: >test, Team:Analytics, :Analytics/Downsampling, v8.11.0

#99125 [8.10] _health_report slm indicator should use the policy id (not the name) (#99111)
  docs/changelog/99111.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicyMetadata.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/SlmHealthIndicatorService.java
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/SlmHealthIndicatorServiceTests.java
Labels: >bug, backport, Team:Data Management, :Data Management/Health, v8.10.1

#99012 Cleanup IndexResolver.buildIndices slightly
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
Labels: >non-issue, :Query Languages/EQL, Team:QL, v8.11.0

#99007 Concurrent thread access to shared doc values
  docs/changelog/99007.yaml
  modules/aggregations/src/internalClusterTest/java/org/elasticsearch/aggregations/bucket/TimeSeriesNestedAggregationsIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationPhase.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GlobalOrdCardinalityAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/TimeSeriesIndexSearcher.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/DownsampleShardIndexer.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, :Analytics/TSDB, auto-backport-and-merge, v8.10.0, v8.11.0

#99127 [8.10] Concurrent thread access to shared doc values (#99007)
  docs/changelog/99007.yaml
  modules/aggregations/src/internalClusterTest/java/org/elasticsearch/aggregations/bucket/TimeSeriesNestedAggregationsIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationPhase.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GlobalOrdCardinalityAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/TimeSeriesIndexSearcher.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/DownsampleShardIndexer.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, auto-merge, :Analytics/TSDB, v8.10.1

#99109 Update docs for v8.10.0 release
  docs/changelog/98204.yaml
  docs/reference/migration/migrate_8_10.asciidoc
  docs/reference/release-notes/8.10.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.10.0, v8.10.1

#99135 Small cleanup in StreamInput/Output
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, auto-merge, v8.11.0

#99137 Allow enabling serverless transport versions in release builds
  server/src/main/java/org/elasticsearch/transport/TransportService.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.11.0

#99148 Cleanup IndexResolver.buildIndices slightly (#99012)
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
Labels: backport, :Query Languages/EQL, auto-merge, v8.10.1

#99116 Convert EQL rest test to internal-rest framework
  x-pack/plugin/eql/qa/rest/build.gradle
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlDateNanosIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlExtraIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlMissingEventsIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlRestIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlRestValidationIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlSampleIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlSampleMultipleEntriesIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlSpecIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlStatsIT.java
  x-pack/plugin/eql/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlTestCluster.java
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/java/org/elasticsearch/xpack/eql/EqlClientYamlIT.java
  x-pack/plugin/eql/qa/security/build.gradle
  x-pack/plugin/eql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/eql/AsyncEqlSecurityIT.java
  x-pack/plugin/eql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlRestValidationIT.java
  x-pack/plugin/eql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlSecurityTestCluster.java
  x-pack/plugin/eql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlStatsIT.java
  x-pack/plugin/eql/qa/security/src/javaRestTest/resources/roles.yml
Labels: >test, :Query Languages/EQL, Team:QL, v8.11.0

#99131 Remove string-based scheduleUnlessShuttingDown
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobContainer.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobContainerRetriesTests.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStressTestsIT.java
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
  server/src/main/java/org/elasticsearch/cluster/NodeConnectionsService.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterBootstrapService.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ElectionSchedulerFactory.java
  server/src/main/java/org/elasticsearch/cluster/coordination/LagDetector.java
  server/src/main/java/org/elasticsearch/discovery/PeerFinder.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/main/java/org/elasticsearch/transport/TransportKeepAlive.java
  server/src/test/java/org/elasticsearch/cluster/coordination/ElectionSchedulerFactoryTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/shared/FrozenCacheInfoService.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, v8.11.0

#99105 Refactor Metadata.buildIndicesLookup a little
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.11.0

#99052 [8.10] Fix link to Lucene docs for TrimFilter (#99050)
  docs/reference/analysis/tokenfilters/trim-tokenfilter.asciidoc
Labels: >docs, :Search/Analysis, backport, Team:Docs, Team:Search, external-contributor, auto-merge, v8.10.1

#99155 [DOCS] Fine-tunes the reindexing step of the ELSER tutorial
  docs/reference/search/search-your-data/semantic-search-elser.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport, v8.10.0, v8.8.3, v8.11.0, v8.9.3

#99157 [8.10] [DOCS] Fine-tunes the reindexing step of the ELSER tutorial. (#99155)
  docs/reference/search/search-your-data/semantic-search-elser.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.10.1

#99159 [8.9] [DOCS] Fine-tunes the reindexing step of the ELSER tutorial. (#99155)
  docs/reference/search/search-your-data/semantic-search-elser.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.9.3

#99158 [8.8] [DOCS] Fine-tunes the reindexing step of the ELSER tutorial. (#99155)
  docs/reference/search/search-your-data/semantic-search-elser.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.8.3

#99145 Cleanup some array writing spots in StreamOutput
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/info/NodesInfoRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/stats/NodesStatsRequest.java
  server/src/main/java/org/elasticsearch/action/search/ClearScrollRequest.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java
  server/src/main/java/org/elasticsearch/index/query/IdsQueryBuilder.java
  server/src/main/java/org/elasticsearch/script/ScriptException.java
  server/src/main/java/org/elasticsearch/search/SearchHit.java
  server/src/main/java/org/elasticsearch/transport/RemoteConnectionInfo.java
  server/src/main/java/org/elasticsearch/transport/SniffConnectionStrategy.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StopDataFrameAnalyticsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/UpdateFilterAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/calendars/Calendar.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/MlFilter.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/results/Influence.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/StopTransformAction.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.11.0

#99144 Remove redundant StreamOutput.writeMapOfLists
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java
  server/src/test/java/org/elasticsearch/common/io/stream/BytesStreamsTests.java
  server/src/test/java/org/elasticsearch/common/io/stream/RecyclerBytesStreamOutputTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/AutoFollowMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/profile/SuggestProfilesRequest.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetCollector.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.11.0

#99161 Mute failing PercentileIntGroupingAggregatorFunctionTests.testManyIni…
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/ForkingOperatorTestCase.java
Labels: >test-mute, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.0

#99129 [DFA] Make analytics destination index allowed settings customizable at a plugin level
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/DefaultMachineLearningExtension.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearningExtension.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndex.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/steps/ReindexingStep.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MachineLearningTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndexTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/process/DataFrameAnalyticsManagerTests.java
Labels: >non-issue, :ml, Team:ML, v8.11.0

#99162 Fix sync in Coordinator#checkSingleNodeCluster
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, v8.11.0

#99168 Mute failing QueryFeatureExtractorTests test
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/rescorer/QueryFeatureExtractorTests.java
Labels: :ml, >test-mute, Team:ML, auto-merge, v8.10.1

#99166 Remove strings-based scheduleWithFixedDelay
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/UpdateTimeSeriesRangeService.java
  modules/repository-azure/src/main/java/org/elasticsearch/repositories/azure/executors/ReactorScheduledExecutorService.java
  modules/systemd/src/main/java/org/elasticsearch/systemd/SystemdPlugin.java
  modules/systemd/src/test/java/org/elasticsearch/systemd/SystemdPluginTests.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkProcessor.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ClusterBootstrapService.java
  server/src/main/java/org/elasticsearch/indices/IndexingMemoryController.java
  server/src/main/java/org/elasticsearch/monitor/fs/FsHealthService.java
  server/src/main/java/org/elasticsearch/monitor/jvm/JvmGcMonitorService.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/threadpool/Scheduler.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
  server/src/main/java/org/elasticsearch/watcher/ResourceWatcherService.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/monitor/jvm/JvmGcMonitorServiceSettingsTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRestoreSourceService.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardFollowTaskReplicationTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/ClusterStateLicenseService.java
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/privileges/ApplicationActionsResolver.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/TrainedModelStatsService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/UpdateJobProcessNotifier.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/AutodetectProcessManagerTests.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringService.java
  x-pack/plugin/old-lucene-versions/src/main/java/org/elasticsearch/xpack/lucene/bwc/OldLuceneVersions.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshots.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/scheduling/TransformScheduler.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.11.0

#99171 Mute failing test mute_CertGenCliTests/test10Install
  qa/os/src/test/java/org/elasticsearch/packaging/test/CertGenCliTests.java
Labels: :Delivery/Packaging, >test-mute, Team:Delivery, auto-merge, v8.11.0

#99164 Fix stray reference to Version for TransportVersion
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: >bug, >test, :Core/Infra/Core, :Security/Security, Team:Core/Infra, Team:Security, v8.11.0

#99182 [8.10] Introduce the index.downsample.origin.name and index.downsample.origin.uuid settings (#99061)
  server/src/main/java/org/elasticsearch/action/downsample/DownsampleConfig.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/test/java/org/elasticsearch/action/downsample/DonwsampleConfigTests.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/TransportDownsampleAction.java
  x-pack/plugin/downsample/src/test/java/org/elasticsearch/xpack/downsample/DownsampleActionSingleNodeTests.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: backport, :Analytics/TSDB, v8.10.1

#99029 [Search Relevance] GET search application API should return the alias indices
  docs/reference/search-application/apis/get-search-application.asciidoc
  server/src/main/java/org/elasticsearch/TransportVersion.java
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/20_search_application_put.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/30_search_application_get.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/SearchApplication.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/SearchApplicationIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/TransportGetSearchApplicationAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/search/SearchApplicationTests.java
Labels: >non-issue, :EnterpriseSearch/Application, Team:Enterprise Search, v8.11.0

#99180 Build bwc without es runtime 7x
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcSetupExtension.java
Labels: >bug, :Delivery/Build, Team:Delivery, test-full-bwc, v8.11.0, v7.17.14

#99192 Mute all tests in CertGenCliTests
  qa/os/src/test/java/org/elasticsearch/packaging/test/CertGenCliTests.java
Labels: :Security/TLS, >test-mute, Team:Security, v8.11.0

#98618 Suggest git commands for tracking down transport versions
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/index/IndexVersion.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.11.0

#99181 Remove unused ReschedulingRunnable constructor
  server/src/main/java/org/elasticsearch/threadpool/Scheduler.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, v8.11.0

#99106 Add Persian language stemmer
  docs/changelog/99106.yaml
  docs/reference/analysis/tokenfilters/stemmer-tokenfilter.asciidoc
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonAnalysisPlugin.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/PersianStemTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/StemmerTokenFilterFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CommonAnalysisFactoryTests.java
Labels: >enhancement, :Search/Analysis, Team:Search, external-contributor, v8.11.0

#99197 Make RunOnce slightly cheaper
  server/src/main/java/org/elasticsearch/bootstrap/Elasticsearch.java
  server/src/main/java/org/elasticsearch/cluster/action/index/MappingUpdatedAction.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/RunOnce.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexer.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.11.0

#99172 remove duplicate words in the javadoc
  server/src/main/java/org/elasticsearch/action/ActionListenerResponseHandler.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, external-contributor, v8.11.0

#99128 [DOCS] Remote cluster troubleshooting guide
  docs/reference/modules/cluster/remote-clusters-api-key.asciidoc
  docs/reference/modules/cluster/remote-clusters-cert.asciidoc
  docs/reference/modules/cluster/remote-clusters-migration.asciidoc
  docs/reference/modules/cluster/remote-clusters-remote-info.asciidoc
  docs/reference/modules/cluster/remote-clusters-troubleshooting.asciidoc
  docs/reference/modules/remote-clusters.asciidoc
  docs/reference/troubleshooting.asciidoc
Labels: >docs, :Security/Security, Team:Docs, Team:Security, auto-backport-and-merge, v8.11.0, v8.10.1

#99196 [7.17] Fix Painless method lookup over unknown super interfaces (#97062)
  docs/changelog/97062.yaml
  gradle.properties
  modules/lang-painless/src/main/java/org/elasticsearch/painless/lookup/PainlessLookup.java
Labels: backport, v7.17.14

#99199 [8.10] [DOCS] Remote cluster troubleshooting guide (#99128)
  docs/reference/modules/cluster/remote-clusters-api-key.asciidoc
  docs/reference/modules/cluster/remote-clusters-cert.asciidoc
  docs/reference/modules/cluster/remote-clusters-migration.asciidoc
  docs/reference/modules/cluster/remote-clusters-remote-info.asciidoc
  docs/reference/modules/cluster/remote-clusters-troubleshooting.asciidoc
  docs/reference/modules/remote-clusters.asciidoc
  docs/reference/troubleshooting.asciidoc
Labels: >docs, :Security/Security, backport, Team:Docs, Team:Security, auto-merge, v8.10.1

#98360 Use a competitive iterator in `FiltersAggregator`
  docs/changelog/98360.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FilterByFilterAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/QueryToFilterAdapter.java
Labels: >enhancement, :Analytics/Aggregations, Team:Analytics, v8.11.0

#99204 Update 8.10.0 bc4 docs
  docs/reference/release-notes/8.10.0.asciidoc
Labels: >docs, Team:Docs, v8.10.0, v8.11.0

#99206 Set explicit file permissions in NoticeTask
  distribution/build.gradle
  qa/os/src/test/java/org/elasticsearch/packaging/test/CertGenCliTests.java
Labels: >non-issue, :Delivery/Build, :Delivery/Packaging, Team:Delivery, auto-backport-and-merge, v8.11.0, v8.10.1, v8.9.3, v7.17.14

#99194 Add completion listener to pre-fetch blob API
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
  x-pack/plugin/blob-cache/src/test/java/org/elasticsearch/blobcache/shared/SharedBlobCacheServiceTests.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.11.0

#99198 Simplify + Optimize SharedBlobCacheService a little more
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBytes.java
  x-pack/plugin/blob-cache/src/test/java/org/elasticsearch/blobcache/shared/SharedBytesTests.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.11.0

#99077 Update security/authz YAML tests for severless
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz/10_index_doc.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz/11_delete_doc.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz/12_index_alias.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz/14_cat_indices.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz/20_get_doc.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz/21_search_doc.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz/30_dynamic_put_mapping.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz/31_rollover_using_alias.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz/70_tsdb.yml
Labels: >test, :Security/Authorization, Team:Security, auto-merge, v8.11.0

#98840 Don't ignore empty index template that have no template definition.
  build-tools-internal/src/main/resources/checkstyle_suppressions.xml
  docs/changelog/98840.yaml
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/TsdbDataStreamRestIT.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataDataStreamRolloverServiceTests.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractRollingTestCase.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/TsdbIT.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/UpgradeClusterClientYamlTestSuiteIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataTests.java
Labels: >bug, Team:Analytics, auto-backport, :Analytics/TSDB, test-full-bwc, v8.11.0, v8.10.1

#98889 Fix testILMDownsampleRollingRestart() test
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/ILMDownsampleDisruptionIT.java
Labels: >test, Team:Analytics, auto-merge, :Analytics/Downsampling, v8.11.0, v8.10.1

#96708 Log CCR cluster connection
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterServiceTests.java
Labels: >non-issue, :Distributed/CCR, Team:Distributed, v8.11.0

#94607 Use IndexWriter.flushNextBuffer() in InternalEngine.writeIndexingBuffer()
  docs/changelog/94607.yaml
  server/src/internalClusterTest/java/org/elasticsearch/indices/IndexingMemoryControllerIT.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/LiveVersionMap.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/indices/IndexingMemoryController.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/indices/IndexingMemoryControllerTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
Labels: >enhancement, release highlight, :Distributed/Engine, Team:Distributed, v8.11.0

#99152 More deterministic ESQL CSV tests
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/keep.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
Labels: >test, Team:QL, :Query Languages/ES|QL, v8.11.0

#98996 Bring back sparse_vector mapping
  docs/changelog/98996.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/90_sparse_vector.yml
  server/src/main/java/org/elasticsearch/index/IndexVersion.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldTypeTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
Labels: >enhancement, :Search/Mapping, Team:Search, auto-merge, test-full-bwc, v8.11.0

#99227 Fix test expectations: all tasks now get offloaded to the executor.
  server/src/test/java/org/elasticsearch/search/internal/ContextIndexSearcherTests.java
Labels: needs:triage

#99185 ESQL: Add tests for text fields
  x-pack/plugin/esql/qa/server/single-node/src/yamlRestTest/resources/rest-api-spec/test/80_text.yml
Labels: >test, Team:QL, :Query Languages/ES|QL, v8.11.0

#98941 Introduce NodeIdsIterator for balance reconciliation
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconciler.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconcilerTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.11.0

#99188 ESQL: skip synthetic attributes when planning the physical fragment
  docs/changelog/99188.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
Labels: >bug, Team:QL, :Query Languages/ES|QL, v8.11.0

#99229 More ESQL CSV deterministic tests
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/floats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/ints.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
Labels: >test, Team:QL, :Query Languages/ES|QL, v8.11.0

#99228 Close index readers in tests.
  server/src/test/java/org/elasticsearch/deps/lucene/VectorHighlighterTests.java
  server/src/test/java/org/elasticsearch/index/similarity/ScriptedSimilarityTests.java
Labels: >test, :Search/Search, Team:Search, v8.11.0

#99083 Collapse transport versions 850001* into 8500020
  modules/rest-root/src/main/java/org/elasticsearch/rest/root/MainResponse.java
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/stats/NodeStats.java
  server/src/main/java/org/elasticsearch/action/admin/indices/stats/ShardStats.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/GetComponentTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/GetComposableIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/SimulateIndexTemplateRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/SimulateIndexTemplateResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/SimulateTemplateAction.java
  server/src/main/java/org/elasticsearch/action/datastreams/GetDataStreamAction.java
  server/src/main/java/org/elasticsearch/action/search/OpenPointInTimeRequest.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/action/support/broadcast/unpromotable/BroadcastUnpromotableRequest.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamLifecycle.java
  server/src/main/java/org/elasticsearch/cluster/metadata/SingleNodeShutdownMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Template.java
  server/src/main/java/org/elasticsearch/cluster/node/DiscoveryNodes.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesStats.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/PercentilesConfig.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TDigestState.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
  server/src/test/java/org/elasticsearch/action/search/OpenPointInTimeRequestTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/TDigestStateTests.java
  server/src/test/java/org/elasticsearch/search/internal/ShardSearchRequestTests.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/rate/InternalResetTrackingRate.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/Ccr.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/datastreams/DataStreamLifecycleFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/FlushJobAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/PutTrainedModelVocabularyAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/process/autodetect/output/FlushAcknowledgement.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/search/action/AsyncStatusResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/ApiKey.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/RoleDescriptor.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/FlushJobActionRequestTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/Vocabulary.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/TransportVersionUtilsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenServiceTests.java
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, v8.11.0

#99237 [8.9] [DOCS] Add Docker instructions for Kibana (#99112)
  docs/Versions.asciidoc
  docs/reference/setup/install/docker.asciidoc
Labels: backport, v8.9.3

#99234 Remove·the `REPLACEMENT_SOURCE_INDEX` index custom
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleService.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/downsampling/ReplaceSourceWithDownsampleIndexTask.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/downsampling/ReplaceSourceWithDownsampleIndexTaskTests.java
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/DataStreamLifecycleDownsampleIT.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.11.0

#99205 [DOCS] Fix double-slash in link
  x-pack/docs/en/watcher/example-watches/example-watch-clusterstatus.asciidoc
Labels: >docs, Team:Docs, v7.17.13, v8.11.0, v8.10.1, v8.9.3

#99114 Wrap transport version in cluster state
  benchmarks/src/main/java/org/elasticsearch/benchmark/routing/allocation/AllocationBenchmark.java
  build-tools-internal/src/main/resources/forbidden/es-server-signatures.txt
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterStateDiffIT.java
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/state/TransportClusterStateAction.java
  server/src/main/java/org/elasticsearch/cluster/ClusterState.java
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeJoinExecutor.java
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeLeftExecutor.java
  server/src/main/java/org/elasticsearch/cluster/service/TransportVersionsFixupListener.java
  server/src/main/java/org/elasticsearch/cluster/version/CompatibilityVersions.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteResponseTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeLeftExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/service/TransportVersionsFixupListenerTests.java
  server/src/test/java/org/elasticsearch/cluster/version/CompatibilityVersionsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ClientHelperTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/TransportVersionUtilsTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.11.0

#99244 [7.17] [DOCS] Fix double-slash in link (#99205)
  x-pack/docs/en/watcher/example-watches/example-watch-clusterstatus.asciidoc
Labels: backport, v7.17.14

#99243 [8.9] [DOCS] Fix double-slash in link (#99205)
  x-pack/docs/en/watcher/example-watches/example-watch-clusterstatus.asciidoc
Labels: backport, v8.9.3

#99242 [8.10] [DOCS] Fix double-slash in link (#99205)
  x-pack/docs/en/watcher/example-watches/example-watch-clusterstatus.asciidoc
Labels: backport, v8.10.1

#99215 Skip DisiPriorityQueue on single filter agg
  docs/changelog/99215.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregator.java
Labels: >enhancement, :Analytics/Aggregations, Team:Analytics, v8.11.0

#99226 Remove now useless RegExp wrapper.
  build-tools-internal/src/main/resources/forbidden/es-server-signatures.txt
  modules/apm/src/main/java/org/elasticsearch/tracing/apm/APMTracer.java
  server/src/main/java/org/elasticsearch/common/lucene/RegExp.java
  server/src/main/java/org/elasticsearch/indices/AssociatedIndexDescriptor.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/IncludeExclude.java
  server/src/main/java/org/elasticsearch/search/runtime/StringScriptFieldRegexpQuery.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/IncludeExcludeTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/support/Automatons.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/regex/RLikePattern.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: >non-issue, :Search/Search, Team:Search, v8.11.0

#98551 Update Gradle Enterprise plugin to 3.14.1
  gradle/verification-metadata.xml
  plugins/examples/settings.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.11.0, v8.10.1, v8.9.3, v7.17.14

#99130 Simplify IndexResolver.buildIndices more
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
Labels: >non-issue, :Query Languages/EQL, Team:QL, v8.11.0

#99212 Normalize cluster settings names in file settings
  server/src/main/java/org/elasticsearch/reservedstate/action/ReservedClusterSettingsAction.java
  server/src/test/java/org/elasticsearch/reservedstate/action/ReservedClusterSettingsActionTests.java
Labels: >non-issue, :Core/Infra/Settings, Team:Core/Infra, v8.11.0

#99219 Reduce copying when creating scroll/PIT ids
  docs/changelog/99219.yaml
  server/src/main/java/org/elasticsearch/action/search/SearchContextId.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchHelper.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
Labels: >enhancement, :Search/Search, Team:Search, v8.11.0

#99250 [8.9] Update Gradle Enterprise plugin to 3.14.1 (#98551)
  gradle/verification-metadata.xml
  plugins/examples/settings.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.9.3

#99249 [8.10] Update Gradle Enterprise plugin to 3.14.1 (#98551)
  gradle/verification-metadata.xml
  plugins/examples/settings.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.10.1

#99207 Exclude x-pack docs from CI jobs
  .ci/jobs.t/elastic+elasticsearch+pull-request+build-benchmark-part1.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+build-benchmark-part2.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+bwc-snapshots-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+bwc-snapshots.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+cloud-deploy.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+docs-check.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+eql-correctness.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+full-bwc.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-unix-sample.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-unix.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows-nojdk.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows-sample-nojdk.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows-sample.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-upgrade-tests.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-1-fips.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-1-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-2-fips.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-2-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-3-fips.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-3-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-3.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+release-tests.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+rest-compatibility.yml
  .ci/templates.t/pull-request-gradle-unix.yml
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.11.0, v8.10.1, v8.9.3, v7.17.14

#99163 Use NamedWritable to enable GeoBoundingBox serialisation
  docs/changelog/99163.yaml
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/common/geo/BoundingBox.java
  server/src/main/java/org/elasticsearch/common/geo/GeoBoundingBox.java
  server/src/main/java/org/elasticsearch/common/io/stream/GenericNamedWriteable.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java
  server/src/main/java/org/elasticsearch/plugins/SearchPlugin.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/test/java/org/elasticsearch/search/SearchModuleTests.java
  server/src/test/java/org/elasticsearch/search/geo/GeoBoundsGenericWriteableTests.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/common/CartesianBoundingBox.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/SpatialPluginTests.java
Labels: >bug, :Analytics/Geo, Team:Analytics, v8.11.0

#99251 [8.10] Set explicit file permissions in NoticeTask (#99206)
  distribution/build.gradle
Labels: backport, v8.10.1

#99253 [8.9] Set explicit file permissions in NoticeTask (#99206)
  distribution/build.gradle
Labels: backport, v8.9.3

#99264 [8.10] Exclude x-pack docs from CI jobs (#99207)
  .ci/templates.t/pull-request-gradle-unix.yml
Labels: backport, v8.10.1

#99265 [8.9] Exclude x-pack docs from CI jobs (#99207)
  .ci/jobs.t/elastic+elasticsearch+pull-request+build-benchmark-part1.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+build-benchmark-part2.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+bwc-snapshots-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+bwc-snapshots.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+cloud-deploy.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+docs-check.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+eql-correctness.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+full-bwc.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-unix-sample.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-unix.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows-nojdk.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows-sample-nojdk.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows-sample.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-upgrade-tests.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-1-fips.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-1-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-2-fips.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-2-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-3-fips.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-3-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-3.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+release-tests.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+rest-compatibility.yml
  .ci/templates.t/pull-request-gradle-unix.yml
Labels: backport, v8.9.3

#99257 [8.9] [buildkite] Migrate DRA workflows (#99132)
  .buildkite/hooks/pre-command
  .buildkite/pipelines/dra-workflow.yml
  .buildkite/scripts/dra-update-staging.sh
  .buildkite/scripts/dra-workflow.sh
  .buildkite/scripts/dra-workflow.trigger.sh
Labels: backport, v8.9.3

#99267 [8.10] Fix testILMDownsampleRollingRestart() test
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/ILMDownsampleDisruptionIT.java
Labels: >test, backport, auto-merge, :Analytics/Downsampling, v8.10.1

#99262 [7.17] [buildkite] Add most of the remaining periodic pipelines (#98043)
  .buildkite/pipelines/periodic-packaging.bwc.template.yml
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/periodic.bwc.template.yml
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
  .buildkite/scripts/branches.sh
  .buildkite/scripts/encryption-at-rest.sh
  .buildkite/scripts/eql-correctness.sh
  .buildkite/scripts/periodic.trigger.sh
  .buildkite/scripts/release-tests.sh
  build.gradle
  catalog-info.yaml
Labels: backport, v7.17.14

#99225 Update the way that the maximum vector dimension is configured.
  server/src/main/java/org/elasticsearch/index/codec/PerFieldMapperCodec.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: needs:triage

#98512 Automatically map floats as dense vector
  docs/changelog/98512.yaml
  docs/reference/mapping/types/dense-vector.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/60_dense_vector_dynamic_mapping.yml
  server/src/internalClusterTest/java/org/elasticsearch/index/mapper/DynamicMappingIT.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicFieldsBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingTests.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapperTests.java
Labels: >feature, :Search/Mapping, Team:Search, test-full-bwc, :EnterpriseSearch/Application, Team:Enterprise Search, v8.11.0

#99260 [8.10] [buildkite] Add most of the remaining periodic pipelines (#98043)
  .buildkite/pipelines/periodic-packaging.bwc.template.yml
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/periodic.bwc.template.yml
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.trigger.yml
  .buildkite/pipelines/periodic.yml
  .buildkite/scripts/branches.sh
  .buildkite/scripts/encryption-at-rest.sh
  .buildkite/scripts/eql-correctness.sh
  .buildkite/scripts/periodic.trigger.sh
  .buildkite/scripts/release-tests.sh
  build.gradle
  catalog-info.yaml
Labels: backport, v8.10.1

#99261 [8.9] [buildkite] Add most of the remaining periodic pipelines (#98043)
  .buildkite/pipelines/periodic-packaging.bwc.template.yml
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/periodic.bwc.template.yml
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
  .buildkite/scripts/branches.sh
  .buildkite/scripts/encryption-at-rest.sh
  .buildkite/scripts/eql-correctness.sh
  .buildkite/scripts/periodic.trigger.sh
  .buildkite/scripts/release-tests.sh
  build.gradle
  catalog-info.yaml
Labels: backport, v8.9.3

#99274 [buildkite] Disable DRA release-manager temporarily
  .buildkite/scripts/dra-workflow.sh
Labels: >non-issue, :Delivery/Build, auto-backport, v8.11.0, v8.10.1, v8.9.3, v7.17.14

#99275 [8.10] [buildkite] Disable DRA release-manager temporarily (#99274)
  .buildkite/scripts/dra-workflow.sh
Labels: backport, v8.10.1

#99276 [8.9] [buildkite] Disable DRA release-manager temporarily (#99274)
  .buildkite/scripts/dra-workflow.sh
Labels: backport, v8.9.3

#99277 [7.17] [buildkite] Disable DRA release-manager temporarily (#99274)
  .buildkite/scripts/dra-workflow.sh
Labels: backport, v7.17.14

#99271 [8.10] [buildkite] Migrate intake pipeline (#99133)
  .buildkite/pipelines/intake.template.yml
  .buildkite/pipelines/intake.yml
  build.gradle
Labels: backport, v8.10.1

#99272 [8.9] [buildkite] Migrate intake pipeline (#99133)
  .buildkite/pipelines/intake.template.yml
  .buildkite/pipelines/intake.yml
  build.gradle
Labels: backport, v8.9.3

#99273 [7.17] [buildkite] Migrate intake pipeline (#99133)
  .buildkite/pipelines/intake.template.yml
  .buildkite/pipelines/intake.yml
  build.gradle
Labels: backport, v7.17.14

#99189 Limit concurrent Lucene operators
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSlice.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSliceQueue.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/PartialLeafReaderContext.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/EmptySourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/OperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorStatusTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/ValuesSourceReaderOperatorTests.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/ManyShardsIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/QueryPragmas.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlannerTests.java
Labels: >non-issue, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.0

#99146 ESQL: Improve detection of @timestamp inside query
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/FilterTests.java
Labels: >enhancement, Team:QL, :Query Languages/ES|QL, v8.11.0

#99218 [test] Create subdir in config dir if required
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterFactory.java
Labels: >test, :Delivery/Build, Team:Delivery, auto-merge, v8.11.0

#99151 Update terms_enum YAML tests for serverless
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/terms_enum/10_basic.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/terms_enum/20_fieldtypes.yml
Labels: >test, :Search/Search, Team:Search, auto-merge, v8.11.0

#99245 Assert commits order in IndexCommitListener
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.11.0

#99268 Fix SharedBlobCacheServiceTests.testFetchFullCacheEntry
  x-pack/plugin/blob-cache/src/test/java/org/elasticsearch/blobcache/shared/SharedBlobCacheServiceTests.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, v8.11.0

#99058 ESQL: log query and execution time
  docs/changelog/99058.yaml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlResponseListener.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/RestEsqlQueryAction.java
Labels: >enhancement, Team:QL, cloud-deploy, :Query Languages/ES|QL, v8.11.0

#99280 Drop explicit replica setting from terms_enum test
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/terms_enum/10_basic.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/terms_enum/20_fieldtypes.yml
Labels: >test, :Search/Search, Team:Search, v8.11.0

#99263 Update painless-walkthrough.asciidoc
  docs/painless/painless-guide/painless-walkthrough.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.10.1, v8.9.3

#97450 Make _index optional for pinned query docs
  docs/changelog/97450.yaml
  docs/reference/query-dsl/pinned-query.asciidoc
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/search-business-rules/src/internalClusterTest/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilderIT.java
  x-pack/plugin/search-business-rules/src/main/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilder.java
  x-pack/plugin/search-business-rules/src/test/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilderTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/search-business-rules/10_pinned_query.yml
Labels: >enhancement, :Search/Search, Team:Search, auto-merge, v8.11.0

#99239 Remove temporary executor wrapping in ContextIndexSearcher
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/test/java/org/elasticsearch/search/internal/ContextIndexSearcherTests.java
Labels: :Search/Search, >refactoring, Team:Search

#99282 Compute cluster state chunk count in tests
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteResponseTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterStateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataTests.java
Labels: >test, :Core/Infra/REST API, Team:Core/Infra, v8.11.0

#99290 [8.10] Update painless-walkthrough.asciidoc (#99263)
  docs/painless/painless-guide/painless-walkthrough.asciidoc
Labels: backport, v8.10.1

#99291 [8.9] Update painless-walkthrough.asciidoc (#99263)
  docs/painless/painless-guide/painless-walkthrough.asciidoc
Labels: backport, v8.9.3

#99252 Pass compatibility versions down from Node
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinRequest.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinTask.java
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeJoinExecutor.java
  server/src/main/java/org/elasticsearch/discovery/DiscoveryModule.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinHelperTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/MessagesTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/discovery/DiscoveryModuleTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/cluster/version/CompatibilityVersionsUtils.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.11.0

#98843 fix UnsignedLong field range query gt "0" can get the result equal to 0
  docs/changelog/98843.yaml
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/mapper-unsigned-long/src/test/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldTypeTests.java
Labels: >bug, :Search/Mapping, Team:Search, external-contributor, v8.11.0

#99296 Make sure SharedBlobCacheService.fetchFull does not throw if cache becomes contended
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
  x-pack/plugin/blob-cache/src/test/java/org/elasticsearch/blobcache/shared/SharedBlobCacheServiceTests.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.11.0

#99303 Use DEBUG log level to report ESQL execution steps
  docs/changelog/99303.yaml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
Labels: >enhancement, Team:QL, :Query Languages/ES|QL, v8.11.0

#99305 Migrate TransportVersionsFixupListener away from name-based executor
  server/src/main/java/org/elasticsearch/cluster/service/TransportVersionsFixupListener.java
  server/src/test/java/org/elasticsearch/cluster/service/TransportVersionsFixupListenerTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, auto-merge, v8.11.0

#99306 More ESQL CSV deterministic tests (part 4)
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
Labels: >test, Team:QL, :Query Languages/ES|QL, v8.11.0

#99298 Fix some more stray references to Version
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.11.0

#99313 [DOCS] Fix syntax errors in Docker docs
  docs/reference/setup/install/docker.asciidoc
Labels: >docs, Team:Docs, v8.11.0, v8.10.1, v8.9.3

#97721 Remove TransportOptions from ActionType
  server/src/main/java/org/elasticsearch/action/ActionType.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
Labels: >non-issue, :Core/Infra/Transport API, Team:Core/Infra, auto-merge, v8.11.0

#99314 [8.10] [DOCS] Fix syntax errors in Docker docs (#99313)
  docs/reference/setup/install/docker.asciidoc
Labels: backport, v8.10.1

#99315 [8.9] [DOCS] Fix syntax errors in Docker docs (#99313)
  docs/reference/setup/install/docker.asciidoc
Labels: backport, v8.9.3

#99300 Change GetFromTranslog to indices action
  docs/changelog/99300.yaml
  server/src/main/java/org/elasticsearch/action/get/TransportGetFromTranslogAction.java
Labels: >bug, :Distributed/CRUD, :Security/Authorization, Team:Distributed, Team:Security, auto-merge, v8.11.0

#99301 Migrate RetryableAction away from name-based executor
  server/src/main/java/org/elasticsearch/action/support/RetryableAction.java
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationOperation.java
  server/src/main/java/org/elasticsearch/indices/recovery/RemoteRecoveryTargetHandler.java
  server/src/test/java/org/elasticsearch/action/support/RetryableActionTests.java
  server/src/test/java/org/elasticsearch/action/support/replication/PendingReplicationActionsTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterService.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, auto-merge, v8.11.0

#99323 Forward port 8.9.2 release notes
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.9.2.asciidoc
Labels: >docs, Team:Docs, v8.11.0

#99322 Forward port 8.9.2 release notes
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.9.2.asciidoc
Labels: >docs, Team:Docs, v8.10.0, v8.10.1

#99191 Update documentation for Set Processor
  docs/reference/ingest/processors/set.asciidoc
Labels: >docs, :Data Management/Ingest Node, Team:Data Management, Team:Docs, external-contributor, auto-backport-and-merge, v8.11.0, v8.10.1, v8.9.3

#97210 Use deep equality when comparing IngestDocument equality
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
  server/src/main/java/org/elasticsearch/script/CtxMap.java
  server/src/test/java/org/elasticsearch/ingest/IngestDocumentTests.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v8.11.0

#99281 Fix PIT when resolving with deleted indices
  docs/changelog/99281.yaml
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
Labels: >bug, :Search/Search, Team:Search, auto-backport-and-merge, v8.11.0, v8.10.1, v8.9.3, v7.17.14

#97709 Remove ActionPlugin.getClientActions
  server/src/main/java/org/elasticsearch/plugins/ActionPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
Labels: >non-issue, :Core/Infra/Transport API, Team:Core/Infra, auto-merge, v8.11.0

#99330 [8.9] Fix PIT when resolving with deleted indices (#99281)
  docs/changelog/99281.yaml
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
Labels: >bug, :Search/Search, backport, Team:Search, auto-merge, v8.9.3

#99329 [8.10] Fix PIT when resolving with deleted indices (#99281)
  docs/changelog/99281.yaml
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
Labels: >bug, :Search/Search, backport, Team:Search, auto-merge, v8.10.1

#99331 [7.17] Fix PIT when resolving with deleted indices (#99281)
  docs/changelog/99281.yaml
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
Labels: >bug, :Search/Search, backport, Team:Search, auto-merge, v7.17.14

#99221 [IdP] Fix Idp Builder using method calls
  x-pack/plugin/identity-provider/src/main/java/org/elasticsearch/xpack/idp/saml/idp/SamlIdentityProviderBuilder.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/idp/SamlIdentityProviderBuilderTests.java
Labels: >non-issue, Team:Security, :Security/IdentityProvider, v8.11.0

#99295 Fix NameId Mapper in PlanStreamInput
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamInput.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypesTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamInputTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/NameId.java
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.11.0

#99328 Fix deadlock in jwt realm
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/support/CacheIteratorHelper.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealmAuthenticateTests.java
Labels: >bug, :Security/Security, Team:Security, auto-merge, v8.11.0

#99288 Close index reader in tests
  modules/lang-painless/src/test/java/org/elasticsearch/painless/SimilarityScriptTests.java
  server/src/test/java/org/elasticsearch/common/lucene/search/MultiPhrasePrefixQueryTests.java
  server/src/test/java/org/elasticsearch/deps/lucene/SimpleLuceneTests.java
Labels: >test, :Search/Search, Team:Search, v8.11.0

#99310 ESQL: "params" correctly parses the values including an optional "type"
  docs/changelog/99310.yaml
  x-pack/plugin/esql/qa/server/single-node/src/yamlRestTest/resources/rest-api-spec/test/10_basic.yml
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEsqlTestCase.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlQueryRequest.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlParser.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryRequestTests.java
Labels: >bug, Team:QL, :Query Languages/ES|QL, ES|QL-ui, v8.11.0

#99337 Migrate AbstractAsyncTask away from name-based executor
  server/src/main/java/org/elasticsearch/common/util/concurrent/AbstractAsyncTask.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/persistent/PersistentTasksClusterService.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/AbstractAsyncTaskTests.java
  server/src/test/java/org/elasticsearch/index/IndexServiceTests.java
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/full/CacheService.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.11.0

#99308 [DOC+] ILM Searchable Snapshot migrations require repository "name" overlap
  docs/reference/snapshot-restore/apis/put-repo-api.asciidoc
Labels: >enhancement, >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.11.0, v8.10.1, v8.9.3

#99345 [8.9] [DOC+] ILM Searchable Snapshot migrations require repository "name" to be the same (#99308)
  docs/reference/snapshot-restore/apis/put-repo-api.asciidoc
Labels: >enhancement, >docs, backport, Team:Docs, external-contributor, auto-merge, v8.9.3

#99341 Add yaml test debugging tip
  TESTING.asciidoc
Labels: >docs, :Delivery/Build, Team:Docs, Team:Delivery, v8.11.0

#98849 ES|QL: Add multi-node Spec tests
  x-pack/plugin/esql/qa/server/multi-node/build.gradle
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/EsqlSpecIT.java
Labels: >test, Team:QL, :Query Languages/ES|QL, v8.11.0

#98518 Add index.look_back_time setting for tsdb data streams
  docs/changelog/98518.yaml
  docs/reference/data-streams/set-up-tsds.asciidoc
  docs/reference/data-streams/tsds-index-settings.asciidoc
  docs/reference/data-streams/tsds.asciidoc
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/TsdbDataStreamRestIT.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProvider.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamsPlugin.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProviderTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/LookAHeadTimeTests.java
Labels: >enhancement, Team:Analytics, :Analytics/TSDB, v8.11.0

#99334 Migrate ListenerTimeouts away from name-based executor
  server/src/main/java/org/elasticsearch/action/support/ListenerTimeouts.java
  server/src/test/java/org/elasticsearch/action/support/ListenerTimeoutsTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetMlAutoscalingStats.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/async/AsyncTaskManagementService.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.11.0
