Repository elastic/elasticsearch, pull requests merged in 2023-11, with the labels that each got.

#101605 Drop very old version checks from searchable snapshots
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/searchablesnapshots/MountSearchableSnapshotRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/searchablesnapshots/SearchableSnapshotShardStats.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/TransportMountSearchableSnapshotAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/cache/FrozenCacheInfoAction.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/BlobStoreCacheService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/upgrade/SearchableSnapshotIndexMetadataUpgrader.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/cache/common/TestUtils.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.12.0

#101644 Revert NodeMetadata check to simple comparison
  server/src/main/java/org/elasticsearch/env/NodeMetadata.java
  server/src/test/java/org/elasticsearch/env/NodeMetadataTests.java
Labels: >non-issue, :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.12.0

#101651 Remove ThreadGroup#allowThreadSuspension from forbidden APIs
  build-tools-internal/src/main/resources/forbidden/jdk-deprecated.txt
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, v8.11.1, v8.12.0, v8.10.5

#101659 [8.10] Remove ThreadGroup#allowThreadSuspension from forbidden APIs (#101651)
  build-tools-internal/src/main/resources/forbidden/jdk-deprecated.txt
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge, v8.10.5

#101658 [8.11] Remove ThreadGroup#allowThreadSuspension from forbidden APIs (#101651)
  build-tools-internal/src/main/resources/forbidden/jdk-deprecated.txt
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge, v8.11.1

#101635 [DOCS] Document DSL setting to signalling lack of progress for index
  docs/reference/settings/data-stream-lifecycle-settings.asciidoc
Labels: >docs, >non-issue, Team:Docs, v8.12.0

#101603 Fix SnapshotRetentionConfigurationTests
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/SnapshotRetentionConfigurationTests.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, auto-backport-and-merge, v8.11.0, v8.12.0

#101661 Remove IndexShardSnapshotStatus#isAborted
  server/src/main/java/org/elasticsearch/index/snapshots/IndexShardSnapshotStatus.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.12.0

#101662 [8.11] Fix SnapshotRetentionConfigurationTests (#101603)
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/slm/SnapshotRetentionConfigurationTests.java
Labels: >test, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.11.1

#101610 Mute TestFeatureResetIT for 100596
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TestFeatureResetIT.java
Labels: >test-mute, :ml/Transform, Team:ML, auto-merge, v8.10.5

#101665 Reduce exposure of mutable `IndexShardSnapshotStatus`
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/AbortedSnapshotIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotShardsServiceIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportNodesSnapshotsStatus.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
  server/src/main/java/org/elasticsearch/index/snapshots/IndexShardSnapshotStatus.java
  server/src/main/java/org/elasticsearch/repositories/FilterRepository.java
  server/src/main/java/org/elasticsearch/repositories/InvalidRepository.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/UnknownTypeRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/InternalSnapshotsInfoService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/InternalSnapshotsInfoServiceTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/RestoreOnlyRepository.java
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
Labels: :Distributed/Snapshot/Restore, >refactoring, Team:Distributed, v8.12.0

#101633 Make sure onPublishSuccess is called during cluster state tests
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardFailedClusterStateTaskExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardStartedClusterStateTaskExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/InSyncAllocationIdTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/ClusterStateChanges.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/service/ClusterStateTaskExecutorUtils.java
Labels: >test, >refactoring, :Distributed/Cluster Coordination, Team:Distributed, v8.12.0

#101657 Get rid of "this-escape" warning in NodeShutdownTasksIT
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownTasksIT.java
Labels: >test, Team:Core/Infra, :Core/Infra/Node Lifecycle, auto-backport-and-merge, v8.11.1, v8.12.0, v8.10.5

#101604 Miscellaneous tidying towards removing the HLRC
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
Labels: >non-issue, :Clients/Java High Level REST Client, Team:Clients, v8.12.0

#101652 Fix race condition in SnapshotsService
  docs/changelog/101652.yaml
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/ConcurrentSnapshotsIT.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, auto-backport, v8.12.0

#101217 Make forbidden apis check cacheable and cc compatible
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/CheckForbiddenApisTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/DependencyLicensesTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ForbiddenApisPrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/LoggerUsageTask.java
  client/rest/build.gradle
  client/sniffer/build.gradle
  client/test/build.gradle
  distribution/tools/server-cli/build.gradle
  x-pack/plugin/security/build.gradle
  x-pack/plugin/security/cli/build.gradle
  x-pack/plugin/sql/sql-client/build.gradle
Labels: >enhancement, :Delivery/Build, Team:Delivery, buildkite-opt-in, v8.12.0

#101672 Drop ancient version checks from some Data Management code
  server/src/main/java/org/elasticsearch/action/datastreams/CreateDataStreamAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/cluster/action/MigrateToDataTiersResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/AllocateAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/searchablesnapshots/SearchableSnapshotFeatureSetUsage.java
Labels: >non-issue, :Data Management/Other, Team:Data Management, v8.12.0

#101648 ESQL: Fix unreleased block in topn
  docs/changelog/101648.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/Block.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/topn/TopNOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/TupleBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/topn/TopNOperatorTests.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/AbstractEsqlIntegTestCase.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionBreakerIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
Labels: >bug, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.1, v8.12.0

#101215 Increase timeout for creating a new index
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/RareClusterStateIT.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, v8.12.0

#101685 ESQL: Yaml test for https://github.com/elastic/elasticsearch/issues/101489
  x-pack/plugin/esql/qa/server/single-node/src/yamlRestTest/resources/rest-api-spec/test/100_bug_fix.yml
Labels: >non-issue, >test, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.0, v8.12.0

#101681 Drop HLRC from the qa remote-clusters tests
  qa/remote-clusters/src/test/java/org/elasticsearch/cluster/remote/test/AbstractMultiClusterRemoteTestCase.java
  qa/remote-clusters/src/test/java/org/elasticsearch/cluster/remote/test/RemoteClustersIT.java
Labels: >non-issue, :Data Management/Other, Team:Data Management, v8.12.0

#98916 Make knn search a query
  docs/changelog/98916.yaml
  docs/reference/query-dsl/knn-query.asciidoc
  docs/reference/query-dsl/special-queries.asciidoc
  docs/reference/search/search-your-data/knn-search.asciidoc
  modules/percolator/src/internalClusterTest/java/org/elasticsearch/percolator/PercolatorQuerySearchIT.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/110_knn_query_with_filter.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/120_knn_query_multiple_shards.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/130_knn_query_nested_search.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/140_knn_query_with_other_queries.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/40_knn_search.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/45_knn_search_byte.yml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/vectors/KnnVectorQueryBuilder.java
  server/src/test/java/org/elasticsearch/search/vectors/AbstractKnnVectorQueryBuilderTestCase.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/search-business-rules/10_pinned_query.yml
Labels: >feature, Team:Search, :Search/Vectors, v8.12.0

#101316 [DOCS] Fix painless context _id variable
  docs/painless/painless-contexts/painless-reindex-context.asciidoc
  docs/painless/painless-contexts/painless-update-by-query-context.asciidoc
  docs/painless/painless-contexts/painless-update-context.asciidoc
Labels: >docs, :Core/Infra/Scripting, Team:Core/Infra, Team:Docs, external-contributor, v8.12.0

#101688 Fix race condition in SnapshotsService (#101652)
  docs/changelog/101652.yaml
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: >bug, backport, auto-merge, v7.17.15

#101674 Annotate build scan urls in BK for failed builds as error
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
Labels: >enhancement, :Delivery/Build, Team:Delivery, buildkite-opt-in, v8.12.0

#101678 Remove unused function from `ShardsAvailabilityHealthIndicatorServiceTests`
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorServiceTests.java
Labels: >refactoring, Team:Data Management, auto-merge, :Data Management/Health, v8.12.0

#101140 Make DockerSupportService configuration cache compatible
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/docker/DockerResult.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/docker/DockerSupportService.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/docker/DockerValueSource.java
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.12.0

#101426 Add undesired shard count
  docs/changelog/101426.yaml
  docs/reference/cluster/get-desired-balance.asciidoc
  qa/smoke-test-multinode/src/yamlRestTest/resources/rest-api-spec/test/smoke_test_multinode/30_desired_balance.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.desired_balance/10_basic.yml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/allocation/TransportGetDesiredBalanceAction.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/ClusterBalanceStats.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/DesiredBalanceResponseTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/ClusterBalanceStatsTests.java
Labels: >enhancement, :Distributed/Allocation, Team:Distributed, v8.12.0

#101684 Create a feature for the get settings rest action
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/main/java/org/elasticsearch/rest/RestFeatures.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterGetSettingsAction.java
  server/src/main/resources/META-INF/services/org.elasticsearch.features.FeatureSpecification
  server/src/test/java/org/elasticsearch/action/ActionModuleTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
Labels: :Core/Infra/REST API, >refactoring, Team:Core/Infra, v8.12.0

#101666 Misc cleanup in SnapshotShardsService
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
Labels: :Distributed/Snapshot/Restore, >refactoring, Team:Distributed, auto-merge, buildkite-opt-in, v8.12.0

#101686 [8.11] Yaml test for https://github.com/elastic/elasticsearch/issues/101489 (#101685)
  x-pack/plugin/esql/qa/server/single-node/src/yamlRestTest/resources/rest-api-spec/test/100_bug_fix.yml
Labels: >non-issue, >test, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#101692 [ML] Ignore failed jobs in serverless autoscaling
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingResourceTracker.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/autoscaling/MlAutoscalingResourceTrackerTests.java
Labels: >non-issue, :ml, Team:ML, v8.12.0

#101703 [DOCS] Adds technical preview note to inference APIs
  docs/reference/inference/delete-inference.asciidoc
  docs/reference/inference/get-inference.asciidoc
  docs/reference/inference/inference-apis.asciidoc
  docs/reference/inference/post-inference.asciidoc
  docs/reference/inference/put-inference.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.11.1, v8.12.0

#101579 EQL doc wrong description in query example
  docs/reference/eql/syntax.asciidoc
Labels: >docs, Team:Docs, external-contributor, v8.11.1, v8.12.0, v8.10.5

#101707 [8.11] [DOCS] Adds technical preview note to inference APIs. (#101703)
  docs/reference/inference/delete-inference.asciidoc
  docs/reference/inference/get-inference.asciidoc
  docs/reference/inference/inference-apis.asciidoc
  docs/reference/inference/post-inference.asciidoc
  docs/reference/inference/put-inference.asciidoc
Labels: >docs, backport, Team:Docs, v8.11.1

#101689 Update docs for v8.11.0 release
  docs/reference/migration/migrate_8_11.asciidoc
  docs/reference/release-notes/8.11.0.asciidoc
Labels: >docs, Team:Docs, v8.11.0, v8.11.1

#101696 Remove HLRC from repository-old-versions test
  client/rest-high-level/src/main/java/org/elasticsearch/client/core/AcknowledgedResponse.java
  client/rest-high-level/src/main/java/org/elasticsearch/client/core/ShardsAcknowledgedResponse.java
  x-pack/qa/repository-old-versions/src/test/java/org/elasticsearch/oldrepos/OldRepositoryAccessIT.java
Labels: >non-issue, :Data Management/Other, Team:Data Management, v8.12.0

#101698 Drop the HLRC from CCS test
  qa/ccs-rolling-upgrade-remote-cluster/src/test/java/org/elasticsearch/upgrades/SearchStatesIT.java
Labels: >non-issue, :Data Management/Other, Team:Data Management, v8.12.0

#101708 [8.11] EQL doc wrong description in query example (#101579)
  docs/reference/eql/syntax.asciidoc
Labels: backport, v8.11.1

#101709 [main] EQL doc wrong description in query example (#101579)
  docs/reference/eql/syntax.asciidoc
Labels: backport, v8.12.0

#101711 Allow filtering out waiting for tasks to complete in AbstractXPackRestTest cleanup method
  x-pack/plugin/src/test/java/org/elasticsearch/xpack/test/rest/AbstractXPackRestTest.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.12.0

#100672 [ML] Hugging Face inference service
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/inference/EmptyTaskSettings.java
  server/src/main/java/org/elasticsearch/inference/InferenceService.java
  server/src/main/java/org/elasticsearch/inference/ModelConfigurations.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/TestInferenceServicePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceNamedWriteablesProvider.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportPutInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/action/ExecutableAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/action/huggingface/HuggingFaceElserAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/HttpClient.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/HttpClientManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/HttpRequestExecutorService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/HttpRequestSenderFactory.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/Sender.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/huggingface/HuggingFaceAccount.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/huggingface/HuggingFaceClient.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/Request.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/huggingface/HuggingFaceElserRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/huggingface/HuggingFaceElserRequestEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/huggingface/HuggingFaceElserResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/logging/Throttler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/logging/ThrottlerManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/MapParsingUtils.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserMlNodeService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserSecretSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserServiceSettings.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/EmptyTaskSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/action/huggingface/HuggingFaceElserActionTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/HttpClientManagerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/HttpClientTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/IdleConnectionEvictorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/Utils.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/HttpRequestExecutorServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/HttpRequestSenderFactoryTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/RequestTaskTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/huggingface/HuggingFaceClientTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/huggingface/HuggingFaceElserRequestEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/huggingface/HuggingFaceElserRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/huggingface/HuggingFaceElserResponseEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/logging/ThrottlerManagerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/logging/ThrottlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserSecretSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserServiceSettingsTests.java
Labels: >non-issue, :ml, Team:ML, v8.12.0

#101670 Remove obsolete version check for system index migrations
  server/src/main/java/org/elasticsearch/upgrades/SystemIndexMigrator.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.12.0

#101713 Disable weight_matches when kNN query is present
  docs/changelog/101713.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.highlight/10_unified.yml
  server/src/main/java/org/elasticsearch/lucene/search/uhighlight/CustomUnifiedHighlighter.java
Labels: >bug, :Search/Highlighting, Team:Search, auto-merge, auto-backport-and-merge, v8.11.1, v8.12.0

#101702 Process all snapshots in syncShardStatsOnNewMaster
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.12.0

#101680 Metrics: Reject names longer than 63 characters
  modules/apm/src/main/java/org/elasticsearch/telemetry/apm/APMMeterRegistry.java
  modules/apm/src/main/java/org/elasticsearch/telemetry/apm/AbstractInstrument.java
  modules/apm/src/test/java/org/elasticsearch/telemetry/apm/APMMeterRegistryTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.12.0

#101697 Remove HLRC from EQL tests
  client/rest-high-level/src/main/java/org/elasticsearch/client/RestHighLevelClient.java
  x-pack/plugin/eql/qa/ccs-rolling-upgrade/src/test/java/org/elasticsearch/xpack/eql/qa/ccs_rolling_upgrade/EqlCcsRollingUpgradeIT.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/BaseEqlSpecTestCase.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/DataLoader.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/RemoteClusterAwareEqlRestTestCase.java
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/stats/EqlUsageRestTestCase.java
  x-pack/plugin/eql/qa/correctness/src/javaRestTest/java/org/elasticsearch/xpack/eql/EsEQLCorrectnessIT.java
Labels: >non-issue, :Data Management/Other, Team:Data Management, v8.12.0

#101701 Abort drivers on node shutting down
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/Driver.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverContext.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverRunner.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverTaskRunner.java
Labels: >non-issue, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.1, v8.12.0

#101715 [8.11] Disable weight_matches when kNN query is present (#101713)
  docs/changelog/101713.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.highlight/10_unified.yml
  server/src/main/java/org/elasticsearch/lucene/search/uhighlight/CustomUnifiedHighlighter.java
Labels: >bug, :Search/Highlighting, backport, Team:Search, auto-merge, v8.11.1

#101712 Make LucenePersistedState subclassable again
  server/src/main/java/org/elasticsearch/gateway/GatewayMetaState.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, test-update-serverless, v8.12.0

#101629 Health report infrastructure doesn't trip the circuit breakers
  docs/changelog/101629.yaml
  server/src/main/java/org/elasticsearch/health/RestGetHealthAction.java
  server/src/main/java/org/elasticsearch/health/node/action/TransportHealthNodeAction.java
  server/src/test/java/org/elasticsearch/health/RestGetHealthActionTests.java
  server/src/test/java/org/elasticsearch/health/node/action/TransportHealthNodeActionTests.java
Labels: >bug, Team:Data Management, auto-backport-and-merge, :Data Management/Health, v8.11.1, v8.12.0

#101716 [8.11] Abort drivers on node shutting down (#101701)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/Driver.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverContext.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverRunner.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverTaskRunner.java
Labels: >non-issue, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#101694 ESQL: Fix unreleased block in topn (#101648)
  docs/changelog/101648.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/Block.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/topn/TopNOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AnyOperatorTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/TupleBlockSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/topn/TopNOperatorTests.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/AbstractEsqlIntegTestCase.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
Labels: >bug, backport, :Query Languages/ES|QL, v8.11.1

#101720 [8.11] Health report infrastructure doesn't trip the circuit breakers (#101629)
  docs/changelog/101629.yaml
  server/src/main/java/org/elasticsearch/health/RestGetHealthAction.java
  server/src/main/java/org/elasticsearch/health/node/action/TransportHealthNodeAction.java
  server/src/test/java/org/elasticsearch/health/RestGetHealthActionTests.java
  server/src/test/java/org/elasticsearch/health/node/action/TransportHealthNodeActionTests.java
Labels: >bug, backport, Team:Data Management, auto-merge, :Data Management/Health, v8.11.1

#101638 Gather information about all primaries or replicas in availability health
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorServiceTests.java
Labels: >non-issue, Team:Data Management, :Data Management/Health, v8.12.0

#101690 [ci] Don't generate CI artifact for nested builds, tweak build scan data
  build-tools-internal/src/main/groovy/elasticsearch.build-complete.gradle
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
Labels: >non-issue, Team:Delivery, :Delivery/Tooling, buildkite-opt-in, v8.11.1, v8.12.0, v7.17.15, v8.10.5

#101148 Add support for marking component templates as deprecated
  docs/changelog/101148.yaml
  docs/reference/indices/put-component-template.asciidoc
  docs/reference/indices/put-index-template.asciidoc
  docs/reference/ingest/apis/put-pipeline.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.put_index_template/15_composition.yml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/put/TransportPutComponentTemplateAction.java
  server/src/main/java/org/elasticsearch/action/ingest/SimulateExecutionService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ComponentTemplate.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplate.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/ingest/Pipeline.java
  server/src/main/java/org/elasticsearch/ingest/TrackingResultProcessor.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ComponentTemplateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  server/src/test/java/org/elasticsearch/ingest/PipelineFactoryTests.java
  server/src/test/java/org/elasticsearch/ingest/PipelineProcessorTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicy.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicyTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/cluster/metadata/MetadataMigrateToDataTiersRoutingService.java
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/ProfilingIndexTemplateRegistryTests.java
Labels: >enhancement, :Data Management/Indices APIs, Team:Data Management, external-contributor, v8.12.0

#101646 [ci] Migrate branch consistency and protection checks to Buildkite
  .buildkite/pipelines/intake.template.yml
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
  .buildkite/scripts/branch-protection.sh
  .ci/jobs.t/elastic+elasticsearch+branch-consistency.yml
  .ci/jobs.t/elastic+elasticsearch+branch-protection.yml
  .ci/scripts/run-gradle.sh
Labels: >non-issue, >test-mute, Team:Delivery, :Delivery/Tooling, buildkite-opt-in, v8.11.1, v8.12.0, v7.17.15, v8.10.5

#101718 Make RestCompatTestTransformTask configuration cache compatible
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/compat/compat/RestCompatTestTransformTask.java
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.12.0

#101729 [ci] Don't run snyk step outside of main dev branches
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, >test-mute, Team:Delivery, :Delivery/Tooling, v8.11.1, v8.12.0, v7.17.15, v8.10.5

#101737 [7.17] [ci] Migrate branch consistency and protection checks to Buildkite (#101646)
  .buildkite/pipelines/intake.template.yml
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
  .buildkite/scripts/branch-protection.sh
  .ci/jobs.t/elastic+elasticsearch+branch-consistency.yml
  .ci/jobs.t/elastic+elasticsearch+branch-protection.yml
  .ci/scripts/run-gradle.sh
Labels: backport, buildkite-opt-in, v7.17.15

#101736 [8.10] [ci] Migrate branch consistency and protection checks to Buildkite (#101646)
  .buildkite/pipelines/intake.template.yml
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
  .buildkite/scripts/branch-protection.sh
  .ci/jobs.t/elastic+elasticsearch+branch-consistency.yml
  .ci/jobs.t/elastic+elasticsearch+branch-protection.yml
  .ci/scripts/run-gradle.sh
Labels: backport, buildkite-opt-in, v8.10.5

#101735 [8.11] [ci] Migrate branch consistency and protection checks to Buildkite (#101646)
  .buildkite/pipelines/intake.template.yml
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
  .buildkite/scripts/branch-protection.sh
  .ci/jobs.t/elastic+elasticsearch+branch-consistency.yml
  .ci/jobs.t/elastic+elasticsearch+branch-protection.yml
  .ci/scripts/run-gradle.sh
Labels: backport, buildkite-opt-in, v8.11.1

#101732 [7.17] [ci] Don't generate CI artifact for nested builds, tweak build scan data (#101690)
  build-tools-internal/src/main/groovy/elasticsearch.build-complete.gradle
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
Labels: backport, buildkite-opt-in, v7.17.15

#101731 [8.10] [ci] Don't generate CI artifact for nested builds, tweak build scan data (#101690)
  build-tools-internal/src/main/groovy/elasticsearch.build-complete.gradle
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
Labels: backport, buildkite-opt-in, v8.10.5

#101730 [8.11] [ci] Don't generate CI artifact for nested builds, tweak build scan data (#101690)
  build-tools-internal/src/main/groovy/elasticsearch.build-complete.gradle
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
Labels: backport, buildkite-opt-in, v8.11.1

#101726 Remove more explicit search response instances in tests
  modules/mapper-extras/src/internalClusterTest/java/org/elasticsearch/index/mapper/MatchOnlyTextMapperIT.java
  modules/mapper-extras/src/internalClusterTest/java/org/elasticsearch/index/mapper/RankFeaturesMapperIntegrationIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/CreateIndexIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/MissingValueIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/sort/SimpleSortIT.java
Labels: >test, :Search/Search, Team:Search, v8.12.0

#101740 Use separate buildkite annotation context for failed build scans
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, buildkite-opt-in, v8.11.1, v8.12.0, v7.17.15, v8.10.5

#101744 [8.10] [ci] Don't run snyk step outside of main dev branches (#101729)
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: backport, buildkite-opt-in, v8.10.5

#101745 [8.11] [ci] Don't run snyk step outside of main dev branches (#101729)
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: backport, buildkite-opt-in, v8.11.1

#101746 [7.17] [ci] Don't run snyk step outside of main dev branches (#101729)
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: backport, buildkite-opt-in, v7.17.15

#100169 Decouple trial license resets from product version
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/ClusterStateLicenseService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicensesMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/StartBasicClusterTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/StartTrialClusterTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/StartupSelfGeneratedLicenseTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/TransportPostStartTrialAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/internal/TrialLicenseVersion.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicensesMetadataSerializationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/internal/TrialLicenseVersionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityImplicitBehaviorBootstrapCheckTests.java
Labels: >refactoring, :Security/License, Team:Security, auto-merge, v8.12.0

#101727 Fix listeners in SharedBlobCacheService.readMultiRegions
  docs/changelog/101727.yaml
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
Labels: >bug, :Distributed/Distributed, Team:Distributed, auto-backport-and-merge, v8.11.1, v8.12.0

#101516 ESQL: Make settings dynamic
  docs/changelog/101516.yaml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlPlugin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/TransportEsqlQueryAction.java
Labels: >enhancement, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.1, v8.12.0

#101738 Fix testJoinRequestEqualsHashCodeSerialization
  server/src/test/java/org/elasticsearch/cluster/coordination/MessagesTests.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, v8.12.0

#101756 Fix DOWSAMPLE_TASK_THREAD_POOL_NAME typo
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/Downsample.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/DownsampleShardPersistentTaskExecutor.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/TransportDownsampleIndexerAction.java
Labels: >non-issue, Team:Analytics, :Analytics/Downsampling, v8.12.0

#101384 Formalize authc context with direct token
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Authenticator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticatorChain.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/CrossClusterAccessAuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/RealmsAuthenticator.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticatorChainTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/CrossClusterAccessAuthenticationServiceTests.java
Labels: >non-issue, :Security/Authentication, Team:Security, v8.12.0

#101741 Fix test bug in GeoTileGridAggregatorTests#randomBBox
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoTileGridAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregatorTestCase.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.12.0

#101759 Remove explicit SearchResponse references from server pipeline aggs
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/BucketMetricsPipeLineAggregationTestCase.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/ExtendedStatsBucketIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/pipeline/PercentilesBucketIT.java
Labels: >test, :Search/Search, Team:Search, v8.12.0

#101757 Update shrink-index.asciidoc
  docs/reference/indices/shrink-index.asciidoc
Labels: >docs, :Search/Search, Team:Docs, Team:Search, external-contributor, v8.10.5

#101710 Remove unnecessary test logging
  qa/rolling-upgrade-legacy/build.gradle
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.12.0

#101379 Add Apm Integration test
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/RestrictedBuildApiService.java
  test/external-modules/apm-integration/build.gradle
  test/external-modules/apm-integration/src/javaRestTest/java/org/elasticsearch/test/apmintegration/ApmIT.java
  test/external-modules/apm-integration/src/javaRestTest/java/org/elasticsearch/test/apmintegration/RecordingApmServer.java
  test/external-modules/apm-integration/src/main/java/org/elasticsearch/test/apmintegration/ApmIntegrationPlugin.java
  test/external-modules/apm-integration/src/main/java/org/elasticsearch/test/apmintegration/TestApmIntegrationRestHandler.java
  test/external-modules/apm-integration/src/main/java/org/elasticsearch/test/apmintegration/TestMeterUsages.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.12.0

#101704 Unify naming of feature spec implementations
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/features/FeatureInfrastructureFeatures.java
  server/src/main/java/org/elasticsearch/health/HealthFeatures.java
  server/src/main/java/org/elasticsearch/health/metadata/HealthMetadataService.java
  server/src/main/java/org/elasticsearch/health/node/LocalHealthMonitor.java
  server/src/main/java/org/elasticsearch/health/node/selection/HealthNodeTaskExecutor.java
  server/src/main/resources/META-INF/services/org.elasticsearch.features.FeatureSpecification
  server/src/test/java/org/elasticsearch/health/node/LocalHealthMonitorTests.java
  server/src/test/java/org/elasticsearch/health/node/selection/HealthNodeExecutorTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.12.0

#101755 Cleanup some duplication in BestBucketsDeferringCollector
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BestBucketsDeferringCollector.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BucketsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/InternalSingleBucketAggregation.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/package-info.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.12.0

#101762 Note that repo analysis varies by version
  docs/reference/snapshot-restore/apis/repo-analysis-api.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, Team:Distributed, Team:Docs, auto-backport-and-merge, buildkite-opt-in, v8.11.1, v8.12.0, v8.10.5

#101769 [8.11][DOCS] Adds relevant ML-CPP items to release notes.
  docs/reference/release-notes/8.11.0.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.11.0, v8.11.1

#101772 [8.10] Note that repo analysis varies by version (#101762)
  docs/reference/snapshot-restore/apis/repo-analysis-api.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, backport, Team:Distributed, Team:Docs, auto-merge, buildkite-opt-in, v8.10.5

#101771 [8.11] Note that repo analysis varies by version (#101762)
  docs/reference/snapshot-restore/apis/repo-analysis-api.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, backport, Team:Distributed, Team:Docs, auto-merge, buildkite-opt-in, v8.11.1

#101758 Remove explicit SearchResponse references from server geo
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoDistanceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoPointScriptDocValuesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/geo/GeoPolygonIT.java
Labels: >test, :Search/Search, Team:Search, v8.12.0

#101311 Cache resolved index for mgets
  docs/changelog/101311.yaml
  server/src/main/java/org/elasticsearch/action/get/TransportMultiGetAction.java
Labels: >enhancement, :Search/Search, Team:Search, v8.12.0

#101734 Unmute FrozenExistenceDeciderIT#testZeroToOne
  x-pack/plugin/autoscaling/build.gradle
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/existence/FrozenExistenceDeciderIT.java
Labels: >test, :Distributed/Autoscaling, Team:Distributed, v8.12.0

#101673 [DOCS] ES|QL limitations
  docs/reference/esql/esql-enrich-data.asciidoc
  docs/reference/esql/esql-kibana.asciidoc
  docs/reference/esql/esql-limitations.asciidoc
Labels: >docs, Team:Docs, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.1, v8.12.0

#101773 [ML] Reduce no-scale events from serverless autoscaling
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetMlAutoscalingStats.java
Labels: >non-issue, :ml, Team:ML, v8.12.0

#101775 [8.11] [DOCS] Getting started with ES|QL queries guide (#101634)
  docs/reference/esql/esql-commands.asciidoc
  docs/reference/esql/esql-get-started.asciidoc
  docs/reference/esql/esql-kibana.asciidoc
  docs/reference/esql/esql-process-data-with-dissect-grok.asciidoc
  docs/reference/images/esql/esql-keep.png
  docs/reference/images/esql/esql-limit.png
  docs/reference/images/esql/esql-sort-limit.png
  docs/reference/images/esql/esql-sort.png
  docs/reference/tab-widgets/esql/esql-getting-started-widget.asciidoc
  docs/reference/tab-widgets/esql/esql-getting-started.asciidoc
Labels: >docs, backport, Team:Docs, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#101660 Fall through malformed JWTs to subsequent realms in the chain
  docs/changelog/101660.yaml
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealmSingleNodeTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyAuthenticator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Authenticator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/AuthenticatorChain.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/RealmsAuthenticator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealmAuthenticateTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/jwt/JwtTokenExtractionTests.java
Labels: >bug, :Security/Authentication, Team:Security, v8.12.0

#101776 [8.11] [DOCS] ES|QL limitations (#101673)
  docs/reference/esql/esql-enrich-data.asciidoc
  docs/reference/esql/esql-kibana.asciidoc
  docs/reference/esql/esql-limitations.asciidoc
Labels: >docs, backport, Team:Docs, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#101706 Migrate desirednode processors version checks to features
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/DesiredNodesUpgradeIT.java
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/TransportUpdateDesiredNodesAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/desirednodes/UpdateDesiredNodesRequest.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DesiredNode.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataFeatures.java
  server/src/main/java/org/elasticsearch/common/unit/Processors.java
  server/src/main/resources/META-INF/services/org.elasticsearch.features.FeatureSpecification
  server/src/test/java/org/elasticsearch/action/admin/cluster/desirednodes/TransportUpdateDesiredNodesActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DesiredNodeTests.java
Labels: :Core/Infra/Core, :Distributed/Distributed, >refactoring, Team:Core/Infra, Team:Distributed, v8.12.0

#101119 Start peeling off methods from the top of the NodeConstructor construct method
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
Labels: >refactoring, Team:Core/Infra, :Core/Infra/Node Lifecycle, v8.12.0

#101777 Fix SearchCancellationIT failures
  server/src/internalClusterTest/java/org/elasticsearch/search/SearchCancellationIT.java
Labels: >test, :Search/Search, Team:Search, v8.12.0

#101761 [8.11] ESQL: Make settings dynamic (#101516)
  docs/changelog/101516.yaml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlPlugin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/TransportEsqlQueryAction.java
Labels: >enhancement, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#101780 [8.11] [ci] Add rocky-9 to matrix in packaging and platform jobs (#101653)
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/pull-request/packaging-tests-unix.yml
Labels: backport, buildkite-opt-in, v8.11.1

#101781 [8.10] [ci] Add rocky-9 to matrix in packaging and platform jobs (#101653)
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/pull-request/packaging-tests-unix.yml
Labels: backport, buildkite-opt-in, v8.10.5

#101782 [7.17] [ci] Add rocky-9 to matrix in packaging and platform jobs (#101653)
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/pull-request/packaging-tests-unix.yml
Labels: backport, buildkite-opt-in, v7.17.15

#101751 Metrics test: testLockingWhenRegistering wait for threads to join
  modules/apm/src/test/java/org/elasticsearch/telemetry/apm/MeterRegistryConcurrencyTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.12.0

#101748 [8.10] Use separate buildkite annotation context for failed build scans (#101740)
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
Labels: backport, needs:triage, auto-merge, v8.10.5

#101747 [8.11] Use separate buildkite annotation context for failed build scans (#101740)
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
Labels: backport, needs:triage, auto-merge, v8.11.1

#101754 Move master file watcher to make it available to other modules
  server/src/main/java/org/elasticsearch/common/file/MasterNodeFileWatchingService.java
  server/src/main/java/org/elasticsearch/reservedstate/service/FileSettingsService.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.12.0

#101788 ESQL: Narrow catch in convert functions
  docs/changelog/101788.yaml
  x-pack/plugin/esql/compute/ann/src/main/java/org/elasticsearch/compute/ann/ConvertEvaluator.java
  x-pack/plugin/esql/compute/gen/src/main/java/org/elasticsearch/compute/gen/ConvertEvaluatorImplementer.java
  x-pack/plugin/esql/compute/gen/src/main/java/org/elasticsearch/compute/gen/EvaluatorProcessor.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToBooleanFromDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToBooleanFromIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToBooleanFromLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToBooleanFromStringEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToBooleanFromUnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDatetimeFromStringEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDegreesEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDoubleFromBooleanEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDoubleFromIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDoubleFromLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDoubleFromStringEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDoubleFromUnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIPFromStringEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIntegerFromBooleanEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIntegerFromDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIntegerFromLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIntegerFromStringEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIntegerFromUnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToLongFromBooleanEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToLongFromDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToLongFromIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToLongFromStringEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToLongFromUnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToRadiansEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToStringFromBooleanEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToStringFromDatetimeEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToStringFromDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToStringFromIPEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToStringFromIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToStringFromLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToStringFromUnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToStringFromVersionEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToUnsignedLongFromBooleanEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToUnsignedLongFromDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToUnsignedLongFromIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToUnsignedLongFromLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToUnsignedLongFromStringEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToVersionFromStringEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDatetime.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDouble.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIP.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToInteger.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToLong.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToUnsignedLong.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
Labels: >bug, Team:QL, auto-merge, :Query Languages/ES|QL, v8.12.0

#101778 Don't update system index mappings in mixed clusters
  docs/changelog/101778.yaml
  qa/rolling-upgrade-legacy/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexMappingUpdateService.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, v8.11.0, v8.12.0

#101798 [8.11] Don't update system index mappings in mixed clusters (#101778)
  docs/changelog/101778.yaml
  qa/rolling-upgrade-legacy/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexMappingUpdateService.java
Labels: >bug, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge, v8.11.1

#101796 Modularize shard availability service
  benchmarks/build.gradle
  benchmarks/src/main/java/org/elasticsearch/benchmark/routing/allocation/ShardsAvailabilityHealthIndicatorBenchmark.java
  modules/health-shards-availability/src/main/java/module-info.java
  modules/health-shards-availability/src/main/java/org/elasticsearch/health/plugin/ShardsAvailabilityPlugin.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/shards/ShardsAvailabilityHealthIndicatorServiceIT.java
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/shards/ShardsAvailabilityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityActionGuideTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/shards/ShardsAvailabilityHealthIndicatorServiceTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierShardAvailabilityHealthIndicatorIT.java
Labels: >non-issue, Team:Data Management, :Data Management/Health, v8.12.0

#101802 Correctly logging watcher history write failures
  docs/changelog/101802.yaml
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
Labels: >bug, :Data Management/Watcher, Team:Data Management, auto-merge, v8.12.0

#101700 Fix lastUnsafeSegmentGenerationForGets for realtime get
  docs/changelog/101700.yaml
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/shard/ShardGetServiceTests.java
Labels: >bug, :Distributed/Engine, Team:Distributed, auto-merge, test-update-serverless, v8.12.0

#101786 [DOCS] Update CCS compatibility matrix for 8.11
  docs/reference/search/search-your-data/ccs-version-compat-matrix.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.11.1, v8.12.0

#101728 [DOCS] Uniform formatting for ES|QL commands
  docs/reference/esql/index.asciidoc
  docs/reference/esql/processing-commands/dissect.asciidoc
  docs/reference/esql/processing-commands/drop.asciidoc
  docs/reference/esql/processing-commands/enrich.asciidoc
  docs/reference/esql/processing-commands/eval.asciidoc
  docs/reference/esql/processing-commands/grok.asciidoc
  docs/reference/esql/processing-commands/keep.asciidoc
  docs/reference/esql/processing-commands/limit.asciidoc
  docs/reference/esql/processing-commands/mv_expand.asciidoc
  docs/reference/esql/processing-commands/rename.asciidoc
  docs/reference/esql/processing-commands/sort.asciidoc
  docs/reference/esql/processing-commands/stats.asciidoc
  docs/reference/esql/processing-commands/where.asciidoc
  docs/reference/esql/source-commands/from.asciidoc
  docs/reference/esql/source-commands/row.asciidoc
  docs/reference/esql/source-commands/show.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/docs.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/show.csv-spec
Labels: >docs, Team:Docs, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.1, v8.12.0

#101809 [8.11] [DOCS] Update CCS compatibility matrix for 8.11 (#101786)
  docs/reference/search/search-your-data/ccs-version-compat-matrix.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.11.1

#101810 [8.11] [DOCS] Uniform formatting for ES|QL commands (#101728)
  docs/reference/esql/index.asciidoc
  docs/reference/esql/processing-commands/dissect.asciidoc
  docs/reference/esql/processing-commands/drop.asciidoc
  docs/reference/esql/processing-commands/enrich.asciidoc
  docs/reference/esql/processing-commands/eval.asciidoc
  docs/reference/esql/processing-commands/grok.asciidoc
  docs/reference/esql/processing-commands/keep.asciidoc
  docs/reference/esql/processing-commands/limit.asciidoc
  docs/reference/esql/processing-commands/mv_expand.asciidoc
  docs/reference/esql/processing-commands/rename.asciidoc
  docs/reference/esql/processing-commands/sort.asciidoc
  docs/reference/esql/processing-commands/stats.asciidoc
  docs/reference/esql/processing-commands/where.asciidoc
  docs/reference/esql/source-commands/from.asciidoc
  docs/reference/esql/source-commands/row.asciidoc
  docs/reference/esql/source-commands/show.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/docs.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/show.csv-spec
Labels: >docs, backport, Team:Docs, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#101784 Unmute ScheduledEventsIT#testScheduledEvents
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ScheduledEventsIT.java
Labels: >test, :Distributed/Network, Team:Distributed, v8.12.0

#101811 ActionFilter-based REST cancellation tests
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/IndicesRecoveryRestCancellationIT.java
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/RestActionCancellationIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/recovery/TransportRecoveryAction.java
  test/framework/src/main/java/org/elasticsearch/action/admin/indices/recovery/TransportRecoveryActionHelper.java
  test/framework/src/main/java/org/elasticsearch/action/support/CancellableActionTestPlugin.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.12.0

#101812 fix a typo in stable plugin documentation
  docs/plugins/development/creating-stable-plugins.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.11.1, v8.10.5

#101817 [8.10] fix a typo in stable plugin documentation (#101812)
  docs/plugins/development/creating-stable-plugins.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.10.5

#101816 [8.11] fix a typo in stable plugin documentation (#101812)
  docs/plugins/development/creating-stable-plugins.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.11.1

#101783 Make `not on their desired nodes` warning less noisy
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconciler.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconcilerTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.12.0

#101815 Run TransportGetAliasesAction on local node
  docs/changelog/101815.yaml
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/RestActionCancellationIT.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cat.aliases/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.exists_alias/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.get_alias/10_basic.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/GetAliasesAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/GetAliasesRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/GetAliasesResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/TransportGetAliasesAction.java
  server/src/main/java/org/elasticsearch/action/support/TransportLocalClusterStateAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetAliasesAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestAliasAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/alias/get/GetAliasesResponseTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
Labels: >enhancement, :Data Management/Indices APIs, Team:Data Management, auto-merge, v8.12.0

#101789 Cleanup duplication and dead code in o.e.action.search
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/ClearScrollResponse.java
  server/src/main/java/org/elasticsearch/action/search/DfsQueryPhase.java
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequest.java
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/search/OpenPointInTimeResponse.java
  server/src/main/java/org/elasticsearch/action/search/ParsedScrollId.java
  server/src/main/java/org/elasticsearch/action/search/QueryPhaseResultConsumer.java
  server/src/main/java/org/elasticsearch/action/search/RestOpenPointInTimeAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchContextId.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/search/SearchResponse.java
  server/src/main/java/org/elasticsearch/action/search/SearchScrollAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java
  server/src/main/java/org/elasticsearch/action/search/SearchType.java
  server/src/main/java/org/elasticsearch/action/search/TransportMultiSearchAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportOpenPointInTimeAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchHelper.java
  server/src/test/java/org/elasticsearch/action/search/ParsedScrollIdTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchScrollAsyncActionTests.java
Labels: >non-issue, :Search/Search, Team:Search, v8.12.0

#98874 [ML] Use perAllocation and perDeployment memory usage in the model assignment planner
  docs/changelog/98874.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignment.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AbstractPreserveAllocations.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlan.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanner.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/LinearProgrammingPlanSolver.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveAllAllocations.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveOneAllocation.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/RandomizedAssignmentRounding.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/ZoneAwareAssignmentPlanner.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlannerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveAllAllocationsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveOneAllocationTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/ZoneAwareAssignmentPlannerTests.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlAssignmentPlannerUpgradeIT.java
Labels: >enhancement, :ml, Team:ML, v8.12.0

#101210 Skip nodes that already contain copy of this shard
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconciler.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.12.0

#101807 Update docs for v8.11.0 release
  docs/changelog/101265.yaml
  docs/reference/release-notes/8.11.0.asciidoc
Labels: >docs, Team:Docs, v8.11.1

#101831 [DOCS] Default and max limits are now dynamic settings
  docs/reference/esql/esql-limitations.asciidoc
  docs/reference/esql/processing-commands/limit.asciidoc
Labels: >docs, Team:Docs, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.1, v8.12.0

#101813 Introduce ESTestCase#createThreadPool
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/action/huggingface/HuggingFaceElserActionTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/HttpClientManagerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/HttpClientTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/IdleConnectionEvictorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/Utils.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/HttpRequestExecutorServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/HttpRequestSenderFactoryTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/RequestTaskTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/huggingface/HuggingFaceClientTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/logging/ThrottlerManagerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/logging/ThrottlerTests.java
Labels: >test, :Delivery/Build, :ml, Team:ML, Team:Delivery, v8.12.0

#101833 [8.11] [DOCS] Default and max limits are now dynamic settings (#101831)
  docs/reference/esql/esql-limitations.asciidoc
  docs/reference/esql/processing-commands/limit.asciidoc
Labels: >docs, backport, Team:Docs, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1

#101797 [DOCS] Add Enterprise Search content to docs landing page
  docs/reference/landing-page.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.11.0, v8.12.0

#101836 [8.11] [DOCS] Add Enterprise Search content to docs landing page (#101797)
  docs/reference/landing-page.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.11.1

#101834 Revert "[ML] Use perAllocation and perDeployment memory usage in the model assignment planner"
  docs/changelog/98874.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignment.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsStatsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AbstractPreserveAllocations.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlan.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanner.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/LinearProgrammingPlanSolver.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveAllAllocations.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveOneAllocation.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/RandomizedAssignmentRounding.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/ZoneAwareAssignmentPlanner.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlannerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveAllAllocationsTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/PreserveOneAllocationTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/ZoneAwareAssignmentPlannerTests.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlAssignmentPlannerUpgradeIT.java
Labels: blocker, >test-failure, :ml, Team:ML, v8.12.0

#101675 [8.11] Get rid of "this-escape" warning in NodeShutdownTasksIT (#101657)
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownTasksIT.java
Labels: >test, backport, Team:Core/Infra, :Core/Infra/Node Lifecycle, auto-merge, v8.11.1

#101676 [8.10] Get rid of "this-escape" warning in NodeShutdownTasksIT (#101657)
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownTasksIT.java
Labels: >test, backport, Team:Core/Infra, :Core/Infra/Node Lifecycle, auto-merge, v8.10.5

#101818 [DOCS] Add Elastic Security bullet to 8.11 'What's new'
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.11.1

#101799 Fix memory leak from JWT cache (and fix the usage of the JWT auth cache)
  docs/changelog/101799.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealmAuthenticateTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealmTestCase.java
Labels: >bug, :Security/Authentication, Team:Security, auto-backport-and-merge, v8.11.1, v8.12.0

#101841 [8.11] Fix memory leak from JWT cache (and fix the usage of the JWT auth cache) (#101799)
  docs/changelog/101799.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealm.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealmAuthenticateTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealmTestCase.java
Labels: backport, auto-merge, v8.11.1

#101844 Deprecate `ExternalTestCluster`
  modules/analysis-common/src/internalClusterTest/java/org/elasticsearch/analysis/common/ReloadSynonymAnalyzerIT.java
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/CrudDataStreamLifecycleIT.java
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleServiceIT.java
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/ExplainDataStreamLifecycleIT.java
  modules/ingest-common/src/internalClusterTest/java/org/elasticsearch/ingest/common/IngestRestartIT.java
  modules/parent-join/src/internalClusterTest/java/org/elasticsearch/join/query/ParentChildTestCase.java
  modules/reindex/src/internalClusterTest/java/org/elasticsearch/client/documentation/ReindexDocumentationIT.java
  modules/transport-netty4/src/internalClusterTest/java/org/elasticsearch/ESNetty4IntegTestCase.java
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/HttpSmokeTestCase.java
  server/src/internalClusterTest/java/org/elasticsearch/ingest/IngestStatsNamesAndTypesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/persistent/PersistentTasksExecutorFullRestartIT.java
  server/src/internalClusterTest/java/org/elasticsearch/persistent/PersistentTasksExecutorIT.java
  server/src/internalClusterTest/java/org/elasticsearch/persistent/decider/EnableAssignmentDeciderIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/fieldcaps/FieldCapabilitiesIT.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ExternalTestCluster.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/GetAutoscalingCapacityRestCancellationIT.java
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/DataStreamLifecycleDownsampleIT.java
  x-pack/plugin/eql/src/internalClusterTest/java/org/elasticsearch/xpack/eql/action/RestEqlCancellationIT.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/ClusterStateWaitThresholdBreachTests.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/DataStreamAndIndexLifecycleMixingTests.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/DataTiersMigrationsTests.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/IndexLifecycleInitialisationTests.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlNativeIntegTestCase.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/support/BaseMlIntegTestCase.java
  x-pack/plugin/monitoring/src/internalClusterTest/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterIT.java
  x-pack/plugin/monitoring/src/internalClusterTest/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterSslIT.java
  x-pack/plugin/profiling/src/internalClusterTest/java/org/elasticsearch/xpack/profiling/ProfilingTestCase.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/ShrinkIndexWithSecurityTests.java
  x-pack/plugin/sql/src/internalClusterTest/java/org/elasticsearch/xpack/sql/action/RestSqlCancellationIT.java
  x-pack/plugin/sql/src/internalClusterTest/java/org/elasticsearch/xpack/sql/action/SqlLicenseIT.java
Labels: >test, :Delivery/Build, :ml, Team:ML, Team:Delivery, auto-merge, v8.12.0

#101843 [ci] Migrate pull requests to running in Buildkite
  .buildkite/pull-requests.json
  .ci/jobs.t/elastic+elasticsearch+pull-request+build-benchmark-part1.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+build-benchmark-part2.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+bwc-snapshots-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+bwc-snapshots.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+cloud-deploy.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+docs-check.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+eql-correctness.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+example-plugins.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+full-bwc.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-unix-sample.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-unix.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows-nojdk.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows-sample-nojdk.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows-sample.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-tests-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+packaging-upgrade-tests.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-1-fips.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-1-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-2-fips.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-2-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-3-fips.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-3-windows.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+part-3.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+precommit.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+release-tests.yml
  .ci/jobs.t/elastic+elasticsearch+pull-request+rest-compatibility.yml
  .ci/templates.t/pull-request-gradle-unix.yml
Labels: >non-issue, >test-mute, Team:Delivery, :Delivery/Tooling, buildkite-opt-in, v8.11.1, v8.12.0, v7.17.15, v8.10.5

#101683 [Profiling] Add helper class StopWatch
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/StopWatch.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetFlamegraphAction.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetStackTracesAction.java
Labels: >non-issue, :UniversalProfiling/Application, Team:Universal Profiling, v8.12.0

#101705 Respect regional AWS STS endpoints
  docs/changelog/101705.yaml
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Service.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/CustomWebIdentityTokenCredentialsProviderTests.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-backport, v8.11.1, v8.12.0

#101822 Make enforceYamlTestConvention cc compatible
  rest-api-spec/build.gradle
  x-pack/plugin/build.gradle
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.12.0

#101823 Fix snippet task cc incompatibilities
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/doc/DocsTestPlugin.groovy
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/doc/RestTestsFromSnippetsTask.groovy
  build-tools-internal/src/main/groovy/org/elasticsearch/gradle/internal/doc/SnippetsTask.groovy
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.12.0

#101830 Make addRemote task configuration cache compatible
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalBwcGitPlugin.java
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.12.0

#101858 Add a historical feature for the state reset fallback fix added in 8.7
  x-pack/plugin/ml/src/main/java/module-info.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlFeatures.java
  x-pack/plugin/ml/src/main/resources/META-INF/services/org.elasticsearch.features.FeatureSpecification
Labels: :Core/Infra/Core, >refactoring, :ml, Team:Core/Infra, Team:ML, v8.12.0

#101842 Fix configuration cache incompatibility in Rest compatibility tests
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/CopyRestTestsTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/compat/compat/RestCompatTestTransformTask.java
  x-pack/qa/xpack-prefix-rest-compat/build.gradle
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.12.0

#101677 [DOCS] Add 'Using ES|QL in Elastic Security'
  docs/reference/esql/esql-security-solution.asciidoc
  docs/reference/esql/esql-using.asciidoc
  docs/reference/esql/index.asciidoc
Labels: >docs, Team:Docs, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.11.1, v8.12.0

#101864 [8.11] [DOCS] Add 'Using ES|QL in Elastic Security' (#101677)
  docs/reference/esql/esql-security-solution.asciidoc
  docs/reference/esql/esql-using.asciidoc
  docs/reference/esql/index.asciidoc
Labels: >docs, backport, Team:Docs, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.1
