Repository elastic/elasticsearch, pull requests merged in 2023-03, with the labels that each got.

#94189 Remove unused field in DesiredBalanceShardsAllocator.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.8.0

#94139 feat: optimize AsyncFetch cache with init size
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/TransportIndicesShardStoresAction.java
  server/src/main/java/org/elasticsearch/gateway/AsyncShardFetch.java
  server/src/main/java/org/elasticsearch/gateway/GatewayAllocator.java
  server/src/test/java/org/elasticsearch/gateway/AsyncShardFetchTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, external-contributor, v8.8.0

#94216 Mute testUnderShardLimit
  server/src/test/java/org/elasticsearch/indices/ShardLimitValidatorTests.java
Labels: :Data Management/Other, >test-mute, Team:Data Management, v8.8.0

#94199 Dry up more index settings logic in internal cluster tests
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  modules/reindex/src/internalClusterTest/java/org/elasticsearch/migration/FeatureMigrationIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/ShrinkIndexIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/bulk/BulkProcessor2IT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterHealthIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/ShardRoutingRoleIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/IndicesLifecycleListenerIT.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageIT.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierAllocationDeciderIT.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/DataTiersMigrationsTests.java
  x-pack/plugin/old-lucene-versions/src/internalClusterTest/java/org/elasticsearch/xpack/lucene/bwc/ArchiveSettingValidationIntegTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsSettingValidationIntegTests.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.8.0

#93987 Split Grok's responsibilities
  libs/grok/src/main/java/org/elasticsearch/grok/Grok.java
  libs/grok/src/main/java/org/elasticsearch/grok/GrokBuiltinPatterns.java
  libs/grok/src/test/java/org/elasticsearch/grok/GrokTests.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/GrokProcessor.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/GrokProcessorGetAction.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/RedactProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/GrokProcessorGetActionTests.java
  modules/runtime-fields-common/src/main/java/org/elasticsearch/runtimefields/NamedGroupExtractor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/textstructure/action/FindStructureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/textstructure/structurefinder/TextStructure.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/categorization/GrokPatternCreator.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/GrokPatternCreator.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/LogTextStructureFinder.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/TextStructureUtils.java
  x-pack/plugin/text-structure/src/main/java/org/elasticsearch/xpack/textstructure/structurefinder/TimestampFormatFinder.java
  x-pack/plugin/text-structure/src/test/java/org/elasticsearch/xpack/textstructure/structurefinder/TimeoutCheckerTests.java
Labels: >refactoring, :Data Management/Other, Team:Data Management, v8.8.0

#94217 Mute DataLifecycleServiceTests where snapshot.build=false
  modules/dlm/src/test/java/org/elasticsearch/dlm/DataLifecycleServiceTests.java
Labels: >test-mute, Team:Data Management, auto-merge, v8.8.0, :Data Management/DLM

#94082 [8.7] Simulate shard moves using cluster_concurrent_rebalance=2 (#93977)
  docs/changelog/93977.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/ConcurrentRebalanceAllocationDecider.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/IndexBalanceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/ESAllocationTestCase.java
Labels: >enhancement, :Distributed/Allocation, backport, Team:Distributed, auto-merge, v8.7.1

#94208 Update tsds.asciidoc
  docs/reference/data-streams/tsds.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.7.1, v8.6.3

#94218 fix ShardLimitValidator flaky test
  server/src/test/java/org/elasticsearch/indices/ShardLimitValidatorTests.java
Labels: >test-failure, :Data Management/Other, Team:Data Management, v8.8.0

#93946 Support position time_series_metric on geo_point fields
  docs/changelog/93946.yaml
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/ScaledFloatFieldMapperTests.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/130_position_fields.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/20_mapping.yml
  server/src/main/java/org/elasticsearch/index/mapper/AbstractPointGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TimeSeriesParams.java
  server/src/test/java/org/elasticsearch/index/fielddata/AbstractFieldDataTestCase.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/GeoPointFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/NumberFieldMapperTests.java
  x-pack/plugin/mapper-unsigned-long/src/test/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapperTests.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/FieldValueFetcher.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
Labels: >enhancement, :Analytics/Geo, Team:Analytics, :Analytics/TSDB, v8.8.0

#94228 [8.6] Update tsds.asciidoc (#94208)
  docs/reference/data-streams/tsds.asciidoc
Labels: backport, auto-merge, v8.6.3

#94220 Enable dlm flag for more non-snapshot builds
  modules/dlm/build.gradle
  modules/dlm/src/test/java/org/elasticsearch/dlm/DataLifecycleServiceTests.java
Labels: >test, Team:Data Management, v8.8.0, :Data Management/DLM

#94222 [DOCS] Improve watermark troubleshooting documentation
  docs/reference/index-modules/blocks.asciidoc
  docs/reference/modules/cluster/disk_allocator.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/common-issues/disk-usage-exceeded.asciidoc
  docs/reference/troubleshooting/fix-common-cluster-issues.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.7.1, v8.8.0, v8.6.3

#94231 [8.6] [DOCS] Improve watermark troubleshooting documentation (#94222)
  docs/reference/index-modules/blocks.asciidoc
  docs/reference/modules/cluster/disk_allocator.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/common-issues/disk-usage-exceeded.asciidoc
  docs/reference/troubleshooting/fix-common-cluster-issues.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.6.3

#94230 [8.7] [DOCS] Improve watermark troubleshooting documentation (#94222)
  docs/reference/index-modules/blocks.asciidoc
  docs/reference/modules/cluster/disk_allocator.asciidoc
  docs/reference/redirects.asciidoc
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/common-issues/disk-usage-exceeded.asciidoc
  docs/reference/troubleshooting/fix-common-cluster-issues.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.7.1

#94229 Add test for handshake failure due to incompatible connection versions
  server/src/test/java/org/elasticsearch/transport/TransportServiceHandshakeTests.java
Labels: >test, :Core/Infra/Transport API, Team:Core/Infra, v8.8.0

#94127 Behavioral analytics collection management service
  x-pack/plugin/core/src/main/resources/org/elasticsearch/xpack/entsearch/analytics/behavioral_analytics-events-template.json
  x-pack/plugin/ent-search/build.gradle
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/EnterpriseSearch.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/AnalyticsCollection.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/AnalyticsCollectionService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/AnalyticsTemplateRegistry.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/analytics/AnalyticsCollectionServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/analytics/AnalyticsCollectionTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/analytics/AnalyticsTemplateRegistryTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/analytics/AnalyticsTestCase.java
Labels: Team:Enterprise Search

#94224 [ML] Span and merge long docs for the text expansion model
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/SlimConfig.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/InferencePyTorchAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/SlimProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/SlimProcessorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/pytorch/PriorityProcessWorkerExecutorServiceTests.java
Labels: >non-issue, :ml, Team:ML, v8.8.0

#94234 [DOCS] Fix typo in shutdown-put.asciidoc
  docs/reference/shutdown/apis/shutdown-put.asciidoc
Labels: >docs, Team:Docs, v8.8.0

#94141 Propagate timestamp format and convert nanoseconds to milliseconds
  docs/changelog/94141.yaml
  x-pack/plugin/rollup/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/rollup/10_basic.yml
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/RollupShardIndexer.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/TransportDownsampleAction.java
Labels: >bug, :Analytics/Rollup, Team:Analytics, v8.8.0

#94235 Fix MasterService creating pending tasks with negative wait time
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, v8.8.0

#94207 Mute disruption tests for jdk20+
  server/src/internalClusterTest/java/org/elasticsearch/discovery/StableMasterDisruptionIT.java
  test/framework/src/test/java/org/elasticsearch/test/disruption/LongGCDisruptionTests.java
Labels: >test, :Distributed/Distributed, Team:Distributed, auto-backport-and-merge, v7.17.10, v8.7.1, v8.8.0

#94241 [8.7] Mute disruption tests for jdk20+ (#94207)
  server/src/internalClusterTest/java/org/elasticsearch/discovery/StableMasterDisruptionIT.java
  test/framework/src/test/java/org/elasticsearch/test/disruption/LongGCDisruptionTests.java
Labels: >test, :Distributed/Distributed, backport, Team:Distributed, auto-merge, v8.7.1

#94134 Increase the merge factor to 32 for time-based data.
  docs/changelog/94134.yaml
  server/src/main/java/org/elasticsearch/index/MergePolicyConfig.java
  server/src/test/java/org/elasticsearch/index/MergePolicyConfigTests.java
Labels: >enhancement, :Distributed/Engine, Team:Distributed, auto-merge, v8.8.0

#94171 Fix static methods in LicenseService
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/License.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/StartBasicClusterTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/StartupSelfGeneratedLicenseTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/TransportXPackInfoAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicenseScheduleTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicenseServiceTests.java
Labels: >non-issue, :Security/License, Team:Security, v8.8.0

#94238 [8.7] Propagate timestamp format and convert nanoseconds to milliseconds (#94141)
  docs/changelog/94141.yaml
  x-pack/plugin/rollup/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/rollup/10_basic.yml
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/RollupShardIndexer.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/TransportDownsampleAction.java
Labels: backport, v8.7.0

#94246 Add convenience method for providing conditional test cluster settings
  modules/ingest-geoip/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/ingest/geoip/FullClusterRestartIT.java
  modules/ingest-geoip/src/yamlRestTest/java/org/elasticsearch/ingest/geoip/IngestGeoIpClientYamlTestSuiteIT.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, auto-backport-and-merge, v8.7.1, v8.8.0, v8.6.3

#94252 [8.7] Add convenience method for providing conditional test cluster settings (#94246)
  modules/ingest-geoip/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/ingest/geoip/FullClusterRestartIT.java
  modules/ingest-geoip/src/yamlRestTest/java/org/elasticsearch/ingest/geoip/IngestGeoIpClientYamlTestSuiteIT.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.7.1

#94253 [8.6] Add convenience method for providing conditional test cluster settings (#94246)
  modules/ingest-geoip/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/ingest/geoip/FullClusterRestartIT.java
  modules/ingest-geoip/src/yamlRestTest/java/org/elasticsearch/ingest/geoip/IngestGeoIpClientYamlTestSuiteIT.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.6.3

#94254 Mute disruption tests for jdk20+ (#94207)
  server/src/internalClusterTest/java/org/elasticsearch/discovery/StableMasterDisruptionIT.java
  test/framework/src/test/java/org/elasticsearch/test/disruption/LongGCDisruptionTests.java
Labels: backport, auto-merge, v7.17.10

#93799 Avoid deserializing responses in proxy node
  docs/changelog/93799.yaml
  server/src/main/java/org/elasticsearch/common/bytes/ReleasableBytesReference.java
  server/src/main/java/org/elasticsearch/common/io/stream/FilterStreamInput.java
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
  server/src/main/java/org/elasticsearch/transport/TransportActionProxy.java
  server/src/test/java/org/elasticsearch/transport/TransportActionProxyTests.java
Labels: >enhancement, :Distributed/Network, Team:Distributed, v8.8.0

#93855 [Transform] Add multi-node tests for checking transform permissions
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/transforms_unattended.yml
  x-pack/plugin/transform/qa/multi-node-tests/build.gradle
  x-pack/plugin/transform/qa/multi-node-tests/roles.yml
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformInsufficientPermissionsIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformRestTestCase.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformUsingSearchRuntimeFieldsIT.java
Labels: >test, :ml/Transform, Team:ML, v8.8.0

#94250 [DLM] Additional logging
  modules/dlm/src/main/java/org/elasticsearch/dlm/DataLifecycleService.java
Labels: >non-issue, Team:Data Management, v8.8.0, :Data Management/DLM

#94273 Update release notes for 8.7.0-BC4
  docs/reference/release-notes/8.7.0.asciidoc
Labels: >docs, Team:Docs, v8.7.0, v8.7.1

#94271 Fix BytesTransportResponse.writeTo NPE
  server/src/main/java/org/elasticsearch/transport/TransportActionProxy.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, v8.8.0

#94236 Add manage_engine cluster privilege
  x-pack/docs/en/rest-api/security/get-builtin-privileges.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/ent-search/qa/rest/roles.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/DeleteEngineAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/GetEngineAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/PutEngineAction.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/privileges/11_builtin.yml
Labels: Team:Enterprise Search

#94116 Add to HealthMetadata information about ShardLimits
  docs/changelog/94116.yaml
  server/src/internalClusterTest/java/org/elasticsearch/health/HealthMetadataServiceIT.java
  server/src/main/java/org/elasticsearch/health/metadata/HealthMetadata.java
  server/src/main/java/org/elasticsearch/health/metadata/HealthMetadataService.java
  server/src/test/java/org/elasticsearch/health/metadata/HealthMetadataSerializationTests.java
  server/src/test/java/org/elasticsearch/health/metadata/HealthMetadataTests.java
  server/src/test/java/org/elasticsearch/health/node/LocalHealthMonitorTests.java
Labels: >feature, Team:Data Management, :Data Management/Health, v8.8.0

#94133 Porting watcher over to BulkProcessor2
  docs/changelog/94133.yaml
  server/src/main/java/org/elasticsearch/action/bulk/BulkProcessor2.java
  server/src/main/java/org/elasticsearch/action/bulk/Retry2.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/actions/TimeThrottleIntegrationTests.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/actions/email/EmailAttachmentTests.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/history/HistoryTemplateHttpMappingsTests.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/ExecutionVarsIntegrationTests.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/HistoryIntegrationTests.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/WatchMetadataTests.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/execution/ExecutionService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/execution/TriggeredWatchStore.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/history/HistoryStore.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/execution/TriggeredWatchStoreTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/history/HistoryStoreTests.java
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/60_watcher.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/60_watcher.yml
  x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/upgraded_cluster/60_watcher.yml
Labels: >enhancement, :Data Management/Watcher, Team:Data Management, v8.8.0

#94282 Fixing DeleteWatchTests by waiting for watcher history to be indexed
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/transport/action/delete/DeleteWatchTests.java
Labels: >test, :Data Management/Watcher, Team:Data Management, auto-merge, v8.8.0

#94249 Ensure refresh to return the latest commit generation
  docs/changelog/94249.yaml
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: >bug, :Distributed/Engine, Team:Distributed, v8.7.1, v8.8.0

#94286 Fixing HistoryIntegrationTests to wait for watcher history
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/HistoryIntegrationTests.java
Labels: >test, :Data Management/Watcher, Team:Data Management, auto-merge, v8.8.0

#94103 Deprecate _knn_search in the REST spec
  rest-api-spec/src/main/resources/rest-api-spec/api/knn_search.json
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApi.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParser.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParserFailingTests.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParserTests.java
Labels: >non-issue, Team:Search, auto-backport, :Search/Vectors, v8.4.4, v8.7.0, v8.5.4, v8.8.0, v8.6.3

#94288 [8.7] Deprecate _knn_search in the REST spec (#94103)
  rest-api-spec/src/main/resources/rest-api-spec/api/knn_search.json
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApi.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParser.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParserFailingTests.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParserTests.java
Labels: >non-issue, backport, Team:Search, :Search/Vectors, v8.7.1

#94290 [8.6] Deprecate _knn_search in the REST spec (#94103)
  rest-api-spec/src/main/resources/rest-api-spec/api/knn_search.json
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApi.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParser.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParserFailingTests.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestApiParserTests.java
Labels: >non-issue, backport, Team:Search, :Search/Vectors, v8.6.3

#93424 Avoiding BulkProcessor deadlock in ILMHistoryStore (#91238)
  docs/changelog/91238.yaml
  server/src/internalClusterTest/java/org/elasticsearch/action/bulk/BulkProcessor2IT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/bulk/BulkProcessor2RetryIT.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkProcessor2.java
  server/src/main/java/org/elasticsearch/action/bulk/Retry2.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequest.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkProcessor2Tests.java
  server/src/test/java/org/elasticsearch/action/bulk/Retry2Tests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/history/ILMHistoryStore.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/history/ILMHistoryStoreTests.java
Labels: :Data Management/ILM+SLM, backport, auto-merge, v7.17.10

#94256 Add create flag to PUT Engine call
  rest-api-spec/src/main/resources/rest-api-spec/api/engine.put.json
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/20_engine_put.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/EngineIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/PutEngineAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/RestPutEngineAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/TransportPutEngineAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/EngineIndexServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/action/PutEngineActionRequestSerializingTests.java
Labels: Team:Enterprise Search

#94284 [Transform] [CI] Fix failing test: XPackRestIT test {p0=transform/transforms_unattended/Test unattended put and start}
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/transforms_unattended.yml
Labels: >non-issue, >test, :ml/Transform, Team:ML, v8.8.0

#94293 Fix packaging test reliance on SYSTEM_JAVA_HOME
  .ci/scripts/packaging-test.ps1
  .ci/scripts/packaging-test.sh
Labels: >test, :Delivery/Packaging, Team:Delivery, auto-merge, auto-backport-and-merge, v7.17.10, v8.7.1, v8.8.0, v8.6.3

#94295 [7.17] Fix packaging test reliance on SYSTEM_JAVA_HOME (#94293)
  .ci/scripts/packaging-test.ps1
  .ci/scripts/packaging-test.sh
Labels: >test, :Delivery/Packaging, backport, Team:Delivery, auto-merge, v7.17.10

#94296 [8.7] Fix packaging test reliance on SYSTEM_JAVA_HOME (#94293)
  .ci/scripts/packaging-test.ps1
  .ci/scripts/packaging-test.sh
Labels: >test, :Delivery/Packaging, backport, Team:Delivery, auto-merge, v8.7.1

#94297 [8.6] Fix packaging test reliance on SYSTEM_JAVA_HOME (#94293)
  .ci/scripts/packaging-test.ps1
  .ci/scripts/packaging-test.sh
Labels: >test, :Delivery/Packaging, backport, Team:Delivery, auto-merge, v8.6.3

#94168 List engines API
  rest-api-spec/src/main/resources/rest-api-spec/api/engine.list.json
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/20_engine_put.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/30_engine_get.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/40_engine_delete.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/50_engine_list.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/EnterpriseSearch.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/Engine.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/EngineIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/EngineListItem.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/ListEnginesAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/RestListEnginesAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/TransportListEnginesAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/EngineIndexServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/EngineTestUtils.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/EngineTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/action/GetEngineActionResponseSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/action/ListEnginesActionRequestSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/action/ListEnginesActionResponseSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/action/PutEngineActionRequestSerializingTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: Team:Enterprise Search

#94172 Updating assorted integration tests to use BulkProcessor2 instead of BulkProcessor
  qa/multi-cluster-search/src/test/java/org/elasticsearch/search/CCSDuelIT.java
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/IndexFollowingIT.java
Labels: >test, :Data Management/Other, Team:Data Management, auto-merge, v8.8.0

#93719 Modularize runtime-fields-common
  modules/runtime-fields-common/src/main/java/module-info.java
  modules/runtime-fields-common/src/main/java/org/elasticsearch/runtimefields/RuntimeFieldsPainlessExtension.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, modularization, v8.8.0

#94283 [Profiling] Adjust handling of last data slice
  docs/changelog/94283.yaml
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/TransportGetProfilingAction.java
  x-pack/plugin/profiler/src/test/java/org/elasticsearch/xpack/profiler/TransportGetProfilingActionTests.java
Labels: >bug, :Search/Search, Team:Search, auto-backport-and-merge, v8.7.0, v8.7.1, v8.8.0

#94317 [8.7] [Profiling] Adjust handling of last data slice (#94283)
  docs/changelog/94283.yaml
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/TransportGetProfilingAction.java
  x-pack/plugin/profiler/src/test/java/org/elasticsearch/xpack/profiler/TransportGetProfilingActionTests.java
Labels: >bug, :Search/Search, backport, Team:Search, auto-merge, v8.7.1

#94275 Better initial step in repo register analysis
  x-pack/plugin/snapshot-repo-test-kit/src/main/java/org/elasticsearch/repositories/blobstore/testkit/RegisterAnalyzeAction.java
  x-pack/plugin/snapshot-repo-test-kit/src/main/java/org/elasticsearch/repositories/blobstore/testkit/RepositoryAnalyzeAction.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.8.0

#94194 Add `DataStream#getIndicesPastRetention`
  modules/dlm/src/main/java/org/elasticsearch/dlm/DataLifecycleService.java
  modules/dlm/src/test/java/org/elasticsearch/dlm/DataLifecycleServiceTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
Labels: >non-issue, Team:Data Management, v8.8.0, :Data Management/DLM

#94225 Simplify Building IndexMetadata#indicesLookup
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.8.0

#94306 Simplify supported queries check in PercolatorFieldMapper
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/TestDocumentParserContext.java
Labels: :Search/Percolator, >refactoring, Team:Search, v8.8.0

#94166 More aggressively check for snapshot abort
  server/src/main/java/org/elasticsearch/index/snapshots/IndexShardSnapshotStatus.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.8.0

#94276 Azure compare-and-exchange implementation
  modules/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobContainer.java
  modules/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobStore.java
  server/src/main/java/org/elasticsearch/common/blobstore/support/AbstractBlobContainer.java
  x-pack/plugin/snapshot-repo-test-kit/qa/azure/build.gradle
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.8.0

#94272 Add cluster_info to the GET /_internal/desired-balance endpoint output
  docs/reference/cluster/get-desired-balance.asciidoc
  qa/smoke-test-multinode/src/yamlRestTest/resources/rest-api-spec/test/smoke_test_multinode/30_desired_balance.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.desired_balance/10_basic.yml
  server/src/main/java/org/elasticsearch/action/admin/cluster/allocation/DesiredBalanceResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/allocation/TransportGetDesiredBalanceAction.java
  server/src/main/java/org/elasticsearch/cluster/ClusterInfo.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/DesiredBalanceResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/TransportGetDesiredBalanceActionTests.java
  server/src/test/java/org/elasticsearch/cluster/ClusterInfoTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.8.0

#94291 Add an example of dot_expander's path option
  docs/reference/ingest/processors/dot-expand.asciidoc
Labels: >docs, :Data Management/Ingest Node, Team:Data Management, Team:Docs, auto-backport, v8.7.0, v7.17.10, v8.8.0, v8.6.3

#94211 Using BulkProcessor2 in Deprecation Logging
  server/src/internalClusterTest/java/org/elasticsearch/action/bulk/BulkProcessor2IT.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkProcessor2.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationIndexingComponent.java
Labels: >non-issue, :Data Management/Other, Team:Data Management, v8.8.0

#94292 Remove replicas settings in field-caps YAML tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/field_caps/40_time_series.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/05_dimension_and_metric_in_non_tsdb_index.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/110_field_caps.yml
Labels: >test, :Search/Search, Team:Search, auto-backport-and-merge, v8.7.1, v8.8.0

#94308 Remove replicas settings in indices.sort YAML tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.sort/10_basic.yml
Labels: >test, :Search/Search, Team:Search, auto-backport-and-merge, v8.7.1, v8.8.0

#94331 [7.17] Add an example of dot_expander's path option (#94291)
  docs/reference/ingest/processors/dot-expand.asciidoc
Labels: >docs, :Data Management/Ingest Node, backport, Team:Data Management, Team:Docs, v7.17.10

#94332 [8.6] Add an example of dot_expander's path option (#94291)
  docs/reference/ingest/processors/dot-expand.asciidoc
Labels: >docs, :Data Management/Ingest Node, backport, Team:Data Management, Team:Docs, v8.6.3

#94330 [8.7] Add an example of dot_expander's path option (#94291)
  docs/reference/ingest/processors/dot-expand.asciidoc
Labels: >docs, :Data Management/Ingest Node, backport, Team:Data Management, Team:Docs, v8.7.1

#94327 [Profiling] Map stack frames more efficiently
  docs/changelog/94327.yaml
  libs/x-content/src/main/java/org/elasticsearch/xcontent/ObjectPath.java
  libs/x-content/src/test/java/org/elasticsearch/xcontent/ObjectPathTests.java
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/StackFrame.java
Labels: >enhancement, :Search/Search, Team:Search, v8.8.0

#94333 [8.7] Remove replicas settings in field-caps YAML tests (#94292)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/field_caps/40_time_series.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/05_dimension_and_metric_in_non_tsdb_index.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/110_field_caps.yml
Labels: >test, :Search/Search, backport, Team:Search, auto-merge, v8.7.1

#94334 [8.7] Remove replicas settings in indices.sort YAML tests (#94308)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.sort/10_basic.yml
Labels: >test, :Search/Search, backport, Team:Search, auto-merge, v8.7.1

#94280 Add license checks for engine management APIs
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/EngineTransportAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/TransportDeleteEngineAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/TransportGetEngineAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/TransportListEnginesAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/TransportPutEngineAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/utils/LicenseUtils.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/action/TransportDeleteEngineActionTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/action/TransportGetEngineActionTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/action/TransportListEnginesActionTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/action/TransportPutEngineActionTests.java
Labels: Team:Enterprise Search

#94335 Add a check that cluster_info is serialized as an object
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/DesiredBalanceResponseTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.8.0

#94304 Use 2 nodes in YAML test cluster
  rest-api-spec/src/yamlRestTest/java/org/elasticsearch/test/rest/ClientYamlTestSuiteIT.java
  x-pack/qa/core-rest-tests-with-security/src/yamlRestTest/java/org/elasticsearch/xpack/security/CoreWithSecurityClientYamlTestSuiteIT.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.8.0

#94247 GCS compare-and-exchange implementation
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainer.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStore.java
  x-pack/plugin/snapshot-repo-test-kit/qa/gcs/build.gradle
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.8.0

#94298 Mute one more disruption test for jdk 20+
  server/src/internalClusterTest/java/org/elasticsearch/discovery/MasterDisruptionIT.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v7.17.10, v8.7.1, v8.8.0

#94340 Mute one more disruption test (#94298)
  server/src/internalClusterTest/java/org/elasticsearch/discovery/MasterDisruptionIT.java
Labels: backport, auto-merge, v7.17.10

#94251 Remove Engine alias when Engine is deleted
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/20_engine_put.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/40_engine_delete.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/EnterpriseSearch.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/EngineIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/engine/action/TransportDeleteEngineAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/engine/EngineIndexServiceTests.java
Labels: Team:Enterprise Search

#94328 Avoid null exception in RealmsAuthenticator
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/RealmsAuthenticator.java
Labels: >non-issue, :Security/Security, Team:Security, auto-merge, v8.8.0

#94307 Remove replicas settings in search YAML tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.sort/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/115_multiple_field_collapsing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/120_batch_reduce_size.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/260_parameter_validation.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/380_sort_segments_on_timestamp.yml
Labels: >test, :Search/Search, Team:Search, auto-backport-and-merge, v8.7.1, v8.8.0

#94309 Remove replicas settings in indices.stats YAML tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.stats/13_fields.yml
Labels: >test, :Data Management/Stats, Team:Data Management, auto-backport-and-merge, v8.7.1, v8.8.0

#94344 [8.7] Remove replicas settings in indices.stats YAML tests (#94309)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.stats/13_fields.yml
Labels: >test, :Data Management/Stats, backport, Team:Data Management, auto-merge, v8.7.1

#94281 Add tests checking final_pipelines in YAML tests
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/230_change_target_index.yml
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v8.8.0

#94303 Use 1 replica in YAML tests that issue get/exist calls
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/create/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/exists/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/exists/60_realtime_refresh.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/100_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/60_realtime_refresh.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get_source/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get_source/60_realtime_refresh.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/index/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.clone/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/update/40_routing.yml
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.8.0

#94320 Hide internal details of ActionListener impls
  modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/TransportRankEvalAction.java
  modules/reindex/src/test/java/org/elasticsearch/reindex/ClientScrollableHitSourceTests.java
  server/src/main/java/org/elasticsearch/action/ActionListener.java
  server/src/main/java/org/elasticsearch/action/ActionListenerImplementations.java
  server/src/main/java/org/elasticsearch/action/DelegatingActionListener.java
  server/src/main/java/org/elasticsearch/action/bulk/Retry.java
  server/src/main/java/org/elasticsearch/action/get/TransportMultiGetAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchExecutionStatsCollector.java
  server/src/main/java/org/elasticsearch/action/support/ContextPreservingActionListener.java
  server/src/main/java/org/elasticsearch/action/support/CountDownActionListener.java
  server/src/main/java/org/elasticsearch/action/support/GroupedActionListener.java
  server/src/main/java/org/elasticsearch/action/support/ThreadedActionListener.java
  server/src/main/java/org/elasticsearch/index/reindex/RetryListener.java
  server/src/main/java/org/elasticsearch/repositories/FinalizeSnapshotContext.java
  server/src/main/java/org/elasticsearch/repositories/SnapshotShardContext.java
  server/src/test/java/org/elasticsearch/action/ActionListenerTests.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestModifierTests.java
  server/src/test/java/org/elasticsearch/action/support/ContextPreservingActionListenerTests.java
  server/src/test/java/org/elasticsearch/health/HealthServiceTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportForgetFollowerAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/AsEventListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/ReverseListener.java
  x-pack/plugin/graph/src/main/java/org/elasticsearch/xpack/graph/action/TransportGraphExploreAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/persistence/DatafeedConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/persistence/DataFrameAnalyticsConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProvider.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/deployment/ThreadSettingsControlMessagePytorchActionTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStore.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/token/TransportInvalidateTokenActionTests.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/CompositeAggCursor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/Querier.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.8.0

#94326 simplify existing shards allocator
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/gateway/GatewayAllocator.java
  server/src/main/java/org/elasticsearch/gateway/ReplicaShardAllocator.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/SearchableSnapshotAllocator.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.8.0

#94350 fix testPerformActionAttrsAllNodesValid
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/SetSingleNodeAllocateStepTests.java
Labels: >test-failure, :Distributed/Allocation, Team:Distributed, v8.8.0

#94156 Batch Snapshot Create Tasks
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.8.0

#94353 Mute FrozenExistenceDeciderIT-testZeroToOne
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/existence/FrozenExistenceDeciderIT.java
Labels: >test-mute, :Distributed/Autoscaling, Team:Distributed, auto-merge, auto-backport-and-merge, v8.7.1, v8.8.0, v8.6.3

#94355 [8.7] Mute FrozenExistenceDeciderIT-testZeroToOne (#94353)
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/existence/FrozenExistenceDeciderIT.java
Labels: backport, >test-mute, :Distributed/Autoscaling, Team:Distributed, auto-merge, v8.7.1

#94356 [8.6] Mute FrozenExistenceDeciderIT-testZeroToOne (#94353)
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/existence/FrozenExistenceDeciderIT.java
Labels: backport, >test-mute, :Distributed/Autoscaling, Team:Distributed, auto-merge, v8.6.3

#94336 Completion context tests don't need to spin up nodes
  server/src/test/java/org/elasticsearch/search/suggest/completion/CategoryContextMappingTests.java
  server/src/test/java/org/elasticsearch/search/suggest/completion/GeoContextMappingTests.java
Labels: >test, :Search/Search, Team:Search, v8.8.0

#94258 [Behavorial Analytics] CRUD REST APIs
  x-pack/docs/en/rest-api/security/get-builtin-privileges.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/ent-search/qa/rest/roles.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/EnterpriseSearch.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/action/DeleteAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/action/GetAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/action/PutAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/action/RestDeleteAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/action/RestGetAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/action/RestPutAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/action/TransportDeleteAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/action/TransportGetAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/action/TransportPutAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/entsearch/analytics/action/support/BaseAnalyticsCollectionResponse.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/analytics/AnalyticsCollectionTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/analytics/action/DeleteAnalyticsCollectionRequestSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/analytics/action/GetAnalyticsCollectionRequestSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/analytics/action/GetAnalyticsCollectionResponseSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/analytics/action/PutAnalyticsCollectionRequestSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/entsearch/analytics/action/PutAnalyticsCollectionResponseSerializingTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/privileges/11_builtin.yml
Labels: Team:Enterprise Search

#94360 Cleanup some code in recovery codebase
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/indices/recovery/MultiChunkTransfer.java
  server/src/main/java/org/elasticsearch/indices/recovery/MultiFileWriter.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoverySourceService.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryFilesInfoRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryHandoffPrimaryContextRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryState.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/main/java/org/elasticsearch/indices/recovery/StartRecoveryRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/plan/ShardRecoveryPlan.java
  server/src/main/java/org/elasticsearch/indices/recovery/plan/ShardSnapshot.java
  server/src/main/java/org/elasticsearch/indices/store/IndicesStore.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoveryTests.java
  server/src/test/java/org/elasticsearch/recovery/RecoveriesCollectionTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
  x-pack/plugin/snapshot-based-recoveries/src/main/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/plan/SnapshotsRecoveryPlannerService.java
  x-pack/plugin/snapshot-based-recoveries/src/test/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/plan/SnapshotsRecoveryPlannerServiceTests.java
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, v8.8.0

#94362 Elevate MockPersistedState one level
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, v8.8.0

#94363 Use rejection exception in ThreadedActionListener
  server/src/main/java/org/elasticsearch/action/support/ThreadedActionListener.java
  server/src/test/java/org/elasticsearch/action/support/ThreadedActionListenerTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.8.0

#94365 Mute test for issue 94239
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/20_mapping.yml
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/SkipSection.java
Labels: >test, :Analytics/Geo, >test-mute, Team:Analytics, v8.8.0

#94368 [8.7][DOCS] Adds ML-related items to 8.7 release highlights
  docs/changelog/92213.yaml
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.7.1

#94240 [DLM] Introduce default rollover cluster setting & expose it via APIs
  docs/changelog/94240.yaml
  docs/reference/indices/get-component-template.asciidoc
  docs/reference/indices/get-data-stream.asciidoc
  docs/reference/indices/get-index-template.asciidoc
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/action/GetDataStreamsTransportAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/rest/RestGetDataStreamsAction.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/action/GetDataStreamsTransportActionTests.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/190_managed_by_data_lifecycle.yml
  modules/dlm/src/internalClusterTest/java/org/elasticsearch/dlm/DataLifecycleServiceIT.java
  modules/dlm/src/main/java/org/elasticsearch/dlm/DataLifecycleService.java
  rest-api-spec/src/main/resources/rest-api-spec/api/cluster.get_component_template.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_data_stream.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_index_template.json
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.component_template/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.get_index_template/10_basic.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/RolloverConditions.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/GetComponentTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/GetComposableIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/TransportGetComponentTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/TransportGetComposableIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/datastreams/GetDataStreamAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ComponentTemplate.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplate.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataLifecycle.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Template.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetComponentTemplateAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetComposableIndexTemplateAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/RolloverConditionsTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ComponentTemplateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataLifecycleSerializationTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataLifecycleTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
Labels: >feature, Team:Data Management, v8.8.0, :Data Management/DLM

#94191 Reset feature states before deleting indices in EsRestTestCase
  qa/ccs-common-rest/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/RcsCcsCommonYamlTestSuiteIT.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractRollingTestCase.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/UpgradeClusterClientYamlTestSuiteIT.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.resolve_index/20_resolve_system_index.yml
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/ml/qa/multi-cluster-tests-with-security/src/test/java/org/elasticsearch/multi_cluster/MultiClusterYamlTestSuiteIT.java
  x-pack/plugin/transform/qa/multi-cluster-tests-with-security/src/test/java/org/elasticsearch/multi_cluster/MultiClusterYamlTestSuiteIT.java
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/java/org/elasticsearch/xpack/security/MultiClusterSearchWithSecurityYamlTestSuiteIT.java
  x-pack/qa/multi-cluster-search-security/legacy-with-full-license/src/test/java/org/elasticsearch/xpack/security/MultiClusterSearchWithSecurityYamlTestSuiteIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractUpgradeTestCase.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/UpgradeClusterClientYamlTestSuiteIT.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.8.0

#94372 Revert "Add tests checking final_pipelines in YAML tests (#94281)"
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/230_change_target_index.yml
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v8.8.0

#94367 Use ThreadedActionListener in ListenableFuture
  server/src/main/java/org/elasticsearch/common/util/concurrent/ListenableFuture.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/ListenableFutureTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, auto-merge, v8.8.0

#94314 Simplify o.e.i.m.ContentPath
  server/src/main/java/org/elasticsearch/index/mapper/ContentPath.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/DotExpandingXContentParser.java
  server/src/test/java/org/elasticsearch/index/mapper/DotExpandingXContentParserTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/TestDocumentParserContext.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.8.0

#94322 Enable `_terms_enum` on `ip` fields
  docs/changelog/94322.yaml
  docs/reference/search/terms-enum.asciidoc
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpPrefixAutomatonUtil.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SortedSetDocValuesTerms.java
  server/src/test/java/org/elasticsearch/index/mapper/IpPrefixAutomatonUtilTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/termsenum/TermsEnumTests.java
Labels: >enhancement, :Search/Mapping, Team:Search, v8.7.1, v8.8.0

#94294 Updating more Data Management serverless API permissions
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestCloseIndexAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestOpenIndexAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestPendingClusterTasksAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestSegmentsAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestShardsAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestSnapshotAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestTasksAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestTemplatesAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestThreadPoolAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/RestExplainLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/RestGetStatusAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/RestStartILMAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/RestStopAction.java
Labels: >non-issue, :Data Management/Other, Team:Data Management, v8.8.0

#93537 [Test] Skip FIPS test for testWeebhook
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookTokenIntegrationTests.java
Labels: >test, Team:Security, :Security/FIPS, v8.8.0

#94315 Speed up DotExpandingXContentParser.expandDots
  libs/x-content/src/main/java/org/elasticsearch/xcontent/XContentSubParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DotExpandingXContentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldTypeLookup.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.8.0

#94379 Avoid duplicate application of RoutingTable diff
  docs/changelog/94379.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingTable.java
Labels: >bug, :Distributed/Allocation, Team:Distributed, external-contributor, v8.8.0

#94109 Remove obsolete code in GeoContextMapping
  server/src/main/java/org/elasticsearch/common/geo/GeoPoint.java
  server/src/main/java/org/elasticsearch/search/suggest/completion/context/GeoContextMapping.java
Labels: >non-issue, :Analytics/Geo, :Search/Suggesters, Team:Search, Team:Analytics, v8.8.0

#94366 Remove only use of TransportVersionUtils.compatibleFutureVersion
  server/src/test/java/org/elasticsearch/persistent/PersistentTasksCustomMetadataTests.java
  test/framework/src/main/java/org/elasticsearch/test/TransportVersionUtils.java
Labels: >test, :Core/Infra/Transport API, :Distributed/Task Management, Team:Core/Infra, Team:Distributed, v8.8.0

#94371 Dry up RecoveryRequest serialization code
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryCleanFilesRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryFileChunkRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryFilesInfoRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryFinalizeRecoveryRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryPrepareForTranslogOperationsRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySnapshotFileRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTranslogOperationsRequest.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTransportRequest.java
  x-pack/plugin/snapshot-based-recoveries/src/internalClusterTest/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/SnapshotBasedIndexRecoveryIT.java
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, v8.8.0

#94383 [Mute] TermsEnumTests testTermsEnumIPRandomized
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/termsenum/TermsEnumTests.java
Labels: :Search/Mapping, >test-mute, Team:Search, auto-merge, v8.8.0

#93894 Enforce authentication internal consistency on remote access inner authentication
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationConsistencyTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/RemoteAccessAuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/service/ServiceAccountService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationDenialMessages.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticatorChainTests.java
Labels: >non-issue, :Security/Authentication, Team:Security, auto-merge, v8.8.0

#94237 Audit remote access on fulfilling cluster
  x-pack/plugin/core/src/main/config/log4j2.properties
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/RemoteAccessAuthenticationService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RemoteAccessAuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RemoteAccessHeadersTests.java
Labels: >non-issue, :Security/Audit, Team:Security, auto-merge, v8.8.0

#94274 Support service account for RCS
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecuritySpecialUserIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/RemoteAccessAuthenticationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: >non-issue, :Security/Security, Team:Security, auto-merge, v8.8.0

#94385 Revert to 1 node cluster for YAML tests and avoid wait for green
  rest-api-spec/src/yamlRestTest/java/org/elasticsearch/test/rest/ClientYamlTestSuiteIT.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/create/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/exists/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/exists/60_realtime_refresh.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/100_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/60_realtime_refresh.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get_source/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get_source/60_realtime_refresh.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/index/40_routing.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.clone/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/update/40_routing.yml
  x-pack/qa/core-rest-tests-with-security/src/yamlRestTest/java/org/elasticsearch/xpack/security/CoreWithSecurityClientYamlTestSuiteIT.java
Labels: >test, :Distributed/Distributed, Team:Distributed, auto-merge, v8.8.0

#94393 Avoid stack of StepListeners in SharedBlobCacheService
  server/src/main/java/org/elasticsearch/action/support/RefCountingListener.java
  server/src/test/java/org/elasticsearch/action/support/RefCountingListenerTests.java
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
  x-pack/plugin/blob-cache/src/test/java/org/elasticsearch/blobcache/shared/SharedBlobCacheServiceTests.java
Labels: :Distributed/Snapshot/Restore, >refactoring, Team:Distributed, auto-merge, v8.8.0

#93911 Add register based coordinator test suite
  server/src/main/java/org/elasticsearch/cluster/coordination/CoordinationState.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/ElectionStrategy.java
  server/src/main/java/org/elasticsearch/cluster/coordination/JoinHelper.java
  server/src/main/java/org/elasticsearch/cluster/coordination/LeaderHeartbeatService.java
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeJoinExecutor.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Reconfigurator.java
  server/src/main/java/org/elasticsearch/discovery/DiscoveryModule.java
  server/src/test/java/org/elasticsearch/cluster/coordination/AtomicRegisterCoordinatorTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/JoinHelperTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
  x-pack/plugin/voting-only-node/src/test/java/org/elasticsearch/cluster/coordination/votingonly/VotingOnlyNodeCoordinatorTests.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, v8.8.0

#94384 Add named privilege for RCS cross cluster access
  qa/ccs-common-rest/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/RcsCcsCommonYamlTestSuiteIT.java
  x-pack/docs/build.gradle
  x-pack/plugin/build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/PrivilegeTests.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/AbstractRemoteClusterSecurityTestCase.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/RemoteAccessAuthenticationService.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/privileges/11_builtin.yml
Labels: >non-issue, :Security/Authorization, Team:Security, v8.8.0

#94065 Implicitly rollover data streams / aliases based on max_primary_shard_docs
  docs/changelog/94065.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForRolloverReadyStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForRolloverReadyStepTests.java
Labels: >enhancement, :Data Management/ILM+SLM, Team:Data Management, Team:Analytics, :Analytics/TSDB, v8.8.0

#94388 Add tests checking final_pipelines in YAML tests
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/230_change_target_index.yml
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v8.8.0

#94399 [8.7] Fix NPE thrown by prefix and regex query in strange scenarios (#94369)
  docs/changelog/94369.yaml
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/MatchOnlyTextFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/SearchAsYouTypeFieldTypeTests.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/plugin/analysis/icu/ICUCollationKeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/MappedFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/PlaceHolderFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/StringFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/FuzzyQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/RegexpQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/support/QueryParsers.java
  server/src/main/java/org/elasticsearch/index/search/MatchQueryParser.java
  server/src/main/java/org/elasticsearch/index/search/QueryStringQueryParser.java
  server/src/test/java/org/elasticsearch/deps/lucene/VectorHighlighterTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ConstantScoreTextFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/KeyedFlattenedFieldTypeTests.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionFieldWildcardQuery.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: >bug, :Search/Search, backport, Team:Search, auto-merge, v8.7.1

#94398 Instantiate a SearchApplicationIndexService for each action
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/EnterpriseSearch.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/SearchApplicationTransportAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/TransportDeleteSearchApplicationAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/TransportGetSearchApplicationAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/TransportListSearchApplicationAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/TransportPutSearchApplicationAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/search/action/TransportDeleteSearchApplicationActionTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/search/action/TransportGetSearchApplicationActionTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/search/action/TransportListSearchApplicationActionTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/search/action/TransportPutSearchApplicationActionTests.java
Labels: Team:Enterprise Search

#94396 Allow docvalues-only search on geo_shape
  docs/changelog/94396.yaml
  docs/reference/mapping/types/geo-shape.asciidoc
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapper.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/ingest/CircleProcessorTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/spatial/110_geo_shape_parameters.yml
Labels: >enhancement, :Analytics/Geo, Team:Analytics, v8.8.0

#94377 Do not include frozen indices in PIT by default
  docs/changelog/94377.yaml
  server/src/main/java/org/elasticsearch/action/search/OpenPointInTimeRequest.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/frozen/FrozenIndexIT.java
Labels: >bug, :Search/Search, Team:Search, auto-merge, auto-backport-and-merge, v8.8.0

#94373 Behavioral analytics rest api changes
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/EnterpriseSearch.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/AnalyticsCollectionResolver.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/AnalyticsCollectionService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/DeleteAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/GetAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/PutAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/RestGetAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/RestPutAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/TransportDeleteAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/TransportGetAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/TransportPutAnalyticsCollectionAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/analytics/action/support/BaseAnalyticsCollectionResponse.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/AnalyticsCollectionResolverTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/AnalyticsCollectionServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/AnalyticsCollectionTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/AnalyticsTestCase.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/action/DeleteAnalyticsCollectionRequestSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/action/GetAnalyticsCollectionRequestSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/action/GetAnalyticsCollectionResponseSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/action/PutAnalyticsCollectionRequestSerializingTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/analytics/action/PutAnalyticsCollectionResponseSerializingTests.java
Labels: >feature, v8.8.0, :EnterpriseSearch/Application, Team:Enterprise Search

#94255 add privileges in vulnerabilities index
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, external-contributor, v8.8.0

#94402 Do not include frozen indices in PIT by default (#94377)
  docs/changelog/94377.yaml
  server/src/main/java/org/elasticsearch/action/search/OpenPointInTimeRequest.java
  x-pack/plugin/frozen-indices/src/internalClusterTest/java/org/elasticsearch/index/engine/frozen/FrozenIndexIT.java
Labels: backport, auto-merge, v8.7.1

#94032 Give search nodes same cache defaults as frozen
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
  x-pack/plugin/blob-cache/src/test/java/org/elasticsearch/blobcache/shared/SharedBlobCacheServiceTests.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.8.0

#94358 [DOCS] Add Logback config to java REST client
  docs/java-rest/low-level/usage.asciidoc
Labels: >docs, :Clients/Java Low Level REST Client, Team:Docs, Team:Clients, v8.8.0

#94265 Ensure EQL works with RCS
  qa/ccs-common-rest/build.gradle
  qa/ccs-common-rest/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/CcsCommonYamlTestSuiteIT.java
  qa/ccs-common-rest/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/RcsCcsCommonYamlTestSuiteIT.java
  qa/ccs-common-rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  qa/ccs-common-rest/src/yamlRestTest/resources/rest-api-spec/test/eql/20_runtime_mappings.yml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
Labels: >non-issue, :Security/Security, Team:Security, auto-merge, v8.8.0

#94361 Further simplify Allocators by converting classes to records
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationDecision.java
  server/src/main/java/org/elasticsearch/gateway/PrimaryShardAllocator.java
  server/src/main/java/org/elasticsearch/gateway/ReplicaShardAllocator.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/SearchableSnapshotAllocator.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.8.0

#94392 [DLM] Clear the result deduplicator on master failover
  modules/dlm/src/main/java/org/elasticsearch/dlm/DataLifecycleService.java
Labels: >non-issue, Team:Data Management, v8.8.0, :Data Management/DLM

#94408 [DOC] Append http.max_content_length for compressed
  docs/reference/modules/http.asciidoc
Labels: >enhancement, >docs, Team:Docs, external-contributor, v8.8.0

#66357 Clarify update scripts docs on doc vs ctx use
  docs/reference/scripting/fields.asciidoc
Labels: >docs, :Core/Infra/Scripting, Team:Core/Infra, Team:Docs

#94406 Bug fix: IndexNotFound error when API calls in environment where no Search Applications Exist
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/15_search_application_before_setup.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/SearchApplicationIndexService.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/search/SearchApplicationIndexServiceTests.java
Labels: Team:Enterprise Search

#94430 Update http.max_content_length description
  docs/reference/modules/http.asciidoc
Labels: >docs, Team:Docs, v8.8.0

#94432 Refined geo_line tests for clarity
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/spatial/60_geo_line.yml
Labels: >test, :Analytics/Geo, Team:Analytics, v8.8.0

#94419 Updated release notes to 8.7.0 BC5
  docs/changelog/91519.yaml
  docs/changelog/91956.yaml
  docs/changelog/92118.yaml
  docs/changelog/92213.yaml
  docs/changelog/92372.yaml
  docs/changelog/92395.yaml
  docs/changelog/92494.yaml
  docs/changelog/92879.yaml
  docs/changelog/92913.yaml
  docs/changelog/92951.yaml
  docs/changelog/93283.yaml
  docs/changelog/93329.yaml
  docs/changelog/93370.yaml
  docs/changelog/93421.yaml
  docs/changelog/93546.yaml
  docs/reference/release-notes/8.7.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.7.0, v8.7.1

#94413 Check jdk20 assumption after starting cluster
  server/src/internalClusterTest/java/org/elasticsearch/discovery/MasterDisruptionIT.java
Labels: >test, :Distributed/Distributed, Team:Distributed, auto-backport-and-merge, v7.17.10, v8.7.1, v8.8.0

#94438 [8.7] Check jdk20 assumption after starting cluster (#94413)
  server/src/internalClusterTest/java/org/elasticsearch/discovery/MasterDisruptionIT.java
Labels: >test, :Distributed/Distributed, backport, Team:Distributed, auto-merge, v8.7.1

#94243 Dry up additional spots of setting cluster settings in internal cluster tests
  modules/percolator/src/internalClusterTest/java/org/elasticsearch/percolator/PercolatorQuerySearchIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/UnsafeBootstrapAndDetachCommandIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/MockDiskUsagesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/reservedstate/service/FileSettingsServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/query/ScriptScoreQueryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/scriptfilter/ScriptQuerySearchIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/settings/ClusterUpdateSettingsRequestBuilder.java
  test/framework/src/main/java/org/elasticsearch/search/geo/BaseShapeIntegTestCase.java
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/AsyncSearchActionIT.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/slm/SLMFileSettingsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/AutoscalingIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ClassificationHousePricingIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ClassificationIT.java
  x-pack/plugin/monitoring/src/internalClusterTest/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExporterSslIT.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/test/MonitoringIntegTestCase.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/cache/blob/SearchableSnapshotsBlobStoreCacheMaintenanceIntegTests.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownShardsIT.java
  x-pack/plugin/snapshot-based-recoveries/src/internalClusterTest/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/SnapshotBasedIndexRecoveryIT.java
Labels: >test, :Core/Infra/Settings, Team:Core/Infra, v8.8.0

#94376 Refactor file settings watcher to allow reuse of file watching logic
  server/src/internalClusterTest/java/org/elasticsearch/ingest/IngestFileSettingsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/readiness/ReadinessClusterIT.java
  server/src/internalClusterTest/java/org/elasticsearch/reservedstate/service/ComponentTemplatesFileSettingsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/reservedstate/service/FileSettingsServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/reservedstate/service/RepositoriesFileSettingsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/reservedstate/service/SnapshotsAndFileSettingsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/threadpool/SimpleThreadPoolIT.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/readiness/ReadinessService.java
  server/src/main/java/org/elasticsearch/reservedstate/service/AbstractFileWatchingService.java
  server/src/main/java/org/elasticsearch/reservedstate/service/FileChangedListener.java
  server/src/main/java/org/elasticsearch/reservedstate/service/FileSettingsService.java
  server/src/test/java/org/elasticsearch/readiness/ReadinessServiceTests.java
  server/src/test/java/org/elasticsearch/reservedstate/service/FileSettingsServiceTests.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/AutoscalingFileSettingsIT.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/slm/SLMFileSettingsIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/RoleMappingFileSettingsIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/FileSettingsRoleMappingsRestartIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/FileSettingsRoleMappingsStartupIT.java
Labels: :Core/Infra/Settings, >refactoring, Team:Core/Infra, auto-merge, v8.8.0

#94439 Check jdk20 assumption after starting cluster (#94413)
  server/src/internalClusterTest/java/org/elasticsearch/discovery/MasterDisruptionIT.java
Labels: backport, auto-merge, v7.17.10

#94305 Dry up index setting setup in tests
  server/src/internalClusterTest/java/org/elasticsearch/indices/analysis/PreBuiltAnalyzerIntegrationIT.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/TransportGetDesiredBalanceActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/health/TransportClusterHealthActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/resolve/ResolveIndexTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/WildcardExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AwarenessAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/FilterRoutingTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/IndexBalanceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/PreferLocalPrimariesToRelocatingPrimariesTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ResizeSourceIndexSettingsUpdaterTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/RoutingNodesIntegrityTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/SameShardRoutingTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsLimitAllocationTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayMetaStateTests.java
  server/src/test/java/org/elasticsearch/index/query/SearchIndexNameMatcherTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/framework/src/test/java/org/elasticsearch/cluster/service/FakeThreadPoolMasterServiceTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/cluster/metadata/IndexMetadataConversionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierAllocationDeciderTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/DataTiersUsageTransportActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/common/validation/SourceDestValidatorTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/FreezeStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicyUtilsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/PhaseCacheManagementTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/SegmentCountStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/job/persistence/ElasticsearchMappingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAliasTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/FieldSubsetReaderTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/LimitedRoleTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactoryTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/cluster/metadata/MetadataMigrateToDataTiersRoutingServiceTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleInfoTransportActionTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunnerTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleTransitionTests.java
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/store/SearchableSnapshotDirectoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/IndicesPermissionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/SecurityIndexManagerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherIndexingListenerTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherLifeCycleServiceTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherServiceTests.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/execution/TriggeredWatchStoreTests.java
Labels: >non-issue, >test, :Core/Infra/Settings, Team:Core/Infra, v8.8.0

#94435 Added ref links to TSDS and downsampling highlights
  docs/changelog/91519.yaml
  docs/changelog/92913.yaml
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.7.0, v8.7.1

#94195 Use double wildcards for filtered excludes properly
  docs/changelog/94195.yaml
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/XContentParserConfigurationImpl.java
  libs/x-content/src/test/java/org/elasticsearch/xcontent/support/filtering/AbstractXContentFilteringTestCase.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, v8.8.0

#94417 Avoid copying during iteration of all shards in routing table
  docs/changelog/94417.yaml
  server/src/internalClusterTest/java/org/elasticsearch/action/search/PointInTimeIT.java
  server/src/internalClusterTest/java/org/elasticsearch/blocks/SimpleBlocksIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterInfoServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/state/CloseIndexIT.java
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/IndexShardRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingTable.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestAllocationAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestShardsAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/TransportGetDesiredBalanceActionTests.java
  server/src/test/java/org/elasticsearch/cluster/action/shard/ShardFailedClusterStateTaskExecutorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/RoutingTableTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AwarenessAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/NodeVersionAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ThrottlingAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconcilerTests.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestShardsActionTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ProactiveStorageDeciderServiceTests.java
  x-pack/plugin/autoscaling/src/test/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderServiceTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/shards/ShardsCollectorTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/allocation/SearchableSnapshotDiskThresholdIntegTests.java
Labels: >bug, :Distributed/Allocation, Team:Distributed, external-contributor, v8.8.0
