Repository elastic/elasticsearch, pull requests merged in 2023-02, with the labels that each got.

#93379 [DOCS] Remove 'from' parameter from update_by_query/delete_by_query API documentation
  docs/reference/docs/delete-by-query.asciidoc
  docs/reference/docs/update-by-query.asciidoc
Labels: >docs, :Distributed/CRUD, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.7.0, v8.6.2

#93398 [8.6] [DOCS] Remove 'from' parameter from update_by_query/delete_by_query docs (#93379)
  docs/reference/docs/delete-by-query.asciidoc
  docs/reference/docs/update-by-query.asciidoc
Labels: >docs, :Distributed/CRUD, backport, Team:Distributed, Team:Docs, auto-merge, v8.6.2

#93359 Fix error message when SSL key is configured without a cert
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/SslConfigurationLoader.java
  libs/ssl-config/src/test/java/org/elasticsearch/common/ssl/SslConfigurationLoaderTests.java
Labels: >non-issue, :Security/TLS, Team:Security, auto-merge, v8.7.0

#93311 Add missing counter field support to some aggregations.
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/max_metric.yml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/min_metric.yml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MaxAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MinAggregatorFactory.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregationBuilder.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/analytics/top_metrics.yml
Labels: >non-issue, Team:Analytics, :Analytics/TSDB, v8.7.0

#93402 [CI] Mute testCreateSplitIndexToN
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/SplitIndexIT.java
Labels: :Distributed/Store, >test-mute, Team:Distributed, auto-merge, v8.7.0

#93091 Migrate org.elasticsearch.search to TransportVersion
  server/src/main/java/org/elasticsearch/search/CanMatchShardResponse.java
  server/src/main/java/org/elasticsearch/search/DocValueFormat.java
  server/src/main/java/org/elasticsearch/search/SearchHit.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/CompositeValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/DateHistogramValuesSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/InternalComposite.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/HistogramAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/missing/MissingAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/IncludeExclude.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalMappedTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AbstractInternalHDRPercentiles.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AbstractPercentilesAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalGeoCentroid.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalScriptedMetric.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/ValueCountAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/MultiValuesSourceFieldConfig.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsSearchResult.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchSearchResult.java
  server/src/main/java/org/elasticsearch/search/fetch/ShardFetchSearchRequest.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldAndFormat.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/AbstractHighlighterBuilder.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchContextId.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
  server/src/main/java/org/elasticsearch/search/profile/ProfileResult.java
  server/src/main/java/org/elasticsearch/search/profile/SearchProfileDfsPhaseResult.java
  server/src/main/java/org/elasticsearch/search/profile/SearchProfileQueryPhaseResult.java
  server/src/main/java/org/elasticsearch/search/profile/SearchProfileResults.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchRequest.java
  server/src/main/java/org/elasticsearch/search/query/QuerySearchResult.java
  server/src/main/java/org/elasticsearch/search/slice/SliceBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/FieldSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/GeoDistanceSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScriptSortBuilder.java
  server/src/main/java/org/elasticsearch/search/vectors/KnnVectorQueryBuilder.java
  server/src/test/java/org/elasticsearch/search/builder/SearchSourceBuilderTests.java
  server/src/test/java/org/elasticsearch/search/internal/ShardSearchRequestTests.java
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, v8.7.0

#93404 [DOCS] [main] Add release notes for 8.6.1 (#93236)
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.6.1.asciidoc
Labels: >docs, Team:Docs, v8.7.0

#93406 Fix count of unpromotable refreshes in test
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/ShardRoutingRoleIT.java
Labels: >test-failure, :Distributed/Allocation, Team:Distributed, v8.7.0

#93347 improve code documentation of ValueSource regarding (global, segment) ordinals
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceConfig.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/ValuesSourceConfigTests.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.7.0

#93340 Nested path info shouldn't be added during copy_to
  docs/changelog/93340.yaml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/search/SearchHit.java
  server/src/test/java/org/elasticsearch/index/mapper/CopyToMapperTests.java
Labels: >bug, :Search/Search, Team:Search, v8.7.0

#93407 Revert "Convert full cluster restart tests to new rest testing framew…
  build-tools-internal/src/main/groovy/elasticsearch.bwc-test.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalTestArtifactExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  qa/full-cluster-restart/build.gradle
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartTestOrdering.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartUpgradeStatus.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/ParameterizedFullClusterRestartTestCase.java
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/ClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/WaitForHttpResource.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/LocalDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/ReleasedDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/SnapshotDistributionResolver.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/build.gradle
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/test/resources/system_key
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/AbstractXpackFullClusterRestartTestCase.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlConfigIndexMappingsFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlHiddenIndicesFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/WatcherMappingUpdateIT.java
  x-pack/qa/full-cluster-restart/src/test/resources/org/elasticsearch/xpack/restart/funny-timeout-watch.json
  x-pack/qa/full-cluster-restart/src/test/resources/org/elasticsearch/xpack/restart/logging-watch.json
  x-pack/qa/full-cluster-restart/src/test/resources/org/elasticsearch/xpack/restart/simple-watch.json
  x-pack/qa/full-cluster-restart/src/test/resources/org/elasticsearch/xpack/restart/throttle-period-watch.json
  x-pack/qa/full-cluster-restart/src/test/resources/system_key
Labels: >test, :Delivery/Build, Team:Delivery, v8.7.0

#93304 [ML] improve frequent_items performance by using global ordinals
  docs/changelog/93304.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/EclatMapReducer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetsAggregationBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetsAggregatorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/TransactionStore.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/AbstractItemSetMapReducer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/InternalItemSetMapReduceAggregation.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/ItemSetMapReduceAggregator.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/ItemSetMapReduceValueSource.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/EclatMapReducerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetsAggregationBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetsAggregatorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/InternalItemSetMapReduceAggregationTests.java
Labels: >enhancement, :ml, Team:ML, v8.7.0

#93397 Re-enabling monitoring bulk yaml tests
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/monitoring/bulk/10_basic.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/monitoring/bulk/20_privileges.yml
Labels: >test, :Data Management/Monitoring, Team:Data Management, v8.7.0

#93072 Fixed the doc URL for rest API update trained model deployment
  rest-api-spec/src/main/resources/rest-api-spec/api/ml.update_trained_model_deployment.json
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport-and-merge, v8.7.0, v8.6.2

#93416 [ML] Increase timeout in MlTrainedModelsUpgradeIT
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlTrainedModelsUpgradeIT.java
Labels: >test, :ml, Team:ML, auto-backport-and-merge, v8.7.0, v8.6.2

#93350 [TEST] Fix servercli tests for FIPS mode
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/ServerCliTests.java
Labels: :Core/Infra/Core, >test-failure, Team:Core/Infra, v8.7.0

#93419 Fix exception thrown inside inboundhandler test
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
Labels: >test, :Core/Infra/Transport API, Team:Core/Infra, v8.7.0

#93400 Fix unexpected in-flight requests log message
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.7.0

#93417 Do not refresh all indices in TransportBulkAction
  docs/changelog/93417.yaml
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
Labels: >bug, :Distributed/CRUD, Team:Distributed, v8.7.0

#93394 Fix thirdPartyAudit tasks when running with Java 20
  libs/plugin-analysis-api/build.gradle
  server/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.7.0, v8.6.2

#93423 [8.6] Fix thirdPartyAudit tasks when running with Java 20 (#93394)
  libs/plugin-analysis-api/build.gradle
  server/build.gradle
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.6.2

#91722 Consolidate google-oauth-client to latest version
  build-tools-internal/version.properties
  docs/changelog/91722.yaml
  gradle/verification-metadata.xml
  modules/repository-gcs/build.gradle
  plugins/discovery-gce/build.gradle
Labels: >upgrade, :Distributed/Discovery-Plugins, Team:Distributed, auto-backport-and-merge, v8.7.0, v8.6.2, v7.17.10

#93331 Add new query_vector_builder option to knn search clause
  docs/changelog/93331.yaml
  docs/reference/search/search.asciidoc
  server/src/main/java/org/elasticsearch/plugins/SearchPlugin.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/vectors/KnnSearchBuilder.java
  server/src/main/java/org/elasticsearch/search/vectors/QueryVectorBuilder.java
  server/src/test/java/org/elasticsearch/search/vectors/AbstractQueryVectorBuilderTestCase.java
  server/src/test/java/org/elasticsearch/search/vectors/KnnSearchBuilderTests.java
  server/src/test/java/org/elasticsearch/search/vectors/QueryVectorBuilderTests.java
  server/src/test/java/org/elasticsearch/search/vectors/TestQueryVectorBuilderPlugin.java
Labels: >enhancement, :Search/Search, Team:Search, v8.7.0

#93247 Add `term` query support to rank_features mapped field
  docs/changelog/93247.yaml
  docs/reference/mapping/types/rank-features.asciidoc
  modules/mapper-extras/src/internalClusterTest/java/org/elasticsearch/index/mapper/RankFeaturesMapperIntegrationIT.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/RankFeaturesFieldMapper.java
Labels: >enhancement, :Search/Search, Team:Search, v8.7.0

#93422 Convert full cluster restart tests to new rest testing framework
  build-tools-internal/src/main/groovy/elasticsearch.bwc-test.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalTestArtifactExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  qa/full-cluster-restart/build.gradle
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartTestOrdering.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartUpgradeStatus.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/ParameterizedFullClusterRestartTestCase.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/ClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/WaitForHttpResource.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/LocalDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/ReleasedDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/SnapshotDistributionResolver.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/build.gradle
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/javaRestTest/resources/system_key
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/AbstractXpackFullClusterRestartTestCase.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlConfigIndexMappingsFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlHiddenIndicesFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/WatcherMappingUpdateIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/funny-timeout-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/logging-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/simple-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/throttle-period-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/system_key
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
Labels: >test, :Delivery/Build, Team:Delivery, test-windows, test-full-bwc, auto-backport-and-merge, v8.7.0, v8.6.2, v7.17.10

#93434 [8.6] [ML] Increase timeout in MlTrainedModelsUpgradeIT (#93416)
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MlTrainedModelsUpgradeIT.java
Labels: backport, auto-merge, v8.6.2

#93430 [8.6] Convert full cluster restart tests to new rest testing framework (#93422)
  build-tools-internal/src/main/groovy/elasticsearch.bwc-test.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  qa/full-cluster-restart/build.gradle
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartTestOrdering.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartUpgradeStatus.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/ParameterizedFullClusterRestartTestCase.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/ClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/WaitForHttpResource.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/LocalDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/ReleasedDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/SnapshotDistributionResolver.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/build.gradle
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/javaRestTest/resources/system_key
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/AbstractXpackFullClusterRestartTestCase.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlConfigIndexMappingsFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlHiddenIndicesFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/WatcherMappingUpdateIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/funny-timeout-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/logging-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/simple-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/throttle-period-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/system_key
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
Labels: backport, auto-merge, test-full-bwc, v8.6.2

#93334 Support configuring SSL separately for remote access port
  server/src/internalClusterTest/java/org/elasticsearch/transport/RemoteClusterPortSettingsIT.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLService.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SslSettingsLoaderTests.java
  x-pack/plugin/security/qa/multi-cluster/build.gradle
  x-pack/plugin/security/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecuritySmokeIT.java
  x-pack/plugin/security/qa/multi-cluster/src/test/resources/ssl/README.asciidoc
  x-pack/plugin/security/qa/multi-cluster/src/test/resources/ssl/remote-cluster-ca.crt
  x-pack/plugin/security/qa/multi-cluster/src/test/resources/ssl/remote-cluster-ca.key
  x-pack/plugin/security/qa/multi-cluster/src/test/resources/ssl/remote_cluster.crt
  x-pack/plugin/security/qa/multi-cluster/src/test/resources/ssl/remote_cluster.key
  x-pack/plugin/security/qa/multi-cluster/src/test/resources/ssl/transport-ca.crt
  x-pack/plugin/security/qa/multi-cluster/src/test/resources/ssl/transport-ca.key
  x-pack/plugin/security/qa/multi-cluster/src/test/resources/ssl/transport.crt
  x-pack/plugin/security/qa/multi-cluster/src/test/resources/ssl/transport.key
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/core/security/transport/ProfileConfigurations.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/core/security/transport/netty4/SecurityNetty4Transport.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/SecurityUsageTransportAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/ServerTransportFilter.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/core/security/transport/ProfileConfigurationsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityInfoTransportActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLErrorMessageFileTests.java
  x-pack/qa/multi-cluster-search-security/legacy-with-restricted-trust/src/test/java/org/elasticsearch/xpack/remotecluster/LegacyRemoteClusterSecuritySmokeIT.java
Labels: >non-issue, :Security/TLS, Team:Security, auto-merge, test-release, v8.7.0

#93380 Enforce synthetic source for time series indices
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/20_mapping.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/80_index_resize.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/fieldcaps/FieldCapabilitiesIT.java
  server/src/main/java/org/elasticsearch/index/IndexMode.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  server/src/test/java/org/elasticsearch/index/query/SearchExecutionContextTests.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/mapper-unsigned-long/src/test/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapperTests.java
  x-pack/plugin/mapper-unsigned-long/src/yamlRestTest/resources/rest-api-spec/test/70_time_series.yml
  x-pack/plugin/rollup/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/rollup/10_basic.yml
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/downsample/DownsampleActionSingleNodeTests.java
Labels: >non-issue, Team:Analytics, :Analytics/TSDB, v8.7.0

#93421 [ML] rename frequent_items to frequent_item_sets and make it GA
  docs/changelog/93421.yaml
  docs/reference/aggregations/bucket.asciidoc
  docs/reference/aggregations/bucket/frequent-item-sets-aggregation.asciidoc
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/EclatMapReducer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetsAggregationBuilder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/FrequentItemSetsAggregationBuilderTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/frequent_item_sets_agg.yml
Labels: >feature, release highlight, :ml, Team:ML, v8.7.0

#93446 Fix PrioritizedThrottledTaskRunnerTests
  server/src/test/java/org/elasticsearch/common/util/concurrent/PrioritizedThrottledTaskRunnerTests.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, v8.7.0

#93444 Revert "Convert full cluster restart tests to new rest testing framework"
  build-tools-internal/src/main/groovy/elasticsearch.bwc-test.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalTestArtifactExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  qa/full-cluster-restart/build.gradle
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartTestOrdering.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartUpgradeStatus.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/ParameterizedFullClusterRestartTestCase.java
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/test/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/ClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/WaitForHttpResource.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/LocalDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/ReleasedDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/SnapshotDistributionResolver.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/build.gradle
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/test/resources/system_key
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/AbstractXpackFullClusterRestartTestCase.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlConfigIndexMappingsFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlHiddenIndicesFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/WatcherMappingUpdateIT.java
  x-pack/qa/full-cluster-restart/src/test/resources/org/elasticsearch/xpack/restart/funny-timeout-watch.json
  x-pack/qa/full-cluster-restart/src/test/resources/org/elasticsearch/xpack/restart/logging-watch.json
  x-pack/qa/full-cluster-restart/src/test/resources/org/elasticsearch/xpack/restart/simple-watch.json
  x-pack/qa/full-cluster-restart/src/test/resources/org/elasticsearch/xpack/restart/throttle-period-watch.json
  x-pack/qa/full-cluster-restart/src/test/resources/system_key
Labels: >test, :Delivery/Build, Team:Delivery, v8.7.0

#93435 Misc improvements to TBbNA tests
  server/src/test/java/org/elasticsearch/action/support/broadcast/node/TransportBroadcastByNodeActionTests.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.7.0

#93431 Fix context leak in list tasks API
  docs/changelog/93431.yaml
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/tasks/ListTasksIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/list/TransportListTasksAction.java
Labels: >bug, :Distributed/Task Management, Team:Distributed, v8.7.0

#93452 Remove MonitoringWithWatcherRestIT.testThatLocalExporterAddsWatches
  x-pack/plugin/watcher/qa/with-monitoring/src/javaRestTest/java/org/elasticsearch/smoketest/MonitoringWithWatcherRestIT.java
Labels: >test, :Data Management/Watcher, Team:Data Management, v8.7.0

#93454 More investigation into 93271
  qa/rolling-upgrade/build.gradle
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/SnapshotBasedRecoveryIT.java
Labels: >test, :Distributed/Allocation, Team:Distributed, auto-merge, v8.7.0

#93153 [doc] (minor) _ingest/geoip/stats returns stats.databases_count
  docs/reference/ingest/apis/geoip-stats-api.asciidoc
Labels: >docs, Team:Docs, external-contributor, v7.17.10

#93456 Remove extra logging from PrioritizedThrottledTaskRunnerTests
  server/src/test/java/org/elasticsearch/common/util/concurrent/PrioritizedThrottledTaskRunnerTests.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.7.0

#93309 Minor cleanups FrozenIndexInput
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/cache/common/CacheFile.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/FrozenIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/MetadataCachingIndexInput.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.7.0

#93450 Make password long enough for FIPS mode
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/ServerCliTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, Team:Security, :Security/FIPS, v8.7.0

#93464 [DOCS] Remove coming tag from 7.17.9 release notes
  docs/reference/release-notes/7.17.9.asciidoc
Labels: >docs, Team:Docs, external-contributor, v7.17.9, v7.17.10

#93465 Even more logging for #93226
  server/src/internalClusterTest/java/org/elasticsearch/plugins/IndexFoldersDeletionListenerIT.java
Labels: >test, :Distributed/Store, Team:Distributed, v8.7.0

#93459 [7.17] Requiring the presence of the geoip fixture to run GeoIpDownloaderStats.testStats() (#91662)
  modules/ingest-geoip/src/internalClusterTest/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderStatsIT.java
Labels: backport, v7.17.10

#93466 Describe delete-snapshot tasks
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/RepositoriesIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/delete/DeleteSnapshotRequest.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, Supportability, v8.7.0

#93458 Capture thread dump on ShardLockObtainFailedException
  docs/reference/modules/discovery/fault-detection.asciidoc
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.json
  server/src/test/java/org/elasticsearch/env/NodeEnvironmentTests.java
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, auto-merge, Supportability, v8.7.0

#93471 Avoiding a NullPointerException in GeoIpDownloaderIT
  modules/ingest-geoip/src/internalClusterTest/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderIT.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v8.7.0

#93433 Faster CollectionUtils.ensureNoSelfReferences
  server/src/main/java/org/elasticsearch/common/util/CollectionUtils.java
  server/src/test/java/org/elasticsearch/common/util/CollectionUtilsTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/BaseXContentTestCase.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.7.0

#92948 [Transform] Transform `_schedule_now` API
  docs/changelog/92948.yaml
  docs/reference/transform/api-quickref.asciidoc
  docs/reference/transform/apis/index.asciidoc
  docs/reference/transform/apis/schedule-now-transform.asciidoc
  docs/reference/transform/apis/transform-apis.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/transform.schedule_now_transform.json
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/ScheduleNowTransformAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/ScheduleNowTransformActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/ScheduleNowTransformActionResponseTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/transforms_start_stop.yml
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformRestTestCase.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformScheduleNowIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportScheduleNowTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/rest/action/RestScheduleNowTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/scheduling/TransformScheduler.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/rest/action/RestScheduleNowTransformActionTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/scheduling/TransformSchedulerTests.java
Labels: >feature, :ml/Transform, Team:ML, v8.7.0

#93475 [DOCS] Adds size parameter details to aggregating data for faster performance page
  docs/reference/ml/anomaly-detection/ml-configuring-aggregations.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.7.0, v8.5.4, v8.6.2

#93479 Expose a couple of primitive stream wrappers over the underlying test random instance.
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.7.0

#93481 [8.5] [DOCS] Adds size parameter details to aggregating data for faster performance page (#93475)
  docs/reference/ml/anomaly-detection/ml-configuring-aggregations.asciidoc
Labels: backport, v8.5.4

#93480 [8.6] [DOCS] Adds size parameter details to aggregating data for faster performance page (#93475)
  docs/reference/ml/anomaly-detection/ml-configuring-aggregations.asciidoc
Labels: backport, v8.6.2

#93285 Make GeoIpProcessor backing database instance pluggable.
  docs/changelog/93285.yaml
  modules/ingest-geoip/src/internalClusterTest/java/org/elasticsearch/ingest/geoip/ReloadingDatabasesWhilePerformingGeoLookupsIT.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/DatabaseNodeService.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/DatabaseReaderLazyLoader.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpDatabase.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpDatabaseProvider.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/IngestGeoIpPlugin.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/DatabaseNodeServiceTests.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorTests.java
Labels: >enhancement, :Data Management/Ingest Node, Team:Data Management, v8.7.0

#93477 Convert full cluster restart tests to new rest testing framework
  build-tools-internal/src/main/groovy/elasticsearch.bwc-test.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalTestArtifactExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  qa/full-cluster-restart/build.gradle
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartTestOrdering.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartUpgradeStatus.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/ParameterizedFullClusterRestartTestCase.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/ClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/WaitForHttpResource.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/LocalDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/ReleasedDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/SnapshotDistributionResolver.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/build.gradle
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/javaRestTest/resources/system_key
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/AbstractXpackFullClusterRestartTestCase.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlConfigIndexMappingsFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlHiddenIndicesFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/WatcherMappingUpdateIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/funny-timeout-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/logging-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/simple-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/throttle-period-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/system_key
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
Labels: >test, :Delivery/Build, Team:Delivery, test-windows, test-full-bwc, v8.7.0

#93482 Fix test cluster security setup on Windows
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/ProcessUtils.java
Labels: >test, :Delivery/Build, Team:Delivery, test-windows, auto-backport-and-merge, v8.7.0, v8.6.2

#93432 [7.17] Convert full cluster restart tests to new rest testing framework (#93422)
  build-tools-internal/src/main/groovy/elasticsearch.bwc-test.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/Version.java
  qa/full-cluster-restart/build.gradle
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartSettingsUpgradeIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartTestOrdering.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartUpgradeStatus.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/ParameterizedFullClusterRestartTestCase.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
  qa/repository-multi-version/build.gradle
  qa/verify-version-constants/build.gradle
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/ClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultEnvironmentProvider.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultSettingsProvider.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/WaitForHttpResource.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/LocalDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/ReleasedDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/SnapshotDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/model/User.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/ProcessUtils.java
  x-pack/plugin/sql/qa/jdbc/build.gradle
  x-pack/qa/full-cluster-restart/build.gradle
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/AbstractXpackFullClusterRestartTestCase.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartSettingsUpgradeIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlConfigIndexMappingsFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlMigrationFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/WatcherMappingUpdateIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/funny-timeout-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/logging-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/simple-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/org/elasticsearch/xpack/restart/throttle-period-watch.json
  x-pack/qa/full-cluster-restart/src/javaRestTest/resources/system_key
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/CoreFullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartSettingsUpgradeIT.java
  x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/QueryBuilderBWCIT.java
Labels: backport, auto-merge, test-full-bwc, v7.17.10

#93485 [8.6] Fix test cluster security setup on Windows (#93482)
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/ProcessUtils.java
Labels: >test, :Delivery/Build, backport, Team:Delivery, test-windows, auto-merge, v8.6.2

#93445 Support downsampling of histogram as labels
  docs/changelog/93445.yaml
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/rollup/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/rollup/10_basic.yml
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/FieldValueFetcher.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/downsample/LabelFieldProducer.java
Labels: >bug, :Analytics/Rollup, Team:Analytics, v8.7.0

#93283 Improve the false positive rate of the bloom filter by setting 7 hash functions
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/index/codec/PerFieldMapperCodec.java
  server/src/main/java/org/elasticsearch/index/codec/bloomfilter/ES85BloomFilterPostingsFormat.java
  server/src/main/java/org/elasticsearch/index/codec/bloomfilter/ES87BloomFilterPostingsFormat.java
  server/src/main/resources/META-INF/services/org.apache.lucene.codecs.PostingsFormat
  server/src/test/java/org/elasticsearch/index/codec/bloomfilter/ES85BloomFilterPostingsFormatTests.java
  server/src/test/java/org/elasticsearch/index/codec/bloomfilter/ES85BloomFilterRWPostingsFormat.java
  server/src/test/java/org/elasticsearch/index/codec/bloomfilter/ES87BloomFilterPostingsFormatTests.java
Labels: >enhancement, :Search/Search, Team:Search, v8.7.0

#92657 Use cert-pinning in test cluster wait-for-health
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/SslTrustResolver.java
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/WaitForHttpResource.java
  build-tools/src/test/groovy/org/elasticsearch/gradle/testclusters/SslTrustResolverSpec.groovy
  build-tools/src/test/groovy/org/elasticsearch/gradle/testclusters/WaitForHttpResourceSpec.groovy
  build-tools/src/test/resources/issuing.p12
  build-tools/src/test/resources/issuing.pem
  build-tools/src/test/resources/server.chain
  build-tools/src/test/resources/server.p12
Labels: >test, :Delivery/Build, :Security/TLS, Team:Security, Team:Delivery, v8.7.0

#93362 Use passed-in configuration for SslChannelInitializer
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/core/security/transport/netty4/SecurityNetty4Transport.java
Labels: >non-issue, :Security/TLS, Team:Security, v8.7.0

#93472 [DOCS] Remove excessive white space from the landing page
  docs/reference/index-custom-title-page.html
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.7.0, v8.6.2

#93473 Allow to disable addMockFSIndexStore test plugin
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
Labels: >test, :Distributed/Store, Team:Distributed, auto-backport-and-merge, v8.7.0, v8.6.2

#93469 More detailed logging for snapshot-based recovery
  server/src/main/java/org/elasticsearch/indices/recovery/plan/ShardSnapshotsService.java
  server/src/main/java/org/elasticsearch/repositories/IndexSnapshotsService.java
  x-pack/plugin/snapshot-based-recoveries/src/main/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/plan/SnapshotsRecoveryPlannerService.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, Supportability, v8.7.0

#93498 [8.6] [DOCS] Remove excessive white space from the landing page (#93472)
  docs/reference/index-custom-title-page.html
Labels: >docs, backport, Team:Docs, auto-merge, v8.6.2

#93499 [8.6] Allow to disable addMockFSIndexStore test plugin (#93473)
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
Labels: >test, :Distributed/Store, backport, Team:Distributed, auto-merge, v8.6.2

#93461 Fallback to the actual shard size when forecast is not available
  docs/changelog/93461.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ExpectedShardSizeAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocatorTests.java
Labels: >bug, :Distributed/Allocation, Team:Distributed, v8.7.0

#93436 Extract ThrottledTaskRunner
  server/src/main/java/org/elasticsearch/common/util/concurrent/AbstractThrottledTaskRunner.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/PrioritizedThrottledTaskRunner.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/ThrottledTaskRunner.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/AbstractThrottledTaskRunnerTests.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/PrioritizedThrottledTaskRunnerTests.java
  test/framework/src/main/java/org/elasticsearch/common/util/concurrent/CyclicBarrierUtils.java
Labels: :Distributed/Distributed, >refactoring, Team:Distributed, v8.7.0

#93491 Nicer buffer handling
  libs/core/src/main/java/org/elasticsearch/core/Streams.java
  modules/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureBlobContainerRetriesTests.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStore.java
  modules/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobContainerRetriesTests.java
  modules/repository-url/src/main/java/org/elasticsearch/common/blobstore/url/http/URLHttpClient.java
  plugins/repository-hdfs/src/test/java/org/elasticsearch/repositories/hdfs/HdfsBlobStoreContainerTests.java
  server/src/main/java/org/elasticsearch/common/compress/DeflateCompressor.java
  server/src/main/java/org/elasticsearch/common/io/Streams.java
  server/src/main/java/org/elasticsearch/common/io/stream/InputStreamStreamInput.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/ChecksumBlobStoreFormat.java
  server/src/test/java/org/elasticsearch/snapshots/BlobStoreFormatTests.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESBlobStoreRepositoryIntegTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/crypto/CryptoService.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/CachedBlobContainerIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/DirectBlobContainerIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/FrozenIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/MetadataCachingIndexInput.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.7.0

#93492 [ML] Remove semantic_search endpoint
  rest-api-spec/src/main/resources/rest-api-spec/api/semantic_search.json
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/SemanticSearchAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/SemanticSearchActionKnnQueryOptionsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/SemanticSearchActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilegeTests.java
  x-pack/plugin/ml/qa/ml-with-security/build.gradle
  x-pack/plugin/ml/qa/ml-with-security/roles.yml
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/SemanticSearchIT.java
  x-pack/plugin/ml/qa/semantic-search-tests/build.gradle
  x-pack/plugin/ml/qa/semantic-search-tests/roles.yml
  x-pack/plugin/ml/qa/semantic-search-tests/src/yamlRestTest/java/org/elasticsearch/smoketest/AbstractSemanticSearchPermissionsIT.java
  x-pack/plugin/ml/qa/semantic-search-tests/src/yamlRestTest/java/org/elasticsearch/smoketest/SemanticSearchNoReadPermissionsIT.java
  x-pack/plugin/ml/qa/semantic-search-tests/src/yamlRestTest/java/org/elasticsearch/smoketest/SemanticSearchReadPermissionsIT.java
  x-pack/plugin/ml/qa/semantic-search-tests/src/yamlRestTest/resources/rest-api-spec/test/semantic_search/10_basic.yml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportSemanticSearchAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/inference/RestSemanticSearchAction.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/semantic_search.yml
Labels: >non-issue, :ml, Team:ML, v8.7.0

#93500 [DOCS] Removes semantic search reference docs
  docs/reference/ml/trained-models/apis/ml-trained-models-apis.asciidoc
  docs/reference/search.asciidoc
  docs/reference/search/semantic-search.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.7.0

#89047 Remove shortcutTotalHitCount optimization
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/main/java/org/elasticsearch/search/query/TopDocsCollectorContext.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseTests.java
  server/src/test/java/org/elasticsearch/search/query/TopDocsCollectorContextTests.java
Labels: :Search/Search, >refactoring, Team:Search, v8.7.0

#93505 AbstractThrottledTaskRunnerTests needs all-core threads
  server/src/test/java/org/elasticsearch/common/util/concurrent/AbstractThrottledTaskRunnerTests.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.7.0

#93506 Decrease queue capacity in EnrichResiliencyTests for resiliency
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichResiliencyTests.java
Labels: >test, :Data Management/Ingest Node, Team:Data Management, auto-merge, v8.7.0

#93497 Expose forecasted and actual disk usage per tier and node
  docs/reference/cluster/get-desired-balance.asciidoc
  qa/smoke-test-multinode/src/yamlRestTest/resources/rest-api-spec/test/smoke_test_multinode/30_desired_balance.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.desired_balance/10_basic.yml
  server/src/main/java/org/elasticsearch/action/admin/cluster/allocation/TransportGetDesiredBalanceAction.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/ClusterBalanceStats.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/DesiredBalanceResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/TransportGetDesiredBalanceActionTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/ClusterBalanceStatsTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.7.0

#93513 More logging for testSnapshotBasedRecovery
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/SnapshotBasedRecoveryIT.java
Labels: >test, :Distributed/Allocation, Team:Distributed, auto-merge, v8.7.0

#93370 Support geo-grid ingest processor
  docs/changelog/93370.yaml
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/SpatialPlugin.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/ingest/GeoGridProcessor.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/ingest/GeoGridProcessorFactoryTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/ingest/GeoGridProcessorTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/spatial/100_geo_grid_ingest.yml
Labels: >feature, release highlight, :Analytics/Geo, Team:Analytics, v8.7.0

#93509 Unmute testThatLoadingWithNonExistingIndexWorks
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/SingleNodeTests.java
Labels: >test, :Data Management/Watcher, Team:Data Management, v8.7.0

#93523 [CI] Mute MlHiddenIndicesFullClusterRestartIT.testMlIndicesBecomeHidden
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlHiddenIndicesFullClusterRestartIT.java
Labels: :ml, >test-mute, Team:ML, auto-backport-and-merge, v8.6.0, v8.7.0

#93526 [8.6] [CI] Mute MlHiddenIndicesFullClusterRestartIT.testMlIndicesBecomeHidden (#93523)
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MlHiddenIndicesFullClusterRestartIT.java
Labels: :ml, backport, >test-mute, Team:ML, auto-merge, v8.6.2

#93507 Geo_grid ingest processor docs
  docs/reference/images/spatial/geogrid_h3.png
  docs/reference/images/spatial/geogrid_h3_child.png
  docs/reference/images/spatial/geogrid_h3_children.png
  docs/reference/images/spatial/geogrid_tile.png
  docs/reference/images/spatial/geogrid_tile_child.png
  docs/reference/ingest/processors.asciidoc
  docs/reference/ingest/processors/circle.asciidoc
  docs/reference/ingest/processors/geo-grid.asciidoc
Labels: >docs, :Analytics/Geo, Team:Docs, Team:Analytics, v8.7.0

#93328 Document datehistogram with long offsets
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
Labels: >docs, :Analytics/Aggregations, Team:Docs, Team:Analytics, auto-backport-and-merge, v8.7.0, v8.6.2

#93375 TransportGetTaskAction: Wait for the task asynchronously
  docs/changelog/93375.yaml
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/tasks/ListTasksIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/get/TransportGetTaskAction.java
  server/src/main/java/org/elasticsearch/tasks/TaskManager.java
  test/framework/src/main/java/org/elasticsearch/test/tasks/MockTaskManager.java
Labels: >enhancement, :Distributed/Task Management, Team:Distributed, v8.7.0

#93527 [8.6] Document datehistogram with long offsets (#93328)
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
Labels: >docs, :Analytics/Aggregations, backport, Team:Docs, Team:Analytics, auto-merge, v8.6.2

#93483 Add a new test of the current behavior for ingest pipeline names and types
  server/src/internalClusterTest/java/org/elasticsearch/ingest/IngestStatsNamesAndTypesIT.java
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v8.7.0

#93514 More useful toString on UpdateSettingsTask
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsClusterStateUpdateRequest.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v8.7.0

#93392 Provide locally mounted secure settings implementation.
  docs/changelog/93392.yaml
  server/src/main/java/org/elasticsearch/common/settings/LocallyMountedSecrets.java
  server/src/main/java/org/elasticsearch/reservedstate/service/ReservedStateVersion.java
  server/src/test/java/org/elasticsearch/common/settings/LocallyMountedSecretsTests.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, v8.7.0

#93528 QL: Replace field type
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/type/EsField.java
Labels: >non-issue, :Query Languages/SQL, Team:QL, auto-merge, v8.7.0

#93426 Add ability for Watcher's webhook actions to send additional header
  docs/changelog/93426.yaml
  server/src/main/resources/org/elasticsearch/bootstrap/test-framework.policy
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookTokenIntegrationTests.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/common/http/HttpRequest.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/NotificationService.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/WebhookService.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/LocalStateWatcher.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/test/TimeWarpedWatcher.java
Labels: >enhancement, :Data Management/Watcher, Team:Data Management, cloud-deploy, v8.7.0

#93409 Ensure QC client connection use remote cluster SSL configuration
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/SimpleNetty4TransportTests.java
  server/src/main/java/org/elasticsearch/transport/ConnectionProfile.java
  server/src/main/java/org/elasticsearch/transport/RemoteConnectionStrategy.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
  server/src/test/java/org/elasticsearch/transport/ConnectionProfileTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteConnectionStrategyTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/SSLService.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SslSettingsLoaderTests.java
  x-pack/plugin/security/qa/multi-cluster/build.gradle
  x-pack/plugin/security/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecuritySmokeIT.java
  x-pack/plugin/security/qa/security-trial/build.gradle
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/remoteaccess/RemoteAccessHeadersForCcsRestIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/core/security/transport/netty4/SecurityNetty4Transport.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SimpleSecurityNetty4ServerTransportTests.java
Labels: >non-issue, :Security/TLS, Team:Security, auto-merge, v8.7.0

#93486 Avoid copying test cluster distributions when possible
  build-tools-internal/src/main/groovy/elasticsearch.runtime-jdk-provision.gradle
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/DefaultDistributionDescriptor.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/IOUtils.java
Labels: >test, :Delivery/Build, v6.8.6, Team:Delivery, test-full-bwc, auto-backport-and-merge, v8.7.0

#93535 Investigate integration test failures on Windows
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/ProcessUtils.java
Labels: >test, :Delivery/Build, Team:Delivery, test-windows, v8.7.0

#93538 [8.6] Avoid copying test cluster distributions when possible (#93486)
  build-tools-internal/src/main/groovy/elasticsearch.runtime-jdk-provision.gradle
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/DefaultDistributionDescriptor.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/IOUtils.java
Labels: backport, auto-merge, v8.6.2

#93496 Add size parameter to time_series aggregation
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/timeseries/InternalTimeSeries.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/timeseries/TimeSeriesAggregationBuilder.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/timeseries/TimeSeriesAggregationFactory.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/timeseries/TimeSeriesAggregator.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/timeseries/TimeSeriesAggregationBuilderTests.java
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/timeseries/TimeSeriesAggregatorTests.java
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/time_series.yml
Labels: >non-issue, Team:Analytics, :Analytics/TSDB, v8.7.0

#93517 Skip testCreateSplitIndexToN on Windows
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/SplitIndexIT.java
Labels: >test, :Distributed/Store, Team:Distributed, v8.7.0

#93543 Disable recovery monitor before recovery start
  docs/changelog/93543.yaml
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveriesCollection.java
Labels: >bug, :Distributed/Recovery, Team:Distributed, v8.7.0

#93511 Add ShardRouting to DirectoryFactory interface
  server/src/main/java/org/elasticsearch/index/IndexModule.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/plugins/IndexStorePlugin.java
  server/src/test/java/org/elasticsearch/index/IndexModuleTests.java
Labels: >non-issue, :Distributed/Store, Team:Distributed, v8.7.0

#93551 Disable recovery monitor before recovery start
  docs/changelog/93551.yaml
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveriesCollection.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
Labels: >bug, :Distributed/Recovery, Team:Distributed, v8.7.0

#93522 Upgrade geoip2 dependency
  gradle/verification-metadata.xml
  modules/ingest-geoip/build.gradle
  modules/ingest-geoip/src/main/java/module-info.java
  server/src/main/java/module-info.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v8.7.0

#93386 Adjust number of replicas in YAML REST tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.health/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.blocks/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.open/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.open/20_multiple_indices.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.sort/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mlt/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mlt/20_docs.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mlt/30_unlike.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/msearch/20_typed_keys.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/range/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/scroll/12_slices.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.highlight/20_fvh.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.highlight/50_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/40_knn_search.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/45_knn_search_byte.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/60_knn_search_filter_alias.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/70_dense_vector_telemetry.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/240_date_nanos.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/250_distance_feature.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/380_sort_segments_on_timestamp.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/400_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/suggest/40_typed_keys.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/05_dimension_and_metric_in_non_tsdb_index.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/15_timestamp_mapping.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/25_id_generation.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/90_unsupported_operations.yml
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
Labels: >test, :Search/Search, Team:Search, v8.7.0

#93437 Clean up & streamline RestIndicesAction
  server/src/main/java/org/elasticsearch/action/admin/indices/stats/IndicesStatsRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/RefCountingListener.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestIndicesAction.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestIndicesActionTests.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, auto-merge, v8.7.0

#93556 Revert muting of FileWatcherTests
  server/src/test/java/org/elasticsearch/watcher/FileWatcherTests.java
Labels: >test, :Data Management/Watcher, Team:Data Management, v8.7.0

#93558 Revert muting of 140_data_stream_aliases on yamlRestTestV7CompatTest
  x-pack/plugin/build.gradle
Labels: >test, :Data Management/Data streams, Team:Data Management, v8.7.0

#93559 Get stackframes and executables more concurrently
  docs/changelog/93559.yaml
  x-pack/plugin/profiler/src/main/java/org/elasticsearch/xpack/profiler/TransportGetProfilingAction.java
Labels: >enhancement, :Search/Search, Team:Search, v8.7.0

#93438 Align all usages of Jackson to be 2.14.2
  build-tools-internal/version.properties
  docs/changelog/93438.yaml
  gradle/build.versions.toml
  gradle/verification-metadata.xml
  modules/ingest-geoip/build.gradle
Labels: :Core/Infra/Core, >upgrade, Team:Core/Infra, v8.7.0

#93561 Fix illegal progress update in FrozenIndexInput
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/cache/shared/NodesCachesStatsIntegTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/FrozenIndexInput.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.7.0

#93531 [ML] Text Embedding search
  docs/changelog/93531.yaml
  server/src/main/java/org/elasticsearch/search/vectors/KnnSearchBuilder.java
  server/src/test/java/org/elasticsearch/search/vectors/QueryVectorBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryVectorBuilderTestCase.java
  x-pack/plugin/ml/qa/ml-with-security/src/yamlRestTest/java/org/elasticsearch/smoketest/MlWithSecurityInsufficientRoleIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/PyTorchModelRestTestCase.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/SemanticSearchIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/TextEmbeddingQueryIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/vectors/TextEmbeddingQueryVectorBuilder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/vectors/TextEmbeddingQueryVectorBuilderTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/text_embedding_search.yml
Labels: >enhancement, :Search/Search, :ml, Team:Search, Team:ML, v8.7.0

#93562 Fix bug when clipping geometry collections in vector tiles
  docs/changelog/93562.yaml
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactory.java
  x-pack/plugin/vector-tile/src/test/java/org/elasticsearch/xpack/vectortile/feature/FeatureFactoryTests.java
Labels: >bug, :Analytics/Geo, Team:Analytics, v8.7.0

#93563 Avoid running full BWC test matrix when running "check" task
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/InternalJavaRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/InternalYamlRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
Labels: >test, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.7.0, v8.6.2, v7.17.10

#92951 Redact Ingest Processor
  docs/changelog/92951.yaml
  docs/reference/ingest/processors.asciidoc
  docs/reference/ingest/processors/redact.asciidoc
  libs/grok/src/main/java/org/elasticsearch/grok/Grok.java
  modules/ingest-common/src/main/java/module-info.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/IngestCommonPlugin.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/RedactProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/RedactProcessorFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/RedactProcessorTests.java
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/300_redact_processor.yml
Labels: >feature, >docs, :Data Management/Ingest Node, Team:Data Management, Team:Docs, cloud-deploy, v8.7.0

#93566 [ML] Wait for _infer to work after restart in full cluster restart tests
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
Labels: >test, :ml, Team:ML, auto-merge, test-full-bwc, v8.6.2

#93568 [8.6] Avoid running full BWC test matrix when running "check" task (#93563)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/InternalJavaRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/InternalYamlRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
Labels: >test, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.6.2

#93569 [7.17] Avoid running full BWC test matrix when running "check" task (#93563)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/InternalJavaRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/InternalYamlRestTestPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
Labels: >test, :Delivery/Build, backport, Team:Delivery, auto-merge, v7.17.10

#93567 Adding release notes for JsonProcessor change
  build-tools-internal/src/main/resources/changelog-schema.json
  docs/changelog/93179.yaml
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v8.7.0

#93533 Better names and types for ingest stats
  docs/changelog/93533.yaml
  server/src/internalClusterTest/java/org/elasticsearch/ingest/IngestStatsNamesAndTypesIT.java
  server/src/main/java/org/elasticsearch/ingest/ConfigurationUtils.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/ingest/OnFailureProcessor.java
  server/src/test/java/org/elasticsearch/ingest/OnFailureProcessorTests.java
  server/src/test/java/org/elasticsearch/ingest/PipelineFactoryTests.java
Labels: >bug, :Data Management/Ingest Node, Team:Data Management, v8.7.0

#93546 Release time series aggegations as tech preview
  docs/changelog/93546.yaml
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/AggregationsPlugin.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/AnalyticsPlugin.java
Labels: >feature, release highlight, Team:Analytics, auto-merge, :Analytics/TSDB, test-release, v8.7.0

#93541 Document correct get thread pool size
  docs/reference/modules/threadpool.asciidoc
Labels: >docs, :Distributed/CRUD, :Search/Search, Team:Distributed, Team:Docs, Team:Search, v8.7.0

#93577 修正注释信息
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/transform/warnings/RemoveWarnings.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, external-contributor, v8.7.0

#93502 Health API fix the reporting of initializing shards
  docs/changelog/93502.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorServiceTests.java
Labels: >bug, Team:Data Management, auto-backport, :Data Management/Health, v8.7.0, v8.6.2

#93578 Improve recovery plan trace logging
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, auto-merge, v8.7.0

#93586 [8.6] Fix how the health API is reporting initializing shards (#93502)
  docs/changelog/93502.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityHealthIndicatorServiceTests.java
Labels: backport, :Data Management/Health, v8.6.2

#93588 Relax Assertion in MultiFileWriter
  server/src/main/java/org/elasticsearch/indices/recovery/MultiFileWriter.java
Labels: >non-issue, :Distributed/Store, Team:Distributed, v8.8.0

#93576 Sort segments on timestamp in read only engine
  docs/changelog/93576.yaml
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  x-pack/plugin/searchable-snapshots/qa/rest/build.gradle
  x-pack/plugin/searchable-snapshots/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/sort_segments_on_timestamp.yml
Labels: >enhancement, :Distributed/Engine, Team:Distributed, v8.7.0

#93579 Use a combined field to index terms and doc values on keyword fields.
  docs/changelog/93579.yaml
  modules/aggregations/src/test/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramAggregatorTests.java
  modules/parent-join/src/test/java/org/elasticsearch/join/aggregations/ParentToChildrenAggregatorTests.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/CompletionFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/CopyToMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordScriptMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MapperServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldMapperTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/nested/NestedAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/sampler/random/RandomSamplerAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/KeywordTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregatorTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/bucket/DateHistogramAggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregatorTestCase.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/RollupResponseTranslationTests.java
Labels: >enhancement, :Search/Mapping, Team:Search, v8.6.0, v8.7.0

#93592 Extract aligned write logic from searchable snapshots into blob cache module
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBytes.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/FrozenIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/MetadataCachingIndexInput.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.8.0

#93519 [DOCS] Modifies schedule now transform API docs
  docs/reference/transform/api-quickref.asciidoc
  docs/reference/transform/apis/index.asciidoc
  docs/reference/transform/apis/schedule-now-transform.asciidoc
  docs/reference/transform/apis/transform-apis.asciidoc
Labels: >docs, :ml/Transform, Team:Docs, Team:ML, v8.7.0

#93601 Avoid copying test cluster distributions when possible (#93486)
  build-tools-internal/src/main/groovy/elasticsearch.runtime-jdk-provision.gradle
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/DefaultDistributionDescriptor.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/IOUtils.java
Labels: backport, auto-merge, v7.17.10

#93570 Use shorter paths for test cluster working directories to avoid issues on Windows
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/ProcessUtils.java
Labels: >test, :Delivery/Build, Team:Delivery, test-windows, auto-backport-and-merge, v8.7.0, v8.6.2, v7.17.10, v8.8.0

#93602 [8.7] Use shorter paths for test cluster working directories to avoid issues on Windows (#93570)
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/ProcessUtils.java
Labels: >test, :Delivery/Build, backport, Team:Delivery, test-windows, auto-merge, v8.7.1

#93603 [8.6] Use shorter paths for test cluster working directories to avoid issues on Windows (#93570)
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalElasticsearchCluster.java
Labels: >test, :Delivery/Build, backport, Team:Delivery, test-windows, auto-merge, v8.6.2

#93604 Remove 8.7 release highlights link to fix docs build
  docs/reference/migration/migrate_8_8.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.8.0

#93609 [7.17] Use shorter paths for test cluster working directories to avoid issues on Windows (#93570)
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalElasticsearchCluster.java
Labels: backport, auto-merge, v7.17.10

#93606 [Doc] Clarify how manage_own_api_key works for invalidateApiKey API
  x-pack/docs/en/rest-api/security/invalidate-api-keys.asciidoc
Labels: >docs, :Security/Authorization, Team:Docs, Team:Security, auto-merge, auto-backport-and-merge, v8.7.0, v8.8.0

#93610 [8.7] [Doc] Clarify how manage_own_api_key works for invalidateApiKey API (#93606)
  x-pack/docs/en/rest-api/security/invalidate-api-keys.asciidoc
Labels: >docs, :Security/Authorization, backport, Team:Docs, Team:Security, auto-merge, v8.7.1

#93595 Use mmap for temporary files.
  docs/changelog/93595.yaml
  server/src/main/java/org/elasticsearch/index/store/FsDirectoryFactory.java
  server/src/main/java/org/elasticsearch/index/store/LuceneFilesExtensions.java
  server/src/test/java/org/elasticsearch/index/store/FsDirectoryFactoryTests.java
Labels: >enhancement, :Distributed/Engine, Team:Distributed, v8.8.0

#93618 Mute test testWatcherWithApiKey
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Data Management/Watcher, >test-mute, Team:Data Management, auto-merge, auto-backport-and-merge, v7.17.9, v8.6.2, v8.7.1, v8.8.0

#93619 Mute testBuildRoleForListOfRoleReferences
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/RoleReferenceIntersectionTests.java
Labels: :Core/Infra/Core, >test-mute, Team:Core/Infra, auto-merge, auto-backport-and-merge, v8.7.1, v8.8.0

#93623 Mute Index Sort
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.sort/10_basic.yml
Labels: :Search/Search, >test-mute, Team:Search, auto-merge, v8.7.1, v8.8.0

#93620 [7.17] Mute test testWatcherWithApiKey (#93618)
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Data Management/Watcher, backport, >test-mute, Team:Data Management, auto-merge, v7.17.10

#93622 [8.7] Mute test testWatcherWithApiKey (#93618)
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: :Data Management/Watcher, backport, >test-mute, Team:Data Management, auto-merge, v8.7.1

#93624 [8.7] Mute testBuildRoleForListOfRoleReferences (#93619)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/RoleReferenceIntersectionTests.java
Labels: :Core/Infra/Core, backport, >test-mute, Team:Core/Infra, auto-merge, v8.7.1

#93628 Mute test
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.sort/10_basic.yml
Labels: :Search/Search, >test-mute, Team:Search, auto-merge, v7.17.10

#93617 Fix desired balance spec
  qa/smoke-test-multinode/src/yamlRestTest/resources/rest-api-spec/test/smoke_test_multinode/30_desired_balance.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.desired_balance/10_basic.yml
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.8.0

#93634 Mute testDeploymentSurvivesRestart
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
Labels: :ml, >test-mute, Team:ML, auto-merge, auto-backport-and-merge, v8.7.1, v8.8.0

#93636 Mute test
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/380_sort_segments_on_timestamp.yml
Labels: :Search/Search, >test-mute, Team:Search, auto-merge, auto-backport-and-merge, v8.7.1, v8.8.0

#93640 [8.7] Mute test (#93636)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/380_sort_segments_on_timestamp.yml
Labels: :Search/Search, backport, >test-mute, Team:Search, auto-merge, v8.7.1

#93639 [8.7] Mute testDeploymentSurvivesRestart (#93634)
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
Labels: :ml, backport, >test-mute, Team:ML, auto-merge, v8.7.1

#93641 [ML] Make assertBusy() really wait in full cluster restart tests
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
Labels: >test, :ml, Team:ML, auto-backport-and-merge, v8.7.0, v8.6.2, v8.8.0

#93643 [8.6] Skip testCreateSplitIndexToN on Windows (#93517)
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/SplitIndexIT.java
Labels: >test, :Distributed/Store, Team:Distributed, auto-merge, auto-backport-and-merge, v7.17.9, v8.6.2

#93646 [8.6] [ML] Make assertBusy() really wait in full cluster restart tests (#93641)
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/MLModelDeploymentFullClusterRestartIT.java
Labels: >test, :ml, backport, Team:ML, auto-merge, v8.6.2
