Repository elastic/elasticsearch, pull requests merged in 2024-10, with the labels that each got.

#113739 Fix needless use of concurrent collector managers
  modules/parent-join/src/main/java/org/elasticsearch/join/query/ParentChildInnerHitContextBuilder.java
  server/src/main/java/org/elasticsearch/index/query/NestedQueryBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/BestDocsDeferringCollector.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperator.java
Labels: >non-issue, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#113759 Reapply "synthetic source index setting provider should check source field mapper"
  x-pack/plugin/logsdb/qa/with-basic/src/javaRestTest/java/org/elasticsearch/xpack/logsdb/LogsdbRestIT.java
  x-pack/plugin/logsdb/src/javaRestTest/java/org/elasticsearch/xpack/logsdb/LogsdbRestIT.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsDBPlugin.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/SyntheticSourceIndexSettingsProvider.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/SyntheticSourceLicenseService.java
  x-pack/plugin/logsdb/src/test/java/org/elasticsearch/xpack/logsdb/SyntheticSourceIndexSettingsProviderTests.java
Labels: >non-issue, test-full-bwc, Team:StorageEngine, :StorageEngine/Logs, v9.0.0

#113758 Fix `testWatchdogLogging`
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
Labels: >test, :Distributed/Network, Team:Distributed, auto-merge, auto-backport-and-merge, v8.16.0, v9.0.0

#113816 Avoid using concurrent collector manager in LuceneChangesSnapshot
  docs/changelog/113816.yaml
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
Labels: >enhancement, auto-backport-and-merge, Team:Search Foundations, v8.16.0, :Search Foundations/Search, v9.0.0

#113129 Fix needsScore computation in GlobalOrdCardinalityAggregator
  docs/changelog/113129.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/NestedIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GlobalOrdCardinalityAggregator.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, auto-backport-and-merge, v8.16.0, v9.0.0, v8.15.3

#113788 Add test to show snapshot doesn't block shard close/fail
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, auto-backport-and-merge, v8.16.0, v9.0.0

#113830 [8.x] Fix `testWatchdogLogging` (#113758)
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
Labels: >test, :Distributed/Network, backport, Team:Distributed, auto-merge, v8.16.0

#113817 Add JIT compiler directives to workaround performance regression in memory segment access in JDK 23
  distribution/src/config/jvm.options
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.16.0, v9.0.0

#113807 Remove `assertAcked()` from `updateMinMasterNodes()`
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, v7.17.25

#113833 [8.15] Fix needsScore computation in GlobalOrdCardinalityAggregator (#113129)
  docs/changelog/113129.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/NestedIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GlobalOrdCardinalityAggregator.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, auto-merge, v8.15.3

#113831 [8.x] Avoid using concurrent collector manager in LuceneChangesSnapshot (#113816)
  docs/changelog/113816.yaml
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
Labels: >enhancement, backport, auto-merge, Team:Search Foundations, :Search Foundations/Search

#113828 [8.x] Reapply "synthetic source index setting provider should check source field mapper"
  x-pack/plugin/logsdb/qa/with-basic/src/javaRestTest/java/org/elasticsearch/xpack/logsdb/LogsdbRestIT.java
  x-pack/plugin/logsdb/src/javaRestTest/java/org/elasticsearch/xpack/logsdb/LogsdbRestIT.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsDBPlugin.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/SyntheticSourceIndexSettingsProvider.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/SyntheticSourceLicenseService.java
  x-pack/plugin/logsdb/src/test/java/org/elasticsearch/xpack/logsdb/SyntheticSourceIndexSettingsProviderTests.java
Labels: >non-issue, backport, :StorageEngine/Logs, v8.16.0

#113832 [8.x] Fix needsScore computation in GlobalOrdCardinalityAggregator (#113129)
  docs/changelog/113129.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/NestedIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GlobalOrdCardinalityAggregator.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, auto-merge, v8.16.0

#113697 [ML] Handle parsing ingest processors where definition is not a object
  docs/changelog/113697.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/InferenceProcessorInfoExtractor.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/InferenceProcessorInfoExtractorTests.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.16.0, v9.0.0, v8.15.3

#113834 [8.x] Add test to show snapshot doesn't block shard close/fail (#113788)
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: >test, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.16.0

#113614 Make "german2" an alias for "german" snowball stemmer
  docs/changelog/113614.yaml
  docs/reference/analysis/tokenfilters/stemmer-tokenfilter.asciidoc
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/StemmerTokenFilterFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/StemmerTokenFilterFactoryTests.java
Labels: >breaking, :Search Relevance/Analysis, Team:Search Relevance, v9.0.0

#113767 Tighten up ref counting on recovery target
  server/src/main/java/org/elasticsearch/indices/recovery/MultiFileWriter.java
  server/src/main/java/org/elasticsearch/indices/recovery/PeerRecoveryTargetService.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
  server/src/test/java/org/elasticsearch/indices/recovery/MultiFileWriterTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoveryStatusTests.java
  server/src/test/java/org/elasticsearch/recovery/RecoveriesCollectionTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, auto-backport-and-merge, v8.16.0, v9.0.0

#113837 [8.15] [ML] Handle parsing ingest processors where the definition is not a object (#113697)
  docs/changelog/113697.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/InferenceProcessorInfoExtractor.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/InferenceProcessorInfoExtractorTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.15.3

#113836 [8.x] [ML] Handle parsing ingest processors where the definition is not a object (#113697)
  docs/changelog/113697.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/InferenceProcessorInfoExtractor.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/InferenceProcessorInfoExtractorTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.16.0

#112054 Add yaml test for transforms with synthetic mode
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/preview_transforms_synthetic_source.yml
Labels: >test, auto-merge, auto-backport-and-merge, Team:StorageEngine, :StorageEngine/Logs, v8.16.0, v9.0.0

#113845 [DOCS] Documents completion task type for the AlibabaCloud AI Search inference service
  docs/reference/inference/put-inference.asciidoc
  docs/reference/inference/service-alibabacloud-ai-search.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport-and-merge, v8.16.0, v9.0.0

#113679 Updates 'Getting ready for production' page
  docs/reference/intro.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.15.0, v8.16.0, v9.0.0

#113849 [8.x] [plugin/otel-data] Add dynamic template for summary with min, max (#113791)
  x-pack/plugin/otel-data/src/main/resources/component-templates/metrics-otel@mappings.yaml
Labels: backport, auto-merge, v8.16.0

#113851 [8.x] [DOCS] Documents completion task type for the AlibabaCloud AI Searc inference service. (#113845)
  docs/reference/inference/put-inference.asciidoc
  docs/reference/inference/service-alibabacloud-ai-search.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge, v8.16.0

#113667 Misc `ReferenceDocs` improvements
  docs/reference/setup/bootstrap-checks-xes.asciidoc
  docs/reference/setup/bootstrap-checks.asciidoc
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.json
  server/src/test/java/org/elasticsearch/common/ReferenceDocsTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, Supportability, v8.16.0, v9.0.0

#113566 Adjust the knn tuning guide
  docs/reference/how-to/knn-search.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, Team:Search Relevance, v8.16.0, :Search Relevance/Search, v9.0.0, v8.15.3

#113787 Explicitly use ISO weekfields for weekyear date formats
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateFormat.java
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.16.0

#113865 [8.15] Adjust the knn tuning guide (#113566)
  docs/reference/how-to/knn-search.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, Team:Search Relevance, :Search Relevance/Search, v8.15.3

#113862 [8.x] Add yaml test for transforms with synthetic mode
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/preview_transforms_synthetic_source.yml
Labels: >test, backport, auto-merge, Team:StorageEngine, :StorageEngine/Logs, v8.16.0

#112932 (Doc+) Hotspotting link example troubleshooting video
  docs/reference/troubleshooting/common-issues/hotspotting.asciidoc
Labels: >enhancement, >docs, Team:Docs, auto-backport-and-merge, Supportability, v8.15.0, v8.16.0

#113861 [8.x] Misc `ReferenceDocs` improvements (#113667)
  docs/reference/setup/bootstrap-checks-xes.asciidoc
  docs/reference/setup/bootstrap-checks.asciidoc
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.json
  server/src/test/java/org/elasticsearch/common/ReferenceDocsTests.java
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge, Supportability, v8.16.0

#113688 [8.x] Add assertWarnings capabilities to base token stream test case (#113619)
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/ASCIIFoldingTokenFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/BaseWordDelimiterTokenFilterFactoryTestCase.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CJKFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CharGroupTokenizerFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/CommonGramsTokenFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/ESSolrSynonymParserTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/ESWordnetSynonymParserTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/EdgeNGramTokenFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/EdgeNGramTokenizerTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/FingerprintAnalyzerTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/FlattenGraphTokenFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/KeepFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/KeepTypesFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/KeywordMarkerFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/LimitTokenCountFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/MinHashFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/MultiplexerTokenFilterTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/NGramTokenFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/NGramTokenizerFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/PathHierarchyTokenizerFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/PatternAnalyzerTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/PatternCaptureTokenFilterTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/PatternReplaceTokenFilterTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/PredicateTokenScriptFilterTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/RemoveDuplicatesFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/ScriptedConditionTokenFilterTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/SnowballAnalyzerTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/StemmerOverrideTokenFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/StemmerTokenFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/StopAnalyzerTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/TrimTokenFilterTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/WordDelimiterGraphTokenFilterFactoryTests.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/WordDelimiterTokenFilterFactoryTests.java
  plugins/analysis-nori/src/test/java/org/elasticsearch/plugin/analysis/nori/NoriAnalysisTests.java
  server/src/test/java/org/elasticsearch/index/analysis/CustomNormalizerTests.java
  server/src/test/java/org/elasticsearch/index/analysis/ShingleTokenFilterFactoryTests.java
  server/src/test/java/org/elasticsearch/index/analysis/StopTokenFilterTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTokenStreamTestCase.java
Labels: >test, :Search/Search, backport, Team:Search, auto-merge, v8.16.0

#113588 Add asset criticality indices for kibana_system_user
  docs/changelog/113588.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >enhancement, :Security/Security, Team:Security, external-contributor, v8.16.0, v9.0.0

#113780 [8.15] Add some information on locale database to the ES docs (#113587)
  docs/reference/ingest/processors/date.asciidoc
  docs/reference/mapping/params/format.asciidoc
  docs/reference/mapping/types/date.asciidoc
  docs/reference/setup/install.asciidoc
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/java/org/elasticsearch/common/time/DateUtils.java
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.json
Labels: >docs, :Core/Infra/Core, backport, v8.15.3

#113749 [ML] Move code specific to the Elasticsearch in cluster services to those sevices
  muted-tests.yml
  server/src/main/java/org/elasticsearch/inference/InferenceService.java
  server/src/main/java/org/elasticsearch/inference/InferenceServiceExtension.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceBaseRestTest.java
  x-pack/plugin/inference/qa/test-service-plugin/src/main/java/org/elasticsearch/xpack/inference/mock/TestDenseInferenceServiceExtension.java
  x-pack/plugin/inference/qa/test-service-plugin/src/main/java/org/elasticsearch/xpack/inference/mock/TestRerankingServiceExtension.java
  x-pack/plugin/inference/qa/test-service-plugin/src/main/java/org/elasticsearch/xpack/inference/mock/TestSparseInferenceServiceExtension.java
  x-pack/plugin/inference/qa/test-service-plugin/src/main/java/org/elasticsearch/xpack/inference/mock/TestStreamingCompletionServiceExtension.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/ModelRegistryIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportPutInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/alibabacloudsearch/AlibabaCloudSearchService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/amazonbedrock/AmazonBedrockService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/anthropic/AnthropicService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/azureaistudio/AzureAiStudioService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/azureopenai/AzureOpenAiService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/cohere/CohereService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/BaseElasticsearchInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googlevertexai/GoogleVertexAiService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceBaseService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/ibmwatsonx/IbmWatsonxService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/mistral/MistralService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/SenderServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/alibabacloudsearch/AlibabaCloudSearchServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/amazonbedrock/AmazonBedrockServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/anthropic/AnthropicServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/azureaistudio/AzureAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/azureopenai/AzureOpenAiServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/CohereServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googlevertexai/GoogleVertexAiServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/ibmwatsonx/IbmWatsonxServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/mistral/MistralServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/OpenAiServiceTests.java
Labels: >refactoring, :ml, Team:ML, auto-backport-and-merge, v8.16.0, v9.0.0

#113468 Make xpack.otel_data.registry.enabled default to true
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/AbstractDataStreamIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/LogsIndexModeCustomSettingsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/build.gradle
  x-pack/plugin/otel-data/src/main/java/org/elasticsearch/xpack/oteldata/OTelPlugin.java
  x-pack/plugin/otel-data/src/yamlRestTest/java/org/elasticsearch/xpack/oteldata/OTelYamlTestSuiteIT.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, auto-backport-and-merge, v8.16.0, v9.0.0

#113871 [8.x] Make xpack.otel_data.registry.enabled default to true (#113468)
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/AbstractDataStreamIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/LogsIndexModeCustomSettingsIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/build.gradle
  x-pack/plugin/otel-data/src/main/java/org/elasticsearch/xpack/oteldata/OTelPlugin.java
  x-pack/plugin/otel-data/src/yamlRestTest/java/org/elasticsearch/xpack/oteldata/OTelYamlTestSuiteIT.java
Labels: >non-issue, backport, :Data Management/Data streams, Team:Data Management, external-contributor, auto-merge, v8.16.0

#113852 Reinstate support for `GET _cluster/stats?timeout=...`
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.stats/10_basic.yml
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterStatsAction.java
Labels: >non-issue, auto-backport-and-merge, Team:Search Foundations, v8.16.0, :Search Foundations/CCS, v9.0.0

#113824 Fix test: create enough nodes to make cluster always be able to go green
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsRemoteIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CCSUsageTelemetryIT.java
Labels: >non-issue, >test, auto-backport-and-merge, Team:Search Foundations, v8.16.0, :Search Foundations/Search, v9.0.0

#113872 Updated Date Range to Follow Documentation When Assuming Missing Values 8x
  docs/reference/mapping/types/range.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/range/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/range/20_synthetic_source.yml
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeType.java
  server/src/test/java/org/elasticsearch/index/mapper/DateRangeFieldMapperTests.java
Labels: >bug, backport, auto-merge, v8.16.0, v8.15.3

#113777 ES|QL: pin 'now' as query start time
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/Configuration.java
Labels: >non-issue, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0, v9.0.0

#113815 [8.x] Deprecate dutch_kp and lovins stemmer as they are removed in Lucene 10 (#113143)
  docs/changelog/113143.yaml
  docs/reference/analysis/tokenfilters/snowball-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/stemmer-tokenfilter.asciidoc
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/StemmerTokenFilterFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/StemmerTokenFilterFactoryTests.java
Labels: :Search Relevance/Analysis, >deprecation, backport, auto-merge, Team:Search Relevance, v8.16.0

#113607 Add more dense_vector details for cluster stats field stats
  docs/changelog/113607.yaml
  docs/reference/cluster/stats.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/70_dense_vector_telemetry.yml
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/DenseVectorFieldStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/MappingStats.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterStatsAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/MappingStatsTests.java
Labels: >enhancement, auto-merge, auto-backport-and-merge, Team:Search Relevance, v8.16.0, :Search Relevance/Search, v9.0.0

#113877 [8.15] Updates Getting ready for production (#113679)
  docs/reference/intro.asciidoc
Labels: backport, auto-merge, v8.15.3

#113868 x-pack/plugin/otel-data: Fix dynamic template summary and summary_minmax
  x-pack/plugin/otel-data/src/main/resources/component-templates/metrics-otel@mappings.yaml
  x-pack/plugin/otel-data/src/main/resources/resources.yaml
  x-pack/plugin/otel-data/src/yamlRestTest/resources/rest-api-spec/test/20_metrics_tests.yml
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, auto-merge, auto-backport-and-merge, v8.16.0, v9.0.0

#113876 [8.x] Updates Getting ready for production page (#113679)
  docs/reference/intro.asciidoc
Labels: backport, auto-merge, v8.16.0

#113387 Add CircuitBreaker to TDigest, Step 3: Connect with CB
  docs/changelog/113387.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AbstractTDigestPercentilesAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/EmptyTDigestState.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalMedianAbsoluteDeviation.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalTDigestPercentileRanks.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MemoryTrackingTDigestArrays.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TDigestState.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalMedianAbsoluteDeviationTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalTDigestPercentilesRanksTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalTDigestPercentilesTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/TDigestStateTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/metrics/AbstractHistoBackedTDigestPercentilesAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedTDigestPercentilesAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/InternalBoxplot.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/AnalyticsTestsUtils.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistogramPercentileAggregationTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/boxplot/InternalBoxplotTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesTDigestAggregatorTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/datatiers/DataTiersUsageTransportAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/datatiers/DataTiersUsageTransportActionTests.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationDoubleAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationDoubleGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationFloatAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationFloatGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationIntAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationIntGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationLongAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationLongGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileDoubleAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileDoubleGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileFloatAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileFloatGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileIntAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileIntGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileLongAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileLongGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationDoubleAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationFloatAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationIntAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationLongAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/PercentileDoubleAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/PercentileFloatAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/PercentileIntAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/PercentileLongAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/QuantileStates.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileDoubleGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileFloatGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileIntGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileLongGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/MedianAbsoluteDeviationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/MedianTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/PercentileTests.java
Labels: >enhancement, Team:Analytics, auto-merge, auto-backport, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0, v9.0.0

#113623 Adding chunking settings to MistralService, GoogleAiStudioService, and HuggingFaceService
  docs/changelog/113623.yaml
  server/src/main/java/org/elasticsearch/inference/ModelConfigurations.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/embeddings/GoogleAiStudioEmbeddingsModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceBaseService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/embeddings/HuggingFaceEmbeddingsModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/mistral/MistralService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/mistral/embeddings/MistralEmbeddingsModel.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/embeddings/GoogleAiStudioEmbeddingsModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceBaseServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/embeddings/HuggingFaceEmbeddingsModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/mistral/MistralServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/mistral/embeddings/MistralEmbeddingModelTests.java
Labels: >enhancement, :ml, Team:ML, auto-backport-and-merge, v8.16.0, v9.0.0

#113878 [8.x] Reinstate support for `GET _cluster/stats?timeout=...` (#113852)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.stats/10_basic.yml
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterStatsAction.java
Labels: >non-issue, backport, auto-merge, Team:Search Foundations, v8.16.0, :Search Foundations/CCS

#113882 Updated Date Range to Follow Documentation When Assuming Missing Values 815
  docs/reference/mapping/types/range.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/range/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/range/20_synthetic_source.yml
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeType.java
  server/src/test/java/org/elasticsearch/index/mapper/DateRangeFieldMapperTests.java
Labels: >bug, backport, auto-merge, v8.15.3

#113881 [8.x] Fix test: create enough nodes to make cluster always be able to go green (#113824)
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsRemoteIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CCSUsageTelemetryIT.java
Labels: >test, backport, auto-merge, v8.16.0, :Search Foundations/Search

#113885 [8.x] Add CircuitBreaker to TDigest, Step 3: Connect with CB (#113387)
  docs/changelog/113387.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AbstractTDigestPercentilesAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/EmptyTDigestState.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalMedianAbsoluteDeviation.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalTDigestPercentileRanks.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MemoryTrackingTDigestArrays.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TDigestState.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalMedianAbsoluteDeviationTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalTDigestPercentilesRanksTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/InternalTDigestPercentilesTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/TDigestStateTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/metrics/AbstractHistoBackedTDigestPercentilesAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedTDigestPercentilesAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/BoxplotAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/boxplot/InternalBoxplot.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/AnalyticsTestsUtils.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistogramPercentileAggregationTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/boxplot/InternalBoxplotTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesTDigestAggregatorTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/datatiers/DataTiersUsageTransportAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/datatiers/DataTiersUsageTransportActionTests.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationDoubleAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationDoubleGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationFloatAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationFloatGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationIntAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationIntGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationLongAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationLongGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileDoubleAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileDoubleGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileFloatAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileFloatGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileIntAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileIntGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileLongAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/generated/org/elasticsearch/compute/aggregation/PercentileLongGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationDoubleAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationFloatAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationIntAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationLongAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/PercentileDoubleAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/PercentileFloatAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/PercentileIntAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/PercentileLongAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/QuantileStates.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileDoubleGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileFloatGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileIntGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileLongGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/MedianAbsoluteDeviationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/MedianTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/PercentileTests.java
Labels: >enhancement, backport, Team:Analytics, auto-merge, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0

#113888 [github] actions should only run for the elastic repo
  .github/workflows/docs-preview-links.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/sync-main-to-jdk-branch.yml
  .github/workflows/updatecli-compose.yml
Labels: >non-issue, Team:Delivery, :Delivery/Tooling, v9.0.0

#113890 Removing unnecessary platfromArchitectures from InferenceService tests
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/mistral/MistralServiceTests.java
Labels: >non-issue, :ml, Team:ML, v8.16.0, v9.0.0

#113896 [CI] Remove centos-7 testing since it is EOL
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/pull-request/packaging-tests-unix.yml
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.16.0, v7.17.25, v9.0.0, v8.15.3

#113726 [ML] Refactor Apache streaming
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/StreamingHttpResultPublisher.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/ResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/RetryingHttpSender.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/StreamingResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiChatCompletionResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/amazonbedrock/completion/AmazonBedrockChatCompletionResponseListener.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/amazonbedrock/embeddings/AmazonBedrockEmbeddingsResponseListener.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/StreamingHttpResultPublisherTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/retry/RetryingHttpSenderTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/retry/StreamingResponseHandlerTests.java
Labels: >refactoring, :ml, Team:ML, auto-backport-and-merge, v8.16.0, v9.0.0

#113636 [otel-plugin] Add aliases for spanevent/logrecord exceptions
  x-pack/plugin/otel-data/src/main/resources/component-templates/logs-otel@mappings.yaml
  x-pack/plugin/otel-data/src/main/resources/component-templates/semconv-resource-to-ecs@mappings.yaml
  x-pack/plugin/otel-data/src/main/resources/resources.yaml
  x-pack/plugin/otel-data/src/yamlRestTest/resources/rest-api-spec/test/20_logs_tests.yml
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, external-contributor, auto-backport-and-merge, v8.16.0, v9.0.0

#113883 Fix up test after backport of #113852
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.stats/10_basic.yml
Labels: >non-issue, auto-merge, auto-backport-and-merge, Team:Search Foundations, v8.16.0, :Search Foundations/CCS, v9.0.0

#113839 Update elastic-connectors docker namespace to integrations
  docs/reference/connector/docs/_connectors-docker-instructions.asciidoc
  docs/reference/connector/docs/connectors-API-tutorial.asciidoc
  docs/reference/connector/docs/connectors-content-extraction.asciidoc
  docs/reference/connector/docs/connectors-run-from-docker.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.16.0, v9.0.0

#113922 [8.x] [DOCS] Fix typo in knn tuning guide (#113880)
  docs/reference/how-to/knn-search.asciidoc
Labels: backport, auto-merge, v8.16.0

#113923 [8.15] [DOCS] Fix typo in knn tuning guide (#113880)
  docs/reference/how-to/knn-search.asciidoc
Labels: backport, v8.15.3

#113848 [DOCS] Update local dev instructions to use `start-local`
  README.asciidoc
  docs/reference/run-elasticsearch-locally.asciidoc
Labels: >docs, Team:Docs, auto-merge, auto-backport-and-merge, v8.16.0, v9.0.0

#113266 [M] Fix error message formatting
  docs/changelog/113266.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/ExceptionsHelper.java
Labels: >bug, :ml, Team:ML, v6.8.16, auto-backport-and-merge, v9.0.0, v8.15.3

#113630 Dispatch `TransportSingleShardAction` response handling
  modules/kibana/src/internalClusterTest/java/org/elasticsearch/kibana/KibanaThreadPoolIT.java
  server/src/internalClusterTest/java/org/elasticsearch/get/GetActionIT.java
  server/src/main/java/org/elasticsearch/action/support/single/shard/TransportSingleShardAction.java
Labels: >test, :Distributed/CRUD, Team:Distributed, auto-merge, auto-backport-and-merge, v8.16.0, v9.0.0

#113761 Mark `AbstractRefCounted#mustIncRef` as `final`
  libs/core/src/main/java/org/elasticsearch/core/AbstractRefCounted.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, auto-backport-and-merge, v8.16.0, v9.0.0

#113929 [8.15] [M] Fix error message formatting (#113266)
  docs/changelog/113266.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/ExceptionsHelper.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.15.3

#113870 Update 9.0 with various locale changes from 8.x
  docs/reference/mapping/params/format.asciidoc
  docs/reference/mapping/types/date.asciidoc
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateFormat.java
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
Labels: >docs, :Core/Infra/Core, >refactoring, Team:Core/Infra, Team:Docs, v9.0.0

#113919 Remove `onItemCompletion` param from `ThrottledIterator`
  server/src/internalClusterTest/java/org/elasticsearch/rest/ChunkedZipResponseIT.java
  server/src/internalClusterTest/java/org/elasticsearch/rest/StreamingXContentResponseIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/TransportIndicesShardStoresAction.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/ThrottledIterator.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/ThrottledIteratorTests.java
  x-pack/plugin/snapshot-repo-test-kit/src/main/java/org/elasticsearch/repositories/blobstore/testkit/analyze/RepositoryAnalyzeAction.java
  x-pack/plugin/snapshot-repo-test-kit/src/main/java/org/elasticsearch/repositories/blobstore/testkit/integrity/RepositoryIntegrityVerifier.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, auto-backport-and-merge, v8.16.0, v9.0.0

#113934 Fix MemoryTracking...ArraysTests bulkSet errors
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/MemoryTrackingTDigestArraysTests.java
Labels: >test, Team:Analytics, auto-merge, auto-backport, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0, v9.0.0

#113482 Conditional stemming for 'persian' analyzer
  docs/changelog/113482.yaml
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/PersianAnalyzerProvider.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/PersianAnalyzerProviderTests.java
  modules/analysis-common/src/yamlRestTest/resources/rest-api-spec/test/analysis-common/20_analyzers.yml
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
Labels: >enhancement, >breaking, :Search Relevance/Analysis, >upgrade, Team:Search Relevance, v9.0.0

#113898 [Inference API] Fix bug in elser parsing when no model id in request
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceTests.java
Labels: >non-issue, :ml, Team:ML, auto-backport-and-merge, v8.16.0, v9.0.0

#113866 Migrate `ReferenceDocs` resource to plain text
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.json
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.txt
  server/src/test/java/org/elasticsearch/common/ReferenceDocsTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, Supportability, v8.16.0, v9.0.0

#113928 [8.x] [DOCS] Update local dev instructions to use `start-local` (#113848)
  README.asciidoc
  docs/reference/run-elasticsearch-locally.asciidoc
Labels: backport, auto-merge, v8.16.0

#113859 Increase number of replicas to enable searching in serverless
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/logsdb/10_settings.yml
Labels: >test, auto-backport-and-merge, Team:StorageEngine, :StorageEngine/Logs, v8.16.0, v9.0.0

#113887 [8.x] Fix block loader tests for token_count (#113718)
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/TokenCountFieldMapperTests.java
Labels: >test, backport, auto-merge, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0

#113956 Add jvm option to enable test features (#113108)
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  server/src/internalClusterTest/java/org/elasticsearch/features/ClusterFeaturesIT.java
  server/src/main/java/org/elasticsearch/features/FeatureData.java
  server/src/main/java/org/elasticsearch/features/FeatureInfrastructureFeatures.java
  server/src/main/java/org/elasticsearch/features/FeatureService.java
  server/src/main/java/org/elasticsearch/features/FeatureSpecification.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
Labels: >test, :Core/Infra/Core, backport, auto-merge, v8.15.3

#113912 Introduce watermarks for indexing pressure backoff
  modules/kibana/src/internalClusterTest/java/org/elasticsearch/kibana/KibanaThreadPoolIT.java
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/IndexingPressureRestIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/bulk/IncrementalBulkIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/IndexingPressureIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/seqno/RetentionLeaseSyncActionIT.java
  server/src/internalClusterTest/java/org/elasticsearch/monitor/metrics/NodeIndexingMetricsIT.java
  server/src/main/java/org/elasticsearch/action/bulk/IncrementalBulkService.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/index/IndexingPressure.java
  server/src/test/java/org/elasticsearch/index/IndexingPressureTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/persistence/LimitAwareBulkIndexer.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, v8.16.0, v9.0.0

#113959 [8.x] Remove special handling for objects and arrays with `dynamic` overrides (#113924)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/20_synthetic_source.yml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapperTests.java
Labels: >non-issue, backport, auto-merge, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0

#113965 Restore ClientYamlTestSuiteIT
  muted-tests.yml
Labels: >test, Team:StorageEngine, :StorageEngine/Mapping, v9.0.0

#113775 Minimize Automaton used in APMTracer
  modules/apm/src/main/java/org/elasticsearch/telemetry/apm/internal/tracing/APMTracer.java
Labels: >non-issue, Team:Core/Infra, :Core/Infra/Metrics, v9.0.0

#113906 Add bwc layer for 'romanian' analyzer
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/LegacyRomanianStemmer.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/RomanianAnalyzerProvider.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/RomanianAnalyzerTests.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
Labels: >enhancement, :Search Relevance/Analysis, >upgrade, Team:Search Relevance, v9.0.0

#113963 Updated Date Range to Follow Documentation When Assuming Missing Values - Feature Fix
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
Labels: backport, auto-merge, v8.15.3

#113558 [DOCS][101] Update first quick start with mappings examples
  docs/reference/mapping.asciidoc
  docs/reference/quickstart/getting-started.asciidoc
  docs/reference/quickstart/index.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.15.0, v8.16.0, v9.0.0

#113972 [8.x] [DOCS][101] Update first quick start with mappings examples (#113558)
  docs/reference/mapping.asciidoc
  docs/reference/quickstart/getting-started.asciidoc
  docs/reference/quickstart/index.asciidoc
Labels: backport, auto-merge, v8.16.0

#113901 Add GetAliases test case (followup from #113571)
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataTests.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, v9.0.0

#113971 Enable incremental_bulk by default
  server/src/main/java/org/elasticsearch/action/bulk/IncrementalBulkService.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, auto-merge, v9.0.0

#113953 Ensure that supported params are computed once
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/rest/RestGetDataStreamsAction.java
  server/src/main/java/org/elasticsearch/rest/BaseRestHandler.java
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterStatsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestNodesCapabilitiesAction.java
Labels: >non-issue, :Core/Infra/REST API, Team:Core/Infra, auto-backport-and-merge, v8.16.0, v9.0.0

#112081 [ES|QL] Validate index name in parser
  docs/changelog/112081.yaml
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/util/StringUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/IdentifierBuilder.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/AbstractStatementParserTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
Labels: >enhancement, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0, v9.0.0

#113976 Updated Date Range to Follow Documentation When Assuming Missing Values - Remove Vestigial Date Range Test
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/range/20_synthetic_source.yml
Labels: backport, auto-merge, v8.15.3

#113982 Revert Semantic Query Passage Ranking Documentation
  docs/reference/query-dsl/semantic-query.asciidoc
Labels: >non-issue, auto-backport-and-merge, :Search Relevance/Vectors, :SearchOrg/Relevance, v8.16.0, :Search Relevance/Search, v9.0.0

#113984 [8.x] Revert semantic query passage ranking documentation (#113982)
  docs/reference/query-dsl/semantic-query.asciidoc
Labels: >non-issue, backport, auto-merge, :Search Relevance/Vectors, :SearchOrg/Relevance, v8.16.0, :Search Relevance/Search

#113933 Assert that REST params are consumed iff supported
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/rest/RestGetDataStreamsAction.java
  server/src/main/java/org/elasticsearch/rest/BaseRestHandler.java
Labels: >test, :Core/Infra/REST API, Team:Core/Infra, auto-backport-and-merge, v8.16.0, v9.0.0

#113990 Restore 20_synthetic_source/object array in object with dynamic override
  muted-tests.yml
Labels: >test, auto-merge, Team:StorageEngine, :StorageEngine/Mapping, v9.0.0

#113974 [8.15] [DOCS] Update local dev instructions to use &#x60;start-local&#x60; (#113848)
  README.asciidoc
  docs/reference/run-elasticsearch-locally.asciidoc
Labels: backport, auto-merge, v8.15.3

#113996 Skip compat test in 8.x
  rest-api-spec/build.gradle
Labels: :Search Foundations/Mapping, >test-mute, auto-merge, Team:Search Foundations, v8.16.0

#112648 Rework RRF to be evaluated during rewrite phase
  docs/reference/search/rrf.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/search/retriever/RankDocRetrieverBuilderIT.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/common/lucene/Lucene.java
  server/src/main/java/org/elasticsearch/lucene/search/uhighlight/CustomUnifiedHighlighter.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/StoredFieldsContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/ExplainPhase.java
  server/src/main/java/org/elasticsearch/search/rank/RankDoc.java
  server/src/main/java/org/elasticsearch/search/rank/feature/RankFeatureDoc.java
  server/src/main/java/org/elasticsearch/search/retriever/CompoundRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/KnnRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/RankDocsRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/RetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/StandardRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/rankdoc/RankDocsQuery.java
  server/src/main/java/org/elasticsearch/search/retriever/rankdoc/RankDocsQueryBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/rankdoc/RankDocsSortBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/rankdoc/RankDocsSortField.java
  server/src/main/java/org/elasticsearch/search/sort/ShardDocSortField.java
  server/src/test/java/org/elasticsearch/action/search/SearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/rank/RankDocTests.java
  server/src/test/java/org/elasticsearch/search/retriever/KnnRetrieverBuilderParsingTests.java
  server/src/test/java/org/elasticsearch/search/retriever/RankDocsRetrieverBuilderTests.java
  server/src/test/java/org/elasticsearch/search/retriever/RetrieverBuilderErrorTests.java
  server/src/test/java/org/elasticsearch/search/retriever/rankdoc/RankDocsQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/retriever/rankdoc/RankDocsSortBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/search/retriever/TestCompoundRetrieverBuilder.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/rank/textsimilarity/TextSimilarityRankRetrieverBuilder.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/rank/textsimilarity/TextSimilarityRankRetrieverBuilderTests.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderIT.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderNestedDocsIT.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFFeatures.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFQueryPhaseRankCoordinatorContext.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFQueryPhaseRankShardContext.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRankDoc.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilder.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/rrf/RRFRankContextTests.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/rrf/RRFRankDocTests.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderParsingTests.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderTests.java
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/100_rank_rrf.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/150_rank_rrf_pagination.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/200_rank_rrf_script.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/300_rrf_retriever.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/350_rrf_retriever_pagination.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/400_rrf_retriever_script.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/500_rrf_retriever_explain.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/600_rrf_retriever_profile.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/700_rrf_retriever_search_api_compatibility.yml
Labels: >non-issue, :Search Relevance/Ranking, auto-backport, Team:Search Relevance, v8.16.0, v9.0.0

#113995 Revert date range change
  docs/reference/mapping/types/range.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/range/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/range/20_synthetic_source.yml
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeType.java
  server/src/test/java/org/elasticsearch/index/mapper/DateRangeFieldMapperTests.java
Labels: >test, :Search Foundations/Mapping, auto-merge, Team:Search Foundations, v8.15.3

#113844 More verbose logging in `IndicesSegmentsRestCancellationIT`
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/BlockedSearcherRestCancellationTestCase.java
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/IndicesSegmentsRestCancellationIT.java
Labels: >test, :Distributed/Engine, Team:Distributed, auto-merge, auto-backport-and-merge, v8.16.0, v9.0.0

#113768 Weaken `restoreFileFromSnapshot` assertion
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
Labels: >test, :Distributed/Recovery, Team:Distributed, auto-merge, auto-backport-and-merge, v8.16.0, v9.0.0

#113980 Ensure that supported params are computed once
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/rest/RestGetDataStreamsAction.java
  server/src/main/java/org/elasticsearch/rest/BaseRestHandler.java
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterStatsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestNodesCapabilitiesAction.java
Labels: >non-issue, :Core/Infra/REST API, backport, auto-merge, v8.16.0

#113940 Handle rejections in `IncrementalBulkIT`
  server/src/internalClusterTest/java/org/elasticsearch/action/bulk/IncrementalBulkIT.java
Labels: >test, :Distributed/Network, backport, auto-merge, v8.16.0

#113932 [8.x] Mark `AbstractRefCounted#mustIncRef` as `final` (#113761)
  libs/core/src/main/java/org/elasticsearch/core/AbstractRefCounted.java
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge, v8.16.0

#114011 Updated Date Range to Follow Documentation When Assuming Missing Values - Muting Test
  muted-tests.yml
Labels: backport, >test-mute, v8.16.0

#113973 [8.15] [DOCS][101] Update first quick start with mappings examples (#113558)
  docs/reference/mapping.asciidoc
  docs/reference/quickstart/getting-started.asciidoc
  docs/reference/quickstart/index.asciidoc
Labels: backport, auto-merge, v8.15.3

#113406 [8.x] Remove Analytical engine CODEOWNERS (#113178)
  .github/CODEOWNERS
Labels: >non-issue, backport, Team:Analytics, auto-merge, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0

#113931 Update tests to account for CLDR and JDK 23
  server/src/test/java/org/elasticsearch/common/joda/JavaJodaTimeDuellingTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
Labels: >test, :Core/Infra/Core, backport, Team:Core/Infra, v7.17.25

#113946 Remove obsolete tests in v9
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  server/src/internalClusterTest/java/org/elasticsearch/gateway/ReplicaShardAllocatorSyncIdIT.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/AutoFollowCoordinatorTests.java
  x-pack/plugin/snapshot-based-recoveries/src/test/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/plan/SnapshotsRecoveryPlannerServiceTests.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v9.0.0

#113889 [8.x] x-pack/plugin/otel-data: Fix dynamic template summary and summary_minmax (#113868)
  x-pack/plugin/otel-data/src/main/resources/component-templates/metrics-otel@mappings.yaml
  x-pack/plugin/otel-data/src/main/resources/resources.yaml
  x-pack/plugin/otel-data/src/yamlRestTest/resources/rest-api-spec/test/20_metrics_tests.yml
Labels: backport, auto-merge, v8.16.0

#113895 [ML] Check Search Inference ID Usage When Deleting An Inference Endpoint
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/SemanticTextInfoExtractor.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceBaseRestTest.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceCrudIT.java
Labels: >non-issue, :ml, Team:ML, auto-backport-and-merge, v8.16.0, v9.0.0

#113613 Add CircuitBreaker to TDigest, Step 4: Take into account shallow classes size
  benchmarks/src/main/java/org/elasticsearch/benchmark/tdigest/TDigestBench.java
  docs/changelog/113613.yaml
  libs/tdigest/build.gradle
  libs/tdigest/licenses/lucene-core-LICENSE.txt
  libs/tdigest/licenses/lucene-core-NOTICE.txt
  libs/tdigest/src/main/java/module-info.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/AVLGroupTree.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/AVLTreeDigest.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/HybridDigest.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/IntAVLTree.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/MergingDigest.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/SortingDigest.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/TDigest.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/arrays/TDigestArrays.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/arrays/TDigestByteArray.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/arrays/TDigestDoubleArray.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/arrays/TDigestIntArray.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/arrays/TDigestLongArray.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/AVLGroupTreeTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/AVLTreeDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/AlternativeMergeTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/BigCountTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/BigCountTestsMergingDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/BigCountTestsTreeDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/ComparisonTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/HybridDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/IntAVLTreeTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/MedianTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/MergingDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/SortTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/SortingDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/TDigestReleasingTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/TDigestTestCase.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/TDigestTests.java
  muted-tests.yml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalMedianAbsoluteDeviation.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MemoryTrackingTDigestArrays.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TDigestState.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/TDigestStateReleasingTests.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/QuantileStates.java
Labels: >enhancement, Team:Analytics, auto-merge, auto-backport, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0, v9.0.0

#113884 [8.x] Add more dense_vector details for cluster stats field stats (#113607)
  docs/changelog/113607.yaml
  docs/reference/cluster/stats.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/70_dense_vector_telemetry.yml
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/DenseVectorFieldStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/MappingStats.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterStatsAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/MappingStatsTests.java
Labels: >enhancement, backport, auto-merge, Team:Search Relevance, v8.16.0, :Search Relevance/Search

#114012 [8.x] [ML] Check Search Inference ID Usage When Deleting An Inference Endpoint (#113895)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/SemanticTextInfoExtractor.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceBaseRestTest.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceCrudIT.java
Labels: >non-issue, :ml, backport, Team:ML, auto-merge, v8.16.0

#113909 [8.x] [ML] Refactor Apache streaming (#113726)
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/StreamingHttpResultPublisher.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/ResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/RetryingHttpSender.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/StreamingResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiChatCompletionResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/amazonbedrock/completion/AmazonBedrockChatCompletionResponseListener.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/amazonbedrock/embeddings/AmazonBedrockEmbeddingsResponseListener.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/StreamingHttpResultPublisherTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/retry/RetryingHttpSenderTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/retry/StreamingResponseHandlerTests.java
Labels: >refactoring, :ml, backport, Team:ML, auto-merge, v8.16.0

#113986 Rollback Semantic Query Inner Hits
  docs/changelog/111834.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapper.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/queries/SemanticQueryBuilder.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/queries/SemanticQueryInnerHitBuilder.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/queries/SemanticQueryBuilderTests.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/40_semantic_text_query.yml
Labels: >non-issue, auto-backport-and-merge, :Search Relevance/Vectors, :SearchOrg/Relevance, v8.16.0, :Search Relevance/Search, v9.0.0

#113954 Copy 8.16 CLDR migration notes to main
  docs/reference/migration/migrate_8_16.asciidoc
Labels: >docs, :Core/Infra/Core, Team:Core/Infra, Team:Docs, auto-merge, v9.0.0

#113216 [Inference API] Deprecate elser service
  docs/changelog/113216.yaml
  server/src/main/java/org/elasticsearch/inference/InferenceServiceRegistry.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/ModelRegistryIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceNamedWriteablesProvider.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportInferenceAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportPutInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/BaseElasticsearchInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElserInternalModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElserInternalServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElserMlNodeTaskSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElserModels.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/ModelConfigurationsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElserInternalServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElserMlNodeTaskSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElserModelsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserModelsTests.java
Labels: >deprecation, :ml, Team:ML, auto-backport-and-merge, v8.16.0, v9.0.0

#114025 ESQL: Mention EXPLAIN ANALYZE in profile docs
  docs/reference/esql/esql-query-api.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0, v9.0.0, v8.15.3

#113930 [8.x] Dispatch `TransportSingleShardAction` response handling (#113630)
  modules/kibana/src/internalClusterTest/java/org/elasticsearch/kibana/KibanaThreadPoolIT.java
  server/src/internalClusterTest/java/org/elasticsearch/get/GetActionIT.java
  server/src/main/java/org/elasticsearch/action/support/single/shard/TransportSingleShardAction.java
Labels: >test, :Distributed/CRUD, backport, Team:Distributed, auto-merge, v8.16.0

#113921 [8.x] Fix up test after backport of #113852 (#113883)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.stats/10_basic.yml
Labels: >non-issue, backport, auto-merge, Team:Search Foundations, v8.16.0, :Search Foundations/CCS

#113935 [8.x] Remove `onItemCompletion` param from `ThrottledIterator` (#113919)
  server/src/internalClusterTest/java/org/elasticsearch/rest/ChunkedZipResponseIT.java
  server/src/internalClusterTest/java/org/elasticsearch/rest/StreamingXContentResponseIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/TransportIndicesShardStoresAction.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/ThrottledIterator.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/test/java/org/elasticsearch/common/util/concurrent/ThrottledIteratorTests.java
  x-pack/plugin/snapshot-repo-test-kit/src/main/java/org/elasticsearch/repositories/blobstore/testkit/analyze/RepositoryAnalyzeAction.java
  x-pack/plugin/snapshot-repo-test-kit/src/main/java/org/elasticsearch/repositories/blobstore/testkit/integrity/RepositoryIntegrityVerifier.java
Labels: >non-issue, :Distributed/Distributed, backport, Team:Distributed, auto-merge, v8.16.0

#114005 [8.x] Weaken `restoreFileFromSnapshot` assertion (#113768)
  server/src/main/java/org/elasticsearch/indices/recovery/RecoveryTarget.java
Labels: >test, :Distributed/Recovery, backport, Team:Distributed, auto-merge, v8.16.0

#114030 [8.15] ESQL: Mention EXPLAIN ANALYZE in profile docs (#114025)
  docs/reference/esql/esql-query-api.asciidoc
Labels: >docs, backport, Team:Docs, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.3

#114029 [8.x] ESQL: Mention EXPLAIN ANALYZE in profile docs (#114025)
  docs/reference/esql/esql-query-api.asciidoc
Labels: >docs, backport, Team:Docs, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#113911 [ML] Enable OpenAI Streaming
  docs/changelog/113911.yaml
  server/src/main/java/org/elasticsearch/inference/InferenceServiceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/inference/results/StreamingChatCompletionResults.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/common/DelegatingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/azureopenai/AzureOpenAiResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/OpenAiCompletionRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/OpenAiEmbeddingsRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiChatCompletionResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiStreamingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/openai/OpenAiChatCompletionRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/openai/OpenAiChatCompletionRequestEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/SenderService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/common/DelegatingProcessorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/openai/OpenAiResponseHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/openai/OpenAiStreamingProcessorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/openai/OpenAiChatCompletionRequestEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/openai/OpenAiChatCompletionRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/InferenceEventsAssertion.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/OpenAiServiceTests.java
Labels: >enhancement, :ml, Team:ML, auto-merge, auto-backport-and-merge, v8.16.0, v9.0.0

#113958 ESQL: More tests for anyTrue and anyFalse
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BasicBlockTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BigArrayVectorTests.java
Labels: >test, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0, v9.0.0

#114028 [8.x] Add CircuitBreaker to TDigest, Step 4: Take into account shallow classes size
  benchmarks/src/main/java/org/elasticsearch/benchmark/tdigest/TDigestBench.java
  docs/changelog/113613.yaml
  libs/tdigest/build.gradle
  libs/tdigest/licenses/lucene-core-LICENSE.txt
  libs/tdigest/licenses/lucene-core-NOTICE.txt
  libs/tdigest/src/main/java/module-info.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/AVLGroupTree.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/AVLTreeDigest.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/HybridDigest.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/IntAVLTree.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/MergingDigest.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/SortingDigest.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/TDigest.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/arrays/TDigestArrays.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/arrays/TDigestByteArray.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/arrays/TDigestDoubleArray.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/arrays/TDigestIntArray.java
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/arrays/TDigestLongArray.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/AVLGroupTreeTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/AVLTreeDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/AlternativeMergeTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/BigCountTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/BigCountTestsMergingDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/BigCountTestsTreeDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/ComparisonTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/HybridDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/IntAVLTreeTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/MedianTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/MergingDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/SortTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/SortingDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/TDigestReleasingTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/TDigestTestCase.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/TDigestTests.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalMedianAbsoluteDeviation.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/MemoryTrackingTDigestArrays.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TDigestState.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/TDigestStateReleasingTests.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/QuantileStates.java
Labels: >non-issue, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#113903 [8.x] [CI] Remove centos-7 testing since it is EOL (#113896)
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/pull-request/packaging-tests-unix.yml
Labels: backport, v8.16.0

#113904 [8.15] [CI] Remove centos-7 testing since it is EOL (#113896)
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/pull-request/packaging-tests-unix.yml
Labels: backport, v8.15.3

#113905 [7.17] [CI] Remove centos-7 testing since it is EOL (#113896)
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/pull-request/packaging-tests-unix.yml
Labels: backport, v7.17.25

#113899 [CI] Replace openjdk17 with openjdk21 in failing java-matrix tasks
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, Team:Delivery, :Delivery/Tooling, v9.0.0

#114026 Revert `es.trigger_merge_after_recovery` sysprop name
  server/src/main/java/org/elasticsearch/indices/PostRecoveryMerger.java
Labels: >non-issue, :Distributed/Recovery, Team:Distributed, v9.0.0

#113988 Track search and fetch failure stats
  docs/changelog/113988.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/stats/SearchStatsIT.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/index/search/stats/SearchStats.java
  server/src/main/java/org/elasticsearch/index/search/stats/ShardSearchStats.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/stats/NodeStatsTests.java
  server/src/test/java/org/elasticsearch/index/search/stats/SearchStatsTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndicesStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/node/NodeStatsMonitoringDocTests.java
Labels: >enhancement, :Data Management/Stats, Team:Data Management, auto-backport-and-merge, v8.16.0, v9.0.0

#113957 Change synthetic_source_keep setting's default
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/index/mapper/Mapper.java
  x-pack/plugin/logsdb/build.gradle
  x-pack/plugin/logsdb/src/yamlRestTest/java/org/elasticsearch/xpack/logsdb/LogsdbTestSuiteIT.java
  x-pack/plugin/logsdb/src/yamlRestTest/resources/rest-api-spec/test/10_setting.yml
  x-pack/plugin/otel-data/src/yamlRestTest/resources/rest-api-spec/test/20_logs_tests.yml
Labels: >non-issue, auto-backport-and-merge, Team:StorageEngine, :StorageEngine/Logs, v8.16.0, v9.0.0

#114035 [8.x] ESQL: change link to profile explanation (#114032)
  docs/reference/esql/esql-query-api.asciidoc
Labels: >docs, backport, Team:Docs, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#114037 [8.15] ESQL: change link to profile explanation (#114032)
  docs/reference/esql/esql-query-api.asciidoc
Labels: >docs, backport, Team:Docs, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.3

#114000 [8.x] Rework RRF to be evaluated during rewrite phase (#112648)
  docs/reference/search/rrf.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/search/retriever/RankDocRetrieverBuilderIT.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/common/lucene/Lucene.java
  server/src/main/java/org/elasticsearch/lucene/search/uhighlight/CustomUnifiedHighlighter.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/fetch/StoredFieldsContext.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/ExplainPhase.java
  server/src/main/java/org/elasticsearch/search/rank/RankDoc.java
  server/src/main/java/org/elasticsearch/search/rank/feature/RankFeatureDoc.java
  server/src/main/java/org/elasticsearch/search/retriever/CompoundRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/KnnRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/RankDocsRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/RetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/StandardRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/rankdoc/RankDocsQuery.java
  server/src/main/java/org/elasticsearch/search/retriever/rankdoc/RankDocsQueryBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/rankdoc/RankDocsSortBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/rankdoc/RankDocsSortField.java
  server/src/main/java/org/elasticsearch/search/sort/ShardDocSortField.java
  server/src/test/java/org/elasticsearch/action/search/SearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/rank/RankDocTests.java
  server/src/test/java/org/elasticsearch/search/retriever/KnnRetrieverBuilderParsingTests.java
  server/src/test/java/org/elasticsearch/search/retriever/RankDocsRetrieverBuilderTests.java
  server/src/test/java/org/elasticsearch/search/retriever/RetrieverBuilderErrorTests.java
  server/src/test/java/org/elasticsearch/search/retriever/rankdoc/RankDocsQueryBuilderTests.java
  server/src/test/java/org/elasticsearch/search/retriever/rankdoc/RankDocsSortBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/search/retriever/TestCompoundRetrieverBuilder.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/rank/textsimilarity/TextSimilarityRankRetrieverBuilder.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/rank/textsimilarity/TextSimilarityRankRetrieverBuilderTests.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderIT.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderNestedDocsIT.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFFeatures.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFQueryPhaseRankCoordinatorContext.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFQueryPhaseRankShardContext.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRankDoc.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilder.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/rrf/RRFRankContextTests.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/rrf/RRFRankDocTests.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderParsingTests.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderTests.java
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/100_rank_rrf.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/150_rank_rrf_pagination.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/200_rank_rrf_script.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/300_rrf_retriever.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/350_rrf_retriever_pagination.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/400_rrf_retriever_script.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/500_rrf_retriever_explain.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/600_rrf_retriever_profile.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/700_rrf_retriever_search_api_compatibility.yml
Labels: >non-issue, :Search Relevance/Ranking, backport, Team:Search Relevance, v8.16.0

#113943 [8.16][ML] Move code specific to the Elasticsearch in cluster services to those services
  muted-tests.yml
  server/src/main/java/org/elasticsearch/inference/InferenceService.java
  server/src/main/java/org/elasticsearch/inference/InferenceServiceExtension.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceBaseRestTest.java
  x-pack/plugin/inference/qa/test-service-plugin/src/main/java/org/elasticsearch/xpack/inference/mock/TestDenseInferenceServiceExtension.java
  x-pack/plugin/inference/qa/test-service-plugin/src/main/java/org/elasticsearch/xpack/inference/mock/TestRerankingServiceExtension.java
  x-pack/plugin/inference/qa/test-service-plugin/src/main/java/org/elasticsearch/xpack/inference/mock/TestSparseInferenceServiceExtension.java
  x-pack/plugin/inference/qa/test-service-plugin/src/main/java/org/elasticsearch/xpack/inference/mock/TestStreamingCompletionServiceExtension.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/ModelRegistryIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportPutInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/alibabacloudsearch/AlibabaCloudSearchService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/amazonbedrock/AmazonBedrockService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/anthropic/AnthropicService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/azureaistudio/AzureAiStudioService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/azureopenai/AzureOpenAiService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/cohere/CohereService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/BaseElasticsearchInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googlevertexai/GoogleVertexAiService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceBaseService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/ibmwatsonx/IbmWatsonxService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/mistral/MistralService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/SenderServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/alibabacloudsearch/AlibabaCloudSearchServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/amazonbedrock/AmazonBedrockServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/anthropic/AnthropicServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/azureaistudio/AzureAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/azureopenai/AzureOpenAiServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/CohereServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googlevertexai/GoogleVertexAiServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/ibmwatsonx/IbmWatsonxServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/mistral/MistralServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/OpenAiServiceTests.java
Labels: >non-issue, :ml, backport, auto-merge, v8.16.0

#114033 [8.x] [ML] Enable OpenAI Streaming (#113911)
  docs/changelog/113911.yaml
  server/src/main/java/org/elasticsearch/inference/InferenceServiceResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/inference/results/StreamingChatCompletionResults.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/common/DelegatingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/azureopenai/AzureOpenAiResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/OpenAiCompletionRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/OpenAiEmbeddingsRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiChatCompletionResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiStreamingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/openai/OpenAiChatCompletionRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/openai/OpenAiChatCompletionRequestEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/SenderService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/common/DelegatingProcessorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/openai/OpenAiResponseHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/openai/OpenAiStreamingProcessorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/openai/OpenAiChatCompletionRequestEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/openai/OpenAiChatCompletionRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/InferenceEventsAssertion.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/OpenAiServiceTests.java
Labels: >enhancement, :ml, backport, Team:ML, auto-merge, v8.16.0

#114034 [8.x] ESQL: More tests for anyTrue and anyFalse (#113958)
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BasicBlockTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BigArrayVectorTests.java
Labels: >test, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#114038 [DOCS] Removes link from semantic text tutorial
  docs/reference/search/search-your-data/semantic-search-semantic-text.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport-and-merge, v8.16.0, v9.0.0

#114039 [8.x] Change synthetic_source_keep setting's default (#113957)
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/index/mapper/Mapper.java
  x-pack/plugin/logsdb/build.gradle
  x-pack/plugin/logsdb/src/yamlRestTest/java/org/elasticsearch/xpack/logsdb/LogsdbTestSuiteIT.java
  x-pack/plugin/logsdb/src/yamlRestTest/resources/rest-api-spec/test/10_setting.yml
  x-pack/plugin/otel-data/src/yamlRestTest/resources/rest-api-spec/test/20_logs_tests.yml
Labels: >non-issue, backport, auto-merge, Team:StorageEngine, :StorageEngine/Logs, v8.16.0

#114044 Mute MixedClusterClientYamlTestSuiteIT test {p0=indices.create/20_synthetic_source/object array in object with dynamic override}
  muted-tests.yml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiService.java
Labels: :Search Foundations/Mapping, >test-mute, auto-merge, Team:Search Foundations, v8.16.0

#114041 Track search and fetch failure stats (#113988)
  docs/changelog/113988.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/stats/SearchStatsIT.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/index/search/stats/SearchStats.java
  server/src/main/java/org/elasticsearch/index/search/stats/ShardSearchStats.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/stats/NodeStatsTests.java
  server/src/test/java/org/elasticsearch/index/search/stats/SearchStatsTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndexStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/indices/IndicesStatsMonitoringDocTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/node/NodeStatsMonitoringDocTests.java
Labels: backport, auto-merge, v8.16.0

#112408 Ensure all Security configuration is covered by enhanced file protections
  server/src/main/java/org/elasticsearch/bootstrap/ESPolicy.java
  server/src/main/java/org/elasticsearch/bootstrap/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/jwt/JwtUtil.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/kerberos/KerberosRealm.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/saml/SamlRealm.java
  x-pack/plugin/security/src/main/plugin-metadata/plugin-security.policy
Labels: >non-issue, :Security/Security, Team:Security, v9.0.0

#114024 [DOCS] Expands param descriptions for semantic_text
  docs/reference/mapping/types/semantic-text.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.16.0, v9.0.0

#113561 Add link to Circuit Breaker "Data too large" exception message
  docs/changelog/113561.yaml
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/java/org/elasticsearch/common/breaker/ChildMemoryCircuitBreaker.java
  server/src/main/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerService.java
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.json
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.txt
  server/src/test/java/org/elasticsearch/indices/breaker/HierarchyCircuitBreakerServiceTests.java
Labels: >enhancement, :Core/Infra/Circuit Breakers, Team:Core/Infra, external-contributor, Supportability, v9.0.0

#114055 [8.x] [DOCS] Expands param descriptions for semantic_text (#114024)
  docs/reference/mapping/types/semantic-text.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.16.0

#114045 [8.x] [DOCS] Removes link from semantic text tutorial. (#114038)
  docs/reference/search/search-your-data/semantic-search-semantic-text.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge

#113690 Add object param for keeping synthetic source
  docs/changelog/113690.yaml
  docs/reference/mapping/fields/synthetic-source.asciidoc
  rest-api-spec/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/20_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/21_synthetic_source_stored.yml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/NestedObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/PassThroughObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RootObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldAliasMapperValidationTests.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldTypeLookupTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MappingLookupTests.java
  server/src/test/java/org/elasticsearch/index/mapper/NestedObjectMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/PassThroughObjectMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RootObjectMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DataSourceRequest.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DefaultMappingParametersHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/fields/NestedFieldDataGenerator.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/fields/ObjectFieldDataGenerator.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/fields/TopLevelObjectFieldDataGenerator.java
  x-pack/plugin/otel-data/src/main/resources/component-templates/traces-otel@mappings.yaml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz_api_keys/40_document_level_security_synthetic_source.yml
Labels: >enhancement, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0, v9.0.0

#114003 [8.x] More verbose logging in `IndicesSegmentsRestCancellationIT` (#113844)
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/BlockedSearcherRestCancellationTestCase.java
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/IndicesSegmentsRestCancellationIT.java
Labels: >test, :Distributed/Engine, backport, Team:Distributed, auto-merge, v8.16.0
