Repository elastic/elasticsearch, pull requests merged in 2024-02, with the labels that each got.

#99142 Share field mapper tests with other modules
  docs/changelog/99142.yaml
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/ScaledFloatFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ByteFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DoubleFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/FloatFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/HalfFloatFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IntegerFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LongFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ShortFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/NumberTypeOutOfRangeSpec.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/WholeNumberFieldMapperTests.java
  x-pack/plugin/mapper-unsigned-long/src/test/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapperTests.java
Labels: >test, :Search/Mapping, Team:Search, external-contributor, v8.13.0

#105002 Fix blob cache testGetMultiThreaded
  x-pack/plugin/blob-cache/src/test/java/org/elasticsearch/blobcache/shared/SharedBlobCacheServiceTests.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, v8.13.0

#104973 Remove S3RequestRetryStats in favor of APM metrics
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3RequestRetryStats.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.13.0

#104901 Retry TransportShardMultiGetFomTranslogAction during relocations
  server/src/main/java/org/elasticsearch/action/get/TransportGetAction.java
  server/src/main/java/org/elasticsearch/action/get/TransportShardMultiGetAction.java
  server/src/main/java/org/elasticsearch/action/get/TransportShardMultiGetFomTranslogAction.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, auto-merge, test-update-serverless, v8.13.0

#104665 Restrict usage of certain aggregations when in sort order execution is required
  docs/changelog/104665.yaml
  docs/reference/aggregations/bucket/time-series-aggregation.asciidoc
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/time_series.yml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/DeferableBucketAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/multiterms/MultiTermsAggregator.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/analytics/100_tsdb.yml
Labels: >enhancement, auto-merge, :StorageEngine/TSDB, v8.13.0, Team:StorageEngine

#104986 Extract inner classes from TransportBulkAction
  server/src/main/java/org/elasticsearch/action/bulk/BulkOperation.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequestModifier.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestModifierTests.java
Labels: >non-issue, :Search/Search, >refactoring, Team:Search, v8.13.0

#103648 Introduce experimental pass-through field type
  docs/changelog/103648.yaml
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProvider.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProviderTests.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/150_tsdb.yml
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRouting.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicFieldsBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperBuilderContext.java
  server/src/main/java/org/elasticsearch/index/mapper/NestedObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/PassThroughObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RootObjectMapper.java
  server/src/main/java/org/elasticsearch/indices/IndicesModule.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicFieldsBuilderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldAliasMapperValidationTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperMergeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/PassThroughObjectMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RootObjectMapperTests.java
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
Labels: >enhancement, :StorageEngine/TSDB, v8.13.0, Team:StorageEngine

#105003 Limit RTG exceptions to retry on
  server/src/main/java/org/elasticsearch/action/get/TransportGetAction.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, auto-merge, v8.13.0

#101209 Making k and num_candidates optional for knn search
  docs/changelog/101209.yaml
  docs/reference/query-dsl/knn-query.asciidoc
  docs/reference/rest-api/common-parms.asciidoc
  docs/reference/search/knn-search.asciidoc
  docs/reference/search/search.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/150_knn_search_missing_params.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/160_knn_query_missing_params.yml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsPhase.java
  server/src/main/java/org/elasticsearch/search/vectors/KnnSearchBuilder.java
  server/src/main/java/org/elasticsearch/search/vectors/KnnVectorQueryBuilder.java
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
  server/src/test/java/org/elasticsearch/search/vectors/AbstractKnnVectorQueryBuilderTestCase.java
  server/src/test/java/org/elasticsearch/search/vectors/KnnSearchBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryVectorBuilderTestCase.java
Labels: >enhancement, Team:Search, :Search/Vectors, v8.13.0

#104964 [Profiling] Compute cloud costs for Azure instances
  x-pack/plugin/profiling/src/internalClusterTest/resources/data/profiling-hosts.ndjson
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/InstanceType.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/InstanceTypeService.java
  x-pack/plugin/profiling/src/main/resources/profiling-costs-aws.json.gz
  x-pack/plugin/profiling/src/main/resources/profiling-costs-azure.json.gz
  x-pack/plugin/profiling/src/main/resources/profiling-costs.json.gz
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/CostCalculatorTests.java
Labels: >enhancement, external-contributor, :UniversalProfiling/Application, Team:obs-knowledge, v8.13.0

#105021 [TEST] Fix test failure for dynamic template tests
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/150_tsdb.yml
Labels: >test, :StorageEngine/TSDB, Team:StorageEngine

#104991 Mute TokenAuthIntegTests testRefreshingMultipleTimesWithinWindowSucceeds
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
Labels: >test-mute, needs:triage, v8.13.0

#104878 Transforms: Adding basic stats API param
  docs/changelog/104878.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/TransformField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/GetTransformStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformStats.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/GetTransformStatsActionRequestTests.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformChainIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformInsufficientPermissionsIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformRestTestCase.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformUsingSearchRuntimeFieldsIT.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformGetAndGetStatsIT.java
  x-pack/plugin/transform/src/internalClusterTest/java/org/elasticsearch/xpack/transform/checkpoint/TransformCCSCanMatchIT.java
  x-pack/plugin/transform/src/internalClusterTest/java/org/elasticsearch/xpack/transform/integration/TransformNoTransformNodeIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportGetTransformStatsAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/checkpoint/TransformCheckpointService.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/rest/action/RestCatTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/rest/action/RestGetTransformStatsAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformTask.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/checkpoint/TransformsCheckpointServiceTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformTaskTests.java
Labels: >enhancement, :ml/Transform, Team:ML, v8.13.0

#105001 Harden assertions when checking target indices
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
Labels: >non-issue, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.13.0, v8.12.2

#105016 Update build tools changelog schema for new Core/Infra/Metrics label
  build-tools-internal/src/main/resources/changelog-schema.json
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.13.0, v7.17.18, v8.12.2

#105032 [7.17] Update build tools changelog schema for new Core/Infra/Metrics label (#105016)
  build-tools-internal/src/main/resources/changelog-schema.json
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v7.17.18

#105033 [8.12] Update build tools changelog schema for new Core/Infra/Metrics label (#105016)
  build-tools-internal/src/main/resources/changelog-schema.json
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.12.2

#105030 Harden assertions when checking target indices (#105001)
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
Labels: backport, auto-merge, v8.12.2

#105014 Fix search response leaks in rank eval tests
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/DiscountedCumulativeGainTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/ExpectedReciprocalRankTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/MeanReciprocalRankTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/PrecisionAtKTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RankEvalResponseTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RatedRequestsTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RatedSearchHitTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RecallAtKTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/TransportRankEvalActionTests.java
Labels: >test, :Search/Ranking, Team:Search, v8.13.0

#105029 ESQL: Drop deprecated `_esql` API endpoint
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/RestEsqlQueryAction.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, ES|QL-ui, v8.13.0

#104879 Enable security for cross clusters query
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/security/qa/multi-cluster/build.gradle
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityEsqlIT.java
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/build.gradle
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/fulfilling_cluster/10_basic.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/100_resolve_index.yml
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/src/test/resources/rest-api-spec/test/querying_cluster/80_esql.yml
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.13.0

#104999 Expose forbidden apis fail on missing classes option
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/CheckForbiddenApisTask.java
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.13.0

#104957 Add IT tests for PushDownEnrich rule
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EnrichIT.java
Labels: >test, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.12.1, v8.13.0

#105045 [8.12] Add IT tests for PushDownEnrich rule (#104957)
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EnrichIT.java
Labels: >test, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.12.2

#104993 Support enrich remote mode
  docs/changelog/104993.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersEnrichIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EnrichIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.13.0

#104529 Add rest spec for Query User API
  docs/changelog/104529.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/security.query_user.json
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/users/40_query.yml
Labels: >enhancement, :Security/Client, Team:Security, v8.13.0

#105039 Fix SearchResponse leaks in cross cluster access tests
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/crossclusteraccess/CrossClusterAccessHeadersForCcsRestIT.java
Labels: >test, :Security/Authorization, Team:Security, v8.13.0

#105046 [Profiling] Rename stacktrace_ids field
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/GetStackTracesRequest.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetStackTracesAction.java
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/GetStackTracesRequestTests.java
Labels: >non-issue, :UniversalProfiling/Application, Team:obs-knowledge, v8.13.0

#104320 Hot-reloadable LDAP bind password
  docs/changelog/104320.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/Realms.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealm.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectorySessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealm.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/LdapSessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/LdapUserSearchSessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/PoolingSessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/ReloadableSecurityComponent.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmReloadTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapUserSearchSessionFactoryTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactoryLoadBalancingTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/support/SessionFactoryTests.java
Labels: >enhancement, :Security/Authentication, Team:Security, v8.13.0

#105015 Modify name of threadpool metric for rejected
  docs/changelog/105015.yaml
  server/src/main/java/org/elasticsearch/common/util/concurrent/EsRejectedExecutionHandler.java
  server/src/main/java/org/elasticsearch/threadpool/ThreadPool.java
Labels: >enhancement, Team:Core/Infra, v8.13.0, :Core/Infra/Metrics

#96235 Add setting to ignore dynamic fields when field limit is reached
  docs/changelog/96235.yaml
  docs/reference/mapping/fields/ignored-field.asciidoc
  docs/reference/mapping/mapping-settings-limit.asciidoc
  docs/reference/mapping/params/dynamic.asciidoc
  docs/reference/troubleshooting/common-issues/mapping-explosion.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/index/mapper/DynamicMappingIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataMappingService.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicFieldsBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperMergeContext.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/ParsedDocument.java
  server/src/main/java/org/elasticsearch/index/mapper/RootObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserContextTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MapperServiceTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/TestDocumentParserContext.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowActionTests.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
Labels: >enhancement, :Search/Mapping, Team:Search, external-contributor, auto-merge, test-update-serverless, v8.13.0, Team:StorageEngine, :StorageEngine/Logs

#105051 Use a cluster client after a cluster restart
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/DataStreamLifecycleDownsampleDisruptionIT.java
Labels: >test, :Data Management/Data streams, Team:Data Management, auto-merge, v8.13.0

#105052 Fix typo in {p0=data_stream/190_require_data_stream/Testing require_data_stream in bulk requests} (#104744)
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/190_require_data_stream.yml
Labels: >test, :Data Management/Data streams, Team:Data Management, auto-merge, v8.13.0

#105053 Use assertBusy to allow for the thread to be cancelled
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleServiceTests.java
Labels: >test, :Data Management/ILM+SLM, Team:Data Management, auto-merge, v8.13.0

#105012 Extract interface from ModelRegistry so it can be used from server
  server/src/main/java/org/elasticsearch/inference/InferenceServiceRegistry.java
  server/src/main/java/org/elasticsearch/inference/InferenceServiceRegistryImpl.java
  server/src/main/java/org/elasticsearch/inference/ModelRegistry.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/main/java/org/elasticsearch/plugins/InferenceRegistryPlugin.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/ModelRegistryImplIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportDeleteInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportGetInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportInferenceAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportPutInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/registry/ModelRegistryImpl.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/registry/ModelRegistryImplTests.java
Labels: >refactoring, :ml, Team:ML, v8.13.0

#103973 Add stricter validation for api key expiration time
  docs/changelog/103973.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BaseUpdateApiKeyRequest.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/apikey/ApiKeyRestIT.java
Labels: >enhancement, :Security/Security, Team:Security, v8.13.0

#105036 Simplify and save allocations around SeqNoFieldMapper
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/SeqNoFieldMapper.java
  server/src/test/java/org/elasticsearch/index/shard/ShardSplittingQueryTests.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.13.0

#104648 [Connector API] Implement update index_name action
  docs/changelog/104648.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/connector.update_index_name.json
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/300_connector_put.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/305_connector_post.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/338_connector_update_index_name.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/EnterpriseSearch.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/RestUpdateConnectorIndexNameAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/TransportUpdateConnectorIndexNameAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/UpdateConnectorIndexNameAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorIndexServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/action/UpdateConnectorIndexNameActionRequestBWCSerializingTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >enhancement, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.0

#105059 Fix teardown in profiling test (#104852)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/profiling/10_basic.yml
Labels: >test, :Data Management/Indices APIs, Team:Data Management, v8.13.0

#105006 [Transform] Add code comments for MIN_FREQUENCY and MAX_FREQUENCY constants
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/PutTransformAction.java
Labels: >non-issue, :ml/Transform, Team:ML, v8.13.0

#105066 [ML] Fix handling of `ml.config_version` node attribute
  docs/changelog/105066.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlConfigVersion.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/MlConfigVersionTests.java
  x-pack/plugin/ml/qa/disabled/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlPluginDisabledIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.13.0, v8.12.2

#105072 [8.12] [ML] Fix handling of `ml.config_version` node attribute (#105066)
  docs/changelog/105066.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlConfigVersion.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/MlConfigVersionTests.java
  x-pack/plugin/ml/qa/disabled/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlPluginDisabledIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.12.2

#105055 Do not enable APM agent 'instrument', it's not required for manual tracing.
  docs/changelog/105055.yaml
  modules/apm/src/main/java/org/elasticsearch/telemetry/apm/internal/APMAgentSettings.java
  modules/apm/src/test/java/org/elasticsearch/telemetry/apm/internal/APMAgentSettingsTests.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, v8.13.0

#105075 Add release notes for v8.12.1 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.12.1.asciidoc
Labels: >docs, Team:Docs, v8.12.2

#105071 Avoid creating map allocator when writing empty maps to StreamOutput
  server/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.13.0

#105087 Add unit tests for retriever errors
  server/src/main/java/org/elasticsearch/search/retriever/RetrieverBuilder.java
  server/src/test/java/org/elasticsearch/search/retriever/RetrieverBuilderErrorTests.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilder.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderTests.java
Labels: >non-issue, :Search/Ranking, Team:Search, v8.13.0

#104636 Modifying ingest request builders
  docs/changelog/104636.yaml
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/delete/DeleteRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/single/instance/InstanceShardOperationRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/update/UpdateRequestBuilder.java
  server/src/main/java/org/elasticsearch/index/reindex/AbstractBulkByScrollRequestBuilder.java
  server/src/main/java/org/elasticsearch/index/reindex/AbstractBulkIndexByScrollRequestBuilder.java
  server/src/main/java/org/elasticsearch/index/reindex/DeleteByQueryRequest.java
  server/src/main/java/org/elasticsearch/index/reindex/DeleteByQueryRequestBuilder.java
  server/src/main/java/org/elasticsearch/index/reindex/ReindexRequest.java
  server/src/main/java/org/elasticsearch/index/reindex/ReindexRequestBuilder.java
  server/src/main/java/org/elasticsearch/index/reindex/UpdateByQueryRequest.java
  server/src/main/java/org/elasticsearch/index/reindex/UpdateByQueryRequestBuilder.java
  server/src/test/java/org/elasticsearch/action/delete/DeleteRequestBuilderTests.java
  server/src/test/java/org/elasticsearch/action/index/IndexRequestBuilderTests.java
  server/src/test/java/org/elasticsearch/action/update/UpdateRequestBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
Labels: >enhancement, :Data Management/Ingest Node, Team:Data Management, v8.13.0

#105090 Add basic JavaDocs for retrievers
  server/src/main/java/org/elasticsearch/search/retriever/KnnRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/RetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/RetrieversFeatures.java
  server/src/main/java/org/elasticsearch/search/retriever/StandardRetrieverBuilder.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFFeatureSpecification.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilder.java
Labels: :Search/Ranking, >refactoring, Team:Search, v8.13.0

#105101 Fix compilation of example rest handler
  plugins/examples/rest-handler/src/main/java/org/elasticsearch/example/resthandler/ExampleRestHandlerPlugin.java
Labels: >non-issue, :Core/Infra/Plugins, Team:Core/Infra, v8.13.0

#105044 Expose OperationPurpose via CustomQueryParameter to s3 logs
  docs/changelog/105044.yaml
  modules/repository-s3/src/internalClusterTest/java/org/elasticsearch/repositories/s3/S3BlobStoreRepositoryTests.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobContainer.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3RetryingInputStream.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobContainerRetriesTests.java
  test/fixtures/s3-fixture/src/main/java/fixture/s3/S3HttpHandler.java
Labels: >enhancement, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.13.0

#105074 [8.12] Make counted terms agg visible to profiling (#105049)
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/countedterms/CountedTermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/countedterms/CountedTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/countedterms/CountedTermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/countedterms/CountedTermsAggregatorSupplier.java
  x-pack/plugin/mapper-counted-keyword/src/main/java/org/elasticsearch/xpack/countedkeyword/CountedKeywordMapperPlugin.java
  x-pack/plugin/mapper-counted-keyword/src/test/java/org/elasticsearch/xpack/countedkeyword/CountedTermsAggregationBuilderTests.java
  x-pack/plugin/mapper-counted-keyword/src/test/java/org/elasticsearch/xpack/countedkeyword/CountedTermsAggregatorTests.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetStackTracesAction.java
Labels: >non-issue, backport, cloud-deploy, :UniversalProfiling/Application, v8.12.2

#104948 [8.12] [Transform] Unmute 2 remaining continuous tests: HistogramGroupByIT and TermsGroupByIT (#104898)
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/HistogramGroupByIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TermsGroupByIT.java
Labels: >test, backport, :ml/Transform, Team:ML, v8.12.2

#105062 Nest pass-through objects within objects
  docs/changelog/105062.yaml
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/150_tsdb.yml
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/PassThroughObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RootObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicTemplatesTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RootObjectMapperTests.java
Labels: >enhancement, :StorageEngine/TSDB, v8.13.0, Team:StorageEngine

#104899 [8.12] [Transform] Make `_reset` action stop transforms without force first (#104870)
  docs/changelog/104870.yaml
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TestFeatureResetIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
Labels: >bug, backport, :ml/Transform, Team:ML, v8.12.2

#105011 Refactor DataExtractor summary
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/DataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/DataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/DataExtractorQueryContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/DataExtractorUtils.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AbstractAggregationDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/CompositeAggregationDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/CompositeAggregationDataExtractorContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/RollupDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorContext.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/CompositeAggregationDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorTests.java
Labels: >non-issue, :ml, Team:ML, v8.13.0

#105108 Speedup slicing from ReleasableBytesReference some more
  server/src/main/java/org/elasticsearch/common/bytes/BytesReferenceStreamInput.java
  server/src/main/java/org/elasticsearch/common/bytes/ReleasableBytesReference.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, v8.13.0

#105119 More guidance in balance settings docs
  docs/reference/modules/cluster/shards_allocation.asciidoc
  docs/reference/modules/indices/recovery.asciidoc
Labels: >docs, :Distributed/Allocation, Team:Distributed, Team:Docs, auto-merge, auto-backport-and-merge, v8.13.0, v8.12.2

#105112 [Docs] Fix a doc bug for Flush API's force parameter
  docs/reference/indices/flush.asciidoc
Labels: >docs, :Distributed/CRUD, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.13.0, v8.12.2

#105123 [8.12] More guidance in balance settings docs (#105119)
  docs/reference/modules/cluster/shards_allocation.asciidoc
  docs/reference/modules/indices/recovery.asciidoc
Labels: >docs, :Distributed/Allocation, backport, Team:Distributed, Team:Docs, auto-merge, v8.12.2

#105124 [8.12] [Docs] Fix a doc bug for Flush API's force parameter (#105112)
  docs/reference/indices/flush.asciidoc
Labels: >docs, :Distributed/CRUD, backport, Team:Distributed, Team:Docs, auto-merge, v8.12.2

#105125 [CI] Mute IndexRecoveryIT testDoNotInfinitelyWaitForMapping
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
Labels: :Distributed/Recovery, >test-mute, Team:Distributed, auto-merge, v8.13.0

#105116 Unmute DownsampleActionIT#testRollupNonTSIndex(...)
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >test, :StorageEngine/Downsampling, v8.13.0, Team:StorageEngine

#99857 Minor grammar fixes (StreamInput.java)
  server/src/main/java/org/elasticsearch/common/io/stream/StreamInput.java
Labels: >docs, :Core/Infra/Core, Team:Core/Infra, Team:Docs, external-contributor, v8.13.0

#105060 Simplify EQL logic that references SearchHit
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/async/AsyncResponse.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchResponse.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/payload/EventPayload.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/payload/ReversePayload.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sample/SamplePayload.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/AsEventListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/BasicQueryClient.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/ReverseListener.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sequence/SequencePayload.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sequence/TumblingWindow.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/plan/physical/EsQueryExec.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/action/EqlSearchResponseTests.java
Labels: >non-issue, :Analytics/EQL, Team:Analytics, v8.13.0

#104391 Fix testListTasksWaitForCompletion
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/node/tasks/TasksIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/list/TransportListTasksAction.java
Labels: >test, :Distributed/Task Management, Team:Distributed, v8.13.0

#105024 [Connectors API] Fix bug with crawler configuration parsing and sync_now flag
  docs/changelog/105024.yaml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/335_connector_update_configuration.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/Connector.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorConfiguration.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJob.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorConfigurationTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobTests.java
Labels: >bug, auto-backport-and-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.0, v8.12.2

#104868 Query timeouts should not be return 500 INTERNAL_SERVER_ERROR status code
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhaseTimeoutException.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
Labels: >non-issue, :Search/Search, Team:Search, v8.13.0

#105139 [8.12] [Connectors API] Fix bug with crawler configuration parsing and sync_now flag (#105024)
  docs/changelog/105024.yaml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/335_connector_update_configuration.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/Connector.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorConfiguration.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJob.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorConfigurationTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobTests.java
Labels: >bug, backport, auto-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.12.2

#105131 [Connector API] Support filtering by name, index name in list action
  docs/changelog/105131.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/connector.list.json
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/310_connector_list.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/ListConnectorAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/RestListConnectorAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/TransportListConnectorAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorIndexServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/action/ListConnectorActionRequestBWCSerializingTests.java
Labels: >enhancement, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.0

#105034 [DOCS] Small fixes for the 'Installing Elasticsearch' page
  docs/reference/setup/install.asciidoc
  docs/reference/setup/install/rpm.asciidoc
Labels: >docs, Team:Docs, v8.13.0, v8.12.2

#105109 Avoid convert to string when parsing response in heap attack
  test/external-modules/esql-heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/heap_attack/HeapAttackIT.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.13.0

#105091 Reducing the memory usage of the new IndexRequestBuilder
  server/src/main/java/org/elasticsearch/action/index/IndexRequestBuilder.java
  server/src/test/java/org/elasticsearch/action/index/IndexRequestBuilderTests.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v8.13.0

#105145 [8.12] [DOCS] Small fixes for the &#x27;Installing Elasticsearch&#x27; page (#105034)
  docs/reference/setup/install.asciidoc
  docs/reference/setup/install/rpm.asciidoc
Labels: backport, v8.12.2

#105121 Unmute TimeSeriesTsidHashCardinalityIT
  modules/aggregations/src/internalClusterTest/java/org/elasticsearch/aggregations/bucket/TimeSeriesTsidHashCardinalityIT.java
Labels: >test, :StorageEngine/TSDB, v8.13.0, Team:StorageEngine

#105089 [Transform] return results in order
  docs/changelog/105089.yaml
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformPivotRestIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/AggregationResultUtils.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/AggregationResultUtilsTests.java
Labels: >bug, :ml/Transform, Team:ML, v8.13.0

#105144 Adjust skip version for tsdb bwc tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/25_id_generation.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/30_snapshot.yml
Labels: >test, :StorageEngine/TSDB, test-full-bwc, v8.13.0, Team:StorageEngine

#104872 Add new int8_flat and flat vector index types
  docs/changelog/104872.yaml
  docs/reference/mapping/types/dense-vector.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/42_knn_search_flat.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/42_knn_search_int8_flat.yml
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/ES813FlatVectorFormat.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/ES813Int8FlatVectorFormat.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/main/java/org/elasticsearch/search/vectors/ESKnnByteVectorQuery.java
  server/src/main/java/org/elasticsearch/search/vectors/ESKnnFloatVectorQuery.java
  server/src/main/resources/META-INF/services/org.apache.lucene.codecs.KnnVectorsFormat
  server/src/test/java/org/elasticsearch/index/codec/vectors/ES813FlatVectorFormatTests.java
  server/src/test/java/org/elasticsearch/index/codec/vectors/ES813Int8FlatVectorFormatTests.java
Labels: >enhancement, Team:Search, auto-merge, :Search/Vectors, v8.13.0

#105151 [ML] Switching evictor tests to use a deterministic task queue
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/IdleConnectionEvictorTests.java
Labels: >non-issue, :ml, Team:ML, v8.13.0

#105137 Avoid building large CompositeByteBuf when sending transport messages
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4TcpChannel.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Utils.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4WriteThrottlingHandler.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4WriteThrottlingHandlerTests.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, auto-merge, v8.13.0

#105094 Add a gradle plugin for embedded providers
  build-tools-internal/build.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/EmbeddedProviderExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/EmbeddedProviderPlugin.java
  libs/x-content/build.gradle
Labels: >enhancement, :Delivery/Build, Team:Delivery, auto-merge, v8.13.0

#105157 [8.12] [ci] Allow CI to be triggered by old elasticmachine-style comment (#105154)
  .buildkite/pull-requests.json
  .buildkite/scripts/pull-request/__snapshots__/pipeline.test.ts.snap
  .buildkite/scripts/pull-request/pipeline.test.ts
  .buildkite/scripts/pull-request/pipeline.ts
Labels: backport, v8.12.2

#105158 [7.17] [ci] Allow CI to be triggered by old elasticmachine-style comment (#105154)
  .buildkite/pull-requests.json
  .buildkite/scripts/pull-request/__snapshots__/pipeline.test.ts.snap
  .buildkite/scripts/pull-request/pipeline.test.ts
  .buildkite/scripts/pull-request/pipeline.ts
Labels: backport, v7.17.19

#105153 Field-caps should read fields from up-to-dated shards
  docs/changelog/105153.yaml
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesFetcher.java
Labels: >bug, :Search/Search, Team:Search, auto-backport-and-merge, v8.13.0, v8.12.2

#105161 Adjust adoptium download url
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/AdoptiumJdkToolchainResolver.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/AdoptiumJdkToolchainResolverSpec.groovy
Labels: >bug, :Delivery/Build, Team:Delivery, auto-merge, v8.13.0

#105167 [8.12] Field-caps should read fields from up-to-dated shards (#105153)
  docs/changelog/105153.yaml
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesFetcher.java
Labels: >bug, :Search/Search, backport, Team:Search, auto-merge, v8.12.2

#105169 Fix LuceneSourceOperatorStatusTests
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorStatusTests.java
Labels: >test, Team:Analytics, auto-merge, auto-backport-and-merge, :Analytics/ES|QL, v8.12.1, v8.13.0

#104958 ESQL: Extend STATS command to support aggregate expressions
  docs/changelog/104958.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats_percentile.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ExpressionBuilder.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, ES|QL-ui, v8.13.0

#105152 Provision min runtime version jdk for compilation
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchJavaBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/MrjarPlugin.java
Labels: >enhancement, :Delivery/Build, Team:Delivery, v8.13.0

#104574 Deprecate client.type
  docs/changelog/104574.yaml
  server/src/main/java/org/elasticsearch/client/internal/Client.java
Labels: :Core/Infra/Core, >deprecation, Team:Core/Infra, auto-merge, v8.13.0

#105160 Add release notes for v7.17.18 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.17.18.asciidoc
Labels: >docs, Team:Docs, v7.17.18, v7.17.19

#105173 [Profiling] Always allow for CO2 and cost defaults
  x-pack/plugin/profiling/src/internalClusterTest/java/org/elasticsearch/xpack/profiling/GetStackTracesActionIT.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetStackTracesAction.java
Labels: >non-issue, cloud-deploy, :UniversalProfiling/Application, Team:obs-knowledge, v8.13.0

#104440 Fix write index resolution with aliases to TSDS's
  docs/changelog/104440.yaml
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstraction.java
  server/src/test/java/org/elasticsearch/action/index/IndexRequestTests.java
Labels: >bug, :Data Management/Data streams, Team:Data Management, external-contributor, auto-merge, v8.13.0

#105174 Fix link to test_grok_pattern api
  rest-api-spec/src/main/resources/rest-api-spec/api/text_structure.test_grok_pattern.json
Labels: >non-issue, :ml, Team:ML, auto-merge, v8.13.0

#105061 ESQL: Push CIDR_MATCH to Lucene if possible
  docs/changelog/105061.yaml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/ip/CIDRMatch.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsqlTranslatorHandler.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
Labels: >bug, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.13.0, v8.12.2

#104985 [DOCS][ESQL] Document locale rest parameter
  docs/reference/esql/esql-query-api.asciidoc
  docs/reference/esql/esql-rest.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.13.0, v8.12.2

#105134 Really drop symlink env test on Windows
  server/src/test/java/org/elasticsearch/env/NodeEnvironmentTests.java
Labels: >test, Team:Core/Infra, external-contributor, :Core/Infra/Node Lifecycle, v8.13.0

#105176 [8.12] [DOCS][ESQL] Document locale rest parameter (#104985)
  docs/reference/esql/esql-query-api.asciidoc
  docs/reference/esql/esql-rest.asciidoc
Labels: >docs, backport, Team:Docs, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.12.2

#99747 TSDB dimensions encoding
  docs/changelog/99747.yaml
  server/src/main/java/org/elasticsearch/index/codec/PerFieldMapperCodec.java
  server/src/main/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesConsumer.java
  server/src/main/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesEncoder.java
  server/src/main/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesFormat.java
  server/src/main/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesProducer.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesEncoderTests.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesFormatTests.java
Labels: >enhancement, external-contributor, auto-merge, :StorageEngine/TSDB, v8.13.0, Team:StorageEngine

#104751 Add a few examples of using version mapping in error messages
  server/src/main/java/org/elasticsearch/ReleaseVersions.java
  server/src/main/java/org/elasticsearch/cluster/routing/ShardRouting.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/NodeVersionAllocationDecider.java
  server/src/main/java/org/elasticsearch/cluster/version/CompatibilityVersions.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/ReleaseVersionsTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/NodeVersionAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/version/CompatibilityVersionsTests.java
  x-pack/qa/rolling-upgrade-multi-cluster/src/test/java/org/elasticsearch/upgrades/CcrRollingUpgradeIT.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.13.0

#105008 Update the MrjarPlugin test task to depend upon the jar
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/MrjarPlugin.java
Labels: :Delivery/Build, >refactoring, Team:Delivery, v8.13.0

#105057 Refactor ApiKeyFieldNameTranslators to expose query builder translator
  server/src/main/java/org/elasticsearch/index/query/SimpleQueryStringBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/QueryApiKeyRequest.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/apikey/TransportQueryApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/ApiKeyBoolQueryBuilder.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/ApiKeyFieldNameTranslators.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/apikey/TransportQueryApiKeyActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/ApiKeyBoolQueryBuilderTests.java
Labels: >non-issue, :Security/Security, Team:Security, v8.13.0

#105170 [Docs] Minor tweak for balance settings docs
  docs/reference/modules/cluster/shards_allocation.asciidoc
Labels: >docs, :Distributed/Allocation, Team:Distributed, Team:Docs, v8.13.0, v8.12.2

#105081 For empty mappings use a LocalRelation
  docs/changelog/105081.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/FilterTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plugin/DataNodeRequestTests.java
Labels: >bug, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.0

#102885 Make field limit more predictable
  docs/changelog/102885.yaml
  modules/legacy-geo/src/test/java/org/elasticsearch/legacygeo/mapper/LegacyGeoShapeFieldMapperTests.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldAliasMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/Mapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RootObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldAliasMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperMergeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RootObjectMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
Labels: >enhancement, :Search/Mapping, Team:Search, external-contributor, auto-merge, v8.13.0, :StorageEngine/Logs

#105179 Use pooled search response sources in EQL
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/action/EqlSearchResponse.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sample/SampleIterator.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/RuntimeUtils.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/sequence/TumblingWindow.java
Labels: >non-issue, :Analytics/EQL, Team:Analytics, v8.13.0

#105185 Some cleanup of SearchTransportService
  server/src/main/java/org/elasticsearch/action/search/ExpandSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchResponseSections.java
  server/src/main/java/org/elasticsearch/action/search/SearchScrollAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
Labels: >non-issue, :Search/Search, Team:Search, v8.13.0

#105142 [8.12] Validate settings before reloading JWT shared secret (#105070)
  docs/changelog/105070.yaml
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalElasticsearchCluster.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterHandle.java
  x-pack/plugin/security/qa/jwt-realm/src/javaRestTest/java/org/elasticsearch/xpack/security/authc/jwt/JwtRestIT.java
  x-pack/plugin/security/qa/jwt-realm/src/javaRestTest/resources/ssl/README.asciidoc
  x-pack/plugin/security/qa/jwt-realm/src/javaRestTest/resources/ssl/ca-transport.crt
  x-pack/plugin/security/qa/jwt-realm/src/javaRestTest/resources/ssl/ca-transport.key
  x-pack/plugin/security/qa/jwt-realm/src/javaRestTest/resources/ssl/transport.crt
  x-pack/plugin/security/qa/jwt-realm/src/javaRestTest/resources/ssl/transport.key
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealmSingleNodeTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/jwt/JwtRealm.java
Labels: :Security/Authentication, backport, Team:Security, v8.12.2

#105182 Rename QueryPhaseTimeoutException to SearchTimeoutException
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhaseExecutionException.java
  server/src/main/java/org/elasticsearch/search/query/SearchTimeoutException.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
Labels: :Search/Search, >refactoring, Team:Search, v8.13.0

#105085 Ingest geoip: tidy up collections code
  modules/ingest-geoip/src/internalClusterTest/java/org/elasticsearch/ingest/geoip/AbstractGeoIpIT.java
  modules/ingest-geoip/src/internalClusterTest/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderIT.java
  modules/ingest-geoip/src/internalClusterTest/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderStatsIT.java
  modules/ingest-geoip/src/internalClusterTest/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderTaskIT.java
  modules/ingest-geoip/src/internalClusterTest/java/org/elasticsearch/ingest/geoip/GeoIpProcessorNonIngestNodeIT.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderTaskExecutor.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpTaskState.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/DatabaseNodeServiceTests.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderTests.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorTests.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/stats/GeoIpDownloaderStatsActionResponseSerializingTests.java
  modules/ingest-geoip/src/yamlRestTest/java/org/elasticsearch/ingest/geoip/IngestGeoIpClientYamlTestSuiteIT.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v8.13.0

#105086 Ingest geoip: tidy up logging code
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/ConfigDatabases.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/DatabaseNodeService.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/DatabaseReaderLazyLoader.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpDownloader.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v8.13.0

#105187 Move semantic_text mappers to Inference plugin
  x-pack/plugin/inference/src/main/java/module-info.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/SemanticTextFeature.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapper.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextInferenceResultFieldMapper.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/cluster/metadata/SemanticTextClusterMetadataTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapperTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticTextInferenceResultFieldMapperTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/LocalStateMachineLearning.java
Labels: >non-issue, :Search/Mapping, >refactoring, Team:Search, v8.13.0

#105199 [ML] Improve docs around ML nodes and xpack.ml.enabled
  docs/reference/settings/ml-settings.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport-and-merge, v8.13.0, v8.12.2

#105203 [8.12] [ML] Improve docs around ML nodes and xpack.ml.enabled (#105199)
  docs/reference/settings/ml-settings.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge, v8.12.2

#105200 Use an AbstractList to build the AggregationList for reduction
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/adjacency/InternalAdjacencyMatrix.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/histogram/InternalAutoDateHistogram.java
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/timeseries/InternalTimeSeries.java
  server/src/main/java/org/elasticsearch/search/aggregations/InternalMultiBucketAggregation.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/composite/InternalComposite.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/filter/InternalFilters.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/InternalGeoGrid.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalDateHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalVariableWidthHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/prefix/InternalIpPrefix.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalBinaryRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/InternalRange.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/AbstractInternalTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalRareTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalSignificantTerms.java
Labels: :Analytics/Aggregations, >refactoring, Team:Analytics, v8.13.0

#105064 ES|QL: remove PROJECT keyword from the grammar
  docs/changelog/105064.yaml
  x-pack/plugin/esql/src/main/antlr/EsqlBaseLexer.g4
  x-pack/plugin/esql/src/main/antlr/EsqlBaseLexer.tokens
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.g4
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.tokens
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
Labels: >breaking, Team:Analytics, :Analytics/ES|QL, v8.13.0

#105192 [Transform] Allow transforms to use PIT with remote clusters again
  docs/changelog/105192.yaml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexer.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexerTests.java
Labels: >enhancement, :ml/Transform, Team:ML, v8.13.0

#105197 Document ESQL docs examples
  docs/reference/esql/processing-commands/drop.asciidoc
  docs/reference/esql/processing-commands/limit.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/docs-IT_tests_only.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/docs.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/drop.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/limit.csv-spec
Labels: >docs, >test, Team:Docs, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.0

#105183 [ML] Fix handling surrogate pairs in the XLM Roberta tokenizer
  docs/changelog/105183.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/PrecompiledCharMapNormalizer.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/TokenizerUtils.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/UnigramTokenizer.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/PrecompiledCharMapNormalizerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/XLMRobertaTokenizerTests.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.13.0, v8.12.2

#104913 [ES|QL] Add function log(base, value)
  docs/reference/esql/functions/log.asciidoc
  docs/reference/esql/functions/math-functions.asciidoc
  docs/reference/esql/functions/signature/log.svg
  docs/reference/esql/functions/types/log.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/math.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/show.csv-spec
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/math/LogConstantEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/math/LogEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Log.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/LogTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.13.0

#105096 Harden index mapping parameter check in enrich runner
  docs/changelog/105096.yaml
  x-pack/plugin/enrich/qa/common/src/main/java/org/elasticsearch/test/enrich/CommonEnrichRestTestCase.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
Labels: >bug, :Data Management/Ingest Node, Team:Data Management, auto-backport-and-merge, v8.13.0, v8.12.2

#105177 [8.12] ESQL: Push CIDR_MATCH to Lucene if possible (#105061)
  docs/changelog/105061.yaml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/ip/CIDRMatch.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsqlTranslatorHandler.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
Labels: backport, auto-merge, :Analytics/ES|QL, v8.12.2

#105195 [ML] Switch OpenAI and Cohere configuration to use model_id field instead of model
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/cohere/CohereEmbeddingsRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/cohere/CohereEmbeddingsRequestEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/openai/OpenAiEmbeddingsRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/cohere/CohereService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/cohere/CohereServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/cohere/embeddings/CohereEmbeddingsModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/cohere/embeddings/CohereEmbeddingsServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/embeddings/OpenAiEmbeddingsModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/embeddings/OpenAiEmbeddingsRequestTaskSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/embeddings/OpenAiEmbeddingsTaskSettings.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/CohereServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/CohereServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/embeddings/CohereEmbeddingsServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/OpenAiServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/embeddings/OpenAiEmbeddingsRequestTaskSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/embeddings/OpenAiEmbeddingsTaskSettingsTests.java
Labels: >non-issue, :ml, Team:ML, v8.13.0

#105178 [Connector API] Support filtering connectors by service type and a query
  docs/changelog/105178.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/connector.list.json
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/310_connector_list.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/ListConnectorAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/RestListConnectorAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/TransportListConnectorAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorIndexServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/action/ListConnectorActionRequestBWCSerializingTests.java
Labels: >enhancement, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.0

#105210 [8.12] Harden index mapping parameter check in enrich runner (#105096)
  docs/changelog/105096.yaml
  x-pack/plugin/enrich/qa/common/src/main/java/org/elasticsearch/test/enrich/CommonEnrichRestTestCase.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyRunner.java
Labels: >bug, :Data Management/Ingest Node, backport, Team:Data Management, auto-merge, v8.12.2

#105211 [ML] Fix compilation after in flight PRs crossed paths
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/nlp/tokenizers/XLMRobertaTokenizerTests.java
Labels: >non-issue, :ml, Team:ML, auto-merge, v8.13.0

#105164 [Transform] Remove duplicate checkpoint audits
  docs/changelog/105164.yaml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexerTests.java
Labels: >bug, :ml/Transform, Team:ML, v8.13.0

#105204 ESQL: More tests for `STATS BY blah, blah` syntax
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.13.0

#104949 [ML] Inference service support for multilingual-e5 builtin and customEland text_embedding models
  docs/changelog/104949.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/inference/InferenceService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/inference/results/TextEmbeddingResults.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/ExceptionsHelper.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceBaseRestTest.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceCrudIT.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/MockInferenceServiceIT.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/TextEmbeddingCrudIT.java
  x-pack/plugin/inference/qa/test-service-plugin/src/main/java/org/elasticsearch/xpack/inference/mock/TestInferenceServiceExtension.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/ModelRegistryImplIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceNamedWriteablesProvider.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportPutInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/ServiceUtils.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/cohere/CohereService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserMlNodeServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceBaseService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/settings/InternalServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/textembedding/CustomElandInternalServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/textembedding/CustomElandModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/textembedding/MultilingualE5SmallInternalServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/textembedding/MultilingualE5SmallModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/textembedding/TextEmbeddingInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/textembedding/TextEmbeddingInternalServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/textembedding/TextEmbeddingModel.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/ModelConfigurationsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/SenderServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/CohereServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserMlNodeServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserMlNodeServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/OpenAiServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/textembedding/MultilingualE5SmallInternalServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/textembedding/TextEmbeddingInternalServiceTests.java
Labels: >enhancement, :ml, Team:ML, v8.13.0

#104772 [ES|QL]Allow AUTO_BUCKET to accept references created by EVAL as input to from and to
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersEnrichIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlAsyncActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/ExceptionUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/VerificationException.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/AutoBucket.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/NegTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/stats/PlanExecutorMetricsTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, ES|QL-ui, v8.13.0

#105213 [ML] Inference service should reject tasks during shutdown
  docs/changelog/105213.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/RequestExecutorService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/RequestExecutorServiceTests.java
Labels: >bug, :ml, Team:ML, v8.13.0

#105209 Fix Failure Store Document Test using non-Windows newline
  server/src/test/java/org/elasticsearch/action/bulk/FailureStoreDocumentTests.java
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v8.13.0

#105222 Optimize SearchHit#resolveLookupFields a little
  server/src/main/java/org/elasticsearch/search/SearchHit.java
Labels: >non-issue, :Search/Search, Team:Search, v8.13.0

#104923 Add support for fetching user profileId in Query Users
  docs/reference/rest-api/security/query-user.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/security.query_user.json
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/QueryUserRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/user/QueryUserResponse.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/user/QueryUserRequestTests.java
  x-pack/plugin/security/qa/security-basic/src/javaRestTest/java/org/elasticsearch/xpack/security/QueryUserIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportQueryUserAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/esnative/NativeUsersStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/user/RestQueryUserAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/user/TransportQueryUserActionTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/users/40_query.yml
Labels: >enhancement, >docs, :Security/Security, Team:Docs, Team:Security, v8.13.0

#105048 Fix exception handling on DateFormatters.forPattern() with wrong date pattern
  docs/changelog/105048.yaml
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DateParseTests.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.12.0, v8.13.0

#105218 Forward port release notes for v8.12.1
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.12.1.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.13.0

#105227 [8.12] Fix exception handling on DateFormatters.forPattern() with wrong date pattern (#105048)
  docs/changelog/105048.yaml
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DateParseTests.java
Labels: >bug, :Core/Infra/Core, backport, Team:Core/Infra, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.12.2

#105225 Simplify `ChunkedToXContentHelper#singleChunk`
  libs/x-content/src/main/java/org/elasticsearch/xcontent/XContentBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/allocation/DesiredBalanceResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/stats/NodeStats.java
  server/src/main/java/org/elasticsearch/cluster/ClusterInfo.java
  server/src/main/java/org/elasticsearch/common/xcontent/ChunkedToXContentHelper.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/stats/NodeStatsTests.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, auto-merge, v8.13.0

#105133 Validate settings before reloading AD/LDAP bind password
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ldap/PoolingSessionFactory.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/ActiveDirectoryRealmTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ldap/LdapRealmReloadTests.java
Labels: >non-issue, :Security/Authentication, Team:Security, v8.13.0

#105220 Simplify and optimize code around TermQueryBuilder.BinaryValues
  server/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java
  server/src/main/java/org/elasticsearch/index/query/TermsQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/TermsQueryBuilderTests.java
Labels: >non-issue, :Search/Search, Team:Search, v8.13.0

#104905 Execute lazy rollover with an internal dedicated user #104732
  docs/changelog/104905.yaml
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/LazyRolloverDataStreamIT.java
  modules/data-streams/src/javaRestTest/resources/roles.yml
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamFeatures.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/LazyRolloverAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportSimulateBulkAction.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIndicesThatCannotBeCreatedTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportBulkActionTookTests.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportSimulateBulkActionTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/InternalUsers.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/UsernamesField.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationUtils.java
Labels: >bug, :Data Management/Data streams, Team:Data Management, v8.13.0

#105028 Improve exception handling for stateless realtime-get/mget
  server/src/main/java/org/elasticsearch/action/get/TransportGetAction.java
  server/src/main/java/org/elasticsearch/action/get/TransportShardMultiGetAction.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, v8.13.0

#105228 Fix a few downsample api issues
  docs/changelog/105228.yaml
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/DataStreamLifecycleDownsampleDisruptionIT.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/DownsampleShardPersistentTaskExecutor.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/TransportDownsampleAction.java
Labels: >bug, auto-merge, :StorageEngine/Downsampling, v8.13.0, Team:StorageEngine

#105214 [8.12] [ML] Fixing inference shutdown bug
  docs/changelog/105213.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/HttpRequestExecutorService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/HttpRequestExecutorServiceTests.java
Labels: >bug, :ml, backport, Team:ML, v8.12.2

#104980 Move doc-values classes needed by ST_INTERSECTS to server
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/lucene/spatial/BinaryShapeDocValuesField.java
  server/src/main/java/org/elasticsearch/lucene/spatial/CartesianShapeCoordinateEncoder.java
  server/src/main/java/org/elasticsearch/lucene/spatial/CartesianShapeDocValuesQuery.java
  server/src/main/java/org/elasticsearch/lucene/spatial/CartesianShapeIndexer.java
  server/src/main/java/org/elasticsearch/lucene/spatial/CentroidCalculator.java
  server/src/main/java/org/elasticsearch/lucene/spatial/Component2DVisitor.java
  server/src/main/java/org/elasticsearch/lucene/spatial/CoordinateEncoder.java
  server/src/main/java/org/elasticsearch/lucene/spatial/DimensionalShapeType.java
  server/src/main/java/org/elasticsearch/lucene/spatial/Extent.java
  server/src/main/java/org/elasticsearch/lucene/spatial/GeoShapeCoordinateEncoder.java
  server/src/main/java/org/elasticsearch/lucene/spatial/GeometryDocValueReader.java
  server/src/main/java/org/elasticsearch/lucene/spatial/GeometryDocValueWriter.java
  server/src/main/java/org/elasticsearch/lucene/spatial/LatLonShapeDocValuesQuery.java
  server/src/main/java/org/elasticsearch/lucene/spatial/ShapeDocValuesQuery.java
  server/src/main/java/org/elasticsearch/lucene/spatial/TriangleTreeReader.java
  server/src/main/java/org/elasticsearch/lucene/spatial/TriangleTreeVisitor.java
  server/src/main/java/org/elasticsearch/lucene/spatial/TriangleTreeWriter.java
  server/src/test/java/org/elasticsearch/lucene/spatial/CartesianCentroidCalculatorTests.java
  server/src/test/java/org/elasticsearch/lucene/spatial/CartesianShapeCoordinateEncoderTests.java
  server/src/test/java/org/elasticsearch/lucene/spatial/CartesianShapeDocValuesQueryTests.java
  server/src/test/java/org/elasticsearch/lucene/spatial/CentroidCalculatorTests.java
  server/src/test/java/org/elasticsearch/lucene/spatial/GeoCentroidCalculatorTests.java
  server/src/test/java/org/elasticsearch/lucene/spatial/GeoShapeCoordinateEncoderTests.java
  server/src/test/java/org/elasticsearch/lucene/spatial/LatLonShapeDocValuesQueryTests.java
  server/src/test/java/org/elasticsearch/lucene/spatial/TriangleTreeTests.java
  x-pack/plugin/spatial/src/internalClusterTest/java/org/elasticsearch/xpack/spatial/search/GeoShapeScriptDocValuesIT.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/CartesianShapeValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/Component2DRelationVisitor.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeoShapeScriptDocValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/GeoShapeValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/LabelPositionVisitor.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/ShapeValues.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/fielddata/Tile2DVisitor.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/query/ShapeQueryProcessor.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoHexVisitor.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/metrics/CartesianShapeCentroidAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/metrics/GeoShapeCentroidAggregator.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/runtime/GeoShapeScriptFieldGeoShapeQuery.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/GeoCentroidCalculatorExtraTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/GeometryDocValueTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/LatLonGeometryRelationVisitorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/TestCoordinateEncoder.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/Tile2DVisitorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeScriptMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/ingest/CircleProcessorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoHexVisitorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/bucket/geogrid/GeoShapeGeoGridTestCase.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/metrics/CartesianShapeCentroidAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/metrics/GeoShapeCentroidAggregatorTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/util/GeoTestUtils.java
Labels: :Analytics/Geo, >refactoring, Team:Analytics, v8.13.0

#104614 Extend `repository_integrity` health indicator for unknown and invalid repos
  docs/changelog/104614.yaml
  docs/reference/tab-widgets/troubleshooting/snapshot/repeated-snapshot-failures.asciidoc
  docs/reference/troubleshooting.asciidoc
  docs/reference/troubleshooting/snapshot/add-repository.asciidoc
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/health/DataStreamLifecycleHealthIndicatorServiceTests.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/shards/ShardsAvailabilityHealthIndicatorServiceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorServiceIT.java
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/health/node/DiskHealthInfo.java
  server/src/main/java/org/elasticsearch/health/node/HealthInfo.java
  server/src/main/java/org/elasticsearch/health/node/HealthInfoCache.java
  server/src/main/java/org/elasticsearch/health/node/LocalHealthMonitor.java
  server/src/main/java/org/elasticsearch/health/node/RepositoriesHealthInfo.java
  server/src/main/java/org/elasticsearch/health/node/UpdateHealthInfoCacheAction.java
  server/src/main/java/org/elasticsearch/health/node/tracker/DiskHealthTracker.java
  server/src/main/java/org/elasticsearch/health/node/tracker/HealthTracker.java
  server/src/main/java/org/elasticsearch/health/node/tracker/RepositoriesHealthTracker.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/main/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/health/HealthServiceTests.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/health/node/FetchHealthInfoCacheActionTests.java
  server/src/test/java/org/elasticsearch/health/node/HealthInfoCacheTests.java
  server/src/test/java/org/elasticsearch/health/node/HealthInfoTests.java
  server/src/test/java/org/elasticsearch/health/node/LocalHealthMonitorTests.java
  server/src/test/java/org/elasticsearch/health/node/UpdateHealthInfoCacheActionTests.java
  server/src/test/java/org/elasticsearch/health/node/tracker/DiskHealthTrackerTests.java
  server/src/test/java/org/elasticsearch/health/node/tracker/RepositoriesHealthTrackerTests.java
  server/src/test/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorServiceTests.java
Labels: >enhancement, Team:Data Management, :Data Management/Health, v8.13.0

#105241 Assign index.downsample.interval setting when downsample index gets created
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/TransportDownsampleAction.java
Labels: >non-issue, auto-merge, :StorageEngine/Downsampling, v8.13.0, Team:StorageEngine

#105237 [DOCS][ESQL] Document _source metadata field
  docs/reference/esql/metadata-fields.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.13.0, v8.12.2

#105244 Fix a few downsample api issues
  docs/changelog/105228.yaml
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/DataStreamLifecycleDownsampleDisruptionIT.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/DownsampleShardPersistentTaskExecutor.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/TransportDownsampleAction.java
Labels: backport, :StorageEngine/Downsampling, v8.12.2

#105150 Remove SearchException usages without a proper status code
  docs/changelog/105150.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/searchafter/SearchAfterIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/slice/SearchSliceIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/source/MetadataFetchingIT.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/search/SearchException.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsPhaseExecutionException.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhaseExecutionException.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
Labels: >bug, :Search/Search, Team:Search, v8.13.0

#105246 [8.12] [DOCS][ESQL] Document _source metadata field (#105237)
  docs/reference/esql/metadata-fields.asciidoc
Labels: >docs, backport, Team:Docs, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.12.2
