Repository elastic/elasticsearch, pull requests merged in 2024-11, with the labels that each got.

#115341 ReplicationOperation should fail gracefully
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationOperation.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
Labels: :Distributed/CRUD, >test-failure, Team:Distributed, needs:risk, v9.0.0

#115243 semantic_text as string type in ES|QL - support for functions and operators
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/DataType.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/mapping-semantic_text.json
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/semantic_text.csv
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/semantic_text.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToBoolean.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToCartesianPoint.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToCartesianShape.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDateNanos.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDatetime.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDouble.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToGeoPoint.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToGeoShape.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIP.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToInteger.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToLong.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToString.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToUnsignedLong.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToVersion.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/Equals.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/GreaterThan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/GreaterThanOrEqual.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/LessThan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/LessThanOrEqual.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/NotEquals.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverter.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/CaseTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/GreatestTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/LeastTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/FromBase64Tests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToBase64Tests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/AbstractMultivalueFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSliceTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSortTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/ConcatTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/LeftTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/LengthTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/RLikeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/RepeatTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/ReverseTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/RightTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/SplitTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/SubstringTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/ToLowerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/ToUpperTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/WildcardLikeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/EqualsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/GreaterThanOrEqualTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/GreaterThanTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/InTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/LessThanOrEqualTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/LessThanTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverterTests.java
Labels: >non-issue, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.17.0

#115934 Prevent multiple sets copies while adding index aliases
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, auto-backport, v8.16.0, v9.0.0, v8.15.4, v8.17.0

#116069 Revert "[TEST] Replace _source.mode with index.mapping.source.mode in integration tests"
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/top_hits.yml
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/50_script_doc_values.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/match_only_text/10_basic.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/rank_feature/30_synthetic_source.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/rank_features/20_synthetic_source.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/search-as-you-type/30_synthetic_source.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/token_count/10_basic.yml
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/60_synthetic_source.yml
  modules/percolator/src/yamlRestTest/resources/rest-api-spec/test/10_basic.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/reindex/110_synthetic_source.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/update_by_query/100_synthetic_source.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/270_synthetic_source.yml
  plugins/mapper-annotated-text/src/yamlRestTest/resources/rest-api-spec/test/mapper_annotatedtext/20_synthetic_source.yml
  plugins/mapper-murmur3/src/yamlRestTest/resources/rest-api-spec/test/mapper_murmur3/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/100_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/20_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/21_synthetic_source_stored.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.put_mapping/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/logsdb/20_source_mapping.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mget/90_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.highlight/50_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/90_sparse_vector.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/350_binary_field.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/400_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/540_ignore_above_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/20_mapping.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/update/100_synthetic_source.yml
  x-pack/plugin/logsdb/src/yamlRestTest/resources/rest-api-spec/test/20_ignored_source.yml
  x-pack/plugin/mapper-constant-keyword/src/yamlRestTest/resources/rest-api-spec/test/20_synthetic_source.yml
  x-pack/plugin/mapper-unsigned-long/src/yamlRestTest/resources/rest-api-spec/test/80_synthetic_source.yml
  x-pack/plugin/mapper-version/src/yamlRestTest/resources/rest-api-spec/test/40_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/aggregate-metrics/100_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/analytics/histogram.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/enrich/40_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/30_types.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/80_text.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/searchable_snapshots/20_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz_api_keys/30_field_level_security_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz_api_keys/40_document_level_security_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/snapshot/10_basic.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/spatial/140_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/preview_transforms_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/wildcard/30_ignore_above_synthetic_source.yml
  x-pack/plugin/wildcard/src/yamlRestTest/resources/rest-api-spec/test/30_synthetic_source.yml
Labels: >test, Team:StorageEngine, :StorageEngine/Mapping, v9.0.0

#116030 Remove code for `?verbose` in `_segments` API
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.segments.json
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestIndicesSegmentsAction.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v9.0.0

#116067 [8.15] Prevent multiple sets copies while adding index aliases (#115934)
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Distributed/Cluster Coordination, backport, Team:Distributed, auto-merge-without-approval, v8.15.5

#116066 [8.16] Prevent multiple sets copies while adding index aliases (#115934)
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Distributed/Cluster Coordination, backport, Team:Distributed, auto-merge-without-approval, v8.16.1

#116068 [8.x] Prevent multiple sets copies while adding index aliases (#115934)
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: >non-issue, :Distributed/Cluster Coordination, backport, Team:Distributed, auto-merge-without-approval, v8.17.0

#115797 Enable _tier based coordinator rewrites for all indices (not just mounted indices)
  docs/changelog/115797.yaml
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContextProvider.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryRewriteContextTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/action/search/CanMatchDataTierCoordinatorRewriteIT.java
Labels: >enhancement, auto-merge-without-approval, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v8.17.0

#116036 Tidy up `ClusterStatsNodeRequest`
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/TransportClusterStatsAction.java
Labels: >non-issue, :Data Management/Stats, Team:Data Management, v9.0.0

#115917 Fix file settings service restart IT
  muted-tests.yml
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/FileSettingsRoleMappingsRestartIT.java
Labels: >test, :Core/Infra/Settings, Team:Core/Infra, test-windows, auto-merge-without-approval, auto-backport, v8.16.0, v9.0.0, v8.17.0

#116024 ES|QL Add full-text search to the functions docs page
  docs/reference/esql/esql-functions-operators.asciidoc
  docs/reference/esql/esql-limitations.asciidoc
  docs/reference/esql/functions/search-functions.asciidoc
Labels: >docs, Team:Docs, Team:Search Relevance, :Search Relevance/Search, v9.0.0, v8.17.0

#115084 [KQL query] Implement the KQL AST builder
  server/src/test/java/org/elasticsearch/index/query/TermsQueryBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java
  x-pack/plugin/kql/src/main/antlr/KqlBase.g4
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlAstBuilder.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBase.interp
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBaseBaseListener.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBaseBaseVisitor.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBaseListener.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBaseParser.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBaseVisitor.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlParser.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlParserExecutionContext.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/AbstractKqlParserTestCase.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserBooleanQueryTests.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserExistsQueryTests.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserFieldQueryTests.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserFieldlessQueryTests.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserRangeQueryTests.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserTests.java
  x-pack/plugin/kql/src/test/resources/supported-queries
  x-pack/plugin/kql/src/test/resources/unsupported-queries
Labels: >non-issue, :Search/Search, Team:Search, auto-backport, v9.0.0, v8.17.0

#115927 Fix and unmute VectorSystemPropertyTests
  libs/native/build.gradle
  libs/native/src/test/java/org/elasticsearch/nativeaccess/VectorSystemPropertyTests.java
  muted-tests.yml
Labels: >test, test-windows, Team:Search Relevance, :Search Relevance/Search, v9.0.0, v8.17.0

#115589 [ML] Fix streaming test regex
  muted-tests.yml
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/rest/ServerSentEventsRestActionListenerTests.java
Labels: >test, :ml, Team:ML, auto-backport, v9.0.0, v8.17.0

#116074 ReplicationOperation exceptions should not escape
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationOperation.java
Labels: :Distributed/CRUD, >test-failure, Team:Distributed, needs:risk, v9.0.0

#116060 Fix leak in DfsQueryPhase and introduce search disconnect stress test
  docs/changelog/116060.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/basic/SearchWithRandomDisconnectsIT.java
  server/src/main/java/org/elasticsearch/action/search/DfsQueryPhase.java
  server/src/test/java/org/elasticsearch/discovery/AbstractDisruptionTestCase.java
Labels: >bug, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v8.17.0

#116086 ESQL: Fix DEBUG log of filter
  docs/changelog/116086.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/FilterOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ThrowingDriverContext.java
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v9.0.0, v8.16.1, v8.17.0

#116078 Include test features in feature name generation
  test/metadata-extractor/src/main/java/org/elasticsearch/extractor/features/HistoricalFeaturesMetadataExtractor.java
  test/metadata-extractor/src/test/java/org/elasticsearch/extractor/features/HistoricalFeaturesMetadataExtractorTests.java
Labels: >bug, >test, :Core/Infra/Core, Team:Core/Infra, auto-backport, v9.0.0, v8.16.1, v8.17.0, v8.15.5

#115884 Unmute #111529
  muted-tests.yml
Labels: >test, :Search/Search, Team:Search, auto-merge-without-approval, auto-backport, v8.16.0, v9.0.0, v8.17.0

#116091 [8.15] Include test features in feature name generation (#116078)
  test/metadata-extractor/src/main/java/org/elasticsearch/extractor/features/HistoricalFeaturesMetadataExtractor.java
  test/metadata-extractor/src/test/java/org/elasticsearch/extractor/features/HistoricalFeaturesMetadataExtractorTests.java
Labels: >bug, >test, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v8.15.5

#116061 Delay creation of the next SearchPhase in executeNextPhase
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/DfsQueryPhase.java
  server/src/main/java/org/elasticsearch/action/search/ExpandSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/FetchSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/RankFeaturePhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseContext.java
  server/src/test/java/org/elasticsearch/action/search/MockSearchPhaseContext.java
Labels: >non-issue, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v8.17.0

#116089 [8.16] Include test features in feature name generation (#116078)
  test/metadata-extractor/src/main/java/org/elasticsearch/extractor/features/HistoricalFeaturesMetadataExtractor.java
  test/metadata-extractor/src/test/java/org/elasticsearch/extractor/features/HistoricalFeaturesMetadataExtractorTests.java
Labels: >bug, >test, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v8.16.1

#116090 [8.x] Include test features in feature name generation (#116078)
  test/metadata-extractor/src/main/java/org/elasticsearch/extractor/features/HistoricalFeaturesMetadataExtractor.java
  test/metadata-extractor/src/test/java/org/elasticsearch/extractor/features/HistoricalFeaturesMetadataExtractorTests.java
Labels: >bug, >test, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v8.17.0

#114246 Remove checking of sync commit ids
  docs/reference/cat/shards.asciidoc
  rest-api-spec/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cat.shards/10_basic.yml
  server/src/internalClusterTest/java/org/elasticsearch/gateway/RecoveryFromGatewayIT.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/NodeAllocationResult.java
  server/src/main/java/org/elasticsearch/gateway/ReplicaShardAllocator.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/elasticsearch/indices/store/TransportNodesListShardStoreMetadata.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestShardsAction.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/NodeAllocationResultTests.java
  server/src/test/java/org/elasticsearch/gateway/ReplicaShardAllocatorTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySourceHandlerTests.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestShardsActionTests.java
  x-pack/plugin/stack/qa/rest/build.gradle
Labels: >non-issue, :Distributed/Engine, >refactoring, Team:Distributed, v9.0.0

#116079 [8.x] [KQL query] Implement the KQL AST builder (#115084)
  server/src/test/java/org/elasticsearch/index/query/TermsQueryBuilderTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java
  x-pack/plugin/kql/src/main/antlr/KqlBase.g4
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlAstBuilder.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBase.interp
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBaseBaseListener.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBaseBaseVisitor.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBaseListener.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBaseParser.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlBaseVisitor.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlParser.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlParserExecutionContext.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/AbstractKqlParserTestCase.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserBooleanQueryTests.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserExistsQueryTests.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserFieldQueryTests.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserFieldlessQueryTests.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserRangeQueryTests.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserTests.java
  x-pack/plugin/kql/src/test/resources/supported-queries
  x-pack/plugin/kql/src/test/resources/unsupported-queries
Labels: >non-issue, :Search/Search, backport, Team:Search, auto-merge-without-approval, v8.17.0

#115994 Add logsdb telemetry
  docs/changelog/115994.yaml
  docs/reference/rest-api/info.asciidoc
  docs/reference/rest-api/usage.asciidoc
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackFeatures.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackInfoFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/application/LogsDBFeatureSetUsage.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsDBInfoTransportAction.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsDBPlugin.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsDBUsageTransportAction.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsdbIndexModeSettingsProvider.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/logsdb/10_usage.yml
Labels: >enhancement, auto-backport, Team:StorageEngine, :StorageEngine/Logs, v9.0.0, v8.17.0

#115962 [8.x] Clearer error on modifying read-only role mappings (#115951)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/rolemapping/PutRoleMappingRequest.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/rolemapping/RoleMappingRestIT.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/rolemapping/PutRoleMappingRequestTests.java
Labels: >non-issue, :Security/Authentication, backport, Team:Security, auto-merge-without-approval, v8.17.0

#116076 [8.x] Enable _tier based coordinator rewrites for all indices (not just mounted indices) (#115797)
  docs/changelog/115797.yaml
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContextProvider.java
  server/src/test/java/org/elasticsearch/action/search/CanMatchPreFilterSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryRewriteContextTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/action/search/CanMatchDataTierCoordinatorRewriteIT.java
Labels: backport, auto-merge-without-approval, :Search Foundations/Search, v8.17.0

#116098 Refine ESQL limitations (full-text, TEXT fields, unassigned indexes)
  docs/reference/esql/esql-limitations.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, :Analytics/ES|QL, v9.0.0, v8.17.0

#116101 [8.x] Add logsdb telemetry (#115994)
  docs/changelog/115994.yaml
  docs/reference/rest-api/info.asciidoc
  docs/reference/rest-api/usage.asciidoc
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackFeatures.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackInfoFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/application/LogsDBFeatureSetUsage.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsDBInfoTransportAction.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsDBPlugin.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsDBUsageTransportAction.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsdbIndexModeSettingsProvider.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/logsdb/10_usage.yml
Labels: >enhancement, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Logs, v8.17.0

#116059 Store: support empty stores in cleanupAndVerify
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
Labels: >non-issue, :Distributed/Store, Team:Distributed, auto-backport, v9.0.0, v8.17.0

#116117 [8.x] Store: support empty stores in cleanupAndVerify (#116059)
  server/src/main/java/org/elasticsearch/index/store/Store.java
  server/src/test/java/org/elasticsearch/index/store/StoreTests.java
Labels: >non-issue, :Distributed/Store, backport, Team:Distributed, auto-merge-without-approval, v8.17.0

#115891 Add Default ELSER 2 Capability
  muted-tests.yml
  x-pack/plugin/inference/build.gradle
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/rest/RestGetInferenceModelAction.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/30_semantic_text_inference.yml
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/40_semantic_text_query.yml
Labels: >non-issue, :ml, Team:ML, auto-backport, v9.0.0, v8.17.0

#116108 Fix new logsdb tests
  muted-tests.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/logsdb/10_settings.yml
Labels: >test, auto-backport, Team:StorageEngine, :StorageEngine/Logs, serverless-linked, v9.0.0, v8.17.0

#116120 [8.x] Add Default ELSER 2 Capability (#115891)
  muted-tests.yml
  x-pack/plugin/inference/build.gradle
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/rest/RestGetInferenceModelAction.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/30_semantic_text_inference.yml
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/40_semantic_text_query.yml
Labels: >non-issue, :ml, backport, auto-merge-without-approval, v8.17.0

#116121 Refactor ESQL CcsUtils
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlExecutionInfo.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichPolicyResolver.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSessionCCSUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/IndexResolver.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/EsqlSessionCCSUtilsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/IndexResolverTests.java
Labels: >refactoring, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.17.0

#116031 Resolve pipeline on lazy rollover write
  docs/changelog/116031.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/310_reroute_processor.yml
  server/src/main/java/org/elasticsearch/action/bulk/TransportAbstractBulkAction.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
Labels: >bug, :Data Management/Data streams, Team:Data Management, auto-backport, v8.16.0, v9.0.0, v8.15.4, v8.17.0

#116122 [8.x] Fix new logsdb tests (#116108)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/logsdb/10_settings.yml
Labels: >test, backport, v8.17.0

#116131 [8.16] Resolve pipelines from template if lazy rollover write (#116031)
  docs/changelog/116031.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/310_reroute_processor.yml
  muted-tests.yml
  server/src/main/java/org/elasticsearch/action/bulk/TransportAbstractBulkAction.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
Labels: >bug, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.16.1

#116132 [8.x] Resolve pipelines from template if lazy rollover write (#116031)
  docs/changelog/116031.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/310_reroute_processor.yml
  muted-tests.yml
  server/src/main/java/org/elasticsearch/action/bulk/TransportAbstractBulkAction.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
Labels: >bug, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.17.0

#116137 [8.15] Resolve pipelines from template if lazy rollover write (#116031)
  docs/changelog/116031.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/310_reroute_processor.yml
  server/src/main/java/org/elasticsearch/action/bulk/TransportAbstractBulkAction.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
Labels: backport, v8.15.5

#116129 [8.x] Finalized refactorings from closed PR https://github.com/elastic/elasticsearch/pull/115976 (#116121)
  muted-tests.yml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlExecutionInfo.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichPolicyResolver.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSessionCCSUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/IndexResolver.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/EsqlSessionCCSUtilsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/IndexResolverTests.java
Labels: >refactoring, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.17.0

#116152 Fix max file size check to use getMaxFileSize (#113723) (#114508)
  docs/changelog/113723.yaml
  server/src/main/java/org/elasticsearch/bootstrap/BootstrapChecks.java
  server/src/test/java/org/elasticsearch/bootstrap/BootstrapChecksTests.java
Labels: >non-issue, :Core/Infra/Core, backport, needs:triage, v8.15.5

#116072 [TEST] Replace _source.mode with index.mapping.source.mode in integration tests - take 2
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/top_hits.yml
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/50_script_doc_values.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/match_only_text/10_basic.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/rank_feature/30_synthetic_source.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/rank_features/20_synthetic_source.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/search-as-you-type/30_synthetic_source.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/token_count/10_basic.yml
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/60_synthetic_source.yml
  modules/percolator/src/yamlRestTest/resources/rest-api-spec/test/10_basic.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/reindex/110_synthetic_source.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/update_by_query/100_synthetic_source.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/270_synthetic_source.yml
  plugins/mapper-annotated-text/src/yamlRestTest/resources/rest-api-spec/test/mapper_annotatedtext/20_synthetic_source.yml
  plugins/mapper-murmur3/src/yamlRestTest/resources/rest-api-spec/test/mapper_murmur3/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/100_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/20_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/21_synthetic_source_stored.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.put_mapping/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/logsdb/20_source_mapping.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mget/90_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.highlight/50_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/90_sparse_vector.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/350_binary_field.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/400_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/540_ignore_above_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/20_mapping.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/update/100_synthetic_source.yml
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  x-pack/plugin/logsdb/src/yamlRestTest/resources/rest-api-spec/test/20_ignored_source.yml
  x-pack/plugin/mapper-constant-keyword/src/yamlRestTest/resources/rest-api-spec/test/20_synthetic_source.yml
  x-pack/plugin/mapper-unsigned-long/src/yamlRestTest/resources/rest-api-spec/test/80_synthetic_source.yml
  x-pack/plugin/mapper-version/src/yamlRestTest/resources/rest-api-spec/test/40_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/aggregate-metrics/100_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/analytics/histogram.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/enrich/40_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/30_types.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/80_text.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/searchable_snapshots/20_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz_api_keys/30_field_level_security_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz_api_keys/40_document_level_security_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/snapshot/10_basic.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/spatial/140_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/preview_transforms_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/wildcard/30_ignore_above_synthetic_source.yml
  x-pack/plugin/wildcard/src/yamlRestTest/resources/rest-api-spec/test/30_synthetic_source.yml
Labels: >test, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v9.0.0, v8.17.0

#116029 Fixed DefaultSettingsProvider to use Java 17
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultSettingsProvider.java
Labels: >non-issue, >test, :Delivery/Build, Team:Delivery, v9.0.0, v8.17.0

#116161 [8.x] [TEST] Replace _source.mode with index.mapping.source.mode in integration tests - take 2 (#116072)
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/top_hits.yml
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/50_script_doc_values.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/match_only_text/10_basic.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/rank_feature/30_synthetic_source.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/rank_features/20_synthetic_source.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/search-as-you-type/30_synthetic_source.yml
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/token_count/10_basic.yml
  modules/parent-join/src/yamlRestTest/resources/rest-api-spec/test/60_synthetic_source.yml
  modules/percolator/src/yamlRestTest/resources/rest-api-spec/test/10_basic.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/reindex/110_synthetic_source.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/update_by_query/100_synthetic_source.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/270_synthetic_source.yml
  plugins/mapper-annotated-text/src/yamlRestTest/resources/rest-api-spec/test/mapper_annotatedtext/20_synthetic_source.yml
  plugins/mapper-murmur3/src/yamlRestTest/resources/rest-api-spec/test/mapper_murmur3/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/get/100_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/20_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/21_synthetic_source_stored.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.put_mapping/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/logsdb/20_source_mapping.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mget/90_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.highlight/50_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/90_sparse_vector.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/350_binary_field.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/400_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/540_ignore_above_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/tsdb/20_mapping.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/update/100_synthetic_source.yml
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  x-pack/plugin/logsdb/src/yamlRestTest/resources/rest-api-spec/test/20_ignored_source.yml
  x-pack/plugin/mapper-constant-keyword/src/yamlRestTest/resources/rest-api-spec/test/20_synthetic_source.yml
  x-pack/plugin/mapper-unsigned-long/src/yamlRestTest/resources/rest-api-spec/test/80_synthetic_source.yml
  x-pack/plugin/mapper-version/src/yamlRestTest/resources/rest-api-spec/test/40_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/aggregate-metrics/100_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/analytics/histogram.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/enrich/40_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/30_types.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/80_text.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/searchable_snapshots/20_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz_api_keys/30_field_level_security_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/security/authz_api_keys/40_document_level_security_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/snapshot/10_basic.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/spatial/140_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/transform/preview_transforms_synthetic_source.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/wildcard/30_ignore_above_synthetic_source.yml
  x-pack/plugin/wildcard/src/yamlRestTest/resources/rest-api-spec/test/30_synthetic_source.yml
Labels: >test, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Mapping, v8.17.0

#116160 Unmute testAuthenticateWithImplicitFlow and testAuthenticateWithCodeFlowAndClientPost
  muted-tests.yml
Labels: >test, :Security/Security, Team:Security, v9.0.0, auto-merge

#116153 Add release notes for v8.15.4 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.15.4.asciidoc
Labels: >docs, Team:Docs, v8.15.4, v8.15.5

#116025 [8.x] [TEST] Migrated REST tests extending JsonLogsIntegTestCase (#115188)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionArchiveSetupPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/RestrictedBuildApiService.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/DistributionDownloadPlugin.java
  distribution/archives/integ-test-zip/build.gradle
  distribution/archives/integ-test-zip/src/javaRestTest/java/org/elasticsearch/test/rest/CreatedLocationHeaderIT.java
  distribution/archives/integ-test-zip/src/javaRestTest/java/org/elasticsearch/test/rest/JsonLogsFormatAndParseIT.java
  distribution/archives/integ-test-zip/src/javaRestTest/java/org/elasticsearch/test/rest/NodeRestUsageIT.java
  distribution/archives/integ-test-zip/src/javaRestTest/java/org/elasticsearch/test/rest/RequestsWithoutContentIT.java
  distribution/archives/integ-test-zip/src/javaRestTest/java/org/elasticsearch/test/rest/WaitForRefreshAndCloseIT.java
  qa/logging-config/build.gradle
  qa/logging-config/src/javaRestTest/java/org/elasticsearch/common/logging/CustomLoggingConfigIT.java
  qa/logging-config/src/javaRestTest/java/org/elasticsearch/common/logging/ESJsonLogsConfigIT.java
  qa/logging-config/src/javaRestTest/resources/es-v7-log4j2.properties
  qa/unconfigured-node-name/build.gradle
  qa/unconfigured-node-name/src/javaRestTest/java/org/elasticsearch/unconfigured_node_name/JsonLogsFormatAndParseIT.java
  test/framework/src/main/java/org/elasticsearch/common/logging/JsonLogsIntegTestCase.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultSettingsProvider.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalNodeSpecBuilder.java
  x-pack/plugin/ent-search/qa/full-cluster-restart/build.gradle
  x-pack/plugin/inference/qa/inference-service-tests/build.gradle
  x-pack/plugin/inference/qa/mixed-cluster/build.gradle
  x-pack/plugin/inference/qa/rolling-upgrade/build.gradle
  x-pack/plugin/transform/qa/common/build.gradle
Labels: backport, auto-merge-without-approval, v8.17.0

#116163 [8.16] Fix file settings service restart IT (#115917)
  muted-tests.yml
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/FileSettingsRoleMappingsRestartIT.java
Labels: >test, :Core/Infra/Settings, backport, Team:Core/Infra, auto-merge-without-approval, v8.16.1

#116065 Track source for objects and fields with [synthetic_source_keep:arrays] in arrays as ignored
  rest-api-spec/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/21_synthetic_source_stored.yml
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapperTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowActionTests.java
Labels: >non-issue, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v9.0.0, v8.16.1, v8.17.0

#116168 [8.16] Term Stats documentation (#115933)
  docs/reference/query-dsl/script-score-query.asciidoc
  docs/reference/reranking/learning-to-rank-model-training.asciidoc
  docs/reference/reranking/learning-to-rank-search-usage.asciidoc
  docs/reference/scripting/fields.asciidoc
Labels: backport, auto-merge-without-approval, v8.16.1

#116084 Fix a typo in the example for using pre-existing pipeline definitions
  docs/reference/ingest/apis/simulate-ingest.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.15.0, v8.16.0, v9.0.0, v8.17.0

#115877 Fixing ScheduledEventTest generating same start and end time
  muted-tests.yml
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/calendars/ScheduledEventTests.java
Labels: >test, :ml, Team:ML, auto-backport, v9.0.0, v8.17.0

#116171 Fix incorrect mutex used in QueryPhaseResultConsumer
  muted-tests.yml
  server/src/main/java/org/elasticsearch/action/search/QueryPhaseResultConsumer.java
Labels: >non-issue, v8.7.0, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#116124 [ML] Unmute chunking test
  muted-tests.yml
Labels: >test, :ml, Team:ML, v8.17.0

#116179 [8.x] [ESQL] clean up date trunc tests (#116111)
  docs/reference/esql/functions/kibana/definition/date_diff.json
  docs/reference/esql/functions/signature/match.svg
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DateTruncRoundingTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DateTruncTests.java
Labels: >test, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.17.0

#116100 ESQL: Fix DEBUG log of filter (#116086)
  docs/changelog/116086.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/FilterOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ThrowingDriverContext.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/FilterOperatorTests.java
Labels: backport, v8.17.0

#116105 ESQL: Fix DEBUG log of filter (#116086)
  docs/changelog/116086.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/FilterOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ThrowingDriverContext.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/FilterOperatorTests.java
Labels: backport, v8.16.1

#116020 Entitlement tools: SecurityManager scanner
  libs/entitlement/tools/build.gradle
  libs/entitlement/tools/common/build.gradle
  libs/entitlement/tools/common/src/main/java/org/elasticsearch/entitlement/tools/Utils.java
  libs/entitlement/tools/securitymanager-scanner/build.gradle
  libs/entitlement/tools/securitymanager-scanner/licenses/asm-LICENSE.txt
  libs/entitlement/tools/securitymanager-scanner/licenses/asm-NOTICE.txt
  libs/entitlement/tools/securitymanager-scanner/src/README.md
  libs/entitlement/tools/securitymanager-scanner/src/main/java/org/elasticsearch/entitlement/tools/securitymanager/scanner/Main.java
  libs/entitlement/tools/securitymanager-scanner/src/main/java/org/elasticsearch/entitlement/tools/securitymanager/scanner/SecurityCheckClassVisitor.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v9.0.0

#116176 Add note about incompleteness of CBs
  docs/reference/modules/indices/circuit_breaker.asciidoc
Labels: >docs, :Core/Infra/Circuit Breakers, Team:Core/Infra, Team:Docs, auto-backport, v9.0.0, v7.17.26, v8.16.1, v8.17.0, v8.15.5

#116112 Remove ignored fallback option on GeoIP processor
  docs/changelog/116112.yaml
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
Labels: >breaking, :Data Management/Ingest Node, Team:Data Management, v9.0.0

#114227 Ignore conflicting fields during dynamic mapping update
  docs/changelog/114227.yaml
  server/src/internalClusterTest/java/org/elasticsearch/index/mapper/DynamicMappingIT.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperMergeTests.java
Labels: >bug, :Search Foundations/Mapping, external-contributor, auto-backport, Team:Search Foundations, v9.0.0, v8.17.0

#115779 Don't allow secure settings in YML config (109115)
  docs/changelog/115779.yaml
  server/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java
  server/src/main/java/org/elasticsearch/common/settings/SecureSetting.java
  server/src/test/java/org/elasticsearch/common/settings/ScopedSettingsTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingsTests.java
Labels: >bug, :Core/Infra/Settings, Team:Core/Infra, v9.0.0

#116187 [7.17] Add note about incompleteness of CBs (#116176)
  docs/reference/modules/indices/circuit_breaker.asciidoc
Labels: >docs, :Core/Infra/Circuit Breakers, backport, Team:Core/Infra, Team:Docs, auto-merge-without-approval, v7.17.26

#116188 [8.16] Add note about incompleteness of CBs (#116176)
  docs/reference/modules/indices/circuit_breaker.asciidoc
Labels: >docs, :Core/Infra/Circuit Breakers, backport, Team:Core/Infra, Team:Docs, auto-merge-without-approval, v8.16.1

#116189 [8.x] Add note about incompleteness of CBs (#116176)
  docs/reference/modules/indices/circuit_breaker.asciidoc
Labels: >docs, :Core/Infra/Circuit Breakers, backport, Team:Core/Infra, Team:Docs, auto-merge-without-approval, v8.17.0

#116190 [8.15] Add note about incompleteness of CBs (#116176)
  docs/reference/modules/indices/circuit_breaker.asciidoc
Labels: >docs, :Core/Infra/Circuit Breakers, backport, Team:Core/Infra, Team:Docs, auto-merge-without-approval, v8.15.5

#116107 The common type between any two string types is KEYWORD
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverter.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverterTests.java
Labels: >non-issue, >refactoring, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.17.0

#116148 Remove dead code from o.e.index.query
  server/src/main/java/org/elasticsearch/index/query/AbstractGeometryQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/CombinedFieldsQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/ExistsQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/FuzzyQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/GeoBoundingBoxQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/GeoDistanceQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/GeoPolygonQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/GeoShapeQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/GeoValidationMethod.java
  server/src/main/java/org/elasticsearch/index/query/InnerHitBuilder.java
  server/src/main/java/org/elasticsearch/index/query/IntervalQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/MatchBoolPrefixQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/MatchPhrasePrefixQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/MoreLikeThisQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/MultiMatchQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/QueryBuilders.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/GaussDecayFunctionBuilder.java
  server/src/main/java/org/elasticsearch/index/query/functionscore/RandomScoreFunctionBuilder.java
Labels: >non-issue, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#116104 Simplify AbstractSearchAsyncAction.doPerformPhaseOnShard
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
Labels: >non-issue, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#116195 Fixing ScheduledEventTest generating same start and end time (#115877)
  muted-tests.yml
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/calendars/ScheduledEventTests.java
Labels: >test, :ml, backport, Team:ML, auto-merge-without-approval, v8.17.0

#116043 Support partial sort fields in TopN pushdown
  docs/changelog/116043.yaml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/PushTopNToSource.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
Labels: >enhancement, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.17.0

#116184 Cleanup listener wrapping in TransportSearchAction a little
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
Labels: >non-issue, v8.7.0, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#115931 Add ClusterStateSupplier interface + standard implementation
  server/src/main/java/org/elasticsearch/cluster/ClusterStateSupplier.java
  server/src/main/java/org/elasticsearch/cluster/SafeClusterStateSupplier.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v9.0.0

#113278 Minor fixes to improve SystemIndexDescriptor
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexAction.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecurityIndexManager.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/SecurityIndexManagerTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge-without-approval, auto-backport, v9.0.0, v8.15.4, v8.17.0

#116096 ESQL: Fix test
  muted-tests.yml
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/FilterOperatorTests.java
Labels: >non-issue, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.0.0, v8.16.1, v8.17.0, auto-merge

#114086 Parse bulk lines in individual steps
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequestParser.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestBulkAction.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestParserTests.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestBulkActionTests.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, auto-backport, v9.0.0, v8.17.0

#116206 [8.x] Minor fixes to improve SystemIndexDescriptor (#113278)
  server/src/main/java/org/elasticsearch/action/admin/indices/create/AutoCreateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/create/TransportCreateIndexAction.java
  server/src/main/java/org/elasticsearch/indices/SystemIndexDescriptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecurityIndexManager.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/SecurityIndexManagerTests.java
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v8.17.0

#116200 Ignore warning on yaml test put template
  docs/changelog/116200.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/310_reroute_processor.yml
Labels: >enhancement, :Data Management/Data streams, Team:Data Management, v8.15.4

#116201 Ignore warning on yaml test put template
  docs/changelog/116201.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/310_reroute_processor.yml
Labels: >enhancement, :Data Management/Data streams, Team:Data Management, v8.16.0, v8.16.1

#116015 [ML] Handle empty percentile results
  docs/changelog/116015.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationToJsonProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationToJsonProcessorTests.java
Labels: >bug, :ml, Team:ML, auto-backport, v9.0.0, v8.16.1, v8.17.0

#116215 [8.16] [ML] Handle empty percentile results (#116015)
  docs/changelog/116015.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationToJsonProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/aggregation/AggregationToJsonProcessorTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v8.16.1

#116211 Use underlying ByteBuf refCount for ReleasableBytesReference
  docs/changelog/116211.yaml
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4MessageInboundHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Utils.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4UtilsTests.java
Labels: >bug, :Distributed/Network, Team:Distributed, v8.16.0, v9.0.0

#116180 KQL plugin - Code cleanup
  x-pack/plugin/kql/build.gradle
  x-pack/plugin/kql/licenses/antlr4-runtime-LICENSE.txt
  x-pack/plugin/kql/licenses/antlr4-runtime-NOTICE.txt
  x-pack/plugin/kql/src/main/java/module-info.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/ParserUtils.java
Labels: >non-issue, :Search/Search, Team:Search, auto-backport, v9.0.0, v8.17.0

#116191 [ML] Prevent NPE if model assignment is removed while waiting to start
  docs/changelog/115430.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartTrainedModelDeploymentAction.java
Labels: >non-issue, :ml, backport, Team:ML, auto-merge-without-approval, v8.15.5

#116225 [8.x] Track source for objects and fields with [synthetic_source_keep:arrays] in arrays as ignored (#116065)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/21_synthetic_source_stored.yml
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapperTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowActionTests.java
Labels: >non-issue, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Mapping, v8.17.0

#116212 Handle status code 0 in S3 CMU response
  docs/changelog/116212.yaml
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobContainer.java
  test/fixtures/s3-fixture/src/main/java/fixture/s3/S3HttpHandler.java
  x-pack/plugin/snapshot-repo-test-kit/qa/s3/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/analyze/S3RepositoryAnalysisRestIT.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-backport, v9.0.0, v8.16.1, v8.17.0

#116075 Only create MapperService in SyntheticSourceIndexSettingsProvider when required
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/SyntheticSourceIndexSettingsProvider.java
  x-pack/plugin/logsdb/src/test/java/org/elasticsearch/xpack/logsdb/SyntheticSourceIndexSettingsProviderTests.java
Labels: >non-issue, auto-backport, Team:StorageEngine, :StorageEngine/Logs, v9.0.0, v8.17.0

#116202 Fix release tests for semantic_text
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/DataType.java
Labels: >test, Team:Analytics, auto-backport, test-release, :Analytics/ES|QL, v9.0.0, v8.17.0

#116227 [8.x] KQL plugin - Code cleanup (#116180)
  x-pack/plugin/kql/build.gradle
  x-pack/plugin/kql/licenses/antlr4-runtime-LICENSE.txt
  x-pack/plugin/kql/licenses/antlr4-runtime-NOTICE.txt
  x-pack/plugin/kql/src/main/java/module-info.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/ParserUtils.java
Labels: >non-issue, :Search/Search, backport, Team:Search, auto-merge-without-approval, v8.17.0

#116169 [CI] Unmute UpgradeClusterClientYamlTestSuiteIT
  muted-tests.yml
Labels: >test, :ml, Team:ML, v8.16.0, v8.16.1

#116226 [8.16] Track source for objects and fields with [synthetic_source_keep:arrays] in arrays as ignored (#116065)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/21_synthetic_source_stored.yml
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapperTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowActionTests.java
Labels: >non-issue, backport, Team:StorageEngine, :StorageEngine/Mapping, v8.16.1

#116192 Enable DEBUG logging for `FileSettingsServiceTests`
  muted-tests.yml
  server/src/test/java/org/elasticsearch/reservedstate/service/FileSettingsServiceTests.java
Labels: >test, :Core/Infra/Settings, Team:Core/Infra, auto-merge-without-approval, v9.0.0

#116231 [8.16] Handle status code 0 in S3 CMU response (#116212)
  docs/changelog/116212.yaml
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobContainer.java
  test/fixtures/s3-fixture/src/main/java/fixture/s3/S3HttpHandler.java
  x-pack/plugin/snapshot-repo-test-kit/qa/s3/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/analyze/S3RepositoryAnalysisRestIT.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge-without-approval, v8.16.1

#116229 [TEST] Restore rest compat tests
  rest-api-spec/build.gradle
Labels: >test, Team:StorageEngine, :StorageEngine/Mapping

#116233 [8.x] Only create MapperService in SyntheticSourceIndexSettingsProvider when required (#116075)
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/SyntheticSourceIndexSettingsProvider.java
  x-pack/plugin/logsdb/src/test/java/org/elasticsearch/xpack/logsdb/SyntheticSourceIndexSettingsProviderTests.java
Labels: >non-issue, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Logs, v8.17.0

#116235 [8.x] Backport semantic text string support
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/DataType.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/mapping-semantic_text.json
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/semantic_text.csv
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/semantic_text.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToBoolean.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToCartesianPoint.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToCartesianShape.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDateNanos.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDatetime.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDouble.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToGeoPoint.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToGeoShape.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIP.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToInteger.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToLong.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToString.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToUnsignedLong.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToVersion.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/Equals.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/GreaterThan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/GreaterThanOrEqual.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/LessThan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/LessThanOrEqual.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/NotEquals.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverter.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/CaseTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/GreatestTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/LeastTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/FromBase64Tests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToBase64Tests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/AbstractMultivalueFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSliceTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSortTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/ConcatTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/LeftTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/LengthTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/RLikeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/RepeatTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/ReverseTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/RightTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/SplitTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/SubstringTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/ToLowerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/ToUpperTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/WildcardLikeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/EqualsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/GreaterThanOrEqualTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/GreaterThanTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/InTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/LessThanOrEqualTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/LessThanTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverterTests.java
Labels: >non-issue, backport, :Analytics/ES|QL, v8.17.0

#116219 [apm-data] Apply lazy rollover on index template creation
  docs/changelog/116219.yaml
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/10_apm.yml
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/10_rollover.yml
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/template/RolloverEnabledTestTemplateRegistry.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistry.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/template/YamlTemplateRegistry.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistryTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/template/TestRegistryWithCustomPlugin.java
Labels: >bug, :Data Management/Data streams, Team:Data Management, auto-backport, v8.16.0, v9.0.0, v8.15.4, v8.17.0

#116237 [8.16] [8.17][ML] Set max allocations to 32 in default configs (#115518) (#115564)
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/DefaultEndPointsIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalService.java
Labels: :ml, backport, auto-merge-without-approval, v8.16.1

#116197 [CI] JvmStatsTests testJvmStats failing (115711)
  muted-tests.yml
  server/src/test/java/org/elasticsearch/monitor/jvm/JvmStatsTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, auto-backport, v9.0.0, v8.17.0

#116181 [TEST] Adjust PartialHitCountCollectorTests#testCollectedHitCount
  server/src/test/java/org/elasticsearch/search/query/PartialHitCountCollectorTests.java
Labels: >test, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v8.17.0

#116194 [8.x] Ignore conflicting fields during dynamic mapping update (#114227)
  docs/changelog/114227.yaml
  server/src/internalClusterTest/java/org/elasticsearch/index/mapper/DynamicMappingIT.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperMergeTests.java
Labels: backport, external-contributor, auto-merge-without-approval, v8.17.0

#116241 [8.x] [apm-data] Apply lazy rollover on index template creation (#116219)
  docs/changelog/116219.yaml
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/10_apm.yml
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/10_rollover.yml
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/template/RolloverEnabledTestTemplateRegistry.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistry.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/template/YamlTemplateRegistry.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistryTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/template/TestRegistryWithCustomPlugin.java
Labels: >bug, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.17.0

#116239 [DOCS] Updates 'Connectors' section's page references
  docs/reference/connector/docs/_connectors-create-client.asciidoc
  docs/reference/connector/docs/_connectors-create-native.asciidoc
  docs/reference/connector/docs/connectors-hosted-tutorial-mongo.asciidoc
  docs/reference/connector/docs/connectors-managed-service.asciidoc
  docs/reference/connector/docs/connectors-usage.asciidoc
  docs/reference/connector/docs/dls-e2e-guide.asciidoc
  docs/reference/connector/docs/postgresql-connector-client-tutorial.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.16.0, v9.0.0, v8.17.0

#115660 [ESQL] Add warnings on STATS alias collisions
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClusterSpecIT.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/inlinestats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/RemoveStatsOverride.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ExpressionBuilder.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >enhancement, >non-issue, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.17.0, auto-merge

#116244 [8.15] [apm-data] Apply lazy rollover on index template creation (#116219)
  docs/changelog/116219.yaml
  x-pack/plugin/apm-data/src/main/java/org/elasticsearch/xpack/apmdata/APMIndexTemplateRegistry.java
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/10_apm.yml
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/10_rollover.yml
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/template/RolloverEnabledTestTemplateRegistry.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistry.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistryTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/template/TestRegistryWithCustomPlugin.java
Labels: >bug, backport, :Data Management/Data streams

#116240 [8.16] [apm-data] Apply lazy rollover on index template creation (#116219)
  docs/changelog/116219.yaml
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/10_apm.yml
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/10_rollover.yml
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/template/RolloverEnabledTestTemplateRegistry.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistry.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/template/YamlTemplateRegistry.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistryTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/template/TestRegistryWithCustomPlugin.java
Labels: >bug, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.16.1

#114879 Add refresh .security index call between security migrations
  docs/changelog/114879.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecurityMigrationExecutor.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/support/SecurityMigrationExecutorTests.java
Labels: >enhancement, :Security/Security, Team:Security, v9.0.0

#115876 [ML] Inference duration and error metrics
  docs/changelog/115876.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportInferenceAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/common/DelegatingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/telemetry/ApmInferenceStats.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/telemetry/InferenceStats.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/telemetry/InferenceTimer.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/action/TransportInferenceActionTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/telemetry/ApmInferenceStatsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/telemetry/InferenceStatsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/telemetry/InferenceTimerTests.java
Labels: >enhancement, :ml, Team:ML, v9.0.0

#116174 Handle with illegalArgumentExceptions negative values in HDR percentile aggregations
  docs/changelog/116174.yaml
  modules/aggregations/build.gradle
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/percentiles_hdr_metric.yml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/AbstractHDRPercentilesAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/HDRPercentileRanksAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/HDRPercentilesAggregatorTests.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, auto-backport, v9.0.0, v8.16.1, v8.17.0

#116252 Backport of [CI] JvmStatsTests testJvmStats failing (115711)
  muted-tests.yml
  server/src/test/java/org/elasticsearch/monitor/jvm/JvmStatsTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.17.0

#116204 Fix testSearchConcurrencyDoesNotCreateMoreTasksThanThreads failure
  muted-tests.yml
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
Labels: >test, auto-backport, Team:Search Foundations, :Search Foundations/Search, v8.16.1, v8.17.0

#116114 [8.16] Unmute HdfsRepositoryAnalysisRestIT (#116056)
  muted-tests.yml
Labels: backport, needs:triage, auto-merge-without-approval, v8.16.1

#116259 Fix `_type` deprecation on simulate pipeline API
  docs/changelog/116259.yaml
  server/src/main/java/org/elasticsearch/action/ingest/SimulatePipelineRequest.java
  server/src/main/java/org/elasticsearch/rest/action/ingest/RestSimulatePipelineAction.java
Labels: >deprecation, :Data Management/Ingest Node, v9.0.0

#116128 Add num docs and size to logsdb telemetry
  docs/changelog/116128.yaml
  server/src/internalClusterTest/java/org/elasticsearch/monitor/metrics/IndicesMetricsIT.java
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/monitor/metrics/IndexModeStatsActionType.java
  server/src/main/java/org/elasticsearch/monitor/metrics/IndexStats.java
  server/src/main/java/org/elasticsearch/monitor/metrics/IndicesMetrics.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackFeatures.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/application/LogsDBFeatureSetUsage.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsDBUsageTransportAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/logsdb/10_usage.yml
Labels: >enhancement, auto-backport, Team:StorageEngine, :StorageEngine/Logs, v9.0.0, v8.17.0

#116113 [8.x] Unmute HdfsRepositoryAnalysisRestIT (#116056)
  muted-tests.yml
Labels: backport, needs:triage, auto-merge-without-approval, v8.17.0

#116267 Unmute DocsClientYamlTestSuiteIT post-resume-follow/line_84 (#115918)
  muted-tests.yml
Labels: >test, backport, auto-merge-without-approval, v8.17.0

#115675 Removing ChunkingSettingsFeatureFlag
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/FeatureFlag.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/inference/ChunkingSettingsFeatureFlag.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/ModelRegistryIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/chunking/ChunkingSettingsBuilder.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/alibabacloudsearch/AlibabaCloudSearchService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/amazonbedrock/AmazonBedrockService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/azureaistudio/AzureAiStudioService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/azureopenai/AzureOpenAiService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/cohere/CohereService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googlevertexai/GoogleVertexAiService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceBaseService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/mistral/MistralService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/ModelConfigurationsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/chunking/ChunkingSettingsBuilderTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/alibabacloudsearch/AlibabaCloudSearchServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/amazonbedrock/AmazonBedrockServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/azureaistudio/AzureAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/azureopenai/AzureOpenAiServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/CohereServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googlevertexai/GoogleVertexAiServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/mistral/MistralServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/OpenAiServiceTests.java
Labels: >non-issue, :ml, Team:ML, test-release, v9.0.0

#116266 Align dot prefix validation with Serverless
  docs/changelog/116266.yaml
  modules/dot-prefix-validation/src/main/java/org/elasticsearch/validation/DotPrefixValidationPlugin.java
  modules/dot-prefix-validation/src/main/java/org/elasticsearch/validation/DotPrefixValidator.java
  modules/dot-prefix-validation/src/test/java/org/elasticsearch/validation/DotPrefixValidatorTests.java
Labels: >bug, :Data Management/Indices APIs, Team:Data Management, auto-merge-without-approval, auto-backport, v9.0.0, v8.16.1, v8.17.0

#116242 Move the lucene_snapshot branch to target branch_10x
  .buildkite/pipelines/lucene-snapshot/build-snapshot.yml
Labels: >non-issue, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#116269 [8.16] Fix testSearchConcurrencyDoesNotCreateMoreTasksThanThreads failure
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
Labels: >test, backport, Team:Search Foundations, :Search Foundations/Search, v8.16.1

#116209 Flatten QueryPhaseResultConsumer
  server/src/main/java/org/elasticsearch/action/search/QueryPhaseResultConsumer.java
Labels: >non-issue, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#116210 Parse bulk lines in individual steps (#114086)
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequestParser.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestBulkAction.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestParserTests.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestBulkActionTests.java
Labels: >non-issue, :Distributed Indexing/CRUD, backport, v8.17.0

#115990 (Doc+) Resolve watermark on Cloud via Autoscaling
  docs/reference/troubleshooting/common-issues/disk-usage-exceeded.asciidoc
Labels: >enhancement, >docs, Team:Docs, external-contributor, auto-backport, Supportability, v8.15.0, v8.16.0, v9.0.0, auto-merge

#116278 [8.x] Use underlying ByteBuf refCount for ReleasableBytesReference (#116211)
  docs/changelog/116211.yaml
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4MessageInboundHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Utils.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/Netty4UtilsTests.java
Labels: >bug, :Distributed Coordination/Network, backport, auto-merge-without-approval, v8.17.0, Team:Distributed Coordination

#116082 Add support for bitwise inner-product in painless
  docs/changelog/116082.yaml
  docs/reference/vectors/vector-functions.asciidoc
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/ESVectorUtil.java
  libs/simdvec/src/test/java/org/elasticsearch/simdvec/ESVectorUtilTests.java
  modules/lang-painless/build.gradle
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/146_dense_vector_bit_basic.yml
  server/src/main/java/org/elasticsearch/rest/action/search/SearchCapabilities.java
  server/src/main/java/org/elasticsearch/script/VectorScoreScriptUtils.java
  server/src/main/java/org/elasticsearch/script/field/vectors/BitBinaryDenseVector.java
  server/src/main/java/org/elasticsearch/script/field/vectors/BitKnnDenseVector.java
  server/src/main/java/org/elasticsearch/script/field/vectors/ByteBinaryDenseVector.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/BinaryDenseVectorScriptDocValuesTests.java
  server/src/test/java/org/elasticsearch/script/VectorScoreScriptUtilsTests.java
Labels: >enhancement, auto-merge-without-approval, auto-backport, :Search Relevance/Vectors, Team:Search Relevance, v9.0.0, v8.17.0

#116224 Synonyms test fix - number of shards
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/synonyms/90_synonyms_reloading_for_synset.yml
Labels: >test, :Search Relevance/Analysis, Team:Search Relevance, serverless-linked, v9.0.0

#114831 Add ES|QL match operator (:)
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/planner/ExpressionTranslators.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/querydsl/query/MatchQuery.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/querydsl/query/MatchQueryTests.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/match-operator.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats_top.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/MatchOperatorIT.java
  x-pack/plugin/esql/src/main/antlr/EsqlBaseLexer.g4
  x-pack/plugin/esql/src/main/antlr/EsqlBaseLexer.tokens
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.g4
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.tokens
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/fulltext/FullTextFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/fulltext/Match.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/PushFiltersToSource.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ExpressionBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsqlExpressionTranslators.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/fulltext/MatchTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/180_match_operator.yml
Labels: >non-issue, Team:Analytics, test-release, :Analytics/ES|QL, Team:Search Relevance, :Search Relevance/Search, v9.0.0

#116282 Remove redundant synchronized block from QueryPhaseResultConsumer
  server/src/main/java/org/elasticsearch/action/search/QueryPhaseResultConsumer.java
Labels: >non-issue, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#116268 [DOCS] Fix typo in percentile-aggregation.asciidoc
  docs/reference/aggregations/metrics/percentile-aggregation.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.15.0, v8.16.0, v9.0.0, v8.17.0

#116306 [8.15] [DOCS] Fix typo in percentile-aggregation.asciidoc (#116268)
  docs/reference/aggregations/metrics/percentile-aggregation.asciidoc
Labels: backport, auto-merge-without-approval, v8.15.5

#116305 [8.16] [DOCS] Fix typo in percentile-aggregation.asciidoc (#116268)
  docs/reference/aggregations/metrics/percentile-aggregation.asciidoc
Labels: backport, auto-merge-without-approval, v8.16.1

#116304 [8.x] [DOCS] Fix typo in percentile-aggregation.asciidoc (#116268)
  docs/reference/aggregations/metrics/percentile-aggregation.asciidoc
Labels: backport, auto-merge-without-approval, v8.17.0

#115511 Long balance computation should not delay new index primary assignment
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/ContinuousComputation.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalance.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputer.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/ContinuousComputationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocatorTests.java
Labels: >non-issue, :Distributed Coordination/Allocation, auto-merge-without-approval, auto-backport, v9.0.0, v8.17.0, Team:Distributed Coordination

#116320 [8.x] Updates Connectors section page references (#116239)
  docs/reference/connector/docs/_connectors-create-client.asciidoc
  docs/reference/connector/docs/_connectors-create-native.asciidoc
  docs/reference/connector/docs/connectors-hosted-tutorial-mongo.asciidoc
  docs/reference/connector/docs/connectors-managed-service.asciidoc
  docs/reference/connector/docs/connectors-usage.asciidoc
  docs/reference/connector/docs/dls-e2e-guide.asciidoc
  docs/reference/connector/docs/postgresql-connector-client-tutorial.asciidoc
Labels: backport, auto-merge-without-approval, v8.17.0

#116285 [8.x] Add support for bitwise inner-product in painless (#116082)
  docs/changelog/116082.yaml
  docs/reference/vectors/vector-functions.asciidoc
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/ESVectorUtil.java
  libs/simdvec/src/test/java/org/elasticsearch/simdvec/ESVectorUtilTests.java
  modules/lang-painless/build.gradle
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/146_dense_vector_bit_basic.yml
  server/src/main/java/org/elasticsearch/rest/action/search/SearchCapabilities.java
  server/src/main/java/org/elasticsearch/script/VectorScoreScriptUtils.java
  server/src/main/java/org/elasticsearch/script/field/vectors/BitBinaryDenseVector.java
  server/src/main/java/org/elasticsearch/script/field/vectors/BitKnnDenseVector.java
  server/src/main/java/org/elasticsearch/script/field/vectors/ByteBinaryDenseVector.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/BinaryDenseVectorScriptDocValuesTests.java
  server/src/test/java/org/elasticsearch/script/VectorScoreScriptUtilsTests.java
Labels: >enhancement, backport, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v8.17.0

#116311 Exclude "aggregations/percentiles_hdr_metric/Negative values test" from mixed cluster tests
  muted-tests.yml
  qa/mixed-cluster/build.gradle
Labels: :Analytics/Aggregations, >test-failure, Team:Analytics, needs:risk, v9.0.0

#116302 Make InternalCentroid leaner
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalCentroid.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/InternalGeoCentroid.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/search/aggregations/metrics/InternalCartesianCentroid.java
Labels: >non-issue, :Analytics/Geo, Team:Analytics, auto-backport, v9.0.0, v8.17.0

#116263 [ML] Add debug logging for tests failing with empty model download
  muted-tests.yml
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/DefaultEndPointsIT.java
  x-pack/plugin/ml-package-loader/src/main/java/org/elasticsearch/xpack/ml/packageloader/action/ModelLoaderUtils.java
Labels: >test, :ml, Team:ML, v9.0.0

#116288 [8.x] Align dot prefix validation with Serverless (#116266)
  docs/changelog/116266.yaml
  modules/dot-prefix-validation/src/main/java/org/elasticsearch/validation/DotPrefixValidationPlugin.java
  modules/dot-prefix-validation/src/main/java/org/elasticsearch/validation/DotPrefixValidator.java
  modules/dot-prefix-validation/src/test/java/org/elasticsearch/validation/DotPrefixValidatorTests.java
Labels: backport, auto-merge-without-approval, v8.17.0

#116324 [CI] Remove test support for windows 2016 and 2019
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic-platform-support.yml
  .buildkite/pipelines/pull-request/packaging-tests-windows-sample.yml
  .buildkite/pipelines/pull-request/packaging-tests-windows.yml
  qa/packaging/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
Labels: >non-issue, :Delivery/Packaging, Team:Delivery, v9.0.0

#116340 Clarify that MSSQL supports only SQL Server auth
  docs/reference/connector/docs/connectors-ms-sql.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.16.0, v9.0.0, v8.17.0

#116343 [8.x] Clarify that MSSQL supports only SQL Server auth (#116340)
  docs/reference/connector/docs/connectors-ms-sql.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.17.0

#116342 [8.16] Clarify that MSSQL supports only SQL Server auth (#116340)
  docs/reference/connector/docs/connectors-ms-sql.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.16.1

#114207 Remove `cluster.routing.allocation.disk.watermark.enable_for_single_data_node` setting
  docs/changelog/114207.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDecider.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderTests.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/storage/AutoscalingStorageIntegTestCase.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
Labels: >breaking, :Distributed Coordination/Allocation, auto-merge-without-approval, v9.0.0, Team:Distributed Coordination

#113713 Adding inference endpoint validation for AzureAiStudioService
  docs/changelog/113713.yaml
  server/src/main/java/org/elasticsearch/inference/InferenceService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/ServiceUtils.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/azureaistudio/AzureAiStudioService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/validation/ChatCompletionModelValidator.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/validation/ModelValidatorBuilder.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/azureaistudio/AzureAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/validation/ChatCompletionModelValidatorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/validation/ModelValidatorBuilderTests.java
Labels: >enhancement, :ml, Team:ML, auto-backport, v9.0.0, v8.17.0

#116331 Refactor DesiredBalanceComputer#hasComputationConverged
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputer.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocatorTests.java
Labels: >non-issue, :Distributed Coordination/Allocation, needs:triage, auto-merge-without-approval, v9.0.0

#116308 [8.x] Add ES|QL match operator (:) (#114831)
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/planner/ExpressionTranslators.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/querydsl/query/MatchQuery.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/querydsl/query/MatchQueryTests.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/match-operator.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats_top.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/MatchOperatorIT.java
  x-pack/plugin/esql/src/main/antlr/EsqlBaseLexer.g4
  x-pack/plugin/esql/src/main/antlr/EsqlBaseLexer.tokens
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.g4
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.tokens
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/fulltext/FullTextFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/fulltext/Match.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/PushFiltersToSource.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ExpressionBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsqlExpressionTranslators.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/fulltext/MatchTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/180_match_operator.yml
Labels: backport, test-release, v8.17.0
