Repository elastic/elasticsearch, pull requests merged in 2024-03, with the labels that each got.

#105856 Stop allocating/acquiring pages redundantly in RecyclerBytesStreamOutput
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/NettyAllocator.java
  server/src/main/java/org/elasticsearch/common/io/stream/RecyclerBytesStreamOutput.java
  server/src/main/java/org/elasticsearch/common/recycler/AbstractRecycler.java
  server/src/main/java/org/elasticsearch/common/recycler/Recycler.java
  server/src/main/java/org/elasticsearch/common/recycler/Recyclers.java
  server/src/main/java/org/elasticsearch/common/util/PageCacheRecycler.java
  server/src/main/java/org/elasticsearch/transport/BytesRefRecycler.java
  server/src/test/java/org/elasticsearch/common/io/stream/RecyclerBytesStreamOutputTests.java
  server/src/test/java/org/elasticsearch/common/recycler/AbstractRecyclerTestCase.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestTableTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, v8.14.0

#105700 Document 429 handling generically
  docs/reference/api-conventions.asciidoc
Labels: >docs, :Core/Infra/REST API, Team:Core/Infra, Team:Docs, auto-backport-and-merge, v8.13.0, v8.12.2, v8.14.0

#105869 [8.13] Document 429 handling generically (#105700)
  docs/reference/api-conventions.asciidoc
Labels: >docs, :Core/Infra/REST API, backport, Team:Core/Infra, Team:Docs, auto-merge, v8.13.1

#105872 (+DOC)(ILM) Shrink recovers to specific node
  docs/reference/indices/shrink-index.asciidoc
Labels: >enhancement, >docs, :Data Management/Indices APIs, Team:Data Management, Team:Docs, external-contributor, auto-backport-and-merge, Supportability, v8.11.5, v8.13.1, v8.14.0, v8.12.3

#105876 [8.13] (+DOC)(ILM) Shrink recovers to specific node (#105872)
  docs/reference/indices/shrink-index.asciidoc
Labels: >enhancement, >docs, :Data Management/Indices APIs, backport, Team:Data Management, Team:Docs, external-contributor, auto-merge, Supportability, v8.13.1

#105875 [8.11] (+DOC)(ILM) Shrink recovers to specific node (#105872)
  docs/reference/indices/shrink-index.asciidoc
Labels: >enhancement, >docs, :Data Management/Indices APIs, backport, Team:Data Management, Team:Docs, external-contributor, auto-merge, Supportability, v8.11.5

#105877 [8.12] (+DOC)(ILM) Shrink recovers to specific node (#105872)
  docs/reference/indices/shrink-index.asciidoc
Labels: >enhancement, >docs, :Data Management/Indices APIs, backport, Team:Data Management, Team:Docs, external-contributor, auto-merge, Supportability, v8.12.3

#105873 [8.13] Update Gradle Enterprise plugin to 3.16.2 (#105871)
  gradle/build.versions.toml
  gradle/verification-metadata.xml
  plugins/examples/settings.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.13.1

#105848 ProjectOperator should not retain references to released blocks
  docs/changelog/105848.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ProjectOperator.java
Labels: >bug, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.13.1, v8.14.0, v8.12.3

#105883 [8.13] ProjectOperator should not retain references to released blocks (#105848)
  docs/changelog/105848.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ProjectOperator.java
Labels: >bug, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.1

#105889 Avoid eager loading Netty classes in Netty4Plugin
  modules/transport-netty4/src/internalClusterTest/java/org/elasticsearch/ESNetty4IntegTestCase.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Plugin.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/SharedGroupFactory.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/transport/netty4/SharedGroupFactoryTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/test/NativeRealmIntegTestCase.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, auto-merge, v8.14.0

#105765 Reduce copying in `GetSnapshotsOperation#snapshots()`
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.14.0

#105888 Cache set of metric names in NodesInfoMetrics
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/info/NodesInfoMetrics.java
Labels: >non-issue, :Data Management/Stats, Team:Data Management, v8.14.0

#105884 Extract cold(ish) paths in some SearchPhases
  server/src/main/java/org/elasticsearch/action/search/ExpandSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/FetchLookupFieldsPhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchScrollQueryThenFetchAsyncAction.java
Labels: >non-issue, :Search/Search, Team:Search, v8.14.0

#105722 [Connectors API] Guard cancel and update error sync job endpoints with state machine
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/430_connector_sync_job_cancel.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/450_connector_sync_job_error.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobInvalidStatusTransitionException.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobStateMachine.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobIndexServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobStateMachineTests.java
Labels: >non-issue, :EnterpriseSearch/Application, Team:Enterprise Search, v8.14.0

#103597 Update README.asciidoc
  README.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.13.1, v8.14.0, v8.12.3

#105810 [Connectors Secrets API] Make validation error message consistent and add test case for null value
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/secrets/action/PostConnectorSecretRequest.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/secrets/action/PostConnectorSecretActionTests.java
Labels: >non-issue, :EnterpriseSearch/Application, Team:Enterprise Search, v8.14.0

#105772 [ILM] Delete step deletes data stream with only one index
  docs/changelog/105772.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/DeleteStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/DeleteStepTests.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeSeriesDataStreamsIT.java
Labels: >bug, :Data Management/ILM+SLM, Team:Data Management, auto-merge, auto-backport-and-merge, v8.13.1, v8.14.0

#105760 Extract repository-resolution logic
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/get/TransportGetRepositoriesAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  server/src/main/java/org/elasticsearch/repositories/ResolvedRepositories.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestSnapshotAction.java
  server/src/test/java/org/elasticsearch/repositories/ResolvedRepositoriesTests.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
Labels: :Distributed/Snapshot/Restore, >refactoring, Team:Distributed, auto-merge, v8.14.0

#105721 Restrict scope of `GetSnapshotInfoContext`
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
  server/src/main/java/org/elasticsearch/repositories/FilterRepository.java
  server/src/main/java/org/elasticsearch/repositories/InvalidRepository.java
  server/src/main/java/org/elasticsearch/repositories/Repository.java
  server/src/main/java/org/elasticsearch/repositories/UnknownTypeRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/GetSnapshotInfoContext.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/RestoreOnlyRepository.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreTestUtil.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/repository/CcrRepository.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/TransportSLMGetExpiredSnapshotsAction.java
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/TransportSLMGetExpiredSnapshotsActionTests.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.14.0

#105897 [8.13] [ILM] Delete step deletes data stream with only one index (#105772)
  docs/changelog/105772.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/DeleteStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/DeleteStepTests.java
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeSeriesDataStreamsIT.java
Labels: >bug, :Data Management/ILM+SLM, backport, Team:Data Management, auto-merge, v8.13.1

#105895 Simplify TransportGetSnapshotsAction#sortSnapshots
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.14.0

#105887 Cleanup duplicate code in DenseVectorFieldMapper
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.14.0

#105885 Dry up some painless code
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/ContextDocGenerator.java
  modules/lang-painless/src/doc/java/org/elasticsearch/painless/ContextGeneratorCommon.java
  modules/lang-painless/src/main/java/org/elasticsearch/painless/api/CIDR.java
  server/src/main/java/org/elasticsearch/common/network/CIDRUtils.java
Labels: >non-issue, :Core/Infra/Scripting, Team:Core/Infra, v8.14.0

#105789 Make Health API more resilient to multi-version clusters
  docs/changelog/105789.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/10_basic.yml
  server/src/main/java/org/elasticsearch/health/HealthFeatures.java
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/health/node/ShardsCapacityHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/main/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/health/node/ShardsCapacityHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorServiceTests.java
Labels: >bug, Team:Data Management, auto-backport, :Data Management/Health, v8.13.1, v8.14.0

#105881 Introduce Predicate Utilities for always true/false use-cases
  libs/core/src/main/java/org/elasticsearch/core/Predicates.java
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/KeyValueProcessor.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/shards/TransportClusterSearchShardsAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/state/TransportClusterStateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/TransportGetAliasesAction.java
  server/src/main/java/org/elasticsearch/action/bulk/Retry.java
  server/src/main/java/org/elasticsearch/action/bulk/Retry2.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilities.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/ResponseRewriter.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/bootstrap/ESPolicy.java
  server/src/main/java/org/elasticsearch/cluster/ClusterStateObserver.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingTable.java
  server/src/main/java/org/elasticsearch/common/network/NetworkUtils.java
  server/src/main/java/org/elasticsearch/common/regex/Regex.java
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/main/java/org/elasticsearch/index/shard/ShardSplittingQuery.java
  server/src/main/java/org/elasticsearch/indices/IndicesQueryCache.java
  server/src/main/java/org/elasticsearch/indices/SystemIndices.java
  server/src/main/java/org/elasticsearch/plugins/MapperPlugin.java
  server/src/main/java/org/elasticsearch/plugins/internal/RestExtension.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/LongTerms.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/transport/ProxyConnectionStrategy.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/put/UpdateSettingsRequestTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/AllocationDecidersTests.java
  server/src/test/java/org/elasticsearch/index/reindex/ReindexRequestTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MockFieldFilterPlugin.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractSerializationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractXContentTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/VersionRange.java
  x-pack/plugin/autoscaling/src/main/java/org/elasticsearch/xpack/autoscaling/storage/ReactiveStorageDeciderService.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportFollowInfoAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlTasks.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/support/UserRoleMapper.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/support/mapper/expressiondsl/ExpressionModel.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/restriction/WorkflowsRestriction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/support/Automatons.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/support/StringMatcher.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/support/StringMatcherTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlDailyMaintenanceService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportEvaluateDataFrameAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportInternalInferModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportSetUpgradeModeAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/MlMemoryAutoscalingDecider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/VoidChainTaskExecutor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/service/TransportGetServiceAccountAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/service/FileTokensTool.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformTask.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.14.0

#105578 Upgrade to Lucene 9.10.0.
  build-tools-internal/version.properties
  docs/Versions.asciidoc
  docs/changelog/105578.yaml
  gradle/verification-metadata.xml
  server/src/main/java/org/elasticsearch/index/IndexVersions.java
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  server/src/main/java/org/elasticsearch/index/engine/TranslogDirectoryReader.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentLeafReader.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsPhase.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhaseCollectorManager.java
  server/src/main/java/org/elasticsearch/search/vectors/ESKnnByteVectorQuery.java
  server/src/main/java/org/elasticsearch/search/vectors/ESKnnFloatVectorQuery.java
  server/src/test/java/org/elasticsearch/lucene/grouping/SinglePassGroupingCollectorSearchAfterTests.java
  server/src/test/java/org/elasticsearch/lucene/grouping/SinglePassGroupingCollectorTests.java
  server/src/test/java/org/elasticsearch/search/profile/query/ProfileCollectorManagerTests.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseCollectorTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/FieldTypeTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/snapshots/sourceonly/SourceOnlySnapshot.java
  x-pack/plugin/old-lucene-versions/src/main/java/org/elasticsearch/xpack/lucene/bwc/codecs/BWCCodec.java
  x-pack/plugin/old-lucene-versions/src/main/java/org/elasticsearch/xpack/lucene/bwc/codecs/lucene50/Lucene50FieldInfosFormat.java
Labels: >enhancement, :Search/Search, Team:Search, test-full-bwc, cloud-deploy, v8.13.0, v8.14.0

#105903 [8.13] Make Health API more resilient to multi-version clusters (#105789)
  docs/changelog/105789.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/10_basic.yml
  server/src/main/java/org/elasticsearch/health/HealthFeatures.java
  server/src/main/java/org/elasticsearch/health/node/DiskHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/health/node/ShardsCapacityHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/main/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/health/node/DiskHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/health/node/ShardsCapacityHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/snapshots/RepositoryIntegrityHealthIndicatorServiceTests.java
Labels: >bug, backport, Team:Data Management, auto-merge, :Data Management/Health, v8.13.1

#105899 [8.13] Update README.asciidoc (#103597)
  README.asciidoc
Labels: backport, v8.13.1

#105900 [8.12] Update README.asciidoc (#103597)
  README.asciidoc
Labels: backport, v8.12.3

#105904 [DOCS] Adds cohere service example to the inference API tutorial
  docs/reference/search/search-your-data/semantic-search-inference.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-ingest-pipeline-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-ingest-pipeline.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-mapping-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-mapping.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-reindex-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-reindex.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-requirements-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-requirements.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-search-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-search.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-task-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-task.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport, v8.13.0, v8.14.0

#105915 [8.13] [DOCS] Adds cohere service example to the inference API tutorial (#105904)
  docs/reference/search/search-your-data/semantic-search-inference.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-ingest-pipeline-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-ingest-pipeline.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-mapping-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-mapping.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-reindex-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-reindex.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-requirements-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-requirements.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-search-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-search.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-task-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-task.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, v8.13.1

#105919 Test mute for #105918
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/querydsl/query/SingleValueQueryTests.java
Labels: >test-mute, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.0

#105920 Test mute for #105918
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/querydsl/query/SingleValueQueryTests.java
Labels: >test-mute, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.1

#105924 Test mute for #105840
  x-pack/plugin/sql/qa/jdbc/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/FetchSizeTestCase.java
  x-pack/plugin/sql/qa/jdbc/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/JdbcErrorsTestCase.java
  x-pack/plugin/sql/qa/jdbc/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/PreparedStatementTestCase.java
  x-pack/plugin/sql/qa/jdbc/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/ResultSetTestCase.java
  x-pack/plugin/sql/qa/server/security/src/test/java/org/elasticsearch/xpack/sql/qa/security/JdbcSecurityIT.java
Labels: :Analytics/SQL, >test-mute, Team:Analytics, auto-merge, v8.14.0

#105925 Test mute for #105841
  server/src/test/java/org/elasticsearch/common/time/DateUtilsTests.java
Labels: :Core/Infra/Core, >test-mute, Team:Core/Infra, auto-merge, v7.17.19

#105909 ESQL: Don't test field extraction in 8.11
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/FieldExtractorIT.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/FieldExtractorTestCase.java
Labels: >test, Team:Analytics, test-full-bwc, :Analytics/ES|QL, v8.14.0

#105927 Update health YAML REST test skip version
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/10_basic.yml
Labels: >test, Team:Data Management, auto-merge, auto-backport-and-merge, :Data Management/Health, v8.13.1, v8.14.0

#105929 [8.13] Update health YAML REST test skip version (#105927)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/health/10_basic.yml
Labels: >test, backport, Team:Data Management, auto-merge, :Data Management/Health, v8.13.1

#105862 [7.17] Ignore Europe/Kyiv in timezone tests
  server/src/test/java/org/elasticsearch/common/time/DateUtilsTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v7.17.19

#105882 Make use of ActionListener#delegateFailureAndWrap in more spots in ML codebase
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/extractor/DataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/persistence/DatafeedConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndex.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/extractor/ExtractedFieldsDetectorFactory.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/persistence/DataFrameAnalyticsConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/persistence/DataFrameAnalyticsDeleter.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/steps/AbstractDataFrameAnalyticsStep.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/steps/AnalysisStep.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/steps/FinalStep.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/steps/InferenceStep.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/JobManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/AbstractExpiredJobDataRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/EmptyStateIndexRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/EmptyStateIndexRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredAnnotationsRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemoverTests.java
Labels: >non-issue, :ml, Team:ML, v8.14.0

#105858 Improve data_tier allocation explanation message
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierAllocationDecider.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/cluster/routing/allocation/DataTierAllocationDeciderTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.14.0

#103954 YAML test framework: simplify version node_selector
  rest-api-spec/src/yamlRestTest/java/org/elasticsearch/test/rest/ClientYamlTestSuiteIT.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.put_mapping/10_basic.yml
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/DoSection.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/DoSectionTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, test-full-bwc, test-update-serverless, v8.14.0

#105921 [7.17] Fix :plugins:repository-hdfs:forbiddenApisJavaRestTest (#102983)
  plugins/repository-hdfs/build.gradle
  test/fixtures/krb5kdc-fixture/build.gradle
Labels: backport, v7.17.19

#105916 [7.17] Allow resolving runtime java via Gradle tool chain provider
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/GitInfoPlugin.java
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/VersionPropertiesPlugin.java
  build-tools-internal/build.gradle
  build-tools-internal/settings.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/AbstractCustomJavaToolchainResolver.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/AdoptiumJdkToolchainResolver.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/ArchivedOracleJdkToolchainResolver.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/JavaToolChainResolverPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolver.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/AbstractToolchainResolverSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/AdoptiumJdkToolchainResolverSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/ArchivedOracleJdkToolchainResolverSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolverSpec.groovy
  build-tools/settings.gradle
  build-tools/src/main/java/org/elasticsearch/gradle/JdkDownloadPlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/VersionProperties.java
  settings.gradle
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, v7.17.19

#105750 [DSL] Refactor effective data retention
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/CrudDataStreamLifecycleIT.java
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/ExplainDataStreamLifecycleIT.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleService.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataIndexTemplateServiceTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamLifecycle.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/DataStreamAndIndexLifecycleMixingTests.java
Labels: >refactoring, :Data Management/Data streams, Team:Data Management, v8.14.0

#105948 [8.11] Update geoip.asciidoc (#105908)
  docs/reference/ingest/processors/geoip.asciidoc
Labels: backport, v8.11.5

#105947 [8.12] Update geoip.asciidoc (#105908)
  docs/reference/ingest/processors/geoip.asciidoc
Labels: backport, v8.12.3

#105946 [8.13] Update geoip.asciidoc (#105908)
  docs/reference/ingest/processors/geoip.asciidoc
Labels: backport, v8.13.1

#105943 Fix: old node_selector syntax from new esql test
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/120_profile.yml
Labels: >test, :Core/Infra/Core, Team:Core/Infra, Team:Analytics, test-full-bwc, :Analytics/ES|QL, test-update-serverless, v8.14.0

#105913 Manually backport changes from #105578
  build-tools-internal/version.properties
  docs/Versions.asciidoc
  docs/changelog/105578.yaml
  gradle/verification-metadata.xml
  server/src/main/java/org/elasticsearch/index/IndexVersions.java
  server/src/main/java/org/elasticsearch/index/engine/LuceneChangesSnapshot.java
  server/src/main/java/org/elasticsearch/index/engine/TranslogDirectoryReader.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentLeafReader.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsPhase.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhaseCollectorManager.java
  server/src/main/java/org/elasticsearch/search/vectors/ESKnnByteVectorQuery.java
  server/src/main/java/org/elasticsearch/search/vectors/ESKnnFloatVectorQuery.java
  server/src/test/java/org/elasticsearch/lucene/grouping/SinglePassGroupingCollectorSearchAfterTests.java
  server/src/test/java/org/elasticsearch/lucene/grouping/SinglePassGroupingCollectorTests.java
  server/src/test/java/org/elasticsearch/search/profile/query/ProfileCollectorManagerTests.java
  server/src/test/java/org/elasticsearch/search/query/QueryPhaseCollectorTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/FieldTypeTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/snapshots/sourceonly/SourceOnlySnapshot.java
  x-pack/plugin/old-lucene-versions/src/main/java/org/elasticsearch/xpack/lucene/bwc/codecs/BWCCodec.java
  x-pack/plugin/old-lucene-versions/src/main/java/org/elasticsearch/xpack/lucene/bwc/codecs/lucene50/Lucene50FieldInfosFormat.java
Labels: :Search/Search, backport, test-full-bwc, v8.13.0, v8.13.1

#105938 Fix gradle run on Serverless
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchCluster.java
Labels: >test, :Delivery/Build, Team:Delivery, v8.14.0

#105763 YAML test framework: re-introduce `requires` section and `cluster_features` conditions
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSuite.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/PrerequisiteSection.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSuiteTests.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/PrerequisiteSectionTests.java
Labels: >test, :Core/Infra/Core, >refactoring, Team:Core/Infra, test-full-bwc, test-update-serverless, v8.14.0

#105953 Test mute for #105952
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/querydsl/query/SingleValueQueryTests.java
Labels: >test-mute, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.0

#105954 Test mute for #105952
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/querydsl/query/SingleValueQueryTests.java
Labels: >test-mute, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.1

#105786 Add note about optional times and epochs
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, Team:Docs, Team:Search, auto-backport-and-merge, v8.0.2, v8.1.4, v8.2.4, v8.3.4, v8.4.4, v8.5.4, v8.6.3, v8.7.2, v8.8.3, v8.9.3, v8.10.5, v8.11.5, v7.17.19, v8.13.1, v8.14.0, v8.12.3

#105731 [test] Disable index.shard.check_on_startup for searchable snapshot tests
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/FrozenSearchableSnapshotsIntegTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsIntegTests.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, v8.14.0

#105960 [8.0] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.0.2

#105962 [8.2] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.2.4

#105961 [8.1] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.1.4

#105973 [8.13] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.13.1

#105950 Fix TransportSLMGetExpiredSnapshotsActionTests
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/TransportSLMGetExpiredSnapshotsActionTests.java
Labels: >non-issue, :Data Management/ILM+SLM, Team:Data Management, auto-merge, v8.14.0

#105965 [8.5] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.5.4

#105966 [8.6] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.6.3

#105963 [8.3] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.3.4

#105964 [8.4] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.4.4

#105967 [8.7] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.7.2

#105969 [8.9] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.9.3

#105970 [8.10] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.10.5

#105972 [7.17] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v7.17.19

#105968 [8.8] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.8.3

#105974 [8.12] Add note about optional times and epochs (#105786)
  docs/reference/mapping/params/format.asciidoc
Labels: >docs, :Search/Mapping, backport, Team:Docs, Team:Search, auto-merge, v8.12.3

#105930 Fix performance bug in `SourceConfirmedTextQuery#matches`
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/SourceConfirmedTextQuery.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/SourceConfirmedTextQueryTests.java
Labels: >bug, :Search/Highlighting, Team:Search, v8.13.1, v8.14.0

#105912 Bugfix for mixed version cluster queries using text expansion
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/queries/TextExpansionQueryBuilder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/queries/TextExpansionQueryBuilderTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/text_expansion_search.yml
Labels: >non-issue, :EnterpriseSearch/Application, Team:Enterprise Search, v8.14.0

#105976 Ignore America/Pangnirtung and Pacific/Kanton in timezone tests
  server/src/test/java/org/elasticsearch/common/time/DateUtilsTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v7.17.19

#105797 [ML] Enable retrying on 500 error response from Cohere text embedding API
  docs/changelog/105797.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/cohere/CohereResponseHandler.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/cohere/CohereResponseHandlerTests.java
Labels: >enhancement, :ml, Team:ML, v8.13.1, v8.14.0

#105932 Adjust randomization in ResolveClusterActionResponseTests
  server/src/test/java/org/elasticsearch/action/admin/indices/resolve/ResolveClusterActionResponseTests.java
Labels: >non-issue, :Search/Search, Team:Search, v8.14.0

#105766 Fix automatic generation of spatial function types files
  docs/reference/esql/functions/signature/to_cartesianpoint.svg
  docs/reference/esql/functions/signature/to_cartesianshape.svg
  docs/reference/esql/functions/signature/to_geopoint.svg
  docs/reference/esql/functions/signature/to_geoshape.svg
  docs/reference/esql/functions/st_centroid.asciidoc
  docs/reference/esql/functions/types/st_centroid.asciidoc
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/FunctionName.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToCartesianPointTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToCartesianShapeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToGeoPointTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToGeoShapeTests.java
Labels: >docs, >test, Team:Docs, Team:Analytics, :Analytics/ES|QL, v8.14.0

#105847 (API+) CAT Nodes alias for shard header to match CAT Allocation
  docs/changelog/105847.yaml
  docs/reference/cat/nodes.asciidoc
  server/src/main/java/org/elasticsearch/rest/action/cat/RestNodesAction.java
Labels: >enhancement, :Data Management/Stats, Team:Data Management, external-contributor, auto-merge, Supportability, v8.14.0

#105985 Wait forever for IndexTemplateRegistry asset installation
  docs/changelog/105985.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistry.java
Labels: >enhancement, :Data Management/Indices APIs, Team:Data Management, auto-merge, v8.14.0

#105791 Bugfix: Disable eager loading BitSetFilterCache on Indexing Nodes
  docs/changelog/105791.yaml
  server/src/main/java/org/elasticsearch/index/cache/bitset/BitsetFilterCache.java
  server/src/test/java/org/elasticsearch/index/cache/bitset/BitSetFilterCacheTests.java
Labels: >bug, :Search/Search, Team:Search, v8.14.0

#105996 ESQL: Reenable svq tests
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/querydsl/query/SingleValueQueryTests.java
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.0

#105835 Docs typo fix
  docs/reference/data-streams/lifecycle/index.asciidoc
Labels: >docs, :Data Management/Data streams, Team:Data Management, Team:Docs, external-contributor, auto-backport, v8.13.1, v8.14.0, v8.12.3

#105989 [7.17] Fix random timezone id selection to be consistent with DateUtilsTests.testTimezoneIds
  server/src/test/java/org/elasticsearch/common/time/DateUtilsTests.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/sql/qa/jdbc/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/JdbcIntegrationTestCase.java
  x-pack/plugin/sql/qa/server/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/JdbcIntegrationTestCase.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v7.17.19

#105554 [Transform] Cleanup and simplify reading transform settings
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/SettingsConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformEffectiveSettings.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/SettingsConfigTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/transforms/TransformEffectiveSettingsTests.java
  x-pack/plugin/transform/src/internalClusterTest/java/org/elasticsearch/xpack/transform/integration/TransformProgressIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportPreviewTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportStartTransformAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/checkpoint/TimeBasedCheckpointProvider.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformIndex.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformFailureHandler.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/Pivot.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/pivot/SchemaUtil.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/action/TransformConfigLinterTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/AggregationSchemaAndResultTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/PivotTests.java
Labels: >non-issue, :ml/Transform, Team:ML, v8.14.0

#105945 [Connector API] Fix default ordering in SyncJob list endpoint
  docs/changelog/105945.yaml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/470_connector_sync_job_list.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobIndexService.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobIndexServiceTests.java
Labels: >bug, auto-backport-and-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.0, v8.14.0

#105983 [8.13] Fix performance bug in SourceConfirmedTextQuery#matches
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/SourceConfirmedTextQuery.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/SourceConfirmedTextQueryTests.java
Labels: >bug, :Search/Highlighting, backport, v8.13.1

#105914 [ILM][Tests] Make sure we test the listener is called
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/DeleteStepTests.java
Labels: >non-issue, :Data Management/ILM+SLM, Team:Data Management, auto-merge, auto-backport-and-merge, v8.13.1, v8.14.0

#106009 [8.13] [Connector API] Fix default ordering in SyncJob list endpoint (#105945)
  docs/changelog/105945.yaml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/470_connector_sync_job_list.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobIndexService.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJobIndexServiceTests.java
Labels: >bug, backport, auto-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.1

#105987 [ML] Fix `categorize_text` aggregation nested under empty buckets
  docs/changelog/105987.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregatorTests.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.13.0, v8.14.0

#105498 Add service for computing the optimal number of shards for data streams
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProviderTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/UpdateTimeSeriesRangeServiceTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/action/GetDataStreamsResponseTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleServiceTests.java
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/datastreams/GetDataStreamAction.java
  server/src/main/java/org/elasticsearch/action/datastreams/autosharding/AutoShardingResult.java
  server/src/main/java/org/elasticsearch/action/datastreams/autosharding/AutoShardingType.java
  server/src/main/java/org/elasticsearch/action/datastreams/autosharding/DataStreamAutoShardingService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamAutoShardingEvent.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsService.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/action/datastreams/autosharding/DataStreamAutoShardingServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamAutoShardingEventTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/metadata/DataStreamTestHelper.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/action/DataStreamLifecycleUsageTransportActionIT.java
  x-pack/plugin/write-load-forecaster/src/main/java/org/elasticsearch/xpack/writeloadforecaster/LicensedWriteLoadForecaster.java
  x-pack/plugin/write-load-forecaster/src/test/java/org/elasticsearch/xpack/writeloadforecaster/LicensedWriteLoadForecasterTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, auto-merge, v8.14.0

#106010 [8.13] Make sure we test the listener is called (#105914)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/DeleteStepTests.java
Labels: >non-issue, :Data Management/ILM+SLM, backport, Team:Data Management, auto-merge, v8.13.1

#105768 Add two new OGC functions ST_X and ST_Y
  docs/changelog/105768.yaml
  docs/reference/esql/esql-functions-operators.asciidoc
  docs/reference/esql/functions/signature/st_x.svg
  docs/reference/esql/functions/signature/st_y.svg
  docs/reference/esql/functions/spatial-functions.asciidoc
  docs/reference/esql/functions/st_x.asciidoc
  docs/reference/esql/functions/st_y.asciidoc
  docs/reference/esql/functions/types/st_x.asciidoc
  docs/reference/esql/functions/types/st_y.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/show.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/spatial.csv-spec
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/StXFromWKBEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/StYFromWKBEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/StX.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/StY.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/StXTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/StYTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/util/SpatialCoordinateTypes.java
Labels: >enhancement, :Analytics/Geo, Team:Analytics, :Analytics/ES|QL, v8.14.0

#105910 Additional trace logging for desired balance computer
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputer.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardSizeInfo.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.14.0

#106012 [8.13] [ML] Fix `categorize_text` aggregation nested under empty buckets (#105987)
  docs/changelog/105987.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregatorTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.13.1

#105386 Add the parameter `failure_store` to multi-target syntax APIs
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/FailureStoreQueryParamIT.java
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/put/PutMappingRequest.java
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/main/java/org/elasticsearch/action/support/master/info/ClusterInfoRequest.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
  server/src/main/java/org/elasticsearch/indices/FailureIndexNotSupportedException.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexRequestTests.java
  server/src/test/java/org/elasticsearch/action/support/IndicesOptionsTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/metadata/DataStreamTestHelper.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedNodeSelectorTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.14.0

#106004 Minor improvement for SparseFileTracker toString
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/common/SparseFileTracker.java
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.14.0

#106001 [8.13] Docs typo fix (#105835)
  docs/reference/data-streams/lifecycle/index.asciidoc
Labels: >docs, backport, :Data Management/Data streams, Team:Data Management, Team:Docs, external-contributor, v8.13.1

#106002 [main] Docs typo fix (#105835)
  docs/reference/data-streams/lifecycle/index.asciidoc
Labels: >docs, backport, :Data Management/Data streams, Team:Data Management, Team:Docs, external-contributor, v8.14.0

#106014 Fix 104609 [CI] CartesianCentroidCalculatorTests testGeometryCollection failing
  server/src/test/java/org/elasticsearch/lucene/spatial/CentroidCalculatorTests.java
Labels: >test, :Analytics/Geo, Team:Analytics, auto-backport-and-merge, v8.13.1, v8.14.0, v8.12.3

#105659 Reduce overhead of (source-less) SearchHit
  server/src/main/java/org/elasticsearch/search/SearchHit.java
  server/src/main/java/org/elasticsearch/search/SearchHits.java
  server/src/main/java/org/elasticsearch/search/SearchSortValues.java
  server/src/test/java/org/elasticsearch/search/SearchSortValuesTests.java
Labels: >non-issue, :Search/Search, Team:Search, v8.14.0

#105907 Fix duplication around transport code in IndexBasedTransformConfigManager
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/IndexBasedTransformConfigManager.java
Labels: >non-issue, :ml/Transform, Team:ML, v8.14.0

#105994 Fix bug when nested knn pre-filter might match nested docs
  docs/changelog/105994.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/100_knn_nested_search.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/130_knn_query_nested_search.yml
  server/src/main/java/org/elasticsearch/search/vectors/KnnVectorQueryBuilder.java
Labels: >bug, Team:Search, auto-merge, auto-backport-and-merge, :Search/Vectors, v8.13.1, v8.14.0

#106018 [8.12] For cartesian values we are even more lenient with extremely large values (#106014)
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/fielddata/CentroidCalculatorTests.java
Labels: >test, :Analytics/Geo, backport, Team:Analytics, auto-merge, v8.12.3

#106017 [8.13] For cartesian values we are even more lenient with extremely large values (#106014)
  server/src/test/java/org/elasticsearch/lucene/spatial/CentroidCalculatorTests.java
Labels: >test, :Analytics/Geo, backport, Team:Analytics, auto-merge, v8.13.1

#105671 API key APIs customization
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BulkUpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BulkUpdateApiKeyRequestTranslator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/CreateApiKeyRequestBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/CreateApiKeyRequestBuilderFactory.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateApiKeyRequestTranslator.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestBulkUpdateApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestCreateApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestUpdateApiKeyAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/apikey/RestCreateApiKeyActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/apikey/RestUpdateApiKeyActionTests.java
Labels: >non-issue, :Security/Security, Team:Security, auto-merge, test-update-serverless, v8.14.0

#104801 Add Saml test connection timeout debugging output
  x-pack/qa/saml-idp-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/authc/saml/SamlAuthenticationIT.java
  x-pack/test/idp-fixture/build.gradle
  x-pack/test/idp-fixture/src/main/java/org/elasticsearch/test/fixtures/idp/IdpTestContainer.java
  x-pack/test/idp-fixture/src/main/resources/idp/bin/run-jetty.sh
Labels: :Delivery/Build, Team:Delivery, v8.14.0

#106016 Backport 103730 to fix 104719
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/metrics/CartesianShapeCentroidAggregatorTests.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.12.3

#106021 [8.13] Fix bug when nested knn pre-filter might match nested docs (#105994)
  docs/changelog/105994.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/100_knn_nested_search.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/130_knn_query_nested_search.yml
  server/src/main/java/org/elasticsearch/search/vectors/KnnVectorQueryBuilder.java
Labels: >bug, backport, Team:Search, auto-merge, :Search/Vectors, v8.13.1

#106015 Extract `SnapshotSortKey`
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/snapshots/RestGetSnapshotsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/GetSnapshotsIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/SnapshotSortKey.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetSnapshotsAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsRequestTests.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.14.0

#105939 Reenable heap attack tests
  test/external-modules/esql-heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/heap_attack/HeapAttackIT.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.14.0

#106027 Test mute for #105485
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >test-mute, auto-merge, :StorageEngine/Downsampling, Team:StorageEngine, v8.12.3

#106028 Test mute for #105485
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >test-mute, auto-merge, :StorageEngine/Downsampling, Team:StorageEngine, v8.13.1

#106029 Test mute for #105485
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >test-mute, auto-merge, :StorageEngine/Downsampling, Team:StorageEngine, v8.14.0

#105761 Inline `maybeFilterRepositories`
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.14.0

#105997 Use index block API in shrink/split/clone docs
  docs/reference/indices/clone-index.asciidoc
  docs/reference/indices/shrink-index.asciidoc
  docs/reference/indices/split-index.asciidoc
Labels: >docs, :Data Management/Indices APIs, Team:Data Management, Team:Docs, auto-backport-and-merge, v8.13.1, v8.14.0

#106037 [DOCS] Changes the cohere example to use a different model
  docs/reference/search/search-your-data/semantic-search-inference.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-mapping.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-search.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-task.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.13.0, v8.14.0

#106039 [8.13] [DOCS] Changes the cohere example to use a different model (#106037)
  docs/reference/search/search-your-data/semantic-search-inference.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-mapping.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-search.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-task.asciidoc
Labels: >docs, backport, Team:Docs, v8.13.1

#105998 Cleanup subproject creation in build tests
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/JdkDownloadPluginFuncTest.groovy
  build-tools/src/integTest/groovy/org/elasticsearch/gradle/DistributionDownloadPluginFuncTest.groovy
Labels: >test, :Delivery/Build, Team:Delivery, v8.14.0

#106013 Increase master transition threshold in health API YAML REST tests
  qa/mixed-cluster/build.gradle
Labels: blocker, >test-failure, Team:Data Management, :Data Management/Health, v8.14.0

#106045 Test mute for #106044
  server/src/test/java/org/elasticsearch/index/mapper/BooleanScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DoubleScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LongScriptFieldTypeTests.java
Labels: >test-mute, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.0

#106046 Test mute for #106044
  server/src/test/java/org/elasticsearch/index/mapper/BooleanScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DoubleScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LongScriptFieldTypeTests.java
Labels: >test-mute, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.1

#106042 Remove end of life Java versions from our testing matrix
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, auto-backport-and-merge, v8.13.1, v8.14.0, v8.12.3

#106036 Add status for enrich operator
  docs/changelog/106036.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/AsyncOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverProfile.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AsyncOperatorStatusTests.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersEnrichIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EnrichIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichLookupOperator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlPlugin.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/enrich/EnrichOperatorStatusTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.14.0

#106047 [8.13] Remove end of life Java versions from our testing matrix (#106042)
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.13.1

#106049 Adjust terminal to new behavior in JDK 22. (#103614)
  libs/cli/build.gradle
  libs/cli/src/main/java/org/elasticsearch/cli/Terminal.java
  libs/cli/src/test/java/org/elasticsearch/cli/TerminalTests.java
Labels: backport, auto-merge, v8.12.3

#106051 Adjust terminal tests to new behavior in JDK 22. (#103614)
  libs/cli/build.gradle
  libs/cli/src/main/java/org/elasticsearch/cli/Terminal.java
Labels: backport, auto-merge, v7.17.19

#105783 [Profiling] Use seed for consistent test results
  x-pack/plugin/profiling/src/internalClusterTest/java/org/elasticsearch/xpack/profiling/GetStackTracesActionIT.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/GetStackTracesRequest.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetStackTracesAction.java
Labels: >test, :UniversalProfiling/Application, Team:obs-knowledge, v8.14.0

#105398 Add time series source operator.
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/TimeSeriesSortedSourceOperatorFactory.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/TimeSeriesSortedSourceOperatorTests.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/TSDBRestEsqlIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/resources/tsdb-bulk-request.txt
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/resources/tsdb-mapping.json
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/resources/tsdb-settings.json
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EsQueryExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EsTimeseriesQueryExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/QueryPragmas.java
Labels: >non-issue, Team:Analytics, :StorageEngine/TSDB, :Analytics/Compute Engine, Team:StorageEngine, v8.14.0

#106020 Reset job if existing reset fails
  docs/changelog/106020.yaml
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/get/TransportGetTaskAction.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ResetJobIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportResetJobAction.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.13.0, v8.14.0

#106054 Fix ILM to DSL migration test for BA.
  x-pack/plugin/ent-search/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/application/FullClusterRestartIT.java
Labels: >test, auto-backport, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.1, v8.14.0, v8.12.3

#106058 Backport 106020
  docs/changelog/106020.yaml
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/tasks/get/TransportGetTaskAction.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/ResetJobIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportResetJobAction.java
Labels: :ml, backport, Team:ML, auto-merge, v8.13.0

#106057 Avoid computing currentInferenceProcessors on every cluster state
  docs/changelog/106057.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessor.java
Labels: >bug, :ml, Team:ML, v8.13.1, v8.14.0

#106064 [8.13] Fix ILM to DSL migration test for BA. (#106054)
  x-pack/plugin/ent-search/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/application/FullClusterRestartIT.java
Labels: >test, backport, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.1

#106066 Optimize no-op update of SafeCommitInfo
  server/src/main/java/org/elasticsearch/index/engine/CombinedDeletionPolicy.java
  server/src/test/java/org/elasticsearch/index/engine/CombinedDeletionPolicyTests.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, auto-merge, v8.14.0

#106060 [Connector API] Fix serialisation of script params in connector index service
  docs/changelog/106060.yaml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorConfiguration.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/UpdateConnectorConfigurationAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/configuration/ConfigurationDependency.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/configuration/ConfigurationSelectOption.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/configuration/ConfigurationValidation.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorConfigurationTests.java
Labels: >bug, auto-backport-and-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.0, v8.14.0

#106070 [8.13] [DOCS] Documents scripted metric aggregation limitation in datafeeds (#106059)
  docs/reference/ml/anomaly-detection/ml-configuring-aggregations.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge, v8.13.1

#106071 [8.12] [DOCS] Documents scripted metric aggregation limitation in datafeeds (#106059)
  docs/reference/ml/anomaly-detection/ml-configuring-aggregations.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge, v8.12.3

#105988 Improve error message for CrossClusterAsyncSearchIT test
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/CrossClusterAsyncSearchIT.java
Labels: >non-issue, :Search/Search, Team:Search, v8.14.0

#106072 [8.13] [Connector API] Fix serialisation of script params in connector index service (#106060)
  docs/changelog/106060.yaml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorConfiguration.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/UpdateConnectorConfigurationAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/configuration/ConfigurationDependency.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/configuration/ConfigurationSelectOption.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/configuration/ConfigurationValidation.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorConfigurationTests.java
Labels: >bug, backport, auto-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.1

#106034 [Transform] Make use of delegateFailureAndWrap
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportPutTransformAction.java
Labels: >non-issue, :ml/Transform, Team:ML, v8.14.0

#106074 throw IllegalArgumentException instead of AggregationInitializationException when adding a sub-aggregation to a metric aggregation
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/metric/ArrayValuesSourceAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/AggregationInitializationException.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/MultiValuesSourceAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceAggregationBuilder.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/GeoBoundsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/TopHitsTests.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregationBuilder.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregationBuilderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/search/aggregations/metrics/CartesianBoundsTests.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.14.0

#105940 Grow buckets on RangeAggregator eagerly when it is the top aggregator
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/BinaryRangeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregator.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.14.0

#106053 Speed up serialization of BytesRefArray
  docs/changelog/106053.yaml
  server/src/main/java/org/elasticsearch/common/util/BigArrays.java
  server/src/main/java/org/elasticsearch/common/util/BigByteArray.java
  server/src/main/java/org/elasticsearch/common/util/ByteArray.java
  server/src/main/java/org/elasticsearch/common/util/BytesRefArray.java
  server/src/main/java/org/elasticsearch/common/util/ReleasableByteArray.java
  server/src/test/java/org/elasticsearch/common/util/BigArraysTests.java
  test/framework/src/main/java/org/elasticsearch/common/util/MockBigArrays.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.14.0

#106078 Split out Java matrix BWC tasks
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
  build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.13.1, v8.14.0, v8.12.3

#106082 [8.13] Split out Java matrix BWC tasks (#106078)
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
  build.gradle
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.13.1

#106083 [8.12] Split out Java matrix BWC tasks (#106078)
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
  build.gradle
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.12.3

#106040 [ML] Preserving thread context in inference API request executor
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/RequestExecutorService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/ExecutableRequestCreatorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/RequestExecutorServiceTests.java
Labels: >non-issue, :ml, Team:ML, v8.14.0

#106087 ESQL: Fix order in block loading tests
  server/src/test/java/org/elasticsearch/index/mapper/BooleanScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DoubleScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordScriptFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LongScriptFieldTypeTests.java
Labels: >test, Team:Analytics, auto-merge, auto-backport-and-merge, :Analytics/ES|QL, v8.13.1, v8.14.0

#106052 Re-enable the RemoteClusterSecurityBwcRestIT
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityBwcRestIT.java
Labels: >test, :Security/Security, Team:Security, v8.14.0
