Repository elastic/elasticsearch, pull requests merged in 2024-04, with the labels that each got.

#106915 Check that operations on the Kibana system index use system index thread pools
  modules/kibana/src/test/java/org/elasticsearch/kibana/KibanaThreadPoolTests.java
  test/framework/src/main/java/org/elasticsearch/indices/SystemIndexThreadPoolTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.14.0

#106951 Remove unused o.e.i.m.extras.RankFeatureQueryBuilders
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/RankFeatureQueryBuilders.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.14.0

#106836 Make int8_hnsw our default index for new dense-vector fields
  docs/changelog/106836.yaml
  docs/reference/mapping/types/dense-vector.asciidoc
  docs/reference/search/search-your-data/knn-search.asciidoc
  qa/rolling-upgrade-legacy/src/test/resources/rest-api-spec/test/old_cluster/30_vector_search.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/100_knn_nested_search.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/120_knn_query_multiple_shards.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/140_knn_query_with_other_queries.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/160_knn_query_missing_params.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/40_knn_search.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/40_knn_search_cosine.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/60_knn_search_filter_alias.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/80_dense_vector_indexed_by_default.yml
  server/src/main/java/org/elasticsearch/index/IndexVersions.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapperTests.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRankSingleShardIT.java
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/100_rank_rrf.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/200_rank_rrf_script.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/300_rrf_retriever.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/400_rrf_retriever_script.yml
Labels: >enhancement, :Search/Mapping, Team:Search, auto-merge, test-full-bwc, v8.14.0

#106516 ESQL: perform a reduction on the data node
  docs/changelog/106516.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/esql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/esql/EsqlSecurityIT.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/ip.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/AbstractEsqlIntegTestCase.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionTaskIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamInput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamOutput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/FragmentExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/Mapper.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/QueryPragmas.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/FilterTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.14.0

#106943 Remove redundant testing of Java 22
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.14.0, v7.17.20, v8.13.2

#106908 ESQL: More tests for DATE_TRUNC
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.14.0

#106936 Remove Singleton annotation and downstream code from o.e.common.inject
  server/src/main/java/org/elasticsearch/common/inject/AbstractProcessor.java
  server/src/main/java/org/elasticsearch/common/inject/Binder.java
  server/src/main/java/org/elasticsearch/common/inject/BindingProcessor.java
  server/src/main/java/org/elasticsearch/common/inject/InheritingState.java
  server/src/main/java/org/elasticsearch/common/inject/Injector.java
  server/src/main/java/org/elasticsearch/common/inject/InjectorBuilder.java
  server/src/main/java/org/elasticsearch/common/inject/InjectorImpl.java
  server/src/main/java/org/elasticsearch/common/inject/InjectorShell.java
  server/src/main/java/org/elasticsearch/common/inject/ScopeAnnotation.java
  server/src/main/java/org/elasticsearch/common/inject/ScopeBindingProcessor.java
  server/src/main/java/org/elasticsearch/common/inject/Scopes.java
  server/src/main/java/org/elasticsearch/common/inject/Singleton.java
  server/src/main/java/org/elasticsearch/common/inject/Stage.java
  server/src/main/java/org/elasticsearch/common/inject/State.java
  server/src/main/java/org/elasticsearch/common/inject/internal/AbstractBindingBuilder.java
  server/src/main/java/org/elasticsearch/common/inject/internal/Annotations.java
  server/src/main/java/org/elasticsearch/common/inject/internal/BindingImpl.java
  server/src/main/java/org/elasticsearch/common/inject/internal/Errors.java
  server/src/main/java/org/elasticsearch/common/inject/internal/InstanceBindingImpl.java
  server/src/main/java/org/elasticsearch/common/inject/internal/LinkedBindingImpl.java
  server/src/main/java/org/elasticsearch/common/inject/internal/LinkedProviderBindingImpl.java
  server/src/main/java/org/elasticsearch/common/inject/internal/ProviderInstanceBindingImpl.java
  server/src/main/java/org/elasticsearch/common/inject/internal/Scoping.java
  server/src/main/java/org/elasticsearch/common/inject/internal/UntargettedBindingImpl.java
  server/src/main/java/org/elasticsearch/common/inject/multibindings/Element.java
  server/src/main/java/org/elasticsearch/common/inject/multibindings/MapBinder.java
  server/src/main/java/org/elasticsearch/common/inject/multibindings/Multibinder.java
  server/src/main/java/org/elasticsearch/common/inject/multibindings/RealElement.java
  server/src/main/java/org/elasticsearch/common/inject/spi/ElementVisitor.java
  server/src/main/java/org/elasticsearch/common/inject/spi/Elements.java
  server/src/main/java/org/elasticsearch/common/inject/spi/ScopeBinding.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.14.0

#106934 Adjust array resizing in block builder
  docs/changelog/106934.yaml
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanArrayVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanBlockBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleArrayVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleBlockBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntArrayVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntBlockBuilder.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongArrayVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongBlockBuilder.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/AbstractArrayBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/AbstractBlockBuilder.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-ArrayVector.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-BlockBuilder.java.st
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.14.0

#106437 Block readiness on file settings being applied
  server/src/internalClusterTest/java/org/elasticsearch/readiness/ReadinessClusterIT.java
  server/src/main/java/org/elasticsearch/common/file/AbstractFileWatchingService.java
  server/src/main/java/org/elasticsearch/node/Node.java
  server/src/main/java/org/elasticsearch/readiness/ReadinessService.java
  server/src/main/java/org/elasticsearch/reservedstate/service/FileSettingsService.java
  server/src/main/java/org/elasticsearch/reservedstate/service/ReservedClusterStateService.java
  server/src/main/java/org/elasticsearch/reservedstate/service/ReservedStateUpdateTask.java
  server/src/test/java/org/elasticsearch/common/file/AbstractFileWatchingServiceTests.java
  server/src/test/java/org/elasticsearch/readiness/ReadinessServiceTests.java
  x-pack/plugin/shutdown/src/internalClusterTest/java/org/elasticsearch/xpack/shutdown/NodeShutdownReadinessIT.java
Labels: >refactoring, Team:Core/Infra, :Core/Infra/Node Lifecycle, v8.14.0

#106959 [DOCS] Remove orphaned cluster issues troubleshooting doc
  docs/reference/how-to/fix-common-cluster-issues.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.13.0, v8.14.0, v7.17.20, v8.13.2

#106960 Refactor geoip database properties
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/Database.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpProcessor.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorFactoryTests.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpProcessorTests.java
Labels: :Data Management/Ingest Node, >refactoring, Team:Data Management, v8.14.0

#106973 [8.12] Call out `monitor` privilege for index and component templates (#106970)
  docs/reference/indices/get-component-template.asciidoc
  docs/reference/indices/get-index-template.asciidoc
Labels: >docs, :Data Management/Indices APIs, backport, Team:Data Management, Team:Docs, auto-merge, v8.12.3

#106974 [8.13] Call out `monitor` privilege for index and component templates (#106970)
  docs/reference/indices/get-component-template.asciidoc
  docs/reference/indices/get-index-template.asciidoc
Labels: >docs, :Data Management/Indices APIs, backport, Team:Data Management, Team:Docs, auto-merge, v8.13.2

#106972 [8.11] Call out `monitor` privilege for index and component templates (#106970)
  docs/reference/indices/get-component-template.asciidoc
  docs/reference/indices/get-index-template.asciidoc
Labels: >docs, :Data Management/Indices APIs, backport, Team:Data Management, Team:Docs, auto-merge, v8.11.5

#106971 Fix warning typo for test failure
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/10_basic.yml
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, auto-merge, auto-backport-and-merge, v8.14.0, v8.13.2

#106948 Refactor more ActionListener.wrap to delegateFailureAndWrap
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/execution/search/PITAwareQueryClient.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportMlMemoryAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/inference/InferencePipelineAggregationBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedContextProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/persistence/DatafeedConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DataFrameAnalyticsManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/DestinationIndex.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/dataframe/persistence/DataFrameAnalyticsConfigProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredAnnotationsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredForecastsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemover.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/MlMemoryTracker.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredAnnotationsRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredModelSnapshotsRemoverTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/retention/ExpiredResultsRemoverTests.java
Labels: >non-issue, :ml, Team:ML, v8.14.0

#106976 [8.13] Fix warning typo for test failure (#106971)
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/10_basic.yml
Labels: >non-issue, :Data Management/Indices APIs, backport, Team:Data Management, auto-merge, v8.13.2

#106935 Move o.e.painless.toxcontent.UserTreeToXContent to test codebase
  modules/lang-painless/src/main/java/org/elasticsearch/painless/toxcontent/UserTreeToXContent.java
  modules/lang-painless/src/test/java/org/elasticsearch/painless/ToXContentTests.java
Labels: >non-issue, :Core/Infra/Scripting, Team:Core/Infra, v8.14.0

#106916 [Doc] Privileges required to retrieve the status of async searches
  docs/reference/search/async-search.asciidoc
Labels: >docs, :Security/Authorization, Team:Docs, Team:Security, v8.14.0

#106912 Fix AsyncSearchSecurityIT testStatusWithUsersWhileSearchIsRunning failing
  x-pack/plugin/async-search/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/search/AsyncSearchSecurityIT.java
Labels: >test, :Security/Authorization, Team:Security, v8.14.0

#106674 Remove unused `SnapshotsInRepo#remaining`
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.14.0

#106921 Expand docs on reset desired balance API
  docs/reference/cluster/delete-desired-balance.asciidoc
Labels: >docs, :Distributed/Allocation, Team:Distributed, Team:Docs, auto-merge, auto-backport-and-merge, v8.14.0, v8.13.2

#106582 Test modifying and removing data in ProfileIT
  x-pack/plugin/security/qa/profile/src/javaRestTest/java/org/elasticsearch/xpack/security/profile/ProfileIT.java
Labels: >test, Team:Security, auto-merge, v8.14.0, :Security/Profile

#106985 [8.13] Expand docs on reset desired balance API (#106921)
  docs/reference/cluster/delete-desired-balance.asciidoc
Labels: >docs, :Distributed/Allocation, backport, Team:Distributed, Team:Docs, auto-merge, v8.13.2

#106715 Implement rollover for failure stores
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamGetWriteIndexTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataDataStreamRolloverServiceTests.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/200_rollover_failure_store.yml
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.rollover.json
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/LazyRolloverAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/RolloverRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestRolloverIndexAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverServiceAutoShardingTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverServiceTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/RolloverRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/metadata/DataStreamTestHelper.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.14.0

#106876 [Inference API] Add completion task type docs
  docs/reference/inference/post-inference.asciidoc
  docs/reference/inference/put-inference.asciidoc
Labels: >docs, >non-issue, :ml, Team:Docs, Team:ML, v8.14.0

#106991 Convert FetchFieldsContext to a record
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsContext.java
Labels: :Search/Search, >refactoring, Team:Search, v8.14.0

#106950 Remove unused XContent parsing logic
  server/src/main/java/org/elasticsearch/action/admin/indices/mapping/get/GetFieldMappingsResponse.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/command/AbstractAllocateAllocationCommand.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/command/AllocateEmptyPrimaryAllocationCommand.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/command/AllocateReplicaAllocationCommand.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/command/AllocateStalePrimaryAllocationCommand.java
  server/src/main/java/org/elasticsearch/tasks/TaskId.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/protocol/xpack/XPackInfoResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/protocol/xpack/graph/Connection.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/CheckShrinkReadyStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/InferTrainedModelDeploymentAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StopDatafeedAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/Accuracy.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/Precision.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/Recall.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/FeatureImportanceBaseline.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/metadata/TotalFeatureImportance.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/trigger/Trigger.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorScheduling.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/action/UpdateConnectorSyncJobErrorAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/action/UpdateConnectorSyncJobIngestionStatsAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/rules/action/GetQueryRulesetAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/GetSearchApplicationAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/watch/WatchParser.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.14.0

#106955 ESQL: Fix VALUES test for `text`
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/80_text.yml
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.0

#106759 Inject reserved role name checker into role mgmt actions
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/DeleteRoleRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/DeleteRoleRequestBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/DeleteRoleResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequestBuilder.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequestBuilderFactory.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/role/DeleteRoleRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequestTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/role/TransportDeleteRoleAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/role/TransportPutRoleAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/ReservedRoleNameChecker.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/role/RestDeleteRoleAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/role/RestPutRoleAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/role/TransportDeleteRoleActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/role/TransportPutRoleActionTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, auto-merge, v8.14.0

#106992 ESQL: Fix issues with ST_* functions and compound geometries
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/cartesian_multipolygons.csv
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/cartesian_multipolygons.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/spatial.csv-spec
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialContainsCartesianPointDocValuesAndConstantEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialContainsCartesianSourceAndConstantEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialContainsGeoPointDocValuesAndConstantEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialContainsGeoSourceAndConstantEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialContains.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialEvaluatorFactory.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialRelatesFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/SpatialRelatesUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/querydsl/query/SpatialRelatesQuery.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.14.0

#106689 [feature/semantic-text] semantic text copy to support
  server/src/test/java/org/elasticsearch/index/mapper/CopyToMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MultiFieldTests.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/filter/ShardBulkInferenceActionFilter.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/InferenceMetadataFieldMapper.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/cluster/metadata/SemanticTextClusterMetadataTests.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/10_semantic_text_inference.yml
Labels: >non-issue, :Search/Mapping, Team:Search, v8.14.0

#107004 Remove `ClusterStateObserver` constructor with implicit timeout
  server/src/internalClusterTest/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotsServiceDoubleFinalizationIT.java
  server/src/main/java/org/elasticsearch/cluster/ClusterStateObserver.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, v8.14.0

#107010 [8.13][DOCS] Removes release note item from ML enhancements
  docs/reference/release-notes/8.13.0.asciidoc
Labels: >docs, Team:Docs, v8.13.0, v8.13.2

#101800 Remove remaining Version usages in licensing
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/ClusterStateLicenseService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/License.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/SelfGeneratedLicense.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/StartBasicClusterTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/StartTrialClusterTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/StartupSelfGeneratedLicenseTask.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackFeatures.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/AbstractClusterStateLicenseServiceTestCase.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/ClusterStateLicenseServiceTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicenseScheduleTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/LicenseUtilsTests.java
Labels: >refactoring, :Security/License, Team:Security, auto-merge, v8.14.0

#106857 Update license acknowledgement messages for Search
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
Labels: >non-issue, auto-backport-and-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.14.0, v8.13.2

#107014 [8.13] Update license acknowledgement messages for Search (#106857)
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/XPackLicenseState.java
Labels: >non-issue, backport, auto-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.2

#106952 New Lucene spanish plural stemmer
  docs/changelog/106952.yaml
  docs/reference/analysis/tokenfilters/stemmer-tokenfilter.asciidoc
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/StemmerTokenFilterFactory.java
Labels: >enhancement, :Search/Analysis, Team:Search, external-contributor, v8.14.0

#105168 Propagate ?master_timeout query parameter from CCR apis to downstreams
  docs/changelog/105168.yaml
  docs/reference/ccr/apis/auto-follow/delete-auto-follow-pattern.asciidoc
  docs/reference/ccr/apis/auto-follow/get-auto-follow-pattern.asciidoc
  docs/reference/ccr/apis/auto-follow/pause-auto-follow-pattern.asciidoc
  docs/reference/ccr/apis/auto-follow/put-auto-follow-pattern.asciidoc
  docs/reference/ccr/apis/auto-follow/resume-auto-follow-pattern.asciidoc
  docs/reference/ccr/apis/follow/get-follow-info.asciidoc
  docs/reference/ccr/apis/follow/get-follow-stats.asciidoc
  docs/reference/ccr/apis/follow/post-forget-follower.asciidoc
  docs/reference/ccr/apis/follow/post-pause-follow.asciidoc
  docs/reference/ccr/apis/follow/post-resume-follow.asciidoc
  docs/reference/ccr/apis/follow/post-unfollow.asciidoc
  docs/reference/ccr/apis/follow/put-follow.asciidoc
  docs/reference/ccr/apis/get-ccr-stats.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.delete_auto_follow_pattern.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.follow.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.follow_info.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.follow_stats.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.forget_follower.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.get_auto_follow_pattern.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.pause_auto_follow_pattern.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.pause_follow.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.put_auto_follow_pattern.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.resume_auto_follow_pattern.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.resume_follow.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.stats.json
  rest-api-spec/src/main/resources/rest-api-spec/api/ccr.unfollow.json
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/ccr/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/ccr/auto_follow.yml
  x-pack/plugin/ccr/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/ccr/follow_and_unfollow.yml
  x-pack/plugin/ccr/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/ccr/follow_info.yml
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/AutoFollowIT.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportCcrStatsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPauseFollowAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportResumeFollowAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportUnfollowAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestCcrStatsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestDeleteAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestFollowInfoAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestFollowStatsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestForgetFollowerAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestGetAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestPauseAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestPauseFollowAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestPutAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestPutFollowAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestResumeAutoFollowPatternAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestResumeFollowAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestUnfollowAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrSingleNodeTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/PutFollowActionRequestTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/CcrStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ccr/action/PutFollowAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ccr/action/CcrStatsActionTests.java
Labels: >bug, :Distributed/CCR, Team:Distributed, v8.14.0

#106969 Fix jvm ergonomics tests
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/JvmErgonomicsTests.java
Labels: >test, Team:Core/Infra, :Core/Infra/CLI, v8.14.0

#106954 ESQL: Split the tests for META FUNCTIONS
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/CsvAssert.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/CsvTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/docs.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.0

#106852 Introduce ordinal bytesref block
  docs/changelog/106852.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/Block.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/OrdinalBytesRefBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/OrdinalBytesRefVector.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/SingletonOrdinalsBuilder.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/Vector.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-Block.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-Vector.java.st
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BlockSerializationTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/SingletonOrdinalsBuilderTests.java
Labels: >enhancement, Team:Analytics, :StorageEngine/TSDB, :Analytics/ES|QL, Team:StorageEngine, v8.14.0

#106999 ESQL: Use SearchExecutionContext in SearchStats
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/stats/SearchStats.java
Labels: >refactoring, Team:Analytics, :Analytics/ES|QL, v8.14.0

#106981 [Failure store] Refactoring data stream lifecycle to facilitate managing failure store.
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
Labels: >refactoring, :Data Management/Data streams, Team:Data Management, auto-merge, v8.14.0

#107028 [Docs] Fix CCS matrix for 8.13
  docs/reference/search/search-your-data/ccs-version-compat-matrix.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.14.0, v8.13.2

#107033 [8.13] [Docs] Fix CCS matrix for 8.13 (#107028)
  docs/reference/search/search-your-data/ccs-version-compat-matrix.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.13.2

#107026 Make requestSize final in SearchExecutionContext
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
Labels: :Search/Search, >refactoring, Team:Search, v8.14.0

#107034 [DOCS] Fixes search request in semantic search tutorial
  docs/reference/tab-widgets/inference-api/infer-api-search.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport-and-merge, v8.13.1, v8.14.0

#107032 [Test] Explicitly specify number of shards to 1
  x-pack/plugin/sql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/sql/qa/single_node/JdbcShardFailureIT.java
Labels: >test, :Analytics/SQL, Team:Analytics, auto-merge, v8.14.0

#107039 [8.13] [DOCS] Fixes search request in semantic search tutorial. (#107034)
  docs/reference/tab-widgets/inference-api/infer-api-search.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge, v8.13.2

#107012 ESQL: Swap `FROM` `METADATA` and `OPTIONS` directives
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.g4
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.14.0

#107016 ESQL: Enable VALUES agg for datetime
  docs/changelog/107016.yaml
  docs/reference/esql/functions/parameters/st_contains.asciidoc
  docs/reference/esql/functions/parameters/st_within.asciidoc
  docs/reference/esql/functions/values.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/Values.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, v8.14.0

#107009 [ML] Convert DatafeedContext to a Record
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedContextProvider.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedRunnerTests.java
Labels: >non-issue, :ml, Team:ML, v8.14.0

#107045 [8.12] [Connectors API] Unify timestamp field parsing (#104416)
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/334_connector_update_last_sync_stats.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/Connector.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorCustomSchedule.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorUtils.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/UpdateConnectorLastSyncStatsAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/filtering/FilteringAdvancedSnippet.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/filtering/FilteringRule.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/ConnectorSyncJob.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/syncjob/action/UpdateConnectorSyncJobIngestionStatsAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorTestUtils.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorUtilsTests.java
Labels: backport, v8.12.3

#106313 [Transform] Implement robustness test that constantly creates/starts/stops/deletes a continuous transform
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformRestTestCase.java
Labels: >test, :ml/Transform, Team:ML, v8.14.0

#107048 [Transform] Clarify afterFinishOrFailure javadoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexer.java
Labels: >non-issue, :ml/Transform, Team:ML, v8.14.0

#107036 [TEST] Add rolling upgrade test for downsampling
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/DownsampleIT.java
  test/framework/src/main/java/org/elasticsearch/test/rest/RestTestLegacyFeatures.java
Labels: >test, auto-merge, test-full-bwc, :StorageEngine/Downsampling, Team:StorageEngine, v8.14.0

#106888 [DOCS] Clarify closed index setting warning
  docs/reference/index-modules.asciidoc
Labels: >docs, :Data Management/Indices APIs, Team:Data Management, Team:Docs, auto-backport, v8.13.0, v8.14.0, v7.17.20, v8.13.2

#107015 [DOCS] Remove obsolete accounting circuit breaker settings
  docs/reference/modules/indices/circuit_breaker.asciidoc
Labels: >docs, :Data Management/Monitoring, Team:Data Management, Team:Docs, auto-backport, v8.13.1, v8.14.0, v8.13.2

#107038 Replace UnsupportedOperationException with IllegalArgumentException
  docs/changelog/107038.yaml
  server/src/main/java/org/elasticsearch/rest/action/cat/RestTable.java
  server/src/test/java/org/elasticsearch/rest/action/cat/RestTableTests.java
Labels: >bug, :Data Management/CAT APIs, Team:Data Management, v8.14.0

#106127 Implement time series grouping via HashAggregationOperator using a specialized block hash implementation
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/BlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/TimeSeriesBlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSliceQueue.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/TimeSeriesSortedSourceOperatorFactory.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/TimeSeriesAggregationOperatorFactory.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/TimeSeriesSortedSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/ValuesSourceReaderOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/TimeSeriesAggregationOperatorTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EsTimeseriesQueryExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsPhysicalOperationProviders.java
Labels: >non-issue, auto-merge, :StorageEngine/TSDB, Team:StorageEngine, v8.14.0

#107013 ESQL: Add docs for the OPTIONS directive
  docs/reference/esql/esql-index-options.asciidoc
  docs/reference/esql/esql-language.asciidoc
  docs/reference/esql/source-commands/from.asciidoc
  docs/reference/search/search.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/from.csv-spec
Labels: >docs, Team:Docs, Team:Analytics, :Analytics/ES|QL, v8.14.0

#106714 Add non-indexed fields to ecs templates
  docs/changelog/106714.yaml
  x-pack/plugin/core/template-resources/src/main/resources/ecs@mappings.json
  x-pack/plugin/stack/src/javaRestTest/java/org/elasticsearch/xpack/stack/EcsDynamicTemplatesIT.java
  x-pack/plugin/stack/src/main/java/org/elasticsearch/xpack/stack/StackTemplateRegistry.java
Labels: >bug, :Data Management/Data streams, Team:Data Management, external-contributor, v8.14.0

#107053 [TEST] Add full cluster restart test for downsampling
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartDownsampleIT.java
Labels: >test, auto-merge, test-full-bwc, :StorageEngine/Downsampling, Team:StorageEngine, v8.14.0

#107025 Split the mappings for failure stores out of the index template service
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamFailureStoreDefinition.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.14.0

#107056 [ML] Add missing TokenizationConfigUpdate named writable to registry
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/MlInferenceNamedXContentProvider.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/InferModelActionRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/InferTrainedModelDeploymentRequestsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TokenizationConfigUpdateTests.java
Labels: >non-issue, :ml, Team:ML, v8.14.0

#107060 [Inference API] Make completion task available in inference processor
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/inference/results/ChatCompletionResults.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/results/ChatCompletionResultsTests.java
Labels: >non-issue, :ml, Team:ML, v8.14.0

#107022 Mark enrich stats API as internal instead of public
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/rest/RestEnrichStatsAction.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, test-update-serverless, v8.14.0

#106824 ESQL: Introduce language versioning to REST API
  docs/changelog/106824.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/esql/action/EsqlQueryRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/esql/action/EsqlQueryRequestBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlQueryRequest.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlQueryRequestBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/RequestXContent.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/version/EsqlVersion.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryRequestTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/version/EsqlVersionTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.14.0

#107023 Ensure getUser() is the logical user, not API key creator for RCS 2.0
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/SecurityContext.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityContextTests.java
Labels: >non-issue, :Security/Security, Team:Security, v8.14.0

#107037 [Profiling] Use default task cancellation check
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetStackTracesAction.java
Labels: >non-issue, :UniversalProfiling/Application, Team:obs-knowledge, v8.14.0

#107072 Add remote cluster network troubleshooting docs
  docs/reference/modules/cluster/remote-clusters-troubleshooting.asciidoc
Labels: >docs, :Distributed/Network, Team:Distributed, Team:Docs, auto-merge, auto-backport-and-merge, v8.14.0, v8.13.2

#107084 [8.13] Add remote cluster network troubleshooting docs (#107072)
  docs/reference/modules/cluster/remote-clusters-troubleshooting.asciidoc
Labels: >docs, :Distributed/Network, backport, Team:Distributed, Team:Docs, auto-merge, v8.13.2

#107003 Apply snapshot `?after` filter inline
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.14.0

#106866 Add ES|QL signum function
  docs/changelog/106866.yaml
  docs/reference/esql/functions/description/signum.asciidoc
  docs/reference/esql/functions/examples/signum.asciidoc
  docs/reference/esql/functions/layout/signum.asciidoc
  docs/reference/esql/functions/math-functions.asciidoc
  docs/reference/esql/functions/parameters/signum.asciidoc
  docs/reference/esql/functions/signature/signum.svg
  docs/reference/esql/functions/types/signum.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/floats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/ints.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/math.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/unsigned_long.csv-spec
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/math/SignumDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/math/SignumIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/math/SignumLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/math/SignumUnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Signum.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/package-info.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/SignumTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.14.0

#107058 Connector API: Followup on #106060
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorConfiguration.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/configuration/ConfigurationValidation.java
Labels: >non-issue, :EnterpriseSearch/Application, Team:Enterprise Search, v8.14.0

#106990 Address concurrency issue in top hits aggregation
  docs/changelog/106990.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/metrics/TopHitsIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregator.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/internal/SubSearchContext.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, v8.14.0, v8.13.2

#107051 [Transform] Fix testStopAtCheckpoint (#105664)
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerStateTests.java
Labels: >test, :ml/Transform, Team:ML, v8.12.3

#107059 [Connector API] Support numeric for configuration select option value type
  docs/changelog/107059.yaml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/335_connector_update_configuration.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/configuration/ConfigurationSelectOption.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorConfigurationTests.java
Labels: >bug, auto-backport-and-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.0, v8.14.0

#106121 Update hotspotting.asciidoc
  docs/reference/troubleshooting/common-issues/hotspotting.asciidoc
Labels: >docs, :Distributed/Distributed, Team:Distributed, Team:Docs, external-contributor, v8.12.3

#107087 Capture hot threads during slow cluster state application
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierRecordingService.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/test/java/org/elasticsearch/cluster/service/ClusterApplierRecordingServiceTests.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AnomalyJobCRUDIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/EstablishedMemUsageIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobModelSnapshotCRUDIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobStorageDeletionTaskIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsStatsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsPersisterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterServiceTests.java
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleServiceTests.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, Supportability, v8.14.0

#107092 [8.13] Address concurrency issue in top hits aggregation
  docs/changelog/106990.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/metrics/TopHitsIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregator.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/internal/SubSearchContext.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/RareTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorTests.java
Labels: :Analytics/Aggregations, backport, v8.13.2

#107090 [Connector API] Support updating single schedule type (full, incremental or access_control)
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/331_connector_update_scheduling.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorScheduling.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/UpdateConnectorSchedulingAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorIndexServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorTestUtils.java
Labels: >non-issue, :EnterpriseSearch/Application, Team:Enterprise Search, v8.14.0

#107100 [DOCS] Makes Inference APIs main page more informative
  docs/reference/inference/delete-inference.asciidoc
  docs/reference/inference/get-inference.asciidoc
  docs/reference/inference/inference-apis.asciidoc
  docs/reference/inference/post-inference.asciidoc
  docs/reference/inference/put-inference.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.13.1, v8.14.0

#106886 Unmute testUniDirectionalIndexFollowing
  x-pack/qa/rolling-upgrade-multi-cluster/src/test/java/org/elasticsearch/upgrades/CcrRollingUpgradeIT.java
Labels: >non-issue, :Distributed/CCR, Team:Distributed, v8.14.0

#107091 Default `data_streams.auto_sharding.excludes` to NO exclusions (`[]`)
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamAutoshardingIT.java
  server/src/main/java/org/elasticsearch/action/datastreams/autosharding/DataStreamAutoShardingService.java
  server/src/test/java/org/elasticsearch/action/datastreams/autosharding/DataStreamAutoShardingServiceTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.14.0

#106720 ESQL: Fix treating all fields as MV in COUNT pushdown
  docs/changelog/106720.yaml
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEsqlTestCase.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/stats/SearchStats.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v8.14.0

#106673 ESQL: Fix fully pruned aggregates
  docs/changelog/106673.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >bug, Team:Analytics, auto-backport, :Analytics/ES|QL, v8.14.0, v8.13.2

#106962 [DOCS] fix time zone logic example
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
Labels: >docs, :Analytics/Aggregations, Team:Docs, Team:Analytics, auto-backport, v8.13.1, v8.14.0, v7.17.20, v8.13.2

#106860 [Profiling] Add TopN Functions API
  docs/changelog/106860.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/profiling.topn_functions.json
  x-pack/plugin/profiling/src/internalClusterTest/java/org/elasticsearch/xpack/profiling/GetFlameGraphActionIT.java
  x-pack/plugin/profiling/src/internalClusterTest/java/org/elasticsearch/xpack/profiling/GetStackTracesActionIT.java
  x-pack/plugin/profiling/src/internalClusterTest/java/org/elasticsearch/xpack/profiling/GetTopNFunctionsActionIT.java
  x-pack/plugin/profiling/src/internalClusterTest/resources/data/profiling-events-all.ndjson
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/GetStackTracesRequest.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/GetStackTracesResponseBuilder.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/GetTopNFunctionsAction.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/GetTopNFunctionsResponse.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/ProfilingPlugin.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/RestGetTopNFunctionsAction.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/StackFrame.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/StackTrace.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TopNFunction.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TraceEvent.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetFlamegraphAction.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetStackTracesAction.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetTopNFunctionsAction.java
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/GetStackTracesRequestTests.java
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/ResamplerTests.java
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/StackFrameTests.java
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/TopNFunctionTests.java
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/TransportGetFlamegraphActionTests.java
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/TransportGetTopNFunctionsActionTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/profiling/10_basic.yml
Labels: >enhancement, cloud-deploy, :UniversalProfiling/Application, test-update-serverless, Team:obs-knowledge, v8.14.0

#106613 Support swapping the user context to the secondary auth user for named actions
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlUpgradeModeActionFilterTests.java
  x-pack/plugin/security/qa/secondary-auth-actions/build.gradle
  x-pack/plugin/security/qa/secondary-auth-actions/src/javaRestTest/java/org/elasticsearch/secondary/auth/actions/SecondaryAuthActionsIT.java
  x-pack/plugin/security/qa/secondary-auth-actions/src/main/java/module-info.java
  x-pack/plugin/security/qa/secondary-auth-actions/src/main/java/org/elasticsearch/secondary/auth/actions/SecondaryAuthActionsPlugin.java
  x-pack/plugin/security/qa/secondary-auth-actions/src/main/resources/META-INF/services/org.elasticsearch.xpack.security.authc.support.SecondaryAuthActions
  x-pack/plugin/security/src/main/java/module-info.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/filter/SecurityActionFilter.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/SecondaryAuthActions.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/filter/SecurityActionFilterTests.java
Labels: >non-issue, :Security/Security, Team:Security, v8.14.0

#107104 Remove AwaitsFix of fixed test
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/action/GetDataStreamsResponseTests.java
Labels: >test, :Data Management/Data streams, Team:Data Management, auto-merge, auto-backport-and-merge, v8.14.0, v8.12.3, v8.13.2

#106978 Add primary and coordination operation rejection ratio metrics
  server/src/internalClusterTest/java/org/elasticsearch/monitor/metrics/NodeIndexingMetricsIT.java
  server/src/main/java/org/elasticsearch/monitor/metrics/NodeMetrics.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, v8.14.0

#107113 [8.13] Remove AwaitsFix of fixed test (#107104)
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/action/GetDataStreamsResponseTests.java
Labels: >test, backport, :Data Management/Data streams, Team:Data Management, auto-merge, v8.13.2

#107109 [ES|QL] fix substring type resolution
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/Substring.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/AbstractScalarFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/SubstringTests.java
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v8.14.0

#107112 [8.12] Remove AwaitsFix of fixed test (#107104)
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/action/GetDataStreamsResponseTests.java
Labels: >test, backport, :Data Management/Data streams, Team:Data Management, auto-merge, v8.12.3

#107063 Extract failure store specific settings to the failure store
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamFailureStoreDefinition.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.14.0

#106579 ESQL: Allow grouping key inside stats expressions
  docs/changelog/106579.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/EsqlAggregate.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.14.0

#107111 Remove unused methods from SearchContext
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/FilteredSearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/SearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/SubSearchContext.java
  server/src/main/java/org/elasticsearch/search/rank/RankSearchContext.java
  test/framework/src/main/java/org/elasticsearch/test/TestSearchContext.java
Labels: >non-issue, :Search/Search, Team:Search, v8.14.0

#107123 Skip multi-release source sets in idea project import by default
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/MrjarPlugin.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, v8.14.0

#107127 Remove unused ShrinkAction
  server/src/main/java/org/elasticsearch/action/admin/indices/shrink/ShrinkAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/OperationMode.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilegeTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/interceptor/ResizeRequestInterceptorTests.java
Labels: >non-issue, :Core/Infra/Transport API, Team:Core/Infra, v8.14.0

#107132 Mute TopNFunctionTests#testToXContent
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/TopNFunctionTests.java
Labels: >test-mute, auto-merge, :UniversalProfiling/Application, Team:obs-knowledge, v8.14.0

#107110 [8.13] Query API Key Information API support for the `typed_keys` request pa…
  docs/changelog/106873.yaml
  docs/reference/rest-api/security/query-api-key.asciidoc
  docs/reference/search/search.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/security.query_api_keys.json
  x-pack/plugin/security/qa/security-basic/src/javaRestTest/java/org/elasticsearch/xpack/security/ApiKeyAggsIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestQueryApiKeyAction.java
Labels: :Security/Security, backport, v8.13.2

#107102 [8.13] [DOCS] Makes Inference APIs main page more informative. (#107100)
  docs/reference/inference/delete-inference.asciidoc
  docs/reference/inference/get-inference.asciidoc
  docs/reference/inference/inference-apis.asciidoc
  docs/reference/inference/post-inference.asciidoc
  docs/reference/inference/put-inference.asciidoc
Labels: backport, v8.13.2

#106710 [8.13] ESQL: Fix count pushdown for unmapped fields (#106690)
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/stats/SearchStats.java
Labels: >bug, backport, :Analytics/ES|QL, v8.13.2

#107108 [8.13] Query API Keys support for both `aggs` and `aggregations` keywords (#…
  docs/changelog/107054.yaml
  docs/reference/rest-api/security/query-api-key.asciidoc
  x-pack/plugin/security/qa/security-basic/src/javaRestTest/java/org/elasticsearch/xpack/security/ApiKeyAggsIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestQueryApiKeyAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/apikey/RestQueryApiKeyActionTests.java
Labels: :Security/Security, backport, v8.13.2

#107065 [feature/semantic-text] Move the inference results back to the original field
  server/src/main/java/org/elasticsearch/action/update/TransportUpdateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/InferenceFieldMetadata.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/filter/ShardBulkInferenceActionFilter.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/InferenceMetadataFieldMapper.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextField.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapper.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextModelSettings.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/action/filter/ShardBulkInferenceActionFilterTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/InferenceMetadataFieldMapperTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapperTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldTests.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/10_semantic_text_inference.yml
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/20_semantic_text_field_mapper.yml
Labels: needs:triage

#106280 [8.13] Fix a downsample persistent task assignment bug (#106247)
  docs/changelog/106247.yaml
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/DownsampleShardPersistentTaskExecutor.java
  x-pack/plugin/downsample/src/test/java/org/elasticsearch/xpack/downsample/DownsampleShardPersistentTaskExecutorTests.java
Labels: >bug, backport, auto-merge, :StorageEngine/Downsampling, Team:StorageEngine, v8.13.2

#107097 Add check for lossy params in source
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicFieldsBuilderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/query/SearchExecutionContextTests.java
Labels: >non-issue, :Search/Mapping, Team:Search, auto-merge, Team:StorageEngine, v8.14.0, :StorageEngine/Mapping

#107071 Small adjustments to metadata fields fetching
  server/src/internalClusterTest/java/org/elasticsearch/search/source/MetadataFetchingIT.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/CustomFieldsVisitor.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/FieldsVisitor.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/StoredFieldsPhase.java
Labels: :Search/Search, >refactoring, Team:Search, v8.14.0

#107139 [Profiling] Use CancellableTask internally
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/TransportGetStackTracesAction.java
Labels: >non-issue, :UniversalProfiling/Application, Team:obs-knowledge, v8.14.0

#107138 ESQL: Fix version test failure on non-SNAPSHOT builds
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryRequestTests.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.14.0

#107143 Fix leak in RestVectorTileAction
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/RestVectorTileAction.java
Labels: >test, :Search/Search, Team:Search, auto-merge, v8.14.0

#107141 Move back InferenceServiceRegistry and ModelRegistry to inference plugin
  server/src/main/java/org/elasticsearch/inference/InferenceServiceRegistry.java
  server/src/main/java/org/elasticsearch/inference/InferenceServiceRegistryImpl.java
  server/src/main/java/org/elasticsearch/inference/ModelRegistry.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/main/java/org/elasticsearch/plugins/InferenceRegistryPlugin.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/ModelRegistryIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportDeleteInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportGetInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportInferenceAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportPutInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/registry/ModelRegistry.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/registry/ModelRegistryTests.java
Labels: >refactoring, :ml, Team:ML, v8.14.0

#107144 [8.13] ESQL: Fix fully pruned aggregates (#106673)
  docs/changelog/106673.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: backport, :Analytics/ES|QL, v8.13.2

#107133 [ML] Change last usages of model_id to inference_id
  docs/reference/inference/put-inference.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/inference/action/PutInferenceModelAction.java
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.14.0, v8.13.2

#107151 [ML] Mute frequent items failure
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/frequent_item_sets_agg.yml
Labels: :ml, >test-mute, Team:ML, v8.14.0

#107149 [8.13] [ML] Update last usages of model_id to inference_id (#107133)
  docs/reference/inference/put-inference.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/inference/action/PutInferenceModelAction.java
Labels: >docs, backport, Team:Docs, auto-merge, v8.13.2

#107103 [Transform] Extract common test code to `TransformCommonRestTestCase` class
  x-pack/plugin/transform/qa/common/build.gradle
  x-pack/plugin/transform/qa/common/src/main/java/org/elasticsearch/xpack/transform/integration/common/TransformCommonRestTestCase.java
  x-pack/plugin/transform/qa/multi-node-tests/build.gradle
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/LatestIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformRestTestCase.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformUsingSearchRuntimeFieldsIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TransformContinuousIT.java
  x-pack/plugin/transform/qa/single-node-tests/build.gradle
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformRestTestCase.java
  x-pack/plugin/transform/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformRobustnessIT.java
Labels: >test, :ml/Transform, Team:ML, v8.14.0

#106899 Add ES|QL Locate function
  docs/changelog/106899.yaml
  docs/reference/esql/functions/description/locate.asciidoc
  docs/reference/esql/functions/layout/locate.asciidoc
  docs/reference/esql/functions/parameters/locate.asciidoc
  docs/reference/esql/functions/signature/locate.svg
  docs/reference/esql/functions/types/locate.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/string/LocateEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/Locate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/LocateTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.14.0

#107156 Update 8.13 known issues with JDK 22 bug / recommendation to downgrade
  docs/reference/release-notes/8.13.0.asciidoc
Labels: >docs, Team:Docs, auto-merge, auto-backport-and-merge, v8.13.0

#107157 [8.13] Update 8.13 known issues with JDK 22 bug / recommendation to downgrade (#107156)
  docs/reference/release-notes/8.13.0.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.13.2

#107150 [Profiling] Annotate TODOs for 9.0.0 upgrade
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/CO2Calculator.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/GetFlamegraphResponse.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/GetStackTracesResponse.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/HostMetadata.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/InstanceType.java
Labels: >non-issue, :UniversalProfiling/Application, Team:obs-knowledge, v8.14.0

#107140 [8.13.2] Downgrade the bundled JDK to JDK 21.0.2
  build-tools-internal/version.properties
  gradle/verification-metadata.xml
Labels: >bug, :Delivery/Build, Team:Delivery, v8.13.2

#107142 [7.17.xx] Downgrade the bundled JDK to JDK 21.0.2
  build-tools-internal/version.properties
  gradle/verification-metadata.xml
Labels: >bug, :Delivery/Build, Team:Delivery, v7.17.20

#107137 Downgrade the bundled JDK to JDK 21.0.2
  build-tools-internal/version.properties
  gradle/verification-metadata.xml
Labels: >bug, :Delivery/Build, jvm bug, Team:Delivery, v8.14.0, v7.17.20, v8.13.2

#107159 Update 8.13.1 known issues with JDK 22 bug / recommendation to downgrade
  docs/reference/release-notes/8.13.1.asciidoc
Labels: >docs, :Core/Infra/Core, Team:Core/Infra, Team:Docs, auto-merge, v8.13.2

#107161 Fix link in 8.13 release notes.
  docs/reference/release-notes/8.13.0.asciidoc
Labels: >docs, Team:Docs, auto-merge, auto-backport-and-merge, v8.13.0

#107162 [8.13] Fix link in 8.13 release notes. (#107161)
  docs/reference/release-notes/8.13.0.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.13.2

#106975 GET /_all should return hidden indices with visible aliases
  docs/changelog/106975.yaml
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolverTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/WildcardExpressionResolverTests.java
Labels: >bug, :Data Management/Indices APIs, Team:Data Management, v8.14.0

#106977 Always enable fast path for load values from single segment
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/DocVector.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/ValuesSourceReaderOperator.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.14.0

#107165 Update 7.17.19 known issues with JDK 22 bug / recommendation to downgrade
  docs/reference/release-notes/7.17.19.asciidoc
Labels: >docs, Team:Docs, v7.17.20

#107131 ESQL: Fix bug when combining projections
  docs/changelog/107131.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >bug, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.14.0, v8.13.2

#107118 Adding tests and fixing test failure #106964
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/80_dense_vector_indexed_by_default.yml
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapperTests.java
Labels: >test, Team:Search, auto-merge, :Search/Vectors, v8.14.0

#107167 ESQL: Fix bug when combining projections (#107131)
  docs/changelog/107131.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: backport, auto-merge, :Analytics/ES|QL, v8.13.2

#107164 Revert toolchain changes for Java 22 upgrade.
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/AdoptiumJdkToolchainResolver.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolver.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/AdoptiumJdkToolchainResolverSpec.groovy
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, auto-backport-and-merge, test-update-serverless, v8.14.0, v8.13.2

#107062 Rename values of `FailureStoreOptions`
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/FailureStoreQueryParamIT.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/200_rollover_failure_store.yml
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.rollover.json
  server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestRolloverIndexAction.java
Labels: >refactoring, :Data Management/Data streams, Team:Data Management, v8.14.0

#107080 Metric for rejected indexing primary operations (per document)
  docs/reference/cluster/stats.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/index/IndexingPressureIT.java
  server/src/internalClusterTest/java/org/elasticsearch/monitor/metrics/NodeIndexingMetricsIT.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsNodes.java
  server/src/main/java/org/elasticsearch/index/IndexingPressure.java
  server/src/main/java/org/elasticsearch/index/stats/IndexingPressureStats.java
  server/src/main/java/org/elasticsearch/monitor/metrics/NodeMetrics.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/stats/NodeStatsTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsNodesTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/collector/cluster/ClusterStatsMonitoringDocTests.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, v8.14.0

#107134 [Profiling] Fix test assumption re. serialization
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/TopNFunctionTests.java
Labels: >test, :UniversalProfiling/Application, Team:obs-knowledge, v8.14.0

#107154 Introduce new node feature for renaming health endpoint
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/HealthNodeUpgradeIT.java
  server/src/main/java/org/elasticsearch/health/HealthFeatures.java
Labels: >test, Team:Data Management, auto-merge, :Data Management/Health, v8.14.0

#107192 [feature/semantic-text] Handle chunked error
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/filter/ShardBulkInferenceActionFilter.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/action/filter/ShardBulkInferenceActionFilterTests.java
Labels: needs:triage

#107180 Remove unused buildShardSearchRequest from SearchPhaseContext
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseContext.java
  server/src/test/java/org/elasticsearch/action/search/MockSearchPhaseContext.java
Labels: >non-issue, :Search/Search, Team:Search, v8.14.0

#107107 Increase KDF iteration count in `KeyStoreWrapper`
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/cli/keystore/KeyStoreWrapperTests.java
  distribution/tools/keystore-cli/src/test/java/org/elasticsearch/cli/keystore/UpgradeKeyStoreCommandTests.java
  distribution/tools/keystore-cli/src/test/resources/format-v5-with-password-elasticsearch.keystore
  docs/changelog/107107.yaml
  server/src/main/java/org/elasticsearch/common/settings/KeyStoreWrapper.java
Labels: >enhancement, Team:Core/Infra, :Core/Infra/CLI, auto-merge, v8.14.0

#107122 Avoid unintentionally clearing the `DataStream.rolloverOnWrite` flag
  docs/changelog/107122.yaml
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProviderTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/UpdateTimeSeriesRangeServiceTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/action/GetDataStreamsResponseTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleServiceTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateDataStreamService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsService.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/action/datastreams/autosharding/DataStreamAutoShardingServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/WildcardExpressionResolverTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/metadata/DataStreamTestHelper.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/TransportPutFollowAction.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/action/DataStreamLifecycleUsageTransportActionIT.java
Labels: >bug, :Data Management/Data streams, Team:Data Management, auto-merge, auto-backport-and-merge, v8.14.0, v8.13.3

#107096 Further reduce usage of `SAME` threadpool name
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceLifecycleTests.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, v8.14.0

#107199 ESQL: Update FROM option preference
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/from.csv-spec
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.0

#107202 [TEST] Re-enable DownsampleActionIT.testRollupIndex with additional tracing
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >test, auto-merge, :StorageEngine/Downsampling, Team:StorageEngine, v8.14.0

#107200 ES|QL: Make some REST tests deterministic
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEnrichTestCase.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEsqlTestCase.java
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.0

#107175 Tidy up watcher logging and tests
  docs/src/yamlRestTest/java/org/elasticsearch/smoketest/DocsClientYamlTestSuiteIT.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestResponse.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
  x-pack/plugin/esql/qa/server/single-node/src/yamlRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/EsqlClientYamlAsyncSubmitAndFetchIT.java
  x-pack/plugin/watcher/qa/common/src/main/java/org/elasticsearch/xpack/watcher/WatcherRestTestCase.java
  x-pack/plugin/watcher/qa/common/src/main/java/org/elasticsearch/xpack/watcher/WatcherYamlSuiteTestCase.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherIndexingListener.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherLifeCycleService.java
  x-pack/qa/third-party/jira/src/yamlRestTest/java/org/elasticsearch/smoketest/WatcherJiraYamlTestSuiteIT.java
  x-pack/qa/third-party/pagerduty/src/yamlRestTest/java/org/elasticsearch/smoketest/WatcherPagerDutyYamlTestSuiteIT.java
  x-pack/qa/third-party/slack/src/yamlRestTest/java/org/elasticsearch/smoketest/WatcherSlackYamlTestSuiteIT.java
Labels: >non-issue, :Data Management/Watcher, Team:Data Management, v8.14.0

#107183 ES|QL fix no-length substring with supplementary (4-byte) character
  docs/changelog/107183.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/Substring.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/SubstringTests.java
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v8.14.0
