Repository elastic/elasticsearch, pull requests merged in 2024-05, with the labels that each got.

#108051 Track synthetic source for disabled objects
  docs/changelog/108051.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/20_synthetic_source.yml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RootObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapperTests.java
Labels: >enhancement, Team:StorageEngine, :StorageEngine/Mapping, v8.15.0

#107937 Optimise multiterms aggregation for single value fields
  docs/changelog/107937.yaml
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/multiterms/MultiTermsAggregator.java
Labels: >enhancement, :Analytics/Aggregations, Team:Analytics, v8.15.0

#108117 Mute AzureStorageCleanupThirdPartyTests
  modules/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
Labels: :Distributed/Distributed, >test-mute, Team:Distributed, auto-merge, v8.15.0

#108119 Mute SearchWithRandomIOExceptionsIT.testRandomDirectoryIOExceptions
  server/src/internalClusterTest/java/org/elasticsearch/search/basic/SearchWithRandomIOExceptionsIT.java
Labels: :Search/Search, >test-mute, Team:Search, auto-merge, v8.15.0

#107965 Add documentation around migration from rollup to downsampling
  docs/reference/rollup/api-quickref.asciidoc
  docs/reference/rollup/index.asciidoc
  docs/reference/rollup/migrating-to-downsampling.asciidoc
  docs/reference/rollup/overview.asciidoc
  docs/reference/rollup/rollup-agg-limitations.asciidoc
  docs/reference/rollup/rollup-apis.asciidoc
  docs/reference/rollup/rollup-getting-started.asciidoc
  docs/reference/rollup/rollup-search-limitations.asciidoc
  docs/reference/rollup/understanding-groups.asciidoc
Labels: >docs, :StorageEngine/Rollup, Team:Docs, Team:StorageEngine, v8.11.5, v8.12.3, v8.14.1, v8.15.0, v8.13.4

#108120 Mute AzureSnapshotRepoTestKitIT.testRepositoryAnalysis
  x-pack/plugin/snapshot-repo-test-kit/qa/azure/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/AzureSnapshotRepoTestKitIT.java
Labels: :Distributed/Discovery-Plugins, >test-mute, Team:Distributed, auto-merge, v8.15.0

#108062 Seal a few downsample classes.
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/LabelFieldProducer.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/MetricFieldProducer.java
Labels: >non-issue, :StorageEngine/Downsampling, Team:StorageEngine, v8.15.0

#107844 Add fastpath for cloning fully-buffered BlobCacheBufferedIndexInput
  server/src/main/java/org/elasticsearch/common/lucene/store/ByteArrayIndexInput.java
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/common/BlobCacheBufferedIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/DirectBlobContainerIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/FrozenIndexInput.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/store/input/MetadataCachingIndexInput.java
Labels: >non-issue, :Distributed/Snapshot/Restore, :Search/Search, Team:Distributed, Team:Search, v8.15.0

#108033 [TEST] Don't test binary field synthetic source with store true
  server/src/test/java/org/elasticsearch/index/mapper/BinaryFieldMapperTests.java
Labels: >test, Team:StorageEngine, :StorageEngine/Mapping, v8.15.0

#108082 Fix JvmGcMonitorServiceSettingsTests.testNegativeSetting
  server/src/test/java/org/elasticsearch/monitor/jvm/JvmGcMonitorServiceSettingsTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.15.0

#107886 Cluster state role mapper file settings service
  docs/changelog/107886.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/rolemapping/PutRoleMappingRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/rolemapping/PutRoleMappingRequestBuilder.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/RoleMappingFileSettingsIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/FileSettingsRoleMappingsStartupIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/rolemapping/ReservedRoleMappingAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/rolemapping/TransportDeleteRoleMappingAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/rolemapping/TransportPutRoleMappingAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/rolemapping/RestPutRoleMappingAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/LocalReservedUnstableSecurityStateHandlerProvider.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/UnstableLocalStateSecurity.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/reservedstate/ReservedRoleMappingActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/rolemapping/TransportDeleteRoleMappingActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/rolemapping/TransportPutRoleMappingActionTests.java
  x-pack/plugin/security/src/test/resources/META-INF/services/org.elasticsearch.reservedstate.ReservedClusterStateHandlerProvider
  x-pack/qa/third-party/active-directory/src/test/java/org/elasticsearch/xpack/security/authc/ldap/AbstractAdLdapRealmTestCase.java
Labels: >enhancement, :Security/Authorization, Team:Security, v8.15.0

#108128 Fix `testUpdatePolicyToAddPhasesYieldsInvalidActionsToBeSkipped`
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/SearchableSnapshotActionIT.java
Labels: >test, :Data Management/ILM+SLM, Team:Data Management, v8.15.0

#108070 [Transform] Redirect VersionConflict to reset code
  docs/changelog/108070.yaml
  x-pack/plugin/transform/src/internalClusterTest/java/org/elasticsearch/xpack/transform/persistence/TransformConfigManagerTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/IndexBasedTransformConfigManager.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/persistence/TransformStatePersistenceException.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerFailureOnStatePersistenceTests.java
Labels: >bug, :ml/Transform, Team:ML, v8.15.0

#108096 Introduce async closing of `IndexShard`
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexAliasesService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/index/CloseUtils.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportShardBulkActionTests.java
  server/src/test/java/org/elasticsearch/index/IndexServiceTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesLifecycleListenerSingleNodeTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesServiceTests.java
  server/src/test/java/org/elasticsearch/indices/cluster/AbstractIndicesClusterStateServiceTestCase.java
  server/src/test/java/org/elasticsearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, auto-merge, v8.15.0

#108129 [8.14][TEST] wait for ILM in testRollupNonTSIndex
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >test, backport, auto-merge, :StorageEngine/Downsampling, Team:StorageEngine, v8.14.1

#108090 Simplify tsds getting started
  docs/reference/data-streams/downsampling.asciidoc
  docs/reference/data-streams/set-up-tsds.asciidoc
  docs/reference/data-streams/tsds.asciidoc
Labels: >docs, Team:Docs, auto-merge, :StorageEngine/TSDB, auto-backport-and-merge, Team:StorageEngine, v8.11.5, v8.12.3, v8.14.1, v8.15.0, v8.13.4

#108124 Add documentation around migration from rollup to downsampling (#107965)
  docs/reference/rollup/api-quickref.asciidoc
  docs/reference/rollup/index.asciidoc
  docs/reference/rollup/migrating-to-downsampling.asciidoc
  docs/reference/rollup/overview.asciidoc
  docs/reference/rollup/rollup-agg-limitations.asciidoc
  docs/reference/rollup/rollup-apis.asciidoc
  docs/reference/rollup/rollup-getting-started.asciidoc
  docs/reference/rollup/rollup-search-limitations.asciidoc
  docs/reference/rollup/understanding-groups.asciidoc
Labels: >docs, :StorageEngine/Rollup, backport, auto-merge, auto-backport-and-merge, v8.11.5, v8.12.3, v8.14.1, v8.13.4

#107942 Mute SearchTransportTelemetryTests testSearchTransportMetricsDfsQueryThenFetch
  server/src/test/java/org/elasticsearch/search/TelemetryMetrics/SearchTransportTelemetryTests.java
Labels: :Search/Search, >test-mute, Team:Search, auto-backport-and-merge, v8.14.1, v8.15.0, v8.13.4

#108142 [8.13] Mute SearchTransportTelemetryTests testSearchTransportMetricsDfsQueryThenFetch (#107942)
  server/src/test/java/org/elasticsearch/search/TelemetryMetrics/SearchTransportTelemetryTests.java
Labels: :Search/Search, backport, >test-mute, Team:Search, auto-merge, v8.13.4

#108137 Mute AzureStorageCleanupThirdPartyTests.testReadFromPositionWithLength
  modules/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
Labels: :Distributed/Distributed, >test-mute, Team:Distributed, auto-merge, auto-backport-and-merge, v8.14.1, v8.15.0

#108135 [8.14] Simplify tsds getting started (#108090)
  docs/reference/data-streams/downsampling.asciidoc
  docs/reference/data-streams/set-up-tsds.asciidoc
  docs/reference/data-streams/tsds.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, :StorageEngine/TSDB, Team:StorageEngine, v8.14.1

#108134 [8.12] Simplify tsds getting started (#108090)
  docs/reference/data-streams/downsampling.asciidoc
  docs/reference/data-streams/set-up-tsds.asciidoc
  docs/reference/data-streams/tsds.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, :StorageEngine/TSDB, Team:StorageEngine, v8.12.3

#108136 [8.13] Simplify tsds getting started (#108090)
  docs/reference/data-streams/downsampling.asciidoc
  docs/reference/data-streams/set-up-tsds.asciidoc
  docs/reference/data-streams/tsds.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, :StorageEngine/TSDB, Team:StorageEngine, v8.13.4

#108139 [8.12] Add documentation around migration from rollup to downsampling (#107965) (#108124)
  docs/reference/rollup/api-quickref.asciidoc
  docs/reference/rollup/index.asciidoc
  docs/reference/rollup/migrating-to-downsampling.asciidoc
  docs/reference/rollup/overview.asciidoc
  docs/reference/rollup/rollup-agg-limitations.asciidoc
  docs/reference/rollup/rollup-apis.asciidoc
  docs/reference/rollup/rollup-getting-started.asciidoc
  docs/reference/rollup/rollup-search-limitations.asciidoc
  docs/reference/rollup/understanding-groups.asciidoc
Labels: >docs, :StorageEngine/Rollup, backport, auto-merge

#108140 [8.13] Add documentation around migration from rollup to downsampling (#107965) (#108124)
  docs/reference/rollup/api-quickref.asciidoc
  docs/reference/rollup/index.asciidoc
  docs/reference/rollup/migrating-to-downsampling.asciidoc
  docs/reference/rollup/overview.asciidoc
  docs/reference/rollup/rollup-agg-limitations.asciidoc
  docs/reference/rollup/rollup-apis.asciidoc
  docs/reference/rollup/rollup-getting-started.asciidoc
  docs/reference/rollup/rollup-search-limitations.asciidoc
  docs/reference/rollup/understanding-groups.asciidoc
Labels: >docs, :StorageEngine/Rollup, backport, auto-merge, v8.13.4

#108122 fix query profile
  docs/changelog/108122.yaml
  server/src/main/java/org/elasticsearch/search/profile/query/ProfileWeight.java
Labels: >bug, :Search/Search, Team:Search, external-contributor, v8.15.0

#108141 [8.14] Mute SearchTransportTelemetryTests testSearchTransportMetricsDfsQueryThenFetch (#107942)
  server/src/test/java/org/elasticsearch/search/TelemetryMetrics/SearchTransportTelemetryTests.java
Labels: :Search/Search, backport, >test-mute, Team:Search, auto-merge, v8.14.1

#108113 Allow for null default and max global retention in DataStreamGlobalRetentionTests
  server/src/test/java/org/elasticsearch/cluster/metadata/ComponentTemplateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamGlobalRetentionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamLifecycleTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.15.0

#108132 [8.14] Mute AzureStorageCleanupThirdPartyTests
  modules/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
Labels: :Distributed/Distributed, backport, >test-mute, Team:Distributed, auto-merge, v8.14.1

#107704 [ML] Remove mention of models in inference actions
  rest-api-spec/src/main/resources/rest-api-spec/api/inference.delete.json
  rest-api-spec/src/main/resources/rest-api-spec/api/inference.delete_model.json
  rest-api-spec/src/main/resources/rest-api-spec/api/inference.get.json
  rest-api-spec/src/main/resources/rest-api-spec/api/inference.put.json
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/inference/action/GetInferenceModelAction.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceBaseRestTest.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceCrudIT.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/MockDenseInferenceServiceIT.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/MockSparseInferenceServiceIT.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/ModelRegistryIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportDeleteInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportGetInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportInferenceUsageAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportPutInferenceModelAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/common/InferenceExceptions.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/registry/ModelRegistry.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/action/GetInferenceModelResponseTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/registry/ModelRegistryTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartTrainedModelDeploymentAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/inference/inference_crud.yml
Labels: >refactoring, :ml, Team:ML, v8.15.0

#108111 [ci] Move BWC to spot instances, shrink packaging-test-unix instances
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic.bwc.template.yml
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, Team:Delivery, :Delivery/Tooling, v8.14.1, v8.15.0, v8.13.4, v7.17.22

#108118 Optimize for single value in ordinals grouping
  docs/changelog/108118.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/OrdinalsGroupingOperator.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.15.0

#108159 Removing the @Nullable annotation from DataStreamLifecycle.getEffectiveDataRetentionWithSource()
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamLifecycle.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, auto-merge, v8.15.0

#106675 Adjust mute for particular condition for 106647
  server/src/test/java/org/elasticsearch/search/query/PartialHitCountCollectorTests.java
Labels: >test, :Search/Search, Team:Search, auto-merge, v8.15.0

#108150 [8.14] [ci] Move BWC to spot instances, shrink packaging-test-unix instances (#108111)
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic.bwc.template.yml
  .buildkite/pipelines/periodic.yml
Labels: backport, v8.14.1

#108153 [7.17] [ci] Move BWC to spot instances, shrink packaging-test-unix instances (#108111)
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic.bwc.template.yml
  .buildkite/pipelines/periodic.yml
Labels: backport, v7.17.22

#108158 [TEST] Fix range mapper synthetic source tests
  server/src/test/java/org/elasticsearch/index/mapper/FloatRangeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IntegerRangeFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/RangeFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
Labels: >test, Team:StorageEngine, :StorageEngine/Mapping, v8.15.0

#108044 ESQL: Fix tests for HashLookup
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/AggregatorFunctionTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/GroupingAggregatorFunctionTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneCountOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/TimeSeriesSortedSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/ValuesSourceReaderOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AggregationOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AnyOperatorTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/ColumnExtractOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/ColumnLoadOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/EvalOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/FilterOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/HashAggregationOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/HashLookupOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/IteratorAppendPageTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/IteratorRemovePageTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LimitOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/MvExpandOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/OutputOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/ProjectOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/StringExtractOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/TimeSeriesAggregationOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/topn/TopNOperatorTests.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionTaskIT.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.15.0

#108166 [8.13] [ci] Move BWC to spot instances, shrink packaging-test-unix instances (#108111)
  .buildkite/pipelines/periodic-packaging.template.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic.bwc.template.yml
  .buildkite/pipelines/periodic.yml
Labels: backport, v8.13.4

#107961 Minor cleanups to auto heap
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/MachineDependentHeap.java
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/MachineDependentHeapTests.java
Labels: >refactoring, Team:Core/Infra, :Core/Infra/CLI, v8.15.0

#107960 Make MappedActionFilter its own interface
  server/src/main/java/org/elasticsearch/action/support/MappedActionFilter.java
  server/src/test/java/org/elasticsearch/action/support/MappedActionFiltersTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/api/filtering/ApiFilteringActionFilter.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v8.15.0

#108031 Fix lingering license warning header
  docs/changelog/108031.yaml
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/AcceptChannelHandler.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpHeaderThreadContextTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
Labels: >bug, :Security/License, Team:Security, auto-backport-and-merge, v8.14.0, v8.15.0, v8.13.4, v7.17.22

#107893 Optimise histogram aggregations for single value fields
  docs/changelog/107893.yaml
  modules/aggregations/src/main/java/org/elasticsearch/aggregations/bucket/histogram/AutoDateHistogramAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateRangeHistogramAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/NumericHistogramAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/RangeHistogramAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/VariableWidthHistogramAggregator.java
Labels: >enhancement, :Analytics/Aggregations, Team:Analytics, v8.15.0

#108174 [8.14] Fix lingering license warning header (#108031)
  docs/changelog/108031.yaml
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/AcceptChannelHandler.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpHeaderThreadContextTests.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
Labels: >bug, :Security/License, backport, Team:Security, auto-merge, v8.14.1

#108109 Fix IndexShardTests#testFlushTimeExcludingWaiting
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: >test, :Distributed/Engine, Team:Distributed, v8.15.0

#106998 Reset desired balance when a node is marked for shutdown
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocatorTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, auto-merge, v8.15.0

#108177 Fix test in `TimeSeriesDataStreamsIT`
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/TimeSeriesDataStreamsIT.java
Labels: >test, :Data Management/ILM+SLM, Team:Data Management, v8.15.0

#108179 Skip `setIgnoredValues` when there are no ignored values
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceLoader.java
Labels: >non-issue, auto-merge, Team:StorageEngine, :StorageEngine/Mapping, v8.15.0

#108182 Add known issue for CCS duplicated buckets
  docs/reference/release-notes/8.13.0.asciidoc
  docs/reference/release-notes/8.13.1.asciidoc
  docs/reference/release-notes/8.13.2.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.14.0, v8.15.0, v8.13.4

#108185 [8.14] Add known issue for CCS duplicated buckets (#108182)
  docs/reference/release-notes/8.13.0.asciidoc
  docs/reference/release-notes/8.13.1.asciidoc
  docs/reference/release-notes/8.13.2.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.14.1

#108186 [8.13] Add known issue for CCS duplicated buckets (#108182)
  docs/reference/release-notes/8.13.0.asciidoc
  docs/reference/release-notes/8.13.1.asciidoc
  docs/reference/release-notes/8.13.2.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.13.4

#108183 [ML] Increase timeout in forecast tests
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlNativeAutodetectIntegTestCase.java
Labels: >test, :ml, Team:ML, v8.15.0

#108160 Adding tests for PR: #108122
  server/src/test/java/org/elasticsearch/search/profile/query/ProfileScorerTests.java
Labels: >test, :Search/Search, Team:Search, auto-merge, v8.15.0

#108162 Prevent ILM getting stuck in `SearchableSnapshotActionIT`
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/SearchableSnapshotActionIT.java
Labels: >test, :Data Management/ILM+SLM, Team:Data Management, v8.15.0

#108187 Revert "Make MappedActionFilter its own interface"
  server/src/main/java/org/elasticsearch/action/support/MappedActionFilter.java
  server/src/test/java/org/elasticsearch/action/support/MappedActionFiltersTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/api/filtering/ApiFilteringActionFilter.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, auto-merge, v8.15.0

#108101 ESQL: Fix error message when failing to resolve aggregate groupings
  docs/changelog/108101.yaml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
Labels: >bug, Team:Analytics, auto-backport, :Analytics/ES|QL, v8.14.1, v8.15.0

#108169 ESQL: Add support for table parameters
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/Column.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlQueryRequest.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/ParseTables.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/RequestXContent.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ClusterComputeRequest.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/DataNodeRequest.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/QueryPragmas.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/TransportEsqlQueryAction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlConfiguration.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryRequestTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/AbstractConfigurationFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/ToLowerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/ToUpperTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/EvalMapperTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlannerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plugin/DataNodeRequestTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/EsqlConfigurationSerializationTests.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, ES|QL-ui, v8.15.0

#108114 Use MockLogAppender.capturing
  modules/transport-netty4/src/internalClusterTest/java/org/elasticsearch/transport/netty4/ESLoggingHandlerIT.java
  qa/no-bootstrap-tests/src/test/java/org/elasticsearch/bootstrap/SpawnerNoBootstrapTests.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/rollover/RolloverIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/DedicatedClusterSnapshotRestoreIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/RestoreSnapshotIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotThrottlingIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotsServiceIT.java
  server/src/test/java/org/elasticsearch/bootstrap/MaxMapCountCheckTests.java
  server/src/test/java/org/elasticsearch/cluster/coordination/stateless/AtomicRegisterPreVoteCollectorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/DeadNodesAllocationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdMonitorTests.java
  server/src/test/java/org/elasticsearch/cluster/service/ClusterApplierServiceTests.java
  server/src/test/java/org/elasticsearch/common/logging/JULBridgeTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingTests.java
  server/src/test/java/org/elasticsearch/common/settings/SettingsFilterTests.java
  server/src/test/java/org/elasticsearch/health/HealthPeriodicLoggerTests.java
  server/src/test/java/org/elasticsearch/http/AbstractHttpServerTransportTests.java
  server/src/test/java/org/elasticsearch/index/IndexingSlowLogTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoverySettingsTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
  server/src/test/java/org/elasticsearch/tasks/BanFailureLoggingTests.java
  server/src/test/java/org/elasticsearch/threadpool/ThreadPoolTests.java
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
  server/src/test/java/org/elasticsearch/transport/OutboundHandlerTests.java
  server/src/test/java/org/elasticsearch/transport/TcpTransportTests.java
  server/src/test/java/org/elasticsearch/transport/TransportLoggerTests.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
  test/yaml-rest-runner/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCaseFailLogIT.java
  x-pack/plugin/autoscaling/src/internalClusterTest/java/org/elasticsearch/xpack/autoscaling/action/TransportGetAutoscalingCapacityActionIT.java
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrLicenseIT.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/support/mapper/expressiondsl/ExpressionModelTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/DocumentSubsetBitsetCacheTests.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/SetStepInfoUpdateTaskTests.java
  x-pack/plugin/logstash/src/test/java/org/elasticsearch/xpack/logstash/action/TransportGetPipelineActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/process/logging/CppLogMessageHandlerTests.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsRecoverFromSnapshotIntegTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/AuditTrailServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticatorChainTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RealmsAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/RealmsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/saml/SamlAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/service/ServiceAccountServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/LoadAuthorizedIndicesTimeCheckerTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/DefaultOperatorPrivilegesTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/FileOperatorUsersStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/ssl/SSLErrorMessageCertificateVerificationTests.java
  x-pack/plugin/snapshot-based-recoveries/src/internalClusterTest/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/SnapshotBasedIndexRecoveryIT.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/checkpoint/DefaultCheckpointProviderTests.java
Labels: >test, :Core/Infra/Logging, Team:Core/Infra, v8.15.0

#108106 Simulate should succeed if ignore_missing_pipeline
  docs/changelog/108106.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/90_simulate.yml
  server/src/main/java/org/elasticsearch/ingest/PipelineProcessor.java
  server/src/main/java/org/elasticsearch/ingest/TrackingResultProcessor.java
Labels: >bug, :Data Management/Ingest Node, Team:Data Management, v8.15.0

#108030 [Docs] Remove Beta label for RCS2.0 from 8.14
  docs/reference/modules/cluster/remote-clusters-api-key.asciidoc
  docs/reference/modules/cluster/remote-clusters-settings.asciidoc
  docs/reference/modules/remote-cluster-network.asciidoc
  docs/reference/modules/remote-clusters.asciidoc
  docs/reference/rest-api/security/create-cross-cluster-api-key.asciidoc
  docs/reference/rest-api/security/create-roles.asciidoc
  docs/reference/rest-api/security/update-cross-cluster-api-key.asciidoc
  docs/reference/security/authorization/managing-roles.asciidoc
  docs/reference/security/authorization/privileges.asciidoc
  docs/reference/security/using-ip-filtering.asciidoc
  docs/reference/settings/security-settings.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.14.0, v8.15.0

#108028 Add release notes for v8.13.3 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.13.3.asciidoc
Labels: >docs, Team:Docs, v8.13.4

#108165 Add BlockHash for 3 BytesRefs
  docs/changelog/108165.yaml
  server/src/main/java/org/elasticsearch/common/util/Int3Hash.java
  server/src/test/java/org/elasticsearch/common/util/Int3HashTests.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/blockhash/BytesRefBlockHash.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefArrayVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefVector.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefVectorBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/ConstantBytesRefVector.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/BlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/BytesRef3BlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/X-BlockHash.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/ConstantNullBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/ConstantNullVector.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/OrdinalBytesRefBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/OrdinalBytesRefVector.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-ArrayBlock.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-ArrayVector.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-Block.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-ConstantVector.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-Vector.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-VectorBlock.java.st
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/blockhash/BlockHashRandomizedTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/blockhash/BlockHashTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichLookupService.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.15.0

#108157 [ci] Add elastic-agent to Windows jobs
  .buildkite/hooks/pre-command.bat
  .buildkite/scripts/setup-monitoring.sh
Labels: >non-issue, Team:Delivery, :Delivery/Tooling, v8.14.1, v8.15.0, v8.13.4, v7.17.22

#108199 [7.17] [ci] Add elastic-agent to Windows jobs (#108157)
  .buildkite/hooks/pre-command.bat
  .buildkite/scripts/setup-monitoring.sh
Labels: backport, v7.17.22

#108198 [8.13] [ci] Add elastic-agent to Windows jobs (#108157)
  .buildkite/hooks/pre-command.bat
  .buildkite/scripts/setup-monitoring.sh
Labels: backport, v8.13.4

#108197 [8.14] [ci] Add elastic-agent to Windows jobs (#108157)
  .buildkite/hooks/pre-command.bat
  .buildkite/scripts/setup-monitoring.sh
Labels: backport, v8.14.1

#108170 Removing global retention functionality for templates
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/GetComponentTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/GetComposableIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/SimulateIndexTemplateResponse.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ComponentTemplate.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplate.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Template.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ComponentTemplateTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/ComposableIndexTemplateTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.15.0

#107474 Avoid resolving metadata fields twice in FetchFieldsPhase
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FieldFetcher.java
  server/src/test/java/org/elasticsearch/index/mapper/PlaceHolderFieldMapperTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhaseTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
Labels: :Search/Search, >refactoring, Team:Search, v8.15.0

#108155 Upgrade to Netty 4.1.109
  build-tools-internal/version.properties
  docs/changelog/108155.yaml
  gradle/verification-metadata.xml
  modules/transport-netty4/build.gradle
Labels: :Distributed/Network, >upgrade, Team:Distributed, v8.15.0

#108194 Fix compilation to account for new Lucene snapshot build
  server/src/main/java/org/elasticsearch/index/codec/vectors/ES814ScalarQuantizedVectorsWriter.java
Labels: >non-issue, :Search/Search, Team:Search, auto-merge

#108089 ES|QL: limit query depth to 500 levels
  docs/changelog/108089.yaml
  test/external-modules/esql-heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/heap_attack/HeapAttackIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ExpressionBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
Labels: >bug, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.14.0, v8.14.1, v8.15.0

#108172 Use direct method mapping for zstd
  libs/native/jna/src/main/java/org/elasticsearch/nativeaccess/jna/JnaZstdLibrary.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, v8.14.0, v8.15.0

#108205 [8.14] Use direct method mapping for zstd (#108172)
  libs/native/jna/src/main/java/org/elasticsearch/nativeaccess/jna/JnaZstdLibrary.java
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge, v8.14.1

#107976 (Doc+) Delineate Bootstrapping Data Stream from Alias
  docs/reference/ilm/ilm-tutorial.asciidoc
Labels: >enhancement, >docs, :Data Management/Data streams, Team:Data Management, Team:Docs, external-contributor, v8.15.0

#108209 [8.14] ES|QL: limit query depth to 500 levels
  test/external-modules/esql-heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/heap_attack/HeapAttackIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ExpressionBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
Labels: backport, auto-merge, :Analytics/ES|QL, v8.14.1

#108211 Docs: Update known issue
  docs/reference/release-notes/8.13.0.asciidoc
  docs/reference/release-notes/8.13.1.asciidoc
  docs/reference/release-notes/8.13.2.asciidoc
Labels: >docs, Team:Docs, auto-merge, auto-backport-and-merge, v8.14.1, v8.15.0, v8.13.4

#108191 ESQL: Fix bug in hashlookup
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/HashLookupOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/HashLookupOperatorTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.15.0

#108213 [8.14] Docs: Update known issue (#108211)
  docs/reference/release-notes/8.13.0.asciidoc
  docs/reference/release-notes/8.13.1.asciidoc
  docs/reference/release-notes/8.13.2.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.14.1

#108214 [8.13] Docs: Update known issue (#108211)
  docs/reference/release-notes/8.13.0.asciidoc
  docs/reference/release-notes/8.13.1.asciidoc
  docs/reference/release-notes/8.13.2.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.13.4

#108148 Remove time-series ordinal rate tests in ESQL
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/TimeSeriesAggregationOperatorTests.java
Labels: >test, :StorageEngine/TSDB, auto-backport-and-merge, Team:StorageEngine, v8.14.1, v8.15.0

#108145 Async close of `IndexShard`
  docs/changelog/108145.yaml
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/IndexShardIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/DanglingIndicesIT.java
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/elasticsearch/indices/store/IndicesStore.java
  server/src/test/java/org/elasticsearch/indices/IndicesServiceTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  test/framework/src/main/java/org/elasticsearch/indices/cluster/AbstractIndicesClusterStateServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: >bug, :Distributed/Engine, Team:Distributed, auto-merge, v8.15.0

#108196 [8.14] Remove Beta label for RCS2.0 from 8.14 (#108030)
  docs/reference/modules/cluster/remote-clusters-api-key.asciidoc
  docs/reference/modules/cluster/remote-clusters-settings.asciidoc
  docs/reference/modules/remote-cluster-network.asciidoc
  docs/reference/modules/remote-clusters.asciidoc
  docs/reference/rest-api/security/create-cross-cluster-api-key.asciidoc
  docs/reference/rest-api/security/create-roles.asciidoc
  docs/reference/rest-api/security/update-cross-cluster-api-key.asciidoc
  docs/reference/security/authorization/managing-roles.asciidoc
  docs/reference/security/authorization/privileges.asciidoc
  docs/reference/security/using-ip-filtering.asciidoc
  docs/reference/settings/security-settings.asciidoc
Labels: backport, v8.14.1

#108201 [DOCS] Remove remaining beta flags for RCS
  docs/reference/cluster/remote-info.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/rest-api/security.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.14.0, v8.15.0

#103237 [Doc+] Add Secure Connection to Setup CCR Tutorial
  docs/reference/ccr/getting-started.asciidoc
Labels: >bug, >docs, Team:Docs, auto-backport-and-merge, v8.13.0, v8.14.0, v8.15.0

#108230 [8.14] [DOCS] Remove remaining beta flags for RCS (#108201)
  docs/reference/cluster/remote-info.asciidoc
  docs/reference/modules/network.asciidoc
  docs/reference/rest-api/security.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.14.1

#108231 [8.13] [Doc+] Add Secure Connection to Setup CCR Tutorial (#103237)
  docs/reference/ccr/getting-started.asciidoc
Labels: >bug, >docs, backport, Team:Docs, external-contributor, auto-merge, v8.13.4

#108232 [8.14] [Doc+] Add Secure Connection to Setup CCR Tutorial (#103237)
  docs/reference/ccr/getting-started.asciidoc
Labels: >bug, >docs, backport, Team:Docs, external-contributor, auto-merge, v8.14.1

#107892 Optimise cardinality aggregations for single value fields
  docs/changelog/107892.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/GlobalOrdCardinalityAggregator.java
Labels: >enhancement, :Analytics/Aggregations, Team:Analytics, v8.15.0

#108178 Unmute SnapshotStatusApisIT#testInfiniteTimeout
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStatusApisIT.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, v8.15.0

#108146 [ML] Allow deletion of the ELSER inference service when referenced in ingest
  docs/changelog/108146.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalService.java
Labels: >bug, :ml, Team:ML, v8.15.0

#108131 [ML] Inference Processor: skip inference when all fields are missing
  docs/changelog/108131.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessor.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorTests.java
Labels: >enhancement, :ml, Team:ML, v8.15.0

#108227 apm-data: improve indexing resilience
  docs/changelog/108227.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/logs-apm.error@mappings.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/traces-apm@mappings.yaml
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/20_flattened_fields.yml
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/20_object_fields.yml
Labels: >enhancement, :Data Management/Data streams, Team:Data Management, auto-merge, v8.15.0

#107978 Drop shards close timeout when stopping node.
  docs/changelog/107978.yaml
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, external-contributor, auto-merge, v8.15.0

#108246 [8.14] ESQL: Fix error message when failing to resolve aggregate groupings (#108101)
  docs/changelog/108101.yaml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
Labels: backport, auto-merge, v8.14.1

#108184 Fix Bucket ordering for partial reduction in date histogram and histogram aggregation
  docs/changelog/108184.yaml
  qa/ccs-rolling-upgrade-remote-cluster/src/test/java/org/elasticsearch/upgrades/AggregationsIT.java
  qa/mixed-cluster/src/test/java/org/elasticsearch/backwards/HistogramIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalDateHistogram.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalHistogram.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, v8.13.4

#108234 [Profiling] Use synthetic source for events and metrics
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-events.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-metrics.json
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/persistence/ProfilingIndexTemplateRegistry.java
Labels: >enhancement, external-contributor, :UniversalProfiling/Application, Team:obs-knowledge, v8.15.0

#108249 [8.14] Strength ccs testing of aggregations in mixed clusters setup (#108235)
  qa/ccs-rolling-upgrade-remote-cluster/src/test/java/org/elasticsearch/upgrades/AggregationsIT.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >test, :Analytics/Aggregations, :Search/Search, backport, Team:Search, Team:Analytics, auto-merge, v8.14.1

#108038 Excluding system data streams from global and factory retention
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleServiceIT.java
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/ExplainDataStreamLifecycleIT.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleService.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/UpdateDataStreamGlobalRetentionService.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/action/TransportExplainDataStreamLifecycleAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/action/TransportGetDataStreamLifecycleAction.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/UpdateDataStreamGlobalRetentionServiceTests.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/datastreams/GetDataStreamAction.java
  server/src/main/java/org/elasticsearch/action/datastreams/lifecycle/ExplainIndexDataStreamLifecycle.java
  server/src/main/java/org/elasticsearch/action/datastreams/lifecycle/GetDataStreamLifecycleAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamLifecycle.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsService.java
  server/src/test/java/org/elasticsearch/action/datastreams/GetDataStreamActionTests.java
  server/src/test/java/org/elasticsearch/action/datastreams/lifecycle/ExplainDataStreamLifecycleResponseTests.java
  server/src/test/java/org/elasticsearch/action/datastreams/lifecycle/ExplainIndexDataStreamLifecycleTests.java
  server/src/test/java/org/elasticsearch/action/datastreams/lifecycle/GetDataStreamLifecycleActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.15.0

#107862 Fix serialization of put/delete shutdown requests
  docs/changelog/107862.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/DeleteShutdownNodeAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/PutShutdownNodeAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/DeleteShutdownRequestTests.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/PutShutdownRequestTests.java
Labels: >bug, Team:Core/Infra, :Core/Infra/Node Lifecycle, v8.14.0, v8.15.0, v8.13.4

#108251 Backport serialization fix of put/delete shutdown requests to 8.14
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/DeleteShutdownNodeAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/PutShutdownNodeAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/DeleteShutdownRequestTests.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/PutShutdownRequestTests.java
Labels: >bug, backport, :Core/Infra/Node Lifecycle, v8.14.0

#108250 Backport serialization fix of put/delete shutdown requests to 8.13
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/DeleteShutdownNodeAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/PutShutdownNodeAction.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/DeleteShutdownRequestTests.java
  x-pack/plugin/shutdown/src/test/java/org/elasticsearch/xpack/shutdown/PutShutdownRequestTests.java
Labels: >bug, backport, :Core/Infra/Node Lifecycle, v8.13.4

#106181 Semantic text query
  server/src/main/java/org/elasticsearch/TransportVersions.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/queries/SemanticQueryBuilderMultiClusterIT.java
  x-pack/plugin/inference/src/main/java/module-info.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapper.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/queries/SemanticQueryBuilder.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapperTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/queries/SemanticQueryBuilderTests.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/30_semantic_text_query.yml
Labels: >non-issue, :Search/Search, Team:Search, :Search/Vectors, v8.15.0

#108228 Add method to copy to file channel from buffer
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBytes.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.15.0

#108223 upgrade bouncy castle (non-fips) to 1.78.1
  build-tools-internal/version.properties
  docs/changelog/108223.yaml
  gradle/verification-metadata.xml
  qa/packaging/src/test/java/org/elasticsearch/packaging/test/ArchiveTests.java
Labels: >upgrade, backport pending, :Security/Security, Team:Security, v8.15.0, v7.17.22

#108270 Fix compilation issue for example
  plugins/examples/security-authorization-engine/src/main/java/org/elasticsearch/example/CustomAuthorizationEngine.java
Labels: >non-issue, :Security/Security, Team:Security, v8.15.0

#108266 Log details of non-green indicators in HealthPeriodicLogger
  docs/changelog/108266.yaml
  server/src/main/java/org/elasticsearch/health/HealthPeriodicLogger.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/shards/ShardsAvailabilityHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/health/HealthPeriodicLoggerTests.java
Labels: >enhancement, Team:Data Management, :Data Management/Health, v8.15.0

#108274 [7.17] upgrade bouncy castle (non-fips) to 1.78.1 (#108223)
  build-tools-internal/version.properties
  gradle/verification-metadata.xml
Labels: >upgrade, backport, auto-merge, v7.17.22

#87485 Add note about license to "Restore an Entire Cluster" docs
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
Labels: >docs, :Security/License, Team:Docs, Team:Security, external-contributor, auto-merge, auto-backport-and-merge, v8.14.1, v8.15.0, v8.13.4, v7.17.22

#108271 Fix typo in RunTask settings name
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/RunTask.java
Labels: >bug, Team:Delivery, :Delivery/Tooling, auto-merge, v8.15.0

#107859 [ES|QL] More implicit casting for binary comparison and IN list predicate
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/boolean.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/ip.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/math.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/version.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlFeatures.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverter.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
Labels: >enhancement, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.14.1, v8.15.0

#108243 Update native vector provider to use unsigned int7 values only
  benchmarks/src/main/java/org/elasticsearch/benchmark/vector/VectorScorerBenchmark.java
  libs/native/libraries/build.gradle
  libs/native/src/main/java/org/elasticsearch/nativeaccess/VectorSimilarityFunctions.java
  libs/native/src/main21/java/org/elasticsearch/nativeaccess/jdk/JdkVectorLibrary.java
  libs/native/src/test21/java/org/elasticsearch/nativeaccess/jdk/JDKVectorLibraryTests.java
  libs/vec/native/build.gradle
  libs/vec/native/publish_vec_binaries.sh
  libs/vec/native/src/vec/c/vec.c
  libs/vec/native/src/vec/headers/vec.h
  libs/vec/src/main/java/org/elasticsearch/vec/VectorScorerFactory.java
  libs/vec/src/main/java/org/elasticsearch/vec/VectorScorerFactoryImpl.java
  libs/vec/src/main21/java/org/elasticsearch/vec/VectorScorerFactoryImpl.java
  libs/vec/src/main21/java/org/elasticsearch/vec/internal/AbstractInt7ScalarQuantizedVectorScorer.java
  libs/vec/src/main21/java/org/elasticsearch/vec/internal/Int7DotProduct.java
  libs/vec/src/main21/java/org/elasticsearch/vec/internal/Int7Euclidean.java
  libs/vec/src/main21/java/org/elasticsearch/vec/internal/Int7MaximumInnerProduct.java
  libs/vec/src/test/java/org/elasticsearch/vec/VectorScorerFactoryTests.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/ES814ScalarQuantizedVectorsWriter.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
Labels: >refactoring, Team:Search, :Search/Vectors, test-arm, v8.15.0

#108276 Fix tsdb codec when doc-values spread in two blocks
  docs/changelog/108276.yaml
  server/src/main/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesProducer.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesFormatTests.java
Labels: >bug, :StorageEngine/TSDB, auto-backport-and-merge, Team:StorageEngine, v8.14.1, v8.15.0, v8.13.4

#108282 [8.13] Fix tsdb codec when doc-values spread in two blocks (#108276)
  docs/changelog/108276.yaml
  server/src/main/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesProducer.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesFormatTests.java
Labels: >bug, backport, auto-merge, :StorageEngine/TSDB, Team:StorageEngine, v8.13.4

#108281 [8.14] Fix tsdb codec when doc-values spread in two blocks (#108276)
  docs/changelog/108276.yaml
  server/src/main/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesProducer.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesFormatTests.java
Labels: >bug, backport, auto-merge, :StorageEngine/TSDB, Team:StorageEngine, v8.14.1

#108286 Muting failing testSerializationForCurrentVersion test
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/user/GetUserPrivilegesResponseTests.java
Labels: :Security/Security, >test-mute, Team:Security, v8.15.0

#108256 Forward port release notes for v8.13.3
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.13.3.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.15.0

#108284 Fix typo in the file descriptors docs
  docs/reference/setup/sysconfig/file-descriptors.asciidoc
Labels: >docs, :Core/Infra/Core, Team:Core/Infra, Team:Docs, external-contributor, v8.13.4

#108242 Make translog fsync configurable
  server/src/main/java/org/elasticsearch/index/translog/Checkpoint.java
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogConfig.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogHeader.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogWriter.java
  server/src/main/java/org/elasticsearch/index/translog/TruncateTranslogAction.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogDeletionPolicyTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogHeaderTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.15.0

#108060 ESQL: Do not use ql aggregate function
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/Functions.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/AggregateFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/Avg.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/Count.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/CountDistinct.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/EnclosedAgg.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/Median.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/NumericAggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/SpatialAggregateFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/SpatialCentroid.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/Values.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Keep.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Project.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/local/EsqlProject.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AbstractPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AggregateMapper.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/Mapper.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/main/resources/forbidden/ql-signatures.txt
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypesTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/ExpressionTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
Labels: >refactoring, Team:Analytics, :Analytics/ES|QL, v8.15.0

#108293 [Fleet] Add `unprivileged` mapping to .fleet-agents
  x-pack/plugin/core/template-resources/src/main/resources/fleet-agents.json
Labels: >non-issue, :Core/Infra/Plugins, Team:Core/Infra, external-contributor, v8.15.0

#108280 Ensure necessary security context for s3 bulk deletions
  docs/changelog/108280.yaml
  docs/reference/snapshot-restore/repository-s3.asciidoc
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java
  x-pack/plugin/snapshot-repo-test-kit/qa/s3/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/S3SnapshotRepoTestKitIT.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, auto-backport-and-merge, v8.14.0, v8.15.0, v8.13.4

#108296 [DOCS] Documents `creating_replicas` param for Health API
  docs/reference/health/health.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.14.1, v8.15.0, v8.13.4

#108303 [8.13] [DOCS] Documents param for Health API. (#108296)
  docs/reference/health/health.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.13.4

#108302 [8.14] [DOCS] Documents param for Health API. (#108296)
  docs/reference/health/health.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.14.1

#108298 [8.14] Ensure necessary security context for s3 bulk deletions (#108280)
  docs/changelog/108280.yaml
  docs/reference/snapshot-restore/repository-s3.asciidoc
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java
  x-pack/plugin/snapshot-repo-test-kit/qa/s3/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/S3SnapshotRepoTestKitIT.java
Labels: >bug, :Distributed/Snapshot/Restore, backport, Team:Distributed, auto-merge, v8.14.0

#108252 [8.14] Fix docs generation of signatures for variadic functions (#107865)
  docs/changelog/107865.yaml
  docs/reference/esql/functions/types/bucket.asciidoc
  docs/reference/esql/functions/types/coalesce.asciidoc
  docs/reference/esql/functions/types/greatest.asciidoc
  docs/reference/esql/functions/types/least.asciidoc
  docs/reference/esql/functions/types/locate.asciidoc
  docs/reference/esql/functions/types/log.asciidoc
  docs/reference/esql/functions/types/round.asciidoc
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
Labels: >bug, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.1

#108294 Fix SnapshotStatusApisIT#testInfiniteTimeout
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStatusApisIT.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, v8.15.0

#108304 ESQL: Docs: Introduce an IP functions group
  docs/reference/esql/esql-functions-operators.asciidoc
  docs/reference/esql/functions/ip-functions.asciidoc
  docs/reference/esql/functions/operators.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.14.1, v8.15.0

#108149 [Transform] Document PIT performance issue
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexer.java
Labels: >non-issue, :ml/Transform, Team:ML, v8.15.0

#108309 Introduce an IP functions group (#108304)
  docs/reference/esql/esql-functions-operators.asciidoc
  docs/reference/esql/functions/ip-functions.asciidoc
  docs/reference/esql/functions/operators.asciidoc
Labels: >docs, backport, auto-merge, :Analytics/ES|QL, v8.14.0, v8.14.1

#108267 [DOCS] clarify that the repo location setting accepts only one value
  docs/reference/snapshot-restore/repository-shared-file-system.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, Team:Distributed, Team:Docs, auto-backport-and-merge, v8.14.0, v8.13.3, v8.15.0, v8.13.4

#108291 Optimize FieldData#toString methods for single value fields
  server/src/main/java/org/elasticsearch/index/fielddata/FieldData.java
  server/src/test/java/org/elasticsearch/index/fielddata/AbstractFieldDataImplTestCase.java
  server/src/test/java/org/elasticsearch/index/fielddata/GeoFieldDataTests.java
  server/src/test/java/org/elasticsearch/index/fielddata/SortedNumericDoubleFieldDataTests.java
  server/src/test/java/org/elasticsearch/index/fielddata/SortedNumericFieldDataTests.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.15.0

#108295 [DOCS] Clarify `retriever` is not API
  docs/reference/search/retriever.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.14.0, v8.15.0

#108229 Extend timeout of assertBusy in DeprecationHttpIT for remaining places
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.15.0

#108130 Optimise frequent item sets aggregation for single value fields
  docs/changelog/108130.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/mr/ItemSetMapReduceValueSource.java
Labels: >enhancement, :ml, Team:ML, v8.15.0

#108297 Invalidate cross cluster API key docs
  docs/reference/rest-api/security/invalidate-api-keys.asciidoc
Labels: >docs, :Security/Security, Team:Docs, Team:Security, auto-merge, auto-backport, v8.14.0, v8.15.0

#108316 [8.14] Invalidate cross cluster API key docs (#108297)
  docs/reference/rest-api/security/invalidate-api-keys.asciidoc
Labels: >docs, :Security/Security, backport, Team:Docs, Team:Security, auto-merge, v8.14.1

#108314 ESQL: Make ip.ImplictCastingEqual test reliable
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/ip.csv-spec
Labels: >test, Team:Analytics, auto-merge, auto-backport-and-merge, :Analytics/ES|QL, v8.14.1, v8.15.0

#108289 Fix random limit in AsyncOperatorTests
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AsyncOperatorTests.java
Labels: >test, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.14.1, v8.15.0, v8.13.4

#108313 ESQL: Rework integration-only csv testing
  docs/reference/esql/metadata-fields.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/metadata.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlFeatures.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
Labels: >test, Team:Analytics, auto-merge, auto-backport-and-merge, :Analytics/ES|QL, v8.14.1, v8.15.0

#108255 Fix role descriptor's hashCode, equals and isEmpty implementations
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/RoleDescriptor.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/RemoteClusterPermissionGroup.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/support/StringMatcher.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/user/GetUserPrivilegesResponseTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, auto-merge, v8.15.0

#108257 ESQL: Log queries at debug level
  docs/changelog/108257.yaml
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlResponseListener.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/RestEsqlAsyncQueryAction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/RestEsqlQueryAction.java
Labels: >enhancement, Team:Analytics, auto-merge, auto-backport-and-merge, :Analytics/ES|QL, v8.14.0, v8.15.0

#108323 [8.13] Fix random limit in AsyncOperatorTests (#108289)
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AsyncOperatorTests.java
Labels: >test, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.4

#108322 [8.14] Fix random limit in AsyncOperatorTests (#108289)
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AsyncOperatorTests.java
Labels: >test, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.1

#108283 Fix BlockHash DirectEncoder
  docs/changelog/108283.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/mvdedupe/BatchEncoder.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BasicBlockTests.java
Labels: >bug, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.14.1, v8.15.0, v8.13.4

#108325 [8.14] ESQL: Log queries at debug level (#108257)
  docs/changelog/108257.yaml
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlResponseListener.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/RestEsqlAsyncQueryAction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/RestEsqlQueryAction.java
Labels: >enhancement, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.1

#108326 ESQL: Rework integration-only csv testing (#108313)
  docs/reference/esql/metadata-fields.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/metadata.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlFeatures.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
Labels: backport, :Analytics/ES|QL, v8.14.0

#108329 [8.13] Fix BlockHash DirectEncoder (#108283)
  docs/changelog/108283.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/BatchEncoder.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BasicBlockTests.java
Labels: >bug, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.4

#108328 [8.14] Fix BlockHash DirectEncoder (#108283)
  docs/changelog/108283.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/BatchEncoder.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BasicBlockTests.java
Labels: >bug, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.14.1

#107915 Fix coordination request and document rejection metrics
  server/src/internalClusterTest/java/org/elasticsearch/monitor/metrics/NodeIndexingMetricsIT.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/ClusterStatsNodes.java
  server/src/main/java/org/elasticsearch/index/IndexingPressure.java
  server/src/main/java/org/elasticsearch/index/stats/IndexingPressureStats.java
  server/src/main/java/org/elasticsearch/monitor/metrics/NodeMetrics.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/stats/NodeStatsTests.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.15.0
