Repository elastic/elasticsearch, pull requests merged in 2024-08, with the labels that each got.

#111440 Fix IndexFoldersDeletionListenerIT#testListenersInvokedWhenIndexIsDangling
  server/src/internalClusterTest/java/org/elasticsearch/plugins/IndexFoldersDeletionListenerIT.java
Labels: >test, :Distributed/Store, Team:Distributed, v8.16.0

#111472 Fix NPE if adaptive allocations settings enabled is null
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/StartTrainedModelDeploymentAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/UpdateTrainedModelDeploymentAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/AdaptiveAllocationsSettings.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/adaptiveallocations/AdaptiveAllocationsScalerService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterService.java
Labels: >non-issue, :ml, Team:ML, v8.16.0

#111506 [Gradle] Fix lazy task configuration regression
  test/fixtures/hdfs-fixture/build.gradle
  x-pack/plugin/esql/arrow/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, v8.16.0

#111476 [DOCS] Adds adaptive_allocations to inference and trained model API docs
  docs/reference/inference/service-elasticsearch.asciidoc
  docs/reference/inference/service-elser.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  docs/reference/ml/trained-models/apis/start-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/update-trained-model-deployment.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport-and-merge, v8.15.0, v8.16.0

#111496 ESQL: Fix some test randomization
  muted-tests.yml
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/AbstractLogicalPlanSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/LookupSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/local/LocalRelationSerializationTests.java
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111508 [8.15] [DOCS] Adds adaptive_allocations to inference and trained model API docs (#111476)
  docs/reference/inference/service-elasticsearch.asciidoc
  docs/reference/inference/service-elser.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  docs/reference/ml/trained-models/apis/start-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/update-trained-model-deployment.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge, v8.15.1

#111482 Add test cases for nulls and wrong types to aggregation tests
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/Max.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/Min.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/Values.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractAggregationTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractScalarFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/TestCaseSupplier.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/AvgTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/MaxTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/MinTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/ValuesTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/WeightedAvgTests.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111408 [DOCS] Clarify copy_to behavior with strict dynamic mappings
  docs/reference/mapping/params/copy-to.asciidoc
Labels: >docs, auto-backport-and-merge, v8.14.0, v8.15.0, v8.16.0

#111513 [8.15] [DOCS] Clarify copy_to behavior with strict dynamic mappings (#111408)
  docs/reference/mapping/params/copy-to.asciidoc
Labels: >docs, backport, auto-merge, v8.15.1

#111511 [8.13] [DOCS] Clarify copy_to behavior with strict dynamic mappings (#111408)
  docs/reference/mapping/params/copy-to.asciidoc
Labels: >docs, backport, auto-merge, v8.13.5

#111510 ESQL: Make test result order consistent
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/mv_pseries_weighted_sum.csv-spec
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111503 Fix DocValuesCodecDuelTests
  server/src/test/java/org/elasticsearch/index/codec/tsdb/DocValuesCodecDuelTests.java
Labels: >test, :StorageEngine/TSDB, auto-backport-and-merge, Team:StorageEngine, v8.16.0, v8.15.1

#111364 [ML] Start a new trace before loading trained model
  x-pack/plugin/ml-package-loader/src/main/java/org/elasticsearch/xpack/ml/packageloader/action/TransportLoadTrainedModelPackage.java
Labels: >non-issue, :ml, Team:ML, v8.16.0

#111514 [8.15] Add release version to setCompatibleVersions task (#111489)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseToolsPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/SetCompatibleVersionsTask.java
Labels: >non-issue, :Delivery/Build, :Core/Infra/Core, backport, Team:Core/Infra, Team:Delivery, auto-merge, v8.15.1

#111515 [8.15] Fix DocValuesCodecDuelTests (#111503)
  server/src/test/java/org/elasticsearch/index/codec/tsdb/DocValuesCodecDuelTests.java
Labels: >test, backport, auto-merge, :StorageEngine/TSDB, Team:StorageEngine, v8.15.1

#111156 Only use at most a single thread for search context freeing
  server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java
Labels: >non-issue, Team:Search Foundations, v8.16.0, :Search Foundations/Search

#111509 Remove unused compatibility shims
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/restore/RestoreSnapshotRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/DeleteStoredScriptRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/GetStoredScriptRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/PutStoredScriptRequestBuilder.java
  server/src/main/java/org/elasticsearch/client/internal/ClusterAdminClient.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, test-update-serverless, v8.16.0

#111519 ESQL: Don't mutate the BoolQueryBuilder in plan
  docs/changelog/111519.yaml
  server/src/main/java/org/elasticsearch/index/query/BoolQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/BoolQueryBuilderTests.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/util/Queries.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/util/QueriesTests.java
  x-pack/plugin/esql/qa/server/multi-node/build.gradle
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/Clusters.java
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/EsqlSpecIT.java
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/FieldExtractorIT.java
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/RestEsqlIT.java
  x-pack/plugin/esql/qa/server/multi-node/src/yamlRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/EsqlClientYamlIT.java
  x-pack/plugin/esql/qa/server/single-node/build.gradle
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEsqlTestCase.java
Labels: >bug, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0, v8.15.1

#111512 [8.14] [DOCS] Clarify copy_to behavior with strict dynamic mappings (#111408)
  docs/reference/mapping/params/copy-to.asciidoc
Labels: >docs, backport, auto-merge, v8.14.4

#111500 Limit number of unknown clients accepted by CCS telemetry
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/CCSUsageTelemetry.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/CCSUsageTelemetryTests.java
Labels: >non-issue, Team:Search Foundations, v8.16.0, :Search Foundations/CCS

#111245 Truncating watcher history if it is too large
  docs/changelog/111245.yaml
  docs/reference/settings/notification-settings.asciidoc
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/history/WatchRecord.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/HistoryIntegrationTests.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/history/HistoryStore.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/history/HistoryStoreTests.java
Labels: >bug, :Data Management/Watcher, Team:Data Management, v8.16.0

#111179 Track raw ingest and storage size separately to support updates by doc
  modules/ingest-common/src/internalClusterTest/java/org/elasticsearch/plugins/internal/XContentMeteringParserDecoratorWithPipelinesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/plugins/internal/XContentMeteringParserDecoratorIT.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkPrimaryExecutionContext.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportSimulateBulkAction.java
  server/src/main/java/org/elasticsearch/action/index/IndexRequest.java
  server/src/main/java/org/elasticsearch/action/update/UpdateHelper.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentHelper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/ParsedDocument.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceToParse.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/plugins/internal/DocumentParsingProvider.java
  server/src/main/java/org/elasticsearch/plugins/internal/DocumentSizeAccumulator.java
  server/src/main/java/org/elasticsearch/plugins/internal/DocumentSizeObserver.java
  server/src/main/java/org/elasticsearch/plugins/internal/XContentMeteringParserDecorator.java
  server/src/main/java/org/elasticsearch/plugins/internal/XContentParserDecorator.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportShardBulkActionTests.java
  server/src/test/java/org/elasticsearch/index/IndexingSlowLogTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicTemplatesTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#111488 Fix broken MvPSeriesWeightedSum tests
  muted-tests.yml
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvPSeriesWeightedSumTests.java
Labels: >test, Team:Analytics, external-contributor, :Analytics/ES|QL, v8.16.0

#111447 ES|QL: improve serialization of FieldAttributes
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/FieldAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/MetadataAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/ReferenceAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/util/PlanStreamInput.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/util/PlanStreamOutput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/UnsupportedAttribute.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamInput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamOutput.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractAttributeTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/MetadataAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/UnsupportedAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamOutputTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111502 Use milliseconds for time histogram metrics
  modules/repository-s3/src/internalClusterTest/java/org/elasticsearch/repositories/s3/S3BlobStoreRepositoryMetricsTests.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesMetrics.java
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/BlobCacheMetrics.java
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, v8.16.0

#111420 [Query rules] Add `exclude` query rule type
  docs/changelog/111420.yaml
  docs/reference/query-dsl/rule-query.asciidoc
  docs/reference/query-rules/apis/put-query-rule.asciidoc
  docs/reference/query-rules/apis/put-query-ruleset.asciidoc
  docs/reference/search/search-your-data/search-using-query-rules.asciidoc
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/rules/10_query_ruleset_put.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/rules/20_query_ruleset_list.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/rules/40_rule_query_search.yml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/rules/50_query_rule_put.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/rules/AppliedQueryRules.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/rules/QueryRule.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/rules/RuleQueryBuilder.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/rules/QueryRuleTests.java
  x-pack/plugin/search-business-rules/src/internalClusterTest/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilderIT.java
  x-pack/plugin/search-business-rules/src/main/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilder.java
  x-pack/plugin/search-business-rules/src/main/java/org/elasticsearch/xpack/searchbusinessrules/SpecifiedDocument.java
  x-pack/plugin/search-business-rules/src/test/java/org/elasticsearch/xpack/searchbusinessrules/PinnedQueryBuilderTests.java
Labels: >feature, :SearchOrg/Relevance, v8.16.0

#111536 ES|QL match operator - add check for snapshot build in test
  muted-tests.yml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/MatchOperatorIT.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/180_match_operator.yml
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111551 [8.15] [DOCS] Removes adaptive_allocations API docs
  docs/reference/inference/service-elasticsearch.asciidoc
  docs/reference/inference/service-elser.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  docs/reference/ml/trained-models/apis/start-trained-model-deployment.asciidoc
  docs/reference/ml/trained-models/apis/update-trained-model-deployment.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.15.0

#111525 Expose shard field stats
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/shard/ShardFieldStats.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0

#111556 Fixing potential OOME in HistoryIntegrationTest.testThatHistoryIsTruncated()
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/HistoryIntegrationTests.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/Watcher.java
Labels: >test, :Data Management/Watcher, Team:Data Management, v8.16.0

#110216 Register SLM run before snapshotting to save stats
  docs/changelog/110216.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/create/CreateSnapshotRequest.java
  server/src/main/java/org/elasticsearch/cluster/ClusterModule.java
  server/src/main/java/org/elasticsearch/snapshots/RegisteredPolicySnapshots.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotId.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/create/CreateSnapshotRequestTests.java
  server/src/test/java/org/elasticsearch/snapshots/RegisteredPolicySnapshotsSerializationTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecyclePolicyMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm/SnapshotLifecycleStats.java
  x-pack/plugin/slm/src/internalClusterTest/java/org/elasticsearch/xpack/slm/SLMStatDisruptionIT.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/SnapshotLifecycle.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/SnapshotLifecycleTask.java
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecyclePolicyTests.java
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleTaskTests.java
Labels: >enhancement, :Data Management/ILM+SLM, Team:Data Management, v8.16.0

#111557 (Doc+) cluster.routing.allocation.enable effects going forward
  docs/reference/modules/cluster/shards_allocation.asciidoc
Labels: >enhancement, >docs, :Distributed/Allocation, Team:Distributed, Team:Docs, external-contributor, auto-backport-and-merge, v8.14.0, v8.15.0, v8.16.0

#111369 Improve security-crypto threadpool overflow handling
  docs/changelog/111369.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
Labels: >bug, :Security/Authentication, Team:Security, auto-backport, v8.16.0, v8.15.1, v7.17.24

#111106 Limit stack trace size on failure store documents
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/190_failure_store_redirection.yml
  server/src/main/java/org/elasticsearch/ExceptionsHelper.java
  server/src/main/java/org/elasticsearch/action/bulk/FailureStoreDocumentConverter.java
  server/src/test/java/org/elasticsearch/ExceptionsHelperTests.java
  server/src/test/java/org/elasticsearch/action/bulk/FailureStoreDocumentConverterTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v8.16.0

#111564 [8.15] Improve security-crypto threadpool overflow handling (#111369)
  docs/changelog/111369.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
Labels: >bug, :Security/Authentication, backport, Team:Security, auto-merge, v8.15.1

#111554 Use higher precision time so that 0 can represent missing data
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.16.0

#111553 Add one missing test case to SystemIndexMappingUpdateServiceTests
  server/src/test/java/org/elasticsearch/indices/SystemIndexMappingUpdateServiceTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#111352 [DOCS] Replace local dev instructions in main README
  README.asciidoc
Labels: >docs, auto-backport-and-merge, v8.14.0, v8.15.0, v8.16.0

#111580 [8.14] [DOCS] Replace local dev instructions in main README (#111352)
  README.asciidoc
Labels: >docs, backport, auto-merge, v8.14.4

#111538 Check the scale before converting xcontent long values, rather than the absolute value
  libs/x-content/src/main/java/org/elasticsearch/xcontent/support/AbstractXContentParser.java
  libs/x-content/src/test/java/org/elasticsearch/xcontent/XContentParserTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, auto-backport, v8.15.0, v8.16.0

#111569 Enforce JKS trustore for Azure IT
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/KeyStoreUtil.java
  modules/repository-azure/src/yamlRestTest/java/org/elasticsearch/repositories/azure/RepositoryAzureClientYamlTestSuiteIT.java
  muted-tests.yml
  test/framework/src/main/java/org/elasticsearch/test/TestTrustStore.java
  x-pack/plugin/repositories-metering-api/qa/azure/src/javaRestTest/java/org/elasticsearch/xpack/repositories/metering/azure/AzureRepositoriesMeteringIT.java
  x-pack/plugin/searchable-snapshots/qa/azure/src/javaRestTest/java/org/elasticsearch/xpack/searchablesnapshots/AzureSearchableSnapshotsIT.java
  x-pack/plugin/snapshot-based-recoveries/qa/azure/src/javaRestTest/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/AzureSnapshotBasedRecoveryIT.java
  x-pack/plugin/snapshot-repo-test-kit/qa/azure/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/AzureSnapshotRepoTestKitIT.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.16.0

#111581 [8.15] [DOCS] Replace local dev instructions in main README (#111352)
  README.asciidoc
Labels: >docs, backport, auto-merge, v8.15.1

#111577 Rework Azure repo docs for new auth mechanisms
  docs/reference/snapshot-restore/repository-azure.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, Team:Distributed, Team:Docs, auto-merge, v8.16.0

#111541 Speedup ESIntegTestCase.waitForDocs
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#111583 [8.15] Check the scale before converting xcontent long values, rather than the absolute value (#111538)
  libs/x-content/src/main/java/org/elasticsearch/xcontent/support/AbstractXContentParser.java
  libs/x-content/src/test/java/org/elasticsearch/xcontent/XContentParserTests.java
Labels: :Core/Infra/Core, >refactoring, backport, Team:Core/Infra, v8.15.1

#111584 [7.17] Check the scale before converting xcontent long values, rather than the absolute value (#111538)
  libs/x-content/src/main/java/org/elasticsearch/xcontent/support/AbstractXContentParser.java
  libs/x-content/src/test/java/org/elasticsearch/xcontent/XContentParserTests.java
Labels: :Core/Infra/Core, >refactoring, backport, v7.17.24

#111560 Speed-up slow mock array release assertion
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#111414 Tests for Azure Workload Identity support
  modules/repository-azure/build.gradle
  modules/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
  modules/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureClientProvider.java
  modules/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureClientProviderTests.java
  modules/repository-azure/src/yamlRestTest/java/org/elasticsearch/repositories/azure/RepositoryAzureClientYamlTestSuiteIT.java
  test/fixtures/azure-fixture/src/main/java/fixture/azure/AzureHttpFixture.java
  test/fixtures/azure-fixture/src/main/java/fixture/azure/AzureMetadataServiceHttpHandler.java
  test/fixtures/azure-fixture/src/main/java/fixture/azure/AzureOAuthTokenServiceHttpHandler.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterFactory.java
  x-pack/plugin/repositories-metering-api/qa/azure/src/javaRestTest/java/org/elasticsearch/xpack/repositories/metering/azure/AzureRepositoriesMeteringIT.java
  x-pack/plugin/searchable-snapshots/qa/azure/src/javaRestTest/java/org/elasticsearch/xpack/searchablesnapshots/AzureSearchableSnapshotsIT.java
  x-pack/plugin/snapshot-based-recoveries/qa/azure/src/javaRestTest/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/AzureSnapshotBasedRecoveryIT.java
  x-pack/plugin/snapshot-repo-test-kit/qa/azure/build.gradle
  x-pack/plugin/snapshot-repo-test-kit/qa/azure/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/AzureSnapshotRepoTestKitIT.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.16.0

#111524 Fix NullPointerException in shard snapshot code
  docs/changelog/111524.yaml
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
Labels: >bug, :Distributed/Snapshot/Restore, Team:Distributed, v7.17.24

#111565 Update paginate-search-results.asciidoc
  docs/reference/search/search-your-data/paginate-search-results.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.16.0, v8.15.1, v8.14.4

#111587 [DOCS] Update CCS matrix for 8.15
  docs/reference/search/search-your-data/ccs-version-compat-matrix.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.15.0, v8.16.0

#111594 [8.14] Update paginate-search-results.asciidoc (#111565)
  docs/reference/search/search-your-data/paginate-search-results.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.14.4

#111592 Fix potential bug in EmbeddedProviderPlugin
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/EmbeddedProviderExtension.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, auto-backport-and-merge, v8.16.0, v8.15.1

#111563 ESQL: Finish migration of null testing
  docs/reference/esql/functions/kibana/definition/ends_with.json
  docs/reference/esql/functions/kibana/definition/starts_with.json
  docs/reference/esql/functions/types/ends_with.asciidoc
  docs/reference/esql/functions/types/starts_with.asciidoc
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/ElementType.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSort.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractScalarFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/TestCaseSupplier.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/grouping/BucketTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/CaseTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DateDiffTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/NowTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/ETests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/PiTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/TauTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvDedupeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSortTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSumTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvZipTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/nulls/CoalesceTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/nulls/IsNotNullTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/nulls/IsNullTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/EndsWithTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/RLikeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/StartsWithTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/WildcardLikeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/AbstractBinaryOperatorTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/AbstractArithmeticTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/AbstractDateTimeArithmeticTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/AddTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/MulTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/SubTests.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111294 Fix: tryPreallocate open ignored creation flag
  libs/native/src/main/java/org/elasticsearch/nativeaccess/PosixNativeAccess.java
  libs/native/src/test/java/org/elasticsearch/nativeaccess/PreallocateTests.java
Labels: >bug, >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, v8.16.0, v8.15.1

#111589 Fix blob-not-found handling in `AzureBlobContainer`
  modules/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureStorageCleanupThirdPartyTests.java
  modules/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobContainer.java
  muted-tests.yml
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.16.0

#111576 Execute shard snapshot tasks in shard-id order
  docs/changelog/111576.yaml
  server/src/main/java/org/elasticsearch/repositories/blobstore/ShardSnapshotTaskRunner.java
  server/src/test/java/org/elasticsearch/repositories/blobstore/ShardSnapshotTaskRunnerTests.java
Labels: >enhancement, :Distributed/Snapshot/Restore, Team:Distributed, v8.16.0

#111602 ESQL: Make scaled_float test less precise
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/FieldExtractorTestCase.java
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111567 [7.17] Improve security-crypto threadpool overflow handling (#111369)
  docs/changelog/111369.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
Labels: >bug, :Security/Authentication, backport, auto-merge, v7.17.24

#111499 Add IT tests for CCS Usage telemetry
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CCSUsageTelemetryIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/CCSTelemetrySnapshot.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/CCSTelemetrySnapshotTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/CCSUsageTelemetryTests.java
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/CCSUsageTelemetryAsyncSearchIT.java
Labels: >non-issue, Team:Search Foundations, v8.16.0, :Search Foundations/CCS

#111606 Wait for cluster to be more ready in REST test
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/WaitForHttpResource.java
Labels: >test, :Delivery/Build, Team:Delivery, auto-merge, auto-backport-and-merge, v8.16.0, v8.15.1

#111609 [8.15] Wait for cluster to be more ready in REST test (#111606)
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterHandle.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/WaitForHttpResource.java
Labels: >test, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.15.1

#111600 Make ecs@mappings work with OTel attributes
  docs/changelog/111600.yaml
  x-pack/plugin/core/template-resources/src/main/resources/ecs@mappings.json
  x-pack/plugin/stack/src/javaRestTest/java/org/elasticsearch/xpack/stack/EcsDynamicTemplatesIT.java
Labels: >enhancement, :Data Management/Data streams, Team:Data Management, external-contributor, v8.16.0

#111618 Add features upgrade known issue to 8.14.3
  docs/reference/release-notes/8.14.3.asciidoc
Labels: >docs, :Core/Infra/Core, Team:Core/Infra, Team:Docs, v8.14.3, v8.14.4

#111579 [8.15] Forward port v8.14.3 release notes (#110629)
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.14.3.asciidoc
Labels: backport, v8.15.1

#111575 Add release notes for v8.15.0 release
  docs/reference/migration/migrate_8_15.asciidoc
  docs/reference/release-notes/8.15.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.15.0, v8.15.1

#111622 Weaken docs around Azure Identity mechanisms
  docs/reference/snapshot-restore/repository-azure.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, Team:Distributed, Team:Docs, v8.16.0

#111611 Fix Azure tests in FIPS mode again
  modules/repository-azure/build.gradle
  modules/repository-azure/src/yamlRestTest/java/org/elasticsearch/repositories/azure/RepositoryAzureClientYamlTestSuiteIT.java
  muted-tests.yml
  test/fixtures/azure-fixture/src/main/java/fixture/azure/AzureHttpFixture.java
  test/framework/src/main/java/org/elasticsearch/test/TestTrustStore.java
  x-pack/plugin/repositories-metering-api/qa/azure/src/javaRestTest/java/org/elasticsearch/xpack/repositories/metering/azure/AzureRepositoriesMeteringIT.java
  x-pack/plugin/searchable-snapshots/qa/azure/src/javaRestTest/java/org/elasticsearch/xpack/searchablesnapshots/AzureSearchableSnapshotsIT.java
  x-pack/plugin/snapshot-based-recoveries/qa/azure/src/javaRestTest/java/org/elasticsearch/xpack/snapshotbasedrecoveries/recovery/AzureSnapshotBasedRecoveryIT.java
  x-pack/plugin/snapshot-repo-test-kit/qa/azure/build.gradle
  x-pack/plugin/snapshot-repo-test-kit/qa/azure/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/AzureSnapshotRepoTestKitIT.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, Team:Security, :Security/FIPS, auto-merge, v8.16.0

#111626 Add back warning to not remove inference id in semantic_text for 8.15
  docs/reference/mapping/types/semantic-text.asciidoc
Labels: >docs, Team:Docs, v8.15.0, v8.15.1

#111596 ESQL: Migrate logical plan to NamedWriteable
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/index/EsIndex.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamInput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamOutput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Aggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Dissect.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Drop.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Enrich.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/EsRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Eval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Explain.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Filter.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Grok.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/InlineStats.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Limit.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/LogicalPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Lookup.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/MvExpand.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/OrderBy.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Project.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Rename.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Row.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/TopN.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/UnresolvedRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/Join.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/local/EsqlProject.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/meta/MetaFunctions.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/show/ShowInfo.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlPlugin.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/SerializationTestUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/AliasTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/index/EsIndexSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypesTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamInputTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/AbstractLogicalPlanSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/AggregateSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/DissectSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/EnrichSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/EsRelationSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/EvalSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/FilterSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/GrokSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/InlineStatsSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/LimitSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/MvExpandSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/OrderBySerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/PhasedTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/ProjectSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/local/EsqlProjectSerializationTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111633 [8.15][DOCS] Document inference API breaking change
  docs/reference/migration/migrate_8_15.asciidoc
  docs/reference/release-notes/8.15.0.asciidoc
Labels: >docs, :ml, Team:Docs, v8.15.0, v8.15.1

#111613 Use internal refresh listener for shard field stats
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0

#110901 Gracefully handle invalid synonym rules in updateable synonyms
  docs/changelog/110901.yaml
  docs/reference/analysis/tokenfilters/synonym-graph-tokenfilter.asciidoc
  docs/reference/analysis/tokenfilters/synonym-tokenfilter.asciidoc
  modules/analysis-common/src/internalClusterTest/java/org/elasticsearch/analysis/common/ReloadSynonymAnalyzerIT.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/SynonymGraphTokenFilterFactory.java
  modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/SynonymTokenFilterFactory.java
  modules/analysis-common/src/test/java/org/elasticsearch/analysis/common/SynonymsAnalysisTests.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/synonyms/110_synonyms_invalid.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/synonyms/80_synonyms_from_index.yml
  server/src/main/java/org/elasticsearch/index/IndexVersions.java
Labels: >bug, >breaking, :Search Relevance/Analysis, :SearchOrg/Relevance, Team:Search Relevance, v8.16.0

#111147 ES|QL MATCH command
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/match.csv-spec
  x-pack/plugin/esql/src/main/antlr/EsqlBaseLexer.g4
  x-pack/plugin/esql/src/main/antlr/EsqlBaseLexer.tokens
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.g4
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.tokens
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParserBaseListener.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParserBaseVisitor.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParserListener.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParserVisitor.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111629 Fix `testElectionSchedulingAfterDiscoveryOutage`
  server/src/main/java/org/elasticsearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/elasticsearch/discovery/PeerFinder.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/cluster/coordination/CoordinatorTests.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, v8.16.0, v8.15.1

#111285 [Bugfix] Add accessDeclaredMembers permission for ObjectMapper to work.
  docs/changelog/111285.yaml
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/search/52_search_application_render_query.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/TemplateParamValidator.java
  x-pack/plugin/ent-search/src/main/plugin-metadata/plugin-security.policy
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/search/TemplateParamValidatorTests.java
Labels: >bug, auto-backport, :SearchOrg/Relevance, v8.15.0, Team:Search Relevance, v8.16.0

#111630 ESQL: Reenable CSV tests
  muted-tests.yml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111315 Add link to flood-stage watermark exception message
  docs/changelog/111315.yaml
  docs/reference/troubleshooting/common-issues/disk-usage-exceeded.asciidoc
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/EnterpriseGeoIpDownloaderTests.java
  modules/ingest-geoip/src/test/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderTests.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/delete/DeleteIndexBlocksIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.json
Labels: >enhancement, :Distributed/Allocation, Team:Distributed, external-contributor, v8.16.0

#111552 Improve MvPSeriesWeightedSum edge case and add more tests
  docs/changelog/111552.yaml
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvPSeriesWeightedSumDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvPSeriesWeightedSum.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractScalarFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvPSeriesWeightedSumTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111604 ESQL: Move more out of esql-core
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/tree/Node.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/AnalyzerContext.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/PreAnalyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/TableInfo.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichPolicyResolver.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/index/EsIndex.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/index/IndexResolution.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/index/MappingException.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/OptimizerRules.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/AbstractBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/CaseChangingCharStream.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlParser.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ExpressionBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ParserUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/QueryPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/TableIdentifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Enrich.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/EsRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/LogicalPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/UnresolvedRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EsQueryExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EsSourceExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EsStatsQueryExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/PhysicalPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/IndexResolver.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTestUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/ParsingTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/index/EsIndexSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/EsRelationSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/PhasedTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/FilterTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlannerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/QueryTranslatorTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plugin/DataNodeRequestTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeRegistryTests.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111495 ESQL: Remove the `NESTED` DataType
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/DataType.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/EsField.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/LoadMapping.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/PositionToXContent.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/ResponseValueUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/IndexResolver.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/40_unsupported_types.yml
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111648 [ESQL] Clean up UNSUPPORTED type blocks
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/UnsupportedValueSource.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/PositionToXContent.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/ResponseValueUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryResponseTests.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111647 ESQL: Move `randomLiteral`
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/CaseTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToBase64Tests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/AbstractMultivalueFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSliceTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSortTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/nulls/CoalesceTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/nulls/IsNotNullTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/nulls/IsNullTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/RLikeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/NegTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/SubTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/InTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/local/LocalRelationSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/EsqlConfigurationSerializationTests.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111568 LogsDB qa tests - add specific matcher for source
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/StandardVersusLogsIndexModeChallengeRestIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/StandardVersusLogsIndexModeRandomDataChallengeRestIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/ArrayEqualMatcher.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/GenericEqualsMatcher.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/ListEqualMatcher.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/Matcher.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/Messages.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/ObjectMatcher.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/source/FieldSpecificMatcher.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/source/MappingTransforms.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/source/SourceMatcher.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/source/SourceTransforms.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DefaultPrimitiveTypesHandler.java
Labels: >test, Team:StorageEngine, :StorageEngine/Logs, v8.16.0

#111651 [Gradle] fix esql compile cacheability
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/util/SourceDirectoryCommandLineArgumentProvider.java
  x-pack/plugin/esql/build.gradle
  x-pack/plugin/esql/compute/build.gradle
Labels: >non-issue, Team:Delivery, :Delivery/Tooling, v8.16.0

#109820 Introduce `ChunkedZipResponse`
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  server/src/internalClusterTest/java/org/elasticsearch/rest/ChunkedZipResponseIT.java
  server/src/main/java/org/elasticsearch/rest/ChunkedZipResponse.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, auto-merge, v8.16.0

#111619 [DOCS] Publishes Anthropic inference service docs
  docs/reference/inference/inference-apis.asciidoc
  docs/reference/inference/put-inference.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.15.0, v8.16.0

#111585 Skip on any node capability being present
  rest-api-spec/src/main/resources/rest-api-spec/api/capabilities.json
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/capabilities/NodesCapabilitiesRequest.java
  server/src/main/java/org/elasticsearch/rest/RestFeatures.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestNodesCapabilitiesAction.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestExecutionContext.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/Prerequisites.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/PrerequisiteSectionTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#111268 Skip on any instance of node or version features being present
  qa/ccs-common-rest/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/CcsCommonYamlTestSuiteIT.java
  qa/ccs-common-rest/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/RcsCcsCommonYamlTestSuiteIT.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestFeatureService.java
  test/framework/src/main/java/org/elasticsearch/test/rest/TestFeatureService.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestExecutionContext.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/DoSection.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/Prerequisites.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/PrerequisiteSectionTests.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#111640 Add a note to the docs about differences between skip and requires
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/README.asciidoc
Labels: >docs, >test, :Core/Infra/Core, Team:Core/Infra, Team:Docs, v8.16.0

#111672 [8.15][DOCS] Adds anthropic inference docs
  docs/reference/inference/service-anthropic.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.15.0, v8.15.1

#111670 [8.15] [DOCS] Publishes Anthropic inference service docs. (#111619)
  docs/reference/inference/inference-apis.asciidoc
  docs/reference/inference/put-inference.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.15.1

#111663 ESQL: Merge Order implemenations
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Order.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/Order.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EsQueryExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/OrderSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlannerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/tree/EsqlNodeSubclassTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111267 [8.14] [ML] Extend lat_long documentation (#111239)
  docs/reference/ml/anomaly-detection/functions/ml-geo-functions.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge, v8.14.4

#111673 Properly handle filters on TextSimilarityRank retriever
  docs/changelog/111673.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/rank/textsimilarity/TextSimilarityRankRetrieverBuilder.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/70_text_similarity_rank_retriever.yml
Labels: >bug, :Search Relevance/Ranking, auto-backport-and-merge, v8.15.0, Team:Search Relevance, v8.16.0

#111657 [ESQL] Capability gate match command tests
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
Labels: >test, Team:Analytics, test-release, :Analytics/ES|QL, v8.16.0

#111675 [8.15] Properly handle filters on TextSimilarityRank retriever (#111673)
  docs/changelog/111673.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/rank/textsimilarity/TextSimilarityRankRetrieverBuilder.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/70_text_similarity_rank_retriever.yml
Labels: >bug, :Search Relevance/Ranking, backport, auto-merge, Team:Search Relevance, v8.15.1

#111676 [8.15][DOCS] Adds machine learning-related release notes from ML-CPP
  docs/reference/release-notes/8.15.0.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.15.0, v8.15.1

#111643 Remove resolve fields action from `read_cross_cluster`
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilege.java
Labels: >non-issue, :Security/Authorization, Team:Analytics, Team:Security, auto-merge, :Analytics/ES|QL, v8.16.0

#111665 Fix LogsDB challenge test
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/StandardVersusLogsIndexModeChallengeRestIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/matchers/source/SourceMatcher.java
  muted-tests.yml
Labels: >test, Team:StorageEngine, :StorageEngine/Logs, v8.16.0

#111656 Remove rollup/security_tests YAML tests
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/rollup/security_tests.yml
Labels: >test, :StorageEngine/Rollup, auto-backport-and-merge, Team:StorageEngine, v8.16.0, v8.15.1

#111627 Do not execute `preallocate` tests on encrypted storage
  libs/native/src/test/java/org/elasticsearch/nativeaccess/PreallocateTests.java
  muted-tests.yml
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#111681 [8.15] Remove rollup/security_tests YAML tests (#111656)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/rollup/security_tests.yml
Labels: >test, :StorageEngine/Rollup, backport, auto-merge, Team:StorageEngine, v8.15.1

#110205 [ESQL] Date nanos type
  docs/reference/esql/functions/kibana/definition/mv_count.json
  docs/reference/esql/functions/kibana/definition/mv_first.json
  docs/reference/esql/functions/kibana/definition/mv_last.json
  docs/reference/esql/functions/kibana/definition/mv_max.json
  docs/reference/esql/functions/kibana/definition/mv_min.json
  docs/reference/esql/functions/types/mv_count.asciidoc
  docs/reference/esql/functions/types/mv_first.asciidoc
  docs/reference/esql/functions/types/mv_last.asciidoc
  docs/reference/esql/functions/types/mv_max.asciidoc
  docs/reference/esql/functions/types/mv_min.asciidoc
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/plugin/EsqlCorePlugin.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/DataType.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/CsvAssert.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/CsvTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/CsvTestsDataLoader.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date_nanos.csv
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date_nanos.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/mapping-date_nanos.json
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/PositionToXContent.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/ResponseValueUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvCount.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvFirst.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvLast.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMax.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverter.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryResponseTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToStringTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/AbstractMultivalueFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvCountTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvFirstTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvLastTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMaxTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMinTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/EqualsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/NotEqualsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverterTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/40_unsupported_types.yml
Labels: >non-issue, Team:Analytics, test-release, :Analytics/ES|QL, test-update-serverless, v8.16.0

#111645 ESQL: Drop all inefficient source serialiation
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/util/SourceUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/querydsl/query/SingleValueQuery.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/FilterTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/querydsl/query/SingleValueQuerySerializationTests.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111682 [DOCS] Document CCS enrich with api-key based auth
  docs/reference/esql/esql-across-clusters.asciidoc
Labels: >docs, auto-backport-and-merge, :Analytics/ES|QL, v8.15.0, v8.16.0

#111685 [8.15] [DOCS] Document CCS enrich with api-key based auth (#111682)
  docs/reference/esql/esql-across-clusters.asciidoc
Labels: >docs, backport, auto-merge, :Analytics/ES|QL, v8.15.1

#109483 Support index alias in ES|QL
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchShardsAction.java
  x-pack/plugin/esql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/esql/EsqlAsyncSecurityIT.java
  x-pack/plugin/esql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/esql/EsqlSecurityIT.java
  x-pack/plugin/esql/qa/security/src/javaRestTest/resources/roles.yml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlSearchShardsAction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ClusterComputeRequest.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/DataNodeRequest.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlPlugin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/RemoteClusterPlan.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plugin/DataNodeRequestTests.java
  x-pack/plugin/security/qa/consistency-checks/src/test/java/org/elasticsearch/xpack/security/CrossClusterShardTests.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityEsqlIT.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >non-issue, :Analytics/ES|QL, v8.16.0

#111693 Include license key property in reproduction lines for release builds
  test/framework/src/main/java/org/elasticsearch/test/junit/listeners/ReproduceInfoPrinter.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.16.0, v8.15.1

#111696 Fix transport versions race
  server/src/main/java/org/elasticsearch/TransportVersions.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111695 [8.15] Include license key property in reproduction lines for release builds (#111693)
  test/framework/src/main/java/org/elasticsearch/test/junit/listeners/ReproduceInfoPrinter.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.15.1

#111699 [Test] Ensure bounded number of parts
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/rest/ChunkedZipResponseIT.java
Labels: >test, :Distributed/Network, Team:Distributed, auto-merge, v8.16.0

#111636 Clean up global retention from the cluster state and obsolete transport actions
  docs/reference/rest-api/security/bulk-create-roles.asciidoc
  docs/reference/security/authorization/privileges.asciidoc
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleServiceIT.java
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/ExplainDataStreamLifecycleIT.java
  modules/data-streams/src/javaRestTest/resources/roles.yml
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamsPlugin.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/action/GetDataStreamsTransportAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleService.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/UpdateDataStreamGlobalRetentionService.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/action/DeleteDataStreamGlobalRetentionAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/action/GetDataStreamGlobalRetentionAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/action/PutDataStreamGlobalRetentionAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/action/TransportExplainDataStreamLifecycleAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/action/TransportGetDataStreamLifecycleAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/action/UpdateDataStreamGlobalRetentionResponse.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataIndexTemplateServiceTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/action/GetDataStreamsTransportActionTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleServiceTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/UpdateDataStreamGlobalRetentionServiceTests.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/GetComponentTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/GetComposableIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/TransportGetComponentTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/get/TransportGetComposableIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/TransportSimulateIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/TransportSimulateTemplateAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamGlobalRetention.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamGlobalRetentionProvider.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamGlobalRetentionResolver.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/main/java/org/elasticsearch/plugins/Plugin.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/reservedstate/ReservedComposableIndexTemplateActionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamGlobalRetentionProviderTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamGlobalRetentionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamLifecycleWithRetentionWarningsTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, test-update-serverless, v8.16.0

#111700 [Test] Always release test resources
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/rest/ChunkedZipResponseIT.java
Labels: >test, :Distributed/Network, Team:Distributed, auto-merge, v8.16.0

#111704 Convert data stream global retention to record
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/action/GetDataStreamsTransportActionTests.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamGlobalRetention.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStreamLifecycle.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamGlobalRetentionProviderTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamGlobalRetentionTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamLifecycleTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamLifecycleWithRetentionWarningsTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
Labels: >refactoring, :Data Management/Data streams, Team:Data Management, auto-merge, test-update-serverless, v8.16.0

#111595 [8.15] Fix potential bug in EmbeddedProviderPlugin (#111592)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/EmbeddedProviderExtension.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.15.1

#111624 Extend logging for dropped warning headers.
  docs/changelog/111624.yaml
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/java/org/elasticsearch/common/util/concurrent/ThreadContext.java
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.json
  server/src/test/java/org/elasticsearch/common/util/concurrent/ThreadContextTests.java
Labels: >enhancement, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#111705 ESQL: Unmute MATCH command tests
  muted-tests.yml
Labels: >non-issue, >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111703 Unsafe future fix check
  server/src/main/java/org/elasticsearch/action/support/PlainActionFuture.java
  server/src/main/java/org/elasticsearch/action/support/UnsafePlainActionFuture.java
  server/src/test/java/org/elasticsearch/action/support/UnsafePlainActionFutureTests.java
  test/framework/src/main/java/org/elasticsearch/action/support/TestPlainActionFuture.java
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.16.0

#111534 Log all cause exception when authc fails
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/RealmsAuthenticator.java
Labels: >non-issue, :Security/Authentication, Team:Security, auto-merge, v8.16.0

#111688 Ingest download databases docs
  docs/reference/ingest/apis/delete-geoip-database.asciidoc
  docs/reference/ingest/apis/delete-pipeline.asciidoc
  docs/reference/ingest/apis/geoip-stats.asciidoc
  docs/reference/ingest/apis/get-geoip-database.asciidoc
  docs/reference/ingest/apis/get-pipeline.asciidoc
  docs/reference/ingest/apis/index.asciidoc
  docs/reference/ingest/apis/put-geoip-database.asciidoc
  docs/reference/ingest/processors/geoip.asciidoc
Labels: >docs, :Data Management/Ingest Node, Team:Data Management, Team:Docs, auto-backport-and-merge, v8.15.0, v8.16.0

#111691 [ESQL] basic sorting tests for date nanos
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date_nanos.csv-spec
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111710 [8.15] Ingest download databases docs (#111688)
  docs/reference/ingest/apis/delete-geoip-database.asciidoc
  docs/reference/ingest/apis/delete-pipeline.asciidoc
  docs/reference/ingest/apis/geoip-stats.asciidoc
  docs/reference/ingest/apis/get-geoip-database.asciidoc
  docs/reference/ingest/apis/get-pipeline.asciidoc
  docs/reference/ingest/apis/index.asciidoc
  docs/reference/ingest/apis/put-geoip-database.asciidoc
  docs/reference/ingest/processors/geoip.asciidoc
Labels: >docs, :Data Management/Ingest Node, backport, Team:Data Management, Team:Docs, auto-merge, v8.15.1

#111644 Force using the last centroid during merging
  docs/changelog/111644.yaml
  libs/tdigest/src/main/java/org/elasticsearch/tdigest/MergingDigest.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/MergingDigestTests.java
  libs/tdigest/src/test/java/org/elasticsearch/tdigest/TDigestTests.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, v8.16.0, v8.15.1

#110581 ESQL: Remove qualifier from attrs
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Alias.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Attribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/EmptyAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/FieldAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/MetadataAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/ReferenceAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/TypedAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/UnresolvedAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/UnresolvedStar.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/UnresolvedAttributeTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/AnalyzerRules.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/UnsupportedAttribute.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/ReplaceStatsAggExpressionWithEval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/ReplaceStatsNestedExpressionWithEval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/SubstituteSurrogates.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/TranslateMetricsAggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ExpressionBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Enrich.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Eval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/InlineStats.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/Join.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/TransportEsqlQueryAction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/AliasTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/FieldAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/MetadataAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/ReferenceAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypesTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
Labels: >refactoring, Team:Analytics, test-full-bwc, :Analytics/ES|QL, v8.16.0

#111501 [ES|QL] Combine Disjunctive CIDRMatch
  docs/changelog/111501.yaml
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/planner/ExpressionTranslators.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/ip.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/CombineDisjunctions.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/CombineDisjunctionsToIn.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/rules/CombineDisjunctionsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/rules/CombineDisjunctionsToInTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/QueryTranslatorTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111714 Forward port release notes for v8.15.0
  docs/reference/migration/migrate_8_15.asciidoc
  docs/reference/release-notes/8.15.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, Team:Docs, v8.16.0

#111683 Only emit product origin in deprecation log if present
  docs/changelog/111683.yaml
  server/src/main/java/org/elasticsearch/common/logging/DeprecatedMessage.java
Labels: >bug, :Core/Infra/Logging, Team:Core/Infra, v8.16.0

#111716 Rename streamContent/Separator to bulkContent/Separator
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/cbor/CborXContentImpl.java
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/json/JsonXContentImpl.java
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/smile/SmileXContentImpl.java
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/yaml/YamlXContentImpl.java
  libs/x-content/src/main/java/org/elasticsearch/xcontent/XContent.java
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/MultiSearchTemplateRequest.java
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/RestMultiSearchTemplateAction.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequestParser.java
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequest.java
  server/src/main/java/org/elasticsearch/rest/FilterRestHandler.java
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/main/java/org/elasticsearch/rest/RestHandler.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestBulkAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestMultiSearchAction.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkRequestTests.java
  server/src/test/java/org/elasticsearch/rest/DeprecationRestHandlerTests.java
  server/src/test/java/org/elasticsearch/rest/RestControllerTests.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestExecutionContext.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/writer/JsonDataToProcessWriter.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/normalizer/output/NormalizerResultHandler.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/logging/CppLogMessageHandler.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/rest/job/RestPostDataAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/autodetect/writer/JsonDataToProcessWriterTests.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/HttpExportBulk.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/rest/action/RestMonitoringBulkAction.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/action/MonitoringBulkRequestTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/rest/action/RestMonitoringBulkActionTests.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/rest/action/RestMonitoringMigrateAlertsActionTests.java
  x-pack/qa/runtime-fields/src/main/java/org/elasticsearch/xpack/runtimefields/test/CoreTestTranslater.java
Labels: :Core/Infra/REST API, >refactoring, Team:Core/Infra, auto-merge, v8.16.0

#111725 Pass allow security manager flag in gradle test policy setup plugin
  build-tools/src/main/java/org/elasticsearch/gradle/test/GradleTestPolicySetupPlugin.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, auto-backport-and-merge, v8.16.0, v8.15.1

#111728 [8.15] Pass allow security manager flag in gradle test policy setup plugin (#111725)
  build-tools/src/main/java/org/elasticsearch/gradle/test/GradleTestPolicySetupPlugin.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.15.1

#111475 ESQL: Fix for overzealous validation in case of invalid mapped fields
  docs/changelog/111475.yaml
  docs/reference/esql/esql-multi-index.asciidoc
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Alias.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/NamedExpression.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/TypeResolutions.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/UnresolvedAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/InvalidMappedField.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/union_types.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/UnresolvedFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/AbstractConvertFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Stats.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/160_union_types.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/40_tsdb.yml
Labels: >bug, Team:Analytics, auto-backport, test-full-bwc, :Analytics/ES|QL, v8.15.0, v8.16.0

#111535 Fix remote cluster credential secure settings reload
  docs/changelog/111535.yaml
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/reload/TransportNodesReloadSecureSettingsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/ActionTypes.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/AbstractRemoteClusterSecurityTestCase.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityReloadCredentialsRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/resources/roles.yml
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
  x-pack/qa/password-protected-keystore/src/javaRestTest/java/org/elasticsearch/password_protected_keystore/ReloadSecureSettingsWithPasswordProtectedKeystoreRestIT.java
  x-pack/qa/password-protected-keystore/src/javaRestTest/resources/roles.yml
Labels: >bug, :Security/Authorization, Team:Security, auto-merge, auto-backport, test-update-serverless, v8.16.0, v8.15.1

#111668 [ML] Force time shift documentation
  docs/reference/ml/anomaly-detection/apis/put-job.asciidoc
  docs/reference/ml/anomaly-detection/apis/update-job.asciidoc
  docs/reference/ml/ml-shared.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.16.0

#111735 [8.15] ESQL: Fix for overzealous validation in case of invalid mapped fields (#111475)
  docs/changelog/111475.yaml
  docs/reference/esql/esql-multi-index.asciidoc
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Alias.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/NamedExpression.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/TypeResolutions.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/UnresolvedAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/InvalidMappedField.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/union_types.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/UnresolvedFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/AbstractConvertFunction.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/160_union_types.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/40_tsdb.yml
Labels: backport, auto-merge, v8.15.1

#111737 ESQL: Add tests for sort, where with unsupported type
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
Labels: >test, Team:Analytics, auto-backport, :Analytics/ES|QL, v8.16.0, v8.15.1

#111742 [8.15] ESQL: Add tests for sort, where with unsupported type (#111737)
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
Labels: >test, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.1

#111620 [ML] Force time shift integration test
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DetectionRulesIT.java
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/MlNativeAutodetectIntegTestCase.java
Labels: >test, :ml, Team:ML, v8.16.0

#111646 [Inference API] Backport Delete...Action pipeline check to threadpool
  docs/changelog/111646.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportDeleteInferenceEndpointAction.java
Labels: >bug, :ml, Team:ML, v8.15.1

#111056 Always enforce strict role validation
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/CreateApiKeyRequestBuilderFactory.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/privilege/GetBuiltinPrivilegesResponseTranslator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequestBuilderFactory.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestCreateApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/privilege/RestGetBuiltinPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/role/RestPutRoleAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/api_key/40_view_role_descriptors.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/api_key/60_admin_user.yml
Labels: >non-issue, :Security/Authorization, Team:Security, auto-merge, v8.16.0

#111755 ESQL: Skip LOOKUP/INLINESTATS cases unless on snapshot
  muted-tests.yml
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
Labels: >test, Team:Analytics, auto-merge, auto-backport, :Analytics/ES|QL, v8.16.0, v8.15.1

#111154 EIS integration
  docs/changelog/111154.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/inference/EmptySecretSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceNamedWriteablesProvider.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/action/elastic/ElasticInferenceServiceActionCreator.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/action/elastic/ElasticInferenceServiceActionVisitor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/elastic/ElasticInferenceServiceResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/BaseResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/ElasticInferenceServiceRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/ElasticInferenceServiceSparseEmbeddingsRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceSparseEmbeddingsRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceSparseEmbeddingsRequestEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/elastic/ElasticInferenceServiceErrorResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/elastic/ElasticInferenceServiceSparseEmbeddingsResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceComponents.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceFeature.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceRateLimitServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserModels.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/EmptySecretSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/action/elastic/ElasticInferenceServiceActionCreatorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/elastic/ElasticInferenceServiceResponseHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceSparseEmbeddingsRequestEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceSparseEmbeddingsRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/elastic/ElasticInferenceServiceErrorResponseEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/elastic/ElasticInferenceServiceSparseEmbeddingsResponseEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserModelsTests.java
Labels: >feature, Team:SearchOrg, :SearchOrg/Inference, Team:Search - Inference, v8.16.0

#111759 [8.15] Skip LOOKUP/INLINESTATS cases unless on snapshot (#111755)
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
Labels: backport, auto-merge, v8.15.1

#111760 Add known issue for #111679
  docs/reference/release-notes/8.15.0.asciidoc
Labels: >docs, :Analytics/Aggregations, Team:Docs, Team:Analytics, auto-merge, v8.16.0, v8.15.1

#111758 Revert "Avoid bucket copies in Aggs (#110261)"
  docs/changelog/111758.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/InternalAggregations.java
  server/src/main/java/org/elasticsearch/search/aggregations/InternalMultiBucketAggregation.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/AbstractHistogramAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalHistogram.java
Labels: >bug, :Analytics/Aggregations, Team:Analytics, auto-merge, auto-backport-and-merge, v8.16.0, v8.15.1

#111756 Fix NullPointerException when doing knn search on empty index without dims
  docs/changelog/111756.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/40_knn_search.yml
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
Labels: >bug, auto-backport-and-merge, :Search Relevance/Vectors, :SearchOrg/Relevance, v8.16.0, v8.15.1

#111649 ESQL: Javadocs for DataTypes
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/DataType.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#111761 [8.15] Revert "Avoid bucket copies in Aggs (#110261)" (#111758)
  docs/changelog/111758.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/InternalAggregations.java
  server/src/main/java/org/elasticsearch/search/aggregations/InternalMultiBucketAggregation.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/AbstractHistogramAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/InternalHistogram.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, auto-merge, v8.15.1

#111610 Improve search failure classification
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CCSUsageTelemetryIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/CCSUsage.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/stats/CCSUsageTelemetry.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
Labels: >non-issue, Team:Search Foundations, v8.16.0, :Search Foundations/CCS

#111744 Make TestCluster#wipe run steps in parallel where possible
  server/src/main/java/org/elasticsearch/action/datastreams/DeleteDataStreamAction.java
  test/framework/src/main/java/org/elasticsearch/test/TestCluster.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.16.0
