Repository elastic/elasticsearch, pull requests merged in 2024-09, with the labels that each got.

#112388 Add workaround in SpatialPushDownGeoPointIT to avoid lucene issue
  muted-tests.yml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/spatial/SpatialPushDownGeoPointIT.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.16.0

#112355 [DOCS] Collapse some content in local dev setup for readability
  docs/reference/quickstart/run-elasticsearch-locally.asciidoc
Labels: >docs, Team:Docs, v8.14.0, v8.15.0, v8.16.0

#112385 Unmute test in LegacyGeoShapeWithDocValuesQueryTests
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/LegacyGeoShapeWithDocValuesQueryTests.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.16.0

#112410 Add release notes for v8.15.1 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.15.1.asciidoc
Labels: >docs, Team:Docs, v8.15.1, v8.15.2

#112210 Expose global retention settings via data stream lifecycle API
  docs/changelog/112210.yaml
  docs/reference/data-streams/lifecycle/apis/get-lifecycle.asciidoc
  docs/reference/data-streams/lifecycle/tutorial-manage-data-stream-retention.asciidoc
  docs/reference/data-streams/lifecycle/tutorial-manage-new-data-stream.asciidoc
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/rest/RestGetDataStreamLifecycleAction.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/lifecycle/20_basic.yml
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/lifecycle/30_not_found.yml
  server/src/main/java/org/elasticsearch/action/datastreams/lifecycle/GetDataStreamLifecycleAction.java
  server/src/test/java/org/elasticsearch/action/datastreams/lifecycle/GetDataStreamLifecycleActionTests.java
Labels: >enhancement, :Data Management/Data streams, Team:Data Management, auto-merge, test-update-serverless, v8.16.0

#112425 Fix test configuration for merge policy in LatLonShapeDocValuesQueryTests and CartesianShapeDocValuesQueryTests
  muted-tests.yml
  server/src/test/java/org/elasticsearch/lucene/spatial/CartesianShapeDocValuesQueryTests.java
  server/src/test/java/org/elasticsearch/lucene/spatial/LatLonShapeDocValuesQueryTests.java
Labels: >test, :Analytics/Geo, Team:Analytics, auto-backport-and-merge, v8.16.0, v8.15.1

#112394 [DOCS] Update documents and indices overview
  docs/reference/intro.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.15.0, v8.16.0

#112024 (API) Cluster Health report unassigned_primary_shards (#111727)
  docs/changelog/112024.yaml
  docs/reference/cat/health.asciidoc
  docs/reference/cluster/health.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cat.health/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.health/10_basic.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cluster.health/20_request_timeout.yml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/health/ClusterHealthResponse.java
  server/src/main/java/org/elasticsearch/cluster/health/ClusterIndexHealth.java
  server/src/main/java/org/elasticsearch/cluster/health/ClusterShardHealth.java
  server/src/main/java/org/elasticsearch/cluster/health/ClusterStateHealth.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterHealthAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestHealthAction.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/health/ClusterHealthResponsesTests.java
  server/src/test/java/org/elasticsearch/cluster/health/ClusterIndexHealthTests.java
  server/src/test/java/org/elasticsearch/cluster/health/ClusterShardHealthTests.java
  server/src/test/java/org/elasticsearch/cluster/health/ClusterStateHealthTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/RoutingTableGenerator.java
Labels: >enhancement, Team:Data Management, auto-merge, :Data Management/Health, test-update-serverless, v8.16.0

#112428 [8.15] Fix test configuration for merge policy in LatLonShapeDocValuesQueryTests and CartesianShapeDocValuesQueryTests (#112425)
  server/src/test/java/org/elasticsearch/lucene/spatial/CartesianShapeDocValuesQueryTests.java
  server/src/test/java/org/elasticsearch/lucene/spatial/LatLonShapeDocValuesQueryTests.java
Labels: >test, :Analytics/Geo, backport, auto-merge, v8.15.2

#112434 Allow pathRestricted param in RestGetDataStreamsAction
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/rest/RestGetDataStreamsAction.java
Labels: >test, :Data Management/Data streams, Team:Data Management, auto-merge, v8.16.0

#112432 [plugin/apm-data] Use component-templates to configure fallback to ILM
  x-pack/plugin/apm-data/src/main/resources/component-templates/logs-apm.app-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/logs-apm.error-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.app-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.internal-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.service_destination.10m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.service_destination.1m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.service_destination.60m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.service_summary.10m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.service_summary.1m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.service_summary.60m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.service_transaction.10m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.service_transaction.1m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.service_transaction.60m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.transaction.10m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.transaction.1m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/metrics-apm.transaction.60m-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/traces-apm-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/traces-apm.rum-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/traces-apm.sampled-fallback@lifecycle.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/logs-apm.app@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/logs-apm.error@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.app@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.internal@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.service_destination.10m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.service_destination.1m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.service_destination.60m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.service_summary.10m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.service_summary.1m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.service_summary.60m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.service_transaction.10m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.service_transaction.1m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.service_transaction.60m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.transaction.10m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.transaction.1m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/metrics-apm.transaction.60m@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/traces-apm.rum@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/traces-apm.sampled@template.yaml
  x-pack/plugin/apm-data/src/main/resources/index-templates/traces-apm@template.yaml
  x-pack/plugin/apm-data/src/main/resources/resources.yaml
Labels: >bug, :Data Management/Data streams, Team:Data Management, v8.15.1

#112400 Make sure file accesses in DnRoleMapper are done in stack frames with permissions
  docs/changelog/112400.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/DnRoleMapper.java
Labels: >bug, blocker, :Core/Infra/Core, :Security/Security, Team:Core/Infra, Team:Security, auto-backport-and-merge, v8.16.0, v8.15.1

#112441 [8.15] Make sure file accesses in DnRoleMapper are done in stack frames with permissions (#112400)
  docs/changelog/112400.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/DnRoleMapper.java
Labels: >bug, blocker, :Core/Infra/Core, :Security/Security, backport, Team:Core/Infra, Team:Security, auto-merge, v8.15.2

#112427 Add 5 min initial delay for undesired allocation warning
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconciler.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/FrequencyCappedAction.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconcilerTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/FrequencyCappedActionTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, auto-merge, v8.16.0

#112192 [Cloud Security][CDR] Update Wiz vuln privileges
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, Team:Cloud Security, v8.16.0

#112202 [ES|QL] Document return value for locate in case substring is not found
  docs/reference/esql/functions/description/locate.asciidoc
  docs/reference/esql/functions/kibana/definition/locate.json
  docs/reference/esql/functions/kibana/docs/locate.md
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/Locate.java
Labels: >docs, Team:Docs, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.14.0, v8.15.0, v8.16.0

#111226 ES|QL: add Telemetry API and track top functions
  docs/changelog/111226.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/README.md
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/TelemetryIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/execution/PlanExecutor.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Aggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Dissect.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Drop.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Enrich.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/EsRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Eval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Explain.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Filter.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Grok.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/InlineStats.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Keep.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Limit.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/LogicalPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Lookup.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/MvExpand.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/OrderBy.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Project.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Rename.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Row.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/TopN.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/UnresolvedRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/Join.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/local/LocalRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/meta/MetaFunctions.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/show/ShowInfo.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlPlugin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/stats/PlanningMetrics.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/stats/PlanningMetricsManager.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/PhasedTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/stats/PlanExecutorMetricsTests.java
Labels: >enhancement, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#112026 [ML] Create StreamingHttpResultPublisher
  docs/changelog/112026.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/HttpClient.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/RequestBasedTaskRunner.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/StreamingHttpResultPublisher.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/HttpRequest.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/HttpClientTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/RequestBasedTaskRunnerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/StreamingHttpResultPublisherTests.java
Labels: >enhancement, :ml, Team:ML, v8.16.0

#112369 [ML] Register Task while Streaming
  docs/changelog/112369.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/inference/action/InferenceAction.java
  x-pack/plugin/inference/src/main/java/module-info.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceNamedWriteablesProvider.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportInferenceAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/task/FlowTask.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/task/StreamingTaskManager.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/action/task/StreamingTaskManagerTests.java
Labels: >enhancement, :ml, Team:ML, v8.16.0

#112373 Fix synthetic source tests for shape
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeometricShapeSyntheticSourceSupport.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapperTests.java
Labels: >test, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0

#112440 logs-apm.error-*: define log.level field as keyword
  docs/changelog/112440.yaml
  x-pack/plugin/apm-data/src/main/resources/component-templates/logs-apm.error@mappings.yaml
  x-pack/plugin/apm-data/src/main/resources/resources.yaml
  x-pack/plugin/apm-data/src/yamlRestTest/resources/rest-api-spec/test/20_error_logs.yml
Labels: >bug, :Data Management/Data streams, Team:Data Management, v8.16.0

#112466 Avoid passing in the cluster state parameter to methods related to index creation
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/LazyRolloverAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/TransportRolloverAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
  server/src/main/java/org/elasticsearch/health/node/ShardsCapacityHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/indices/ShardLimitValidator.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataCreateIndexServiceTests.java
  server/src/test/java/org/elasticsearch/health/node/ShardsCapacityHealthIndicatorServiceTests.java
  server/src/test/java/org/elasticsearch/indices/ShardLimitValidatorTests.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/TransportDownsampleAction.java
Labels: :Data Management/Indices APIs, >refactoring, Team:Data Management, v8.16.0

#112420 Remove unnecessary synchronization from InternalTestCluster
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#112349 Ensure _termStats is supported with function_score
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/191_term_statistics_function_score.yml
  server/src/main/java/org/elasticsearch/common/lucene/search/function/FunctionScoreQuery.java
  server/src/main/java/org/elasticsearch/common/lucene/search/function/ScriptScoreFunction.java
Labels: >non-issue, :Search Relevance/Ranking, Team:Search Relevance, v8.16.0

#112470 Deprecate Version.fromString
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#111413 ESQL: Fix synthetic attribute pruning
  docs/changelog/111413.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Attribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/FieldAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/NamedExpression.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/FieldAttributeTestUtils.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/AggregatorMode.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalVerifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/OptimizerRules.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/PhysicalVerifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/ReplaceOrderByExpressionWithEval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/QueryPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Aggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Drop.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Enrich.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Eval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/LeafPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Lookup.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/MvExpand.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/RegexExtract.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/UnresolvedRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/Join.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/AggregateExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EnrichExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EvalExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/FieldExtractExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/HashJoinExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/LeafExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/MvExpandExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/OutputExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/RegexExtractExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AbstractPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/Mapper.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/FieldAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypesTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/PhasedTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/physical/AggregateExecSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/IndexResolverFieldNamesTests.java
Labels: >bug, Team:Analytics, test-full-bwc, :Analytics/ES|QL, v8.16.0

#112487 Clarify comment in SearchExecutionContext#setLookupProviders
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
Labels: >non-issue, Team:Search Foundations, v8.16.0, :Search Foundations/Search

#112458 Avoid building O(N) list in can_match phase
  server/src/main/java/org/elasticsearch/action/search/CanMatchNodeRequest.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
Labels: >non-issue, Team:Search Foundations, v8.16.0, :Search Foundations/Search

#112474 Fix O(N) list building in TransportSearchAction.asyncSearchExecutor
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
Labels: >non-issue, Team:Search Foundations, v8.16.0, :Search Foundations/Search

#112448 [DOC] geo_shape field type supports geo_hex aggregation
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: >docs, :Analytics/Geo, Team:Docs, Team:Analytics, auto-backport-and-merge, v8.7.2, v8.8.3, v8.9.3, v8.10.3, v8.11.3, v8.12.3, v8.13.3, v8.14.3, v8.16.0, v8.15.2

#112467 Fix tests in LegacyGeoShapeWithDocValuesQueryTests
  muted-tests.yml
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/query/LegacyGeoShapeWithDocValuesQueryTests.java
Labels: >test, :Analytics/Geo, Team:Analytics, v8.16.0

#112494 [8.8] [DOC] geo_shape field type supports geo_hex aggregation (#112448)
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.8.3

#112495 [8.9] [DOC] geo_shape field type supports geo_hex aggregation (#112448)
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.9.3

#112493 [8.7] [DOC] geo_shape field type supports geo_hex aggregation (#112448)
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.7.2

#112497 [8.11] [DOC] geo_shape field type supports geo_hex aggregation (#112448)
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.11.5

#112496 [8.10] [DOC] geo_shape field type supports geo_hex aggregation (#112448)
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.10.5

#112500 [8.14] [DOC] geo_shape field type supports geo_hex aggregation (#112448)
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.14.4

#112501 [8.15] [DOC] geo_shape field type supports geo_hex aggregation (#112448)
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.15.2

#112492 Speedup reading ClusterFeatures from the wire
  server/src/main/java/org/elasticsearch/cluster/ClusterFeatures.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.16.0

#112433 Refactor health endpoint tests to use more readable style
  server/src/test/java/org/elasticsearch/action/admin/cluster/health/ClusterHealthResponsesTests.java
  server/src/test/java/org/elasticsearch/cluster/health/ClusterIndexHealthTests.java
  server/src/test/java/org/elasticsearch/cluster/health/ClusterShardHealthTests.java
Labels: >refactoring, Team:Data Management, :Data Management/Health, test-update-serverless, v8.16.0

#112356 [DOCS] Add docs for new Lucene's filters for Japanese text.
  docs/plugins/analysis-kuromoji.asciidoc
Labels: >docs, Team:Docs, external-contributor, v8.15.0, v8.16.0

#112504 Add known issue for role mappings file bug
  docs/reference/release-notes/8.15.0.asciidoc
Labels: >docs, :Core/Infra/Core, Team:Core/Infra, Team:Docs, v8.15.0, v8.16.0, v8.15.1

#112506 Add known issue for role mappings file bug [8.15]
  docs/reference/release-notes/8.15.0.asciidoc
  docs/reference/release-notes/8.15.1.asciidoc
Labels: >docs, :Core/Infra/Core, backport, v8.15.2

#112477 Update fips-140-compliance.asciidoc
  docs/reference/security/fips-140-compliance.asciidoc
Labels: >docs, Team:Docs, Team:Security, :Security/FIPS, external-contributor, auto-backport-and-merge, v8.16.0, v8.15.2

#110222 Change to CLDR locale provider
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/SystemJvmOptions.java
  docs/painless/painless-contexts/painless-field-context.asciidoc
  docs/painless/painless-guide/painless-execute-script.asciidoc
  docs/reference/aggregations/bucket/composite-aggregation.asciidoc
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
  docs/reference/indices/index-templates.asciidoc
  docs/reference/mapping/runtime.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  docs/reference/search/search-your-data/search-api.asciidoc
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/65_runtime_doc_values.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/10_keyword.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/13_keyword_calculated_at_index.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/40_runtime_mappings.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/80_multiple_indices.yml
  muted-tests.yml
  qa/ccs-common-rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  qa/ccs-common-rest/src/yamlRestTest/resources/rest-api-spec/test/eql/20_runtime_mappings.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/180_locale_dependent_mapping.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/query/SearchQueryIT.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/reservedstate/ReservedComposableIndexTemplateActionTests.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseUtils.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/ClusterStateLicenseServiceTests.java
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/20_runtime_mappings.yml
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeFormatProcessorTests.java
  x-pack/qa/runtime-fields/with-security/src/javaRestTest/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, auto-backport, test-update-serverless, v8.16.0, v8.15.2

#112514 [8.15] [DOCS] Add docs for new Lucene&#x27;s filters for Japanese text. (#112356)
  docs/plugins/analysis-kuromoji.asciidoc
Labels: backport, auto-merge, v8.15.2

#112516 [main] Missing link added to fips-140-compliance.asciidoc (#112477)
  docs/reference/security/fips-140-compliance.asciidoc
Labels: >docs, backport, Team:Docs, Team:Security, :Security/FIPS, external-contributor, auto-merge, v8.16.0

#112397 Control storing array source with index setting
  docs/changelog/112397.yaml
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/logsdb/qa/StandardVersusLogsIndexModeRandomDataChallengeRestIT.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/20_synthetic_source.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.create/21_synthetic_source_stored.yml
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/Mapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapperTests.java
Labels: >enhancement, auto-merge, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0

#112517 Update the gradlew stuff in plugins/examples
  plugins/examples/gradle/wrapper/gradle-wrapper.jar
  plugins/examples/gradlew
  plugins/examples/gradlew.bat
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.16.0

#112508 Revert "[ML] Return both modelId and inferenceId (#111490)"
  docs/changelog/112508.yaml
  server/src/main/java/org/elasticsearch/inference/ModelConfigurations.java
Labels: >bug, :ml, Team:ML, v8.16.0

#112098 Lower zstd blockDocCount for best_speed from 128 to 96
  server/src/main/java/org/elasticsearch/index/codec/zstd/Zstd814StoredFieldsFormat.java
  server/src/test/java/org/elasticsearch/index/codec/CodecTests.java
Labels: >non-issue, Team:StorageEngine, v8.16.0, :StorageEngine/Codec

#112521 Misc cleanups for query phase
  server/src/main/java/org/elasticsearch/index/query/FilteredSearchExecutionContext.java
  server/src/main/java/org/elasticsearch/index/query/InnerHitsRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/QueryRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/internal/ShardSearchRequest.java
  server/src/test/java/org/elasticsearch/search/aggregations/AggregatorFactoriesTests.java
Labels: >non-issue, Team:Search Foundations, v8.16.0, :Search Foundations/Search

#112345 Allow dimension fields to have multiple values in standard and logsdb index mode
  docs/changelog/112345.yaml
  server/src/main/java/org/elasticsearch/index/IndexMode.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentDimensions.java
  server/src/test/java/org/elasticsearch/index/mapper/BooleanFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IpFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/WholeNumberFieldMapperTests.java
  x-pack/plugin/mapper-unsigned-long/src/test/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapperTests.java
  x-pack/plugin/otel-data/src/yamlRestTest/resources/rest-api-spec/test/20_logs.tests.yml
  x-pack/plugin/otel-data/src/yamlRestTest/resources/rest-api-spec/test/20_logs_tests.yml
Labels: >enhancement, external-contributor, auto-merge, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0

#112447 Some speedups around ListSetting
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/common/Strings.java
  server/src/main/java/org/elasticsearch/common/settings/Setting.java
  server/src/main/java/org/elasticsearch/http/HttpTransportSettings.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/user/AnonymousUser.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/crypto/CryptoService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrail.java
Labels: >non-issue, :Core/Infra/Settings, Team:Core/Infra, v8.16.0

#112480 Rework fix for stale data in synthetic source to improve performance
  server/src/main/java/org/elasticsearch/index/mapper/BinaryDocValuesSyntheticFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/CompositeSyntheticFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/DocCountFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoreMalformedStoredValues.java
  server/src/main/java/org/elasticsearch/index/mapper/NestedObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SortedNumericDocValuesSyntheticFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/SortedSetDocValuesSyntheticFieldLoaderLayer.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/StringStoredFieldFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/flattened/FlattenedSortedSetDocValuesSyntheticFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/CompositeSyntheticFieldLoaderTests.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: >non-issue, auto-backport-and-merge, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0, v8.15.2

#112488 Don't compute numDocs when size is set to 0 while creating query phase collector manager
  server/src/main/java/org/elasticsearch/search/query/QueryPhaseCollectorManager.java
Labels: >refactoring, Team:Search Foundations, v8.16.0, :Search Foundations/Search

#111313 [ML] unmute MlIndexAndAliasTests.testTrainedModelInference
  muted-tests.yml
Labels: >non-issue, :ml, Team:ML, auto-merge, v8.16.0

#112164 [Docs] Update Monitoring docs with integration assets info
  docs/reference/monitoring/production.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.15.0, v8.16.0

#112528 [8.15] [Docs] Update Monitoring docs with integration assets info (#112164)
  docs/reference/monitoring/production.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.15.2

#112524 [8.15] Rework fix for stale data in synthetic source to improve performance (#112480)
  server/src/main/java/org/elasticsearch/index/mapper/BinaryDocValuesSyntheticFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/CompositeSyntheticFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/DocCountFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoreMalformedStoredValues.java
  server/src/main/java/org/elasticsearch/index/mapper/NestedObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SortedNumericDocValuesSyntheticFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/SortedSetDocValuesSyntheticFieldLoaderLayer.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/StringStoredFieldFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/flattened/FlattenedSortedSetDocValuesSyntheticFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/CompositeSyntheticFieldLoaderTests.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: >non-issue, backport, :StorageEngine/Mapping

#112412 Expose HexFormat in Painless
  docs/changelog/112412.yaml
  modules/lang-painless/src/main/resources/org/elasticsearch/painless/java.util.txt
Labels: >enhancement, :Core/Infra/Scripting, Team:Core/Infra, v8.16.0

#112519 Lower the memory footprint when creating DelayedBucket
  docs/changelog/112519.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/AbstractInternalTerms.java
Labels: >enhancement, :Analytics/Aggregations, Team:Analytics, v8.16.0

#112431 Async search: Add ID and "is running" http headers
  docs/changelog/112431.yaml
  x-pack/plugin/async-search/qa/rest/build.gradle
  x-pack/plugin/async-search/qa/rest/src/javaRestTest/java/org/elasticsearch/qa/AsyncSearchHeadersIT.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/TransportGetAsyncSearchAction.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/TransportGetAsyncStatusAction.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/TransportSubmitAsyncSearchAction.java
Labels: >feature, auto-merge, Team:Search Foundations, v8.16.0, :Search Foundations/Search

#112459 [Backport 8.15][ES|QL] Document return value for locate in case substring is not found
  docs/reference/esql/functions/description/locate.asciidoc
  docs/reference/esql/functions/kibana/definition/locate.json
  docs/reference/esql/functions/kibana/docs/locate.md
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/Locate.java
Labels: >docs, backport, :Analytics/ES|QL, v8.15.2

#112457 [Backport 8.14] [ES|QL] Document return value for locate in case substring is not found
  docs/reference/esql/functions/description/locate.asciidoc
  docs/reference/esql/functions/kibana/definition/locate.json
  docs/reference/esql/functions/kibana/docs/locate.md
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/Locate.java
Labels: >docs, backport, :Analytics/ES|QL, v8.14.4

#112499 [8.13] [DOC] geo_shape field type supports geo_hex aggregation (#112448)
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.13.5

#112498 [8.12] [DOC] geo_shape field type supports geo_hex aggregation (#112448)
  docs/reference/mapping/types/geo-shape.asciidoc
Labels: >docs, :Analytics/Geo, backport, Team:Docs, Team:Analytics, auto-merge, v8.12.3

#112538 [DOCS] Fixes indentation issue on PUT trained models docs page
  docs/reference/ml/trained-models/apis/put-trained-models.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, auto-backport-and-merge, v8.16.0, v8.14.4, v8.15.2

#112542 [8.15] [DOCS] Fixes indentation issue on PUT trained models docs page. (#112538)
  docs/reference/ml/trained-models/apis/put-trained-models.asciidoc
Labels: >docs, :ml, backport, Team:Docs, Team:ML, auto-merge, v8.15.2

#112539 [8.15] SQL: make date format functions more strict (#112140)
  x-pack/plugin/sql/qa/server/src/main/resources/datetime.csv-spec
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateFormatter.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeFormatProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/NamedDateTimeProcessor.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/ToCharFormatter.java
Labels: >refactoring, :Analytics/SQL, backport, v8.15.2

#112513 [DOCS][ESQL] Include bucket in agg functions list
  docs/reference/esql/processing-commands/stats.asciidoc
Labels: >docs, Team:Docs, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.14.0, v8.15.0, v8.16.0

#112550 [8.15] [DOCS][ESQL] Include bucket in agg functions list (#112513)
  docs/reference/esql/processing-commands/stats.asciidoc
Labels: backport, auto-merge, v8.15.2

#112551 [8.14] [DOCS][ESQL] Include bucket in agg functions list (#112513)
  docs/reference/esql/processing-commands/stats.asciidoc
Labels: backport, auto-merge, v8.14.4

#112555 Yet more unsupported locales for Kerb tests
  x-pack/qa/evil-tests/src/test/java/org/elasticsearch/xpack/security/authc/kerberos/KerberosTestCase.java
Labels: >test, :Security/Security, Team:Security, auto-merge, v8.16.0

#112523 (Doc+) Sparse Vectors NA to mapping analyzers
  docs/reference/mapping/types/sparse-vector.asciidoc
Labels: >enhancement, >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.16.0, v8.15.2

#112526 Ensure rest compatibility tests are run when appropriate
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/test/rest/LegacyYamlRestCompatTestPluginFuncTest.groovy
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/compat/compat/AbstractYamlRestCompatTestPlugin.java
  modules/aggregations/build.gradle
  modules/data-streams/build.gradle
  modules/ingest-common/build.gradle
  modules/repository-url/build.gradle
Labels: >test, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.16.0, v8.15.2

#112558 Speedup HealthNodeTaskExecutor
  server/src/main/java/org/elasticsearch/health/node/selection/HealthNodeTaskExecutor.java
Labels: >non-issue, Team:Data Management, auto-merge, :Data Management/Health, v8.16.0

#112560 [8.15] (Doc+) Sparse Vectors NA to mapping analyzers (#112523)
  docs/reference/mapping/types/sparse-vector.asciidoc
Labels: >enhancement, >docs, backport, Team:Docs, external-contributor, auto-merge, v8.15.2

#112309 Fix handling telemetry on compound retrievers code path
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CCSUsageTelemetryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/retriever/MinimalCompoundRetrieverIT.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
Labels: >non-issue, Team:Search Foundations, v8.16.0, :Search Foundations/CCS

#112559 Stop rebuilding ClusterFeatures on every CS update
  server/src/main/java/org/elasticsearch/cluster/ClusterState.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.16.0

#112456 [Cloud Security] add privileges required for CDR misconfiguration features to work
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, Team:Cloud Security, v8.16.0

#112561 [8.15] Ensure rest compatibility tests are run when appropriate (#112526)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/test/rest/LegacyYamlRestCompatTestPluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/compat/compat/AbstractYamlRestCompatTestPlugin.java
  modules/aggregations/build.gradle
  modules/data-streams/build.gradle
  modules/ingest-common/build.gradle
  modules/repository-url/build.gradle
Labels: backport, auto-merge, v8.15.2

#112479 Ensure incremental bulk setting is set atomically
  modules/transport-netty4/src/internalClusterTest/java/org/elasticsearch/http/netty4/Netty4HttpRequestSizeLimitIT.java
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/IncrementalBulkRestIT.java
  server/src/main/java/org/elasticsearch/action/bulk/IncrementalBulkService.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestBulkAction.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestBulkActionTests.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, v8.16.0

#112553 Make DfsPhase a utility class
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/dfs/DfsPhase.java
Labels: >non-issue, Team:Search Foundations, v8.16.0, :Search Foundations/Search

#111548 Json parsing exceptions should not cause 500 errors
  docs/changelog/111548.yaml
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/json/JsonXContentParser.java
  libs/x-content/src/main/java/org/elasticsearch/xcontent/XContentEOFException.java
  modules/lang-mustache/src/yamlRestTest/resources/rest-api-spec/test/lang_mustache/50_multi_search_template.yml
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/XContentUtilsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/huggingface/HuggingFaceElserResponseEntityTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/writer/XContentRecordReader.java
Labels: >bug, :Core/Infra/Core, :Search/Search, Team:Core/Infra, Team:Search, auto-backport-and-merge, v8.16.0, v8.14.4, v8.15.2

#112554 Bring back operator and serverless request marking
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/rest/RestGetDataStreamsAction.java
  server/src/main/java/org/elasticsearch/rest/BaseRestHandler.java
  server/src/main/java/org/elasticsearch/rest/RestController.java
  server/src/main/java/org/elasticsearch/rest/RestRequest.java
  server/src/main/java/org/elasticsearch/rest/RestUtils.java
  server/src/main/java/org/elasticsearch/rest/ServerlessScope.java
  server/src/test/java/org/elasticsearch/rest/RestRequestTests.java
  server/src/test/java/org/elasticsearch/rest/RestUtilsTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/OperatorOnlyRegistry.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/operator/OperatorPrivileges.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/privilege/RestGetBuiltinPrivilegesAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/role/RestGetRolesAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/operator/DefaultOperatorPrivilegesTests.java
Labels: >refactoring, :Security/Security, Team:Security, auto-merge, v8.16.0

#112582 Unsupported locale in Kerb test
  muted-tests.yml
  x-pack/qa/evil-tests/src/test/java/org/elasticsearch/xpack/security/authc/kerberos/KerberosTestCase.java
Labels: >test, :Security/Security, Team:Security, auto-merge, v8.16.0

#112585 SQL: Fix UCASE/LCASE tests
  x-pack/plugin/sql/qa/server/src/main/resources/case-functions.sql-spec
Labels: >test, :Analytics/SQL, Team:Analytics, auto-merge, auto-backport-and-merge, v8.16.0, v8.15.2

#112562 Fix ES|QL hyperbolic functions docs
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Cosh.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Sin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Sinh.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Tan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/Tanh.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.16.0

#112587 [8.15] SQL: Fix UCASE/LCASE tests (#112585)
  x-pack/plugin/sql/qa/server/src/main/resources/case-functions.sql-spec
Labels: >test, :Analytics/SQL, backport, Team:Analytics, auto-merge, v8.15.2

#112455 Refactor build params for FieldMapper, adding SourceKeepMode
  modules/legacy-geo/src/main/java/org/elasticsearch/legacygeo/mapper/LegacyGeoShapeFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/MatchOnlyTextFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/RankFeatureFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/RankFeaturesFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/ScaledFloatFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/TokenCountFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentIdFieldMapper.java
  modules/parent-join/src/main/java/org/elasticsearch/join/mapper/ParentJoinFieldMapper.java
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorFieldMapper.java
  plugins/analysis-icu/src/main/java/org/elasticsearch/plugin/analysis/icu/ICUCollationKeywordFieldMapper.java
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  plugins/mapper-murmur3/src/main/java/org/elasticsearch/index/mapper/murmur3/Murmur3FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractPointGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/AbstractShapeGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BinaryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/CompletionFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/CompositeRuntimeField.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/Mapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MetadataFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/PlaceHolderFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/RangeFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/MappingLookupInferenceFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MappingLookupTests.java
  server/src/test/java/org/elasticsearch/index/mapper/NonDynamicFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperMergeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ParametrizedMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MockFieldMapper.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapperTests.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapper.java
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/mapper/AggregateDoubleMetricFieldMapper.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
  x-pack/plugin/mapper-counted-keyword/src/main/java/org/elasticsearch/xpack/countedkeyword/CountedKeywordFieldMapper.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/mapper-version/src/main/java/org/elasticsearch/xpack/versionfield/VersionStringFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapper.java
  x-pack/plugin/wildcard/src/main/java/org/elasticsearch/xpack/wildcard/mapper/WildcardFieldMapper.java
Labels: >refactoring, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0

#112409 [Transform] Include reason when no nodes are found
  docs/changelog/112409.yaml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: >bug, :ml/Transform, Team:ML, v8.16.0

#112588 Remove unused SearchSourceBuilderException
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilderException.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
Labels: >non-issue, :Search/Search, Team:Search, v8.16.0

#112520 [8.15] Use CLDR locale provider on JDK 23 (#112544)
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/SystemJvmOptions.java
  docs/painless/painless-contexts/painless-field-context.asciidoc
  docs/painless/painless-guide/painless-execute-script.asciidoc
  docs/reference/aggregations/bucket/composite-aggregation.asciidoc
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
  docs/reference/indices/index-templates.asciidoc
  docs/reference/mapping/runtime.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  docs/reference/search/search-your-data/search-api.asciidoc
  modules/lang-painless/src/yamlRestTest/resources/rest-api-spec/test/painless/65_runtime_doc_values.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/10_keyword.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/13_keyword_calculated_at_index.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/40_runtime_mappings.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/80_multiple_indices.yml
  muted-tests.yml
  qa/ccs-common-rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  qa/ccs-common-rest/src/yamlRestTest/resources/rest-api-spec/test/eql/20_runtime_mappings.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/180_locale_dependent_mapping.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/query/SearchQueryIT.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/reservedstate/ReservedComposableIndexTemplateActionTests.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseUtils.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/license/ClusterStateLicenseServiceTests.java
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml
  x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/20_runtime_mappings.yml
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/expression/function/scalar/datetime/DateTimeFormatProcessorTests.java
  x-pack/qa/runtime-fields/with-security/src/javaRestTest/java/org/elasticsearch/xpack/security/PermissionsIT.java
Labels: :Core/Infra/Core, >refactoring, backport, Team:Core/Infra, v8.15.2

#112583 Prevent scaledFloat test from using too small scale factors
  muted-tests.yml
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/FieldExtractorTestCase.java
Labels: >test, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0, v8.15.2

#112586 Remove indefinitely muted test (needs ip_range in ES|QL)
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/enrich.csv-spec
Labels: >test, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.16.0, v8.15.2

#112593 [8.15] Remove indefinitely muted test (needs ip_range in ES|QL) (#112586)
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/enrich.csv-spec
Labels: >test, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.2

#112547 Remove reduce and reduceContext from DelayedBucket
  docs/changelog/112547.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/BucketOrder.java
  server/src/main/java/org/elasticsearch/search/aggregations/DelayedBucket.java
  server/src/main/java/org/elasticsearch/search/aggregations/InternalOrder.java
  server/src/main/java/org/elasticsearch/search/aggregations/TopBucketBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/AbstractInternalTerms.java
  server/src/test/java/org/elasticsearch/search/aggregations/DelayedBucketTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/TopBucketBuilderTests.java
Labels: >enhancement, :Analytics/Aggregations, Team:Analytics, v8.16.0

#112594 Fixing randomization issue for TextSimilarityRankRetrieverBuilderTests
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/rank/textsimilarity/TextSimilarityRankRetrieverBuilderTests.java
Labels: >test, :Search Relevance/Ranking, auto-merge, Team:Search Relevance, v8.16.0

#111824 Add a node setting to disable recovery source
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/main/java/org/elasticsearch/indices/recovery/RecoverySettings.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicFieldsBuilderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/query/SearchExecutionContextTests.java
Labels: >feature, :Distributed/Engine, Team:Distributed, v8.16.0

#112544 [7.17] Use CLDR locale provider on JDK 23
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  distribution/tools/launchers/src/main/java/org/elasticsearch/tools/launchers/SystemJvmOptions.java
  docs/painless/painless-guide/painless-execute-script.asciidoc
  docs/reference/aggregations/bucket/composite-aggregation.asciidoc
  docs/reference/aggregations/bucket/datehistogram-aggregation.asciidoc
  docs/reference/indices/index-templates.asciidoc
  docs/reference/mapping/runtime.asciidoc
  docs/reference/ml/ml-shared.asciidoc
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/10_keyword.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/13_keyword_calculated_at_index.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/40_runtime_mappings.yml
  modules/runtime-fields-common/src/yamlRestTest/resources/rest-api-spec/test/runtime_fields/80_multiple_indices.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/180_locale_dependent_mapping.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/query/SearchQueryIT.java
Labels: :Core/Infra/Core, >refactoring, backport, Team:Core/Infra, v7.17.25

#112598 Fixing randomization issue for RankDocsSortBuilderTests
  muted-tests.yml
  server/src/test/java/org/elasticsearch/search/retriever/rankdoc/RankDocsSortBuilderTests.java
Labels: >test, :Search Relevance/Ranking, auto-merge, Team:Search Relevance, v8.16.0

#112103 Add chainguard docker image
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/DockerBase.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionDownloadPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/distribution/DockerWolfiElasticsearchDistributionType.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/distribution/InternalElasticsearchDistributionTypes.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/DistroTestPlugin.java
  distribution/docker/README.md
  distribution/docker/build.gradle
  distribution/docker/src/docker/Dockerfile
  distribution/docker/wolfi-docker-aarch64-export/build.gradle
  distribution/docker/wolfi-docker-export/build.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Packaging, Team:Delivery, v8.16.0

#112608 Reduce autoread changes in header validator
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpHeaderValidator.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpHeaderValidatorTests.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, v8.16.0

#112609 Comment: Correct plugin examples comment
  plugins/examples/custom-settings/src/test/java/org/elasticsearch/example/customsettings/ExampleCustomSettingsConfigTests.java
  plugins/examples/custom-settings/src/yamlRestTest/java/org/elasticsearch/example/customsettings/ExampleCustomSettingsClientYamlTestSuiteIT.java
  plugins/examples/rest-handler/src/yamlRestTest/java/org/elasticsearch/example/resthandler/ExampleRestHandlerClientYamlTestSuiteIT.java
Labels: >docs, :Core/Infra/Plugins, Team:Core/Infra, Team:Docs, v8.16.0

#112613 Similarity is applicable for text & keyword fields
  docs/reference/index-modules/similarity.asciidoc
Labels: >docs, :Search Relevance/Ranking, Team:Docs, auto-backport-and-merge, Team:Search Relevance, v8.16.0, v7.17.25

#112612 Set replica_unassigned_buffer_time default value
  docs/changelog/112612.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/shards/ShardsAvailabilityHealthIndicatorService.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/ShardsAvailabilityActionGuideTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/shards/ShardsAvailabilityHealthIndicatorServiceTests.java
Labels: >bug, Team:Data Management, :Data Management/Health, test-update-serverless, v8.16.0

#112573 Ensure realm smoke tests use file-based role mappings
  x-pack/plugin/security/qa/smoke-test-all-realms/src/javaRestTest/java/org/elasticsearch/xpack/security/authc/SecurityRealmSmokeTestCase.java
  x-pack/plugin/security/qa/smoke-test-all-realms/src/javaRestTest/resources/ldap_role_mapping.yml
  x-pack/plugin/security/qa/smoke-test-all-realms/src/javaRestTest/resources/pki_role_mapping.yml
Labels: >non-issue, :Security/Security, Team:Security, v8.16.0

#112581 Fix missing header in put_geoip_database JSON spec
  docs/changelog/112581.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/ingest.put_geoip_database.json
Labels: >bug, :Data Management/Ingest Node, Team:Data Management, v8.16.0, v8.15.2

#112600 Add allowed warning for index template creation
  muted-tests.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/simulate.ingest/10_basic.yml
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v6.8.16, auto-merge, v8.16.0

#112636 [8.15] Fix missing header in put_geoip_database JSON spec (#112581)
  docs/changelog/112581.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/ingest.put_geoip_database.json
Labels: :Data Management/Ingest Node, backport, auto-merge, v8.15.2

#112616 [7.17] Similarity is applicable for text & keyword fields (#112613)
  docs/reference/index-modules/similarity.asciidoc
Labels: >docs, :Search Relevance/Ranking, backport, Team:Docs, auto-merge, Team:Search Relevance, v7.17.25

#112465 Add ESQL CODEOWNERS
  .github/CODEOWNERS
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.16.0

#112605 RestRequest parameter parsing should not cause 500 error
  server/src/main/java/org/elasticsearch/rest/RestRequest.java
  server/src/test/java/org/elasticsearch/rest/RestRequestTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/RestRequestFilterTests.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, auto-backport-and-merge, v8.16.0, v8.15.2

#112350 [ESQL] Add `SPACE` function
  docs/changelog/112350.yaml
  docs/reference/esql/functions/description/space.asciidoc
  docs/reference/esql/functions/examples/space.asciidoc
  docs/reference/esql/functions/kibana/definition/space.json
  docs/reference/esql/functions/kibana/docs/space.md
  docs/reference/esql/functions/layout/space.asciidoc
  docs/reference/esql/functions/parameters/space.asciidoc
  docs/reference/esql/functions/signature/space.svg
  docs/reference/esql/functions/string-functions.asciidoc
  docs/reference/esql/functions/types/space.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/string/SpaceEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/UnaryScalarFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/package-info.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/Space.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/SpaceSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/SpaceTests.java
Labels: >enhancement, Team:Analytics, external-contributor, :Analytics/ES|QL, ES|QL-ui, v8.16.0

#112654 Support recovery source new setting in custom index mode
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMapperTests.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0

#112444 Full coverage of ECS by ecs@mappings when date_detection is disabled
  docs/changelog/112444.yaml
  x-pack/plugin/core/template-resources/src/main/resources/ecs@mappings.json
  x-pack/plugin/stack/src/javaRestTest/java/org/elasticsearch/xpack/stack/EcsDynamicTemplatesIT.java
  x-pack/plugin/stack/src/main/java/org/elasticsearch/xpack/stack/StackTemplateRegistry.java
Labels: >bug, auto-backport-and-merge, Team:StorageEngine, :StorageEngine/Mapping, v8.16.0, v8.15.2

#112662 ES|QL: Fix function metadata tests
  muted-tests.yml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#112589 ES|QL: Perform a final cleanup of the optimizer rules tests
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/FoldNullTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PropagateNullableTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PushDownAndCombineFiltersTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.16.0

#112647 Extract deprecated PathHierarchy to own YAML test
  modules/analysis-common/src/yamlRestTest/resources/rest-api-spec/test/analysis-common/30_tokenizers.yml
Labels: >non-issue, :Search Relevance/Analysis, auto-backport-and-merge, Team:Search Relevance, v8.16.0, v8.15.2

#112622 ESQL: Port more PhysicalPlan to NamedWriteable
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/InsertFieldExtraction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/EnrichExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/FieldExtractExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/PhysicalPlan.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/physical/EnrichExecSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/physical/FieldExtractExecSerializationTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.16.0

#112337 Add workaround for missing shard gen blob
  docs/changelog/112337.yaml
  server/src/internalClusterTest/java/org/elasticsearch/repositories/blobstore/BlobStoreCorruptionIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CorruptedBlobStoreRepositoryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/MultiClusterRepoAccessIT.java
  server/src/main/java/org/elasticsearch/index/snapshots/blobstore/BlobStoreIndexShardSnapshots.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
Labels: >enhancement, :Distributed/Snapshot/Restore, team-discuss, Team:Distributed, auto-merge, Supportability, v8.16.0

#112658 Update snapshots for EQL correcness tests
  x-pack/plugin/eql/qa/correctness/src/javaRestTest/resources/config.properties
Labels: >test, :Analytics/EQL, Team:Analytics, v8.16.0

#112330 Add links to network disconnect troubleshooting
  docs/changelog/112330.yaml
  docs/reference/modules/transport.asciidoc
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
  server/src/main/java/org/elasticsearch/transport/ClusterConnectionManager.java
  server/src/main/resources/org/elasticsearch/common/reference-docs-links.json
  server/src/test/java/org/elasticsearch/transport/ClusterConnectionManagerTests.java
Labels: >enhancement, :Distributed/Network, Team:Distributed, auto-merge, Supportability, v8.16.0

#112666 [8.15] Extract deprecated PathHierarchy to own YAML test (#112647)
  modules/analysis-common/src/yamlRestTest/resources/rest-api-spec/test/analysis-common/30_tokenizers.yml
Labels: >non-issue, :Search Relevance/Analysis, backport, auto-merge, Team:Search Relevance, v8.15.2

#112669 [8.15] Full coverage of ECS by ecs@mappings when date_detection is disabled (#112444)
  docs/changelog/112444.yaml
  x-pack/plugin/core/template-resources/src/main/resources/ecs@mappings.json
  x-pack/plugin/stack/src/javaRestTest/java/org/elasticsearch/xpack/stack/EcsDynamicTemplatesIT.java
  x-pack/plugin/stack/src/main/java/org/elasticsearch/xpack/stack/StackTemplateRegistry.java
Labels: backport, v8.15.2

#112401 ESQL: Fix CASE when conditions are multivalued
  docs/changelog/112401.yaml
  docs/reference/esql/functions/kibana/definition/case.json
  docs/reference/esql/functions/parameters/case.asciidoc
  docs/reference/esql/functions/signature/case.svg
  docs/reference/esql/functions/types/case.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/conditional.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/Warnings.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/Case.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractAggregationTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractScalarFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/RailRoadDiagram.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/TestCaseSupplier.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/CaseExtraTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/CaseTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/160_union_types.yml
Labels: >bug, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.16.0

#112627 Add comments in all-realms tests
  x-pack/plugin/security/qa/smoke-test-all-realms/src/javaRestTest/java/org/elasticsearch/xpack/security/authc/SecurityRealmSmokeTestCase.java
  x-pack/plugin/security/qa/smoke-test-all-realms/src/javaRestTest/resources/ldap_role_mapping.yml
  x-pack/plugin/security/qa/smoke-test-all-realms/src/javaRestTest/resources/pki_role_mapping.yml
Labels: >non-issue, :Security/Security, Team:Security, v8.16.0

#112663 Cleanup spatial functions doc-values serialization
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/SpatialAggregateFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/BinarySpatialFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/InsertFieldExtraction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/SpatialDocValuesExtraction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/FieldExtractExec.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/physical/FieldExtractExecSerializationTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/function/aggregate/SpatialAggregateFunction.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.16.0

#111981 Allow fields with dots in sparse vector field mapper
  docs/changelog/111981.yaml
  server/src/main/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapperTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/sparse_vector_search.yml
Labels: >enhancement, :Search Foundations/Mapping, Team:Search Foundations, v8.16.0

#109193 [ES|QL] explicit cast a string literal to date_period and time_duration in arithmetic operations
  docs/changelog/109193.yaml
  docs/reference/esql/functions/description/to_dateperiod.asciidoc
  docs/reference/esql/functions/description/to_timeduration.asciidoc
  docs/reference/esql/functions/examples/to_dateperiod.asciidoc
  docs/reference/esql/functions/examples/to_timeduration.asciidoc
  docs/reference/esql/functions/kibana/definition/to_dateperiod.json
  docs/reference/esql/functions/kibana/definition/to_timeduration.json
  docs/reference/esql/functions/kibana/docs/to_dateperiod.md
  docs/reference/esql/functions/kibana/docs/to_timeduration.md
  docs/reference/esql/functions/kibana/inline_cast.json
  docs/reference/esql/functions/layout/to_dateperiod.asciidoc
  docs/reference/esql/functions/layout/to_timeduration.asciidoc
  docs/reference/esql/functions/parameters/to_dateperiod.asciidoc
  docs/reference/esql/functions/parameters/to_timeduration.asciidoc
  docs/reference/esql/functions/signature/to_dateperiod.svg
  docs/reference/esql/functions/signature/to_timeduration.svg
  docs/reference/esql/functions/type-conversion-functions.asciidoc
  docs/reference/esql/functions/types/to_dateperiod.asciidoc
  docs/reference/esql/functions/types/to_timeduration.asciidoc
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEsqlTestCase.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/convert.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/AbstractConvertFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/FoldablesConvertFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDatePeriod.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToTimeDuration.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ExpressionBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverter.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDatePeriodTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToTimeDurationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/10_basic.yml
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, ES|QL-ui, v8.16.0

#112679 ESQL: Don't mutate the BoolQueryBuilder in plan (backport of #111519)
  docs/changelog/111519.yaml
  server/src/main/java/org/elasticsearch/index/query/BoolQueryBuilder.java
  server/src/test/java/org/elasticsearch/index/query/BoolQueryBuilderTests.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/util/Queries.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/util/QueriesTests.java
  x-pack/plugin/esql/qa/server/multi-node/build.gradle
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/Clusters.java
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/EsqlSpecIT.java
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/FieldExtractorIT.java
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/RestEsqlIT.java
  x-pack/plugin/esql/qa/server/multi-node/src/yamlRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/EsqlClientYamlIT.java
  x-pack/plugin/esql/qa/server/single-node/build.gradle
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEsqlTestCase.java
Labels: >bug, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.2

#112671 Unmute test for issue 109315
  muted-tests.yml
Labels: >test, :Core/Infra/Core, Team:Core/Infra, auto-backport, v8.16.0, v8.15.2

#112684 Unmuting simulate ingest yaml rest test
  muted-tests.yml
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v8.16.0

#112685 Replace Netty4HttpRequestBodyStream queue with composite buffer
  modules/transport-netty4/src/internalClusterTest/java/org/elasticsearch/http/netty4/Netty4IncrementalRequestHandlingIT.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpRequestBodyStream.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpRequestBodyStreamTests.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, v8.16.0

#112602 Replace TopBucketBuilder with a BucketPriorityQueue
  server/src/main/java/org/elasticsearch/search/aggregations/BucketOrder.java
  server/src/main/java/org/elasticsearch/search/aggregations/DelayedBucket.java
  server/src/main/java/org/elasticsearch/search/aggregations/InternalOrder.java
  server/src/main/java/org/elasticsearch/search/aggregations/TopBucketBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/AbstractInternalTerms.java
  server/src/test/java/org/elasticsearch/search/aggregations/TopBucketBuilderTests.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.16.0

#112574 [Cloud Security] Add privileges required for AWS SecurityHub related to CDR misconfiguration features
  docs/changelog/112574.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, external-contributor, Team:Cloud Security, v8.16.0

#112688 Re-check node cache stats before failing
  muted-tests.yml
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/cache/shared/NodesCachesStatsIntegTests.java
Labels: >test, :Distributed/Store, Team:Distributed, v8.16.0

#112052 #101472 Updates default index.translog.flush_threshold_size value
  docs/reference/index-modules/translog.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.15.0, v8.16.0

#112628 Add release notes for v7.17.24 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.17.24.asciidoc
Labels: >docs, Team:Docs, v7.17.24, v7.17.25

#112693 [8.15] #101472 Updates default index.translog.flush_threshold_size value (#112052)
  docs/reference/index-modules/translog.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.15.2

#112545 [DOCS][101] Refine mappings + documents/indices overviews
  docs/reference/intro.asciidoc
  docs/reference/mapping.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.15.0, v8.16.0

#112698 [8.15] [DOCS][101] Refine mappings + documents/indices overviews (#112545)
  docs/reference/intro.asciidoc
  docs/reference/mapping.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.15.2

#112696 [DOCS] Adds path params and available task types to the PUT inference page
  docs/reference/inference/put-inference.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.16.0, v8.15.2

#112697 Remove unused compat shims from `o.e.a.datastreams`
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/IngestFailureStoreMetricsIT.java
  server/src/main/java/org/elasticsearch/action/datastreams/CreateDataStreamAction.java
  server/src/main/java/org/elasticsearch/action/datastreams/DeleteDataStreamAction.java
  server/src/main/java/org/elasticsearch/action/datastreams/GetDataStreamAction.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, auto-merge, v8.16.0

#112702 [8.15] Unmute locale-related test (#112670)
  muted-tests.yml
Labels: >test, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge, v8.15.2

#112686 Fixing a simulate ingest yaml rest test
  muted-tests.yml
  qa/smoke-test-ingest-with-all-dependencies/src/yamlRestTest/resources/rest-api-spec/test/ingest/80_ingest_simulate.yml
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v8.16.0

#112548 Add warning when using a textual date field specifier with the COMPAT locale provider
  server/src/main/java/org/elasticsearch/common/time/DateFormatters.java
  server/src/main/java/org/elasticsearch/common/time/DateUtils.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/ClusterStateLicenseService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseUtils.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-backport, v8.16.0, v8.15.2

#112507 [test] Track index commits internally acquired by the commits listener in CombinedDeletionPolicy
  server/src/main/java/org/elasticsearch/index/engine/CombinedDeletionPolicy.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/repository/CcrRestoreSourceServiceTests.java
Labels: >non-issue, >test, :Distributed/Engine, Team:Distributed, auto-merge, v8.16.0, serverless-linked

#112699 EQL: Mute bwc tests that have incompatibilities with Java 23
  muted-tests.yml
  x-pack/plugin/eql/qa/rest/build.gradle
Labels: >test, :Analytics/EQL, Team:Analytics, auto-merge, v8.16.0
