Repository elastic/elasticsearch, pull requests merged in 2024-01, with the labels that each got.

#102915 Avoid contacting master on noop mapping update
  server/src/main/java/org/elasticsearch/action/bulk/BulkPrimaryExecutionContext.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/test/java/org/elasticsearch/action/bulk/TransportShardBulkActionTests.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, external-contributor, v8.13.0

#103626 Introduce new overloads for ClientYamlTestExecutionContext and deprecate old ones
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/TestFeatureService.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestExecutionContext.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
Labels: >test, :Core/Infra/Core, >refactoring, Team:Core/Infra, test-update-serverless, v8.13.0

#103566 [Fleet] added `download_rate` mapping to `.fleet-agents` index
  x-pack/plugin/core/template-resources/src/main/resources/fleet-agents.json
Labels: >non-issue, :Core/Infra/Plugins, Team:Core/Infra, external-contributor, v8.12.0, v8.13.0

#103634 Add missing SuppressWarning to RemoteClusterCredentialsManager
  server/src/main/java/org/elasticsearch/transport/RemoteClusterCredentialsManager.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.13.0

#101717 Pause shard snapshots on graceful shutdown
  docs/changelog/101717.yaml
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotShutdownIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotStressTestsIT.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotsInProgress.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/SnapshotInProgressAllocationDecider.java
  server/src/main/java/org/elasticsearch/index/snapshots/IndexShardSnapshotStatus.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/PausedSnapshotException.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/cluster/ClusterSnapshotStatsTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/SnapshotInProgressAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsInProgressSerializationTests.java
Labels: >enhancement, :Distributed/Snapshot/Restore, Team:Distributed, v8.13.0

#103138 Simplify locking around Engine#flush
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/diskusage/IndexDiskUsageAnalyzerIT.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.13.0

#103254 Refcount responses in `TransportNodesAction`
  libs/core/src/main/java/org/elasticsearch/core/Releasables.java
  libs/core/src/test/java/org/elasticsearch/core/ReleasablesTests.java
  server/src/main/java/org/elasticsearch/action/support/nodes/TransportNodesAction.java
  server/src/test/java/org/elasticsearch/action/support/nodes/TransportNodesActionTests.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, v8.13.0

#103452 Clean up dangling index actions
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/DanglingIndicesIT.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/indices/dangling/delete/TransportDeleteDanglingIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/dangling/find/FindDanglingIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/dangling/find/TransportFindDanglingIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/dangling/import_index/TransportImportDanglingIndexAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/dangling/list/ListDanglingIndicesAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/dangling/list/TransportListDanglingIndicesAction.java
  server/src/main/java/org/elasticsearch/client/internal/ClusterAdminClient.java
  server/src/main/java/org/elasticsearch/client/internal/support/AbstractClient.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/dangling/RestDeleteDanglingIndexAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/dangling/RestImportDanglingIndexAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/dangling/RestListDanglingIndicesAction.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, auto-merge, v8.13.0

#103711 Add utils for general XContent REST requests
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/smoke-test-http/src/javaRestTest/java/org/elasticsearch/http/DanglingIndicesRestIT.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >test, :Core/Infra/REST API, Team:Core/Infra, v8.13.0

#103716 Clean up shard-stores action
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/shards/IndicesShardStoreRequestIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/PrimaryAllocationIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/reroute/TransportClusterRerouteAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/IndicesShardStoreRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/IndicesShardStoresAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/IndicesShardStoresRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/IndicesShardStoresResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/shards/TransportIndicesShardStoresAction.java
  server/src/main/java/org/elasticsearch/client/internal/IndicesAdminClient.java
  server/src/main/java/org/elasticsearch/client/internal/support/AbstractClient.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestIndicesShardStoresAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/shards/TransportIndicesShardStoresActionTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/MultipleIndicesPermissionsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
Labels: >non-issue, :Distributed/Store, Team:Distributed, auto-merge, v8.13.0

#103734 Clean up reload-secure-settings action
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/ReloadSecureSettingsIT.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/reload/NodesReloadSecureSettingsAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/reload/NodesReloadSecureSettingsRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/reload/TransportNodesReloadSecureSettingsAction.java
  server/src/main/java/org/elasticsearch/client/internal/ClusterAdminClient.java
  server/src/main/java/org/elasticsearch/client/internal/support/AbstractClient.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestReloadSecureSettingsAction.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/ReloadRemoteClusterCredentialsIT.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookTokenIntegrationTests.java
Labels: >non-issue, :Security/Security, Team:Security, auto-merge, v8.13.0

#103546 Handle timeout on standalone rewrite calls
  docs/changelog/103546.yaml
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/test/java/org/elasticsearch/search/internal/ContextIndexSearcherTests.java
Labels: >bug, :Search/Search, Team:Search, auto-backport, v8.12.1, v8.13.0

#103690 Restore inter-segment search concurrency with synthetic source is enabled
  docs/changelog/103690.yaml
  server/src/main/java/org/elasticsearch/index/mapper/SourceLoader.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
Labels: >bug, :Search/Search, Team:Search, auto-backport, v8.12.1, v8.13.0

#103022 [Docs] [Enterprise Search] ML inference pipeline documentation updates
  docs/reference/images/ingest/document-enrichment-add-inference-pipeline.png
  docs/reference/ingest/search-inference-processing.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.12.0, v8.12.1, v8.13.0

#103787 [8.12] Handle timeout on standalone rewrite calls (#103546)
  docs/changelog/103546.yaml
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/test/java/org/elasticsearch/search/internal/ContextIndexSearcherTests.java
Labels: >bug, :Search/Search, backport, Team:Search, v8.12.1

#103788 [8.12] Restore inter-segment search concurrency with synthetic source is enabled (#103690)
  docs/changelog/103690.yaml
  server/src/main/java/org/elasticsearch/index/mapper/SourceLoader.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
Labels: >bug, :Search/Search, backport, Team:Search, v8.12.1

#103773 Use correct and efficient XContent type recognition in XContentHelper.convertToJson
  server/src/main/java/org/elasticsearch/common/xcontent/XContentHelper.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMapperTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.13.0

#103793 Suppress this-escape warnings
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlQueryResponse.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/TransportEsqlQueryAction.java
Labels: >non-issue, Team:QL, :Query Languages/ES|QL, v8.13.0

#103745 Migrate ESQL security QA module to new test framework
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/RestrictedBuildApiService.java
  x-pack/plugin/esql/qa/security/build.gradle
  x-pack/plugin/esql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/esql/EsqlSecurityIT.java
  x-pack/plugin/esql/qa/security/src/javaRestTest/resources/roles.yml
Labels: >test, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.12.1, v8.13.0

#103771 Migrate ESQL mixed cluster to new test framework
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/RestrictedBuildApiService.java
  x-pack/plugin/esql/qa/server/mixed-cluster/build.gradle
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/Clusters.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/EsqlClientYamlIT.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
Labels: >test, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.12.1, v8.13.0

#103797 [DOCS] Warn against using ES|QL on production environments
  docs/reference/esql/esql-get-started.asciidoc
  docs/reference/esql/index.asciidoc
Labels: >docs, Team:Docs, Team:QL, auto-backport-and-merge, :Query Languages/ES|QL, v8.12.1, v8.13.0, v8.11.4

#103795 [8.12] [Docs] [Enterprise Search] ML inference pipeline documentation updates (#103022)
  docs/reference/images/ingest/document-enrichment-add-inference-pipeline.png
  docs/reference/ingest/search-inference-processing.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, :EnterpriseSearch/Application, Team:Enterprise Search, v8.12.1

#103805 [8.11] [DOCS] Warn against using ES|QL on production environments (#103797)
  docs/reference/esql/esql-get-started.asciidoc
  docs/reference/esql/index.asciidoc
Labels: >docs, backport, Team:Docs, Team:QL, auto-merge, :Query Languages/ES|QL, v8.11.4

#103804 [8.12] [DOCS] Warn against using ES|QL on production environments (#103797)
  docs/reference/esql/esql-get-started.asciidoc
  docs/reference/esql/index.asciidoc
Labels: >docs, backport, Team:Docs, Team:QL, auto-merge, :Query Languages/ES|QL, v8.12.1

#103799 [8.12] Migrate ESQL security QA to new framework (#103745)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/RestrictedBuildApiService.java
  x-pack/plugin/esql/qa/security/build.gradle
  x-pack/plugin/esql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/esql/EsqlSecurityIT.java
  x-pack/plugin/esql/qa/security/src/javaRestTest/resources/roles.yml
Labels: >test, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.12.1

#103484 Test Fix: Add failure store feature flag to ccs rolling upgrade tests
  qa/ccs-rolling-upgrade-remote-cluster/build.gradle
Labels: >test, :Data Management/Data streams, Team:Data Management, v8.13.0

#103800 [8.12] Migrate ESQL mixed cluster to new test framework (#103771)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/RestrictedBuildApiService.java
  x-pack/plugin/esql/qa/server/mixed-cluster/build.gradle
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/Clusters.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/EsqlClientYamlIT.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
Labels: >test, backport, Team:QL, auto-merge, :Query Languages/ES|QL, v8.12.1

#103794 [ML] Fix step change test
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/changepoint/ChangePointAggregatorTests.java
Labels: >test, :ml, Team:ML, v8.13.0

#103772 Remove two dead classes from SQL module
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/SqlServerException.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/execution/search/SchemaDelegatingRowSet.java
Labels: >non-issue, :Query Languages/SQL, Team:QL, v8.13.0

#103775 Fix memory tracking in enrich query operator
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EnrichIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichQuerySourceOperator.java
Labels: >non-issue, Team:QL, auto-backport-and-merge, :Analytics/ES|QL, v8.12.1, v8.13.0

#103803 Use ref-count aware chunked-xcontent listener in most spots
  client/client-benchmark-noop-api-plugin/src/main/java/org/elasticsearch/plugin/noop/action/search/RestNoopSearchAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/rest/RestDataStreamLifecycleStatsAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/rest/RestExplainDataStreamLifecycleAction.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/rest/RestGetDataStreamLifecycleAction.java
  server/src/main/java/org/elasticsearch/health/RestGetHealthAction.java
  server/src/main/java/org/elasticsearch/rest/action/RestFieldCapabilitiesAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterAllocationExplainAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterRerouteAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetDesiredBalanceAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestGetSnapshotsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestNodesStatsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestPendingClusterTasksAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestSnapshotsStatusAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestFieldUsageStatsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetIndicesAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetMappingAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetSettingsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestIndicesSegmentsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestIndicesShardStoresAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestIndicesStatsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestRecoveryAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestKnnSearchAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestSearchScrollAction.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/RestGetAsyncSearchAction.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/RestSubmitAsyncSearchAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestCcrStatsAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestFollowInfoAction.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/rest/RestFollowStatsAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/search/action/RestQuerySearchApplicationAction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/RestEsqlGetAsyncResultAction.java
  x-pack/plugin/fleet/src/main/java/org/elasticsearch/xpack/fleet/rest/RestFleetSearchAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/RestGetLifecycleAction.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/RestGetFlamegraphAction.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/RestGetStackTracesAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/rest/RestRollupSearchAction.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/RestGetShutdownStatusAction.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, v8.13.0

#103811 [8.12] Fix memory tracking in enrich query operator (#103775)
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichQuerySourceOperator.java
Labels: >non-issue, backport, Team:QL, auto-merge, :Analytics/ES|QL, v8.12.1

#103663 Update text expansion/weighted tokens documentation make examples consistent with clients
  docs/reference/query-dsl/special-queries.asciidoc
  docs/reference/query-dsl/text-expansion-query.asciidoc
  docs/reference/query-dsl/weighted-tokens-query.asciidoc
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/queries/TokenPruningConfig.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/queries/WeightedTokensQueryBuilderTests.java
Labels: >docs, Team:Docs, :EnterpriseSearch/Application, Team:Enterprise Search, v8.13.0

#103744 Migrate some ESQL QA modules to new test framework
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/RestrictedBuildApiService.java
  x-pack/plugin/esql/qa/server/build.gradle
  x-pack/plugin/esql/qa/server/heap-attack/build.gradle
  x-pack/plugin/esql/qa/server/heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/heap_attack/HeapAttackIT.java
  x-pack/plugin/esql/qa/server/multi-node/build.gradle
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/EsqlSpecIT.java
  x-pack/plugin/esql/qa/server/single-node/build.gradle
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/Clusters.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/EsqlSpecIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/GenerativeIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEnrichIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/qa/server/single-node/src/yamlRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/EsqlClientYamlIT.java
Labels: >test, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.12.1, v8.13.0

#103776 Use shard partitioning in profile test
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersQueryIT.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.13.0

#103824 Use cancel reason in ESQL
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersCancellationIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.13.0

#103825 [7.17] Support different snyk organisations (#97808)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/snyk/SnykDependencyMonitoringGradlePluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/snyk/GenerateSnykDependencyGraph.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/snyk/SnykDependencyMonitoringGradlePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/snyk/UploadSnykDependenciesGraph.java
Labels: backport, auto-merge, v7.17.17

#103823 Migrate some ESQL QA modules to new test framework (#103744)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/RestrictedBuildApiService.java
  x-pack/plugin/esql/qa/server/build.gradle
  x-pack/plugin/esql/qa/server/heap-attack/build.gradle
  x-pack/plugin/esql/qa/server/heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/heap_attack/HeapAttackIT.java
  x-pack/plugin/esql/qa/server/multi-node/build.gradle
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/EsqlSpecIT.java
  x-pack/plugin/esql/qa/server/single-node/build.gradle
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/Clusters.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/EsqlSpecIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/GenerativeIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEnrichIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/qa/server/single-node/src/yamlRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/EsqlClientYamlIT.java
Labels: backport, auto-merge, v8.12.1

#103832 Re-enable spec tests in mixed cluster
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats_percentile.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/evaluator/predicate/operator/comparison/InMapper.java
Labels: >test, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.12.0, v8.13.0

#103835 Re-enable spec tests in mixed cluster (#103832)
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats_percentile.csv-spec
Labels: backport, auto-merge, v8.12.1

#103814 Fix off-by-one error in `testRunTasksUpToTimeInOrder`
  test/framework/src/test/java/org/elasticsearch/common/util/concurrent/DeterministicTaskQueueTests.java
Labels: >test, :Distributed/Distributed, Team:Distributed, auto-backport-and-merge, v8.12.1, v8.13.0

#103807 ESQL: Add single value checks on LIKE/RLIKE pushdown
  docs/changelog/103807.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/where-like.csv-spec
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/planner/ExpressionTranslators.java
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v8.13.0

#103311 Replace Version with String in YAML framework, pushing Version parsing where is actually needed
  qa/ccs-common-rest/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/CcsCommonYamlTestSuiteIT.java
  qa/ccs-common-rest/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/RcsCcsCommonYamlTestSuiteIT.java
  qa/multi-cluster-search/src/test/java/org/elasticsearch/search/MultiClusterSearchYamlTestSuiteIT.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestFeatureService.java
  test/framework/src/main/java/org/elasticsearch/test/rest/TestFeatureService.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ClientYamlTestExecutionContext.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/DoSection.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/ClientYamlTestExecutionContextTests.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/DoSectionTests.java
Labels: >test, :Core/Infra/Core, >refactoring, Team:Core/Infra, test-update-serverless, v8.13.0

#103820 Only run snyk for 7.17 and main branch
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, auto-backport-and-merge, v7.17.17, v8.12.1, v8.13.0, v8.11.4

#103838 [8.12] Fix off-by-one error in `testRunTasksUpToTimeInOrder` (#103814)
  test/framework/src/test/java/org/elasticsearch/common/util/concurrent/DeterministicTaskQueueTests.java
Labels: >test, :Distributed/Distributed, backport, Team:Distributed, auto-merge, v8.12.1

#103842 [7.17] Only run snyk for 7.17 and main branch (#103820)
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v7.17.17

#103785 [8.12][Fleet] added `download_rate` mapping to `.fleet-agents` index (#103566)
  x-pack/plugin/core/template-resources/src/main/resources/fleet-agents.json
Labels: backport, external-contributor, v8.12.0, v8.12.1

#103841 ESQL: Skip bwc tests for LIKE/RLIKE on MV before v 8.13
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/where-like.csv-spec
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.0

#103843 [8.12] Only run snyk for 7.17 and main branch (#103820)
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.12.1

#103844 [8.11] Only run snyk for 7.17 and main branch (#103820)
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge, v8.11.4

#103786 Use RefCountingRunnable when creating indices in TransportBulkAction
  server/src/main/java/org/elasticsearch/action/bulk/TransportBulkAction.java
Labels: :Data Management/Indices APIs, >refactoring, Team:Data Management, v8.13.0

#103783 [Profiling] Mark all templates as managed
  docs/changelog/103783.yaml
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-events.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-executables.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-hosts.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-hot-tier.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-ilm.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-metrics.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-stackframes.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-stacktraces.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-symbols.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-events.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-executables.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-hosts.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-metrics.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-returnpads-private.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-sq-executables.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-sq-leafframes.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-stackframes.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-stacktraces.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-symbols-global.json
  x-pack/plugin/core/template-resources/src/main/resources/profiling/index-template/profiling-symbols-private.json
Labels: >enhancement, :UniversalProfiling/Application, Team:obs-knowledge, v8.13.0

#103769 docs: fix numbering in restore-snapshot.asciidoc
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.12.1, v8.11.4

#103849 Mute DownsampleActionIT.testDownsampleTwiceSameInterval
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >test-mute, needs:triage, auto-merge, :StorageEngine/Downsampling, v8.13.0

#103845 Release top-level response in TransportNodesAction
  server/src/main/java/org/elasticsearch/action/support/nodes/TransportNodesAction.java
  server/src/test/java/org/elasticsearch/action/support/nodes/TransportNodesActionTests.java
Labels: >non-issue, :Distributed/Distributed, Team:Distributed, auto-merge, v8.13.0

#101949 Use common code to set expected shard size
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/RoutingAllocation.java
  server/src/main/java/org/elasticsearch/gateway/BaseGatewayShardAllocator.java
  server/src/test/java/org/elasticsearch/gateway/PrimaryShardAllocatorTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.13.0

#103851 [8.11] docs: fix numbering in restore-snapshot.asciidoc (#103769)
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.11.4

#103850 [8.12] docs: fix numbering in restore-snapshot.asciidoc (#103769)
  docs/reference/snapshot-restore/restore-snapshot.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.12.1

#103123 Fail operations without blocking on engine close
  server/src/internalClusterTest/java/org/elasticsearch/gateway/ReplicaShardAllocatorSyncIdIT.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/NoOpEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, auto-merge, test-update-serverless, v8.13.0

#103846 Support sampling in counted_terms aggregation
  docs/changelog/103846.yaml
  x-pack/plugin/mapper-counted-keyword/src/main/java/org/elasticsearch/xpack/countedkeyword/CountedTermsAggregationBuilder.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/counted_keyword/10_basic.yml
Labels: >enhancement, :Analytics/Aggregations, Team:Analytics, test-update-serverless, v8.13.0

#103675 [Profiling] Add REST test case
  rest-api-spec/src/main/resources/rest-api-spec/api/profiling.flamegraph.json
  rest-api-spec/src/main/resources/rest-api-spec/api/profiling.stacktraces.json
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/profiling/10_basic.yml
Labels: >test, :UniversalProfiling/Application, Team:obs-knowledge, v8.13.0

#103620 Do not balance partial searchable snapshots by disk
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocatorTests.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.13.0

#103855 Speed up `SearchServiceTests#testSearchWhileIndexDeleted`
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
Labels: >test, :Search/Search, Team:Search, auto-merge, v8.13.0

#103856 [DOCS] Stop recommending dot_product over cosine similarity
  docs/reference/how-to/knn-search.asciidoc
Labels: >docs, Team:Docs, Team:Search, auto-backport-and-merge, :Search/Vectors, v8.12.1, v8.13.0

#103863 [8.12] [DOCS] Stop recommending dot_product over cosine similarity (#103856)
  docs/reference/how-to/knn-search.asciidoc
Labels: >docs, backport, Team:Docs, Team:Search, auto-merge, :Search/Vectors, v8.12.1

#103681 ESQL: shallow copy in EXPAND via shared vecs
  docs/changelog/103681.yaml
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanBigArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleBigArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntBigArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongBigArrayBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/BlockRamUsageEstimator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-ArrayBlock.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-BigArrayBlock.java.st
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BasicBlockTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BlockAccountingTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BlockFactoryTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BooleanBlockEqualityTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BytesRefBlockEqualityTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/DoubleBlockEqualityTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/IntBlockEqualityTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/LongBlockEqualityTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.13.0

#103871 Fail operations without blocking on engine close
  server/src/internalClusterTest/java/org/elasticsearch/gateway/ReplicaShardAllocatorSyncIdIT.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/NoOpEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.13.0

#103757 Release password from NodesReloadSecureSettingsRequest sooner
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/ReloadSecureSettingsIT.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/reload/NodesReloadSecureSettingsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/reload/TransportNodesReloadSecureSettingsAction.java
  server/src/main/java/org/elasticsearch/common/settings/SecureString.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestReloadSecureSettingsAction.java
  server/src/test/java/org/elasticsearch/rest/action/admin/cluster/RestReloadSecureSettingsActionTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/ReloadRemoteClusterCredentialsIT.java
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/actions/webhook/WebhookTokenIntegrationTests.java
Labels: >non-issue, :Security/Security, v8.13.0

#103821 ESQL: Delay finding field load infrastructure
  benchmarks/src/main/java/org/elasticsearch/benchmark/compute/operator/MultivalueDedupeBenchmark.java
  benchmarks/src/main/java/org/elasticsearch/benchmark/compute/operator/ValuesSourceReaderBenchmark.java
  docs/changelog/103821.yaml
  docs/reference/esql/functions/types/add.asciidoc
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/BlockReaderFactories.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/ValuesSourceReaderOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/OrdinalsGroupingOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/OperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneCountOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/ValuesSourceReaderOperatorTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichLookupService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsPhysicalOperationProviders.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.13.0

#103876 Enable pragmas with snapshot builds only
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersQueryIT.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.13.0

#103878 Avoid `VND_*` content types
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.13.0

#103882 ESQL: Simplify conversion implementations slightly
  x-pack/plugin/esql/compute/gen/src/main/java/org/elasticsearch/compute/gen/MvEvaluatorImplementer.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAvgDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAvgIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAvgLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAvgUnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMaxBooleanEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMaxBytesRefEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMaxDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMaxIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMaxLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedianDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedianIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedianLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMedianUnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMinBooleanEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMinBytesRefEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMinDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMinIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvMinLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSumDoubleEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSumIntEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSumLongEvaluator.java
  x-pack/plugin/esql/src/main/java/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvSumUnsignedLongEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/AbstractMultivalueFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvCount.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.0

#103883 Fix failing test in release mode
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
Labels: >test, :Delivery/Build, Team:Delivery, test-full-bwc, v8.13.0

#101487 Wait for async searches to finish when shutting down
  docs/changelog/101487.yaml
  server/src/main/java/org/elasticsearch/node/Node.java
Labels: >enhancement, Team:Core/Infra, :Core/Infra/Node Lifecycle, v8.13.0

#103874 Minor array block cleanup
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanBigArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleBigArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntBigArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongArrayBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongBigArrayBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/AbstractArrayBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/AbstractBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/BlockRamUsageEstimator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-ArrayBlock.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-BigArrayBlock.java.st
Labels: >refactoring, Team:Analytics, :Analytics/ES|QL, v8.13.0

#103862 [DOCS] Use shortened URL to link to ES|QL demo env
  docs/reference/tab-widgets/esql/esql-getting-started-enrich-policy.asciidoc
  docs/reference/tab-widgets/esql/esql-getting-started-sample-data.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.12.1, v8.13.0

#103892 [8.12] [DOCS] Use shortened URL to link to ES|QL demo env (#103862)
  docs/reference/tab-widgets/esql/esql-getting-started-enrich-policy.asciidoc
  docs/reference/tab-widgets/esql/esql-getting-started-sample-data.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.12.1

#103453 Add expiration time to update api key api
  docs/changelog/103453.yaml
  docs/reference/rest-api/security/bulk-update-api-keys.asciidoc
  docs/reference/rest-api/security/update-api-key.asciidoc
  docs/reference/rest-api/security/update-cross-cluster-api-key.asciidoc
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BaseBulkUpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BaseSingleUpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BaseUpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BulkUpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateCrossClusterApiKeyRequest.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/ApiKeyTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/BulkUpdateApiKeyRequestSerializationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/BulkUpdateApiKeyRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateApiKeyRequestSerializationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateApiKeyRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateCrossClusterApiKeyRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ManageOwnApiKeyClusterPrivilegeTests.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/apikey/ApiKeyRestIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/apikey/ApiKeySingleNodeTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/apikey/TransportUpdateCrossClusterApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestBulkUpdateApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestUpdateApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestUpdateCrossClusterApiKeyAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/apikey/TransportUpdateCrossClusterApiKeyActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
Labels: >enhancement, >docs, :Security/Security, Team:Docs, Team:Security, v8.13.0

#103890 Cleanup some dead code in ml module
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportCloseJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportDeleteTrainedModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportGetOverallBucketsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutJobAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPutTrainedModelAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStopTrainedModelDeploymentAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportUpdateFilterAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregationBuilder.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/frequentitemsets/CountingItemSetTraverser.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/heuristic/PValueScore.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/autoscaling/NodeFakeAvailabilityZoneMapper.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/datafeed/DatafeedManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlan.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchProcessManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/queries/TextExpansionQueryBuilder.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportPutTrainedModelActionTests.java
Labels: >non-issue, :ml, Team:ML, v8.13.0

#103897 DownsampleActionIT improve debugging
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >test, needs:triage, auto-backport-and-merge, :StorageEngine/Downsampling, v8.12.1, v8.13.0

#102207 Fix disk computation when initializing unassigned shards in desired balance computation
  docs/changelog/102207.yaml
  server/src/main/java/org/elasticsearch/cluster/ClusterInfoSimulator.java
  server/src/main/java/org/elasticsearch/cluster/routing/ExpectedShardSizeEstimator.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputer.java
  server/src/main/java/org/elasticsearch/common/util/CopyOnFirstWriteMap.java
  server/src/test/java/org/elasticsearch/cluster/routing/ExpectedShardSizeEstimatorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/ClusterInfoSimulatorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
  server/src/test/java/org/elasticsearch/common/util/CopyOnFirstWriteMapTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/routing/TestShardRouting.java
Labels: >bug, :Distributed/Allocation, Team:Distributed, v8.13.0

#103397 Fix and simplify testTargetThrottling
  server/src/internalClusterTest/java/org/elasticsearch/indices/recovery/IndexRecoveryIT.java
Labels: >test, :Distributed/Recovery, Team:Distributed, auto-merge, v8.13.0

#103895 Use only JSON in REST tests
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >test, :Core/Infra/REST API, Team:Core/Infra, auto-merge, v8.13.0

#103905 SnapshotShutdownIT: ensure no unassigned shards
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotShutdownIT.java
Labels: >feature, >test, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.13.0

#103904 Remove bogus assertion in InternalEngine#flushHoldingLock
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
Labels: >test, :Distributed/Engine, Team:Distributed, v8.13.0

#103232 Remove leniency in msearch parsing
  docs/changelog/103232.yaml
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequest.java
  server/src/test/java/org/elasticsearch/action/search/MultiSearchRequestTests.java
Labels: >enhancement, :Search/Search, Team:Search, external-contributor, v8.13.0

#103404 YAML test framework: SkipSection refactoring
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/ESClientYamlSuiteTestCase.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/Features.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSuite.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/DoSection.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/SkipCriteria.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/SkipSection.java
  test/yaml-rest-runner/src/main/java/org/elasticsearch/test/rest/yaml/section/VersionRange.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSectionTests.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/ClientYamlTestSuiteTests.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/SetupSectionTests.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/SkipSectionTests.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/TeardownSectionTests.java
  test/yaml-rest-runner/src/test/java/org/elasticsearch/test/rest/yaml/section/VersionRangeTests.java
Labels: >test, :Core/Infra/Core, >refactoring, Team:Core/Infra, test-update-serverless, v8.13.0

#103906 Install the slm/ilm history templates only when all cluster upgraded
  x-pack/plugin/ilm/src/main/java/module-info.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycle.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleFeatures.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/history/ILMHistoryTemplateRegistry.java
  x-pack/plugin/ilm/src/main/resources/META-INF/services/org.elasticsearch.features.FeatureSpecification
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/history/ILMHistoryStoreTests.java
  x-pack/plugin/slm/src/main/java/module-info.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/SnapshotLifecycle.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/SnapshotLifecycleFeatures.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/history/SnapshotLifecycleTemplateRegistry.java
  x-pack/plugin/slm/src/main/resources/META-INF/services/org.elasticsearch.features.FeatureSpecification
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/history/SnapshotLifecycleTemplateRegistryTests.java
Labels: >test, :Data Management/ILM+SLM, Team:Data Management, v8.13.0

#102737 Minor cleanup of org.elasticsearch.xpack.analytics package
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/AnalyticsAggregationBuilders.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/metrics/AbstractHistoBackedHDRPercentilesAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedHDRPercentileRanksAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistoBackedTDigestPercentileRanksAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/aggregations/support/AnalyticsValuesSourceType.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/cumulativecardinality/CumulativeCardinalityPipelineAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/cumulativecardinality/InternalSimpleLongValue.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesPipelineAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/movingPercentiles/MovingPercentilesPipelineAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/multiterms/MultiTermsAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/stringstats/InternalStringStats.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/InternalTopMetrics.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregationBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregator.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/ttest/TTestStatsBuilder.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/ttest/TTestType.java
  x-pack/plugin/mapper-version/src/test/java/org/elasticsearch/xpack/versionfield/VersionStringFieldTests.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, v8.13.0

#103894 [Test] Use larger client ports range for tests running on Windows
  modules/transport-netty4/src/internalClusterTest/java/org/elasticsearch/transport/netty4/Netty4TransportMultiPortIntegrationIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/pki/PkiOptionalClientAuthTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/transport/filter/IpFilteringIntegrationTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/transport/filter/IpFilteringUpdateTests.java
Labels: >test, :Security/Security, Team:Security, auto-backport-and-merge, v7.17.17, v8.12.1, v8.13.0

#103908 Mute test for issue #103907
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
Labels: :Distributed/Cluster Coordination, >test-mute, Team:Distributed, auto-merge, v8.13.0

#103873 [ML] Catch exceptions during pytorch_inference startup
  docs/changelog/103873.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/NativePyTorchProcessFactory.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.12.0, v8.13.0

#103900 [8.12] DownsampleActionIT improve debugging (#103897)
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >test, backport, needs:triage, auto-merge, :StorageEngine/Downsampling, v8.12.1

#103915 Muting test for issue #103913
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/BulkUpdateApiKeyRequestSerializationTests.java
Labels: :Security/Security, >test-mute, Team:Security, auto-merge, v8.13.0

#103910 [8.12] [Test] Use larger client ports range for tests running on Windows (#103894)
  modules/transport-netty4/src/internalClusterTest/java/org/elasticsearch/transport/netty4/Netty4TransportMultiPortIntegrationIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/pki/PkiOptionalClientAuthTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/transport/filter/IpFilteringIntegrationTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/transport/filter/IpFilteringUpdateTests.java
Labels: >test, :Security/Security, backport, Team:Security, auto-merge, v8.12.1

#103911 [8.12] [ML] Catch exceptions during pytorch_inference startup (#103873)
  docs/changelog/103873.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/NativePyTorchProcessFactory.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.12.1

#103815 Fix flaky test in SearchUsageStatsTests#testEqualsAndHashcode
  server/src/test/java/org/elasticsearch/action/admin/cluster/stats/SearchUsageStatsTests.java
Labels: >test, :Search/Search, Team:Search, auto-merge, v8.13.0

#103914 [7.17] [Test] Use larger client ports range for tests running on Windows (#103894)
  modules/transport-netty4/src/internalClusterTest/java/org/elasticsearch/transport/netty4/Netty4TransportMultiPortIntegrationIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/pki/PkiOptionalClientAuthTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/transport/filter/IpFilteringIntegrationTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/transport/filter/IpFilteringUpdateTests.java
Labels: >test, :Security/Security, backport, Team:Security, auto-merge, v7.17.17

#103917 [Test] Fix - mutateInstance in BulkUpdateApiKeyRequestSerializationTests not unique
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/BulkUpdateApiKeyRequestSerializationTests.java
Labels: >non-issue, >test, :Security/Security, Team:Security, auto-merge, v8.13.0

#103921 Fix testAccountForSizeOfMisplacedShardsDuringNewComputation
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
Labels: >test, :Distributed/Allocation, Team:Distributed, v8.13.0

#103919 Forbid exceptions from ClusterStateObserver listeners
  server/src/main/java/org/elasticsearch/cluster/ClusterStateObserver.java
Labels: >non-issue, :Distributed/Cluster Coordination, Team:Distributed, v8.13.0

#103888 Avoid throw AssertionError in ThrowingDriverContext
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ThrowingDriverContext.java
Labels: >non-issue, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.12.0, v8.13.0, v8.11.4

#103880 Reinstate some content types in REST tests
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestFeatureService.java
  test/framework/src/main/java/org/elasticsearch/test/rest/RestTestLegacyFeatures.java
  test/framework/src/main/java/org/elasticsearch/test/rest/TestFeatureService.java
Labels: >test, :Core/Infra/REST API, Team:Core/Infra, test-full-bwc, v8.13.0

#103927 Mute testSlopeUp
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/changepoint/ChangePointAggregatorTests.java
Labels: :Security/Security, >test-mute, Team:Security, auto-merge, v8.13.0

#103881 Test block loading with non-synthetic _source
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.13.0

#103929 Fix incorrect assumptions about BytesReference in StateToProcessWriterHelper
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/process/StateToProcessWriterHelper.java
Labels: >non-issue, :ml, Team:ML, auto-merge, v8.13.0

#103865 Revert change (#90674)
  docs/changelog/103865.yaml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicFieldsBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicFieldsBuilderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
Labels: >bug, :Search/Mapping, Team:Search, auto-merge, auto-backport-and-merge, v8.12.1, v8.13.0, v8.11.4

#103916 Update jmh benchmark for dynamic mappers
  benchmarks/src/main/java/org/elasticsearch/benchmark/index/mapper/DynamicMapperBenchmark.java
  benchmarks/src/main/java/org/elasticsearch/benchmark/index/mapper/MapperServiceFactory.java
Labels: >non-issue, :Search/Search, Team:Search, v8.13.0

#103933 [8.11] Revert change (#90674) (#103865)
  docs/changelog/103865.yaml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicFieldsBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicFieldsBuilderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
Labels: >bug, :Search/Mapping, backport, Team:Search, auto-merge, v8.11.4

#103932 [8.12] Revert change (#90674) (#103865)
  docs/changelog/103865.yaml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParserContext.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicFieldsBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicFieldsBuilderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
  x-pack/plugin/mapper-constant-keyword/src/main/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapper.java
Labels: >bug, :Search/Mapping, backport, Team:Search, auto-merge, v8.12.1

#103934 Avoid throw AssertionError in ThrowingDriverContext (#103888)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ThrowingDriverContext.java
Labels: backport, auto-merge, v8.11.4

#103931 Introduce a noop, never-released ref counted constant
  libs/core/src/main/java/org/elasticsearch/core/RefCounted.java
  server/src/main/java/org/elasticsearch/common/bytes/ReleasableBytesReference.java
  server/src/test/java/org/elasticsearch/common/bytes/ReleasableBytesReferenceStreamInputTests.java
  server/src/test/java/org/elasticsearch/transport/InboundAggregatorTests.java
  server/src/test/java/org/elasticsearch/transport/InboundDecoderTests.java
Labels: >non-issue, :Distributed/Network, Team:Distributed, auto-merge, v8.13.0

#103935 Avoid throw AssertionError in ThrowingDriverContext (#103888)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ThrowingDriverContext.java
Labels: backport, auto-merge, v8.12.1

#103936 [ci] Add/update docs for .buildkite dir and PR pipeline generator
  .buildkite/README.md
  .buildkite/package.json
  .buildkite/scripts/pull-request/README.md
Labels: >non-issue, Team:Delivery, :Delivery/Tooling, v8.12.0, v7.17.17, v8.13.0, v8.11.4

#103940 [7.17] [ci] Add/update docs for .buildkite dir and PR pipeline generator (#103936)
  .buildkite/README.md
  .buildkite/package.json
  .buildkite/scripts/pull-request/README.md
Labels: backport, v7.17.17

#103939 [8.11] [ci] Add/update docs for .buildkite dir and PR pipeline generator (#103936)
  .buildkite/README.md
  .buildkite/package.json
  .buildkite/scripts/pull-request/README.md
Labels: backport, v8.11.4

#103938 [8.12] [ci] Add/update docs for .buildkite dir and PR pipeline generator (#103936)
  .buildkite/README.md
  .buildkite/package.json
  .buildkite/scripts/pull-request/README.md
Labels: backport, v8.12.1

#103943 Fix ES|QL mixed cluster YAML tests
  x-pack/plugin/esql/qa/server/mixed-cluster/build.gradle
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/Clusters.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/yamlRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/EsqlClientYamlIT.java
Labels: >test, :Delivery/Build, Team:Analytics, Team:Delivery, auto-backport-and-merge, :Analytics/ES|QL, v8.12.1, v8.13.0

#103946 [8.12] Fix ES|QL mixed cluster YAML tests (#103943)
  x-pack/plugin/esql/qa/server/mixed-cluster/build.gradle
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/Clusters.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/yamlRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/EsqlClientYamlIT.java
Labels: >test, :Delivery/Build, backport, Team:Analytics, Team:Delivery, auto-merge, :Analytics/ES|QL, v8.12.1

#103898 Change index.look_ahead_time setting's default value from 2 hours to 30 minutes.
  docs/changelog/103898.yaml
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamsPlugin.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamGetWriteIndexTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/DataStreamIndexSettingsProviderTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/MetadataDataStreamRolloverServiceTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/UpdateTimeSeriesRangeServiceTests.java
  x-pack/plugin/downsample/src/test/java/org/elasticsearch/xpack/downsample/DownsampleActionSingleNodeTests.java
Labels: >breaking, needs:triage, :StorageEngine/TSDB, v8.13.0

#103923 [ML] Preserve response headers in Datafeed preview
  docs/changelog/103923.yaml
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DatafeedWithoutSecurityRestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportExplainDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedAction.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.12.1, v8.13.0

#103956 Fix more search response leaks in tests
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorQuerySearchTests.java
  modules/reindex/src/test/java/org/elasticsearch/reindex/AsyncBulkByScrollActionTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/aggregations/metrics/HistogramPercentileAggregationTests.java
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/AsyncSearchActionIT.java
Labels: >test, :Search/Search, Team:Search, v8.13.0

#103957 Fix more search response leaks in tests
  test/external-modules/latency-simulating-directory/src/internalClusterTest/java/org/elasticsearch/test/simulatedlatencyrepo/LatencySimulatingBlobStoreRepositoryTests.java
  x-pack/plugin/async-search/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/search/AsyncSearchSecurityIT.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerIndexingTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerStateTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/checkpoint/TimeBasedCheckpointProviderTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/ClientTransformIndexerTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerFailureHandlingTests.java
Labels: >test, :Search/Search, Team:Search, v8.13.0

#103967 [8.12] Mention missing files in corruption troubleshooting docs (#103962)
  docs/reference/troubleshooting/corruption-issues.asciidoc
Labels: >docs, :Distributed/Distributed, backport, Team:Distributed, Team:Docs, auto-merge, v8.12.1

#103968 [8.11] Mention missing files in corruption troubleshooting docs (#103962)
  docs/reference/troubleshooting/corruption-issues.asciidoc
Labels: >docs, :Distributed/Distributed, backport, Team:Distributed, Team:Docs, auto-merge, v8.11.4

#103972 [ML][8.12] Preserve response headers in Datafeed preview
  docs/changelog/103923.yaml
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsRestIT.java
  x-pack/plugin/ml/qa/single-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DatafeedWithoutSecurityRestIT.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportExplainDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDataFrameAnalyticsAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportPreviewDatafeedAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportStartDatafeedAction.java
Labels: >bug, :ml, backport, auto-merge, v8.12.1

#103965 Add semantic_text feature flag for non-snapshot tests
  x-pack/plugin/ml/build.gradle
Labels: >test, :ml, Team:ML, v8.13.0

#103971 Ignore other allocators in `processExistingRecoveries`
  server/src/internalClusterTest/java/org/elasticsearch/gateway/GatewayServiceIT.java
  server/src/main/java/org/elasticsearch/cluster/routing/UnassignedInfo.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/ExistingShardsAllocator.java
  server/src/main/java/org/elasticsearch/gateway/GatewayAllocator.java
  server/src/main/java/org/elasticsearch/gateway/ReplicaShardAllocator.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AllocationServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconcilerTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocatorTests.java
  server/src/test/java/org/elasticsearch/gateway/ReplicaShardAllocatorTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/ESAllocationTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/gateway/TestGatewayAllocator.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/BaseSearchableSnapshotsIntegTestCase.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/SearchableSnapshotAllocator.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, auto-merge, v8.13.0

#103632 ESQL: Check field exists before load from _source
  benchmarks/src/main/java/org/elasticsearch/benchmark/compute/operator/ValuesSourceReaderBenchmark.java
  docs/changelog/103632.yaml
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/MatchOnlyTextFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/ScaledFloatFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/BlockLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/BlockLoaderStoredFieldsFromLeafLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/BlockSourceReader.java
  server/src/main/java/org/elasticsearch/index/mapper/BlockStoredFieldsReader.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappedFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/BlockSourceReaderTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/AbstractScriptFieldTypeTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/BlockReaderFactories.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/ValuesSourceReaderOperatorTests.java
  x-pack/plugin/mapper-constant-keyword/src/test/java/org/elasticsearch/xpack/constantkeyword/mapper/ConstantKeywordFieldMapperTests.java
  x-pack/plugin/mapper-unsigned-long/src/main/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.13.0

#103801 Upgrade Bouncy Castle FIPS jars for plugin cli
  distribution/tools/plugin-cli/build.gradle
  docs/changelog/103801.yaml
  gradle/verification-metadata.xml
  qa/evil-tests/build.gradle
Labels: >upgrade, :Security/Security, Team:Security, :Security/FIPS, v7.17.17

#103982 Mute SingleValueQueryTests on 8.12
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/querydsl/query/SingleValueQueryTests.java
Labels: >test-mute, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.12.1

#103941 Bump junit version
  build-tools-internal/version.properties
Labels: :Delivery/Build, >upgrade, Team:Delivery, auto-merge, auto-backport-and-merge, v7.17.17, v8.13.0

#103986 Mute testContinuousEvents
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TransformContinuousIT.java
Labels: >test-mute, :ml/Transform, Team:ML, auto-merge, auto-backport-and-merge, v8.12.1, v8.13.0, v8.11.4

#103984 Backport mute to 8.12 8.11
  x-pack/qa/saml-idp-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/authc/saml/SamlAuthenticationIT.java
Labels: :Security/Security, >test-mute, Team:Security, auto-merge, auto-backport-and-merge, v8.12.1, v8.11.4

#103988 Mute testSimpleCircuitBreakingAtLimit
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/OperatorTestCase.java
Labels: >test-mute, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.13.0

#103991 [8.12] Mute testContinuousEvents (#103986)
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TransformContinuousIT.java
Labels: backport, >test-mute, :ml/Transform, Team:ML, auto-merge, v8.12.1

#103992 [8.11] Mute testContinuousEvents (#103986)
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/continuous/TransformContinuousIT.java
Labels: backport, >test-mute, :ml/Transform, Team:ML, auto-merge, v8.11.4

#103987 Allowing warnings caused by the presence of a global template in simulate ingest yaml rest tests
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/simulate.ingest/10_basic.yml
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v8.13.0

#103993 Backport mute to 8.11
  x-pack/qa/saml-idp-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/authc/saml/SamlAuthenticationIT.java
Labels: :Security/Security, >test-mute, Team:Security, auto-merge, v8.11.4

#103989 [7.17] bump junit version (#103941)
  build-tools-internal/version.properties
Labels: :Delivery/Build, >upgrade, backport, Team:Delivery, auto-merge, v7.17.17

#103983 Make use of constants and utility methods to build empty SearchHits instances
  client/client-benchmark-noop-api-plugin/src/main/java/org/elasticsearch/plugin/noop/action/search/TransportNoopSearchAction.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/DiscountedCumulativeGainTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/ExpectedReciprocalRankTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/MeanReciprocalRankTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/PrecisionAtKTests.java
  modules/rank-eval/src/test/java/org/elasticsearch/index/rankeval/RecallAtKTests.java
  qa/ccs-unavailable-clusters/src/javaRestTest/java/org/elasticsearch/search/CrossClusterSearchUnavailableClusterIT.java
  server/src/main/java/org/elasticsearch/action/search/SearchResponse.java
  server/src/main/java/org/elasticsearch/search/SearchHits.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/test/java/org/elasticsearch/action/search/ExpandSearchPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/FetchLookupFieldsPhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchPhaseControllerTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchResponseMergerTests.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterConnectionTests.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/MutableSearchResponse.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexerTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/dataframe/evaluation/classification/ClassificationTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/EnrichProcessorFactoryTests.java
  x-pack/plugin/enrich/src/test/java/org/elasticsearch/xpack/enrich/action/CoordinatorTests.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/execution/assembler/SequenceSpecTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/registry/ModelRegistryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportDeleteForecastActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/chunked/ChunkedDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/extractor/scroll/ScrollDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/dataframe/extractor/DataFrameDataExtractorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsProviderTests.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/job/RollupIndexerStateTests.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/crossclusteraccess/CrossClusterAccessHeadersForCcsRestIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/ReloadRemoteClusterCredentialsIT.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/saml/TransportSamlInvalidateSessionActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/NativePrivilegeStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/profile/ProfileServiceTests.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/execution/search/extractor/TopHitsAggExtractorTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/checkpoint/TimeBasedCheckpointProviderTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerFailureHandlingTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/pivot/PivotTests.java
  x-pack/plugin/vector-tile/src/main/java/org/elasticsearch/xpack/vectortile/rest/RestVectorTileAction.java
Labels: >non-issue, :Search/Search, Team:Search, v8.13.0

#103947 Remove spatial types unsupported in 8.11 YAML test
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/40_unsupported_types.yml
Labels: >test, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.12.1, v8.13.0

#104001 [8.12] Remove `spatial types unsupported in 8.11` YAML test (#103947)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/40_unsupported_types.yml
Labels: >test, backport, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.12.1

#103999 Fixing IndexTemplateRegistryTests race condition
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/template/IndexTemplateRegistryTests.java
Labels: >test, :Data Management/Indices APIs, Team:Data Management, v8.13.0

#103922 [ML] Always test for spikes and dips as well as changes in the change point aggregation
  docs/changelog/103922.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/aggs/changepoint/ChangePointAggregator.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/changepoint/ChangePointAggregatorTests.java
Labels: >enhancement, :ml, Team:ML, v8.13.0

#104004 Fixing a failure in ConvertProcessorTests.testConvertIpV4()
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/ConvertProcessorTests.java
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v8.13.0

#104002 Disambiguate `@Inject` annotation in errors
  server/src/main/java/org/elasticsearch/common/inject/internal/Errors.java
  server/src/main/java/org/elasticsearch/indices/analysis/wrappers/StableApiWrappers.java
  server/src/test/java/org/elasticsearch/indices/analysis/IncorrectSetupStablePluginsTests.java
  server/src/test/java/org/elasticsearch/indices/analysis/wrappers/StableApiWrappersTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.13.0

#103944 Bump up httpclient version
  build-tools-internal/version.properties
  gradle/build.versions.toml
  gradle/verification-metadata.xml
Labels: :Delivery/Build, >upgrade, Team:Delivery, auto-backport-and-merge, v7.17.17, v8.13.0

#103379 Add a note about date math support in Watcher search action
  docs/reference/watcher/actions/index.asciidoc
Labels: >docs, :Data Management/Watcher, Team:Data Management, Team:Docs, external-contributor, auto-merge, v8.13.0

#104010 Fix thirdparty audit checks on Java 22
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ThirdPartyAuditTask.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport-and-merge, v8.12.1, v8.13.0, v8.11.5
