Repository elastic/elasticsearch, pull requests merged in 2024-12, with the labels that each got.

#117790 Fix CCS cancellation test
  muted-tests.yml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersCancellationIT.java
Labels: >test, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.16.2, v8.17.1, v8.18.0

#117799 Fix CCS cancellation test (#117790)
  muted-tests.yml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersCancellationIT.java
Labels: >test, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.18.0

#117800 Fix CCS cancellation test (#117790)
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersCancellationIT.java
Labels: >test, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.17.1

#117783 Lazy compute description in ReplicationRequest.createTask
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationRequest.java
Labels: >non-issue, :Distributed Indexing/Distributed, auto-backport, v9.0.0, Team:Distributed Indexing, v8.18.0

#117804 [8.x] Lazy compute description in ReplicationRequest.createTask (#117783)
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationRequest.java
Labels: >non-issue, :Distributed Indexing/Distributed, backport, auto-merge-without-approval, Team:Distributed Indexing, v8.18.0

#117806 [Build] Fix cacheability of discovery-azure-classic
  .buildkite/scripts/gradle-build-cache-validation.sh
  plugins/discovery-azure-classic/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge-without-approval, test-arm, v9.0.0

#117768 Add debug logging for doc parsing exceptions
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
Labels: >non-issue, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v9.0.0, v8.18.0

#117816 [8.x] Add debug logging for doc parsing exceptions (#117768)
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
Labels: >non-issue, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Mapping, v8.18.0

#117149 Search Queries in parallel - part 3
  server/src/internalClusterTest/java/org/elasticsearch/aliases/IndexAliasesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/fetch/subphase/MatchedQueriesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/functionscore/QueryRescorerIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/query/MultiMatchQueryIT.java
Labels: >test, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#117615 Remove bucketOrd from InternalGeoGridBucket
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BucketsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/BucketPriorityQueue.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/InternalGeoGrid.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/InternalGeoGridBucket.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/BucketAndOrd.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, auto-backport, v9.0.0, v8.18.0

#117812 Improve performance of H3.h3ToGeoBoundary
  libs/h3/src/main/java/org/elasticsearch/h3/FaceIJK.java
  libs/h3/src/main/java/org/elasticsearch/h3/H3.java
Labels: >non-issue, :Analytics/Geo, Team:Analytics, auto-backport, v9.0.0, v8.18.0

#117638 Fix race in AbstractSearchAsyncAction request throttling (#116264)
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
Labels: backport, auto-merge-without-approval, :Search Foundations/Search, v8.17.1

#117777 [8.x] Compute output of LookupJoinExec dynamically (#117763)
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClusterSpecIT.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/lookup-join.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/PhysicalOptimizerRules.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/InsertFieldExtraction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/Join.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/LookupJoinExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/mapper/LocalMapper.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/mapper/Mapper.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
Labels: >non-issue, backport, auto-merge-without-approval, :Analytics/ES|QL, v8.18.0

#117823 [8.x] Remove bucketOrd from InternalGeoGridBucket (#117615)
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/BucketsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/BucketPriorityQueue.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/GeoGridAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/InternalGeoGrid.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/geogrid/InternalGeoGridBucket.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/BucketAndOrd.java
Labels: >non-issue, :Analytics/Aggregations, backport, Team:Analytics, auto-merge-without-approval, v8.18.0

#117824 [8.x] Improve performance of H3.h3ToGeoBoundary (#117812)
  libs/h3/src/main/java/org/elasticsearch/h3/FaceIJK.java
  libs/h3/src/main/java/org/elasticsearch/h3/H3.java
Labels: >non-issue, :Analytics/Geo, backport, Team:Analytics, auto-merge-without-approval, v8.18.0

#117822 ES|QL: reduce mute scope for Mixed Cluster tests
  muted-tests.yml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/stats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/version.csv-spec
Labels: >test-mute, Team:Analytics, :Analytics/ES|QL, v8.18.0

#117786 Add release notes for v7.17.26 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/7.17.26.asciidoc
Labels: >docs, Team:Docs, v7.17.26, v7.17.27

#117512 [ML] Abstract upgrade mode into core logic
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/AbstractTransportSetUpgradeModeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/SetUpgradeModeActionRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/SetUpgradeModeAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/action/AbstractTransportSetUpgradeModeActionTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportSetUpgradeModeAction.java
Labels: >refactoring, :ml/Transform, Team:ML, v9.0.0, v8.18.0

#117825 Remove some old metadata serialization conditions
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/metadata/Metadata.java
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, v9.0.0

#117827 ES|QL categorize docs
  docs/reference/esql/functions/description/categorize.asciidoc
  docs/reference/esql/functions/examples/categorize.asciidoc
  docs/reference/esql/functions/grouping-functions.asciidoc
  docs/reference/esql/functions/kibana/definition/categorize.json
  docs/reference/esql/functions/kibana/docs/categorize.md
  docs/reference/esql/functions/layout/categorize.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/docs.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/grouping/Categorize.java
Labels: >non-issue, :ml, Team:ML, auto-backport, v9.0.0, v8.18.0

#116837 Unmuting chunking test
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/OpenAIServiceMixedIT.java
Labels: >test, :ml, Team:ML, v9.0.0

#117649 Fix OldRepositoryAccessIT testOldRepoAccess
  muted-tests.yml
  x-pack/qa/repository-old-versions/src/test/java/org/elasticsearch/oldrepos/OldRepositoryAccessIT.java
Labels: >test, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v8.17.1

#117838 [8.x] ES|QL categorize docs (#117827)
  docs/reference/esql/functions/description/categorize.asciidoc
  docs/reference/esql/functions/examples/categorize.asciidoc
  docs/reference/esql/functions/grouping-functions.asciidoc
  docs/reference/esql/functions/kibana/definition/categorize.json
  docs/reference/esql/functions/kibana/docs/categorize.md
  docs/reference/esql/functions/layout/categorize.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/docs.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/grouping/Categorize.java
Labels: >non-issue, :ml, backport, Team:ML, auto-merge-without-approval, v8.18.0

#117199 Speed up bit compared with floats or bytes script operations
  docs/changelog/117199.yaml
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/ESVectorUtil.java
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/internal/vectorization/DefaultESVectorUtilSupport.java
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/internal/vectorization/ESVectorUtilSupport.java
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/vectorization/PanamaESVectorUtilSupport.java
Labels: >enhancement, auto-merge-without-approval, auto-backport, :Search Relevance/Vectors, Team:Search Relevance, v9.0.0, v8.18.0

#117378 [8.x] ESQL: Fix limit task test (#117270)
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionTaskIT.java
Labels: >test, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.18.0

#117841 [8.x] Speed up bit compared with floats or bytes script operations (#117199)
  docs/changelog/117199.yaml
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/ESVectorUtil.java
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/internal/vectorization/DefaultESVectorUtilSupport.java
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/internal/vectorization/ESVectorUtilSupport.java
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/vectorization/PanamaESVectorUtilSupport.java
Labels: >enhancement, backport, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v8.18.0

#116839 ESQL Date Nanos Addition and Subtraction
  docs/reference/esql/functions/kibana/definition/add.json
  docs/reference/esql/functions/kibana/definition/sub.json
  docs/reference/esql/functions/types/add.asciidoc
  docs/reference/esql/functions/types/sub.asciidoc
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/DataType.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date_nanos.csv-spec
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/AddDateNanosEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/SubDateNanosEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/Add.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/DateTimeArithmeticOperation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/Sub.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverter.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/TestCaseSupplier.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/AddTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/SubTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverterTests.java
Labels: >non-issue, Team:Analytics, auto-backport, test-release, :Analytics/ES|QL, v9.0.0, v8.18.0

#117842 ESQL: Limit size of `Literal#toString`
  docs/changelog/117842.yaml
  test/external-modules/esql-heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/heap_attack/HeapAttackIT.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Literal.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/LiteralTests.java
Labels: >bug, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.17.1, v8.18.0

#117819 Add javadocs for Lucene 7 codec classes
  x-pack/plugin/old-lucene-versions/src/main/java/org/elasticsearch/xpack/lucene/bwc/codecs/lucene70/BWCLucene70Codec.java
  x-pack/plugin/old-lucene-versions/src/main/java/org/elasticsearch/xpack/lucene/bwc/codecs/lucene70/Lucene70Codec.java
Labels: >non-issue, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#117844 Remove duplicative banner
  docs/reference/esql/esql-across-clusters.asciidoc
Labels: needs:triage, auto-backport, v9.0.0, v8.17.0, v8.17.1

#117852 [8.17] Remove ccs banner (#117844)
  docs/reference/esql/esql-across-clusters.asciidoc
Labels: backport, needs:triage, auto-merge-without-approval, v8.17.1

#117271 Don't skip shards in coord rewrite if timestamp is an alias
  docs/changelog/117271.yaml
  server/src/main/java/org/elasticsearch/index/query/RangeQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/indices/TimestampFieldMapperService.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsCanMatchOnCoordinatorIntegTests.java
Labels: >bug, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v8.16.2, v8.17.1

#117850 [8.x] ESQL: Limit size of `Literal#toString` (#117842)
  docs/changelog/117842.yaml
  test/external-modules/esql-heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/heap_attack/HeapAttackIT.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Literal.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/LiteralTests.java
Labels: >bug, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.18.0

#117849 [8.17] ESQL: Limit size of `Literal#toString` (#117842)
  docs/changelog/117842.yaml
  test/external-modules/esql-heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/heap_attack/HeapAttackIT.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Literal.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/LiteralTests.java
Labels: >bug, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.17.1

#117847 Refactor/bbq format
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/BinarizedByteVectorValues.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/BinaryQuantizer.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryFlatVectorsScorer.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryQuantizedVectorsFormat.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryQuantizedVectorsReader.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryQuantizedVectorsWriter.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/ES816HnswBinaryQuantizedVectorsFormat.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/OffHeapBinarizedVectorValues.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/main/resources/META-INF/services/org.apache.lucene.codecs.KnnVectorsFormat
  server/src/test/java/org/elasticsearch/index/codec/vectors/es816/BinaryQuantizationTests.java
  server/src/test/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryFlatVectorsScorerTests.java
  server/src/test/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryQuantizedVectorsFormatTests.java
  server/src/test/java/org/elasticsearch/index/codec/vectors/es816/ES816HnswBinaryQuantizedVectorsFormatTests.java
Labels: >refactoring, auto-merge-without-approval, auto-backport, :Search Relevance/Vectors, Team:Search Relevance, v9.0.0, v8.18.0

#117860 [8.x] Refactor/bbq format (#117847)
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/BinarizedByteVectorValues.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/BinaryQuantizer.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryFlatVectorsScorer.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryQuantizedVectorsFormat.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryQuantizedVectorsReader.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryQuantizedVectorsWriter.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/ES816HnswBinaryQuantizedVectorsFormat.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/OffHeapBinarizedVectorValues.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/es816/RandomAccessBinarizedByteVectorValues.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/main/resources/META-INF/services/org.apache.lucene.codecs.KnnVectorsFormat
  server/src/test/java/org/elasticsearch/index/codec/vectors/es816/BinaryQuantizationTests.java
  server/src/test/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryFlatVectorsScorerTests.java
  server/src/test/java/org/elasticsearch/index/codec/vectors/es816/ES816BinaryQuantizedVectorsFormatTests.java
  server/src/test/java/org/elasticsearch/index/codec/vectors/es816/ES816HnswBinaryQuantizedVectorsFormatTests.java
Labels: >refactoring, backport, auto-merge-without-approval, :Search Relevance/Vectors, v8.18.0

#117866 [ML] Abstract upgrade mode into core logic (#117512)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/AbstractTransportSetUpgradeModeAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/SetUpgradeModeActionRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/SetUpgradeModeAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/action/AbstractTransportSetUpgradeModeActionTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportSetUpgradeModeAction.java
Labels: >refactoring, :ml, backport, Team:ML, auto-merge-without-approval, v8.18.0

#117731 Add cluster level reduction
  docs/changelog/117731.yaml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersCancellationIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
Labels: >enhancement, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.18.0

#117868 [8.x] Add cluster level reduction (#117731)
  docs/changelog/117731.yaml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClustersCancellationIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
Labels: >enhancement, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.18.0

#117797 By pass cancellation when closing sinks
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeRequest.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeService.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeSourceHandler.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/RemoteSink.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/exchange/ExchangeRequestTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/exchange/ExchangeServiceTests.java
Labels: >non-issue, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.17.1, v8.18.0

#117869 [8.x] By pass cancellation when closing sinks (#117797)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeRequest.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeService.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeSourceHandler.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/RemoteSink.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/exchange/ExchangeRequestTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/exchange/ExchangeServiceTests.java
Labels: >non-issue, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.18.0

#117871 By pass cancellation when closing sinks (#117797)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeRequest.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeService.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/ExchangeSourceHandler.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/exchange/RemoteSink.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/exchange/ExchangeRequestTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/exchange/ExchangeServiceTests.java
Labels: >non-issue, backport, auto-merge-without-approval, :Analytics/ES|QL, v8.17.1

#117574 Remove supersetSize and subsetSize from InternalSignificantTerms.Bucket
  server/src/internalClusterTest/java/org/elasticsearch/search/aggregations/bucket/SignificantTermsSignificanceScoreIT.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalMappedSignificantTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalSignificantTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/MapStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/NumericTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantLongTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantStringTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTerms.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/UnmappedSignificantTerms.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/InternalSignificantTermsTestCase.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantLongTermsTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantStringTermsTests.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/bucket/AbstractSignificanceHeuristicTestCase.java
Labels: >non-issue, :Analytics/Aggregations, Team:Analytics, auto-backport, v9.0.0, v8.18.0

#117757 [Profiling] Switch to 19Hz sampling frequency
  x-pack/plugin/profiling/src/internalClusterTest/java/org/elasticsearch/xpack/profiling/action/GetStackTracesActionIT.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/action/CO2Calculator.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/action/CostCalculator.java
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/action/CO2CalculatorTests.java
  x-pack/plugin/profiling/src/test/java/org/elasticsearch/xpack/profiling/action/CostCalculatorTests.java
Labels: >enhancement, external-contributor, :UniversalProfiling/Application, Team:obs-knowledge, v9.0.0

#117752 [Profiling] Add field profiling.agent.config.sampling_frequency to profiling-hosts
  x-pack/plugin/core/template-resources/src/main/resources/profiling/component-template/profiling-hosts.json
Labels: >enhancement, :UniversalProfiling/Application, Team:obs-knowledge, v9.0.0

#117572 Remove RestApiVersion#V_7 references for 9.0.0
  docs/changelog/117572.yaml
  server/src/main/java/org/elasticsearch/action/search/MultiSearchRequest.java
  server/src/main/java/org/elasticsearch/action/termvectors/TermVectorsRequest.java
  server/src/main/java/org/elasticsearch/index/query/CommonTermsQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/query/TypeQueryV7Builder.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestTermVectorsAction.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestMultiSearchAction.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/MovAvgPipelineAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/FieldSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScriptSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/SortBuilder.java
  server/src/test/java/org/elasticsearch/action/search/MultiSearchRequestTests.java
Labels: >refactoring, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#117229 Fix/meta fields bad request
  docs/changelog/117229.yaml
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/RankFeatureMetaFieldMapper.java
  rest-api-spec/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/520_fetch_fields.yml
  server/src/main/java/org/elasticsearch/index/mapper/FieldNamesFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/NestedPathFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SeqNoFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
Labels: >bug, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v8.18.0

#117879 [8.x] Fix/meta fields bad request (#117229)
  docs/changelog/117229.yaml
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/RankFeatureMetaFieldMapper.java
  rest-api-spec/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/520_fetch_fields.yml
  server/src/main/java/org/elasticsearch/index/mapper/FieldNamesFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/NestedPathFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SeqNoFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FieldFetcherTests.java
Labels: >bug, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v8.18.0

#117880 [8.x] Clean up search timeout handling code (#116678)
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhaseDocsIterator.java
  server/src/main/java/org/elasticsearch/search/internal/ContextIndexSearcher.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/main/java/org/elasticsearch/search/query/SearchTimeoutException.java
  server/src/main/java/org/elasticsearch/search/rescore/RescorePhase.java
  server/src/test/java/org/elasticsearch/search/fetch/FetchPhaseDocsIteratorTests.java
Labels: >refactoring, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v8.18.0

#117881 ESQL: Enable CATEGORIZE tests on non-snapshot builds
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
Labels: >test, :ml, Team:Analytics, Team:ML, auto-backport, :Analytics/ES|QL, v9.0.0, v8.18.0

#117855 [8.17] Don't skip shards in coord rewrite if timestamp is an alias (#117271)
  docs/changelog/117271.yaml
  server/src/main/java/org/elasticsearch/index/query/RangeQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/indices/TimestampFieldMapperService.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsCanMatchOnCoordinatorIntegTests.java
Labels: >bug, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v8.17.1

#117837 ESQL: Fix layout when aggregating with aliases
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AbstractPhysicalOperationProviders.java
Labels: >test, Team:Analytics, test-full-bwc, :Analytics/ES|QL, v9.0.0

#117885 [8.x] ESQL: Enable CATEGORIZE tests on non-snapshot builds (#117881)
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
Labels: >test, :ml, backport, Team:Analytics, Team:ML, auto-merge-without-approval, :Analytics/ES|QL, v8.18.0

#117631 [8.16] Use feature flags in OperatorPrivilegesIT (#117491)
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >test, :Security/Security, backport, auto-merge-without-approval, v8.16.2

#116904 Add a not-master state for desired balance
  docs/changelog/116904.yaml
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalance.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/TransportDeleteDesiredBalanceActionTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocatorTests.java
Labels: >enhancement, :Distributed Coordination/Allocation, auto-merge-without-approval, v9.0.0, Team:Distributed Coordination

#117882 ESQL: Simplify CombineProjections
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/CombineProjections.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >refactoring, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.18.0

#117835 ESQL: Make Categorize usable in aggs when identical to a grouping
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/bucket.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/categorize.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/docs.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceAggregateAggExpressionWithEval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceAggregateNestedExpressionWithEval.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >non-issue, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, auto-merge, v8.18.0

#117867 Update email.asciidoc
  docs/reference/watcher/actions/email.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport, v9.0.0, documentation, v8.17.0, v8.16.2, v8.15.6

#117834 Only check non-negative stats for active, current and queue
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/threadpool/SimpleThreadPoolIT.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, auto-backport, v9.0.0, v8.18.0

#117894 [8.x] ESQL: Simplify CombineProjections (#117882)
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/CombineProjections.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >refactoring, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.18.0

#117895 [8.x] ESQL: Make Categorize usable in aggs when identical to a grouping (#117835)
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/bucket.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/categorize.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/docs.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceAggregateAggExpressionWithEval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceAggregateNestedExpressionWithEval.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >non-issue, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, auto-merge, v8.18.0

#117865 Fix BWC for ES|QL cluster request
  docs/changelog/117865.yaml
  x-pack/plugin/esql/qa/server/multi-clusters/build.gradle
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/Clusters.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/EsqlRestValidationIT.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClusterSpecIT.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClustersIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/RemoteClusterPlan.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plugin/ClusterRequestTests.java
Labels: >bug, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.16.2, v8.17.1, v8.18.0

#117900 [8.17] Fix BWC for ES|QL cluster request (#117865)
  docs/changelog/117865.yaml
  x-pack/plugin/esql/qa/server/multi-clusters/build.gradle
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/Clusters.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/EsqlRestValidationIT.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClusterSpecIT.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClustersIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/RemoteClusterPlan.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plugin/ClusterRequestTests.java
Labels: >bug, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.17.1

#117901 [8.x] Fix BWC for ES|QL cluster request (#117865)
  docs/changelog/117865.yaml
  x-pack/plugin/esql/qa/server/multi-clusters/build.gradle
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/Clusters.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/EsqlRestValidationIT.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClusterSpecIT.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClustersIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/RemoteClusterPlan.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plugin/ClusterRequestTests.java
Labels: >bug, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.18.0

#117889 Guard against missing file in CI upload
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchBuildCompletePlugin.java
Labels: :Delivery/Build, >refactoring, Team:Delivery, auto-backport, v9.0.0, v8.18.0

#117878 ES|QL fix telemetry tests (usage stats) after promoting CATEGORIZE
  muted-tests.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/60_usage.yml
Labels: >non-issue, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.18.0

#117913 [8.x] Guard against missing file in CI upload (#117889)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchBuildCompletePlugin.java
Labels: :Delivery/Build, >refactoring, backport, Team:Delivery, auto-merge-without-approval, v8.18.0

#116755 Smarter field caps with subscribable listener
  docs/changelog/116755.yaml
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/RequestIndexFilteringIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RequestIndexFilteringIT.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RequestIndexFilteringTestCase.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEnrichTestCase.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichPolicyResolver.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/IndexResolver.java
Labels: >enhancement, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.18.0

#117762 Parse the contents of dynamic objects for [subobjects:false]
  docs/changelog/117762.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/330_fetch_fields.yml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
Labels: >bug, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v9.0.0, v8.17.1, v8.18.0

#117884 [TEST] Adjust exception type in SearchServiceTests#testWaitOnRefreshTimeout
  muted-tests.yml
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
Labels: >test, Team:Search Foundations, :Search Foundations/Search, v9.0.0

#117921 [8.17] Parse the contents of dynamic objects for [subobjects:false] (#117762)
  docs/changelog/117762.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/330_fetch_fields.yml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserTests.java
Labels: >bug, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Mapping, v8.17.1

#117912 [8.x] Don't skip shards in coord rewrite if timestamp is an alias (#117271)
  docs/changelog/117271.yaml
  server/src/main/java/org/elasticsearch/index/query/RangeQueryBuilder.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/indices/TimestampFieldMapperService.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsCanMatchOnCoordinatorIntegTests.java
Labels: backport, auto-merge-without-approval, :Search Foundations/Search, v8.18.0

#117859 Provide a mechanism to modify config files in a running test cluster
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/resource/MutableResource.java
  x-pack/plugin/eql/qa/security/src/javaRestTest/java/org/elasticsearch/xpack/eql/EqlSecurityTestCluster.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport, serverless-linked, v9.0.0, v8.17.1, v8.18.0

#117923 Esql refactor date tests
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/util/DateUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/TestCaseSupplier.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDateNanosTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDatetimeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToDoubleTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToIntegerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToLongTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToStringTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/ToUnsignedLongTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/AddTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/SubTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/GreaterThanOrEqualTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/GreaterThanTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/LessThanOrEqualTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/comparison/LessThanTests.java
Labels: >test, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.18.0

#117927 Moving the data stream reindex task to x-pack
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamsPlugin.java
  x-pack/plugin/migrate/build.gradle
  x-pack/plugin/migrate/src/internalClusterTest/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamTransportActionIT.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/MigratePlugin.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamAction.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamTransportAction.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamPersistentTaskExecutor.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamPersistentTaskState.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamStatus.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamTask.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamTaskParams.java
  x-pack/plugin/migrate/src/test/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamResponseTests.java
  x-pack/plugin/migrate/src/test/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamPersistentTaskStateTests.java
  x-pack/plugin/migrate/src/test/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamStatusTests.java
  x-pack/plugin/migrate/src/test/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamTaskParamsTests.java
Labels: >refactoring, :Data Management/Data streams, Team:Data Management, auto-backport, v9.0.0, v8.18.0

#117530 Expose operation and request counts separately in repository stats
  docs/changelog/117530.yaml
  modules/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureBlobStoreRepositoryMetricsTests.java
  modules/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureBlobStoreRepositoryTests.java
  modules/repository-azure/src/main/java/org/elasticsearch/repositories/azure/AzureBlobStore.java
  modules/repository-azure/src/test/java/org/elasticsearch/repositories/azure/AzureBlobContainerStatsTests.java
  modules/repository-azure/src/test/java/org/elasticsearch/repositories/azure/ResponseInjectingAzureHttpHandler.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStore.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageOperationsStats.java
  modules/repository-s3/src/internalClusterTest/java/org/elasticsearch/repositories/s3/S3BlobStoreRepositoryTests.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/common/blobstore/BlobStore.java
  server/src/main/java/org/elasticsearch/common/blobstore/BlobStoreActionStats.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryStats.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryStatsSnapshot.java
  server/src/test/java/org/elasticsearch/common/blobstore/BlobStoreActionStatsTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesServiceTests.java
  server/src/test/java/org/elasticsearch/repositories/RepositoriesStatsArchiveTests.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESMockAPIBasedRepositoryIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/snapshots/mockstore/BlobStoreWrapper.java
  x-pack/plugin/repositories-metering-api/src/test/java/org/elasticsearch/xpack/repositories/metering/AbstractRepositoriesMeteringAPIRestTestCase.java
Labels: >enhancement, :Distributed Coordination/Snapshot/Restore, serverless-linked, v9.0.0, Team:Distributed Coordination

#117928 Move common system properties for test clusters to default provider
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultSystemPropertyProvider.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
Labels: :Delivery/Build, >refactoring, Team:Delivery, auto-backport, v9.0.0, v8.18.0

#117941 [8.x] Move common system properties for test clusters to default provider (#117928)
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultLocalClusterSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultSystemPropertyProvider.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
Labels: :Delivery/Build, >refactoring, backport, Team:Delivery, auto-merge-without-approval, v8.18.0

#117213 Fix reconstituting version string from components
  docs/changelog/117213.yaml
  modules/ingest-user-agent/src/main/java/org/elasticsearch/ingest/useragent/UserAgentProcessor.java
  modules/ingest-user-agent/src/test/java/org/elasticsearch/ingest/useragent/UserAgentProcessorTests.java
Labels: >bug, :Data Management/Ingest Node, Team:Data Management, v9.0.0, v8.17.0, v8.16.2, v8.18.0

#117951 [8.17] Fix reconstituting version string from components (#117213)
  docs/changelog/117213.yaml
  modules/ingest-user-agent/src/main/java/org/elasticsearch/ingest/useragent/UserAgentProcessor.java
  modules/ingest-user-agent/src/test/java/org/elasticsearch/ingest/useragent/UserAgentProcessorTests.java
Labels: >bug, :Data Management/Ingest Node, backport, auto-merge-without-approval, v8.17.1

#117950 [8.x] Fix reconstituting version string from components (#117213)
  docs/changelog/117213.yaml
  modules/ingest-user-agent/src/main/java/org/elasticsearch/ingest/useragent/UserAgentProcessor.java
  modules/ingest-user-agent/src/test/java/org/elasticsearch/ingest/useragent/UserAgentProcessorTests.java
Labels: >bug, :Data Management/Ingest Node, backport, auto-merge-without-approval, v8.18.0

#117864 [8.16] Fix BWC for ES|QL cluster request
  docs/changelog/117865.yaml
  x-pack/plugin/esql/qa/server/multi-clusters/build.gradle
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/Clusters.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/EsqlRestValidationIT.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClusterSpecIT.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClustersIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/RemoteClusterPlan.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plugin/ClusterRequestTests.java
Labels: >bug, backport, auto-merge-without-approval, :Analytics/ES|QL, v8.16.2

#116953 Fix false positive date detection with trailing dot
  docs/changelog/116953.yaml
  server/src/main/java/org/elasticsearch/common/time/EpochTime.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingTests.java
Labels: >bug, :Search Foundations/Mapping, external-contributor, auto-backport, Team:Search Foundations, v9.0.0, v8.17.1, v8.18.0

#117959 [8.17] Fix false positive date detection with trailing dot (#116953)
  docs/changelog/116953.yaml
  server/src/main/java/org/elasticsearch/common/time/EpochTime.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingTests.java
Labels: >bug, :Search Foundations/Mapping, backport, external-contributor, auto-merge-without-approval, Team:Search Foundations, v8.17.1

#117960 [8.x] Fix false positive date detection with trailing dot (#116953)
  docs/changelog/116953.yaml
  server/src/main/java/org/elasticsearch/common/time/EpochTime.java
  server/src/test/java/org/elasticsearch/common/time/DateFormattersTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DynamicMappingTests.java
Labels: >bug, :Search Foundations/Mapping, backport, external-contributor, auto-merge-without-approval, Team:Search Foundations, v8.18.0

#117845 Remove test mute for OldRepositoryAccessIT testOldRepoAccess
  muted-tests.yml
Labels: >test, backport, >test-mute, Team:Search Foundations, :Search Foundations/Search, v8.17.1, v8.18.0

#117831 fix/QueryBuilderBWCIT_muted_test
  docs/changelog/117831.yaml
  muted-tests.yml
Labels: >bug, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v8.18.0

#117892 Document ES|QL categorize limitations
  docs/reference/esql/functions/description/categorize.asciidoc
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/grouping/Categorize.java
Labels: >non-issue, :ml, Team:ML, auto-backport, v9.0.0, v8.18.0

#117828 Doc parsing error logging with throttling
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IntervalThrottler.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IntervalThrottlerTests.java
Labels: >non-issue, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v9.0.0, v8.18.0

#117965 [8.x] Document ES|QL categorize limitations (#117892)
  docs/reference/esql/functions/description/categorize.asciidoc
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/grouping/Categorize.java
Labels: >non-issue, :ml, backport, Team:ML, auto-merge-without-approval, v8.18.0

#117354 [CI] DocsClientYamlTestSuiteIT test {yaml=reference/watcher/example-watches/example-watch-clusterstatus/line_137} failing - (#115809)
  muted-tests.yml
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >test, :Data Management/Watcher, Team:Data Management, auto-backport, v9.0.0, v8.18.0

#117887 added missing word to troubleshooting-unstable-cluster.asciidoc
  docs/reference/troubleshooting/troubleshooting-unstable-cluster.asciidoc
Labels: >docs, Team:Docs, external-contributor, v8.16.2

#117968 [8.x] Doc parsing error logging with throttling (#117828)
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/IntervalThrottler.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IntervalThrottlerTests.java
Labels: >non-issue, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Mapping, v8.18.0

#117230 Make TransportLocalClusterStateAction wait for cluster to unblock
  docs/changelog/117230.yaml
  docs/reference/cat/alias.asciidoc
  docs/reference/indices/alias-exists.asciidoc
  docs/reference/indices/get-alias.asciidoc
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.aliases.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.exists_alias.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_alias.json
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/GetAliasesRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/alias/get/TransportGetAliasesAction.java
  server/src/main/java/org/elasticsearch/action/support/TransportLocalClusterStateAction.java
  server/src/main/java/org/elasticsearch/action/support/local/LocalClusterStateRequest.java
  server/src/main/java/org/elasticsearch/action/support/local/TransportLocalClusterStateAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetAliasesAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestAliasAction.java
  server/src/test/java/org/elasticsearch/action/support/local/TransportLocalClusterStateActionTests.java
Labels: >enhancement, :Distributed Indexing/Distributed, v9.0.0, Team:Distributed Indexing

#117870 Assert for empty routing table when hiding state
  server/src/main/java/org/elasticsearch/gateway/ClusterStateUpdaters.java
Labels: >non-issue, :Distributed Coordination/Cluster Coordination, v9.0.0, Team:Distributed Coordination

#117909 Unmute #117893
  muted-tests.yml
Labels: >test, :Data Management/Indices APIs, Team:Data Management, v9.0.0

#117754 CreateClassLoaderEntitlement + extensions to parse logic
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/CreateClassLoaderEntitlement.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyParser.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyParserFailureTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyParserTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-backport, v9.0.0, v8.18.0

#117701 Watcher history index has too many indexed fields - (#71479)
  docs/changelog/117701.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/support/WatcherIndexTemplateRegistryField.java
  x-pack/plugin/core/template-resources/src/main/resources/watch-history-no-ilm.json
  x-pack/plugin/core/template-resources/src/main/resources/watch-history.json
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/HistoryIntegrationTests.java
Labels: >bug, :Data Management/Watcher, Team:Data Management, auto-backport, v9.0.0, v8.18.0

#117972 [8.x] [CI] DocsClientYamlTestSuiteIT test {yaml=reference/watcher/example-w…
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >test, :Data Management/Watcher, backport, auto-merge-without-approval, v8.18.0

#117930 Kderusso/sparse vector ci failure
  muted-tests.yml
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/search/SparseVectorQueryBuilderTests.java
Labels: >test-failure, :ml, :SearchOrg/Relevance, v9.0.0

#117746 [DOCS] Updates 'minimum_number_of_allocations' description
  docs/reference/ml/ml-shared.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.16.0, v9.0.0, v8.17.0, v8.18.0

#117546 [DOCS] Adds adaptive allocations information to Inference APIs
  docs/reference/inference/inference-apis.asciidoc
  docs/reference/inference/put-inference.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.16.0, v9.0.0, v8.17.0

#117942 Removing unnecessary state from DataStreamReindexTask
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamPersistentTaskExecutor.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamTask.java
Labels: >refactoring, :Data Management/Data streams, Team:Data Management, auto-backport, v9.0.0, v8.18.0

#117979 [8.x] Watcher history index has too many indexed fields - (#71479) (#117701)
  docs/changelog/117701.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/watcher/support/WatcherIndexTemplateRegistryField.java
  x-pack/plugin/core/template-resources/src/main/resources/watch-history-no-ilm.json
  x-pack/plugin/core/template-resources/src/main/resources/watch-history.json
  x-pack/plugin/watcher/src/internalClusterTest/java/org/elasticsearch/xpack/watcher/test/integration/HistoryIntegrationTests.java
Labels: >bug, :Data Management/Watcher, backport, Team:Data Management, auto-merge-without-approval, v8.18.0

#117983 [8.17] Updates minimum_number_of_allocations description (#117746)
  docs/reference/ml/ml-shared.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.17.1

#117984 [8.x] Updates minimum_number_of_allocations description (#117746)
  docs/reference/ml/ml-shared.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.18.0

#117982 [8.16] Updates minimum_number_of_allocations description (#117746)
  docs/reference/ml/ml-shared.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.16.2

#117986 [8.16] [DOCS] Adds adaptive allocations information to Inference APIs (#117546)
  docs/reference/inference/inference-apis.asciidoc
  docs/reference/inference/put-inference.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.16.2

#117898 ESQL: Limit size of query
  docs/changelog/117898.yaml
  test/external-modules/esql-heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/heap_attack/HeapAttackIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlParser.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/ParsingTests.java
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v9.0.0, v8.17.1, v8.18.0

#117961 Make Murmur3Hasher#update public
  server/src/main/java/org/elasticsearch/common/hash/Murmur3Hasher.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-backport, v9.0.0, v8.18.0

#117915 ES|QL fix telemetry tests after promoting CATEGORIZE (#117878)
  muted-tests.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/60_usage.yml
Labels: backport, auto-merge-without-approval, :Analytics/ES|QL, v8.18.0

#117627 Refactor how we build the final aggregations in GlobalOrdinalsStringTermsAggregator
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
Labels: :Analytics/Aggregations, >refactoring, Team:Analytics, auto-backport, v9.0.0, v8.18.0

#117936 [8.x] Moving the data stream reindex task to x-pack (#117927)
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamsPlugin.java
  x-pack/plugin/migrate/build.gradle
  x-pack/plugin/migrate/src/internalClusterTest/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamTransportActionIT.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/MigratePlugin.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamAction.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamTransportAction.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamPersistentTaskExecutor.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamPersistentTaskState.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamStatus.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamTask.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamTaskParams.java
  x-pack/plugin/migrate/src/test/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamResponseTests.java
  x-pack/plugin/migrate/src/test/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamPersistentTaskStateTests.java
  x-pack/plugin/migrate/src/test/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamStatusTests.java
  x-pack/plugin/migrate/src/test/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamTaskParamsTests.java
Labels: >refactoring, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.18.0

#118002 [8.x] Make Murmur3Hasher#update public (#117961)
  server/src/main/java/org/elasticsearch/common/hash/Murmur3Hasher.java
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.0

#118005 [8.17] Acquire stats searcher for data stream stats (#117953)
  docs/changelog/117953.yaml
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/action/DataStreamsStatsTransportAction.java
Labels: >bug, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.17.1

#118006 [8.x] Acquire stats searcher for data stream stats (#117953)
  docs/changelog/117953.yaml
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/action/DataStreamsStatsTransportAction.java
Labels: >bug, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.18.0

#118004 [8.16] Acquire stats searcher for data stream stats (#117953)
  docs/changelog/117953.yaml
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/action/DataStreamsStatsTransportAction.java
Labels: >bug, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.16.2

#118009 [8.x] Refactor how we build the final aggregations in GlobalOrdinalsStringTermsAggregator (#117627)
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
Labels: :Analytics/Aggregations, >refactoring, backport, Team:Analytics, auto-merge-without-approval, v8.18.0

#117917 Add option to store `sparse_vector` outside `_source`
  docs/changelog/117917.yaml
  docs/reference/mapping/types/sparse-vector.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/90_sparse_vector.yml
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/XFeatureField.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldTypeTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapperTests.java
Labels: >feature, :Search Foundations/Mapping, auto-backport, Team:Search Foundations, v9.0.0, v8.18.0

#118012 Acquire stats searcher for data stream stats (#117953)
  docs/changelog/117953.yaml
  docs/changelog/118012.yaml
  x-pack/plugin/data-streams/src/main/java/org/elasticsearch/xpack/datastreams/action/DataStreamsStatsTransportAction.java
Labels: >bug, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v7.17.27

#118014 [8.x] Kderusso/sparse vector ci failure (#117930)
  muted-tests.yml
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/search/SparseVectorQueryBuilderTests.java
Labels: backport, auto-merge-without-approval

#118015 Create the mapping explicitly for RequestIndexFilteringTestCase
  muted-tests.yml
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RequestIndexFilteringTestCase.java
Labels: >bug, >test, Team:Analytics, :Analytics/ES|QL, v9.0.0

#117933 Change deprecation.elasticsearch keyword to elasticsearch.deprecation
  distribution/src/config/log4j2.properties
  docs/changelog/117933.yaml
  qa/logging-config/src/test/java/org/elasticsearch/common/logging/JsonLoggerTests.java
  qa/logging-config/src/test/resources/org/elasticsearch/common/logging/json_layout/log4j2.properties
  server/src/main/java/org/elasticsearch/common/logging/DeprecatedMessage.java
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/logging/DeprecationIndexingComponent.java
Labels: >bug, :Core/Infra/Logging, Team:Core/Infra, v9.0.0

#118019 Indicate that rescore isn't allowed with retrievers, yet
  docs/reference/search/retriever.asciidoc
Labels: >docs, Team:Docs, auto-backport, Team:Search Relevance, :Search Relevance/Search, v9.0.0, v8.16.2, v8.17.1, v8.18.0

#118021 [8.17] Indicate that rescore isn't allowed with retrievers, yet (#118019)
  docs/reference/search/retriever.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, Team:Search Relevance, :Search Relevance/Search, v8.17.1

#118022 [8.x] Indicate that rescore isn't allowed with retrievers, yet (#118019)
  docs/reference/search/retriever.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, Team:Search Relevance, :Search Relevance/Search, v8.18.0

#118023 [8.16] Indicate that rescore isn't allowed with retrievers, yet (#118019)
  docs/reference/search/retriever.asciidoc
Labels: >docs, backport, auto-merge-without-approval, :Search Relevance/Vectors, v8.16.2

#118024 ESQL: Limit size of query (#117898)
  docs/changelog/117898.yaml
  test/external-modules/esql-heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/heap_attack/HeapAttackIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlParser.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/ParsingTests.java
Labels: backport, auto-merge-without-approval, v8.18.0

#117952 [8.16] Fix reconstituting version string from components (#117213)
  docs/changelog/117213.yaml
  modules/ingest-user-agent/src/main/java/org/elasticsearch/ingest/useragent/UserAgentProcessor.java
  modules/ingest-user-agent/src/test/java/org/elasticsearch/ingest/useragent/UserAgentProcessorTests.java
Labels: >bug, :Data Management/Ingest Node, backport, auto-merge-without-approval, v8.16.2

#116645 Remove some dead code from SearchPhase and friends
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/ExpandSearchPhase.java
  server/src/test/java/org/elasticsearch/action/search/MockSearchPhaseContext.java
Labels: >non-issue, auto-merge-without-approval, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v8.18.0

#118032 [8.x] Remove some dead code from SearchPhase and friends (#116645)
  server/src/main/java/org/elasticsearch/action/search/AbstractSearchAsyncAction.java
  server/src/main/java/org/elasticsearch/action/search/ExpandSearchPhase.java
  server/src/test/java/org/elasticsearch/action/search/MockSearchPhaseContext.java
Labels: >non-issue, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v8.18.0

#118018 [8.x] Add option to store sparse_vector outside _source
  docs/changelog/117917.yaml
  docs/reference/mapping/types/sparse-vector.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/90_sparse_vector.yml
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/XFeatureField.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldTypeTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapperTests.java
Labels: backport, auto-merge-without-approval, :Search Relevance/Vectors, v8.18.0

#117848 [8.x] ESQL Date Nanos Addition and Subtraction (#116839)
  docs/reference/esql/functions/kibana/definition/add.json
  docs/reference/esql/functions/kibana/definition/sub.json
  docs/reference/esql/functions/types/add.asciidoc
  docs/reference/esql/functions/types/sub.asciidoc
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/DataType.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date_nanos.csv-spec
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/AddDateNanosEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/SubDateNanosEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/Add.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/DateTimeArithmeticOperation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/Sub.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverter.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/TestCaseSupplier.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/AddTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/SubTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/type/EsqlDataTypeConverterTests.java
Labels: >non-issue, backport, Team:Analytics, auto-merge-without-approval, test-release, :Analytics/ES|QL, v8.18.0

#117978 [8.x] CreateClassLoaderEntitlement + extensions to parse logic (#117754)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/CreateClassLoaderEntitlement.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyParser.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyParserFailureTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyParserTests.java
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.0

#117914 Fix for propagating filters from compound to inner retrievers
  docs/changelog/117914.yaml
  server/src/main/java/org/elasticsearch/search/retriever/CompoundRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/KnnRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/RankDocsRetrieverBuilder.java
  server/src/test/java/org/elasticsearch/search/retriever/RankDocsRetrieverBuilderTests.java
  server/src/test/java/org/elasticsearch/search/vectors/TestQueryVectorBuilderPlugin.java
  test/framework/src/main/java/org/elasticsearch/search/retriever/TestCompoundRetrieverBuilder.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/rules/retriever/QueryRuleRetrieverBuilder.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/rank/textsimilarity/TextSimilarityRankRetrieverBuilder.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderIT.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFFeatures.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilder.java
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/700_rrf_retriever_search_api_compatibility.yml
Labels: >bug, :Search Relevance/Ranking, auto-backport, Team:Search Relevance, v9.0.0, v8.16.2, v8.17.1, v8.18.0

#117997 cleanups
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/planner/ExpressionTranslators.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/util/CollectionUtils.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/type/DataTypes.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.0.0

#117792 Address mapping and compute engine runtime field issues
  docs/changelog/117792.yaml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/search/lookup/SearchLookup.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ReinitializingSourceProvider.java
  x-pack/plugin/logsdb/src/javaRestTest/java/org/elasticsearch/xpack/logsdb/LogsdbRestIT.java
Labels: >bug, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v9.0.0, v8.17.1, v8.18.0

#118045 [8.17] Fix for propagating filters from compound to inner retrievers (#117914)
  docs/changelog/117914.yaml
  server/src/main/java/org/elasticsearch/search/retriever/CompoundRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/KnnRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/RankDocsRetrieverBuilder.java
  server/src/test/java/org/elasticsearch/search/retriever/RankDocsRetrieverBuilderTests.java
  server/src/test/java/org/elasticsearch/search/vectors/TestQueryVectorBuilderPlugin.java
  test/framework/src/main/java/org/elasticsearch/search/retriever/TestCompoundRetrieverBuilder.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/rules/retriever/QueryRuleRetrieverBuilder.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/rank/textsimilarity/TextSimilarityRankRetrieverBuilder.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderIT.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFFeatures.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilder.java
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/700_rrf_retriever_search_api_compatibility.yml
Labels: >bug, :Search Relevance/Ranking, backport, auto-merge-without-approval, Team:Search Relevance, v8.17.1

#118046 [8.x] Fix for propagating filters from compound to inner retrievers (#117914)
  docs/changelog/117914.yaml
  server/src/main/java/org/elasticsearch/search/retriever/CompoundRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/KnnRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/RankDocsRetrieverBuilder.java
  server/src/test/java/org/elasticsearch/search/retriever/RankDocsRetrieverBuilderTests.java
  server/src/test/java/org/elasticsearch/search/vectors/TestQueryVectorBuilderPlugin.java
  test/framework/src/main/java/org/elasticsearch/search/retriever/TestCompoundRetrieverBuilder.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/rules/retriever/QueryRuleRetrieverBuilder.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/rank/textsimilarity/TextSimilarityRankRetrieverBuilder.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderIT.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFFeatures.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilder.java
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/700_rrf_retriever_search_api_compatibility.yml
Labels: >bug, :Search Relevance/Ranking, backport, auto-merge-without-approval, Team:Search Relevance, v8.18.0

#117239 [Entitlements] Integrate PluginsLoader with PolicyManager
  libs/entitlement/src/main/java/module-info.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/ElasticsearchEntitlementChecker.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/CreateClassLoaderEntitlement.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/ExitVMEntitlement.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileEntitlement.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyManagerTests.java
  server/src/main/java/org/elasticsearch/bootstrap/Elasticsearch.java
  server/src/main/java/org/elasticsearch/bootstrap/PluginsResolver.java
  server/src/main/java/org/elasticsearch/plugins/PluginsLoader.java
  server/src/test/java/org/elasticsearch/bootstrap/PluginsResolverTests.java
  test/framework/src/main/java/org/elasticsearch/plugins/MockPluginsService.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge-without-approval, auto-backport, v9.0.0, v8.18.0

#117964 [8.17] Remove test mute for OldRepositoryAccessIT testOldRepoAccess (#117845)
  muted-tests.yml
Labels: backport, :Search Foundations/Search, v8.17.1

#115794 [8.x] Only aggregations require at least one shard request (#115314)
  docs/changelog/115314.yaml
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/TSDBIndexingIT.java
  qa/multi-cluster-search/src/test/java/org/elasticsearch/search/CCSDuelIT.java
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/multi_cluster/70_skip_shards.yml
  qa/multi-cluster-search/src/test/resources/rest-api-spec/test/multi_cluster/90_index_name_query.yml
  rest-api-spec/build.gradle
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CrossClusterSearchIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/profile/query/QueryProfilerIT.java
  server/src/internalClusterTest/java/org/elasticsearch/search/stats/FieldUsageStatsIT.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/CrossClusterAsyncSearchIT.java
  x-pack/plugin/mapper-constant-keyword/src/test/java/org/elasticsearch/xpack/constantkeyword/mapper/SearchIdleTests.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRankCoordinatorCanMatchIT.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRankShardCanMatchIT.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/SearchableSnapshotsCanMatchOnCoordinatorIntegTests.java
  x-pack/plugin/transform/src/internalClusterTest/java/org/elasticsearch/xpack/transform/checkpoint/TransformCCSCanMatchIT.java
  x-pack/qa/repository-old-versions/src/test/java/org/elasticsearch/oldrepos/OldRepositoryAccessIT.java
Labels: backport, v8.18.0

#118048 [8.17] Address mapping and compute engine runtime field issues (#117792)
  docs/changelog/117792.yaml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/search/lookup/SearchLookup.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ReinitializingSourceProvider.java
  x-pack/plugin/logsdb/src/javaRestTest/java/org/elasticsearch/xpack/logsdb/LogsdbRestIT.java
Labels: >bug, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Mapping, v8.17.1

#118055 [8.x] [Entitlements] Integrate PluginsLoader with PolicyManager (#117239)
  libs/entitlement/src/main/java/module-info.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/ElasticsearchEntitlementChecker.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/CreateClassLoaderEntitlement.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/ExitVMEntitlement.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileEntitlement.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyManagerTests.java
  server/src/main/java/org/elasticsearch/bootstrap/Elasticsearch.java
  server/src/main/java/org/elasticsearch/bootstrap/PluginsResolver.java
  server/src/main/java/org/elasticsearch/plugins/PluginsLoader.java
  server/src/test/java/org/elasticsearch/bootstrap/PluginsResolverTests.java
  test/framework/src/main/java/org/elasticsearch/plugins/MockPluginsService.java
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.0

#117922 ESQL: Small LOOKUP JOIN cleanups
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/lookup-join.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/AnalyzerContext.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/InsertFieldExtraction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTestUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
Labels: >non-issue, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.18.0

#118049 [8.x] Address mapping and compute engine runtime field issues (#117792)
  docs/changelog/117792.yaml
  server/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/search/lookup/SearchLookup.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ReinitializingSourceProvider.java
  x-pack/plugin/logsdb/src/javaRestTest/java/org/elasticsearch/xpack/logsdb/LogsdbRestIT.java
Labels: >bug, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Mapping, v8.18.0

#117888 Avoid un-intended wildcard matches in `ProfileIntegTests`
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileIntegTests.java
Labels: >test, Team:Security, auto-merge-without-approval, auto-backport, :Security/Profile, v9.0.0, v8.16.2, v8.17.1, v8.18.0

#118060 [8.17] Fix ProfileIntegTests (#117888)
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/profile/ProfileIntegTests.java
Labels: >test, backport, Team:Security, auto-merge-without-approval, :Security/Profile, v8.17.1

#117969 Speed up `testRespondAfterClose`
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpServerTransportTests.java
Labels: >test, :Distributed Coordination/Network, auto-merge-without-approval, auto-backport, v9.0.0, Team:Distributed Coordination, v8.18.0

#118063 Smarter field caps with subscribable listener (#116755)
  docs/changelog/116755.yaml
  x-pack/plugin/esql/qa/server/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/multi_node/RequestIndexFilteringIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RequestIndexFilteringIT.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RequestIndexFilteringTestCase.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEnrichTestCase.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichPolicyResolver.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/IndexResolver.java
Labels: >enhancement, backport, auto-merge-without-approval, :Analytics/ES|QL, ES|QL-ui, v9.0.0, v8.18.0
