Repository elastic/elasticsearch, pull requests merged in 2024-06, with the labels that each got.

#109236 Use proper executor for failing requests when connection closes
  docs/changelog/109236.yaml
  server/src/internalClusterTest/java/org/elasticsearch/transport/TransportServiceIT.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/main/java/org/elasticsearch/transport/ForkingResponseHandlerRunnable.java
  server/src/main/java/org/elasticsearch/transport/TransportService.java
  server/src/test/java/org/elasticsearch/transport/TransportServiceLifecycleTests.java
Labels: >bug, :Distributed/Network, Team:Distributed, v8.15.0

#109274 Fix sql JdbcDocCsvSpecIT test {docs.testFilterToday} failing
  muted-tests.yml
  x-pack/plugin/sql/qa/server/src/main/resources/docs/docs.csv-spec
Labels: >test, :Analytics/SQL, Team:Analytics, v8.15.0

#109277 [Test] Unmute testCallsListenerWhenRangeIsAvailable
  muted-tests.yml
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.15.0

#109280 [Test] Fix FrozenIndexInputTests testRandomReads
  x-pack/plugin/searchable-snapshots/src/test/java/org/elasticsearch/xpack/searchablesnapshots/store/input/FrozenIndexInputTests.java
Labels: >test, :Distributed/Snapshot/Restore, Team:Distributed, auto-merge, v8.15.0

#109270 Simplify call to Lucene's IndexWrite in InternalEngine
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/replication/IndexLevelReplicationTests.java
  server/src/test/java/org/elasticsearch/index/replication/RecoveryDuringReplicationTests.java
  server/src/test/java/org/elasticsearch/indices/recovery/RecoveryTests.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, auto-merge, v8.15.0

#109279 Unmute tests with resolved issues
  muted-tests.yml
Labels: >test, :Distributed/Distributed, Team:Distributed, v8.15.0

#109047 [Transform] Prevent concurrent jobs during cleanup
  docs/changelog/109047.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexing/AsyncTwoPhaseIndexer.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerStateTests.java
Labels: >bug, :ml/Transform, Team:ML, v8.15.0

#109287 [Inference] Reuse EmptySettings.INSTANCE instead of creating new object in tests
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/completion/CohereCompletionModelTests.java
Labels: >non-issue, :ml, Team:ML, v8.15.0

#109224 ESQL: Update guide for building scalar functions
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/AbstractConvertFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/AbstractTrigonometricFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/package-info.java
Labels: >docs, Team:Docs, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109290 "manual" index creation and data loading
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/CsvTestsDataLoader.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109243 [Inference API] Add Google AI Studio embeddings support
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceNamedWriteablesProvider.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/action/googleaistudio/GoogleAiStudioActionCreator.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/action/googleaistudio/GoogleAiStudioActionVisitor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/action/googleaistudio/GoogleAiStudioEmbeddingsAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/GoogleAiStudioEmbeddingsRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/googleaistudio/GoogleAiStudioEmbeddingsRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/googleaistudio/GoogleAiStudioEmbeddingsRequestEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/googleaistudio/GoogleAiStudioUtils.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/googleaistudio/GoogleAiStudioEmbeddingsResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioServiceFields.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/embeddings/GoogleAiStudioEmbeddingsModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/embeddings/GoogleAiStudioEmbeddingsServiceSettings.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/Utils.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/action/googleaistudio/GoogleAiStudioEmbeddingsActionTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/googleaistudio/embeddings/GoogleAiStudioEmbeddingsRequestEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/googleaistudio/embeddings/GoogleAiStudioEmbeddingsRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/googleaistudio/GoogleAiStudioEmbeddingsResponseEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/embeddings/GoogleAiStudioEmbeddingsModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/embeddings/GoogleAiStudioEmbeddingsServiceSettingsTests.java
Labels: >non-issue, :ml, Team:ML, v8.15.0

#109291 [ESQL] Migrate QueryPlanTests out of core
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/QueryPlanTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.15.0

#109267 ESQL: Move serialization of `Attribute`
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Attribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/EmptyAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/FieldAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/MetadataAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/NameId.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/ReferenceAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/UnresolvedAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/tree/Source.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/type/AbstractEsFieldTypeTests.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/type/DateEsFieldTests.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/type/EsFieldTests.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/type/InvalidMappedFieldTests.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/type/KeywordEsFieldTests.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/type/TextEsFieldTests.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/type/UnsupportedEsFieldTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/UnsupportedAttribute.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamInput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamOutput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlPlugin.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/SerializationTestUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractAttributeTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/FieldAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/MetadataAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/ReferenceAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/UnsupportedAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypesTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plugin/DataNodeRequestTests.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109297 [ESQL] Migrate TyperResolutionTests out of core
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/TyperResolutionTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.15.0

#109295 [Inference API] Remove HuggingFaceElserSecretSettings and use DefaultSecretSettings
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceNamedWriteablesProvider.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserSecretSettings.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/elser/HuggingFaceElserSecretSettingsTests.java
Labels: >non-issue, :ml, Team:ML, v8.15.0

#109282 [DOCS] Expands DELETE inference API docs
  docs/reference/inference/delete-inference.asciidoc
Labels: >docs, Team:Docs, v8.15.0

#108590 Test to ensure that remote CCS and remote CCR actions don't overlap
  x-pack/plugin/core/build.gradle
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/support/Automatons.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilegeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/support/AutomatonPatternsTests.java
Labels: >non-issue, :Security/Security, Team:Security, v8.15.0

#108330 [7.17] Backport DLS changes
  docs/reference/migration/migrate_7_17.asciidoc
  docs/reference/release-notes/7.17.22.asciidoc
  server/src/main/java/org/elasticsearch/search/aggregations/AggregatorFactories.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/MapStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/NumericTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorSupplier.java
  server/src/test/java/org/elasticsearch/search/aggregations/AggregatorFactoriesBuilderTests.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/DocumentLevelSecurityTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/interceptor/SearchRequestInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/interceptor/ValidateRequestInterceptor.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/interceptor/SearchRequestInterceptorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/interceptor/ValidateRequestInterceptorTests.java
  x-pack/plugin/sql/qa/server/src/main/resources/docs/docs.csv-spec
Labels: :Security/Security, backport, v7.17.22

#109296 [Inference API] Remove GoogleAiStudioSecretSettings and use DefaultSecretSettings
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/googleaistudio/GoogleAiStudioRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioSecretSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/completion/GoogleAiStudioCompletionModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/embeddings/GoogleAiStudioEmbeddingsModel.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/googleaistudio/GoogleAiStudioRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioSecretSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/completion/GoogleAiStudioCompletionModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/embeddings/GoogleAiStudioEmbeddingsModelTests.java
Labels: >non-issue, :ml, Team:ML, v8.15.0

#109155 [DOCS][ESQL][8.14] Add API key based security model info for ESQL CCS
  docs/reference/esql/esql-across-clusters.asciidoc
  docs/reference/modules/cluster/remote-clusters-api-key.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.14.0, v8.15.0

#109310 [8.14] [DOCS][ESQL][8.14] Add API key based security model info for ESQL CCS (#109155)
  docs/reference/esql/esql-across-clusters.asciidoc
  docs/reference/modules/cluster/remote-clusters-api-key.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.14.1

#109256 [ESQL] Migrate SimplifyComparisonArithmetics optimization
  docs/changelog/109256.yaml
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/optimizer/OptimizerRules.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/SimplifyComparisonsArithmetics.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v8.15.0

#109303 Add a couple of missing supported checks to org.elasticsearch.vec.VectorScorerFactoryTests
  libs/vec/src/test/java/org/elasticsearch/vec/VectorScorerFactoryTests.java
Labels: >test, Team:Search, test-windows, :Search/Vectors, test-arm, v8.15.0

#109268 Add metrics for mappings incompatible with synthetic source
  server/src/main/java/org/elasticsearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMetrics.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMetricsTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/Mapping, v8.15.0

#109276 Add remove index setting command
  docs/changelog/109276.yaml
  docs/reference/commands/node-tool.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/RemoveIndexSettingsCommandIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeToolCli.java
  server/src/main/java/org/elasticsearch/cluster/coordination/RemoveIndexSettingsCommand.java
Labels: >enhancement, :Core/Infra/Settings, Team:Core/Infra, auto-backport-and-merge, v8.14.1, v8.15.0, v7.17.22

#109275 Fix esql enrich memory leak
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichLookupService.java
Labels: >non-issue, Team:Analytics, auto-backport-and-merge, :Analytics/ES|QL, v8.14.1, v8.15.0

#109301 Add rolling upgrade test for the index.mapper.dynamic index setting bug.
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MappingIT.java
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RecoveryIT.java
Labels: >test, test-full-bwc, Team:StorageEngine, :StorageEngine/Mapping, v7.17.23

#109292 Added known issue section for the index.mapper.dynamic index setting bug.
  docs/reference/release-notes/7.10.asciidoc
  docs/reference/release-notes/7.11.asciidoc
  docs/reference/release-notes/7.12.asciidoc
  docs/reference/release-notes/7.13.asciidoc
  docs/reference/release-notes/7.14.asciidoc
  docs/reference/release-notes/7.15.asciidoc
  docs/reference/release-notes/7.16.asciidoc
  docs/reference/release-notes/7.17.0.asciidoc
  docs/reference/release-notes/7.17.1.asciidoc
  docs/reference/release-notes/7.17.10.asciidoc
  docs/reference/release-notes/7.17.11.asciidoc
  docs/reference/release-notes/7.17.12.asciidoc
  docs/reference/release-notes/7.17.13.asciidoc
  docs/reference/release-notes/7.17.14.asciidoc
  docs/reference/release-notes/7.17.15.asciidoc
  docs/reference/release-notes/7.17.16.asciidoc
  docs/reference/release-notes/7.17.17.asciidoc
  docs/reference/release-notes/7.17.18.asciidoc
  docs/reference/release-notes/7.17.19.asciidoc
  docs/reference/release-notes/7.17.2.asciidoc
  docs/reference/release-notes/7.17.20.asciidoc
  docs/reference/release-notes/7.17.21.asciidoc
  docs/reference/release-notes/7.17.3.asciidoc
  docs/reference/release-notes/7.17.4.asciidoc
  docs/reference/release-notes/7.17.5.asciidoc
  docs/reference/release-notes/7.17.6.asciidoc
  docs/reference/release-notes/7.17.7.asciidoc
  docs/reference/release-notes/7.17.8.asciidoc
  docs/reference/release-notes/7.17.9.asciidoc
  docs/reference/release-notes/7.7.asciidoc
  docs/reference/release-notes/7.8.asciidoc
  docs/reference/release-notes/7.9.asciidoc
Labels: >docs, Team:Docs, auto-merge, Team:StorageEngine, :StorageEngine/Mapping, v7.17.22, v7.17.23

#109248 [Connector API] Implement _features endpoint
  rest-api-spec/src/main/resources/rest-api-spec/api/connector.update_features.json
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/connector/170_connector_update_features.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/EnterpriseSearch.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/Connector.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorFeatures.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/ConnectorIndexService.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/RestUpdateConnectorFeaturesAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/TransportUpdateConnectorFeaturesAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/UpdateConnectorFeaturesAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorIndexServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorTestUtils.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/action/UpdateConnectorFeaturesActionRequestBWCSerializingTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >non-issue, :EnterpriseSearch/Application, Team:Enterprise Search, v8.15.0

#108021 Update Gradle wrapper to 8.8
  build-conventions/build.gradle
  build-tools-internal/build.gradle
  build-tools-internal/gradle/wrapper/gradle-wrapper.properties
  build-tools-internal/settings.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionArchiveSetupPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/SymbolicLinkPreservingTar.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/DependencyLicensesPrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/DependencyLicensesTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ThirdPartyAuditPrecommitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/util/DependenciesUtils.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/util/HdfsUtils.java
  build-tools-internal/src/main/resources/minimumGradleVersion
  build-tools/build.gradle
  build-tools/settings.gradle
  build-tools/src/main/java/org/elasticsearch/gradle/DistributionDownloadPlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/ElasticsearchDistribution.java
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  build.gradle
  distribution/archives/build.gradle
  distribution/build.gradle
  distribution/packages/build.gradle
  gradle/build.versions.toml
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  plugins/examples/gradle/wrapper/gradle-wrapper.properties
  server/build.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.15.0

#109269 Ensure synthetic source and dv codec are enabled with logs index mode.
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/time_series.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/logsdb/10_settings.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/index/LogsIndexModeTests.java
  server/src/test/java/org/elasticsearch/index/codec/PerFieldMapperCodecTests.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/Logs, v8.15.0

#109321 [8.14] Ingest geoip new databases release highlight
  docs/changelog/107377.yaml
  docs/reference/ingest/processors/geoip.asciidoc
  docs/reference/release-notes/8.14.0.asciidoc
  docs/reference/release-notes/highlights.asciidoc
Labels: >docs, :Data Management/Ingest Node, Team:Data Management, Team:Docs, v8.14.0, v8.14.1, v8.15.0

#109349 Revert "[7.17] Backport DLS changes (#108330)"
  docs/reference/migration/migrate_7_17.asciidoc
  docs/reference/release-notes/7.17.22.asciidoc
  server/src/main/java/org/elasticsearch/search/aggregations/AggregatorFactories.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/MapStringTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/NumericTermsAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/TermsAggregatorSupplier.java
  server/src/test/java/org/elasticsearch/search/aggregations/AggregatorFactoriesBuilderTests.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/DeprecationChecks.java
  x-pack/plugin/deprecation/src/main/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecks.java
  x-pack/plugin/deprecation/src/test/java/org/elasticsearch/xpack/deprecation/NodeDeprecationChecksTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/DocumentLevelSecurityTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/interceptor/SearchRequestInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/interceptor/ValidateRequestInterceptor.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/interceptor/SearchRequestInterceptorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/interceptor/ValidateRequestInterceptorTests.java
Labels: >non-issue, :Security/Security, Team:Security, v7.17.23

#109328 [7.17] Add remove index setting command (#109276)
  docs/changelog/109276.yaml
  docs/reference/commands/node-tool.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/RemoveIndexSettingsCommandIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeToolCli.java
  server/src/main/java/org/elasticsearch/cluster/coordination/RemoveIndexSettingsCommand.java
Labels: >enhancement, :Core/Infra/Settings, backport, Team:Core/Infra, auto-merge, v7.17.23

#109327 [8.14] Add remove index setting command (#109276)
  docs/changelog/109276.yaml
  docs/reference/commands/node-tool.asciidoc
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/RemoveIndexSettingsCommandIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/NodeToolCli.java
  server/src/main/java/org/elasticsearch/cluster/coordination/RemoveIndexSettingsCommand.java
Labels: >enhancement, :Core/Infra/Settings, backport, Team:Core/Infra, auto-merge, v8.14.1

#109007 Multivalue Sparse Vector Support
  docs/changelog/109007.yaml
  docs/reference/mapping/types/sparse-vector.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/90_sparse_vector.yml
  server/src/main/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/SparseVectorFieldMapperTests.java
Labels: >enhancement, Team:Search, :Search/Vectors, v8.15.0

#109343 ES|QL: remove some unused code from ESQL-CORE
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/analyzer/AnalyzerRules.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/analyzer/PreAnalyzer.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/analyzer/PreAnalyzerTests.java
  x-pack/plugin/esql/src/main/resources/forbidden/ql-signatures.txt
Labels: >refactoring, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109355 Ingest geoip new databases release highlight
  docs/changelog/107377.yaml
  docs/changelog/108639.yaml
  docs/changelog/108651.yaml
  docs/changelog/108683.yaml
  docs/reference/ingest/processors/geoip.asciidoc
Labels: >docs, :Data Management/Ingest Node, backport, Team:Data Management, v8.15.0

#109323 Fix test->testAutomatonPatterns dependency
  x-pack/plugin/core/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, v8.15.0

#109342 ES|QL: add more tests for mv_dedupe (geo and cartesian)
  docs/reference/esql/functions/kibana/definition/mv_dedupe.json
  docs/reference/esql/functions/types/mv_dedupe.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvDedupe.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvDedupeTests.java
Labels: >test, Team:Analytics, auto-merge, auto-backport-and-merge, :Analytics/ES|QL, ES|QL-ui, v8.14.1, v8.15.0

#107001 ES|QL: add MV_APPEND function
  docs/reference/esql/functions/description/mv_append.asciidoc
  docs/reference/esql/functions/kibana/definition/mv_append.json
  docs/reference/esql/functions/kibana/docs/mv_append.md
  docs/reference/esql/functions/layout/mv_append.asciidoc
  docs/reference/esql/functions/parameters/mv_append.asciidoc
  docs/reference/esql/functions/signature/mv_append.svg
  docs/reference/esql/functions/types/mv_append.asciidoc
  x-pack/plugin/esql-core/src/test/resources/mapping-multi-field-variation.json
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/floats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/version.csv-spec
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendBooleanEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendBytesRefEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendDoubleEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendIntEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendLongEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppend.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendTests.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#108455 [ES|QL] Convert string to datetime when the other size of an arithmetic operator is date_period or time_duration
  docs/changelog/108455.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/operator/arithmetic/DateTimeArithmeticOperation.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, ES|QL-ui, v8.15.0

#109365 Revert "Ensure synthetic source and dv codec are enabled with logs index mode. (#109269)"
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/time_series.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/logsdb/10_settings.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/index/LogsIndexModeTests.java
  server/src/test/java/org/elasticsearch/index/codec/PerFieldMapperCodecTests.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/Logs, v8.15.0

#109336 Remove redundant Map.Entry implementation in o.e.c.util.Maps
  server/src/main/java/org/elasticsearch/cluster/DiffableUtils.java
  server/src/main/java/org/elasticsearch/common/collect/ImmutableOpenMap.java
  server/src/main/java/org/elasticsearch/common/util/Maps.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-merge, v8.15.0

#109368 ES|QL: Fix flaky MV_APPEND test
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/floats.csv-spec
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109366 Renable test suite, muting bad test
  muted-tests.yml
Labels: >test, :Search/Analysis, Team:Search, v8.15.0

#109369 Fix mv_append
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendBooleanEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendBytesRefEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendDoubleEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendIntEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendLongEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppend.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendTests.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109312 Enable fallback synthetic source for `point` and `shape`
  docs/changelog/109312.yaml
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapper.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/CartesianFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeometricShapeSyntheticSourceSupport.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapperTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/spatial/140_synthetic_source.yml
Labels: >feature, Team:StorageEngine, :StorageEngine/Mapping, v8.15.0

#109371 [8.14] Renable test suite, muting bad test (#109366)
  muted-tests.yml
Labels: backport, auto-merge, v8.14.1

#109220 ESQL: add REPEAT string function
  docs/changelog/109220.yaml
  docs/reference/esql/functions/description/repeat.asciidoc
  docs/reference/esql/functions/examples/repeat.asciidoc
  docs/reference/esql/functions/kibana/definition/repeat.json
  docs/reference/esql/functions/kibana/docs/repeat.md
  docs/reference/esql/functions/layout/repeat.asciidoc
  docs/reference/esql/functions/parameters/repeat.asciidoc
  docs/reference/esql/functions/signature/repeat.svg
  docs/reference/esql/functions/string-functions.asciidoc
  docs/reference/esql/functions/types/repeat.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/string/RepeatConstantEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/string/RepeatEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/Repeat.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/RepeatStaticTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/string/RepeatTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v8.15.0

#109367 Unmute mixed cluster test client yaml tests
  muted-tests.yml
Labels: >test, :Core/Infra/Core, Team:Core/Infra, test-full-bwc, v8.15.0

#109374 [8.14] manual backport release notes #109127
  docs/changelog/105709.yaml
  docs/changelog/105714.yaml
  docs/reference/migration/migrate_8_14.asciidoc
  docs/reference/release-notes/8.14.0.asciidoc
Labels: >docs, backport, v8.14.1

#109372 Unmute AggsIT
  muted-tests.yml
Labels: >test, :Analytics/Aggregations, Team:Analytics, auto-merge, test-full-bwc, auto-backport-and-merge, v8.14.0, v8.15.0

#109377 Muting test for #109373
  muted-tests.yml
Labels: >test-mute, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109278 [Test] Better error message for test failure of testBatchCloseIndices
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexStateServiceBatchingTests.java
Labels: >test, :Distributed/Cluster Coordination, Team:Distributed, auto-merge, v8.15.0

#109330 [Test] Use UnsafePlainActionFuture for addRentionLease response
  muted-tests.yml
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CcrRetentionLeases.java
Labels: >test, :Distributed/CCR, Team:Distributed, auto-merge, v8.15.0

#109264 Make XContentType.xContent() a getter
  libs/x-content/src/main/java/org/elasticsearch/xcontent/XContentType.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.15.0

#109083 Make :distribution:docker:check Gradle configuration cache compatible
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/docker/DockerSupportService.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/testfixtures/TestFixturesPlugin.java
  distribution/docker/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge, v8.15.0

#109314 update package-security.asciidoc to include link to reset password
  docs/reference/setup/install/package-security.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.13.0, v8.14.0, v8.15.0

#109309 ESQL: Improve some casting code
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/FieldAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/MetadataAttribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/ReferenceAttribute.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109388 [8.14] update package-security.asciidoc to include link to reset password (#109314)
  docs/reference/setup/install/package-security.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.14.1

#109387 [8.13] update package-security.asciidoc to include link to reset password (#109314)
  docs/reference/setup/install/package-security.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge, v8.13.5

#109298 Expose the bitset filter cache in the MappingParserContext
  benchmarks/src/main/java/org/elasticsearch/benchmark/index/mapper/MapperServiceFactory.java
  benchmarks/src/main/java/org/elasticsearch/benchmark/search/QueryParserHelperBenchmark.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadataVerifier.java
  server/src/main/java/org/elasticsearch/index/IndexModule.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperService.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingParserContext.java
  server/src/test/java/org/elasticsearch/index/codec/CodecTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MappingParserTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ParametrizedMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TypeParsersTests.java
  server/src/test/java/org/elasticsearch/index/query/SearchExecutionContextTests.java
  test/framework/src/main/java/org/elasticsearch/index/MapperTestUtils.java
  test/framework/src/main/java/org/elasticsearch/index/engine/TranslogHandler.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/TestDocumentParserContext.java
  test/framework/src/main/java/org/elasticsearch/search/aggregations/AggregatorTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.15.0

#109251 Stop allocating BytesRefBuilder for each StreamOutput
  server/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, v8.15.0

#109351 ESQL: Link to the function guide
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/EsqlScalarFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/convert/AbstractConvertFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/AbstractMultivalueFunction.java
Labels: >docs, Team:Docs, Team:Analytics, :Analytics/ES|QL, v8.15.0

#109376 ESQL: Entirely drop `version` field
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/RequestXContent.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryRequestTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/10_basic.yml
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.15.0

#109383 ES|QL: Fix MvAppend tests
  muted-tests.yml
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvAppendTests.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.15.0

#109378 [8.14] Unmute AggsIT (#109372)
  muted-tests.yml
Labels: backport, auto-merge, test-full-bwc, v8.14.1

#109307 [Inference API] Add text_embedding task type to Google AI Studio docs
  docs/reference/inference/put-inference.asciidoc
Labels: >docs, :ml, Team:Docs, Team:ML, v8.15.0

#109216 [ESQL] Migrate Optimizer rules and associated tests
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/optimizer/OptimizerRules.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/optimizer/OptimizerRulesTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/OptimizerRules.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/OptimizerRulesTests.java
Labels: >non-issue, Team:Analytics, :Analytics/Compute Engine, v8.15.0

#109384 [ML] Fix serialising inference delete response
  docs/changelog/109384.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/inference/action/DeleteInferenceEndpointAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportDeleteInferenceEndpointAction.java
Labels: >bug, :ml, Team:ML, Feature:NLP, v8.15.0

#109358 [ML] Use the multi node routing action for internal inference services
  docs/changelog/109358.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/InferModelAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/InferModelActionRequestTests.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elser/ElserInternalServiceTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportInternalInferModelAction.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, cloud-deploy, v8.14.1, v8.15.0

#109320 [ML] Reset retryable index requests after failures
  docs/changelog/109320.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterServiceTests.java
Labels: >bug, :ml, Team:ML, auto-backport-and-merge, v8.14.1, v8.15.0

#109319 [Inference API] Add Docs for Mistral Embedding Support for the Inference API
  docs/changelog/109194.yaml
  docs/reference/inference/put-inference.asciidoc
  docs/reference/search/search-your-data/semantic-search-inference.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-ingest-pipeline-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-ingest-pipeline.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-mapping-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-mapping.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-reindex-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-reindex.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-requirements-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-requirements.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-search-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-search.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-task-widget.asciidoc
  docs/reference/tab-widgets/inference-api/infer-api-task.asciidoc
Labels: >docs, >non-issue, :ml, Team:Docs, Team:ML, v8.15.0

#109382 Ensure synthetic source and dv codec are enabled with logs index mode (attempt 2).
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/time_series.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/logsdb/10_settings.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/test/java/org/elasticsearch/index/LogsIndexModeTests.java
  server/src/test/java/org/elasticsearch/index/codec/PerFieldMapperCodecTests.java
  server/src/test/java/org/elasticsearch/index/mapper/SourceFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: >non-issue, test-full-bwc, Team:StorageEngine, :StorageEngine/Logs, v8.15.0

#109396 [8.14] [ML] Reset retryable index requests after failures (#109320)
  docs/changelog/109320.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterServiceTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge, v8.14.1

#109380 ESQL: Move `NamedExpression` serialization
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Alias.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Attribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/NamedExpression.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/UnresolvedAlias.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/UnresolvedStar.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/util/PlanStreamInput.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/util/PlanStreamOutput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichLookupService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/NamedExpressions.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/UnresolvedNamePattern.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/UnsupportedAttribute.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamInput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamOutput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/EsqlPlugin.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/SerializationTestUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/AliasTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/ReferenceAttributeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypesTests.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109271 Patch ImmutableCollections for tests
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/MrjarPlugin.java
  settings.gradle
  test/framework/src/main/java/org/elasticsearch/bootstrap/BootstrapForTesting.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/immutable-collections-patch/build.gradle
  test/immutable-collections-patch/src/main/java/org/elasticsearch/jdk/patch/ImmutableCollectionsPatcher.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.15.0

#108537 Limit the value in prefix query
  docs/changelog/108537.yaml
  docs/reference/index-modules.asciidoc
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search/30_limits.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/simple/SimpleSearchIT.java
  server/src/main/java/org/elasticsearch/index/query/PrefixQueryBuilder.java
Labels: >enhancement, :Search/Search, Team:Search, external-contributor, v8.15.0

#109404 ESQL: Fix a folding bug with MV_ZIP
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvZip.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/AbstractScalarFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/AbsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/CeilTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/LogTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/PowTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvZipTests.java
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#108741 Add support for failure stores in ILM
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/test/java/org/elasticsearch/cluster/metadata/DataStreamTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataDeleteIndexServiceTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/CheckNotDataStreamWriteIndexStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/DeleteStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ReplaceDataStreamBackingIndexStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/RolloverStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForActiveShardsStep.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/WaitForRolloverReadyStep.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/CheckNoDataStreamWriteIndexStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/DeleteStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/ReplaceDataStreamBackingIndexStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/RolloverStepTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForActiveShardsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/WaitForRolloverReadyStepTests.java
Labels: >non-issue, :Data Management/ILM+SLM, Team:Data Management, v8.15.0

#109406 [ESQL] Remove unused core expressions
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/predicate/operator/arithmetic/Add.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/predicate/operator/arithmetic/DateTimeArithmeticOperation.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/predicate/operator/arithmetic/Div.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/predicate/operator/arithmetic/Mod.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/predicate/operator/arithmetic/Mul.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/predicate/operator/arithmetic/Sub.java
Labels: >non-issue, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109405 [ESQL] Rough index of key classes and packages
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/package-info.java
Labels: >docs, Team:Docs, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109356 Fix esql build script configuration cache incompatibilities
  x-pack/plugin/esql/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.15.0

#109354 Make BWC build logic configuration cache compatible
  build-tools-internal/src/main/groovy/elasticsearch.bwc-test.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcSetupExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalBwcGitPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionBwcSetupPlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/LoggedExec.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.15.0

#109363 Change UnassignedInfo class to record
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/allocation/ClusterAllocationExplainIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/create/ShrinkIndexIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/AllocationIdIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/PrimaryAllocationIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/ShardRoutingRoleIT.java
  server/src/internalClusterTest/java/org/elasticsearch/gateway/GatewayIndexStateIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/store/CorruptedFileIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/store/CorruptedTranslogIT.java
  server/src/internalClusterTest/java/org/elasticsearch/indices/cluster/ShardLockFailureIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/allocation/ClusterAllocationExplanation.java
  server/src/main/java/org/elasticsearch/cluster/health/ClusterShardHealth.java
  server/src/main/java/org/elasticsearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/elasticsearch/cluster/routing/RoutingNodes.java
  server/src/main/java/org/elasticsearch/cluster/routing/ShardRouting.java
  server/src/main/java/org/elasticsearch/cluster/routing/UnassignedInfo.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/ShardChangesObserver.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputer.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconciler.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/command/AllocateEmptyPrimaryAllocationCommand.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/MaxRetryAllocationDecider.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/RestoreInProgressAllocationDecider.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/shards/ShardsAvailabilityHealthIndicatorService.java
  server/src/main/java/org/elasticsearch/gateway/ReplicaShardAllocator.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestShardsAction.java
  server/src/main/java/org/elasticsearch/snapshots/RestoreService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/ClusterAllocationExplainActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/reroute/ClusterRerouteTests.java
  server/src/test/java/org/elasticsearch/cluster/health/ClusterStateHealthTests.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexStateServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/DelayedAllocationServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/ShardRoutingTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/UnassignedInfoTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/MaxRetryAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/TrackFailedAllocationNodesTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceReconcilerTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocatorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/RestoreInProgressAllocationDeciderTests.java
  server/src/test/java/org/elasticsearch/gateway/PrimaryShardAllocatorTests.java
  server/src/test/java/org/elasticsearch/gateway/ReplicaShardAllocatorTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/ESAllocationTestCase.java
  x-pack/plugin/ccr/src/internalClusterTest/java/org/elasticsearch/xpack/ccr/CcrRepositoryIT.java
  x-pack/plugin/searchable-snapshots/src/internalClusterTest/java/org/elasticsearch/xpack/searchablesnapshots/ClusterStateApplierOrderingTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/allocation/SearchableSnapshotAllocator.java
  x-pack/plugin/shutdown/src/main/java/org/elasticsearch/xpack/shutdown/TransportGetShutdownStatusAction.java
Labels: >non-issue, :Distributed/Allocation, Team:Distributed, v8.15.0

#108538 Adding RankFeature implementation
  docs/changelog/108538.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/rank/FieldBasedRerankerIT.java
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/search/CCSSingleCoordinatorSearchProgressListener.java
  server/src/main/java/org/elasticsearch/action/search/FetchSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/RankFeaturePhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchPhaseController.java
  server/src/main/java/org/elasticsearch/action/search/SearchProgressListener.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchTransportAPMMetrics.java
  server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/main/java/org/elasticsearch/node/NodeServiceProvider.java
  server/src/main/java/org/elasticsearch/search/DefaultSearchContext.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/SearchPhaseResult.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/internal/FilteredSearchContext.java
  server/src/main/java/org/elasticsearch/search/internal/SearchContext.java
  server/src/main/java/org/elasticsearch/search/query/QueryPhase.java
  server/src/main/java/org/elasticsearch/search/rank/RankBuilder.java
  server/src/main/java/org/elasticsearch/search/rank/RankSearchContext.java
  server/src/main/java/org/elasticsearch/search/rank/context/RankFeaturePhaseRankCoordinatorContext.java
  server/src/main/java/org/elasticsearch/search/rank/context/RankFeaturePhaseRankShardContext.java
  server/src/main/java/org/elasticsearch/search/rank/feature/RankFeatureDoc.java
  server/src/main/java/org/elasticsearch/search/rank/feature/RankFeatureResult.java
  server/src/main/java/org/elasticsearch/search/rank/feature/RankFeatureShardPhase.java
  server/src/main/java/org/elasticsearch/search/rank/feature/RankFeatureShardRequest.java
  server/src/main/java/org/elasticsearch/search/rank/feature/RankFeatureShardResult.java
  server/src/test/java/org/elasticsearch/action/search/RankFeaturePhaseTests.java
  server/src/test/java/org/elasticsearch/search/DefaultSearchContextTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  server/src/test/java/org/elasticsearch/search/rank/RankFeatureShardPhaseTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  test/framework/src/main/java/org/elasticsearch/node/MockNode.java
  test/framework/src/main/java/org/elasticsearch/search/MockSearchService.java
  test/framework/src/main/java/org/elasticsearch/search/rank/TestRankBuilder.java
  test/framework/src/main/java/org/elasticsearch/test/TestSearchContext.java
  test/framework/src/main/java/org/elasticsearch/test/hamcrest/ElasticsearchAssertions.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/AsyncSearchTask.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRankBuilder.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilder.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/PreAuthorizationUtils.java
Labels: >feature, :Search/Search, :Search/Ranking, Team:Search, v8.15.0

#109419 Backport systemd unreadable library path fix
  docs/changelog/108931.yaml
  libs/native/src/main21/java/org/elasticsearch/nativeaccess/jdk/JdkSystemdLibrary.java
Labels: >bug, :Core/Infra/Core, backport, Team:Core/Infra, v8.14.1

#109424 ES 8.14.0 fails due start when encountering unreadable directories on the library path
  docs/reference/release-notes/8.14.0.asciidoc
Labels: >docs, :Core/Infra/Core, Team:Core/Infra, Team:Docs, v8.14.1

#109421 [Inference API] Add static XContentParserUtils imports in response entities
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/azureaistudio/AzureAiStudioChatCompletionResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/cohere/CohereCompletionResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/cohere/CohereEmbeddingsResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/cohere/CohereRankedResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/googleaistudio/GoogleAiStudioEmbeddingsResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/huggingface/HuggingFaceElserResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/huggingface/HuggingFaceEmbeddingsResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/openai/OpenAiEmbeddingsResponseEntity.java
Labels: >non-issue, :ml, Team:ML, v8.15.0

#109425 [Inference API] Make two fields looking like and used like constants static and final
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/rest/RestDeleteInferenceEndpointAction.java
Labels: >non-issue, :ml, Team:ML, v8.15.0

#109430 Mute org.elasticsearch.search.rank.RankFeatureShardPhaseTests.testProcessFetch #109428
  muted-tests.yml
Labels: :Search/Search, >test-mute, Team:Search, auto-merge, v8.15.0

#109426 [Inference API] Make ServiceUtils final and add private constructor
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/ServiceUtils.java
Labels: >non-issue, :ml, Team:ML, v8.15.0

#109427 [Inference API] Make http.Utils final and add private constructor
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/Utils.java
Labels: >non-issue, :ml, Team:ML, v8.15.0

#109433 semantic_text docs - Fix retrievers example
  docs/reference/query-dsl/semantic-query.asciidoc
Labels: >docs, :Search/Search, Team:Docs, Team:Search, v8.15.0

#109418 [DOCS] Modifies semantic search-related docs to refer to the `semantic_text` workflow
  docs/reference/search/search-your-data/semantic-search-elser.asciidoc
  docs/reference/search/search-your-data/semantic-search-inference.asciidoc
  docs/reference/search/search-your-data/semantic-search.asciidoc
Labels: >docs, Team:Docs, v8.15.0

#109422 [8.14] Fix task cancellation authz on fulfilling cluster (#109357)
  docs/changelog/109357.yaml
  server/src/main/java/org/elasticsearch/tasks/TaskCancellationService.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityRestIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
Labels: :Security/Authorization, backport, v8.14.1

#108804 HistogramFieldMapper typo fixed and test fixed
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapper.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/mapper/HistogramFieldMapperTests.java
Labels: >non-issue, external-contributor, auto-merge, Team:StorageEngine, :StorageEngine/Mapping, v8.15.0

#109417 Add parent filter query and BitsetProducer in NestedObjectMapper context
  server/src/main/java/org/elasticsearch/index/mapper/NestedObjectMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/FieldAliasMapperValidationTests.java
  server/src/test/java/org/elasticsearch/index/mapper/NestedLookupTests.java
  server/src/test/java/org/elasticsearch/index/mapper/NestedObjectMapperTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/nested/NestedAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/sort/AbstractSortTestCase.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapper.java
Labels: >non-issue, :Search/Mapping, Team:Search, v8.15.0

#109420 Use System::nanoTime as default time source in SharedBlobCacheService
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
Labels: >non-issue, :Distributed/Snapshot/Restore, :Search/Search, Team:Distributed, Team:Search, v8.15.0

#109441 Add publish plugin to ES|QL projects
  x-pack/plugin/esql-core/build.gradle
  x-pack/plugin/esql/build.gradle
  x-pack/plugin/esql/compute/ann/build.gradle
  x-pack/plugin/esql/compute/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Analytics, Team:Delivery, auto-merge, auto-backport-and-merge, :Analytics/ES|QL, v8.14.1, v8.15.0

#109432 [Inference API] Deduplicate methods parsing a single float in response entities
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/XContentUtils.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/cohere/CohereEmbeddingsResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/googleaistudio/GoogleAiStudioEmbeddingsResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/huggingface/HuggingFaceEmbeddingsResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/openai/OpenAiEmbeddingsResponseEntity.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/XContentUtilsTests.java
Labels: >non-issue, :ml, Team:ML, v8.15.0

#109423 Correct how hex strings are handled when dynamically updating vector dims
  docs/changelog/109423.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/170_knn_search_hex_encoded_byte_vectors.yml
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
Labels: >bug, Team:Search, auto-merge, auto-backport-and-merge, :Search/Vectors, v8.14.1, v8.15.0

#109431 Fix for duplicate key during map initialization
  muted-tests.yml
  server/src/test/java/org/elasticsearch/search/rank/RankFeatureShardPhaseTests.java
Labels: >test, :Search/Search, Team:Search, v8.15.0

#108019 Resolve the issue of `cpu.stat` check failure when os `schedstat_enabled` is enabled
  docs/changelog/108019.yaml
  server/src/main/java/org/elasticsearch/monitor/os/OsProbe.java
Labels: >bug, :Core/Infra/Core, Team:Core/Infra, external-contributor, v8.15.0

#107987 ESQL: Implement LOOKUP, an "inline" enrich
  docs/changelog/107987.yaml
  docs/reference/esql/esql-commands.asciidoc
  docs/reference/esql/esql-query-api.asciidoc
  docs/reference/esql/functions/kibana/definition/mv_zip.json
  docs/reference/esql/functions/types/mv_zip.asciidoc
  docs/reference/esql/processing-commands/lookup.asciidoc
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/EsqlSpecTestCase.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/RestEsqlTestCase.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/lookup.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/Column.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/ParseTables.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypes.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/io/stream/PlanStreamOutput.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Lookup.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/Join.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/JoinConfig.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/JoinType.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/local/LocalRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/HashJoinExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/LocalSourceExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/Mapper.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryRequestTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/io/stream/PlanNamedTypesTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/TestPhysicalOperationProviders.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/tree/EsqlNodeSubclassTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/rule/RuleExecutor.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/150_lookup.yml
Labels: >enhancement, Team:Analytics, auto-merge, :Analytics/ES|QL, ES|QL-ui, v8.15.0

#108682 Adding support for explain in rrf
  docs/changelog/108682.yaml
  docs/reference/search/rrf.asciidoc
  modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorHighlightSubFetchPhase.java
  modules/percolator/src/test/java/org/elasticsearch/percolator/PercolatorMatchedSlotSubFetchPhaseTests.java
  server/src/internalClusterTest/java/org/elasticsearch/search/rank/FieldBasedRerankerIT.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/search/FetchSearchPhase.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/search/SearchModule.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregator.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchContext.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/FetchSubPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/ShardFetchRequest.java
  server/src/main/java/org/elasticsearch/search/fetch/ShardFetchSearchRequest.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/ExplainPhase.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/InnerHitsPhase.java
  server/src/main/java/org/elasticsearch/search/rank/RankBuilder.java
  server/src/main/java/org/elasticsearch/search/rank/RankDoc.java
  server/src/main/java/org/elasticsearch/search/rank/RankDocShardInfo.java
  server/src/main/java/org/elasticsearch/search/rank/feature/RankFeatureDoc.java
  server/src/main/java/org/elasticsearch/search/retriever/KnnRetrieverBuilder.java
  server/src/main/java/org/elasticsearch/search/retriever/RetrieverBuilder.java
  server/src/test/java/org/elasticsearch/action/search/RankFeaturePhaseTests.java
  server/src/test/java/org/elasticsearch/action/search/SearchRequestTests.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FetchFieldsPhaseTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/FetchSourcePhaseTests.java
  server/src/test/java/org/elasticsearch/search/rank/RankFeatureShardPhaseTests.java
  test/framework/src/main/java/org/elasticsearch/search/fetch/HighlighterTestCase.java
  test/framework/src/main/java/org/elasticsearch/search/rank/TestRankBuilder.java
  test/framework/src/main/java/org/elasticsearch/search/rank/TestRankDoc.java
  x-pack/plugin/rank-rrf/src/internalClusterTest/java/org/elasticsearch/xpack/rank/rrf/RRFRankMultiShardIT.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRankBuilder.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRankDoc.java
  x-pack/plugin/rank-rrf/src/main/java/org/elasticsearch/xpack/rank/rrf/RRFRankPlugin.java
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/500_rrf_retriever_explain.yml
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/550_rrf_sub_searches_explain.yml
Labels: >enhancement, :Search/Search, :Search/Ranking, Team:Search, v8.15.0

#109393 Reduce stateless default refresh to 5s
  server/src/main/java/org/elasticsearch/index/IndexSettings.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, v8.15.0

#109464 Extend validity of synthetic version features on 8.14 to 8.15.0
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestFeatureService.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v8.14.1

#109445 Save allocating listener in hot loop in TransportShardBulkAction
  server/src/main/java/org/elasticsearch/action/bulk/TransportShardBulkAction.java
Labels: >non-issue, :Distributed/CRUD, Team:Distributed, v8.15.0

#109448 [8.14] Correct how hex strings are handled when dynamically updating vector dims (#109423)
  docs/changelog/109423.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/170_knn_search_hex_encoded_byte_vectors.yml
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
Labels: >bug, backport, Team:Search, auto-merge, :Search/Vectors, v8.14.1

#109470 Enabling profiling for RankBuilders and adding tests for RRF
  docs/changelog/109470.yaml
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/test/java/org/elasticsearch/action/search/SearchRequestTests.java
  x-pack/plugin/rank-rrf/src/yamlRestTest/resources/rest-api-spec/test/rrf/600_rrf_retriever_profile.yml
Labels: >enhancement, :Search/Ranking, Team:Search, v8.15.0

#109473 Restore trace logging for DownsampleActionIT.testRollupIndex
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/ilm/actions/DownsampleActionIT.java
Labels: >test, auto-merge, :StorageEngine/Downsampling, Team:StorageEngine, v8.15.0

#109466 [Connector API] Include sync_cursor in last sync endpoint
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/connector/80_connector_update_last_sync_stats.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/Connector.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/connector/action/UpdateConnectorLastSyncStatsAction.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/ConnectorIndexServiceTests.java
  x-pack/plugin/ent-search/src/test/java/org/elasticsearch/xpack/application/connector/action/UpdateConnectorLastSyncStatsActionRequestBWCSerializingTests.java
Labels: >non-issue, :SearchOrg/Extract&Transform, Team:Search - Extract & Transform, Team:SearchOrg, v8.15.0

#109402 [ML] Add dry run and force to json spec for Delete Inference endpoint
  rest-api-spec/src/main/resources/rest-api-spec/api/inference.delete.json
Labels: >non-issue, :ml, Team:ML, v8.15.0

#109472 Add a streaming mode in the synthetic source loader.
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/SourceLoader.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/search/lookup/SourceProvider.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperServiceTestCase.java
Labels: >non-issue, :Search/Mapping, Team:Search, Team:StorageEngine, :StorageEngine/Mapping, v8.15.0

#109440 Fix task cancellation on remote cluster when original request fails
  docs/changelog/109440.yaml
  server/src/main/java/org/elasticsearch/tasks/TaskCancellationService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TaskManagerTestCase.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterAwareClientTests.java
  test/framework/src/main/java/org/elasticsearch/test/tasks/MockTaskManager.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
Labels: >bug, :Distributed/Network, Team:Distributed, auto-merge, auto-backport-and-merge, v8.14.1, v8.15.0

#109468 ES|QL: add tests for COALESCE() function on VERSION type
  docs/reference/esql/functions/kibana/definition/coalesce.json
  docs/reference/esql/functions/types/coalesce.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/meta.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/nulls/Coalesce.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/nulls/CoalesceTests.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, ES|QL-ui, v8.15.0

#109484 [8.14] Fix task cancellation on remote cluster when original request fails (#109440)
  docs/changelog/109440.yaml
  server/src/main/java/org/elasticsearch/tasks/TaskCancellationService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/node/tasks/TaskManagerTestCase.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterAwareClientTests.java
  test/framework/src/main/java/org/elasticsearch/test/tasks/MockTaskManager.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
Labels: >bug, :Distributed/Network, backport, Team:Distributed, auto-merge, v8.14.1

#109485 ES|QL: fix logging of async queries
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/async/AsyncTaskManagementService.java
Labels: >non-issue, Team:Analytics, auto-merge, auto-backport-and-merge, :Analytics/ES|QL, v8.14.1, v8.15.0

#109488 [8.14] Add publish plugin to ES|QL projects (#109441)
  x-pack/plugin/esql/build.gradle
  x-pack/plugin/esql/compute/ann/build.gradle
  x-pack/plugin/esql/compute/build.gradle
Labels: backport, auto-merge, v8.14.1

#109481 Fork freeing search/scroll contexts to GENERIC pool
  docs/changelog/109481.yaml
  server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java
Labels: >bug, :Search/Search, :Distributed/Engine, Team:Distributed, Team:Search, v8.15.0

#109482 [DOCS] Fix KB link
  docs/reference/release-notes/8.14.0.asciidoc
Labels: >docs, Team:Docs, external-contributor, v8.14.1

#109491 Fix #109005
  x-pack/plugin/inference/build.gradle
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/action/filter/ShardBulkInferenceActionFilterIT.java
Labels: >test, v8.15.0, Team:Search Relevance

#109490 ESQL: Reenable test
  muted-tests.yml
Labels: >test, Team:Analytics, auto-merge, :Analytics/ES|QL, v8.15.0

#109507 Avoid invalid command in `FieldCapabilitiesIT`
  server/src/internalClusterTest/java/org/elasticsearch/search/fieldcaps/FieldCapabilitiesIT.java
Labels: >test, :Search/Search, Team:Search, v8.15.0

#109495 Suppress stack traces from failed snapshot clones
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
Labels: >non-issue, :Distributed/Snapshot/Restore, Team:Distributed, v8.15.0

#109479 Address MappingIT#testMapperDynamicIndexSetting() test failure
  qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/MappingIT.java
Labels: >test, Team:StorageEngine, :StorageEngine/Mapping, v7.17.23

#109204 Detect long-running tasks on network threads
  docs/changelog/109204.yaml
  docs/reference/modules/network/threading.asciidoc
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpPipeliningHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4MessageInboundHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/transport/netty4/Netty4Transport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4HttpPipeliningHandlerTests.java
  server/src/internalClusterTest/java/org/elasticsearch/common/network/ThreadWatchdogIT.java
  server/src/main/java/org/elasticsearch/common/network/NetworkService.java
  server/src/main/java/org/elasticsearch/common/network/ThreadWatchdog.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/test/java/org/elasticsearch/common/network/ThreadWatchdogTests.java
  test/framework/src/main/java/org/elasticsearch/common/network/ThreadWatchdogHelper.java
  test/framework/src/main/java/org/elasticsearch/transport/AbstractSimpleTransportTestCase.java
Labels: >enhancement, :Distributed/Network, Team:Distributed, auto-merge, Supportability, v8.15.0

#109233 Fix trappy timeouts in security settings APIs
  docs/changelog/109233.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/security.get_settings.json
  rest-api-spec/src/main/resources/rest-api-spec/api/security.update_settings.json
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/settings/GetSecuritySettingsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/settings/UpdateSecuritySettingsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ClusterPrivilegeResolver.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/settings/UpdateSecuritySettingsActionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/PrivilegeTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/settings/TransportGetSecuritySettingsAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/settings/TransportUpdateSecuritySettingsAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/settings/RestGetSecuritySettingsAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/settings/RestUpdateSecuritySettingsAction.java
Labels: >bug, :Security/Security, Team:Security, auto-merge, v8.15.0

#109516 Fix RRF example for semantic query
  docs/reference/query-dsl/semantic-query.asciidoc
Labels: >docs, Team:Docs, auto-merge, v8.15.0

#109463 Enable failure store feature flag ilm in unit tests (#109457 & #109458)
  x-pack/plugin/core/build.gradle
Labels: >test, :Data Management/Data streams, Team:Data Management, auto-merge, v8.15.0

#109510 [TEST] Assert that the ILM policy gets created in TimeSeriesRestDriver
  x-pack/plugin/ilm/qa/multi-node/src/javaRestTest/java/org/elasticsearch/xpack/TimeSeriesRestDriver.java
Labels: >test, auto-merge, :StorageEngine/Downsampling, Team:StorageEngine, v8.15.0

#108707 Clean up role resolution with `CrossClusterApiKeyRoleReference`
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Subject.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/RoleReference.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/RoleReferenceResolver.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/SubjectTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/RoleReferenceTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/RoleDescriptorStore.java
Labels: >refactoring, :Security/Authorization, Team:Security, auto-merge, v8.15.0

#108947 Provide the DocumentSizeReporter with index mode
  docs/changelog/108947.yaml
  modules/ingest-common/src/internalClusterTest/java/org/elasticsearch/plugins/internal/DocumentSizeObserverWithPipelinesIT.java
  server/src/internalClusterTest/java/org/elasticsearch/plugins/internal/DocumentSizeObserverIT.java
  server/src/main/java/org/elasticsearch/plugins/internal/DocumentParsingProvider.java
Labels: >enhancement, Team:Core/Infra, :Core/Infra/Metrics, v8.15.0

#109242 Test switching datastreams `index.mode`
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/LogsDataStreamIT.java
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/LogsDataStreamRestIT.java
Labels: >test, Team:StorageEngine, :StorageEngine/Logs, v8.15.0

#109449 [Transform] Reset max page size to settings value
  docs/changelog/109449.yaml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerTests.java
Labels: >bug, :ml/Transform, Team:ML, auto-backport-and-merge, v8.14.1, v8.15.0

#107279 [Transform] Introduce `_transform/_node_stats` API
  docs/changelog/107279.yaml
  rest-api-spec/src/main/resources/rest-api-spec/api/transform.get_node_stats.json
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/action/GetTransformNodeStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/transform/transforms/TransformSchedulerStats.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/transform/action/GetTransformNodeStatsActionNodesStatsResponseTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
  x-pack/plugin/transform/qa/common/src/main/java/org/elasticsearch/xpack/transform/integration/common/TransformCommonRestTestCase.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformIT.java
  x-pack/plugin/transform/qa/multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/transform/integration/TransformNodeStatsIT.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/Transform.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportGetTransformNodeStatsAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/rest/action/RestGetTransformNodeStatsAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/scheduling/TransformScheduledTaskQueue.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/scheduling/TransformScheduler.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/scheduling/TransformScheduledTaskQueueTests.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/scheduling/TransformSchedulerTests.java
Labels: >feature, :ml/Transform, Team:ML, v8.15.0

#109443 Update Gradle gradleEnterprise plugin (develocity now)
  .ci/init.gradle
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
  gradle/build.versions.toml
  gradle/verification-metadata.xml
  plugins/examples/settings.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, v8.15.0

#109185 Handle unmatching remote cluster wildcards properly for IndicesRequest.SingleIndexNoWildcards requests
  docs/changelog/109185.yaml
  docs/painless/painless-guide/painless-execute-script.asciidoc
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolver.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
Labels: >bug, :Security/Authorization, Team:Security, v8.15.0

#109408 [ESQL] move optimizer rules to a package
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/OptimizerRules.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/BooleanFunctionEqualsElimination.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/CombineDisjunctionsToIn.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/PropagateEquals.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/OptimizerRulesTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.15.0

#109486 Docs: Fix available update by query operations
  docs/reference/docs/update-by-query.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport-and-merge, v8.13.0, v8.14.0, v8.15.0

#109536 [8.13] Docs: Fix available update by query operations (#109486)
  docs/reference/docs/update-by-query.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.13.5

#109537 [8.14] Docs: Fix available update by query operations (#109486)
  docs/reference/docs/update-by-query.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge, v8.14.1

#109503 Remove explicit references to SyntheticSourceMode.FALLBACK
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/SearchAsYouTypeFieldMapper.java
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/TokenCountFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeWithDocValuesFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldMapper.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/Mapping, v8.15.0

#109347 FIx misleading repository-s3 type
  docs/reference/snapshot-restore/repository-s3.asciidoc
Labels: >docs, :Distributed/Snapshot/Restore, Team:Distributed, Team:Docs, auto-merge, auto-backport-and-merge, v8.11.0, v8.12.0, v8.14.0, v8.13.5

#109324 Fix test by removing unecessary mTLS
  muted-tests.yml
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationReloaderTests.java
Labels: >test, :Security/Security, Team:Security, v8.15.0

#109532 [Transform] Reset max page size to settings value (#109449)
  docs/changelog/109532.yaml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformIndexer.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformIndexerTests.java
Labels: >bug, :ml/Transform, Team:ML, v8.14.1

#109508 Use BytesRef instead of Term on o.e.i.engine.Engine.Operation
  server/src/main/java/org/elasticsearch/common/lucene/uid/PerThreadIDVersionAndSeqNoLookup.java
  server/src/main/java/org/elasticsearch/common/lucene/uid/VersionsAndSeqNoResolver.java
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/mapper/Uid.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/common/lucene/uid/VersionLookupTests.java
  server/src/test/java/org/elasticsearch/common/lucene/uid/VersionsTests.java
  server/src/test/java/org/elasticsearch/index/IndexModuleTests.java
  server/src/test/java/org/elasticsearch/index/IndexingSlowLogTests.java
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/LuceneChangesSnapshotTests.java
  server/src/test/java/org/elasticsearch/index/engine/NoOpEngineTests.java
  server/src/test/java/org/elasticsearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexingOperationListenerTests.java
  server/src/test/java/org/elasticsearch/index/shard/RefreshListenersTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/index/engine/FollowingEngineTests.java
Labels: >non-issue, :Distributed/Engine, Team:Distributed, v8.15.0

#109502 [DOCS] Add note that Logstash sets up data streams
  docs/reference/data-streams/set-up-a-data-stream.asciidoc
Labels: >docs, Team:Docs, auto-backport-and-merge, v8.14.0, v8.15.0
