Repository elastic/elasticsearch, pull requests merged in 2025-04, with the labels that each got.

#126006 [9.0] Backport: Add exclusive file entitlement for settings (#125272)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  server/src/main/java/org/elasticsearch/common/file/AbstractFileWatchingService.java
  server/src/main/java/org/elasticsearch/common/file/MasterNodeFileWatchingService.java
  server/src/main/java/org/elasticsearch/reservedstate/service/FileSettingsService.java
  server/src/test/java/org/elasticsearch/common/file/AbstractFileWatchingServiceTests.java
  x-pack/plugin/core/src/main/config/log4j2.properties
Labels: >non-issue, backport, auto-merge-without-approval, auto-backport, test-entitlements, v8.18.1, v8.19.0, v9.0.1, :Core/Infra/Entitlements

#125962 [8.18] Address precision issue in IndexDiskUsageAnalyzerTests#testCompletionFields (#125849) (#125951)
  server/src/test/java/org/elasticsearch/action/admin/indices/diskusage/IndexDiskUsageAnalyzerTests.java
Labels: >test, backport, auto-merge-without-approval, :Search Foundations/Search, v8.18.1

#125916 Re-enable parallel collection for field sorted top hits
  docs/changelog/125916.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/FieldSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/GeoDistanceSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScoreSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScriptSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/SortBuilder.java
  server/src/test/java/org/elasticsearch/search/builder/SearchSourceBuilderTests.java
Labels: >bug, auto-backport, Team:Search Foundations, :Search Foundations/Search, v8.18.1, v8.19.0, v9.0.1, v9.1.0, v8.17.5

#125968 Prevent :: selectors in remote cluster expressions when security is off
  server/src/main/java/org/elasticsearch/action/ResolvedIndices.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterWithoutSecurityFailureStoreRestIT.java
Labels: >non-issue, :Security/Security, Team:Security, auto-backport, v8.19.0, v9.1.0

#126012 [8.x] Re-enable parallel collection for field sorted top hits (#125916)
  docs/changelog/125916.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/FieldSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/GeoDistanceSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScoreSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScriptSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/SortBuilder.java
  server/src/test/java/org/elasticsearch/search/builder/SearchSourceBuilderTests.java
Labels: >bug, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v8.19.0

#126013 [9.0] Re-enable parallel collection for field sorted top hits (#125916)
  docs/changelog/125916.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/FieldSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/GeoDistanceSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScoreSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScriptSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/SortBuilder.java
  server/src/test/java/org/elasticsearch/search/builder/SearchSourceBuilderTests.java
Labels: >bug, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v9.0.1

#125943 Speedup field exists check
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/stats/SearchContextStats.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.1.0

#125852 Return failure store privileges via get built-in privileges API
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/privilege/RestGetBuiltinPrivilegesAction.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/privileges/11_builtin.yml
Labels: >non-issue, :Security/Security, Team:Security, auto-backport, v8.19.0, v9.1.0

#126011 [8.18] Re-enable parallel collection for field sorted top hits (#125916)
  docs/changelog/125916.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/FieldSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/GeoDistanceSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScoreSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScriptSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/SortBuilder.java
  server/src/test/java/org/elasticsearch/search/builder/SearchSourceBuilderTests.java
Labels: >bug, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v8.18.1

#126014 [8.17] Re-enable parallel collection for field sorted top hits (#125916)
  docs/changelog/125916.yaml
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregationBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/FieldSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/GeoDistanceSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScoreSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/ScriptSortBuilder.java
  server/src/main/java/org/elasticsearch/search/sort/SortBuilder.java
  server/src/test/java/org/elasticsearch/search/builder/SearchSourceBuilderTests.java
Labels: >bug, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v8.17.5

#126004 [8.x] Fix uri and ironbank docker distribution build
  distribution/docker/src/docker/Dockerfile
Labels: >non-issue, :Delivery/Packaging, Team:Delivery, auto-merge-without-approval, v8.19.0

#126003 Fix cat allocation YAML test
  muted-tests.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cat.allocation/10_basic.yml
Labels: >test, :Data Management/CAT APIs, Team:Data Management, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#126023 [8.x] Prevent :: selectors in remote cluster expressions when security is off (#125968)
  server/src/main/java/org/elasticsearch/action/ResolvedIndices.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterWithoutSecurityFailureStoreRestIT.java
Labels: backport, auto-merge-without-approval, v8.19.0

#125930 [ES|QL] Infer the score mode to use from the Lucene collector
  docs/changelog/125930.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneCountOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneMaxFactory.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneMinFactory.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/TimeSeriesSortedSourceOperatorFactory.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperatorScoringTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperatorTests.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionTaskIT.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlannerTests.java
Labels: >enhancement, Team:Analytics, auto-backport, :Analytics/ES|QL, Team:Search Relevance, :Search Relevance/Search, v8.19.0, v9.1.0

#126025 [ML] Add job id to reverting snapshot message
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportRevertModelSnapshotAction.java
Labels: >non-issue, :ml, Team:ML, auto-backport, v8.19.0, v9.1.0

#125757 [Failure Store] Authorization denial messages
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilege.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilegeTests.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/failurestore/FailureStoreSecurityRestIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationDenialMessages.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationDenialMessagesTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, auto-merge-without-approval, auto-backport, serverless-linked, v8.19.0, v9.1.0

#126027 [8.x] Fix cat allocation YAML test (#126003)
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/cat.allocation/10_basic.yml
Labels: >test, :Data Management/CAT APIs, backport, Team:Data Management, auto-merge-without-approval, v8.19.0

#125477 [ML] Resolve duplicate key exception in GetDatafeedRunningStateAction
  docs/changelog/125477.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetDatafeedRunningStateAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetDatafeedRunningStateActionResponseTests.java
Labels: >bug, :ml, Team:ML, external-contributor, v9.1.0

#126033 [8.x] [Failure Store] Authorization denial messages (#125757)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilege.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilegeTests.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/failurestore/FailureStoreSecurityRestIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationDenialMessages.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationDenialMessagesTests.java
Labels: >non-issue, :Security/Authorization, backport, Team:Security, auto-merge-without-approval, v8.19.0

#125837 [ML] Delay copying chunked input strings
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/chunking/EmbeddingRequestChunker.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/action/SingleInputSenderExecutableAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/ChatCompletionInput.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/EmbeddingsInput.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/InferenceInputs.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/QueryAndDocsInputs.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/UnifiedChatInput.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elasticsearch/ElasticsearchInternalService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/chunking/EmbeddingRequestChunkerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/action/SingleInputSenderExecutableActionTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/UnifiedChatInputTests.java
Labels: >refactoring, :ml, Team:ML, auto-backport, v8.19.0, v9.1.0

#125667 Fix data stream retrieval in `DataStreamLifecycleServiceRuntimeSecurityIT`
  muted-tests.yml
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/integration/DataStreamLifecycleServiceRuntimeSecurityIT.java
Labels: >test, :Data Management/Data streams, Team:Data Management, v9.1.0

#125900 [Failure Store] Manage-style privileges grant both data and failures access
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexComponentSelectorPredicate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilege.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilegeTests.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/failurestore/FailureStoreSecurityRestIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/RBACEngine.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, auto-merge-without-approval, auto-backport, v8.19.0, v9.1.0

#125663 [docs] Remove as many redirects as possible
  docs/redirects.yml
Labels: >docs, Team:Docs, external-contributor, auto-backport, v9.0.0, v9.1.0

#125141 [Semantic Text] Integration Test
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/SemanticTextIndexVersionIT.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/LocalStateInferencePlugin.java
Labels: >test, auto-backport, :SearchOrg/Relevance, v8.19.0, v9.1.0

#126041 Return null from transformer when not transforming (#125961)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/instrumentation/Transformer.java
Labels: >non-issue, Team:Core/Infra, serverless-linked, v9.1.0, :Core/Infra/Entitlements

#126054 [docs] Add missing mapped pages
  docs/reference/search-connectors/es-postgresql-connector-client-tutorial.md
Labels: >docs, Team:Docs, external-contributor, auto-backport, v9.0.0, documentation, v9.1.0

#126055 Bump junit and hamcrest
  build-tools-internal/version.properties
  gradle/build.versions.toml
  gradle/verification-metadata.xml
  server/src/internalClusterTest/java/org/elasticsearch/index/seqno/RetentionLeaseIT.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport, v8.19.0, v9.1.0

#126057 Remember extraneous Painless code
  modules/lang-painless/src/main/java/org/elasticsearch/painless/phase/DefaultUserTreeToIRTreePhase.java
Labels: :Core/Infra/Scripting, >refactoring, Team:Core/Infra, v9.1.0

#126059 Backport: Add exclusive file entitlement for settings (#125272) (#126006)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  server/src/main/java/org/elasticsearch/common/file/AbstractFileWatchingService.java
  server/src/main/java/org/elasticsearch/common/file/MasterNodeFileWatchingService.java
  server/src/main/java/org/elasticsearch/reservedstate/service/FileSettingsService.java
  server/src/test/java/org/elasticsearch/common/file/AbstractFileWatchingServiceTests.java
  x-pack/plugin/core/src/main/config/log4j2.properties
Labels: >non-issue, backport, auto-merge-without-approval, auto-backport, test-entitlements, v8.18.1, v8.19.0, :Core/Infra/Entitlements

#125139 Custom getCallerClass in entitlement bridge
  libs/entitlement/asm-provider/src/main/java/org/elasticsearch/entitlement/instrumentation/impl/InstrumenterImpl.java
  libs/entitlement/bridge/src/main/java/org/elasticsearch/entitlement/bridge/EntitlementCheckerHandle.java
  libs/entitlement/bridge/src/main/java/org/elasticsearch/entitlement/bridge/Util.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/bridge/UtilTests.java
Labels: >non-issue, Team:Core/Infra, auto-backport, test-entitlements, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#126052 [8.x] [Semantic Text] Integration Test (#125141)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/LocalStateCompositeXPackPlugin.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/SemanticTextIndexVersionIT.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/LocalStateInferencePlugin.java
Labels: >test, backport, auto-merge-without-approval, :SearchOrg/Relevance, v8.19.0

#126062 [8.x] Bump junit and hamcrest (#126055)
  build-tools-internal/version.properties
  gradle/build.versions.toml
  gradle/verification-metadata.xml
  server/src/internalClusterTest/java/org/elasticsearch/index/seqno/RetentionLeaseIT.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.19.0

#125816 Use FallbackSyntheticSourceBlockLoader for point and geo_point
  docs/changelog/125816.yaml
  server/src/main/java/org/elasticsearch/index/mapper/AbstractPointGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/blockloader/BooleanFieldBlockLoaderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/blockloader/DateFieldBlockLoaderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/blockloader/GeoPointFieldBlockLoaderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/blockloader/KeywordFieldBlockLoaderTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/BlockLoaderTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/NumberFieldBlockLoaderTestCase.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/FieldType.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DataSourceHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DataSourceRequest.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DataSourceResponse.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DefaultMappingParametersHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DefaultObjectGenerationHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DefaultPrimitiveTypesHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DefaultWrappersHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/fields/leaf/GeoPointFieldDataGenerator.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/matchers/source/FieldSpecificMatcher.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/matchers/source/SourceMatcher.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/datageneration/GeoShapeFieldDataGenerator.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/datageneration/PointDataSourceHandler.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/datageneration/PointFieldDataGenerator.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeFieldBlockLoaderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldBlockLoaderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldBlockLoaderTests.java
Labels: >enhancement, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v8.19.0, v9.1.0

#126067 [8.18] Backport: Add exclusive file entitlement for settings (#125272) (#126006) (#126059)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  server/src/main/java/org/elasticsearch/common/file/AbstractFileWatchingService.java
  server/src/main/java/org/elasticsearch/common/file/MasterNodeFileWatchingService.java
  server/src/main/java/org/elasticsearch/reservedstate/service/FileSettingsService.java
  server/src/test/java/org/elasticsearch/common/file/AbstractFileWatchingServiceTests.java
  x-pack/plugin/core/src/main/config/log4j2.properties
Labels: >non-issue, backport, auto-merge-without-approval, test-entitlements, v8.18.1, :Core/Infra/Entitlements

#126069 [8.x] Custom getCallerClass in entitlement bridge (#125139)
  libs/entitlement/asm-provider/src/main/java/org/elasticsearch/entitlement/instrumentation/impl/InstrumenterImpl.java
  libs/entitlement/bridge/src/main/java/org/elasticsearch/entitlement/bridge/EntitlementCheckerHandle.java
  libs/entitlement/bridge/src/main/java/org/elasticsearch/entitlement/bridge/Util.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/bridge/UtilTests.java
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, test-entitlements, v8.19.0, :Core/Infra/Entitlements

#126072 Put the not-entitled message in the log
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
Labels: >non-issue, Team:Core/Infra, test-entitlements, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#124763 ESQL: Hide some "extras" from docs
  docs/reference/query-languages/esql/_snippets/functions/examples/bucket.md
  docs/reference/query-languages/esql/_snippets/functions/examples/kql.md
  docs/reference/query-languages/esql/_snippets/functions/examples/left.md
  docs/reference/query-languages/esql/_snippets/functions/examples/match.md
  docs/reference/query-languages/esql/_snippets/functions/examples/qstr.md
  docs/reference/query-languages/esql/_snippets/functions/examples/right.md
  docs/reference/query-languages/esql/_snippets/functions/examples/term.md
  docs/reference/query-languages/esql/_snippets/operators/examples/is_null.md
  docs/reference/query-languages/esql/_snippets/operators/examples/match_operator.md
  docs/reference/query-languages/esql/_snippets/operators/examples/predicates.md
  docs/reference/query-languages/esql/kibana/definition/functions/bucket.json
  docs/reference/query-languages/esql/kibana/definition/functions/kql.json
  docs/reference/query-languages/esql/kibana/definition/functions/left.json
  docs/reference/query-languages/esql/kibana/definition/functions/match.json
  docs/reference/query-languages/esql/kibana/definition/functions/qstr.json
  docs/reference/query-languages/esql/kibana/definition/functions/right.json
  docs/reference/query-languages/esql/kibana/definition/functions/term.json
  docs/reference/query-languages/esql/kibana/definition/operators/is_null.json
  docs/reference/query-languages/esql/kibana/definition/operators/match_operator.json
  docs/reference/query-languages/esql/kibana/definition/operators/predicates.json
  docs/reference/query-languages/esql/kibana/docs/functions/bucket.md
  docs/reference/query-languages/esql/kibana/docs/functions/kql.md
  docs/reference/query-languages/esql/kibana/docs/functions/left.md
  docs/reference/query-languages/esql/kibana/docs/functions/match.md
  docs/reference/query-languages/esql/kibana/docs/functions/qstr.md
  docs/reference/query-languages/esql/kibana/docs/functions/right.md
  docs/reference/query-languages/esql/kibana/docs/functions/term.md
  docs/reference/query-languages/esql/kibana/docs/operators/is_null.md
  docs/reference/query-languages/esql/kibana/docs/operators/match_operator.md
  docs/reference/query-languages/esql/kibana/docs/operators/predicates.md
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/bucket.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/inlinestats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/kql-function.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/match-function.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/match-operator.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/null.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/qstr-function.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/term-function.csv-spec
Labels: >docs, Team:Docs, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.0.0, v9.1.0

#126077 Preventing ConcurrentModificationException when updating settings for more than one index
  docs/changelog/126077.yaml
  server/src/internalClusterTest/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsServiceIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
Labels: >bug, :Data Management/Indices APIs, Team:Data Management, auto-backport, v9.0.0, v8.18.1, v8.19.0, v9.1.0

#126079 [8.x] Use FallbackSyntheticSourceBlockLoader for point and geo_point (#125816)
  docs/changelog/125816.yaml
  server/src/main/java/org/elasticsearch/index/mapper/AbstractPointGeometryFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/blockloader/BooleanFieldBlockLoaderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/blockloader/DateFieldBlockLoaderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/blockloader/GeoPointFieldBlockLoaderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/blockloader/KeywordFieldBlockLoaderTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/BlockLoaderTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/NumberFieldBlockLoaderTestCase.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/FieldType.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DataSourceHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DataSourceRequest.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DataSourceResponse.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DefaultMappingParametersHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DefaultObjectGenerationHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DefaultPrimitiveTypesHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/datasource/DefaultWrappersHandler.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/fields/leaf/GeoPointFieldDataGenerator.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/matchers/source/FieldSpecificMatcher.java
  test/framework/src/main/java/org/elasticsearch/logsdb/datageneration/matchers/source/SourceMatcher.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapper.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/datageneration/GeoShapeFieldDataGenerator.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/datageneration/PointDataSourceHandler.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/datageneration/PointFieldDataGenerator.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeFieldBlockLoaderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldBlockLoaderTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/ShapeFieldBlockLoaderTests.java
Labels: backport, v8.19.0

#126007 Make GCS HttpHandler more compliant
  modules/repository-gcs/src/internalClusterTest/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/GoogleCloudStorageHttpHandler.java
  test/fixtures/gcs-fixture/src/main/java/fixture/gcs/MockGcsBlobStore.java
  test/fixtures/gcs-fixture/src/test/java/fixture/gcs/GoogleCloudStorageHttpHandlerTests.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, Team:Distributed Coordination, v9.1.0

#125838 Unmute test and fix for SearchWithRandomDisconnectsIT::testSearchWithRandomDisconnects
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/basic/SearchWithRandomDisconnectsIT.java
Labels: >test, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v8.18.0, v8.19.0, v9.1.0

#125830 Add getSecret method to ProjectMetadata
  server/src/main/java/org/elasticsearch/cluster/metadata/ProjectMetadata.java
  server/src/main/java/org/elasticsearch/cluster/project/ProjectResolver.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, serverless-linked, v9.1.0

#126092 [9.0] Unmute test and fix for SearchWithRandomDisconnectsIT::testSearchWithRandomDisconnects (#125838)
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/basic/SearchWithRandomDisconnectsIT.java
Labels: backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v9.0.1

#126093 [8.x] Unmute test and fix for SearchWithRandomDisconnectsIT::testSearchWithRandomDisconnects (#125838)
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/basic/SearchWithRandomDisconnectsIT.java
Labels: >test, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v8.19.0

#126095 [8.18] Unmute test and fix for SearchWithRandomDisconnectsIT::testSearchWithRandomDisconnects (#125838)
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/search/basic/SearchWithRandomDisconnectsIT.java
Labels: >test, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v8.18.0, v8.18.1

#126094 Clean up request parsing in `S3HttpHandler`
  modules/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureBlobStoreRepositoryTests.java
  modules/repository-gcs/src/internalClusterTest/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  modules/repository-s3/src/internalClusterTest/java/org/elasticsearch/repositories/s3/S3BlobStoreRepositoryTests.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobContainerRetriesTests.java
  test/fixtures/s3-fixture/src/main/java/fixture/s3/S3HttpHandler.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/ESMockAPIBasedRepositoryIntegTestCase.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, auto-merge-without-approval, Team:Distributed Coordination, v8.19.0

#126096 Remove `testWriteBlobWithExceptionThrownAtClosingTime`
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobContainerRetriesTests.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, Team:Distributed Coordination, v9.1.0

#126016 Slack merge throttling params for fewer merge tasks
  server/src/main/java/org/elasticsearch/index/engine/ThreadPoolMergeExecutorService.java
  server/src/test/java/org/elasticsearch/index/engine/ThreadPoolMergeExecutorServiceTests.java
Labels: >non-issue, :Distributed Indexing/Engine, Team:Distributed Indexing, v9.1.0

#125207 [Entitlements] Replace Permissions with Entitlements in InstallPluginAction
  distribution/tools/plugin-cli/build.gradle
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/cli/InstallPluginAction.java
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/cli/PluginSecurity.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/cli/InstallPluginActionTests.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyParser.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyParserTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtilsTests.java
  plugins/analysis-icu/src/main/plugin-metadata/entitlement-policy.yaml
  qa/evil-tests/src/test/java/org/elasticsearch/plugins/cli/PluginSecurityTests.java
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/complex-plugin-security.policy
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/simple-plugin-security.policy
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/unresolved-plugin-security.policy
Labels: >non-issue, Team:Core/Infra, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#125774 [ML] Fix model registry upgrade tests
  muted-tests.yml
  x-pack/plugin/inference/qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/xpack/application/ModelRegistryUpgradeIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceServiceSettings.java
Labels: >test, :ml, Team:ML, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#126115 [9.0][Entitlements] Replace Permissions with Entitlements in InstallPluginAction (#125207)
  distribution/tools/plugin-cli/build.gradle
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/cli/InstallPluginAction.java
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/cli/PluginSecurity.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/cli/InstallPluginActionTests.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyParser.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyParserTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtilsTests.java
  plugins/analysis-icu/src/main/plugin-metadata/entitlement-policy.yaml
  qa/evil-tests/src/test/java/org/elasticsearch/plugins/cli/PluginSecurityTests.java
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/complex-plugin-security.policy
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/simple-plugin-security.policy
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/unresolved-plugin-security.policy
Labels: backport, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#126021 Simplify makeFieldConfig
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/stats/SearchContextStats.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.1.0

#126116 [Entitlements] Replace Permissions with Entitlements in InstallPluginAction (#125207)
  distribution/tools/plugin-cli/build.gradle
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/cli/InstallPluginAction.java
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/cli/PluginSecurity.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/cli/InstallPluginActionTests.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyParser.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyParserTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtilsTests.java
  plugins/analysis-icu/src/main/plugin-metadata/entitlement-policy.yaml
  qa/evil-tests/src/test/java/org/elasticsearch/plugins/cli/PluginSecurityTests.java
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/complex-plugin-security.policy
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/simple-plugin-security.policy
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/unresolved-plugin-security.policy
Labels: backport, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#126106 [Test] Fix failing RBACEngineTests
  muted-tests.yml
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
Labels: >test, :Security/Security, Team:Security, auto-merge-without-approval, auto-backport, v8.19.0, v9.1.0

#125956 Fix ThreadPoolMergeSchedulerStressTestIT testMergingFallsBehindAndThenCatchesUp
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/index/engine/ThreadPoolMergeSchedulerStressTestIT.java
Labels: >test, :Distributed Indexing/Engine, Team:Distributed Indexing, v9.1.0

#126078 Stop retaining transport responses past serialization (#125163)
  server/src/main/java/org/elasticsearch/transport/NetworkMessage.java
  server/src/main/java/org/elasticsearch/transport/OutboundHandler.java
  server/src/main/java/org/elasticsearch/transport/OutboundMessage.java
  server/src/test/java/org/elasticsearch/transport/InboundDecoderTests.java
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
  server/src/test/java/org/elasticsearch/transport/InboundPipelineTests.java
  server/src/test/java/org/elasticsearch/transport/TransportLoggerTests.java
  test/framework/src/main/java/org/elasticsearch/transport/TestOutboundRequestMessage.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4ServerTransportAuthenticationTests.java
Labels: backport, v8.19.0

#126112 [Test] Skip running testAuthorizeDataStreamFailureIndices in release test CI
  muted-tests.yml
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/IndicesPermissionTests.java
Labels: >test, :Security/Security, Team:Security, auto-merge-without-approval, auto-backport, v8.19.0, v9.1.0

#126122 ESQL: Hide some "extras" from docs (#124763)
  docs/reference/query-languages/esql/_snippets/functions/examples/bucket.md
  docs/reference/query-languages/esql/_snippets/functions/examples/kql.md
  docs/reference/query-languages/esql/_snippets/functions/examples/left.md
  docs/reference/query-languages/esql/_snippets/functions/examples/match.md
  docs/reference/query-languages/esql/_snippets/functions/examples/qstr.md
  docs/reference/query-languages/esql/_snippets/functions/examples/right.md
  docs/reference/query-languages/esql/_snippets/functions/examples/term.md
  docs/reference/query-languages/esql/_snippets/operators/examples/is_null.md
  docs/reference/query-languages/esql/_snippets/operators/examples/match_operator.md
  docs/reference/query-languages/esql/_snippets/operators/examples/predicates.md
  docs/reference/query-languages/esql/kibana/definition/functions/bucket.json
  docs/reference/query-languages/esql/kibana/definition/functions/kql.json
  docs/reference/query-languages/esql/kibana/definition/functions/left.json
  docs/reference/query-languages/esql/kibana/definition/functions/match.json
  docs/reference/query-languages/esql/kibana/definition/functions/qstr.json
  docs/reference/query-languages/esql/kibana/definition/functions/right.json
  docs/reference/query-languages/esql/kibana/definition/functions/term.json
  docs/reference/query-languages/esql/kibana/definition/operators/is_null.json
  docs/reference/query-languages/esql/kibana/definition/operators/match_operator.json
  docs/reference/query-languages/esql/kibana/definition/operators/predicates.json
  docs/reference/query-languages/esql/kibana/docs/functions/bucket.md
  docs/reference/query-languages/esql/kibana/docs/functions/kql.md
  docs/reference/query-languages/esql/kibana/docs/functions/left.md
  docs/reference/query-languages/esql/kibana/docs/functions/match.md
  docs/reference/query-languages/esql/kibana/docs/functions/qstr.md
  docs/reference/query-languages/esql/kibana/docs/functions/right.md
  docs/reference/query-languages/esql/kibana/docs/functions/term.md
  docs/reference/query-languages/esql/kibana/docs/operators/is_null.md
  docs/reference/query-languages/esql/kibana/docs/operators/match_operator.md
  docs/reference/query-languages/esql/kibana/docs/operators/predicates.md
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/bucket.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/inlinestats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/kql-function.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/match-function.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/match-operator.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/null.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/qstr-function.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/term-function.csv-spec
Labels: >docs, backport, auto-merge-without-approval, v9.0.0, v9.0.1

#126051 Run `TransportGetSettingsAction` on local node
  docs/changelog/126051.yaml
  qa/smoke-test-http/src/internalClusterTest/java/org/elasticsearch/http/RestActionCancellationIT.java
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_settings.json
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.get_settings/10_basic.yml
  server/src/internalClusterTest/java/org/elasticsearch/action/IndicesRequestIT.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/TransportGetSettingsAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetSettingsAction.java
  server/src/main/java/org/elasticsearch/rest/action/cat/RestIndicesAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsResponseTests.java
Labels: >enhancement, :Data Management/Indices APIs, Team:Data Management, v9.1.0

#126037 Data stream options convert to `javaRestTests` to `yamlRestTests`.
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/DataStreamOptionsIT.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/220_failure_store_cluster_setting.yml
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/230_data_stream_options.yml
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.delete_data_stream_options.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_data_stream_options.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.put_data_stream_options.json
  x-pack/qa/multi-project/core-rest-tests-with-multiple-projects/build.gradle
Labels: >test, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, auto-backport, v8.19.0, v9.1.0

#126123 Fix for [CI] ReindexDataStreamTransportActionIT testAlready…
  muted-tests.yml
  x-pack/plugin/migrate/src/internalClusterTest/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamTransportActionIT.java
Labels: >test, :Data Management/Data streams, Team:Data Management, auto-backport, v6.8.19, v9.0.0, v8.18.1, v8.19.0, v9.1.0

#126119 [8.18][Entitlements] Replace Permissions with Entitlements in InstallPluginAction (#125207)
  distribution/tools/plugin-cli/build.gradle
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/cli/InstallPluginAction.java
  distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/cli/PluginSecurity.java
  distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/cli/InstallPluginActionTests.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyParser.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyParserTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtilsTests.java
  plugins/analysis-icu/src/main/plugin-metadata/entitlement-policy.yaml
  qa/evil-tests/src/test/java/org/elasticsearch/plugins/cli/PluginSecurityTests.java
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/complex-plugin-security.policy
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/simple-plugin-security.policy
  qa/evil-tests/src/test/resources/org/elasticsearch/plugins/cli/unresolved-plugin-security.policy
Labels: backport, Team:Core/Infra, auto-merge-without-approval, v8.18.1, :Core/Infra/Entitlements

#126002 Run `TransportGetLifecycleAction` on local node
  docs/changelog/126002.yaml
  server/src/main/java/org/elasticsearch/action/support/local/LocalClusterStateRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/action/GetLifecycleAction.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/action/GetLifecycleRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/action/GetLifecycleResponseTests.java
  x-pack/plugin/ilm/src/internalClusterTest/java/org/elasticsearch/xpack/ilm/IndexLifecycleInitialisationTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/RestGetLifecycleAction.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/TransportGetLifecycleAction.java
Labels: >enhancement, :Data Management/ILM+SLM, Team:Data Management, serverless-linked, v9.1.0

#126126 ESQL: Hide some "extras" from docs (#124763)
  docs/reference/esql/functions/examples/qstr.asciidoc
  docs/reference/esql/functions/functionNamedParams/qstr.asciidoc
  docs/reference/esql/functions/kibana/definition/bucket.json
  docs/reference/esql/functions/kibana/definition/kql.json
  docs/reference/esql/functions/kibana/definition/left.json
  docs/reference/esql/functions/kibana/definition/match.json
  docs/reference/esql/functions/kibana/definition/match_operator.json
  docs/reference/esql/functions/kibana/definition/qstr.json
  docs/reference/esql/functions/kibana/definition/right.json
  docs/reference/esql/functions/kibana/definition/term.json
  docs/reference/esql/functions/kibana/docs/bucket.md
  docs/reference/esql/functions/kibana/docs/kql.md
  docs/reference/esql/functions/kibana/docs/left.md
  docs/reference/esql/functions/kibana/docs/match.md
  docs/reference/esql/functions/kibana/docs/match_operator.md
  docs/reference/esql/functions/kibana/docs/qstr.md
  docs/reference/esql/functions/kibana/docs/right.md
  docs/reference/esql/functions/kibana/docs/term.md
  docs/reference/esql/functions/layout/qstr.asciidoc
  docs/reference/esql/functions/parameters/qstr.asciidoc
  docs/reference/esql/functions/signature/qstr.svg
  docs/reference/esql/functions/types/qstr.asciidoc
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/bucket.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/kql-function.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/match-function.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/match-operator.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/null.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/qstr-function.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/term-function.csv-spec
Labels: >docs, Team:Docs, auto-merge-without-approval, auto-backport, v8.18.1, v8.19.0

#125694 Add Bounded Window to Inference Models for Rescoring to Ensure Positive Score Range
  docs/changelog/125694.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/inference/BoundedInferenceModel.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/inference/BoundedWindowInferenceModel.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/inference/EnsembleInferenceModel.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/inference/InferenceDefinition.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/inference/TreeInferenceModel.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/inference/BoundedWindowInferenceModelTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/inference/EnsembleInferenceModelTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/inference/InferenceDefinitionTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/inference/TreeInferenceModelTests.java
Labels: >bug, :Search Relevance/Ranking, :ml, Team:ML, Team:Search Relevance, v8.19.0, v9.1.0

#126135 [9.0] ES-125727 Fix for [CI] ReindexDataStreamTransportActionIT testAlreadyUpToDateDataStream failing (#126123)
  muted-tests.yml
  x-pack/plugin/migrate/src/internalClusterTest/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamTransportActionIT.java
Labels: backport, :Data Management/Data streams, auto-merge-without-approval, v9.0.1

#126136 [8.18] ES-125727 Fix for [CI] ReindexDataStreamTransportActionIT testAlreadyUpToDateDataStream failing (#126123)
  x-pack/plugin/migrate/src/internalClusterTest/java/org/elasticsearch/xpack/migrate/action/ReindexDataStreamTransportActionIT.java
Labels: backport, :Data Management/Data streams, auto-merge-without-approval, v8.18.1

#126144 [8.x] Minor docs fixes
  docs/reference/features/apis/features-apis.asciidoc
  docs/reference/ingest/processors.asciidoc
  docs/reference/ingest/processors/set-security-user.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.18.1, v8.19.0, v8.17.5

#126151 [9.0] Minor docs fixes (#126143)
  docs/reference/enrich-processor/index.md
  docs/reference/enrich-processor/ingest-node-set-security-user-processor.md
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v9.0.1

#126153 [8.17] Minor docs fixes (#126144)
  docs/reference/features/apis/features-apis.asciidoc
  docs/reference/ingest/processors.asciidoc
  docs/reference/ingest/processors/set-security-user.asciidoc
Labels: >docs, backport, Team:Docs, v8.17.5

#126125 Bump spotless
  build-conventions/build.gradle
  gradle/build.versions.toml
  gradle/verification-metadata.xml
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/action/BaseTransportInferenceActionTestCase.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport, serverless-linked, v8.18.1, v8.19.0, v9.0.1, v9.1.0, v7.17.29, v8.17.5, v8.16.7

#123156 ES|QL: Wrap remote errors with cluster name to provide more context
  docs/changelog/123156.yaml
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/cluster/RemoteException.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterCancellationIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterQueryIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterQueryWithPartialResultsIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlRemoteErrorWrapIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
Labels: >enhancement, auto-backport, Team:Search Foundations, :Search Foundations/Search, v8.19.0, v9.0.1, v9.1.0

#125652 Run `TransportGetIndexAction` on local node
  docs/changelog/125652.yaml
  qa/smoke-test-http/src/internalClusterTest/java/org/elasticsearch/http/RestActionCancellationIT.java
  qa/smoke-test-http/src/internalClusterTest/java/org/elasticsearch/http/RestClusterInfoActionCancellationIT.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.exists/10_basic.yml
  server/src/main/java/module-info.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexRequest.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/GetIndexResponse.java
  server/src/main/java/org/elasticsearch/action/admin/indices/get/TransportGetIndexAction.java
  server/src/main/java/org/elasticsearch/action/support/master/info/ClusterInfoRequest.java
  server/src/main/java/org/elasticsearch/action/support/master/info/ClusterInfoRequestBuilder.java
  server/src/main/java/org/elasticsearch/action/support/master/info/TransportClusterInfoAction.java
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestGetIndicesAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexActionTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/get/GetIndexResponseTests.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java
Labels: >enhancement, :Data Management/Indices APIs, Team:Data Management, v9.1.0

#126000 Ensure the set of remote clusters is consistent over the life of ES|QL query
  server/src/main/java/org/elasticsearch/indices/IndicesExpressionGrouper.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichPolicyResolver.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtilsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/telemetry/PlanExecutorMetricsTests.java
Labels: >refactoring, Team:Analytics, auto-backport, :Analytics/ES|QL, v8.19.0, v9.1.0

#126142 [8.x] Data stream options convert to `javaRestTests` to `yamlRestTests`. (#126037)
  modules/data-streams/src/javaRestTest/java/org/elasticsearch/datastreams/DataStreamOptionsIT.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/220_failure_store_cluster_setting.yml
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/230_data_stream_options.yml
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.delete_data_stream_options.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_data_stream_options.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.put_data_stream_options.json
Labels: backport, :Data Management/Data streams, auto-merge-without-approval, v8.19.0

#126146 Fix KeywordFieldBlockLoaderTests
  muted-tests.yml
  server/src/test/java/org/elasticsearch/index/mapper/blockloader/KeywordFieldBlockLoaderTests.java
Labels: >test, auto-merge-without-approval, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v8.19.0, v9.1.0

#126163 [9.0] Unmute ThreadContextTests testDropWarningsExceedingMaxSettings (#123629)
  server/src/test/java/org/elasticsearch/common/util/concurrent/ThreadContextTests.java
Labels: >test, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1

#126162 Put the not-entitled message in the log (#126072)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
Labels: backport, auto-merge-without-approval, auto-backport, test-entitlements, v8.18.1, v8.19.0, v9.0.1, :Core/Infra/Entitlements

#126160 [7.17] Bump spotless (#126125)
  gradle/build.versions.toml
  gradle/verification-metadata.xml
  x-pack/plugin/deprecation/qa/rest/src/javaRestTest/java/org/elasticsearch/xpack/deprecation/DeprecationHttpIT.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, v7.17.29

#126161 [8.x] Ensure the set of remote clusters is consistent over the life of ES|QL query (#126000)
  server/src/main/java/org/elasticsearch/indices/IndicesExpressionGrouper.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/enrich/EnrichPolicyResolver.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtilsTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/telemetry/PlanExecutorMetricsTests.java
Labels: >refactoring, backport, auto-merge-without-approval, :Analytics/ES|QL, v8.19.0

#126168 Add transport version entry for `RemoteException`'s 8.19 backport
  server/src/main/java/org/elasticsearch/TransportVersions.java
Labels: >non-issue, Team:Search Foundations, :Search Foundations/Search, v9.1.0

#126165 [8.x] ES|QL: Wrap remote errors with cluster name to provide more context (#123156)
  docs/changelog/123156.yaml
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/cluster/RemoteException.java
  server/src/test/java/org/elasticsearch/ExceptionSerializationTests.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterCancellationIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterQueryIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterQueryWithPartialResultsIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlRemoteErrorWrapIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
Labels: >enhancement, backport, v8.19.0

#126038 Mark rescore_vector as generally available
  docs/changelog/126038.yaml
  docs/reference/elasticsearch/mapping-reference/dense-vector.md
  docs/reference/elasticsearch/rest-apis/retrievers.md
  docs/reference/query-languages/query-dsl/query-dsl-knn-query.md
Labels: >enhancement, :Search Relevance/Vectors, Team:Search Relevance, v9.1.0

#126169 [8.18] Put the not-entitled message in the log (#126072) (#126162)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
Labels: backport, auto-merge-without-approval, test-entitlements, v8.18.1, :Core/Infra/Entitlements

#126170 [8.x] Put the not-entitled message in the log (#126072) (#126162)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
Labels: backport, auto-merge-without-approval, test-entitlements, v8.19.0, :Core/Infra/Entitlements

#126128 [9.0] Preventing ConcurrentModificationException when updating settings for more than one index (#126077)
  docs/changelog/126077.yaml
  server/src/internalClusterTest/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsServiceIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
Labels: backport, v9.0.1

#126127 [8.x] Preventing ConcurrentModificationException when updating settings for more than one index (#126077)
  docs/changelog/126077.yaml
  server/src/internalClusterTest/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsServiceIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
Labels: backport, v8.19.0

#126129 [8.18] Preventing ConcurrentModificationException when updating settings for more than one index (#126077)
  docs/changelog/126077.yaml
  server/src/internalClusterTest/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsServiceIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataUpdateSettingsService.java
Labels: backport, v8.18.1

#125938 ESQL: make `AttributeMap` and `AttributeSet` immutable
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Attribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/AttributeMap.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/AttributeSet.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Expressions.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/AttributeMapTests.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/AttributeSetTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/CombineProjections.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PropagateEvalFoldables.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PropgateUnmappedFields.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PruneColumns.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PushDownAndCombineFilters.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PushDownUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceAggregateAggExpressionWithEval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceAliasingEvalWithProject.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/local/InferIsNotNull.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/local/ReplaceMissingFieldWithNull.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/PushStatsToSource.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/QueryPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Aggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Eval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/UnaryPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/InlineJoin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/Join.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/AggregateExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/FieldExtractExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/HashJoinExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/RrfScoreEvalExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/UnaryExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AggregateMapper.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >refactoring, Team:Analytics, auto-backport, :Analytics/ES|QL, v8.19.0, v9.0.1, v9.1.0

#126172 Revert [7.17] Bump spotless (#126125) (#126160)
  gradle/build.versions.toml
  gradle/verification-metadata.xml
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge-without-approval, v7.17.29

#126064 Rename METRICS command to TS
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/TimeSeriesAggregationOperator.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClusterSpecIT.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/EsqlSpecTestCase.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/k8s-timeseries.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/TelemetryIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/TimeSeriesIT.java
  x-pack/plugin/esql/src/main/antlr/EsqlBaseLexer.tokens
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.g4
  x-pack/plugin/esql/src/main/antlr/EsqlBaseParser.tokens
  x-pack/plugin/esql/src/main/antlr/lexer/From.g4
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/TranslateTimeSeriesAggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseLexer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParserBaseListener.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParserBaseVisitor.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParserListener.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParserVisitor.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Aggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/UnresolvedRelation.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/GrammarInDevelopmentParsingTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/IndexResolverFieldNamesTests.java
Labels: >non-issue, :StorageEngine/TSDB, Team:StorageEngine, v9.1.0

#126147 Fix `CommonPrefixes` rendering in `S3HttpHandler`
  test/fixtures/s3-fixture/src/main/java/fixture/s3/S3HttpHandler.java
  test/fixtures/s3-fixture/src/test/java/fixture/s3/S3HttpHandlerTests.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, auto-backport, Team:Distributed Coordination, v8.19.0, v9.1.0

#126164 [9.0] ESQL: ESQL: Fix ReplaceMissingFieldsWithNull (#125764)
  docs/changelog/125764.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/enrich.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/lookup-join.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/local/ReplaceMissingFieldWithNull.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/Layout.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
Labels: >bug, backport, :Analytics/ES|QL, v9.0.0, v9.0.1

#126166 [8.18] ESQL: ESQL: Fix ReplaceMissingFieldsWithNull (#125764)
  docs/changelog/125764.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/enrich.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/lookup-join.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/local/ReplaceMissingFieldWithNull.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/EsRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/Layout.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
Labels: >bug, backport, :Analytics/ES|QL, v8.18.0, v8.18.1

#125764 ESQL: Fix ReplaceMissingFieldsWithNull
  docs/changelog/125764.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/enrich.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/lookup-join.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/local/ReplaceMissingFieldWithNull.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/Layout.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
Labels: >bug, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.0.0, v8.18.0, v8.19.0, v9.1.0, v8.17.5

#126090 Remove TableInfo
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/PreAnalyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/TableInfo.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtilsTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.1.0

#126181 [8.x] Fix `CommonPrefixes` rendering in `S3HttpHandler` (#126147)
  test/fixtures/s3-fixture/src/main/java/fixture/s3/S3HttpHandler.java
  test/fixtures/s3-fixture/src/test/java/fixture/s3/S3HttpHandlerTests.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, backport, auto-merge-without-approval, Team:Distributed Coordination, v8.19.0

#126110 Fix ThreadPoolMergeSchedulerTests testSchedulerCloseWaitsForRunningMerge
  muted-tests.yml
  server/src/test/java/org/elasticsearch/index/engine/ThreadPoolMergeSchedulerTests.java
Labels: >test, :Distributed Indexing/Engine, Team:Distributed Indexing, v9.1.0

#126183 [8.x] [Test] Fix failing RBACEngineTests (#126106)
  muted-tests.yml
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
Labels: backport, auto-merge-without-approval, v8.19.0

#126187 [8.17] ESQL: ESQL: Fix ReplaceMissingFieldsWithNull (#125764)
  docs/changelog/125764.yaml
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/enrich.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/local/ReplaceMissingFieldWithNull.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/Layout.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
Labels: >bug, backport, auto-merge-without-approval, :Analytics/ES|QL, v8.17.5

#126113 Fix IndexStatsIT
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/indices/stats/IndexStatsIT.java
Labels: >test, :Distributed Indexing/Distributed, Team:Distributed Indexing, v9.1.0

#126105 Verify usage of CATEGORIZE function in the ES|QL telemetry tests
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/telemetry/VerifierMetricsTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/60_usage.yml
Labels: >test, :ml, Team:Analytics, Team:ML, test-release, :Analytics/ES|QL, v8.19.0, v9.1.0

#126191 Fix NPE for missing Content Type header in OIDC Authenticator
  docs/changelog/126191.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
Labels: >bug, :Security/Authentication, Team:Security, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, v8.17.5

#126195 Record action name for all outbound messages
  server/src/main/java/org/elasticsearch/transport/OutboundHandler.java
  server/src/test/java/org/elasticsearch/transport/InboundDecoderTests.java
  server/src/test/java/org/elasticsearch/transport/InboundHandlerTests.java
  server/src/test/java/org/elasticsearch/transport/InboundPipelineTests.java
  server/src/test/java/org/elasticsearch/transport/TransportLoggerTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4ServerTransportAuthenticationTests.java
Labels: :Distributed Coordination/Network, backport, auto-merge-without-approval, v8.19.0

#126203 [8.x] Fix NPE for missing Content Type header in OIDC Authenticator (#126191)
  docs/changelog/126191.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
Labels: >bug, :Security/Authentication, backport, Team:Security, auto-merge-without-approval, v8.19.0

#126202 [8.18] Fix NPE for missing Content Type header in OIDC Authenticator (#126191)
  docs/changelog/126191.yaml
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
Labels: >bug, :Security/Authentication, backport, Team:Security, auto-merge-without-approval, v8.18.1

#126207 [9.0] ESQL: make `AttributeMap` and `AttributeSet` immutable (#125938)
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Attribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/AttributeMap.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/AttributeSet.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Expressions.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/AttributeMapTests.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/AttributeSetTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/CombineProjections.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PropagateEvalFoldables.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PropgateUnmappedFields.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PruneColumns.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PushDownAndCombineFilters.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PushDownUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceAggregateAggExpressionWithEval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceAliasingEvalWithProject.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/TranslateMetricsAggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/local/InferIsNotNull.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/local/ReplaceMissingFieldWithNull.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/PushStatsToSource.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/QueryPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Aggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Eval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/UnaryPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/InlineJoin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/Join.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/AggregateExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/FieldExtractExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/HashJoinExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/UnaryExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AggregateMapper.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >refactoring, backport, auto-merge-without-approval, :Analytics/ES|QL, v9.0.1

#125959 [ML] Refactor SSE Parsing
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceCrudIT.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/rest/ServerSentEventsRestActionListenerTests.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/common/DelegatingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/streaming/ServerSentEvent.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/streaming/ServerSentEventField.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/streaming/ServerSentEventParser.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/anthropic/AnthropicStreamingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioStreamingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiStreamingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiUnifiedStreamingProcessor.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/streaming/ServerSentEventParserTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/streaming/ServerSentEventProcessorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/streaming/StreamingInferenceTestUtils.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/anthropic/AnthropicServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/OpenAiStreamingProcessorTests.java
Labels: >refactoring, :ml, Team:ML, auto-backport, v8.19.0, v9.1.0

#125784 [8.x] [ML] Check if the anomaly results index has been rolled over (#125404)
  docs/changelog/125404.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAlias.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/utils/MlIndexAndAliasTests.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlAnomaliesIndexUpdate.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlAutoUpdateService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MlAnomaliesIndexUpdateTests.java
Labels: >upgrade, :ml, backport, Team:ML, auto-merge-without-approval, v8.19.0

#126219 [8.16] [8.x][DOCS] Fixes typo on built-in role page. (#126211)
  docs/reference/security/authorization/built-in-roles.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.16.7

#126217 [8.18] [8.x][DOCS] Fixes typo on built-in role page. (#126211)
  docs/reference/security/authorization/built-in-roles.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.18.1

#126218 [8.17] [8.x][DOCS] Fixes typo on built-in role page. (#126211)
  docs/reference/security/authorization/built-in-roles.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.17.5

#126214 Migrate tests away from S3 SDK `MD5DigestCalculatingInputStream`
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobContainerRetriesTests.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, backport, auto-merge-without-approval, v8.19.0

#126220 [8.x] [ML] Refactor SSE Parsing (#125959)
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceCrudIT.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/rest/ServerSentEventsRestActionListenerTests.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/common/DelegatingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/anthropic/AnthropicStreamingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/googleaistudio/GoogleAiStudioStreamingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiStreamingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiUnifiedStreamingProcessor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/streaming/ServerSentEvent.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/streaming/ServerSentEventField.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/streaming/ServerSentEventParser.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/openai/OpenAiStreamingProcessorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/streaming/ServerSentEventParserTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/streaming/ServerSentEventProcessorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/streaming/StreamingInferenceTestUtils.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/anthropic/AnthropicServiceTests.java
Labels: >refactoring, :ml, backport, Team:ML, auto-merge-without-approval, v8.19.0

#120302 ESQL: Enhanced `DATE_TRUNC` with arbitrary intervals
  docs/changelog/120302.yaml
  docs/reference/query-languages/esql/_snippets/functions/description/date_trunc.md
  docs/reference/query-languages/esql/_snippets/functions/examples/bucket.md
  docs/reference/query-languages/esql/kibana/definition/functions/date_trunc.json
  docs/reference/query-languages/esql/kibana/docs/functions/date_trunc.md
  server/src/main/java/org/elasticsearch/common/Rounding.java
  server/src/main/java/org/elasticsearch/common/time/DateUtils.java
  server/src/test/java/org/elasticsearch/common/time/DateUtilsTests.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/bucket.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/grouping/Bucket.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DateTrunc.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DateTruncRoundingTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DateTruncTests.java
Labels: >enhancement, Team:Analytics, external-contributor, :Analytics/ES|QL, v9.1.0

#125896 Support explicit Z/M attributes using WKT geometry
  docs/changelog/125896.yaml
  libs/geo/src/main/java/org/elasticsearch/geometry/utils/WellKnownText.java
  libs/geo/src/test/java/org/elasticsearch/geometry/BaseGeometryTestCase.java
  libs/geo/src/test/java/org/elasticsearch/geometry/GeometryCollectionTests.java
  libs/geo/src/test/java/org/elasticsearch/geometry/LineTests.java
  libs/geo/src/test/java/org/elasticsearch/geometry/MultiLineTests.java
  libs/geo/src/test/java/org/elasticsearch/geometry/MultiPointTests.java
  libs/geo/src/test/java/org/elasticsearch/geometry/MultiPolygonTests.java
  libs/geo/src/test/java/org/elasticsearch/geometry/PointTests.java
  libs/geo/src/test/java/org/elasticsearch/geometry/PolygonTests.java
Labels: >enhancement, :Analytics/Geo, Team:Analytics, external-contributor, v9.1.0

#126215 [Failure Store] Add missing feature flag check in RBACEngineTests
  muted-tests.yml
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/LimitedRoleTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
Labels: >test, :Security/Security, Team:Security, auto-merge-without-approval, auto-backport, v8.19.0, v9.1.0

#126074 ES|QL: Make Fork n-ary
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/PreAnalyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Verifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/fulltext/QueryBuilderResolver.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Fork.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Merge.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/mapper/Mapper.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/tree/EsqlNodeSubclassTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.1.0

#126098 Presize sets
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/AttributeMap.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/AttributeSet.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Expressions.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/PlanConsistencyChecker.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/QueryPlan.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.1.0

#126226 [8.x] ESQL: make `AttributeMap` and `AttributeSet` immutable (#125938)
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Attribute.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/AttributeMap.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/AttributeSet.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/Expressions.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/AttributeMapTests.java
  x-pack/plugin/esql-core/src/test/java/org/elasticsearch/xpack/esql/core/expression/AttributeSetTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/CombineProjections.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PropagateEvalFoldables.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PruneColumns.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PushDownAndCombineFilters.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PushDownUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceAggregateAggExpressionWithEval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceAliasingEvalWithProject.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/TranslateMetricsAggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/local/InferIsNotNull.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/local/ReplaceMissingFieldWithNull.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/PushStatsToSource.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/QueryPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Aggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Eval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/UnaryPlan.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/Join.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/AggregateExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/FieldExtractExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/HashJoinExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/UnaryExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AggregateMapper.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >refactoring, backport, auto-merge-without-approval, :Analytics/ES|QL, v8.19.0

#126228 Flip batched execution flag to false for test
  server/src/main/java/org/elasticsearch/search/SearchService.java
Labels: >non-issue, Team:Search Foundations, :Search Foundations/Search, v9.1.0

#126229 Data stream lifecycle does not record error in failure store rollover
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/lifecycle/ExplainDataStreamLifecycleIT.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleService.java
  test/framework/src/main/java/org/elasticsearch/cluster/metadata/DataStreamTestHelper.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, auto-backport, v8.19.0, v9.1.0

#126032 [8.x] Infer the score mode to use from the Lucene collector (#125930)
  docs/changelog/125930.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneCountOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneMaxFactory.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneMinFactory.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/TimeSeriesSortedSourceOperatorFactory.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperatorScoringTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperatorTests.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionTaskIT.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlannerTests.java
Labels: backport, auto-merge-without-approval, :Analytics/ES|QL, v8.19.0

#126185 [Entitlements] Fix PolicyUtils and PolicyUtilsTests on Windows
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtilsTests.java
Labels: >test, Team:Core/Infra, test-windows, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#125732 Log stack traces on data nodes before they are cleared for transport
  docs/changelog/125732.yaml
  qa/smoke-test-http/src/internalClusterTest/java/org/elasticsearch/http/SearchErrorTraceIT.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/test/java/org/elasticsearch/search/SearchServiceTests.java
  test/framework/src/main/java/org/elasticsearch/search/ErrorTraceHelper.java
  test/framework/src/main/java/org/elasticsearch/test/MockLog.java
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/AsyncSearchErrorTraceIT.java
Labels: >bug, auto-backport, Team:Search Foundations, :Search Foundations/Search, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#126233 [8.x] Remove spurious `NOMERGE` comment (#126231)
  plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/Ec2ClientSettings.java
Labels: >non-issue, :Distributed Coordination/Discovery-Plugins, backport, auto-merge-without-approval, Team:Distributed Coordination, v8.19.0

#126178 Add logical/physical plans time-series aggregate
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/TimeSeriesAggregationOperator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/CombineProjections.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ExtractAggregateCommonFilter.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PruneColumns.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/SubstituteSurrogates.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/TranslateTimeSeriesAggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/PlanWritables.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Aggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Dedup.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/TimeSeriesAggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/AggregateExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/TimeSeriesAggregateExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AbstractPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/mapper/MapperUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PushDownAndCombineFiltersTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/AggregateSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/InlineStatsSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/physical/AggregateExecSerializationTests.java
Labels: >non-issue, Team:Analytics, :StorageEngine/TSDB, :Analytics/ES|QL, Team:StorageEngine, v9.1.0

#124088 Remove fixed test from muted-tests.yml
  muted-tests.yml
Labels: >test, :Delivery/Build, Team:Delivery, auto-backport, v9.0.1, v9.1.0

#126234 [8.18] [Entitlements] Fix PolicyUtils and PolicyUtilsTests on Windows (#126185)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtilsTests.java
Labels: >test, backport, Team:Core/Infra, test-windows, auto-merge-without-approval, v8.18.1, :Core/Infra/Entitlements

#126236 [9.0] [Entitlements] Fix PolicyUtils and PolicyUtilsTests on Windows (#126185)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtilsTests.java
Labels: >test, backport, Team:Core/Infra, test-windows, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#126235 [8.x] [Entitlements] Fix PolicyUtils and PolicyUtilsTests on Windows (#126185)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyUtilsTests.java
Labels: >test, backport, Team:Core/Infra, test-windows, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#126241 [9.0] Remove fixed test from muted-tests.yml (#124088)
  muted-tests.yml
Labels: >test, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v9.0.1

#126242 Backport docs-content#962
  docs/reference/data-streams/logs.asciidoc
Labels: >bug, >docs, Team:Docs, external-contributor, auto-backport, Supportability, v8.15.0, v8.16.0, v8.17.0, v8.18.0, v8.19.0

#126056 Add multi-project support for health indicator data_stream_lifecycle
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/DataStreamsPlugin.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleErrorStore.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/health/DataStreamLifecycleHealthIndicatorService.java
  modules/data-streams/src/main/java/org/elasticsearch/datastreams/lifecycle/health/DataStreamLifecycleHealthInfoPublisher.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/DataStreamLifecycleErrorStoreTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/health/DataStreamLifecycleHealthIndicatorServiceTests.java
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/lifecycle/health/DataStreamLifecycleHealthInfoPublisherTests.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/health/node/DslErrorInfo.java
  x-pack/qa/multi-project/xpack-rest-tests-with-multiple-projects/src/yamlRestTest/resources/rest-api-spec/test/health/10_multi_project.yml
Labels: >non-issue, Team:Data Management, :Data Management/Health, v9.1.0

#126248 [8.17] Backport docs-content#962 (#126242)
  docs/reference/data-streams/logs.asciidoc
Labels: >bug, >docs, backport, Team:Docs, external-contributor, auto-merge-without-approval, Supportability, v8.17.5

#126249 [8.18] Backport docs-content#962 (#126242)
  docs/reference/data-streams/logs.asciidoc
Labels: >bug, >docs, backport, Team:Docs, external-contributor, auto-merge-without-approval, Supportability, v8.18.1

#126212 [Inference API] Only add product use case header if not present
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/BaseTransportInferenceAction.java
Labels: >non-issue, :ml, Team:ML, auto-backport, v9.0.0, v9.1.0

#126247 Cleanup community_id processor
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/CommunityIdProcessor.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/CommunityIdProcessorFactoryTests.java
  modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/CommunityIdProcessorTests.java
Labels: :Data Management/Ingest Node, >refactoring, Team:Data Management, auto-backport, v8.19.0, v9.1.0

#126257 Update allow_partial_results docs
  rest-api-spec/src/main/resources/rest-api-spec/api/esql.async_query.json
  rest-api-spec/src/main/resources/rest-api-spec/api/esql.query.json
Labels: >docs, Team:Docs, Team:Analytics, auto-backport, :Analytics/ES|QL, v8.19.0, v9.1.0

#126259 [8.x] Update allow_partial_results docs (#126257)
  rest-api-spec/src/main/resources/rest-api-spec/api/esql.async_query.json
  rest-api-spec/src/main/resources/rest-api-spec/api/esql.query.json
Labels: >docs, backport, Team:Docs, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.19.0

#125452 Add GCS telemtry with ThreadLocal
  docs/changelog/125452.yaml
  modules/repository-gcs/src/internalClusterTest/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreRepositoryTests.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GcsRepositoryStatsCollector.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStore.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageHttpStatsCollector.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageOperationsStats.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStoragePlugin.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageRepository.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageRetryingInputStream.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageService.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/MeteredStorage.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/OperationStats.java
  modules/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/StorageOperation.java
  modules/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  modules/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerStatsTests.java
  modules/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobStoreContainerTests.java
  modules/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageRetryingInputStreamTests.java
  modules/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageServiceTests.java
  server/src/main/java/org/elasticsearch/repositories/RepositoriesMetrics.java
Labels: >enhancement, :Distributed Coordination/Snapshot/Restore, Team:Distributed Coordination, v9.1.0

#126010 Add time bucket to time-series rate aggregation
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/TimeSeriesAggregationOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/TimeSeriesAggregationOperatorFactories.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/TimeSeriesAggregationOperatorTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/grouping/Bucket.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/TranslateTimeSeriesAggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/TimeSeriesAggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/TimeSeriesAggregateExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AbstractPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/mapper/MapperUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/AggregateSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/physical/AggregateExecSerializationTests.java
Labels: >non-issue, Team:Analytics, :StorageEngine/TSDB, :Analytics/ES|QL, Team:StorageEngine, v9.1.0

#126222 Declare required capability for date tests
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
Labels: >test, Team:Analytics, :Analytics/ES|QL, v9.1.0

#126190 Remove outdated ESQL test mutes
  muted-tests.yml
Labels: >test, Team:Analytics, :Analytics/ES|QL, v9.1.0

#126117 Verify can match is applied to WHERE operator
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/CanMatchIT.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v9.1.0

#126208 Unmute fixed date_nanos.Bucket Date nanos by 10 minutes
  muted-tests.yml
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.19.0

#126193 Re-enable test and add logging
  muted-tests.yml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/ManyShardsIT.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v9.1.0

#125395 [Entitlements] Expand and update README
  libs/entitlement/README.md
Labels: >non-issue, Team:Core/Infra, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#126225 [8.x] Declare formatter dependency
  muted-tests.yml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/range.csv-spec
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.19.0

#126221 [8.x] Declare required capability for date tests
  muted-tests.yml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
Labels: >test, Team:Analytics, :Analytics/ES|QL, v8.19.0
