Repository elastic/elasticsearch, pull requests merged in 2025-03, with the labels that each got.

#123772 [8.x] Avoiding a race condition where pending indices count is 0 at start of data stream reindex (#123765)
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/action/GetMigrationReindexStatusTransportAction.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamPersistentTaskExecutor.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamTask.java
Labels: >non-issue, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.19.0

#123771 [8.18] Avoiding a race condition where pending indices count is 0 at start of data stream reindex (#123765)
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/action/GetMigrationReindexStatusTransportAction.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamPersistentTaskExecutor.java
  x-pack/plugin/migrate/src/main/java/org/elasticsearch/xpack/migrate/task/ReindexDataStreamTask.java
Labels: >non-issue, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.18.1

#123777 [8.18] [Entitlements] Add a check for filesystem mismatch (#123744)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTree.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.1, :Core/Infra/Entitlements

#123296 Avoid over collecting in Limit or Lucene Operator
  docs/changelog/123296.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/LimitOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/Limiter.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AsyncOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LimitOperatorTests.java
Labels: >bug, Team:Analytics, auto-backport, :Analytics/ES|QL, v8.17.2, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#123674 Opster paginate changes rebase
  docs/reference/search/search-your-data/paginate-search-results.asciidoc
Labels: >docs, Team:Docs, external-contributor, auto-backport, v8.18.0, v8.19.0, v8.17.4

#123728 Allow skip shards with _tier and _index in ES|QL
  docs/changelog/123728.yaml
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContext.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/CanMatchIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/DataNodeComputeHandler.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/FilterTests.java
Labels: >enhancement, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.0, v8.18.0, v8.19.0, v9.1.0

#123785 [9.0] Avoid over collecting in Limit or Lucene Operator (#123296)
  docs/changelog/123296.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/LimitOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/Limiter.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AsyncOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LimitOperatorTests.java
Labels: >bug, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.0.1

#123786 [8.18] Opster paginate changes rebase (#123674)
  docs/reference/search/search-your-data/paginate-search-results.asciidoc
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge-without-approval, v8.18.1

#123788 [8.x] Allow skip shards with _tier and _index in ES|QL (#123728)
  docs/changelog/123728.yaml
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContext.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/CanMatchIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/DataNodeComputeHandler.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/FilterTests.java
Labels: >enhancement, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.19.0

#123784 [8.x] Avoid over collecting in Limit or Lucene Operator (#123296)
  docs/changelog/123296.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/LimitOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/Limiter.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AsyncOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LimitOperatorTests.java
Labels: >bug, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.19.0

#123783 [8.18] Avoid over collecting in Limit or Lucene Operator (#123296)
  docs/changelog/123296.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/LimitOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/Limiter.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AsyncOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LimitOperatorTests.java
Labels: >bug, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.18.1

#123762 Negotiate disordered transport handshakes
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/transport/TransportHandshaker.java
  server/src/test/java/org/elasticsearch/transport/TransportHandshakerRawMessageTests.java
  server/src/test/java/org/elasticsearch/transport/TransportHandshakerTests.java
Labels: >non-issue, :Core/Infra/Transport API, backport, auto-merge-without-approval, v9.0.1

#123764 Negotiate disordered transport handshakes
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/transport/TransportHandshaker.java
  server/src/test/java/org/elasticsearch/transport/TransportHandshakerRawMessageTests.java
  server/src/test/java/org/elasticsearch/transport/TransportHandshakerTests.java
Labels: >non-issue, :Core/Infra/Transport API, backport, auto-merge-without-approval, v8.19.0

#123766 Negotiate disordered transport handshakes
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/transport/TransportHandshaker.java
  server/src/test/java/org/elasticsearch/transport/TransportHandshakerRawMessageTests.java
  server/src/test/java/org/elasticsearch/transport/TransportHandshakerTests.java
Labels: >non-issue, :Core/Infra/Transport API, backport, auto-merge-without-approval, v8.18.1

#123778 [8.x] [Entitlements] Add a check for filesystem mismatch (#123744)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTree.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#123779 [9.0] [Entitlements] Add a check for filesystem mismatch (#123744)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTree.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#123742 Set root logger level for CLIs
  libs/cli/build.gradle
  libs/cli/src/main/java/module-info.java
  libs/cli/src/main/java/org/elasticsearch/cli/Command.java
  libs/logging/src/main/java/module-info.java
  libs/logging/src/main/java/org/elasticsearch/logging/internal/spi/LoggerFactory.java
  server/src/main/java/org/elasticsearch/common/logging/internal/LevelUtil.java
  server/src/main/java/org/elasticsearch/common/logging/internal/LoggerFactoryImpl.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/security/src/main/java/module-info.java
Labels: :Core/Infra/Logging, >refactoring, Team:Core/Infra, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#123820 [9.0] Set root logger level for CLIs (#123742)
  libs/cli/build.gradle
  libs/cli/src/main/java/module-info.java
  libs/cli/src/main/java/org/elasticsearch/cli/Command.java
  libs/logging/src/main/java/module-info.java
  libs/logging/src/main/java/org/elasticsearch/logging/internal/spi/LoggerFactory.java
  server/src/main/java/org/elasticsearch/common/logging/internal/LevelUtil.java
  server/src/main/java/org/elasticsearch/common/logging/internal/LoggerFactoryImpl.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/security/src/main/java/module-info.java
Labels: :Core/Infra/Logging, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1

#123818 [8.18] Set root logger level for CLIs (#123742)
  libs/cli/build.gradle
  libs/cli/src/main/java/module-info.java
  libs/cli/src/main/java/org/elasticsearch/cli/Command.java
  libs/logging/src/main/java/module-info.java
  libs/logging/src/main/java/org/elasticsearch/logging/internal/spi/LoggerFactory.java
  server/src/main/java/org/elasticsearch/common/logging/internal/LevelUtil.java
  server/src/main/java/org/elasticsearch/common/logging/internal/LoggerFactoryImpl.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  x-pack/plugin/security/src/main/java/module-info.java
Labels: :Core/Infra/Logging, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.1

#123718 Remove ignoreUrl file setting property
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlementTests.java
Labels: >refactoring, Team:Core/Infra, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#123823 [9.0] Remove ignoreUrl file setting property (#123718)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlementTests.java
Labels: >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#123821 [8.18] Remove ignoreUrl file setting property (#123718)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlementTests.java
Labels: >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.1, :Core/Infra/Entitlements

#123696 [Entitlements] Missing policies for netty, discovery-azure and repository-s3
  modules/repository-s3/src/main/plugin-metadata/entitlement-policy.yaml
  modules/transport-netty4/src/main/plugin-metadata/entitlement-policy.yaml
  plugins/discovery-azure-classic/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, Team:Core/Infra, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#123827 [9.0] Missing policies for netty, discovery-azure and repository-s3 (#123696)
  modules/repository-s3/src/main/plugin-metadata/entitlement-policy.yaml
  modules/transport-netty4/src/main/plugin-metadata/entitlement-policy.yaml
  plugins/discovery-azure-classic/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#123825 [8.18] Missing policies for netty, discovery-azure and repository-s3 (#123696)
  modules/repository-s3/src/main/plugin-metadata/entitlement-policy.yaml
  modules/transport-netty4/src/main/plugin-metadata/entitlement-policy.yaml
  plugins/discovery-azure-classic/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.1, :Core/Infra/Entitlements

#123835 Fix potential block leak in LuceneSourceOperator
  muted-tests.yml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
Labels: >non-issue, Team:Analytics, auto-merge-without-approval, auto-backport, :Analytics/ES|QL, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#123840 [9.0] Allow skip shards with _tier and _index in ES|QL (#123728)
  docs/changelog/123728.yaml
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContext.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/CanMatchIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/PlannerUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/DataNodeComputeHandler.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/FilterTests.java
Labels: backport, :Analytics/ES|QL, v9.0.1

#123838 [8.18] Fix potential block leak in LuceneSourceOperator (#123835)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
Labels: backport, :Analytics/ES|QL, v8.18.1

#123837 [9.0] Fix potential block leak in LuceneSourceOperator (#123835)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
Labels: backport, :Analytics/ES|QL, v9.0.1

#123839 [8.17] Fix early termination in LuceneSourceOperator (#123197)
  docs/changelog/123197.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
Labels: backport, :Analytics/ES|QL, v8.17.4

#123836 [8.x] Fix potential block leak in LuceneSourceOperator (#123835)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSourceOperator.java
Labels: backport, :Analytics/ES|QL, v8.19.0

#123503 [Entitlements] Add URLConnection instrumentation
  libs/entitlement/bridge/src/main/java/org/elasticsearch/entitlement/bridge/EntitlementChecker.java
  libs/entitlement/qa/entitled-plugin/src/main/java/org/elasticsearch/entitlement/qa/entitled/EntitledActions.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/NetworkAccessCheckActions.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/RestEntitlementsCheckAction.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/URLConnectionNetworkActions.java
  libs/entitlement/qa/src/javaRestTest/java/org/elasticsearch/entitlement/qa/EntitlementsTestRule.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/ElasticsearchEntitlementChecker.java
  modules/repository-azure/src/main/plugin-metadata/entitlement-policy.yaml
  modules/repository-gcs/src/main/plugin-metadata/entitlement-policy.yaml
  plugins/discovery-gce/src/main/plugin-metadata/entitlement-policy.yaml
  x-pack/plugin/ml-package-loader/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, Team:Core/Infra, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#123847 [9.0] [Entitlements] Add URLConnection instrumentation (#123503)
  libs/entitlement/bridge/src/main/java/org/elasticsearch/entitlement/bridge/EntitlementChecker.java
  libs/entitlement/qa/entitled-plugin/src/main/java/org/elasticsearch/entitlement/qa/entitled/EntitledActions.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/NetworkAccessCheckActions.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/RestEntitlementsCheckAction.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/URLConnectionNetworkActions.java
  libs/entitlement/qa/src/javaRestTest/java/org/elasticsearch/entitlement/qa/EntitlementsTestRule.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/ElasticsearchEntitlementChecker.java
  modules/repository-azure/src/main/plugin-metadata/entitlement-policy.yaml
  modules/repository-gcs/src/main/plugin-metadata/entitlement-policy.yaml
  plugins/discovery-gce/src/main/plugin-metadata/entitlement-policy.yaml
  x-pack/plugin/ml-package-loader/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#123845 Make GeoIpDownload work for default project explicitly
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpDownloaderTaskExecutor.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, auto-merge-without-approval, v9.1.0

#123615 Address TopFieldCollectorManager and TopScoreDocCollectorManager related deprecation warnings
  modules/parent-join/src/main/java/org/elasticsearch/join/query/ParentChildInnerHitContextBuilder.java
  server/src/main/java/org/elasticsearch/index/engine/SearchBasedChangesSnapshot.java
  server/src/main/java/org/elasticsearch/index/query/NestedQueryBuilder.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/sampler/BestDocsDeferringCollector.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/TopHitsAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperator.java
Labels: >refactoring, Team:Search Foundations, :Search Foundations/Search, v9.1.0

#123841 [Test] Allow leader/follower checks in pending tasks
  server/src/main/java/org/elasticsearch/cluster/coordination/LeaderChecker.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >test, :Distributed Coordination/Task Management, auto-merge-without-approval, Team:Distributed Coordination, v9.1.0

#123692 Include doc value skippers in disk usage analyzer
  server/src/main/java/org/elasticsearch/action/admin/indices/diskusage/IndexDiskUsageAnalyzer.java
  server/src/test/java/org/elasticsearch/action/admin/indices/diskusage/IndexDiskUsageAnalyzerTests.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/Codec, v9.1.0

#123842 Detect multi-project in REST tests
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v9.1.0

#123858 [9.0] Remove @UpdateForV9 usages that are related to security manager removal (#123690)
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/SystemJvmOptions.java
  libs/core/src/main/java/org/elasticsearch/jdk/RuntimeVersionFeature.java
Labels: :Core/Infra/Core, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1

#123848 Rename driver description
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/Driver.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverProfile.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverStatus.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/DriverProfileTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/DriverStatusTests.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterAsyncEnrichStopIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionTaskIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeContext.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryResponseTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.1.0

#122933 Run XPack usage actions on local node
  docs/changelog/122933.yaml
  server/src/main/java/org/elasticsearch/action/support/local/TransportLocalClusterStateAction.java
  x-pack/plugin/analytics/src/main/java/org/elasticsearch/xpack/analytics/action/AnalyticsUsageTransportAction.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/action/AnalyticsInfoTransportActionTests.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/CCRUsageTransportAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/CCRInfoTransportActionTests.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/rest/action/XPackUsageRestCancellationIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/protocol/xpack/XPackUsageRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/HealthApiUsageTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/RemoteClusterUsageTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/DataStreamLifecycleUsageTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/DataStreamUsageTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/TransportXPackUsageAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageFeatureTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/datatiers/DataTiersUsageTransportAction.java
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/action/EnrichUsageTransportAction.java
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/EnterpriseSearchUsageTransportAction.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/EqlUsageTransportAction.java
  x-pack/plugin/eql/src/test/java/org/elasticsearch/xpack/eql/EqlInfoTransportActionTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/EsqlUsageTransportAction.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/EsqlInfoTransportActionTests.java
  x-pack/plugin/frozen-indices/src/main/java/org/elasticsearch/xpack/frozen/FrozenIndicesUsageTransportAction.java
  x-pack/plugin/graph/src/main/java/org/elasticsearch/xpack/graph/GraphUsageTransportAction.java
  x-pack/plugin/graph/src/test/java/org/elasticsearch/xpack/graph/GraphInfoTransportActionTests.java
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleUsageTransportAction.java
  x-pack/plugin/ilm/src/test/java/org/elasticsearch/xpack/ilm/IndexLifecycleInfoTransportActionTests.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/TransportInferenceUsageAction.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/action/TransportInferenceUsageActionTests.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsDBUsageTransportAction.java
  x-pack/plugin/logstash/src/main/java/org/elasticsearch/xpack/logstash/LogstashUsageTransportAction.java
  x-pack/plugin/logstash/src/test/java/org/elasticsearch/xpack/logstash/LogstashInfoTransportActionTests.java
  x-pack/plugin/mapper-aggregate-metric/src/main/java/org/elasticsearch/xpack/aggregatemetric/AggregateMetricUsageTransportAction.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearningUsageTransportAction.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/MachineLearningInfoTransportActionTests.java
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringUsageTransportAction.java
  x-pack/plugin/monitoring/src/test/java/org/elasticsearch/xpack/monitoring/MonitoringInfoTransportActionTests.java
  x-pack/plugin/old-lucene-versions/src/main/java/org/elasticsearch/xpack/lucene/bwc/ArchiveUsageTransportAction.java
  x-pack/plugin/profiling/src/main/java/org/elasticsearch/xpack/profiling/action/ProfilingUsageTransportAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/action/RollupUsageTransportAction.java
  x-pack/plugin/rollup/src/test/java/org/elasticsearch/xpack/rollup/action/RollupInfoTransportActionTests.java
  x-pack/plugin/searchable-snapshots/src/main/java/org/elasticsearch/xpack/searchablesnapshots/action/SearchableSnapshotsUsageTransportAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/SecurityUsageTransportAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/SecurityInfoTransportActionTests.java
  x-pack/plugin/slm/src/main/java/org/elasticsearch/xpack/slm/SLMUsageTransportAction.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/action/SpatialUsageTransportAction.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/action/SpatialInfoTransportActionTests.java
  x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/SqlUsageTransportAction.java
  x-pack/plugin/sql/src/test/java/org/elasticsearch/xpack/sql/SqlInfoTransportActionTests.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/TransformUsageTransportAction.java
  x-pack/plugin/voting-only-node/src/main/java/org/elasticsearch/cluster/coordination/votingonly/VotingOnlyUsageTransportAction.java
  x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/WatcherUsageTransportAction.java
  x-pack/plugin/watcher/src/test/java/org/elasticsearch/xpack/watcher/WatcherInfoTransportActionTests.java
Labels: >enhancement, :Data Management/Stats, Team:Data Management, serverless-linked, v9.1.0

#123865 [8.x] [DOCS] Update connectors-servicenow.asciidoc DLS limitation
  docs/reference/connector/docs/connectors-servicenow.asciidoc
Labels: >docs, Team:Docs, auto-backport, v8.16.0, v8.18.0, v8.19.0, v8.17.4

#123869 [8.18] [8.x] [DOCS] Update servicenow search connector DLS limitation (#123865)
  docs/reference/connector/docs/connectors-servicenow.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.18.1

#123870 [8.x] [8.x] [DOCS] Update servicenow search connector DLS limitation (#123865)
  docs/reference/connector/docs/connectors-servicenow.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.19.0

#123868 [8.16] [8.x] [DOCS] Update servicenow search connector DLS limitation (#123865)
  docs/reference/connector/docs/connectors-servicenow.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.16.6

#123856 Fix PolicyManagerTests testFilesEntitlementsWithExclusive failing
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyManagerTests.java
  muted-tests.yml
Labels: >test, Team:Core/Infra, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#123867 [8.18] Special handling for invalid global labels for APM agent (#120795)
  modules/apm/src/main/java/org/elasticsearch/telemetry/apm/internal/APMAgentSettings.java
Labels: backport, auto-merge-without-approval, v8.18.1

#123881 Still allow building with gradle 8.12.1
  build-tools-internal/src/main/resources/minimumGradleVersion
Labels: >non-issue, :Delivery/Build, Team:Delivery, v9.1.0

#123857 Introduce the constant ByteStats.IDENTITY
  server/src/main/java/org/elasticsearch/ingest/IngestPipelineMetric.java
  server/src/main/java/org/elasticsearch/ingest/IngestStats.java
  server/src/test/java/org/elasticsearch/ingest/IngestStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsStatsActionResponseTests.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#123860 Remove obsolete fields from PutStoredScriptRequest
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/PutStoredScriptRequest.java
  server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestPutStoredScriptAction.java
  server/src/main/java/org/elasticsearch/script/ScriptService.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/storedscripts/PutStoredScriptRequestTests.java
  test/framework/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/StoredScriptIntegTestUtils.java
Labels: :Core/Infra/Scripting, >refactoring, Team:Core/Infra, v9.1.0

#123774 [docs] Add missing migrated page
  docs/reference/elasticsearch/mapping-reference/rank-vectors.md
  docs/reference/toc.yml
  docs/release-notes/index.md
Labels: >docs, Team:Docs, external-contributor, v9.1.0

#123781 Add release notes for v8.16.5 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.16.5.asciidoc
Labels: >docs, v8.16.5

#123782 Add release notes for v8.17.3 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.17.3.asciidoc
Labels: >docs, Team:Docs, v8.17.4

#123863 [9.0] Rename driver description
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/Driver.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverProfile.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverStatus.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/OperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/AggregatorFunctionTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/blockhash/CategorizeBlockHashTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/blockhash/CategorizePackedValuesBlockHashTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneCountOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneMaxOperatorTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneMinOperatorTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneQueryExpressionEvaluatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperatorScoringTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/TimeSeriesSortedSourceOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/ValueSourceReaderTypeConversionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/ValuesSourceReaderOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AsyncOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/DriverProfileTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/DriverStatusTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/DriverTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/ForkingOperatorTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/LimitOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/TimeSeriesAggregationOperatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/exchange/ExchangeServiceTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/topn/TopNOperatorTests.java
  x-pack/plugin/esql/compute/test/src/main/java/org/elasticsearch/compute/test/OperatorTestCase.java
  x-pack/plugin/esql/compute/test/src/main/java/org/elasticsearch/compute/test/TestDriverFactory.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterAsyncEnrichStopIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionTaskIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/LookupFromIndexIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeContext.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/action/EsqlQueryResponseTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.0.0, v9.0.1

#123885 [9.0] Introduce the constant ByteStats.IDENTITY (#123857)
  server/src/main/java/org/elasticsearch/ingest/IngestPipelineMetric.java
  server/src/main/java/org/elasticsearch/ingest/IngestStats.java
  server/src/test/java/org/elasticsearch/ingest/IngestStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsStatsActionResponseTests.java
Labels: >non-issue, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v9.0.1

#123886 [9.0] Fix PolicyManagerTests testFilesEntitlementsWithExclusive failing (#123856)
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyManagerTests.java
Labels: >test, backport, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#123106 [Stack Monitoring] Update stack monitoring templates for Stack 9 release
  server/src/test/java/org/elasticsearch/common/logging/HeaderWarningTests.java
  x-pack/plugin/core/template-resources/src/main/resources/monitoring-ent-search-mb.json
  x-pack/plugin/core/template-resources/src/main/resources/monitoring-mb-ilm-policy.json
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringTemplateRegistry.java
Labels: >bug, :Data Management/Monitoring, Team:Data Management, external-contributor, auto-backport, v9.0.0, Team:Stack Monitoring, v9.1.0

#123438 Handle exceptions when register compute group
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ClusterComputeHandler.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/DataNodeComputeHandler.java
Labels: >test, Team:Analytics, auto-backport, :Analytics/ES|QL, v8.19.0, v9.1.0

#123630 Limit number of suppressed S3 deletion errors
  docs/changelog/123630.yaml
  modules/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobContainerRetriesTests.java
  modules/repository-url/src/test/java/org/elasticsearch/common/blobstore/url/URLBlobContainerRetriesTests.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/AbstractBlobContainerRetriesTestCase.java
Labels: >bug, :Distributed Coordination/Snapshot/Restore, auto-merge-without-approval, auto-backport, Team:Distributed Coordination, v8.19.0, v9.1.0, v7.17.29

#123883 [8.18] Introduce the constant ByteStats.IDENTITY (#123857)
  server/src/main/java/org/elasticsearch/ingest/IngestPipelineMetric.java
  server/src/main/java/org/elasticsearch/ingest/IngestStats.java
  server/src/test/java/org/elasticsearch/ingest/IngestStatsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsStatsActionResponseTests.java
Labels: >non-issue, backport, :Data Management/Data streams, Team:Data Management, auto-merge-without-approval, v8.18.1

#123141 [Inference API] Auto-propagate product origin for every subclass of ElasticInferenceServiceRequest
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/ElasticInferenceServiceSparseEmbeddingsRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/ElasticInferenceServiceUnifiedCompletionRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceAuthorizationRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceSparseEmbeddingsRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceUnifiedChatCompletionRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandler.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/HttpRequestSenderTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceAuthorizationRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceSparseEmbeddingsRequestTests.java
Labels: >non-issue, :ml, Team:ML, v9.1.0

#123720 ESQL - remove some dead code
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v8.19.0, v9.1.0

#123905 Backport fix for testStopQueryLocal from main
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterAsyncQueryIT.java
Labels: >test, backport, v9.0.1

#123191 Enable a sparse doc values index for `@timestamp` in time-series indices
  modules/data-streams/src/test/java/org/elasticsearch/datastreams/mapper/DataStreamTimestampFieldMapperTests.java
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/SearchIdleIT.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  server/src/main/java/org/elasticsearch/common/lucene/uid/PerThreadIDVersionAndSeqNoLookup.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/MappingLookup.java
Labels: >non-issue, :StorageEngine/TSDB, Team:StorageEngine, v9.1.0

#123908 [9.0] Query rules: Check if MGET request failed when we retrieve query rules (#123616)
  x-pack/plugin/ent-search/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/entsearch/rules/81_query_rules_retriever_no_rulesets.yml
  x-pack/plugin/ent-search/src/main/java/org/elasticsearch/xpack/application/rules/RuleQueryBuilder.java
Labels: >non-issue, backport, auto-merge-without-approval, :SearchOrg/Relevance, Team:Search Relevance, v9.0.1

#123639 [ML] Improve EIS authorization to perform requests on a periodic basis instead of only once
  server/src/main/java/org/elasticsearch/inference/InferenceServiceRegistry.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/BaseMockEISAuthServerTest.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/InferenceRevokeDefaultEndpointsIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/DefaultModelConfig.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceComponents.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationRequestHandler.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/Utils.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationRequestHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/completion/ElasticInferenceServiceCompletionModelTests.java
Labels: >non-issue, :ml, Team:ML, auto-backport, Feature:GenAI, v9.0.0, v8.18.0, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#122645 Speed up stored field spec management
  server/src/main/java/org/elasticsearch/search/fetch/StoredFieldsSpec.java
  server/src/test/java/org/elasticsearch/search/fetch/StoredFieldsSpecTests.java
Labels: >non-issue, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v9.1.0

#123901 Update Flatten Graph Docs to Include a Real Flattened Graph 9.x
  docs/images/token-graph-dns-synonym-ex2.svg
  docs/images/token-graph-dns-synonym-flattened-ex2.svg
  docs/reference/data-analysis/text-analysis/analysis-flatten-graph-tokenfilter.md
Labels: >docs, Team:Docs, auto-backport, Team:Search Relevance, :Search Relevance/Search, v9.0.1, v9.1.0

#123900 Update Flatten Graph Docs to Include a Real Flattened Graph 8.x
  docs/reference/analysis/tokenfilters/flatten-graph-tokenfilter.asciidoc
  docs/reference/images/analysis/token-graph-dns-synonym-ex2.svg
  docs/reference/images/analysis/token-graph-dns-synonym-flattened-ex2.svg
Labels: >docs, Team:Docs, auto-backport, Team:Search Relevance, :Search Relevance/Search, v8.18.1, v8.19.0, v8.17.4

#123914 [9.0] Grant read access to the config dir (#123882)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTree.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTreeTests.java
Labels: >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#123912 [8.18] Grant read access to the config dir (#123882)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTree.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTreeTests.java
Labels: >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.1, :Core/Infra/Entitlements

#123776 Remove duplicate paths in FileAccessTree
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTree.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTreeTests.java
Labels: >non-issue, Team:Core/Infra, auto-backport, test-entitlements, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#123922 [8.17] Update Flatten Graph Docs to Include a Real Flattened Graph 8.x (#123900)
  docs/reference/analysis/tokenfilters/flatten-graph-tokenfilter.asciidoc
  docs/reference/images/analysis/token-graph-dns-synonym-ex2.svg
  docs/reference/images/analysis/token-graph-dns-synonym-flattened-ex2.svg
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, Team:Search Relevance, :Search Relevance/Search, v8.17.4

#123915 [9.0] Speed up stored field spec management (#122645)
  server/src/main/java/org/elasticsearch/search/fetch/StoredFieldsSpec.java
  server/src/test/java/org/elasticsearch/search/fetch/StoredFieldsSpecTests.java
Labels: >non-issue, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v9.0.1

#123849 [8.18] [Entitlements] Fix FileAccessTree paths ordering (#123689)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTree.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/Platform.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTreeTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/FileUtilsTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FileDataTests.java
Labels: >non-issue, backport, Team:Core/Infra, test-windows, auto-merge-without-approval, v8.18.1, :Core/Infra/Entitlements

#123854 Explicit import layout for packages begin with io
  .editorconfig
Labels: >non-issue, Team:Delivery, :Delivery/Tooling, v9.1.0

#123877 Comment on disabling compression when using HTTPS
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityHttpSettings.java
Labels: >non-issue, :Distributed Coordination/Network, auto-merge-without-approval, Team:Distributed Coordination, v9.1.0

#123929 [9.0] [Stack Monitoring] Update stack monitoring templates for Stack 9 release (#123106)
  server/src/test/java/org/elasticsearch/common/logging/HeaderWarningTests.java
  x-pack/plugin/core/template-resources/src/main/resources/monitoring-ent-search-mb.json
  x-pack/plugin/core/template-resources/src/main/resources/monitoring-mb-ilm-policy.json
  x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringTemplateRegistry.java
Labels: backport, auto-merge-without-approval, v9.0.0

#123923 Relax profiles assertions
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
Labels: >test, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.0.1, v9.1.0

#123936 [9.0] Relax profiles assertions (#123923)
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
Labels: >test, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.0.1

#123897 [8.x] Handle exceptions when register compute group (#123438)
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ClusterComputeHandler.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/DataNodeComputeHandler.java
Labels: >test, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.19.0

#123937 Fix custom authz engine for multi-project
  plugins/examples/security-authorization-engine/src/main/java/org/elasticsearch/example/CustomAuthorizationEngine.java
  plugins/examples/security-authorization-engine/src/test/java/org/elasticsearch/example/CustomAuthorizationEngineTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, v9.1.0

#123932 Bump up httpcore version
  build-tools-internal/version.properties
  gradle/build.versions.toml
  gradle/verification-metadata.xml
Labels: :Delivery/Build, >upgrade, Team:Delivery, auto-backport, serverless-linked, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#123942 [8.18] Relax profiles assertions (#123919)
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
Labels: >test, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.18.1

#123943 Unmute CrossClusterQueryWithPartialResultsIT tests
  muted-tests.yml
Labels: >test, Team:Analytics, auto-merge-without-approval, auto-backport, :Analytics/ES|QL, v8.19.0, v9.1.0

#123940 Skip internal logging in compat check
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/JarApiComparisonTask.java
Labels: >test, :Core/Infra/Plugins, Team:Core/Infra, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#123947 [9.0] Bump up httpcore version (#123932)
  build-tools-internal/version.properties
  gradle/build.versions.toml
  gradle/verification-metadata.xml
Labels: :Delivery/Build, >upgrade, backport, Team:Delivery, auto-merge-without-approval, serverless-linked, v9.0.1

#123941 [Test] More robust unique allocationId randomization
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataPersistentTasksTests.java
Labels: >test, :Distributed Coordination/Task Management, Team:Distributed Coordination, v9.1.0

#123945 [8.18] Bump up httpcore version (#123932)
  build-tools-internal/version.properties
  gradle/build.versions.toml
  gradle/verification-metadata.xml
Labels: :Delivery/Build, >upgrade, backport, Team:Delivery, auto-merge-without-approval, serverless-linked, v8.18.1

#123952 [8.x] Unmute CrossClusterQueryWithPartialResultsIT tests (#123943)
  muted-tests.yml
Labels: backport, v8.19.0

#123949 [8.18] Skip internal logging in compat check (#123940)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/JarApiComparisonTask.java
Labels: >test, :Core/Infra/Plugins, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.1

#123950 [8.x] Skip internal logging in compat check (#123940)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/JarApiComparisonTask.java
Labels: >test, :Core/Infra/Plugins, backport, Team:Core/Infra, auto-merge-without-approval, v8.19.0

#123951 [9.0] Skip internal logging in compat check (#123940)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/JarApiComparisonTask.java
Labels: >test, :Core/Infra/Plugins, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1

#123954 Add temporary workaround for IntelliJ editorconfig bug
  .editorconfig
Labels: >bug, Team:Delivery, :Delivery/Tooling, v9.1.0

#123822 [8.x] Remove ignoreUrl file setting property (#123718)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlementTests.java
Labels: >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#122762 ESQL: Ensure non-zero row size in `EstimatesRowSize`
  docs/changelog/122762.yaml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/AggregateExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/TopNExec.java
Labels: >bug, Team:Analytics, external-contributor, auto-backport, :Analytics/ES|QL, v8.18.1, v9.0.1, v9.1.0

#123462 Add missing APM entitlements
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  modules/apm/src/main/plugin-metadata/entitlement-policy.yaml
  muted-tests.yml
Labels: >non-issue, Team:Core/Infra, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#123802 [Entitlements] Add URLConnection instrumentation for ftp, http and https protocols
  libs/entitlement/bridge/src/main/java/org/elasticsearch/entitlement/bridge/EntitlementChecker.java
  libs/entitlement/qa/entitled-plugin/src/main/java/org/elasticsearch/entitlement/qa/entitled/EntitledActions.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/URLConnectionNetworkActions.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/ElasticsearchEntitlementChecker.java
Labels: >non-issue, Team:Core/Infra, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#123928 Add `@UpdateForV9` for `ReferenceDocs`
  libs/core/src/main/java/org/elasticsearch/core/UpdateForV9.java
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
Labels: >docs, Team:Docs, auto-backport, v9.0.1, v9.1.0

#123902 [DOCS] Update Elasticsearch docs README for v9
  docs/README.asciidoc
  docs/README.md
  docs/docset.yml
Labels: >docs, Team:Docs, v9.1.0

#123038 [Gradle] Fix and simplify disabling assertions in test tasks
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/ElasticsearchTestBasePluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge-without-approval, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, v8.16.6, v8.17.4

#123960 [9.0] [Entitlements] Add URLConnection instrumentation for ftp, http and https protocols (#123802)
  libs/entitlement/bridge/src/main/java/org/elasticsearch/entitlement/bridge/EntitlementChecker.java
  libs/entitlement/qa/entitled-plugin/src/main/java/org/elasticsearch/entitlement/qa/entitled/EntitledActions.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/URLConnectionNetworkActions.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/ElasticsearchEntitlementChecker.java
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#123961 [9.0] Add `@UpdateForV9` for `ReferenceDocs` (#123928)
  libs/core/src/main/java/org/elasticsearch/core/UpdateForV9.java
  server/src/main/java/org/elasticsearch/common/ReferenceDocs.java
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v9.0.1

#123962 [9.0] Add missing APM entitlements (#123462)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  modules/apm/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, backport, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#123623 [8.16] [IDEA] Enable Gradle Configuration Cache for Gradle Test Runner (#123552)
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
  gradle.properties
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval

#123887 [8.x] Fix PolicyManagerTests testFilesEntitlementsWithExclusive failing (#123856)
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/PolicyManagerTests.java
Labels: >test, backport, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#123624 [8.17] [IDEA] Enable Gradle Configuration Cache for Gradle Test Runner (#123552)
  build-tools-internal/src/main/groovy/elasticsearch.build-scan.gradle
  build-tools-internal/src/main/groovy/elasticsearch.ide.gradle
  gradle.properties
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.17.4

#123964 [8.18] Add missing APM entitlements (#123462)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  modules/apm/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, backport, auto-merge-without-approval, v8.18.1, :Core/Infra/Entitlements

#123801 Align `TransportVersion#bestKnownVersion` with 8.x
  server/src/main/java/org/elasticsearch/TransportVersion.java
Labels: >non-issue, :Core/Infra/Transport API, Team:Core/Infra, auto-backport, v9.0.1, v9.1.0

#123965 [8.x][Entitlements] Add URLConnection instrumentation
  libs/entitlement/bridge/src/main/java/org/elasticsearch/entitlement/bridge/EntitlementChecker.java
  libs/entitlement/qa/entitled-plugin/src/main/java/org/elasticsearch/entitlement/qa/entitled/EntitledActions.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/NetworkAccessCheckActions.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/RestEntitlementsCheckAction.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/URLConnectionNetworkActions.java
  libs/entitlement/qa/src/javaRestTest/java/org/elasticsearch/entitlement/qa/EntitlementsTestRule.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/ElasticsearchEntitlementChecker.java
  modules/repository-azure/src/main/plugin-metadata/entitlement-policy.yaml
  modules/repository-gcs/src/main/plugin-metadata/entitlement-policy.yaml
  plugins/discovery-gce/src/main/plugin-metadata/entitlement-policy.yaml
  x-pack/plugin/ml-package-loader/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, backport, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#123970 [9.0] [Gradle] Fix and simplify disabling assertions in test tasks (#123038)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/ElasticsearchTestBasePluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v9.0.1

#123969 [8.x] [Gradle] Fix and simplify disabling assertions in test tasks (#123038)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/ElasticsearchTestBasePluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.19.0

#123972 [8.17] [Gradle] Fix and simplify disabling assertions in test tasks (#123038)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/ElasticsearchTestBasePluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.17.4

#123968 [8.18] [Gradle] Fix and simplify disabling assertions in test tasks (#123038)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/ElasticsearchTestBasePluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.18.1

#123909 [DOCS] Delete old asciidoc preview URL action
  .github/workflows/docs-preview-links.yml
Labels: >docs, Team:Docs, auto-backport, v9.0.0, v9.1.0

#123851 [9.0] [Entitlements] Fix FileAccessTree paths ordering (#123689)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTree.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/Platform.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTreeTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/FileUtilsTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FileDataTests.java
Labels: >non-issue, backport, Team:Core/Infra, test-windows, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#123973 Unmute `TimeSeriesDataStreamsIT.testSearchableSnapshotAction`
  muted-tests.yml
Labels: >test, :Data Management/ILM+SLM, Team:Data Management, auto-merge-without-approval, v9.1.0

#123913 [8.x] Grant read access to the config dir (#123882)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTree.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTreeTests.java
Labels: >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#123963 [8.x] Add missing APM entitlements (#123462)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  modules/apm/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, backport, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#122493 Add test for deprecated index settings in N-2 indices
  qa/lucene-index-compatibility/src/javaRestTest/java/org/elasticsearch/lucene/RollingUpgradeDeprecatedSettingsIT.java
  qa/lucene-index-compatibility/src/javaRestTest/java/org/elasticsearch/lucene/RollingUpgradeIndexCompatibilityTestCase.java
  qa/lucene-index-compatibility/src/javaRestTest/java/org/elasticsearch/lucene/RollingUpgradeLuceneIndexCompatibilityTestCase.java
Labels: >test, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.1, v9.1.0

#123976 [9.0] Align `TransportVersion#bestKnownVersion` with 8.x (#123801)
  server/src/main/java/org/elasticsearch/TransportVersion.java
Labels: >non-issue, :Core/Infra/Transport API, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1

#123978 [9.0] [DOCS] Delete old asciidoc preview URL action (#123909)
  .github/workflows/docs-preview-links.yml
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v9.0.1

#122715 Failure store access - selector-aware role building
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/role/RoleDescriptorRequestValidator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/IndicesPermission.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/Role.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/ConfigurableClusterPrivileges.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexComponentSelectorPredicate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilege.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/role/PutRoleRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/RoleDescriptorTestHelper.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/LimitedRoleTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/permission/SimpleRoleTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/IndexPrivilegeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/PrivilegeTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/support/AutomatonPatternsTests.java
  x-pack/plugin/security/qa/consistency-checks/src/test/java/org/elasticsearch/xpack/security/CrossClusterShardTests.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/failurestore/FailureStoreSecurityRestIT.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStore.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/DeprecationRoleDescriptorConsumer.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/privilege/RestGetBuiltinPrivilegesAction.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/RBACEngineTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, auto-backport, serverless-linked, v8.19.0, v9.1.0

#123981 [9.0] Add test for deprecated index settings in N-2 indices (#122493)
  qa/lucene-index-compatibility/src/javaRestTest/java/org/elasticsearch/lucene/RollingUpgradeDeprecatedSettingsIT.java
  qa/lucene-index-compatibility/src/javaRestTest/java/org/elasticsearch/lucene/RollingUpgradeIndexCompatibilityTestCase.java
  qa/lucene-index-compatibility/src/javaRestTest/java/org/elasticsearch/lucene/RollingUpgradeLuceneIndexCompatibilityTestCase.java
Labels: >test, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v9.0.1

#123850 [8.x] [Entitlements] Fix FileAccessTree paths ordering (#123689)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/initialization/EntitlementInitialization.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTree.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/FileUtils.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/Platform.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FilesEntitlement.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/FileAccessTreeTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/FileUtilsTests.java
  libs/entitlement/src/test/java/org/elasticsearch/entitlement/runtime/policy/entitlements/FileDataTests.java
Labels: >non-issue, backport, Team:Core/Infra, test-windows, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#123600 Drop `TLS_RSA` ciphers from default cipher suites for JDK 24
  docs/changelog/123600.yaml
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/SslConfigurationLoader.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/XPackSettingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationSettingsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: >breaking, :Security/TLS, Team:Security, auto-merge-without-approval, auto-backport, v9.0.0, v8.18.0, v8.19.0, v9.1.0

#123992 [8.x] Unmute SemanticInferenceMetadataFieldsRecoveryTests#testSnapshotRecovery
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticInferenceMetadataFieldsRecoveryTests.java
Labels: >test, backport, auto-merge-without-approval, :Search Relevance/Vectors, v8.19.0

#123988 [9.0] Drop `TLS_RSA` ciphers from default cipher suites for JDK 24 (#123600)
  docs/changelog/123600.yaml
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/SslConfigurationLoader.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/XPackSettingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationSettingsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: >breaking, :Security/TLS, backport, Team:Security, auto-merge-without-approval, v9.0.1

#123990 [8.x] Drop `TLS_RSA` ciphers from default cipher suites for JDK 24 (#123600)
  docs/changelog/123600.yaml
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/SslConfigurationLoader.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/XPackSettingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationSettingsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: >breaking, :Security/TLS, backport, Team:Security, auto-merge-without-approval, v8.19.0

#123980 [8.x] [Inference API] Auto-propagate product origin for every subclass of ElasticInferenceServiceRequest (#123141)
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/ElasticInferenceServiceSparseEmbeddingsRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/ElasticInferenceServiceUnifiedCompletionRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceAuthorizationRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceSparseEmbeddingsRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceUnifiedChatCompletionRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandler.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/sender/HttpRequestSenderTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceAuthorizationRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/elastic/ElasticInferenceServiceSparseEmbeddingsRequestTests.java
Labels: backport, v8.19.0

#123989 [8.18] Drop `TLS_RSA` ciphers from default cipher suites for JDK 24 (#123600)
  docs/changelog/123600.yaml
  libs/ssl-config/src/main/java/org/elasticsearch/common/ssl/SslConfigurationLoader.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/XPackSettingsTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ssl/SSLConfigurationSettingsTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
Labels: >breaking, :Security/TLS, backport, Team:Security, auto-merge-without-approval, v8.18.1

#123768 [8.x] feat: VoyageAI integration (#122134)
  docs/changelog/122134.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/InferenceGetServicesIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceNamedWriteablesProvider.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/action/voyageai/VoyageAIActionCreator.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/action/voyageai/VoyageAIActionVisitor.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/VoyageAIEmbeddingsRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/VoyageAIRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/sender/VoyageAIRerankRequestManager.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIEmbeddingsRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIEmbeddingsRequestEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIRerankRequest.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIRerankRequestEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIUtils.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/voyageai/VoyageAIEmbeddingsResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/voyageai/VoyageAIErrorResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/voyageai/VoyageAIRerankResponseEntity.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/voyageai/VoyageAIAccount.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/voyageai/VoyageAIResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/VoyageAIModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/VoyageAIRateLimitServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/VoyageAIService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/VoyageAIServiceFields.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/VoyageAIServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/embeddings/VoyageAIEmbeddingType.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/embeddings/VoyageAIEmbeddingsModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/embeddings/VoyageAIEmbeddingsServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/embeddings/VoyageAIEmbeddingsTaskSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/rerank/VoyageAIRerankModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/rerank/VoyageAIRerankServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/voyageai/rerank/VoyageAIRerankTaskSettings.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/action/voyageai/VoyageAIActionCreatorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/action/voyageai/VoyageAIEmbeddingsActionTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIEmbeddingsRequestEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIEmbeddingsRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIRerankRequestEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIRerankRequestTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/request/voyageai/VoyageAIUtilsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/voyageai/VoyageAIEmbeddingsResponseEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/voyageai/VoyageAIErrorResponseEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/response/voyageai/VoyageAIRerankResponseEntityTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/voyageai/VoyageAIResponseHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/voyageai/VoyageAIServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/voyageai/VoyageAIServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/voyageai/embeddings/VoyageAIEmbeddingsModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/voyageai/embeddings/VoyageAIEmbeddingsServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/voyageai/embeddings/VoyageAIEmbeddingsTaskSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/voyageai/rerank/VoyageAIRerankModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/voyageai/rerank/VoyageAIRerankServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/voyageai/rerank/VoyageAIRerankTaskSettingsTests.java
Labels: backport, v8.19.0

#123974 [8.x] Limit number of suppressed S3 deletion errors (#123630)
  docs/changelog/123630.yaml
  modules/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageBlobContainerRetriesTests.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3BlobStore.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobContainerRetriesTests.java
  modules/repository-url/src/test/java/org/elasticsearch/common/blobstore/url/URLBlobContainerRetriesTests.java
  test/framework/src/main/java/org/elasticsearch/repositories/blobstore/AbstractBlobContainerRetriesTestCase.java
Labels: >bug, :Distributed Coordination/Snapshot/Restore, backport, auto-merge-without-approval, v8.19.0

#123996 [8.19] Backport of ESQL - remove some dead code #123720
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
Labels: >non-issue, backport, auto-merge-without-approval, :Analytics/ES|QL, v8.19.0

#123985 [Entitlements] Missing policies for `google-http-client` oauth2
  modules/repository-gcs/src/main/plugin-metadata/entitlement-policy.yaml
  plugins/discovery-gce/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, auto-backport, v8.18.1, v8.19.0, v9.0.1, v9.1.0, :Core/Infra/Entitlements

#123933 Add some logging to better see what's up with testCancelFailedSearchWhenPartialResultDisallowed
  server/src/internalClusterTest/java/org/elasticsearch/search/SearchCancellationIT.java
Labels: >test, auto-backport, Team:Search Foundations, :Search Foundations/Search, v8.19.0, v9.1.0

#123948 Remove skip with semantic_text tests in ES|QL
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
  x-pack/plugin/esql/qa/server/multi-clusters/src/javaRestTest/java/org/elasticsearch/xpack/esql/ccq/MultiClusterSpecIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/EsqlSpecIT.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/EsqlSpecTestCase.java
Labels: >test, Team:Analytics, auto-backport, :Analytics/ES|QL, v8.18.1, v8.19.0, v9.0.1, v9.1.0

#124009 [9.0] Make NotEntitledException inherit from SecurityException for compatibility purposes (#123984)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/NotEntitledException.java
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#124008 [8.x] Make NotEntitledException inherit from SecurityException for compatibility purposes (#123984)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/NotEntitledException.java
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#124007 [8.18] Make NotEntitledException inherit from SecurityException for compatibility purposes (#123984)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/NotEntitledException.java
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.1, :Core/Infra/Entitlements

#124016 [9.0] missing file entitlement used by google-http-client for oauth2 (#123985)
  modules/repository-gcs/src/main/plugin-metadata/entitlement-policy.yaml
  plugins/discovery-gce/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, backport, auto-merge-without-approval, v9.0.1, :Core/Infra/Entitlements

#123920 [8.18] [ML] Improve EIS authorization to perform requests on a periodic basis instead of only once (#123639)
  server/src/main/java/org/elasticsearch/inference/InferenceServiceRegistry.java
  x-pack/plugin/inference/qa/inference-service-tests/src/javaRestTest/java/org/elasticsearch/xpack/inference/BaseMockEISAuthServerTest.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/InferenceRevokeDefaultEndpointsIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/registry/ModelRegistry.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/DefaultModelConfig.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceComponents.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationRequestHandler.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/Utils.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSettingsTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceSparseEmbeddingsModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationModelTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationRequestHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/completion/ElasticInferenceServiceCompletionModelTests.java
Labels: backport, auto-merge-without-approval, v8.18.1

#124015 [8.x] missing file entitlement used by google-http-client for oauth2 (#123985)
  modules/repository-gcs/src/main/plugin-metadata/entitlement-policy.yaml
  plugins/discovery-gce/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, backport, auto-merge-without-approval, v8.19.0, :Core/Infra/Entitlements

#123930 Fix timestamp range query optimization for indices with doc values skipper
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/SearchIdleIT.java
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldTypeTests.java
Labels: >non-issue, :StorageEngine/TSDB, Team:StorageEngine, v9.1.0

#124014 [8.18] missing file entitlement used by google-http-client for oauth2 (#123985)
  modules/repository-gcs/src/main/plugin-metadata/entitlement-policy.yaml
  plugins/discovery-gce/src/main/plugin-metadata/entitlement-policy.yaml
Labels: >non-issue, backport, auto-merge-without-approval, v8.18.1, :Core/Infra/Entitlements

#123931 Method does not exist anymore, remove from muted
  muted-tests.yml
Labels: >test, Team:Search Foundations, :Search Foundations/CCS, v8.19.0

#123946 [8.x] Bump up httpcore version (#123932)
  build-tools-internal/version.properties
  gradle/build.versions.toml
  gradle/verification-metadata.xml
Labels: :Delivery/Build, >upgrade, backport, Team:Delivery, auto-merge-without-approval, serverless-linked, v8.19.0

#124017 [8.x] Add some logging to better see what's up with testCancelFailedSearchWhenPartialResultDisallowed (#123933)
  server/src/internalClusterTest/java/org/elasticsearch/search/SearchCancellationIT.java
Labels: >test, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v8.19.0

#123927 [8.x] [ML] Remove tasktype any from supportedStreamingTasks (#121460)
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/InferenceRevokeDefaultEndpointsIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/action/BaseTransportInferenceAction.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/anthropic/AnthropicResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/cohere/CohereResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/elastic/ElasticInferenceServiceResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/elastic/ElasticInferenceServiceUnifiedChatCompletionResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/googleaistudio/GoogleAiStudioResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/BaseResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/ResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/openai/OpenAiResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/response/amazonbedrock/AmazonBedrockResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/SenderService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/openai/OpenAiService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/retry/AlwaysRetryingResponseHandler.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/retry/RetryingHttpSenderTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/amazonbedrock/AmazonBedrockServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/anthropic/AnthropicServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/azureaistudio/AzureAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/azureopenai/AzureOpenAiServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/CohereServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googleaistudio/GoogleAiStudioServiceTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/OpenAiServiceTests.java
Labels: backport, auto-merge-without-approval, v8.19.0

#123353 Typo 8.17.2 release notes
  docs/reference/release-notes/8.17.2.asciidoc
Labels: >docs, Team:Docs, external-contributor, v8.17.4
