Repository elastic/elasticsearch, pull requests merged in 2025-10, with the labels that each got.

#135593 Fix RestoreInProgressAllocationDeciderTests
  muted-tests.yml
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/RestoreInProgressAllocationDeciderTests.java
Labels: >test, :Distributed Coordination/Allocation, Team:Distributed Coordination, v9.2.0

#135245 WriteLoadConstraintDecider: Always allow allocation of unassigned shards
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/WriteLoadConstraintDecider.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/WriteLoadConstraintDeciderTests.java
Labels: >non-issue, :Distributed Coordination/Allocation, Team:Distributed Coordination, v9.2.0

#135720 [8.19] Disable downsampling force merge via mapping metadata (#135694)
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/DownsampleIT.java
  x-pack/plugin/downsample/src/internalClusterTest/java/org/elasticsearch/xpack/downsample/DownsamplingIntegTestCase.java
  x-pack/plugin/downsample/src/main/java/org/elasticsearch/xpack/downsample/TransportDownsampleAction.java
  x-pack/plugin/downsample/src/test/java/org/elasticsearch/xpack/downsample/TransportDownsampleActionTests.java
Labels: backport, auto-merge-without-approval, :StorageEngine/Downsampling, v8.19.5

#135685 ES|QL: Add generator for INLINE STATS
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/generative/GenerativeRestTest.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/generator/EsqlQueryGenerator.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/generator/command/pipe/InlineStatsGenerator.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/generator/command/pipe/StatsGenerator.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v9.2.0

#135350 [ML] Don't block thread while waiting for work to finish on graceful shutdown
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/deployment/DeploymentManager.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/process/PyTorchResultProcessor.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/AbstractProcessWorkerExecutorService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeServiceTests.java
Labels: >refactoring, :ml, Team:ML, cloud-deploy, v9.2.0

#135763 Test more index resolution cases
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/IndexResolutionIT.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v9.2.0

#135766 ES|QL: more complex expressions in generative tests
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/generative/GenerativeRestTest.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/generator/EsqlQueryGenerator.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/generator/command/pipe/EvalGenerator.java
Labels: >test, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.2.0

#135769 [9.1] [ML] RegressionIT: Fix hyperparameters for regression tests and unmute the test (#135541)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
Labels: >test, :ml, backport, Team:ML, auto-merge-without-approval, v9.1.6

#135770 [8.18] [ML] RegressionIT: Fix hyperparameters for regression tests and unmute the test (#135541)
  x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java
Labels: >test, :ml, backport, Team:ML, auto-merge-without-approval, v8.18.9

#135764 Trivial fix for javadoc on BlockSourceReader.lookupMatchingAll
  server/src/main/java/org/elasticsearch/index/mapper/BlockSourceReader.java
Labels: >non-issue, auto-merge-without-approval, Team:StorageEngine, v9.2.0, :StorageEngine/ES|QL

#135776 Fix KQL case-sensitivity for keyword fields in ES|QL
  docs/changelog/135776.yaml
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/query/KqlQueryBuilder.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/query/KqlQueryBuilderTests.java
  x-pack/plugin/kql/src/yamlRestTest/resources/rest-api-spec/test/kql/20_kql_match_query.yml
Labels: >bug, auto-backport, Team:Search Relevance, :Search Relevance/Search, v9.2.0, v8.19.6, v9.1.6, v9.0.9, v8.18.9

#135697 ESQL: Update mechanism for under construction data types
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/CreatedVersion.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/DataType.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/SupportedVersion.java
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/AllSupportedFieldsTestCase.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/LookupJoinTypesIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/fulltext/AbstractMatchFullTextFunctionTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/fulltext/MatchPhraseTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/conditional/CaseTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/tree/EsqlNodeSubclassTests.java
Labels: >refactoring, Team:Analytics, test-full-bwc, test-release, :Analytics/ES|QL, v9.2.0

#135760 [ML] Add contextual ai endpoint API spec
  rest-api-spec/src/main/resources/rest-api-spec/api/inference.put_contextualai.json
Labels: >docs, :ml, Team:Docs, Team:ML, v9.2.0

#135660 Initial implementation of random sampling
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/main/java/org/elasticsearch/ingest/SamplingService.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/test/java/org/elasticsearch/ingest/SamplingServiceRawDocumentTests.java
  server/src/test/java/org/elasticsearch/ingest/SamplingServiceSampleStatsTests.java
  server/src/test/java/org/elasticsearch/ingest/SamplingServiceTests.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v9.2.0

#135779 [8.19] Migrate transport version 8841_033 (#135743)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/datastreams/GetDataStreamAction.java
  server/src/main/resources/transport/definitions/referable/include_index_mode_in_get_data_stream.csv
  server/src/test/java/org/elasticsearch/TransportVersionTests.java
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, skip-transport-version-generation, v8.19.6

#135790 [8.18] Updates Logstash pipeline ID description to point out the restrictions/acceptance. (#135557)
  docs/reference/rest-api/logstash/put-pipeline.asciidoc
Labels: backport, external-contributor, Team:Logstash, :Logstash/CPM, v8.18.9

#135786 [Transform] Unmute testAuditorWritesAudits
  muted-tests.yml
Labels: >test, :ml/Transform, Team:ML, auto-backport, v8.19.6, v8.18.9

#135801 [9.1] Migrate transport versions 8841_032 and 8841_031. (#135789)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesRequest.java
  server/src/main/resources/transport/definitions/referable/field_caps_add_cluster_alias.csv
  server/src/main/resources/transport/definitions/referable/ml_inference_hugging_face_chat_completion_added.csv
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/completion/HuggingFaceChatCompletionServiceSettings.java
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, skip-transport-version-generation, v9.1.6

#135803 [Transform] Unmute testAuditorWritesAudits (#135786)
  muted-tests.yml
Labels: >test, backport, :ml/Transform, Team:ML, auto-merge-without-approval, v8.18.9

#135802 [8.19] Migrate transport versions 8841_032 and 8841_031. (#135789)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/fieldcaps/FieldCapabilitiesRequest.java
  server/src/main/resources/transport/definitions/referable/field_caps_add_cluster_alias.csv
  server/src/main/resources/transport/definitions/referable/ml_inference_hugging_face_chat_completion_added.csv
  server/src/test/java/org/elasticsearch/TransportVersionTests.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/huggingface/completion/HuggingFaceChatCompletionServiceSettings.java
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, skip-transport-version-generation, v8.19.6

#135797 Relax exception condition on testFilterWithUnavailableRemote
  muted-tests.yml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterQueryWithFiltersIT.java
Labels: >test, Team:Search Foundations, :Search Foundations/CCS, v9.2.0

#135807 Change upstreamRef override to baseRef override
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/AbstractTransportVersionFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateInitialTransportVersionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionDefinitionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesService.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionResourcesTask.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, auto-backport, v9.2.0, v8.19.6, v9.1.6, v9.0.9, v8.18.9

#135818 [8.18] Change upstreamRef override to baseRef override (#135807)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/AbstractTransportVersionFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateInitialTransportVersionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionDefinitionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesService.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionResourcesTask.java
Labels: :Core/Infra/Core, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.9

#135815 [8.19] Change upstreamRef override to baseRef override (#135807)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/AbstractTransportVersionFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateInitialTransportVersionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionDefinitionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesService.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionResourcesTask.java
Labels: :Core/Infra/Core, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v8.19.6

#135816 [9.1] Change upstreamRef override to baseRef override (#135807)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/AbstractTransportVersionFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateInitialTransportVersionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionDefinitionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesService.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionResourcesTask.java
Labels: :Core/Infra/Core, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v9.1.6

#135597 Reapply "Track shardStarted events for simulation in DesiredBalanceComputer"
  docs/changelog/135597.yaml
  server/src/main/java/org/elasticsearch/cluster/ClusterInfo.java
  server/src/main/java/org/elasticsearch/cluster/ClusterInfoSimulator.java
  server/src/main/java/org/elasticsearch/cluster/InternalClusterInfoService.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputer.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/ClusterInfoSimulatorTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceComputerTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocatorTests.java
Labels: >enhancement, :Distributed Coordination/Allocation, auto-merge-without-approval, Team:Distributed Coordination, v9.2.0

#135696 Added DNS cache settings to JVM settings doc
  docs/reference/elasticsearch/jvm-settings.md
Labels: >docs, Team:Docs, v9.2.0

#134788 Add BytesStreamOutputTests
  server/src/test/java/org/elasticsearch/common/io/stream/BytesStreamOutputTests.java
Labels: >test, Team:Distributed Coordination, :Distributed Coordination/Distributed, v9.3.0

#135761 Fix assertion error when executing invalid row query with filter
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
Labels: >non-issue, Team:Analytics, auto-backport, :Analytics/ES|QL, v8.19.6, v9.1.6, v9.2.1, v9.3.0

#135773 Fix inherited accessibility in JDK api extractor tool.
  libs/entitlement/tools/jdk-api-extractor/src/main/java/org/elasticsearch/entitlement/tools/jdkapi/JdkApiExtractor.java
Labels: >refactoring, Team:Core/Infra, auto-merge-without-approval, :Core/Infra/Entitlements, v9.3.0

#135833 [9.2] Fix assertion error when executing invalid row query with filter (#135761)
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
Labels: >non-issue, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.2.1

#135832 [9.1] Fix assertion error when executing invalid row query with filter (#135761)
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
Labels: >non-issue, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.1.6

#135008 Change FailedToCommitClusterStateException to NotMasterException
  server/src/main/java/org/elasticsearch/cluster/NotMasterException.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
  server/src/test/java/org/elasticsearch/cluster/service/MasterServiceTests.java
Labels: >non-issue, Team:Distributed Coordination, :Distributed Coordination/Distributed, v9.3.0

#135837 Add KQL query DSL docs
  docs/reference/query-languages/query-dsl/query-dsl-kql-query.md
  docs/reference/query-languages/toc.yml
Labels: >docs, Team:Docs, v9.3.0

#135782 [9.1] Fix KQL case-sensitivity for keyword fields in ES|QL (#135776)
  docs/changelog/135776.yaml
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/query/KqlQueryBuilder.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/query/KqlQueryBuilderTests.java
  x-pack/plugin/kql/src/yamlRestTest/resources/rest-api-spec/test/kql/20_kql_match_query.yml
Labels: >bug, backport, auto-merge-without-approval, Team:Search Relevance, :Search Relevance/Search, v9.1.6

#135602 [ES|QL] Optimize vector similarity when one param is constant
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/vector/VectorSimilarityFunction.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/vector/AbstractVectorSimilarityFunctionTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/vector/CosineSimilarityTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/vector/DotProductSimilarityTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/vector/HammingSimilarityTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/vector/L1NormSimilarityTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/vector/L2NormSimilarityTests.java
Labels: >non-issue, Team:Search Relevance, :Search Relevance/ES|QL, v9.3.0

#133405 ES|QL: Fix wrong pruning of plans with no output columns
  docs/changelog/133405.yaml
  server/src/main/resources/transport/definitions/referable/esql_plan_with_no_columns.csv
  server/src/main/resources/transport/upper_bounds/9.3.csv
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/data/BasicPageTests.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/EsqlTestUtils.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/generator/EsqlQueryGenerator.java
  x-pack/plugin/esql/qa/testFixtures/src/main/java/org/elasticsearch/xpack/esql/generator/command/pipe/DropAllGenerator.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/drop.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/lookup-join.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/sample.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterLookupJoinIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/predicate/Predicates.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PropagateEmptyRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PruneColumns.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PruneEmptyAggregates.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceRowAsLocalRelation.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceStatsFilteredAggWithEval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/SubstituteSurrogateAggregations.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/PushStatsToSource.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/join/InlineJoin.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/local/CopyingLocalSupplier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/local/EmptyLocalSupplier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/local/ImmediateLocalSupplier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/local/LocalSupplier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/LocalSourceExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/FieldNameUtils.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/ReplaceStatsFilteredAggWithEvalTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/local/CopyingLocalSupplierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/local/ImmediateLocalSupplierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/local/LocalRelationSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/plan/logical/local/LocalSupplierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/FieldNameUtilsTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/10_basic.yml
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v9.3.0

#135841 [9.0] Use lowercase sort order in geo_line YAML tests (#135690)
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/spatial/120_position_geo_line.yml
Labels: >non-issue, :Analytics/Geo, backport, Team:Analytics, auto-merge-without-approval, v9.0.9

#135842 [8.19] Fix assertion error when executing invalid row query with filter (#135761)
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
Labels: >non-issue, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.19.6

#135765 Add deprecation notice for max_size rollover condition
  docs/changelog/135765.yaml
  rest-api-spec/build.gradle
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.rollover/30_max_size_condition.yml
  server/src/main/java/org/elasticsearch/rest/action/admin/indices/RestRolloverIndexAction.java
  x-pack/plugin/ilm/qa/multi-cluster/src/test/java/org/elasticsearch/xpack/ilm/CCRIndexLifecycleIT.java
  x-pack/plugin/ilm/qa/rest/build.gradle
  x-pack/plugin/ilm/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/ilm/10_basic.yml
  x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/action/RestPutLifecycleAction.java
Labels: :Data Management/Indices APIs, >deprecation, :Data Management/ILM+SLM, Team:Data Management, v9.3.0

#135849 [9.2] Migrate transport versions 9108_000 through 9086_000 (#135819)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotIndexShardStatus.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/PutStoredScriptRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/cluster/ClusterInfo.java
  server/src/main/java/org/elasticsearch/cluster/RepositoryCleanupInProgress.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotDeletionsInProgress.java
  server/src/main/java/org/elasticsearch/cluster/block/ClusterBlocks.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ProjectMetadata.java
  server/src/main/java/org/elasticsearch/cluster/project/ProjectStateRegistry.java
  server/src/main/java/org/elasticsearch/index/search/stats/SearchStats.java
  server/src/main/resources/transport/definitions/referable/cluster_state_projects_settings.csv
  server/src/main/resources/transport/definitions/referable/heap_usage_in_cluster_info.csv
  server/src/main/resources/transport/definitions/referable/project_deletion_global_block.csv
  server/src/main/resources/transport/definitions/referable/project_id_in_snapshots_deletions_and_repo_cleanup.csv
  server/src/main/resources/transport/definitions/referable/re_remove_min_compatible_shard_node.csv
  server/src/main/resources/transport/definitions/referable/search_load_per_index_stats.csv
  server/src/main/resources/transport/definitions/referable/security_cloud_api_key_realm_and_type.csv
  server/src/main/resources/transport/definitions/referable/snapshot_index_shard_status_missing_stats.csv
  server/src/main/resources/transport/definitions/referable/state_param_get_snapshot.csv
  server/src/main/resources/transport/definitions/referable/stored_script_content_length.csv
  server/src/test/java/org/elasticsearch/TransportVersionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStatsTests.java
  server/src/test/java/org/elasticsearch/cluster/RepositoryCleanupInProgressTests.java
  server/src/test/java/org/elasticsearch/cluster/SnapshotDeletionsInProgressTests.java
  server/src/test/java/org/elasticsearch/cluster/serialization/ClusterSerializationTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationSerializationTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderDocumentTests.java
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, skip-transport-version-generation, v9.2.1

#135853 [9.1] Migrate transport versions 9108_000 through 9086_000 (#135819)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsRequest.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotIndexShardStatus.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStats.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/PutStoredScriptRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/cluster/ClusterInfo.java
  server/src/main/java/org/elasticsearch/cluster/RepositoryCleanupInProgress.java
  server/src/main/java/org/elasticsearch/cluster/SnapshotDeletionsInProgress.java
  server/src/main/java/org/elasticsearch/cluster/block/ClusterBlocks.java
  server/src/main/java/org/elasticsearch/cluster/metadata/ProjectMetadata.java
  server/src/main/java/org/elasticsearch/cluster/project/ProjectStateRegistry.java
  server/src/main/java/org/elasticsearch/index/search/stats/SearchStats.java
  server/src/main/resources/transport/definitions/referable/cluster_state_projects_settings.csv
  server/src/main/resources/transport/definitions/referable/heap_usage_in_cluster_info.csv
  server/src/main/resources/transport/definitions/referable/project_deletion_global_block.csv
  server/src/main/resources/transport/definitions/referable/project_id_in_snapshots_deletions_and_repo_cleanup.csv
  server/src/main/resources/transport/definitions/referable/re_remove_min_compatible_shard_node.csv
  server/src/main/resources/transport/definitions/referable/search_load_per_index_stats.csv
  server/src/main/resources/transport/definitions/referable/security_cloud_api_key_realm_and_type.csv
  server/src/main/resources/transport/definitions/referable/snapshot_index_shard_status_missing_stats.csv
  server/src/main/resources/transport/definitions/referable/state_param_get_snapshot.csv
  server/src/main/resources/transport/definitions/referable/stored_script_content_length.csv
  server/src/test/java/org/elasticsearch/TransportVersionTests.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStatsTests.java
  server/src/test/java/org/elasticsearch/cluster/RepositoryCleanupInProgressTests.java
  server/src/test/java/org/elasticsearch/cluster/SnapshotDeletionsInProgressTests.java
  server/src/test/java/org/elasticsearch/cluster/serialization/ClusterSerializationTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/Authentication.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationSerializationTests.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderDocumentTests.java
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, skip-transport-version-generation, v9.1.6

#135636 Tweak TextRollingUpgradeIT and MatchOnlyTextRollingUpgradeIT
  x-pack/plugin/logsdb/qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/MatchOnlyTextRollingUpgradeIT.java
  x-pack/plugin/logsdb/qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/TextRollingUpgradeIT.java
Labels: >test, test-full-bwc, Team:StorageEngine, :StorageEngine/Mapping, v9.3.0

#135845 Defer Semantic Text Failures on Pre-8.11 Indices
  docs/changelog/135845.yaml
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapperTests.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapper.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapperTests.java
Labels: >bug, auto-backport, :SearchOrg/Relevance, Team:Search - Relevance, v9.2.0, v8.19.5, v9.1.5, v8.18.8, v9.0.8, v9.3.0

#135767 ES|QL: Pass fix size instead of maxPageSize to LuceneTopNOperator scorer
  docs/changelog/135767.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneTopNSourceOperator.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionTaskIT.java
Labels: >bug, auto-backport, Team:Search Relevance, v9.2.0, :Search Relevance/ES|QL, v9.3.0

#135864 Removing unused projectId from random sampling RawDocument
  server/src/main/java/org/elasticsearch/ingest/SamplingService.java
  server/src/test/java/org/elasticsearch/ingest/SamplingServiceRawDocumentTests.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v9.2.0, v9.3.0

#135640 Get action for random sampling
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_sample.json
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.get_sample/10_basic.yml
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/indices/sampling/GetSampleActionIT.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/admin/indices/sampling/GetSampleAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/sampling/RestGetSampleAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/sampling/TransportGetSampleAction.java
  server/src/main/java/org/elasticsearch/ingest/IngestFeatures.java
  server/src/main/java/org/elasticsearch/ingest/SamplingService.java
  server/src/test/java/org/elasticsearch/action/admin/indices/sampling/GetSampleActionNodeRequestTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/sampling/GetSampleActionNodeResponseTests.java
  server/src/test/java/org/elasticsearch/action/admin/indices/sampling/GetSampleActionResponseTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v9.3.0

#132962 Don't store keyword multi fields when they trip ignore_above
  docs/changelog/132962.yaml
  modules/mapper-extras/src/main/java/org/elasticsearch/index/mapper/extras/MatchOnlyTextFieldMapper.java
  modules/mapper-extras/src/test/java/org/elasticsearch/index/mapper/extras/MatchOnlyTextFieldTypeTests.java
  modules/mapper-extras/src/yamlRestTest/resources/rest-api-spec/test/match_only_text/10_basic.yml
  plugins/mapper-annotated-text/src/main/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapper.java
  plugins/mapper-annotated-text/src/test/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldMapperTests.java
  plugins/mapper-annotated-text/src/test/java/org/elasticsearch/index/mapper/annotatedtext/AnnotatedTextFieldTypeTests.java
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/mapping/20_synthetic_source.yml
  server/src/main/java/org/elasticsearch/index/IndexVersions.java
  server/src/main/java/org/elasticsearch/index/mapper/CompositeSyntheticFieldLoader.java
  server/src/main/java/org/elasticsearch/index/mapper/DynamicFieldsBuilder.java
  server/src/main/java/org/elasticsearch/index/mapper/FieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordFieldMapper.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFamilyFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java
  server/src/main/java/org/elasticsearch/index/query/QueryRewriteContext.java
  server/src/test/java/org/elasticsearch/index/fielddata/AbstractFieldDataTestCase.java
  server/src/test/java/org/elasticsearch/index/fielddata/FilterFieldDataTests.java
  server/src/test/java/org/elasticsearch/index/fielddata/IndexFieldDataServiceTests.java
  server/src/test/java/org/elasticsearch/index/mapper/CompositeSyntheticFieldLoaderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DocumentParserContextTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/KeywordFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/MultiFieldsTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperMergeTests.java
  server/src/test/java/org/elasticsearch/index/mapper/ObjectMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/TextFieldTypeTests.java
  server/src/test/java/org/elasticsearch/index/query/SearchExecutionContextTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/filter/FiltersAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/sampler/SamplerAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTermsAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorTests.java
  server/src/test/java/org/elasticsearch/search/fetch/subphase/highlight/HighlightBuilderTests.java
  server/src/test/java/org/elasticsearch/search/rescore/QueryRescorerBuilderTests.java
  server/src/test/java/org/elasticsearch/search/suggest/completion/CategoryContextMappingTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/KeywordFieldSyntheticSourceSupport.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/TextFieldFamilySyntheticSourceTestSetup.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/stringstats/StringStatsAggregatorTests.java
  x-pack/plugin/analytics/src/test/java/org/elasticsearch/xpack/analytics/topmetrics/TopMetricsAggregatorTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/read/ValuesSourceReaderOperatorTests.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/querydsl/query/EqualsSyntheticSourceDelegate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/querydsl/query/SingleValueQuery.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/patterntext/PatternTextFieldMapper.java
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/patterntext/PatternTextFieldType.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/aggs/categorization/CategorizeTextAggregatorTests.java
Labels: >bug, Team:StorageEngine, :StorageEngine/Mapping, v9.3.0

#135857 Make packaging test deletes robust for Windows
  qa/packaging/src/test/java/org/elasticsearch/packaging/util/Cleanup.java
  qa/packaging/src/test/java/org/elasticsearch/packaging/util/FileUtils.java
Labels: >test, :Core/Infra/Core, Team:Core/Infra, v9.3.0

#135888 [8.18][Fix] Disable ExtraFS in JvmOptionsParserTests (#133315)
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/JvmOptionsParserTests.java
Labels: >test, backport, :Core/Infra/CLI, auto-merge-without-approval, v8.18.9

#135358 S2D1 - CPS Error handling
  server/src/main/java/org/elasticsearch/action/ResolvedIndexExpression.java
  server/src/main/java/org/elasticsearch/search/crossproject/ResponseValidator.java
  server/src/test/java/org/elasticsearch/search/crossproject/ResponseValidatorTests.java
Labels: >non-issue, Team:Search Foundations, :Search Foundations/Search, v9.3.0

#134604 Adds certificate identity field to cross-cluster API keys
  docs/changelog/134604.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/ApiKey.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BaseBulkUpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BaseSingleUpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BaseUpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BulkUpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/BulkUpdateApiKeyRequestTranslator.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/CertificateIdentity.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/CreateCrossClusterApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/GetApiKeyResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateApiKeyRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateCrossClusterApiKeyRequest.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/ApiKeyTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/GetApiKeyResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/QueryApiKeyResponseTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/action/apikey/UpdateCrossClusterApiKeyRequestTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/privilege/ManageOwnApiKeyClusterPrivilegeTests.java
  x-pack/plugin/security/qa/security-trial/src/javaRestTest/java/org/elasticsearch/xpack/security/apikey/ApiKeyRestIT.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/ApiKeyIntegTests.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/apikey/ApiKeySingleNodeTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/SecurityFeatures.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/apikey/TransportCreateCrossClusterApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/apikey/TransportUpdateCrossClusterApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/ApiKeyService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestCreateCrossClusterApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/apikey/RestUpdateCrossClusterApiKeyAction.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/support/SecuritySystemIndices.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/action/apikey/TransportUpdateCrossClusterApiKeyActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/audit/logfile/LoggingAuditTrailTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/ApiKeyServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/AuthenticationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/support/SecondaryAuthenticatorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/profile/ProfileServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/apikey/RestCreateCrossClusterApiKeyActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/apikey/RestGetApiKeyActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/apikey/RestQueryApiKeyActionTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/rest/action/apikey/RestUpdateCrossClusterApiKeyActionTests.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/AbstractUpgradeTestCase.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/ApiKeyBackwardsCompatibilityIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/RolesBackwardsCompatibilityIT.java
  x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearch/upgrades/TokenBackwardsCompatibilityIT.java
Labels: >enhancement, :Security/Security, Team:Security, test-update-serverless, v9.3.0

#135714 Improve SingleValueMatchQuery performance
  docs/changelog/135714.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/querydsl/query/SingleValueMatchQuery.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/querydsl/query/SingleValueMathQueryTests.java
Labels: >enhancement, Team:Analytics, :Analytics/Compute Engine, v9.3.0

#135898 Revert "[Transform] Unmute testAuditorWritesAudits (#135786)"
  muted-tests.yml
Labels: >non-issue, :Delivery/Build, >test-mute, Team:Delivery, v8.19.6

#134584 [Test] Replace 0.0.0 version with "detached" property on ElasticsearchDistibution
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalDistributionDownloadPluginFuncTest.groovy
  build-tools-internal/src/main/groovy/elasticsearch.bc-upgrade-test.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionDownloadPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/ElasticsearchDistribution.java
  modules/ingest-geoip/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/ingest/geoip/FullClusterRestartIT.java
  qa/full-cluster-restart/build.gradle
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartArchivedSettingsIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartDownsampleIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/LogsIndexModeFullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/AbstractRollingUpgradeTestCase.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/AbstractRollingUpgradeWithSecurityTestCase.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/FileSettingsUpgradeIT.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/ParameterizedRollingUpgradeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/LocalDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/SnapshotDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/Version.java
  x-pack/plugin/ent-search/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/application/FullClusterRestartIT.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/Clusters.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/CohereServiceMixedIT.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/HuggingFaceServiceMixedIT.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/MixedClusterSpecTestCase.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/MixedClustersSpec.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/OpenAIServiceMixedIT.java
  x-pack/plugin/inference/qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/xpack/application/InferenceUpgradeTestCase.java
  x-pack/plugin/logsdb/qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/StandardToLogsDbIndexModeRollingUpgradeIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityBWCToRCS1ClusterRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityBWCToRCS2ClusterRestIT.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/AbstractXpackFullClusterRestartTestCase.java
Labels: >non-issue, >test, :Delivery/Build, Team:Delivery, auto-backport, serverless-linked, v8.19.6, v9.1.6, v9.0.9, v8.18.9, v9.2.1, v9.3.0

#135903 [9.1] [Test] Replace 0.0.0 version with "detached" property on ElasticsearchDistibution (#134584)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalDistributionDownloadPluginFuncTest.groovy
  build-tools-internal/src/main/groovy/elasticsearch.bc-upgrade-test.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionDownloadPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/ElasticsearchDistribution.java
  modules/ingest-geoip/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/ingest/geoip/FullClusterRestartIT.java
  qa/full-cluster-restart/build.gradle
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartArchivedSettingsIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartDownsampleIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/LogsIndexModeFullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/AbstractRollingUpgradeTestCase.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/AbstractRollingUpgradeWithSecurityTestCase.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/FileSettingsUpgradeIT.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/ParameterizedRollingUpgradeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/LocalDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/SnapshotDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/Version.java
  x-pack/plugin/ent-search/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/application/FullClusterRestartIT.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/Clusters.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/CohereServiceMixedIT.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/HuggingFaceServiceMixedIT.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/MixedClusterSpecTestCase.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/MixedClustersSpec.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/OpenAIServiceMixedIT.java
  x-pack/plugin/inference/qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/xpack/application/InferenceUpgradeTestCase.java
  x-pack/plugin/logsdb/qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/StandardToLogsDbIndexModeRollingUpgradeIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityBWCToRCS1ClusterRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityBWCToRCS2ClusterRestIT.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/AbstractXpackFullClusterRestartTestCase.java
Labels: >non-issue, >test, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, serverless-linked, v9.1.6

#135734 ESQL: Fill in topn values if competitive
  docs/changelog/135734.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/topn/TopNOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/topn/TopNOperatorTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v9.3.0

#135905 Mute org.elasticsearch.xpack.esql.plugin.DataNodeRequestSenderIT.testSearchWhileRelocating
  muted-tests.yml
Labels: >non-issue, :Delivery/Build, >test-mute, Team:Delivery, auto-merge-without-approval, v8.19.6

#135844 rest-api-spec: add project.tags API
  rest-api-spec/src/main/resources/rest-api-spec/api/project.tags.json
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-backport, v9.2.0, v9.3.0

#135911 [9.1] Limit default allocated processors for the test cluster (#133633)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalTestClustersPlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultSettingsProvider.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v9.1.6

#135910 [8.19] Limit default allocated processors for the test cluster (#133633)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalTestClustersPlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultSettingsProvider.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.19.6

#135924 [9.0] [Test] Replace 0.0.0 version with "detached" property on ElasticsearchDistibution (#134584)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalDistributionDownloadPluginFuncTest.groovy
  build-tools-internal/src/main/groovy/elasticsearch.bc-upgrade-test.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/InternalDistributionDownloadPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/RestTestBasePlugin.java
  build-tools/src/main/java/org/elasticsearch/gradle/ElasticsearchDistribution.java
  modules/ingest-geoip/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/ingest/geoip/FullClusterRestartIT.java
  qa/full-cluster-restart/build.gradle
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartArchivedSettingsIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartDownsampleIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/LogsIndexModeFullClusterRestartIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/QueryBuilderBWCIT.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/AbstractRollingUpgradeTestCase.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/FileSettingsUpgradeIT.java
  qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/ParameterizedRollingUpgradeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalClusterFactory.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/AbstractLocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalClusterSpec.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/LocalSpecBuilder.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/LocalDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/distribution/SnapshotDistributionResolver.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/util/Version.java
  x-pack/plugin/ent-search/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/application/FullClusterRestartIT.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/Clusters.java
  x-pack/plugin/esql/qa/server/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/mixed/MixedClusterEsqlSpecIT.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/CohereServiceMixedIT.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/HuggingFaceServiceMixedIT.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/MixedClusterSpecTestCase.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/MixedClustersSpec.java
  x-pack/plugin/inference/qa/mixed-cluster/src/javaRestTest/java/org/elasticsearch/xpack/inference/qa/mixed/OpenAIServiceMixedIT.java
  x-pack/plugin/inference/qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/xpack/application/InferenceUpgradeTestCase.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityBWCToRCS1ClusterRestIT.java
  x-pack/plugin/security/qa/multi-cluster/src/javaRestTest/java/org/elasticsearch/xpack/remotecluster/RemoteClusterSecurityBWCToRCS2ClusterRestIT.java
  x-pack/plugin/shutdown/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java
  x-pack/qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/xpack/restart/AbstractXpackFullClusterRestartTestCase.java
Labels: >test, :Delivery/Build, backport, auto-merge-without-approval, v9.0.9

#135614 `ccs_minimize_roundtrips` should default to `true` for async search for CPS
  modules/lang-mustache/src/main/java/org/elasticsearch/script/mustache/RestSearchTemplateAction.java
  modules/reindex/src/main/java/org/elasticsearch/reindex/AbstractBulkByQueryRestHandler.java
  server/src/main/java/org/elasticsearch/rest/action/search/RestSearchAction.java
  x-pack/plugin/async-search/src/main/java/org/elasticsearch/xpack/search/RestSubmitAsyncSearchAction.java
  x-pack/plugin/fleet/src/main/java/org/elasticsearch/xpack/fleet/rest/RestFleetSearchAction.java
  x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/rest/RestRollupSearchAction.java
Labels: >refactoring, Team:Search Foundations, :Search Foundations/CCS, serverless-linked, v9.3.0

#135874 Remove transport version V_7_0_0
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationSerializationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/AuthenticationTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authc/SubjectTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStoreTests.java
Labels: :Core/Infra/Transport API, >refactoring, :Security/Security, Team:Core/Infra, Team:Security, skip-transport-version-generation, v9.3.0

#135897 Apply source excludes early when retrieving the _inference_fields
  docs/changelog/135897.yaml
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchSourcePhase.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/30_semantic_text_inference.yml
Labels: >bug, auto-backport, Team:Search Relevance, :Search Relevance/Search, v9.2.1, v9.3.0

#135954 [9.2] Apply source excludes early when retrieving the _inference_fields (#135897)
  docs/changelog/135897.yaml
  server/src/main/java/org/elasticsearch/index/get/ShardGetService.java
  server/src/main/java/org/elasticsearch/search/fetch/subphase/FetchSourcePhase.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/30_semantic_text_inference.yml
Labels: >bug, backport, auto-merge-without-approval, Team:Search Relevance, :Search Relevance/Search, v9.2.1

#135723 Updating EvaluatorImplementer to add generated evaluators for MvContains
  x-pack/plugin/esql/compute/ann/src/main/java/org/elasticsearch/compute/ann/Evaluator.java
  x-pack/plugin/esql/compute/gen/src/main/java/org/elasticsearch/compute/gen/EvaluatorImplementer.java
  x-pack/plugin/esql/compute/gen/src/main/java/org/elasticsearch/compute/gen/EvaluatorProcessor.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsBooleanEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsBytesRefEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsDoubleEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsIntEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsLongEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContains.java
Labels: >non-issue, Team:Analytics, external-contributor, auto-backport, :Analytics/ES|QL, v9.3.0

#135955 [9.2] Fix testStopQueryInlineStats - allow wider range of values (#135812)
  muted-tests.yml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterAsyncQueryStopIT.java
Labels: >test, backport, auto-merge-without-approval, :Analytics/ES|QL, v9.2.1

#135982 [8.19] Split on line feed when parsing transport files in the build (#135978)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionDefinition.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionUpperBound.java
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v8.19.6

#134361 Add `ThreadWatchdog` to `ClusterApplierService`
  docs/changelog/134361.yaml
  server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/elasticsearch/common/network/ThreadWatchdog.java
  server/src/main/java/org/elasticsearch/common/settings/ClusterSettings.java
  server/src/test/java/org/elasticsearch/action/admin/indices/shards/TransportIndicesShardStoresActionTests.java
  server/src/test/java/org/elasticsearch/cluster/InternalClusterInfoServiceSchedulingTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/ClusterAllocationSimulationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocatorTests.java
  server/src/test/java/org/elasticsearch/cluster/service/ClusterApplierServiceWatchdogTests.java
  server/src/test/java/org/elasticsearch/common/network/ThreadWatchdogTests.java
  server/src/test/java/org/elasticsearch/gateway/GatewayServiceTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/ESAllocationTestCase.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AnomalyJobCRUDIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/AutodetectResultProcessorIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/EstablishedMemUsageIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobModelSnapshotCRUDIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobResultsProviderIT.java
  x-pack/plugin/ml/src/internalClusterTest/java/org/elasticsearch/xpack/ml/integration/JobStorageDeletionTaskIT.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/action/TransportGetTrainedModelsStatsActionTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/datafeed/DatafeedJobBuilderTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/ingest/InferenceProcessorFactoryTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/persistence/JobResultsPersisterTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/task/OpenJobPersistentTasksExecutorTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/utils/persistence/ResultsPersisterServiceTests.java
  x-pack/plugin/slm/src/test/java/org/elasticsearch/xpack/slm/SnapshotLifecycleServiceTests.java
Labels: >enhancement, :Distributed Coordination/Cluster Coordination, auto-merge-without-approval, Supportability, serverless-linked, Team:Distributed Coordination, v9.3.0

#135987 Avoid rewrite round_to with expensive queries
  docs/changelog/135987.yaml
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/ReplaceRoundToWithQueryAndTags.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/ReplaceRoundToWithQueryAndTagsTests.java
Labels: >bug, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.2.1, v9.3.0

#135973 Change keep_words_path type from array to string
  docs/reference/text-analysis/analysis-keep-words-tokenfilter.md
Labels: >docs, Team:Docs, external-contributor, Team:Search Relevance, :Search Relevance/Search, v9.3.0

#135591 Added required Google Workspace Scopes for es-connectors-gmail.md
  docs/reference/search-connectors/es-connectors-gmail.md
Labels: >docs, Team:Docs, external-contributor, auto-backport, v9.0.0, v9.1.0, v9.2.0, v9.3.0

#136006 [9.1] Update es-connectors-gmail.md (#135591)
  docs/reference/search-connectors/es-connectors-gmail.md
Labels: >docs, backport, Team:Docs, external-contributor, auto-merge-without-approval, v9.1.6

#135920 [DOCS] Connectors release notes for 9.0.8
  docs/reference/search-connectors/release-notes.md
Labels: >docs, Team:Docs, auto-backport, documentation, v9.1.0, v9.2.0, v9.0.8, v9.0.9

#135894 Add release notes for v8.18.8 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.18.8.asciidoc
Labels: >docs, Team:Docs, v8.18.9

#135882 Add release notes for v8.19.5 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.19.5.asciidoc
Labels: >docs, Team:Docs, v8.19.6

#135902 Reinstate comment lost in #135008
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
Labels: >non-issue, :Distributed Coordination/Cluster Coordination, Team:Distributed Coordination, v9.3.0

#135835 Reinstate block order in `testSnapshotShutdownProgressTracker`
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SnapshotShutdownIT.java
Labels: >test, :Distributed Indexing/Distributed, auto-backport, Team:Distributed Indexing, v9.1.6, v9.0.9, v9.2.1, v9.3.0

#135548 Changes FailedToCommitClusterStateException to NotMasterException
  server/src/main/java/org/elasticsearch/cluster/NotMasterException.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/service/MasterService.java
Labels: >non-issue, Team:Distributed Coordination, :Distributed Coordination/Distributed, v9.3.0

#135346 Cross-project search index expression rewriting
  server/src/main/java/org/elasticsearch/ElasticsearchException.java
  server/src/main/java/org/elasticsearch/action/IndicesRequest.java
  server/src/main/java/org/elasticsearch/action/ResolvedIndexExpression.java
  server/src/main/java/org/elasticsearch/action/ResolvedIndexExpressions.java
  server/src/main/java/org/elasticsearch/action/admin/indices/resolve/ResolveIndexAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexAbstractionResolver.java
  server/src/main/java/org/elasticsearch/search/crossproject/CrossProjectIndexExpressionsRewriter.java
  server/src/main/java/org/elasticsearch/search/crossproject/CrossProjectIndexResolutionValidator.java
  server/src/main/java/org/elasticsearch/search/crossproject/CrossProjectModeDecider.java
  server/src/main/java/org/elasticsearch/search/crossproject/TargetProjects.java
  server/src/main/resources/transport/definitions/referable/resolved_index_expressions.csv
  server/src/main/resources/transport/upper_bounds/9.3.csv
  server/src/test/java/org/elasticsearch/action/admin/indices/resolve/TransportResolveIndexActionTests.java
  server/src/test/java/org/elasticsearch/search/crossproject/CrossProjectIndexExpressionsRewriterTests.java
  server/src/test/java/org/elasticsearch/search/crossproject/CrossProjectIndexResolutionValidatorTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/SecurityExtension.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/AuthorizedProjectsResolver.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/AuthorizationService.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolver.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/AuthorizationServiceTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java
Labels: >non-issue, :Security/Security, Team:Security, auto-merge-without-approval, serverless-linked, v9.3.0

#136018 [DOCS] Add security advisory for 8.18.8 release notes
  docs/reference/release-notes/8.18.8.asciidoc
Labels: >docs, Team:Docs, auto-merge-without-approval, documentation, v8.18.8, v8.18.9

#135994 Cardinality Aggregator Throws UnsupportedOperationException When Field Type is Vector
  docs/changelog/135994.yaml
  server/src/main/java/org/elasticsearch/index/mapper/vectors/VectorDVLeafFieldData.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorTests.java
Labels: >bug, auto-backport, :Search Relevance/Vectors, Team:Search Relevance, v8.19.6, v9.1.6, v9.2.1, v9.3.0

#136026 [9.1] Cardinality Aggregator Throws UnsupportedOperationException When Field Type is Vector (#135994)
  docs/changelog/135994.yaml
  server/src/main/java/org/elasticsearch/index/mapper/vectors/VectorDVLeafFieldData.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorTests.java
Labels: >bug, backport, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v9.1.6

#135980 Promote the reshard split shard count summary to a type
  server/src/main/java/org/elasticsearch/action/bulk/BulkOperation.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkShardRequest.java
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicatedWriteRequest.java
  server/src/main/java/org/elasticsearch/action/support/replication/ReplicationRequest.java
  server/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java
  server/src/main/java/org/elasticsearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/elasticsearch/cluster/routing/SplitShardCountSummary.java
  server/src/test/java/org/elasticsearch/cluster/metadata/IndexReshardingMetadataTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/SplitShardCountSummaryTests.java
Labels: >non-issue, :Distributed Indexing/Distributed, Team:Distributed Indexing, v9.3.0

#136025 [8.19] Cardinality Aggregator Throws UnsupportedOperationException When Field Type is Vector (#135994)
  docs/changelog/135994.yaml
  server/src/main/java/org/elasticsearch/index/mapper/vectors/VectorDVLeafFieldData.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorTests.java
Labels: >bug, backport, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v8.19.6

#136027 [9.2] Cardinality Aggregator Throws UnsupportedOperationException When Field Type is Vector (#135994)
  docs/changelog/135994.yaml
  server/src/main/java/org/elasticsearch/index/mapper/vectors/VectorDVLeafFieldData.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorTests.java
Labels: >bug, backport, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v9.2.1

#136037 Remove V_8_0_0 transport version from xpack
  x-pack/plugin/core/src/main/java/org/elasticsearch/protocol/xpack/XPackInfoRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/protocol/xpack/XPackInfoResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/protocol/xpack/graph/GraphExploreRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ExplainLifecycleRequest.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/MlMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/action/GetTrainedModelsStatsAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/datafeed/AggProvider.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/assignment/TrainedModelAssignmentMetadata.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/FillMaskConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/FillMaskConfigUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/NerConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/NerConfigUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/PassThroughConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/PassThroughConfigUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextClassificationConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextClassificationConfigUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextEmbeddingConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/TextEmbeddingConfigUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ZeroShotClassificationConfig.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/inference/trainedmodel/ZeroShotClassificationConfigUpdate.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/config/DataDescription.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/rollup/job/RollupJobStatus.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/action/saml/SamlAuthenticateResponse.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/support/TokensInvalidationResult.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/cert/CertificateInfo.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/inference/TrainedModelConfigTests.java
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, v9.3.0

#135747 Refactor remote cluster interceptor and tests
  x-pack/plugin/security/qa/rcs-extension/src/main/java/org/elasticsearch/xpack/security/rcs/extension/TestRemoteClusterSecurityExtension.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/CrossClusterAccessTransportInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/RemoteClusterTransportInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptor.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/transport/ServerTransportFilter.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/AbstractServerTransportFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/AbstractServerTransportInterceptorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/CrossClusterAccessServerTransportFilterTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/CrossClusterAccessTransportInterceptorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/SecurityServerTransportInterceptorTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/ServerTransportFilterTests.java
Labels: >refactoring, :Security/Security, Team:Security, auto-merge-without-approval, serverless-linked, v9.3.0

#135991 MV_CONTAINS avoid autoboxing
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BooleanBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/BytesRefBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/DoubleBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/FloatBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/IntBlock.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/data/LongBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/data/X-Block.java.st
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/spatial-grid.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/string.csv-spec
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsBooleanEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsBytesRefEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsDoubleEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsIntEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsLongEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContains.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/multivalue/MvContainsTests.java
Labels: >non-issue, Team:Analytics, external-contributor, auto-backport, :Analytics/ES|QL, v9.3.0

#136038 Remove 7.1 and 7.2 transport version constants
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/SecurityFeatureSetUsage.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/support/TokensInvalidationResult.java
  x-pack/plugin/security/src/internalClusterTest/java/org/elasticsearch/xpack/security/authc/TokenAuthIntegTests.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/TokenServiceTests.java
Labels: :Core/Infra/Core, >refactoring, :Security/Security, Team:Core/Infra, Team:Security, v9.3.0

#135916 [DOCS] Connectors release notes for 8.18.8
  docs/reference/connector/docs/connectors-release-notes.asciidoc
Labels: >docs, Team:Docs, auto-backport, documentation, v8.19.0, v8.18.9

#135895 [ES|QL] Add optional parameters support to KQL function
  docs/changelog/135895.yaml
  docs/reference/query-languages/esql/_snippets/functions/examples/kql.md
  docs/reference/query-languages/esql/_snippets/functions/functionNamedParams/kql.md
  docs/reference/query-languages/esql/_snippets/functions/layout/kql.md
  docs/reference/query-languages/esql/_snippets/functions/parameters/kql.md
  docs/reference/query-languages/esql/_snippets/functions/types/kql.md
  docs/reference/query-languages/esql/images/functions/kql.svg
  docs/reference/query-languages/esql/kibana/definition/functions/kql.json
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/kql-function.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/fulltext/Kql.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/querydsl/query/KqlQuery.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/fulltext/KqlErrorTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/fulltext/KqlTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/querydsl/query/KqlQueryTests.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlAstBuilder.java
  x-pack/plugin/kql/src/main/java/org/elasticsearch/xpack/kql/parser/KqlParsingContext.java
  x-pack/plugin/kql/src/test/java/org/elasticsearch/xpack/kql/parser/KqlParserFieldlessQueryTests.java
  x-pack/plugin/kql/src/yamlRestTest/resources/rest-api-spec/test/kql/20_kql_match_query.yml
Labels: >enhancement, Team:Search Relevance, :Search Relevance/ES|QL, v9.3.0

#136029 link to rcs settings added in conf page
  docs/reference/elasticsearch/configuration-reference/index.md
Labels: >docs, Team:Docs, v9.3.0

#135918 [DOCS] Connectors release notes for 8.19.5
  docs/reference/connector/docs/connectors-release-notes.asciidoc
Labels: >docs, Team:Docs, documentation, v8.19.6

#136004 Pass MockNode LinkedProjectConfigService to MockTransportService
  test/framework/src/main/java/org/elasticsearch/node/MockNode.java
  test/framework/src/main/java/org/elasticsearch/test/transport/MockTransportService.java
Labels: >test, :Distributed Coordination/Network, >refactoring, Team:Distributed Coordination, v9.3.0

#136041 Finalize release notes for v9.0.8 release
  docs/release-notes/breaking-changes.md
  docs/release-notes/changelog-bundles/9.0.8.yml
  docs/release-notes/changelog-bundles/9.1.5.yml
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
Labels: >docs, Team:Docs, v9.0.8, v9.3.0

#135778 Add on-disk rescoring to disk BBQ
  docs/changelog/135778.yaml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/180_update_dense_vector_type.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/search.vectors/46_knn_search_bbq_ivf.yml
  server/src/internalClusterTest/java/org/elasticsearch/index/store/DirectIOIT.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/diskbbq/ES920DiskBBQVectorsFormat.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/diskbbq/ES920DiskBBQVectorsReader.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/diskbbq/ES920DiskBBQVectorsWriter.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/diskbbq/IVFVectorsReader.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/diskbbq/IVFVectorsWriter.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/diskbbq/next/ESNextDiskBBQVectorsFormat.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/diskbbq/next/ESNextDiskBBQVectorsReader.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/diskbbq/next/ESNextDiskBBQVectorsWriter.java
  server/src/main/java/org/elasticsearch/index/mapper/MapperFeatures.java
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
  server/src/test/java/org/elasticsearch/index/codec/vectors/diskbbq/ES920DiskBBQVectorsFormatTests.java
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldTypeTests.java
Labels: >feature, :Search Relevance/Vectors, Team:Search Relevance, v9.3.0

#135104 Esql - Add base class for Physical Plan Optimizer Tests
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/AbstractLocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/IgnoreNullMetricsPhysicalPlannerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/rules/physical/local/ReplaceRoundToWithQueryAndTagsTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.3.0

#136088 [DOCS][Backport] Add 8.18.8 release notes
  docs/reference/connector/docs/connectors-release-notes.asciidoc
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.18.8.asciidoc
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, documentation, v8.19.6

#136079 [8.19] Fix misleading error message in tests BreakerTestUtil (#136069)
  test/framework/src/main/java/org/elasticsearch/test/BreakerTestUtil.java
Labels: >non-issue, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.19.6

#136003 Adjust page size estimate for time-series queries
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/TimeSeriesSourceOperator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AbstractPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlannerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/TestPhysicalOperationProviders.java
Labels: >non-issue, auto-backport, :StorageEngine/TSDB, Team:StorageEngine, v9.2.1, v9.3.0

#135965 Fixing ChunkingSettingsBuilder test for generating rerank chunking settings
  muted-tests.yml
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/chunking/ChunkingSettingsBuilderTests.java
Labels: >test, :ml, Team:ML, auto-backport, v9.2.0, v9.3.0

#136095 [9.2] Adjust page size estimate for time-series queries (#136003)
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/TimeSeriesSourceOperator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/AbstractPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/EsPhysicalOperationProviders.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/PhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlannerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/planner/TestPhysicalOperationProviders.java
Labels: >non-issue, backport, auto-merge-without-approval, :StorageEngine/TSDB, Team:StorageEngine, v9.2.1

#136098 [9.1] [ML] Make the Cohere service Model Id field is required (#136017)
  docs/changelog/136017.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/cohere/CohereService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/CohereServiceTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v9.1.6

#136100 Fixing ChunkingSettingsBuilder test for generating rerank chunking settings (#135965)
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/chunking/ChunkingSettingsBuilderTests.java
Labels: >test, :ml, backport, Team:ML, v9.2.0, v9.2.1

#136111 [9.0] Fix lucene compat tests by keeping asserts disabled (#136094)
  muted-tests.yml
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartDownsampleIT.java
  qa/full-cluster-restart/src/javaRestTest/java/org/elasticsearch/upgrades/FullClusterRestartIT.java
Labels: >non-issue, >test, :Delivery/Build, backport, auto-merge-without-approval, v9.0.9

#136023 Split null/empty chunking_settings YAML tests
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/25_semantic_text_field_mapping_chunking.yml
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/25_semantic_text_field_mapping_chunking_bwc.yml
Labels: >non-issue, auto-backport, :SearchOrg/Relevance, Team:Search - Relevance, v8.19.6, v9.1.6, v9.2.1, v9.3.0

#134803 Adding asynchronous fetching for DirectIO directory
  qa/vector/src/main/java/module-info.java
  qa/vector/src/main/java/org/elasticsearch/test/knn/KnnIndexer.java
  server/src/main/java/org/elasticsearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/elasticsearch/index/store/AsyncDirectIOIndexInput.java
  server/src/main/java/org/elasticsearch/index/store/FsDirectoryFactory.java
  server/src/test/java/org/elasticsearch/index/store/AsyncDirectIODirectoryTests.java
  server/src/test/java/org/elasticsearch/index/store/AsyncDirectIOIndexInputTests.java
Labels: >non-issue, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Foundations, Team:Search Relevance, :Search Foundations/Search, v9.3.0

#136116 [8.19] Split null/empty chunking_settings YAML tests (#136023)
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/25_semantic_text_field_mapping_chunking.yml
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/25_semantic_text_field_mapping_chunking_bwc.yml
Labels: >non-issue, backport, auto-merge-without-approval, :SearchOrg/Relevance, Team:Search - Relevance, v8.19.6

#136122 [9.2] [ML] Ensure queued AbstractRunnables are notified when executor stops (#135966)
  docs/changelog/135966.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/PriorityProcessWorkerExecutorService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/AbstractProcessWorkerExecutorService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/pytorch/PriorityProcessWorkerExecutorServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/ProcessWorkerExecutorServiceTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v9.2.1

#136126 [9.0] [ML] Ensure queued AbstractRunnables are notified when executor stops (#135966)
  docs/changelog/135966.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/PriorityProcessWorkerExecutorService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/AbstractProcessWorkerExecutorService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/pytorch/PriorityProcessWorkerExecutorServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/ProcessWorkerExecutorServiceTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v9.0.9

#136125 [9.1] [ML] Ensure queued AbstractRunnables are notified when executor stops (#135966)
  docs/changelog/135966.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/pytorch/PriorityProcessWorkerExecutorService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/AbstractProcessWorkerExecutorService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/pytorch/PriorityProcessWorkerExecutorServiceTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/job/process/ProcessWorkerExecutorServiceTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v9.1.6

#136057 Cuvs snapshot update
  gradle/verification-metadata.xml
  x-pack/plugin/gpu/build.gradle
  x-pack/plugin/gpu/src/internalClusterTest/java/org/elasticsearch/plugin/gpu/CuVSProviderDelegate.java
  x-pack/plugin/gpu/src/main/java/org/elasticsearch/xpack/gpu/codec/DatasetUtils.java
  x-pack/plugin/gpu/src/main/java/org/elasticsearch/xpack/gpu/codec/DatasetUtilsImpl.java
Labels: >non-issue, auto-backport, :Search Relevance/Vectors, Team:Search Relevance, v9.2.1, v9.3.0

#136159 [9.0] Fix tests in `SetSingleNodeAllocateStepTests` (#135724)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/SetSingleNodeAllocateStepTests.java
Labels: >test, :Data Management/ILM+SLM, backport, Team:Data Management, auto-merge-without-approval, v9.0.9

#136158 [9.1] Fix tests in `SetSingleNodeAllocateStepTests` (#135724)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ilm/SetSingleNodeAllocateStepTests.java
Labels: >test, :Data Management/ILM+SLM, backport, Team:Data Management, auto-merge-without-approval, v9.1.6

#136169 Manually fix BWC versions for tests in patch/serverless-fix branch
  .buildkite/pipelines/intake.yml
  .buildkite/pipelines/periodic-java-ea.yml
  .buildkite/pipelines/periodic.yml
  .ci/snapshotBwcVersions
Labels: >non-issue, :Delivery/Build, Team:Delivery, v9.3.0

#136099 [8.19] [ML] Make the Cohere service Model Id field is required (#136017)
  docs/changelog/136017.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/cohere/CohereService.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/cohere/CohereServiceTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v8.19.6

#136103 [ES|QL] Enable the TEXT_EMBEDDING function in non-snapshot build
  docs/changelog/136103.yaml
  docs/reference/query-languages/esql/_snippets/functions/description/text_embedding.md
  docs/reference/query-languages/esql/_snippets/functions/examples/text_embedding.md
  docs/reference/query-languages/esql/_snippets/functions/layout/text_embedding.md
  docs/reference/query-languages/esql/_snippets/functions/parameters/text_embedding.md
  docs/reference/query-languages/esql/_snippets/lists/dense-vector-functions.md
  docs/reference/query-languages/esql/functions-operators/dense-vector-functions.md
  docs/reference/query-languages/esql/kibana/definition/functions/text_embedding.json
  docs/reference/query-languages/esql/kibana/docs/functions/text_embedding.md
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/text-embedding.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/inference/TextEmbedding.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/inference/TextEmbeddingErrorTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/inference/TextEmbeddingTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/inference/InferenceResolverTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/60_usage.yml
Labels: >feature, test-release, Team:Search Relevance, :Search Relevance/ES|QL, v9.3.0

#136076 Adds "Querying semantic_text fields" section
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
  docs/reference/query-languages/query-dsl/query-dsl-semantic-query.md
Labels: >docs, Team:Docs, auto-backport, documentation, v9.2.0, v9.3.0

#136176 [8.18] [9.0][Build]Remove superflous ironbank docker test (#136170)
  qa/packaging/src/test/java/org/elasticsearch/packaging/test/DockerTests.java
Labels: backport, auto-merge-without-approval, v8.18.9

#136180 [9.2] Adds "Querying semantic_text fields" section (#136076)
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
  docs/reference/query-languages/query-dsl/query-dsl-semantic-query.md
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, documentation, v9.2.1

#136152 Remove trace logger in entitlements transformer on default path
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/instrumentation/Transformer.java
  muted-tests.yml
Labels: >non-issue, Team:Core/Infra, :Core/Infra/Entitlements, v9.3.0

#136183 [8.18] Use "node.processors" setting starting from 7.4.0 (#136175)
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultSettingsProvider.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.18.9

#136182 [9.1] Use "node.processors" setting starting from 7.4.0 (#136175)
  build-tools/src/main/java/org/elasticsearch/gradle/testclusters/ElasticsearchNode.java
  test/test-clusters/src/main/java/org/elasticsearch/test/cluster/local/DefaultSettingsProvider.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v9.1.6

#136119 Fix logsdb settings provider mapping filters
  docs/changelog/136119.yaml
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsdbIndexModeSettingsProvider.java
  x-pack/plugin/logsdb/src/test/java/org/elasticsearch/xpack/logsdb/LogsdbIndexModeSettingsProviderTests.java
  x-pack/plugin/logsdb/src/yamlRestTest/resources/rest-api-spec/test/30_logsdb_default_mapping.yml
Labels: >bug, auto-backport, Team:StorageEngine, :StorageEngine/Logs, v9.2.0, v8.19.6, v9.1.6, v9.0.9, v8.18.9, v9.3.0

#135706 Replace pre publication failed to commit cluster state exceptions
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/cluster/coordination/FailedToCommitClusterStateException.java
Labels: >refactoring, Team:Distributed Coordination, :Distributed Coordination/Distributed, v9.3.0

#136171 Fix typo in ValuesSourceConfig method name
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregator.java
  server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/StringTermsAggregatorFromFilters.java
  server/src/main/java/org/elasticsearch/search/aggregations/metrics/CardinalityAggregatorFactory.java
  server/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceConfig.java
  server/src/test/java/org/elasticsearch/search/aggregations/support/ValuesSourceConfigTests.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/ES|QL, v9.3.0

#134243 Improve serialization of translog operations
  server/src/main/java/org/elasticsearch/common/bytes/ReleasableBytesReference.java
  server/src/main/java/org/elasticsearch/common/io/stream/RecyclerBytesStreamOutput.java
  server/src/main/java/org/elasticsearch/index/engine/TranslogDirectoryReader.java
  server/src/main/java/org/elasticsearch/index/mapper/Uid.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/main/java/org/elasticsearch/index/translog/OperationListener.java
  server/src/main/java/org/elasticsearch/index/translog/Translog.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogHeaderWriter.java
  server/src/main/java/org/elasticsearch/index/translog/TranslogWriter.java
  server/src/main/resources/transport/definitions/referable/reordered_translog_operations.csv
  server/src/main/resources/transport/upper_bounds/9.3.csv
  server/src/test/java/org/elasticsearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogDeletionPolicyTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogHeaderWriterTests.java
  server/src/test/java/org/elasticsearch/index/translog/TranslogTests.java
  test/framework/src/main/java/org/elasticsearch/index/engine/TranslogHandler.java
  x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/bulk/TransportBulkShardOperationsAction.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/ccr/action/ShardChangesTests.java
Labels: >non-issue, :Distributed Indexing/CRUD, serverless-linked, Team:Distributed Indexing, v9.3.0

#136193 [9.2] Fix logsdb settings provider mapping filters (#136119)
  docs/changelog/136119.yaml
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsdbIndexModeSettingsProvider.java
  x-pack/plugin/logsdb/src/test/java/org/elasticsearch/xpack/logsdb/LogsdbIndexModeSettingsProviderTests.java
  x-pack/plugin/logsdb/src/yamlRestTest/resources/rest-api-spec/test/30_logsdb_default_mapping.yml
Labels: >bug, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Logs, v9.2.1

#136197 [9.1] Fix logsdb settings provider mapping filters (#136119)
  docs/changelog/136119.yaml
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsdbIndexModeSettingsProvider.java
  x-pack/plugin/logsdb/src/test/java/org/elasticsearch/xpack/logsdb/LogsdbIndexModeSettingsProviderTests.java
  x-pack/plugin/logsdb/src/yamlRestTest/resources/rest-api-spec/test/30_logsdb_default_mapping.yml
Labels: >bug, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Logs, v9.1.6

#136194 Decouple `CpsDoesNotUseSkipUnavailableIT`'s reliance on explicit `skip_unavailable`
  server/src/internalClusterTest/java/org/elasticsearch/search/ccs/CpsDoesNotUseSkipUnavailableIT.java
Labels: >test, Team:Search Foundations, :Search Foundations/CCS, v9.3.0

#136203 Mute text embedding CSV tests.
  muted-tests.yml
Labels: >test, >test-mute, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.3.0
