Repository elastic/elasticsearch, pull requests merged in 2025-09, with the labels that each got.

#133876 [9.1] Add daily build pipeline for testing against next java EA version (#133523)
  .buildkite/pipelines/periodic-java-ea.bwc.template.yml
  .buildkite/pipelines/periodic-java-ea.template.yml
  .buildkite/pipelines/periodic-java-ea.yml
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ThirdPartyAuditTask.java
  build.gradle
  catalog-info.yaml
  distribution/tools/plugin-cli/build.gradle
  libs/plugin-scanner/build.gradle
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/vectorization/ESVectorizationProvider.java
Labels: backport, v9.1.4

#133877 [9.0] Add daily build pipeline for testing against next java EA version (#133523)
  .buildkite/pipelines/periodic-java-ea.bwc.template.yml
  .buildkite/pipelines/periodic-java-ea.template.yml
  .buildkite/pipelines/periodic-java-ea.yml
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ThirdPartyAuditTask.java
  build.gradle
  catalog-info.yaml
  distribution/tools/plugin-cli/build.gradle
  libs/plugin-scanner/build.gradle
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/vectorization/ESVectorizationProvider.java
Labels: backport, v9.0.7

#132967 ES-11331 streams params restriction
  docs/changelog/132967.yaml
  modules/streams/src/yamlRestTest/resources/rest-api-spec/test/streams/logs/20_substream_restrictions.yml
  modules/streams/src/yamlRestTest/resources/rest-api-spec/test/streams/logs/30_param_restrictions.yml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/ActionModule.java
  server/src/main/java/org/elasticsearch/action/bulk/BulkRequest.java
  server/src/main/java/org/elasticsearch/action/bulk/IncrementalBulkService.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportAbstractBulkAction.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestBulkAction.java
  server/src/main/java/org/elasticsearch/rest/action/document/RestIndexAction.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestBulkActionTests.java
  server/src/test/java/org/elasticsearch/rest/action/document/RestIndexActionTests.java
Labels: >enhancement, :Data Management/Data streams, Team:Data Management, v9.2.0

#133848 Delay S3 repo warning if default region absent
  docs/changelog/133848.yaml
  modules/repository-s3/qa/insecure-credentials/src/test/java/org/elasticsearch/repositories/s3/RepositoryCredentialsTests.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3DefaultRegionHolder.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3RepositoryPlugin.java
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Service.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3BlobContainerRetriesTests.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3ClientSettingsTests.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3DefaultRegionHolderTests.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3RepositoryTests.java
  modules/repository-s3/src/test/java/org/elasticsearch/repositories/s3/S3ServiceTests.java
Labels: >bug, :Distributed Coordination/Snapshot/Restore, auto-merge-without-approval, auto-backport, Team:Distributed Coordination, v9.2.0, v9.1.4, v8.19.4

#132174 [9.1] Upgrade MinIO (& work around bug) (#131815)
  test/fixtures/minio-fixture/src/main/java/org/elasticsearch/test/fixtures/minio/MinioTestContainer.java
  x-pack/plugin/snapshot-repo-test-kit/qa/minio/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/analyze/MinioRepositoryAnalysisRestIT.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, backport, auto-merge-without-approval, Team:Distributed Coordination, v9.1.4

#132185 [9.1] Extend HTTP timeout in repo analysis tests (#131744)
  x-pack/plugin/snapshot-repo-test-kit/src/test/java/org/elasticsearch/repositories/blobstore/testkit/analyze/AbstractRepositoryAnalysisRestTestCase.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, backport, auto-merge-without-approval, Team:Distributed Coordination, v9.1.4

#131602 Log failure in `internalSend`
  server/src/main/java/org/elasticsearch/transport/OutboundHandler.java
Labels: >non-issue, :Distributed Coordination/Network, backport, auto-merge-without-approval, v8.18.7

#133915 rest-api-spec: mark search_mvt as stable
  rest-api-spec/src/main/resources/rest-api-spec/api/search_mvt.json
Labels: >non-issue, :Analytics/Geo, Team:Analytics, auto-backport, v9.2.0, v9.1.4, v9.0.7, v8.19.4

#133910 [8.18] Check entitlements for URLClassLoader.newInstance (#132725)
  libs/entitlement/bridge/src/main/java/org/elasticsearch/entitlement/bridge/EntitlementChecker.java
  libs/entitlement/qa/entitlement-test-plugin/src/main/java/org/elasticsearch/entitlement/qa/test/JvmActions.java
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/api/ElasticsearchEntitlementChecker.java
Labels: >non-issue, backport, Team:Core/Infra, auto-merge-without-approval, :Core/Infra/Entitlements, v8.18.7

#133924 [9.0] rest-api-spec: restore warning about internal use (#133782)
  rest-api-spec/src/main/resources/rest-api-spec/api/_internal.delete_desired_nodes.json
  rest-api-spec/src/main/resources/rest-api-spec/api/_internal.update_desired_nodes.json
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v9.0.7

#133923 [9.1] rest-api-spec: restore warning about internal use (#133782)
  rest-api-spec/src/main/resources/rest-api-spec/api/_internal.delete_desired_nodes.json
  rest-api-spec/src/main/resources/rest-api-spec/api/_internal.update_desired_nodes.json
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v9.1.4

#133933 [8.18] Remove legacy log4j-1.2 dependencies completely (#132238)
  x-pack/plugin/security/src/main/java/module-info.java
Labels: >non-issue, :Core/Infra/Logging, backport, Team:Core/Infra, external-contributor, auto-merge-without-approval, v8.18.7

#133487 Move away from DistributionType.DEFAULT in downsample YAML tests
  x-pack/plugin/downsample/build.gradle
  x-pack/plugin/downsample/qa/rest/build.gradle
  x-pack/plugin/downsample/qa/rest/src/yamlRestTest/java/org/elasticsearch/xpack/downsample/DownsampleRestIT.java
  x-pack/plugin/downsample/qa/rest/src/yamlRestTest/java/org/elasticsearch/xpack/downsample/DownsampleWithBasicRestIT.java
  x-pack/plugin/downsample/qa/rest/src/yamlRestTest/java/org/elasticsearch/xpack/downsample/DownsampleWithSecurityRestIT.java
Labels: >refactoring, :StorageEngine/Downsampling, Team:StorageEngine, v9.2.0

#133940 [DOCS]: Backport release notes for search connectors
  docs/reference/search-connectors/release-notes.md
Labels: >docs, Team:Docs, auto-merge-without-approval, documentation, v9.2.0, v9.0.6, v9.1.3

#133952 Fix warning when creating an OTel data stream
  docs/changelog/133952.yaml
  x-pack/plugin/logsdb/src/main/java/org/elasticsearch/xpack/logsdb/LogsdbIndexModeSettingsProvider.java
  x-pack/plugin/logsdb/src/test/java/org/elasticsearch/xpack/logsdb/LogsdbIndexModeSettingsProviderTests.java
  x-pack/plugin/otel-data/src/yamlRestTest/resources/rest-api-spec/test/20_metrics_tests.yml
Labels: >bug, external-contributor, :StorageEngine/TSDB, Team:StorageEngine, v9.2.0

#133956 [Test] Fix ClusterInfoServiceIT testMaxQueueLatenciesInClusterInfo
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterInfoServiceIT.java
Labels: >test, :Distributed Coordination/Allocation, auto-merge-without-approval, Team:Distributed Coordination, v9.2.0

#133948 [9.1] Bump asm to 9.8 for JDK 25 support in remaining places (#133938)
  modules/repository-azure/build.gradle
  test/logger-usage/build.gradle
  x-pack/plugin/security/build.gradle
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v9.1.4

#133913 Implement max for exponential histograms
  benchmarks/src/main/java/org/elasticsearch/benchmark/exponentialhistogram/ExponentialHistogramMergeBench.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/EmptyExponentialHistogram.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogram.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramGenerator.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramMerger.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramUtils.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramXContent.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/FixedCapacityExponentialHistogram.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramEqualityTests.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramMergerTests.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramUtilsTests.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramXContentTests.java
  x-pack/plugin/mapper-exponential-histogram/src/main/java/org/elasticsearch/xpack/exponentialhistogram/CompressedExponentialHistogram.java
  x-pack/plugin/mapper-exponential-histogram/src/main/java/org/elasticsearch/xpack/exponentialhistogram/ExponentialHistogramFieldMapper.java
  x-pack/plugin/mapper-exponential-histogram/src/test/java/org/elasticsearch/xpack/exponentialhistogram/ExponentialHistogramFieldMapperTests.java
  x-pack/plugin/mapper-exponential-histogram/src/yamlRestTest/resources/rest-api-spec/test/10_synthetic_source.yml
Labels: >non-issue, external-contributor, Team:StorageEngine, :StorageEngine/Mapping, v9.2.0

#133899 OTLP: ignore duplicate metric data points
  x-pack/plugin/otel-data/src/main/java/org/elasticsearch/xpack/oteldata/otlp/datapoint/DataPointGroupingContext.java
  x-pack/plugin/otel-data/src/test/java/org/elasticsearch/xpack/oteldata/otlp/datapoint/DataPointGroupingContextTests.java
  x-pack/plugin/otel-data/src/test/java/org/elasticsearch/xpack/oteldata/otlp/docbuilder/MetricDocumentBuilderTests.java
Labels: >non-issue, external-contributor, :StorageEngine/TSDB, Team:StorageEngine, v9.2.0

#133903 OTLP: determine target data stream based on attributes and scope name
  modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/RerouteProcessor.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
  x-pack/plugin/otel-data/src/main/java/org/elasticsearch/xpack/oteldata/otlp/datapoint/DataPointGroupingContext.java
  x-pack/plugin/otel-data/src/main/java/org/elasticsearch/xpack/oteldata/otlp/datapoint/TargetIndex.java
  x-pack/plugin/otel-data/src/main/java/org/elasticsearch/xpack/oteldata/otlp/docbuilder/MappingHints.java
  x-pack/plugin/otel-data/src/main/java/org/elasticsearch/xpack/oteldata/otlp/docbuilder/MetricDocumentBuilder.java
  x-pack/plugin/otel-data/src/test/java/org/elasticsearch/xpack/oteldata/otlp/datapoint/DataPointGroupingContextTests.java
  x-pack/plugin/otel-data/src/test/java/org/elasticsearch/xpack/oteldata/otlp/datapoint/TargetIndexTests.java
  x-pack/plugin/otel-data/src/test/java/org/elasticsearch/xpack/oteldata/otlp/docbuilder/MetricDocumentBuilderTests.java
  x-pack/plugin/otel-data/src/test/java/org/elasticsearch/xpack/oteldata/otlp/tsid/AttributeListTsidFunnelTests.java
Labels: >non-issue, external-contributor, :StorageEngine/TSDB, Team:StorageEngine, v9.2.0

#133920 [9.1] rest-api-spec: mark search_mvt as stable (#133915)
  rest-api-spec/src/main/resources/rest-api-spec/api/search_mvt.json
Labels: >non-issue, :Analytics/Geo, backport, Team:Analytics, auto-merge-without-approval, v9.1.4

#133974 [9.0] rest-api-spec: mark search application as beta (#133914)
  rest-api-spec/src/main/resources/rest-api-spec/api/search_application.delete.json
  rest-api-spec/src/main/resources/rest-api-spec/api/search_application.get.json
  rest-api-spec/src/main/resources/rest-api-spec/api/search_application.list.json
  rest-api-spec/src/main/resources/rest-api-spec/api/search_application.put.json
  rest-api-spec/src/main/resources/rest-api-spec/api/search_application.search.json
Labels: >non-issue, backport, auto-merge-without-approval, :SearchOrg/Relevance, Team:Search - Relevance, v9.0.7

#129637 Add explicit versions in the branches.json and use them for calculating unreleased versions for BwC tests
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/VersionPropertiesPlugin.java
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/fixtures/AbstractGitAwareGradleFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalDistributionBwcSetupPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalDistributionDownloadPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/test/rest/LegacyYamlRestCompatTestPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/AbstractTransportVersionFuncTest.groovy
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major1/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major2/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major3/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major4/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor1/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor2/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor3/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor4/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/settings.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/BranchesFileParser.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/DevelopmentBranch.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseToolsPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/UpdateBranchesJsonTask.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/BwcVersionsSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPluginSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/release/UpdateBranchesJsonTaskSpec.groovy
  build-tools-internal/src/test/java/org/elasticsearch/gradle/AbstractDistributionDownloadPluginTests.java
  build-tools/src/main/java/org/elasticsearch/gradle/VersionProperties.java
  build-tools/src/testFixtures/groovy/org/elasticsearch/gradle/fixtures/AbstractGradleFuncTest.groovy
  build.gradle
  distribution/bwc/major1/build.gradle
  distribution/bwc/major2/build.gradle
  distribution/bwc/major3/build.gradle
  distribution/bwc/major4/build.gradle
  distribution/bwc/minor1/build.gradle
  distribution/bwc/minor2/build.gradle
  distribution/bwc/minor3/build.gradle
  distribution/bwc/minor4/build.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, v9.2.0

#133524 [8.19] Add explicit versions in the branches.json (#129637)
  branches.json
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/VersionPropertiesPlugin.java
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/fixtures/AbstractGitAwareGradleFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalDistributionBwcSetupPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalDistributionDownloadPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/test/rest/LegacyYamlRestCompatTestPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/AbstractTransportVersionFuncTest.groovy
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major1/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major2/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major3/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major4/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor1/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor2/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor3/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor4/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/settings.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/BranchesFileParser.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/DevelopmentBranch.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseToolsPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/UpdateBranchesJsonTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/compat/compat/AbstractYamlRestCompatTestPlugin.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/BwcVersionsSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPluginSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/release/UpdateBranchesJsonTaskSpec.groovy
  build-tools-internal/src/test/java/org/elasticsearch/gradle/AbstractDistributionDownloadPluginTests.java
  build-tools/src/main/java/org/elasticsearch/gradle/VersionProperties.java
  build-tools/src/testFixtures/groovy/org/elasticsearch/gradle/fixtures/AbstractGradleFuncTest.groovy
  build.gradle
  distribution/bwc/major1/build.gradle
  distribution/bwc/major2/build.gradle
  distribution/bwc/major3/build.gradle
  distribution/bwc/major4/build.gradle
  distribution/bwc/minor1/build.gradle
  distribution/bwc/minor2/build.gradle
  distribution/bwc/minor3/build.gradle
  distribution/bwc/minor4/build.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Build, backport, v8.19.4

#133476 [8.18] Add explicit versions in the branches.json (#129637)
  branches.json
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/VersionPropertiesPlugin.java
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/fixtures/AbstractGitAwareGradleFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalDistributionBwcSetupPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/InternalDistributionDownloadPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/test/rest/LegacyYamlRestCompatTestPluginFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/AbstractTransportVersionFuncTest.groovy
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major1/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major2/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major3/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/major4/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor1/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor2/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor3/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/distribution/bwc/minor4/build.gradle
  build-tools-internal/src/integTest/resources/org/elasticsearch/gradle/internal/fake_git/remote/settings.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BwcVersions.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/BranchesFileParser.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/DevelopmentBranch.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/ReleaseToolsPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/release/UpdateBranchesJsonTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/test/rest/compat/compat/AbstractYamlRestCompatTestPlugin.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/BwcVersionsSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPluginSpec.groovy
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/release/UpdateBranchesJsonTaskSpec.groovy
  build-tools-internal/src/test/java/org/elasticsearch/gradle/AbstractDistributionDownloadPluginTests.java
  build-tools/src/main/java/org/elasticsearch/gradle/VersionProperties.java
  build-tools/src/testFixtures/groovy/org/elasticsearch/gradle/fixtures/AbstractGradleFuncTest.groovy
  distribution/bwc/major1/build.gradle
  distribution/bwc/major2/build.gradle
  distribution/bwc/major3/build.gradle
  distribution/bwc/major4/build.gradle
  distribution/bwc/minor1/build.gradle
  distribution/bwc/minor2/build.gradle
  distribution/bwc/minor3/build.gradle
  distribution/bwc/minor4/build.gradle
  settings.gradle
Labels: >non-issue, :Delivery/Build, backport, v8.18.7

#133945 [DiskBBQ] Make centroid oversampling depend on the visit ratio
  server/src/main/java/org/elasticsearch/index/codec/vectors/DefaultIVFVectorsReader.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/IVFVectorsReader.java
Labels: >non-issue, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#133846 Adding `_meta.template_version` to kibana reporting mappings
  x-pack/plugin/core/template-resources/src/main/resources/kibana-reporting@template.json
  x-pack/plugin/stack/src/main/java/org/elasticsearch/xpack/stack/StackTemplateRegistry.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, auto-backport, v9.2.0, v9.1.4, v8.19.4

#133977 [Buildkite] Use ubuntu2204 when testing openjdk17
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, :Delivery/Build, :Delivery/Packaging, Team:Delivery, auto-backport, v8.18.7, v8.19.4

#134010 [9.1] Describe closing channel in exception message (#133632)
  modules/transport-netty4/src/internalClusterTest/java/org/elasticsearch/transport/netty4/ESLoggingHandlerIT.java
  server/src/main/java/org/elasticsearch/transport/TcpTransport.java
Labels: >non-issue, :Distributed Coordination/Network, backport, auto-merge-without-approval, Team:Distributed Coordination, v9.1.4

#133776 Create a utility class for static SnapshotsService methods (#132521)
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java
  qa/repository-multi-version/src/test/java/org/elasticsearch/upgrades/MultiVersionRepositoryAccessIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CorruptedBlobStoreRepositoryIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/cleanup/TransportCleanupRepositoryAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDeleteIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/repositories/FinalizeSnapshotContext.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsServiceUtils.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
Labels: >non-issue, backport, Team:Distributed Coordination, v8.19.4

#133894 Account for simulated utilization threshold in WriteLoadConstraintDeciderIT
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/WriteLoadConstraintDeciderIT.java
  server/src/main/java/org/elasticsearch/cluster/routing/ShardMovementWriteLoadSimulator.java
Labels: >test, :Distributed Coordination/Allocation, Team:Distributed Coordination, v9.2.0

#134022 [9.1] Remove Transfer-Encoding from HTTP request with no content (#133775)
  docs/changelog/133775.yaml
  modules/transport-netty4/src/internalClusterTest/java/org/elasticsearch/http/netty4/Netty4IncrementalRequestHandlingIT.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4EmptyChunkHandler.java
  modules/transport-netty4/src/main/java/org/elasticsearch/http/netty4/Netty4HttpServerTransport.java
  modules/transport-netty4/src/test/java/org/elasticsearch/http/netty4/Netty4EmptyChunkHandlerTests.java
Labels: >bug, :Distributed Coordination/Network, backport, auto-merge-without-approval, Team:Distributed Coordination, v9.1.4

#133937 Fix FwC test task registration
  .buildkite/pipelines/periodic-fwc.template.yml
  .buildkite/pipelines/periodic-fwc.yml
  .buildkite/scripts/fwc-branches.sh
  .buildkite/scripts/periodic.trigger.sh
  build-tools-internal/src/main/groovy/elasticsearch.fwc-test.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport, v9.2.0, v9.1.4, v9.0.7, v8.18.7, v8.19.4

#133970 Add annotations to PR benchmark pipeline
  .buildkite/scripts/generate-pr-performance-benchmark.sh
Labels: >enhancement, :Delivery/Build, :Performance, Team:Performance, Team:Delivery, v9.2.0

#132023 Master node disconnect
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/NodeJoiningIT.java
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/elasticsearch/discovery/DiscoveryModule.java
  server/src/main/java/org/elasticsearch/node/NodeConstruction.java
  server/src/test/java/org/elasticsearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/elasticsearch/discovery/DiscoveryModuleTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/coordination/AbstractCoordinatorTestCase.java
Labels: >non-issue, :Distributed Coordination/Cluster Coordination, Team:Distributed Coordination, v9.2.0

#133831 Reconciles the Roles page
  docs/reference/elasticsearch/roles.md
Labels: >docs, Team:Docs, documentation, v9.2.0

#133242 PoolingCuVSResourceManager with memory availability
  x-pack/plugin/gpu/src/main/java/org/elasticsearch/xpack/gpu/codec/CuVSResourceManager.java
  x-pack/plugin/gpu/src/main/java/org/elasticsearch/xpack/gpu/codec/ESGpuHnswVectorsWriter.java
  x-pack/plugin/gpu/src/test/java/org/elasticsearch/xpack/gpu/codec/CuVSResourceManagerTests.java
Labels: >non-issue, :Search Relevance/Vectors, Team:Search Relevance, test-gpu

#133967 Add builder for exponential histograms
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogram.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramBuilder.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramBuilderTests.java
Labels: >non-issue, external-contributor, Team:StorageEngine, :StorageEngine/Mapping, v9.2.0

#132944 ESQL - KNN function uses LIMIT for K, transforms to exact search when not pushed down
  docs/reference/query-languages/esql/_snippets/functions/examples/knn.md
  docs/reference/query-languages/esql/_snippets/functions/functionNamedParams/knn.md
  docs/reference/query-languages/esql/_snippets/functions/parameters/knn.md
  docs/reference/query-languages/esql/images/functions/knn.svg
  docs/reference/query-languages/esql/kibana/definition/functions/knn.json
  docs/reference/query-languages/esql/kibana/docs/functions/knn.md
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneQueryEvaluator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/ScoreOperator.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/knn-function.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/plugin/KnnFunctionIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/fulltext/FullTextFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/vector/Knn.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/vector/VectorWritables.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/PushLimitToKnn.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/querydsl/query/KnnQuery.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/fulltext/KnnTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/AbstractLogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LocalPhysicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, :SearchOrg/Relevance, Team:Search Relevance, Team:Search - Relevance, v9.2.0, :Search Relevance/ES|QL

#133919 [ML] Fix double-counting of inference memory in the assignment rebalancer
  docs/changelog/133919.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancer.java
Labels: >bug, :ml, Team:ML, auto-backport, v9.2.0, v9.1.4, v9.0.7, v8.18.7, v8.19.4

#134040 [9.1] Replace -1s with -1 in ML forecast tests (#134016)
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/ml/action/ForecastJobActionRequestTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/ml/forecast.yml
Labels: >test, backport, auto-merge-without-approval, Team:Distributed Coordination, :Distributed Coordination/Distributed, v9.1.4

#133760 ESQL: Add names to aggregator tests
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/First.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/Last.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/AbstractAggregationTestCase.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/CountDistinctTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/CountTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/FirstOverTimeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/FirstSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/FirstTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/LastOverTimeTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/LastSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/MaxTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/MedianAbsoluteDeviationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/MedianTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/MinTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/PercentileTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/RateTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/SampleSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/SampleTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/SpatialCentroidTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/SpatialExtentSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/SpatialExtentTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/StdDevSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/StdDevTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/SumTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/TopTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/ValuesTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/WeightedAvgSerializationTests.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v9.2.0

#134055 [9.1] Update deprecation comments to avoid javadoc issues (#134047)
  build-tools/src/main/java/org/elasticsearch/gradle/VersionProperties.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v9.1.4

#134053 [8.18] [ML] Fix double-counting of inference memory in the assignment rebalancer (#133919)
  docs/changelog/133919.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancer.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v8.18.7

#134051 [9.1] [ML] Fix double-counting of inference memory in the assignment rebalancer (#133919)
  docs/changelog/133919.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancer.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v9.1.4

#133999 [DiskBBQ] small optimization on how we manage queues in hierarchical centroids
  server/src/main/java/org/elasticsearch/index/codec/vectors/DefaultIVFVectorsReader.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/cluster/NeighborQueue.java
Labels: >non-issue, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#134057 [8.18] Update deprecation comments to avoid javadoc issues (#134047)
  build-tools/src/main/java/org/elasticsearch/gradle/VersionProperties.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.18.7

#134058 [8.19] Update deprecation comments to avoid javadoc issues (#134047)
  build-tools/src/main/java/org/elasticsearch/gradle/VersionProperties.java
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.19.4

#134026 [8.19] Fix FwC test task registration (#133937)
  .buildkite/pipelines/periodic-fwc.template.yml
  .buildkite/pipelines/periodic-fwc.yml
  .buildkite/scripts/fwc-branches.sh
  .buildkite/scripts/periodic.trigger.sh
  build-tools-internal/src/main/groovy/elasticsearch.fwc-test.gradle
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.19.4

#132186 [8.19] Extend HTTP timeout in repo analysis tests (#131744)
  x-pack/plugin/snapshot-repo-test-kit/src/test/java/org/elasticsearch/repositories/blobstore/testkit/analyze/AbstractRepositoryAnalysisRestTestCase.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, backport, auto-merge-without-approval, Team:Distributed Coordination, v8.19.4

#134015 [8.19] Adding _meta.template_version to kibana reporting mappings (#133846)
  x-pack/plugin/core/template-resources/src/main/resources/kibana-reporting@template.json
  x-pack/plugin/stack/src/main/java/org/elasticsearch/xpack/stack/StackTemplateRegistry.java
Labels: backport, v8.19.4

#134013 Refactor doc-id encoding for DiskBBQ to allow doc ids to be encoded in blocks
  server/src/main/java/org/elasticsearch/index/codec/vectors/DocIdsWriter.java
  server/src/test/java/org/elasticsearch/index/codec/vectors/DocIdsWriterTests.java
Labels: >non-issue, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#134005 Removing _doc from data stream effective mappings
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/DataStreamIT.java
  modules/data-streams/src/internalClusterTest/java/org/elasticsearch/datastreams/TransportUpdateDataStreamMappingsActionIT.java
  modules/data-streams/src/yamlRestTest/resources/rest-api-spec/test/data_stream/250_data_stream_mappings.yml
  server/src/main/java/org/elasticsearch/cluster/metadata/DataStream.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, auto-backport, v9.2.0, v9.1.4

#134070 [8.19] Add daily build pipeline for testing against next java EA version (#133523)
  .buildkite/pipelines/periodic-java-ea.bwc.template.yml
  .buildkite/pipelines/periodic-java-ea.template.yml
  .buildkite/pipelines/periodic-java-ea.yml
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/precommit/ThirdPartyAuditTask.java
  build.gradle
  catalog-info.yaml
  distribution/tools/plugin-cli/build.gradle
  libs/plugin-scanner/build.gradle
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/vectorization/ESVectorizationProvider.java
Labels: backport, v8.19.4

#134079 Avoid expensive status update in LuceneOperator
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSliceQueue.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.2.0

#133824 [9.1] [Gradle] Unify resolving pre release java versions like RCs and EAs (#133708)
  BUILDING.md
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/Jdk.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/JdkDownloadPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/BuildParameterExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/DefaultBuildParameterExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/RuntimeJava.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/EarlyAccessCatalogJdkToolchainResolver.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/EarlyAccessCatalogJdkToolchainResolverSpec.groovy
  distribution/build.gradle
  test/framework/src/main/java/org/elasticsearch/test/junit/listeners/ReproduceInfoPrinter.java
  test/immutable-collections-patch/build.gradle
Labels: backport, auto-merge-without-approval, v9.1.4

#133897 Runtime fields: pass down runtime field name as source filter when source mode is synthetic
  docs/changelog/133897.yaml
  server/src/main/java/org/elasticsearch/index/mapper/AbstractScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/BooleanScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DateScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/DoubleScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/GeoPointScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/IpScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/KeywordScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/mapper/LongScriptFieldType.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/script/BooleanFieldScript.java
  server/src/main/java/org/elasticsearch/script/DateFieldScript.java
  server/src/main/java/org/elasticsearch/script/DoubleFieldScript.java
  server/src/main/java/org/elasticsearch/script/GeoPointFieldScript.java
  server/src/main/java/org/elasticsearch/script/GeometryFieldScript.java
  server/src/main/java/org/elasticsearch/script/IpFieldScript.java
  server/src/main/java/org/elasticsearch/script/LongFieldScript.java
  server/src/main/java/org/elasticsearch/script/ScriptFactory.java
  server/src/main/java/org/elasticsearch/script/StringFieldScript.java
  server/src/main/java/org/elasticsearch/search/lookup/ConcurrentSegmentSourceProvider.java
  server/src/main/java/org/elasticsearch/search/lookup/SearchLookup.java
  server/src/main/java/org/elasticsearch/search/lookup/SourceProvider.java
  server/src/test/java/org/elasticsearch/index/mapper/RuntimeFieldSourceProviderOptimizationTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/AbstractScriptFieldTypeTestCase.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ComputeService.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plugin/ReinitializingSourceProvider.java
  x-pack/plugin/spatial/src/main/java/org/elasticsearch/xpack/spatial/index/mapper/GeoShapeScriptFieldType.java
Labels: >enhancement, :Search Foundations/Mapping, Team:StorageEngine, :StorageEngine/Mapping, Team:Search Foundations, v9.2.0

#134074 Extend ReservedRoleNameChecker factory interface
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/Security.java
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/ReservedRoleNameChecker.java
Labels: >non-issue, :Security/Security, Team:Security, serverless-linked, v9.2.0

#133955 Unmute SyntheticSourceRollingUpgradeIT
  muted-tests.yml
  x-pack/plugin/logsdb/qa/rolling-upgrade/src/javaRestTest/java/org/elasticsearch/upgrades/SyntheticSourceRollingUpgradeIT.java
Labels: >test, test-full-bwc, Team:StorageEngine, :StorageEngine/Mapping, v9.2.0

#134004 Update es-connectors-sharepoint.md
  docs/reference/search-connectors/es-connectors-sharepoint.md
Labels: >docs, Team:Docs, auto-backport, v9.0.0, v9.1.0, v9.2.0

#134114 [8.18] [Sentinel One] - Fix Cannot execute ILM policy delete step (#133793)
  docs/changelog/133793.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, backport, Team:Security, needs:triage, external-contributor, auto-merge-without-approval, Team:Cloud Security, v8.18.7

#134113 [8.19] [Sentinel One] - Fix Cannot execute ILM policy delete step (#133793)
  docs/changelog/133793.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, backport, Team:Security, needs:triage, external-contributor, auto-merge-without-approval, Team:Cloud Security, v8.19.4

#134112 [9.0] [Sentinel One] - Fix Cannot execute ILM policy delete step (#133793)
  docs/changelog/133793.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, backport, Team:Security, needs:triage, external-contributor, auto-merge-without-approval, Team:Cloud Security, v9.0.7

#134119 [D0CS] Fix semantic_text example in mapping-reference/semantic-text.md
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
Labels: >docs, Team:Docs, auto-backport, v9.0.0, v9.1.0, v9.2.0

#134038 ES|QL: Refactor FUSE planning
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/AggregateFunction.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Dedup.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/fuse/Fuse.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/fuse/FuseScoreEval.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/physical/FuseScoreEvalExec.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/LocalExecutionPlanner.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/planner/mapper/MapperUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/telemetry/FeatureMetric.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/parser/StatementParserTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/60_usage.yml
Labels: >non-issue, Team:Search Relevance, v9.2.0, :Search Relevance/ES|QL

#134126 [9.1] [D0CS] Fix semantic_text example in mapping-reference/semantic-text.md (#134119)
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v9.1.4

#134125 [9.0] [D0CS] Fix semantic_text example in mapping-reference/semantic-text.md (#134119)
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v9.0.7

#133713 Pull out ElementType implementations into separate classes
  server/src/main/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapper.java
Labels: >refactoring, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#134059 Fix formatting problem in periodic-fwc pipeline
  .buildkite/pipelines/periodic-fwc.template.yml
  .buildkite/pipelines/periodic-fwc.yml
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-merge-without-approval, auto-backport, v9.1.0, v9.2.0, v9.0.7, v8.18.7, v8.19.4

#134131 [8.18] Fix formatting problem in periodic-fwc pipeline (#134059)
  .buildkite/pipelines/periodic-fwc.template.yml
  .buildkite/pipelines/periodic-fwc.yml
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.18.7

#134133 [8.19] Fix formatting problem in periodic-fwc pipeline (#134059)
  .buildkite/pipelines/periodic-fwc.template.yml
  .buildkite/pipelines/periodic-fwc.yml
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.19.4

#134127 Add integration test for LOOKUP JOIN on remotes after STATS
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterLookupJoinIT.java
Labels: >test, Team:Analytics, :Analytics/ES|QL, v9.2.0

#133811 [Gradle] Fix test seed handling when running with cc
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/ElasticsearchTestBasePluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/BuildParameterExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/DefaultBuildParameterExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/TestSeedValueSource.java
  x-pack/plugin/security/qa/profile/build.gradle
  x-pack/plugin/sql/qa/jdbc/security/build.gradle
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/build.gradle
  x-pack/qa/multi-cluster-search-security/legacy-with-full-license/build.gradle
  x-pack/qa/multi-cluster-search-security/legacy-with-restricted-trust/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport, serverless-linked, v9.2.0, v9.1.4, v9.0.7, v8.18.7, v8.19.4

#134081 Update the guide to add a new ESQL function
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/package-info.java
Labels: >docs, Team:Docs, Team:Analytics, :Analytics/ES|QL, v9.2.0

#134150 [8.18] Bootstrap initial versions to simplify transport version migration (#134084)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/definitions/referable/ml_rollover_legacy_indices.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_6.csv
  server/src/main/resources/transport/upper_bounds/8.18.csv
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlAnomaliesIndexUpdate.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MlIndexRollover.java
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.7

#134158 Migrate initial elasticsearch transport versions for 8.18
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_16_7.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_10.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_11.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_6.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_7.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_8.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_9.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_1.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_2.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_3.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_4.csv
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, auto-backport, v9.2.0, v9.1.4, v9.0.7, v8.18.7, v8.19.4

#134122 [Renovate] Auto update common ci-agent-images
  renovate.json
Labels: >non-issue, :Delivery/Build, Team:Delivery, v9.2.0

#134161 ESQL: Fix name test for TOP
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/TopTests.java
Labels: >test, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.2.0

#133141 ESQL: Tests for inlinestats with union types
  muted-tests.yml
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/inlinestats.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/union_types.csv-spec
Labels: >test, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.2.0

#134163 [9.0] Migrate initial elasticsearch transport versions for 8.18 (#134158)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_16_5.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_16_6.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_16_7.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_10.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_11.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_3.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_4.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_5.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_6.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_7.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_8.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_9.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_1.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_2.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_3.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_4.csv
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.7

#134167 [8.18] Migrate initial elasticsearch transport versions for 8.18 (#134158)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_16_5.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_16_6.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_16_7.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_10.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_11.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_3.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_4.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_5.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_6.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_7.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_8.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_9.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_1.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_2.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_3.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_4.csv
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v8.18.7

#134164 [8.19] Migrate initial elasticsearch transport versions for 8.18 (#134158)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_16_5.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_16_6.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_16_7.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_10.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_11.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_3.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_4.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_5.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_6.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_7.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_8.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_17_9.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_1.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_2.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_3.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_18_4.csv
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v8.19.4

#133959 Add metrics max queue latency
  server/src/internalClusterTest/java/org/elasticsearch/cluster/routing/allocation/decider/WriteLoadConstraintDeciderIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/node/usage/TransportNodeUsageStatsForThreadPoolsAction.java
  server/src/main/java/org/elasticsearch/cluster/ClusterModule.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceMetrics.java
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocator.java
  server/src/test/java/org/elasticsearch/action/admin/cluster/allocation/TransportDeleteDesiredBalanceActionTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/AllocationStatsServiceTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/ClusterAllocationSimulationTests.java
  server/src/test/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceShardsAllocatorTests.java
  test/framework/src/main/java/org/elasticsearch/cluster/ESAllocationTestCase.java
Labels: >non-issue, :Distributed Coordination/Allocation, Team:Distributed Coordination, v9.2.0

#134176 [9.1] Migrate initial transport versions for 8.19 (#134174)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_19_1.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_8_19_2.csv
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v9.1.4

#134107 Add a note about multi-valued doc values in the docs.
  docs/reference/elasticsearch/mapping-reference/doc-values.md
Labels: >docs, Team:Docs, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v9.2.0, v9.1.4, v9.0.7, v8.19.4

#134186 [9.1] Add a note about multi-valued doc values in the docs. (#134107)
  docs/reference/elasticsearch/mapping-reference/doc-values.md
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Mapping, v9.1.4

#134115 Resolve main indices before lookup
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.2.0

#133981 rest-api-spec: fix query_rules.test stability
  rest-api-spec/src/main/resources/rest-api-spec/api/query_rules.test.json
Labels: >non-issue, auto-backport, :SearchOrg/Relevance, Team:Search - Relevance, v9.2.0, v9.1.4, v9.0.7, v8.19.4

#133912 Mark migrate_reindex APIs as public and stable
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.cancel_migrate_reindex.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.create_from.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_migrate_reindex_status.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.migrate_reindex.json
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, auto-backport, v9.2.0, v9.1.4, v9.0.7, v8.19.4

#134189 [9.0] rest-api-spec: fix query_rules.test stability (#133981)
  rest-api-spec/src/main/resources/rest-api-spec/api/query_rules.test.json
Labels: >non-issue, backport, auto-merge-without-approval, :SearchOrg/Relevance, Team:Search - Relevance, v9.0.7

#134193 [8.19] Mark migrate_reindex APIs as public and stable (#133912)
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.cancel_migrate_reindex.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.create_from.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_migrate_reindex_status.json
  rest-api-spec/src/main/resources/rest-api-spec/api/indices.migrate_reindex.json
Labels: >non-issue, :Data Management/Indices APIs, backport, Team:Data Management, auto-merge-without-approval, v8.19.4

#134198 Improve `ShardLockObtainFailedException` message
  docs/changelog/134198.yaml
  server/src/main/java/org/elasticsearch/env/NodeEnvironment.java
  server/src/test/java/org/elasticsearch/env/NodeEnvironmentTests.java
Labels: >enhancement, :Distributed Indexing/Store, auto-merge-without-approval, Team:Distributed Indexing, v9.2.0

#134207 Ensure enough nodes in `WriteLoadForecasterIT`
  x-pack/plugin/write-load-forecaster/src/internalClusterTest/java/org/elasticsearch/xpack/writeloadforecaster/WriteLoadForecasterIT.java
Labels: >test, :Distributed Coordination/Allocation, backport, auto-merge-without-approval, v8.19.4

#134180 [Test] Use generic for GlobalCheckpoingSyncAction
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/cluster/ClusterInfoServiceIT.java
Labels: >test, :Distributed Coordination/Allocation, auto-merge-without-approval, Team:Distributed Coordination, v9.2.0

#134208 Ensure enough nodes in `WriteLoadForecasterIT`
  x-pack/plugin/write-load-forecaster/src/internalClusterTest/java/org/elasticsearch/xpack/writeloadforecaster/WriteLoadForecasterIT.java
Labels: >test, :Distributed Coordination/Allocation, backport, auto-merge-without-approval, v8.18.7

#134205 Ensure enough nodes in `WriteLoadForecasterIT`
  muted-tests.yml
  x-pack/plugin/write-load-forecaster/src/internalClusterTest/java/org/elasticsearch/xpack/writeloadforecaster/WriteLoadForecasterIT.java
Labels: >test, :Distributed Coordination/Allocation, backport, auto-merge-without-approval, Team:Distributed Coordination, v9.1.4

#134170 Block encode doc ids
  server/src/main/java/org/elasticsearch/index/codec/vectors/DefaultIVFVectorsReader.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/DefaultIVFVectorsWriter.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/DiskBBQBulkWriter.java
Labels: >non-issue, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#133925 [8.19] rest-api-spec: restore warning about internal use (#133782)
  rest-api-spec/src/main/resources/rest-api-spec/api/_internal.delete_desired_nodes.json
  rest-api-spec/src/main/resources/rest-api-spec/api/_internal.update_desired_nodes.json
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, v8.19.4

#133922 [8.19] rest-api-spec: mark search_mvt as stable (#133915)
  rest-api-spec/src/main/resources/rest-api-spec/api/search_mvt.json
Labels: >non-issue, :Analytics/Geo, backport, Team:Analytics, auto-merge-without-approval, v8.19.4

#134202 Allow require_data_stream param in stream bulk requests
  server/src/main/java/org/elasticsearch/action/bulk/TransportAbstractBulkAction.java
Labels: >non-issue, :Data Management/Data streams, Team:Data Management, v9.2.0

#133976 [8.19] rest-api-spec: mark search application as beta (#133914)
  rest-api-spec/src/main/resources/rest-api-spec/api/search_application.delete.json
  rest-api-spec/src/main/resources/rest-api-spec/api/search_application.get.json
  rest-api-spec/src/main/resources/rest-api-spec/api/search_application.list.json
  rest-api-spec/src/main/resources/rest-api-spec/api/search_application.put.json
  rest-api-spec/src/main/resources/rest-api-spec/api/search_application.search.json
Labels: >non-issue, backport, auto-merge-without-approval, :SearchOrg/Relevance, Team:Search - Relevance, v8.19.4

#134217 Add a test of an edge case for the set processor
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/270_set_processor.yml
Labels: >test, :Data Management/Ingest Node, Team:Data Management, v9.2.0

#134215 Simplify index pattern
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/PreAnalyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtils.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/CsvTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/session/EsqlCCSUtilsTests.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.2.0

#134033 Fix FORK with union-types
  docs/changelog/134033.yaml
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/generative/GenerativeForkRestTest.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/union_types.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/analysis/Analyzer.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/Fork.java
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v9.2.0

#134230 [9.0] Migrate initial transport version for 9.0 (#134179)
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_9_0_1.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_9_0_2.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_9_0_3.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_9_0_4.csv
Labels: :Core/Infra/Transport API, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.7

#134156 ESQL: More docs for `DataType#UNDER_CONSTRUCTION`
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/type/DataType.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.2.0

#133839 Alternate approach to speed up ignored_source access
  server/src/main/java/org/elasticsearch/index/fieldvisitor/IgnoredSourceFieldLoader.java
  server/src/main/java/org/elasticsearch/index/fieldvisitor/StoredFieldLoader.java
  server/src/main/java/org/elasticsearch/index/get/GetResult.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoredFieldsSpec.java
  server/src/main/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapper.java
  server/src/main/java/org/elasticsearch/search/SearchHit.java
  server/src/main/java/org/elasticsearch/search/fetch/PreloadedFieldLookupProvider.java
  server/src/test/java/org/elasticsearch/index/fieldvisitor/IgnoredSourceFieldLoaderTests.java
  server/src/test/java/org/elasticsearch/index/fieldvisitor/StoredFieldLoaderTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapperConfigurationTests.java
  server/src/test/java/org/elasticsearch/index/mapper/IgnoredSourceFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/NativeArrayIntegrationTestCase.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/FieldSubsetReader.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/SecurityIndexReaderWrapper.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/permission/FieldPermissions.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/FieldSubsetReaderTests.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/accesscontrol/SecurityIndexReaderWrapperUnitTests.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/accesscontrol/FieldDataCacheWithFieldSubsetReaderTests.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/Mapping, serverless-linked, v9.2.0

#134236 Block remote query search too in testCancellationViaTimeoutWithAllowPartialResultsSetToFalse
  muted-tests.yml
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/CrossClusterAsyncSearchIT.java
Labels: >test, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.2.0, v9.1.4, v9.0.7, v8.18.7, v8.19.4

#134118 [Buildkite] Add daily pipeline to check for new jdk ea build
  .buildkite/pipelines/java-ea-check-new-build.yml
  .buildkite/scripts/trigger-if-java-ea-new-build.sh
  catalog-info.yaml
Labels: >non-issue, :Delivery/Build, Team:Delivery, v9.2.0

#132595 [logstash-bridge] Introduce GeoIp interfaces
  libs/logstash-bridge/README.md
  libs/logstash-bridge/build.gradle
  libs/logstash-bridge/src/main/java/module-info.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/StableBridgeAPI.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/common/ProjectIdBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/common/SettingsBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/common/SettingsBuilderBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/core/CheckedBiFunctionBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/core/IOUtilsBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/core/RefCountingRunnableBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/core/ReleasableBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/env/EnvironmentBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/geoip/AbstractExternalIpDatabaseBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/geoip/AbstractExternalIpDatabaseProviderBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/geoip/GeoIpProcessorFactoryBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/geoip/IpDatabaseBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/geoip/IpDatabaseProviderBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/AbstractExternalProcessorBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/AbstractExternalProcessorFactoryBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/ConfigurationUtilsBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/IngestDocumentBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/PipelineBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/PipelineConfigurationBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/ProcessorBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/ProcessorFactoryBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/ProcessorParametersBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/ProxyInternalIngestDocumentBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/ingest/ProxyInternalPipelineConfigurationBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/plugins/IngestCommonPluginBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/plugins/IngestPluginBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/plugins/IngestUserAgentPluginBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/plugins/RedactPluginBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/script/MetadataBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/script/ScriptServiceBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/script/TemplateScriptFactoryBridge.java
  libs/logstash-bridge/src/main/java/org/elasticsearch/logstashbridge/threadpool/ThreadPoolBridge.java
  modules/ingest-geoip/build.gradle
  modules/ingest-geoip/src/main/java/module-info.java
Labels: >feature, v9.2.0, Team:Logstash

#134250 [8.18] Block remote query search too in testCancellationViaTimeoutWithAllowPartialResultsSetToFalse (#134236)
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/CrossClusterAsyncSearchIT.java
Labels: >test, backport, auto-merge-without-approval, :Search Foundations/Search, v8.18.7

#134248 [9.0] Block remote query search too in testCancellationViaTimeoutWithAllowPartialResultsSetToFalse (#134236)
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/CrossClusterAsyncSearchIT.java
Labels: >test, backport, auto-merge-without-approval, :Search Foundations/Search, v9.0.7

#134247 [9.1] Block remote query search too in testCancellationViaTimeoutWithAllowPartialResultsSetToFalse (#134236)
  muted-tests.yml
  x-pack/plugin/async-search/src/internalClusterTest/java/org/elasticsearch/xpack/search/CrossClusterAsyncSearchIT.java
Labels: >test, backport, auto-merge-without-approval, :Search Foundations/Search, v9.1.4

#133907 OTLP: rest and transport action
  x-pack/plugin/otel-data/src/javaRestTest/java/org/elasticsearch/xpack/oteldata/otlp/OTLPMetricsIndexingRestIT.java
  x-pack/plugin/otel-data/src/main/java/org/elasticsearch/xpack/oteldata/otlp/OTLPMetricsRestAction.java
  x-pack/plugin/otel-data/src/main/java/org/elasticsearch/xpack/oteldata/otlp/OTLPMetricsTransportAction.java
  x-pack/plugin/otel-data/src/test/java/org/elasticsearch/xpack/oteldata/otlp/OTLPMetricsTransportActionTests.java
Labels: >non-issue, external-contributor, :StorageEngine/TSDB, Team:StorageEngine, v9.2.0

#134270 [Test] Initialize DesiredBalanceMetrics.NOOP after empty allocation stats
  server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/DesiredBalanceMetrics.java
Labels: >test, :Distributed Coordination/Allocation, auto-merge-without-approval, Team:Distributed Coordination, v9.2.0

#134269 [Test unmute] Unmute fixed test
  muted-tests.yml
Labels: >test, :Distributed Coordination/Allocation, auto-merge-without-approval, Team:Distributed Coordination, v9.2.0

#134275 [8.18] Upgrade Netty to 4.1.126.Final (#134182)
  build-tools-internal/version.properties
  docs/changelog/134182.yaml
  gradle/verification-metadata.xml
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
Labels: backport, auto-merge-without-approval, v8.18.7

#134274 [8.19] Upgrade Netty to 4.1.126.Final (#134182)
  build-tools-internal/version.properties
  docs/changelog/134182.yaml
  gradle/verification-metadata.xml
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
Labels: backport, auto-merge-without-approval, v8.19.4

#134149 [8.18] [Gradle] Fix test seed handling when running with cc (#133811)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/ElasticsearchTestBasePluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/ElasticsearchTestBasePlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/BuildParameterExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/DefaultBuildParameterExtension.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/GlobalBuildInfoPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/info/TestSeedValueSource.java
  x-pack/plugin/security/qa/profile/build.gradle
  x-pack/plugin/sql/qa/jdbc/security/build.gradle
  x-pack/qa/multi-cluster-search-security/legacy-with-basic-license/build.gradle
  x-pack/qa/multi-cluster-search-security/legacy-with-full-license/build.gradle
  x-pack/qa/multi-cluster-search-security/legacy-with-restricted-trust/build.gradle
Labels: backport, v8.18.7

#134272 [9.1] Upgrade Netty to 4.1.126.Final (#134182)
  build-tools-internal/version.properties
  docs/changelog/134182.yaml
  gradle/verification-metadata.xml
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/transport/netty4/SecurityNetty4HttpServerTransportTests.java
Labels: backport, auto-merge-without-approval, v9.1.4

#134287 Revert knn.svg fonts to docs standard
  docs/reference/query-languages/esql/images/functions/knn.svg
Labels: >docs, Team:Docs, Team:Analytics, :Analytics/ES|QL, Team:Search Relevance, v9.2.0, :Search Relevance/ES|QL

#134292 [9.0] Fix exceptions in index pattern conflict checks (#134231)
  docs/changelog/134231.yaml
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/test/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
Labels: >bug, :Data Management/Indices APIs, backport, Team:Data Management, auto-merge-without-approval, v9.0.7

#133951 [8.19] Bump asm to 9.8 for JDK 25 support in remaining places (#133938)
  modules/repository-azure/build.gradle
  test/logger-usage/build.gradle
  x-pack/plugin/security/build.gradle
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v8.19.4

#134214 [Downsampling++] Add time series telemetry in xpack usage
  docs/changelog/134214.yaml
  server/src/main/java/org/elasticsearch/TransportVersions.java
  x-pack/plugin/core/src/internalClusterTest/java/org/elasticsearch/xpack/core/action/TimeSeriesUsageTransportActionIT.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackPlugin.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/TimeSeriesUsageTransportAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/action/XPackUsageFeatureAction.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/datastreams/TimeSeriesFeatureSetUsage.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/datastreams/TimeSeriesFeatureSetUsageTests.java
  x-pack/plugin/security/qa/operator-privileges-tests/src/javaRestTest/java/org/elasticsearch/xpack/security/operator/Constants.java
Labels: >enhancement, auto-merge-without-approval, :StorageEngine/Downsampling, Team:StorageEngine, v9.2.0

#134054 [8.19] [ML] Fix double-counting of inference memory in the assignment rebalancer (#133919)
  docs/changelog/133919.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancer.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v8.19.4

#133949 [9.0] Bump asm to 9.8 for JDK 25 support in remaining places (#133938)
  gradle/verification-metadata.xml
  modules/repository-azure/build.gradle
  test/logger-usage/build.gradle
  x-pack/plugin/security/build.gradle
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v9.0.7

#134242 Revert "Collapse transport versions (#127186)"
  docs/internal/Versioning.md
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsResponse.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/storedscripts/PutStoredScriptRequest.java
  server/src/main/java/org/elasticsearch/action/search/SearchRequest.java
  server/src/main/java/org/elasticsearch/action/support/IndexComponentSelector.java
  server/src/main/java/org/elasticsearch/cluster/metadata/DesiredNode.java
  server/src/main/java/org/elasticsearch/common/unit/ByteSizeValue.java
  server/src/main/java/org/elasticsearch/transport/TransportStats.java
  server/src/test/java/org/elasticsearch/common/unit/ByteSizeValueTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/action/RetryActionRequest.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverProfile.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/DriverStatus.java
  x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/saml/sp/SamlServiceProviderDocumentTests.java
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, auto-backport, v9.2.0, v9.1.4

#134306 [9.0] Add transport version generation task (#132772)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/AbstractTransportVersionFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/TransportVersionGenerationFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionDefinitionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionId.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionReference.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionReferencesPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesService.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionUpperBound.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionResourcesTask.java
  build-tools/src/testFixtures/groovy/org/elasticsearch/gradle/fixtures/AbstractGradleFuncTest.groovy
Labels: >non-issue, :Core/Infra/Transport API, backport, Team:Core/Infra, auto-merge-without-approval, serverless-linked, v9.0.7

#134308 Aggs: Fix test
  server/src/test/java/org/elasticsearch/search/aggregations/bucket/range/RangeAggregatorTests.java
Labels: >test, :Analytics/Aggregations, Team:Analytics

#134239 Migrate initial transport versions for 9.1
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_9_1_1.csv
  server/src/main/resources/transport/definitions/unreferable/initial_elasticsearch_9_1_2.csv
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, auto-backport, v9.2.0, v9.1.4

#134260 Implicitly use last_over_time for time-series aggregations
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/k8s-timeseries-last-over-time.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/k8s-timeseries.csv-spec
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/RandomizedTimeSeriesIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/TelemetryIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/TimeSeriesIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/AggregateWritables.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/FromPartial.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/ToPartial.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/rules/logical/TranslateTimeSeriesAggregate.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/LogicalPlanBuilder.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
Labels: >non-issue, :StorageEngine/TSDB, Team:StorageEngine, v9.2.0

#133446 Do not share Weight between Drivers
  docs/changelog/133446.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneOperator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSlice.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/LuceneSliceQueue.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/TimeSeriesSourceOperator.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/LuceneSliceQueueTests.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/PushQueriesIT.java
  x-pack/plugin/esql/qa/server/single-node/src/javaRestTest/java/org/elasticsearch/xpack/esql/qa/single_node/RestEsqlIT.java
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/EsqlActionTaskIT.java
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v9.2.0

#134348 Fix broken link
  docs/reference/aggregations/search-aggregations-metrics-geobounds-aggregation.md
Labels: >docs, Team:Docs, auto-merge-without-approval, auto-backport, v9.0.0, documentation, v9.1.0, v9.2.0

#134286 Upgrade MinIO to `RELEASE.2025-09-07T16-13-09Z`
  test/fixtures/minio-fixture/src/main/java/org/elasticsearch/test/fixtures/minio/MinioTestContainer.java
  x-pack/plugin/snapshot-repo-test-kit/qa/minio/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/analyze/MinioRepositoryAnalysisRestIT.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, auto-backport, Team:Distributed Coordination, v9.2.0, v9.1.4, v9.0.7, v8.18.7, v8.19.4

#133986 ES|QL: Add PRESENT ES|QL function
  docs/reference/query-languages/esql/_snippets/functions/description/present.md
  docs/reference/query-languages/esql/_snippets/functions/examples/present.md
  docs/reference/query-languages/esql/_snippets/functions/layout/present.md
  docs/reference/query-languages/esql/_snippets/functions/parameters/present.md
  docs/reference/query-languages/esql/_snippets/functions/types/present.md
  docs/reference/query-languages/esql/_snippets/lists/aggregation-functions.md
  docs/reference/query-languages/esql/functions-operators/aggregation-functions.md
  docs/reference/query-languages/esql/images/functions/present.svg
  docs/reference/query-languages/esql/kibana/definition/functions/present.json
  docs/reference/query-languages/esql/kibana/docs/functions/present.md
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/PresentAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/PresentGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PresentAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PresentGroupingAggregatorFunctionTests.java
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/present.csv-spec
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/union_types.csv-spec
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/AggregateWritables.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/aggregate/Present.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/PresentErrorTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/PresentSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/aggregate/PresentTests.java
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/60_usage.yml
Labels: >enhancement, Team:Analytics, :StorageEngine/TSDB, test-release, :Analytics/ES|QL, Team:StorageEngine, v9.2.0, :StorageEngine/ES|QL

#134354 [8.19] Upgrade MinIO to `RELEASE.2025-09-07T16-13-09Z` (#134286)
  test/fixtures/minio-fixture/src/main/java/org/elasticsearch/test/fixtures/minio/MinioTestContainer.java
  x-pack/plugin/snapshot-repo-test-kit/qa/minio/src/javaRestTest/java/org/elasticsearch/repositories/blobstore/testkit/analyze/MinioRepositoryAnalysisRestIT.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, backport, auto-merge-without-approval, Team:Distributed Coordination, v8.19.4

#134298 Fix ES|QL docs railroad diagrams comma positions for optional parameters
  docs/reference/query-languages/esql/images/functions/bucket.svg
  docs/reference/query-languages/esql/images/functions/categorize.svg
  docs/reference/query-languages/esql/images/functions/count_distinct.svg
  docs/reference/query-languages/esql/images/functions/count_distinct_over_time.svg
  docs/reference/query-languages/esql/images/functions/knn.svg
  docs/reference/query-languages/esql/images/functions/locate.svg
  docs/reference/query-languages/esql/images/functions/match.svg
  docs/reference/query-languages/esql/images/functions/match_phrase.svg
  docs/reference/query-languages/esql/images/functions/multi_match.svg
  docs/reference/query-languages/esql/images/functions/mv_slice.svg
  docs/reference/query-languages/esql/images/functions/mv_sort.svg
  docs/reference/query-languages/esql/images/functions/mv_zip.svg
  docs/reference/query-languages/esql/images/functions/qstr.svg
  docs/reference/query-languages/esql/images/functions/round.svg
  docs/reference/query-languages/esql/images/functions/st_geohash.svg
  docs/reference/query-languages/esql/images/functions/st_geohex.svg
  docs/reference/query-languages/esql/images/functions/st_geotile.svg
  docs/reference/query-languages/esql/images/functions/substring.svg
  docs/reference/query-languages/esql/images/functions/to_ip.svg
  docs/reference/query-languages/esql/kibana/definition/functions/st_geohash.json
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/spatial/StGeohash.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/RailRoadDiagram.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/RailRoadDiagramTests.java
Labels: >docs, Team:Docs, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.2.0, v9.1.4, v9.0.7

#134256 [Doc] Change PUT to POST _search in semantic-text.md example
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
Labels: >docs, Team:Docs, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#134201 ESQL: Provide appropriate messages when can't execute INLINESTATS
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/generative/GenerativeRestTest.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/capabilities/PostAnalysisPlanVerificationAware.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/capabilities/PostOptimizationPlanVerificationAware.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/grouping/Categorize.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/optimizer/LogicalVerifier.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/plan/logical/OrderBy.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/VerifierTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/LogicalPlanOptimizerTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/optimizer/OptimizerVerificationTests.java
Labels: >non-issue, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.2.0

#133916 [ML] Fix model assignment error handling and assignment explanation generation
  docs/changelog/133916.yaml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AbstractPreserveAllocations.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlan.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/RandomizedAssignmentRounding.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/planning/ZoneAwareAssignmentPlanner.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentRebalancerTests.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/planning/AssignmentPlanTests.java
Labels: >bug, :ml, Team:ML, v9.2.0

#134344 Use a copy of Elasticsearch's hybrid directory in `qa:vector:checkVec` utility
  qa/vector/src/main/java/org/elasticsearch/test/knn/KnnIndexer.java
  qa/vector/src/main/java/org/elasticsearch/test/knn/KnnSearcher.java
Labels: >non-issue, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#134325 [ML] Inference API Retrying 503s for EIS integration
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceResponseHandler.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/ElasticInferenceServiceResponseHandlerTests.java
Labels: >non-issue, :ml, Team:ML, v9.2.0

#134350 Map start_timestamp as date rather than date_nanos
  x-pack/plugin/logsdb/src/yamlRestTest/resources/rest-api-spec/test/30_logsdb_default_mapping.yml
  x-pack/plugin/otel-data/src/main/resources/component-templates/metrics-otel@mappings.yaml
  x-pack/plugin/otel-data/src/main/resources/resources.yaml
Labels: >non-issue, external-contributor, :StorageEngine/TSDB, Team:StorageEngine, v9.2.0

#134379 [DOCS] Update ServiceNow connector documentation links
  docs/reference/search-connectors/es-connectors-servicenow.md
Labels: >docs, Team:Docs, auto-backport, v9.0.0, v9.1.0, v9.2.0

#134383 Add transport version generation task (#132772)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/AbstractTransportVersionFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/TransportVersionGenerationFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionDefinitionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionId.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionReference.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionReferencesPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesService.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionUpperBound.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionResourcesTask.java
  build-tools/src/testFixtures/groovy/org/elasticsearch/gradle/fixtures/AbstractGradleFuncTest.groovy
Labels: backport, auto-merge-without-approval, v8.19.4

#134387 [8.18] Fix allow_duplicates edge case bug in append processor (#134319)
  docs/changelog/134319.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/360_append_allow_duplicates.yml
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
Labels: >bug, :Data Management/Ingest Node, backport, Team:Data Management, auto-merge-without-approval, v8.18.7

#134378 [8.19] Fix allow_duplicates edge case bug in append processor (#134319)
  docs/changelog/134319.yaml
  modules/ingest-common/src/yamlRestTest/resources/rest-api-spec/test/ingest/360_append_allow_duplicates.yml
  server/src/main/java/org/elasticsearch/ingest/IngestDocument.java
Labels: >bug, :Data Management/Ingest Node, backport, Team:Data Management, auto-merge-without-approval, v8.19.4

#134327 Semantic Search CCS Support - Add Prerequisite Info to Query Rewrite Context
  server/src/main/java/org/elasticsearch/action/admin/indices/validate/query/TransportValidateQueryAction.java
  server/src/main/java/org/elasticsearch/action/explain/TransportExplainAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java
  server/src/main/java/org/elasticsearch/action/search/TransportSearchShardsAction.java
  server/src/main/java/org/elasticsearch/index/IndexService.java
  server/src/main/java/org/elasticsearch/index/query/CoordinatorRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/QueryRewriteContext.java
  server/src/main/java/org/elasticsearch/index/query/SearchExecutionContext.java
  server/src/main/java/org/elasticsearch/indices/IndicesService.java
  server/src/main/java/org/elasticsearch/search/SearchService.java
  server/src/test/java/org/elasticsearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/elasticsearch/index/query/QueryRewriteContextTests.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/fulltext/QueryBuilderResolver.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/index/query/SemanticKnnVectorQueryRewriteInterceptorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/index/query/SemanticMatchQueryRewriteInterceptorTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/index/query/SemanticSparseVectorQueryRewriteInterceptorTests.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/linear/LinearRetrieverBuilderTests.java
  x-pack/plugin/rank-rrf/src/test/java/org/elasticsearch/xpack/rank/rrf/RRFRetrieverBuilderTests.java
Labels: >non-issue, :SearchOrg/Relevance, Team:Search - Relevance, v9.2.0

#134404 Migrate transport versions 9120_000 through 9126_000
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/java/org/elasticsearch/cluster/ClusterInfo.java
  server/src/main/java/org/elasticsearch/cluster/project/ProjectStateRegistry.java
  server/src/main/resources/transport/definitions/referable/esql_categorize_options.csv
  server/src/main/resources/transport/definitions/referable/lookup_join_ccs.csv
  server/src/main/resources/transport/definitions/referable/ml_inference_azure_ai_studio_rerank_added.csv
  server/src/main/resources/transport/definitions/referable/ml_inference_llama_added.csv
  server/src/main/resources/transport/definitions/referable/node_usage_stats_for_thread_pools_in_cluster_info.csv
  server/src/main/resources/transport/definitions/referable/project_state_registry_entry.csv
  server/src/main/resources/transport/definitions/referable/shard_write_load_in_cluster_info.csv
  server/src/test/java/org/elasticsearch/cluster/project/ProjectStateRegistrySerializationTests.java
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/datastreams/TimeSeriesFeatureSetUsage.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/grouping/Categorize.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/azureaistudio/rerank/AzureAiStudioRerankServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/azureaistudio/rerank/AzureAiStudioRerankTaskSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/llama/LlamaService.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/llama/completion/LlamaChatCompletionServiceSettings.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/llama/embeddings/LlamaEmbeddingsServiceSettings.java
Labels: :Core/Infra/Transport API, >refactoring, Team:Core/Infra, v9.2.0

#134408 [9.0] Add initial transport version generation task (#134333)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/AbstractTransportVersionFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/GenerateInitialTransportVersionFuncTest.groovy
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/TransportVersionGenerationFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateInitialTransportVersionTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionResourcesService.java
  build-tools/src/testFixtures/groovy/org/elasticsearch/gradle/fixtures/AbstractGradleFuncTest.groovy
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v9.0.7
