Repository elastic/elasticsearch, pull requests merged in 2025-08, with the labels that each got.

#131753 [9.1] Standardize on docker image arch classifier (#130643)
  build-tools/src/main/java/org/elasticsearch/gradle/Architecture.java
  distribution/docker/build.gradle
Labels: >non-issue, :Delivery/Build, :Delivery/Packaging, backport, Team:Delivery, v9.1.1

#132091 [9.0] Standardize on docker image arch classifier (#130643)
  build-tools/src/main/java/org/elasticsearch/gradle/Architecture.java
  distribution/docker/build.gradle
Labels: >non-issue, :Delivery/Build, :Delivery/Packaging, backport, v9.0.5

#131757 [8.18] Standardize on docker image arch classifier (#130643)
  build-tools/src/main/java/org/elasticsearch/gradle/Architecture.java
  distribution/docker/build.gradle
Labels: >non-issue, :Delivery/Build, :Delivery/Packaging, backport, Team:Delivery, v8.18.5

#131756 [8.17] Standardize on docker image arch classifier (#130643)
  build-tools/src/main/java/org/elasticsearch/gradle/Architecture.java
  distribution/docker/build.gradle
Labels: >non-issue, :Delivery/Build, :Delivery/Packaging, backport, Team:Delivery, v8.17.10

#132311 Use panamized version for windows in Int7VectorScorer
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/ES92Int7VectorsScorer.java
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/MemorySegmentES92Int7VectorsScorer.java
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/MemorySegmentES92PanamaInt7VectorsScorer.java
  libs/simdvec/src/main22/java/org/elasticsearch/simdvec/internal/MemorySegmentES92Int7VectorsScorer.java
  libs/simdvec/src/test/java/org/elasticsearch/simdvec/internal/vectorization/ES92Int7VectorScorerTests.java
Labels: >non-issue, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132319 Add missing release note
  docs/release-notes/index.md
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, documentation, v9.1.0, v9.2.0

#132314 [9.1] Update 8.17 version to 8.17.10 (#132303)
  .buildkite/pipelines/intake.yml
  .buildkite/pipelines/periodic-packaging.yml
  .buildkite/pipelines/periodic.yml
  .ci/bwcVersions
  .ci/snapshotBwcVersions
  server/src/main/java/org/elasticsearch/Version.java
Labels: >non-issue, :Delivery/Build, backport, auto-merge-without-approval, v9.1.1

#132294 Remove unnecessary listener.delegateFailure in IndexShard#ensureMutable
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
Labels: >non-issue, :Distributed Indexing/Engine, Team:Distributed Indexing, v9.2.0

#132329 [8.18] Improve Semantic Text Exists Query Tests (#132283)
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/70_semantic_text_exists_query.yml
Labels: >test, backport, auto-merge-without-approval, Team:SearchOrg, :SearchOrg/Relevance, Team:Search - Relevance, v8.18.5

#132285 ESQL: Stabilize heap attack test (#132045)
  test/external-modules/esql-heap-attack/src/javaRestTest/java/org/elasticsearch/xpack/esql/heap_attack/HeapAttackIT.java
Labels: backport, auto-merge-without-approval, :Analytics/ES|QL, v9.1.1

#132265 ES|QL Rerank command doc.
  docs/reference/query-languages/esql/_snippets/commands/layout/completion.md
  docs/reference/query-languages/esql/_snippets/commands/layout/rerank.md
  docs/reference/query-languages/esql/_snippets/lists/processing-commands.md
  docs/reference/query-languages/esql/commands/processing-commands.md
Labels: >docs, Team:Docs, Team:Search Relevance, documentation, v9.2.0, :Search Relevance/ES|QL

#131359 [TEST] Clean RestRequestTests
  server/src/test/java/org/elasticsearch/rest/RestRequestTests.java
Labels: >non-issue, Team:Distributed Coordination, :Distributed Coordination/Distributed, v9.2.0

#132327 [9.0] Improve Semantic Text Exists Query Tests (#132283)
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/70_semantic_text_exists_query.yml
Labels: >test, backport, auto-merge-without-approval, Team:SearchOrg, :SearchOrg/Relevance, Team:Search - Relevance, v9.0.5

#132328 [8.17] Improve Semantic Text Exists Query Tests (#132283)
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/70_semantic_text_exists_query.yml
Labels: >test, backport, auto-merge-without-approval, Team:SearchOrg, :SearchOrg/Relevance, Team:Search - Relevance, v8.17.10

#132330 Adding clarification for ilm troubleshooting-privileges
  docs/reference/ilm/error-handling.asciidoc
Labels: >docs, Team:Docs, documentation, v8.19.1

#132287 ESQL: Detect time series agg
  x-pack/plugin/esql/compute/ann/src/main/java/org/elasticsearch/compute/ann/Aggregator.java
  x-pack/plugin/esql/compute/ann/src/main/java/org/elasticsearch/compute/ann/GroupingAggregator.java
  x-pack/plugin/esql/compute/gen/src/main/java/org/elasticsearch/compute/gen/AggregatorImplementer.java
  x-pack/plugin/esql/compute/gen/src/main/java/org/elasticsearch/compute/gen/AggregatorProcessor.java
  x-pack/plugin/esql/compute/gen/src/main/java/org/elasticsearch/compute/gen/GroupingAggregatorImplementer.java
  x-pack/plugin/esql/compute/gen/src/main/java/org/elasticsearch/compute/gen/Methods.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/FirstOverTimeDoubleAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/FirstOverTimeFloatAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/FirstOverTimeIntAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/FirstOverTimeLongAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/LastOverTimeDoubleAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/LastOverTimeFloatAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/LastOverTimeIntAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/LastOverTimeLongAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/RateDoubleAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/RateFloatAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/RateIntAggregator.java
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/RateLongAggregator.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/X-RateAggregator.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/X-ValueOverTimeAggregator.java.st
Labels: >refactoring, Team:Analytics, :Analytics/ES|QL, v9.2.0

#132000 Add tryWithEngineOrNull
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: >non-issue, :Distributed Indexing/Engine, serverless-linked, Team:Distributed Indexing, v9.2.0

#132260 ESQL: Fix Driver creating status with a live list of operators
  docs/changelog/132260.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/Driver.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/DriverTests.java
Labels: >bug, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.2.0, v9.1.1, v8.19.1, v9.0.5, v8.17.10, v8.18.5

#132163 Clarify flush result when skipped due to collision
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java
  server/src/main/java/org/elasticsearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
  server/src/test/java/org/elasticsearch/action/admin/indices/close/TransportVerifyShardBeforeCloseActionTests.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/index/shard/ShardGetServiceTests.java
Labels: >non-issue, :Distributed Indexing/Engine, serverless-linked, Team:Distributed Indexing, v9.2.0

#132160 [ML] Fix test failure updating model deployment with stale cluster st…
  muted-tests.yml
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterService.java
  x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentNodeService.java
  x-pack/plugin/ml/src/test/java/org/elasticsearch/xpack/ml/inference/assignment/TrainedModelAssignmentClusterServiceTests.java
Labels: :ml, backport, auto-merge-without-approval, v9.1.1

#132321 Avoid internal server error on suggester ngram bad request
  docs/changelog/132321.yaml
  server/src/internalClusterTest/java/org/elasticsearch/search/suggest/phrase/PhraseSuggesterIT.java
  server/src/main/java/org/elasticsearch/search/suggest/phrase/NoisyChannelSpellChecker.java
Labels: >bug, :Search Relevance/Analysis, Team:Search Relevance, v9.2.0

#132297 OpenJDK EA builds should use https instead of http
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolver.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolverSpec.groovy
Labels: >non-issue, Team:Delivery, :Delivery/Tooling, v9.2.0, v9.1.1, v8.19.1, v9.0.5, v8.18.5

#132217 [8.19] Simulate ingest API uses existing index mapping when mapping_addition is given (#132101)
  docs/changelog/132101.yaml
  qa/smoke-test-ingest-with-all-dependencies/src/yamlRestTest/resources/rest-api-spec/test/ingest/80_ingest_simulate.yml
  server/src/main/java/org/elasticsearch/action/bulk/TransportSimulateBulkAction.java
Labels: backport, auto-merge-without-approval, v8.19.1

#132278 [8.19] Fix combine result for `ingest_took` (#132088)
  docs/changelog/132088.yaml
  server/src/main/java/org/elasticsearch/action/bulk/BulkResponse.java
  server/src/main/java/org/elasticsearch/action/bulk/IncrementalBulkService.java
  server/src/test/java/org/elasticsearch/action/bulk/BulkResponseTests.java
Labels: >bug, backport, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v8.19.1

#131521 Run GeoIp YAML tests in multi-project cluster and fix bug discovered by tests
  modules/ingest-geoip/build.gradle
  modules/ingest-geoip/qa/multi-project/build.gradle
  modules/ingest-geoip/qa/multi-project/src/javaRestTest/java/org/elasticsearch/ingest/geoip/GeoIpMultiProjectIT.java
  modules/ingest-geoip/qa/multi-project/src/yamlRestTest/java/org/elasticsearch/ingest/geoip/IngestGeoIpClientMultiProjectYamlTestSuiteIT.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/DatabaseNodeService.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/EnterpriseGeoIpTaskState.java
  modules/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/GeoIpTaskState.java
  modules/ingest-geoip/src/yamlRestTest/java/org/elasticsearch/ingest/geoip/IngestGeoIpClientYamlTestSuiteIT.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v9.2.0

#132049 Fix testCloseOrReallocateDuringPartialSnapshot
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/SharedClusterSnapshotRestoreIT.java
Labels: >test, :Distributed Coordination/Snapshot/Restore, Team:Distributed Coordination, v9.2.0

#132351 Remove nested knn search mutes
  muted-tests.yml
Labels: >non-issue, :Search/Search, Team:Search, v9.2.0

#131782 Build Tasks to Find and Verify TransportVersion Definitions
  .gitignore
  build-tools-internal/build.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BaseInternalPluginBuildPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/CollectTransportVersionReferencesTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionManifestTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GlobalTransportVersionManagementPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionManagementPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionUtils.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionDefinitionsTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionReferencesTask.java
  server/build.gradle
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/defined/esql_split_on_big_values.csv
  server/src/test/resources/transport/defined/manifest.txt
  server/src/test/resources/transport/defined/test_0.csv
  server/src/test/resources/transport/defined/test_1.csv
  server/src/test/resources/transport/defined/test_2.csv
  server/src/test/resources/transport/defined/test_3.csv
  server/src/test/resources/transport/defined/test_4.csv
  x-pack/plugin/esql/compute/build.gradle
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/read/ValuesSourceReaderOperatorStatus.java
Labels: :Delivery/Build, :Core/Infra/Core, >refactoring, Team:Core/Infra, Team:Delivery, auto-backport, serverless-linked, v8.18.0, v9.2.0, v9.1.1, v8.19.1, v9.0.5

#132345 [8.18] OpenJDK EA builds should use https instead of http (#132297)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolver.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolverSpec.groovy
Labels: backport, v8.18.5

#132343 [9.0] OpenJDK EA builds should use https instead of http (#132297)
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolver.java
  build-tools-internal/src/test/groovy/org/elasticsearch/gradle/internal/toolchain/OracleOpenJdkToolchainResolverSpec.groovy
Labels: backport, v9.0.5

#132359 Update analysis-lowercase-tokenfilter.md
  docs/reference/text-analysis/analysis-lowercase-tokenfilter.md
Labels: >docs, :Search Relevance/Analysis, Team:Docs, external-contributor, Team:Search Relevance, v9.2.0

#132358 ESQL: Allow agg tests to process many columns
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/AbstractTopBytesRefAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/AggregatorFunctionTestCase.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctBooleanAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctBytesRefAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/CountDistinctLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/FilteredAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxBooleanAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxBytesRefAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxIpAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MaxLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MedianAbsoluteDeviationLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinBooleanAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinBytesRefAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinIpAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/MinLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/PercentileLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SampleBooleanAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SampleBytesRefAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SampleDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SampleIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SampleLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/SumLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/TopBooleanAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/TopDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/TopFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/TopIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/TopLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/ValuesBytesRefAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/ValuesDoubleAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/ValuesFloatAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/ValuesIntAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/ValuesLongAggregatorFunctionTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/AggregationOperatorTests.java
Labels: >refactoring, Team:Analytics, :Analytics/ES|QL, v9.2.0

#132326 [8.19] Improve Semantic Text Exists Query Tests (#132283)
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/70_semantic_text_exists_query.yml
Labels: >test, backport, auto-merge-without-approval, Team:SearchOrg, :SearchOrg/Relevance, Team:Search - Relevance, v8.19.1

#132322 Test fix: reduce the number of fields per document in StandardVersusLogsIndexModeChallengeRestIT
  muted-tests.yml
  x-pack/plugin/logsdb/src/javaRestTest/java/org/elasticsearch/xpack/logsdb/qa/StandardVersusLogsIndexModeChallengeRestIT.java
Labels: >test, auto-backport, Team:StorageEngine, :StorageEngine/Logs, v9.2.0, v9.1.1, v8.19.1, v9.0.5

#132340 [8.19] ESQL: Fix Driver creating status with a live list of operators (#132260)
  docs/changelog/132260.yaml
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/operator/Driver.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/operator/DriverTests.java
Labels: >bug, backport, Team:Analytics, :Analytics/ES|QL, v8.19.1

#132386 [9.0] Reduce the number of fields per document (#132322)
  x-pack/plugin/logsdb/src/javaRestTest/java/org/elasticsearch/xpack/logsdb/qa/StandardVersusLogsIndexModeChallengeRestIT.java
Labels: >test, backport, auto-merge-without-approval, v9.0.5

#132384 Speed up hierarchical k-means by computing distances in bulk
  benchmarks/src/main/java/org/elasticsearch/benchmark/vector/DistanceBulkBenchmark.java
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/ESVectorUtil.java
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/internal/vectorization/DefaultESVectorUtilSupport.java
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/internal/vectorization/ESVectorUtilSupport.java
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/vectorization/PanamaESVectorUtilSupport.java
  libs/simdvec/src/test/java/org/elasticsearch/simdvec/ESVectorUtilTests.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/cluster/KMeansLocal.java
Labels: >non-issue, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132167 EQL: Deal with internally created IN in a different way for EQL
  docs/changelog/132167.yaml
  x-pack/plugin/eql/qa/common/build.gradle
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/DataLoader.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/test/resources/querytranslator_tests.txt
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/In.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRules.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRulesTests.java
Labels: >bug, :Analytics/EQL, Team:Analytics, auto-backport, v9.2.0, v9.1.1, v8.19.1, v9.0.5, v8.18.5

#132395 [8.18] EQL: Deal with internally created IN in a different way for EQL (#132167)
  docs/changelog/132167.yaml
  x-pack/plugin/eql/qa/common/build.gradle
  x-pack/plugin/eql/qa/common/src/main/java/org/elasticsearch/test/eql/DataLoader.java
  x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/optimizer/Optimizer.java
  x-pack/plugin/eql/src/test/resources/querytranslator_tests.txt
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/expression/predicate/operator/comparison/In.java
  x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRules.java
  x-pack/plugin/ql/src/test/java/org/elasticsearch/xpack/ql/optimizer/OptimizerRulesTests.java
Labels: >bug, backport, :Analytics/EQL, Team:Analytics, auto-merge-without-approval, v8.18.5

#132397 Small optimization in OptimizedScalarQuantizer by using mul instead of div
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/internal/vectorization/DefaultESVectorUtilSupport.java
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/vectorization/PanamaESVectorUtilSupport.java
Labels: >non-issue, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#130618 Short circuit failure handling in OIDC flow
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
Labels: >non-issue, :Security/Authentication, Team:Security, auto-merge-without-approval, auto-backport, v9.2.0, v9.1.1, v8.19.1, v9.0.5, v8.18.5

#132403 [9.0] Short circuit failure handling in OIDC flow (#130618)
  x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java
  x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticatorTests.java
Labels: >non-issue, :Security/Authentication, backport, Team:Security, auto-merge-without-approval, v9.0.5

#132405 Fix release tests diskbbq update
  muted-tests.yml
  server/src/test/java/org/elasticsearch/index/mapper/vectors/DenseVectorFieldMapperTests.java
Labels: >test, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132293 [DiskBBQ] Only collect max score
  libs/simdvec/src/main/java/org/elasticsearch/simdvec/ES91OSQVectorsScorer.java
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/vectorization/MemorySegmentES91OSQVectorsScorer.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/DefaultIVFVectorsReader.java
Labels: >non-issue, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132414 Adjust date docvalue formatting to return 4xx instead of 5xx
  docs/changelog/132414.yaml
  server/src/main/java/org/elasticsearch/search/DocValueFormat.java
Labels: >bug, Team:Search Relevance, :Search Relevance/Search, v9.2.0

#132406 Fixing esql release tests #132369
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/analysis/AnalyzerTests.java
Labels: >test, auto-merge-without-approval, Team:Search Relevance, v9.2.0, :Search Relevance/ES|QL

#132420 Fix and unmute SemanticInferenceMetadataFieldsRecoveryTests
  test/framework/src/main/java/org/elasticsearch/index/engine/EngineTestCase.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticInferenceMetadataFieldsRecoveryTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldTests.java
Labels: >test, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v8.18.5

#132426 [9.0] Skip update/100_synthetic_source tests in yamlRestCompatTests (#132296)
  rest-api-spec/build.gradle
Labels: >test, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Mapping, v9.0.5

#132077 Add `TestEntitlementsRule` and node grants for testing
  server/src/internalClusterTest/java/org/elasticsearch/discovery/single/SingleNodeDiscoveryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/MultiClusterRepoAccessIT.java
  server/src/test/java/org/elasticsearch/bootstrap/EntitlementMetaTests.java
  server/src/test/java/org/elasticsearch/bootstrap/WithEntitlementsOnTestCodeMetaTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesServiceCloseTests.java
  test/framework/src/main/java/org/elasticsearch/entitlement/bootstrap/TestEntitlementBootstrap.java
  test/framework/src/main/java/org/elasticsearch/entitlement/bootstrap/TestEntitlementsRule.java
  test/framework/src/main/java/org/elasticsearch/entitlement/bootstrap/TestPathLookup.java
  test/framework/src/main/java/org/elasticsearch/entitlement/runtime/policy/TestPathLookup.java
  test/framework/src/main/java/org/elasticsearch/entitlement/runtime/policy/TestPolicyManager.java
  test/framework/src/main/java/org/elasticsearch/node/MockNode.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractMultiClustersTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  test/framework/src/test/java/org/elasticsearch/entitlement/runtime/policy/TestPolicyManagerTests.java
  test/framework/src/test/java/org/elasticsearch/test/test/InternalTestClusterTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
Labels: >refactoring, Team:Core/Infra, auto-backport, :Core/Infra/Entitlements, v9.2.0, v9.1.1, v8.19.1

#132431 [9.1] Add `TestEntitlementsRule` with support for dynamic entitled node paths for testing (#132077)
  server/src/internalClusterTest/java/org/elasticsearch/discovery/single/SingleNodeDiscoveryIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/MultiClusterRepoAccessIT.java
  server/src/test/java/org/elasticsearch/bootstrap/EntitlementMetaTests.java
  server/src/test/java/org/elasticsearch/bootstrap/WithEntitlementsOnTestCodeMetaTests.java
  server/src/test/java/org/elasticsearch/indices/IndicesServiceCloseTests.java
  test/framework/src/main/java/org/elasticsearch/entitlement/bootstrap/TestEntitlementBootstrap.java
  test/framework/src/main/java/org/elasticsearch/entitlement/bootstrap/TestEntitlementsRule.java
  test/framework/src/main/java/org/elasticsearch/entitlement/bootstrap/TestPathLookup.java
  test/framework/src/main/java/org/elasticsearch/entitlement/runtime/policy/TestPathLookup.java
  test/framework/src/main/java/org/elasticsearch/entitlement/runtime/policy/TestPolicyManager.java
  test/framework/src/main/java/org/elasticsearch/node/MockNode.java
  test/framework/src/main/java/org/elasticsearch/test/AbstractMultiClustersTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESSingleNodeTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java
  test/framework/src/test/java/org/elasticsearch/entitlement/runtime/policy/TestPolicyManagerTests.java
  test/framework/src/test/java/org/elasticsearch/test/test/InternalTestClusterTests.java
  x-pack/plugin/ccr/src/test/java/org/elasticsearch/xpack/CcrIntegTestCase.java
Labels: >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, :Core/Infra/Entitlements, v9.1.1

#132435 [9.1] ES|QL: fix generative tests (#131071)
  muted-tests.yml
  x-pack/plugin/esql/qa/server/src/main/java/org/elasticsearch/xpack/esql/qa/rest/generative/EsqlQueryGenerator.java
Labels: >test, backport, auto-merge-without-approval, :Analytics/ES|QL, v9.1.1

#132433 Fix max score calculation in MemorySegmentES91OSQVectorsScorer
  libs/simdvec/src/main21/java/org/elasticsearch/simdvec/internal/vectorization/MemorySegmentES91OSQVectorsScorer.java
  libs/simdvec/src/test/java/org/elasticsearch/simdvec/internal/vectorization/ES91OSQVectorScorerTests.java
Labels: >non-issue, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132440 [8.19] Aggs: Add validation to Bucket script pipeline agg (#132320)
  docs/changelog/132320.yaml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/bucket_script.yml
  server/src/main/java/org/elasticsearch/rest/action/search/SearchCapabilities.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptPipelineAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptAggregatorTests.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, auto-merge-without-approval, v8.19.1

#132439 [8.18]Aggs: Add validation to Bucket script pipeline agg (#132320)
  docs/changelog/132320.yaml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/bucket_script.yml
  server/src/main/java/org/elasticsearch/rest/action/search/SearchCapabilities.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptPipelineAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptAggregatorTests.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, auto-merge-without-approval, v8.18.5

#132442 [9.1] Aggs: Add validation to Bucket script pipeline agg (#132320)
  docs/changelog/132320.yaml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/bucket_script.yml
  server/src/main/java/org/elasticsearch/rest/action/search/SearchCapabilities.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptPipelineAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptAggregatorTests.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, auto-merge-without-approval, v9.1.1

#132441 [9.0] Aggs: Add validation to Bucket script pipeline agg (#132320)
  docs/changelog/132320.yaml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/bucket_script.yml
  server/src/main/java/org/elasticsearch/rest/action/search/SearchCapabilities.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptPipelineAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptAggregatorTests.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, auto-merge-without-approval, v9.0.5

#132438 [8.17] Aggs: Add validation to Bucket script pipeline agg (#132320)
  docs/changelog/132320.yaml
  modules/aggregations/src/yamlRestTest/resources/rest-api-spec/test/aggregations/bucket_script.yml
  server/src/main/java/org/elasticsearch/rest/action/search/SearchCapabilities.java
  server/src/main/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptPipelineAggregator.java
  server/src/test/java/org/elasticsearch/search/aggregations/pipeline/BucketScriptAggregatorTests.java
Labels: >bug, :Analytics/Aggregations, backport, Team:Analytics, auto-merge-without-approval, v8.17.10

#131350 docs: add sort note in pinned_query
  docs/reference/query-languages/query-dsl/query-dsl-pinned-query.md
Labels: >docs, Team:Docs, Team:SearchOrg, :SearchOrg/Relevance, Team:Search - Relevance, v9.2.0

#132448 CompressorFactory.compressor
  server/src/main/java/org/elasticsearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/elasticsearch/common/compress/CompressedXContent.java
  server/src/main/java/org/elasticsearch/common/compress/CompressorFactory.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentHelper.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PublicationTransportHandlerTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/support/XContentHelperTests.java
Labels: >non-issue, :Core/Infra/Core, Team:Core/Infra, auto-backport, v9.2.0, v8.19.1

#132138 Fix index lookup when field-caps returns empty mapping
  docs/changelog/132138.yaml
  x-pack/plugin/build.gradle
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterLookupJoinIT.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/EsqlSession.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/session/IndexResolver.java
Labels: >bug, Team:Analytics, :Analytics/ES|QL, v9.2.0

#132362 [ML] Inference API disable partial search results
  docs/changelog/132362.yaml
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/InferenceIndicesIT.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceIndex.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferencePlugin.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceSecretsIndex.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/registry/ModelRegistry.java
Labels: >bug, :ml, Team:ML, v9.2.0

#132399 ESQL: Fix Function javadoc
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/expression/function/Function.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.2.0

#131858 Stabilize CancellableTasksIT#testRemoveBanParentsOnDisconnect
  muted-tests.yml
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/node/tasks/CancellableTasksIT.java
Labels: >test, :Distributed Coordination/Task Management, Team:Distributed Coordination, v9.2.0

#131859 Fix testing NPE in doEnsureClusterStateConsistency()
  test/framework/src/main/java/org/elasticsearch/test/ESIntegTestCase.java
Labels: >test, :Distributed Coordination/Cluster Coordination, Team:Distributed Coordination, v9.2.0

#132454 [8.19] CompressorFactory.compressor (#132448)
  server/src/main/java/org/elasticsearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/elasticsearch/common/compress/CompressedXContent.java
  server/src/main/java/org/elasticsearch/common/compress/CompressorFactory.java
  server/src/main/java/org/elasticsearch/common/xcontent/XContentHelper.java
  server/src/test/java/org/elasticsearch/cluster/coordination/PublicationTransportHandlerTests.java
  server/src/test/java/org/elasticsearch/common/xcontent/support/XContentHelperTests.java
Labels: >non-issue, :Core/Infra/Core, backport, Team:Core/Infra, auto-merge-without-approval, v8.19.1

#132473 [9.1] Clarify quantization on semantic_text BBQ dense vector default (#132470)
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, Team:SearchOrg, :SearchOrg/Relevance, Team:Search - Relevance, v9.1.1

#132452 Misc cleanups in Coordinator
  server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java
Labels: >non-issue, :Distributed Coordination/Cluster Coordination, auto-merge-without-approval, Team:Distributed Coordination, v9.2.0

#132469 ESQL: Allow FIRST and LAST as method name
  x-pack/plugin/esql/src/main/antlr/parser/Expression.g4
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.interp
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/EsqlBaseParser.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/parser/ExpressionBuilder.java
Labels: >refactoring, Team:Analytics, :Analytics/ES|QL, v9.2.0

#132499 Revert "[Fleet] add privileges to `kibana_system` to read integration…
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Core/Infra/Plugins, Team:Core/Infra, external-contributor, Team:Fleet, v9.2.0

#132505 [9.0] Add inference fields to semantic text docs (#132471)
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
Labels: backport, v9.0.5

#132504 [9.1] Add inference fields to semantic text docs (#132471)
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
Labels: >docs, backport, Team:Docs, auto-merge-without-approval, Team:SearchOrg, :SearchOrg/Relevance, Team:Search - Relevance, v9.1.2

#132491 Add release notes for v8.19.1 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.19.0.asciidoc
  docs/reference/release-notes/8.19.1.asciidoc
Labels: >docs, Team:Docs, v8.19.1, v8.19.2

#132449 [DOCS]: Add 8.19.1 Connectors release notes
  docs/reference/connector/docs/connectors-release-notes.asciidoc
Labels: >docs, Team:Docs, documentation, v8.19.0, v8.19.2

#132459 ESQL: Small fixes for COPY_SIGN
  docs/changelog/132459.yaml
  docs/reference/query-languages/esql/_snippets/functions/description/copy_sign.md
  docs/reference/query-languages/esql/_snippets/functions/layout/copy_sign.md
  docs/reference/query-languages/esql/_snippets/functions/parameters/copy_sign.md
  docs/reference/query-languages/esql/_snippets/functions/types/copy_sign.md
  docs/reference/query-languages/esql/_snippets/lists/math-functions.md
  docs/reference/query-languages/esql/functions-operators/math-functions.md
  docs/reference/query-languages/esql/images/functions/copy_sign.svg
  docs/reference/query-languages/esql/kibana/definition/functions/copy_sign.json
  docs/reference/query-languages/esql/kibana/docs/functions/copy_sign.md
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/CopySign.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/TestCaseSupplier.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/CopySignErrorTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/CopySignTests.java
Labels: >bug, Team:Analytics, auto-backport, :Analytics/ES|QL, v9.2.0, v9.1.2

#132485 Clarify partial updates for semantic text
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
Labels: >docs, Team:Docs, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132410 Add support for retrieving semantic_text's indexed chunks via fields API
  docs/changelog/132410.yaml
  docs/reference/elasticsearch/mapping-reference/semantic-text.md
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/InferenceFeatures.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticInferenceMetadataFieldsMapper.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/mapper/SemanticTextFieldMapper.java
  x-pack/plugin/inference/src/yamlRestTest/resources/rest-api-spec/test/inference/90_semantic_text_highlighter.yml
Labels: >feature, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132508 ESQL: Add sub-logger just for changes from rules
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/rule/RuleExecutor.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.2.0

#132488 Add release notes for v9.1.1 release
  docs/release-notes/breaking-changes.md
  docs/release-notes/changelog-bundles/9.1.1.yml
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
Labels: >docs, Team:Docs, v9.2.0, v9.1.1

#132497 Add cache miss and read metrics
  docs/changelog/132497.yaml
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/BlobCacheMetrics.java
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
  x-pack/plugin/blob-cache/src/test/java/org/elasticsearch/blobcache/BlobCacheMetricsTests.java
Labels: >enhancement, serverless-linked, Team:Distributed Indexing, :Distributed Indexing/Searchable Snapshots, v9.2.0

#132530 [DiskBBQ] fix computation of scoreDocs
  server/src/main/java/org/elasticsearch/index/codec/vectors/DefaultIVFVectorsReader.java
Labels: >non-issue, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132445 Add {m365_defender,microsoft_defender_endpoint}.vulnerability indices to kibana_system role permissions
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, Team:Security, external-contributor, auto-backport, Team:Cloud Security, v9.2.0, v8.19.2, v9.1.2, v8.18.6, v9.0.6

#132531 Acquire the engine reset write lock during post_recovery refresh
  server/src/main/java/org/elasticsearch/index/shard/IndexShard.java
Labels: >non-issue, :Distributed Indexing/Engine, serverless-linked, Team:Distributed Indexing, v9.2.0

#132507 Set `RemoteClusterPortSettings.PORT` default to 9400 in stateless
  server/src/main/java/org/elasticsearch/transport/RemoteClusterPortSettings.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterPortSettingsTests.java
Labels: >non-issue, :Distributed Coordination/Network, serverless-linked, Team:Distributed Coordination, v9.2.0

#132521 Create a utility class for static SnapshotsService methods
  modules/repository-s3/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java
  qa/repository-multi-version/src/test/java/org/elasticsearch/upgrades/MultiVersionRepositoryAccessIT.java
  server/src/internalClusterTest/java/org/elasticsearch/snapshots/CorruptedBlobStoreRepositoryIT.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/repositories/cleanup/TransportCleanupRepositoryAction.java
  server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/TransportSnapshotsStatusAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDataStreamsService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataDeleteIndexService.java
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexStateService.java
  server/src/main/java/org/elasticsearch/repositories/FinalizeSnapshotContext.java
  server/src/main/java/org/elasticsearch/repositories/RepositoryData.java
  server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotShardsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsService.java
  server/src/main/java/org/elasticsearch/snapshots/SnapshotsServiceUtils.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotResiliencyTests.java
  server/src/test/java/org/elasticsearch/snapshots/SnapshotsServiceTests.java
  test/framework/src/main/java/org/elasticsearch/snapshots/AbstractSnapshotIntegTestCase.java
Labels: >non-issue, :Distributed Coordination/Snapshot/Restore, Team:Distributed Coordination, v9.2.0

#132544 ESQL: Add `applies_to` to COPY_SIGN docs
  docs/reference/query-languages/esql/_snippets/functions/layout/copy_sign.md
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/math/CopySign.java
Labels: >docs, Team:Docs, Team:Analytics, auto-merge-without-approval, :Analytics/ES|QL, v9.2.0

#132456 Some optimizations for constant blocks
  docs/changelog/132456.yaml
  x-pack/plugin/esql/compute/src/main/generated-src/org/elasticsearch/compute/aggregation/blockhash/BytesRefBlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/CountGroupingAggregatorFunction.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/ValuesBytesRefAggregators.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/BytesRefLongBlockHash.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/aggregation/blockhash/X-BlockHash.java.st
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/read/SingletonOrdinalsBuilder.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/aggregation/blockhash/BlockHashTests.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/read/SingletonOrdinalsBuilderTests.java
Labels: >enhancement, Team:Analytics, :Analytics/ES|QL, v9.2.0

#132523 Improve estimating live docs bytes
  server/src/main/java/org/elasticsearch/index/engine/Engine.java
  server/src/main/java/org/elasticsearch/index/shard/ShardFieldStats.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
Labels: >non-issue, Team:StorageEngine, :StorageEngine/Codec, v9.2.0

#132565 [9.0] Run snyk dependency checks on all active branches (#132545)
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v9.0.6

#132564 [8.18] Run snyk dependency checks on all active branches (#132545)
  .buildkite/pipelines/periodic.template.yml
  .buildkite/pipelines/periodic.yml
Labels: >non-issue, :Delivery/Build, backport, Team:Delivery, auto-merge-without-approval, v8.18.6

#131220 Add implementation for exponential histogram merging and percentiles
  benchmarks/build.gradle
  benchmarks/src/main/java/org/elasticsearch/benchmark/exponentialhistogram/ExponentialHistogramGenerationBench.java
  benchmarks/src/main/java/org/elasticsearch/benchmark/exponentialhistogram/ExponentialHistogramMergeBench.java
  build-conventions/src/main/java/org/elasticsearch/gradle/internal/conventions/precommit/LicenseHeadersTask.java
  gradle/verification-metadata.xml
  libs/exponential-histogram/LICENSE.txt
  libs/exponential-histogram/NOTICES.txt
  libs/exponential-histogram/build.gradle
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/Base2ExponentialHistogramIndexer.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/BucketIterator.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/CopyableBucketIterator.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/DownscaleStats.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogram.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramGenerator.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramMerger.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramQuantile.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ExponentialScaleUtils.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/FixedCapacityExponentialHistogram.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/MergingBucketIterator.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ScaleAdjustingBucketIterator.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/ZeroBucket.java
  libs/exponential-histogram/src/main/java/org/elasticsearch/exponentialhistogram/package-info.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/DownscaleStatsTests.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramGeneratorTests.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/ExponentialHistogramMergerTests.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/ExponentialScaleUtilsTests.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/FixedCapacityExponentialHistogramTests.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/QuantileAccuracyTests.java
  libs/exponential-histogram/src/test/java/org/elasticsearch/exponentialhistogram/ZeroBucketTests.java
Labels: >non-issue, external-contributor, Team:StorageEngine, :StorageEngine/Mapping, v9.2.0

#132462 Optimized date parsing for numbers
  server/src/main/java/org/elasticsearch/index/mapper/DateFieldMapper.java
Labels: >non-issue, :Search Foundations/Mapping, external-contributor, Team:StorageEngine, :StorageEngine/Mapping, Team:Search Foundations, v9.2.0

#132547 Add epoch blob-cache metric
  docs/changelog/132547.yaml
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/BlobCacheMetrics.java
  x-pack/plugin/blob-cache/src/main/java/org/elasticsearch/blobcache/shared/SharedBlobCacheService.java
  x-pack/plugin/blob-cache/src/test/java/org/elasticsearch/blobcache/shared/SharedBlobCacheServiceTests.java
Labels: >enhancement, Team:Distributed Indexing, :Distributed Indexing/Searchable Snapshots, v9.2.0

#132572 [9.0] [ExtraHop][Qualys GAV] - Fix Cannot execute ILM policy delete step (#132387)
  docs/changelog/132387.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: backport, external-contributor, auto-merge-without-approval, v9.0.6

#132571 [9.1] [ExtraHop][Qualys GAV] - Fix Cannot execute ILM policy delete step (#132387)
  docs/changelog/132387.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: backport, external-contributor, auto-merge-without-approval, v9.1.2

#132577 KnnIndexer: update index count to not appear as if it has indexed more docs than it has
  qa/vector/src/main/java/org/elasticsearch/test/knn/KnnIndexer.java
Labels: >non-issue, >test, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132570 Always stop the timer when profiling the fetch phase
  docs/changelog/132570.yaml
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/test/java/org/elasticsearch/action/search/FetchSearchPhaseTests.java
Labels: >bug, auto-merge-without-approval, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.2.0, v8.19.2, v9.1.2

#132548 Have top level knn searches tracked in query stats
  docs/changelog/132548.yaml
  server/src/main/java/org/elasticsearch/search/dfs/DfsPhase.java
  server/src/test/java/org/elasticsearch/index/shard/IndexShardTests.java
  server/src/test/java/org/elasticsearch/search/dfs/DfsPhaseTests.java
  test/framework/src/main/java/org/elasticsearch/index/shard/IndexShardTestCase.java
Labels: >bug, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132535 Add ESQL `DAY_NAME` function
  docs/reference/query-languages/esql/_snippets/functions/description/day_name.md
  docs/reference/query-languages/esql/_snippets/functions/examples/day_name.md
  docs/reference/query-languages/esql/_snippets/functions/layout/day_name.md
  docs/reference/query-languages/esql/_snippets/functions/parameters/day_name.md
  docs/reference/query-languages/esql/_snippets/functions/types/day_name.md
  docs/reference/query-languages/esql/_snippets/lists/date-time-functions.md
  docs/reference/query-languages/esql/functions-operators/date-time-functions.md
  docs/reference/query-languages/esql/images/functions/day_name.svg
  docs/reference/query-languages/esql/kibana/definition/functions/day_name.json
  docs/reference/query-languages/esql/kibana/docs/functions/day_name.md
  x-pack/plugin/esql/qa/testFixtures/src/main/resources/date.csv-spec
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/date/DayNameMillisEvaluator.java
  x-pack/plugin/esql/src/main/generated/org/elasticsearch/xpack/esql/expression/function/scalar/date/DayNameNanosEvaluator.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/action/EsqlCapabilities.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/EsqlFunctionRegistry.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/ScalarFunctionWritables.java
  x-pack/plugin/esql/src/main/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DayName.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DayNameErrorTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DayNameSerializationTests.java
  x-pack/plugin/esql/src/test/java/org/elasticsearch/xpack/esql/expression/function/scalar/date/DayNameTests.java
Labels: >feature, Team:Analytics, :Analytics/ES|QL, v9.2.0

#132585 [9.1] Always stop the timer when profiling the fetch phase (#132570)
  docs/changelog/132570.yaml
  server/src/main/java/org/elasticsearch/search/fetch/FetchPhase.java
  server/src/test/java/org/elasticsearch/action/search/FetchSearchPhaseTests.java
Labels: >bug, backport, auto-merge-without-approval, Team:Search Foundations, :Search Foundations/Search, v9.1.2

#132593 Calculate text string length correctly for code points outside BMP
  docs/changelog/132593.yaml
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/json/ESUTF8StreamJsonParser.java
  libs/x-content/impl/src/test/java/org/elasticsearch/xcontent/provider/json/ESUTF8StreamJsonParserTests.java
  muted-tests.yml
Labels: >bug, auto-backport, Team:StorageEngine, :StorageEngine/Mapping, v9.1.0, v9.2.0, v8.19.1

#132590 ESQL: Bump Apache Arrow dependency (#132100)
  gradle/verification-metadata.xml
  x-pack/plugin/esql/arrow/build.gradle
  x-pack/plugin/esql/qa/server/single-node/build.gradle
Labels: >refactoring, backport, :Analytics/ES|QL, v8.18.6

#132598 [9.1] Calculate text string length correctly for code points outside BMP (#132593)
  docs/changelog/132593.yaml
  libs/x-content/impl/src/main/java/org/elasticsearch/xcontent/provider/json/ESUTF8StreamJsonParser.java
  libs/x-content/impl/src/test/java/org/elasticsearch/xcontent/provider/json/ESUTF8StreamJsonParserTests.java
Labels: backport, auto-merge-without-approval

#132597 Use local segment fieldInfos to lookup tsdb merge stats
  docs/changelog/132597.yaml
  server/src/main/java/org/elasticsearch/index/codec/tsdb/es819/DocValuesConsumerUtil.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesFormatTests.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/es819/ES819TSDBDocValuesFormatTests.java
  x-pack/plugin/logsdb/src/internalClusterTest/java/org/elasticsearch/xpack/logsdb/LogsIndexingIT.java
Labels: >bug, auto-backport, Team:StorageEngine, :StorageEngine/Codec, v9.2.0, v8.19.2, v9.1.2

#132612 [9.1] Use local segment fieldInfos to lookup tsdb merge stats (#132597)
  docs/changelog/132597.yaml
  server/src/main/java/org/elasticsearch/index/codec/tsdb/es819/DocValuesConsumerUtil.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesFormatTests.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/es819/ES819TSDBDocValuesFormatTests.java
  x-pack/plugin/logsdb/src/internalClusterTest/java/org/elasticsearch/xpack/logsdb/LogsIndexingIT.java
Labels: >bug, backport, auto-merge-without-approval, Team:StorageEngine, :StorageEngine/Codec, v9.1.2

#132613 [8.19] Use local segment fieldInfos to lookup tsdb merge stats (#132597)
  docs/changelog/132597.yaml
  server/src/main/java/org/elasticsearch/index/codec/tsdb/es819/DocValuesConsumerUtil.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/ES87TSDBDocValuesFormatTests.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/es819/ES819TSDBDocValuesFormatTests.java
  x-pack/plugin/logsdb/src/internalClusterTest/java/org/elasticsearch/xpack/logsdb/LogsIndexingIT.java
Labels: backport, auto-merge-without-approval, v8.19.2

#132614 Allow the test to also accept partial, this seems to be normal
  muted-tests.yml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterQueryWithPartialResultsIT.java
Labels: >test, >test-failure, Team:Analytics, :Analytics/ES|QL, needs:risk, v9.2.0

#132615 [9.1] Allow the test to also accept partial, this seems to be normal (#132614)
  muted-tests.yml
  x-pack/plugin/esql/src/internalClusterTest/java/org/elasticsearch/xpack/esql/action/CrossClusterQueryWithPartialResultsIT.java
Labels: >test, backport, auto-merge-without-approval, :Analytics/ES|QL, v9.1.2

#128459 [8.19] Remove tsdb_doc_values_optimized_merge feature flag. (#128435)
  docs/changelog/128459.yaml
  server/src/main/java/org/elasticsearch/index/codec/tsdb/es819/ES819TSDBDocValuesFormat.java
Labels: >bug, Team:StorageEngine, :StorageEngine/Codec, v8.19.0

#132628 [9.0] Add {m365_defender,microsoft_defender_endpoint}.vulnerability indices to kibana_system role permissions (#132445)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, backport, Team:Security, external-contributor, auto-merge-without-approval, Team:Cloud Security, v9.0.6

#132574 [8.18] [ExtraHop][Qualys GAV] - Fix Cannot execute ILM policy delete step (#132387)
  docs/changelog/132387.yaml
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: backport, external-contributor, auto-merge-without-approval, v8.18.6

#132070 [8.19] Fix entitlements in internalClusterTest (#131539)
  libs/entitlement/src/main/java/org/elasticsearch/entitlement/runtime/policy/PolicyManager.java
  modules/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureBlobStoreRepositoryTests.java
  modules/repository-azure/src/internalClusterTest/java/org/elasticsearch/repositories/azure/AzureRepositoryMissingCredentialsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/ReloadSecureSettingsIT.java
  server/src/internalClusterTest/java/org/elasticsearch/action/admin/cluster/tasks/PendingTasksBlocksIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/RemoveCustomsCommandIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/RemoveIndexSettingsCommandIT.java
  server/src/internalClusterTest/java/org/elasticsearch/cluster/coordination/RemoveSettingsCommandIT.java
  server/src/internalClusterTest/java/org/elasticsearch/index/shard/RemoveCorruptedShardDataCommandIT.java
  test/framework/src/main/java/org/elasticsearch/entitlement/bootstrap/TestEntitlementBootstrap.java
  test/framework/src/main/java/org/elasticsearch/entitlement/runtime/policy/TestPolicyManager.java
  test/framework/src/main/java/org/elasticsearch/node/MockNode.java
  test/framework/src/main/java/org/elasticsearch/test/ESTestCase.java
  test/framework/src/test/java/org/elasticsearch/entitlement/runtime/policy/TestPolicyManagerTests.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/action/filter/ShardBulkInferenceActionFilterBasicLicenseIT.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/action/filter/ShardBulkInferenceActionFilterIT.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/InferenceRevokeDefaultEndpointsIT.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/ModelRegistryIT.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/SemanticTextIndexOptionsIT.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/integration/SemanticTextIndexVersionIT.java
  x-pack/plugin/inference/src/internalClusterTest/java/org/elasticsearch/xpack/inference/rest/ServerSentEventsRestActionListenerTests.java
Labels: backport, v8.19.2

#122393 [8.x] Simplify InternalOrder.isOrder a little (#122372)
  server/src/main/java/org/elasticsearch/search/aggregations/InternalOrder.java
Labels: >non-issue, :Analytics/Aggregations, backport, Team:Analytics, auto-merge-without-approval, v8.19.0

#131929 [8.19] Remove type from bulk rest-api-spec
  rest-api-spec/src/main/resources/rest-api-spec/api/bulk.json
Labels: >non-issue, :Core/Infra/REST API, Team:Core/Infra, auto-backport, v8.19.2, v8.18.6

#132532 Finalize release notes for v9.1.1 release
  docs/release-notes/breaking-changes.md
  docs/release-notes/changelog-bundles/9.1.1.yml
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
Labels: >docs, Team:Docs, v9.2.0, v9.1.1

#132629 [8.19] Add {m365_defender,microsoft_defender_endpoint}.vulnerability indices to kibana_system role permissions (#132445)
  x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/KibanaOwnedReservedRoleDescriptors.java
  x-pack/plugin/core/src/test/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStoreTests.java
Labels: >non-issue, :Security/Authorization, backport, Team:Security, external-contributor, auto-merge-without-approval, Team:Cloud Security, v8.19.2

#132553 Enable `RemoteClusterService` client features on search nodes by default for CPS
  server/src/main/java/org/elasticsearch/action/admin/cluster/remote/TransportRemoteInfoAction.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterAware.java
  server/src/main/java/org/elasticsearch/transport/RemoteClusterService.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterClientTests.java
  server/src/test/java/org/elasticsearch/transport/RemoteClusterServiceTests.java
Labels: >non-issue, :Distributed Coordination/Network, serverless-linked, Team:Distributed Coordination, v9.2.0

#132642 Add tasks to validate new style transport versions (#131782)
  .gitignore
  build-tools-internal/build.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BaseInternalPluginBuildPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/CollectTransportVersionReferencesTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionManifestTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GlobalTransportVersionManagementPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionManagementPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionUtils.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionDefinitionsTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionReferencesTask.java
  server/build.gradle
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/defined/esql_split_on_big_values.csv
  server/src/test/resources/transport/defined/manifest.txt
  server/src/test/resources/transport/defined/test_0.csv
  server/src/test/resources/transport/defined/test_1.csv
  server/src/test/resources/transport/defined/test_2.csv
  server/src/test/resources/transport/defined/test_3.csv
  server/src/test/resources/transport/defined/test_4.csv
  x-pack/plugin/esql/compute/build.gradle
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/read/ValuesSourceReaderOperatorStatus.java
Labels: backport, auto-merge-without-approval, v9.1.2

#132588 ESQL: Bump Apache Arrow dependency (#132100)
  gradle/verification-metadata.xml
  x-pack/plugin/esql/arrow/build.gradle
  x-pack/plugin/esql/qa/server/single-node/build.gradle
Labels: >non-issue, backport, :Analytics/ES|QL, v8.19.2

#132652 [Transform] Upgrade Mode docs
  rest-api-spec/src/main/resources/rest-api-spec/api/transform.set_upgrade_mode.json
Labels: >docs, :ml/Transform, Team:Docs, Team:ML, auto-backport, v9.2.0, v8.19.2, v9.1.2, v8.18.6, v9.0.6

#132669 [9.0] [Transform] Upgrade Mode docs (#132652)
  rest-api-spec/src/main/resources/rest-api-spec/api/transform.set_upgrade_mode.json
Labels: >docs, backport, :ml/Transform, Team:Docs, Team:ML, auto-merge-without-approval, v9.0.6

#132666 [8.19] [Transform] Upgrade Mode docs (#132652)
  rest-api-spec/src/main/resources/rest-api-spec/api/transform.set_upgrade_mode.json
Labels: >docs, backport, :ml/Transform, Team:Docs, Team:ML, auto-merge-without-approval, v8.19.2

#132502 [ML] Removing error object check in inference API
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/BaseResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/ChatCompletionErrorResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/ResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/external/http/retry/RetryingHttpSender.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/amazonbedrock/response/AmazonBedrockResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/azureopenai/response/AzureMistralOpenAiExternalResponseHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/googlevertexai/GoogleVertexAiUnifiedChatCompletionResponseHandler.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/retry/AlwaysRetryingResponseHandler.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/retry/BaseResponseHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/external/http/retry/RetryingHttpSenderTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/ai21/completion/Ai21ChatCompletionResponseHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/googlevertexai/GoogleVertexAiUnifiedChatCompletionResponseHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/huggingface/HuggingFaceChatCompletionResponseHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/llama/completion/LlamaChatCompletionResponseHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/mistral/MistralUnifiedChatCompletionResponseHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/openai/OpenAiUnifiedChatCompletionResponseHandlerTests.java
Labels: >refactoring, :ml, Team:ML, v9.2.0

#132648 Unmute CCSDuelIT_testTerminateAfter test
  muted-tests.yml
  qa/multi-cluster-search/src/test/java/org/elasticsearch/search/CCSDuelIT.java
Labels: >test, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.1.0, v9.2.0

#132645 Add tasks to validate new style transport versions (#131782)
  .gitignore
  build-tools-internal/build.gradle
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/BaseInternalPluginBuildPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/CollectTransportVersionReferencesTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionManifestTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GlobalTransportVersionManagementPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionManagementPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionUtils.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionDefinitionsTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionReferencesTask.java
  server/build.gradle
  server/src/main/java/org/elasticsearch/TransportVersion.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/defined/esql_split_on_big_values.csv
  server/src/test/resources/transport/defined/manifest.txt
  server/src/test/resources/transport/defined/test_0.csv
  server/src/test/resources/transport/defined/test_1.csv
  server/src/test/resources/transport/defined/test_2.csv
  server/src/test/resources/transport/defined/test_3.csv
  server/src/test/resources/transport/defined/test_4.csv
  x-pack/plugin/esql/compute/build.gradle
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/read/ValuesSourceReaderOperatorStatus.java
Labels: backport, auto-merge-without-approval, v8.19.2

#132676 Add `@FixForMultiProject` in `EnrichPolicyMaintenanceService`
  x-pack/plugin/enrich/src/main/java/org/elasticsearch/xpack/enrich/EnrichPolicyMaintenanceService.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, auto-merge-without-approval, v9.2.0

#132131 Updating TransportSimulateIndexTemplateAction.resolveTemplate() to account for data stream overrides
  docs/changelog/132131.yaml
  qa/smoke-test-ingest-with-all-dependencies/src/yamlRestTest/resources/rest-api-spec/test/ingest/80_ingest_simulate.yml
  rest-api-spec/src/yamlRestTest/resources/rest-api-spec/test/indices.simulate_index_template/10_basic.yml
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/TransportSimulateIndexTemplateAction.java
  server/src/main/java/org/elasticsearch/action/admin/indices/template/post/TransportSimulateTemplateAction.java
  server/src/main/java/org/elasticsearch/action/bulk/TransportSimulateBulkAction.java
  server/src/test/java/org/elasticsearch/action/admin/indices/template/post/TransportSimulateIndexTemplateActionTests.java
Labels: >bug, :Data Management/Indices APIs, Team:Data Management, auto-backport, v9.2.0, v8.19.2, v9.1.2, v9.0.6

#132651 Use java8 variant of apm-agent
  distribution/tools/server-cli/src/main/java/org/elasticsearch/server/cli/APMJvmOptions.java
  distribution/tools/server-cli/src/test/java/org/elasticsearch/server/cli/APMJvmOptionsTests.java
  docs/changelog/132651.yaml
  gradle/verification-metadata.xml
  modules/apm/build.gradle
  modules/apm/licenses/elastic-apm-agent-java8-LICENSE.txt
  modules/apm/licenses/elastic-apm-agent-java8-NOTICE.txt
  server/src/main/java/org/elasticsearch/node/Node.java
Labels: :Core/Infra/Core, >upgrade, Team:Core/Infra, auto-backport, v9.2.0, v8.19.2, v9.1.2, v8.18.6, v9.0.6

#132684 Adding #132597 as known issue (8.19.1)
  docs/reference/release-notes/8.19.1.asciidoc
Labels: >docs, Team:Docs, external-contributor, Team:StorageEngine, :StorageEngine/Codec, v8.19.3

#132546 [ML] Improve EIS auth call logs and fix revocation bug
  docs/changelog/132546.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationRequestHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/response/ElasticInferenceServiceAuthorizationResponseEntity.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationRequestHandlerTests.java
Labels: >bug, :ml, Team:ML, auto-backport, v9.2.0, v8.19.2, v9.1.2, v8.18.6, v9.0.6

#132682 Adding #132597 as known issue (9.1.0-9.1.1)
  docs/release-notes/known-issues.md
Labels: >docs, Team:Docs, external-contributor, Team:StorageEngine, :StorageEngine/Codec, v9.2.0

#132690 [8.19] [ML] Improve EIS auth call logs and fix revocation bug (#132546)
  docs/changelog/132546.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationRequestHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/response/ElasticInferenceServiceAuthorizationResponseEntity.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationRequestHandlerTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v8.19.3

#132691 [9.1] [ML] Improve EIS auth call logs and fix revocation bug (#132546)
  docs/changelog/132546.yaml
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationModel.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationRequestHandler.java
  x-pack/plugin/inference/src/main/java/org/elasticsearch/xpack/inference/services/elastic/response/ElasticInferenceServiceAuthorizationResponseEntity.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationHandlerTests.java
  x-pack/plugin/inference/src/test/java/org/elasticsearch/xpack/inference/services/elastic/authorization/ElasticInferenceServiceAuthorizationRequestHandlerTests.java
Labels: >bug, :ml, backport, Team:ML, auto-merge-without-approval, v9.1.3

#132654 Remove old todo from BulkOperation
  server/src/main/java/org/elasticsearch/action/bulk/BulkOperation.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, auto-backport, v9.2.0, v9.1.2, v8.19.3

#132698 [9.1] Remove old todo from BulkOperation (#132654)
  server/src/main/java/org/elasticsearch/action/bulk/BulkOperation.java
Labels: >non-issue, :Data Management/Indices APIs, backport, Team:Data Management, auto-merge-without-approval, v9.1.3

#132657 Remove redundant validation calls from template service
  server/src/main/java/org/elasticsearch/cluster/metadata/MetadataIndexTemplateService.java
Labels: >non-issue, :Data Management/Indices APIs, Team:Data Management, v9.2.0

#132656 Refactor IngestService node info collection
  server/src/main/java/org/elasticsearch/action/ingest/PutPipelineTransportAction.java
  server/src/main/java/org/elasticsearch/ingest/IngestService.java
  server/src/test/java/org/elasticsearch/ingest/IngestServiceTests.java
Labels: >non-issue, :Data Management/Ingest Node, Team:Data Management, v9.2.0

#132622 Push compute engine value loading for longs down to tsdb codec.
  docs/changelog/132622.yaml
  server/src/main/java/org/elasticsearch/index/codec/tsdb/DocValuesForUtil.java
  server/src/main/java/org/elasticsearch/index/codec/tsdb/TSDBDocValuesEncoder.java
  server/src/main/java/org/elasticsearch/index/codec/tsdb/es819/BulkNumericDocValues.java
  server/src/main/java/org/elasticsearch/index/codec/tsdb/es819/ES819TSDBDocValuesProducer.java
  server/src/main/java/org/elasticsearch/index/mapper/BlockDocValuesReader.java
  server/src/main/java/org/elasticsearch/index/mapper/BlockLoader.java
  server/src/test/java/org/elasticsearch/index/codec/tsdb/es819/ES819TSDBDocValuesFormatTests.java
  server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java
  server/src/test/java/org/elasticsearch/index/mapper/LongFieldMapperTests.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/MapperTestCase.java
  test/framework/src/main/java/org/elasticsearch/index/mapper/TestBlock.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/read/DelegatingBlockLoaderFactory.java
  x-pack/plugin/esql/compute/src/main/java/org/elasticsearch/compute/lucene/read/SingletonLongBuilder.java
  x-pack/plugin/esql/compute/src/test/java/org/elasticsearch/compute/lucene/read/SingletonLongBuilderTests.java
  x-pack/plugin/mapper-unsigned-long/src/test/java/org/elasticsearch/xpack/unsignedlong/UnsignedLongFieldMapperTests.java
  x-pack/plugin/spatial/src/test/java/org/elasticsearch/xpack/spatial/index/mapper/PointFieldMapperTests.java
Labels: >enhancement, Team:Analytics, :Analytics/Compute Engine, Team:StorageEngine, :StorageEngine/Mapping, :StorageEngine/Codec, v9.2.0

#132665 Expand javadoc on NodeInfo
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/tree/Node.java
  x-pack/plugin/esql-core/src/main/java/org/elasticsearch/xpack/esql/core/tree/NodeInfo.java
Labels: >non-issue, Team:Analytics, :Analytics/ES|QL, v9.2.0

#132670 Add CuVSResourceManager for controlling parallelism and pooling of cuVS resources
  x-pack/plugin/gpu/src/internalClusterTest/java/org/elasticsearch/plugin/gpu/GPUIndexIT.java
  x-pack/plugin/gpu/src/main/java/org/elasticsearch/xpack/gpu/GPUPlugin.java
  x-pack/plugin/gpu/src/main/java/org/elasticsearch/xpack/gpu/GPUSupport.java
  x-pack/plugin/gpu/src/main/java/org/elasticsearch/xpack/gpu/codec/CuVSResourceManager.java
  x-pack/plugin/gpu/src/main/java/org/elasticsearch/xpack/gpu/codec/GPUToHNSWVectorsWriter.java
  x-pack/plugin/gpu/src/main/java/org/elasticsearch/xpack/gpu/codec/GPUVectorsFormat.java
  x-pack/plugin/gpu/src/test/java/org/elasticsearch/xpack/gpu/codec/CuVSResourceManagerTests.java
  x-pack/plugin/gpu/src/test/java/org/elasticsearch/xpack/gpu/codec/DatasetUtilsTests.java
  x-pack/plugin/gpu/src/test/java/org/elasticsearch/xpack/gpu/codec/GPUDenseVectorFieldMapperTests.java
  x-pack/plugin/gpu/src/test/java/org/elasticsearch/xpack/gpu/codec/GPUVectorsFormatTests.java
Labels: >non-issue, :Search Relevance/Vectors, Team:Search Relevance

#132710 Update MMapDirectory ReadAdvice function
  server/src/main/java/org/elasticsearch/index/store/FsDirectoryFactory.java
Labels: >non-issue, Team:Search Relevance, :Search Relevance/Search, v9.2.0

#132677 Add release notes for v8.17.10 release
  docs/reference/release-notes.asciidoc
  docs/reference/release-notes/8.17.10.asciidoc
Labels: >docs, Team:Docs, v8.17.10, v8.17.11

#132673 ESQL: Update num released functions after #132535
  muted-tests.yml
  x-pack/plugin/src/yamlRestTest/resources/rest-api-spec/test/esql/60_usage.yml
Labels: >test, Team:Analytics, test-release, :Analytics/ES|QL, v9.2.0

#132664 [DOCS]: Add Connector release notes for 9.0.5
  docs/reference/search-connectors/release-notes.md
Labels: >docs, Team:Docs, auto-backport, documentation, v9.1.0, v9.0.6

#132048 [Transform] Retry when failing to start indexer
  docs/changelog/132048.yaml
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/action/TransportGetTransformStatsAction.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutor.java
  x-pack/plugin/transform/src/main/java/org/elasticsearch/xpack/transform/transforms/TransformTask.java
  x-pack/plugin/transform/src/test/java/org/elasticsearch/xpack/transform/transforms/TransformPersistentTasksExecutorTests.java
Labels: >bug, :ml/Transform, Team:ML, v9.2.0

#132709 Debug code for SearchWithMinCompatibleSearchNodeIT testMinVersionAsOldVersion
  qa/mixed-cluster/src/test/java/org/elasticsearch/backwards/SearchWithMinCompatibleSearchNodeIT.java
Labels: >test, Team:Search Foundations, :Search Foundations/Search, v7.17.30

#132723 Unmute `CrossClusterEsqlRCS1EnrichUnavailableRemotesIT`
  muted-tests.yml
Labels: >test, Team:Search Foundations, :Search Foundations/Search, v9.2.0

#132726 Optimize CcsCommonYamlTestSuiteIT and unmute tests
  muted-tests.yml
  qa/ccs-common-rest/src/yamlRestTest/java/org/elasticsearch/test/rest/yaml/CcsCommonYamlTestSuiteIT.java
Labels: >test, auto-backport, Team:Search Foundations, :Search Foundations/Search, v9.0.0, v9.1.0, v9.2.0

#132697 Diskbbq posting list order
  server/src/main/java/org/elasticsearch/index/codec/vectors/DefaultIVFVectorsReader.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/DefaultIVFVectorsWriter.java
  server/src/main/java/org/elasticsearch/index/codec/vectors/DocIdsWriter.java
Labels: >non-issue, auto-merge-without-approval, :Search Relevance/Vectors, Team:Search Relevance, v9.2.0

#132373 Add more transport version files validation
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/TransportVersionManagementPluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/CollectTransportVersionReferencesTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionManifestTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GlobalTransportVersionManagementPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionManagementPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionUtils.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionDefinitionsTask.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/defined/initial_elasticsearch_8_18_5.csv
  server/src/main/resources/transport/defined/initial_elasticsearch_9_0_5.csv
  server/src/main/resources/transport/latest/8.18.csv
  server/src/main/resources/transport/latest/8.19.csv
  server/src/main/resources/transport/latest/9.0.csv
  server/src/main/resources/transport/latest/9.1.csv
  server/src/main/resources/transport/latest/9.2.csv
Labels: :Core/Infra/Core, >refactoring, Team:Core/Infra, auto-backport, v9.2.0, v8.18.6, v9.0.6, v9.1.3, v8.19.3

#132773 [9.1] Add more transport version files validation (#132373)
  build-tools-internal/src/integTest/groovy/org/elasticsearch/gradle/internal/transport/TransportVersionManagementPluginFuncTest.groovy
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/CollectTransportVersionReferencesTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GenerateTransportVersionManifestTask.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/GlobalTransportVersionManagementPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionManagementPlugin.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/TransportVersionUtils.java
  build-tools-internal/src/main/java/org/elasticsearch/gradle/internal/transport/ValidateTransportVersionDefinitionsTask.java
  server/src/main/java/org/elasticsearch/TransportVersions.java
  server/src/main/resources/transport/defined/initial_elasticsearch_8_18_5.csv
  server/src/main/resources/transport/defined/initial_elasticsearch_9_0_5.csv
  server/src/main/resources/transport/latest/8.18.csv
  server/src/main/resources/transport/latest/8.19.csv
  server/src/main/resources/transport/latest/9.0.csv
  server/src/main/resources/transport/latest/9.1.csv
  server/src/main/resources/transport/latest/9.2.csv
Labels: :Core/Infra/Core, >refactoring, backport, Team:Core/Infra, auto-merge-without-approval, v9.1.3
